<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>

<style>
/* @designer , please move this css to theme css @ritesh */
#qty-error
{
    display:block !important;
    width: 154%
}
.min-quantity-msg
{
    background: #585da6;
    width: fit-content;
    color: white;
    font-weight: bold;
    padding: 1%;
    border-radius: 3%;
}
.tooltip {
  position: relative;
  display: inline-block;
    font-weight: 500;
    color: black;
}

.tooltip .tooltiptext {
  visibility: hidden;
    width: 307px;
    background-color: #060607;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 11px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
a.qty-inc.disabled {
    pointer-events: none;
}
</style>
<?php 
$_product = $block->getProduct(); 
$product_id = $_product->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$addtocartrestriction = $objectManager->get('OM\Rewrite\Helper\Addtocartrestriction');
$is_seller_enabled = $addtocartrestriction->isSellerActive($product_id);
?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php $dailydealhelper=$this->helper('Smartwave\Dailydeals\Helper\Data'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <?php if($block->getRequest()->getParam('dailydealproduct') || $dailydealhelper->isDealProduct($_product->getId())) : ?>
       <?php $productSku=$_product->getSku(); ?>
    <input type="text" id="todate" value="<?php echo $dailydealhelper->getDailydealToDate($productSku); ?>" style="display:none;" >
    <input type="text" style="display: none;" id="fromdate" value="<?php echo $dailydealhelper->getDailydealFromDate($productSku); ?>">
    <p id="countdown"></p>
    <div class="sw-dailydeal-wrapper">
      <div class="sw-dailydeal">
        <?php if($block->getRequest()->getParam('dailydealproduct')) :?>
            <p id="expired"></p> 
        <?php endif; ?>
        <div class="countdowncontainer" style="display:none;">
            <span class="dailydeal-label">
                <?php echo __('Offer Ends In:'); ?>
            </span>
            <span class="number-wrapper">
                <div class="line"></div>
                <span class="number day"><p id="countdown_days"></p></span>
                <div class="caption"><?php echo __('Days'); ?></div>
            </span>

            <span class="number-wrapper">
                <div class="line"></div>
                <span class="number hour"><p id="countdown_hours"></p></span>
                <div class="caption"><?php echo __('Hours'); ?></div>
            </span>

            <span class="number-wrapper">
                <div class="line"></div>
                <span class="number min"><p id="countdown_minutes"></p></span>
                <div class="caption"><?php echo __('Minutes'); ?></div>
            </span>

            <span class="number-wrapper">
                <div class="line"></div>
                <span class="number sec"><p id="countdown_seconds"></p></span>
                <div class="caption"><?php echo __('Seconds'); ?></div>
            </span>
        </div>
      </div>
    </div>
    <?php endif; ?>
    <div class="fieldset">

        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
		 <span class="qtyes">Quantity</span>
            <?php if($block->getMinimalQty($_product)>1): ?>
                <div class="tooltip">&#x1F6C8;
                    <span class="tooltiptext"><?= "You will have to buy ".$block->getMinimalQty($_product). " or more of this item"?></span>
                </div>
            <?php endif;?>

            <label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?>:</span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       minQty="<?=$block->getMinimalQty($_product)?>"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty "
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                <div class="qty-changer">
                    <a href="javascript:void(0)" class="qty-inc catalog-qty-inc "><i class="porto-icon-up-dir"></i></a>
                    <a href="javascript:void(0)" class="qty-dec catalog-qty-dec <?php if($block->getMinimalQty($_product)>1){echo "disabled";}?> "><i class="porto-icon-down-dir"></i></a>
                </div>
            </div>
            <p style="color:red;display:none;" id="min_quant_error">Minimum Quantity that can be purchased is <?=$block->getMinimalQty($_product)?></p>
        </div>
        <?php endif; ?>
        <?php if($is_seller_enabled):?>
            <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php echo $block->getChildHtml('', true) ?>
            <p id="pincode_validation_msg" style="display: none;margin: 10px 0 0 0;font-size: 14px;color: red;">Please check availability of product at your pincode.</p>
        </div>
        <?php else :?>
            <div class="seller-unable-to-ship">Seller is unable to ship this item.</div>
        <?php endif;?>
        
    </div>
</div>
<?php endif; ?>


<script type="text/javascript">
    require(['jquery'],function($){
        $( ".catalog-qty-dec" ).on( "change", function() {
            alert('asda');
            var minValue = parseInt($('.control>input#qty').attr('minQty'));
            var addedValue = parseInt($('.control>input#qty').val());
            var qwtyafterclick = addedValue-1;
            if(qwtyafterclick<=minValue)
            {
                $('.control>input#qty').parents('.control').siblings('.qty-changer').find('.qty-dec').addClass('disabled');
            } 

        });

        $( ".catalog-qty-inc" ).on( "change", function() {
            alert('asda');
        var minValue = parseInt($('.control>input#qty').attr('minQty'));
        var addedValue = parseInt($('.control>input#qty').val());
        var qwtyafterclick = addedValue+1;
        if(qwtyafterclick>=minValue)
        {
            $('.control>input#qty').parents('.control').siblings('.qty-changer').find('.qty-dec').addClass('enable');
        } 
    }); 
});
</script>



<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        'use strict';
        $('#product_addtocart_form').submit(function(event) {
            return true; /*remove this */
            var enable_atc = $('#enable_atc').val();
            if(enable_atc==1) {
                $('#pincode_validation_msg').hide();
                return true;
            } else {
                $('#pincode_validation_msg').show();
                return false;
            }
            
        });
    });
</script>
<?php else : ?>
<script>
    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation',
        'Magento_Catalog/js/catalog-add-to-cart'
    ], function ($) {
        'use strict';

        $('#product_addtocart_form').mage('validation', {
            radioCheckboxClosest: '.nested',
            submitHandler: function (form) {
                var widget = $(form).catalogAddToCart({
                    bindSubmit: false
                });

                widget.catalogAddToCart('submitForm', $(form));

                return false;
            }
        });
    });
</script>
<?php endif; ?>