<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')):?>
<?php
    $porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
    $_helper = $this->helper('Smartwave\Porto\Helper\Customtabs');
    $product_config = $porto_helper->getConfig('porto_settings/product');
    $static_block_tab = $product_config['custom_block_next_tab'];
    $custom_block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
	$_product = \Magento\Framework\App\ObjectManager::getInstance()
    ->get(\Magento\Framework\Registry::class)->registry('product');
    
    $page_type = $_product->getData('product_page_type');
    if(!$page_type)
        $page_type = isset($_config['product_page_type'])?$_config['product_page_type']:'';
    if($custom_block) {
        $custom_block->setBlockId($static_block_tab);
    }
    $tab_style = "";
    if(isset($product_config['tab_style']) && $product_config['tab_style'])
        $tab_style = $product_config['tab_style'];
    if($page_type == 'wide_grid')
        $tab_style = 'vertical';
?>
    <?php if($product_config['tab_full_background']):?>
    <div class="move-product-tab">
        <div class="row">
            <div class="<?php if(!$page_type && $custom_block && $static_block_tab):?>col-md-9<?php else:?>col-md-12<?php endif;?>">
    <?php endif;?>
                <div class="product info detailed <?php echo $tab_style; ?> <?php if($page_type == 'sticky_right'): ?>fullwidth-row<?php endif; ?>">
				 
                <?php $layout = $block->getLayout(); ?>
                <?php if(!$tab_style || $tab_style != "sticky"): ?>
                    <div class="product data items <?php if($page_type == 'sticky_right'): ?>container<?php endif; ?>" data-mage-init='{"tabs":{"openedState":"active"}}'>
                        <?php 
							foreach ($detailedInfoGroup as $name):?>
                            <?php
							
                            $html = $layout->renderElement($name);
                            if (!trim($html)) {
                                continue;
                            }
                            $alias = $layout->getElementAlias($name);
                            $label = $block->getChildData($alias, 'title');
                            ?>
                            <div class="data item title"
                                 aria-labeledby="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title"
                                 data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>">
                                <a class="data switch"
                                   tabindex="-1"
                                   data-toggle="switch"
                                   href="#<?php /* @escapeNotVerified */ echo $alias; ?>"
                                   id="tab-label-<?php /* @escapeNotVerified */ echo $alias;?>-title">
                                    <span><?php /* @escapeNotVerified */ echo $label; ?></span>
                                </a>
                            </div>
                            <div class="data item content sfdddd" id="<?php /* @escapeNotVerified */ echo $alias; ?>" data-role="content">
								
								<?php if($alias != 'description'){ ?>
                                <?php /* @escapeNotVerified */ echo $html; ?>
								<?php } ?>
								
								<?php //echo $name; ?>
								<?php 	if($alias == 'description'){
									
											//echo $html2 = $layout->renderElement('product.attributes');

										
										// if (null !== $_product->getData('part_category')) {
											// $part_category = $_product->getData('part_category'); 
										// }
										
										$expertise_required_label = getProductLabelInformation('expertise_required',$_product);
										$universal_label = getProductLabelInformation('universal',$_product);
										$support_brands_label = getProductLabelInformation('support_brands',$_product);
										$supported_models_label = getProductLabelInformation('supported_models',$_product);
										$warranty_details_label = getProductLabelInformation('warranty_details',$_product);
										$warranty_link_label = getProductLabelInformation('warranty_link',$_product);
										$return_policy_label = getProductLabelInformation('return_policy',$_product);
										$return_period_label = getProductLabelInformation('return_period',$_product);
										$part_manual_label = getProductLabelInformation('part_manual',$_product);
										$product_manual_label = getProductLabelInformation('product_manual',$_product);
										$product_storage_label = getProductLabelInformation('product_storage',$_product);
										$product_length_label = getProductLabelInformation('product_length',$_product);
										$product_breadth_label = getProductLabelInformation('product_breadth',$_product);
										$product_height_label = getProductLabelInformation('product_height',$_product);
										$weight_label = getProductLabelInformation('weight',$_product);
										$part_body_material_label = getProductLabelInformation('part_body_material',$_product);
										$color_label = getProductLabelInformation('color',$_product);
										$item_model_number_label = getProductLabelInformation('item_model_number',$_product);
										$part_name_label = getProductLabelInformation('part_name',$_product);
										$part_category_label = getProductLabelInformation('part_category',$_product);
										$manufacturer_label = getProductLabelInformation('manufacturer',$_product);
										$industry_type_label = getProductLabelInformation('industry_type',$_product);
										$brands_label = getProductLabelInformation('brands',$_product);
										$genuinity_label = getProductLabelInformation('genuinity',$_product);
										$warranty_units_label = getProductLabelInformation('warranty_units',$_product);
										$is_category_type_dangerous_label = getProductLabelInformation('is_category_type_dangerous',$_product);
										$hsn_label = getProductLabelInformation('hsn',$_product);
										$final_part_code_label = getProductLabelInformation('final_part_code',$_product);
										$warranty_label = getProductLabelInformation('warranty',$_product);

										if (null !== $_product->getData('expertise_required')) {
											$expertise_required = $_product->getData('expertise_required'); 
										}

										if (null !== $_product->getData('universal')) {
											$universal = $_product->getData('universal'); 
										}
										
										if (null !== $_product->getData('support_brands')) {
											$support_brands = $_product->getData('support_brands'); 
										}

										if (null !== $_product->getData('supported_models')) {
											$supported_models = $_product->getData('supported_models'); 
										}
										
										if (null !== $_product->getData('warranty_details')) {
											$warranty_information = $_product->getData('warranty_details'); 
										}

										if (null !== $_product->getData('warranty_link')) {
											$warranty_link = $_product->getData('warranty_link'); 
										}

										if (null !== $_product->getData('return_policy')) {
											$return_policy = $_product->getData('return_policy'); 
										}
										if (null !== $_product->getData('return_period')) {
											$return_period = $_product->getData('return_period'); 
										}	

										if (null !== $_product->getData('part_manual')) {
											$part_manual = $_product->getData('part_manual'); 
										}

										if (null !== $_product->getData('product_manual')) {
											$product_manual = $_product->getData('product_manual'); 
										}
										if (null !== $_product->getData('disclaimer')) {
											$disclaimer = $_product->getData('disclaimer'); 
										}



										if (null !== $_product->getData('product_storage')) {
											$product_storage = $_product->getData('product_storage'); 
										}
										
										if (null !== $_product->getData('product_length')) {
											$product_length = $_product->getData('product_length'); 
										}
										
										if (null !== $_product->getData('product_breadth')) {
											$product_breadth = $_product->getData('product_breadth'); 
										}
										if (null !== $_product->getData('product_height')) {
											$product_height = $_product->getData('product_height'); 
										}
										if (null !== $_product->getData('weight')) {
											$product_weight = $_product->getData('weight'); 
										}
										
										 
										// for droptdown attribute
										if (null !== $_product->getData('part_body_material')) {
											$part_body_material = $_product->getData('part_body_material');
										}
										if (null !== $_product->getAttributeText('color')) {
											$color_text = $_product->getAttributeText('color');		
										}
										
								// All Attributes
										if (null !== $_product->getData('item_model_number')) {
											$part_number = $_product->getData('item_model_number'); 
										}
										
										if (null !== $_product->getData('part_name')) {
											$part_name = $_product->getData('part_name'); 
										}
										
										if (null !== $_product->getData('part_category')) {
											$part_category = $_product->getData('part_category'); 
										}
										
										if (null !== $_product->getData('manufacturer')) {
											//Dropdown text
											$manufacturer = $_product->getAttributeText('manufacturer');											
										}
										
										if (null !== $_product->getData('industry_type')) {
											$industry_type = $_product->getData('industry_type');											
										}
										
										if (null !== $_product->getData('brands')) {
											//Dropdown text
											$brands = $_product->getAttributeText('brands'); 
										}
										
										if (null !== $_product->getData('genuinity')) {
											$genuinity = $_product->getData('genuinity'); 
										}
										
										if (null !== $_product->getData('warranty_units')) {
											$warranty_units = $_product->getData('warranty_units'); 
										}
										
										if (null !== $_product->getData('is_category_type_dangerous')) {
											$is_category_type_dangerous = $_product->getData('is_category_type_dangerous'); 
										}
										
										if (null !== $_product->getData('hsn')) {
											$hsn = $_product->getData('hsn'); 
										}
										
										if (null !== $_product->getData('final_part_code')) {
											$final_part_code = $_product->getData('final_part_code'); 
										}
										
								
								// item_model_number	part_name	part_category	manufacturer	industry_type	brands	genuinity		warranty_units	return_period	installation_type	generic_keywords	part_body_material	boxed	product_storage	link_manual	ecom_height	ecom_breadth	ecom_length	shipping_height	shipping_breadth	shipping_length	shipping_weight	expertise_required	universal	support_brands	supported_models	warranty_link	part_manual	product_manual	disclaimer	color	part_type	is_category_type_dangerous	hsn	final_part_code

																		
								?>
									<!-- start -->	
									<div class="additional-attributes-wrapper table-wrapper">
									<div class="content-row" style="padding-top:55px;padding-bottom:80px;">
                   <div class="container">
                    <div class="history-accordion">
                        <ul>
                            <li class="newexpand active">
                                <div class="history-title">Highlights</div>
                                <div class="history-content" style="display: block;">
								<ul class="product-short-detail-list">
								<?php if (null !== $_product->getData('part_body_material')) { ?>
									<li><?=$part_body_material_label?>: <?php echo $part_body_material; ?></li>
								<?php } ?>
								<!--<li>Pack of: 1</li>
								<li>Functionality: Smart</li>
								<li>System Requirements: NA</li>
								<li>Color : Grey</li>-->

								<?php 


								
								if (null !== $_product->getData('color')) { ?>
									<li><?=$color_label?> : <?php echo $color_text ?></li>
								<?php } ?>
								<?php if (null !== $_product->getData('product_length')) { ?>
									<li><?=$product_length_label?> : <?php echo round($product_length,2).' cm'; ?></li>
								<?php } ?>
								<?php if (null !== $_product->getData('product_breadth')) { ?>
									<li><?=$product_breadth_label?> : <?php echo round($product_breadth,2).' cm'; ?></li>
								<?php } ?>
								<?php if (null !== $_product->getData('product_height')) { ?>
									<li> <?=$product_height_label?>: <?php echo round($product_height,2).' cm'; ?></li>
								<?php } ?>
								<?php if (null !== $_product->getData('product_weight')) { ?>
								  <?php $product_weight = $_product->getData('product_weight');?>
								  
									<li><?=$weight_label?> : <?php echo round($product_weight,2).' kgs'; ?></li>
								<?php } ?>
								
								</ul>
									
                                </div>
                            </li>
                            <li class="newexpand">
                                <div class="history-title">Other Specifications </div>
                                <div class="history-content" style="display: none;">
								<ul class="product-short-detail-list">
									<?php if (null !== $_product->getData('item_model_number')) { ?>
										<li> <?=$item_model_number_label?> : <?php echo $part_number; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('part_name')) { ?>
										<li> <?=$part_name_label?> : <?php echo $part_name ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('part_category')) { ?>
										<li><?=$part_category_label?> : <?php echo $part_category ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('manufacturer')) { ?>
										<li><?=$manufacturer_label?> : <?php echo $manufacturer ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('industry_type')) { ?>
										<li> <?=$industry_type_label?> : <?php echo $industry_type ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('brands')) { ?>
										<li><?=$brands_label?> : <?php echo $brands ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('genuinity')) { ?>
										<li><?=$genuinity_label?> : <?php echo $genuinity ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('warranty_units')) {
                                        $newWarrenity = $_product->getData('warranty');
										if(empty($newWarrenity))
										{
											$newWarrenity=0;
										}
                                      ?>
                                        <li><?=$warranty_label?> : <?php echo (int)$newWarrenity.' '.$warranty_units ; ?></li>
                                    <?php } ?>
									
									<?php if (null !== $_product->getData('universal')) { ?>
									    <?php if($universal=='0') { $universal='No'; } else { $universal='Yes'; } ?>
										<li> <?=$universal_label?> : <?php echo $universal ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('support_brands')) { ?>
										<li><?=$support_brands_label?> : <?php echo $support_brands ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('supported_models')) { ?>
										<li><?=$supported_models_label?>: <?php echo $supported_models ; ?></li>
									<?php } ?>
									
									<?php /*if (null !== $_product->getData('is_category_type_dangerous')) { ?>
										<li>Is Category Type Dangerous: <?php echo $is_category_type_dangerous  ; ?></li>
									<?php } */?>
									
									<?php if (null !== $_product->getData('hsn')) { ?>
										<li><?=$hsn_label?> : <?php echo $hsn  ; ?></li>
									<?php } ?>
									
									<?php if (null !== $_product->getData('final_part_code')) { ?>
										<li><?=$final_part_code_label?> : <?php echo $final_part_code  ; ?></li>
									<?php } ?>

								</ul>
                                </div>
                            </li>
                            <li class="newexpand">
                                <div class="history-title">Description</div>
                                <div class="history-content" style="display: none;">
                                  <?php echo $_product->getDescription();?>
                                </div>
                            </li>
                            <li class="newexpand">
                                <div class="history-title">Terms & Conditions</div>
                                <div class="history-content" style="display: none;">
								<?php if (null !== $_product->getData('disclaimer')) { echo $disclaimer; } ?>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                    require([
                        'jquery',
                        'owl.carousel/owl.carousel.min'
                    ], function ($) {
                        $(document).ready(function(){
							   //jQuery('.history-accordion .history-title').show();
								jQuery('.history-content').show();
								jQuery('.history-accordion ul li').show();
						     jQuery('.history-accordion ul .newexpand').addClass('active');
								
                            $(".history-accordion .history-title").off("click").on("click",function(){
								
                                if(!$(this).parent().hasClass("active")) {
                                    $(this).parent().parent().children("li.active").children(".history-content").slideUp();
                                    $(this).parent().parent().children("li.active").removeClass("active");
                                    $(this).parent().addClass("active");
                                    $(this).parent().children(".history-content").slideDown();
                                } else {
                                    $(this).parent().removeClass("active");
                                    $(this).parent().children(".history-content").slideUp();
                                }
                            });
                        }); 
                    });
                    </script>
                </div>
            </div>
  

										<table class="data table additional-attributes table-stripped" id="product-attribute-specs-table">
											<caption class="table-caption"><?= /* @escapeNotVerified */ __('Specification') ?></caption>
											<tbody>
												<?php  if(!empty($html)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Description"; ?></th>
														
														<td class="col data"><?php echo $html; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($manufacturer)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Manufacturer"; ?></th>
														<?php
															$attr = $_product->getResource()->getAttribute('manufacturer');
															if ($attr->usesSource()) {
																$manufacturer = $attr->getSource()->getOptionText($manufacturer);
															}
														?>
														<td class="col data"><?php echo $manufacturer; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($brands)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Manufacturing Brand"; ?></th>
														<?php
															$attr = $_product->getResource()->getAttribute('brands');
															if ($attr->usesSource()) {
																$brands = $attr->getSource()->getOptionText($brands);
															}
														?>
														<td class="col data"><?php echo $brands; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($genuinity)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Genuine"; ?></th>
														<?php
															$attr = $_product->getResource()->getAttribute('genuinity');
															if ($attr->usesSource()) {
																$genuinity = $attr->getSource()->getOptionText($genuinity);
															}
														?>
														<td class="col data"><?php echo $genuinity; ?></td>
													</tr>
												<?php } ?>
												

												
												<?php  if(!empty($part_category )){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Part category"; ?></th>
														<td class="col data"><?php echo $part_category ; ?></td>
													</tr>
												<?php } ?>
												
												
												
												
												<?php  if(!empty($expertise_required)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Expertise Required"; ?></th>
														<?php
															$attr = $_product->getResource()->getAttribute('expertise_required');
															if ($attr->usesSource()) {
																$expertise_required = $attr->getSource()->getOptionText($expertise_required);
															}
														?>
														<td class="col data"><?php echo $expertise_required; ?></td>
													</tr>
												<?php } ?>
															
																								
												<?php  if(!empty($universal )){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Universal"; ?></th>
														<td class="col data"><?php echo $universal ; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($support_brands)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Supported Brands"; ?></th>
														<td class="col data"><?php echo $support_brands ; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($supported_models)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Supported Models"; ?></th>
														<td class="col data"><?php echo $supported_models ; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($warranty_information)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Warranty Information"; ?></th>
														<td class="col data"><?php echo $warranty_information ; ?></td>
													</tr>
												<?php } ?>
																								
												<?php  if(!empty($warranty_link)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Warranty Link"; ?></th>
														<td class="col data"><a href="<?php echo $warranty_link ?>" target="_blank" >Click Here</a></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($return_period)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Return Period"; ?></th>
														<?php
															$attr = $_product->getResource()->getAttribute('return_period');
															if ($attr->usesSource()) {
																$return_period2 = $attr->getSource()->getOptionText($return_period);
															}
														?>
														<td class="col data">
															<?php echo $return_period2; 
															if($return_period =="32"){
																$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
																 echo ' ('.$objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('example_section/general/dropdown_example').' Days )';
															}else{
																echo ' ( 0 Days )';
																
															} ?>
														</td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($return_policy)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Return Policy"; ?></th>
														<td class="col data"><?php echo $return_policy; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($part_manual)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Part Manual"; ?></th>
														<td class="col data"><?php echo $part_manual; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($product_manual)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Product Manual"; ?></th>
														<td class="col data"><?php echo $product_manual; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($disclaimer)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Disclaimer"; ?></th>
														<td class="col data"><?php echo $disclaimer; ?></td>
													</tr>
												<?php } ?>
												
												<?php  if(!empty($product_storage)){ ?>
													<tr>
														<th class="col label" scope="row"><?php echo "Product Storage"; ?></th>
														<?php
															$attr = $_product->getResource()->getAttribute('product_storage');
															if ($attr->usesSource()) {
																$product_storage = $attr->getSource()->getOptionText($product_storage);
															}
														?>
														<td class="col data"><?php echo $product_storage; ?></td>
													</tr>
												<?php } ?>
												
											</tbody>
										</table>
									</div>									
									<!-- end -->		
								<?php
											
									   } 
								?>
                            </div>
                        <?php endforeach;?>
                        <?php
                        if($custom_cms_tabs = $_helper->getCustomTabs($block->getProduct())) {
                            $i = 1;
                            foreach($custom_cms_tabs as $_item) {
                                ?>
                                <div class="data item title"
                                     aria-labeledby="tab-label-<?php /* @escapeNotVerified */ echo "custom-".$i;?>-title"
                                     data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */ echo "custom-".$i;?>">
                                    <a class="data switch"
                                       tabindex="-1"
                                       data-toggle="switch"
                                       href="#<?php /* @escapeNotVerified */ echo "custom-".$i; ?>"
                                       id="tab-label-<?php /* @escapeNotVerified */ echo "custom-".$i;?>-title">
                                        <span><?php /* @escapeNotVerified */ echo $_item['tab_title']; ?></span>
                                    </a>
                                </div>
                                <div class="data item content" id="<?php /* @escapeNotVerified */ echo "custom-".$i; ?>" data-role="content">
                                    <?php /* @escapeNotVerified */ echo $_item['tab_content']; ?>
                                </div>
                                <?php
                                $i++;
                            }
                        }
                        ?>
                    </div>
                <?php elseif($tab_style && $tab_style == "sticky"): ?>
                    <div class="product data items">
                        <?php foreach ($detailedInfoGroup as $name):?>
                            <?php
                            $html = $layout->renderElement($name);
                            if (!trim($html)) {
                                continue;
                            }
                            $alias = $layout->getElementAlias($name);
                            $label = $block->getChildData($alias, 'title');
                            $alias = str_replace(".","_",$alias);
                            ?>
                            <div class="data item title">
                                <a class="data switch" href="#<?php /* @escapeNotVerified */ echo $alias; ?>">
                                    <?php /* @escapeNotVerified */ echo $label; ?>
                                </a>
                            </div>
                        <?php endforeach;?>
                        <?php
                        if($custom_cms_tabs = $_helper->getCustomTabs($block->getProduct())) {
                            $i = 1;
                            foreach($custom_cms_tabs as $_item) {
                                ?>
                                <div class="data item title">
                                    <a class="data switch" href="#<?php /* @escapeNotVerified */ echo "custom-".$i; ?>">
                                        <?php /* @escapeNotVerified */ echo $_item['tab_title']; ?>
                                    </a>
                                </div>
                                <?php  
                                $i++;
                            }
                        }
                        ?>
                        <?php foreach ($detailedInfoGroup as $name):?>
                            <?php
                            $html = $layout->renderElement($name);
                            if (!trim($html)) {
                                continue;
                            }
                            $alias = $layout->getElementAlias($name);
                            $label = $block->getChildData($alias, 'title');
                            $alias = str_replace(".","_",$alias);
                            ?>
                            <div class="data item content" id="<?php /* @escapeNotVerified */ echo $alias; ?>">
                                <?php /* @escapeNotVerified */ echo $html; ?>
                            </div>
                        <?php endforeach;?>
                        <?php
                        if($custom_cms_tabs = $_helper->getCustomTabs($block->getProduct())) {
                            $i = 1;
                            foreach($custom_cms_tabs as $_item) {
                                ?>
                                <div class="data item content" id="<?php /* @escapeNotVerified */ echo "custom-".$i; ?>">
                                    <?php /* @escapeNotVerified */ echo $_item['tab_content']; ?>
                                </div>
                                <?php
                                $i++;
                            }
                        }
                        ?>
                    </div>
                <?php endif; ?>
                <script type="text/javascript">
                    require([
                        'jquery'
                    ], function ($) {
                        $(document).ready(function(){
                            <?php if($tab_style && $tab_style == "vertical"): ?>
                            $(".product.info.detailed.vertical .product.data.items .data.item.title").off("classadded").on("classadded",function(){
                                $(this).parent().css("min-height",$(this).next().outerHeight()+"px");
                            });
                            <?php elseif($tab_style && $tab_style == "sticky"): ?>
                            var sticky_tabs;
                            var is_sticky = false;
                            $(window).scroll(function(){
                                if($(window).scrollTop() >= $(".product.info.detailed").offset().top-50){
                                    if(!is_sticky){
                                        $(".product.info.detailed.sticky").before('<div class="product-tabs-container"><div class="container"></div></div>');
                                        $(".product.info.detailed.sticky .product.data.items > .item.title").each(function(){
                                            $(".product-tabs-container > .container").append($(this).clone().detach());
                                        });
                                        $(".product-tabs-container .item.title > a").off("click").on("click", function(){
                                            $($(this).attr("href")).scrollToMe();
                                            return false;
                                        });
                                        <?php if ($porto_helper->getConfig('porto_settings/header/sticky_header')): ?>
                                        $(".product-tabs-container").addClass("has-sticky-header");
                                        <?php endif; ?>
                                        <?php if ($porto_helper->getConfig('porto_settings/header/mobile_sticky_header')): ?>
                                        $(".product-tabs-container").addClass("has-mobile-sticky-header");
                                        <?php endif; ?>
                                        is_sticky = true;
                                    }
                                } else {
                                    $(".product-tabs-container").remove();
                                    is_sticky = false;
                                }
                            });
                            $(".product.info.detailed.sticky .product.data.items > .item.title > a").off("click").on("click", function(){
                                $($(this).attr("href")).scrollToMe();
                                return false;
                            });
                            $(".product-reviews-summary .reviews-actions a.action.view").off("click").on("click", function(){
                                $("#reviews").scrollToMe();
                                return false;
                            });
                            $(".product-reviews-summary .reviews-actions a.action.add").off("click").on("click", function(){
                                $("#review-form").scrollToMe();
                                return false;
                            });
                            <?php endif; ?>
                        });
                    });
                </script>
                </div>
    <?php if($product_config['tab_full_background']):?>
            </div>
            <?php if(!$page_type && $custom_block && $static_block_tab):?>
            <div class="col-md-3">
                <div class="custom-block-tab">
                    <?php echo $custom_block->toHtml(); ?>
                </div>
            </div>
            <?php endif;?>
        </div>
    </div>
    <?php endif;?>
<?php endif; ?>



<?php 

function getProductLabelInformation($attribute_name,$_product)
{
	return $_product->getResource()->getAttribute($attribute_name)->getFrontend()->getLabel($_product);
}


?>
