<section class="post-sections-list question-answer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row m-0 justify-content-between align-items-center">
                    <h2 class="sectionproducts-titles">Questions &amp; Answers</h2>
                </div>
                <div class="question-answer-content">
                    <form class="w-100">
                        <div class="row m-0">
                            <div class="col-12 col-sm-12 col-md-6">
                                <input class="form-control" placeholder="Ask Question Here" type="text">
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row m-0 justify-content-between align-items-center">
                                    <button type="button" class="btn btn-gradent">Submit question</button>
                                    <span class="question-total">41 <small>Questions</small></span>
                                    <span class="question-total">32  <small>Answers</small></span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="question-answer-list w-100">
                        <div class="row m-0 align-items-end">
                            <div class="col-12">
                                <div class="question-users" data-title="Q">Is there any warranty for sheos?</div>
                                <div class="no-answers-users">
                                    <p>No Answer</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="answer-question-btn">
                                    <button type="button" class="btn btn-blue">ANSWER QESTION</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="row justify-content-between m-0 review-help">
                                    <span>Was this review helpful?</span>
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Yes</span>
                                    </a>
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> No</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-answer-list w-100">
                        <div class="row m-0 align-items-end">
                            <div class="col-12">
                                <div class="question-users" data-title="Q">How long is the warranty period?</div>
                                <div class="no-answers-users">
                                    <p>No Answer</p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="answer-question-btn">
                                    <button type="button" class="btn btn-blue">ANSWER QESTION</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="row justify-content-between m-0 review-help">
                                    <span>Was this review helpful?</span>
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Yes</span>
                                    </a>
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> No</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="question-answer-list w-100">
                        <div class="row m-0 align-items-end">
                            <div class="col-12">
                                <div class="question-users" data-title="Q">Which company it is?</div>
                                <div class="answers-users" data-title="A">
                                    <p>Its brand is Panasonic.</p>
                                    <span>by Medha | Apr 11, 2019</span></div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="answer-question-btn">
                                    <button type="button" class="btn btn-blue">ANSWER QESTION</button>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="row justify-content-between m-0 review-help">
                                    <span>Was this review helpful?</span>
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Yes</span>
                                    </a>
                                    <a href="#">
                                        <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> No</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="load-more-section">
                        <button type="button" class="btn-load-more">
                            Load More Reviews
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>