<?php

// die();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currentProduct = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$product = $block->getProduct();
$sellerId = '';
$marketplaceProduct = $helper->getSellerProductDataByProductId($currentProduct->getId());

 foreach ($marketplaceProduct as $value) {
	 
	   
     $sellerId = $value['seller_id'];
}


$cardType = $helper->getDisplayCardType();

if ($sellerId!=""){ ?>
    <?php 
        $captchenable = $helper->getCaptchaEnable();
        $sellerInfo = $helper->getSellerInfo($sellerId);
        $sellerData = $helper->getSellerData($sellerId);
		// echo '<pre>';
		$seller_array = $sellerData->getData();
		// echo "<pre>";
		// print_R($seller_array);
		//$seller_description = $seller_array[0]['company_description'];
		// echo '</pre>';
		// $seller_description = "" ;
        $shopTitle = $sellerInfo['shop_title'];
        $shopUrl = $sellerInfo['shop_url'];
        $logo = $sellerInfo['logo_pic'];
        $productCount = $sellerInfo['product_count'];
        $companyLocality = trim($sellerInfo['company_locality']);
        $companyLocality = $block->escapeHtml($companyLocality);
        if (!$shopTitle) {
            $shopTitle = $shopUrl;
        }

        if ($productCount > 1) {
            $productLabel = __("%1 Products", $productCount);
        } else {
            $productLabel = __("%1 Product", $productCount);
        }

        if ($logo == "") {
            $logo = "noimage.png";
        }

        $logo = $helper->getMediaUrl().'avatar/'.$logo;
         $shopTitle = $block->escapeHtml($shopTitle);
        $feeds = $helper->getFeedTotal($sellerId);
        $rating = $helper->getSelleRating($sellerId);
        $collectionPageUrl = $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$shopUrl);
         $profilePageUrl = $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);
		 
		 
		// Get seller orders 
		
		$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
		$order_counts = $orderHelper->getSellerOrders($sellerId);
		$totalRatingStar = $helper->getSelleRating($sellerId);
		$feed  = $helper->getFeedTotal($sellerId);
		// print_r($feed);
		
	?>
		 
	

<section class="post-sections-list question-answer ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row m-0 justify-content-between align-items-center">
                    <h2 class="sectionproducts-titles">Seller Guarantee</h2>
                </div>
                <div class="seller-guarantee">
                    <div class="row m-0">
                        <div class="col-12 col-lg-8">
                            <div class="store-dec-details"> 
                                <div class="store-image"><img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/New-Project.png"); ?>" alt="GetMySpares"></div>
                                <h2><?php echo $shopTitle; ?></h2>
                                <div class="store-review"><span><?php echo $totalRatingStar; ?><i class="fa fa-star" aria-hidden="true"></i></span> (<?php echo $feed['feedcount']; ?>) Reviews</div>
                                <p class="order-processed-count"><?php echo $order_counts; ?> orders have been processed</p>
								<?php// echo $seller_description; ?>
                             
                            </div> 
                        </div>
                        <div class="col-12 col-lg-4 text-right">
                            <a href="<?php echo $profilePageUrl; ?>" class="btn-blue">View Seller Store</a>
                        </div>
                        <div class="col-12">
                            <div class="store-millions-customer">
                                <span>Expand your business to millions of customers</span> <a href="#">Sell this item on GetMySpares</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>
<?php
}	
    ?>