<?php
$porto_helper = $this->helper('Smartwave\Porto\Helper\Data');


    $_product = $this->getProduct();
	$passing_marks = $_product->getResource()->getAttribute('part_name');
	$item_model_number = $_product->getResource()->getAttribute('item_model_number');
	$weight = $_product->getData('weight');
	
	
	$newon = $item_model_number_val = $pi_model_val = $weight = $ts_dimensions_length  = $ts_dimensions_width = $ts_dimensions_height = "";
	$child_cat = $category_names =array();

    if (null !== $_product->getCustomAttribute('part_name')) {
		$_attributeId  = $_product->getCustomAttribute('part_name');
		$newon = $_product->getCustomAttribute('part_name')->getValue();
	}
	
	if (null !== $_product->getCustomAttribute('item_model_number')) {
		$item_model_number_val = $_product->getCustomAttribute('item_model_number')->getValue();
	}

	if (null !== $_product->getCustomAttribute('pi_model')) {
		$pi_model_val = $_product->getCustomAttribute('pi_model')->getValue();
	}
		
	if (null !== $_product->getAttributeText('part_body_material')) {
		 $part_body_material_val = $_product->getAttributeText('part_body_material');
		
	}
	if (null !== $_product->getData('weight')) {
		$weight = $_product->getData('weight');
	}
	
	if (null !== $_product->getData('ecom_length')) {
		 $ecom_length = $_product->getData('ecom_length');
	}
		
	if (null !== $_product->getData('ecom_breadth')) {
		 $ecom_breadth = $_product->getData('ecom_breadth');
	}
		
	if (null !== $_product->getData('ecom_height')) {
		 $ecom_height = $_product->getData('ecom_height');
	}
	
	if (null !== $_product->getData('color')) {
		 $color = $_product->getData('color');
	}
	
	if (null !== $_product->getData('part_type')) {
		 $part_type = $_product->getData('part_type'); 
	}
	
	if (null !== $_product->getData('expertise_required')) {
		 $expertise_required = $_product->getData('expertise_required');
	}
	
	if (null !== $_product->getData('boxed')) {
		 $boxed = $_product->getData('boxed'); 
	}
	if (null !== $_product->getData('part_category')) {
		 $part_category = $_product->getData('part_category'); 
	}
	
?>
 <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes table-stripped" id="product-attribute-specs-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Specification') ?></caption>
            <tbody>
				<?php if(!empty($newon)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo $passing_marks->getFrontend()->getLabel($_product); ?></th>
						<td class="col data"><?php echo $newon; ?></td>
					</tr>
				<?php } ?>
					
				<?php 
					$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
					$categories = $product->getCategoryIds();
					/*will return category ids array*/
					foreach($categories as $category){
						$cat = $objectManager->create('Magento\Catalog\Model\Category')->load($category);
						if($cat->getLevel()==2){
							$category_names[]= $cat->getName();
						}
						if($cat->getLevel()>=3){
							$child_cat[]= $cat->getName();
						}
					}
					//unset($category_names[0]);
					$all_cat = implode(', ', $category_names);
					$all_child_cat = implode(', ', $child_cat);
				?>
					
				<?php if(!empty($category_names)){ ?>
					
					<tr>	
						<th class="col label" scope="row"><?php echo "Category"; ?></th>
						<td class="col data"><?php echo $all_cat; ?></td>
					</tr>
						
				<?php } ?>
					
				<?php if(!empty($all_child_cat) ){ ?>
					
					<tr>
						<th class="col label" scope="row"><?php echo "Sub-Category"; ?></th>
						<td class="col data"><?php echo $all_child_cat; ?></td>
					</tr>
					
				<?php } ?>	
					
				<?php if(!empty($item_model_number_val)){ ?>
					<tr>
						<th class="col label" scope="row">
							<?php //echo $item_model_number->getFrontend()->getLabel($_product); ?>
							<?php echo "Part Number"; ?>
						</th>
						<td class="col data"><?php echo $item_model_number_val; ?></td>
					</tr>
				<?php } ?>
				
				<?php if(!empty($pi_model_val)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Model Number"; ?></th>
						<td class="col data"><?php echo $pi_model_val; ?></td>
					</tr>
				<?php } ?>
				
				
				<?php if(!empty($weight)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Weight (kg)"; ?></th>
						
						<td class="col data"><?php echo number_format((float)$weight, 1, '.', '').'kgs';  ?></td>
					</tr>
				<?php } ?>
				
				
				<?php if(!empty($ecom_length)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Length (cm)"; ?></th>
						
						<td class="col data"><?php echo number_format((float)$ecom_length, 1, '.', '');  ?></td>
					</tr>
				<?php } ?>	
				
				
				
				<?php if(!empty($ecom_breadth)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Width (cm)"; ?></th>
						
						<td class="col data"><?php echo number_format((float)$ecom_breadth, 1, '.', '');  ?></td>
					</tr>
				<?php } ?>	
				
				
				
				<?php  if(!empty($ecom_height)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Height (cm)"; ?></th>
						
						<td class="col data"><?php echo number_format((float)$ecom_height, 1, '.', '');  ?></td>
					</tr>
				<?php } ?>
				
				
				
				<?php if(!empty($color)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Color"; ?></th>
						<?php
							$attr = $_product->getResource()->getAttribute('color');
							if ($attr->usesSource()) {
								$optionText = $attr->getSource()->getOptionText($color);
							}
						?>
						<td class="col data"><?php echo $optionText; ?></td>
					</tr>
				<?php } ?>	
				<?php  if(!empty($part_category )){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Part category"; ?></th>
						<td class="col data"><?php echo $part_category ; ?></td>
					</tr>
				<?php } ?>

				<?php  if(!empty($part_body_material_val)){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Part Body Material"; ?></th>
						<td class="col data"><?php echo $part_body_material_val; ?></td>
					</tr>
				<?php } ?>	
				<?php  if(!empty($part_type )){ ?>
					<tr>
						<th class="col label" scope="row"><?php echo "Part Type"; ?></th>
						<td class="col data"><?php echo $part_type ; ?></td>
					</tr>
				<?php } ?>
				
					<tr>
						<th class="col label" scope="row"><?php echo "Expertise Required"; ?></th>
						<td class="col data">
						<?php 
							 if(!empty($expertise_required )){ 
								echo "Yes" ; 
							}else{ 
								echo "No" ; 
							} 
						?>
						</td>
					</tr>
				
				
					<tr>
						<th class="col label" scope="row"><?php echo "Boxed"; ?></th>
						<td class="col data">
						<?php 
							if(!empty($boxed) ){ 
								echo "Yes" ; 
							}else{ 
								echo "No" ; 
							} 
						?>
						</td>
						
					</tr>
				

            </tbody>
        </table>
    </div>