<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<style>
.note
{
	display:none;	
}	
</style>



<script>


require([
    'jquery',
    'mage/mage'
], function($){
	
	jQuery('title').empty().append('Forget Password'); 
	jQuery('.page-title>span').html('FORGET PASSWORD');
	 
});

</script>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$forgetpassword=$customerSession->getForgetPinJson();
$session=0;
$forgetotpcheck=0;
$email='';
if(isset($forgetpassword))
{
	$session=1;
$forgetarray= json_decode( preg_replace('/[\x00-\x1F\x80-\xFF]/', '', $forgetpassword), true );

	/* echo "<pre>";
		print_r($forgetarray);
	echo "</pre>"; 
	
	die; */
	
	 $userId = filter_var($forgetarray['userId'], FILTER_SANITIZE_NUMBER_INT);
	 $email = filter_var($forgetarray['email'], FILTER_SANITIZE_EMAIL);
	
	  
	
	$forgetotpcheck=$customerSession->getForgetOtpCheck();
	
	 
	
?>   
	




<?php 
$countdown=0;
$countdown=$customerSession->getForgetcountdown(); 		
if($countdown=='')
{
	$countdown=0;
}

$min=$customerSession->getForgetOtpTimerMin();
$sec=$customerSession->getForgetOtpTimerSec();

$exp_min=$customerSession->getForgetExpireSessionMin();
$exp_sec=$customerSession->getForgetExpireSessionSec();

      

$countdown;


$resendbuttondba=$customerSession->getResendbuttondba();
if($resendbuttondba=='')
{
	$resendbuttondba=0;
}

$resendbuttondba;

$allwell=$customerSession->getForgetallwell();
     
?>	       
<input type="hidden" id="otp_timer_min" value="<?php echo $min; ?>">
<input type="hidden" id="otp_timer_sec" value="<?php echo $sec; ?>">	
   
<input type="hidden" id="expire_sess_min" value="<?php echo $exp_min; ?>">
<input type="hidden" id="expire_sess_sec" value="<?php echo $exp_sec; ?>">      

<script>
function no_cookie()
{
	var countdown=jQuery('.countdown').html();
	if(countdown=="")
	{
		var timer2 = "1:00"; 
		var interval = setInterval(function() {
		var timer = timer2.split(':');
		//by parsing integer, I avoid all extra string processing
		var minutes = parseInt(timer[0], 10);
		var seconds = parseInt(timer[1], 10);
		--seconds;
		minutes = (seconds < 0) ? --minutes : minutes;
		seconds = (seconds < 0) ? 59 : seconds;
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		//minutes = (minutes < 10) ?  minutes : minutes;
		$('.countdown').html(minutes + ':' + seconds);
		//if (minutes < 0) clearInterval(interval);
		//check if both minutes and seconds are 0
		
		jQuery('#otp_timer_min').val(minutes);
		jQuery('#otp_timer_sec').val(seconds);
		if ((seconds == 0) && (minutes == 0)) 
		{ 
			clearInterval(interval); 
			
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			jQuery('#otp_submit_form').hide();  
			
			$.cookie('otptimersec', 'NaN');   
			$.cookie('otptimermin', 'NaN');  
			
			jQuery('#timer_start_stop').val('0');
			  
			jQuery.ajax({        	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/forgetotptimer'?>", 	
				data: "action=OtpTimer&timeover=0&min=0&sec=0",   
				success: function(result)    
				{      
					//console.log(result);   
				},       		
				error: function(e)    
				{	
					console.log(e);	
				} 	
			});   
			 
		}
		else
		{
			
			$.cookie('otptimersec', seconds);   
			$.cookie('otptimermin', minutes);  
			  
		}
			
			
		timer2 = minutes + ':' + seconds;
		}, 1000); 	
			  
	}
		
}	  


require([
	'jquery',
	'jquery/jquery.cookie',
	'domReady!'// wait for dom ready
	], function($){
		
		$(window).on('load', function () {
			setTimeout(function(){
				no_cookie();
			}, 1500); 
		});           

		   
		
		<?php
		if($resendbuttondba==0) {
		?> 
		
		
		var timer_sec=$.cookie('otptimersec');   
		var timer_min=$.cookie('otptimermin');  
		
		//alert($.cookie('otptimersec'));
		//alert($.cookie('otptimermin'));
		
		//return false;  
		 
		if($.cookie('otptimersec') == '' || $.cookie('otptimersec') == "undefined" || $.cookie('otptimersec') == "NaN" || $.cookie('otptimersec') == null)  
		{ 
			var timer2 = "1:00";          
		}                    
		else            
		{   
			var timer2 = timer_min+":"+timer_sec;      
		}   
		 
		
		 
		
		<?php
		
		if($allwell==1)
		{
		?>
			var timer2 = "1:00"; 
		<?php  
		}
		
		
		}
		else if($resendbuttondba==1) 
		{ 	
		?>
			var timer2 = "1:00";  
		<?php
		}
		else
		{	
		?>
			var timer2 = "1:00";  
		<?php
		}
		?>	
			
		var interval = setInterval(function() {
		var timer = timer2.split(':');
		//by parsing integer, I avoid all extra string processing
		var minutes = parseInt(timer[0], 10);
		var seconds = parseInt(timer[1], 10);
		--seconds;
		minutes = (seconds < 0) ? --minutes : minutes;
		seconds = (seconds < 0) ? 59 : seconds;
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		//minutes = (minutes < 10) ?  minutes : minutes;
		$('.countdown').html(minutes + ':' + seconds);
		//if (minutes < 0) clearInterval(interval);
		//check if both minutes and seconds are 0
		
		jQuery('#otp_timer_min').val(minutes);
		jQuery('#otp_timer_sec').val(seconds);
		if ((seconds == 0) && (minutes == 0)) 
		{ 
			clearInterval(interval); 
			
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			jQuery('#otp_submit_form').hide();  
			
			$.cookie('otptimersec', 'NaN');   
			$.cookie('otptimermin', 'NaN');  
			
			jQuery('#timer_start_stop').val('0');
			  
			jQuery.ajax({        	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/forgetotptimer'?>", 	
				data: "action=OtpTimer&timeover=0&min=0&sec=0",   
				success: function(result)    
				{      
					//console.log(result);   
				},       		
				error: function(e)    
				{	
					console.log(e);	
				} 	
			});   
			 
		}
		else
		{
			
			$.cookie('otptimersec', seconds);   
			$.cookie('otptimermin', minutes);  
			
			jQuery.ajax({        	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/forgetotptimer'?>", 	
				data: "action=OtpTimer&timeover=1",   
				success: function(result)        
				{        
					//console.log(result);   
				},       		
				error: function(e)    
				{	
					console.log(e);	
				} 	
			});   
			
			  
		}
			
			
		timer2 = minutes + ':' + seconds;
		}, 1000); 
		 
		
}); 		
</script> 

 
<?php
$Forgetperson=$customerSession->getForgetperson();
?>
<script>
require([
	'jquery',
    'jquery/jquery.cookie',
    'domReady!'// wait for dom ready
], function($){
	
	<?php
	if($Forgetperson==1)
	{	
	?>
	var timerss22 = "3:00";   
	<?php
	} 
	else
	{  	
	?>
	 
	var expire_sec=$.cookie('expiresessionsec');
	var expire_min=$.cookie('expiresessionmin')
	//alert($.cookie('expiresessionsec'));	
	 
	if($.cookie('expiresessionsec') == "" || $.cookie('expiresessionsec') == "undefined" || $.cookie('expiresessionsec') == "NaN" || $.cookie('expiresessionsec') == null)
	{
		var timerss22 = "3:00";  
	}               
	else              
	{
		var timerss22 = expire_min+":"+expire_sec;      
	}  
	<?php
	} 
	?>
	     
	var intervals = setInterval(function() {
	var timerss = timerss22.split(':');
	
	var minutessss = parseInt(timerss[0], 10);
	var secondssss = parseInt(timerss[1], 10);
	--secondssss;
	minutessss = (secondssss < 0) ? --minutessss : minutessss;
	secondssss = (secondssss < 0) ? 59 : secondssss;
	secondssss = (secondssss < 10) ? '0' + secondssss : secondssss;
	
	$('.countdown_test').html(minutessss + ':' + secondssss);
	  	   
	if ((secondssss == 0) && (minutessss == 0)) 
	{   
		clearInterval(intervals); 
		
		//$.cookie('expiresessionsec','00');
		//$.cookie('expiresessionmin','1'); 
		
		//window.location.href="<?php echo $this->getUrl().'customuser/index/forgetsession'?>";	
	}       
	else 
	{
		$.cookie('expiresessionsec', secondssss);   
		$.cookie('expiresessionmin', minutessss);   
		
		
		   
	} 
	timerss22 = minutessss + ':' + secondssss;
	}, 1000);  
});  
</script>  


<!--<p>Your Session Expire In : <span class="countdown_test"></span></p>-->      
  <!-- <p>Enter your mobile number or email id associated with Meia account </p><p>and we'll send you OTP to login on same</p>-->
  <div class="otp-fill-section">
	
		
	<script type="text/javascript">

	require([
		'jquery',
		'jquery/jquery.cookie',
		'domReady!'// wait for dom ready	
	], function($){
		var dataForm = jQuery('#forget_otp_form');
		jQuery('#forget_otp_form').submit(function()
		{
			var status = dataForm.validation('isValid'); //validates form and returns boolean
			if(status==true)
			{
				jQuery('button#otp_submit_form').attr('disabled',true);	 
				jQuery('.back_me').hide();
			}  
		});	   
	});


	</script>
        
	<form name="forget_otp_form" action="<?php echo $this->getUrl().'customuser/index/forgetotp' ?>" id="forget_otp_form"  method="post" <?php if($forgetotpcheck==1) { ?> style="display:none;" <?php } ?> data-mage-init='{"validation":{}}'>   
		<fieldset class="fieldset">      
			<div class="field note"><?= $block->escapeHtml(__('Please enter OTP.')) ?></div>
			<div class="field email required">
				<label for="forget_otp" class="label"><span>OTP</span></label>
				<div class="control">
					<input type="text" name="forget_otp" alt="OTP" id="forget_otp" class="input-text"  data-validate="{required:true}"  onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="5">
				</div>   
			</div> 
		</fieldset>         
		<div class="actions-toolbar">
			<div class="primary forget-pass-count">
				<?php
				if($countdown==1) 
				{	   
				?>
					<div class="countdown"></div>
				<?php   
				}   
				?> 
				<?php
				$reset_btn=$customerSession->getForgetResendbutton();	
				if($reset_btn=='')
				{	
				?>	
					<button type="submit" id="otp_submit_form" class="action submit primary"  ><span>Submit</span></button>
				<?php
				} 
				?>	 			
				
				     
			</div>
		</div>
	</form>
	
	<div class="resend_otp_sectionnn" style="<?php if($countdown==1) { echo 'display:none;';  } else { echo 'display:block'; } ?>">
	
		
		<form name="resend_otp_form" action="<?php echo $this->getUrl().'customuser/index/forgetpasswordresendotp' ?>" method="post">
			
			<input type="submit" value="Resend OTP" class="action submit primary for_resend_otp custom_button" onclick="jQuery('.back_me').hide(); jQuery(this).val('Processing...');">
			
		</form>           
		               
		
	</div>     
	<?php
	if($forgetotpcheck==1) 
	{
	?>
	
	<script type="text/javascript">
	require([
		'jquery',
		'jquery/jquery.cookie',
		'domReady!'// wait for dom ready	
	], function($){
		
		var dataForm = $('#reset_password');
		jQuery('#reset_password').submit(function()
		{
			var status = dataForm.validation('isValid'); //validates form and returns boolean
			if(status==true)
			{
				jQuery('button#submit_buttonnnn').attr('disabled',true);	 
			}  
		});	  
		
		
		jQuery('#forget_otp_form').remove();
		jQuery('.resend_otp_sectionnn').remove(); 
		
	});     

	function checkPasswordStrength() {
		var number = /([0-9])/;
		var alphabets = /([a-zA-Z])/;
		var special_characters = /([~,!,@,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
		if(jQuery('#new_password').val().length < 6) { 
		jQuery('#password-strength-status').removeClass();
		jQuery('#password-strength-status').addClass('weak-password');
		jQuery('#password-strength-status').html("Password Strength: Weak (should be atleast 6 characters.)");
		} else {  	
		if(jQuery('#new_password').val().match(number) && jQuery('#new_password').val().match(alphabets) && jQuery('#new_password').val().match(special_characters)) {             
		jQuery('#password-strength-status').removeClass();
		jQuery('#password-strength-status').addClass('strong-password');
		jQuery('#password-strength-status').html("Password Strength: Strong");
		jQuery('#submit_buttonnnn').removeAttr('disabled');
		} else {
		jQuery('#password-strength-status').removeClass();
		jQuery('#password-strength-status').addClass('medium-password');
		jQuery('#password-strength-status').html("Password Strength: Medium (should include alphabets, numbers and special characters.)");
	}}} 

	</script>
	
	
	<form name="reset_password" id="reset_password" action="<?php echo $this->getUrl().'customuser/index/resetpassword' ?>"  method="post" data-mage-init='{"validation":{}}'>  
		<input type="hidden" name="user_id" value="<?php echo $userId; ?>" >
		<fieldset class="fieldset">   
			<div class="field note">Enter Password</div>
			<div class="field email required">
				<label for="new_password" class="label"><span>New Password</span></label>
				<div class="control">
					<input type="password" name="new_password" alt="OTP" id="new_password" class="input-text"  autocomplete="off"   data-password-min-length="8" data-password-min-character-sets="3"  data-validate="{required:true}" onKeyUp="checkPasswordStrength();">
					<div id="password-strength-status"></div>
				</div>
			</div>
			<div class="field email required">
				<label for="confirm_password" class="label"><span>Confirm Password</span></label>
				<div class="control">
					<input type="password" name="confirm_password" alt="OTP" id="confirm_password"  autocomplete="off"   class="input-text"  data-validate="{required:true, equalTo:'#new_password'}" data-password-min-length="8" data-password-min-character-sets="3" > 
				</div>        
			</div>  
			
			
		</fieldset>      
		<div class="actions-toolbar">
			<div class="primary">
				<button type="submit" id="submit_buttonnnn" class="action submit primary" disabled><span>Submit</span></button>
			</div>    
		</div>
	</form> 
	<?php
	}
	?>
	
	<a href="<?php echo $this->getUrl().'customuser/index/forgetsession' ?>" class="action submit primary for_resend_otp custom_button back_me">Cancel</a>
	</div>
	
	
<?php

$customerSession->unsForgetallwell();
$customerSession->unsResendbuttondba();  
}	 

if($forgetotpcheck==1) 
{
?>






<?php
}
?>   
 
<?php
if($forgetpassword=='')
{
	$customerSession->unsForgetperson();
	$customerSession->setForgetperson(1);
	$customerSession->getForgetperson();
} 	
?>



<form class="form password forget ddddss"
      action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
      method="post"
      id="form-validate" 
      data-mage-init='{"validation":{}}' <?php if($session==1) { ?> style="display:none;" <?php } ?>   >
    <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <div class="field note"><?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?></div>
        <div class="field email required">
			<h2 class="forgot_password">FORGOT PASSWORD</h2>
			<p>Enter your email id associated with GetMySpares account and we'll send you OTP to login on same</p> 
		
            <label for="email_address" class="label" style="display: none"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
			 <input type="email" name="email" alt="email" id="email_address" class="input-text" value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" placeholder="Enter Email*">
           
            </div>  
        </div> 
        <?php $block->getChildHtml('form_additional_info') ?>
    </fieldset>      
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" id="act_for_sub" class="action submit primary"><span><?= $block->escapeHtml(__('CONTINUE')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getLoginUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
        </div> 
    </div>
</form>
<script type="text/javascript">
require([
	'jquery',
	'toastr'
], function($,toastr){
	//var dataForm = jQuery('#form-validate');
	jQuery('#form-validate').submit(function(event)
	{
		/*var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status==true)
		{
			jQuery('#act_for_sub').attr('disabled',true);	 
		} */ 
		var email_address = jQuery("#email_address").val();
        if(email_address==false) {
            toastr.error("Please Enter Email To Continue");
            jQuery("#email_address").addClass('mage-error');
            event.preventDefault();
            return false;
        }
	});	   
});     

</script>


  