<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login $block */ 
?>
<div class="newguideness">
<?php
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('guidelines_reg_login')->toHtml();
			?> 

</div>
<div style="width: 100%;" class="block block-customer-login leftcocail">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Login')) ?></strong>
		<?php
			$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
			$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			$temp_email = $customerSession->getData('username');  
            
            ?>
			
		 <a href="<?php echo $baseurl .'register'; ?>" class="action create primary"><span><?= $block->escapeHtml(__('SignUp')) ?></span></a>
        


    </div>
	 
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtml(__('')) ?>"> 
                <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field email required">
                   <label>Email</label>
                   
                    <div class="control">
                        <input name="login[username]" 
                        value="" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> id="email" placeholder="Email*" type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                  <label>Password</label> 
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" placeholder="Password*" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}" maxlength="15"> 
						<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password" onclick="password_toggle();"></span>
                    </div>
                </div> 
			
                <?= $block->getChildHtml('form_additional_info') ?> 
				
                <div class="actions-toolbar">
				  <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Login')) ?></span></button></div>
                  
                </div>
            </fieldset>
        </form> 
		<!--<h4>Or Login Using</h4>
		<div id="socail_link"> </div>-->
    </div>
	
	
</div>
<script>
requirejs([
    'jquery',
    'toastr'
], function($, toastr){
    $("#login-form").submit(function( event ) {
        var email = $("#email").val();
        var pass = $("#pass").val();
        if(email==false) {
            toastr.error("Please Enter Email To Continue");
            $("#email").addClass('mage-error');
            event.preventDefault();
            return false;
        }
        if(pass==false) {
            toastr.error("Please Enter Password To Continue");
            $("#pass").addClass('mage-error');
            event.preventDefault();
            return false;
        }
    });
});
</script>