<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>

<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<?php
    $header_type = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/header/header_type');
?>
<?php if ($block->isHomePage()):?>
    <strong class="logo">
<?php else: ?>
    <a class="logo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
<?php endif ?>
        <img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
             alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
             <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
             <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
        />
<?php if ($block->isHomePage()):?>
    </strong>
<?php else:?>
    </a>
<?php endif?>

<!-- gaurav   please  move this  code to  respective  place    @ritesh  -->

<script>
require([
    'jquery'
], function ($) {
    
function myFunction(x) {
  if (x.matches) { // If media query matches
      //alert('for test');
     $('.lanscapedisbaledB').hide();
  } 
}

    var x = window.matchMedia("(orientation:portrait)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes

    });
</script>

<style>

.contact-us-popup-main .page-main-actions
{
    display:none !important;
}
#totop{right:74px; left: inherit;}
.loader img{
	z-index: 9999; 
}


</style>

<!--END gaurav   please  move this  code to  respective  place    @ritesh  -->



<?php  
/**
 * temporary  code for testing @ritesh
 */

?>



<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages : 'hi,ta,ja'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<style type="text/css">

  /** after edit product in cart page **/
  .product-info-main .box-tocart.update .qty.field .qty-changer {
    margin-left: 0px;
    position: absolute;
}
.product-info-main .box-tocart.update .qty.field .control{
  margin-left: 0px;
}
#product-updatecart-button {
    position: absolute;
    left: 160px;
    height: 40px;
    border-radius: 4px;
}
.stock.unavailable span {
    position: relative;
    top: -3px;
}

/** after edit product in cart page close **/

/** checkout page in mobile **/
@media screen and (max-width: 480px) {

#product-updatecart-button {
    position: absolute;
    left: 50%;
    height: 56px;
    border-radius: 0px;
    width: 50%;
    right: 0px;
}
    
.checkout-index-index .modal-slide._inner-scroll .modal-footer {
    margin-top: 0px;
}
.modal-popup .modal-footer .action-save-address, .modal-popup .modal-footer .action-accept, .modal-popup .modal-footer button.wk-answer-submit, .modal-popup .modal-footer button.action.secondary.action-hide-popup, .modal-popup .modal-footer button {
font-size: 13px !important;
height: 38px;
line-height: 28px;
margin: 0px;
}
div#shipping-new-address-form .field {
    width: 100%;
    float: left;
}
.checkout-index-index .modal-popup .modal-header {
    padding: 0px;
    margin-bottom: 0px;
}
div#shipping-new-address-form .field .control .input-text, div#shipping-new-address-form .field .control .select {
    font-size: 12px;
    height: 30px !important;
}
#shipping-save-in-address-book {
    display: inline-block;
    width: auto;
}
div#shipping-new-address-form .label {
    font-size: 13px;
    display: inline-block;margin-bottom: 2px;
}
.checkout-index-index .modal-popup .modal-title {
    font-size: 18px;
    padding: 15px;
}
.modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
    height: 100%;
    min-height: 100%;
}
.checkout-index-index div#shipping-new-address-form .field .control {
    padding-bottom: 0px;
}
.checkout-index-index .modal-slide .action-close {
    padding: 7px 15px;
}
.nav-open .nav-toggle:before {
    color: #fff;
    font-size: 30px;
    padding-left: 9px;
    content: 'x';
    font-family: arial;
        line-height: 30px;
    vertical-align: top; font-weight: normal;
}
  
  .verifyoptSection.col-8{width: 100%!important; max-width: 100%!important; }
  .field.required.verifyotpblock .control #verify_otp_button{ white-space:nowrap;padding: 20px 10px; }
  .field.required.verifyotpblock .control #om_counter{    white-space: nowrap;
    line-height: 19px;
    vertical-align: top;
    margin-top:0px;
    padding: 19px 15px;width: 70px;margin-top: -2px;}  



}

/** checkout page in mobile close **/




</style>