<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$sellerId = $block->getCustomerId();
$sellerPriorityQuery = "SELECT seller_priority FROM `marketplace_userdata` where seller_id = $sellerId";
$sellerPriority = $connection->fetchOne($sellerPriorityQuery);
?>
<div class="priority-container">
    <input type="hidden" value="<?php echo $block->getCustomerId()?>" name="seller_id" class="seller_id">
    <input type="text" name="seller_priority" class="seller_priority" value="<?php echo $sellerPriority?>"/>
    <span class="update-btn-priority">Update Priority</span>
</div>
<script>
    require(['jquery'],function($){
        $('.update-btn-priority').click(function(){
        var ajax_urls = '<?php echo $block->getBackendUrl()?>';
        var sellerId ='<?php echo $block->getCustomerId()?>';
        var priority = $('.seller_priority').val();
        jQuery.ajax({
               url: ajax_urls,
               type: 'POST',
               data:{sellerId:sellerId,form_key: window.FORM_KEY,priority:priority},
               async:false,
               success: function(data) {
                   console.log(data);
                   location.reload();
                }
            });
      });
    });
</script>
<style>
span.update-btn-priority {
    background: #ba4000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.seller_priority {
    padding: 10px;
}    
</style>