<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction'); 

$site_url=$storeManager->getStore()->getBaseUrl();

$data_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection(); 
$sales_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Reports\sales');

?>

<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction'); 

$site_url=$storeManager->getStore()->getBaseUrl();

$data_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection(); 


$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$api_helpers = $objectManager->create('Customm\Apii\Helper\Data');   

$today = date("Y-m-d"); 
$from = date("Y-m-d h:i:s"); 
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
//$orderDatamodel = $objectManager->get('Magento\Sales\Model\Order')->getCollection();

//$tax_helpers->success_page('14');	   
  
   

// foreach($orderDatamodel as $orderDatamodel1){
// 	$orderArray=$orderDatamodel1->getData();
// 	$created_at=$orderArray['created_at'];
	
// 	$created_at=date("Y-m-d", strtotime($created_at)); 
// 	// if($created_at==$today)
// 	// {	
// 	// 	/* print_r($orderArray);
// 	// 	die(); */
// 	// 	$order_id=$orderArray['entity_id']; 
// 	// 	$increment_id=$orderArray['increment_id'];
		
// 	// 	$sql = "select * from order_tax_list where order_id='".$increment_id."'";
// 	// 	$result = $connection->fetchAll($sql); 
// 	// 	if(empty($result))
// 	// 	{
// 	// 		//$tax_helpers->success_page($order_id);	 
// 	// 	}   	 
// 	// }  
// }     
  
?>


<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history table-shadow-design" id="my-orders-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('Orders') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= /* @escapeNotVerified */ __('Order #') ?></th>
                    <th scope="col" class="col date"><?= /* @escapeNotVerified */ __('Date') ?></th>
                    <?= /* @noEscape */ $block->getChildHtml('extra.column.header') ?>
                    <th scope="col" class="col shipping"><?= /* @escapeNotVerified */ __('Ship To') ?></th>
                    <th scope="col" class="col total"><?= /* @escapeNotVerified */ __('Order Total') ?></th>
                    <th scope="col" class="col status"><?= /* @escapeNotVerified */ __('Status') ?></th>
                    <th scope="col" class="col actions"><?= /* @escapeNotVerified */ __('Action') ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_orders as $_order): ?>
				
				<?php
				$payment = $_order->getPayment();
				$method=$payment['method'];
				if($method=='razorpay')
				{	
				?>
				
				
				<tr class="blank-table-tr">
				<td colspan="6"></td>
				</tr>
                    <tr class="wk-row-view">
                        <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= /* @escapeNotVerified */ $_order->getRealOrderId() ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @escapeNotVerified */ $block->formatDate($_order->getCreatedAt()) ?></td>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <?php if ($extra): ?>
                            <?php $extra->setOrder($_order); ?>
                            <?= /* @noEscape */ $extra->getChildHtml() ?>
                        <?php endif; ?>
                        <td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?= $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Order Total')) ?>" class="col total"><?= /* @escapeNotVerified */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
						<?php
						$order_inc_id = $_order->getId();
                        $order_inc_idd = $_order->getRealOrderId();
                        $order_del_date = $_order->getData('delivery_date');
                        
						 
						$api_helpers = $objectManager->create('Customm\Apii\Helper\Data');
						//$status=$api_helpers->api_get_order_tracking($order_inc_idd); 
						$status = $_order->getStatusLabel();
						  
						?>
                        <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status "><?= /* @escapeNotVerified */ $status; ?>
						
						</td>
                        <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                            <a href="<?= /* @escapeNotVerified */ $block->getViewUrl($_order) ?>" class="action view">
                                <span><?= /* @escapeNotVerified */ __('View Order') ?></span>
                            </a>
                            <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                <a href="#" data-post='<?php /* @escapeNotVerified */ echo
                                $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                    ->getPostData($block->getReorderUrl($_order))
                                ?>' class="action order">
                                    <span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
                                </a>
                            <?php endif ?>
                            <?php
                                $needtoshow = false; 
                                $allowedDays=7;
                                $todaySecond = time();
                                $allowedSeconds = $allowedDays * 86400;
                                $pastSecondFromToday = $todaySecond - $allowedSeconds;
                                $validFrom = date('Y-m-d H:i:s', $pastSecondFromToday);
                                if($order_del_date > $validFrom)
                                {
                                    $QIWER = "SELECT rma_id FROM `wk_rma` where order_id=$order_inc_id";
                                    $rma_id = $connection->fetchOne($QIWER);
                                    if(empty($rma_id)) {
                                        $sales_itemm_query = "SELECT product_id FROM `sales_order_item` where order_id=$order_inc_id";
                                        $sales_item_obj = $connection->fetchAll($sales_itemm_query);
                                        $needtoshow = true;
                                        if(!empty($sales_item_obj))
                                        {
                                            foreach ($sales_item_obj as $product_data)
                                            {
                                                $product_id = $product_data['product_id'];
                                                $return_period_type = "SELECT `value` FROM `catalog_product_entity_int` where attribute_id=179 and entity_id='$product_id' and store_id=0";
                                                $return_period_type_id = $connection->fetchOne($return_period_type);
                                                if($return_period_type_id==33)
                                                {
                                                    $needtoshow = false;
                                                    break;
                                                }
                                            }

                                        }

                                    }
                                }
                            
                            ?>
                            <?php if($needtoshow):?>
                                <a href='<?php echo $site_url."rmasystem/newrma/index?oid=$order_inc_id";?>' class="action view">
                                    <span>Return</span>
                                </a>
                            <?php else:?>
                                <a href="javascript:void(0);" class="action view" style="background:#afa9a0">
                                    <span>Return</span>
                                </a>
                            <?php endif;?>
                            <?php  	
                                $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
					        	$connection = $resource->getConnection();
						    ?>
						 
							
							<?php 
                            
								$invoice_id=$data_helpers->get_order_invoice_id($_order->getIncrementId());
                                if($invoice_id) { 
                                    $order_id=$_order->getIncrementId();
                                    $order_id=base64_encode($order_id);
                              
							?>
								<a class="action order" href="<?php echo $site_url; ?>invoice.php?id=<?php echo $order_id; ?>">Download Invoice</a>
						
						
                              
                                <?php
                                }
							  
							?>	
							<?php if($_order->getStatus() == 'Delivered') { ?>
                                <a href='<?php echo $site_url."sales/order/view/order_id/$order_inc_id#orderreviews";?>' class="action view" style="background:#5984db">
                                    <span>Rate & Review</span>
                                </a>
                            <?php } ?>	
							 	
                            
							
                        </td>
                    </tr>
                <?php 
				}
				endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?= /* @escapeNotVerified */ __('You have placed no orders.') ?></span></div>
<?php endif ?>
