<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Order\Info */ ?>
<?php $_order = $block->getOrder() ?>
<?php

$_order->getIncrementId();

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();


$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$api_helpers = $objectManager->create('Customm\Apii\Helper\Data'); 

$_order->getStatus();



?>


<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?= /* @escapeNotVerified */ __('Order Information') ?></strong>
    </div>
    <div class="block-content">
    <?php if (!$_order->getIsVirtual()): ?>
        <div class="box box-order-shipping-address">
            <strong class="box-title"><span><?= /* @escapeNotVerified */ __('Shipping Address') ?></span></strong>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getShippingAddress()) ?></address>
            </div>
        </div>

        <div class="box box-order-shipping-method">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Shipping Method') ?></span>
            </strong>
            <div class="box-content">
            <?php if ($_order->getShippingDescription()): ?>
                <?= $block->escapeHtml($_order->getShippingDescription()) ?>
            <?php else: ?>
                <?= /* @escapeNotVerified */ __('No shipping information available') ?>
            <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

        <div class="box box-order-billing-address">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Billing Address') ?></span>
            </strong>
            <div class="box-content">
                <address><?= /* @escapeNotVerified */ $block->getFormattedAddress($_order->getBillingAddress()) ?></address>
            </div>
        </div>
        <div class="box box-order-billing-method">
            <strong class="box-title">
                <span><?= /* @escapeNotVerified */ __('Payment Method') ?></span>
            </strong>
            <div class="box-content">
                <?= $block->getPaymentInfoHtml() ?>
            </div>
        </div>
    </div>

  <?php if($_order->getStatus() != 'pending' && $_order->getStatus() != 'canceled' && $_order->getStatus() != 'pending_payment'):?>  
	<section class="order-status">
	
	<?php
	
	$select = $connection->select()
			  ->from('wk_rma') 
			  ->where('order_id= ?',$_order->getId());
	$resultss = $connection->fetchAll($select);
	if(empty($resultss)) 
	{
		
		?>
		<h2 class="custom_track_section">Track This Order :</h2>
		
		<div class="process-steps-tracker">
		<?php
	
		
		$approved=0;	
		$processed=0;	
		$shipped=0;	 
		$delivered=0;	
		
		
		// $tracking_array=$api_helpers->get_order_tracking($_order ->getId());   
		$approved=1;	 
		$processed=1;	
		$order_id = $_order->getId();
		$out_for_delivery_msg_status=false;
		$om_ecom_result = $connection->fetchAll("SELECT * FROM `om_ecom_api_status` where order_id='$order_id' and order_status='Delivered'");
		if(!empty($om_ecom_result))  {
			$shipped=1;
			$delivered=1;
			$delivered_date = $om_ecom_result[0]['delivery_date'];

		} else  
		{
			$sales_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Reports\sales');
			$shipment_helpers = $objectManager->create('OM\Rewrite\Helper\shipment');
			$tracking_array=$sales_helpers->get_forward_order_tracking($_order ->getId());   
			$pickup_date = $tracking_array['pickup_date'];
			$delivered_date = $tracking_array['delivered_date'];
			if(!empty($pickup_date)) {
				$shipped=1;
			}
			if(!empty($delivered_date))
			{
				$out_for_delivery_msg_status=true;

				$delivered=1;
			}
		}
		$out_for_delivery_msg_date="";
		$expected_date = "";

		if($shipped==1 && $delivered==0)
		{
			$awb = $connection->fetchOne("SELECT awb from `ecomexpress_awb` where orderid='$order_id'");
			$awb_track_array=$shipment_helpers->awbTracking($awb);
			$ecom_data = $awb_track_array['data'];
			$expected_date = $awb_track_array['completion_status']['expected_date'];
			foreach ($ecom_data as $key => $ecom_array) {
				$status = strtolower($ecom_array['status']);
				if(strpos($status, 'out for delivery') != false)
				{
					$out_for_delivery_msg_status=true;
					$out_for_delivery_msg_date = $ecom_array['date'];
					break;
				}
			}
		}
	
		/*
		echo $approved;
		echo "<br>";	
		echo $processed;
		echo "<br>";		
		echo $shipped;	
		echo "<br>";	
		echo $delivered;	
		*/
		
			
		?>
		</div> 
		<div class="process-steps row m-0"> 
			
			<div class="steps col <?php if($approved==1) { echo 'complete'; } ?>" >Approved <span></span></div>
			<div class="steps col <?php if($approved==1 && $processed==1) { echo 'complete'; } else { echo 'current'; } ?>">Processed <span></span></div>
			<div class="steps col <?php if($shipped==1 && $processed==1) { echo 'complete'; } ?>">Shipped <span></span></div>
			<?php if(!empty($out_for_delivery_msg_date) || $delivered==1):?>
				<div class="steps col complete "> Out For Delivery <p><?=$out_for_delivery_msg_date?></p> <span></span></div>
			<?php endif;?>
			<div class="steps col <?php if($shipped==1 && $delivered==1) { echo 'complete'; } ?>">Delivered 
			<?php if(!empty($delivered_date)): ?>
				<p><?="Delivered:".$delivered_date?></p>
			<?php elseif(!empty($expected_date)):?>
				<p><?="Expected :".$expected_date?></p>
			<?php endif;?>
			
			<span></span></div>
			
		</div>   
	<?php 

	} else  {
	
	$status = $resultss[0]['status'];
	$admin_status = $resultss[0]['admin_status'];
	$created_at=$resultss[0]['created_at'];
	$created_at=date("d,M Y", strtotime($created_at));
	
	if($status=="2" && $admin_status=="6")
	{ 
	
	?>
		<div class="cust_track_list return"> 
			<div class="cust_block date"> 
				<?php echo $created_at; ?>	
			</div>
			<div class="cust_block comment">  
				Return Approved
			</div> 
		</div> 
	<?php }
	
	if(false)
	{ 	
	
	$final_status=$resultss[0]['final_status'];
	?> 
	<h2 class="custom_track_section">Track Return :</h2>
	<div class="process-steps-tracker">
		<div class="cust_track_list return"> 
			<div class="cust_block date"> 
				<?php echo $created_at; ?>	
			</div>
			<div class="cust_block status">
				Return
			</div> 
			<div class="cust_block comment">  
				Return Approved
			</div> 
		</div> 
		<?php
	
		
		$approved=0;	
		$processed=0;	
		$shipped=0;	 
		$delivered=0;	
		
		$_order->getId();
		
		
		//$tracking_array=$api_helpers->get_rev_order_tracking($_order ->getId());    
		$tracking_array=$api_helpers->get_rev_order_tracking_single($_order ->getId());     
		
		if($tracking_array=='0')
		{
			$approved=1;	 
			$processed=1;	
		}
		else
		{
			$approved=1;	
			$processed=1;	
			$shipped=1;
			$delivered=1;
			$tracking_arrayy=json_decode($tracking_array);	
			
			//if(isset($_GET['asd']))
			//{	
				$trackArray=$tracking_arrayy[36]->object;
				if(!empty($trackArray)) {
				
				?>
				
				<?php
				$reversed = array_reverse($trackArray);
				
				$array=array(419);
				foreach($reversed as $track_array)
				{
					$trackfield=$track_array->field;	
					$status=$trackfield[1];
					
					
					
					
					$resula=0;
					if(!empty($trackfield[3]))
					{
						$resula=1;
					}
					
					
					?>
					<div class="cust_track_list <?php //if($resula==1) { if(in_array($trackfield[3],$array)) { ?> cancell <?php // } } ?>">
						<div class="cust_block date"> 
							<?php echo $trackfield[0]; ?> 	
						</div>
						<div class="cust_block status">
							<?php 
							if(!is_object($trackfield[1]))
							{
								echo $trackfield[1];
							}
							else
							{
								 echo $trackfield[4];
							}		
							?>	
						</div>
						<div class="cust_block comment">  
							<?php echo $trackfield[2];  ?>	   
						</div>
					</div>
				
				<?php	
			}	
				
				} 
			
			
		
		}	
		
		
		
			
		?>
		</div>



		<div class="process-steps row m-0"> 
			
			<div class="steps col <?php if($approved==1) { echo 'complete'; } ?>" >Approved <span></span></div>
			<div class="steps col <?php if($approved==1 && $processed==1) { echo 'complete'; } else { echo 'current'; } ?>">Processed <span></span></div>
			
			<div class="steps col <?php if($shipped==1 && $processed==1) { echo 'complete'; } ?>">Shipped <span></span></div>
			<div class="steps col <?php if($shipped==1 && $delivered==1) { echo 'complete'; } ?>">Delivered <span></span></div>
			<?php 
			if($final_status==3) {
			?>
				<div class="steps col return">Return<span></span></div>
			<?php } ?> 
		</div>  
	<?php
	
	
	}

	if($status=="3" && $admin_status=="5")
	{ 
	
	?>
		<div class="cust_track_list return"> 
			<div class="cust_block date"> 
				<?php echo $created_at; ?>	
			</div>
			<div class="cust_block comment" style="color:red">  
				Return Rejected
			</div> 
		</div> 
	<?php } }
	?>
</section>
<?php endif;?>
<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("OM_OrderRating::orderrating.phtml")->toHtml() ?>
</div>
