<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$partner = $block->getProfileDetail();
$shopUrl = $block->escapeHtml($partner['shop_url']);
$sellerId = $partner->getSellerId();
$feeds = $block->getFeed();
if (empty($feeds['feed_price'])) {
    $feeds['feed_price'] = 0;
}
if (empty($feeds['feed_value'])) {
    $feeds['feed_value'] = 0;
}
if (empty($feeds['feed_quality'])) {
    $feeds['feed_quality'] = 0;
}
$widthPriceStar5 = 0;
$widthPriceStar4 = 0;
$widthPriceStar3 = 0;
$widthPriceStar2 = 0;
$widthPriceStar1 = 0;

$borderPriceStar5 = 0;
$borderPriceStar4 = 0;
$borderPriceStar3 = 0;
$borderPriceStar2 = 0;
$borderPriceStar1 = 0;
if ($feeds['feedcount']) {
    $widthPriceStar5 = ($feeds['price_star_5']*100)/$feeds['feedcount'];
    if ($widthPriceStar5) {
        $borderPriceStar5 = 3;
    }
    $widthPriceStar4 = ($feeds['price_star_4']*100)/$feeds['feedcount'];
    if ($widthPriceStar4) {
        $borderPriceStar4 = 3;
    }
    $widthPriceStar3 = ($feeds['price_star_3']*100)/$feeds['feedcount'];
    if ($widthPriceStar3) {
        $borderPriceStar3 = 3;
    }
    $widthPriceStar2 = ($feeds['price_star_2']*100)/$feeds['feedcount'];
    if ($widthPriceStar2) {
        $borderPriceStar2 = 3;
    }
    $widthPriceStar1 = ($feeds['price_star_1']*100)/$feeds['feedcount'];
    if ($widthPriceStar1) {
        $borderPriceStar1 = 3;
    }
}
$avgPriceRatingStar = round(($feeds['price']/20), 1, PHP_ROUND_HALF_UP);
$avgPriceRatingClass = "wk-mp-rating-icon wk-mp-star".(int)$avgPriceRatingStar;

$widthValueStar5 = 0;
$widthValueStar4 = 0;
$widthValueStar3 = 0;
$widthValueStar2 = 0;
$widthValueStar1 = 0;

$borderValueStar5 = 0;
$borderValueStar4 = 0;
$borderValueStar3 = 0;
$borderValueStar2 = 0;
$borderValueStar1 = 0;
if ($feeds['feedcount']) {
    $widthValueStar5 = ($feeds['value_star_5']*100)/$feeds['feedcount'];
    if ($widthValueStar5) {
        $borderValueStar5 = 3;
    }
    $widthValueStar4 = ($feeds['value_star_4']*100)/$feeds['feedcount'];
    if ($widthValueStar4) {
        $borderValueStar4 = 3;
    }
    $widthValueStar3 = ($feeds['value_star_3']*100)/$feeds['feedcount'];
    if ($widthValueStar3) {
        $borderValueStar3 = 3;
    }
    $widthValueStar2 = ($feeds['value_star_2']*100)/$feeds['feedcount'];
    if ($widthValueStar2) {
        $borderValueStar2 = 3;
    }
    $widthValueStar1 = ($feeds['value_star_1']*100)/$feeds['feedcount'];
    if ($widthValueStar1) {
        $borderValueStar1 = 3;
    }
}
$avgValueRatingStar = round(($feeds['value']/20), 1, PHP_ROUND_HALF_UP);
$avgValueRatingClass = "wk-mp-rating-icon wk-mp-star".(int)$avgValueRatingStar;

$widthQualityStar5 = 0;
$widthQualityStar4 = 0;
$widthQualityStar3 = 0;
$widthQualityStar2 = 0;
$widthQualityStar1 = 0;

$borderQualityStar5 = 0;
$borderQualityStar4 = 0;
$borderQualityStar3 = 0;
$borderQualityStar2 = 0;
$borderQualityStar1 = 0;
if ($feeds['feedcount']) {
    $widthQualityStar5 = ($feeds['quality_star_5']*100)/$feeds['feedcount'];
    if ($widthQualityStar5) {
        $borderQualityStar5 = 3;
    }
    $widthQualityStar4 = ($feeds['quality_star_4']*100)/$feeds['feedcount'];
    if ($widthQualityStar4) {
        $borderQualityStar4 = 3;
    }
    $widthQualityStar3 = ($feeds['quality_star_3']*100)/$feeds['feedcount'];
    if ($widthQualityStar3) {
        $borderQualityStar3 = 3;
    }
    $widthQualityStar2 = ($feeds['quality_star_2']*100)/$feeds['feedcount'];
    if ($widthQualityStar2) {
        $borderQualityStar2 = 3;
    }
    $widthQualityStar1 = ($feeds['quality_star_1']*100)/$feeds['feedcount'];
    if ($widthQualityStar1) {
        $borderQualityStar1 = 3;
    }
}
$avgQualityRatingStar = round(($feeds['quality']/20), 1, PHP_ROUND_HALF_UP);
$avgQualityRatingClass = "wk-mp-rating-icon wk-mp-star".(int)$avgQualityRatingStar;

$feedbackUrl = $helper->getRewriteUrl('marketplace/seller/feedback/shop/'.$shopUrl);

$totalRatingStar = $helper->getSelleRating($sellerId);
$ratingClass = "wk-mp-rating-icon wk-mp-star".(int)$totalRatingStar;
?>
<div class="wk-mp-rating-block" id="rating">
    <div class="wk-mp-rating-left">
        <div class="progress-circle" data-percentage="<?php 
                $review_percentage = (($totalRatingStar*100)/5);
                echo $review_percentage;
                ?>"> 
            <span class="progress-left">
                <span class="progress-barcircle"></span>
            </span>
            <span class="progress-right">
                <span class="progress-barcircle"></span>
            </span>
            <div class="progress-value">
                <div> <?php echo $totalRatingStar; ?></div>
            </div>
        </div>
        <div class="wk-mp-rating-avg">
            <!--<div class="wk-mp-rating-avg-count <?php echo $ratingClass?>">
                <?php echo $totalRatingStar; ?>
            </div !-->
            <div class="wk-mp-rating-avg-txt">
                <?php echo __('Average Rating (%1)', $feeds['feedcount'])?>
            </div>
            <div class="wk-mp-rating-avg-txt">
                <?php 
                $review_percentage = (($totalRatingStar*100)/5);
                echo $review_percentage."% ".__('positive feedback');
                ?>
            </div>
            <div class="wk-mp-collection-view-btn">
                <a href="<?php echo $feedbackUrl.'#customer-reviews'?>" title="<?php echo __('Make a Review')?>">
                    <?php echo __('Write your Review')?>
                </a>
            </div>
        </div>
        <div class="wk-mp-rating-individual">
            <div class="advancedreviews-summary-block">
				<?php
					$total_5_star = $feeds['price_star_5']+ $feeds['value_star_5']+$feeds['quality_star_5'];
					$total_4_star = $feeds['price_star_4']+ $feeds['value_star_4']+$feeds['quality_star_4'];
					$total_3_star = $feeds['price_star_3']+ $feeds['value_star_3']+$feeds['quality_star_3'];
					$total_2_star = $feeds['price_star_2']+ $feeds['value_star_2']+$feeds['quality_star_2'];
					$total_1_star = $feeds['price_star_1']+ $feeds['value_star_1']+$feeds['quality_star_1'];
				?>
                <div class=" rating-process star-5">
                    <span>5 <i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="progress" style="height:10px">
                        <div class="progress-bar" style="width:100%;height:10px"></div>
                    </div>
                    <span><?php echo $total_5_star; ?></span>
                </div>
                <div class=" rating-process star-4">
                    <span>4 <i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="progress" style="height:10px">
                        <div class="progress-bar" style="width:100%;height:10px"></div>
                    </div>
                    <span><?php echo $total_4_star; ?></span>
                </div>
                <div class=" rating-process star-3">
                    <span>3 <i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="progress" style="height:10px">
                        <div class="progress-bar" style="width:100%;height:10px"></div>
                    </div>
                    <span><?php echo $total_3_star; ?></span>
                </div>
                <div class=" rating-process star-2">
                    <span>2 <i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="progress" style="height:10px">
                        <div class="progress-bar" style="width:100%;height:10px"></div>
                    </div>
                    <span><?php echo $total_2_star; ?></span>
                </div>
                <div class=" rating-process star-1">
                    <span>1 <i class="fa fa-star" aria-hidden="true"></i></span>
                    <div class="progress" style="height:10px">
                        <div class="progress-bar" style="width:100%;height:10px"></div>
                    </div>
                    <span><?php echo $total_1_star; ?></span>
                </div>
            </div>
            <!--<div class="wk-mp-rating-individual-left ">
                <div class="<?php echo $avgPriceRatingClass?>">
                    <?php echo $avgPriceRatingStar ?>
                </div>
                <div class="wk-mp-rating-individual-txt">
                    <?php echo __('Average Price Rating (%1)', $feeds['feedcount'])?>
                </div>
            </div>
            <div class="wk-mp-rating-individual-right">
                <div  class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('5 Star (%1)', $feeds['price_star_5'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star5-rating-color-bar" style="width:<?php echo $widthPriceStar5; ?>%; border-width:<?php echo $borderPriceStar5; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('4 Star (%1)', $feeds['price_star_4'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star4-rating-color-bar" style="width:<?php echo $widthPriceStar4; ?>%; border-width:<?php echo $borderPriceStar4; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div  class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('3 Star (%1)', $feeds['price_star_3'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star3-rating-color-bar" style="width:<?php echo $widthPriceStar3; ?>%; border-width:<?php echo $borderPriceStar3; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('2 Star (%1)', $feeds['price_star_2'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star2-rating-color-bar"
                            style="width:<?php echo $widthPriceStar2; ?>%; border-width:<?php echo $borderPriceStar2; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('1 Star (%1)', $feeds['price_star_1'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star1-rating-color-bar" style="width:<?php echo $widthPriceStar1; ?>%; border-width:<?php echo $borderPriceStar1; ?>px;"></span>
                        </small>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- <div class="wk-mp-rating-individual">
            <div class="wk-mp-rating-individual-left">
                <div class="<?php echo $avgValueRatingClass?>">
                    <?php echo $avgValueRatingStar ?>
                </div>
                <div class="wk-mp-rating-individual-txt">
                    <?php echo __('Average Value Rating (%1)', $feeds['feedcount'])?>
                </div>
            </div>
            <div class="wk-mp-rating-individual-right">
                <div  class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('5 Star (%1)', $feeds['value_star_5'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star5-rating-color-bar" style="width:<?php echo $widthValueStar5; ?>%; border-width:<?php echo $borderValueStar5; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('4 Star (%1)', $feeds['value_star_4'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star4-rating-color-bar" style="width:<?php echo $widthValueStar4; ?>%; border-width:<?php echo $borderValueStar4; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div  class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('3 Star (%1)', $feeds['value_star_3'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star3-rating-color-bar" style="width:<?php echo $widthValueStar3; ?>%; border-width:<?php echo $borderValueStar3; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('2 Star (%1)', $feeds['value_star_2'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star2-rating-color-bar"
                            style="width:<?php echo $widthValueStar2; ?>%; border-width:<?php echo $borderValueStar2; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('1 Star (%1)', $feeds['value_star_1'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star1-rating-color-bar" style="width:<?php echo $widthValueStar1; ?>%; border-width:<?php echo $borderValueStar1; ?>px;"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="wk-mp-rating-individual">
            <div class="wk-mp-rating-individual-left">
                <div class="<?php echo $avgQualityRatingClass?>">
                    <?php echo $avgQualityRatingStar ?>
                </div>
                <div class="wk-mp-rating-individual-txt">
                    <?php echo __('Average Quality Rating (%1)', $feeds['feedcount'])?>
                </div>
            </div>
            <div class="wk-mp-rating-individual-right">
                <div  class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('5 Star (%1)', $feeds['quality_star_5'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star5-rating-color-bar" style="width:<?php echo $widthQualityStar5; ?>%; border-width:<?php echo $borderQualityStar5; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('4 Star (%1)', $feeds['quality_star_4'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star4-rating-color-bar" style="width:<?php echo $widthQualityStar4; ?>%; border-width:<?php echo $borderQualityStar4; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div  class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('3 Star (%1)', $feeds['quality_star_3'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star3-rating-color-bar" style="width:<?php echo $widthQualityStar3; ?>%; border-width:<?php echo $borderQualityStar3; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('2 Star (%1)', $feeds['quality_star_2'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star2-rating-color-bar"
                            style="width:<?php echo $widthQualityStar2; ?>%; border-width:<?php echo $borderQualityStar2; ?>px;"></span>
                        </small>
                    </div>
                </div>
                <div class="wk-mp-rating-progress-bar-container">
                    <div class="wk-mp-rating-individual-right-txt">
                        <?php echo __('1 Star (%1)', $feeds['quality_star_1'])?>
                    </div>
                    <div class="wk-mp-rating-individual-progress-bar">
                        <small>
                            <span class="wk-mp-rating-progress-color-bar wk-mp-star1-rating-color-bar" style="width:<?php echo $widthQualityStar1; ?>%; border-width:<?php echo $borderQualityStar1; ?>px;"></span>
                        </small>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="wk-mp-rating-right">
        <?php
        foreach ($block->getFeedCollection() as $keyed) {			
			$feedcustomer = $block->Customer->load($keyed['buyer_id']); 
			$name = $feedcustomer['firstname'].' '.$feedcustomer['lastname'];
			$feedDateTime= strtotime($keyed['created_at']);
            $feedDate = date('M d, Y', $feedDateTime);
            $feedPrice = round(($keyed['feed_price']/20), 1, PHP_ROUND_HALF_UP);
            $feedValue = round(($keyed['feed_value']/20), 1, PHP_ROUND_HALF_UP);
            $feedQuality = round(($keyed['feed_quality']/20), 1, PHP_ROUND_HALF_UP);
            ?>
            <div class="wk-mp-rating-row">
                <div class="wk-mp-rating-customer-row">
                    <span class="wk-mp-rating-val-txt wk-mp-float-left">
                        <?php echo $keyed['feed_summary']?>
                    </span>
                    <span class="wk-mp-float-right">
                        <?php echo __("By %1 ", $name)?>
                        <i><?php echo $feedDate?></i>
                    </span>
                </div>
                <div class="wk-mp-rating-summary-container">
                    <div class="wk-mp-rating-review-row">
                        <span class="wk-mp-rating-txt">
                            <?php echo __("Rating"); ?>
                        </span>
                        <span class="wk-mp-rating-val">
                            <span class="wk-mp-rating-val-txt">
                                <?php echo __("Pricing"); ?>
                            </span>
                            <span class="wk-mp-rating-icon wk-mp-star<?php echo $feedPrice?>">
                                <?php echo $feedPrice?>
                            </span>
                        </span>
                        <span class="wk-mp-rating-val">
                            <span class="wk-mp-rating-val-txt">
                                <?php echo __("Value"); ?>
                            </span>
                            <span class="wk-mp-rating-icon wk-mp-star<?php echo $feedValue?>">
                                <?php echo $feedValue?>
                            </span>
                        </span>
                        <span class="wk-mp-rating-val">
                            <span class="wk-mp-rating-val-txt">
                                <?php echo __("Quality"); ?>
                            </span>
                            <span class="wk-mp-rating-icon wk-mp-star<?php echo $feedQuality?>">
                                <?php echo $feedQuality?>
                            </span>
                        </span>
                    </div>
                    <p><?php echo $keyed['feed_review']?></p>
                </div>
			</div>
		<?php
        } ?>        
        <div class="wk-mp-collection-view-btn">
            <a href="<?php echo $feedbackUrl?>" title="<?php echo __('View All Reviews')?>" target="blank">
                <?php echo __('View All Reviews')?>
            </a>
        </div>
    </div>
</div>
