<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Helpdesk
 * @author    Webkul
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$slaModel = $block->getCurrentSlaPolicy();
if (!empty($slaModel->getSlaServiceLevelTargets())) {
    $slaServiceLevelTargets = $block->getSerializer()->unserialize($slaModel->getSlaServiceLevelTargets());
}
$ticketsPriorityArr = $block->getTicketsPriority();
?>
<div class="entry-edit">
    <div class="box sla-targets">
        <div id="option_2" class="option-box">
            <div class="grid tier form-list">
                <table cellspacing="0" cellpadding="0" class="border">
                    <tbody>
                        <tr class="headings">
                            <th class="type-priority"><?php echo __('Priority') ?></th>
                            <th class="type-response"><?php echo __('Respond within') ?></th></th>
                            <th class="type-resolve"><?php echo __('Resolve within') ?></th></th>
                            <th class="type-operational-hours"><?php echo __('Operational Hrs') ?></th></th>
                        </tr>
                        <?php foreach ($ticketsPriorityArr as $priority): ?>
                            <?php $priorityId = $priority['value'] ?>
                            <tr>
                                <td>
                                    <?php echo $priority['label'] ?>
                                </td>
                                <td>
                                    <input type="text" value="<?php if (isset($slaServiceLevelTargets['targets'][$priorityId]) && count($slaServiceLevelTargets['targets'])) {
                                        echo $slaServiceLevelTargets['targets'][$priorityId]['response-in'];
                                                              } else {
                                                                  echo '15';
                                                              } ?>" name="sla[targets][<?php echo $priorityId ?>][response-in]" class="input-text input-time required-entry">
                                    <select title="" class="select time-type" name="sla[targets][<?php echo $priorityId ?>][response-time-type]">
                                        <option value="minutes" <?php if (isset($slaServiceLevelTargets['targets']) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['response-time-type'] == 'minutes') {
                                                echo 'selected';
                                            }
                                                                } ?>>
                                            <?php echo __('Mins') ?>
                                        </option>
                                        <option value="days" <?php if (isset($slaServiceLevelTargets['targets']) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['response-time-type'] == 'days') {
                                                echo 'selected';
                                            }
                                                             } ?>>
                                            <?php echo __('Days') ?>
                                        </option>
                                        <option value="hours" <?php if (isset($slaServiceLevelTargets['targets']) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['response-time-type'] == 'hours') {
                                                echo 'selected';
                                            }
                                                              } ?>>
                                            <?php echo __('Hrs') ?>
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" value="<?php if (isset($slaServiceLevelTargets['targets'][$priorityId]) && count($slaServiceLevelTargets['targets'])) {
                                        echo $slaServiceLevelTargets['targets'][$priorityId]['resolve-in'];
                                                              } else {
                                                                  echo '15';
                                                              } ?>" name="sla[targets][<?php echo $priorityId ?>][resolve-in]" class="input-text input-time required-entry">
                                    <select title="" class="select time-type" name="sla[targets][<?php echo $priorityId ?>][resolve-time-type]">
                                        <option value="minutes" <?php if (isset($slaServiceLevelTargets['targets']) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['resolve-time-type'] == 'minutes') {
                                                echo 'selected';
                                            }
                                                                } ?>>
                                            <?php echo __('Mins') ?>
                                        </option>
                                        <option value="days" <?php if (isset($slaServiceLevelTargets['targets']) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['resolve-time-type'] == 'days') {
                                                echo 'selected';
                                            }
                                                             } ?>>
                                            <?php echo __('Days') ?>
                                        </option>
                                        <option value="hours" <?php if (isset($slaServiceLevelTargets['targets']) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['resolve-time-type'] == 'hours') {
                                                echo 'selected';
                                            }
                                                              } ?>>
                                            <?php echo __('Hrs') ?>
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <select title="" class="select" name="sla[targets][<?php echo $priorityId ?>][operational-hours]">
                                        <option value="1" <?php if (isset($slaServiceLevelTargets['targets'][$priorityId]) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['operational-hours'] == '1') {
                                                echo 'selected';
                                            }
                                                          } ?>>
                                            <?php echo __('Business Hours') ?>
                                        </option>
                                        <option value="2" <?php if (isset($slaServiceLevelTargets['targets'][$priorityId]) && count($slaServiceLevelTargets['targets'])) {
                                            if ($slaServiceLevelTargets['targets'][$priorityId]['operational-hours'] == '2') {
                                                echo 'selected';
                                            }
                                                          } ?>>
                                            <?php echo __('Calendar Hours') ?>
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
