<?php 


$awb = "2704001175";
$viewModel = $block->getData('viewModel');
$get_tracking_date = $viewModel->awbTracking($awb);
if($get_tracking_date['status']==1)
{
  $tracking_date = $get_tracking_date['data'];
  foreach ($tracking_date as  $value) {
    $date = $value['date'];
    $status = $value['status'];
    $location = $value['location'];
    ?> 
      <div class="main-tracking-container">
        <div class="date"><h4><?=$date?></h4></div>
        <div class="status"><?=$status?></div> 
        <div class="location">package location : <?=$location?></div>
      </div>
    <?php
  }
}







?>