<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
$om = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $om->create('Magento\Customer\Model\Session');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerFactory = $objectManager->get('\Magento\Customer\Model\CustomerFactory')
->create();
  $customerId = $customerSession->getCustomer()->getId();
$customer = $customerFactory->load($customerId);
//fetch whole customer information
$newMobile = $customer->getData();
if(!empty($newMobile['mobile'])){
	$newMobiles = $newMobile['mobile'];
}
?>
<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Contact Information')) ?></span>
            </strong>
            <div class="box-content">
                <p>
               
                <span class="das-againerd">Name</span>
            
			   <?= $block->escapeHtml($block->getName()) ?><br>
               
                <span class="das-againerd">Email</span>
				
            <?= $block->escapeHtml($block->getCustomer()->getEmail()); ?><br>
			<?php if(!empty($newMobiles))
			{?>
			 <span class="das-againerd">Mobile Number</span> <?php echo $newMobiles;?>
			 <?php
			}
			?>
                </p>
                <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a>
              
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
           <?php /* <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()): ?>
                            <?= $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
                        <?php else: ?>
                            <?= $block->escapeHtml(__('You aren\'t subscribed to our newsletter.')) ?>
                        <?php endif; ?>
                    </p>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>"><span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
            </div> */?>
        <?php endif; ?>
    </div>
</div>
<script>
                    require([
                        'jquery'
                    ], function ($) {
                    setTimeout(function(){ $('.customer-account-index #maincontent .custnew .message-error').hide(); }, 1000);
                    });
                </script>
