<?php
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();

	$reviewCollectionFactory = $objectManager->get('\Magento\Review\Model\ResourceModel\Review\CollectionFactory');
	$reviewsCollection = $reviewCollectionFactory->create()
			->addFieldToSelect('*')
			//->addStoreFilter($currentStoreId)
			->addStatusFilter(\Magento\Review\Model\Review::STATUS_APPROVED)
			->setDateOrder()
			->addRateVotes();
	$count = 0;
	?>
	<?php if ($reviewsCollection && count($reviewsCollection) > 0):?>
		<?php
		$configIds = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('mobilepopup/homepagereview/review_ids');
		$configIds = explode(',', $configIds);
		?>
		
		<div class="right-slider"><div class="finderProduct"><div class=" homecustomreview owlCarousel">
	    <?php foreach ($reviewsCollection as $review):?>
	    	<?php if(!empty($configIds) && !in_array($review->getId(), $configIds)){
	    		continue;
	    		$count++;
	    	}
	    	?>
	    	<div class="item homepage-review">
				<div class="homepage-review-incls">
			   <span class="userimage">
			   <img src="<?php echo $block->getViewFileUrl('images/ratinguser-img.png'); ?>" />
			 	</span>
			   <div class="username-date">
	           <span class="username"><strong><?php echo $review->getNickname()?></strong></span>
			   <span class="date"><?php echo date('d/m/Y',strtotime($review->getCreatedAt()))?></span>
			   </div>
	           <?php $countRatings = count($review->getRatingVotes());?>
	        	<?php if ($countRatings > 0):?>
	            <div class="review-ratings">
	                <?php
	                $allRatings = 0;
	                foreach ($review->getRatingVotes() as $vote) {
	                    $allRatings = $allRatings + $vote->getPercent();
	                }
	                $allRatingsAvg = $allRatings / $countRatings;
	                ?>
	                <div class="rating-summary">
	                    <div class="rating-result" title="<?php echo $allRatingsAvg; ?>%">
	                        <meta itemprop="worstRating" content = "1"/>
	                        <meta itemprop="bestRating" content = "100"/>
	                        <span style="width:<?php echo $allRatingsAvg; ?>%">
	                            <span itemprop="ratingValue"><?php echo $allRatingsAvg; ?>%</span>
	                        </span>
	                    </div>
	                </div>
	            </div>
				</div>
	        <?php endif;?>
	           
		    	
		    	<?php $strLength = strlen($review->getDetail());?>
		        <div class="wrapper">
		        	<div class="small"><?php echo $review->getDetail()?></div>
		        	<?php if($strLength > 200):?>
		        		<a href="#">read more</a>
		        	<?php endif;?>
		    	</div>
			</div>
	    <?php endforeach;?>
	    </div></div></div>
	<?php endif;?>
 <script>
    require(
    ['jquery', 'jquery/ui', 'owl-carousel'], 
    function($) {
    	$('.homecustomreview ').owlCarousel({
            margin: 0,
            slideSpeed: 1000,
          	smartSpeed: 800,
            dots: true,
            autoplay:true,
            nav: false,
            autoPlay: 8000,
            loop: true,
            autoplayHoverPause:true,
            items: 1
        });
    });
</script>
<script type="text/javascript">
	require([
	    'jquery'
	], function ($) {
	    $(document).ready(function(){
			$('.wrapper').find('a[href="#"]').on('click', function (e) {
			    e.preventDefault();
			    this.expand = !this.expand;
			    $(this).text(this.expand?"read less":"read more");
			    $(this).closest('.wrapper').find('.small, .big').toggleClass('small big');
			});
	    });
	});
</script>

