<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mode = 'grid';
$type = 'widget-bestseller-grid';
$image = 'bestseller_products_content_widget_grid';
$resource   = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

$storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeID       = $storeManager->getStore()->getStoreId(); 

$tQuery = "SELECT cs.product_id,qty_ordered FROM `sales_bestsellers_aggregated_yearly` rv LEFT JOIN cataloginventory_stock_item cs ON rv.product_id=cs.product_id 
	LEFT JOIN catalog_product_entity_int cpei ON rv.product_id=cpei.entity_id
	WHERE cpei.value=1 AND cpei.attribute_id=97 AND cpei.store_id=0 AND cs.qty>0 AND cs.is_in_stock=1 AND rv.`store_id` = ".$storeID." ORDER BY qty_ordered DESC LIMIT 12";	

$datas = $connection->fetchAll($tQuery);
$count = count($datas);
$listArr = array();
foreach($datas as $data){
	$listArr[] = $data['product_id'];	
}
if( $count < 5 ){
	$tQuery = "SELECT cs.product_id,qty_ordered FROM `sales_bestsellers_aggregated_yearly` rv LEFT JOIN cataloginventory_stock_item cs ON rv.product_id=cs.product_id 
	LEFT JOIN catalog_product_entity_int cpei ON rv.product_id=cpei.entity_id
	WHERE cpei.value=1 AND cpei.attribute_id=97 AND cpei.store_id=0 AND cs.qty>0 AND cs.is_in_stock=1 AND rv.`store_id` = ".$storeID." ORDER BY qty_ordered DESC LIMIT 6";	
	$datas = $connection->fetchAll($tQuery);
	foreach($datas as $data){
		$listArr[] = $data['product_id'];	
	}
}
?>
<div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
            <div class="block-title">
                <strong>TOP SELLER</strong>
            </div>
        <div class="block-content">
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="home-product-slider owlCarousel product-items" >
                    <?php 
                    $iterator = 1; 
                    $counter = 1 ;
                    ?>
                    <?php foreach ($listArr as $productId): ?>
                    	<?php 
						$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
						$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
						$resizedImageUrl = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(200, 200)->getUrl();
						$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
						$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                    	?>
                    	<?php if($product->isSaleable()): ?>
                        <?php if ($counter%3 == 1){ echo "<div class='li-insert-class'>";}?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($product->getProductUrl()) ?>" class="product-item-photo">
                              <span class="product-image-container" style="width:240px;">
								    <span class="product-image-wrapper">
								    	<img class="product-image-photo" src="<?= $block->escapeUrl($resizedImageUrl) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" max-width="240" max-height="300"/>
								</span>
                            </a>
                            <div class="product-item-details">
                                <div class="review-container">
                                    <?php if ($templateType) : ?>
                                        <span class="r-co">
                                            <?= $abstractProductBlock->getReviewsSummaryHtml($product, $templateType) ?>
                                        </span>
                                    <?php endif; ?>
                                </div>
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtmlAttr($product->getName()) ?>"
                                       href="<?= $block->escapeUrl($product->getProductUrl()) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($product->getName()) ?>
                                    </a>
                                </strong>
                                <div class="price-box">
									<div class="price"><?= $abstractProductBlock->getProductPrice($product) ?></div>
								</div>
                            </div>
                        </div>
                        <?= ($iterator == count($listArr) + 1) ? '</li>' : '' ?>
                        <?php if ($counter%3 == 0){echo "</div>";}?>
                        <?php $counter++; ?>
                    <?php endif;?>
                    <?php endforeach ?>
                </ol>
            </div>
        </div>
    </div>
<script type="text/javascript">
        require(
        ['jquery', 'jquery/ui', 'owl-carousel'], 
        function($) {
            $('.home-product-slider').owlCarousel({
                margin: 0,
                slideSpeed: 1000,
                smartSpeed: 800,
                dots: false,
                autoplay:false,
                nav: false,
                autoPlay: 8000,
                loop: true,
                autoplayHoverPause:true,
                items: 1
            });
        });
</script>

	 
 