<div id="homepage-popup-modal"></div>
<script type="text/javascript">
	require(
        [
            'jquery',
            'mage/url',
            'Magento_Ui/js/modal/modal'
        ],
        function($, url, modal) {
        	var linkUrl = url.build('popup/index/index');
	    	$.ajax({
		        url: linkUrl,
		        type: "POST",
		        dataType: "json",
		        showLoader: false,
		        success: function (content) {
		        	if(content.enabled) {
		        		//if(content.device=='mobile') {
			        		var data = "<a href='"+content.url+"'><img src='"+content.imgpath+"'></a>";
			        		$("#homepage-popup-modal").html(data);
			        		$("#homepage-popup-modal").modal("openModal");
			        	//}
		        	}
		        }
		    });
            var options = {
                type: 'popup',
                responsive: true,
                buttons: []
            };
            var popup = modal(options, $('#homepage-popup-modal'));
            //$("aside.modal-slide").addClass("home-mobile-popup");
        }
    );
</script>
<style>
    #homepage-popup-modal a img {width: auto;}
    .home-mobile-popup .modal-inner-wrap {overflow: hidden; margin: auto; top: 80px; width: 500px;}
    .home-mobile-popup .modal-content {padding: 0px;}
    .home-mobile-popup .modal-header button {position: absolute; z-index: 999; padding: 0; line-height: normal;
    right: 24px; top: 16px;}
    .home-mobile-popup .modal-header button:before {font-size: 24px !important; color: #fff;}
    .home-mobile-popup .modal-header {right: -17px; top: -17px;}
    .home-mobile-popup .action-close:hover:before {color: #fff;}
    @media only screen and (max-width: 767px) {
        #homepage-popup-modal a img {width: 100%;}
        .home-mobile-popup {top: 130px;}
    }
</style>
