.clr {clear: both;}

.catalog-product-view{
    .loading-mask{
        background-color: rgba(51, 51, 51, 0.55);
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:before {
                content: '';
                border: 2px solid #f3f3f3;
                border-radius: 50%;
                border-top: 2px solid #3f549c;
                border-bottom: 2px solid #3f549c;
                width: 50px;
                height: 50px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                display: inline-block;
                top: 50%;
                left: 50%;
                position: absolute;
            }
            img {
                position: relative;
            }
        }
    }
}

.catalog-product-view{
    .sale-offer.red-bg {
        background: #14bddc;
        width: 94px;
        height: 28px;
        margin: 0px 0px 0px 0px;
        position: absolute;
        text-align: center;
        top: 25px;
        left: 0px;
        line-height: 28px;
        span {
            color: #fff;
            font-size: 15px;
            font-family: 'Conv_DINOT-Bold';
            font-weight: normal;
        }
    }
    .product.media{
        position: relative;
        .fotorama__stage.fotorama__shadows--right:after, .fotorama__nav.fotorama__shadows--right:after {
            background-image: none;
            background-position: 100% 0, 100% 0;
            right: 0;
        }
        .fotorama__fullscreen .fotorama__zoom-in, .fotorama__fullscreen .fotorama__zoom-out{
            border: none;
        }
        .fotorama__arr:active,.fotorama__arr:hover, .fotorama__thumb__arr:active{
            background-color: transparent;
        }
        .fotorama__wrap--toggle-arrows:hover{
            .fotorama__arr--prev .fotorama__arr__arr:before{
                content: "\f104";
                font-family: 'FontAwesome';
                font-size: 40px;
                margin-left: 10px;
            }
            .fotorama__arr--next .fotorama__arr__arr:before{
                content: "\f105";
                font-family: 'FontAwesome';
                font-size: 40px;
                margin-right: 15px;
            }
        }
       
        .fotorama__arr .fotorama__arr__arr{
            background-image: none;
        }
        .fotorama__arr--next .fotorama__arr__arr{
            text-align: right;
        }
        .fotorama__wrap{
            &.fotorama__wrap--no-controls{
                .fotorama__arr--next .fotorama__arr__arr:before{
                    display: none;
                }
                .fotorama__arr--prev .fotorama__arr__arr:before{
                    display: none;
                }
            }
        }
        
        .fotorama__thumb-border{
            display: none;
        }
        .fotorama__arr, .fotorama__thumb__arr{
            background-color: transparent;
        }
        .fotorama__nav__frame{
            &.fotorama__active{
                .fotorama__thumb{
                    border-radius: 20px;
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.42);
                }                
            }
        }
        .fotorama__thumb{            
            background-color: transparent;
            margin: 5px 10px 5px 10px !important;
            width: calc(~"100% - 10px");            
            height: calc(~"100% - 10px");
            padding: 10px;
            box-sizing: border-box;
            .fotorama__img{
                position: relative;
                width: 100%;
            }
        }
    }
} 

input, button {
    transition: .5s all ease;
    &:focus {
        outline: none;
        box-shadow: none !important;
    }
}
a {
    text-decoration: none;
    transition: .5s all ease;
    &:hover {
        text-decoration: none;
    }
}
.catalog-product-view {
    .breadcrumbs {
        display: none;
    }    
    .product-right-container{
        .box-tocart {
            display: block;
            width: 100%;
            margin-bottom: 0;
            .fieldset{
                .actions{
                    display: block;
                    padding-top: 0;
                }
            }
        }
    }
    .page-title-wrapper.product {
        h1 {
            font-size: 21px;
            color: #2c2c2c;
            font-family: @font-family-medium;
            width: 80%;
            line-height: 28px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
    }
    .product.attribute.sku {
        color: #535353;
        font-size: 16px;
        strong {
            font-weight: normal;
        }
    }
    .column {
        &.main {
            padding-top: 40px;
        }
    }
    .product {
        &.media {
            border: solid 1px #898989;
            border-radius: 20px;
            .fotorama__stage {
                height: 530px !important;
            }
        }
    }
    .solid-by-product {
        border-top: solid 1px #acacac;
        border-bottom: solid 1px #acacac;
        width: 83%;
        margin: auto;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 20px;
        margin-top: 28px;
        font-size: 22px;
        font-family: @font-family-medium;
        font-weight: normal;
        span, h3, p {
            display: inline-block;
        }
        .solod {
            color: #535353;
            font-weight: normal;
            font-family: 'Conv_DINOT-Bold';
        }
        h3 {
            color: #1d1d1d;
            margin: 0;
            font-size: 22px;
            font-family: 'Conv_DINOT-Bold';
            font-weight: normal;
        }
        p {
            color: #535353;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal;
        }
        a {
            text-decoration: none;
            transition: .5s all ease;
            color: #273c97;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal;
        }
    }
    .product-middle-container {
        clear: both;
        overflow: hidden;
    }
    .product-info-main {
        position: relative;
        .product-left-container {
            float: left;
            width: 50%;
            .brand-container {
                margin: 0 0px;
                .compatible-brands {
                    font-size: 20px;
                    text-transform: uppercase;
                    font-family: 'Conv_DINOT-Bold';
                    font-weight: normal;
                    margin: 30px 0px 12px;
                    color: #4a4a4a;
                }
                .brand-list {
                    font-size: 18px;
                    color: #7c7b7b;
                    font-family: @font-family-medium;
                    font-weight: normal;
                }
            }
            .product-info-price {
                border: none;
                .product-info-stock-sku {
                    display: flex;
                    float: none;
                    text-align: left;
                    padding: 0;
                    width: 100%;
                    font-family: @font-family-medium;
                    padding-bottom: 20px;
                    .stock {
                        margin: 0;
                        padding-right: 10px;
                    }
                }
                .price-box {
                    float: left;
                    width: auto;
                    margin: 0;
                    padding: 0;
                    .price {
                        font-family: 'Conv_DINOT-Bold';
                        color: #454336;
                        font-size: 34px;
                        font-weight: normal;
                    }
                    .special-price {
                        float: left;
                    }
                    .old-price {
                        float: left;
                        .price-label {
                            display: none;
                        }
                        .price {
                            padding-left: 20px;
                            text-decoration: line-through;
                            opacity: 0.7;
                        }
                    }
                }
                .saving-price {
                    color: #273c97;
                    font-family: @font-family-medium;
                    font-size: 16px;
                    float: left;
                    padding-top: 10px;
                    padding-left: 15px;
                }
            }
            .qty-container {
                clear: both;
                overflow: hidden;
                padding-bottom: 20px;
                .qty-heading {
                    font-size: 18px;
                    font-family: @font-family-medium;
                    color: #363636;
                    float: left;
                    padding-top: 4px;
                }
                .qty-box-conatiner {
                    float: left;
                    width: 25%;
                    margin-left: 10px;
                    display: flex;
                    text-align: center;
                    position: relative;
                    .decrement-qty {
                        position: absolute;
                        left: 10px;
                        font-family: @font-family-medium;
                        font-size: 30px;
                        line-height: normal;
                        top: -4px;
                        color: #f5a622;
                        cursor: pointer;
                    }
                    input {
                        border-radius: 30px;
                        border: solid 2px #f5a622;
                        width: 100%;
                        display: block;
                        height: auto;
                        padding: 2px 30px;
                        font-family: @font-family-medium;
                        font-size: 20px;
                        text-align: center;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    .increment-qty {
                        position: absolute;
                        right: 14px;
                        font-family: @font-family-medium;
                        font-size: 30px;
                        line-height: normal;
                        top: -5px;
                        color: #f5a622;
                        cursor: pointer;
                    }
                }
            }
            .best_price {
                color: #14BDDC;
                font-size: 20px;
                text-transform: uppercase;
                font-family: @font-family-medium;
                font-weight: normal;
                margin-bottom: 15px;
                display: inline-block;
                &:hover {
                    color: #ea7900;
                }
            }
            #deliverydays_msg{
                width: 100%;
                background: transparent;
                padding: 0px 0px;
                display: inline-block;
                border-radius: 4px;
                font-family: @font-family-medium;
                font-weight: normal;
                color: #4a4a4a;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            .pincode_checker {
                display: flex;
                position: relative;                
                #errmsg{
                    position: absolute;
                    top: 4px;
                    left: 96px;
                    color: #ed2024;
                    font-size: 1.4rem;
                }
                #loader {
                    position: absolute;
                    left: 30%;
                    transform: translate(-50%, -50%);
                    top: 70%;
                }
                .control {
                    float: left;
                    label {
                        color: #5b5b5b;
                        font-size: 18px;
                        padding-bottom: 10px;
                        font-family: @font-family-medium;
                        display: inline-block;
                    }
                    input {
                        height: auto;
                        padding: 10px;
                        border-radius: 0;
                        border: solid 1px #b4b4b4 !important;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                        border-right: 0px !important;
                    }
                    input[disabled="disabled"] {
                        font-family: 'Conv_DINOT-Bold';
                        font-weight: normal;
                    }
                }
                button {
                    display: inline-block;
                    background: @color-btn;
                    opacity: 1;
                    border: none;
                    border-radius: 0;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    height: auto;
                    padding: 8px 20px 9px 20px;
                    font-size: 20px;
                    font-family: @font-family-medium;
                    font-weight: normal;
                    line-height: normal;
                    margin-top: 35px;
                    box-shadow: none;
                }
            }
            .pincode-div {
                #pincode_checker_msg_wrapper {
                    width: 66%;
                    margin-top: 5px;
                }
            }
        }
        .product-right-container {
            float: right;
            width: 44%;
            .field.qty {
                display: none;
            }
            .product.alert.stock {
                text-align: center;
                button {
                    background: @color-btn;
                    border: none;
                    border-radius: 30px;
                    box-shadow: 0 5px 5px #eee;
                    margin-bottom: 30px;
                    line-height: normal;
                    font-family: @font-family-medium;
                    font-size: 18px !important;
                    font-weight: normal;
                    transition: .5s all ease;
                    width: 100%;
                    &:hover{
                        background: #f5a622;
                        color: #fff;
                    }
                    &:focus{
                        background: #f5a622;
                        color: #fff;
                    }
                }
            }
            .share-icon {
                background: url(../images/shareicon-pdp.png) no-repeat 3px 3px;
                width: 16px;
                height: 18px;
                border: solid 1px #7b7b7b;
                font-size: 0px;
                border-radius: 30px;
                padding: 3px 4px;
                position: absolute;
                top: -24px;
                right: 0px;
                cursor: pointer;
            }
            .product-addto-links {
                position: absolute;
                top: -20px;
                right: 40px;;
                a {
                    position: relative;
                    text-decoration: none;
                    display: inline-block;
                    span {
                        font-size: 0px;
                    }
                    &::after {
                        content: "\f08a";
                        font-family: 'FontAwesome';
                        color: #0f0f10;
                        border: solid 1px #7b7b7b;
                        border-radius: 50%;
                        padding: 6px 6px 5px 5px;
                    }
                }
            }
            .box-tocart {
                .action.primary.tocart {
                    display: block;
                    width: 100%;
                    background: @color-btn-hover;
                    border: none;
                    border-radius: 30px;
                    box-shadow: 0 5px 5px #eee;
                    margin-bottom: 20px;
                    line-height: normal;
                    font-family: @font-family-medium;
                    font-weight: normal;
                    font-size: 22px;
                    transition: .5s all ease;
                    &:hover {
                        background: @color-btn;
                    }
                }
                #buy-now {
                    display: block;
                    width: 100%;
                    background: @color-btn;
                    border: none;
                    border-radius: 30px;
                    box-shadow: 0 5px 5px #eee;
                    margin-bottom: 30px;
                    line-height: normal;
                    font-family: @font-family-medium;
                    font-size: 22px;
                    font-weight: normal;
                    transition: .5s all ease;
                    &:hover {
                        background: @color-btn-hover;
                    }
                }
            }
            .solid-by-product {
                &.alternateparts {
                    padding: 0;
                    margin: 0;
                    //box-shadow: 0 0 10px 5px #eee;
                    width: 100%;
                    border: none;
                    //border-radius: 10px;
                    clear: both;
                    //overflow: hidden;
                    .block-content{
                        #pdpaltpart{
                            &.owl-loaded{
                                box-shadow: 0 0 10px 5px #eee;
                                border-radius: 10px;
                                clear: both;
                                overflow: hidden;
                            }
                        }
                    }
                    img {
                        width: 110px !important;
                        float: right;
                        display: inline-block;
                        height: auto;
                    }
                    h3 {
                        background: #4d4d4d;
                        width: 100%;
                        box-sizing: border-box;
                        color: #fff;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        font-weight: normal;
                        padding: 12px 0;
                        font-size: 20px;
                        text-align: left;
                        padding-left: 24px;
                        font-family: @font-family-medium;
                        display: block !important;
                    }
                    .block-content {
                        .product-item-info  {
                            max-width: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            padding: 0px 15px 15px;
                            box-sizing: border-box;
                            .product-item-photo {
                                display: inline-block;
                                order: 2;
                                .product-image-photo {
                                    width: 110px !important;
                                    float: right;
                                    display: inline-block;
                                    height: auto;
                                    position: relative !important;
                                }
                            }
                            .pronameinfo {
                                float: left;
                                width: 62%;
                                font-size: 18px;
                                font-weight: normal;
                                font-family: @font-family-light;
                                line-height: 24px;
                                color: #767676;
                                text-align: left;
                                margin-top: 20px;
                                margin-left: 0px;
                                .proname {
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                }
                                .pricename {
                                    padding-top: 6px;
                                    .price {
                                        font-size: 20px;
                                        color: #767676;
                                        font-family: @font-family-medium;
                                    }
                                    .old-price {
                                        .price-label {
                                            display: none;
                                        }
                                        .price {
                                            display: inline-block;
                                            padding-left: 10px;
                                            text-decoration: line-through;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .product-reviews-summary {
            &.empty {
                width: 100%;
                text-align: center;
                a {
                    color: #eac026 !important;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-family: @font-family-medium;
                    margin: 0;
                }
            }
        }
        .product-reviews-summary {
            float: none;
            text-align: center;
            width: 100%;
            margin: auto;
            .rating-summary {
                display: inline-block;
                left: 0;
                position: relative;
                overflow: visible;
            }
            .reviews-actions {
                display: inline-block;
                a {
                    color: #454336;
                    font-size: 16px;
                    font-family: @font-family-medium;
                    opacity: 0.7;
                    text-decoration: none;
                    padding-left: 10px;
                    line-height: normal;
                    vertical-align: text-top;
                    padding-top: 2px;
                }
            }
        }
    }
    .page-footer {
        padding-top: 0;
        .row {
            &.footermain {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .listing {
                    width: 18%;
                    .block.newsletter{
                        .title{
                            margin-top: 2.5rem;
                        }
                    } 
                    h2 {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }    
}
.block {
    &.related {
        .related-products {
            width: 84%;
            margin: auto !important;
            overflow: hidden;
        }
        .block-title {
            strong {
                color: #3b3b3b;
                font-size: 24px;
                text-transform: uppercase;
                font-family: @font-family-medium;
                display: block;
                padding: 0;
                margin-bottom: 12px;
                span {
                    font-size: 24px;
                }
            }
        }
        .block-content {
            &.content {
                position: relative;
                .owl-nav {
                    button {
                        &:focus {
                            outline: none;
                            border: none;
                        }
                    }
                    span {
                        color: #333;
                        border: solid #fff;
                        border-width: 0 3px 3px 0;
                        display: inline-block;
                        padding: 7px;
                        font-size: 0px;
                        position: absolute;
                        top: 16px;
                        left: 20px;
                        line-height: normal;
                    }
                    .owl-prev {
                        position: absolute;
                        top: 30%;
                        border: none;
                        background: #273c97;
                        transition: .5s all ease;
                        border-radius: 50%;
                        width: 49px;
                        height: 49px;
                        padding: 0;
                        left: 16px;
                        &:hover{
                            background: #f5a622;
                        }
                        &.disabled{
                            background: #cccccc;
                            opacity: 1;
                        }
                        span {
                            transform: rotate( -225deg );
                            -webkit-transform: rotate(-225deg );
                        }
                    }
                    .owl-next {
                        position: absolute;
                        top: 30%;
                        border: none;
                        background: #273c97;
                        transition: .5s all ease;
                        border-radius: 50%;
                        width: 49px;
                        height: 49px;
                        padding: 0;
                        right: 16px;
                        &:hover{
                            background: #f5a622;
                        }
                        &.disabled{
                            background: #cccccc;
                        }
                        span {
                            transform: rotate( -46deg );
                            -webkit-transform: rotate(-46deg );
                            left: 14px;
                            top: 17px;
                        }
                    }
                }
            }
    }
    .products {
        list-style-type: none;
        .owl-stage {
            overflow: hidden;
            display: flex;
            .owl-item {
                margin: 0;
                float: left;
                .product-item {
                    width: 100%;
                    .product-item-details{
                        .product-reviews-summary{
                            margin: 0;
                            display: block;
                            padding: 0;
                            text-align: center;
                            position: absolute;
                            left: 52%;
                            transform: translate(-50%, -50%);
                            top: 6px;
                            .reviews-actions{
                                display: none;
                            }
                        }
                    }
                    .product-item-actions {
                        display: none;
                    }
                    &:hover {   
                        a {
                            text-decoration: none;
                        }
                        .product-item-actions {
                            position: absolute;
                            bottom: 10px;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            padding: 0 10px;
                            display: none;
                            .actions-secondary {
                                width: 48%;
                                a {
                                    background: @color-btn-hover;
                                    border: none;
                                    width: 100%;
                                    color: #fff;
                                    height: auto;
                                    text-transform: uppercase;
                                    font-family: @font-family-medium;
                                    font-size: 11px;
                                    padding: 7px;
                                    border-radius: 2px;
                                    display: block;
                                    &.action.tocompare {
                                        display: none;
                                    }
                                }
                            }
                            .actions-primary {
                                width: 48%;
                                .stock.unavailable {
                                   background: #40549d;
                                    border: none;
                                    color: #fff;
                                    height: auto;
                                    text-transform: uppercase;
                                    font-family: @font-family-medium;
                                    font-size: 12px;
                                    padding: 7px;
                                    border-radius: 2px; 
                                }
                                button {
                                    background: #40549d;
                                    border: none;
                                    width: 100%;
                                    color: #fff;
                                    height: auto;
                                    text-transform: uppercase;
                                    font-family: @font-family-medium;
                                    font-size: 11px;
                                    padding: 7px;
                                    border-radius: 2px;
                                }
                            }
                        }
                    }
                    img {
                        width: 100%;
                    }
                    .subhead {
                        display: block;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    }
}
.best_price_modal {
    z-index: 99 !important;
    .modal-inner-wrap {
        border-radius: 10px;
        width: 760px;
        .modal-header {
            h1 {
                font-size: 26px;
                color: #2c2c2c;
                font-family: @font-family-medium;
                text-transform: uppercase;
                border: none;
                padding: 0;
            }
            .action-close {
                &::before {
                    color: #0088CC;
                    font-size: 36px;
                }
            }
        }
        .modal-content {
            h2 {
                padding-bottom: 30px;
                font-size: 21px;
                color: #2c2c2c;
                font-family: @font-family-medium;
            }
            .mainlist {
                display: flex;
                justify-content: space-between;
                .list {
                    margin-bottom: 25px;
                    width: 48%;
                    input, select {
                        height: auto;
                        padding: 12px;
                        border: solid 1px #898989;
                    }
                }
            }
            .btn.btn-primary.submit {
                display: block;
                background: @color-btn;
                border: none;
                border-radius: 30px;
                box-shadow: 0 5px 5px #eee;
                margin-bottom: 30px;
                line-height: normal;
                font-family: @font-family-medium;
                font-size: 18px;
                font-weight: normal;
                transition: .5s all ease;
                width: 30%;
                margin: auto;
                padding: 14px 0;
                line-height: normal;
                color: #fff;
                &:hover {
                    background: @color-btn-hover;
                }
            }
        }
    }
}
.commonqanda {
    .qlogo {
        float: left;
        width: 90px;
        position: relative;
        span {
            background: none;
            border: none;
            font-weight: normal;
            font-family: 'Conv_DINOT-Medium';
            font-size: 18px;
        }
    }
    .ques {
        float: left;
        width: 50%;
        padding-top: 2px;
    }
    .qa-ans {
        display: inline-block;
        margin-top: 40px;
        button {
            box-shadow: none;
            border: none;
            background: none;
            color: #273c97;
            padding: 0;
            border-bottom: solid 1px @color-btn-border;
            border-radius: 0;
        }
    }
}
.customquery, .form-success, .answer-class-success, .answer-class {
    z-index: 99;
    .modal-inner-wrap {
        width: 50%;
        border-radius: 10px;
        .modal-header {
            margin-bottom: 20px;    
            h1 {
                font-size: 26px;
                color: #2c2c2c;
                font-family: @font-family-medium;
                text-transform: uppercase;
                border: none;
                padding: 0;
            }
            .action-close {
                &::before {
                    color: #0088CC;
                    font-size: 36px;
                }
            }
        }
        .modal-content {
            label {
                padding-top: 0px;
                font-weight: normal;
                padding-bottom: 5px;
                display: block;
            }
            .mainlist {
                display: flex;
                justify-content: space-between;
                .list {
                    margin-bottom: 25px;
                    width: 48%;
                    input, select {
                        height: auto;
                        padding: 12px;
                        border: solid 1px #898989;
                    }
                }
            }
            input, select, textarea {
                height: auto;
                padding: 12px;
                border: solid 1px #898989;
            }
        }
        .modal-footer {
            border: none !important;
            padding-top: 0;
            display: flex;
            width: 50%;
            margin: auto;
            button {
                display: block;
                background: @color-btn;
                border: none;
                border-radius: 30px;
                box-shadow: 0 5px 5px #eee;
                margin-bottom: 30px;
                line-height: normal;
                font-family: @font-family-medium;
                font-size: 16px;
                font-weight: normal;
                transition: .5s all ease;
                width: 48%;
                margin: auto;
                padding: 14px 0;
                line-height: normal;
                color: #fff;
                text-transform: uppercase;
                &.customquery {
                    background: @color-btn-hover;
                    &:hover {
                      background: @color-btn;    
                    }
                }
                &:hover {
                    background: @color-btn-hover;
                }
            }
        }
    }
}
.product-information-tab {
    .titleinfosection {
        display: flex;
        justify-content: space-between;
        border: solid 1px #474747;
        border-radius: 30px;
        .history-title {
            width: 33%;
            text-align: center;
            transition: .5s all ease;
            cursor: pointer;
            padding: 0px 0;
            margin-top: -1px;
            &:last-child {
                a {
                    border: none;
                }
            }
            &:first-child {
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
            }
            &:last-child {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }
            &:hover, &.clicked {
                background: @color-btn;
                a {
                    color: #fff;
                }
            }
            
            a {
                display: block;
                font-size: 20px;
                text-transform: uppercase;
                color: #474747;
                border-right: solid 1px #474747;
                font-family: @font-family-medium;
                padding: 11px 0;
                font-weight: normal;
            }
        }
    }
    .contentsection {
        font-family: @font-family-medium;
        color: #797979;
        font-size: 14px;
        padding: 30px 0 20px;
        float: left;
        width: 100%;
        font-weight: normal;
        ul {
            display: block;
            text-transform: uppercase;
            width: 100%;
            margin: auto;
            float: left;
            padding: 0px 25px;
            box-sizing: border-box;
            padding-right: 0;
            li {
                width: calc(~"25% - 10px");
                float: left;
                padding-right: 20px;
                box-sizing: border-box;
                margin-left: 10px;
                &::marker {
                    color: #000;
                }
                
            }
        }
    }
}
.post-sections-list {
    &.question-answer {
        h2 {
            font-family: @font-family-medium;
            font-weight: normal;
            font-size: 22px;            
            color: #474747;
            display: inline-block;
            border-bottom: solid 2px #b2b2b2;
            padding-bottom: 10px;
            margin-top: 40px;
            width: 18%;
        }
        .product-review-content {
            legend {
                border: none;
                font-family: @font-family-medium;
                font-size: 14px;
                font-weight: normal;
            }
        }
        .mainprt {
            &.load-more-section {
                text-align: left;
                padding-top: 0px;
                float: left;
                a {
                    button {
                        background: @color-btn;
                        border: none;
                        border-radius: 30px;
                        margin-bottom: 30px;
                        font-weight: normal;
                        transition: .5s all ease;
                        box-shadow: none;
                        color: #fff;
                        font-size: 14px;
                        line-height: normal;
                        height: auto;
                        padding: 10px 16px;
                        text-transform: capitalize;
                        font-family: @font-family-medium;
                        font-weight: normal;
                        &:hover {
                            background: @color-btn-hover;
                        }
                    }
                }
            }
        }
    }
}
.block {
    &.review-add {
        .review-form {
            max-width: 100%;
            label {
                font-size: 16px;
                font-weight: normal;
                font-family: @font-family-medium;
            }
            .product-review-section {
                display: none;
            }
            .review-write-form {
                h2 {
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #474747;
                    display: inline-block;
                    border-bottom: solid 2px #b2b2b2;
                    padding-bottom: 10px;
                    font-family: @font-family-medium;
                }
                .review-field-ratings {
                    display: flex;
                    .choice.review-field-rating {
                        display: inline-block;
                        padding-left: 10px;
                        padding-top: 0;
                        .label.d-none {
                            display: none;
                        }
                    }
                }
            }
            .field {
                padding-top: 10px;
                .control {
                    input, textarea {
                        height: auto;
                        border: solid 1px #898989;
                        padding: 14px;
                    }
                }
            }
            .reviewfildiner {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 60%;
                padding: 10px 0 15px 0;
                .field {
                    width: 48%;
                }
            }
            .review-field-text {
                width: 60%;
            }
            .primary.actions-primary {
                display: flex;
                justify-content: space-between;
                width: 18%;
                button {
                    width: 45%;
                    background: @color-btn-hover;
                    border: none;
                    border-radius: 30px;
                    box-shadow: 0 5px 5px #eee;
                    margin-bottom: 0;
                    line-height: normal;
                    font-weight: normal;
                    font-size: 18px;
                    transition: .5s all ease;
                    padding: 10px 0 12px 0;
                    text-transform: uppercase;
                    color: #fff;
                    margin: 0;
                    font-family: @font-family-medium;
                    &:hover {
                        background: @color-btn;
                    }
                    &.submit {
                        background: @color-btn;
                        &:hover {
                            background: @color-btn-hover;
                        }
                    }
                }
            }
            .review-control-vote label:before {
                color: #f5a622;
            }
        }
    }
}
#customer-reviews {
    .block-title {
        strong {
            font-size: 20px;
            text-transform: uppercase;
            color: #474747;
            display: inline-block;
            border-bottom: solid 2px #b2b2b2;
            padding-bottom: 10px;
            font-family: @font-family-medium;
            margin: 0;
            width: 21%;
        }
    }
    .block-content {
        .toolbar, .advancedreview {
            display: none;
        }
        .customreview {
            float: left;
            width: 25%;
            padding-top: 0;
            clear: left;
            .calltoaction {
                color: #474747;
                font-family: @font-family-medium;
                padding-top: 30px;
                clear: both;
                h2 {
                    font-size: 22px;
                    margin: 0;
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                }
                p {
                    margin: 0;
                    font-size: 14px;
                    padding: 5px 0 20px 0;
                }
                a {
                    background: @color-btn;
                    border: none;
                    border-radius: 30px;
                    font-weight: normal;
                    transition: .5s all ease;
                    box-shadow: none;
                    color: #fff;
                    font-size: 14px;
                    line-height: normal;
                    height: auto;
                    padding: 10px 16px;
                    display: block;
                    text-align: center;
                    width: 72%;
                }
            }
            .total-revie-rating {
                padding: 10px 0 20px 0;
            }
            .outofrating {
                clip: auto;
                height: auto;
                width: auto;
                top: -4px;
                left: 100px;
                font-family: @font-family-medium;
                opacity: 0.7;
                font-size: 18px;
            }
        }
        .items {
            &.review-items {
                width: 75%;
                float: left;
                padding-left: 25px;
                box-sizing: border-box;
                margin-top: -20px;
                .item {
                    padding: 20px 0;
                }
                .rating-summary .rating-result > span:before {color: #fff;}
                .review-details {
                    font-family: @font-family-medium;
                    display: flex;
                    color: #4d4d4d;
                    justify-content: space-between;
                    width: 60%;
                    margin: 0;
                    padding: 1px 0 0 10px;
                    span {
                        font-size: 16px;
                        color: #4d4d4d;
                    }
                    .review-date {
                        padding: 0 12px;
                        font-size: 16px;
                        color: #4d4d4d;
                    }
                    strong, span {
                        font-weight: normal;
                        font-size: 16px;
                    }
                }
                .review-ratings {
                    float: left;
                    background: #edaa38;
                    color: #fff;
                    font-family: @font-family-medium;
                    border-radius: 4px;
                    width: 34px;
                    overflow: hidden;
                    padding: 3px 5px 5px 0;
                    max-width: 34px;
                    display: block;
                    .rating-summary {
                        display: block;
                        padding: 1px 0 0 0 !important;
                        width: auto;
                        margin: 0 !important;
                        line-height: normal;
                        .rating-result{
                            width: 87px;
                        }
                        .rating-number {
                            font-size: 16px;
                            padding-left: 6px;
                            line-height: normal;
                            display: inline-block;
                            vertical-align: text-top;
                        }
                    }
                    .d-none {
                        display: none;
                    }
                }
                .review-title {
                    margin: 0;
                    padding: 10px 0 0 0;
                    a {
                        font-size: 18px;
                        text-transform: capitalize;
                        color: #474747;
                        display: inline-block;
                        font-family: @font-family-medium;
                        font-weight: normal;
                    }
                }
                .review-content {
                    color: #4d4d4d;
                    font-size: 16px;
                    font-family: @font-family-medium;
                    line-height: normal;
                    padding: 12px 0;
                    margin: 0;
                    word-break: break-all;
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}
.product-purchase-date {
    font-family: @font-family-medium;
    color: #373333;
    font-size: 17px;
    border-bottom: solid 1px #a2a1a1;
    display: inline-block;
    margin-bottom: 20px;
    span {
        padding-right: 16px;
        color: #273c97;
    }
    a {
        color: #f5a622;
    }
}
.review-progress-status {
    padding-top: 16px;
}
.post-sections-list {
    &.question-answer {
        font-family: @font-family-medium;
        strong {
            font-weight: normal;
        }
        .search_bar {
            width: 50%;
            input {
                border: solid 1px #898989;
                height: auto;
                padding: 12px 14px !important;
                border-radius: 30px;
            }
        }
        .ques {
            padding-left: 0;
        }
        .answ.answer-question-btn {
            button {
                box-shadow: none;
                border: none;
                background: none;
                color: #273c97;
                padding: 0;
                border-bottom: solid 1px @color-btn-border;
                border-radius: 0;
            }
        }
        .ques-user-info {
            font-size: 16px;
            color: #333;
            display: flex;
            span {
                padding-right: 5px;
                display: inline-block;
            }
            .wk_bold {
                display: inline-block;
                padding: 0 5px;
                font-weight: normal;
            }
        }
        .answer {
            margin-top: 10px;
            font-size: 16px;
            padding-bottom: 20px;
            padding-top: 0;
            display: block;
            .answ{
                .qa-ans{
                    .action.primary{
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        border-radius: 10px;
                        transition: .5s all ease;
                        font-weight: normal;
                        font-family: @font-family-medium;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                }
            }
        }
        .all-questions > div {
            font-size: 16px;
            text-transform: capitalize;
        }
        .ques.qlogo.question-users {
            position: relative;
        }
        .all-questions {
            height: 100%;
            overflow: hidden;
            clear: both;
            padding-top: 20px;
//            .mainprt {
//                display: none;
//            }
            .questionflot {
                float: left;
                font-size: 18px;
                width: 100px;
            }
            .questionright {
                float: left;
                width: 43%;
                padding-top: 2px;
                word-break: break-all;
                .qa-ans {
                    padding: 10px 0;
                    position: relative;
                    display: block;
                    button {
                        box-shadow: none;
                        border: none;
                        background: none;
                        color: #273c97;
                        padding: 0;
                        border-bottom: solid 1px @color-btn-border;
                        border-radius: 0 !important;
                    }
                }
                .extra-answ {
                    margin: 10px 0 10px 0;
                }
            }
        }
        .question-header {
            width: 100%;
            text-align: center;
            border-bottom: solid 1px #ddd;
            .wk-qa-action {
                width: 50%;
                float: left;
                border: none;
                background: none;
                clear: both;
                padding: 0 !important;
                margin: 0;
                padding-right: 40px;
                &#wk-qa-action-search {
                    width: 100%;
                    padding-right: 0;
                }
                button {
                    padding: 0;
                    background: none;
                    box-shadow: none;
                    position: relative;
                    padding-bottom: 10px;
                    right: 20px;
                    
                    &::before {
                        display: none;
                    }
                    .wk-qa-action-button-close {
                        font-size: 16px;
                        clip: unset;
                        position: relative;
                        overflow: visible;
                        height: auto;
                        display: block;
                        color: #000;
                        visibility: visible;
                    }
                }
                
            }
            h4 {
                float: none;
                font-size: 16px;
                font-weight: normal;
                color: #273c97;
                width: 100%;
                a {
                    color: #273c97;
                }
            }
        }
    }
}
.pdpstaticinfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    .list {
        width: 50%;
        text-align: center;
    }
    span {
        display: block;
        padding-top: 5px;
    }
}
.prices-tier.items {
    padding-top: 5px;
    font-family: @font-family-medium;
    li {
        margin-bottom: 3px;
        .benefit {
            color: #14BDDC;
            font-weight: normal;
            text-transform: capitalize;
        }
    }
}
.rating-summary .rating-result > span:before {color: #eaa92e;}
.rating-summary .rating-result {margin-left: 0;}
.rating-summary .rating-result:before {
    content: '\f006' '\f006' '\f006' '\f006' '\f006';
    font-family: "FontAwesome";
    color: #edaa38;
}
.rating-summary .rating-result > span:before {
    color: #edaa38;
    content: '\f005' '\f005' '\f005' '\f005' '\f005';
    font-family: "FontAwesome";
}


.catalog-product-view{
    .block.related{
        margin-bottom: 0;
        .block-content.content{
            .products-grid{
                .product-items{
                    .product-item{
                        .product-item-info{
                            .company-name {
                                display: none;
                            }
                        } 
                    }
                }
            }
        }
    }
}

.share-dialog {
    position: absolute;
    width: 185px;
    right: 0;
    top: 30px;
    display: block;
    text-align: right;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            padding-left: 5px;
            margin-bottom: 0;
            a {
                color: #fff;
                width: 3.5rem;
                height: 3.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                border-radius: 50%;
                padding: 0;
                &.facebook-color {
                    background: #3b5998;
                }
                &.twitter-color{
                    background: #1da1f2;
                }
                &.pinterest-color{
                    background: #e61b27;
                }
                &.google-color{
                    background: #ed3c32;
                }
            }
        }
    }
}

/*=============== Start product question answer =============*/

.productquestionanswer-productqa-viewall{
    font-size: 1.4rem;
    .modal-popup{
        &.form-success{
            .modal-inner-wrap{                
                .modal-content{
                    border: none;
                    padding: 3rem;
                }
            }
        }
        &.customquery{
            .modal-inner-wrap{                
                .modal-content{
                    border: none;
                }
            }
        }
        &.answer-class{
            .modal-inner-wrap{                
                .modal-content{
                    border: none;
                }
            }
            
        }
    }
    .page-title-wrapper{
        .page-title {
            display: inline-block;
            color: #444444;
            font-size: 32px;
            padding: 30px 0 20px;
            font-weight: normal;
            font-family: @font-family-medium;
            margin-bottom: 0;
        }
    }
    .box-collateral.box-description{
        .pimg {
            display: inline-block;
            float: none;
            width: 100%;
            max-width: 200px;
        }
        .pinfo{
            display: inline-block;
            float: none;
            margin-left: 20px;
            width: 69%;
            vertical-align: middle;
        }
        .pager {
            width: 100%;
            float: left;
            margin: 20px 0px 40px;
            text-align: right;
            .toolbar-amount {
                display: none;
            }
            .limiter-options{
                -webkit-appearance: auto;
                -moz-appearance: auto;
                -ms-appearance: auto;
                appearance: auto;
            }
        }
        .all-questions{
            .answer{
                .answ{
                    .qa-ans{
                        .action.primary{
                            background: @color-btn;
                            border: 1px solid @color-btn-border;
                            border-radius: 10px;
                            transition: .5s all ease;
                            font-weight: normal;
                            font-family: @font-family-medium;
                            &:hover{
                                background: @color-btn-hover;
                                border: 1px solid @color-btn-border-hover;
                            }
                        }
                    }
                }
            }
            .mainprt {
                width: 100%;
                float: left;
                margin: 20px 0px;
                border-top: 1px solid #ccc;
                padding-top: 20px;
                .qa-question{
                    .action.primary{
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        border-radius: 10px;
                        transition: .5s all ease;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                }
            }
            .answer{                
                width: calc(~"100% - 60px");
                margin-top: 20px;
                margin-left: 60px;
                .answe {
                    margin-bottom: 15px;
                }
                .answ{
                    padding-left: 60px;
                    .user-info{
                        .reviews {
                            text-align: right;
                            span{
                                font-size: 1.7rem;
                                margin: 0px 5px;
                                color: #212529;
                                line-height: 36px;
                                &.dislike{
                                    background: none;
                                    position: relative;
                                    text-align: center;
                                    line-height: 36px;
                                    &:before{
                                        content: "\f088";
                                        font-family: 'FontAwesome';
                                        font-size: 1.7rem;
                                        color: #212529;
                                    }
                                }
                                &.like{
                                    background: none;
                                    position: relative;
                                    text-align: center;
                                    line-height: 36px;
                                    &:before{
                                        content: "\f087";
                                        font-family: 'FontAwesome';
                                        font-size: 1.7rem;
                                        color: #212529;
                                    }
                                }
                            }                            
                        }
                    }
                }
                .answe{
                    .qa-ans{
                        .action.primary{
                            background: @color-btn;
                            border: 1px solid @color-btn-border;
                            border-radius: 10px;
                            transition: .5s all ease;
                            &:hover{
                                background: @color-btn-hover;
                                border: 1px solid @color-btn-border-hover;
                            }
                        }
                    }
                }
                .alogo {
                    display: inline;
                    left: 0;
                    position: absolute;
                    top: 0;
                    span {
                        border: none;
                        border-radius: 0;
                        color: #333;
                        display: inline-block;
                        font-size: 18px;
                        height: 40px;
                        line-height: 40px;
                        width: 40px;
                        font-family: 'Conv_DINOT-Bold';
                        background: #f7f7f7 none repeat scroll 0 0;
                        padding: 0;
                        text-align: center;
                    }
                }
                
            }
            .question{
                .ques{
                    padding-left: 60px;
                }
                .qlogo{
                    span{
                        border: none;
                        border-radius: 0;
                        color: #333;
                        display: inline-block;
                        font-size: 18px;
                        height: 40px;
                        line-height: 40px;
                        width: 40px;
                        font-family: 'Conv_DINOT-Bold';
                    }
                }
            }
        }
        .question-header{
            #header-text {
                display: none;
            }
            .wk-qa-action-viewall{
                margin: 1.3rem 4px 1.3rem 0rem;
            }
            .header-links{
                .action.primary{
                    background: @color-btn;
                    border: 1px solid @color-btn-border;
                    border-radius: 10px;
                    transition: .5s all ease;
                    &:hover{
                        background: @color-btn-hover;
                        border: 1px solid @color-btn-border-hover;
                    }
                }
            }
        }
        #search-bar{
            margin-bottom: 20px;
            width: 100%;
            float: left;
            border-top: 1px solid #cccccc;
            padding-top: 20px;
            .wk-qa-stat{
                display: inline-block;
                float: none;
                width: 295px;
                text-align: right;
                vertical-align: middle;
                font-size: 1.8rem;
                .wk-header-text{
                    background: transparent;
                }
            }
            .wk-searchbar{
                width: calc(~"100% - 300px");
                display: inline-block;
                vertical-align: middle;
                .search-form{
                    .search_action{
                        width: 115px;
                        left: 0;
                        button.wksearch_button.action.primary{
                            background: @color-btn;
                            border: 1px solid @color-btn-border;
                            margin-right: 0;
                            height: 43px;
                            padding: 0px 10px;
                            border-radius: 0px 10px 10px 0px;
                            text-transform: uppercase;
                            width: 100%;
                            transition: .5s all ease;
                            display: block;
                            color: #fff;
                            text-align: center;
                            line-height: 43px;
                            font-size: 1.4rem;
                            &:hover{
                                background: @color-btn-hover;
                                border: 1px solid @color-btn-border-hover;
                            }
                        }
                    }
                    .search_bar{
                        width: calc(~"100% - 115px");
                        input{
                            height: 43px;
                            border-radius: 10px 0px 0px 10px;
                            border: 1px solid #000;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

/*================ End product question answer ==============*/

.catalog-product-view{
    .rating-summary{
        .rating-result > span:before{
            letter-spacing: 2.7px;
        }
        .rating-result{
            &:before{
                letter-spacing: 2.6px;
            }
        }
    }
}
 

.catalog-product-view .modal-popup.popup-authentication.modal-slide{
    .modal-inner-wrap {
        border-radius: 18px;
        overflow: hidden;
        .modal-header {
            border-bottom: none;
            padding-bottom: 20px;
            padding-top: 10px;
        }
        .modal-content {
            border: none;
            .block.block-customer-login {
                padding-right: 0;
                .block-title {
                    margin-top: -20px;
                    border-bottom: 1px solid #ddd;
                    margin-left: -3rem;
                    margin-right: -3rem;
                    padding-bottom: 10px;
                    font-size: 27px;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    strong {
                        font-weight: 700;
                    }
                }
            }
            .block-authentication {
                border-top: none;
            }
        }
        .block-content {
            display: block;
            .login-banner-lft {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                padding-right: 15px;
                padding-left: 15px;
                width: 100%;
                box-sizing: border-box;
                float: left;
            }
            .login-form-rgt {
                -ms-flex: 0 0 66.666667%;
                flex: 0 0 66.666667%;
                max-width: 66.666667%;
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                box-sizing: border-box;
                float: right;
                .form-login{
                    .fieldset{
                        .login-toredirect {
                            float: left;
                            width: 100%;
                            text-align: center;
                            p {
                                color: #4d4d4d;
                                font-size: 18px;
                                font-family: @font-family-medium;
                                a {
                                    color: #f5a622;
                                }
                            }
                        }
                        .actions-toolbar {
                            width: 100%;
                            float: left;
                            max-width: 100%;
                            text-align: center;
                            margin: 35px 0px 15px;
                            .primary {
                                float: none;
                                button {
                                    background: @color-btn;
                                    border: 1px solid @color-btn-border;
                                    margin-right: 0;
                                    height: 47px;
                                    padding: 0px 40px;
                                    border-radius: 10px;
                                    text-transform: capitalize;
                                    max-width: 273px;
                                    width: 100%;
                                    color: #fff;
                                    box-shadow: none;
                                    font-size: 22px;
                                    font-weight: normal;
                                    font-family: @font-family-medium;
                                    transition: .5s all ease;
                                    &:hover{
                                        background: @color-btn-hover;
                                        border: 1px solid @color-btn-border-hover;
                                    }
                                }
                            }
                        }
                        .login-terms {
                            width: 100%;
                            float: left;
                            p {
                                font-size: 15px;
                                color: #2f2f30;
                                font-family: @font-family-medium;
                                a {
                                    color: #3362cc;
                                    &:hover{
                                        color: #f5a622;
                                    }
                                }
                            }
                        }
                        .field {
                            font-size: 14px;
                            .input-text {
                                height: 43px;
                                border-radius: 0;
                                border: none;
                                border-bottom: 1px solid #000;
                            }
                            &.password {
                                position: relative;
                                .secondary {
                                    position: absolute;
                                    right: 0;
                                    bottom: 4px;
                                    z-index: 10;
                                    a.action {
                                        color: #3362cc;
                                        font-family: @font-family-medium;
                                        &:hover{
                                            color: #f5a622;
                                        }
                                    }
                                }
                            }
                        }
                    } 
                } 
            }
        }
    }
} 


#pdpaltpart .owl-stage {
    width: 100% !important;
}
#pdpaltpart.owl-carousel .owl-item {
    width: 100% !important;
}

.catalog-product-view{
    .advancedreviews-summary-block table .star-line .star-bar-container .star-bar{
        margin-left: -1px;
        padding-right: 2px;
    }
    .product-middle-container{
        .block{
            &.related{
                .block-content{
                    .products-related{
                        padding: 0px 0px;
                        margin-bottom: 0 !important;
                        .product-items{
                            height: 260px;
                            &.owl-loaded{
                                height: auto;
                            }
                            .product-item{
                                border: none;
                                padding: 0;
                                &:hover{
                                    box-shadow: none;
                                }
                                .product-item-info{
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-flex-wrap: wrap;
                                    flex-wrap: wrap;
                                    box-sizing: border-box;
                                    .product-item-name{
                                        -ms-flex-order: 1;
                                        -webkit-order: 1;
                                        order: 1;
                                        text-transform: uppercase;
                                        width: calc(~"100% - 70px");
                                        float: left;
                                        margin-left: 0;                                       
                                        .product-item-link{
                                            text-align: left;
                                            font-size: 1.3rem;
                                            text-transform: uppercase;
                                            font-family: 'Conv_DINOT-Medium';
                                            font-weight: normal;
                                            display: block;
                                            color: #7c7c7c;
                                        }
                                    }
                                    .product-item-details{
                                        -ms-flex-order: 2;
                                        -webkit-order: 2;
                                        order: 2;
                                        width: 100%;
                                        padding: 0 0px;
                                        margin: 0px 0px;
                                        .product-reviews-summary{
                                            left: initial;
                                            transform: initial;
                                            right: 0;
                                            top: -58px;
                                            .rating-result > span:before{
                                                font-size: 11px;
                                            }
                                            .rating-summary{
                                                .rating-result{
                                                    width: 63px;
                                                    display: block;
                                                    &:before{
                                                        font-size: 11px;
                                                    }
                                                }
                                            }
                                        }
                                        .price-box {
                                            background: #eeecf6;
                                            padding: 3px 10px;
                                            float: left;                                            
                                            .old-price{
                                                padding-left: 5px;
                                            }
                                            .product-amount{
                                                font-size: 14px;
                                            }
                                            .currency-symbol{
                                                &:before{
                                                    width: 9px;
                                                    height: 12px;
                                                    margin: -5px 1px 0px;
                                                }
                                            }
                                        }
                                    }
                                    .product-item-photo{
                                        -ms-flex-order: 0;
                                        -webkit-order: 0;
                                        order: 0;
                                        border: solid 1px #a5a4a4;
                                        border-radius: 4px;
                                        width: 100%;
                                        .product-image-container{
                                            .product-image-wrapper{
                                                padding-bottom: 100% !important;
                                            }
                                        }
                                    }
                                } 
                            }
                        }
                    }
                }
            }
        }
    } 
} 

@media only screen and (max-width:1460px){    
    .catalog-product-view .product-info-main .product-right-container .solid-by-product.alternateparts h3 {width: 100%;}
    .catalog-product-view .product-info-main .product-left-container .product-info-price .price-box {width: 50%;}
    .pincode-div {width: 100%; overflow: hidden;}
    .catalog-product-view .product-info-main .product-left-container .pincode-div #pincode_checker_msg_wrapper {width: 100%;}
}

@media only screen and (max-width: 1400px){
    .catalog-product-view{
        .product-info-main{
            .product-left-container{
                .qty-container{
                    .qty-box-conatiner{
                        width: 110px;
                    }
                } 
                .product-info-price{
                    .price-box{
                        .old-price{
                            .price{
                                padding-left: 10px;
                            }
                        } 
                        .price{
                            font-size: 22px;
                        }
                    } 
                } 
            } 
        } 
    } 
}


@media only screen and (max-width:1280px){     
    .catalog-product-view .product-info-main .product-left-container .pincode_checker .control  {width: 60%;}
    .catalog-product-view .product-info-main .product-reviews-summary .reviews-actions a {padding-left: 0; font-size: 14px;}
    .product-information-tab .contentsection {font-size: 14px;}
    .catalog-product-view .product-info-main .product-left-container .product-info-price .price-box .price {font-size: 18px;}
    .catalog-product-view .product-info-main .product-left-container .product-info-price .saving-price {font-size: 14px;}
    .post-sections-list.question-answer h2 {width: 22%;}
    .pincode-div #pincode_checker_msg_wrapper {width: 72% !important;}
    .catalog-product-view .product-info-main .product-left-container .best_price{font-size: 17px;font-weight: normal;}
    .catalog-product-view .product-info-main .product-right-container .solid-by-product.alternateparts .block-content .product-item-info .pronameinfo .pricename .price{
        font-size: 16px;
    }
    .catalog-product-view{
        .page-title-wrapper.product{
            h1{
                font-size: 18px;
            }
        }
        .product-info-main{
            .product-left-container{
                .brand-container{
                    .brand-list{
                        font-size: 14px;
                    }
                    .compatible-brands{
                        font-size: 18px;
                    }
                }  
            } 
            .product-right-container{
                .solid-by-product.alternateparts{
                    .block-content{
                        .product-item-info{
                            .pronameinfo{
                                font-size: 14px;
                            }
                        } 
                    } 
                } 
            } 
        }   
    }
    .catalog-product-view{
        .block.related .block-title strong span{
            font-size: 18px;
        }
        .post-sections-list.question-answer{
            h2{
                font-size: 18px;
            }
        } 
        #customer-reviews{
            .block-content{
                .customreview{
                    .calltoaction{
                        h2{
                            font-size: 18px;
                        }
                    } 
                } 
            } 
            .block-title{
                strong{
                    font-size: 16px;
                }
            } 
        } 
        .product-information-tab{
            .titleinfosection{
                .history-title{
                    a{
                        font-size: 16px;
                    }
                } 
            } 
        } 
        .solid-by-product{
            font-size: 18px;
            h3{
                font-size: 18px;
            }
        } 
        .product-info-main{
            .product-left-container{
                .pincode_checker{
                    button{
                        font-size: 18px;
                    }
                } 
            } 
            .product-right-container{
                .solid-by-product.alternateparts{
                    h3{
                        font-size: 16px;
                    }
                } 
                .box-tocart{
                    #buy-now{
                        font-size: 18px;
                    }
                    .action.primary.tocart{
                        font-size: 18px;
                    }
                } 
            } 
        } 
    } 

}

@media only screen and (max-width:1190px){

    .catalog-product-view{
        .product-info-main{
            .product-left-container{
                .qty-container{
                    .qty-box-conatiner{
                        width: 100%;
                        max-width: 118px;
                        input{
                            padding: 2px 30px;
                        } 
                    }
                } 
            } 
        } 
    } 


}

@media only screen and (max-width:1024px){

    .catalog-product-view.page-layout-1column{
        .product-information-tab{
            .titleinfosection{
                .history-title{
                    a{
                        font-size: 14px;
                    }
                } 
            } 
        } 
        .product.media {
            width: 50%;
            margin: 0;
        }
        .product-info-main {            
            width: calc(~"100% - 53%");
            .product-left-container{
                .best_price{
                    font-size: 16px;
                }
                .qty-container{
                    .qty-heading{
                        font-size: 15px;
                    }
                    .qty-box-conatiner{
                        max-width: 105px;
                    }
                } 
            }             
            .product-right-container{
                .box-tocart{
                    #buy-now{
                        font-size: 16px;
                    }
                    .action.primary.tocart{
                        font-size: 16px;
                    }
                } 
            } 
        }
    } 

}

@media only screen and (max-width:767px){


    .catalog-product-view.page-layout-1column{
        .product-info-main {
            width: 100%;
        }
        .product.media {
            width: 100%;           
        }
        .product-info-encaptulate{
            .product-container {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                box-sizing: border-box;
                .product-info-main{
                    -ms-flex-order: 1;
                    -webkit-order: 1;
                    order: 1;
                    margin-top: 20px;
                    .page-title-wrapper.product{
                        h1{
                            width: 100%;
                        }
                    } 
                    .product-left-container{
                        width: 100%;
                    } 
                    .product-right-container{
                        width: 100%;
                        margin-top: 20px;
                        .share-icon{
                            position: relative;
                            top: 0;
                            right: 0px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .product-addto-links {
                            position: relative;
                            top: 0;
                            right: 0;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
                .product.media{
                    -ms-flex-order: 0;
                    -webkit-order: 0;
                    order: 0;
                }
            }
        }
    } 

}

.latest-deals-products-container.block.related {
    ul.latest-deals-container.customers-bought {
        max-width: 80%;
        display: block;
        margin: 15px auto !important;
        float: none;
        position: relative;
        .owl-nav{
            button.owl-prev {
                background: #5984db;
                color: #fff;
                border-radius: 50%;
                border: 0;
                position: absolute;
                top: 50%;
                left: -50px;
                transform: translate(0, -50%);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                outline: none;
                box-shadow: 0 0 0px 0px #eee;
            }
            button.owl-next {
                background: #5984db;
                color: #fff;
                border-radius: 50%;
                border: 0;
                position: absolute;
                top: 50%;
                left: -50px;
                transform: translate(0, -50%);
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                outline: none;
                box-shadow: 0 0 0px 0px #eee;
                left: auto;
                right: -50px;
            }
            button {
                span {
                    display: block;
                    width: auto;
                    height: auto;
                    font-size: 40px;
                    font-weight: 300;
                    position: absolute;
                    top: 38%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &:hover {
                    box-shadow: 0 0 10px 5px #eee;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

.product-item {
.price-box {
    .old-price {
        span.price-label {
            display: none;
        }
        &:before {
            margin-left: 0;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .price {
        span.special-price {
            margin-left: 20px;
            order: 2;
        }
        .price-box.price-final_price {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
}

.customer-also-viewed {
margin-top: 50px;
}
.block.related .products .owl-stage .owl-item li.home-page-product-list.item.product.product-item a.action.towishlist {
    background: #f5a622 !important;
    width: auto;
    color: #000 !important;
    padding: 0px 5px;
    padding-left: 15px;
    padding-right: 5px !important;

}
html .block.related .products .owl-stage .owl-item .product-item:hover .product-item-actions .actions-primary button {
    line-height: inherit;
    width: auto;
    padding-left: 28px;
    text-align: center;
}
html .latest-deals-products-container ul li:hover .product-item-inner .product-item-actions .wishlist{
    margin-right:0;
}
html .block.related .products .owl-stage .owl-item .product-item:hover .product-item-actions .actions-primary {
    margin-left: 0;
    text-align: left;
}
.latest-deals-products-container ul li:hover .product-item-inner .product-item-actions .wishlist a::before{
    color: #000 !important;;
}