// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);
        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-left: 2%;
                width: calc(~'(100% - 2%)/2');
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                width: 152px;

                .page-products & {
                    width: 240px;
                }
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: inline-block;
                    font-size: 1.4rem;
                    vertical-align: middle;

                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                //margin: @indent__s 0 @indent__m;
                margin-bottom: 40px;
                padding-top: 20px;

                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            //&:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
//    .product-item-info {
//        .products-grid & {
//            &:hover,
//            &.active {
//                .lib-css(background, @product-item__hover__background-color);
//                .lib-css(box-shadow, @product-item__hover__box-shadow);
//                border: 1px solid @color-gray-light2;
//                margin: -10px;
//                padding: 9px;
//                position: relative;
//                z-index: 9;
//
//                .product-item-inner {
//                    display: block;
//                }
//                .sidebar & {
//                    .product-item-photo {
//                        left: 9px;
//                        top: 9px;
//                    }
//                }
//            }
//        }
//    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            .lib-css(box-shadow, @product-item__hover__box-shadow);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 10px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: inline-block;
            vertical-align: middle;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: inline-block;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
            .stock {
                &.unavailable {
                    position: relative !important;
                    text-align: center;
                }
            }
            .product.details.product-item-details  {
                padding-top: 20px;
                margin-bottom: 40px;
                .price-box{
                    margin-top: 0;
                    .special-price {
                        display: inline-block;
                    }
                    .old-price {
                        margin: 0px 0;
                        display: inline-block;
                        width: auto;
                    }
                }
            }
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                margin-left: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .block.widget .products-grid .product-item,
    .page-layout-1column .block.widget .products-grid .product-item,
    .page-layout-3columns .block.widget .products-grid .product-item {
        .product-item-inner {
            box-shadow: 3px 6px 4px 0 rgba(0, 0, 0, .3);
            margin: 9px 0 0 -1px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: 2%;
                padding: 5px;
                width: calc(~'(100% - 6%)/4');

                &:nth-child(3n + 1) {
                    margin-left: 2%;
                }

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}




.page-products{
    #ln_product_overlay,.ln_overlay{               
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &:before {
                content: '';
                border: 2px solid #f3f3f3;
                border-radius: 50%;
                border-top: 2px solid #3f549c;
                border-bottom: 2px solid #3f549c;
                width: 50px;
                height: 50px;
                -webkit-animation: spin 2s linear infinite;
                animation: spin 2s linear infinite;
                display: inline-block;
                top: 50%;
                left: 50%;
                position: absolute;
                margin-top: -10px;
            }
            img {
                position: relative;
                top: 0;
                left: 0;
                display: block;
                right: 0;
                max-width: 35px;
                margin-top: -15px;
            }
        }
    }
}

.page-products{
    .breadcrumbs {        
        margin-top: 0 !important;
    }
}

.page-products {
    .breadcrumbs {
        padding: 0;
        li {
            font-size: 18px;
            font-family: @font-family-light;
            font-weight: normal;
        }
    }
    #maincontent {
        padding-top: 30px;
    }
    .page-title-wrapper {
        h1 {
            color: #f5a622;
            font-size: 24px;
            font-family: @font-family-medium;
            margin: 0;
            padding: 0 0 20px 0;
        }
    }
    .brandedpartshome {
        padding-left: 49px;
        padding-right: 48px;
    }
    .homebtmcrowsel {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 30px;
        .products-grid{
            .product-item{
                .product-item-info{
                    .product-item-details{
                        padding-top: 0;
                        .price-box{
                            .old-price{
                                .price-label{
                                    display: none;
                                }
                            }
                        }
                        .review-container{
                            min-height: 25px;
                            .product-reviews-summary{
                                position: relative;
                                left: initial;
                                transform: none;
                                top: initial;
                                text-align: left;
                                .rating-summary{
                                    left: 0;
                                    margin-right: 0;
                                    .rating-result{
                                        width: 82px;
                                    }
                                }
                            }                            
                        }
                    }
                }
            }
        }
        .product-item {
            width: 100% !important;
        }
    }
    .rating-summary .rating-result > span:before {
        color: #eaa92e;
    }
    .reviews-actions {
        display: none;
    }
    .product-reviews-summary {
        margin: 0;
        display: block;
        padding: 0;
        text-align: center;
        position: absolute;
        left: 52%;
        transform: translate(-50%, -50%);
        top: 5px;
    }
    .product-item .product-reviews-summary .rating-summary {
        left: 0;
        overflow: visible;
    }
    .column.main {
        width: 79.1% !important;
        padding: 0;
    }
    .field.limiter {
        display: none;
    }
    .pages {
        float: none;
        .item {
            padding: 0 10px;
            font-family: @font-family-medium;
            font-size: 26px;
            a {
                color: #010101;
            }
            strong {
                padding: 0;
            }
            &.current {
                border: solid 1px #000;
                color: #010101;
            }
            .action {
                background: none;
                box-shadow: none;
            }
        }
    }
}

.page-products{
    .breadcrumbs{
        ul{
            li{
                strong{
                    font-family: 'Conv_DINOT-Bold';
                }
            } 
        } 
    } 
    .products-grid{
        .products.list{
            li{
                padding-top: 25px;
            }
        } 
    } 
}

.page-products{
    .filter-options{
        .filter-options-item{
            .filter-options-content{
                .swatch-attribute-options{
                    .swatch-option-link-layered{
                        .swatch-option {
                            min-width: 30px;
                            height: 30px;
                        }
                    } 
                } 
            } 
        } 
    } 
}



.products-grid {
    .products.list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 30px;
        li {
            width: 23.5%;
            border: solid 1px #ddd;
            border-radius: 20px;
            margin-bottom: 30px;
            padding: 10px;
            position: relative;
            transition: .5s all ease;
            .product-item-name {
                text-align: center;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                min-height: 53px;
            }            
            .product-item-inner {
                display: none;
            }
            .product-item-info {
                width: 100%;
                text-align: center;
            }
            &:hover {
                box-shadow: 0 0 10px 5px #eee;
//                z-index: 999;
                position: relative;
                a {
                    text-decoration: none;
                    color: #e9a627;
                }
                .product-item-info {
                    background: none;
                    box-shadow: none;
                    border: none;
                    padding: 0;
                    width: 100%;
                }
                .product-item-inner {
                    display: block;
                    position: absolute;
                    bottom: 14px;                   
                    padding: 0;
                    border: none;
                    box-shadow: none;
                    margin: 0 auto;
                    left: 10px;
                    right: 10px;
                    .product-item-actions {
                        display: flex;
                        justify-content: center;
                        padding: 0 0px;;
                        width: 100%;
                        margin-bottom: 0;
                        .actions-secondary {
                            .buynow-btn {
                                display: none; 
                            }
                            order: 1;
                            width: 49%;                            
                            margin-right: 4px;
                            a {
                                background: #f5a622;
                                border: none;
                                width: 100%;
                                color: #000;
                                height: 35px;
                                text-transform: uppercase;
                                font-family: @font-family-medium;                                
                                padding: 0px 0;
                                border-radius: 3px;
                                display: block;
                                position: relative;
                                padding-left: 18px;
                                font-weight: normal;
                                font-size: 1.056rem;
                                line-height: 35px;
                                letter-spacing: 0;
                                span {
                                    position: relative;                                  
                                    padding: 0;
                                    clip: auto;
                                    width: auto;
                                    height: auto;
                                    margin: 0;
                                    display: block;
                                    line-height: 35px;
                                    
                                }
                                &::before {
                                    content: "\f08a";
                                    font-family: 'FontAwesome';
                                    font-size: 14px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 0;
                                    position: absolute;
                                    left: 4px;
                                    color: #000;
                                    top: 10px;
                                }
                            }
                        }
                        .wishlist {
                            width: 43%;
                            order: 2;
                            a {
                                background: #f5a622;
                                border: none;
                                width: 100%;
                                color: #000;
                                height: auto;
                                text-transform: uppercase;
                                font-family: @font-family-medium;
                                font-size: 12px;
                                padding: 7px;
                                border-radius: 2px;
                                display: block;
                                position: relative;
                                padding-left: 24px;
                                &::before {
                                    content: "\f08a";
                                    font-family: 'FontAwesome';
                                    font-size: 14px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: 0;
                                    position: absolute;
                                    left: 4px;
                                    color: #000;
                                    top: 9px;
                                }
                            }
                        }
                        .actions-primary {
                            width: 49%;
                            order: 2;                            
                            margin-left: 4px;
                            button {
                                background: #40549d url(../images/cart.svg) no-repeat 10px 7px;
                                border: none;
                                width: 100%;
                                color: #fff;
                                font-family: 'Conv_DINOT-Medium';
                                font-size: 1.056rem;
                                text-transform: uppercase;
                                padding: 0px 10px;
                                border-radius: 3px;
                                background-size: 18px;
                                font-weight: normal;
                                padding-left: 25px;
                                height: 35px;
                            }
                        }
                    }
                }
            }
            .stock.unavailable {
                position: absolute;
                color: #e9a627;
                top: 10px;
                font-family: @font-family-medium;
                right: 10px;
            }            
            .companyname {
                color: #2d6dab;
                padding-top: 15px;
                text-align: center;
                font-family: @font-family-medium;
            }
            .product-desc {
                text-align: center;
                padding: 0 10px;
                a {
                    font-size: 16px;
                    color: #585858;
                    line-height: normal;
                    display: inline-block;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
            }
            .product-item-details {
                text-align: center;
                padding: 0;
                span {
                    &.price {
                        color: #454336;
                        font-family: @font-family-medium;
                        font-size: 20px;
                        font-weight: normal;                        
                    }
                }
            }
            .product-hover {
                display: none !important;
            }
            .price-box.price-final_price {
                span.price-label {
                    display: none;
                }
            }
            .old-price {
                span.price {
                    text-decoration: line-through;
                    opacity: 0.5;
                    padding-left: 10px;
                }
            }
        }
    }
}
.toolbar-sorter {
    &.sorter {
        float: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: @color-btn;
        color: #fff;
        border-radius: 10px;
        font-family: @font-family-medium;
        padding: 0px 0 0;
        .sorter-label {
            color: #fff;
            font-size: 16px;
            padding: 5px 20px;
            margin: 0px;
        }
        .sort-list {
            display: flex;
            justify-content: space-around;
            width: 90%;
            list-style: none;
            a {
                font-size: 16px;
                color: #fff;
                text-decoration: none;
                transition: .5s all ease;
                display: block;
                padding: 6px 20px;                
                &.active {
                    background: #f5a622;  
                }
            }
            li {
                &.active {
                    a {
                       background: #f5a622; 
                    }
                }
            }
        }
        .action.sorter-action.sort-asc {
            display: none;
        }
    }
}
.toolbar {
    &.toolbar-products {
        .modes {
            display: none;
        }
        .toolbar-amount {
            display: none;
        }
    }
}
.toolbar {
    margin-bottom: 24px;
}
#layered-filter-block-container {
    border: solid 1px #898989;
    border-radius: 20px;
    .filter-current {
        padding: 20px 25px 0 25px;
        font-size: 16px;
        color: #151515;
        li {
            a {
                &.action.remove {
                    display: inline-block;
                    margin-top: 10px;
                    color: #151515;
                    font-family: @font-family-medium;
                    font-weight: normal;
                    border-bottom: none;
                    font-size: 14px;
                    &:after {
                        content: "\f00d";
                        font-family: 'FontAwesome';
                        color: #000;
                        font-weight: 100;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    span{
                        display: none;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .block-actions {
        &.filter-actions {
            padding: 10px 25px;
            margin: 0;
            .filter-clear {
                color: #fff;
                font-family: @font-family-medium;
                font-size: 12px;
                padding: 8px 20px;
                text-decoration: none;
                transition: .5s all ease;
                background: @color-btn;
                border-radius: 30px;
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    .block-title {
        &.filter-title {
            border-bottom: solid 1px #898989;
            padding: 15px 0 14px 20px;
            margin: 0;
            strong {
                font-size: 22px;
                font-family: @font-family-medium;
                font-weight: normal;
            }
        }
    }
    .filter-options {
        .filter-options-title {
            font-size: 18px !important;
            font-weight: normal !important;
            border-bottom: solid 1px #898989;
            padding: 14px 0 14px 20px;
            font-family: @font-family-medium;
            margin: 0;
            cursor: pointer;
        }
        .filter-options-content {
            padding: 15px 20px 15px 20px;
            font-size: 15px; 
            color: #000;
            border-bottom: solid 1px #898989;
            margin: 0;
            .count {
                display: none;
            }
            .layer-search-box {
                border: solid 1px #898989;
                height: auto;
                padding: 10px;
                margin-bottom: 10px;
            }
            a {
                position: relative;
                .rating-result {
                    width: 78px !important;
                    overflow: hidden;
                }
                .rating-star {
                    vertical-align: text-top;
                }
                .above {
                    position: absolute;
                    background: #fff;
                    left: 28px;
                    z-index: 9;
                    width: 70%;
                    padding-left: 5px;
                    top: 1px;
                }
                color: #151515;
                span {
                    color: #151515;
                }
            }
            .form-inline {
                display: none;
            }
        }
    }
    .filter-options-item {
        position: relative;
        &:last-child {
            .filter-options-title {
                border: none;
            }
            .filter-options-content {
                border-bottom: none;
            }
        }
        &::before {
            content: '';
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            right: 15px;
            top: 16px;
            z-index: -1;
        }
        &.active {
            &::before {
                 transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                top: 22px;
            }
        }
    }
    .block {
        &.filter {
            margin-bottom: 0;
        }
    }
}
.category-view {
    display: none;
}
.item {
    &.product {
        &.product-item {
            .gms-certified {
                display: block;
                background: url(../images/certified-icon-01.svg) no-repeat right top;
                width: 90px;
                font-size: 0px;
                height: 21px;
                position: absolute;
                right: 10px;
                top: 5px;
            }
        }
    }
}
.sidebar {
    &.sidebar-main {
        padding: 0;
        width: 19.6% !important;
        .homepageappinfo {
            display: block;
            padding: 30px 20px;
            margin-top: 60px;
            .list {
                text-align: center;
                width: 100%;
                margin: 0;
                padding-bottom: 20px;
                padding-right: 0px;
                &:first-child {
                    padding-bottom: 70px;
                }
                p {
                    font-size: 36px;
                }
            }
        }
    }
}
#layer-product-list  {
    .toolbar.toolbar-products {
        display: block !important;
    }
}
.filter-options-content .rating-summary .rating-result > span:before {color: #345288;}

.catalogsearch-result-index {
    font-size: 1.4rem;
    .page-title-wrapper{
        display: none;
    }
    #layer-product-list{
        .modes,.toolbar-amount,.pages,.limiter {
            display: none;
        }
        .sorter a.action.sorter-action.sort-desc {
            display: none;
        }
    } 
    main#maincontent {
        min-height: 100vh;
    }
    p.suggested {
        display: none;
    }
    #layer-product-list h3 {
        display: none;
    }
    div#layer-product-list h3 + ul {
        display: none;
    }
    .page-title-wrapper {
        text-align: center;
        .page-title {
            display: inline-block;
            font-size: 25px;
            color: #2c2c2c;
            font-family: 'Conv_DINOT-Medium';
            width: 100%;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }
}


.page-products{
    .suggested {
        font-size: 1.4rem;
    }
    .products-grid{
        .product-items{
            .product-item-inner{
                .product-item-actions{
                    .actions-secondary{
                        a.action.tocompare {
                            display: none !important;
                        }
                    } 
                } 
            } 
            .product-item-info{
                .product-reviews-summary{
                    display: block;                    
                    text-align: center;
                    .rating-summary{
                        display: inline-block;
                        left: 0px;
                    }
                    .reviews-actions {
                        display: none;
                    }
                }
            }
        }
    }
    
} 

#layered-filter-block-container .block.filter{
    .block-content.filter-content{
        strong.block-subtitle.filter-subtitle {
            display: none; 
        }
    }    
}

/*.page-products{
    .sidebar-main{
       #layered-filter-block-container.sidebar-sticky {
            position: fixed;
            top: 90px;
            left: 50px;           
            width: 18%; z-index: 999;
            -webkit-animation: 0.7s ease-out 0s 1 normal forwards running fadeInDown;
            -moz-animation: 0.7s ease-out 0s 1 normal forwards running fadeInDown;
            -ms-animation: 0.7s ease-out 0s 1 normal forwards running fadeInDown;
            animation: 0.7s ease-out 0s 1 normal forwards running fadeInDown;
            height: 740px;
            overflow-y: scroll; background: #fff;
            &::-webkit-scrollbar {
                width: 3px;
            }
            
            &::-webkit-scrollbar-track {
                background: #f1f1f1; 
            }
            
            &::-webkit-scrollbar-thumb {
                background: #f1f1f1; 
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #f1f1f1; 
            } 
        } 
    }
}
*/
.page-products{
    .rating-summary{
        .rating-result{
            width: 83px;
        }
    } 
}


  @media only screen and (max-width:1600px){

   /* .page-products{
        .sidebar-main{
            #layered-filter-block-container.sidebar-sticky {
                height: 510px;
            }
        }
    }
*/
  }

  @media only screen and (max-width:1440px){

    .products-grid{
        .products.list{
            li:hover{
                .product-item-inner{
                    .product-item-actions{
                        .actions-primary{
                            button{
                                font-size: 1rem;
                            }
                        } 
                        .actions-secondary{
                            a{
                                font-size: 1rem;
                            }
                        } 
                    } 
                } 
            } 
        } 
    } 

  }

@media only screen and (max-width:1400px){

    /*page-products{
        .sidebar-main{
            #layered-filter-block-container.sidebar-sticky {
                height: 510px;
            }
        }
    }*/

    .products-grid{
        .products.list li:hover{
            .product-item-inner{
                .product-item-actions{
                    .actions-primary{
                        button{
                            font-size: 0.9rem;
                        }
                    } 
                    .actions-secondary{
                        a{
                            font-size: 0.9rem;
                        }
                    } 
                } 
            } 
        } 
    } 

}

@media only screen and (max-width:1385px){



    .products-grid{
        .products.list{
            li:hover{
                .product-item-inner{
                    .product-item-actions{
                        .actions-primary{
                            button{
                                font-size: 0.9rem;
                            }
                        } 
                        .actions-secondary{
                            a{
                                font-size: 0.9rem;
                            }
                        } 
                    } 
                }                
            }
        } 
    } 

}

@media only screen and (max-width:1250px){




    .products-grid{
        .products.list{
            li:hover{
                .product-item-inner{
                    .product-item-actions{
                        .actions-primary{
                            button{
                                font-size: 0.8rem;
                            }
                        } 
                        .actions-secondary{
                            a{
                                font-size: 0.8rem;
                            }
                        } 
                    } 
                }                
            }
        } 
    } 

}
#ln_product_overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 99;
}
@media only screen and (max-width:1400px){
    #layered-filter-block-container{
        .filter-options{
            .filter-options-title{
                font-size: 16px !important;
                padding: 14px 0 14px 15px;
            }
            .filter-options-content{
                padding: 15px 15px 15px 15px;
                font-size: 14px;
            }
        } 
    } 
}
@media only screen and (max-width:1300px){
    .sidebar.sidebar-main .homepageappinfo .list p {font-size: 30px;}
}
@media only screen and (max-width:1280px){
    #layered-filter-block-container .filter-options .filter-options-content {padding: 15px 15px 25px 15px;}
    #layered-filter-block-container .filter-options .filter-options-content a {font-size: 13px;}
    #layered-filter-block-container .filter-options .filter-options-title {padding-left: 15px; font-size: 15px !important;}
    #layered-filter-block-container .block-title.filter-title{padding: 15px 0 14px 15px;}
    .page-products{
        .toolbar-sorter.sorter{
            .sorter-label{
                font-size: 14px;
            }
            .sort-list{
                a{
                    font-size: 14px;
                }
            } 
        } 
    } 
}


@media only screen and (max-width:1199px) and (min-width:1025px){



    .page-products{
        .brandedpartshome {
            padding-left: 15px;
            padding-right: 15px;
        }
        .homebtmcrowsel{
            padding-left: 15px;
            padding-right: 15px;
        }
    } 

    .sidebar.sidebar-main{
        .homepageappinfo{
            .list{
                span{
                    font-size: 16px;
                }
                p{
                    font-size: 20px;
                }
            } 
        } 
    } 
    .page-products{
        .products-grid{
            .products.list{
                li{
                    width: 32%;
                    margin-left: 2% !important;
                    &:nth-child(3n + 1) {
                        margin-left: 0% !important;
                    }
                }
            } 
        } 
    }

    #layered-filter-block-container{
        .filter-options-item{
            &:before{
                right: 20px;
                padding: 3px;
            }
        }
        .filter-options{
            .filter-options-title{
                font-size: 14px !important;
            }
        } 
    } 

    .toolbar-sorter.sorter{
        .sort-list{
            a{
                font-size: 14px;
                padding: 6px 10px;
            }
        }  
        .sorter-label{
            font-size: 14px;
            padding: 5px 10px;
        }
    } 


}

@media only screen and (max-width:1024px){

    .page-products{
        .breadcrumbs {
            margin-top: 0px !important;
        }
        .brandedpartshome {
            padding-left: 15px;
            padding-right: 15px;
        }
        .homebtmcrowsel {
            padding-left: 15px;
            padding-right: 15px;
            .innersection{
                border-radius: 10px;
                padding-left: 0;
                padding-right: 0;
                display: block;
                .col-xl-4{
                    max-width: 100%;
                }
            }            
        }
        .sidebar.sidebar-main{
            .homepageappinfo{
                padding: 20px 10px;
                margin-top: 30px;
                border-radius: 10px;
                .list{
                    p {
                        font-size: 18px;
                    }
                } 
            }
        } 
        .toolbar-sorter.sorter{
            border-radius: 5px;
            .sorter-label{
                font-size: 12px;
                padding: 5px 10px;
            }
            .sort-list{
                a{
                    font-size: 12px;
                    padding: 6px 10px;
                }
            } 
        } 
        #layered-filter-block-container{
            border-radius: 10px;
            .filter-options-item{
                &:before{
                    padding: 2px;
                    right: 10px;
                    top: 12px;
                }
                &.active{
                    &:before{
                        top: 14px;
                    }
                }
            }
            .filter-options{
                .filter-options-title {
                    padding-left: 10px;
                    font-size: 12px !important;
                    padding: 10px 0 10px 10px;
                    padding-left: 10px;
                }
                .filter-options-content {
                    padding: 15px 15px 15px 15px;
                }
            } 
            .block-title.filter-title{
                padding: 10px 0 10px 10px;
                strong{
                    font-size: 16px;
                }
            } 
        } 
        .products-grid{
            .products.list{
                li{
                    width: 49%;
                    margin-left: 2%;
                    border-radius: 10px;
                    &:nth-child(2n + 1) {
                        margin-left: 0;
                    }                   
                }
            } 
        } 
    }

}

.page-products{
    .sidebar.sidebar-main{
        .filter-options-content a{
            display: inline-block !important;
            vertical-align: middle;
            padding-bottom: 0;
        }
    }
}
.page-products{
    #layered-filter-block-container{
        .filter-options{
            .filter-options-content{
                .ln-show-less {
                    display: none !important;
                    &.active {
                        display: block !important;
                    }
                }
                .ln-show-more{
                    display: none !important;
                    &.active {
                        display: block !important;
                    }
                }
            } 
        } 
    } 
} 
.page-products{
    .breadcrumbs + .message.notice {
        display: none;
    }
    .irs-from, .irs-to, .irs-single{
        background: #f5a622;
    }
    .irs-from:after, .irs-to:after, .irs-single:after{
        border-top-color: #f5a622;
    }
    .irs-min, .irs-max{
        background: #273c97;
        color: #fff;
    }
    .filter-options{
        .filter-options-content{
            .item{
                input[type="checkbox"]{
                    top: 3px;
                }
                input[type="radio"] {
                    vertical-align: middle;
                    display: inline-block;
                    margin-top: 2px;
                }
            } 
        } 
    } 
}
