		
		
          <div class="avatar m-t-50"><img src="<?php echo $this->getViewFileUrl('images/avatar.png'); ?>" alt="" /></div>
	
		
			<?php
			$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
			$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			 
			?>
        	<h3>Welcome to <?php if($customerSession->isLoggedIn()) { ?><?php  echo $customerSession->getCustomer()->getName(); }else {?>Panasonic <?php }
			?></h3>
            <div class="btns m-b-30">
			
			<?php if($customerSession->isLoggedIn()) { ?>
			<a class="btn" href="<?php echo $baseurl .'customer/account/logout'; ?>">LOGOUT</a>
			<?php }else { ?>
			
			<a class="btn-primary" href="<?php echo $baseurl .'customer/account/create'; ?>">Join</a>       
			<a class="btn" href="<?php echo $baseurl .'customer/account/login'; ?>">Sign in</a>       
			<?php
			 }  
			?>
            
            </div>
			 
			
			