<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */

$show_language_bar='yes';
$storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();
$helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$customerId = $helper->getCustomerId();
if($customerId){
$customerType = $helper->getCustomerGroup();
if($customerType == 'General'){
  $customerType = 'Individual';
}
}

?>
<div id="app-style"> <style>#magecomp-cookie-template{ display:none !important } #android-plusicon { display:none; } </style>
</div>
<script>
	var ref = document.referrer.includes('android-app');
	if(ref == true){
		sessionStorage.setItem("isapp", true);
	}
	if(sessionStorage.getItem("isapp")==null){
		var element = document.getElementById("app-style");
		element.parentNode.removeChild(element);
	}
</script>
<span data-action="toggle-nav" class="action nav-toggle"><span><?= $block->escapeHtml(__('Toggle Nav')) ?></span></span>
<a
    class="logo"
    href="<?= $block->escapeUrl($block->getUrl('')) ?>"
    title="<?= $block->escapeHtmlAttr($storeName) ?>"
    aria-label="store logo">
    <img src="<?php echo $block->getViewFileUrl('images/gms-main-logo.svg'); ?>"
         title="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
         alt="<?= $block->escapeHtmlAttr($block->getLogoAlt()) ?>"
            <?= $block->getLogoWidth() ? 'width="' . $block->escapeHtmlAttr($block->getLogoWidth()) . '"' : '' ?>
            <?= $block->getLogoHeight() ? 'height="' . $block->escapeHtmlAttr($block->getLogoHeight()) . '"' : '' ?>
    />
</a>
<?php if($show_language_bar=='yes'):?>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en',includedLanguages : 'hi,ta,bn'}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<?php endif;?>
<script>
    require(['jquery'],function($){

        $(document).ready(function(){
            var h3height = 0;
            $('.dealoftheday').height();
            var hightcls = $('.dealoftheday').height();
            $('.orderstatus').css("height",hightcls); 
            $('.browsinghistory').css("height",hightcls); 
            //console.log($('.dealoftheday').height());
            // $('.homepagemainbanner .bannerleft .hoverintial').each(function() {
            //     if(h3height < $(this).outerHeight()){
            //         h3height = $(this).outerHeight();
            //     };
            // });
            // $('.homepagemainbanner .bannerleft .hoverintial').height(h3height);
        });

        $('.block-search input').focusin(function(){
           $(this).removeAttr('placeholder');
        });  
        $('.block-search input').focusout(function(){
           $(this).attr('placeholder','Search entire store here...');
        }); 
        setTimeout(function(){ 
            if($('body').hasClass('logged-in')){

        }else{
            $("a.action.towishlist").removeAttr("data-post"); 
        }
        }, 1000);
        $(document).on('click','a.action.towishlist',function(e){
            if($('body').hasClass('logged-in')){
            }else{
                e.preventDefault();
                $('a.trigger-auth-popup').trigger('click');
            }
        });

        $(document).on('click','.action.primary.tocart',function(){
            $.removeCookie('errormessage', { path: '/' });
            $.removeCookie('oldmessage', { path: '/' });
        });
        $(document).on('click','a.action.towishlist',function(){
            $.removeCookie('oldmessage', { path: '/' });
        });

        $(document).on('click','.close-mini',function(){
          $(this).parents('.minicart-wrapper').removeClass('active');
          $(this).parents('.minicart-wrapper').find('.showcart').removeClass('active');
          $('body').removeClass('opened');
          $('body').css({"overflow":"visible","height":"auto"});
          $('html').css({"overflow":"visible","height":"auto"});
        });

        
             
    });
</script>
<script type="text/javascript">
    require(['jquery'],function($) {
        $(document).ready(function(){
            $("body").click(function(e)
                {
                    var checkclass = e.target.className ;  
                    if (e.target.className == "minicart-wrapper active"){
                        $('body').removeClass('opened');
                        $('body').css({"overflow":"visible","height":"auto"});
                        $('html').css({"overflow":"visible","height":"auto"});
                    }
                }
            );
        });
    });
</script>
<style>
	
    @-webkit-keyframes spin {
        0% { -webkit-transform: translate(-50%,-50%) rotate(0deg); }
        100% { -webkit-transform: translate(-50%,-50%) rotate(360deg); }
    }
    
    @keyframes spin {
        0% { transform: translate(-50%,-50%) rotate(0deg); }
        100% { transform:translate(-50%,-50%)  rotate(360deg); }
        }

        .checkout-index-index .loading-mask .loader img{
            position: relative !important;
        }

</style>
<script>
    require(['jquery','Countly'],function($,Countly){
        $(document).on('click','.action-login',function(){
            var cusEmail = $(this).parents('#login-form').find('#customer-email').val();
            Countly.q.push(['add_event',{
              "key": "Login",
              "browser":{
                  "Chrome":true
                },
              "segmentation": {
                  "email": cusEmail
              }
            }]);
        });
        $(document).on('focusout','#search',function(){
            var searchString = $(this).val();
             Countly.q.push(['add_event',{
              "key": "Search",
              "browser":{
                  "Chrome":true
                },
              "segmentation": {
                  "searchString": searchString
              }
            }]);
        });
        $(document).on('click','.mst-searchautocomplete__wrapper li',function(){
            var searchString = $(this).parents('.control').find('#search').val();
            console.log(searchString);
             Countly.q.push(['add_event',{
              "key": "Search",
              "browser":{
                  "Chrome":true
                },
              "segmentation": {
                  "searchString": searchString
              }
            }]);
        });
        $(document).on('click','.nav-extra',function(){
            var clickedLink = $(this).text();
             Countly.q.push(['add_event',{
              "key": "quick_search",
              "browser":{
                  "Chrome":true
                },
              "segmentation": {
                  "searchString": clickedLink
              }
            }]);
        });

        
    });
</script>
<?php 
$helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$areaOfInterest = $helper->getCustomerAreaOfInterest();
$mobileNumber = $helper->getCustomerMobileNumber();
$customerName = $helper->getCustomerName();
$customerEmail = $helper->getCustomerEmail();
?>
<?php if($areaOfInterest):?>
    <script>
    require(['jquery','Countly'],function($,Countly){
        var areaOfIntrest = "<?php echo $areaOfInterest?>";
        Countly.userData.set("area_of_interest", areaOfIntrest);
        Countly.userData.save();
    });
</script>
<?php endif;?>
<?php if($mobileNumber):?>
    <script>
    require(['jquery','Countly'],function($,Countly){
        var mobileNumber = "<?php echo $mobileNumber?>";
        var cusName = "<?php echo $customerName?>";
        var cusEmail = "<?php echo $customerEmail?>";
        var cusType = "<?php echo $customerType?>";
        var customerUnqieId = "<?php echo $customerId?>";
        Countly.userData.set("mobile", mobileNumber);
        Countly.userData.set("customer_type", cusType);
        Countly.userData.save();
        Countly.user_details({
        "name": cusName,
        "email": cusEmail,
        "phone": mobileNumber,
        });
        Countly.change_id(customerUnqieId, true);
        Countly.q.push(['change_id', customerUnqieId, true]);
    });
</script>
<?php endif;?>  
<?php
 if($helper->getCustomerBillingAddress()->getData()):?>
<script>
    require(['jquery','Countly'],function($,Countly){
        var billingCity = "<?php echo $helper->getCustomerBillingAddress()->getData('city')?>";
        var billingRegion = "<?php echo $helper->getCustomerBillingAddress()->getData('region')?>";
        var billingPostCode = "<?php echo $helper->getCustomerBillingAddress()->getData('postcode')?>";
        var billingStreet = "<?php echo $helper->getCustomerBillingAddress()->getData('street')?>";
        Countly.userData.set("billing_city", billingCity);
        Countly.userData.set("billing_region", billingRegion);
        Countly.userData.set("billing_postcode", billingPostCode);
        Countly.userData.set("billing_street", billingStreet);
        Countly.userData.save();
    });
<?php endif;?>   
</script>
<?php 
if($helper->getCustomerShippingAddress()->getData()):?>
<script>
    require(['jquery','Countly'],function($,Countly){
        var shippingCity = "<?php echo $helper->getCustomerShippingAddress()->getData('city')?>";
        var shippingRegion = "<?php echo $helper->getCustomerShippingAddress()->getData('region')?>";
        var shippingPostCode = "<?php echo $helper->getCustomerShippingAddress()->getData('postcode')?>";
        var  shippingStreet = "<?php echo $helper->getCustomerShippingAddress()->getData('street')?>";
        Countly.userData.set("shipping_city", shippingCity);
        Countly.userData.set("shipping_region", shippingRegion);
        Countly.userData.set("shipping_postcode", shippingPostCode);
         Countly.userData.set("shipping_street", shippingStreet);
        Countly.userData.save();
    });
<?php endif;?>   
</script>
<?php 
$currentFullAction = $block->getRequest()->getFullActionName();
$cmspages = array('cms_index_index','cms_page_view');

?>
<?php if(in_array($currentFullAction, $cmspages)):?>
<script>
    require(['jquery','Countly'],function($,Countly){
    var pageName = $('.breadcrumbs .cms_page strong').text();
    if(!pageName){
        pageName = 'home page landing'; 
    }  
    Countly.q.push(['add_event',{
              "key": "page_view",
              "browser":{
                  "Chrome":true
                },
              "segmentation": {
                "pageName": pageName,
                <?php if($customerId){ ?>
                  "customerId": "<?php echo $customerId ?>"
                 <?php }else{ ?>
                  "Guest": "Guest"  
                <?php } ?>
                }
    }]);
});
</script>
<?php endif;?>
<script>
require(['jquery','mage/cookies'],function($){
    var deviceId = window.localStorage.getItem('device_id');
    var dt = new Date();
    var cusId = 0;
    var date = new Date();
    var minutes = 30;
    date.setTime(date.getTime() + (minutes * 60 * 1000));
    var systemDeviceId = dt.getDate() + "" + dt.getMonth() + "" + dt.getHours() + "" + dt.getMinutes() + "" + dt.getSeconds() + "" + dt.getMilliseconds();
    if(!deviceId){
        window.localStorage.setItem('device_id',systemDeviceId);
        $.cookie('device_ids', systemDeviceId, { path: '/', expires: 365 });
    }
    if(!$.cookie('device_ids')){
        $.cookie('device_ids', deviceId, { path: '/' , expires: 365});
    }
    <?php if($customerId):?>
            cusId = "<?php echo $customerId ?>";
            console.log(cusId);
            var customUrl = '<?php echo $block->getBaseUrl()?>homepagetopproducts/index/customerrecentviewadded';
            $.ajax({
                type: "POST",
                cache: 'false',
                url: customUrl,
                data: { 
                    'device_id': deviceId,
                    'customer_id':cusId
                }
	        });
            if(!$.cookie('customer_id')){
                $.cookie('customer_id', cusId, { path: '/' }); 
            }
    <?php endif;?>
    $(document).on("input","#mobile,#telephone,input[name='telephone']", function() {
	  if (/^0/.test(this.value)) {
	    this.value = this.value.replace(/^0/, "");
        alert("Please enter a valid mobile number");
	  }
	  if (/^1/.test(this.value)) {
	    this.value = this.value.replace(/^1/, "");
        alert("Please enter a valid mobile number");
	  }
	  if (/^2/.test(this.value)) {
	    this.value = this.value.replace(/^2/, "");
        alert("Please enter a valid mobile number");
	  }
	  if (/^3/.test(this.value)) {
	    this.value = this.value.replace(/^3/, "");
        alert("Please enter a valid mobile number");
	  }
	  if (/^4/.test(this.value)) {
	    this.value = this.value.replace(/^4/, "");
        alert("Please enter a valid mobile number");
	  }
	  if (/^5/.test(this.value)) {
	    this.value = this.value.replace(/^5/, "");
        alert("Please enter a valid mobile number");
	  }
    });
});   
</script>