{{template config_path="design/email/header_template"}}
<!--@subject {{var subject}} @-->
<p class="greeting" style="font-weight: 700;">Dear {{var greeting_name}},</p>

<p>{{var msg}}</p>

{{template config_path="design/email/footer_template"}}