{{template config_path="design/email/header_template"}}
<!--@subject {{var subject}} @-->
<p class="greeting" style="font-weight: 700;">Dear {{var greetingName}},</p>

<table style="border-collapse: collapse; width: 100%; height: 252px;" border="1">
    <tbody>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; text-align: center;"><strong>Claim Information Format</strong>
            </td>
            <td style="width: 60%; height: 18px; text-align: center;"><strong>Data Value</strong></td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Policy No</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var policy_no}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Insured</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">Panasonic India Pvt</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Policy Copy</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var policy_copy}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">RMA ID</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var rma_id}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Part Number</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var part_number}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Part Name</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var part_name}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Quantity</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var quantity}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Invoice no &amp; Date</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var invoice_no}}&nbsp;&nbsp;{{var invoice_date}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">LR/GR No &amp; Date</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var awb_no}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Loss Estimate</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var loss_estimate}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Reserve Amount in CRM</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var rsrv_amt_crm}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Loss Date</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var cust_return_date}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Reported Date</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var cust_return_date}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Location</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var seller_address}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Coverage Details</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var coverage_details}}</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Contact Person</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">
                {{var seller_firstname_name}} &nbsp;
                {{var seller_middlename_name}} &nbsp;
                {{var seller_lastname_name}}
            </td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 40%; height: 18px; padding-left: 20px;">Contact Mobile No</td>
            <td style="width: 60%; height: 18px; padding-left: 20px;">{{var seller_mobile}}</td>
        </tr>
    </tbody>
</table>
<h3>Damaged Product Images :</h3>
<p>{{var dmg_product_images|raw}}</p>
<h3>{{var click_here|raw}}</h3>
<h3>{{var dmg_certificate}} </h3>
{{template config_path="design/email/footer_template"}}