<?php
$order      = $this->getOrder();
$orderItems = $order->getAllItems();
?>

<form class="needs-validation" id="form_procure" method="post" autocomplete="off">
	<input type="hidden" id="form_orderid" name="orderid" value="<?php echo @$_GET['orderid']; ?>" />
	<div class="row">
		<div class="col-6 mb-6"><strong>Product Name</strong></div>
		<div class="col-4 mb-4"><strong>Sku</strong></div>
		<div class="col-2 mb-2"><strong>Qty</strong></div>
	</div>
	<div style="clear:both;margin-top:20px;"></div> 
	
	<?php foreach($orderItems as $item){ ?>
		<?php 
			$cids =  $this->getCategoryIds($item['product_id']); 		
		?>
		<div class="row">
			<div class="col-6 mb-6"><?php echo $item['name']; ?></div>
			<div class="col-4 mb-4"><?php echo $item['sku']; ?></div>
			<div class="col-2 mb-2">
				<input type="text" <?php echo (in_array(7,$cids)) ? 'disabled="disabled"':'name="'.$item['product_id'].'"'; ?>  data-validate="{required:true,'max':<?php echo round($item['qty_ordered']); ?>}" value="<?php echo (in_array(7,$cids)) ? 0 : round($item['qty_ordered']); ?>">
			</div>
		</div>
		<div style="clear:both;margin-top:10px;"></div> 
	<?php } ?>
	
	<div style="clear:both;margin-top:50px;"></div> 
	<div class="row justify-content-md-center">
		<div class="col-md-6 mb-4">
			<button class="btn btn-primary submit" type="button" id="submit-button">Submit Procurement</button>
		</div>
	</div>
</form>
<script type="text/javascript">
require(['jquery','mage/mage'], function($){
   var dataForm = $('#form_procure');
   dataForm.mage('validation', {});
   
	$('button#submit-button').click( function() {
		var status = dataForm.validation('isValid');
		if(status){		
			var orderId = $('#form_orderid').val();
			$(this).attr("disabled","disabled");
			$(this).text('Please wait ...');
			jQuery.ajax({
				type : 'POST',
				url : "/iic/index/index?orderid="+orderId+'&action=create', 
				data : jQuery('#form_procure').serialize(),
				success: function(){
						$('#procurement_popup').html('<h2><center>Procurement Submited Successfully !!</center></h2>');
						//window.location.reload(true);					
				}
			});
		}
	});
});
</script>
