<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile
// updated file to add notification for seller.
$_helper = $this->helper('Webkul\Marketplace\Helper\Data');
$isPartner= $_helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
$allow_pro_type=$_helper->getAllowedProductType();
$isSellerGroup = $_helper->isSellerGroupModuleInstalled();
$productNotificationCount = $block->getProductNotificationCount();
$orderNotificationCount = $block->getOrderNotificationCount();
$transactionCount = $block->getTransactionNotificationCount();
?>
<nav data-mage-init='{"Webkul_Marketplace/js/sellerNavigation": {}}' class="wk-mp-menu wk-mp-main">
    <ul id="wk-mp-nav">
        <?php 
        if($isPartner){ ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/account/dashboard')) || !$isSellerGroup) { ?>
                <li class="wk-mp-item-dashboard level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/account/dashboard')? "current active":"";?>" id="wk-mp-menu-dashboard" >
                    <a href="<?php echo $block->getUrl('marketplace/account/dashboard', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/account/dashboard')? "active":"";?>">
                        <span><?php echo __('Dashboard') ?></span>
                    </a>
                </li>
            <?php 
            } ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/order/history')) || !$isSellerGroup) { ?>
                <li class="nav item notification-link wk-mp-item-order level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/order')&&(!strpos($magentoCurrentUrl,'marketplace/order/shipping/'))? "current active":"";?>" id="wk-mp-menu-order" >
                    <a href="<?php echo $block->getUrl('marketplace/order/history', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/order')&&(!strpos($magentoCurrentUrl,'marketplace/order/shipping/'))? "active":"";?>">
                        <span><?php echo __('Orders') ?></span>
                    </a>
                </li>
            <?php } ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/product/add')) || ($isSellerGroup && $_helper->isAllowedAction('marketplace/product/productlist')) || ($isSellerGroup && $_helper->isAllowedAction('marketplace/product_attribute/new')) || !$isSellerGroup) { ?>
                <li class="wk-mp-item-product level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/product/')? "current active":"";?>" id="wk-mp-menu-product">
                    <a href="#" onclick="return false;" class="">
                        <span><?php echo __('Products')?></span>
                    </a>
                    <div class="wk-mp-submenu">
                        <strong class="wk-mp-submenu-title"><?php echo __('Products')?></strong>
                        <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
                        <ul>
                            <li data-ui-id="menu-webkul-marketplace-menu" class="item-menu  parent  level-1">
                                <strong class="wk-mp-submenu-group-title">
                                    <span><?php echo __('Menu')?></span>
                                </strong>
                                <div class="wk-mp-submenu">
                                    <ul>
                                        <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/product/add')) || !$isSellerGroup) { ?>
                                            <li class="level-2">
                                                <a href="<?php echo $block->getUrl('marketplace/product/add', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                                                    <span><?php echo __('Add Products') ?></span>
                                                </a>
                                            </li>
                                        <?php } ?>
                                        <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/product/productlist')) || !$isSellerGroup) { ?>
                                            <li class="level-2">
                                                <a href="<?php echo $block->getUrl('marketplace/product/productlist', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                                                    <span><?php echo __('My Products List') ?></span>
                                                </a>
                                            </li>
                                        <?php } ?>
                                        <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/product_attribute/new')) || !$isSellerGroup) {
                                            if(strpos($allow_pro_type,'configurable') !== false){ ?>
                                                <li class="level-2">
                                                    <a href="<?php echo $block->getUrl('marketplace/product_attribute/new', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                                                        <span><?php echo __('Configurable Attribute') ?></span>
                                                    </a>
                                                </li>
                                                <?php
                                            }
                                        } ?>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            <?php } ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/account/customer')) || !$isSellerGroup) { ?>
                <?php if ($_helper->getSellerProfileDisplayFlag()) { ?>
                    <li class="nav item notification-link wk-mp-item-customer level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/account/customer')? "current active":"";?>" id="wk-mp-menu-customer" >
                        <a href="<?php echo $block->getUrl('marketplace/account/customer/', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/account/customer')? "active":"";?>">
                            <span><?php echo __('Customers') ?></span>
                        </a>
                    </li>
                <?php } ?>
            <?php } ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/transaction/history')) || !$isSellerGroup) { ?>
                <li class="nav item notification-link wk-mp-item-transaction level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/transaction/history')? "current active":"";?>" id="wk-mp-menu-transaction" >
                    <a href="<?php echo $block->getUrl('marketplace/transaction/history', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/transaction/history')? "active":"";?>">
                        <span><?php echo __('Transactions') ?></span>
                    </a>
                </li>
            <?php } ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/order/shipping')) || !$isSellerGroup) { ?>
                <?php if($_helper->getIsOrderManage()=="1") {?>
                    <li class="wk-mp-item-order-shipping level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/order/shipping')? "current active":"";?>" id="wk-mp-menu-order-shipping" >
                        <a href="<?php echo $block->getUrl('marketplace/order/shipping', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/order/shipping')? "active":"";?>">
                            <span><?php echo __('Manage Print PDF Header Info') ?></span>
                        </a>
                    </li>
                <?php 
                } ?>
            <?php } ?>
            <?php if(($isSellerGroup && $_helper->isAllowedAction('marketplace/account/review')) || !$isSellerGroup) { ?>
                <?php if ($_helper->getSellerProfileDisplayFlag()) { ?>
                    <li class="wk-mp-item-review level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/account/review')? "current active":"";?>" id="wk-mp-menu-review" >
                        <a href="<?php echo $block->getUrl('marketplace/account/review', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/account/review')? "active":"";?>">
                            <span><?php echo __('Review') ?></span>
                        </a>
                    </li>
                <?php } ?>
            <?php } ?>
            <?php echo $block->getChildHtml('layout2_seller_account_navigation');?>
            <?php echo $block->getChildHtml('layout2_seller_account_navigation_settings_menu'); ?>
            <?php 
        } else { ?>
            <?php echo $block->getChildHtml('layout2_seller_account_navigation');?>
            <li class="wk-mp-item-order-shipping level-0 <?php echo strpos($magentoCurrentUrl,'marketplace/account/becomeseller')? "current active":"";?>" id="wk-mp-menu-becomeseller" >
                <a href="<?php echo $block->getUrl('marketplace/account/becomeseller/', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="<?php echo strpos($magentoCurrentUrl,'marketplace/account/becomeseller')? "active":"";?>">
                    <span><?php echo __('Become Seller') ?></span>
                </a>
            </li>
        <?php 
        } ?>
    </ul>
</nav>
