<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php $order = $block->getOrder() ?>
<?php $items = $block->getItems(); ?>
<?php
$paymentCode = '';
$colSpan = 7;
if ($order->getPayment()) {
    $colSpan = 8;
	$paymentCode = $order->getPayment()->getMethod();
}



$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
	
			$order = $objectManager->create('Magento\Sales\Api\Data\OrderInterface')->load($order->getId());
		  $order_inc_id=$order->getIncrementId();
		     $tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
           $newArray =   $tax_helpers->order_item_details($order_inc_id); 
			
			$newproductcal =  json_decode($newArray); 

?>
<div class="table-wrapper order-items">
    <table class="data table table-order-items" id="my-orders-table" summary="<?php echo __('Items Invoiced') ?>">
        <caption class="table-caption"><?php echo __('Items Invoiced') ?></caption>
        <thead>
            <?php if($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="<?= $colSpan ?>" data-block="order-items-pager-top" class="order-pager-wrapper order-pager-wrapper-top">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <tr>
                <th class="col name"><?php echo __('Product Name') ?></th>
                <th class="col price"><?php echo __('Price') ?></th>
                <th class="col qty"><?php echo __('Qty') ?></th>
                <th class="col price"><?php echo __('Total Price') ?></th>
                <?php
                if ($paymentCode == 'mpcashondelivery') {?>
                    <th class="col price"><?php echo __('COD Charges') ?></th>
                <?php
                } ?>
                
                <th class="col price"><?php echo __('Taxable Value') ?></th>
            </tr>
        </thead>
		<tbody>
        <?php
        $i = 0;
        $a = 0;
        $count = count($items);
        foreach ($items as $item) {
			
			              $base_amount = $newproductcal[$a]->base_amount; 
			               $discount_amount = $newproductcal[$a]->discount_amount; 
			               $total_gst = $newproductcal[$a]->total_gst; 
			               $row_total = $newproductcal[$a]->row_total; 
			               $product_price = $newproductcal[$a]->product_price; 
			               $net_admin_comm = $newproductcal[$a]->net_admin_comm; 
			               $due_to_seller = $newproductcal[$a]->due_to_seller; 
			               $pay_to_seller = $newproductcal[$a]->pay_to_seller; 
			               $taxable_value = $newproductcal[$a]->taxable_value; 
			               $product_base_item = $newproductcal[$a]->base_amount; 
			 
            if ($item->getParentItem()) { 
                continue;
            }
            $i++;
            $rowTotal = $item->getMageproPrice() * $item->getQtyOrdered();
            $sellerItemCost= $item->getActualSellerAmount();
            $sellerItemCommission = $item->getTotalCommission();
            $currencyRate = $item->getCurrencyRate();
            
            $result = [];
            if ($options = $item->getProductOptions()) {
                if (isset($options['options'])) {
                    $result = array_merge($result, $options['options']);
                }
                if (isset($options['additional_options'])) {
                    $result = array_merge($result, $options['additional_options']);
                }
                if (isset($options['attributes_info'])) {
                    $result = array_merge($result, $options['attributes_info']);
                }
            }
            // for bundle product
            $bundleitems = array_merge(array($item), $item->getChildrenItems());
            $count = count ($bundleitems);
            $index = 0;
            $prevOptionId = '';
            ?>
            
                <?php
                if ($item->getProductType()!='bundle') { ?>
                    <tr class="border" id="order-item-row-<?php echo $item->getId() ?>">
                        <?php
                        if ($item->getProductType()=='downloadable') { ?>
                            <td class="col name" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                <strong class="product name product-item-name"><?php echo $block->escapeHtml($item->getName()) ?></strong>
                                <?php if ($options = $block->getItemOptions($item)): ?>
                                    <dl class="item-options links">
                                        <?php foreach ($options as $option) : ?>
                                            <dt><?php echo $block->escapeHtml($option['label']) ?></dt>
                                            <?php if (!$block->getPrintStatus()): ?>
                                                <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                                                <dd>
                                                    <?php if (isset($formatedOptionValue['full_view'])): ?>
                                                        <?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?>
                                                    <?php else: ?>
                                                        <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                                                    <?php endif; ?>
                                                </dd>
                                            <?php else: ?>
                                                <dd><?php echo $block->escapeHtml((isset($option['print_value']) ? $option['print_value'] : $option['value'])) ?></dd>
                                            <?php endif; ?>
                                        <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                                <?php /* downloadable */?>
                                <?php if ($links = $block->getDownloadableLinks($item->getId())): ?>
                                    <dl class="item-options links">
                                        <dt><?php /* @escapeNotVerified */ echo $block->getLinksTitle($item->getId()) ?></dt>
                                        <?php foreach ($links->getPurchasedItems() as $link): ?>
                                            <dd><?php echo $block->escapeHtml($link->getLinkTitle()); ?></dd>
                                        <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                                <?php /* EOF downloadable */?>

                                <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
                                <?php if ($addInfoBlock) :?>
                                    <?php echo $addInfoBlock->setItem($item->getOrderItem())->toHtml(); ?>
                                <?php endif; ?>
                                <?php echo $block->escapeHtml($item->getDescription()) ?>
                                <?php $addInfoBlock = $block->getOrderItemAdditionalInfoBlock(); ?>
                                <?php if ($addInfoBlock): ?>
                                    <?php echo $addInfoBlock->setItem($item)->toHtml() ?>
                                <?php endif;?>
                            </td>
                        <?php
                        }else{ ?>
                            <td class="col name" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                <strong class="product name product-item-name"><?php echo $block->escapeHtml($item->getName()) ?></strong>
                                <?php
                                $newOrderd = $order->getId();
								//$helpers->get_productid_marketplace($item->getProductId(),$newOrderd);
								?> 
								<?php if ($options = $result): ?>
                                    <dl class="item-options">
                                    <?php foreach ($options as $option) : ?>
                                        <dt><?php echo $block->escapeHtml($option['label']) ?></dt>
                                        <?php if (!$block->getPrintStatus()): ?>
                                            <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                                            <dd>
                                                <?php if (isset($formatedOptionValue['full_view'])): ?>
                                                    <?php /* @escapeNotVerified */ echo $formatedOptionValue['full_view'] ?>
                                                <?php else: ?>
                                                    <?php /* @escapeNotVerified */ echo $formatedOptionValue['value'] ?>
                                                <?php endif; ?>
                                            </dd>
                                        <?php else: ?>
                                            <dd>
                                                <?php echo nl2br($block->escapeHtml( (isset($option['print_value']) ? $option['print_value'] : $option['value']) )) ?>
                                            </dd>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                    </dl>
                                <?php endif; ?>
                                <?php $addInfoBlock = $block->getOrderItemAdditionalInfoBlock(); ?>
                                <?php if ($addInfoBlock): ?>
                                    <?php echo $addInfoBlock->setItem($item)->toHtml() ?>
                                <?php endif;?>
                            </td>
                        <?php }?>
                        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
                            <span class="price-excluding-tax" data-label="<?php echo $block->escapeHtml(__('Excl. Tax')); ?>">
                                <span class="cart-price">
                                    <?php echo $product_price; ?>
                                </span>
                            </span>
                        </td>
                        <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty')); ?>">
                            <ul class="items-qty">
                                <?php if ($item->getQtyOrdered() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Ordered'); ?></span>
                                        <span class="content"><?php echo $item->getQtyOrdered()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyInvoiced() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Invoiced'); ?></span>
                                        <span class="content"><?php echo $item->getQtyInvoiced()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyShipped() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Shipped'); ?></span>
                                        <span class="content"><?php echo $item->getQtyShipped()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyCanceled() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Canceled'); ?></span>
                                        <span class="content"><?php echo $item->getQtyCanceled()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                                <?php if ($item->getQtyRefunded() > 0): ?>
                                    <li class="item">
                                        <span class="title"><?php echo __('Refunded'); ?></span>
                                        <span class="content"><?php echo $item->getQtyRefunded()*1 ?></span>
                                    </li>
                                <?php endif; ?>
                            </ul>
                        </td>
                        <td class="col price" data-th="<?php echo $block->escapeHtml(__('Total Price')); ?>"><?php echo $rowTotal;?></td>
                        <?php
                        if ($paymentCode == 'mpcashondelivery') {?>
                            <td class="col price" data-th="<?php echo $block->escapeHtml(__('COD Charges')) ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $item->getCodCharges()));?></td>
                        <?php
                        } ?>
                        
                        <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>"><?php echo $product_base_item;?></td>   
                    </tr>   
                <?php
                } else { ?>
                    <?php foreach ($bundleitems as $bundleitem): ?>
                        <?php
                        $bundleItemTotals = $block->getSellerOrdersList(
                            $order->getId(),
                            $bundleitem->getProductId(),
                            $bundleitem->getId()
                        );
                        $codCharges = 0;
                        foreach ($bundleItemTotals as $bundleItemTotal) {
                            $rowTotal = $bundleItemTotal->getMageproPrice() * $bundleitem->getQtyOrdered();
                            $sellerItemCost = $bundleItemTotal->getActualSellerAmount();
                            $sellerItemCommission = $bundleItemTotal->getTotalCommission();
                            $currencyRate = $bundleItemTotal->getCurrencyRate();
                            if ($paymentCode == 'mpcashondelivery') {
                                $codCharges = $bundleItemTotal->getCodCharges();
                            }
                        }
                        ?>
                        <?php $attributes_option = $block->getSelectionAttribute($bundleitem); ?>
                        <?php if ($bundleitem->getParentItem()): ?>
                            <?php $attributes = $attributes_option ?>
                            <?php if ($prevOptionId != $attributes['option_id']): ?>
                            <tr class="options-label">
                                <td class="col label" colspan="<?= $colSpan ?>" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                    <?php echo $attributes['option_label'] ?>
                                </td>
                            </tr>
                            <?php $prevOptionId = $attributes['option_id'] ?>
                            <?php endif; ?>
                        <?php endif; ?>
                        <tr<?php echo (++$index==$count)?' class="border bundle"':' class="bundle"' ?> id="order-item-row-<?php echo $bundleitem->getId() ?>">
                            <?php 
                            if (!$bundleitem->getParentItem()) {?>
                                <td><h3 class="product-name"><?php echo $block->escapeHtml($bundleitem->getName()) ?></h3></td>
                                <td class="col price" data-rwd-label="<?php echo __('Price') ?>">
                                    <span class="price-excluding-tax" data-label="<?php echo $block->escapeHtml(__('Excl. Tax')); ?>">
                                        <?php echo $order->formatPrice($item->getPrice());?>
                                    </span>
                                </td>
                                <td class="col qty item_status" data-rwd-label="<?php echo __('Status') ?>">
                                    <ul class="items-qty">
                                        <?php if ($item->getQtyOrdered() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Ordered'); ?></span>
                                                <span class="content"><?php echo $item->getQtyOrdered()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </td>
                                <td class="lin-hide">&nbsp;</td>
                                <td class="lin-hide">&nbsp;</td>
                                <td class="lin-hide">&nbsp;</td>
                                <td class="lin-hide">&nbsp;</td>
                            <?php
                            } else { ?>
                                <?
                                $i++;
                                ?>
                                <td class="col value" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
                                    <?php echo $block->getValueHtml($bundleitem)?>
                                    <?php $addInfoBlock = $block->getOrderItemAdditionalInfoBlock(); ?>
                                    <?php if ($addInfoBlock): ?>
                                        <?php echo $addInfoBlock->setItem($bundleitem)->toHtml() ?>
                                    <?php endif;?>
                                </td>
                                <td class="col price" data-rwd-label="<?php echo __('Price') ?>"><?php echo $order->formatPrice($bundleitem->getPrice());?></td>
                                <td class="col qty item_status" data-rwd-label="<?php echo __('Status') ?>">
                                    <ul class="items-qty">
                                        <?php if ($bundleitem->getQtyOrdered() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Ordered'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyOrdered()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyInvoiced() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Invoiced'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyInvoiced()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyShipped() > 0 && !$block->isShipmentSeparately()): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Shipped'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyShipped()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyCanceled() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Canceled'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyCanceled()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($bundleitem->getQtyRefunded() > 0): ?>
                                            <li class="item">
                                                <span class="title"><?php echo __('Refunded'); ?></span>
                                                <span class="content"><?php echo $bundleitem->getQtyRefunded()*1 ?></span>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </td>
                                <td class="col price" data-th="<?php echo $block->escapeHtml(__('Total Price')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $rowTotal));?></td>
                                <?php if ($paymentCode == 'mpcashondelivery') { ?>
                                    <td class="col price" data-th="<?php echo $block->escapeHtml(__('COD Charges')) ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $codCharges));?></td>
                                <?php
                                } ?>
                                <td class="col price" data-th="<?php echo $block->escapeHtml(__('Admin Commission')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $net_admin_comm));?></td>
								<td class="col price" data-th="<?php echo $block->escapeHtml(__('Vendor Total')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $due_to_seller));?></td>
								<td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>"><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $total_amount));?></td>
                            <?php
                            }?>
                        </tr>
                    <?php endforeach; ?>
                <?php
            }?>
            
            <?php
        $a++;
		} ?>
		
		<?php
		$adminArray = $tax_helpers->order_amount_details($order_inc_id); 
		$adminArray =  json_decode($adminArray); 
		
		$admin_base_comm=$adminArray->admin_base_comm; 
		$admin_comm_tax=$adminArray->admin_comm_tax; 
		
		$baseprice=$adminArray->baseprice;
		$gst_tcs_rate=$adminArray->gst_tcs_rate; 
		$gst_tcs=($baseprice*$gst_tcs_rate)/100;	
		
		$gross_comm_due=$adminArray->gross_comm_due; 
		$gst_gross_comm_due=$adminArray->gst_gross_comm_due; 
		$admin_comm_tds_rate=$adminArray->admin_comm_tds_rate; 
		$tds_pi_comm=($gross_comm_due*$admin_comm_tds_rate)/100;	
		
		
		//$gst_tcs=$adminArray->gst_tcs;  
		$admin_comm_tds=$adminArray->admin_comm_tds; 
		
		$total_admin_commm= $admin_base_comm+$admin_comm_tax+$gst_tcs-$admin_comm_tds;
		
		$admin_base_comm=number_format($admin_base_comm, 2, '.', '');   
		$admin_comm_tax=number_format($admin_comm_tax, 2, '.', '');  
		$gst_tcs=number_format($gst_tcs, 2, '.', '');  
		$admin_comm_tds=number_format($admin_comm_tds, 2, '.', '');  
		
		
		$net_comm=$gross_comm_due+$gst_gross_comm_due; 
		$total_admin_commm= number_format($total_admin_commm, 2, '.', '');  
		$tds_pi_comm= number_format($tds_pi_comm, 2, '.', '');  
		
		$gross_remittance_pi=$net_comm+$gst_tcs-$tds_pi_comm;
		
		?>
			
		<tr>
		<td colspan="10" style="position:relative">
			<div class="admin_comm_section">	
				<h2>Commission Details </h2> 
				<table class="table cust_table">
					<tbody> 
						<tr>	
							<th>Base Comission</th>
							<td><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $admin_base_comm));?></td>
						</tr>	
						<tr>  	
							<th>Comission Tax</th>
							<td><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $admin_comm_tax));?></td>
						</tr>	
						<tr>	
							<th>GST TCS</th>
							<td><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $gst_tcs));?></td>
						</tr>	
						<tr>	
							<th>TDS Admin Comission</th> 
							<td><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $tds_pi_comm));?></td>
						</tr>	
						<tr>	
							<th>Total Comission</th>
							<td><?php echo $order->formatPrice($block->getOrderedPricebyorder($currencyRate, $gross_remittance_pi));?></td>
						</tr>	
					</tbody>
				</table>  
			</div>	
		</td>  
		</tr>
		</tbody>
        <tfoot>
            <?php if($block->isPagerDisplayed()): ?>
                <tr>
                    <td colspan="<?= $colSpan ?>" data-block="order-items-pager-bottom" class="order-pager-wrapper order-pager-wrapper-bottom">
                        <?= $block->getPagerHtml() ?>
                    </td>
                </tr>
            <?php endif ?>
            <?= $block->getChildHtml('marketplace_order_invoice_totals') ?>
        </tfoot>
    </table>
</div>

<style type="text/css">
.admin_comm_section {
    position: absolute;
    top: calc(100% + 10px);
    width: 300px;
    border: 1px solid #ccc;
}
.admin_comm_section h2 {
    margin: 0px;
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    background: #f0f0f0;
    font-weight: 600;
}
.admin_comm_section table td {
    border: 0px !important;
    padding: 11px 9px !important;
	text-align: right;
}
.admin_comm_section table th {
    border: 0px !important;
}
</style>
