<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$sql = "SELECT marketplace_userdata.seller_id,customer_entity.email, concat(customer_entity.firstname,' ',customer_entity.lastname) as customer_name FROM `marketplace_userdata` inner join customer_entity on marketplace_userdata.seller_id = customer_entity.entity_id where marketplace_userdata.is_seller = 1";
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$HelperBackend = $objectManager->create('Magento\Backend\Helper\Data');
$connection = $resource->getConnection();
$sellerList = $connection->fetchAll($sql);
?>
   
<form class="assign-to-seller" method="POST">
<input type="hidden" value="<?php echo $block->getData('product_ids')?>" name="product_ids" class="product_id">  
<table>
  <tr>
    <th>Select Seller</th>
    <th>SellerId</th>
    <th>SellerEmail</th>
    <th>Seller Name</th>
  </tr>
  <?php foreach($sellerList as $seller):?>
  <tr>
    <td><input type="checkbox" name="seller_ids" value="<?php echo $seller['seller_id']?>"/></td>
    <td><?php echo $seller['seller_id']?></td>
    <td><?php echo $seller['email']?></td>
    <td><?php echo $seller['customer_name']?></td>
  </tr>
  <?php endforeach;?> 
</table>
<div class="seller-assign action-default primary">Assign To Seller</div>
</form>
<script>
  require(['jquery'],function($){
    $(".seller-assign").click(function(){
        var sellerId = [];
          $.each($("input[name='seller_ids']:checked"), function(){
            sellerId.push($(this).val());
          });
        var url = '<?php echo $block->getNewFunctionUrl()?>';
        var sellerIds = sellerId.join(",");
        var productIds = $('.product_id').val();
        console.log(sellerIds);
        console.log(productIds);
        jQuery.ajax({
        url: url,
        type: "POST",
        data: {sellerIds:sellerIds,productIds:productIds},
        success: function(response){
            console.log(response);
            alert('Products are successfully assigned');
            location.reload();
        }
    });
    });
  });
</script>
<style>
.assign-to-seller th {
    border: 1px solid;
    padding: 10px;
}
.assign-to-seller td {
    border: 1px solid;
    padding: 10px;
}
.seller-assign.action-default.primary {
    margin-top: 20px;
    cursor:pointer;
}  
</style>