<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$marketplacelabel1  =   $block->escapeHtml($helper->getMarketplacelabel1());
$marketplacelabel2  =   $block->escapeHtml($helper->getMarketplacelabel2());
$marketplacelabel3  =   $block->escapeHtml($helper->getMarketplacelabel3());
$marketplacelabel4  =   $block->escapeHtml($helper->getMarketplacelabel4());
$banner_display     =   $helper->getDisplayBanner();
$banner_image       =   $helper->getBannerImage();
$banner_content     =   $helper->getBannerContent();
$icons_display      =   $helper->getDisplayIcon();
$icon_image1        =   $helper->getIconImage1();
$icon_image1_label  =   $block->escapeHtml($helper->getIconImageLabel1());
$icon_image2        =   $helper->getIconImage2();
$icon_image2_label  =   $block->escapeHtml($helper->getIconImageLabel2());
$icon_image3        =   $helper->getIconImage3();
$icon_image3_label  =   $block->escapeHtml($helper->getIconImageLabel3());
$icon_image4        =   $helper->getIconImage4();
$icon_image4_label  =   $block->escapeHtml($helper->getIconImageLabel4());
$marketplacebutton  =   $helper->getMarketplacebutton();
$marketplaceprofile =   $helper->getMarketplaceprofile();

$imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class);
$placeholderImageUrl = $imageHelper->getDefaultPlaceholderUrl('small_image');
/*order collection*/
$bestSellersData = $block->getBestSaleSellers();
$seller_arr = $bestSellersData['0'];
$sellerProfileArr = $bestSellersData['1'];
$sellerCountArr = $bestSellersData['2'];
$sellerAccountUrl = $block->getUrl(
    'marketplace/account/becomeseller/?seller=1',
    ["_secure" => $this->getRequest()->isSecure()]
);
if (!$helper->isCustomerLoggedIn()) {
    $sellerAccountUrl = $helper->getSellerRegistrationUrl().'?seller=1';
}
$is_seller = $helper->isSeller();



$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_url=$storeManager->getStore()->getBaseUrl();
$url=$site_url.'customuser/index/sellerregister';
?>
<div class="wk-mp-design wk-mp-landingpage wk-mp-landingpage-layout1">
    <?php if ($banner_display): ?>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="wk-mp-banner-container">
                        <div class="wk-mp-banner">
                            <div class="wk-mp-header">
                                <h1><?php echo $marketplacebutton; ?></h1>
                                <h2>
                                    <?php echo $block->getCmsFilterContent($banner_content)?>
                                </h2>
                                <p>
                                    <?php if($is_seller ==0){  ?>
                                    <a href="<?php echo $url?>" class="gradent-button">
                                        <!--<button class="button wk-mp-landing-button">
                                            <span>
                                                <span>
                                                    <strong> -->
                                                        <?php echo $marketplacebutton; ?>
                                                    <!-- </strong>
                                                </span>
                                            </span>
                                        </button> -->
                                    </a>
                                    <?php } ?>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endif; ?>
    <section class="section-create">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="sectionproducts-titles text-left"><?php echo $marketplacelabel1 ?></h1>
                </div>          
                <?php if ($icons_display) { ?>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="grid-section-carousel business-boxs">
                            <div class="wk-mp-box-icon">
                                <img src="<?php echo $icon_image1 ?>">
                            <span class="wk-marketplace-label-span"><?php echo $icon_image1_label ?></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="grid-section-carousel business-boxs">
                            <div class="wk-mp-box-icon">
                                <img src="<?php echo $icon_image2 ?>">
                            <span class="wk-marketplace-label-span"><?php echo $icon_image2_label ?></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="grid-section-carousel business-boxs">
                            <div class="wk-mp-box-icon">
                                <img src="<?php echo $icon_image3 ?>">
                            <span class="wk-marketplace-label-span"><?php echo $icon_image3_label ?></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="grid-section-carousel business-boxs">
                            <div class="wk-mp-box-icon">
                                <img src="<?php echo $icon_image4 ?>">
                            <span class="wk-marketplace-label-span"><?php echo $icon_image4_label ?></span>
                            </div>
                        </div>
                    </div>
                <?php } ?>
            </div>
        </div>
    </section>
    <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
        <section class="section-create">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="sectionproducts-titles text-left"><?php echo $marketplacelabel2 ?></h1>
                    </div>
                </div>              
                <div class="row">
                    <?php
                    $i = 0;
                    $count = count($seller_arr);
                    foreach ($seller_arr as $seller_id => $products) {
                        $i++;
                        if ($i <= 4) {
                            $seller_product_count = 0;
                            $profileurl = 0;
                            $shoptitle = '';
                            $logo="noimage.png";
                            
                            $seller_product_count = $sellerCountArr[$seller_id];

                            if (isset($sellerProfileArr[$seller_id][0])) {
                                $profileurl = $sellerProfileArr[$seller_id][0]['profileurl'];
                                $shoptitle = $sellerProfileArr[$seller_id][0]['shoptitle'];
                                $logo = $sellerProfileArr[$seller_id][0]['logo'];
                            }
                            if (!$shoptitle) {
                                $shoptitle = $profileurl;
                            }
                            $logo = $helper->getMediaUrl().'avatar/'.$logo;
                            if (!isset($products[0])) {
                                $products[0] = 0;
                                $products_name_1 = '';
                                $products_url_1 = '';
                                $products_image_url_1 = $placeholderImageUrl;
                            } else {
                                $product_1 = $block->_productRepository->getById($products[0]);
                                $products_name_1 = $product_1->getName();
                                $products_url_1 = $product_1->getProductUrl();
                                $products_image_url_1 = $block->imageHelperObj()->init($product_1, 'product_page_image_small')->setImageFile($product_1->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(130)->getUrl();
                            }

                            if (!isset($products[1])) {
                                $products[1] = 0;
                                $products_name_2 = '';
                                $products_url_2 = '';
                                $products_image_url_2 = $placeholderImageUrl;
                            } else {
                                $product_2 = $block->_productRepository->getById($products[1]);
                                $products_name_2 = $product_2->getName();
                                $products_url_2 = $product_2->getProductUrl();
                                $products_image_url_2 = $block->imageHelperObj()->init($product_2, 'product_page_image_small')->setImageFile($product_2->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(130)->getUrl();
                            }

                            if (!isset($products[2])) {
                                $products[2] = 0;
                                $products_name_3 = '';
                                $products_url_3 = '';
                                $products_image_url_3 = $placeholderImageUrl;
                            } else {
                                $product_3 = $block->_productRepository->getById($products[2]);
                                $products_name_3 = $product_3->getName();
                                $products_url_3 = $product_3->getProductUrl();
                                $products_image_url_3 = $block->imageHelperObj()->init($product_3, 'product_page_image_small')->setImageFile($product_3->getFile())->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(TRUE)->resize(260)->getUrl();
                            }
                            ?>
                            <div class="col-12 col-sm-6 col-md-4 mb-3 <?php if($count == $i){ echo "wk_last_seller"; }?>">
                                <div class="brand-inner-box">
                                    <div class="wk-mp-landing-sellers-img1 row">
                                        <a href="<?php echo $products_url_1?>" title="<?php echo  $products_name_1;?>" class="col-6 text-center">
                                            <img src=<?php echo $products_image_url_1?> />
                                        </a>
                                        <a href="<?php echo $products_url_2?>" title="<?php echo $products_name_2;?>" class="col-6 text-center">
                                            <img src=<?php echo $products_image_url_2;?> />
                                        </a>
                                    </div>
                                    <div class="wk-mp-landing-sellers-img2 row">
                                        <a href="<?php echo $products_url_3?>" title="<?php echo $products_name_3;?>"  class="col-12 text-center">
                                            <img src=<?php echo $products_image_url_3;?> />
                                        </a>
                                    </div>
                                    <div class="row post-sellers-details">
                                        <div class="landing-sellers-logo">
                                            <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$profileurl);?>" title="<?php echo __("View Seller's Shop") ?>">
                                                <img src="<?php echo $logo ?>">
                                            </a>
                                        </div>
                                        <div class="landing-sellers-details">
                                            <h3>
                                                <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$profileurl);?>" title="<?php echo __("View Seller's Shop") ?>">
                                                    <strong><?php echo $block->escapeHtml($shoptitle) ?></strong>
                                                </a>
                                            </h3>
                                            <p><?php echo __('%1 Products',$seller_product_count) ?></p>
                                            <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$profileurl);?>" class="btn-blue-small">
                                               <!--  <button class="button" title="<?php echo __("View Seller's Collection") ?>">
                                                    <span>
                                                        <span> -->
                                                            <?php echo __('View All'); ?>
                                                        <!-- </span>
                                                    </span>
                                                </button> -->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php
                        }
                    } ?>
                </div>
                <div class="grid-section-carousel"> 
                    <div class="row">
                        <div class="col-12">
                            <h3 class="wk-marketplace-label-about"><?php echo $marketplacelabel3 ?></h3>
                            <a href="<?php echo $block->getUrl('marketplace/seller/sellerlist/', ['_secure' => $this->getRequest()->isSecure()]); ?>" class="gradent-button">
                               <!--  <button class="button wk-mp-landing-button">
                                    <span>
                                        <span> -->
                                            <?php echo __('View All'); ?>
                                       <!--  </span>
                                    </span>
                                </button> -->
                            </a>
                        </div>  
                    </div>
                </div>
            </div>
        </section>

        
    <?php } ?>
    <section class="section-create">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="sectionproducts-titles text-left"><?php echo $marketplacelabel4 ?></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                <div class="whytosell-option">
                    <div class="wk-mp-box-landing-about">
                        <?php echo $block->getCmsFilterContent($marketplaceprofile)?>
                    </div>

                    <a href="<?php echo $sellerAccountUrl?>" class="gradent-button">
                        <!-- <button class="button wk-mp-landing-button">
                            <span>
                                <span> 
                                    <strong>-->
                                        <?php echo $marketplacebutton; ?>
                                   <!-- </strong>
                                 </span>
                            </span>
                        </button> -->
                    </a>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>
<script>
    require([
        "jquery",
        "mage/mage",
    ], function($){
        $('.page-title-wrapper').hide();
        $('.wk-mp-banner').css('background-image','url("<?php echo $banner_image ?>")');
    });
</script>