<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$config = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

$minAmount = (int)$config->getValue('carriers/express_shipping/free_price');
$isActive  = (int)$config->getValue('carriers/express_shipping/free_active');

$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
$subTotal = $cart->getQuote()->getSubtotal();
?>
<?php
/**
 * Shopping cart totals template
 * @var $block \Magento\Checkout\Block\Cart\Totals
 */
?>
<div id="cart-totals" class="cart-totals" data-bind="scope:'block-totals'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
            {
                "#cart-totals": {
                    "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                }
            }
    </script>
</div>
<div class="testshpping">
    <?php
    if( $isActive && $subTotal>0 && $subTotal < $minAmount) : ?>
    <div class="free_shipping">
      <strong>Add items of ₹<?php echo $minAmount-$subTotal; ?> more for Free Shipping </strong>
    </div>
    <?php endif; ?>	
</div>
