<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="checkout-billing-address">
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
		<a href="javascript:void(0);"  data-bind="click: editAddress" >Change Billing Address</a>
        <input type="checkbox" style="display:none" id="billing-address-same-as-shipping" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}"/>
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}"><span
                data-bind="i18n: 'Billing Address'" class="checkyourbilling"></span></label>
    </div>
    <render args="detailsTemplate"/>
    <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
        <each args="getRegion('billing-address-list')" render="" />
        <div data-bind="fadeVisible: isAddressFormVisible">
            <render args="formTemplate"/>
        </div>
        <render args="actionsTemplate"/>
    </fieldset>
</div>


<style>
    .checkout-billing-address {border: solid 1px #44538a;}
    .checkout-billing-address .checkyourbilling {color: #44538a; font-weight: 700; font-size: 20px; letter-spacing: 0.45px;}
    .checkout-index-index .checkout-billing-address .field.choice {display: flex; justify-content: space-between;}
    .checkout-index-index .checkout-billing-address .field.choice a {order: 2;  font-weight: 600; letter-spacing: 0.45px; font-size: 13px; background-image: linear-gradient(to right,#5f539b,#5067b3,#35c2cd); border: none;
    color: #fff; height: auto; line-height: normal; padding: 10px 10px; border-radius: 4px;}
    .checkout-payment-method .payment-method-billing-address .billing-address-details {padding-left: 0px;}
    .checkout-payment-method .payment-method._active .payment-method-content {padding-left: 0px;}
    .checkout-payment-method .payment-method-billing-address {padding-left: 0px;}
    .checkout-agreements-block .checkout-agreements {padding-left: 0px;}
    #co-payment-form .actions-toolbar {text-align: center; padding-top: 25px;}
    .checkout-payment-method .payment-methods .actions-toolbar .primary {float: none;}
    #co-payment-form .actions-toolbar button {background-image: linear-gradient(to right,#5f539b,#5067b3,#35c2cd);
    padding: 12px 60px; color: #fff; border: 0 solid #717171; font-size: 24px; border-radius: 4px !important; font-family: 'Exo'; margin: 0; width: auto; font-weight: 600 !important; margin-left: 0; height: auto; line-height: normal;}
    .checkout-payment-method .payment-option._collapsible .payment-option-title {padding-left: 0; padding-top: 30px;
    padding-bottom: 30px;}
    
    @media (min-width: 320px) and (max-width: 767px) {
        .billing-address-same-as-shipping-block.field.choice label {padding-left: 0px;}
        .checkout-billing-address {border: none;}
        .checkout-payment-method .payment-option._collapsible .payment-option-title {padding-left: 14px;}
    }
</style>
