<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()) :?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()) :?>
        <div class="field qty" style="display: none;">
            <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       min="0"
                       value="<?= $block->getProductDefaultQty() * 1 ?>"
                       title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtmlAttr(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr($buttonTitle) ?>"
                    class="action primary tocart"
                    id="product-addtocart-button" disabled>
                <span><?= $block->escapeHtml($buttonTitle) ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php 
$helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$customerId = $helper->getCustomerId();
$productId = $_product->getId();
$productName = $_product->getName();
$productSku = $_product->getSku();
$oldprice = $_product->getPrice();
$finalpprice = $_product->getFinalPrice();
?>

<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){ 
$('#product-addtocart-button').click(function(){ 
console.log('c');
Countly.q.push(['add_event',{
  "key": "Add_To_Cart",
  "browser":{
    "Chrome":true
     },
  "segmentation": {
    <?php if($customerId){ ?>
   "web": "yes",
   "customerId": "<?php echo $customerId ?>",
   "productId": "<?php echo $productId ?>",
   "product_name": "<?php echo $productName ?>",
   "sku": "<?php echo $productSku ?>",
   "price": "<?php echo $oldprice ?>",
   "special_price": "<?php echo $finalpprice ?>"
    <?php }else{ ?>
    "web": "yes",
    "Guest": "Guest",
   "productId": "<?php echo $productId ?>",
   "product_name": "<?php echo $productName ?>",
   "sku": "<?php echo $productSku ?>",
   "price": "<?php echo $oldprice ?>",
   "special_price": "<?php echo $finalpprice ?>"
    <?php } ?>
  }
}]);
});
});
</script>


<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){  
Countly.q.push(['add_event',{
  "key": "Product_Detail",
  "browser":{
    "Chrome":true
     },
  "segmentation": {
    <?php if($customerId){ ?>
    "web": "yes",
    "customerId": "<?php echo $customerId ?>",
   "productId": "<?php echo $productId ?>",
   "product_name": "<?php echo $productName ?>",
   "sku": "<?php echo $productSku ?>",
   "price": "<?php echo $oldprice ?>",
   "special_price": "<?php echo $finalpprice ?>"
    <?php }else{ ?>
    "web": "yes",
    "Guest": "Guest",
   "productId": "<?php echo $productId ?>",
   "product_name": "<?php echo $productName ?>",
   "sku": "<?php echo $productSku ?>",
   "price": "<?php echo $oldprice ?>",
   "special_price": "<?php echo $finalpprice ?>"
    <?php } ?>
  }
}]);
});
</script>

