<?php 
$_product = $block->getProduct();
$oldPrice = $_product->getPrice();
$finalPrice = $_product->getFinalPrice(); 
$discountAmount = $oldPrice - $finalPrice;
$discountPercent = 100 - round(($finalPrice/$oldPrice)*100);
?>
<?php if($discountAmount > 0):?>
    <div class="sale-offer red-bg"><span>-<?php echo $discountPercent?>% Off</span></div>
<?php endif;?>