<?php


$model_id = $this->getRequest()->getParam('proofofdelivery_id');
$query = "Select document_path from om_proofofdelivery_proofofdelivery where proofofdelivery_id='$model_id'";
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource_conection = $objectManager->create('Magento\Framework\App\ResourceConnection');
$connection = $resource_conection->getConnection();
$document_path = $connection->fetchOne($query);
$website_url = $this->getBaseUrl();
$url = $website_url."pub/media/proofofdelivery" . $document_path;
$filename = array_reverse(explode("/", $document_path))[0];
?>


<div class="admin__fieldset">
  <div class="admin__field">
    <div class="admin__field-label" data-bind="visible: $data.labelVisible">
      <label>
        <span>File</span>
      </label>
    </div>
    <div class="admin__field-control">
    <a href="<?= $url ?>" download><img style="width:50px;margin:auto;" src="<?=$website_url?>pub/media/proofofdelivery/file_icon.svg" alt="">
    <p style="text-deocration:underline"><?= $filename ?></p>
    </a>
  </div>

  </div>
  
</div>