/* start backend css */ 
.block-order-details-comments{    padding: 15px;  margin: 0px;}
.block-order-details-comments strong{  font-size: 18px;  font-weight: 400;  color: #6c6d70;  border-bottom: 1px solid #e8eaef;  padding: 10px 0;  margin-bottom: 15px;  display: block;}
.block-order-details-comments .block-title, .block-order-details-comments .order-comments { padding: 0 10px;}
.block-order-details-comments .comment-date,
.block-order-details-comments .comment-content {  width: 100%;max-width:100%;}
.product-info-main .page-title-wrapper h1{padding-right:50px !important}
.lanscapedisbaled{display:none;}
.wk-mp-design .block-order-details-view .block-content .box .box-content .box{width:100% !important}
#checkoutSteps #shipping .header-custom .step-title .selected_address span {
    padding: 4px;  display: inline-block;  border-radius: 5px;  color: #283c82;}
.payment-method.custom-cod{display:none !important;}
.page-title-wrapper #page-title-heading .base{    font-size: 20px; padding: 20px; display: inline-block; font-weight: 600; color: #454545;}
.blue-gradient .backacces h1:after{display:none;}
.sales-order-view span.neworder { display: inline-block;}
.sales-order-view .page-title-wrapper .customer_detail .cus_email{word-break: break-word;}
.navpoup .navcom .modal-header > h2 {padding: 0 15px;}
.modal-popup .modal-content .checkout-agreements-item-content{font-weight:400;}
.block-order-details-view .block-content span.label, .block-order-details-view .block-content span.value { font-size: 14px;  color: #3d3d3f; font-weight: 500; word-break: break-all;}
.seller-image { position: fixed;  top: 0px; bottom: 0px; width: 100%; left: 0px; background: rgba(51, 51, 51, 0.55);  z-index: 9999;}
.seller-image p { position: absolute; background: #fff; top: 50%; left: 50%; transform: translate(-50%,-50%); padding: 30px; border-radius: 4px; font-size: 20px;box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);}
span.signature-upload { display: inline-block; position: relative;margin-top:px;}
span.signature-upload input { position: absolute; top: 0px; bottom: 0px;  left: 0px;  width: 100%;   height: 100%;   cursor: pointer;   opacity: 0;} 
span.signature-upload span { font-size: 16px; background: #f3a626; padding: 13px 20px;  display: inline-block;  color: #fff; border-radius: 4px; width: 230px; text-align: center;}
.image-upload-section { 
    width: 250px;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.image-upload-section img{
	margin-bottom:10px; 
}
@media (max-width:767px){
.image-link img { width: 100% !important; display: block; height: auto !important;}
body.filter-active .columns { z-index: 9999 !important;}
.filter.active .filter-options{top:47px !important}
.pincode_checker > .control{width:220px !important}
.pincode-div .pincode_checker{    width: auto;  float: left;}
.pincode_checker #check-pincode{margin-left:0px !important}
.product.data.items > .item.content{border-top: 0px solid #dae2e6 !important;}
.page-main .column .review-add{width:100%;padding:10px;}
.modal-content  .block-customer-login{width:100%}
#checkoutSteps li .shipping-address-item:before{position:absolute}
#checkoutSteps li .toggle-class-close .tab-heading-custom p{display:none !important;}
#checkoutSteps li .step-content{width:100%}
#dropdown-1 { right: 0px !important; top: 0px !important;}
.header .legin,.checkout-index-index .page-header .logo + .minicart-wrapper{display:block !important}
.header .legin img{width:25px !important;}
#dropdown-1>a{width:30px !important;height:38px !important;}
.header .legin{width:30px !important;height:38px !important;position: absolute;  right: 105px !important; top: 15px !important;margin:0px !important;overflow: hidden;    padding: 0px !important;}
.fotorama__fullscreen .fotorama__zoom-out.fotorama__zoom-out--disabled,.fotorama__fullscreen .fotorama__zoom-in.fotorama__zoom-in--disabled,.fotorama__wrap:not(.fotorama__wrap--toggle-arrows) .fotorama__fullscreen-icon{display:block !important;}
.fieldset{    min-inline-size: auto;}
#checkout-payment-method-load .action.primary.checkout{width:310px !important}
.checkout-agreement.required button.action.action-show{    text-align: left !important;}
.account.rmasystem-index-index .table-shadow-design, 
.account.rmasystem-index-index .table-shadow-design tbody tr,
.account.rmasystem-index-index .table-shadow-design tbody, .account.rmasystem-index-index .table-shadow-design thead, 
.account.rmasystem-index-index .table-shadow-design thead tr{width: 100%;    display: block;}
.account.rmasystem-index-index .table-shadow-design thead th,
.account.rmasystem-index-index .table-shadow-design tbody td{width: 100%;    display: block;    padding-left: 50% !important;    text-align: left !important;position: relative;}
.account.rmasystem-index-index .table-shadow-design tbody td:nth-child(1):after,
.account.rmasystem-index-index .table-shadow-design thead th:nth-child(1):after{content:'Id';}
.account.rmasystem-index-index .table-shadow-design thead th:nth-child(2):after,
.account.rmasystem-index-index .table-shadow-design tbody td:nth-child(2):after{content:'Order Id';}
.account.rmasystem-index-index .table-shadow-design thead th:nth-child(3):after,
.account.rmasystem-index-index .table-shadow-design tbody td:nth-child(3):after{content:'RMA Status';}
.account.rmasystem-index-index .table-shadow-design tbody td:nth-child(4):after,
.account.rmasystem-index-index .table-shadow-design thead th:nth-child(4):after{content:'Date';}
.account.rmasystem-index-index .table-shadow-design tbody td:nth-child(5):after{content:'Action';}
.account.rmasystem-index-index .table-shadow-design thead th:nth-child(5),.account.rmasystem-index-index .table-shadow-design thead:first-child{display:none;}
.account.rmasystem-index-index .table-shadow-design thead th::after,
.account.rmasystem-index-index .table-shadow-design tbody td::after {position: absolute; left: 12px; top: 50%; transform: translate(0,-50%);}
.account.rmasystem-index-index .table-shadow-design tbody tr.blank-table-tr td:after,
.account.rmasystem-index-index .table-shadow-design thead tr.blank-table-tr th:after{display:none;}
.account.rmasystem-viewrma-index .block-content .box.admin__page-section-item{max-width:calc(100% - 20px) !important;width:calc(100% - 20px) !important}
.process-steps .steps{max-width:25%;}
.white-box-section .entry-content .row .container{padding-left:15px !important;padding-right:15px !important}
.marketplace-account-dashboard .wk-orderbox-details .button, .marketplace-order-history .wk-orderbox-details .button{width:auto !important}
.account  .admin_comm_section table.table.cust_table{display:table !important;}
.account  .admin_comm_section{position:relative;top:0px;width: 100%;  border: 0px;}
.account  .admin_comm_section table.table.cust_table tbody{display:table !important;width:100% !important}
.account  .admin_comm_section table.table.cust_table tbody tr{display:table-row !important;}
.account  .admin_comm_section table.table.cust_table tbody tr td,
.account  .admin_comm_section table.table.cust_table tbody tr th{display:table-cell !important;}
.account.marketplace-order_invoice-view .block.block-order-details-view .block-content{float:none;display:flex;    flex-wrap: wrap;width:100%}
.account.marketplace-order_invoice-view .block.block-order-details-view .block-content .box-content{display:flex;    flex-wrap: wrap;width:100%}
.account.marketplace-order_invoice-view .block.block-order-details-view .block-content .box-content .box.wk-box{max-width: calc(100% - 0px) 
!important;width: calc(100% - 0px) !important; margin-left:0px;}
.account.marketplace-order_invoice-view .block.block-order-details-view .block-content .box-content .box.wk-box .box.wk-box{width:100% !important;max-width:100% !important}
.account.marketplace-order_invoice-view .block.block-order-details-view .block-content .box-content .wk-row{width:100%;}
.account.marketplace-order_invoice-view .block.block-order-details-view .block-content  .box-order-billing-method{max-width:100% !important;flex:0 0 100% !important;margin-left:0px;}
.account .wk-mp-design .table-wrapper{overflow:auto}
.account.marketplace-order_invoice-view .table-wrapper{border-top:0px;}
.account .admin_comm_section table.table.cust_table td{background-color: #f6f6f6;}
.account .admin_comm_section table.table.cust_table tr:nth-child(even) td{background-color: #f6f6f6;}
.marketplace-product-add .wk-mp-design .fieldset > .legend{flex-wrap:wrap;}
.marketplace-product-add .wk-category,.marketplace-product-edit .wk-category{max-height:unset;}
.marketplace-product-add .wk-mp-design .fieldset > .legend span{width:100%;}
.marketplace-product-add .wk-mp-design .fieldset > .legend span button{float:none !important;display:inline-block;    margin: 3px;}
.marketplace-product-add .wk-for-validation .wk-cat-container, .marketplace-product-edit .wk-for-validation .wk-cat-container{width:99%;margin-left: 0px;}
#form-productlist-filter table{display:block;width:100%}
#form-productlist-filter table tr{display:block;width:100%}
#form-productlist-filter table tbody{display:block;width:100%}
#form-productlist-filter table td{display:block;width:100%}
#form-productlist-filter table .blank-table-tr{display:none}
#form-productlist-filter table td:before{width: 100%;    margin: 0px 0px 5px;    display: block;    text-align: left;    font-weight: bold;}
#form-productlist-filter table tbody td:nth-child(1):before{content:'Product Name'}
#form-productlist-filter table tbody td:nth-child(2):before{content:'Date'}
#form-productlist-filter table tbody td:nth-child(3):before{content:'Product Status'}
#form-productlist-filter table thead{display:none;}
#form-productlist-filter table .wk-mp-td-span { width: calc(50% - 5px);  float: none;  display: inline-flex;  justify-content: space-between; padding: 0px 10px;}
#form-productlist-filter #colender-check .input-text { height: 39px;  border: 1px solid #cccccc; width: 100%; margin-left: 10px;}
#form-productlist-massdelete table{display:block;width:100%}
#form-productlist-massdelete table tr{display:block;width:100%}
#form-productlist-massdelete table tbody{display:block;width:100%}
#form-productlist-massdelete table td{display:block;width:100%;position:relative;padding-left:50% !important;min-height:50px;    border-bottom: 1px solid #ececec;}
#form-productlist-massdelete table .blank-table-tr td{padding-top: 1px !important;    padding-bottom: 0px !important;min-height:0px !important}
#form-productlist-massdelete table .blank-table-tr td:before{display:none;}
#form-productlist-massdelete table td:before{width: 100%; margin: 0px; display: block; text-align: left;  font-weight: bold;position:absolute;top:50%;width:49%;padding-left:10px;
left:0px;transform:translate(0,-50%)}
#form-productlist-massdelete table .wk-check-first-td input[type="checkbox"] + span{margin:0px;}
#form-productlist-massdelete table .wk-row-view .label .image {    height: auto!important;    width: auto!important;    max-width: 100% !important;}
#form-productlist-massdelete table .wk-pro-divide2,#form-productlist-massdelete table .wk-pro-divide1 { width: 100%; float: none;  overflow: hidden;}
#form-productlist-massdelete table thead {display:block;width:100%}
#form-productlist-massdelete table thead tr th{display:none;}
#form-productlist-massdelete table thead tr th:nth-child(1){display:block;}
#form-productlist-massdelete table td:nth-child(1):before{content:'Select'}
#form-productlist-massdelete table td:nth-child(2):before{content:'Product'}
#form-productlist-massdelete table td:nth-child(3):before{content:'Type'}
#form-productlist-massdelete table td:nth-child(4):before{content:'Status'}
#form-productlist-massdelete table td:nth-child(5):before{content:'Qty. Confirmed'}
#form-productlist-massdelete table td:nth-child(6):before{content:'Qty. Pending'}
#form-productlist-massdelete table td:nth-child(7):before{content:'Qty. Sold'}
#form-productlist-massdelete table td:nth-child(8):before{content:'Earned Amount'}
#form-productlist-massdelete table td:nth-child(9):before{content:'Action'}
#form-productlist-massdelete table td .wk-action{text-align:left;}
.account .wk-mp-design .fieldset > .legend{flex-wrap:wrap;}
.wk-mp-tr-remain-total,.wk-mp-tr-payout-total, .wk-mp-tr-amount-total{width:100%;display: flex;margin-bottom:15px;}
.modal-popup.confirm .modal-inner-wrap{width:90%;}
.wk-mp-tr-remain-total form{ width: 100%; display: flex;}
.fieldset{float:none !important;}
.marketplace-order-history .table-shadow-design ,
.marketplace-order-history .table-shadow-design tbody ,
.marketplace-order-history .table-shadow-design tbody tr,
.marketplace-order-history .table-shadow-design tbody tr td{
display:block;width:100%}
.marketplace-order-history .table-shadow-design tbody tr td:before{width:100%;display:block;text-align:left;font-size:14px;font-weight:600}
.marketplace-order-history .table-shadow-design tbody tr td:nth-child(1):before{content:'Order Id';}
.marketplace-order-history .table-shadow-design tbody tr td:nth-child(2):before{content:'Date';}
.marketplace-order-history .table-shadow-design tbody tr td:nth-child(3):before{content:'Order Status';}
.marketplace-order-history .table-shadow-design tbody tr td .wk-mp-td-span {width: 50%; float: none; display: inline-flex; margin: 0px -2px;}
.marketplace-order-history .table-shadow-design thead,
.marketplace-order-history .table-shadow-design tbody tr.blank-table-tr{display:none;}
.marketplace-order-history  .wk-mp-fieldset .legend .title{display:inline-block}
.wk-mp-fieldset #example, .marketplace-account-customer .data-grid-draggable, .marketplace-account-review .data-grid-draggable,.marketplace-transaction-history .wk-mp-list-table{display:block;width:100%}
.wk-mp-fieldset #example tbody, .marketplace-account-customer .data-grid-draggable tbody, .marketplace-account-review .data-grid-draggable tbody ,.marketplace-transaction-history .wk-mp-list-table tbody{display:block;width:100%}
.wk-mp-fieldset #example tbody tr, .marketplace-account-customer .data-grid-draggable tbody tr, .marketplace-account-review .data-grid-draggable tbody tr,.marketplace-transaction-history .wk-mp-list-table tbody tr {display:block;width:100%}
.wk-mp-fieldset #example tbody tr td, .marketplace-account-customer .data-grid-draggable tbody tr td, .marketplace-account-review .data-grid-draggable tbody tr td,.marketplace-transaction-history .wk-mp-list-table tbody tr td {display:block;width:100%;word-break: break-word;}
.wk-mp-fieldset #example tbody tr td:before, .marketplace-account-customer .data-grid-draggable tbody tr td:before, .marketplace-account-review .data-grid-draggable tbody tr td:before,.marketplace-transaction-history .wk-mp-list-table tbody tr td:before{display:block;width:100%;font-weight:bold;text-align:left}
.marketplace-transaction-history .wk-mp-td-span { width: calc(50% - 3px);float: none; display: inline-flex;}
.marketplace-transaction-history .wk-mp-fieldset .wk-mp-list-table .button {    margin:5px 0px;    width: calc(50% - 3px);float: none;    display: inline-flex;    justify-content: center;}
.wk-mp-fieldset #example tbody tr td:nth-child(1):before{content:'Date';}
.wk-mp-fieldset #example tbody tr td:nth-child(2):before{content:'Invoice Id';}
.wk-mp-fieldset #example tbody tr td:nth-child(3):before{content:'Customer Name';}
.wk-mp-fieldset #example tbody tr td:nth-child(4):before{content:'Customer Email';}
.wk-mp-fieldset #example tbody tr td:nth-child(5):before{content:'Order Total (Base)';}
.wk-mp-fieldset #example tbody tr td:nth-child(6):before{content:'Order Total (Purchased)';}
.wk-mp-fieldset #example tbody tr td:nth-child(7):before{content:'View Order';}
.wk-mp-fieldset #example tbody tr td:nth-child(8):before{content:'View Invoice';}
.wk-mp-fieldset #example tbody tr.blank-table-tr td:before,
.wk-mp-fieldset #example thead,.marketplace-account-customer .data-grid-draggable thead,.marketplace-account-review .data-grid-draggable thead,.marketplace-account-review .data-grid-draggable tbody tr.data-grid-tr-no-data td:before, .marketplace-transaction-history .wk-mp-list-table thead,.marketplace-transaction-history .wk-mp-list-table tbody tr.blank-table-tr td:before{display:none;}
.marketplace-order_creditmemo-view .wk-order-title-block{display:block}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(1), .marketplace-account-review .data-grid-draggable tbody tr td:nth-child(1){border-top: 0.1rem solid #d6d6d6 !important;}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(1):before{content:'Customer Name'}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(2):before{content:'Email'}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(3):before{content:'Contact No.'}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(4):before{content:'Gender'}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(5):before{content:'Address'}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(6):before{content:'Base Total'}
.marketplace-account-customer .data-grid-draggable tbody tr td:nth-child(7):before{content:'Order'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(1):before{content:'ID'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(2):before{content:'Price Rating(in star)'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(3):before{content:'Value Rating(in star)'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(4):before{content:'Quality Rating(in star)'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(5):before{content:'Feed Summary'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(6):before{content:'Feed Review'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(7):before{content:'Customer Name'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(8):before{content:'Status'}
.marketplace-account-review .data-grid-draggable tbody tr td:nth-child(9):before{content:'Created'}
.marketplace-transaction-history .wk-mp-list-table tbody tr td:nth-child(1):before{content:'Transaction Id'}
.marketplace-transaction-history .wk-mp-list-table tbody tr td:nth-child(2):before{content:'Date'}
.login-container strong#block-customer-login-heading{padding:15px 0 !important}
.opc-estimated-wrapper .minicart-wrapper,#shipping .header-custom .step-title .selected_address{display:none !important;}
#checkout-payment-method-load .primary .action-cancel{margin:0px !important;}
.checkout-payment-method .payment-method-billing-address .primary .action-update{margin-top:10px !important}
.checkout-agreement label, .billing-address-same-as-shipping-block label{padding-right:0px !important}
.account .page-title-wrapper .page-title{    font-size: 18px !important;  padding: 30px 15px 15px;}
.form-address-edit .fieldset br{display:none;}
.field.street.required .nested .field:last-child { margin-bottom: 0px !important;margin-top: 0px !important;}
.page-header.type1 .navigation li.level0{float:left;width:100%;}
.page-header.type1 .navigation li.level0>.level-top{    padding: 8px 2px 7px 5px !important;}
.page-header .navigation .level0.parent > a:after{top:8px !important;}
header.page-header .nav-sections-item-title{width:50%;background-color:#3e5399}
header.page-header .nav-sections-item-title.active > a{color:#3e5399}
.sidebar.sidebar-main{margin-bottom:0px !important}
.wk-orderbox-content2 .wk-orderbox-details .wk-title-label{width:100%;display:block}
.wk-orderbox-content2 .wk-orderbox-details .wk-label{width:100%;display:block}
.wk-orderbox-content2 .wk-orderbox-total {width:260px !important;display:block}
.account .wk-mp-design .fieldset > .legend span button{width: calc(50% - 10px);}
.dropdown-containerss{right:5px !important;top:50px}
.checkout-payment-method .field-select-billing, .checkout-payment-method .billing-address-form{width:100% !important}
#co-shipping-form .btn-gradent {  float: none !important; margin-top: 10px !important;}
.login-container .block .block-title a{padding:14px 0 !important}
body.filter-active .columns {  z-index: 99999 !important;}
.catalog-product-view .product-details-section .justify-content-between span{padding:4px 0px !important}
#deliverydays_msg{width:100%;}
.toolbar.products-reviews-toolbar.bottom { position: unset;}
.admin__data-grid-filters-wrap .admin__form-field{width:100%}
.admin__data-grid-filters-footer .admin__footer-main-actions{margin-left:0px;}
.order-products-toolbar .pager{padding:0px}
#form-productlist-filter #colender-check .input-text{margin-left:0px;}
.wk-mp-design .mp-sales-widgets, .wk-mp-design .mp-widgets{width:100%;}
.wk-mp-design .toolbar .limiter{width:auto}
.marketplace-order_shipment-view .block-order-details-view .box-content .box.wk-box {float:left;  border: 1px solid #b6b6b7;   padding: 15px;}
.marketplace-order_shipment-view .block-order-details-view .box-content .box.wk-box .box-content .box.wk-box{    width: 100% !important;  max-width: 100% !important;  padding: 0px;  border: 0px;  margin: 0px !important;}
.marketplace-order_shipment-view  .wk-mp-design .order-details-items.ordered{float:left;}
.marketplace-order-view .block-content .box, .box.box-order-shipping-method{ max-width: calc(100% - 20px) !important;width: calc(100% - 20px) !important;}
.opc-estimated-wrapper {  display: none;}
.checkout-index-index .opc-sidebar{position: unset; right: 0; top: 0; visibility: visible; opacity: 1;margin: 0px 15px;  float: left;    width: calc(100% - 30px);}
.checkout-index-index .opc-sidebar .modal-inner-wrap{transform: unset;position: unset;box-shadow: none;    background: #fff !important;}
.checkout-index-index .opc-sidebar .cart-summary .cart-totals{padding:10px;}
.checkout-index-index .opc-sidebar .cart-summary table td{font-size:14px;}
.checkout-index-index .price_details h2{    padding: 15px 30px 15px;}
}
@media (max-width: 640px){
.header .legin img{width:23px !important;}
#dropdown-1{right:0px !important; top:0px !important}
.header .legin { right: 100px !important; top: 15px !important;}
.customer-address-form .actions-toolbar{width:100%}
.customer-address-form .actions-toolbar > .primary { max-width: 100%; flex: 0 0 100%; margin-left: 0;}
.account.rmasystem-index-index .column.main > .fieldset.info > .legend{
flex-wrap:wrap}
.account.rmasystem-index-index .column.main > .fieldset.info > .legend{padding-left:0px;padding-right:0px;}
#wk_rma_new_request{width:auto ;}
.account .pages a.page{font-size:12px;}
.account ul.items.pages-items{margin-bottom:10px}
.marketplace-account-editprofile .wk-mp-fieldset .button{width:auto !important;    margin: 10px 0px 0px !important;}
.marketplace-account-editprofile .field.profile { padding: 0px 20px;}
.marketplace-account-editprofile .field.profile .wk-profile-links{padding:10px 0;}
.marketplace-account-editprofile .field.profile .wk-profile-links a{width:100%}
.modal-popup .modal-footer button{margin-left: 10px;    padding: 0px 21px !important; margin-right: 0;    font-size: 15px !important;min-width:auto}

}
@media (max-width:575px){
.account .wk-mp-design .fieldset > .legend span button { width: 100%; margin: 0px !important;  margin-bottom: 10px !important;}
.marketplace-order_shipment-view .block-order-details-view .box-content .box.wk-box{max-width:100% !important;margin-left:0px !important;width:100% !important}
.marketplace-order_shipment-view .block-order-details-view .block-content .box-order-billing-method,.marketplace-order_shipment-view .block-order-details-view .block-content .box-order-shipping-method{max-width:100% !important;margin-left:0px !important;width:100% !important}

}
@media (max-width: 510px){
.header .legin img{width:21px !important;}
#dropdown-1{right:0px !important; top:0px !important}
.header .legin { right: 82px !important; top: 17px !important;}
button#pay_online,#checkout-payment-method-load .action.primary.checkout { width: 100% !important;}
.account .mp-widgets .cotainer button{padding:7px 15px;}
#form-productlist-filter table .wk-mp-td-span{padding:0px 3px;}
.account .wk-mp-design .fieldset > .legend span{/*display:flex;width:100%;*/}
.account .wk-mp-design .fieldset > .legend span button{/*padding:0px !important;*/}
.marketplace-account-editprofile .field.profile .wk-profile-links{width:100%}
#wk_massupload_product_export_form button{margin-bottom:10px}
.form-address-edit .field .control, div#shipping-new-address-form .field .control,.form-address-edit .field .label, div#shipping-new-address-form .label{max-width:100%;flex:0 0 100%}
#shipping-new-address-form>.field.required>.label:after, #shipping-new-address-form>.fields>.field.required>.label:after, #shipping-new-address-form>.field._required>.label:after, #shipping-new-address-form>.fields>.field._required>.label:after{position:unset;    line-height: 13px; margin: 0px; padding: 0px;}
 .form-address-edit .field .label, div#shipping-new-address-form .label{display:flex;align-items:center;}
#co-shipping-form .btn-gradent{float:none !important;margin-top:10px !important}
.go_to_cart a { margin-left: 0px;  margin-right: 5px;}
}
@media (max-width: 360px){
.header .legin img{width:21px !important;}
#dropdown-1{right:0px !important; top:0px !important}
.header .legin{ right: 80px !important;  top: 14px !important;}
}



/* end backend css */ 
 
 