@charset "utf-8";
/* CSS Document */

.checkout-cart-index .cart.table-wrapper .item_desc{display: none;}

.cart.table-wrapper .actions-toolbar{
    margin-top: -35px;
    padding-bottom: 50px;
    margin-right: 22px;
}

/*
.cart.table-wrapper .actions-toolbar .action {
    margin-right: 10px;
    color: #3a3a3a !important;
}
*/

.message.success{
	    background: #d1ddff;
    color: #3f549c;
}

.checkout-cart-index .cart.table-wrapper .actions-toolbar > .action-delete{text-transform: uppercase;}
.towishlist{color: #3a3a3a !important;}
/*
.checkout-cart-index .cart.table-wrapper .cart > .item .col.item {
    padding: 25px;
}
*/
.special-price .price, .price-box .price {
    font-size: 24px;
}

/*
.checkout-cart-index .cart.table-wrapper .product-item-name a {
    font-size: 20px;
}
*/
.checkout-cart-index .cart.table-wrapper .product-item-details{padding-left: 10px;}
.checkout-cart-index .cart-summary .cart-totals tr:last-child {
    border-top: 0px dashed #ededef;
}


@media(min-width:769px) and (max-width:1040px){
	.checkout-cart-index .cart.table-wrapper .product-item-details{max-width: 50%;}
	a.continue_shopping.action.apply.primary, a.proceed_payment.action.apply.primary {
    width: 42%;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
		padding-right: 0px;}
.cart-summary {
    width: 33.33333%;
    order: 2 !important;
    float: right !important;
}
	.checkout-cart-index .cart.table-wrapper .product-item-details {
    width: 50%;
    padding-right: 0px;
    max-width: 100%;
    box-sizing: border-box;
    min-width: auto;
}
	
}

@media(max-width:768px){
	
	a.continue_shopping.action.apply.primary, a.proceed_payment.action.apply.primary{width: 100%;}
.checkout-cart-index form#form-validate{
	    width: 100%;
}
	.checkout-cart-index .cart.table-wrapper .cart > .item .col.item {
    padding: 25px;
    width: 100%;
    float: left;
    box-sizing: border-box !important;
}
	.checkout-cart-index .cart.table-wrapper .item_desc {
    display: none;
}
	.checkout-cart-index .price-box{display: none;}
	.cart.table-wrapper .product-item-photo {
    left: 0;
max-width: none;
padding: 0;
position: relative;
top: 5px;
width: 25%;
border: 0;
border-radius: 0;
float: left;min-height: auto !important;
}
	.checkout-cart-index .field.qty{float: left;}
	.image_qty_item {
    display: inline-block;
    width: 50%;
    float: left;
}
	.checkout-cart-index .cart.table-wrapper .product-item-details {
    width: 50%;
    padding-left: 10px;
    float: left;
    min-width: auto;
}
	.checkout-cart-index .cart.table-wrapper .product-item-details {
    width: 60% !important;
float: left;
}
	
	.cart-container{
		    display: flex;
    flex-wrap: wrap;
	}
	.checkout-cart-index .cart-summary{    box-shadow: 0px 5px 9px -2px rgba(0, 0, 0, 0.25);
    border: 0px;
    border-radius: 4px;
    padding: 0px;
    background: #fff;
    order: 1;
    margin: 0 auto;
    border-radius: 0px;}
	.checkout-cart-index form#form-validate{order: 0;    margin: 0 auto;}
	.checkout-cart-index .cart.table-wrapper .actions-toolbar > .action-delete {
    text-transform: uppercase;
    right: 0px;
    top: 0px;
        position: absolute;
}
	.checkout-cart-index .cart.table-wrapper .product-item-name a {
    font-size: 15px;
}
	.checkout-cart-index .cart_form_container .page-title-wrapper .page-title{font-size: 15px;    padding-top: 0px;}
	.message.success > *:first-child:before{color: #3f549c;}
	.cart_form_container{border-radius: 0;}
	.checkout-cart-index .cart-summary .cart-totals td{font-size: 14px;    padding: 4px 0px;}
	.checkout-cart-index .cart-summary .cart-totals tr:last-child td {
    font-size: 18px;
}
	.checkout-cart-index .cart-summary .price_details h2{font-size: 16px;    padding: 20px 30px 15px;}
	.checkout-cart-index .cart-summary .text_section{font-size: 11px;    padding: 10px 30px;}
	
	.cart_form_container .card_bottom{       position: fixed;
    bottom: 0px;
    left: 0;
    background: #fff;
    padding: 10px 20px;    text-align: center;
    width: 100%;
    z-index: 2;}
	.cart_form_container .card_bottom .continue_shopping {display: none;}
	.cart_form_container .card_bottom .proceed_payment {width: 100%; margin: 0 auto !important;    max-width: 459px;}
	
	/*.cart.table-wrapper .col.qty, .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp{display: none;}*/
	.checkout-cart-index .cart.table-wrapper .cart > .item .col.item {
		padding: 15px 25px 15px 25px;}
	
	.checkout-cart-index .page-footer .footer .footer-top, .checkout-cart-index .page-footer .footer .footer-middle {
    display: none;
	}
	.checkout-cart-index .cart.table-wrapper .cart > .item{border: none;}
	.cart_form_container .cart.table-wrapper{    border-top: 1px solid #e7e7e7;}
	
	.checkout-cart-index form#form-validate {
    margin-right: 0 !important;
    padding: 0px 5px;
	}
	.success message span,.success message p{font: 11px;}
 .checkout-cart-index .cart.table-wrapper .product-item-name a {
    font-size: 13px;
}
/** new css by ram **/

.product-item-photo {
    min-height: auto !important;
}

body.checkout-cart-index .cart.table-wrapper .item-info {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.checkout-cart-index .cart.table-wrapper .product-item-details br{ display: none; }
.checkout-cart-index .cart.table-wrapper .product-item-details p{ padding: 0px; }
.checkout-cart-index .cart.table-wrapper .cart > .item .col.item {
    padding: 5px 10px 0px;
}
.checkout-cart-index .price-including-tax {
    padding-top: 13px;
}
body.checkout-cart-index .cart.table-wrapper .product-item-name a {
    font-size: 14px;
}
body.checkout-cart-index .cart.table-wrapper .item-actions {
    position: absolute;
    top: 0px;
    right: 0px;
}
body.checkout-cart-index .cart.table-wrapper .actions-toolbar a {
    margin-right: 3px;}
body.checkout-cart-index .cart.table-wrapper .actions-toolbar a:before {
    color: #333 !important;
    font-size: 23px !important;
}
body.checkout-cart-index .cart.table-wrapper .actions-toolbar a.action-edit{ right: 23px;}
body.checkout-cart-index .cart.table-wrapper .actions-toolbar a.action-edit:before { font-size:18px !important;}

body.checkout-cart-index .cart-container .form-cart .actions.main a, body.checkout-cart-index .cart-container .form-cart .actions.main button{
    font-size: 12px;
    padding: 10px 6px;margin-right: 6px;

}
body.checkout-cart-index .cart-container .form-cart .actions.main {
    clear: both;
    overflow: hidden;
    padding: 10px 0px 0px;
}
.abs-cart-block.active > .title::after, .abs-discount-block .block.active > .title::after, .cart-summary .block.active > .title::after, .paypal-review-discount .block.active > .title::after, .cart-discount .block.active > .title::after {
    font-size: 25px;
}
.cart-empty {
    font-size: 16px;
}
/** new css by ram **/

}


.discount-code .payment-option-content .message.message-success.success {    padding-left: 65px;
    margin-left: 0;
    vertical-align: top;
    display: inline-block;
    width: 98%;
}
.discount-code .payment-option-content .messages .message.message-error.error{    padding-left: 65px;
    margin-left: 0;
    vertical-align: top;
    display: inline-block;
    width: 98%;
}