@charset "utf-8";
/* checkout css Document */

#checkoutSteps li{
	padding: 5px 15px;
}

/*
#checkoutSteps li span {
    padding-right: 10px;
}
*/

div#shipping-new-address-form .field .control .input-text, div#shipping-new-address-form .field .control .select{
	    
    border: 1px solid #5d5d5d !important;
}
.form-address-edit .field, div#shipping-new-address-form .field{
	    width:48%;
    float: left;
}


/* .form-address-edit .field, div#shipping-new-address-form .field:nth-child(2n) {
    margin-left: 4% !important;
}
.form-address-edit .field, div#shipping-new-address-form .field:nth-child(5) {
    margin-left: 4%;
} */

.form-address-edit .field {
    margin-left: 4% !important;
}
.form-address-edit .field {
    margin-left: 4%;
}

.opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
    width: 100%;
    max-width: 100%;
}


/* .form-address-edit .field, div#shipping-new-address-form .field:nth-child(8) {
    margin-left: 0px !important;
    margin-right: 4%;
}

.form-address-edit .field, div#shipping-new-address-form .field:nth-child(10) {
    margin-left: 0 !important;
    margin-right: 4%;
} */

.form-address-edit .field {
    margin-left: 0px !important;
    margin-right: 4%;
}

.form-address-edit .field {
    margin-left: 0 !important;
    margin-right: 4%;
}

#co-shipping-form .btn-gradent {
    width: 250px;
    text-align: center;
    margin-top: 4%;
	
}

div#shipping-new-address-form .field .control .input-text, div#shipping-new-address-form .field .control .select{font-size:15px;}

div#shipping-new-address-form .field .control .field:nth-child(1), div#shipping-new-address-form .field .control .field:nth-child(2), div#shipping-new-address-form .field .control .field:nth-child(3) {
    width: 100%;    margin-left: 0px !important;
}


/* .form-address-edit .field, div#shipping-new-address-form .field:nth-child(8) {
    margin-left: 4% !important;
    margin-right: 0;
}
.form-address-edit .field, div#shipping-new-address-form .field:nth-child(10) {
    margin-left: 4% !important;
    margin-right: 0;
} */

.form-address-edit .field {
    margin-left: 4% !important;
    margin-right: 0;
}
.form-address-edit .field {
    margin-left: 4% !important;
    margin-right: 0;
}
#co-shipping-form .btn-gradent {
     width: 306px;
    height: 56px !important;
    text-align: center;
    margin-top: 6em;
    float: right;
    margin-bottom: 3em;
    line-height: 56px !important;
    padding: 0px 0px !important;
    vertical-align: 1px;
    font-size: 18px;
}
#checkoutSteps li .product-des-custom .prod_price {
    font-size: 19px;
    margin: 14px auto;
}
#checkoutSteps li .prod_qty{
	      box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.21176470588235294);
    color: #acacac;    border: none;background: #f4f4f4;
}

#shipping .header-custom .step-title .selected_address {
    left: 40%;
    border: 1px solid #3F549C;
    border-radius: 4px;
    width: 120px;
    height: 40px;
    line-height: 1;
    color: #3F549C;
    display: block;
    text-align: center;
    padding: 0px 18px 10px 24px;
}

.checkout-payment-method .payment-method-billing-address{
	    padding: 0px 15px;
    box-sizing: border-box;
}
.checkout-billing-address{
	    background: #fff;
	    border: 1px solid #e8eaef;
    padding: 20px;
    border-radius: 4px;
}
.checkout-payment-method .payment-method-billing-address .billing-address-details {
    padding-left: 20px; font-size: 16px; color: #3c3c3c;
}
#checkout-payment-method-load .actions-toolbar {
    text-align: center;
    font-size: 12px !important;
    color: #7d7f7e;
    text-align: left;
    padding: 0px 10px;
    box-sizing: border-box;
}

#checkoutSteps li .step-content p {
    font-size: 14px;
}

.checkout-agreements-block .checkout-agreements {
    margin-bottom: 18px;
    padding: 4px 15px;
}
#checkout-payment-method-load .actions-toolbar{
	    text-align: left;
    padding: 0px 15px;
    box-sizing: border-box;
}
button#pay_online {
    width: 306px !important;
}

/*
.checkout-payment-method .payment-method._active .payment-method-content{
	    background: #f1fcff;
}
*/

@media(max-width:768px){
	.opc-estimated-wrapper {
    margin: 0px;
    padding: 18px 15px;    padding: 10px 15px;
	}
	#checkoutSteps li.success .step-title {
    padding: 15px 0px;
}
	#checkoutSteps li .tab-heading-custom{
		padding: 15px 0px;    font-size: 14px;
	}
	#shipping .header-custom .step-title .selected_address {
    left: inherit;    border:0px solid #3F549C !important;    padding: 0px !important;
    margin: 0 !important;
    width: auto;
	}	
	.success .header-custom.custom-acc-links .tab-heading-custom:after{left: 12px;}
	.success .header-custom.custom-acc-links .tab-heading-custom:before{    left: 5px;}
	#checkoutSteps li.success .step-title {
    padding: 15px 0px 15px 35px !important;
}
	#checkoutSteps li .toggle-class-close .tab-heading-custom p{font-size: 12px;    padding-left: 10px;}
	
	#checkoutSteps li span {
		font-size: 14px;}

	.items.payment-methods .payment-group {
    float: left;
    width: 100%;
	}
	.items.payment-methods .payment-method .payment-method-title {
    position: relative;
    right: 0;
    width: 100%;
    top: 0px;
    float: left;
    border-bottom: 1px solid #e8eaef;
}
		.items.payment-methods .payment-method + .payment-method .payment-method-title {
    top: 0px;
}
	.checkout-payment-method .payment-method._active .payment-method-content{
		
		    width: 100%;
    float: left;
	}
	.items.payment-methods{    margin: 0 -9px;}
	.form-address-edit .field, div#shipping-new-address-form .field {
    width: 100%;
    float: left;
    margin: 10px auto !important;
}
	.opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
    width: 100%;
    max-width: 100%;
    float: left;
    background: #fff;
    padding: 0px !important;    margin: 0 auto !important;
}
	
	#checkoutSteps li .step-content {
    padding-bottom: 15px;
    float: left;
    padding: 10px 0px !important;
}
	.form-address-edit .field, div#shipping-new-address-form .field:nth-child(2n) {
    margin-left: 0% !important;
}
	.form-address-edit .field, div#shipping-new-address-form .field:nth-child(8){
		margin-left: 0% !important;
	}
	.form-address-edit .field, div#shipping-new-address-form .field:nth-child(10) {
    margin-left: 0% !important;
	}
	div#shipping-new-address-form .field .control .input-text, div#shipping-new-address-form .field .control .select {
    font-size: 13px;    height: 40px !important;
}
	
	.form-address-edit .field .label, div#shipping-new-address-form .label{font-size: 13px;}
	#checkoutSteps li span {
    font-size: 13px;
}
	#co-shipping-form .btn-gradent {
    width: 100%;
    height: 46px !important;
    text-align: center;
    margin-top: -1em;
    float: right;
    margin-bottom: 1em;
    line-height: 46px !important;
    padding: 0px 0px !important;
    vertical-align: 1px;
    font-size: 18px;
}
	#checkoutSteps li .product-item-list .prod_image{    width: 100px;
    height: 100px;}
	#checkoutSteps li .product-des-custom .prod_price {
    font-size: 13px;
    margin: 4px auto;
}
	
	#checkoutSteps li .product-des-custom .prod_name {
    font-size: 13px;
    font-weight: 400;
	}
	
	.go_to_cart {
    display: inline-block;
    margin: 15px auto;
    float: left;
    width: 100%;
	}
	
	a.continue_shopping.action.apply.primary, a.proceed_payment.action.apply.primary {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px;
}
	
	.checkout-agreement label, .billing-address-same-as-shipping-block label{float: left;    padding-left: 30px;
    padding-right: 33px;}
	#checkoutSteps li .step-content p {
    font-size: 12px;
}
	#checkoutSteps li .product-des-custom {
    width: calc(100% - 0px);
	}
	.go_to_cart {
    display: inline-block;
    width: 100%;
    float: left;
}
	#checkoutSteps li.success .step-title {
    padding: 15px 0px 15px 35px !important;
    font-size: 13px !important;
}
	.go_to_cart a {
    float: left;
    width: auto;
}
	#checkoutSteps li .toggle-class-close .tab-heading-custom p {
    padding-left: 35px;
}
	#checkoutSteps li .toggle-class-close .tab-heading-custom p {
    font-size: 12px;
    float: left;
    padding-left: 30px;
    word-break: break-word;
    width: 55%;
}
	h2.pay_my_billing {
    font-size: 14px;    margin: 10px 0px;
}
	#checkout-payment-method-load .action.primary.checkout {
    float: left;
    margin: 10px -4px !important;
    font-size: 15px;
    padding: 0px !important;
    height: 50px !important;
    line-height: 50px !important;
    box-sizing: border-box;
}
	#checkout-payment-method-load .actions-toolbar {
    text-align: left;
    padding: 0px 0px;
	}
	.items.payment-methods {
    margin: 0 0px;
}
	.checkout-payment-method .payment-method._active .payment-method-content {
    border: none;
}
	.opc-estimated-wrapper{border: none !important;}
}
/*om css*/
.checkout-payment-method .payment-option-title .action-toggle > span {display: inline-block;
    vertical-align: middle; font-size: 16px; color: #6f6f71;}


.opc-wrapper .form-discount {max-width: 100%;}
.opc-wrapper .form-discount .payment-option-inner {float: left; width: 33%;}
.opc-wrapper .form-discount .field { float: left; width: 100%;}
.opc-wrapper .form-discount .field input {width: 100%; height: auto; padding: 14px;}
.opc-wrapper .form-discount .actions-toolbar { float: left; margin-left: 15px !important;}
.opc-wrapper .form-discount .actions-toolbar button {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 6px 32px; color: #fff; border: 0px solid #717171; font-size: 20px; border-radius: 6px !important; font-family: 'Exo'; margin: 0px; width: auto; font-weight: 400 !important; height: 48px !important; line-height: 36px !important; margin-right: 15px;}
.payment-option._collapsible.opc-payment-additional.discount-code._active {clear: both; overflow: hidden; position: relative;}
.payment-option._collapsible.opc-payment-additional.discount-code._active .payment-option-content .checkout-messages {    position: absolute; top: 8px;  left: 0;  width: 100%;}
.payment-option._collapsible.opc-payment-additional.discount-code._active .payment-option-content .checkout-messages  .message.message-success.success {padding: 0px !important; margin: 0px !important;}

@media (min-width: 320px) and (max-width: 1024px) {
    .opc-wrapper .form-discount {display: flex; justify-content: space-between; width: 100%;}
    .opc-wrapper .form-discount .payment-option-inner {width: 55%;}
    .opc-wrapper .form-discount .actions-toolbar button {line-height: 32px !important;}
}