
/* navi changes new style 23-5-2019 */
@media (min-width: 1500px){
.navigation, .page-wrapper > .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main,
.container { max-width: 1440px;}}
@media (min-width:768px){
.page-header .header.panel {  padding-bottom: 2px; padding-top: 3px;  display: flex; align-items: center;  font-family: 'Exo';  font-size:12px;   font-weight:300;}
.category-image {   margin-bottom: 30px;  display: none !important;}
.fieldset > .actions{display: block !important; }
.header.panel > .header.links{    display: flex;    align-items: center;}
.header.panel > .header.links > li > a, .header.panel > .header.links > li > span {   padding: 0 8px;   border-left: 1px solid #ccc;   line-height: 12px;   text-transform: capitalize; font-size: 12px; font-weight: 300;}
.sw-megamenu.navigation li.level0.fullwidth > .submenu{ }
.checkout-cart-index form#form-validate{padding-right:15px;}
    
}
.logo img{width:220px}
.custom-search-box ul {  list-style: none; padding: 0px; margin: 0px;}
.custom-search-box ul li { display: inline-block; padding: 4px 0;    margin: 0px; padding-right: 13px; position: relative;line-height:12px;
}
.custom-search-box ul li a { color: #fff !important; font-size: 12px;
text-decoration: none;font-family: 'Exo';}
.custom-search-box ul li:after { content: '';  width: 1px;  height: 10px;
    display: inline-block; background: #fff !important; position: absolute;  top: 50%; right: 6px; transform: translate(0%,-50%);}
.custom-search-box ul li:last-child:after{display:none;}
.header.panel > .header.links > li.apple_app> a,.header.panel > .header.links > li.androld_app> a,.header.panel > .header.links > li.sell_with_us> a{border-left:0px;}
.header.panel > .header.links > li.apple_app> a,.header.panel > .header.links > li.androld_app> a{padding:0px 4px;}
.search-category, #mpsearch-category {   height:38px; border-bottom: 0px;  border-top: 0px; font-size: 14px; color: #3d3d3f; font-family: 'Exo';}
#search_mini_form input#search{ font-size: 14px; color: #3d3d3f;font-family: 'Exo';  border-radius: 5px;}
.autocomplete-suggestions{border:0px !important}
.page-header.type1 .block-search .action.search{padding:0px 9px;    border-radius: 0px 4px 4px 0px;}
.block-search .action.search{height:38px;}
.page-header.type1 .block-search .action.search:before{color:#fff;font-size:20px;content:'';  width: 24px; height: 100%;  background-size: 21px;  background-repeat: no-repeat; background-position: center center;}
.header-main-nav { box-shadow: 0px 0px 5px rgba(0,0,0,.25);}
.page-header.type1 .navigation>ul { background: none; display: flex; justify-content: space-between;font-family: 'Exo';}
.page-header.type1 .navigation li.level0{padding:0px 55px;}
.page-header.type1 .navigation li.level0>.level-top { padding: 0px;}
.page-header.type1 .nav-sections{margin-bottom:0px;}
.sw-megamenu.navigation li > a > span{ vertical-align: middle; font-size: 14px; color: #000; text-transform: capitalize; font-weight: 500;}
.page-header.type1 .navigation li.level0:hover{background:none !important;}
.page-header.type1 .navigation li.level0:hover > a > span{color:#40549d;}
.page-header.type1 .navigation li.level0:hover.parent>a:after{transform: rotate(180deg);color:#40549d;}
.header.content .minicart-wrapper .action.showcart:before{display:none;}
.header .legin { display: flex;   height: 38px;margin:22px 12px 21px 4px;    align-items: center;}
.header .legin img{width:24px;margin-right:6px;}
.page-header.type1 .minicart-wrapper {    right: 125px !important;}
.page-header.type1 .minicart-wrapper img{width:30px;margin-right: 8px;}
.page-header.type1 .minicart-wrapper img + span {    position: unset !important;    width: auto !important;    height: auto !important;    color: #fff;}
.minicart-wrapper .action.showcart {  white-space: nowrap;  display: flex !important;    height: 40px;    align-items: center;}
.header.content .custom-block a{    display: flex;    align-items: center;
    text-decoration: none;}
.header.content .custom-block a img{margin-right:10px;}
header .custom-block span a:hover b{color:#fff !important;}
.page-header.type1 .custom-block {    right: 203px !important;margin-top:-17px;}
header .custom-block b, .page-header.type1 .minicart-wrapper img + span, .header .legin{font-size:12px !important;    font-family: 'Exo';}
.minicart-wrapper .action.showcart .counter.qty {    right: unset !important;    background-color: #f3a626;    left: 20px;    border-radius: 100%;    line-height: 20px;    font-size: 10px;}
.page-header.type1 .logo {    margin: 21px 0;}
.block-search input{height:38px;}
header .panel{border-bottom:0px !important;background:#283c82 !important;}
.page-header .header.content {    background-color: #3f549c !important;}
body.layout-fullwidth.cms-index-index .page-main{padding-left:0px;
padding-right:0px;}
#banner-slider-demo-12{margin-top:0px;}
.finderProducts.vertical {  background: #35c2cd;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);    padding: 20px;font-family: 'Exo';
height:calc(100% - 4px)}
.finderProducts.vertical h3 {  font-size: 24px;  font-weight: bold;    color: #fff;    font-family: 'Exo';    margin: 0px;    margin-bottom: 15px;    text-transform: uppercase;}
.finderDropdowns .form-group{margin-bottom:20px;}
.finderDropdowns .form-control{  color: #666666;  font-size: 14px;    height: 38px;    border-radius: 4px;    font-weight: 500;    font-family: 'Exo';    text-transform: capitalize;}
button#reset_3 { width: calc(50% - 8px); height: 40px; border-radius: 4px; margin: 10px 0px; background: #5067b3; color: #fff; font-size: 16px; font-weight: 500; border-color: #5067b3;box-shadow: 0px 2px 8px #5067b3; font-family: 'Exo';}
button#find_3 {  width: calc(50% - 8px);  height: 40px;  border-radius: 4px; margin: 10px 0px; background: #5067b3; color: #fff; font-size: 16px; font-weight: 500; border-color: #5067b3; float: right; box-shadow: 0px 2px 8px #5067b3;  text-transform: capitalize; font-weight: 500;font-family: 'Exo';}
.banner-content {  position: absolute; bottom: 70px; left: 0px; width: 50%;  padding-left: 10%;}
.banner-inner-content {    width: 100%;}
.banner-inner-content h3 { font-size: 30px; color: #000000; font-weight: 400;  font-family: 'Exo';  margin-bottom: 17px;}
.banner-inner-content h2 {  font-size: 36px; color: #000000; font-weight: bold;  font-family: 'Exo';  margin-top: 0px;  margin-bottom: 30px;}
.banner-inner-content .btn-blue-gradiant {
    background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);    padding: 6px 24px;    color: #fff;    border: 0px;    font-size: 20px;    border-radius: 9px;font-family: 'Exo';}
.catalog-product-view #buy-now {    background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);    padding: 6px 60px;
    color: #fff;    border: 0px;    font-size: 20px;    border-radius: 9px;    font-family: 'Exo';    margin: 0px;    width: 237px;    font-weight: 600;
    height: 56px;}
#banner-slider-demo-12 .owl-dots{display:none;}
#banner-slider-demo-12 .owl-prev {
    background: rgba(255, 255, 255, 0.9) !important;
    padding: 15px 0px !important;
    margin: 0px !important;
    font-size: 31px !important;
    border-radius: 0px 10px 10px 0px !important;
left:0px !important
}
#banner-slider-demo-12 .item img{
height:auto !important;
}
#banner-slider-demo-12  .owl-nav em {
    color: #6c6d70;
}
#banner-slider-demo-12 .owl-next{
background: rgba(255, 255, 255, 0.9) !important;
    padding: 15px 0px !important;
    margin: 0px !important;
    font-size: 31px !important; 
    border-radius: 10px 0px 0px 10px !important;
right:0px !important;
}
#home_banner_cus{min-height:0px;}
.brand-section {    width: 100%;    padding: 20px 0 0;}
.row.new-mar{margin-top:0px;}
.page-wrapper {    background: #f7f7f7;}
.brand-inner-box {    background: #fff;    padding: 15px;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);    border-radius: 4px;height:100%;}
.brand-inner-box .row{margin:0px;}
.brand-inner-box  [class*="col-"]{padding:5px;}
.brand-inner-box img.brand-img {    position: absolute;    top: 50%;    left: 50%;    transform: translate(-50%,-50%);    max-width: 90%;    max-height: 90%;}
.brand-inner-box img.brand-bg {    width: 100%;}
.brand-inner-box .panel.mat {    position: relative;line-height:0px;}
.brand-section h2 {    font-family: 'Exo';    font-size: 20px;    font-weight: 600;    color: #000;    margin-top: 10px;    margin-bottom: 10px;}
.brand-section h2 a{ color: #000;text-decoration: none;}
.brand-section p {    font-family: 'Exo';    font-size: 16px;    color: #000;
    font-weight: 500;    margin-bottom: 0px;}
.post-sections-list ,.dealadds-banner{    padding: 30px 0 0;}
.sectionproducts-titles,.block.upsell .title strong {    color: #000000;    font-size: 24px;    font-family: 'Exo';    font-weight: 600;    text-transform: capitalize;    margin: 0px;}
.block.upsell .title strong{background:none;}
.block.upsell .title{padding-left:0px !important}
.m-0{
margin:0px !important;
}
h2.sectionproducts-titles + a {
    border: 1px solid #000;
    padding: 7px 18px;
    border-radius: 6px;
    font-family: 'Exo';
    font-size: 14px;
    color: #000;
    font-weight: 600;
}
.grid-section-carousel,
.deal-banner-content,
.explore-content,
.flesh-deals-content,
.question-answer-content,
.seller-guarantee,
.review-rating-content {
    margin-top: 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
}
.deal-banner-content,
.explore-content{
padding:20px;
}
.adds-banner-option{
 background: #fff;
    padding: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
}
.flesh-deals-content{
padding:20px;
margin-bottom:40px;
}
.products-grid{
border:0px;
}
.grid-section-carousel .block-bestseller-products {
margin-bottom:0px;
}

.bestsold-sliders .owl-item .item{
padding:0px;
}
.bestsold-sliders .owl-item .item .product-item-info{
border:0px;
}
.grid-section-carousel  [class*="col-"]{
padding:0px;
}
.grid-section-carousel  .owl-prev{
     top: 50%;
    transform: translate(0,-50%);
    margin: 0px !important;
    background: #3f549c;
    border-radius: 8px 0px 0px 8px !important;
    padding: 15px 0px 15px 3px !important;
}

.grid-section-carousel .owl-next {
    right: -15px !important;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0px !important;
    background: #3f549c;
    border-radius: 8px 0px 0px 8px !important;
    padding: 22px 0px 22px 0px !important;
    font-size: 25px !important;
}
.grid-section-carousel .owl-theme .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0,-50%);
margin-top:0px;
}
.h-100{
height:100%;
}
.backacces{
padding:10px;
 text-align: center;
width:100%;
}
.backacces h1 {
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Exo';
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0px;
}
.backacces p{
 font-size: 16px;
    font-weight: 400;
    font-family: 'Exo';
color: #fff;
max-width:80%;
    display: block;
    margin: 0px auto;
}
.blue-gradient{
background-image: linear-gradient(to bottom, #3f549c,#3f549c, #35c2cd);
}
.blue-gradient:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0,-50%);
    border-color: transparent transparent transparent #3f549c;
    display: inline-block;
    z-index: 12;
}
.blue-gradient .backacces h1:after{
content:'';
width:30px;
height:3px;
background:#fff;
display:block;
margin:10px auto;
}
.lightgreen-gradient {
    background-image: linear-gradient(to bottom, #2eb396,#2eb396, #52d4b8);
}
.lightgreen-gradient:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0,-50%);
    border-color: transparent transparent transparent #2eb396;
    display: inline-block;
    z-index: 12;
}
.orange-gradient {
    background-image: linear-gradient(to bottom, #f3a626,#f3a626, #ffd48d);
}
.orange-gradient:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0,-50%);
    border-color: transparent transparent transparent #f3a626;
    display: inline-block;
    z-index: 12;
}
.green-gradient {
    background-image: linear-gradient(to bottom, #168c95,#168c95, #35c2cd);
}
.green-gradient:after {
    content: '';
    border: 10px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0,-50%);
    border-color: transparent transparent transparent #168c95;
    display: inline-block;
    z-index: 12;
}
.product-reviews-summary .reviews-actions a{
display:none;
}
.product-item-details {
        padding: 10px 0 0px;
    text-align: left;
    padding-left: 26px;
}
.grid-section-carousel .product-item-name > a, 
.grid-section-carousel .product.name a > a {
    color: #3d3d3f !important;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
    height: 36px !important;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.special-price .price {
    font-family: 'Exo';
    font-size: 18px;
    letter-spacing: 0.005em;
    color: #000 !important;
    font-weight: 600 !important;
}
.old-price .price, .old.price{
font-family: 'Exo';
 color: #3d3d3f !important;
    font-weight: 600 !important;
padding-left: 10px;
}
.price-box.price-final_price{
display: inline-block;
}
span.percentage-price.sale-product-icon{
color:#f3a626 !important;
font-family: 'Exo';
    font-weight: 600 !important;
padding-left: 10px;
}
.product-reviews-summary.empty .reviews-actions:before {
    content: '\f844' '\f844' '\f844' '\f844' '\f844';
    display: inline-block;
    vertical-align: middle;
    font-family: "porto-icons";
    color: #e8eaef;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
}
.rating-summary .rating-result:before{
color: #e8eaef;
}
.rating-summary .ratingco {
    color: #f3a626;
    font-weight: 500;
    margin-right: 7px;
    font-size: 15px;
}
.rating-summary .rating-result > span:before, .review-control-vote label:before {
    color: #f3a626;
}
.footer-top{
padding:15px 0;
}
.footer-top-content-box {
    border: 1px solid #e8eaef;
    border-radius: 6px;
    padding: 20px;
height:100%;
}
.footerIcons .block-title {
    font-size: 20px;
    font-weight: 400;
    color: #3d3d3f;
    font-family: 'Exo';
    margin: 0px !important;
    margin-bottom: 20px !important;
}
.footer-top-content-box p{
font-family: 'Exo';
    margin: 0px !important;
 font-size: 12px;
    font-weight: 500;
color:#3d3d3f;
}
.footer_top_custom_block a{
    text-decoration: none;
    color: #3d3d3f;
}
.footer .footer-middle {
    padding: 45px 0 60px;
    border-bottom: 1px solid #e8eaef !important;
}
.footer-middle .block-title strong span {
    font-weight: 400;
    color: #3d3d3f;
    font-size: 16px;
font-family: 'Exo';
}
.footer-middle ul.links ,
.footer-middle ul.features,
.footer-middle .block-content{
    margin-top: 16px;
    padding: 0px;
}
.footer-middle ul.links li, 
.footer-middle ul.features li {
    padding: 7px 0;
    color: #6c6d70;
    font-size: 12px;
    font-family: 'Exo';
    font-weight: 500;
}

.footer-middle .block.newsletter{
margin-bottom:8px;}
.footer-middle .block.newsletter input {
    padding: 0 10px;
    background-color: #e8eaef;
    border-radius: 5px 0 0 5px !important;
    height: 36px;
    border: 0;
    color: #6c6d70;
    font-size: 12px;
    font-family: 'Exo';
}
.footer-middle .block.newsletter input::placeholder { 
    color:#6c6d70;
}   
.footer-middle .block.newsletter input:-ms-input-placeholder { 
    color:#6c6d70;
}   
.footer-middle .block.newsletter input::-ms-input-placeholder {
    color: #6c6d70;
} 

.footer-middle .block.newsletter .action.subscribe {
    font-family: 'Exo';
    color: #fff;
    background-color: #2F2F2E !important;
    border: 0px;
    height: 36px !important;
    border-radius: 0px 4px 4px 0px !important;
    font-weight: 400;
    font-size: 16px;
}
.footer-middle .footer-top-inner  .block-title strong span{
    text-transform: uppercase;
}
.footer-middle .footer-top-inner .block-content{
margin-top: 0;
}
.footer-middle .footer-top-inner  li{
display:inline-block;
margin-bottom: 0px; 
}
.footer-middle .footer-top-inner  li > a {
    background: none;
    border-radius: 0px;
    width: 40px;
    height: auto;
    line-height: unset;
margin-left:24px;
display:inline-block
}
.footer-middle .footer-top-inner li:first-child a {
    margin-left: 0;
}
.footer-middle .footer-top-inner ul{
padding:0px;
list-style:none;
margin-bottom: 0px; 
}
.footer-middle .footer-top-inner  li a:hover{
background:none !important;
}
.footer-middle .footer-top-inner .block .block-title{
 margin-bottom: 25px; 
}

.social-icons .block-title{
margin-bottom: 25px; 
}

.footer-middle-2{
    padding: 24px 0 40px;
}

button.carousel-add-wishlist {
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: 9999;
    border: 0px;
    background: none;
    width: auto;
    height: auto;
    padding: 0px;
}
button.carousel-add-wishlist i{
color:#616161 !important;
font-size: 20px;
}
.deal-banner-content .col-md-6:first-child{
padding-left:0px;
}
.deal-banner-content .col-md-6:last-child{
padding-right:0px;
}
.deals-banner-content-heading {
    width: 100%;
    padding: 15px;
    border: 1px solid #eaeaea;
}
.deals-banner-content-heading h2 {
    font-family: 'Exo';
    margin: 15px 0 0;
    text-align: center;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}
.deals-banner-content-heading p {
    font-family: 'Exo';
    color: #000;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.deal-banner-content .image-link:hover{
text-decoration: none;
}
.deal-banner-content .image-link:hover:before{
opacity: 0;
}

.content-explore {
    position: absolute;
    bottom: 20px;
    background: #f5f3f4;
    padding: 15px;
    border-radius: 0px 10px 10px 0;
}
.content-explore h2 {
    font-family: 'Exo';
    font-size: 20px;
    color: #000000;
    margin: 1px 0px;
    font-weight: 400;
    white-space: nowrap;
}
.content-explore h3 {
    font-family: 'Exo';
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin: 6px 0;
    text-align: left;
}
.flesh-deals-content .panel{
position:relative;
}
.flesh-deals-content .panel h2 {
    font-family: 'Exo';
    font-size: 36px;
    color: #000;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 24px;
    width: 100%;
}

.flesh-deals-content  .panel h3{
   font-family: 'Exo';
    font-size: 24px;
    color: #000;
    font-weight: 500;
    text-align: center;
    position: absolute;
    bottom: 24px;
    width: 100%;
}
.flesh-deals-content  .col-md-6 .col-6:nth-child(1),
.flesh-deals-content  .col-md-6 .col-6:nth-child(2){
margin-bottom:18px;
}
.padding-l-0 {
    padding-left: 0px;
padding-right:10px
}
.padding-r-0 {
    padding-right: 0px;
padding-left:10px
}
.block-search {
    width: 700px !important;
    max-width: 700px !important;
}
.page-header.type1 .block-search {
    margin-left: 75px;
}
.page-header .navigation .level0.parent > a:after {
    width: 18px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: center;
}
#banner-slider-demo-12{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.page-main {
    padding-top: 20px;
}
.page-header.type1 .navigation{
padding:0px;
}
.navigation .level0 .submenu{
border:0px;
padding:0px;
}
.navigation .level0 .submenu .subchildmenu > li.parent {
height:100%;
padding:10px;
}
.navigation .level0 .submenu .subchildmenu > li.parent:nth-child(2n){
/* background:#e9eaef; */
}

.cms-index-index #banner-slider-demo-12 .owl-controls{
bottom:unset;
}

button.reword-btn {
    position: absolute;
    bottom: 60px;
    left: 84px;
    background: #f4ab30;
    border: 0px;
    font-size: 23px;
    padding: 20px 50px;
    display: inline-block;
    height: auto;
    color: #3d3d3f;
    border-radius: 12px;
    font-family: 'Exo';
    font-weight: 600;
}
.footer_top_custom_block .icon{
height:120px;
}
.footer_top_custom_block .icon img {
    max-width: 110px !important;
    width: auto !important;
    max-height: 110px !important;
}
.breadcrumbs {
padding:0px !important;
    background: none !important;
}
.breadcrumbs .items > li{
padding:8px 0;
}
.breadcrumbs .items > li,
.breadcrumbs .items > li a{
font-family: 'Exo' !important;
    font-size: 14px;
}
.breadcrumbs li.home a{
    text-indent: 0 !important;
}
.sidebar.sidebar-main{
background:none;
}
.sidebar.sidebar-main:before{
display:none;
}
div#layered-filter-block-container,
.layout-fullwidth.page-layout-2columns-left .column.main {
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.21);
}
.products-grid .product-item .product-item-info{
border:0px;
background:none;
}
#ln_slider_price.ui-slider-horizontal {
    background-color: #35c2cd;
    border: 0px;
    box-shadow: none;
    height: 5px;
}
#ln_slider_price .ui-slider-handle {
    margin-top: -4px;
    background: #fff;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    margin-left: -7px;
    background-color: #ffffff;
    border: 1px solid #35c2cd;
padding:0px;
}
#ln_slider_text_price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #3d3d3f;
    font-family: 'Exo' !important;
    font-weight: 500;
}
#custom_filter .form-inline {
    display: inline-flex;
    justify-content: space-between;
}
#custom_filter .form-group {
    display: flex;
    align-items: center;
    border: 1px solid #cccc;
    padding: 8px;
    border-radius: 5px;
    margin: 4px 15px 0px 0px;
}
#custom_filter .form-group.no-border {
    border: 0px;
}
#custom_filter .form-group label {
    font-size: 12px;
    color: #3d3d3f;
    font-weight: 500;
}
#custom_filter .form-group input {
    border: 0px;
    font-size: 12px;
    color: #3d3d3f;
    font-weight: 500;
    padding: 0px 5px;
    height: auto;
}
#custom_filter .action.submit.primary{
    margin-top: 4px !important;
    border: 1px solid #3d3d3f;
    background: none;
    color: #3d3d3f;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}
.filter-options-title{
font-size: 17px;
color: #000;
}
.filter-options-title:after{
    content: "\f882";
}
.active > .filter-options-title:after {
    content: '\f883';
}
.filter-options-content a {
        display: flex;
    justify-content: space-between;
    color: #3d3d3f !important;
    font-size: 14px;
    font-weight: 500;
    padding-left: 30px;
    position: relative;
}
.filter-options-content .item input[type="checkbox"],
.filter-options-content .item input[type="radio"] {
    margin: -2px 4.5px 0 0;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 9;
    opacity: 0;
}
.filter-options-content a:after {
        content: '';
    position: absolute;
    width: 20px;
    border: 1px solid #dedede;
    height: 20px;
    border-radius: 0px !important;
    left: 0px;
}
.filter-options-content .item input[type="checkbox"]:checked + a:before,
.filter-options-content .item input[type="radio"]:checked + a:before,
a.rating-summary.lnultimate-rating-slider.selected:before {
   content: "";
    position: absolute;
    border: 1px solid !important;
    width: 7px !important;
    height: 12px !important;
    border-color: #fff transparent transparent #fff !important;
    left: 6px !important;
    z-index: 1 !important;
    top: 1px !important;
    transform: rotate(-135deg);
    border-radius: 0px !important;
}
.filter-options-content .item input[type="checkbox"]:checked + a:after,
.filter-options-content .item input[type="radio"]:checked + a:after,
a.rating-summary.lnultimate-rating-slider.selected:after {
background:#000
}
#ln_slider_price .ui-slider-handle:after,
#ln_slider_price .ui-slider-handle:before{
display:none;
}
.contentrigh {
    display: inline-flex;
font-family: 'Exo';
font-size:14px;
color:#000;
opacity:0.7;
float:right;
padding: 30px 20px;
}
.contentrigh ul li {
    display: inline-flex;
    padding: 0 10px 0px 0px;
}
.contentrigh ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.contentrigh ul li{
margin-bottom:0px;
}
.contentrigh ul li a{
font-family: 'Exo';
font-size:14px;
color:#000;
padding-left:10px;
border-left:1px solid #000;
}
.contentrigh ul li:first-child a{
border-left:0px;
}
h2.sectionproducts-titles.category-imh {
    float: left;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    padding: 26px 20px;
}
h2.sectionproducts-titles.category-imh span{
     font-size: 14px;
    font-weight: 700;
    color:#6c6d70;
}
.question-answer h2.sectionproducts-titles{
display:block !important;
}
#layer-product-list {
    float: left;
    width: 100%;
    border-top: 0px solid #e8eaef;
    padding: 15px 20px;
}
.toolbar-products{
display:none;
}
.filter-options-title:hover:after{
background:none;
}
#layer-product-list .product-item-photo .product-item-inner {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    left: auto;
    height: auto;
}
#layer-product-list .product-item-photo .product-item-inner .product-item-actions > .actions-primary .tocart{
display:none;
}
.products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2{
display:none !important
}
.product-item-info .product.name a{
color: #3d3d3f;
    font-weight: 500;
}
.product.description.newbrands {
    visibility: hidden;
}
.products-grid:not(.side-list):not(.products-related) .product-item:hover .product.description.newbrands {
    visibility: visible;
}

.filter-result {
    border-top: 1px solid #e8eaef;
    float: left;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}
.filter-result ol {
    display: inline-flex;
    margin: 0px !important;
    padding: 0px !important;
    align-items: center;
}
.filter-result ol li {
    padding: 0px !important;
    margin: 0px;
}
.filter-result ol li span.filter-value {
    padding: 6px 12px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 4px;
    margin: 2px 7px;
    padding-right: 22px;
    color: #3d3d3f;
    font-size: 14px;
}
.filter-result ol li .action.remove {
    right: 14px;
    color: #21293c;
    top: 6px;
}
.filter-result .filter-actions {
    font-size: 14px;
    padding: 8px 15px;
    background: #fff;
    border: 1px solid #3d3d3f !important;
    border-radius: 4px !important;
    text-align: right;
    color: #3d3d3f;
    margin-bottom: 0;
    height: auto !important;
    line-height: unset;
}
.filter-result .filter-actions a{
color: #3d3d3f;
}
.filter-current .block-subtitle.filter-current-subtitle{
display:none;
}
.fotorama__stage{
border:0px;
background:none;
}
.product-media-info {
    float: left;
margin-bottom:10px;
    background: #fff;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
}

.product.info.detailed,
.upsell .block-content{
 float: left;
margin-bottom:10px;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
}
.upsell .block-content{
margin-bottom:30px
}
.catalog-product-view.page-layout-2columns-right 
 .product-info-main{
padding:15px;
}
#layered-filter-block .filter-options-title {
    display: flex;
    justify-content: space-between;
    padding-right: 43px;
}
#layered-filter-block .filter-options-title a span{
float:none !important;
margin-right:0px !important;
font-size: 14px;
    color: #f3a626;
}
input.form-control {
    font-size: 24px;
    height: 60px;
    color: #6c6d70;
    font-family: 'Exo' !important;
    font-weight: 500;
    border-radius: 9px;
    background: #e8eaef;
    opacity: 1;
    padding: 0px 50px;
}

input.form-control::-webkit-input-placeholder {
  color:  #6c6d70;
}

input.form-control:-ms-input-placeholder { 
  color:  #6c6d70;
}

input.form-control:placeholder {
  color:  #6c6d70;
}
.btn-gradent {
    font-size: 18px;
    color: #fff !important;
    height: 60px !important;
    line-height: 60px !important;
    border-radius: 10px;
    background-image: linear-gradient(to right, #5067b3, #5067b3, #35c2cd);
    padding: 0px 34px !important;
    text-transform: uppercase;
 font-family: 'Exo' !important;
}
.question-total{
font-size:24px;
color:#000;
 font-family: 'Exo' !important;
font-weight:500;
}
.question-total small{
font-size:18px;
 }
.question-answer-content{
padding:40px 15px;
}
.review-rating-content{
padding:0px 0px
}
.rating-review-count-section{
padding:20px 40px;
border-bottom:1px solid #e8eaef;
float:left;
width:100%;
}
.seller-guarantee{
padding:40px;
margin-bottom:30px
}
.d-none{
display:none;
}
.question-answer-list {
    margin-top: 40px;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #e8eaef;
}
.question-users {
    width: 100%;
    position: relative;
    padding-left: 80px;
    color: #3d3d3f;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Exo' !important;
z-index:2;
}
.question-users:before {
    content: attr(data-title);
    position: absolute;
    left: 0px;
    background: #e8eaef;
    padding: 8px 17px;
    font-size: 24px;
    top: 0%;
    transform: translate(0,0%);
}
.answers-users {
    width: 100%;
    position: relative;
    padding-left: 80px;
    color: #6c6d70;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Exo' !important;
    padding: 44px 0px 44px 80px;
z-index:1;
}
.no-answers-users{
width: 100%;
    position: relative;
    padding-left: 80px;
    color: #6c6d70;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Exo' !important;
    padding: 15px 0px 44px 80px;
z-index:1;
}
.answers-users:before {
    content: attr(data-title);
    position: absolute;
    left: 0px;
    background: #e8eaef;
    padding: 8px 17px;
    font-size: 24px;
    top: 0%;
    transform: translate(0,0%);
}
.answers-users:after {
    content: '';
    height: 50px;
    bottom: 100%;
    position: absolute;
    width: 1px;
    background: #6c6d70;
    left: 24px;
    z-index: -1;
}
.answers-users p{
margin-bottom:5px;
}
.answers-users span,
.ques-user-info span{
font-size:14px;
}
.answer-question-btn {
    width: 100%;
    padding-left: 80px;
}
.btn-blue {
    height: 60px !important;
    display: inline-block;
    font-size: 18px;
    color: #fff !important;
    background: #3f549c !important;
    border: 0px !important;
    border-radius: 10px;
    padding: 20px 32px !important;
}
.review-help span,
.review-help a {
    color: #6c6d70;
    font-size: 14px;
    font-weight: 500;
}
.load-more-section {
    width: 100%;
    padding: 80px 0;
    text-align: center;
}
.btn-load-more {
    font-size: 20px;
    color: #3f549c !important;
    height: 75px !important;
    width: 300px;
    border-radius: 8px;
    border-color: #6c6d70;
}
.store-millions-customer {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid #e8eaef;
    margin-top: 30px;
}
.store-millions-customer span {
    color: #3d3d3f;
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
}
.store-millions-customer a {
    font-size: 18px;
    font-weight: 600;
    color: #5554a5;
}
.seller-guarantee h2{
font-size:22px;
color:#000;
font-weight:600;    
text-transform: uppercase;
}
.seller-guarantee p {
    font-size: 18px;
    color: #6c6d70;
    font-weight: 600;
}
.seller-guarantee p.order-processed-count {
    font-size: 17px;
    color: #6c6d70;
    font-weight: 500;
}
.store-review {
    font-size: 17px;
    color: #6c6d70;
    font-weight: 600;
}
.store-review  span{
color:#f3a626
}
.store-dec-details {
    position: relative;
    padding-left: 110px;
    width: 100%;
}
.store-dec-details .store-image {
    width: 80px;
    background: #e8eaef;
    padding: 12px;
    border-radius: 9px;
    height: 80px;
    position: absolute;
    left: 0px;
}
.reviews-star {
    font-size: 18px;
    color: #6c6d70;
    font-weight: 600;
}
.review-user-name {
    font-size: 14px;
    font-weight: 500;
    color: #6c6d70;
    margin: 3px 0 10px;
}
.review-user-date {
    font-size: 11px;
    color: #6c6d70;
    font-weight: 500;
}
.review-verified {
    font-weight: 500;
    font-size: 11px;
    color: #6c6d70;
}
.review-user-comment {
    font-size: 14px;
    font-weight: 500;
    color: #6c6d70;
}
.reviews-star span {
    color: #f3a626;
}
.review-verified img {
        width: 13px;
    position: relative;
    top: 5px;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 10px;
    width: 100%;
    margin-top: 6px;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
}
.rating-process {
    display: flex;
    width: 100%;
    font-size: 18px;
    color: #6c6d70;
    font-weight: 500;
    margin-bottom: 10px;
}
.rating-process span {
    display: flex;
    align-items: center;
    padding: 0px 5px;
width:50px;
}
.rating-process span i{
margin-left:5px
}
.total-revie-rating {
    font-size: 24px;
    font-weight: 600;
    color: #6c6d70;
    padding: 10px 0;
}
.star-5 .progress-bar {
    background: #01a744;
}
.star-4 .progress-bar {
    background: #09bb50;
}
.star-3 .progress-bar {
    background: #11d35f;
}
.star-2 .progress-bar {
    background: #fd2e2e;
}
.star-1 .progress-bar {
    background: #fd2e2e;
}
.total-rating-star {
    font-size: 22px;
    color: #ffb43e;
}
.progress-circle{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress-circle:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 7px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}
.progress-circle > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress-circle .progress-left {
  left: 1px;
}
.progress-circle .progress-barcircle {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 7px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #ffb43e;
}
.progress-circle .progress-left .progress-barcircle {
  left: 100%;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress-circle .progress-right {
  right: 0;
}
.progress-circle .progress-right .progress-barcircle {
  left: -100%;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.progress-circle .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 300;
}
.progress-circle .progress-value div {
  margin-top: 10px;
}
.progress-circle .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress-circle[data-percentage="10"] .progress-right .progress-barcircle {
  animation: loading-1 1.5s linear forwards;
}
.progress-circle[data-percentage="10"] .progress-left .progress-barcircle {
  animation: 0;
}

.progress-circle[data-percentage="20"] .progress-right .progress-barcircle {
  animation: loading-2 1.5s linear forwards;
}
.progress-circle[data-percentage="20"] .progress-left .progress-barcircle {
  animation: 0;
}

.progress-circle[data-percentage="30"] .progress-right .progress-barcircle {
  animation: loading-3 1.5s linear forwards;
}
.progress-circle[data-percentage="30"] .progress-left .progress-barcircle {
  animation: 0;
}

.progress-circle[data-percentage="40"] .progress-right .progress-barcircle {
  animation: loading-4 1.5s linear forwards;
}
.progress-circle[data-percentage="40"] .progress-left .progress-barcircle {
  animation: 0;
}

.progress-circle[data-percentage="50"] .progress-right .progress-barcircle {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="50"] .progress-left .progress-barcircle {
  animation: 0;
}

.progress-circle[data-percentage="60"] .progress-right .progress-barcircle {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="60"] .progress-left .progress-barcircle {
  animation: loading-1 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="70"] .progress-right .progress-barcircle {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="70"] .progress-left .progress-barcircle {
  animation: loading-2 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="80"] .progress-right .progress-barcircle {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="80"] .progress-left .progress-barcircle {
  animation: loading-3 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="90"] .progress-right .progress-barcircle {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="90"] .progress-left .progress-barcircle {
  animation: loading-4 1.5s linear forwards 1.5s;
}

.progress-circle[data-percentage="100"] .progress-right .progress-barcircle {
  animation: loading-5 1.5s linear forwards;
}
.progress-circle[data-percentage="100"] .progress-left .progress-barcircle {
  animation: loading-5 1.5s linear forwards 1.5s;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36);
    transform: rotate(36deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72);
    transform: rotate(72deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108);
    transform: rotate(108deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144);
    transform: rotate(144deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180);
    transform: rotate(180deg);
  }
}
.progress-circle {
  margin-bottom: 1em;
}
.total-revice-submit p {
    font-size: 18px;
    font-weight: 500;
    color: #6c6d70;
    margin: 20px 0 10px;
}
.total-revice-submit i {
    font-size: 23px;
    margin: 3px;
}
.review-stars-blank{
margin-bottom:30px
}
.review-progress-status {
    padding: 70px 40px 20px;
    border-bottom: 1px solid #e8eaef;
}


.product-info-main .page-title-wrapper h1{
font-weight:500;
}
.page-title-wrapper{
border:0px;
}
.product-info-main.producttt .product-reviews-summary{
    border-bottom: 1px solid #e5e5e5;
padding:15px 0;
}
.product-reviews-summary .reviews-actions a {
    font-size: 15px;
    color: #6c6d70 !important;
    font-weight: 500;
}
.product-info-main .product-info-price{
border:0px;
width:60%;
}
.product-info-main .product-add-form{
width:60%
}
.pincode-div{
width:60%;
}
.product-info-price .price-box .price-container .price{
font-size:30px;
font-weight:700;
}
.product-info-main .product-info-price .old-price .price-wrapper .price{
font-size:18px;
font-weight:600;
}
.product-info-main .product-info-price .price-box{
border-bottom:0px !important;
}
.product-info-main .product-info-price .product-info-stock-sku{
max-width:100%;
}
.product-info-main .product-info-price .product-info-stock-sku h3 {
    font-size: 18px;
    margin: 0px;
    display: inline-block;
    font-weight: bold;
}
.product-info-main .product-info-price .product-info-stock-sku .layous {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.product-info-main .product-info-price .product-info-stock-sku .layous .joinnoww {
    color: #5653a3;
    margin-left: 2px;
}
.product-info-main .fieldset > .field.qty{
width:100%;
margin-bottom:20px;
}
.product-info-main .box-tocart{
width:100%;
}

.product-info-main .qty.field .control {
    width: 129px;
    position: relative;
}
.product-info-main .fieldset > .field.qty span.qtyes {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.product-info-main .qty.field .qty-changer > a {
    position: absolute;
    top: 0;
    left: auto;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    border-color: #6c6d70;
    color: #6c6d70;
    right: 40px;
}
.product-info-main .qty.field .qty-changer > a:first-child {
    left: auto;
    right: 0;
    border-left: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.product-info-main .box-tocart .input-text.qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    width: 50px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #61605a;
    margin: 0;
    border-color: #6c6d70;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 0px;
    text-align: left;
}
 .catalog-product-view .box-tocart #product-addtocart-button {
    float: left;
    height: 56px;
    border: 2px solid #5654a4;
    border-radius: 7px;
    font-size: 20px;
    color: #5654a4;
    background: none;
    line-height: 44px;
    padding:0px 60px 5px;
margin-right:20px
}
.box-tocart .action.tocart:before{
display:none;
}
#check-zipcode {
    width: 220px;
    display: inline-block;
    height: 35px;
    border-radius: 6px;
    padding: 0px 10px;
    line-height: 35px;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    padding-left: 33px;
}
.pincode_checker #check-pincode {
    margin: 0;
    background: none;
    border: 0;
    color: #5553a3;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Exo' !important;
}
.pincode_checker > .control{
width:auto;
}
.pincode_checker > .control > .label {
    font-size: 14px;
    color: #3d3d3f;
    margin-right: 15px !important;
}
.product-social-links{
display:none;
}

.product-reviews-summary .rating-summary{
display:inline-flex
}
.product-info-main .product-reviews-summary{
margin-bottom:0px !important
}
.catalog-product-view .product-info-stock-sku .product.attribute.sku{
display:none;
}
.page-title-wrapper.product span {
    font-weight: 400;
}
.page-title-wrapper.product span:nth-child(2){
color:#5951a4
}
.product-details-section {
    float: left;
    width: 60%;
    font-size: 14px;
    font-weight: 500;
}
ul.product-short-detail-list {
    padding: 0px 0px 0px 15px;
    margin-top: 20px;
    width: 100%;
}
ul.product-short-detail-list li {
    width: 33.333%;
    float: left;
}
ul.product-short-detail-list li:last-child {
    list-style: none;
    color: #3f549c;
}
.product-details-section p {
    width: 100%;
}
.product-details-section p i {
    border: 1px solid #777;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    display: inline-block;
    margin-left: 7px;
    color: #777b7b;
}

.solid-by-product {
    margin-top: 15px;
}
.solid-by-product p small {
    font-size: 14px;
    font-weight: 600;
    color: #969696;
}
.solid-by-product h3{
    margin: 0px;
    margin-bottom: 9px;
    color: #000;
    font-weight: 600;
text-transform: uppercase;
    font-size: 24px;
}
.solid-by-review {
    font-size: 14px;
    margin-bottom: 4px;
}
.solid-by-review span {
    color: #f3a62c;
}
.solid-by-product p{
font-size: 14px;
    font-weight: 500;
}
.top-related-merchant {
    position: relative;
    background: #37bdcc;
    display: inline-block;
    color: #fff;
    padding: 5px 13px 5px 25px;
    font-size: 14px;
    margin-left: 12px;
    margin-bottom: 14px;
    margin-top: 6px;
}
.top-related-merchant i {
    position: absolute;
    background: #3f549c;
    width: 40px;
    height: 40px;
    top: 50%;
    line-height: 40px;
    text-align: center;
    transform: translate(0,-50%);
    left: -20px;
    border-radius: 100%;
    font-size: 24px;
    color: #f3a626;
}
.solid-by-product p a {
    font-size: 14px;
    color: #3f549c !important;
    font-weight: 500;
    margin: 7px 0 !important;
    display: inline-block;
    position: relative;
text-decoration: none;
}
.more-seller-solid {
    font-size: 14px;
    font-weight: 500;
}
.more-seller-solid a {
   color: #3f549c !important;
text-decoration: none;
}
.more-seller-solid {
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
    margin-bottom: 10px;
}

.product-media-info .product-info-main {
    position: relative;
}
.product-media-info .product-info-main .moved-add-to-links {
    position: absolute;
    top: 0px;
    right: 0px;
}
.product-media-info .product-info-main .moved-add-to-links a.action.mailto.friend{display:none;}
.product.data.items > .item.title > .switch{
padding: 10px 0px !important;
    font-size: 27px;
    font-weight: 400;
height:auto;
    text-transform: capitalize;
}
.product.data.items > .item.title.active > .switch{
color:#000 !important;
}
.product.data.items > .item.title {
    border: 0px;
    margin: 0px 40px 0 0;
}
.product.data.items > .item.title.active {
    border-top: 0px;
    border-bottom: 9px solid #37c0c8;
}
.product.data.items > .item.content{
    margin-top: 55px;
}
div#mp-wk-block{
display:none !important;
}
.history-accordion ul {
    list-style: none;
    padding: 0px;
}
.history-title {
    border-bottom: 1px solid #e5e5e5;
    font-size: 29px;
    font-weight: 500;
    height: auto;
    display: block;
    line-height: 44px;
    padding: 6px 10px 6px 44px;
    color: #000;
    position: relative;
}
.history-title:before {
    content: '\f196 ';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 30px;
    color: #0e0e0e;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0px;
}
.history-accordion li.active .history-title:before {
    content: '\f147 ';
}
.history-accordion ul.product-short-detail-list li:before {
    content: '';
    height: 8px;
    width: 8px;
    background: #848684;
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
}
.history-accordion ul.product-short-detail-list li {
    float: none;
    display: inline-block;
    width: 32.333%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    padding-left: 20px;
    position: relative;
}
#product-attribute-specs-table{
display:none;
}
.upsell .products-grid .product-item-details .product-item-actions .tocart{
display:none;
}
.products-grid.products-upsell .product-item .product-item-info{
position:relative;
}
.upsell .products-grid .product-item-details .product-item-actions {
    white-space: nowrap;
    margin: 0px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 11;
}
.upsell  .products-grid.products-upsell .product-item-photo{
border:0px;
}
.upsell .product-item .action.towishlist:hover, .upsell .product-item .action.tocompare:hover{
background:none;
}
.owl-controls{
top:50% !important;
}
.owl-controls .owl-prev {
    top: 50%;
    transform: translate(0,-50%);
    margin: 0px !important;
    background: #3f549c !important;
    border-radius: 0px 8px 8px 0px !important;
    padding: 22px 0px 22px 0px !important;
left:-30px !important;
    font-size: 25px !important;
}
.owl-controls .owl-next {
    right: -30px !important;
    top: 50%;
    transform: translate(0,-50%);
    margin: 0px !important;
    background: #3f549c !important;
    border-radius: 8px 0px 0px 8px !important;
    padding: 22px 0px 22px 0px !important;
    font-size: 25px !important;
}
.upsell .owl-nav em{
font-size: 25px !important;
}
.upsell .owl-nav div *:before {
    color: #fff !important;
}
.irs-line,
.irs-bar{
height:5px !important;
}
.irs-slider{
top:18px !important;
    border-radius: 100% !important;
    border: 1px solid #35c2cd !important;
display: inline-block !important;
background:#fff !important
}
.irs-bar{
background:#35c2cd !important;
}
.irs-from, .irs-to, .irs-single {
    position: unset !important;
    display: inline-block !important;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
    background: none !important;
    color: #3d3d3f !important;
    font-size: 14px !important;
    border-radius: 0px !important;
    overflow: hidden;
    margin-top: 36px;
}
div#ln_slider_container_price {
    margin-bottom: 30px;
}
.irs-to{
float:right;
}
.irs-min, .irs-max{
display:none;
}
input.layer-search-box {
    border: 0px;
    border-bottom: 1px solid #6c6d70;
    margin: 0px 0px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #6c6d70;
}
input.layer-search-box::placeholder { 
    font-size: 14px;
    font-weight: 500;
    color: #6c6d70;
}   
input.layer-search-box:-ms-input-placeholder { 
     font-size: 14px;
    font-weight: 500;
    color: #6c6d70;
}   
input.layer-search-box::-ms-input-placeholder {
      font-size: 14px;
    font-weight: 500;
    color: #6c6d70;
} 
.filter-content .rating-slider-container #ln_slider_rating{ 
display:none !important;
}
.filter-content .rating-slider-container{
padding-left:0px !important
}
.filter-content  .filter-options-content .rating-summary{
padding-bottom:10px !important;
}
.irs-min, .irs-max,
.irs-from:after, .irs-to:after, .irs-single:after{
display:none !important;
}
#product-review-container{
display:block !important
}
.fasortby{
    line-height: unset !important;
width:auto !important
}
.contentrigh.fasortdiv ul{
    display: flex !important;
}
.contentrigh.fasortdiv select.faselect-sort{
display:none;
}
h2.forgot_password{
font-size: 24px;
    color: #010101;
    font-weight: 500;
    border-bottom: 1px solid #ececec;
    padding: 15px 0;
margin-top:0px;
}
.customer-account-forgotpassword .page-main > .page-title-wrapper .page-title .base{
display:none;
}
.form.password.forget{
    border: 0px !important;
    padding: 50px;
    max-width: 600px;
    margin: 0px auto;
    border-radius: 10px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.form.password.forget p {
    font-size: 14px;
    margin-bottom: 2px;
}
.form.password.forget label {
    font-size: 16px;
    margin-top: 40px;
}
.form.password.forget button#act_for_sub{
    background-color: #5552a4;
    padding: 6px 22px;
    color: #fff;
    border: 0px;
    font-size: 20px;
    border-radius: 0;
    font-family: 'Exo';
    margin: 0px;
    width: 200px;
    font-weight: 400;
    height: 56px;
}
.form.password.forget input[type="email"]{
    font-size: 18px;
    height: 56px;
border: 1px solid #5d5d5d;
}
.form.password.forget .fieldset{
margin-bottom:44px;
}
.checkout-cart-index .cart-summary{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border: 0px;
    border-radius: 4px;
padding:0px;
background:#fff;
}

.checkout-cart-index .cart-summary .price_details h2{
margin: 0;
    font-weight: 400;
    color: #3c3c3c;
    padding: 40px 30px 15px;
    border-bottom: 1px solid #eaeaec;
}
.checkout-cart-index .cart-summary .text_section{
color: #6863ab;
    font-size: 14px;
    text-align: left;
    padding: 15px 30px;
    border-bottom: 1px solid #ececec;
    font-weight: 500;
}
.checkout-cart-index .cart-summary .text_section .fa{
width: 20px;
    height: 20px;
    text-align: center;
    border: 1px solid #6763ab;
    border-radius: 100%;
    line-height: 20px;
    transform: rotate(180deg);
margin-right:4px
}
.checkout-cart-index .cart-summary .block > .title{
display:none;
}
.checkout-cart-index .cart-summary .cart-totals{
border-top:0px;
padding:30px;
}
.checkout-cart-index .cart-summary .cart-totals td{
    color: #6f6f71;
    font-size: 18px;
    font-weight: 500;
}
.checkout-cart-index .cart-summary .cart-totals td:last-child{
text-align:right;
color:#030303;
}
.checkout-cart-index .cart-summary .cart-totals tr:last-child {
    border-top: 2px dashed #ededef;
}
.checkout-cart-index .cart-summary .cart-totals tr:last-child td{
font-size:24px;
}
.checkout-cart-index .cart-summary .cart-totals tr:last-child td:last-child{
color:#000;
font-weight:bold
}
.checkout-cart-index .cart-summary .checkout-methods-items{
display:none;
}
.cart_form_container{
 box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border: 0px;
    border-radius: 4px;
padding:15px 0;
background:#fff;
}
.checkout-cart-index .page-title-wrapper{
display:none;
}
.checkout-cart-index .cart_form_container .page-title-wrapper{
display:block
}
.checkout-cart-index .cart_form_container .page-title-wrapper .page-title {
    color: #3f3f3f;
    padding: 20px 20px 10px;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}
.checkout-cart-index .cart.table-wrapper .cart > .item{
    border-top: 1px solid #e8eaef;
border-bottom:0px;
}
.checkout-cart-index .continue_shopping{
       background-color: #fff;
    padding: 6px 32px;
    color: #3c3c3c;
    border: 1px solid #717171;
    font-size: 20px;
    border-radius: 6px !important;
    font-family: 'Exo';
    margin: 0px;
    width: auto;
    font-weight: 400 !important;
    height: 56px !important;
    line-height: 44px !important;
margin-right:15px;
}
.checkout-cart-index .proceed_payment{
 background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);
    padding: 6px 32px;
    color: #fff;
    border: 0px solid #717171;
    font-size: 20px;
    border-radius: 6px !important;
    font-family: 'Exo';
    margin: 0px;
    width: auto;
    font-weight: 400 !important;
    height: 56px !important;
    line-height: 44px !important;
margin-right:15px;
}
.action.primary, .action.primary:active{
font-family: 'Exo';
}
.checkout-cart-index .proceed_payment:hover{
background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);
border:0px;
}
.checkout-cart-index .cart-discount{
display:none;
}
.checkout-cart-index .cart.table-wrapper .product-item-name a{
    font-size: 18px;
    color: #3d3d3f;
    font-weight: 500;
}
.checkout-cart-index .cart.table-wrapper .product-item-details{
    vertical-align: top;
padding-top:0px;
padding-left:0px;
}
.checkout-cart-index .cart.table-wrapper .product-item-name{
margin-top:0px;
margin-bottom:15px;
}
.checkout-cart-index .cart.table-wrapper .cart > .item .col.item{
padding-left:15px;
}
.checkout-cart-index .cart.table-wrapper .product-image-container{
    border: 1px solid #eaeaec;
}
.checkout-cart-index .cart.table-wrapper .item_desc {
    font-size: 14px;
    color: #3d3d3d;
}
.checkout-cart-index .special-price .price{
    font-size: 24px;
    font-weight: 500 !important;
}
.checkout-cart-index .old-price .price{
    font-size: 14px;
    font-weight: 600 !important;
}
.checkout-cart-index .price-box{
margin-bottom:0px
}
.checkout-cart-index .card_bottom {
    text-align: right;
    border-top: 1px solid #e8eaef;
    padding: 25px 0;
}
.checkout-cart-index .loyality_point {
    color: #54509e;
    font-weight: 500;
}
.checkout-cart-index .field.qty .label{
display:none;
}
.checkout-cart-index .control.qty {
    width: 43px;
}
.checkout-cart-index .control.qty input[type="number"]{
        height: 25px;
    line-height: 1.4;
    padding: 3px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    color: #000;
    border-color: #000;
}
.checkout-cart-index .qty.field .qty-changer > a:first-child {
    margin-top: 0;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    text-align: center;
    line-height: 24px;
    font-weight: 100;
    margin: 0px 10px;
color:#3d3d3d;
border-color:#6e6e6e
}
.checkout-cart-index .field.qty{
    display: flex;
    justify-content: center;
    padding-right: 10px;
margin-top:10px;
}
.checkout-cart-index .field.qty .qty-changer:first-child a{
    border-color: #e9eaef;
    background: #e9eaef;
}
.checkout-cart-index .cart.table-wrapper .product-item-details{
display: inline-block;
width:auto;
min-width:280px;
}
.image_qty_item{
display:inline-block
}
.checkout-cart-index .label-product.label-sale {
    display: inline-block;
    margin-left: 10px;
    color: #f4a527;
    font-weight: 600;
    font-size: 14px;
}
.checkout-cart-index .action.towishlist:before{
display:none !important
}
.checkout-cart-index .cart.table-wrapper .actions-toolbar > .action-delete{
color:#3a3a3a;
font-weight: 500;
}
.cart.table-wrapper .actions-toolbar {
    font-size: 14px;
    font-weight: 500;
}
.catalog-product-view .sidebar.sidebar-additional{
display:none;
}
.customer-account-edit .page-title-wrapper .page-title,
.wishlist-index-index .page-title-wrapper .page-title,
.customer-address-index .page-title-wrapper .page-title{
font-size: 24px !important;
    color: #000000 !important;
    font-weight: 500 !important;
    padding: 30px 20px 15px;
    width: 100%;
    border-bottom: 1px solid #e8eaef;
}
.form.form-edit-account{
border-top:1px solid #e8eaef;
border-bottom:0px;
box-shadow:none
}
.user_profile_img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.customer-account-edit .profile_left {
    text-align: center;
    margin-bottom: 15px;
}
.customer-account-edit .user_name {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.customer-account-edit .user_email {
    font-size: 18px;
    font-weight: 400;
    color: #6c6d70;
}
.customer-account-edit .user_mobile {
    font-size: 18px;
    color: #6c6d70;
    font-weight: 400;
}
.form-edit-account .legend span{
font-size:18px;
color:#000000;
font-weight:700;
}
.form-edit-account .label span{
font-size:16px;
color:#6c6d70;
}
.form-edit-account .input-text {
    padding: 10px 0;
    border: 0px;
    border-bottom: 1px solid #e8eaef;
    font-size: 18px;
    color: #000;
    font-weight: 400;
margin-bottom:10px
}
.form-edit-account .field.choice input[type=checkbox],
.form-edit-account .field.choice input[type=radio] {
    display: none;
}
.form-edit-account .field.choice .label {
    margin: 0px !important;
    padding: 0px;
    position: relative;
    padding-left: 30px;
}
.form-edit-account .field.choice .label:before {
    content: '';
    width: 21px;
    height: 21px;
    border: 3px solid #6c6d70;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0,-50%);
    border-radius: 100%;
}
.form-edit-account .field.choice input:checked + label:after {
    content: '';
    width: 11px;
    height: 11px;
    background: #6c6d70;
    display: inline-block;
    position: absolute;
    left: 5px;
    border-radius: 100%;
    top: 50%;
    transform: translate(0,-50%);
}
.form-edit-account .field.gender > label.label{
display:none;
}
.form-edit-account .field.gender .control{
display:inline-flex;
margin-top:30px
}
.form-edit-account .field.gender .control .field.choice{
margin-right:30px;
}
.form-edit-account .actions-toolbar button.action.save.primary,
.wishlist-index-index .products-grid.wishlist .product-item .tocart{
background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 0px 32px;  color: #fff; border: 0px solid #717171; font-size: 20px; border-radius: 6px !important; font-family: 'Exo'; margin: 0px; width: auto; font-weight: 400 !important;height: 50px !important;  line-height: 50px !important;  margin-right: 15px;}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block{
background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.21);
border-radius:4px;
padding:15px;
margin-bottom:20px;
}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item{
border: 0;
padding:5px 0;
}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item a,
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item strong{
font-size:16px;
font-weight:400;
padding:10px 20px;
}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item strong{
color:#000
}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item a:before, .block-collapsible-nav .item > strong:before{
display:none;
}
.clear-both {
    float: left;
    width: 100%;
}
.wishlist-index-index .products-grid .product-items .product-item{
width:100%;    border-bottom: 1px solid #e8eaef;margin-left:0px !important;padding:15px}
.wishlist-index-index .product-item-photo{  width: 165px; height: 165px;min-height:0px !important;float: left; margin-right: 30px;}
.wishlist-index-index .product-image-container{
height:100%;
padding-bottom:0px !important;
    border: 1px solid #eaeaec;
}
.wishlist-index-index .product-image-wrapper{
height:100%;
padding-bottom:0px !important;
}
.wishlist-index-index .product-item:hover .product-item-info{box-shadow:none !important;}
.product_wishlist_detail { width:calc(75% - 195px); text-align: left; float: left;}
.wishlist-index-index .products-grid .product-item .product-item-inner {float: left;  width: 25%; text-align: center;}
.wishlist-index-index .product-item-actions{display:none}
.wishlist-index-index .product_wishlist_action_button .field.qty{display:none !important;}
.wishlist-index-index .product_wishlist_action_button a.btn-remove.action.delete{background-color: #fff;  background-color: #fff; padding: 0px 32px; color: #3c3c3c; border: 1px solid #717171; font-size: 20px;border-radius: 6px !important;font-family: 'Exo'; margin: 0px; width: 150px; font-weight: 400 !important; height: 50px !important;  line-height: 50px; margin-right: 0; display: inline-block;}
.wishlist-index-index .products-grid.wishlist .product-item .tocart{width:150px;}
.wishlist-index-index .product-item-name > a,.wishlist-index-index  .product.name a > a{    font-size: 18px; font-weight: 500;    color: #3d3d3f;}
.wishlist-index-index .wishlist_item_desc {font-size: 14px; color: #3d3d3f; font-weight: 500;}
.price-box .old-price .price { font-size: 14px !important;  color: #3d3d3f !important;  font-weight: 500 !important;}
.special-price .price{ font-size: 24px;  color: #000000 !important;  font-weight: 500 !important;}
.percentage{font-size: 14px;  color: #f3a626;  font-weight: 600;  display: inline-block; margin-left: 7px;}
.wishlist-index-index .actions-toolbar{display:none} 


#totop{height:40px;position:fixed;right:74px;width:40px;z-index:9999;bottom:0;background-color:#404040;font-size:16px;color:#fff;text-align:center;line-height:1;padding:11px 0;display:none;border-radius:5px 5px 0 0}
#totop:hover{background-color:#555}



