html, body{font-family:'Exo' !important;}
body{font-family:'Exo' !important;}
.page-header .header.panel{width:100% !important;max-width:100% !important;}
.container{width:100% !important;max-width:100% !important;}
.navigation,
.page-wrapper > .breadcrumbs,
.page-header .header.panel,
.header.content,
.footer.content,
.page-wrapper > .widget,
.page-wrapper > .page-bottom,
.block.category.event,
.top-container,
.page-main,
.container{width:100% !important;max-width:100% !important;}
.brand-inner-box img.features{width:100% !important;}
.finderProducts.vertical h3{text-transform:capitalize !important;}
.grid-section-carousel .owl-prev{border-radius:0px 8px 8px 0px !important;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 5px 0 8px;}
.grid-section-carousel .owl-prev{padding:22px 0px 22px 0px !important;font-size:25px !important;border-radius:0px 8px 8px 0px !important;}
#banner-slider-demo-12{box-shadow:0px 2px 5px rgba(0, 0, 0, 0.25);}
.navigation ul li{display:inline;}
.header.panel span{margin-left:80px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 75px;}
.page-header.type1 .custom-block{right:220px !important;}
.page-header.type1 .minicart-wrapper{right:135px !important;}
.header .legin{margin:24px 12px 21px 4px;}
.page-header.type1 .block-search{margin:22px 0 8px 100px;width:850px !important;max-width:850px !important;}
.search-category{width:150px !important;}
.search-category select option{font-size:13px;}
.page-header.type1 .navigation{margin:0 8%;width:84% !important;}
.page-header.type1 .navigation li > a > span{font-size:15px;}
.page-header.type1 .navigation li:hover > a > span{color:#000;}
.page-header.type1 .navigation li:hover > a{background-color:#eee;}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.banner-inner-content h3{margin-bottom:20px;}
.banner-inner-content h2{margin-bottom:45px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:90px;}
.finderProducts.vertical{padding:25px}
.finderProducts.vertical h3{font-size:22px;margin-bottom:25px;margin-top:5px;}
.finderDropdowns .form-control{height:42px;}
.finderDropdowns .form-group{margin-bottom:30px;}
button#reset_3, button#find_3{width:calc(50% - 30px);margin:15px 0 0;height:45px;}
button#reset_3,{margin-left:15px !important;}
button#find_3,{margin-right:15px !important;}
.brand-section h3{font-size:22px;font-weight:normal;}
.brand-section p{font-size:17px;font-weight:normal;}
.brand-section h3 a{font-size:22px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:27px;font-weight:500;padding-bottom:5px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:7px 18px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.content-explore{bottom:35px;padding:10px 50px 10px 20px;}
.flesh-deals-content .panel a img{width:100%;}
.sw-megamenu.navigation li.ui-menu-item > .submenu{margin-left:0px !important;left:1px !important;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(even){background-color:#eee;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(odd){background-color:#fff;}
.sw-megamenu.navigation li.level0.fullwidth > .submenu, .sw-megamenu.navigation li > .submenu{padding:0px 0px 0px;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{height:100% !important;}
.navigation .submenu .subchildmenu > li{padding:0px !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu a:hover, .sw-megamenu.navigation li.level0.staticwidth .submenu a:hover{background-color:none !important;text-decoration:none !important;background:none !important;}
.sw-megamenu.navigation li .submenu li:hover > a{background-color:none !important;text-decoration:none !important;background:none !important;}
.sw-megamenu.navigation li .submenu li > a:hover{text-decoration:none !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu a:hover > span, .sw-megamenu.navigation li.level0.staticwidth .submenu a:hover > span{text-decoration:none !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a{display:inline-block;padding-left:15px;}
.sw-megamenu.navigation li.level0.fullwidth > .submenu a, .sw-megamenu.navigation li.level0.staticwidth > .submenu a{padding-left:15px;}
.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a:after, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a:after{background:url(../images/right-arrow-2.png);content:'';width:12px;height:12px;background-repeat:no-repeat;background-size:12px;background-position:center;display:inline-block;vertical-align:middle;margin-left:10px;}
.page-header .navigation .level0 .submenu li.parent > a:after{float:none;}
.lightgreen-gradient:after,
.orange-gradient:after,
.lightgreen-gradient:after,
.blue-gradient:after{z-index:4;}
.carousel-add-wishlist img{width:24px;}
.carousel-add-wishlist{cursor:pointer;}
.carousel-add-wishlist:hover{background-color:transparent !important;}
.carousel-add-wishlist:hover i.fa-heart-o:before{content:'\f004';font-family:fontawesome;color:#f3a626 !important;background:none !important;}
.carousel-add-wishlist:hover img{content:url("../images/heart-icon-orange.svg");}
.finderProducts.vertical{height:100%;}
.brand-inner-box img.brand-img{position:relative;top:auto;left:auto;transform:none;max-width:100%;max-height:100%;width:100%;}
.brand-inner-box [class*="col-"]{padding:5px 5px !important;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{border:1px solid #000;padding:7px 18px;border-radius:6px;font-family:'Exo';font-size:14px;color:#000;font-weight:600;}
.mobile-only{display:none;}
.page-header.type1 .custom-block span{margin-top:3px !important;}
.grid-section-carousel .owl-theme .owl-controls{display:none;}
.footer-middle .footer-top-inner .block .block-title{margin-bottom:25px;margin-top:0;}
.footer-middle .footer-top-inner .block-content.paymentss img{height:40px;}
.footer-top-inner .block-title strong{font-size:16px;line-height:18px;}
.footer-middle .footer-top-inner li > a{font-size:16px;line-height:18px;width:70px;}
.footer-middle .footer-top-inner ul.social-icons li a{width:40px;}
.page-header.type1 .navigation li.level0{padding:0px 0px;}
@media all and (min-width:1921px){html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:90%;height:auto;margin:0 auto;}
}
@media all and (min-width:2000px){}
@media all and (min-width:2150px){@-ms-viewport{width:2150px;}
html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:80%;height:auto;margin:0 auto;}
}
@media all and (min-width:2300px){.finderDropdowns .form-control{height:45px;}
}
@media all and (min-width:2400px){html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:75%;height:auto;margin:0 auto;}
.finderDropdowns .form-control{height:45px;}
}
@media all and (min-width:2700px){}
@media all and (min-width:2860px){html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:67%;height:auto;margin:0 auto;}
}
@media all and (min-width:3815px){html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:50%;height:auto;margin:0 auto;}
.finderDropdowns .form-group{margin-bottom:35px;}
.finderDropdowns .form-control{height:45px;}
}
@media all and (min-width:4800px){}
@media all and (min-width:5300px){.finderDropdowns .form-group{margin-bottom:55px;}
.finderDropdowns .form-control{height:65px;}
}
@media all and (min-width:5720px){html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:33%;height:auto;margin:0 auto;}
.finderDropdowns .form-group{margin-bottom:40px;}
.finderDropdowns .form-control{height:38px;}
}
@media all and (min-width:7625px){html{transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);width:25%;height:auto;margin:0 auto;}
}
@media all and (max-width:1920px){@-ms-viewport{width:1700px;}
.header.panel span{margin-left:80px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 75px;}
.page-header.type1 .custom-block{right:220px !important;}
.page-header.type1 .minicart-wrapper{right:135px !important;}
.page-header.type1 .minicart-wrapper img{width:24px;margin-right:8px;}
.minicart-wrapper .action.showcart .counter.qty{left:16px;margin-top:-22px;}
.header .legin{margin:24px 12px 21px 4px;}
.page-header.type1 .block-search{margin:22px 0 8px 100px;width:850px !important;max-width:850px !important;}
.search-category{width:150px !important;}
.search-category select option{font-size:13px;}
.page-header.type1 .navigation{margin:0 8%;width:84% !important;}
.page-header.type1 .navigation li > a > span{font-size:15px;}
.page-header.type1 .navigation li:hover > a > span{color:#000;}
.page-header.type1 .navigation li:hover > a{background-color:none !important;}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.banner-inner-content h3{margin-bottom:20px;}
.banner-inner-content h2{margin-bottom:45px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:90px;}
.finderProducts.vertical{padding:25px}
.finderProducts.vertical h3{font-size:22px;margin-bottom:25px;margin-top:5px;}
.finderDropdowns .form-control{height:45px;}
.finderDropdowns .form-group{margin-bottom:30px;}
button#reset_3, button#find_3{width:calc(50% - 30px);margin:15px 0 0;height:45px;}
button#reset_3,{margin-left:15px !important;}
button#find_3,{margin-right:15px !important;}
.brand-section h3{font-size:22px;font-weight:normal;}
.brand-section p{font-size:17px;font-weight:normal;}
.brand-section h3 a{font-size:22px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:27px;font-weight:500;padding-bottom:5px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:7px 18px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.content-explore{bottom:35px;padding:10px 50px 10px 20px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .fd_2c_2r{margin-top:15px;}
.deal-banner-content, .explore-content, .flesh-deals-content{padding:15px;}
.flesh-deals-content a,
.adds-banner-option a{display:grid !important;}
.grid-section-carousel, .deal-banner-content, .explore-content, .flesh-deals-content{padding:15px;}
button.reword-btn{left:100px;}
}
@media all and (max-width:1840px){.finderDropdowns .form-control{height:38px;}
}
@media all and (max-width:1699px){@-ms-viewport{width:1500px;}
.header.panel span{margin-left:50px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 45px;}
.page-header.type1 .custom-block{right:220px !important;}
.page-header.type1 .minicart-wrapper{right:135px !important;}
.page-header.type1 .block-search{margin:22px 0 8px 60px;width:700px !important;max-width:700px !important;}
.search-category{width:140px !important;}
.search-category select option{font-size:13px;}
.page-header.type1 .navigation{margin:0 6%;width:93% !important;}
.page-header.type1 .navigation li > a > span{font-size:14px;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.banner-inner-content h3{margin-bottom:20px;}
.banner-inner-content h2{margin-bottom:45px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:60px;}
.finderProducts.vertical{padding:25px}
.finderProducts.vertical h3{font-size:22px;margin-bottom:20px;margin-top:0px;}
.finderDropdowns .form-control{height:40px;}
.finderDropdowns .form-group{margin-bottom:25px;}
button#reset_3, button#find_3{width:calc(50% - 35px);margin:5px 0 0;height:40px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-section h3{font-size:22px;font-weight:normal;}
.brand-section p{font-size:17px;font-weight:normal;}
.brand-section h3 a{font-size:22px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:27px;font-weight:500;padding-bottom:5px;}
.product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:7px 18px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.content-explore{bottom:40px;padding:8px 50px 8px 15px;}
.flesh-deals-content .panel a img{width:100%;}
button.reword-btn{left:90px;}
}
@media all and (max-width:1590px){.finderDropdowns .form-control{height:33px;}
}
@media all and (max-width:1500px){@-ms-viewport{width:1400px;}
.header.panel span{margin-left:40px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 35px;}
.page-header.type1 .custom-block{right:200px !important;}
.page-header.type1 .minicart-wrapper{right:115px !important;}
.header .legin{margin:24px 0px 21px 4px;}
.page-header.type1 .block-search{margin:22px 0 8px 60px;width:650px !important;max-width:650px !important;}
.search-category{width:130px !important;}
.search-category select option{font-size:13px;}
.page-header.type1 .navigation{margin:0 8%;width:84% !important;}
.page-header.type1 .navigation li > a > span{font-size:14px;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.banner-inner-content h3{margin-bottom:20px;font-size:28px;}
.banner-inner-content h2{margin-bottom:45px;font-size:33px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:30px;}
.finderProducts.vertical{padding:25px}
.finderProducts.vertical h3{font-size:20px;margin-bottom:15px;margin-top:0px;}
.finderDropdowns .form-control{height:34px;}
.finderDropdowns .form-group{margin-bottom:20px;}
button#reset_3, button#find_3{width:calc(50% - 35px);margin:10px 0 0;height:34px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-section h2{font-size:20px;font-weight:normal;}
.brand-section p{font-size:15px;font-weight:normal;}
.brand-section h2 a{font-size:22px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:26px;font-weight:500;padding-bottom:5px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:7px 18px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading h2{font-size:26px;}
.deals-banner-content-heading p{font-size:22px;}
button.reword-btn{font-size:23px;padding:17px 40px;left:82px;}
.content-explore{bottom:35px;padding:8px 50px 8px 15px;}
.content-explore h2{font-size:18px;}
.content-explore h3{font-size:16px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:33px;}
.flesh-deals-content .panel h3{font-size:22px;}
}
@media all and (max-width:1400px){@-ms-viewport{width:1300px;}
.header.panel span{margin-left:30px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 25px;}
.page-header.type1 .custom-block{right:200px !important;}
.page-header.type1 .minicart-wrapper{right:115px !important;}
.header .legin{margin:24px 0px 21px 4px;}
.page-header.type1 .block-search{margin:22px 0 8px 60px;width:600px !important;max-width:600px !important;}
.search-category{width:130px !important;}
.search-category select option{font-size:13px;}
.page-header.type1 .navigation{margin:0 5%;width:90% !important;}
.page-header.type1 .navigation li > a > span{font-size:14px;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.banner-inner-content h3{margin-bottom:20px;font-size:24px;}
.banner-inner-content h2{margin-bottom:35px;font-size:28px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:35px;font-size:18px;}
.finderProducts.vertical{padding:25px}
.finderProducts.vertical h3{font-size:20px;margin-bottom:15px;margin-top:0px;}
.finderDropdowns .form-control{height:33px;}
.finderDropdowns .form-group{margin-bottom:18px;}
button#reset_3, button#find_3{width:calc(50% - 35px);margin:5px 0 0;height:33px;font-size:14px;line-height:16px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-section h2{font-size:18px;font-weight:normal;}
.brand-section p{font-size:13px;font-weight:normal;}
.brand-section h2 a{font-size:20px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:24px;font-weight:500;padding-bottom:3px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:6px 16px;font-size:13px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.backacces h1{font-size:22px;}
.backacces p{font-size:14px;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading h2{font-size:24px;}
.deals-banner-content-heading p{font-size:20px;}
button.reword-btn{font-size:21px;padding:15px 34px;left:79px;}
.content-explore{bottom:30px;padding:6px 40px 6px 12px;}
.content-explore h2{font-size:16px;}
.content-explore h3{font-size:14px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:30px;bottom:10px;}
.flesh-deals-content .panel h3{font-size:20px;bottom:10px;}
}
@media all and (max-width:1300px){@-ms-viewport{width:1200px;}
.header.panel span{margin-left:25px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 20px;}
.page-header.type1 .custom-block{right:180px !important;}
.page-header.type1 .minicart-wrapper{right:105px !important;}
.header.content .custom-block a img{width:22px;height:22px;}
.page-header.type1 .minicart-wrapper img{width:24px;}
.header .legin img{width:22px;}
.header .legin{margin:24px 0px 21px 4px;}
.page-header.type1 .custom-block span{margin-top:5px !important;}
.page-header.type1 .block-search{margin:22px 0 8px 60px;width:550px !important;max-width:550px !important;}
.search-category{width:130px !important;}
.search-category select option{font-size:13px;}
.page-header.type1 .navigation{margin:0 2%;width:96% !important;}
.page-header.type1 .navigation li > a > span{font-size:13px;}
.checkout-cart-index .free_shipping{
    line-height: 1.5 !important;
}   
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.banner-inner-content h3{margin-bottom:19px;font-size:24px;}
.banner-inner-content h2{margin-bottom:30px;font-size:26px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:35px;font-size:16px;}
.finderProducts.vertical{padding:20px}
.finderProducts.vertical h3{font-size:18px;margin-bottom:12px;margin-top:0px;}
.finderDropdowns .form-control{height:32px;}
.finderDropdowns .form-group{margin-bottom:18px;}
button#reset_3, button#find_3{width:calc(50% - 25px);margin:5px 0 0;height:32px;font-size:13px;line-height:14px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-section h2{font-size:16px;font-weight:normal;}
.brand-section p{font-size:12px;font-weight:normal;}
.brand-section h2 a{font-size:18px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:22px;font-weight:500;padding-bottom:3px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:6px 16px;font-size:12px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.backacces h1{font-size:20px;}
.backacces p{font-size:13px;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading h2{font-size:22px;}
.deals-banner-content-heading p{font-size:18px;}
button.reword-btn{font-size:18px;padding:13px 30px;left:75px;}
.content-explore{bottom:25px;padding:4px 30px 4px 8px;}
.content-explore h2{font-size:15px;}
.content-explore h3{font-size:13px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:26px;bottom:10px;}
.flesh-deals-content .panel h3{font-size:18px;bottom:10px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:24px;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:16px 0px 16px 0px !important;font-size:24px !important;}
}
@media all and (max-width:1200px){@-ms-viewport{width:992px;}
.header.panel span{margin-left:5px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px 0px;}
.page-header.type1 .custom-block{right:160px !important;}
.page-header.type1 .minicart-wrapper{right:100px !important;}
.header.content .custom-block a img{width:22px;height:22px;}
.page-header.type1 .minicart-wrapper img{width:24px;}
.header .legin img{width:22px;}
.header .legin{margin:24px 0px 21px 4px;}
.page-header.type1 .custom-block span{margin-top:5px !important;}
.page-header.type1 .block-search{margin:22px 0 8px 60px;width:400px !important;max-width:400px !important;}
.search-category{width:130px !important;}
.search-category select option{font-size:12px;}
.custom-search-box ul li{padding-right:6px;}
.custom-search-box ul li:after{right:0px;}
.page-header.type1 .navigation{margin:0;width:100% !important;}
.page-header.type1 .navigation li.level0{padding:0px 15px;}
.page-header.type1 .navigation li > a > span{font-size: 1.1rem;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 0px 0 0px;}
.banner-inner-content h3{margin-bottom:5px;font-size:20px;}
.banner-inner-content h2{margin-bottom:15px;font-size:24px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:11px;}
.finderProducts.vertical{padding:10px}
.finderProducts.vertical h3{font-size:16px;margin-bottom:12px;margin-top:0px;}
.finderDropdowns .form-control{height:26px;font-size:11px;}
.finderDropdowns .form-group{margin-bottom:12px;}
button#reset_3, button#find_3{width:calc(50% - 15px);margin:5px 0 0;height:26px;font-size:11px;line-height:6px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-section h2{font-size:14px;font-weight:normal;}
.brand-section p{font-size:11px;font-weight:normal;}
.brand-section h2 a{font-size:16px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:20px;font-weight:500;padding-bottom:1px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:4px 10px;font-size:11px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.backacces h1{font-size:16px;}
.backacces p{font-size:11px;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading h2{font-size:18px;}
.deals-banner-content-heading p{font-size:14px;}
button.reword-btn{font-size:14px;padding:9px 20px;left:66px;border-radius:8px;bottom:47px;}
.content-explore{bottom:18px;padding:4px 20px 4px 6px;}
.content-explore h2{font-size:14px;}
.content-explore h3{font-size:12px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:22px;bottom:10px;}
.flesh-deals-content .panel h3{font-size:14px;bottom:10px;}
.footerIcons .block-title{font-size:16px;}
.footer-middle .footer-top-inner li > a{margin-left:14px;}
.special-price .price{font-size:14px;}
.price-box .price{font-size:14px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:20px;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:14px 0px 14px 0px !important;font-size:20px !important;}
.footer-middle .footer-top-inner .block-content.paymentss img{height:36px;}
.footer-middle .footer-top-inner li > a img{height:36px;}
}
@media all and (max-width:992px){@-ms-viewport{width:768px;}
.header.panel span{margin-left:0px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:21px 0 29px -5px;}
.page-header.type1 .logo img{width:170px;}
.page-header.type1 .custom-block{right:110px !important;}
.page-header.type1 .minicart-wrapper{right:70px !important;}
.page-header.type1 .minicart-wrapper a span.text{display:none;}
.header.content .custom-block a img{width:22px;height:22px;}
.header.content .custom-block a b{display:none !important;}
.custom-search-box ul{display:none;}
.page-header.type1 .minicart-wrapper img{width:24px;}
.header .legin img{width:22px;}
.header .legin{margin:20px 0px 21px 4px;}
.header .legin span{display:none;}
.page-header.type1 .custom-block span{margin-top:5px !important;}
.page-header.type1 .custom-block span a b{display:none !important;}
.page-header.type1 .block-search{margin:12px 0 8px 30px;width:300px !important;max-width:300px !important;}
#search_mini_form input#search{padding-right:10px;}
.search-category{width:130px !important;}
.search-category select option{font-size:12px;}
.page-header.type1 .navigation{margin:0;width:100% !important;}
.page-header.type1 .navigation li.level0{padding:0px 4px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 0px 0 0px;}
.page-header.type1 .navigation li > a > span{font-size:9px !important;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.page-header .navigation .level0.parent > a:after{width:12px;height:38px;}
.banner-inner-content h3{margin-bottom:15px;font-size:14px;}
.banner-content{bottom:20px;}
.banner-inner-content h2{margin-bottom:15px;font-size:14px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:10px;padding:5px 14px;border-radius:6px;}
.finderProducts.vertical{padding:10px}
.finderProducts.vertical h3{font-size:12px;margin-bottom:6px;margin-top:0px;}
.finderDropdowns .form-control{height:19px;font-size:9px;line-height:9px;}
.finderDropdowns .form-group{margin-bottom:6px;}
button#reset_3, button#find_3{width:calc(50% - 25px);margin:0px 0 0;height:19px;font-size:9px;line-height:6px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-inner-box{padding:6px;}
.brand-section h2{font-size:12px;font-weight:normal;margin-top:5px;margin-bottom:5px;}
.brand-section p{font-size:10px;font-weight:normal;}
.brand-section h2 a{font-size:13px;font-weight:normal;}
.panel.mats a img{width:100%;}
.sectionproducts-titles{font-size:16px;font-weight:500;padding-bottom:1px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:3px 6px;font-size:10px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.backacces h1{font-size:14px;line-height:22px;}
.backacces p{font-size:10px;max-width:100%;}
.owl-item .product-item-photo{height:160px !important;}
.product-image-photo{max-height:150px;}
.product-item-photo{min-height:160px !important;}
.grid-section-carousel .product-item-name > a, .grid-section-carousel .product.name a > a{height:20px !important;font-size:13px;}
.product-reviews-summary{margin-bottom:0px;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading{padding:8px;}
.deals-banner-content-heading h2{font-size:16px;}
.deals-banner-content-heading p{font-size:12px;line-height:18px;}
button.reword-btn{font-size:12px;padding:6px 16px;border-radius:8px;bottom:36px;left:57px;}
.content-explore{bottom:12px;padding:4px 12px 4px 6px;border-radius:0px 5px 5px 0;}
.content-explore h2{font-size:12px;}
.content-explore h3{font-size:11px;margin-bottom:0;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:16px;bottom:10px;}
.flesh-deals-content .panel h3{font-size:12px;bottom:5px;}
.footer_top_custom_block .icon{height:80px;}
.footer_top_custom_block .icon img{max-width:70px !important;max-height:70px !important;}
.footerIcons .block-title{font-size:14px;margin-bottom:10px !important;}
.footer-top-content-box p{font-size:11px;}
.footer-middle .footer-top-inner li > a{margin-left:14px;}
.footer-middle .block-title strong span{font-size:14px;}
.footer-middle ul.links, .footer-middle ul.features{margin-top:10px;}
.footer-middle .block-content{margin-top:15px;}
.special-price .price{font-size:12px;}
.price-box .price{font-size:12px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:20px;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:14px 0px 14px 0px !important;font-size:20px !important;}
.footer-middle .footer-top-inner .block-content.paymentss img{height:24px;}
.footer-middle .footer-top-inner li > a img{height:24px;}
}
@media all and (max-width:790px){.page-header.type1 .navigation>ul{margin-top:10px;display:flex;}
.page-header.type1 .navigation li.level0{padding:0px 5px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 2px 0 5px;}
.page-header.type1 .navigation li > a > span{font-size:12px;}
.page-header .navigation .level0.parent > a:after{width:12px;height:34px;}
.sw-megamenu.navigation li.ui-menu-item > .submenu{margin-left:1px !important;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(odd){background-color:#fff;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(even){background-color:#eee;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{height:100% !important;}
.finderProducts.vertical h3{font-size:11px;}
.finderDropdowns .form-group{margin-bottom:4px;}
.menu-right-block{display:none;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{min-width:180px !important;}
.sw-megamenu.navigation li.level0.fullwidth > .submenu{max-width:100%;background:transparent;border:0;box-shadow:none;}
button#reset_3, button#find_3{margin:4px 0 0;}
.footer-middle .footer-top-inner ul{margin:0 auto;width:65%;text-align:center;}
}
@media all and (max-width:767px){

.page-header.type1 .nav-sections {
    margin-bottom: 0px; background: #fff!important;
}
	.container{padding:0px;}

.page-main{padding-top:10px;}
@-ms-viewport{width:640px;}
.margall{margin-top:120px;}
.page-header.type1 .nav-toggle{float:left;}
.nav-toggle:before{color:#d4d4d4 !important;}
.page-header .panel.wrapper{display:none;}
.page-header.type1 .block-search .action.search{padding:0px 9px;border-radius:0px 4px 4px 0px;}
.block-search .minisearch{width:90%;margin:0 auto;}
.block-search .minisearch input#search{position:static;}
.block-search .minisearch .label{display:none;}
.block-search .field.search{display:inline-block;position:relative;}
.block-search .actions{display:inline-block;position:absolute;}
.block-search .action.search span{display:none;}
.block-search input{margin:0;}
#search_mini_form input#search{padding-right:10px;border-bottom-right-radius:0;border-top-right-radius:0;}
.block-search .action.search{height:38px;border-color:#E9E9E9;}
.block-search .action.search{background:#35C2CB !important;}
.block-search .action.search{height:38px;display:inline-block;background-image:none;background:none;-moz-box-sizing:content-box;border:0;box-shadow:none;line-height:inherit;margin:0;padding:0;text-decoration:none;text-shadow:none;font-weight:400;line-height:40px;}
.page-header.type1 .block-search .action.search:before{background:url(../images/search.png);display:inline-block;content:'';width:24px;height:100%;background-size:21px;background-repeat:no-repeat;background-position:center center;}
.header.panel span{margin-left:0px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:15px 0 7px 0px;}
.page-header.type1 .logo img{width:170px;}
.page-header.type1 .custom-block{display:-webkit-box;top:30px;right:60px !important;position:absolute;}
.page-header.type1 .minicart-wrapper{right:5px !important;}
.page-header.type1 .minicart-wrapper a span.text{display:none;}
.minicart-wrapper .action.showcart .counter.qty{left:17px;margin-top:-21px;}
.header.content .custom-block a img{width:22px;height:22px;}
.header.content .custom-block a b{display:none !important;}
.custom-search-box ul{display:none;}
.page-header.type1 .minicart-wrapper img{width:24px;}
.header .legin img{width:22px;}
.header .legin{margin:20px 0px 21px 4px;display:none;}
.header .legin span{display:none;}
.page-header.type1 .custom-block span{margin-top:5px !important;}
.page-header.type1 .custom-block span a b{display:none !important;}
.page-header.type1 .block-search{margin:0px 0 15px 30px;width:100% !important;max-width:100% !important;}
.block-search .field.search{display:inline-block;position:relative;width:92%;margin:0 auto;}
#search_mini_form input#search{padding-right:10px;}
.search-category{width:130px !important;}
.search-category select option{font-size:12px;}
.page-header.type1 .navigation{margin:0;width:100% !important;}
.page-header.type1 .navigation li.level0{padding:0px 5px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 2px 0 5px;}
.page-header.type1 .navigation li > a > span{font-size: 14px;
    letter-spacing: .5px;}
    .stock.unavailable {
    margin-right: 10px;    position: relative;
    top: -5px;
}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.page-header .navigation .level0.parent > a:after{width:12px;height:12px;top:0;}
#banner-slider-demo-12{margin-bottom:20px;}
.banner-inner-content h3{margin-bottom:20px;font-size:18px;}
.banner-content{bottom:40px;}
.banner-inner-content h2{margin-bottom:25px;font-size:16px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:12px;padding:6px 16px;border-radius:6px;}
.finderProducts.vertical{padding:18px}
.finderProducts.vertical h3{font-size:16px;margin-bottom:12px;margin-top:5px;}
.finderDropdowns .form-control{height:35px;font-size:11px;line-height:14px;}
.finderDropdowns .form-group{margin-bottom:15px;}
button#reset_3, button#find_3{width:calc(50% - 100px);margin:5px 0 5px;height:35px;font-size:14px;line-height:14px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-inner-box{padding:6px;}
.brand-inner-box a{ width: 100%; display: inline-block; }
.brand-inner-box a img{ width: 100%; }
.brand-section{padding:15px 0 0;}
.brand-section .item{margin-bottom:15px;}
.brand-section .item.bottom-item{margin-bottom:0;}
.brand-section h2{font-size:16px;font-weight:normal;margin-top:8px;margin-bottom:8px;}
.brand-section p{font-size:14px;font-weight:normal;}
.brand-section h2 a{font-size:16px;font-weight:normal;}
.panel.mats a img{width:100%;}
.mobile-only{display:block;}
.product_slider_item .sectionproducts-subtitles{text-align:left;color:#fff;width:100%;margin-bottom:2px;}
.product_slider_item{padding:15px;background:#3f549c;margin:15px 15px 0px;border-radius:4px;background-image:linear-gradient(to bottom, #3f549c,#3f549c, #35c2cd);}
.product_slider_item .sectionproducts-titles{font-size:20px;font-weight:500;padding-bottom:5px;text-transform:uppercase;color:#fff;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:3px 10px;font-size:12px;background:#fff;border-radius:2px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #000;}
.fresh_deals_item,
.explore_deal_item,
.dealadds-banner{padding:15px 15px 0;background:#fff;margin:15px 15px;border-radius:4px;}
.deal-banner-content, .explore-content, .flesh-deals-content{padding:0px;margin-top:0;box-shadow:none;}
.flesh-deals-content{margin-bottom:0}
.post-sections-list, .dealadds-banner{padding:11px;margin:15px 15px 0;box-shadow:0px 2px 5px rgba(0, 0, 0, 0.25);}
.fresh_deals_item .sectionproducts-titles,
.explore_deal_item .sectionproducts-titles,
.dealadds-banner .sectionproducts-titles{font-size:20px;font-weight:500;padding-bottom:5px;text-transform:uppercase;color:#000;}
.backacces h1{font-size:14px;line-height:22px;}
.backacces p{font-size:10px;max-width:100%;}
.owl-item .product-item-photo{height:160px !important;}
.product-image-photo{max-height:fit-content;height:auto !important;width:100% !important;}
.product-item-photo{min-height:160px !important;}
.owl-carousel .owl-item img{display:block;max-width:fit-content;max-height:fit-content;}
.grid-section-carousel .product-item-name > a, .grid-section-carousel .product.name a > a{height:20px !important;font-size:13px;}
.product-reviews-summary{margin-bottom:0px;}
.grid-section-carousel .blue-gradient,
.grid-section-carousel .lightgreen-gradient,
.grid-section-carousel .orange-gradient,
.grid-section-carousel .lightgreen-gradient{display:none;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading{padding:8px;}
.deals-banner-content-heading h2{font-size:16px;}
.deals-banner-content-heading p{font-size:12px;line-height:18px;}
.adds-banner-option{padding:11px;}
.single_banner_item{padding:0;}
button.reword-btn{font-size:12px;padding:6px 16px;border-radius:8px;bottom:32px;left:53px;}
.content-explore{bottom:12px;padding:4px 12px 4px 6px;border-radius:0px 5px 5px 0;}
.content-explore h2{font-size:12px;}
.content-explore h3{font-size:11px;margin-bottom:0;}
.home_ads_banner{padding-top:0px;padding:0;}
.fresh_deals_item{margin:15px;}
.flesh-deals-content .panel{margin:7px 0 0;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:17px;bottom:0px;}
.flesh-deals-content .panel h3{font-size:13px;bottom:0px;}
.footer_top_custom_block .icon{height:80px;}
.footer_top_custom_block .icon img{max-width:70px !important;max-height:70px !important;}
.footerIcons .block-title{font-size:14px;margin-bottom:10px !important;}
.footer-top-content-box p{font-size:11px;}
.footer-middle .footer-top-inner li > a{margin-left:14px;}
.footer-middle .block-title strong span{font-size:14px;}
.footer-middle ul.links, .footer-middle ul.features{margin-top:10px;}
.footer-middle .block-content{margin-top:15px;}
.footer-middle .footer-top-inner .block-content{margin:10px auto;}
.footer-middle .footer-top-inner ul{margin:0 auto;width:65%;}
.footer-middle .footer-top-inner .block .block-title{text-align:center;}
.special-price .price{font-size:12px;}
.price-box .price{font-size:12px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:20px;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:14px 0px 14px 0px !important;font-size:20px !important;display:none !important;}
.owl-theme .owl-controls .disabled{display:none !important;}
.owl-prev{left:-10px;}
.page-header.type1 .navigation>ul{margin-top:20px;display:block;}
.page-header.type1 .navigation li.level0>.level-top:hover + .level0.submenu{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.ui-menu-item > .submenu:hover{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a:after, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a:after{background:none;}
.navigation .submenu .subchildmenu > li{display:block;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(odd){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(even){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{height:auto !important;}
.flesh-deals-content .fd_2c_2r{margin-top:10px;}
.footer_top_custom_block{padding:15px;}
.footer_top_custom_block .item{margin-bottom:15px;}
.footer_top_custom_block .item.bottom-item{margin-bottom:0;}
}
@media all and (max-width:640px){@-ms-viewport{width:480px;}
.margall{margin-top:114px;}
.page-header.type1 .nav-toggle{float:left;}
.nav-toggle:before{color:#d4d4d4 !important;}
.page-header .panel.wrapper{display:none;}
.page-header.type1 .block-search .action.search{padding:0px 9px;border-radius:0px 4px 4px 0px;height:34px;}
.block-search .minisearch{width:90%;margin:0 auto;}
.block-search .minisearch input#search{position:static;}
.block-search .minisearch .label{display:none;}
.block-search .field.search{display:inline-block;position:relative;}
.block-search .actions{display:inline-block;position:absolute;}
.block-search .action.search span{display:none;}
.block-search input{margin:0;}
#search_mini_form input#search{padding-right:10px;border-bottom-right-radius:0;border-top-right-radius:0;}
.block-search .action.search{height:38px;border-color:#E9E9E9;}
.block-search .action.search{background:#35C2CB !important;}
.block-search .action.search{height:38px;display:inline-block;background-image:none;background:none;-moz-box-sizing:content-box;border:0;box-shadow:none;line-height:inherit;margin:0;padding:0;text-decoration:none;text-shadow:none;font-weight:400;line-height:40px;}
.page-header.type1 .block-search .action.search:before{background:url(../images/search.png);display:inline-block;content:'';width:24px;height:100%;background-size:21px;background-repeat:no-repeat;background-position:center center;}
.header.panel span{margin-left:0px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:15px 0 7px 0px;}
.page-header.type1 .logo img{width:160px;}
.page-header.type1 .custom-block{display:-webkit-box;top:30px;right:60px !important;position:absolute;}
.page-header.type1 .minicart-wrapper{right:5px !important;}
.page-header.type1 .minicart-wrapper a span.text{display:none;}
.header.content .custom-block a img{width:20px;height:20px;}
.header.content .custom-block a b{display:none !important;}
.custom-search-box ul{display:none;}
.minicart-wrapper .action.showcart .counter.qty{left:15px;margin-top:-20px;}
.page-header.type1 .minicart-wrapper img{width:22px;}
.header .legin img{width:22px;}
.header .legin{margin:20px 0px 21px 4px;display:none;}
.header .legin span{display:none;}
.page-header.type1 .custom-block span{margin-top:5px !important;}
.page-header.type1 .custom-block span a b{display:none !important;}
.page-header.type1 .block-search{margin:0px 0 15px 30px;width:100% !important;max-width:100% !important;}
.block-search .field.search{display:inline-block;position:relative;width:92%;margin:0 auto;}
#search_mini_form input#search{padding-right:10px;font-size:13px;height:34px;}
.search-category{width:130px !important;}
.search-category select option{font-size:12px;}
.page-header.type1 .navigation{margin:0;width:100% !important;}
.page-header.type1 .navigation li.level0{padding:0px 5px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 2px 0 5px;}
.page-header.type1 .navigation li > a > span{font-size:12px;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.page-header .navigation .level0.parent > a:after{width:12px;height:12px;top:0;}
#banner-slider-demo-12{margin-bottom:20px;}
.banner-inner-content h3{margin-bottom:10px;font-size:16px;}
.banner-content{bottom:20px;}
.banner-inner-content h2{margin-bottom:20px;font-size:15px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:12px;padding:6px 16px;border-radius:6px;}
.finderProducts.vertical{padding:18px}
.finderProducts.vertical h3{font-size:16px;margin-bottom:12px;margin-top:5px;}
.finderDropdowns .form-control{height:32px;font-size:11px;line-height:14px;}
.finderDropdowns .form-group{margin-bottom:15px;}
.action.subscribe{font-size:13px !important;height:34px !important;}
button#reset_3, button#find_3{width:calc(50% - 100px);margin:5px 0 5px;height:32px !important;font-size:13px !important;line-height:14px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-inner-box{padding:6px;}
.brand-section .item{margin-bottom:15px;}
.brand-section h2{font-size:15px;font-weight:normal;margin-top:8px;margin-bottom:8px;}
.brand-section p{font-size:13px;font-weight:normal;}
.brand-section h2 a{font-size:15px;font-weight:normal;}
.panel.mats a img{width:100%;}
.product_slider_item{padding:15px;background:#3f549c;margin:15px 15px 0px;border-radius:4px;background-image:linear-gradient(to bottom, #3f549c,#3f549c, #35c2cd);}
.product_slider_item .sectionproducts-titles{font-size:18px;font-weight:500;padding-bottom:5px;text-transform:uppercase;color:#fff;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:3px 8px;font-size:11px;background:#fff;border-radius:2px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.post-sections-list, .dealadds-banner{padding:11px;margin:15px 15px 0;}
.single_banner_item{padding:0;}
.home_ads_banner{padding-top:0px;padding:0;}
.fresh_deals_item,
.explore_deal_item,
.dealadds-banner{padding:11px;background:#fff;margin:15px 15px;border-radius:4px;}
.fresh_deals_item .sectionproducts-titles,
.explore_deal_item .sectionproducts-titles,
.dealadds-banner .sectionproducts-titles{font-size:18px;font-weight:500;padding-bottom:10px;text-transform:uppercase;color:#000;}
.backacces h1{font-size:14px;line-height:22px;}
.backacces p{font-size:10px;max-width:100%;}
.owl-item .product-item-photo{height:160px !important;}
.product-image-photo{max-height:150px;}
.product-item-photo{min-height:160px !important;}
.grid-section-carousel .product-item-name > a, .grid-section-carousel .product.name a > a{height:20px !important;font-size:13px;}
.product-reviews-summary{margin-bottom:0px;}
.grid-section-carousel .blue-gradient,
.grid-section-carousel .lightgreen-gradient,
.grid-section-carousel .orange-gradient,
.grid-section-carousel .lightgreen-gradient{display:none;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading{padding:8px;}
.deals-banner-content-heading h2{font-size:15px;}
.deals-banner-content-heading p{font-size:12px;line-height:18px;}
button.reword-btn{font-size:11px;padding:4px 12px;border-radius:6px;bottom:28px;left:49px;}
.content-explore{bottom:10px;padding:2px 6px 2px 2px;border-radius:0px 3px 3px 0;opacity:0.8;}
.content-explore h2{font-size:11px;}
.content-explore h3{font-size:10px;margin-bottom:0;margin-top:2px;}
.home_ads_banner{padding-top:0px;}
.flesh-deals-content .panel{margin:7px 0 0;}
.flesh-deals-content .fd_2c_2r{margin-top:10px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:15px;bottom:0px;}
.flesh-deals-content .panel h3{font-size:12px;bottom:0px;}
.footer_top_custom_block .icon{height:80px;}
.footer_top_custom_block .icon img{max-width:70px !important;max-height:70px !important;}
.footerIcons .block-title{font-size:13px;margin-bottom:10px !important;}
.footer-top-content-box p{font-size:11px;}
.footer-middle .footer-top-inner li > a{margin-left:14px;width:60px;}
.footer-middle .block-title strong span{font-size:13px;}
.footer-middle ul.links, .footer-middle ul.features{margin-top:10px;}
.footer-middle .block-content{margin-top:15px;}
.footer-middle .footer-top-inner .block-content{margin:10px auto;}
.footer-middle .footer-top-inner ul{margin:0 auto;width:100%;}
.footer-middle .footer-top-inner .block .block-title{text-align:center;}
.footer-middle ul.links li, .footer-middle ul.features li{font-size:11px;}
.footer-middle, .footer-middle p{font-size:11px;}
.special-price .price{font-size:12px;}
.price-box .price{font-size:12px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:18px;padding:12px 0 !important;}
#banner-slider-demo-12 .owl-prev{border-radius:0px 8px 8px 0px !important;}
#banner-slider-demo-12 .owl-next{border-radius:8px 0px 0px 8px !important;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:12px 0px 12px 0px !important;font-size:18px !important;}
.owl-prev{left:-10px;}
.page-header.type1 .navigation>ul{margin-top:20px;display:block;}
.page-header.type1 .navigation li.level0>.level-top:hover + .level0.submenu{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.ui-menu-item > .submenu:hover{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a:after, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a:after{background:none;}
.navigation .submenu .subchildmenu > li{display:block;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(odd){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(even){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{height:auto !important;}
.footer-middle .block.newsletter input{padding:0 8px !important;height:34px !important;font-size:12px !important;}
.footer-middle .footer-top-inner .block-content.paymentss img{height:auto;width:55px;}
.footer-middle .footer-top-inner li > a img{height:30px;}
}
@media all and (max-width:510px){@-ms-viewport{width:360px;}
.margall{margin-top:114px;}
.page-header.type1 .nav-toggle{float:left;}
.nav-toggle:before{color:#d4d4d4 !important;}
.page-header .panel.wrapper{display:none;}
.page-header.type1 .block-search .action.search{padding:0px 9px;border-radius:0px 4px 4px 0px;height:34px;}
.block-search .minisearch{width:90%;margin:0 auto;}
.block-search .minisearch input#search{position:static;}
.block-search .minisearch .label{display:none;}
.block-search .field.search{display:inline-block;position:relative;}
.block-search .actions{display:inline-block;position:absolute;}
.block-search .action.search span{display:none;}
.block-search input{margin:0;}
#search_mini_form input#search{padding-right:10px;border-bottom-right-radius:0;border-top-right-radius:0;}
.block-search .action.search{height:38px;border-color:#E9E9E9;}
.block-search .action.search{background:#35C2CB !important;}
.block-search .action.search{height:38px;display:inline-block;background-image:none;background:none;-moz-box-sizing:content-box;border:0;box-shadow:none;line-height:inherit;margin:0;padding:0;text-decoration:none;text-shadow:none;font-weight:400;line-height:40px;}
.page-header.type1 .block-search .action.search:before{background:url(../images/search.png);display:inline-block;content:'';width:24px;height:100%;background-size:21px;background-repeat:no-repeat;background-position:center center;}
.header.panel span{margin-left:0px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:15px 0 7px 0px;}
.page-header.type1 .logo img{width:140px;}
.page-header.type1 .custom-block{display:-webkit-box;top:30px;right:60px !important;position:absolute;}
.minicart-wrapper .action.showcart .counter.qty{left:14px;margin-top:-19px;}
.page-header.type1 .minicart-wrapper{right:5px !important;}
.page-header.type1 .minicart-wrapper a span.text{display:none;}
.header.content .custom-block a img{width:18px;height:18px;margin-right:0;margin-top:2px;}
.header.content .custom-block a b{display:none !important;}
.custom-search-box ul{display:none;}
.page-header.type1 .minicart-wrapper img{width:20px;margin-right:0px;}
.header .legin img{width:22px;}
.header .legin{margin:20px 0px 21px 4px;display:none;}
.header .legin span{display:none;}
.page-header.type1 .custom-block span{margin-top:5px !important;}
.page-header.type1 .custom-block span a b{display:none !important;}
.page-header.type1 .block-search{margin:0px 0 15px 30px;width:100% !important;max-width:100% !important;}
.block-search .field.search{display:inline-block;position:relative;width:88%;margin:0 auto;}
#search_mini_form input#search{padding-right:10px;font-size:13px;height:34px;}
.search-category{width:130px !important;}
.search-category select option{font-size:12px;}
.page-header.type1 .navigation{margin:0;width:100% !important;}
.page-header.type1 .navigation li.level0{padding:0px 5px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 2px 0 5px;}
.page-header.type1 .navigation li > a > span{font-size:12px;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.page-header .navigation .level0.parent > a:after{width:12px;height:12px;top:0;}
#banner-slider-demo-12{margin-bottom:20px;}
.banner-inner-content h3{margin-bottom:10px;font-size:14px;}
.banner-content{bottom:15px;}
.banner-inner-content h2{margin-bottom:15px;font-size:12px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:11px;padding:4px 10px;border-radius:4px;}
.finderProducts.vertical{padding:18px}
.finderProducts.vertical h3{font-size:16px;margin-bottom:12px;margin-top:0px;}
.finderDropdowns .form-control{height:32px;font-size:11px;}
.finderDropdowns .form-group{margin-bottom:15px;}
.action.subscribe{font-size:13px !important;height:34px !important;}
button#reset_3, button#find_3{width:calc(50% - 100px);margin:4px 0 2px;height:32px !important;font-size:11px !important;line-height:14px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-inner-box{padding:6px;}
.brand-section .item{margin-bottom:15px;}
.brand-section .item.bottom-item{margin-bottom:15px;}
.brand-section .item:last-child{margin-bottom:0px;}
.brand-section h2{font-size:15px;font-weight:normal;margin-top:8px;margin-bottom:8px;}
.brand-section p{font-size:13px;font-weight:normal;}
.brand-section h2 a{font-size:15px;font-weight:normal;}
.panel.mats a img{width:100%;}
.product_slider_item{padding:15px;background:#3f549c;margin:15px 15px 0px;border-radius:4px;background-image:linear-gradient(to bottom, #3f549c,#3f549c, #35c2cd);}
.product_slider_item .sectionproducts-titles{font-size:17px;font-weight:500;padding-bottom:5px;text-transform:uppercase;color:#fff;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:3px 8px;font-size:11px;background:#fff;border-radius:2px;border:1px solid #fff;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #000;}
.post-sections-list, .dealadds-banner{padding:11px;margin:15px 15px 0;}
.fresh_deals_item,
.explore_deal_item,
.dealadds-banner{padding:11px;background:#fff;margin:15px 15px;border-radius:4px;}
.single_banner_item{padding:0;}
.fresh_deals_item .sectionproducts-titles,
.explore_deal_item .sectionproducts-titles,
.dealadds-banner .sectionproducts-titles{font-size:17px;font-weight:500;padding-bottom:10px;text-transform:uppercase;color:#000;}
.deal-banner-content .col-md-6:last-child{padding:0;margin-bottom:0px;}
.deal-banner-content .col-md-6:first-child{padding:0;margin-bottom:11px;}
.backacces h1{font-size:14px;line-height:22px;}
.backacces p{font-size:10px;max-width:100%;}
.owl-item .product-item-photo{height:160px !important;}
.product-image-photo{max-height:150px;}
.product-item-photo{min-height:160px !important;}
.grid-section-carousel .product-item-name > a, .grid-section-carousel .product.name a > a{height:20px !important;font-size:13px;}
.product-reviews-summary{margin-bottom:0px;}
.grid-section-carousel .blue-gradient,
.grid-section-carousel .lightgreen-gradient,
.grid-section-carousel .orange-gradient,
.grid-section-carousel .lightgreen-gradient{display:none;}
.grid-section-carousel .owl-next{right:-10px !important;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading{padding:8px;}
.deals-banner-content-heading h2{font-size:15px;}
.deals-banner-content-heading p{font-size:12px;line-height:18px;}
button.reword-btn{font-size:11px;padding:3px 8px;border-radius:4px;bottom:20px;left:44px;}
.content-explore{bottom:30px;padding:4px 10px 10px 4px;border-radius:0px 6px 6px 0;opacity:0.8;}
.content-explore h2{font-size:13px;}
.content-explore h3{font-size:12px;margin-bottom:0;margin-top:6px;}
.explore-content .col-12{margin-bottom:11px;}
.explore-content .col-12:last-child{margin-bottom:0px;}
.home_ads_banner{padding-top:0px;padding:0;}
.flesh-deals-content .padding-r-0,
.flesh-deals-content .padding-l-0{padding:0;}
.flesh-deals-content .panel{margin:0px 0 11px;}
.flesh-deals-content .padding-r-0 .panel{margin-bottom:0;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:15px;bottom:0px;}
.flesh-deals-content .panel h3{font-size:12px;bottom:0px;}
.footer_top_custom_block .icon{height:80px;}
.footer_top_custom_block .icon img{max-width:70px !important;max-height:70px !important;}
.footerIcons .block-title{font-size:13px;margin-bottom:10px !important;}
.footer-top-content-box p{font-size:11px;}
.footer-middle .footer-top-inner li > a{margin-left:14px;}
.footer-middle .block-title strong span{font-size:13px;}
.footer-middle ul.links, .footer-middle ul.features{margin-top:10px;}
.footer-middle .block-content{margin-top:15px;}
.footer-middle .footer-top-inner .block-content{margin:10px auto;}
.footer-middle .footer-top-inner ul{margin:0 auto;width:100%;}
.footer-middle .footer-top-inner .block .block-title{text-align:center;}
.footer-middle ul.links li, .footer-middle ul.features li{font-size:11px;}
.footer-middle, .footer-middle p{font-size:11px;}
.special-price .price{font-size:12px;}
.price-box .price{font-size:12px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:14px;padding:12px 0 !important;}
#banner-slider-demo-12 .owl-prev{border-radius:0px 8px 8px 0px !important;}
#banner-slider-demo-12 .owl-next{border-radius:8px 0px 0px 8px !important;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:12px 0px 12px 0px !important;font-size:14px !important;}
.owl-prev{left:-10px;}
.page-header.type1 .navigation>ul{margin-top:20px;display:block;}
.page-header.type1 .navigation li.level0>.level-top:hover + .level0.submenu{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.ui-menu-item > .submenu:hover{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a:after, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a:after{background:none;}
.navigation .submenu .subchildmenu > li{display:block;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(odd){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(even){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{height:auto !important;}
.footer-middle .block.newsletter input{padding:0 8px !important;height:34px !important;font-size:12px !important;}
.footer_top_custom_block .item.bottom-item{margin-bottom:15px;}
.footer_top_custom_block .item:last-child{margin-bottom:0px;}
.m-h-480{display:none !important;}
}
@media all and (max-width:440px){.banner-content{bottom:10px;}
.banner-inner-content h2{margin-bottom:10px;font-size:11px;}
.banner-inner-content h3{margin-bottom:10px;font-size:11px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:11px;padding:3px 8px;border-radius:4px;}
.finderProducts.vertical h3{font-size:14px;margin-bottom:8px;}
.finderDropdowns .form-group{margin-bottom:10px;}
button#reset_3, button#find_3{width:calc(50% - 50px);margin:4px 0 2px;height:28px !important;font-size:11px !important;line-height:14px;}
.product_slider_item .sectionproducts-titles{font-size:15px;}
.product_slider_item .sectionproducts-subtitles{font-size:11px;}
.fresh_deals_item .sectionproducts-titles, .explore_deal_item .sectionproducts-titles, .dealadds-banner .sectionproducts-titles{font-size:15px;padding-bottom:10px;}
button.reword-btn{font-size:11px;padding:0px 6px;border-radius:4px;bottom:20px;left:40px;}
.footer-middle .footer-top-inner li a img{height:30px;}
.footer-middle .footer-top-inner li{height:26px;}
.footer-middle .footer-top-inner ul{margin:0 auto;width:100%;}
.footer .footer-middle{padding:15px 0 15px;}
.footer-middle .footer-top-inner .block-content.paymentss img{height:auto;width:55px;}
}
@media all and (max-width:360px){@-ms-viewport{width:320px;}
.margall{margin-top:110px;}
.page-header.type1 .nav-toggle{float:left;}
.nav-toggle{margin-right:10px;}
.nav-toggle:before{color:#d4d4d4 !important;}
.page-header .panel.wrapper{display:none;}
.page-header.type1 .block-search .action.search{padding:0px 4px;border-radius:0px 4px 4px 0px;height:34px;}
.block-search .minisearch{width:80%;margin:0 auto;}
.block-search .minisearch input#search{position:static;}
.block-search .minisearch .label{display:none;}
.block-search .field.search{display:inline-block;position:relative;}
.block-search .actions{display:inline-block;position:absolute;}
.block-search .action.search span{display:none;}
.block-search input{margin:0;}
#search_mini_form input#search{padding-right:10px;border-bottom-right-radius:0;border-top-right-radius:0;}
.block-search .action.search{height:38px;border-color:#E9E9E9;}
.block-search .action.search{background:#35C2CB !important;}
.block-search .action.search{height:38px;display:inline-block;background-image:none;background:none;-moz-box-sizing:content-box;border:0;box-shadow:none;line-height:inherit;margin:0;padding:0;text-decoration:none;text-shadow:none;font-weight:400;line-height:40px;}
.page-header.type1 .block-search .action.search:before{background:url(../images/search.png);display:inline-block;content:'';width:24px;height:100%;background-size:21px;background-repeat:no-repeat;background-position:center center;}
.header.panel span{margin-left:0px;font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a{font-weight:500;}
.page-header.type1 .panel.header .header.links > li > a:hover{color:#fff;}
.page-header.type1 .logo{margin:18px 0 0px 0px;}
.page-header.type1 .logo img{width:130px;}
.page-header.type1 .custom-block{display:-webkit-box;top:30px;right:55px !important;position:absolute;}
.page-header.type1 .minicart-wrapper{right:5px !important;}
.page-header.type1 .minicart-wrapper a span.text{display:none;}
.header.content .custom-block a img{width:18px;height:18px;margin-right:0;margin-top:2px;}
.header.content .custom-block a b{display:none !important;}
.custom-search-box ul{display:none;}
.page-header.type1 .minicart-wrapper img{width:20px;margin-right:0px;}
.page-header.type1 .minicart-wrapper{margin:7px 0;}
.header .legin img{width:22px;}
.header .legin{margin:20px 0px 21px 4px;display:none;}
.header .legin span{display:none;}
.page-header.type1 .custom-block span{margin-top:3px !important;}
.page-header.type1 .custom-block span a b{display:none !important;}
.page-header.type1 .block-search{margin:0px 0 15px 30px;width:100% !important;max-width:100% !important;}
.block-search .field.search{display:inline-block;position:relative;width:88%;margin:0 auto;}
#search_mini_form input#search{padding-right:10px;font-size:13px;height:34px;}
.search-category{width:130px !important;}
.search-category select option{font-size:12px;}
.page-header.type1 .navigation{margin:0;width:100% !important;}
.page-header.type1 .navigation li.level0{padding:0px 5px;}
.page-header.type1 .navigation li.level0>.level-top{padding:0px 2px 0 5px;}
.page-header.type1 .navigation li > a > span{font-size:12px;}
.page-header.type1 .navigation li:hover > a > span{}
.page-header .navigation .level0.parent > a:after{margin-top:2px;}
.page-header .navigation .level0.parent > a:after{width:12px;height:12px;top:0;}
#banner-slider-demo-12{margin-bottom:20px;}
.banner-inner-content h3{margin-bottom:10px;font-size:10px;}
.banner-content{bottom:8px;}
.banner-inner-content h2{margin-bottom:5px;font-size:11px;}
.banner-inner-content .btn-blue-gradiant{margin-bottom:0px;font-size:10px;padding:3px 8px;border-radius:4px;}
.finderProducts.vertical{padding:12px}
.finderProducts.vertical h3{font-size:13px;margin-bottom:6px;margin-top:0px;}
.finderDropdowns .form-control{height:30px;font-size:11px;}
.finderDropdowns .form-group{margin-bottom:12px;}
.action.subscribe{font-size:13px !important;height:34px !important;}
button#reset_3, button#find_3{width:calc(50% - 50px);margin:4px 0 2px;height:30px !important;font-size:11px !important;line-height:14px;}
button#reset_3,{margin-left:20px !important;}
button#find_3,{margin-right:20px !important;}
.brand-inner-box{padding:6px;}
.brand-section .item{margin-bottom:15px;}
.brand-section h2{font-size:15px;font-weight:normal;margin-top:8px;margin-bottom:8px;}
.brand-section p{font-size:13px;font-weight:normal;}
.brand-section h2 a{font-size:15px;font-weight:normal;}
.panel.mats a img{width:100%;}
.product_slider_item{padding:15px;background:#3f549c;margin:15px 15px 0px;border-radius:4px;background-image:linear-gradient(to bottom, #3f549c,#3f549c, #35c2cd);}
.product_slider_item .sectionproducts-titles{font-size:15px;font-weight:500;padding-bottom:5px;text-transform:uppercase;color:#fff;}
.product_slider_item .sectionproducts-subtitles{font-size:11px;}
h2.sectionproducts-titles + a, .product_slider_item .title-content a{text-decoration:none;font-weight:500;padding:2px 6px;font-size:10px;background:#fff;border-radius:2px;}
h2.sectionproducts-titles + a:hover, .product_slider_item .title-content a:hover{background-color:#000 !important;color:#fff;border:1px solid #999;}
.post-sections-list, .dealadds-banner{padding:11px;margin:15px 15px 0;}
.fresh_deals_item,
.explore_deal_item,
.dealadds-banner{padding:11px;background:#fff;margin:15px 15px;border-radius:4px;}
.single_banner_item{padding:0;}
.fresh_deals_item .sectionproducts-titles,
.explore_deal_item .sectionproducts-titles,
.dealadds-banner .sectionproducts-titles{font-size:15px;font-weight:500;padding-bottom:10px;text-transform:uppercase;color:#000;}
.backacces h1{font-size:14px;line-height:22px;}
.backacces p{font-size:10px;max-width:100%;}
.owl-item .product-item-photo{height:160px !important;}
.product-image-photo{max-height:150px;}
.product-item-photo{min-height:160px !important;}
.grid-section-carousel, .deal-banner-content, .explore-content, .flesh-deals-content{margin-top:3px;}
.grid-section-carousel .product-item-name > a, .grid-section-carousel .product.name a > a{height:20px !important;font-size:13px;}
.product-reviews-summary{margin-bottom:0px;}
.grid-section-carousel .blue-gradient,
.grid-section-carousel .lightgreen-gradient,
.grid-section-carousel .orange-gradient,
.grid-section-carousel .lightgreen-gradient{display:none;}
.grid-section-carousel .owl-next{right:-10px !important;}
.carousel-add-wishlist img{width:20px;}
button.carousel-add-wishlist i:hover{color:#ffc600 !important;}
.deals-banner-content-heading{padding:8px;}
.deals-banner-content-heading h2{font-size:15px;}
.deals-banner-content-heading p{font-size:12px;line-height:18px;}
button.reword-btn{font-size:10px;padding:0px 4px;border-radius:2px;bottom:15px;left:38px;}
.content-explore{bottom:30px;padding:4px 10px 10px 4px;border-radius:0px 6px 6px 0;opacity:0.8;}
.content-explore h2{font-size:13px;}
.content-explore h3{font-size:12px;margin-bottom:0;margin-top:6px;}
.home_ads_banner{padding-top:0px;padding:0;}
.flesh-deals-content .panel{margin:0 0 11px;}
.flesh-deals-content .panel a img{width:100%;}
.flesh-deals-content .panel h2{font-size:15px;bottom:0px;}
.flesh-deals-content .panel h3{font-size:12px;bottom:0px;}
.footer_top_custom_block .icon{height:80px;}
.footer_top_custom_block .icon img{max-width:70px !important;max-height:70px !important;}
.footerIcons .block-title{font-size:13px;margin-bottom:10px !important;}
.footer-top-content-box p{font-size:11px;}
.footer-middle .footer-top-inner li > a{margin-left:3px;}
.footer-middle .footer-top-inner ul.social-icons li{width:40px;}
.footer-middle .footer-top-inner ul.social-icons li > a{width:40px}
.footer-middle .block-title strong span{font-size:13px;}
.footer-middle ul.links, .footer-middle ul.features{margin-top:10px;}
.footer-middle .block-content{margin-top:15px;}
.footer-middle .footer-top-inner .block-content{margin:10px auto;}
.footer-middle .footer-top-inner ul{margin:0 auto;width:90%;}
.footer-middle .footer-top-inner li{width:60px;margin:0 5px;}
.footer-middle .footer-top-inner .block .block-title{text-align:center;}
.footer-middle ul.links li, .footer-middle ul.features li{font-size:11px;}
.footer-middle, .footer-middle p{font-size:11px;}
.special-price .price{font-size:12px;}
.price-box .price{font-size:12px;}
#banner-slider-demo-12 .owl-next,
#banner-slider-demo-12 .owl-prev{font-size:10px;padding:6px 0 !important;}
#banner-slider-demo-12 .owl-prev{border-radius:0px 5px 5px 0px !important;}
#banner-slider-demo-12 .owl-next{border-radius:5px 0px 0px 5px !important;}
.grid-section-carousel .owl-next,
.grid-section-carousel .owl-prev{padding:12px 0px 12px 0px !important;font-size:14px !important;}
.owl-prev{left:-10px;}
.page-header.type1 .navigation>ul{margin-top:20px;display:block;}
.page-header.type1 .navigation li.level0>.level-top:hover + .level0.submenu{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.ui-menu-item > .submenu:hover{height:100% !important;visibility:visible !important;}
.sw-megamenu.navigation li.level0.fullwidth .submenu li.level1 > a:after, .sw-megamenu.navigation li.level0.staticwidth .submenu li.level1 > a:after{background:none;}
.navigation .submenu .subchildmenu > li{display:block;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(odd){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li:nth-child(even){background-color:transparent;}
.sw-megamenu.navigation .subchildmenu.mega-columns.columns4 > li{height:auto !important;}
.footer-middle .block.newsletter input{padding:0 8px !important;height:34px !important;font-size:12px !important;}
.footer-middle .footer-top-inner li a img{width:30px;}
}

#layer-product-list .product-item-photo .product-item-inner{
    width: 100%;
    bottom: initial;
}
#layer-product-list .product-item-photo .product-item-inner .gms-certified {
    float: left;
}
#layer-product-list .product-item-photo .product-item-inner .carousel-add-wishlist {
    float: right;
}


@media all and (min-device-width:320px) and (max-device-width:1920px){}