@charset "utf-8";
/* forgot CSS Document */

.form.password .field{font-family: exo;}
.form.password .actions-toolbar .primary {
    width: 100% !important;
}
.form.password.forget p{ color: #6c6d70 !important; }

.form.password.forget input[type="email"] {
    border: 1px solid #5d5d5d !Important;
    border-radius: 4px !important;
	    margin-top: 40px !important;
}


.form.password.forget input[type="email"]::placeholder {
  color: #6c6d70 !important; /* Firefox */
}

.form.password.forget input[type="email"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #6c6d70 !important;
}

.form.password.forget input[type="email"]::-ms-input-placeholder { /* Microsoft Edge */
 color: #6c6d70 !important;
}

.form.password.forget button#act_for_sub{border-radius: 4px !important; width: 100% !important; transition: all 0.2s ease;}

.form.password.forget button#act_for_sub:hover{    opacity: 0.9; transition: all 0.2s ease;}

@media (max-width:768px){
	.form.password.forget{
		    width: 92% !important;
    padding: 25px 30px !important;    border-radius: 4px !important;

	}
	h2.forgot_password{font-size: 15px !important;}
	.form.password.forget p{font-size: 12px !important;}
	
	.form.password.forget input[type="email"] {
    margin-top: 30px !important;
    font-size: 13px;
    height: 50px !important;
    line-height: 50px !important;
}
	.form.password .actions-toolbar .primary {
    width: 100% !important;
    font-size: 14px !important;
}
	
	.form.password.forget .fieldset {
    margin-bottom: 30px !important;
}
	
	
}