/* logincss Document */
/*set back ground white*/
.customer-account-login main#maincontent, .customer-account-create .page-main {
  background: #fff; }

.login-container .newguideness {
  background: transparent;
  box-shadow: none; }
  .login-container .newguideness h1 {
    font-size: 20px; }
.login-container strong#block-customer-login-heading {
  font-size: 20px !important;
  letter-spacing: normal;
  padding: 18px 0px; }
.login-container .block .block-title a {
  font-size: 20px !important;
  letter-spacing: normal; }
.login-container fieldset.fieldset.login input.input-text {
  border: 1px solid #888888 !important;
  border-radius: 4px !important; }
  .login-container fieldset.fieldset.login input.input-text::-webkit-input-placeholder {
    color: #a0a0a0; }
  .login-container fieldset.fieldset.login input.input-text::-ms-input-placeholder {
    color: #a0a0a0; }
  .login-container fieldset.fieldset.login input.input-text::-moz-placeholder {
    color: #a0a0a0; }
.login-container > .block-customer-login {
  max-width: 470px !important; }
.login-container fieldset.fieldset.login .actions-toolbar button#send2 {
  background: #5553A3 !important;
  background-image: none;
  border-radius: 4px; }
.login-container h4 {
  font-size: 15px !important;
  width: 100%;
  text-align: center; }
.login-container ul li .sociallogin-button-text {
  min-width: AUTO !important;
  font-size: 14px !important;
  width: auto !IMPORTANT;
  padding: 0px 0px 0px 2px; }
.login-container > .block-customer-login {
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25) !important; }
.login-container .sociallogin-block .sociallogin-buttons ul li.facebook span.sociallogin-button-auto, .login-container .sociallogin-block .sociallogin-buttons ul li.googleplus span.sociallogin-button-auto {
  border-radius: 4px; }
.login-container .sociallogin-button-auto {
  text-align: center !important;
  line-height: 1 !important; }
.login-container .sociallogin-button-icon, .login-container .sociallogin-block .sociallogin-buttons ul li.facebook .sociallogin-button-icon {
  float: none;
  display: inline-block; }
.login-container .ul li .sociallogin-button-text {
  min-width: auto !important;
  font-size: 14px !important;
  width: auto;
  display: inline-block;
  padding: 0px 7px 0px 4px; }
.login-container .action.create.primary {
  font-size: 20px;
  letter-spacing: normal; }
.login-container .form-create-account input.input-text {
  border-radius: 4px !important;
  border: 1px solid #000000 !important; }
.login-container .sociallogin-block .sociallogin-buttons ul li.googleplus .sociallogin-button-icon {
  float: none !important;
  display: inline-block !important; }
.login-container .form-create-account input.input-text {
  border-radius: 4px !important;
  border: 1px solid #888888 !important;
  margin-bottom: 20px; }
  
  .login-container .form-create-account select.input-text {
  border-radius: 4px !important;
  border: 1px solid #888888 !important;
  margin-bottom: 20px; height:56px; font-size:18px; }
  
  
.login-container .form.create.account.form-create-account {
  max-width: 470px !important;
  box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.25) !important; }
.login-container .form.create.account .actions-toolbar button#custom_login_btn, .login-container .form.create.account .actions-toolbar button#custom_login_btn:hover, .login-container .form.create.account .actions-toolbar button#custom_login_btn:focus {
  background: #5553A3 !important;
  background-image: none !important; }
.login-container .field-name-firstname label, .login-container .field-name-lastname label, .login-container label[for=email_address], .login-container label[for=mobile], .login-container label[for=password], .login-container label[for=password-confirmation], .login-container label[for=company_nam], .login-container label[for=company_add], .login-container label[for=gst_number], .login-container label[for=pan_number] {
  display: none; }
.login-container label.tab-radio-des.radio-des:after {
  content: "\f29c";
  font-family: fontawesome;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer; }
.login-container .fieldset > .field > label {
  display: none; }
.login-container fieldset.fieldset.login a.action.remind {
  color: #5553A3 !important;
  margin-top: 15px !important; }
.login-container .registerh4 {
  margin-top: -10px !important;
  margin-bottom: 20px !important;
  text-align: left !important;
  font-size: 14px !IMPORTANT; }
.login-container .action.create.primary:active, .login-container .action.primary:active {
  border: none !important;
  background: none !important; }
.login-container .form-create-account label.tab-radio-des.radio-des {
  font-size: 16px !important;
  font-weight: 500;
  color: #000 !important; }
.login-container #show-me {
  padding: 0px 40px !important; }
.login-container .form-create-account input.input-text::-webkit-input-placeholder {
  color: #a0a0a0; }
.login-container .form-create-account input.input-text::-ms-input-placeholder {
  color: #a0a0a0; }
.login-container .form-create-account input.input-text::-moz-placeholder {
  color: #a0a0a0; }

.form.create.account.form-create-account #sendotp {background: #5553A3 !important; background-image: none; border-radius: 4px; padding: 14px 0px; color: #fff; border: 0px;  font-size: 17px; border-radius: 0; font-family: 'Exo';
margin: 0px; margin-top: 0;  width: 100%;  font-weight: 400;  height: 56px;  border-radius: 4px; display: block; line-height: 30px; cursor:pointer; text-align: center; transition: .5s all ease;}
.form.create.account.form-create-account #sendotp:hover {background: #0b2550 !important;  transition: .5s all ease;}

.field.required.verifyotpblock .control {padding-top: 18px;}
.field.required.verifyotpblock .control #verify_otp_button {background: #5553A3;
    background-image: none;
    padding: 20px 7px;
    color: #fff;
    border: 0px;
    font-size: 13px;
    border-radius: 0;
    font-family: 'Exo';
    margin: 0px;
    margin-top: 0;
    height: auto;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: .5s all ease;}
.field.required.verifyotpblock .control #verify_otp_button:hover, .field.required.verifyotpblock .control #om_counte:hover {background: #0b2550 !important;  transition: .5s all ease;}
#password-strength-meter-container {display: none;}
.flash {
   animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {background: #5553A3;}
    to {background: #f3a626;}
}
.field.required.verifyotpblock .control #om_counter {padding: 19px 4px;
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 14px;
    font-family: Exo;
    margin: 0px;
    height: auto;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    background: rgb(85, 83, 163) !important;}
#verfiedotpstatus {background: #5553A3 !important; background-image: none; border-radius: 4px; padding: 17px 14px;
    color: #fff; border: 0px; font-size: 16px; border-radius: 0; font-family: 'Exo'; margin: 0px;  margin-top: 0;
    width: 100%; font-weight: 400; height: auto; border-radius: 4px;  max-width: 100%;  display: block; cursor: pointer;  transition: .5s all ease;}
  .newwww_fieldsss {width: 100%;}
  .select2-container--default .select2-selection--single {    height: 56px;
    line-height: 56px;
    font-size: 18px;
    display: block;
    padding-top: 15px;}

    .create .select2-container--default .select2-selection__arrow b {top:90%;}
.newguideness .specialoffer {margin: 0; padding: 0 0 8px 80px; font-weight: bold; text-transform: uppercase;  font-size: 16px; color: #283c82;}
.newguideness .offerimage {width: 30px !important; position: absolute; left: auto !important; top: -10px !important;
margin-left: 6px;}
.newguideness .logingofferm {padding: 20px 0;}

@media (max-width: 768px) {
  .login-container #show-me {
    padding: 0px 20px !important; }
  .login-container .form-create-account label.tab-radio-des.radio-des {
    font-size: 14px !important; }
  .login-container .newguideness {
    display: none; }
  .login-container > .block-customer-login {
    flex: auto !important;
    margin: 30px auto 10px !important;
    max-width:86% !important;
    padding: 10px 20px !important; }
  .login-container fieldset.fieldset.login a.action.remind {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px !important; }
  .login-container strong#block-customer-login-heading {
    font-size: 16px !important;
    line-height: normal !important; }
  .login-container .block .block-title a {
    font-size: 16px !important;
    letter-spacing: normal !important;
    padding: 18px 0px; }
  .login-container fieldset.fieldset.login .actions-toolbar button#send2 {
    font-size: 17px; }
  .login-container fieldset.fieldset.login input.input-text {
    font-size: 14px !important; }
  .login-container h4 {
    margin-top: 15px !important; }
  .login-container .form.create.account.form-create-account {
    flex: auto !important; }
  .login-container .form-create-account a.action.create.primary {
    font-size: 16px !important; }
  .login-container .form.create.account.form-create-account {
    max-width: 87% !important;
    margin: 10px !important;
    display: inline-block;
    padding: 10px 20px; }
  .login-container .form-create-account input.input-text {
    font-size: 14px !important; } }
