.wishlist-index-index .products-grid .product-items .product-item{width:100%;}
.box-tocart .action.tocart:before{display:none;}
.page-header.type1 .navigation>ul{background:none;}
.page-header.type1 .nav-sections {margin-bottom: 0px !important;}
.wishlist-index-index .products-grid .product-items .product-item:last-child{border-bottom:0px;}
.block.block-addresses-list .block-title{font-size: 24px !important;    color: #000000 !important;  font-weight: 500 !important;  padding: 15px 20px;  width: 100%;  border-bottom: 1px solid #e8eaef;}
.block.block-addresses-list .block-title strong{font-weight: 500 !important;}
.block.block-addresses-list .block-content,.block.block-addresses-default .block-content{padding:20px;}
.block-addresses-list .items.addresses > .item{ padding: 15px;float: left !important; clear: unset !important; flex: 0 0 25%; max-width: 25%;margin-bottom:0px}
.block-addresses-list .items.addresses,.block.block-addresses-default .block-content, .marketplace-order-view .wk-mp-design .block-content{ display: flex; flex-wrap: wrap;}
.block-addresses-list .items.addresses > .item address{    padding: 15px; border: 1px solid #b6b6b7; height: calc(100% - 50px);  border-radius: 3px 3px 0px 0px;  border-bottom: 1px solid #e8eaef;font-size: 14px; color: #3d3d3f; font-weight: 500; }
.block-addresses-list .items.addresses .item.actions{padding: 15px;border: 1px solid #b6b6b7; height: 50px; margin-top: 0px;border-top: 0px; border-radius: 0px 0px 3px 3px;  display: flex;justify-content: space-between;}
.block-addresses-list .items.addresses > .item address a{color: #3d3d3f;}
.block-addresses-list .items.addresses .item.actions a{color:#6c6d70;font-size:12px;font-weight:500; text-transform: uppercase;}
.block-addresses-list .items.addresses .item.actions a:after{display:none;}
.customer-address-index .actions-toolbar{text-align:center;}
.customer-address-index .actions-toolbar > .primary {float:none;}
.customer-address-index .actions-toolbar button.action.primary.add{background: #5554a4; font-size: 18px; color: #fff; height: 60px; width: 260px; border-radius: 4px;}
.block.block-addresses-default .block-title{font-size: 24px !important;    color: #000000 !important;  font-weight: 500 !important;  padding: 15px 20px;  width: 100%; display:none;}
.block.block-addresses-default .block-title strong{font-weight: 500 !important;}
.box.box-order-shipping-method,.box-order-shipping-address, .box-order-billing-method, .box-order-billing-address,.box.box-address-shipping, .box.box-address-billing{ padding: 15px !important; border: 0px solid #b6b6b7;  border-radius: 3px;font-size: 14px; color: #3d3d3f; font-weight: 500;float: left !important; clear: unset !important; flex: 0 0 25%; max-width: 25%;margin-bottom:0px; margin-right:15px; margin-left:15px;background:#e8eaef}
.box.box-address-shipping, .box.box-address-billing{background:#fff; border: 1px solid #b6b6b7;}
/*.box.box-order-shipping-method .box-title, .box-order-billing-method .box-title, .box-order-billing-address .box-title{padding:0px !important}*/
.customer-address-index .box .box-title,.box .box-title { border: 1px solid #f3a626; background-color: #f3a626; color: #ffffff !important; display: inline-block !important; padding: 6px 16px; border-radius: 3px !important; margin-bottom: 10px; font-weight: 400;}
 .box .box-title a{color:#fff;}
.customer-address-index .box .box-content, .box .box-content { border: 0px; background-color: transparent; padding: 0px;font-size: 14px; font-weight: 500;color: #3d3d3f;}
.customer-address-index .box .box-content address, .box .box-content address{font-size: 14px; color: #3d3d3f; font-weight: 500;}
.customer-address-index .box .box-content address a, .box .box-content address a{font-size: 14px; color: #3d3d3f; font-weight: 500;}
.customer-address-index .box .box-actions { border: 0; background-color: transparent; border-top: 1px solid #e8eaef; padding-top: 18px;}
.customer-address-index .box .box-actions a{color: #6c6d70; font-size: 14px; font-weight: 500; text-transform: uppercase;}
.block.block-addresses-default{margin-bottom:0px !important}
.customer-address-form .page-title-wrapper .page-title,
.account  .page-title-wrapper .page-title,
.sales-order-view .page-title-wrapper .page-title + div,
.sales-order-invoice .page-title-wrapper .page-title + div{
font-size: 24px !important;  color: #000000 !important; font-weight: 500 !important; padding: 30px 20px 15px;  width: 100%;  border-bottom: 1px solid #e8eaef;}
.sales-order-view .page-title-wrapper .page-title,.sales-order-invoice .page-title-wrapper .page-title{display:none;}
.sales-order-view .page-title-wrapper .page-title + div h2,
.sales-order-invoice .page-title-wrapper .page-title + div h2{
font-size: 24px !important;  color: #000000 !important; font-weight: 500 !important;margin:0px;display:inline-block
}
.form-address-edit{border-top:0px;}
.form-address-edit .field, div#shipping-new-address-form .field{margin-bottom: 20px;}
.form-address-edit .field .label, div#shipping-new-address-form .label{color: #3c3c3c;font-size: 15px; font-weight: 500;
display: block; float: none;}
.fieldset > .field > .label, .fieldset > .fields > .field > .label{font-size: 14px; color: #6c6d70; font-weight: 500;}
.form-address-edit .field .control, div#shipping-new-address-form .field .control{width: 98%; }
div#shipping-new-address-form .field .control .field .label{display:none}
div#shipping-new-address-form .field .control .field .control{flex: 0 0 100%;  max-width: 100%;}
 div#shipping-new-address-form .field .control .field{display:block}
.form-address-edit .field.telephone .control .input-text{ width: calc(100% - 36px) !important; margin-left: 15px;}
.form-address-edit .field .control .input-text, .marketplace-account-editprofile .page-main .input-text, .marketplace-product-edit .page-main .input-text, .marketplace-product-add  .input-text, .marketplace-product-add select.select {border-radius:4px; width:100% !important}
.form-address-edit .field .additional .control {max-width:100%;flex:0 0 100%}
.form-address-edit .field .additional {margin-bottom:0px}
.form-address-edit .field.choice label{max-width:100%;flex:0 0 100%}
.form-address-edit .field.choice input[type=checkbox] { display: none;}
.form-address-edit .field.choice .label {margin: 0px !important; padding: 0px; position: relative; padding-left: 30px;}
.form-address-edit .field.choice .label:before { content: ''; width: 21px; height: 21px; border: 3px solid #6c6d70; display: inline-block; position: absolute; left: 0px; top: 50%; transform: translate(0,-50%); border-radius: 100%;}
.form-address-edit .field.choice input:checked + label:after { content: ''; width: 11px; height: 11px; background: #6c6d70; display: inline-block; position: absolute; left: 5px; border-radius: 100%; top: 50%; transform: translate(0,-50%);}
.form-address-edit .legend{  display:none;  border-bottom: 1px solid #e8eaef; padding: 10px 0; color: #6c6d70; font-weight: 500;  font-size: 16px;}
.form-address-edit .fieldset{width:60%;float:left !important;margin-bottom:0px;}
.form-address-edit {border:0px;box-shadow:none;}
.customer-address-form .actions-toolbar button.action.save.primary{background: #5554a4; font-size: 18px; color: #fff; height: 60px; width: 260px; border-radius: 4px;}
.form-address-edit .field.choice{padding-left:33.3333%}
.customer-address-form .actions-toolbar{width:60%;float:left;display:flex;justify-content: end;margin-top:20px}
.customer-address-form .actions-toolbar > .primary{max-width:66.6666%;flex:0 0 66.666%;margin-left:33.3333%}
.answer-question-btn{    padding-left: 80px !important;}
.question-answer-list{display: flex;    flex-wrap: wrap;}
.answers-users{padding-top:10px !important}
.rating-review-count-section .review-ratings .rating-label {  display: none;}
.product.info.detailed .rating-summary .rating-result > span:before,.product.info.detailed .review-control-vote label:before{color: #f3a626;font-size: 24px; height: 24px; letter-spacing: 2px; line-height: 24px;}
.product.info.detailed .advancedreviews-percent-star .rating{width:100%}
.product.info.detailed  .review-ratings ~ .review-content,.product.info.detailed .review-ratings ~ .review-details { margin-left: 0;}
.product.info.detailed .review-ratings{width:100%;max-width:100%;    float: none;}
.product.info.detailed .rating-summary .rating-result { display: block;  width: 118px;}
.product.info.detailed .rating-summary .rating-result:before{
font-size: 24px; height: 24px; letter-spacing: 2px; line-height: 24px;}
.review-user-name {  line-height: unset;}
.review-user-name a{ font-size: 14px; font-weight: 500; color: #6c6d70;   line-height: unset;}
.review-author,review-date{font-size: 11px;  color: #6c6d70;  font-weight: 500;}
.bss_advancedreview .review-toolbar:first-child{display:none;}
.review-progress-status{border-bottom:0px}
/*#checkoutSteps li { margin-bottom: 10px; background: #fff;   padding: 0px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);   border-radius: 0px;float:left;width:100%}

#checkoutSteps li .tab-heading-custom,
#checkoutSteps li .step-title , .opc-block-summary > .title,
#checkoutSteps li .step-title {display:block; padding: 15px;   font-size: 24px; font-weight: 500;border-bottom:0px;color:#000}
#checkoutSteps li .tab-heading-custom{position:relative;border-bottom:0px;}
#checkoutSteps li .tab-heading-custom p{ margin: 0px; font-size: 14px; width: 60%;float: right;  line-height: 36px;  position: absolute;  top: 50%;  right: 0px;  transform: translate(0,-50%);display:none;}
#checkoutSteps li .toggle-class-close .tab-heading-custom p{display:block;line-height: 16px; color: #989898;}
#checkoutSteps li  .step-content p{ font-size: 16px;}
#checkoutSteps li  .step-content,form#co-shipping-method-form , div#checkout-step-shipping{ padding: 15px; border-top: 1px solid #e8eaef;}
#checkoutSteps li .product-item-list { display: flex;padding: 15px;  border-bottom: 1px solid #e8eaef;}
#checkoutSteps li .product-item-list .prod_image { background: #fff; border: 1px solid #e8eaef; width: 165px; height: 165px; position: relative; padding: 4px; display: inline-block;}
#checkoutSteps li .product-item-list .prod_image img {width: 96%; position: absolute; top: 50%; left: 50%;  transform: translate(-50%,-50%);}
#checkoutSteps li .product-des-custom { width: calc(100% - 170px); display: inline-block; margin-left: 15px;}
#checkoutSteps li .product-des-custom .prod_price { font-size: 24px; font-weight: 500;  color: #000000; display: block;}
#checkoutSteps li .product-des-custom .prod_name { font-size: 18px; font-weight: 400; margin-bottom: 5px;color: #3d3d3f;}
#checkoutSteps li span.prod_price_old { font-size: 14px; color: #3d3d3f;text-decoration: line-through;margin-left:10px}
#checkoutSteps li span.prod_off_persent { font-size: 14px; color: #f3a626; font-weight: 600;margin-left:10px}
#checkoutSteps li .shipping-address-item{ margin: 0; padding: 35px;  border: 0px; z-index: 1; position: relative;font-size: 14px; color: #3d3d3f;   font-weight: 500;padding-bottom:100px;padding-top: 82px;}
#checkoutSteps li .shipping-address-item a{font-size: 14px; color: #3d3d3f;   font-weight: 500;}
.shipping-address-item:before{display:none;}
#checkoutSteps li .prod_qty { font-size: 15px;color: #000; border: 1px solid #000;  display:inline-block; width: 43px; padding: 2px 5px; border-radius: 4px;   margin: 5px auto; text-align: center; font-weight: 500;}
.checkout-index-index .opc-sidebar{background: #fff; padding: 0px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border-radius: 4px;margin-top:0px;}
.checkout-index-index .opc-block-summary{background:none;padding:0px;border:0px;border-radius:3px;}
#checkoutSteps li .shipping-address-item:before{  content: ''; display: block !important; width: calc(100% - 40px); height: calc(100% - 40px);   background: none;  border: 1px solid #e8eaef;  border-radius: 3px;  z-index: -1;  left: 20px;  top: 20px;}
#checkoutSteps li .shipping-address-item button.action.edit-address-link{ display: block !important; position: absolute;  bottom: 35px; margin: 0px; left: 35px; color: #6c6d70; font-size: 14px; font-weight: 500; text-transform: uppercase; font-family: 'Exo' !important;}
#checkoutSteps li .action-select-shipping-item{font-family: 'Exo' !important; float: none; border:1px solid #5554a4;  font-size: 16px;  color:  #5554a4;  height: 52px; width: 100%; border-radius: 4px;  display: block;  margin:5px auto 10px; font-weight: 400;  text-transform: uppercase;  letter-spacing: 1px !important;}
#checkoutSteps li .action-select-shipping-item:hover,
#checkoutSteps li .action-select-shipping-item:focus,
#checkoutSteps li .shipping-address-item.selected-item .action-select-shipping-item{visibility: visible; background:#5554a4; color:#fff;}
#checkoutSteps li .shipping-address-item.selected-item:after{content:'Default';background: #f3a626; height: auto; width: auto;    font-size: 14px; line-height: 17px;  padding-top: 2px;  position: absolute; left: 35px;  text-align: center;  top: 35px;  font-family: 'Exo' !important;  border: 1px solid #f3a626;  background-color: #f3a626;  color: #ffffff !important;  display: inline-block !important;  padding: 6px 16px;  border-radius: 3px !important;  margin-bottom: 10px;  font-weight: 400;right:auto}
#checkoutSteps li .step-content{padding-bottom:15px}
#checkoutSteps li #checkout-step-shipping .action-show-popup{    display: block;    margin: 10px auto;    background: #ffffff;   font-size: 18px;   color: #000;  height: 60px;  width: 260px;  border-radius: 4px; border-color: black;}
.checkout-index-index .opc-sidebar .cart-summary{ float: none;padding:0px;    width: 100%;  background: none;  border: 0px;  margin: 0px;}
.checkout-index-index .price_details h2{    margin: 0; font-weight: 400; color: #3c3c3c;  padding: 40px 30px 15px;  border-bottom: 1px solid #eaeaec;}
.checkout-index-index .cart-summary .text_section { color: #6863ab; font-size: 14px; text-align: left;  padding: 15px 30px;  border-bottom: 1px solid #ececec;  font-weight: 500;}
.checkout-index-index .opc-sidebar .cart-summary table td { color: #6f6f71;  font-size: 18px;  font-weight: 500;}
.checkout-index-index .opc-sidebar .cart-summary .text_section .fa { width: 20px;  height: 20px;  text-align: center;  border: 1px solid #6763ab;  border-radius: 100%;  line-height: 20px;  transform: rotate(180deg);  margin-right: 4px;}
.checkout-index-index .opc-sidebar .cart-summary .cart-totals { border-top: 0px; padding: 30px;}
.checkout-index-index .opc-sidebar .cart-summary .cart-totals td:last-child {    text-align: right;  color: #030303;}
.checkout-index-index .opc-sidebar .cart-summary .cart-totals tr:last-child ,.checkout-index-index .opc-sidebar .cart-summary .cart-totals tr.total-row{border-top: 2px dashed #ededef;}
.checkout-index-index .opc-sidebar .cart-summary .cart-totals tr:last-child td,.checkout-index-index .opc-sidebar .cart-summary .cart-totals tr.total-row td {font-size: 24px;}
.checkout-index-index .opc-sidebar .cart-summary .cart-totals tr:last-child td:last-child, .checkout-index-index .opc-sidebar .cart-summary .cart-totals tr.total-row td:last-child {color: #000; font-weight: bold;}
.checkout-cart-index .continue_shopping ,.checkout-index-index .continue_shopping{ background-color: #fff !important; color: #3c3c3c !important;  border: 1px solid #717171 !important;}
.checkout-shipping-method .actions-toolbar .action.primary,#checkout-payment-method-load .action.primary.checkout, .otp-fill-section button#submit_buttonnnn, #wk_rma_button_submit, li#shipping  .block-authentication .actions-toolbar > .primary .action{
background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 6px 32px; color: #fff; border: 0px solid #717171; font-size: 20px; border-radius: 6px !important; font-family: 'Exo';  margin: 0px;  width: auto; font-weight: 400 !important; height: 56px !important; line-height: 44px !important;  margin-right: 15px;}
.table-checkout-shipping-method tbody {    background: #e0e0e0;  border: 1px solid #c7c7c7;}
#wk_rma_button_submit{width:auto !important}
.table-checkout-shipping-method tbody tr td{padding: 14px 20px !important;
    vertical-align: middle;    font-size: 14px;    color: #000;}
.checkout-shipping-method .actions-toolbar > .primary{float:unset;}
.checkout-shipping-method .actions-toolbar{text-align:center;margin-top:30px}
.table-checkout-shipping-method{width:100%;}
.opc-progress-bar{display:none !important}
.checkout-payment-method .payment-method-title{    border-top: 0px solid #e8eaef;  padding: 20px; margin: 0;}
.checkout-payment-method .payment-method-title input[type="radio"]{display:none;}
.checkout-payment-method .payment-method-title .label { padding-left: 0px;   position: relative;  font-size: 18px;  font-weight: 400;  color: #6d6d6d;}
.checkout-payment-method .payment-method-title input[type="radio"]:checked + .label:after {opacity:0;  content: '';   width: 10px;  height: 10px;  position: absolute;  left: 4px;  background: #f4a627;  top: 50%;   transform: translate(0,-50%);  border-radius: 3px;}
.checkout-payment-method .payment-method-title .label:before { opacity:0;content: '';  width: 18px;   height: 18px;  position: absolute;  left: 0px;  border: 1px solid #f4a627;   background: #f4a6279e;  border-radius: 3px;  top: 50%; transform: translate(0,-50%);}
.checkout-payment-method .payment-method-title input[type="radio"]:checked + .label{color:#5f539b}
#checkout-payment-method-load .action.primary.checkout{    float: none;margin:10px auto !important}
#checkout-payment-method-load .actions-toolbar{text-align:center; font-size: 14px; color: #7d7f7e;}
#checkout-payment-method-load .primary{float:none;}
.checkout-payment-method .payment-method-billing-address .billing-address-details{font-size: 14px; color: #000;}
*/
.thanku-section h2 { font-size: 48px; color: #010101; font-weight: 500;}
.thanku-section h3 { font-size: 24px; color: #010101; font-weight: 500;    margin: 40px 0 20px;}
.thanku-section p { font-size: 18px; color: #010101; font-weight: 500; margin-bottom:20px}
.thanku-section button.btn-black { font-size: 18px; color: #fff !important; height: 55px !important;  line-height: 55px !important; border-radius: 10px !important; background-color: #595959; padding: 0px 34px !important; text-transform: uppercase; font-family: 'Exo' !important;margin-bottom:50px}
.btn-gradent,.btn-blue{    border-radius: 10px !important;display:inline-block}
.thanku-section {  padding: 80px 0;}
.sales-order-view .page-title-wrapper .page-title + div h2 + span a,
.sales-order-invoice .page-title-wrapper .page-title + div h2 + span a{    font-size: 14px;  color: #5554a4;}
.sales-order-view .page-title-wrapper > p,.sales-order-invoice .page-title-wrapper > p{    padding: 30px 30px 10px;font-size: 14px;  color: #6c6d70;  font-weight: 500;}
.sales-order-view .page-title-wrapper .customer_detail,.sales-order-invoice .page-title-wrapper .customer_detail{padding: 10px 30px 10px;}
.sales-order-view .page-title-wrapper .customer_detail .cus_info, .sales-order-view .page-title-wrapper .customer_detail .order_pay_method,.sales-order-invoice .page-title-wrapper .customer_detail .cus_info, .sales-order-invoice .page-title-wrapper .customer_detail .order_pay_method { font-size: 16px; font-weight: 400; color: #010101;}
.sales-order-view .page-title-wrapper .customer_detail table th,
.sales-order-view .page-title-wrapper .customer_detail table td,.sales-order-invoice .page-title-wrapper .customer_detail table th,
.sales-order-invoice .page-title-wrapper .customer_detail table td{padding:0px 0px 5px; font-size: 16px; font-weight: 400; color: #6c6d70;}
.sales-order-view .page-title-wrapper .customer_detail table td,.sales-order-invoice .page-title-wrapper .customer_detail table td{text-align:right}
.sales-order-view .page-title-wrapper .customer_detail table .grand_total td,
.sales-order-view .page-title-wrapper .customer_detail table .grand_total th, .sales-order-invoice .page-title-wrapper .customer_detail table .grand_total td,
.sales-order-invoice .page-title-wrapper .customer_detail table .grand_total th{
border-top:1px solid #000;color:#000;padding:5px 0;
}
.sales-order-view .page-title-wrapper .customer_detail table .grand_total td strong, .sales-order-view .page-title-wrapper .customer_detail table .grand_total th strong,.sales-order-invoice .page-title-wrapper .customer_detail table .grand_total td strong, .sales-order-invoice .page-title-wrapper .customer_detail table .grand_total th strong{font-weight:500}
/*.sales-order-view ul.items.order-links, .sales-order-view .order-details-items .table-wrapper{display:none;}*/
.sales-order-view .order-details-items,.sales-order-invoice .order-details-items { margin-top: 0;margin-bottom:0px; padding: 0px 30px; border: 0px;}
.sales-order-view .order-actions-toolbar .action.print,.sales-order-invoice .order-actions-toolbar .action.print{display:none;}
.sales-order-view .item_image ,.sales-order-invoice .item_image {position:relative;  border: 1px solid #e8eaef;  margin-bottom: 15px;margin-right:15px;}
/*.sales-order-view .item_image:after,.sales-order-invoice .item_image:after{ content: '';width: 80%; height: 1px;   background: #fff; position: absolute;bottom: -1px;  left: 10%;}
.sales-order-view .item_image:before,.sales-order-invoice .item_image:before{content: ''; width: 80%; height: 1px;  background: #fff;  position: absolute;  top: -1px;   left: 10%;}*/
.sales-order-view .item_details,.sales-order-invoice .item_details{width:calc(100% - 165px)}
.sales-order-view .item_details span,.sales-order-invoice .item_details span{font-size: 18px; color: #3d3d3f;  font-weight: 500;}
.sales-order-view .item_details p,.sales-order-invoice .item_details p{font-size: 18px; color: #000000;  font-weight: 600;}
.sales-order-view .item_details .item_desc,.sales-order-invoice .item_details .item_desc{font-size: 14px; color: #3d3d3f;  font-weight: 500;}
.sales-order-view .item_details p a,.sales-order-invoice .item_details p a{    font-size: 18px; padding: 12px 20px; border: 1px solid #3d3d3f;  border-radius: 4px; color: #3d3d3f; font-weight: 600;  text-transform: uppercase;  letter-spacing: 1px;margin: 30px 15px;   display: inline-block;}
.sales-order-view .item_detail h3,.sales-order-invoice .item_detail h3{ color: #3d3d3f; font-size: 18px; margin: 0px 0px 10px; font-weight: 400;}
.order_status_title {  color: #3d3d3f; font-size: 18px;}
.return-status, .order-status{    color: #08bc51;  letter-spacing: 1px;border:0px; padding:0px}
.sales-order-view .block.block-order-details-view,.sales-order-invoice .block.block-order-details-view{padding:15px;margin:0px}
.sales-order-view .block-content .box,.sales-order-invoice .block-content .box, .block-content .box {width:33.3333% !important}
.sales-order-view .block-content .box:nth-child(n+3),.sales-order-invoice .block-content .box:nth-child(n+3){display:none;}
.sales-order-view .box .box-title ,.sales-order-invoice .box .box-title { border: 0px; background-color: #e8eaef;  color: #010101 !important;  font-size: 20px;  font-weight: 400;}
.sales-order-view .box .box-content,.sales-order-invoice .box .box-content {  border: 0px; background-color: #e8eaef;  color: #6c6d70;  font-size: 16px;  font-weight: 500;padding-top:0px;}
.sales-order-view .box .box-content a,.sales-order-invoice .box .box-content a{color: #6c6d70;}
.sales-order-view .block-order-details-view .block-title strong,.sales-order-invoice .block-order-details-view .block-title strong { font-size: 18px;  font-weight: 400;  color: #6c6d70; border-bottom: 1px solid #e8eaef; padding: 10px 0;  margin-bottom: 15px;   display: block;}
.rating-summary .rating-result > span:before, .review-control-vote label:before{    color: #f3a626; !important;}
.product.info.detailed .advancedreviews-percent-star .pecent,.product.info.detailed .rating-summary .ratingco,.product.info.detailed .rating-summary span.ratingcouttt{display:none !important}

.advancedreviews-percent-star{border:0px !important; }
.sales-order-invoice .data.table.table-order-items.invoice th, .sales-order-invoice .data.table.table-order-items.invoice td{    border: 1px solid #cccccc !important;padding:5px !important}
.sales-order-invoice .data.table.table-order-items.invoice th th, .sales-order-invoice .data.table.table-order-items.invoice td td,.sales-order-invoice .data.table.table-order-items.invoice th td, .sales-order-invoice .data.table.table-order-items.invoice td th{border:0px !important}
.sales-order-invoice .actions-toolbar .action.back { display: none !important;}
.order-details-items .order-title{    font-size: 18px; font-weight: 400; color: #6c6d70; border-bottom: 1px solid #e8eaef; padding: 10px 0; margin-bottom: 15px;  display: block;}
.sales-order-invoice ul.items.order-links{padding:0px 30px}
.sales-order-invoice .order-links .item a { background: #f6f6f6; font-size: 18px;    border: 1px solid #3d3d3f;  border-radius: 4px;  color: #3d3d3f;  font-weight: 600;  text-transform: uppercase;   letter-spacing: 1px;  margin: 10px 15px 10px 0;  display: inline-block;   padding: 12px 20px;}
.sales-order-invoice .order-links .item strong { background: #f6f6f6; font-size: 18px;    border: 1px solid #e8eaef;  border-radius: 4px;  color: #888888;  font-weight: 600;  text-transform: uppercase;   letter-spacing: 1px;  margin: 10px 15px 10px 0;  display: inline-block;   padding: 12px 20px;}
.secondary #top-cart-btn-checkout{font-size:12px;}
.block-minicart .items-total{margin-right:16px;}
.review-stars-blank .fa { font-size: 24px; color: #6d6e71; margin: 0px 5px 0px 0px;}
.customer-account-login .page-main > .page-title-wrapper .page-title .base, .customer-account-create .page-main > .page-title-wrapper .page-title .base {   display: none;}
.login-container > .block-customer-login, .authentication-dropdown._show,  .form.create.account.form-create-account, .otp-screen{  border: 0px !important;   padding: 30px;   max-width: 600px;   margin: 0px auto;  border-radius: 10px;   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);background:#fff}
.block-customer-login .block-content{width:100%;}
fieldset.fieldset.login input.input-text, .form-create-account input.input-text, input#forget_otp, .otp-fill-section .input-text , li#shipping .input-text, .mpmassupload-product-view .fieldset > .field:not(.choice) > .control select,.marketplace-account-editprofile .page-main .input-text, .marketplace-account-editprofile .page-main .field .control select, div#shipping-new-address-form .field .control .select, .marketplace-product-add #maincontent .input-text, .marketplace-product-add select.select, form#form-selleraddress-validate .input-text, .admin__form-field .input-text, .action-select-wrap .action-select, .marketplace-product-edit .page-main .input-text, .marketplace-product-edit .page-main select.select, .contact-index-index .fieldset > .fieldset .input-text{ font-size: 18px; height: 56px;  border: 1px solid #5d5d5d !important; border-radius: 0px !important;}
.login-container .fieldset > .field > .control { width: 100%;}
.field-icon{top:-35px;}
.marketplace-account-editprofile textarea.input-text, .marketplace-product-add textarea.input-text , .marketplace-product-add textarea, .marketplace-product-edit .page-main textarea.input-text, .contact-index-index .fieldset > .fieldset textarea.input-text{height:100px}
fieldset.fieldset.login .actions-toolbar .secondary { float: right; margin-top: -20px;}
form#form-selleraddress-validate textarea.input-text{height:400px}
fieldset.fieldset.login .actions-toolbar .secondary a{    font-size: 16px;color: #848684; font-weight: 500;}
fieldset.fieldset.login .actions-toolbar button#send2,input.action.submit.primary.for_resend_otp.custom_button{   background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 6px 22px;  color: #fff;  border: 0px;  font-size: 20px; border-radius: 0; font-family: 'Exo';  margin: 0px; margin-top:30px; width: 100%;  font-weight: 400;  height: 56px;}
fieldset.fieldset.login .actions-toolbar .primary{width:100% !important}
fieldset.fieldset.login .field.note{display:none;}
strong#block-customer-login-heading { margin-bottom:20px;    font-size: 24px; color: #010101;  font-weight: 500;  border-bottom: 1px solid #ececec;  padding: 15px 0;  margin-top: 0px;float: left;width: 100%;}
.customer-account-login strong#block-customer-login-heading, .customer-account-create strong#block-customer-login-heading{margin-bottom:0px;border-bottom:0px;width:auto; float:none;}
.login-container .block .block-title, .form-create-account .block-title{border-bottom: 1px solid #ececec; display: flex;margin-bottom:30px;    text-transform: uppercase;}
.login-container .block .block-title a ,
.form-create-account .block-title a{ font-size: 24px; color: #737373;  font-weight: 500; padding: 15px 0;  margin-top: 0px;  height: auto;  background: no-repeat;  border: 0px;   text-transform: uppercase;  display: inline-flex;  margin-left: 30px;line-height: 1.4;}
.form-create-account .block-title a{margin-left:0px}
.form-create-account .action.primary:hover { background: none !important;  border: 0px solid #0088cc;  color: #737373;}
.form-create-account strong#block-customer-login-heading{margin-left:30px}
#socail_link { width: 100%;  float: left;}
#add_button_login_byclass { width: 100% !important;}
.sociallogin-block .sociallogin-clearfix { max-width: none !important;  display: flex;  margin: 0px -15px;}
#social-custom-link .sociallogin-block .sociallogin-buttons ul li,
#add_button_login_byclass .sociallogin-block .sociallogin-buttons ul li { display: inline-block; line-height: normal;  list-style: none !important;  padding: 0 15px !important; background: 0 0 !important;  height: 50px; margin: 0px !important; position: relative;  width: 50%;}
.sociallogin-block .sociallogin-buttons ul li.facebook span.sociallogin-button-auto,.sociallogin-block .sociallogin-buttons ul li.googleplus span.sociallogin-button-auto {  width: 100%; padding: 6px 12px;}
ul li .sociallogin-button-text{    font-size: 16px;background-color: transparent;}
.sociallogin-block .sociallogin-buttons ul li.googleplus span.sociallogin-button-auto{    background-color: transparent;   border: 1px solid #ececec !important;}
.sociallogin-block .sociallogin-buttons ul li.googleplus span.sociallogin-button-auto .sociallogin-button-text{color:#000}
.sociallogin-block .sociallogin-buttons .sociallogin-button-auto .sociallogin-button-icon-image{    width: 27px; height: 27px;  margin-top: 4px;}
.login-container h4 {text-align: center; margin: 0px; margin-top: 30px; font-weight: 500;  font-size: 18px;  margin-bottom: 10px;}
.login-container .fieldset > .field > label , .form-create-account label,
.otp-fill-section label{font-size: 18px; color: #848684; font-weight: 400; margin-bottom: 5px; display: block;  margin-top: 10px;}
 .marketplace-account-editprofile .field label{font-size: 18px; color: #848684; font-weight: 400 !important; margin-bottom: 5px; margin-top: 10px;}
.w-100 {    width: 100% !important;}
.newacuntt .field.choice.newsletter{width:100% !important;    position: relative; margin: 20px 0 !important;}
.newacuntt .field.choice.newsletter input, .rmasystem-newrma-index .wk_rma_checkall{position: absolute; left: 15px; z-index: 1; width: 20px; height: 20px;  top: 50%; transform: translate(0,-50%); margin: 0px; opacity: 0; cursor: pointer;}
.newacuntt .field.choice.newsletter label,
.form-create-account label.tab-radio-des.radio-des, .rmasystem-newrma-index .wk_rma_checkall + label span{ position:relative;   font-size: 14px;padding: 0px 0px 0px 40px !important; font-weight: 600; margin: 0px !important;}
.newacuntt .field.choice.newsletter label:before, .rmasystem-newrma-index .wk_rma_checkall + label span:before {content: ''; position: absolute;  width: 20px; height: 20px;  background: #fff; left: 0px;  top: 50%;transform: translate(0,-50%); border: 1px solid #b7b7b7;}
.newacuntt .field.choice.newsletter input:checked + label:after, .rmasystem-newrma-index .wk_rma_checkall:checked + label span:after{content: ""; position: absolute;  border: 1.5px solid !important;  width: 8px !important; height: 14px !important;  border-color: #fffefe transparent transparent #fffefe !important;   left: 6px !important;  z-index: 1 !important;  top:0px !important;  transform: rotate(-135deg);  border-radius: 0px !important;}
.newacuntt .field.choice.newsletter input:checked + label:before, .rmasystem-newrma-index .wk_rma_checkall:checked + label span:before{background: #3a3a3a; border-color:#3a3a3a}
.newacuntt .field.choice.newsletter label a{color:#848684}
.form.create.account .actions-toolbar, .form.create.account .actions-toolbar > .primary{width:100%;}
.form.create.account .actions-toolbar .secondary{display:none;}
.form.create.account .actions-toolbar button#custom_login_btn , .form.create.account .actions-toolbar button#custom_login_btn:hover , .form.create.account .actions-toolbar button#custom_login_btn:focus{    background-image: linear-gradient(to right, #35c3cc ,#35c3cc, #35c3cc) !important;  padding: 6px 22px; color: #fff;  border: 0px;  font-size: 20px;  border-radius: 4px; font-family: 'Exo'; margin: 0px;  margin-top: 30px;  width: 100%;  font-weight: 400;  height: 56px;}
div#social-custom-link{width:100%}

.form-create-account label.tab-radio-des.radio-des input{ position: absolute; left: 0; width: 100%;  top: 0px;  height: 100%;  margin: 0px;  cursor: pointer; border-radius: 9px;  opacity: 0;display:none;}
.form-create-account label.tab-radio-des.radio-des span:before {content: ''; position: absolute;  width: 20px;  height: 20px;  background: #ffffff;  left: 5px;  top: 50%;  transform: translate(0,-50%);  border: 2px solid #d4d4d4;  border-radius: 100%;}
.form-create-account label.tab-radio-des.radio-des input:checked + span:after { content: "";  display: inline-block;  position: absolute;  left: 9px;  opacity: 1;   top: 50%;  transform: translate(0,-50%);  font-size: 22px;  background: #000;  width: 12px;  height: 12px;   border-radius: 100%;}
.form-create-account label.tab-radio-des.radio-des input:checked + span:before{border-color:#000}
#add_button_register_byclass{padding:0px 15px !important}
.customer-account-create .profileurl.field.required{width:100%;position:unset !important;}
.custom-password-sec{margin-top:0px}
form#register_otp_form .control input {width: 150px;border-radius: 8px !important;background: #e9eaef; border-color: #6c6d6f !important; color: #6c6d6f !important; height: 45px;    text-align: center;    font-weight: 600 !important;margin-top:20px}
	form#register_otp_form > .fieldset .label span {font-size: 16px;font-weight: 500;color: #848684;margin: 30px 0 0px; display: inline;}
	form#register_otp_form > .fieldset {width: 100%;padding: 0 30px;float: none; text-align: center; display: block;}	
#register_otp_form{min-height:0px;    border: 0px !important;  padding: 0;  max-width: 100%;  margin: 0px auto;  border-radius: 0px;   box-shadow: none;}
#new_register_resend{text-align:center; margin-top:0px !important; float:none !important}
#new_register_resend{padding:0px !important;}
.page-header.type1 select{background-position:93% 47%;
    padding-right: 31px;}
input#resend_topp ,input#otp_submit_form3{ background: none;  border: 0px;  color: #6c6d6f; padding: 0px;  font-size: 16px;  font-weight: 500;float:none;}
button#otp_submit_form,button#otp_submit_form:hover,button#otp_submit_form:focus {  background: #5553a4 !important;  opacity: 1 !important;  padding: 6px 22px;  color: #fff;  border: 0px;  font-size: 20px;  border-radius: 8px;  font-family: 'Exo';  margin: 0px;  margin-top: 50px;  width: 100%;  font-weight: 400;  height: 56px;}
a.cancel_me.action.primary.custom_button.reset_link,
a.cancel_me.action.primary.custom_button.reset_link:hover,
a.cancel_me.action.primary.custom_button.reset_link:focus,a.action.submit.primary.for_resend_otp.custom_button.back_me { text-align:center; background: #36c2cb !important;  opacity: 1 !important;  padding: 0px 22px;  color: #fff;  border: 0px;  font-size: 20px;  border-radius: 8px;  font-family: 'Exo';  margin: 0px;  margin-top: 10px;  width: 100%;  font-weight: 400;  height: 56px;    line-height: 56px;}
.resend-icon {  margin: 40px 0;}
#register_otp_form .fieldset .actions-toolbar .primary{text-align:center !important;}
.otp-fill-section { border: 0px !important; padding: 30px; max-width: 600px;  margin: 0px auto;  border-radius: 10px;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); background: #fff;}
input.action.submit.primary.for_resend_otp.custom_button{    border-radius: 9px;}
.otp-fill-section .actions-toolbar .primary, .otp-fill-section button#submit_buttonnnn{width:100%;}
form#save_rma_form{padding:15px 30px;}
div#shipping-new-address-form .field .control .input-text,div#shipping-new-address-form .field .control .select {  border-radius: 4px;  height: 46px;}
#checkoutSteps li.close .tab-heading-custom p{display:unset;line-height: 14px;  font-size: 14px;  font-weight: 600;}
#wk_rma_orders th { border: 1px solid #f4f4f4;  padding: 10px 15px; font-size: 16px; color: #000;   font-weight: 500;  font-family: 'Exo' !important;  background: none !important;  border-color: #dbdde3;}
#wk_rma_orders th.wk_rma_selected, #wk_rma_orders th.wk_rma_sortable:hover{    box-shadow: none; }
select#mpsearch-category .parent {font-weight: bold;}
select#mpsearch-category .child{ padding-left:10px}
#new-rma-component .action-secondary.filter-order {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 10px 24px; color: #fff; border: 0px solid #717171; font-size: 18px; border-radius: 6px !important;
font-family: 'Exo'; margin: 0px; width: auto; font-weight: 400 !important; height: auto; line-height: normal;
margin-bottom: 20px;}
#new-rma-component .wk_rma_label {float: left; font-size: 20px; padding-top: 14px; color: #3d3d3d; font-weight: 500;
    margin: 0;}

.newrmafilddetail {display: flex; justify-content: space-between; flex-wrap: wrap;}
.newrmafilddetail .fieldsection {width: 48%;}

.status-unresolved {padding: 0 0 20px 20px;}
.status-unresolved .statuses-available {display: flex; justify-content: space-between; width: 280px;}
.status-unresolved .statuses-available .status-acccept-request a {background: #5553A3; display: inline-block; padding: 10px 30px; color: #fff; line-height: normal;  font-size: 20px; border-radius: 4px; transition: .5s all ease; cursor: pointer;}
.status-unresolved .statuses-available .status-acccept-request a:hover {background: #2F2F2E; transition: .5s all ease;}
.status-unresolved .statuses-available .status-reject-request a {background: #2F2F2E; display: inline-block; padding: 10px 30px; color: #fff; line-height: normal; font-size: 20px; border-radius: 4px; transition: .5s all ease; cursor: pointer;}
.status-unresolved .statuses-available .status-reject-request a:hover {background: #5553A3; transition: .5s all ease;}
.status-rejcted {padding: 20px;}
.status-rejcted .rma-status {background: #2F2F2E; display: inline-block; padding: 10px 30px; color: #fff;  line-height: normal; font-size: 20px; border-radius: 4px; transition: .5s all ease;}

.rmasystem-newrma-index .newrmaback {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);
padding: 0px 22px !important; color: #fff !important; border: 0px; font-size: 14px; border-radius: 4px; font-family: 'Exo'; margin: 0px; font-weight: 600; height: 44px; float: right !important; line-height: 44px; text-transform: capitalize; margin-top: 5px;}
.rmasystem-newrma-index .buttons-set.actions-toolbar {float: left;}
.rmasystem-newrma-index .prodcuttypressol {display: flex; justify-content: space-between; flex-wrap: wrap;
clear: both;}
.rmasystem-newrma-index .prodcuttypressol .field {width: 48%;}
.seller_remark_div {padding: 20px;}
.seller_remark_div p {color: #303030; font-size: 16px; font-weight: 500;}
.admin__table-secondary.order-information-table h4 {color: #303030; font-size: 16px; font-weight: 500;}

.newwww_fieldsss .control.select-example {padding-top: 15px;}
.select2-container--default .select2-selection--single .select2-selection__rendered {font-size: 16px;}

@media (min-width:768px){.page-header.type1 .custom-block{    margin-top: -17px;}}
.filter-content .rating-slider-container #ln_slider_rating{display:inline-block !important;margin-left:10px !important;width: 5px;}
li#shipping button.action.action-auth-toggle{ display:none !important}
li#shipping .authentication-dropdown .modal-header{ display:none}
li#shipping .authentication-dropdown{padding:0px !important;max-width: 100%;width:100%}
li#shipping .authentication-wrapper  {max-width: 100%;width:100%}
li#shipping .actions-toolbar .secondary a.action{    color: #6f6f71; font-size: 16px; font-weight: 600;line-height:unset;float:left}
#wk_rma_label_image{    font-size: 16px; padding: 16px 30px;    height: auto;}
.authentication-wrapper button.action.action-auth-toggle{display:none;}
.rmasystem-newrma-index .wk_rma_checkall, .rmasystem-newrma-index .wk_rma_checkall + label span:before , .rmasystem-newrma-index .wk_rma_checkall:checked + label span:after{left:0px;}
.rmasystem-newrma-index .field{position:relative}
button#top-cart-btn-checkout {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); border-radius: 8px; border: 0px;}
.minicart-wrapper .actions .secondary .action:first-child { border: 2px solid #5654a4 !important;  border-radius: 8px !important; color: #5654a4 !important;    font-family: 'Exo' !important;font-size:13px !important; font-weight:500 !important}
.minicart-items .product-item-name{font-size: 16px;  font-weight: 500;}
.minicart-items .product-item-name a{font-size: 14px;  font-weight: 500;color:#3d3d3f}
.minicart-wrapper .block-minicart:before { border-bottom-color: #35c2cb;}
.minicart-wrapper .block-minicart{    border-top-color: #35c2cb;}
.minicart-items .product-item .product.actions .action {   background: none; border: 2px solid #5e549c !important;  border-radius: 3px !important; line-height: 22px;    margin-top: -5px !important;}
.minicart-items .product-item .product.actions .action:before{color: #5c57a0 !important;}
.minicart-items .item-qty{ border-color: #000; border-radius: 6px !important;  font-weight: 600;}
.minicart-wrapper .action.showcart .text { top: -2px !important;  position: relative !important;}
.checkout-cart-index .cart_form_container .page-title-wrapper .page-title{    justify-content: space-between; display: flex; flex-wrap: wrap; align-items: center;}
.checkout-cart-index .cart_form_container .page-title-wrapper .page-title button.action.update, form#form-selleraddress-validate button#savepaym, .contact-index-index .actions-toolbar button.action.submit.primary { background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 12px 20px;  color: #fff; border: 0px solid #717171; font-size: 14px;  border-radius: 6px !important;  font-family: 'Exo'; margin: 0px;  width: auto;  font-weight: 400 !important;  display: inline-block;  line-height: unset;  height: auto !important; text-transform: uppercase;}
form#form-selleraddress-validate button#savepaym{padding: 15px 36px; font-size: 16px;  border-radius: 4px !important;}
.fotorama__fullscreen .fotorama__zoom-in, .fotorama__fullscreen .fotorama__zoom-out {cursor: pointer;  display: block; height: 50px; overflow: hidden; position: absolute; width: 50px; background: none !important;border: 2px solid #d4d4d4;left:10px}
.fotorama__zoom-out:before {content: "\f010"; line-height: 26px; font-family: FontAwesome !important; font-size: 24px;  text-rendering: auto; -webkit-font-smoothing: antialiased;  color: #000;}
.fotorama__zoom-in:before {content: "\f00e"; line-height: 26px; font-family: FontAwesome !important; font-size: 24px;  text-rendering: auto; -webkit-font-smoothing: antialiased;  color: #000;}
.fotorama__fullscreen .fotorama__zoom-in:before, .fotorama__fullscreen .fotorama__zoom-out:before {    line-height: 46px !important;}
.fotorama__zoom-in.zoom-in-loaded { top: 18px;}
.product-item-actions .action.towishlist, .product-addto-links .action.towishlist, .action.towishlist { color: #302E2A !important;  background: none !important;}
.action.towishlist, .action.towishlist:before{color:#f3a626  !important}
#errmsg{color: red;}
.product-item-details .product-reviews-summary .reviews-actions a{display:none}
div#checkout-step-shipping {  padding: 0px;}
.filter-options-title:hover:after{background:none !important}
#ln_slider_rating a.ui-slider-handle:after{display:none;}
.rating-slider-container #ln_slider_rating .ui-slider-range {background-color: #35c2cd !important;    width: 5px;}
#ln_slider_rating a.ui-slider-handle {height: 20px !important; width: 20px !important; background: #ffffff !important; cursor: pointer !important; padding: 0px !important; margin-left: -7px; border: 1px solid #35c2cd;    opacity: 1 !important;}
.filter-options-content ol.items ol.items.rating-slider-items  a:after{ display:none;}
.filter-options-content ol.items ol.items.rating-slider-items  a{padding-left:5px;}
div#product-review-container form#review-form{width:100%}
.product-review-section {  width: 100%; display: flex;  flex-wrap: wrap;    padding: 15px 10px;    align-items: center;}
.product-review-image { width: 160px; height: 160px; border: 1px solid #dae2e6;  margin-right: 15px;}
.product-review-content .review-legend.legend { margin-bottom: 0px;  font-size: 18px;font-weight:500;}
.product-review-content .review-legend.legend strong{ font-weight:500;}
.block.review-add .review-form{max-width:70%;width:70%}
.review-write-form h2{color: #77787b;  font-size: 24px;  font-weight: 500;  border-top: 1px solid #ddd;  margin: 0px;padding: 15px 0;}
fieldset.field.required.review-field-ratings { display: flex; flex-wrap: wrap;  float: none;}
fieldset.field.required.review-field-ratings br{display:none}
.review-write-form .review-control-vote label:before,.review-write-form .review-control-vote:before {  font-size: 26px;  line-height: 25px; height: 25px;  letter-spacing: 8px;}
.review-write-form .review-control-vote label:before{ letter-spacing: 10px !important; }
fieldset.fieldset.review-fieldset > .field.required{display:flex;flex-wrap:wrap;}  
 fieldset.fieldset.review-fieldset > .field.required label.label{flex:0 0 25%;max-width:25%;    font-size: 16px;  color: #6c6d70;  font-weight: 500;}
fieldset.fieldset.review-fieldset > .field.required .control{flex:0 0 75%;max-width:75%}
.block.review-add .review-form .actions-toolbar .primary{float:none}
.block.review-add .review-form .actions-toolbar {text-align:right}
.block.review-add .review-form .actions-toolbar button.action.submit.primary { background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  color: #fff;  border: 0px;  font-size: 20px !important;  border-radius: 9px; font-family: 'Exo';  width: 200px;  font-weight: 500; height: 56px;}
.block.review-add .review-form .actions-toolbar button#review_reset_form { color: #444; border: 0px; font-size: 20px !important; border-radius: 9px; font-family: 'Exo';  width: 200px;  font-weight: 500;  height: 56px;  background: none;  border: 2px solid #444;}
.field.review-field-recommend {  display: inline-flex;float:left;margin-top:9px;}
.field.review-field-recommend .control{    display: inline-flex;   padding: 0px 10px;align-items: center;}
.field.review-field-recommend .control input{margin-left:15px;}
.field.required.review-field-ratings{  width:250px;  display: inline-flex;
    align-items: center;}
.fieldset .review-field-ratings > .label {margin-bottom: 9px;font-weight: 600; padding: 0px 10px 0px 0px; display: inline-flex;font-size:18px;}
.fieldset .review-field-ratings > .control{  display: inline-flex;}
[id*="update-cart-item-"] {border: 2px solid #5e549c !important;   padding: 3px 0 !important; height: auto !important; text-transform: uppercase; width: 89px;}
.wk-mu-sample-files{padding:0px 20px;}
.wk-mu-sample-files td a {font-size: 16px;font-weight: 600;color: #fff;  background: #3f549c;  padding:14px 30px; display: inline-block; margin: 0px !important;border-radius: 4px !important;}
form#wk_massupload_form button.button.wk-mp-btn, .mpmassupload-product-view .fieldset button.button.wk-mp-btn{background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  padding: 5px 22px;  color: #fff;  border: 0px;  font-size: 16px;  border-radius: 9px;  font-family: 'Exo'; margin: 0px; width: 200px; font-weight: 600; height: 50px;}
.mpmassupload-product-view .fieldset {width: 100% !important; margin: 0 auto;  padding: 0px 20px;}
 .mpmassupload-product-view .fieldset > .field:not(.choice) > .label{font-size:16px;font-weight:600;color:#6c6d70}
.mpmassupload-product-view .fieldset > .field:not(.choice) > .control{float:left;margin:10px 0;}
fieldset.fieldset.review-fieldset > .field.required .control .input-text, fieldset.fieldset.review-fieldset > .field.required .control textarea {font-size: 18px; height: 56px;  border: 1px solid #cecece !important; border-radius: 0px !important;}
fieldset.fieldset.review-fieldset > .field.required .control textarea{height:100px}
.field.review-field-recommend .control span{position:relative}
.field.review-field-recommend .control input + span { font-size: 18px; color: #3d3d3d; position: relative; padding-left: 25px;margin-left:10px;}
.field.review-field-recommend .control input + span:before {content: ''; position: absolute; left: 0px;  width: 20px;  height: 20px;  border: 2px solid #3d3d3d;  border-radius: 100%; top: 50%;  transform: translate(0,-50%);}
.field.review-field-recommend .control input{width: 20px; height: 20px; margin: 0px; position: absolute; top: 50%; transform: translate(0,-50%); z-index: 1; cursor: pointer; opacity: 0;}
.field.review-field-recommend .control input + span:after { content: ''; position: absolute; width: 10px; height: 10px; background: #f3a626; left: 5px;  top: 50%; transform:translate(0,-50%) scale(0);  border-radius: 100%;}
.field.review-field-recommend .control input:checked + span:after{transform:translate(0,-50%) scale(1)}
.field.review-field-recommend .control input:checked + span:before{ border: 2px solid #f3a626;}
.field.review-field-recommend .label span {font-size: 18px; color: #3d3d3d; }
.review-write-form {  margin-bottom: 20px;}
#checkoutSteps li .shipping-address-items{display: flex;   flex-wrap: wrap;}
.opc-wrapper .form-login, .opc-wrapper .form-shipping-address{width:100%}
.catalog-product-view .upsell .products-grid .product-item-details .product-item-actions{top:-16px;}
.data.switch .counter {
   color: #c1c1c1;
   display: none;
}
.login-container{    border: 0px; background: none; box-shadow: none; display: flex;  justify-content: center; align-items: center; margin: 0 auto; padding: 0px;  width: 100%;}
.newguideness { background: #fff; padding: 30px;    display: inline-block;  border-radius: 10px 0px 0px 10px;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  flex: 0 0 450px;}
.newguideness h1:first-child{margin-top:0px;}
.newguideness h1 {  font-size: 24px; margin: 60px 0 10px;  font-weight: 500;  color: #010101;  text-transform: uppercase;  padding-left: 80px; position: relative;}
.newguideness p { font-size: 14px; font-weight: 500; padding-left: 80px;  color: #848684;}
.newguideness h1:before { content: '';  position: absolute;  left: 0px; width: 60px; height: 60px; background: #e9eaef;  border-radius: 4px;}
.login-container > .block-customer-login,.form.create.account.form-create-account{    display: block;  left: 0px;  flex: 0 0 600px;  margin: 0px;}
.product-thumb-qty .go_to_cart { background: none;  padding: 10px 0px;}
.product-thumb-qty .go_to_cart a {  color: #f3a626;}
#dropdown-1{ position: absolute; right: 0px; top: 23px;}
#dropdown-1 > a{margin:0px;padding:0px;width: 100px; word-break: break-word; white-space: normal;}
.dropdown-containerss {position: absolute; top: 68px; background: #fff;  min-width: 280px;  right: -15px;  z-index: 9;  padding: 0px; box-shadow: 0px 2px 5px rgba(0,0,0,.21);   border-radius: 8px;overflow:hidden}
.dropdown-containerss ul { padding: 0px; list-style: none; margin: 0px;}
.dropdown-containerss ul li {margin: 0px;}
.dropdown-containerss ul li a { font-size: 16px; padding: 15px !important; display: block; color: #7b7977 !important;    position: relative; padding-left: 60px !important;}
.dropdown-containerss ul li a img { position: absolute;  left: 19px; top: 50%;  transform: translate(0,-50%);width:26px}
.dropdown-containerss ul li a:hover{color:#f3a626 !important}
.success .header-custom.custom-acc-links .tab-heading-custom {font-size: 16px !important;color:#6f6f71 !important }
.success .header-custom.custom-acc-links .tab-heading-custom { padding-left: 50px !important;   display: block;}
.success .header-custom.custom-acc-links .tab-heading-custom:before { content: ''; width: 22px;  height: 22px; background: #f3a626; display: block;  position: absolute;  top: 50%;  left: 15px; transform: translate(0,-50%); border-radius: 4px;}
.success .header-custom.custom-acc-links .tab-heading-custom:after { content: ''; width: 8px; height: 15px; border: 2px solid transparent; border-color: #fff transparent transparent #fff;   position: absolute;  left: 22px;  top: 47%;  transform: translate(0,-50%) rotate(-135deg);}
.cart-empty { display: block; max-width: 600px; background: #fff; margin: 0px auto;  text-align: center; padding: 25px;   opacity: 1; border-radius: 4px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); font-size: 18px; font-weight: 500;}
.cart-empty p a { color: #f3a626; text-decoration: underline;}
.no-click:before { content: ''; width: 100%; height: 100%; background: no-repeat; position: absolute; left: 0px;  z-index: 1;}
.no-click { position: relative;}
.shippinguseraddress { height: calc(100% - 50px);  padding: 0px 0px 15px;}
.shippinguseraddress p { margin: 0px;}
li#order-summary .btn-gradent {  padding: 11px 29px !important;  height: auto !important;  line-height: unset !important;  border-radius: 5px !important;  font-size: 14px; margin-top: 10px; font-weight: 500;}
/*
.items.payment-methods {  float: left;  width: 100%;}
.items.payment-methods .payment-group { position: relative; float: right;  width: 66.66666%;min-height:130px}
.items.payment-methods .payment-method .payment-method-title{position: absolute;  right: 100%; width: 50%;top:0px; border-bottom: 1px solid #e8eaef; }
*/
#co-shipping-form .btn-gradent{    padding: 11px 29px !important; height: auto !important; line-height: unset !important;  border-radius: 5px !important;  font-size: 14px;}
#checkout-step-payment{padding:0px !important;}
.checkout-payment-method .payment-option-title{float:left;width:100%}
.items.payment-methods .payment-method + .payment-method .payment-method-title { top: 66px;border-bottom: 0px solid #e8eaef !important;}
.checkout-payment-method ._active .payment-method-title .label{font-weight:600}
#custom_filter .form-group{margin-right:5px;}
/*.checkout-payment-method .payment-method._active .payment-method-content{border-left:1px solid #e8eaef;padding:15px;}*/
.sidebar.sidebar-main .filter-result{padding:0px 15px;}
.dropdown-containerss ul li:first-child {background: #f3a626; padding: 9px 0;}
.dropdown-containerss ul li:first-child a {color: #fff !important; padding-left: 70px !important; font-weight: 600; font-size: 18px;}
.dropdown-containerss ul li:first-child a img{width:38px;}
.dropdown-containerss ul > li > a i{position: absolute;right: 15px;top: 50%;transform: translate(0,-50%);font-size: 24px; margin-top: -2px;}
button.infinite-loader, .wk-mp-landing-button { background-color: #fff !important; color: #44538a !important; border: 1px solid #717171 !important;  padding: 6px 32px; font-size: 18px !important; border-radius: 6px !important;  font-family: 'Exo';   margin: 0px;  margin-right: 0px;  width: auto;  font-weight: 600 !important;  height: 56px !important;  line-height: 44px !important;}
/*.catalog-category-view.page-with-filter .price-box.price-final_price { display: block;}*/
.sidebar.sidebar-main .filter-result .filter-label{font-size:12px;}
.filter-result ol li span.filter-value {  padding: 6px 4px;  font-size: 12px;padding-right: 22px;}
.filter-result ol{flex-wrap:wrap;}
.filter-result + .filter-actions{float: left;width: 100%;margin-top: 10px;}
.filter-current .items{width:100%;}
/*.filter-content .item { margin: 9px 0 0px; justify-content: space-between;  display: flex !important;  width: 100%;  align-items: center;}*/
.filter-result + .filter-actions a span{font-size: 14px;
color: #f3a626;}
#checkoutSteps li .toggle-class-close .tab-heading-custom p span {  margin-left: 10px;  color: #5067b3;}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal{margin-top:20px;}
.table-shadow-design { border: 0px;}
.table-shadow-design tbody tr.wk-row-view {  border-radius: 4px;}
.table-shadow-design thead tr { /*box-shadow: 0px 0px 10px #dedede; */ border-radius: 4px;}
.table-shadow-design tbody tr.wk-row-view td { border: 0px; vertical-align: middle; font-size: 16px; padding: 10px 10px !important;}
.table-shadow-design tbody tr.wk-row-view td a { color: #fafafa;   font-weight: 600;}
.table-shadow-design thead tr th{    border: 0px !important;  vertical-align: middle; font-size: 16px; padding: 10px 10px !important; font-weight: 600; color: #000; background: #eaeaea !important;}
.table-shadow-design thead tr th:first-child { border-radius: 4px 0px 0px 4px !important;}
.table-shadow-design thead tr th:last-child { border-radius: 0px 4px 4px 0px !important;}
.blank-table-tr td { padding: 5px 0 !important;border:0px !important}
.catalog-category-view span.rewards__product-points,.catalog-product-view span.rewards__product-points {    display: none;}
.head_wishlist_count{left: 16px;position: absolute;top: -9px;border: 1px solid #f3a626;padding: 0;background: #f3a626;border-radius: 100%; line-height: 7px; font-size: 11px;color: #fff;width:18px;height:18px;    text-align: center; line-height: 18px;}
/*.payment-option._collapsible.opc-payment-additional.discount-code { display: none;}*/
.opc-wrapper .step-content{margin: 0 0px;}
#checkoutSteps li.success .step-title{padding:28px 15px;}
/*div#ln_product_overlay{    text-align: center;   position: fixed;  z-index: 99991; background: #ffffff29; height: 100%; width: 100%;  top: 0px;  left: 0px;}*/
.sw-megamenu.navigation span.cat-label.cat-label-label1{display:none;}
div#layer-product-list .modes,div#layer-product-list .limiter { display: none;}
div#layer-product-list .sorter { position: absolute; bottom: calc(100% + 17px); right: 0px;}
#layer-product-list{position:relative}
#form-productlist-massdelete { margin-top: 50px;}
.product-info-main .product.overview{display:none;}
.custom-block + .minicart-wrapper{ display:none; }
.cms-porto_home_12 .rewards__product-points{display:none;}
.customer-account-createpassword div[generated].mage-error{display:block !important}
.products-grid.columns4 .product-item{margin-bottom:30px}
.contentrigh.fasortdiv{display:none;}
h2.sectionproducts-titles.category-imh{    width: 100%; border-bottom: 1px solid #efefef;}
li#shipping .authentication-wrapper{line-height:unset !important}
/** == 17-06-2019 == **/
.wk-mp-landingpage .wk-mp-banner-container, .whytosell-option { background: #fff;  padding: 15px;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border-radius: 4px;  width: 100%;}
.gradent-button {  background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  padding: 10px 30px;  color: #fff !important;  border: 0px;  font-size: 20px;  border-radius: 5px;  font-family: 'Exo';  display: inline-block;  margin-top: 20px;}
.gradent-button:hover, .gradent-button:focus {  color:#fff;}
.section-create {  padding: 30px 0 0;}
.wk-mp-box-icon .wk-marketplace-label-span {  text-align: center;  color: #000; text-decoration: none;  font-size: 22px;  font-weight: 600;  text-transform: capitalize;  margin-top: 10px;  margin-bottom: 10px;}
.wk-mp-box-icon img {  margin-bottom: 20px;  margin-top: 20px;}
.wk-mp-landing-sellers-img1 img{float: none;}
.wk-mp-landing-sellers-img2{width: auto !important}
.wk-mp-landing-sellers-img2 img{  width:200px;}
.post-sellers-details{margin-top: 15px !important;}
.post-sellers-details .landing-sellers-logo {   width: 80px;  display: inline-block; height: 80px;}
.post-sellers-details .landing-sellers-details { width: calc(100% - 86px); display: inline-block;  text-align: left;  padding: 0px 15px;}
.post-sellers-details .landing-sellers-logo a { display: inline-block; width: 100%;}
.post-sellers-details .landing-sellers-logo a img {display: inline-block; max-width: 80px;  max-height: 80px;}
.post-sellers-details .landing-sellers-details h3{margin: 0px;}
.post-sellers-details .landing-sellers-details h3 a{font-size: 16px; font-weight: 500; color: #000;}
.post-sellers-details .landing-sellers-details p {  color: #ea7900;  margin: 7px 0; font-weight: 600;  font-size: 14px;}
.btn-blue-small { background: #5aced6; font-size: 12px; padding: 6px 13px; border-radius: 5px;  color: #fff !important;  margin-top: 0px; display: inline-block;}
.mb-3{margin-bottom: 15px;}
.wk-mp-box-landing-about > .row{border-bottom: 1px solid #ececec;}
.custom_loader_product_remove{  float: right;   position: absolute;  right: 0px;  width: 13px;  top: 2px;}
.go_to_cart .custom_loader_product_remove{display: inline-block;   width: 18px;  position: relative; top: -1px;left:8px;}
.wk-mp-box-landing-about h1{font-size: 24px;  color: #283c82;font-weight: 500;  margin-bottom: 15px; margin-top: 30px;}
.wk-mp-box-landing-about p{font-size:18px;}
.marketplace-seller-collection .margall {  margin-top: 156px;}
.marketplace-seller-collection .page-main {  padding-top: 0;}
.wk-mp-collection-logo { height: 145px;  bottom: -25%; width: 145px; border-radius: 20px;  overflow: hidden;}
.wk-mp-collection-header-box{border-bottom: 0px;}
.marketplace-seller-collection .wk-mp-collection-product-count-container, 
.marketplace-seller-profile .wk-mp-collection-product-count-container, 
.marketplace-seller-feedback .wk-mp-collection-rating-count-container{text-align: center;  border: 0px solid #ccc; border-bottom: 0px solid #fff;  border-top: none;  box-sizing: content-box; box-shadow: 0px 0px 11px #efefef; border-radius: 5px;  background: #efefef;}
.wk-mp-collection-left .wk-mp-design, .wk-mp-collection-right{ background: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,.21);}
.wk-mp-collection-left .filter-options-content a{margin-right: 0px; margin-left:0px; padding-left: 30px;}
.wk-mp-collection-left .filter-options-content a:hover{background: none !important}
.rmasystem-newrma-index .required-entry.select, .rmasystem-newrma-index .text-field{ border:1px solid #ededef; color: #6f6f6f;  font-size:16px; height: 50px; padding: 0px 20px;  border-radius: 4px;}
.textarea-field{ border:1px solid #ededef;  color: #6f6f6f;  font-size:16px; padding: 0px 20px; border-radius: 4px;}
.rmasystem-newrma-index  #save_rma_form label {  margin: 10px 0 5px 0 !important; display: inline-block;  font-size: 17px;  padding: 7px 0px;  color: #3d3d3d;  font-weight: 500;}
#wk_rma_orders thead th{ border:solid 1px #ddd !important;padding: 10px 15px !important; background: #f8f8f8 !important;}
#wk_rma_orders thead .blank-table-tr th{ background: none !important; padding: 4px !important}
#wk_rma_orders tbody th{border:0px !important;padding: 4px 15px !important}
.rmasystem-newrma-index .ko-grid-pageLinks.wk-pagination{text-align: center;margin-top: 20px;}
.rmasystem-newrma-index .ko-grid-pageLinks.wk-pagination a{ display: inline-block; float: none;}
.rmasystem-newrma-index #wk_rma_orders .wk-row-view td:first-child span {    width: 22px;  height: 22px;  display: inline-block;  border-radius: 100%; border: 2px solid #3d3d3d;   position: relative;}
.rmasystem-newrma-index #wk_rma_orders .wk-row-view td:first-child input:checked + span {  border-color: #f3a626;}
.rmasystem-newrma-index #wk_rma_orders .wk-row-view td:first-child input:checked + span:before {  content: '';  width: 12px;  height: 12px;  position: absolute; background: #f3a626; border-radius: 100%;  top: 3px;  left: 3px;}
.rmasystem-newrma-index #wk_rma_orders .wk-row-view td:first-child input { position: absolute; opacity: 0; top: 10px;  margin: 0px;  width: 22px !important; height: 22px;  left: 10px;  cursor: pointer;}
#wk_rma_order_details tbody tr.wk-row-view { background: #fff !important}
#wk_rma_order_details tbody tr.wk-row-view td {background: none !important}
#wk_rma_order_details tr td a{color: #3d3d3d;}
#wk_rma_order_details tr td input[type="number"], #wk_rma_order_details tr td select{ border:1px solid #ededef; color: #6f6f6f; font-size:16px; height: 50px !important; padding: 0; text-align: center; border-radius: 4px;}
#wk_rma_order_details tr td:first-child span { width: 22px; height: 22px; display: inline-block; border-radius: 2px; border: 2px solid #3d3d3d; position: relative;}
#wk_rma_order_details tr td:first-child input:checked + span { border-color: #3d3d3d;  background: #3d3d3d;}
#wk_rma_order_details tr td:first-child input:checked + span:before { content: '';  width: 7px; height: 14px; position: absolute; border: 2px solid; border-color: #fff transparent transparent #fff; transform: rotate(-135deg) translate(0,-50%); top: -5px; left: 10px;}
#wk_rma_order_details tr td:first-child input {   position: absolute; opacity: 0; top: 48%;  width: 22px !important; height: 22px; left: 10px; cursor: pointer; transform: translate(0,-50%);  margin: 0px !important;}
.wk-mp-profile-block.wk-mp-products-recently-added .page-products .products-grid{  background: #fff; padding: 15px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  border-radius: 4px;  width: 100%;}
.wk-mp-collection-seller-title-container > a { width: 150px !important; height: 150px !important;  display: inline-block;  position: absolute;  left: 0;  border: 0px solid #ccc;  box-sizing: border-box;  background: #ffffff;  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);  bottom: -25%;  border-radius: 6px;  overflow: hidden;   padding: 5px !important;}
.wk-mp-collection-seller-title-container > a img{ max-height: 90%;  max-width: 90%;  height: auto !important;  position: absolute !important;  top: 50%;  transform: translate(-50%,-50%);  left: 50% !important;  border-radius: 0px; border: 0px solid #ccc !important;  background: none !important;  box-shadow: none !important;}
.toolbar .modes, .page-products .toolbar .limiter{display:none !important;}
.wk-mp-collection-right > .block-account{margin-bottom:15px;}
.wk-mp-collection-right > .block-account .block-title, .wk-mp-collection-right > .block-account .block-title h4{margin:0px;}
.wk-mp-collection-right > .block-account .block-title h4{font-size: 24px !important; color: #000000 !important; font-weight: 500 !important; padding: 30px 20px 15px; width: 100%; border-bottom: 1px solid #e8eaef;}
.toolbar .sorter {margin-right: 15px;  float: left; position: absolute; bottom: calc(100% + 30px);  right: 0px;}
.wk-mp-collection-container .toolbar select{background-color:#fff;max-width: 160px;}
.marketplace-seller-collection .product-item-actions .tocart, .marketplace-seller-collection .product-item-actions .tocompare{display:none}
.marketplace-seller-collection .product-item-inner{    position: absolute; top: 6px;  right: 4px;    margin: 0 !important;}
.marketplace-seller-collection .product-item-inner .product-item-actions{margin: 0 !important;}
.marketplace-seller-collection .wk-mp-collection-left .filter .block-subtitle { line-height: 1em; margin-bottom: 0; font-size: 24px !important; color: #000000 !important; font-weight: 500 !important;  padding: 30px 20px 15px;  width: 100%; border-bottom: 1px solid #e8eaef;}
.marketplace-seller-profile .product-item-inner{display:none;}


/*sellerdashbord phase 2*/

.sellerdashbord {padding: 0 20px;}
.sellerdashbord .topsection {border-bottom: solid 1px #777; padding-bottom: 20px;}
.sellerdashbord .topsection .innersection h2 {font-size: 16px; color: #000000; font-weight: 600; padding: 10px 20px 20px 20px; width: 100%; border-bottom: 1px solid #e8eaef; margin-bottom: 0;}
.sellerdashbord .topsection .innersection {border: solid 1px #ddd; box-shadow: 0px 0px 4px rgb(0 0 0 / 15%); padding: 12px 0; border-radius: 4px; padding-bottom: 0;}
.sellerdashbord .topsection .innersection .content {padding: 0px 20px; display: flex; justify-content: space-between;
background: #fafafa;}
.sellerdashbord .topsection .innersection .content .count-box {width: 49%; padding: 15px 0; border-right: solid 1px #bebebe;}
.sellerdashbord .topsection .innersection .content .total-box {width: 49%; text-align: right; padding: 15px 0;}
.sellerdashbord .topsection .innersection .content span.count-heading {font-size: 15px; color: #000000; font-weight: 400;}
.sellerdashbord .topsection .innersection .content .count-total{font-size: 16px; color: #001f3f; font-weight: 600; padding-left: 10px; display: block; padding-top: 10px;}
.sellerdashbord .topsection .listing  {margin-bottom: 30px;}
.sellerdashbord .optionsection {display: flex; justify-content: space-between; padding: 30px 0; margin-top: 30px; margin-bottom: 40px;}
.sellerdashbord .optionsection .list {width: 22%; position: relative;}
.sellerdashbord .optionsection .list.apply-filter {width: auto;}
.sellerdashbord .optionsection .list.apply-filter .apply-filter-btn {padding: 13px 20px; border: 1px solid #4945b7;
background-image: linear-gradient(to right, #5f539b ,#5067b3, #5d559d); color: #fff; border-radius: 4px;cursor: pointer;}
.sellerdashbord .optionsection .list span.transaction-tab {border: 1px solid #888; height: auto; padding: 12px 9px; font-size: 14px; border-radius: 4px; background: #fff; float: left; border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 74%; font-weight: 600; color: #333;}
.sellerdashbord .optionsection .list span.active {border: 1px solid #888; background: #eee;}
.sellerdashbord .optionsection .list span {cursor: pointer;}
.sellerdashbord .optionsection .list span.order-tab {border: 1px solid #888; height: auto; padding: 12px 10px; font-size: 14px; border-radius: 4px; float: left; border-left: 0; border-bottom-left-radius: 0; border-top-left-radius: 0px;}
.sellerdashbord .optionsection .list input {border: 1px solid #888; height: auto; padding: 12px 15px; font-size: 14px; background: #fff; box-shadow: none; border-radius: 4px;}
.sellerdashbord .optionsection .list #reportrange {border: 1px solid #888; height: auto; padding: 12px 10px; font-size: 14px; border-radius: 4px;}

.sellerdashbord .optionsection .list select {border: 1px solid #888; height: auto; padding: 12px 15px; font-size: 14px; border-radius: 4px;} 
.sellerdashbord .optionsection .list .input-group-append {position: absolute; right: 0; top: 0;}
.sellerdashbord .optionsection .list .input-group-append button {background: #eee; height: auto; padding: 22px 20px; width: auto; border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.sellerdashbord .optionsection .list .input-group-append button i {top: 15px;}
input#ammounttrans::-webkit-input-placeholder {font-size: 14px; color: #000000;}
input#ammounttrans::-moz-placeholder {font-size: 14px; color: #000000;}
input#ammounttrans:-ms-input-placeholder {font-size: 14px; color: #000000;}
input#ammounttrans::placeholder {font-size: 14px; color: #000000;}

input#datepicker::-webkit-input-placeholder {font-size: 14px; color: #000000;}
input#datepicker::-moz-placeholder {font-size: 14px; color: #000000;}
input#datepicker:-ms-input-placeholder {font-size: 14px; color: #000000;}
input#datepicker::placeholder {font-size: 14px; color: #000000;}

.sellerdashbord .lifteimesalecount {border: solid 1px #ddd; box-shadow: 0px 0px 4px rgb(0 0 0 / 15%); 
border-radius: 4px; display: flex; flex-wrap: wrap;}
.sellerdashbord .lifteimesalecount .innersection {border-right: solid 1px #ddd; padding: 0 0 20px 0;}
.sellerdashbord .lifteimesalecount h2 {color: #000; font-weight: 500; font-size: 18px; border-bottom: solid 1px #ddd; padding-bottom: 20px; padding-left: 20px; padding-top: 20px; background: #fafafa; }
.sellerdashbord .lifteimesalecount .listing {padding-left: 0px; padding-right: 0px;}
.sellerdashbord .lifteimesalecount .content {padding: 0 20px; display: flex; justify-content: space-between;}
.sellerdashbord .lifteimesalecount .count-box { padding-right: 20px; font-size: 16px; color: #000; padding-bottom: 20px; text-align: center;}
.sellerdashbord .lifteimesalecount .count-box .count-heading {color: #333; font-size: 14px;}
.sellerdashbord .lifteimesalecount .count-box .count-total {font-weight: 600; display: block; padding-top: 10px;}
.sellerdashbord .chartContainer {padding-top: 0px;}
.sellerdashbord .chartContainer .staticdownlaod {text-align: right;}
.sellerdashbord .chartContainer .staticdownlaod a {border: 1px solid #4945b7; background-image: linear-gradient(to right, #5f539b ,#5067b3, #5d559d); color: #fff; padding: 9px 30px; font-size: 14px; border-radius: 2px; display: inline-block;}
.sellerdashbord .chartContainer .staticdownlaod a img {display: inline-block; width: 20px; vertical-align: text-top;
margin-right: 5px;}
.sellerdashbord .payouts {font-size: 26px; color: #000000; font-weight: 500; padding: 30px 20px 15px 0; width: 100%;
border-bottom: 1px solid #e8eaef;}
.sellerdashbord .lastupdate {color: #283c82; font-size: 14px; font-weight: 500; letter-spacing: 0.45px; text-align: center; padding-top: 20px;}
.sellerdashbord .topsellingprodcut {padding: 40px 0 10px 0;}
.sellerdashbord .topsellingprodcut h2 {font-size: 22px; color: #000000; font-weight: 500; padding: 30px 20px 15px 0; width: 100%; border-bottom: 1px solid #e8eaef;}
.sellerdashbord .topsellingprodcut ul {padding: 0; list-style-type: none; display: flex; justify-content: space-between;}
.sellerdashbord .topsellingprodcut ul li {width: 19%; color: #000; font-size: 13px; border: solid 1px #ddd; padding: 10px;}
.sales-left.lifteimesalecount {width: 30%; float: left; padding: 15px; margin-bottom: 40px;}
.sales-left.lifteimesalecount .innersection {border: none;}
.sales-left.lifteimesalecount  h1 {font-size: 16px; color: #000000; font-weight: 600; padding: 10px 20px 10px 0px; width: 100%; border-bottom: 1px solid #e8eaef; margin-bottom: 15px;}
.clr {clear: both;}
.sales-left.lifteimesalecount .innersection .date-data {display: flex; justify-content: space-between; color: #000;
font-size: 15px; padding-bottom: 10px;}
.sales-left.lifteimesalecount .innersection .date-data span:last-child {font-weight: 500;}
.sales-left.lifteimesalecount .innersection .amount-data span:last-child {font-weight: 500;}
.sales-left.lifteimesalecount .innersection .amount-data {display: flex; justify-content: space-between; color: #000;
font-size: 15px; padding-bottom: 10px;}
.sales-left.lifteimesalecount .count-box {display: flex; justify-content: space-between; padding-right: 0px;}
.sales-left.lifteimesalecount .count-box .count-total {padding-top: 0px;}
.chartContainer {float: right; width: 67%;}
.lifteimesalecount.secondfold {margin-top: 40px;}
.topsellingprodcut .productinfo { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;
overflow: hidden; text-overflow: ellipsis; white-space: normal; margin-bottom: 10px;}
.topsellingprodcut .productprice {font-weight: 600;}
.sellerdashbord .topsellingprodcut ul li img {height: 160px;}

.sellerform-index-mainform .page-header.type1, .sellerform-index-relationshipform .page-header.type1{position: relative;}
.sellerform-index-mainform .toppromo, .sellerform-index-relationshipform .toppromo {position: absolute;}
.sellerform-index-mainform .margall, .sellerform-index-relationshipform .margall {margin-top: 30px;}

.sellerform-index-adimistrative .page-header.type1, .sellerform-index-tpt .page-header.type1{position: relative;}
.sellerform-index-adimistrative .toppromo, .sellerform-index-tpt .toppromo {position: absolute;}
.sellerform-index-adimistrative .margall, .sellerform-index-tpt .margall {margin-top: 30px;}

/*sellerdashbord phase 2*/


/*Registration automation*/
.relationship-cls {padding: 20px 20px;}
.relationship-cls h2 span {text-align: center;text-transform: uppercase;border-bottom: 1px solid;margin: 0 auto;max-width: 325px;width: 100%;display: block;}
.administrative {padding: 40px; background: #fff; border: solid 1px #ddd; box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);}
.administrative h2 {font-size: 24px; color: #000; font-weight: 500; margin: 0; padding-bottom: 15px; border-bottom: 1px solid #e8eaef; margin-bottom: 30px;}
.administrative .innertable {border: solid 1px #eee;}
.administrative .innertable .tophead {font-size: 18px; font-weight: 500; color: #283c82; background: #f6f6f6; margin: 0; padding-top:18px; padding-bottom: 18px; }
.administrative .innertable .subheading {font-size: 16px; font-weight: 600; color: #000; padding: 14px 15px}
.administrative .oddrow{background: #fafafa; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;}
.administrative .tablelisting {font-size: 16px; color: #000;  margin: 0; padding-top: 20px; padding-bottom: 20px;  padding-left: 0;}
.administrative .yesandnow {display: flex;}
.administrative .yesandnow .list {padding-right: 30px;}
.branchdetails {font-size: 16px; color: #000; padding-bottom: 50px;}
.branchdetails .subhed {font-weight: 500; border-bottom: 1px solid #e8eaef; font-size: 20px; padding-bottom: 10px;
margin-bottom: 20px;}
.branchdetails .innersection {display: flex;}
.branchdetails .innersection .list {padding-right: 30px;}
.branchdetails input[type="radio"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails .fieldsection {display: flex; flex-wrap: wrap; justify-content: space-between; }
.branchdetails .fieldsection .fieldcount {width: 48%; padding-bottom: 40px;}
.branchdetails .fieldsection .fieldcount label {padding-bottom: 10px; display: block; color: #000; font-size: 15px;}
.branchdetails .fieldsection .fieldcount input, .branchdetails .fieldsection .fieldcount textarea {border: solid 1px #888; padding: 14px; border-radius: 4px; height: auto;}
.branchdetails .fieldsection .fieldcount textarea {padding: 6px 14px;}
.branchdetails .fieldsection .fieldcount input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails .fieldsection .fieldcount .marginright {margin-right: 30px;}
.branchdetails .headingsmall {font-weight: 600; font-size: 18px; padding-bottom: 20px;}
.branchdetails.custompaddbtm {padding-bottom: 0;}
.branchdetails .optiontype {display: block;}
.branchdetails .optiontype .list {padding-bottom: 10px;}
.branchdetails .optiontype .list input {margin-right: 10px;}
.administrative .nonte {font-size: 16px;  color: #000; font-weight: 500;}
.branchdetails .fieldsection .fieldcount .optiontype {justify-content: space-between; padding-top: 10px;}
.optiontype.customdeflex {display: flex;}
.administrative .branchtopcount {border: solid 1px #ddd; box-shadow: 0px 0px 4px rgb(0 0 0 / 15%); margin: 0;margin-bottom: 40px; padding-bottom: 0; padding: 0;}
.administrative .branchtopcount .listbox {padding: 0; border-right: solid 1px #ddd;}
.administrative .branchtopcount .listbox:last-child {border: none;}
.administrative .branchtopcount .listbox .subhed {padding: 20px 40px; background: #fafafa;}
.administrative .branchtopcount .listbox .innersection  {padding: 0px 40px 0;}
.administrative .branchtopcount .branchdetails {padding-bottom: 10px;}
.administrative .branchtopcount .fieldsection {padding: 0 40px;}
.administrative .contentsection p {font-size: 16px; color: #000; line-height: 48px;}
.administrative .contentsection p span {display: inline-block; width: 40%;}
.administrative .contentsection p span input {border: none; border-bottom: solid 1px #888; vertical-align: text-bottom;}
.relationinner {padding-top: 30px;}
.relationinner p {font-size: 16px; color: #000; padding-top: 10px;}
.relationinner .branchdetails {padding-top: 10px; padding-bottom: 0;}
.relationinner .branchdetails .fieldsection .fieldcount label {color: #666; font-size: 15px;}
.relationinner ul {padding-top: 15px; padding-left: 10px;}
.relationinner ul li {font-size: 15px; color: #000; padding-bottom: 10px;}
.relationinner .input-conatiner input[type="radio"] {width: 16px; height: 18px; vertical-align: text-top; margin: 0; margin-right: 5px;}
.relationinner .input-conatiner label {font-size: 16px; padding-top: 2px;}
.fromsubmit input, .fromsubmit button {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 6px 60px; color: #fff; border: 0px; font-size: 20px; font-family: 'Exo'; margin: 0px; margin-top: 30px; width: auto; font-weight: 400; height: 56px; border-radius: 4px;}
.administrative .tablelisting .checkbox input[type="checkbox"], .administrative .yesandnow input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top; margin-right: 10px;}
.administrative .tablelisting .checkbox {padding-bottom: 5px;}
.administrative .tablelisting .custominput input {height: auto; border: none; border-bottom: solid 1px #888; padding-left: 0;}
.administrative .tablelisting .custominput label {color: #666; font-size: 14px;}
.adimistrativeCnt {padding-top: 40px;}
.adimistrativeCnt p {font-size: 16px; color: #000; padding-bottom: 20px;}
.adimistrativeCnt .custominput {padding-bottom: 20px;}
.adimistrativeCnt .custominput label {color: #666; font-size: 14px;}
.adimistrativeCnt .custominput input {height: auto; border: none; border-bottom: solid 1px #888; padding-left: 0;}
.preview-form {font-family: 'Exo'; color: #fff; background-color: #2F2F2E; border: 0px; border-radius: 4px; font-weight: 400; font-size: 18px; width: auto; padding: 6px 30px; height: 56px; display: inline-block; line-height: 48px; cursor: pointer;}
.fromcalltoaction {display: flex; padding-left: 40px; padding-top: 40px;}
.fromcalltoaction.paddingnone {padding: 0 !important;}
.fromcalltoaction .preview-form {margin-top: 30px; margin-left: 40px;}
.seller-form-conatiner ul {list-style: none; padding: 30px 80px; display: flex;}
.seller-form-conatiner ul li {width: 33%; text-align: center;}
.seller-form-conatiner ul li span {display: block; font-weight: 600; font-size: 20px; color: #333; padding-bottom: 15px;}
.seller-form-conatiner ul li a {font-size: 18px; color: #283c82; transition: .5s all ease; font-weight: 600; padding: 10px 0 0 8px; display: inline-block; vertical-align: text-top;}
.seller-form-conatiner ul li img {width: 44px; vertical-align: text-top; display: inline-block; border: solid 1px #283c82; padding: 5px; border-radius: 50%; height: 44px; display: block; margin: auto; background: #fff;}
.seller-form-conatiner ul li a:hover {border: none;}
.administrative .toptpt {font-size: 16px; color: #000; padding-bottom: 30px;}
.administrative .toptpt span {font-weight: 500; display: block; padding-bottom: 10px;}
.administrative .tptfieldcustom .customradio {display: flex; justify-content: unset !important;}
.administrative .tptfieldcustom .customradio .list {margin-right: 10px;}
.administrative .tptfieldcustom .customradio .list input {width: 16px; height: 16px;}
.administrative .optiontype input {width: 16px; height: 16px !important;}
.administrative .customwidth {width: 100% !important;}
.administrative .tptfieldcustom textarea {border: none !important; border-bottom: solid 1px #333 !important; border-radius: 0 !important; padding-left: 0 !important;}
.administrative .tptfieldcustom textarea:focus {outline: none; box-shadow: none;}
.administrative .tobepart {padding-bottom: 30px;}
.seller-form-conatiner li {position: relative;}
.seller-form-conatiner li::after {content: ''; position: absolute; width: 87%; height: 100%; left: 101%; border-bottom: solid 3px #283c82; top: -4%; transform: translate(-50%, -50%);}
.seller-form-conatiner li:last-child::after {display: none;}
.sellerform-index-display #maincontent {padding-bottom: 0px;}
.sellerform-index-display #maincontent .column.main {padding-bottom: 0;}
.seller-form-conatiner {padding-top: 40px;}
.files-to-show {max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.cutomoptionfield.files-to-show .optiontype .list input:last-child {width: 230px; border: none; height: 40px !important;}

/*Registration automation*/

/*tirefromsection*/
.tirefromsection {padding: 20px;font-family: 'Exo' !important; font-size: 16px; color: #000;}
.tirefromsection button.btn.btn-primary {padding: 13px 20px; border: 1px solid #4945b7; background-image: linear-gradient(to right, #5f539b ,#5067b3, #5d559d); color: #fff; border-radius: 4px; cursor: pointer;
font-family: 'Exo' !important; height: auto; line-height: normal; border: none; font-size: 16px; width: auto; margin-top: 20px;}
.tirefromsection .form-group { border: solid 1px #777; padding: 10px; margin-top: 20px; width: 40%; border-radius: 4px;}
/*tirefromsection*/



/* Start Application Form */

.seller-application-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    font-weight: 500;
    padding-bottom: 15px;
    margin: 0px 0px 0;
}
.seller-application-form h3 {
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    border: 1px solid;
    max-width: 320px;
    padding: 10px 0px;
    margin: 0 auto 40px;
    box-shadow: 0px 0px 4px #000;
}
.seller-application-inner .application-hed {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    font-style: italic;
}
}
.seller-application-form {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}
.seller-application-detail {
    border: 1px solid #000;
    padding: 20px;
}
.seller-application-detail .field label {
    padding-bottom: 0px;
    display: inline-block;
    color: #666;
    font-size: 15px;
}
.seller-application-detail .field .control {
    display: inline-block;
}

.seller-application-detail .field .control input.input-text {
    border: none;
    border-bottom: 1px dotted #666;
    height: auto;
    padding: 0px 10px;
    width: auto;
    margin: 0px 10px 0px 0px;
}
.seller-application-detail .field {
    margin-bottom: 15px;
}
.seller-application-form {
    max-width: 768px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.seller-application-detail .fieldset .application-hed {
    font-style: normal;
    font-size: 15px;
}
.seller-application-detail .fieldset{
    margin-bottom: 0px;
}
table.application-table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}
.seller-application-form-section {
    margin-top: 15px;
}
.application-table input.input-text {
    border: none;
    padding: 0;
    width: 100%;
    height: auto;
}
table.application-table th, table.application-table td {
    border: 1px dotted #666;
    padding: 8px;
}
.seller-application-detail .border-solid .field .control input.input-text{
    border-bottom: 1px solid #666; 
}
.seller-application-form-section .seller-application-detail .fieldset .date-last label {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .date-last .control {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .date-last .control input.input-text {
    border: none;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last label {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last .control {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last .control input.input-text {
    border: none;
}

.seller-application-detail .field .control .list {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
    font-size: 14px;
}
.seller-application-detail .field .control .list input[type="radio"] {
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px 0px 0px;
    height: 24px;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last a {
    position: relative;
    display: block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last a:before {
    content: "\f019";
    font-family: 'FontAwesome';
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}


/* End Application Form */

/* Start Shipping Restriction Popup */

.marketplace-order-view .modal-popup.cship_model #noecom_ship_form_popup form.needs-validation > div {
    font-weight: normal;
    color: #282d3b;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Poppins';
    line-height: 1.5;
}
.marketplace-order-view .modal-popup.cship_model #noecom_ship_form_popup form.needs-validation .input-text {
    margin-bottom: 15px;
}
.marketplace-order-view .modal-popup.cship_model #noecom_ship_form_popup form.needs-validation .input-text[type="text"] {
    margin-bottom: 15px;
    font-size: 16px;
    height: 50px;
    border: 1px solid #888888;
    border-radius: 4px;
}
.marketplace-order-view .modal-popup.cship_model #noecom_ship_form_popup form.needs-validation .input-text[type="file"] {
    font-size: 16px;
    height: 50px;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100%;
}

.product-info-main .box-tocart .seller-unable-to-ship {
    font-size: 16px;
    color: #21293c;
    font-weight: 700;
}

.marketplace-order-view.account .wk-mp-design .order-actions-toolbar button{
    width: auto !important;
 }
 .wk-mp-fieldset .wk-mp-list-table .button{
    width: auto;
 } 
 .additional-image-div #wk_rma_add_images_container a {
    float: left;
    padding: 10px;
    width: 120px;
    display: block;
}
.additional-image-div #wk_rma_add_images_container a img {    
    width: 100%;
    height: 100px;
    display: block;
}

/* End Shipping Restriction Popup */

@media only screen and (max-width:1518px){ 
    .sellerdashbord .optionsection .list span.transaction-tab {width: 71%;}
    .sellerdashbord .optionsection .list {display: flex;}
}
@media only screen and (max-width:1401px){
    .sellerdashbord .optionsection .list span.transaction-tab {width: 69%; font-size: 14px; font-weight: normal;
    padding-right: 0;}
}

@media only screen and (max-width: 767px) {
    .field.required.verifyotpblock .control #om_counter {position: absolute; right: 0; top: 0;}
    .form.create.account.form-create-account #sendotp {font-size: 14px;}
    .select2-container--default .select2-selection--multiple {margin-bottom: 30px;}
    #verfiedotpstatus {font-size: 13px !important;  padding: 17px 0px !important; text-align: center;}
    .form.create.account.form-create-account #sendotp {font-size: 14px !important;}

   

}
