@charset "utf-8";
/* PDP CSS Document by **PAUL***/

.page-title-wrapper.product span:nth-child(2) {
    color: #5553a3;
    margin-right: 13px;
    font-weight: 500;
}

.product-reviews-summary .rating-summary {
    vertical-align: -3px;
	    margin-right: 0px !important;
}

.product-info-main .product-info-price{padding: 15px 0px !important;}

.rating-summary span.ratingcouttt {
    margin-left: 10px;
}

.product-info-main.producttt .product-reviews-summary {
    padding: 10px 0;
}

.solid-by-product h3{
	font-size: 18px;
}

.solid-by-review {
    font-size: 14px;
    font-weight: 500;
}





/*litte animation for the top merchants*/

.top-related-merchant:after {
animation: shine1 3s ease-in-out  infinite;
animation-fill-mode: forwards;
content: "";
position: absolute;
top: -110%;
left: -42%;
width: 46%;
height: 161%;
opacity: 0;
    transform: rotate(30deg);
background: rgba(255, 255, 255, 0.13);
background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.top-related-merchant .fa-star{overflow:hidden;}
.top-related-merchant .fa-star:after {
  
  animation: shine 3s ease-in-out  infinite;
  animation-fill-mode: forwards;  
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.top-related-merchant .fa-star:active:after {
  opacity: 0;
}

@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

@keyframes shine1{
  10% {
    opacity: 1;
    top: -30%;
    left: 130%;
    transition-property: left, top, opacity;
    transition-duration: 0.6s, 0.6s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: 130%;
    transition-property: left, top, opacity;
  }
}



.top-related-merchant{    padding: 5px 17.5px 5px 35px;}
.top-related-merchant i {
    width: 35px;
    height: 35px;
    line-height: 36px;
    font-size: 18px;
	left: -12px;
	
}


.box-tocart .action.tocart > span {
    font-family: exo;
    font-weight: 500;
    letter-spacing: normal;
}

.catalog-product-view .box-tocart #product-addtocart-button{    padding: 0px 60px 0px;}

.catalog-product-view #buy-now:hover {
    opacity: 0.95;
}

ul.product-short-detail-list li {
    float: left;
    padding: 0px 23px 0px 0px;
    box-sizing: border-box;
	    margin-bottom: 0.7rem;
}

.pincode_checker > .control > .label {
    font-weight: 500;
}


.product-details-section p{font-weight: 600;}

.product-info-main .fieldset > .field.qty span.qtyes {
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.solid-by-product .solid-by-review span {
    padding-right: 5px;
}

.product-details-section p:nth-child(2) {
    color: #000;
    font-weight: 600;
}

.product-details-section p:nth-child(3) {
    color: #3d3d3f;
    font-weight: 500;
}
ul.product-short-detail-list li{
	    color: #3d3d3f;
}
.product-details-section .justify-content-between span {
    color: #3d3d3f;
}
.pincode_checker > .control > .label{
	  color: #3d3d3f; font-weight: 500 !Important;
}

.more-seller-solid{    padding: 17px 0 7px 0px;
    margin-bottom: 0px;}


/*.fotorama__nav-wrap .fotorama_vertical_ratio .fotorama__img{
	    -webkit-transform: translateY(-50%) scale(1.3);
    -ms-transform: translateY(-50%) scale(1.3);
    -o-transform: translateY(-50%) scale(1.3);
	    transform: translateY(-50%) scale(1.3);
}

.fotorama__thumb-border{width: 60px !important; height: 60px !important;}
.fotorama__nav--thumbs .fotorama__nav__frame{width: 60px !important; height: 60px !important;}*/

#check-zipcode{    font-family: exo;    font-weight: 500;}

.pincode_checker > .control{position: relative;}
.iconloc{       position: absolute;
    z-index: 1;
    font-size: 21px;
    color: #000;
    top: 3px;
    margin-left: 10px;}

.pincode-div .pincode_checker{position: relative;}
.pincode-div #pincode_checker_msg_wrapper {
        width: auto;
    float: left;
    position: absolute;
    margin-top: -25px;
    left: 117px;
    background: #fff;
    padding: 0;
    margin-bottom: 0;
    color: #000;
    font-weight: 400;
}
.pincode_checker #check-pincode{letter-spacing: normal;
    padding: 6px 10px;
    height: 34px;}
#pincode_checker_msg:before {
    display: none;
}




.pincode_checker #check1-pincode {
    margin: 0;
    background: none;
    border: 0;
    color: #5553a3;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Exo' !important;
    letter-spacing: normal;
    padding: 6px 10px;
    height: 34px;
}


.pincode-div .message-error {
    color: red !important;
    font-weight: 500 !IMPORTANT;
}

.product-info-price .price-box .price-container .price {
    color: #000;
	
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
	
	    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.history-accordion li {
    padding: 10px 0px;
}
.question-users:before{border-radius: 4px;}


button.btn-load-more {
        border-color: #000;
    font-weight: 500;
    font-family: exo;    transition: all 0.2s ease;
}
button.btn-load-more:hover {
    color: #fff !IMPORTANT;
    font-weight: 400;
    background: #5554a5; transition: all 0.2s ease;
}

.review-help a .fa-thumbs-o-up,.review-help a .fa-thumbs-o-down{transition: all 0.1s ease;}

.review-help a:hover .fa-thumbs-o-up {
    font-size: 21px;
    transition: all 0.1s ease;
    transform: scale(1.2) rotate(-14deg);    color: #3f549c;
}

.review-help a:hover .fa-thumbs-o-down {
   font-size: 21px;
    transition: all 0.1s ease;
    transform: scale(1.2) rotate(0deg);
}

.question-answer h2.sectionproducts-titles {
    display: none;
}
.question-answer-content .m-0 .form-control{    box-shadow: none;
    border: 0px;}
.question-total small {
    text-decoration: underline;
}

.question-answer-content{box-shadow: none;}



.additional-attributes-wrapper .history-accordion ul.product-short-detail-list li:last-child {
    color:#3d3d3f;
}
.total-revie-rating {
    font-size: 24px;
    font-weight: 400;
}
.store-dec-details .store-review{
	
	font-weight: 500;
}

.product-info-main .box-tocart .input-text.qty{font-family: exo;}


.fotorama__wrap:not(.fotorama__wrap--toggle-arrows) .fotorama__fullscreen-icon{display: none ;}

.more-seller-solid{display: none;}

.product-item-actions .action.towishlist:hover, .product-addto-links .action.towishlist:hover, .action.towishlist:hover {
    color: #f3a626 !important;
    background: none !important;
}


.seller-guarantee{box-shadow: none !important;}


ul.product-short-detail-list li:last-child{cursor: pointer;}

.fotorama__fullscreen-icon{display: none !important;}
.product-media-info .product-info-price {padding-bottom: 0 !important; margin-bottom: 0;}
.product-media-info .prices-tier.items .item {color: #000;  font-size: 14px;  padding-bottom: 7px;}
.product-media-info .prices-tier.items .item .benefit {font-weight: 700;  color: #f69700; text-transform: uppercase;}
.product-media-info .prices-tier.items .item .price-container .price {font-size: 14px;  color: #444;  font-weight: 600;}

@media(min-width:768px) and (max-width:3000){
	.product.data.items > .item.title a {
    font-size: 23px !important;
}
}

@media(min-width:1200px) and (max-width:1400px){
	.catalog-product-view .box-tocart #product-addtocart-button {
    float: left;
    height: 56px;
    border: 2px solid #5654a4;
    border-radius: 7px;
    font-size: 20px;
    color: #5654a4;
    background: none;
    line-height: 44px;
    padding: 0px 60px 5px;
    margin-right: 20px;
    width: 200px;
	}
	.catalog-product-view .box-tocart #product-addtocart-button {
    padding: 0px 22px 0px;
}
	.catalog-product-view #buy-now {
    background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);
    padding: 6px 22px;
    color: #fff;
    border: 0px;
    font-size: 20px;
    border-radius: 9px;
    font-family: 'Exo';
    margin: 0px;
    width: 200px;
    font-weight: 600;
    height: 56px;
}
	.top-related-merchant {
    position: relative;
    background: #37bdcc;
    display: inline-block;
    color: #fff;
    padding: 5px 13px 5px 25px;
    font-size: 12px;
	}
	.product.data.items > .item.title {
    border: 0px;
    margin: 0px 23px 0 0;
}
	.review-rating-content{box-shadow: none;}
	.btn-load-more {
    font-size: 18px;
    color: #3f549c !important;
    height: 65px !important;
		width: 300px;}
}

@media (max-width:768px){
	.fotorama__nav__frame--dot {
    display: none !IMPORTANT;
}
	
	/*.fotorama__nav__shaft .fotorama__nav__frame{       height: 59px;
    width: 59px !IMPORTANT;
    float: left;
    display: block;
    opacity: 1;}
	
	.fotorama__nav__shaft .fotorama__thumb-border {
       height: 59px !important;
    border-width: 2px;
    margin-top: 2px;
    width: 59px !important;
    display: block;
}*/
	
	.fotorama__thumb__arr.fotorama__thumb__arr--left{
		
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

	}
	
	.fotorama__thumb__arr.fotorama__thumb__arr--right{
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

	}
	
	
	.fotorama__thumb {
    background-color: #fff;
	}
	.fotorama__nav {
    padding-bottom: 10px;
    border: none;
}
	
	
	
	
	.product-info-main .prev-next-products ~ .page-title-wrapper h1 {
    padding-right: 50px;
    font-size: 16px !important;
}
	
	.product-reviews-summary .rating-summary .rating-result {
    width: 18px;
    overflow: hidden;
    background: rgb(38, 165, 65);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
	}
	.product-reviews-summary .rating-summary .rating-result > span {
    display: none;
}
	.product-reviews-summary .rating-summary .rating-result:before {
    left: 3px;
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    color: #fff !important;
    font-family: 'porto-icons';
    font-size: 10px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\f844';
    display: block;
    font-style: normal;
    font-weight: normal;
    speak: none;
}
	
	.product-reviews-summary .rating-summary .ratingco {
        color: #f3a626;
    font-weight: 500;
    margin-right: 7px;
    font-size: 12px;
    background: rgb(38, 165, 65);
    padding-left: 10px;
    padding: 2px 10px;
    margin-right: 0px;
    color: #fff;
    padding-right: 4px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
	.product-info-main.producttt .product-reviews-summary {
    padding: 5px 0;
}
	
	.catalog-product-view .product-reviews-summary .reviews-actions a.add {
    display: none !important;
}
	
	
	.product-info-main.producttt .product-reviews-summary {
    border-bottom: 0 !Important;
	}
	
	.catalog-product-view.page-layout-2columns-right 
 .product-info-main {
    padding: 15px 5px;box-sizing: border-box;
	}
	.product-info-main .product-info-price {
    padding: 15px 10px !important;
	}
	.product-info-price .price-box .price-container .price {
    font-size: 21px;
	}
	.product-info-main .product-info-price .old-price .price-wrapper .price {
    font-size: 14px;
    font-weight: 500 !important;
    vertical-align: 4px;
}
	
	.product-info-main .product-info-price .product-info-stock-sku h3 {
    font-size: 14px;
}
	
	.product-info-main .product-info-price .product-info-stock-sku {
        font-size: 14px !important;
        padding: 10px 0;    max-width: 100%;
}
	.product-info-main .product-info-price .product-info-stock-sku:before{
		    content: '\f02b';
    font-family: FontAwesome;
    color: #26a541;
    font-size: 15px;
    vertical-align: 0px;
    padding-right: 4px;
	}
	
	
	
	
	
	.product-info-main .box-tocart .actions {
      position: fixed;
    bottom: 0px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
    z-index: 3;
    width: 100%;
    left: 0;
}
	
	
	.catalog-product-view .box-tocart #product-addtocart-button {
    padding: 0px 60px 0px;
    width: 50%;
    box-sizing: border-box;
    left: 0;
}
	.catalog-product-view #buy-now{
		width: 50%;
    float: left;
    border-radius: 0px;
    left: 0px;
    font-size: 14px;
    padding: 0;
    font-family: exo;
    font-weight: 500;
	}
	
	
	.catalog-product-view .box-tocart #product-addtocart-button {
    padding: 0px 60px 0px;
    width: 50%;
    box-sizing: border-box;
    left: 0;
    margin: 0 !important;
    border-radius: 0px !important;
    border: none;
    background: #fff;
    line-height: normal;
    font-size: 14px;
    padding: 0;
    z-index: 2;
    position: relative;
}
	
	.product-info-main .fieldset > .field.qty{display: none !important;}
	.product-reviews-summary .rating-summary{
		    vertical-align: -3px;
    margin-right: 0px !important;
    padding-top: 10px;
	}
	.catalog-product-view.page-layout-2columns-right 
 .product-info-main {
    padding: 5px 5px;
	}
	.product-info-main .product-info-price {
    padding: 10px 10px 0px 10px !important;
	}
	.product-info-main .product-info-price {
    padding: 10px 0px !IMPORTANT;
    margin: 0 !important;
}
	.rating-summary span.ratingcouttt{
		     margin-left: 5px;
    vertical-align: 12px;
    margin-top: 2px;
    font-size: 11px;
	}
	.product-reviews-summary .reviews-actions {
    padding-top: 5px;
}
	.catalog-product-view .product.media {
    padding-right: 0;
    margin-bottom: 0px !important;
}
	.pincode-div {
    width: 100% !IMPORTANT;
    float: left;
}
	.pincode_checker > .control > .label{display: none !important;}
	#check-zipcode{    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0px;}
	.pincode_checker #check-pincode{    border: 1px solid;
    margin-left: 11px;
    background: #3f549c;
    color: #fff;
    float: right;
    border-radius: 4px;}
	
	.product-info-main .box-tocart{    margin-top: -23px;}
	.product-details-section .justify-content-between span {
    color: #3d3d3f;
    clear: both;
    float: left;
    width: 100%;
    font-size: 13px;
    padding: 0 !IMPORTANT;
    margin: 0 !IMPORTANT;
}
	.product-details-section ul.product-short-detail-list li {
    color: #3d3d3f;
    width: 100%;
    font-size: 12px;
}
	.product-details-section p:nth-child(2) {
    color: #000;
    font-weight: 600;
    font-size: 12px;
}
	
	.product-details-section p:nth-child(3) {
    color: #3d3d3f;
    font-weight: 500;
    font-size: 12px;
}
	.solid-by-product h3 {
    font-size: 14px;
}
	.solid-by-product p:nth-child(4) {
    font-size: 12px;
}
	.solid-by-review {
    font-size: 12px;
    font-weight: 500;
}
	.product.info.detailed{padding: 15px;}
	.additional-attributes-wrapper .content-row {
    padding: 0px !important;
}
	div#reviews, div#description {
    padding-left: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
}
	.history-title {
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 500;
    height: auto;
    display: block;
    line-height: 25px;
    padding: 6px 10px 6px 44px;
    color: #000;
    position: relative;
}
	.additional-attributes-wrapper .history-accordion ul.product-short-detail-list li {
    float: none;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 20px;
    position: relative;
    color: #000;
}
	#tab-label-description-title{
		    font-size: 17px !important;
    padding: 0px 0px !IMPORTANT;
    margin: 0 !IMPORTANT;
    border: none;
    z-index: 2;
	}
	.product.data.items > .item.title > .switch {
    padding: 5px 0px !important;
    font-size: 17px;
    font-weight: 400;
    height: auto;
    text-transform: capitalize;
}
	.post-sections-list{
		    margin: 0 !important;
	}
	.product.data.items > .item.title a {
    z-index: 1 !important;
}
	
	
	
	.review-progress-status {
    padding: 20px 0px 0px;
    border-bottom: 1px solid #e8eaef;
}
	
	.product-info-main .product-info-price .product-info-stock-sku .layous {
		font-size: 14px;}
	.product-details-section {
    float: left;
		width: 100%;}
	.solid-by-product {
    margin-top: 15px;
    float: left;
    width: 100%;
}
	.sectionproducts-titles {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 15px;
}
	#tab-label-description-title {
		font-size: 14px !important;}
	
	div#reviews, div#description{
		padding-top: 0px;    border: 0;    margin-top: 0px;
	}
	.post-sections-list {
    margin: 0 !important;
    padding: 0;
    box-shadow: none;
    width: 100%;
    border: 0;
}
	.progress-circle{float: left;}
	.progress-circle:after{display: none;}
	.progress-circle .progress-right{display: none;}
	.progress-circle .progress-left{display: none;}
	.total-rating-star {
    font-size: 22px;
    color: #000000;
    width: 24px;
    overflow: hidden;
    height: 27px;
    margin-top: 32px;
    margin: 0;
    margin-top: 32px;
		padding-right: 0px;}
	
	.review-progress-status .col-12.col-md-4.text-center {
    width: 50%;
    max-width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    flex: auto !important;
}
	
	.review-progress-status .row {
    padding: 0px 10px;
    margin: 0;
}
	.rating-process {
    display: flex;
    width: 100%;
    font-size: 11px;
    color: #6c6d70;
    font-weight: 500;
    margin-bottom: 0px;
	}
	.rating-process .progress{    height: 5px !IMPORTANT;}
	.rating-process span i {
    margin-left: 5px;
    font-size: 9px;
}
	.rating-process span{line-height: 19px;}
	.total-revie-rating {
    font-size: 12px !important;
    font-weight: 400 !important;
    position: absolute;
    left: -50%;
    width: 80px;
    margin-left: -40px;
    text-align: left;
    line-height: normal;
    top: 65px;
	}
	
	
	.review-progress-status .row .col-12:nth-child(3) {
    width: 100% !IMPORTANT;
    float: left;
    max-width: 100% !important;
}
	.total-revice-submit .review-stars-blank {
    margin-bottom: 5px;
	}
	.total-revice-submit button.btn-gradent {
    height: 48px !IMPORTANT;
    line-height: 40px !IMPORTANT;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 4px;
}
	.total-revice-submit p {
    font-size: 13px;
	}
	button.btn-load-more {
    border-color: #000;
    font-weight: 500;
    font-family: exo;
    transition: all 0.2s ease;
    font-size: 14px;
    width: 218px;
    height: 48px !important;
    line-height: 48px;
    border-radius: 4px;
}
	
	.rating-process.star-5:before {
    content: " ";
    width: 1px;
    height: 107px;
    position: absolute;
    background: #dfdfdf;
    left: -11px;
}
	
	.load-more-section {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
	.review-help span, .review-help a {
    color: #6c6d70;
    font-size: 13px;
    font-weight: 500;
}
	.rating-review-count-section {
    padding: 15px 15px;
	}
	.seller-guarantee {
    padding: 0px 0px;    box-shadow: none !IMPORTANT; margin: 0px;
	}
	.seller-guarantee p.order-processed-count {
    font-size: 13px;
    color: #6c6d70;
    font-weight: 500;
    line-height: normal;
}
	.seller-guarantee p {
    font-size: 13px;
    color: #6c6d70;
    font-weight: 500;
    line-height: normal;
}
	
	.store-dec-details .store-review {
    font-weight: 500;
    font-size: 13px;
}
	.seller-guarantee h2 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0px !IMPORTANT;
    margin-bottom: 5px !important;
}
	
	.seller-guarantee .row button.btn-blue {
    height: 48px !IMPORTANT;
    line-height: 48px !IMPORTANT;
    padding: 0px !IMPORTANT;
    width: 200px;
    font-size: 14px;
    border-radius: 4px;
}
	
	.store-millions-customer {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 13px !important;
    line-height: normal;
}
	.store-millions-customer span, .store-millions-customer a {
    font-size: 13px;
    display: inline-block;
}
	.question-answer-content {
    box-shadow: none;
    padding: 10px 0px;
    margin: 0;
}
	.question-answer-content input {
    height: 48px !IMPORTANT;
    font-size: 14px;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 !IMPORTANT;
    text-align: center;
    line-height: 48px !IMPORTANT;
}
	.question-answer-content button {
       height: 48px !IMPORTANT;
    font-size: 14px;
    width: 100%;
    margin-top: 10px !IMPORTANT;
    margin: 0;
    float: left;
    padding: 0 !IMPORTANT;
    text-align: center;
    line-height: 48px !IMPORTANT;
    border-radius: 4px;margin-bottom: 10px;
}
	.question-total {
    font-size: 13px;
    color: #000;
    font-family: 'Exo' !important;
    font-weight: 500;
}
	.question-total small {
    font-size: 13px;
}
	.question-users{
		    line-height: normal;    font-size: 13px;
	}
	.no-answers-users{    padding: 5px 0px 5px 80px;
    z-index: 1;}
	.question-users:before{margin-top: 10px;}
	
	.question-answer-list {
    margin-top: 15px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8eaef;
}
	.answers-users p {
    margin-bottom: 5px;
    font-size: 14px;
}
	.review-rating-content {
    padding: 0px 0px;
    box-shadow: none !IMPORTANT;
    margin-top: 0px;
}
	.progress-circle {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-right: 18px;
    height: 100%;
}
	
	.progress-circle .progress-value {
    display: inline-block;
    border-radius: 0;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: auto;
    font-weight: 300;
    left: 0;
    float: left;
    width: 100%;
    text-align: center;
    padding-right: 25px;
    padding: 0;
		    margin-top: 20px;
}
	
	
	
	.total-rating-star{right: 22px;    margin-top: 25px !IMPORTANT;    top: 0px;
    position: absolute;}
	.total-revie-rating{top: 53px;}
	
	.no-answers-users {
    padding: 5px 0px 5px 80px;
    z-index: 1;
    font-size: 13px !IMPORTANT;
}
	
/*	hide product id 
	*/
	.product-info-main .page-title-wrapper.product span:nth-child(3),.product-info-main  .page-title-wrapper.product span:nth-child(4) {
    display: none;
}
	
	.product.data.items > .item.title.active {
    border-top: 0px;
    border-bottom: 3px solid #37c0c8;
}
	.pincode-div #pincode_checker_msg_wrapper {
    width: auto;
    float: left;
    position: absolute;
    margin-top: -25px;
    left: 38px;
    background: #fff;
    padding: 0;
    margin-bottom: 0;
    color: #000;
    font-weight: 400;
}
	.question-answer-content .justify-content-between button {
    width: 210px;
    margin: 5px auto;
}
	
	.fotorama__caption{display: none;}
	.fotorama__nav--thumbs .fotorama__thumb {
    border: 1px solid #f3f3f3 !important;
	}
	.fotorama__nav .fotorama__thumb-border {
    border-color: #808080 !important;
    border-width: 1px !important;
}
	
}

@media (max-width: 640px){
.margall {
    margin-top: 114px;
}
	.fotorama__arr.fotorama__arr--prev, .fotorama__arr.fotorama__arr--next{display: none !important;}
}
@media (max-width: 510px){
.margall {
    margin-top: 110px;
}
}

@media (max-width: 360px){
.margall {
    margin-top: 107px;
}

}











/* PDP2CSS Document */

.fotorama__stage{
	border: none;
}
.rating-summary span.ratingcouttt{font-weight: 500;}
.fotorama__stage{border: none !important;}
#check-pincode{background: #6f6f6f;
    color: #fff;
    font-weight: 500;
    border-top-right-radius: 4px;    width: 80px;
    border-bottom-right-radius: 4px;}

#check-zipcode{    border-color:#6f6f6f !important;
    border-top-right-radius: 0px;height: 34px !important;
    border-bottom-right-radius: 0px;}


.product.data.items > .item.title > .switch {
    padding: 10px 0px !important;
    font-size: 26px;
}
.history-content{    padding: 0px 44px;
    box-sizing: border-box;}
.product.data.items > .item.content {
    border: none ;
    border-top: 1px solid #dae2e6;
}

.additional-attributes-wrapper .content-row{padding: 35px 0px !important;}
.sectionproducts-titles{display:none !important;}
.seller-guarantee {
    padding: 5px 40px 5px 40px;
}

fieldset.fieldset.review-fieldset > .field.required .control .input-text, fieldset.fieldset.review-fieldset > .field.required .control textarea{
	border-radius: 4px;
}

.review-fieldset .product-review-section:nth-child(1){display:none;}
.review-write-form h2{padding-top:20px; border:none;    font-size: 16px;}

.custom_refer_buttons .rewardssocial-buttons{display: none;}
.custom_refer_buttons .rewardssocial-buttons.social_share_show{display: block;}
input#searchqa{border-radius: 4px;}

.wk-searchbar .search_bar{width: calc(100% - 0px);}
.no-answers-users{    padding: 15px 0px 10px 80px;}

.search_button{    max-width: 225px;
    width: 100%;
    border-radius: 8px !important;}

.reviews .review-help{    width: 260px;
    float: right;}

@media(max-width:768px){
	.post-sections-list .row.m-0.justify-content-between.align-items-center{    padding-right: 0px;
    padding-left: 0px;}
	button.btn.btn-gradent.search_button{    width: 100%;
    margin: 0;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 0px !important;
    border-radius: 4px !important;}
	.question-header h4{position: relative;
    width: 100%;}
	.question-header .header-links:nth-child(1){float: left; width: 50%;}
	.question-header .header-links:nth-child(2){float: right; width: 50%;}
	
	.question-header .header-links button{    font-size: 11px !important;
    padding: 8px 10px !important;
    width: 100%;}
	
	.answer-question-btn button{height: 40px !important;
    line-height: 40px;
    font-size: 12px;
    padding: 0px 35px !important;
    border-radius: 4px !important;}
	.reviews .review-help {
    width: 100%;
    float: left;
    margin-top: 20px !important;
}
	
	.answers-users{     padding: 44px 0px 20px 80px !important;}
	
	.answers-users span, .ques-user-info span {
    font-size: 12px;
}
	
	.total-revice-submit p {
    font-size: 13px;
    float: left;
    width: 100%;
    margin: 0;
        margin-top: 5em;
}
	.total-revice-submit a.btn-gradent {
    width: 100%;
    font-size: 14px;
    height: 45px !important;
    line-height: 45px !important;
    padding: 0px 10px !important;
    margin-bottom: 15px;
    border-radius: 4px !important;
}
	.review-author, .review-date {
    font-size: 12px;
	}
	span.review-recommend {
    font-size: 13px;
}
	.review-content {
    font-weight: 500;
}
	.helpfulness-vote {
    font-size: 13px;
    width: 100%;
}
	
	
	
	
	.rating-summary.baljit {
    display: none;
}
	.product-reviews-summary .reviews-actions a.view {
  
    border: none;
    text-align: center;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
}
	
	#tab-label-description-title {
    font-size: 18px !important;    margin: 10px 0px !important;
}
	.product.data.items > .item.title > .switch{
		font-size: 18px;
	}
	.product.data.items > .item.content {
    padding: 0px 9px;    margin: 10px auto;
}
	.question-answer h2.sectionproducts-titles {
    display: none !important;
}
	.seller-guarantee {
    padding: 5px 0px 5px 0px;
}
	.store-dec-details {
    position: relative;
    padding-left: 0px;
    padding-top: 40px;
    width: 100%;
    float: left;
}
	.store-dec-details .store-image{
		top:-10px
	}
	
	.seller-guarantee .btn-gradent, .seller-guarantee .btn-blue {
    border-radius: 10px !important;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 50px !important;
    border-radius: 4px !important;
    /* line-height: 50px; */
    padding: 12px 0px!important;
    font-size: 15px;
}
	
	.block.review-add .review-form {
    max-width: 100%;
    width: 100%;
}
	.fieldset {
    letter-spacing: unset;
    width: 100%;
    float: left;
}
	fieldset.fieldset.review-fieldset > .field.required {
    display: inline-block;
    flex-wrap: wrap;
    float: left;    width: 100%;
}
	fieldset.fieldset.review-fieldset > .field.required .control {
    flex: 0 0 100%;
    max-width: 100%;
}
	.block.review-add .review-form .actions-toolbar button#review_reset_form{width: 100%;}
	.block.review-add .review-form .actions-toolbar button.action.submit.primary{width: 100%;}
	.field.review-field-recommend .label span {
    font-size: 14px;
	}
	.field.review-field-recommend .control input + span {
    font-size: 14px;
	}
	.fieldset .review-field-ratings > .label{font-size: 14px;}
	.block.review-add .review-form .actions-toolbar button.action.submit.primary,.block.review-add .review-form .actions-toolbar button#review_reset_form{border-radius: 4px !important;    font-size: 16px !important;}
	button.btn-load-more{width: 100% !important; font-size: 16px !important;}
	
}
