@charset "utf-8";
/* https://dev.idsil.com/design/pub/media/porto/configed_css/settings_english.css*/

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
       src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
             url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}



.filter-options-content .rating-summary.selected {
    background-color: #fff !important;
}

a.rating-summary.lnultimate-rating-slider.selected:before {
    content: "";
    position: absolute;
    border: 1px solid !important;
    width: 7px !important;
    height: 12px !important;
    border-color: none;
    left: 4px !important;
    z-index: 1 !important;
    top: 4.2px !important;
    transform: rotate(-135deg);
    border-radius: 0px !important;
    background: #000;
    border-radius: 50px !important;
    height: 12px !IMPORTANT;
    width: 12px !important;
}
.rating-slider-items .item a:after {
    border-radius: 50px !important;
}


.filter-options-item.active:last-child input[type="radio"] {
    opacity: 1;
    border: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 1em;
    border: 3px solid #555;
}
.filter-options-item.active .filter-options-content>a{   
	padding: 8px 15px;
    background: white;
    width: 110px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    text-transform: uppercase;
	    color: #FFf !important;
}

.filter-options-item.active .filter-options-content>a:before {
    content: "VIEW MORE";
    position: absolute;
    background: #fff;
    color: #000;
	left: 0;
    right: 0;
}

.filter-options-item.active .filter-options-content>a:after {
    display: none;
}

.filter-options-item.active .search {
      border: none;
    border-bottom: 1px solid #ccc;
    width: 90%;
    display: table;
    margin: 0 auto;
    text-align: left;
}

/*.filter-options-item.active:last-child .item:last-child{display: none;}

.filter-options-item.active:last-child .filter-options-content>a {
    display: none;
}
*/

.product-item-actions .action.towishlist:hover, .product-addto-links .action.towishlist:hover, .action.towishlist:hover{
	
	color: #f3a626 !important;
}




.product-social-links .action.towishlist:before, .product-addto-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    content: "\f08a";
	font-family: "FontAwesome";
}

.product-item-actions .action.towishlist:hover, .product-addto-links .action.towishlist:hover, .action.towishlist:hover:before {
    content: '\f004';
    font-family: fontawesome;
}


.product-item .rating-summary .rating-result > span:before {
    color: #f3a626 !important;
}


/* https://dev.idsil.com/design/pub/media/porto/web/css/custom.css */


.filter-title strong:before {
  display: none;
}
.filter-title strong:after {
	font-family: "FontAwesome";
    content: '\f1de';
    font-size: 21px;
    color: #818181;
    display: inline-block;
    padding-left: 14px;
}

.filter-title strong {
    color: black !important;
    position: fixed;
    top: inherit;
    bottom: 0px;
    left: 0px;
    width: 100%;
    width: 100%;
    height: 47px;
    border: #dcdcda solid 1px !important;
    background-color: #f5f5f5;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    line-height: 26px;
    z-index: 9;
    font-size: 19px;
    vertical-align: 2px;
}
.filter-options-title a{
	text-decoration: none !important;
}
#layered-filter-block .filter-options-title a span{
	    font-weight: 500;    margin-right: 10px !important;    text-transform: uppercase;
}
#layered-filter-block .filter-options-title{
	    text-transform: capitalize;font-weight: 500;
}
.filter-options-title {
    font-size: 18px;
}

.active > .filter-options-title:after {
    content: '\f883';
    top: 26px;
    font-size: 17px;
	 -ms-transform:  scaleX(1.2) scaleY(0.5); /* IE 9 */
	  -webkit-transform:  scaleX(1.2) scaleY(0.5); /* Safari */
    transform: scaleX(1.2) scaleY(0.5);
}
.fasortby{    width: 85px !important;
    vertical-align: -5px !important;
    line-height: 2.3 !important;}

input:focus, select:focus{
    outline: 0 !IMPORTANT;
    box-shadow: none !important;
}

#custom_filter .form-group:nth-child(1) label:before {
    content: 'Min ₹';
    background: #fff;
    position: absolute;
    color: #b8b8b8;
}

#custom_filter .form-group:nth-child(3) label:before {
    content: 'Max ₹';
    background: #fff;
    position: absolute;
    color: #b8b8b8;
}


#custom_filter .form-group{
	padding: 4px;
}
#custom_filter .form-group input.to_price,#custom_filter .form-group input.from_price{
	border: 0px;
    font-size: 12px;
    color: #3d3d3f;
    font-weight: 500;
    padding: 0px 5px 0px 22px;
    height: 100%;
    position: relative;
    width: 100%;
    background: transparent;
    font-family: Exo;
}

/*slider price fix*/
.ui-widget-header{
	left: 0%;
    width: 73.95%;
    background: #00d0e0;
    height: 5px;
}

#ln_slider_price.ui-slider-horizontal{    background-color: #e0e0e0 !important;}

h2.sectionproducts-titles.category-imh{font-weight: 500 !important;}
h2.sectionproducts-titles.category-imh span{font-weight: 500 !important;}

.price-box .price {    font-weight: 600  !Important;
	font-family: exo !Important;}


.filter-result .filter-actions a {
    color: #3d3d3f;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

.filter-options-item {
    margin-bottom: 0px !important;
}

/*main content remove top 1 px border*/
.page-header.type1{border: none !Important;}


.filter-options-item.active .filter-options-content .block-content li a:after{display: none;}

/* .filter-options-item[attribute=cat] li a:after {
    opacity: 0;
    display: none;
    border: none;
} */  
.filter-options-item[attribute=category] .neworne{display: none;}

.filter-options-item[attribute=category] .block-category-list .block-title:before {
    content: '\f107';
    font-family: FontAwesome;
    font-size: 16px;
}
.filter-options-item[attribute=category] .filter-options-content li a:hover{    text-decoration: none;
    color: #f3a626 !important;}
#ln_slider_price .ui-slider-handle {
	margin-top: -9px;}

.filter-options-item[attribute=size] .filter-options-content .swatch-attribute-options a:after{border: 0;}
.filter-options-item[attribute=size] .filter-options-content .swatch-attribute-options .swatch-option:hover {
    border-color: #e9e9e9 !important;
    outline: none !IMPORTANT; text-decoration: none;
}

.filter-options-content .item input[type="checkbox"]:checked + a:before, .filter-options-content .item input[type="radio"]:checked + a:before {
    content: "";
    position: absolute;
    border: 3px solid;
    width: 16px;
    height: 16px;
    border-color: #fff;
    left: 2px;
    z-index: 1;
    right: 0px;
    top: 0px;
    border-radius: 100%;
}

.filter-options-content .item input[type="checkbox"]:checked + a:after, .filter-options-content .item input[type="radio"]:checked + a:after {
    background: #000;
    border-radius: 100%;
}

a:hover, .alink:hover{text-decoration: none !important;}

.filter-options-content a:hover {
    color: #f3a626 !important;
}


.fakeclear{    width: 100%;
    float: left;
    margin-bottom: 60px;}

.fafilter-apply{
	display: none;
	  position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    padding: 1.2em 2em;
    border-top: 1px solid #e8e8e8;
    z-index: 2;
    box-shadow: 0px 1px 11px -4px rgba(0, 0, 0, 0.30196078431372547);

}

.fafilterbtn{
	width: 50%;
    height: 40px;
    line-height: 40px;
    background: #f3a626;
    text-align: center;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: exo;
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0px 1px 8px -2px rgba(0, 0, 0, 0.38823529411764707);

}


.infinite-loader{
	width: 80% !important;
    max-width: 300px;
    display: table !important;
    clear: both;
    float: none;
    margin: auto !important;
    padding: 0px 25px !important;
    height: 45px !important;
    line-height: 45px !important;
    margin-bottom: 27px !important;
    border-radius: 4px !important;
    border: 1px solid #000 !Important;
    color: #3f549c !important;
    font-size: 14px !important;
    font-family: exo !important ;
}
button.infinite-loader:hover {
    background: #fff !important;
    opacity: 0.8 !important;
    transition: all 0.2s ease;
}
.contentrigh.fasortdiv select.faselect-sort{display: block !important;}



@media (min-width: 1200px){
.special-price .price, .price-box .price {
	font-size: 16px;}

}


@media only screen and (max-width: 767px){
	
	
	
	.filter.active .fafilter-apply{
	display: block ;
	}
	
	

	
	.filter.active .filter-title strong{    color: transparent !important;}
.filter.active .filter-options {
    padding: 10px 30px !important;
    width: 100%;top: 104px;
}
	.filter.active .filter-subtitle{width: 100%;}
	.filter.active .filter-title{width: 100%;}
	
	
	.filter.active .filter-title strong:before {
    font-size: 25px;
    float: right;
}
	
	#layer-product-list{padding: 0;}
	
	.page-main {
    padding-top: 0PX !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
	
	
	.products-grid .product-item{padding: 0;}
	
	.filter.block .filter-options-item {
    display: none;
}
	
	.filter.active .filter-options-item {
		
		display: block;
	}
	
	.main .contentrigh{
		    padding: 9px 20px;
	}
	
	h2.sectionproducts-titles.category-imh{
		padding: 15px 20px;
	}
	.product-item-details {
    padding-left: 10px;
	}
	
	
	
	.filter-title strong{width: 50% !important; font-size: 17px !important;}
	
	.fasortby{width: 100% !important;line-height: 2 !important;}
	.main .fasortdiv {
       position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: 4;
    opacity: 1;
    width: 125px;
    left: 50%;
    padding: 7px 8px !important;
    box-sizing: border-box;
    height: 41px;
    background: #f3a626;
    color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 13px;
}
	
	select.faselect-sort {
    background: #f3a626;
    color: #fff;
    border: none;
    outline: 0;
    padding: 0px;
    margin-top: -4px;
}
	
	.sidebar.sidebar-main{z-index: 10;}
	#totop {
    bottom: 80px;
    background-color: rgba(64, 64, 64, 0.25);
    border-radius: 5px;
}
	
	.filter.active .filter-title {
    background-color: #3f549c;
	}
	
	.filter.active .filter-subtitle {
    font-family: 'Exo' !important;    padding: 8px 30px 8px 35px!important;
	}
	strong.block-subtitle.filter-subtitle:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 25px;
    position: absolute;
    left: 13px;
    top: 6px;
}
	
	.filter.active .filter-title strong{width: 100% !important;right: 0px !important;    left: 0 !important;}
	.filter.active .filter-title strong:before{display: none;}
	#layered-filter-block .filter-options-title a span{margin-right: 0px;}
	
	.filter-title strong {
    color: #fff !important;
    position: fixed !important;
    top: inherit !important;
    bottom: 10px !important;
    left: 50% !important;
    border-radius: 12px !important;
    width: 100% !important;
    margin-left: -125px !important;
    width: 100% !important;
    height: 41px !important;
    border: #dcdcda solid 1px !important;
    background-color: #3f549c !important;
    text-align: center !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    line-height: 26px !important;
    z-index: 9 !important;
    font-size: 19px !important;
    vertical-align: 2px !important;
    border: 1px solid #3f549c !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
		width: 125px !important;
    font-size: 14px !important;

}

	.filter-title strong:after {
    font-size: 17px !important;    color: #fff;
}
	.filter.active .filter-title strong{background: transparent !Important;}
	
	/*hide clear btn filer*/
	.new_filter_sec .filter-result .filter-actions{
		display: none !important;
	}
	h2.sectionproducts-titles.category-imh {
		font-size: 16px;}
	
	h2.sectionproducts-titles.category-imh span {
    font-size: 12px;
	}
	
	/*make the selected filters scrollable */
	.new_filter_sec .filter-result{overflow-y: scroll;}
	
	select.faselect-sort option {
    background: #fff;
    color: #000;
    border: 0;
	}
	
	
	
}




/*plp2css*/


.layout-fullwidth.page-layout-2columns-left .sidebar-main .block{
	box-shadow: none !important;
}

a.action.clear.filter-clear {
    border: 1px solid #000;
    padding: 6px 8px;
    border-radius: 4px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: inline-block;
}

a.action.clear.filter-clear span{
	color: #000 !important;
}

.sidebar.sidebar-main .filter-result .filter-label{font-weight: 500;}

.filter-result ol li span.filter-value {
    padding: 6px 4px;
    font-size: 12px;
    padding-right: 22px;
    background: #e1e4e9;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
    border: 1px solid #d3d3d3;
    font-weight: 500;position: relative;
}

.filter-result ol li .action.remove {
    right: 5px !important;
    color: #21293c;
    top: 4px !important;
}
.filter-current .item{
	margin-bottom: 0px;
}

.fafilterbtn{float: left;}

.faclose-filter{
	    width: 50%;
    background: #ffffff;
    color: #fff;
    width: 50%;
    height: 40px;
    line-height: 40px;
    /* background: #f3a626; */
    text-align: center;
    cursor: pointer;
    color: #212121;
    text-transform: uppercase;
    font-family: exo;
    letter-spacing: 0.4px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: none;
    float: left;
}

@media(min-width:769px){
	.sorter-label{    position: absolute;
    left: 20px;
    top: 7px;}
}
@media(max-width:768px){
	
	
	
	.sidebar.sidebar-main .filter-result{border: 0;}
	a.action.clear.filter-clear {
    width: 100%;
    text-align: center;
}
	
	
	.sidebar.sidebar-main .filter-result {
    padding: 0px !important;
}
	.filter-options-content .fa-search {
    left: 4px;
}
	
	.filter-result + .filter-actions {
      width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    box-sizing: border-box;
    padding: 10px 0px;
    float: left;
}
	.filter.active .filter-current {
    position: relative;
    left: 0;
    top: 0px;
    margin: 0;
    height: auto;
    border: 0;
    width: 100%;
    z-index: 10;
    padding: 16px 0;
    display: block;
    background-color: #fff;
    overflow-y: scroll;
    padding-bottom: 15px;
}
	
	#layered-filter-block .filter-options-title{font-size: 13px;}
	
	
	div#layer-product-list .sorter{
		position: fixed;
    bottom: 10px;
    right: 50%;
    z-index: 9;
    width: 125px;
    margin-right: -125px;
    background: #f3a626;
    border-radius: 4px;
    padding: 3px 10px;
    height: 41px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;    margin-bottom: 0px;
	}
	
	.sorter-label {
    margin-bottom: 0;
    line-height: 26px;
    font-weight: 400;
    float: left;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 13px;
    position: absolute;
    right: 0;
    left: 0px;
}
	
	.toolbar-sorter .sorter-options {
    width: 100%;
    font-size: 13px;
    border: 0px;
    background: rgba(243, 166, 38, 0);
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 0px;
    overflow: hidden;
    /* vertical-align: 2px; */
    top: 2px;
}
	.fafilter-apply{display: none !important;}
	#sorter option {
    background: #f3a626;
}
	#sorter option {
    background: #f3a626;
}
	
	#sorter option:first-child {
    background: transparent;
}
}
