<?php
/** @var \Mirasvit\Rewards\Block\Product\Points $block */
?>
<?php if ($block->isShowPoints()): ?>
    <?php if ($points = $block->getPointsFormatted()): ?>
        <div class="rewards__product-points sdsad">
            <?= $points ?> 
        </div>
    <?php elseif ($block->getIsProductPointsPossible()): ?>
        <div class="rewards__product-points">
            <?= __('Buy to earn %1', $this->helper('Mirasvit\Rewards\Helper\Data')->getPointsName()) ?>
        </div>
    <?php endif; ?>
<?php endif; ?>