<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var \Magento\Wishlist\Block\Link $block */
?>
<?php
    $login_customer =  $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
?>
<?php if($login_customer->customerLoggedIn()):?>
<li class="link wishlist" data-bind="scope: 'wishlist'">
    <div class="wishlist-cls">
        <span>Favorite</span>
        <a <?= /* @noEscape */ $block->getLinkAttributes() ?>><?= $block->escapeHtml($block->getLabel()) ?>
            <!-- ko if: wishlist().counter -->
            <span data-bind="text: wishlist().counter" class="counter qty"></span>
            <!-- /ko -->
        </a>
    </div>
</li>
<?php else:?>
  <li class="link wishlist">
    <div class="wishlist-cls trigger-auth-popup">
        <span>Favorite</span>
        <a href="javascript:void(0)"><?= $block->escapeHtml($block->getLabel()) ?>
        </a>
    </div>
</li>  
<?php endif?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }

</script>
