<?php
$orderBannerImage = $block->getOrderBanner();
$checkBanner = $block->checkOrderBanner();
$bannerUrl = $block->getOrderBannerUrl();
$orderData = ''; 
$customerId = $block->getCustomerId();
$topCategoryData = $this->helper('OM\HomepageTopProducts\Helper\Data');
$topSellingProducs = $topCategoryData->getTopSectionProductIds();
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
				
if($customerId){
$orderData = $block->getOrderCollectionByCustomerId($customerId)->getData();
}
?>
<?php if($orderData):?>
<div class="order-slider owl-carousel">
    <?php foreach($orderData as $order):?>
    <?php 
        $status = $order['status'];
        $orderIncrementId = $order['increment_id'];
        $orderEntityId = $order['entity_id'];
    ?>
    <div class="status-container">
        <div class="top-row">
            <h2 class="status-heading">Order Status</h2>
            <h3 class="order-id"><a
                    href="<?php echo '/sales/order/view/order_id/'.$orderEntityId ?>"><?php echo $orderIncrementId;?></a>
            </h3>
        </div>
        <div class="status-label">
            <?php if($status == 'canceled'):?>
            <span class="order-canceled active">Order Cancelled</span>
            <?php else:?>
            <span class="order-placed comonsection active">
                <span class="image"><img
                        src='<?php echo $this->getViewFileUrl('images/home_ordericon01.png'); ?>'></span>
                <span class="text">Order Placed</span>
            </span>
            <span
                class="order-packed comonsection <?php if($status == 'processing' || $status == 'Shipped' ||$status == 'Delivered' || $status == 'complete'){echo 'active';}?>">
                <span class="image"><img
                        src='<?php echo $this->getViewFileUrl('images/home_ordericon02.png'); ?>'></span>
                <span class="text">Packed</span>
            </span>
            <span
                class="order-shipped comonsection <?php if($status == 'Shipped' || $status == 'Delivered' || $status == 'complete'){echo 'active';}?>">
                <span class="image"><img
                        src='<?php echo $this->getViewFileUrl('images/home_ordericon03.png'); ?>'></span>
                <span class="text">Shipped</span>
            </span>
            <span class="order-deliver comonsection <?php if($status == 'Delivered'){echo 'active';}?>">
                <span class="image"><img
                        src='<?php echo $this->getViewFileUrl('images/home_ordericon04.png'); ?>'></span>
                <span class="text">Delivered</span>
            </span>
            <?php endif;?>
        </div>
    </div>
    <?php endforeach;?>
</div>
<?php else:?>
<div class="no-order-container hovereffect">
<?php if($topSellingProducs):?>
    <?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('homepage_first_product')
->toHtml();
?>    
    
 <?php else:?>
    <?php if($checkBanner):?>
    <a href="<?php echo $bannerUrl;?>">
        <img src="<?php echo $mediaUrl.'orderpagebanner/desktop/'.$orderBannerImage;?>" class="alternate-banner">
    </a>
    <?php else:?>
    <h2 class="no-orders">No Orders</h2>
    <?php endif;?>   
 <?php endif;?>   
</div>
<?php endif;?>
<script>
require(
    ['jquery', 'owl-carousel'],
    function($) {
        $('.order-slider').owlCarousel({
            loop: false,
            margin: 0,
            slideSpeed: 1000,
            smartSpeed: 800,
            dots: false,
            items: 1,
            autoplay: true,
            responsiveClass: true,
            scrollPerPage: true,
            lazyLoad: true,
            nav: false,
            rewindNav:false,
            slideBy: 1,
            autoPlay: 8000,
            autoplayHoverPause: true
        });

    });
</script>
</script>
<?php if($orderData):?>
<script>
require(['jquery', 'Countly'], function($, Countly) {
    var orderCount = "<?php echo count($orderData)?>";
    Countly.userData.set("total_orders", orderCount);
    Countly.userData.save();
});
</script>
<?php endif;?>