<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$now = new \DateTime();
	$data = [];
	$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<?php if($customerSession->isLoggedIn()) { ?>
<?php
	$email = $customerSession->getCustomer()->getEmail();

	$notificationEmailFactory = $objectManager->create('OM\PushNotification\Model\NotificationEmailsFactory');
	$collection = $notificationEmailFactory->create()->getCollection()
							            ->addFieldToFilter(
							                'email', $email
							            );

	foreach ($collection as $_data) {
		$pushnotificationId = $_data->getPushnotificationId();
		$notificationFactory = $objectManager->create('OM\PushNotification\Model\PushNotificationFactory');
		$result = $notificationFactory->create()->getCollection()
							            ->addFieldToFilter(
							                'pushnotification_id', $pushnotificationId
							            )
							            ->addFieldToFilter(
							                'status', 1
							            )
							            ->addFieldToFilter(
							            	['expired_at','expired_at'], [
								            								['gteq' => $now->format('Y-m-d').' 00:00:00'],
								            								['null'=> true]
							            								]
            							)
							            ->getLastItem()
							            ;
        if($result->getPushnotificationId()) {
        	$data[$pushnotificationId] = [$result->getTitle(), $result->getContent()];
    	}
    }
?>
<?php } ?>


<?php
	$notificationFactory = $objectManager->create('OM\PushNotification\Model\PushNotificationFactory');
	$collection = $notificationFactory->create()->getCollection()
								            ->addFieldToFilter(
								                'customer_group', 0
								            )
								            ->addFieldToFilter(
								                'status', 1
								            )
								            ->addFieldToFilter(
								            	['expired_at','expired_at'], [
									            								['gteq' => $now->format('Y-m-d').' 00:00:00'],
									            								['null'=> true]
								            								]
	            							);
    foreach ($collection as $id => $collData) {
    	$data[$id] = [$collData->getTitle(), $collData->getContent()];
    }
?>
<?php if($total = count($data)) { ?>
	<a href="javascript:void(0)" class="notification">
	    <img src='<?php echo $this->getViewFileUrl('images/bellicon-top.png'); ?>' width="24" alt="notiifaction">
	    <span class="Count"><?= $total ?></span>
	</a>
	<div class="notificationbox" style="display:none;">    
		<?php foreach ($data as $key => $value) { ?>
			<div class="list">
				<a href="<?= $block->getBaseUrl().'pushnotification/index/index/id/'.$key ?>">
		        	<h2><?= $value[0] ?></h2>
		        	<p><?= $value[1] ?></p>
		    	</a>
		   </div>
		<?php } ?>
	</div>
<?php } ?>
