<?php 
$now = new \DateTime();
$id = $this->getRequest()->getParam('id');

$redirect = true;
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$customerSession = $objectManager->get('Magento\Customer\Model\Session');  
if($customerSession->isLoggedIn()) {
    $email = $customerSession->getCustomer()->getEmail();

    $notificationEmailFactory = $objectManager->create('OM\PushNotification\Model\NotificationEmailsFactory');
    $collection = $notificationEmailFactory->create()->getCollection()
                                        ->addFieldToFilter(
                                            'email', $email
                                        )
                                        ->addFieldToFilter(
                                            'pushnotification_id', $id
                                        );
    if($collection->getSize()) {
        $notificationFactory = $objectManager->create('OM\PushNotification\Model\PushNotificationFactory');
        $result = $notificationFactory->create()->getCollection()
                                        ->addFieldToFilter(
                                            'pushnotification_id', $id
                                        )
                                        ->addFieldToFilter(
                                            'status', 1
                                        )
                                        ->addFieldToFilter(
                                            'expired_at', ['gteq' => $now->format('Y-m-d').' 00:00:00']
                                        )
                                        ->getLastItem()
                                        ; 
        if($result->getPushnotificationId()) {
            $redirect = false;
?>
    <fieldset class="fieldset" style="text-align: center;font-weight: 600;">
        <legend class="legend"><span><?= $result->getTitle() ?></span></legend><br>
        <div class="field note no-label"><?= $result->getContent() ?></div>
    </fieldset>
<?php
        }
    }                                   
}
?>

<?php
$notificationFactory = $objectManager->create('OM\PushNotification\Model\PushNotificationFactory');
    $result = $notificationFactory->create()->getCollection()
                                                ->addFieldToFilter(
                                                    'pushnotification_id', $id
                                                )
                                                ->addFieldToFilter(
                                                    'customer_group', 0
                                                )
                                                ->addFieldToFilter(
                                                    'status', 1
                                                )
                                                ->addFieldToFilter(
                                                    ['expired_at','expired_at'], [
                                                                                    ['gteq' => $now->format('Y-m-d').' 00:00:00'],
                                                                                    ['null'=> true]
                                                                                ]
                                                )
                                                ->getLastItem()
                                                ;
    if($result->getPushnotificationId()) {
        $redirect = false;
?>
    <fieldset class="fieldset" style="text-align: center;font-weight: 600;">
        <legend class="legend"><span><?= $result->getTitle() ?></span></legend><br>
        <div class="field note no-label"><?= $result->getContent() ?></div>
    </fieldset>
<?php       
    }
?>

<?php if($redirect) { ?>
<script type="text/javascript">
    window.location.href = "<?= $block->getBaseUrl() ?>";
</script>
<?php } ?>
