<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
?>

<div class="toolbar-sorter sorter">
    <label class="sorter-label" for="sorter"><?= $block->escapeHtml(__('Sort By')) ?></label>
     <div class="sort-list">
        <?php 
        $activeClass= '';
        $url = $_SERVER['REQUEST_URI']; 
        $query = "catalogsearch/result";
        $q = $this->getRequest()->getParam('q');
        if($q)
        $query .= "?q=$q";
        $searchUrl = $block->getBaseUrl().$query;
        ?>

          <?php $i=0; foreach ($block->getAvailableOrders() as $_key => $_order) :?>
              <li class="<?php echo $_key ; 
              if($i== 0 && (strpos($url, 'catalogsearch') === false)){ echo ' active';} 
              if (strpos($url,$_key) !== false) {
                echo ' active';
              }
              ?>"
              >
                  <?php if (strpos($url, 'catalogsearch') !== false):?>
                    <a href="<?php echo $searchUrl?>&product_list_order=<?= $block->escapeHtmlAttr($_key) ?>">
                  <?php else:?>  
                  <a href="?product_list_order=<?= $block->escapeHtmlAttr($_key) ?>">
                  <?php endif;?>  
                  <?= $block->escapeHtml(__($_order)) ?>
                </a>
              </li>
          <?php $i++; endforeach; ?>
    </div>

    <?php if ($block->getCurrentDirection() == 'desc') :?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Ascending Direction')) ?>"
           href="#"
           class="action sorter-action sort-desc"
           data-role="direction-switcher"
           data-value="asc">
            <span><?= $block->escapeHtml(__('Set Ascending Direction')) ?></span>
        </a>
    <?php else :?>
        <a title="<?= $block->escapeHtmlAttr(__('Set Descending Direction')) ?>"
           href="#"
           class="action sorter-action sort-asc"
           data-role="direction-switcher"
           data-value="desc">
            <span><?= $block->escapeHtml(__('Set Descending Direction')) ?></span>
        </a>
    <?php endif; ?>
</div>
<script>
  require(['jquery'],function($){
    if($('.sort-list .price_desc').hasClass('active')){
      $('.sort-list .price_desc').siblings().removeClass('active');
    }
    if($('.sort-list .price').hasClass('active')){
      $('.sort-list .price').siblings().removeClass('active');
    }
    if($('.sort-list .ratings_summary').hasClass('active')){
      $('.sort-list .ratings_summary').siblings().removeClass('active');
    }
    if($('.sort-list .newest').hasClass('active')){
      $('.sort-list .newest').siblings().removeClass('active');
    }
    if($('.sort-list .oldest').hasClass('active')){
      $('.sort-list .oldest').siblings().removeClass('active');
    }
  });
</script>
