<style>

</style>

<?php

/** @var Webkul\Rmasystem\Block\Adminhtml\Allrma\Edit $block */
/** @var OM\Rma\ViewModel\Rmasystem\Block\Adminhtml\Allrma\ViewRma $viewModel */

$rma = $block->getRmaDetail();
$viewModel = $block->getData('viewModel');

$customer_id = $rma->getData('customer_id');
$order_id = $rma->getData('order_id');

/* customer info */
$customer = $viewModel->getCustomer($customer_id);
$customer_name = $rma->getData('name');
$customer_email = $customer->getEmail();
$customer_shipping_address = $viewModel->getOrderShippingAddress($order_id);
$customer_shippping_mobile = $customer_shipping_address->getTelephone();
$street = $customer_shipping_address->getStreet();
$postcode = $customer_shipping_address->getPostcode();
$region = $customer_shipping_address->getRegion();

$site_url = $viewModel->getBaseUrl();
if (!empty($customer->getId())) {
} else {
?>
	<script>
		alert('Customer id has been deleted please try other ');
	</script>
<?php
	die();
}

$id = $rma->getRmaId();
$order = $block->getOrder($rma->getOrderId());
$helper = $this->helper("Webkul\Rmasystem\Helper\Data");

?>

<div class="admin__page-section-content rmadetailsTable">
	<table class="admin__table-secondary order-information-table">
		<tbody>
			<tr>
				<th><?php echo __("Order Id"); ?></th>
				<td><a>#<?php echo $rma->getIncrementId(); ?></a></td>
			</tr>
			<?php if (!$rma->getResolutionType() == 3) : ?>
				<tr>
					<th><?php echo __("Package Condition"); ?></th>
					<td>
						<?php if ($rma->getPackageCondition() == 0) {
							echo "<p>" . __("Open") . "</p>";
						} else {
							echo "<p>" . __("Packed") . "</p>";
						} ?>
					</td>
				</tr>
			<?php endif; ?>
			<tr>
				<th><?php echo __("Created On"); ?></th>
				<td>
					<p><?php echo $block->formatDate($rma->getCreatedAt(), \IntlDateFormatter::MEDIUM, true); ?></p>
				</td>
			</tr>
			<tr>
				<th><?php echo __("Customer Name"); ?></th>
				<td><?php echo $customer_name; ?></td>
			</tr>
			<tr>
				<th><?php echo __("Customer Email"); ?></th>
				<td><span><span>Email:</span><?php echo $customer_email; ?></span></td>
			</tr>
			<tr>
				<th><?php echo __("Customer Mobile"); ?></th>
				<td><?php echo $customer_shippping_mobile; ?></td>
			</tr>
			<tr>
				<th><?php echo __("Customer Pincode "); ?></th>
				<td><?php echo $region . " (" . $postcode . ")"; ?></td>
			</tr>
		</tbody>
	</table>


	<table class="admin__table-secondary order-account-information-table">
		<tbody>
			<tr>
				<th><?php echo __("Return Status"); ?></th>
				<td>
					<span>
						<?php echo "<strong class='wk_rma_status_pending'>" . $helper->getRmaStatusTitle($rma->getStatus()) . "</strong>"; ?>
					</span>
				</td>
			</tr>
			<?php if ($rma->getStatus() == 10) : ?>
				<tr>
					<th><?php echo __("Return AWB Number"); ?></th>
					<td>
						<span>
							<?php echo "<strong class='wk_rma_status_pending'>" . $rma->getData('admin_consignment_no') . "</strong>"; ?>
						</span>
						<span class="rma-button-track"><a class="awb-track-button" target="_blank" href="https://ecomexpress.in/tracking/?awb_field=<?php echo $rma->getData('admin_consignment_no'); ?>">Track</a></span>
					</td>
				</tr>
			<?php endif; ?>

			<?php if (!empty($rma->getCustomerConsignmentNo())) : ?>
				<tr>
					<th><?php echo __("Exchange AWB Number"); ?></th>
					<td>
						<span>
							<?php echo "<strong class='wk_rma_status_pending'>" . $rma->getData('customer_consignment_no') . "</strong>"; ?>
						</span>
						<span class="rma-button-track"><a class="awb-track-button" target="_blank" href="https://ecomexpress.in/tracking/?awb_field=<?php echo $rma->getCustomerConsignmentNo(); ?>">Track</a></span>
					</td>
				</tr>
			<?php endif; ?>

			<tr>
				<th><?php echo __("Product Delivery Status"); ?></th>
				<td>
					<span>
						<?php echo "<strong class='wk_rma_status_pending'>" . $helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus()) . "</strong>"; ?>
					</span>
				</td>
			</tr>
			<tr>
				<th><?php echo __("Resolution Type"); ?></th>
				<td>
					<?php if ($rma->getResolutionType() == 0) {
						echo "<p>" . __("Refund") . "</p>";
					} elseif ($rma->getResolutionType() == 1) {
						echo "<p>" . __("Exchange") . "</p>";
					} else {
						echo "<p>" . __("Cancel Item") . "</p>";
					} ?>
				</td>
			</tr>
			<tr>
				<th><?php echo __("Additional Information"); ?></th>
				<td>
					<p><?php echo nl2br(strip_tags($rma->getAdditionalInfo())); ?></p>
				</td>
			</tr>
			<tr>
				<th><?php echo __("Internal Remark"); ?></th>
				<td>
					<p>
						<?php echo nl2br(strip_tags($rma->getSellerRemark())); ?>

					</p>
				</td>
			</tr>

			<tr>
				<th><?php echo __("Remark For Customer"); ?></th>
				<td>
					<p>
						<?php echo $helper->getRemarkForCustomerById($rma->getData('remark_for_customer')); ?>

					</p>
				</td>
			</tr>

			<!-- custom field block -->
			<?php echo $this->getChildHtml('rma.allrma.customfield'); ?>
		</tbody>
	</table>

	<style>
		.wk_rma_add_images {
			width: 20%;
			padding: 1%;
		}

		.product-image-heading {
			font-size: 20px !important;
			font-weight: 600 !important;
			margin: 6px 0px 14px;
			display: inline-block;
		}

		.product-images {
			clear: both;
			margin: 2% 0%;
		}
	</style>

	<div class="product-images">
		<span class="product-image-heading">Product Images</span>
		<div id="wk_rma_add_images_container">
			<?php
			$images = $block->getImages();
			foreach ($images as $filename) {
				$getfilename = explode("/", $filename);
				$justfname = $block->getBaseUrl() . "/" . end($getfilename); ?>
				<a href="<?= $justfname ?>" target="_blank"><img class='wk_rma_add_images' alt='<?= end($getfilename) ?>' src='<?= $justfname ?>' /></a>
			<?php }	?>
		</div>
	</div>


</div>



<div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
	<!-- ko template: getTemplate() -->
	<!-- /ko -->
	<script type="text/x-magento-init">
		{Webkul\Rmasystem\Helper\Data
							"#view-rma-component": {
									"Magento_Ui/js/core/app":  <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
							}
					}
					</script>
	<section class="admin__page-section">
		<div class="admin__page-section-title" style="clear:both">
			<span class="title"><?php echo __("Item(s) Requested for Return"); ?></span>
		</div>
		<div class="admin__table-wrapper">
			<table class="data-table">
				<thead>
					<tr>
						<th><?php echo __("Product Name"); ?></th>
						<th><?php echo __("SKU"); ?></th>

						<th class="a-right"><?php echo __("Reason"); ?></th>
						<th class="a-right"><?php echo __("Product Price"); ?></th>
						<th class="a-right"><?php echo __("Return Qty"); ?></th>
						<th class="a-right"><?php echo __("Total (Excluding Shipping)"); ?></th>

					</tr>
				</thead>
				<tbody>
					<?php
					$orderItems = $block->getItemCollection($id);
					$download_count = count($orderItems);
					$download = 0;
					$subtotal = 0;
					$itemIds = [];
					foreach ($orderItems as $item) {
						$itemIds[] = $item->getItemId();
						$mageItem = $block->getSalesOrderItemDetail($item->getItemId());
						$product = $block->getProductDetail($mageItem->getProductId());
						if ($product->getTypeId() == 'downloadable' || $product->getTypeId() == 'virtual') {
							$download++;
						}

						$reason = $block->getReason($item->getReasonId())->getReason();


					?>
						<tr class="border">
							<td>
								<h3 class="product-name"><?php echo $mageItem->getName(); ?></h3>
							</td>
							<td><?php echo $mageItem->getSku(); ?></td>

							<td class="a-right"><?php echo $reason; ?></td>
							<td class="a-right"><?php echo $order->formatPrice($mageItem->getPrice()); ?></td>
							<td class="a-right"><?php echo $item->getQty(); ?></td>
							<td class="a-right"><?php $totalPrice = $mageItem->getPrice() * $item->getQty();
																	echo $order->formatPrice($totalPrice);
																	$subtotal += $totalPrice;
																	?></td>

						</tr>
					<?php 	} ?>
					<tr>
						<td colspan="4"></td>
						<th>Subtotal (Ex. shipping) </th>
						<td><?= $order->formatPrice($subtotal) ?></td>
					</tr>

				</tbody>
			</table>
		</div>
	</section>
</div>
<?php if ($rma->getStatus() != '2' &&  $rma->getStatus() != '3'  && $rma->getStatus() != '12' && $rma->getStatus() != '14' && $rma->getStatus() != '10') : ?>


	<div class="process-return-container">
		<div class="process-return-heading" style="clear:both">
			<span class="title"> Process Return </span>
		</div>
		<div class="form_main_div process-return-content">

			<form id="return_management_form" action="<?php echo $site_url ?>rms/creditnote/generate" method="post">

				<input type="hidden" name="rma_id" value="<?php echo $id ?>">
				<div class="rm_form_div">
					<p class="form_headings">Select Action</p>
					<span class="current-status">Customer Asked For <?php echo $rma->getResolutionType() == 0 ? 'Refund' : 'Exchange'; ?></span>
					<?php if ($rma->getStatus() == '13') : ?>
						<span class="current-status">Reverse Pickup Completed</span>
					<?php endif; ?>
					<?php if ($rma->getStatus() == '10') : ?>
						<span class="current-status">Reverse Pickup In Progresss</span>
					<?php endif; ?>

					<select name="rma_action" id="rma_action_id" required="required">
						<option value=""> Select Action </option>
						<option value="acknowledge"> Acknowledge Return Request </option>
						<option value="reject"> Reject Return Request</option>
					</select>
				</div>

				<?php if ($rma->getStatus() != '13' && $rma->getStatus() != '10') : ?>
					<div class="form_second_level_option">
						<div class="rm_form_div">
							<select name="rma_action_second" required id="rma_action_id_second">
								<option value=""> Select Action </option>
								<option value="schedule_reverse_pickup"> Schedule Return Pickup </option>
								<option value="no_reverse_pickup"> Proceed for Refund </option>
							</select>
						</div>
					</div>
				<?php endif; ?>

				<?php if ($rma->getStatus() == '13') : ?>
					<div class="form_second_third_option">
						<div class="rm_form_div">
							<select name="rma_action_third" required id="rma_action_id_third">
								<option value=""> Select Action </option>
								<option value="send_replacement"> Send replacement (Exchange) </option>
								<option value="no_replacement"> Proceed for Refund </option>
							</select>
						</div>
					</div>
				<?php endif; ?>

				<?php /*
					$damagedItemHelper = $this->helper('OM\Rma\Helper\DamagedItem\Data');
					foreach($itemIds as $item_id):
						$check = $damagedItemHelper->isApplicableForInsuranceByRmaId($id, $item_id);
						if(!empty($check)):
							$mageItem = $block->getSalesOrderItemDetail($item_id);
							$sku = $mageItem->getSku();
				?>
					<div class="form_second_fourth_option">
						<div class="rm_form_div">
							<select name="rma_action_fourth" required id="rma_action_id_fourth">
								<option value=""> <?php echo __("Initiate calim for [SKU : $sku ]") ?> </option>
								<option value="<?= $item_id ?>"> <?php echo __("Yes") ?> </option>
								<option value="no"> <?php echo __("No") ?> </option>
							</select>
						</div>
					</div>
				<?php
						endif; 
					endforeach; 
					*/
				?>

				<?php
					$damagedItemHelper = $this->helper('OM\Rma\Helper\DamagedItem\Data');
					$applcable_items = $damagedItemHelper->isApplicableForInsuranceByRmaId($id, null);
				?>

				<?php if(!empty($applcable_items)): ?>
					<div class="rm_form_div" id="rma_action_id_fourth" style="display:none">
						<p class="form_headings"><?= __('Initiate insurance claim') ?></p>
						<table border="1">
							<tr>
								<th><?= __('SKU')?></th>
								<th><?= __('Confirm') ?></th>
							</tr>
							<?php
								foreach($applcable_items as $items_data):
									$item_id = $items_data['item_id'];
									$mageItem = $block->getSalesOrderItemDetail($item_id);
									$sku = $mageItem->getSku();
								?>

								<tr>
									<td><?php echo $mageItem->getSku(); ?></td>
									<td>
										<select class="shippping_charge_calculate" name="rma_action_fourth_<?= $item_id ?>" required id="rma_action_fourth_<?= $item_id ?>">
											<option value="yes" selected> Yes </option>
											<option value="no"> No </option>
										</select>
									</td>
								</tr>
							<?php endforeach; ?>
						</table>
					</div>
				<?php endif;?>

				<!-- <div class="form_second_fourth_option">
					<div class="rm_form_div">
						<select name="rma_action_fourth" required id="rma_action_id_fourth">
							<option value=""> <?php echo __("Initiate insurance calim") ?> </option>
							<option value="yes"> <?php echo __("Yes") ?> </option>
							<option value="no"> <?php echo __("No") ?> </option>
						</select>
					</div>
				</div> -->


				<div class="rm_form_div">
					<p class="form_headings">Internal Remark</p>
					<textarea id="seller_remark_id" required name="seller_remark" id="" cols="30" rows="10"></textarea>
				</div>

				<div class="rm_form_div">
					<p class="form_headings">Remark For Customer</p>
					<select name="remark_for_customer" required id="remark_for_customer">
						<option value=""> Select Action </option>
						<?php
						$remark_array = $helper->getRemarkForCustomer();
						foreach ($remark_array as $key => $value) {
							echo "<option value='$key'>$value</option>";
						}
						?>
					</select>
				</div>

				<div class="rm_form_div" id="shipping_charge_div" style="display:none">
					<p class="form_headings">Return Shipping Charges </p>
					<table border="1">
						<tr>
							<th>sku</th>
							<th>return shipping</th>
						</tr>
						<?php $item_id_array = [];
						$orderItems = $block->getItemCollection($id);

						foreach ($orderItems as $item) {
							$itemId = $item->getItemId();
							$item_id_array[] = $itemId;
							$mageItem = $block->getSalesOrderItemDetail($item->getItemId());
						?>

							<tr>
								<td><?php echo $mageItem->getSku(); ?></td>
								<td>
									<select class="shippping_charge_calculate" name="return_shipping_<?= $itemId ?>" required id="return_shipping_<?= $itemId ?>">
										<option value="" selected> Select </option>
										<option value="yes"> Yes </option>
										<option value="no"> No </option>
									</select>
								</td>
							</tr>
						<?php } ?>
					</table>

					<p class="total_show">Refunded Amount : <span id="total_to_be_refunded"></span></p>
				</div>

				<div class="rm_form_div">
					<?php if ($rma->getStatus() == '10') : ?>
						<p>Please Wait Till Reverse Pickup Is Complete</p>
					<?php else : ?>
						<button type="submit">Submit</button>
					<?php endif; ?>
				</div>
			</form>
		</div>
	</div>

	<script>
		require(['jquery'], function($) {
			$(".shippping_charge_calculate").change(function() {
				var total = 27;
				var item_array = [];
				<?php foreach ($item_id_array as $key => $id) : ?>
					var value = $("#return_shipping_<?= $id ?>").val();
					item_array[<?= $key ?>] = {
						"item_id": '<?= $id ?>',
						"shipping_option": value,
						"rma_id": '<?= $rma->getRmaId() ?>'
					};
				<?php endforeach; ?>
				$.ajax({
					type: "POST",
					url: "<?= $site_url ?>/rms/rma/calculaterefund",
					data: JSON.stringify(item_array),
					contentType: "application/json",
				}).
				done(function(data) {
					console.log(data);
					$("#total_to_be_refunded").html(data);
				});
			});
		});
	</script>

<?php elseif ($rma->getStatus() == '2') : ?>
	<?php
	$credit_memo_id = $rma->getCreditMemoId();
	$creditmemo_amount = $viewModel->getCreditMemoAmount($credit_memo_id);
	?>
	<div class="status-solved">
		<div class="rma-stataus"> Rma Solved</div>
		<?php if ($creditmemo_amount) : ?>
			<?php foreach ($creditmemo_amount as $credit_memo) : $grandtotal = $credit_memo['grand_total']; ?>
				<p class="total_show">Total Amount Refunded : <?= $grandtotal ?></p>
			<?php endforeach; ?>
		<?php endif; ?>
	</div>
<?php elseif ($rma->getStatus() == '3') : ?>
	<div class="status-rejcted">
		<div class="rma-status">
			Rma Rejected
		</div>
	</div>
<?php elseif ($rma->getStatus() == '12') : ?>
	<div class="status-rejcted">
		<div class="rma-status">
			Exchange In Progress
		</div>
	</div>
	<div class="status-solved">
		<a class="shipping-lable" href="<?= $site_url ?>exchange_shipping_label.php?order=<?= $rma->getIncrementId() ?>&rma_id=<?= $rma->getRmaId() ?>">
			Shipping Label
		</a>
	</div>
<?php elseif ($rma->getStatus() == '10') : ?>
	<div class="status-rejcted">

	</div>
<?php elseif ($rma->getStatus() == '14') : ?>
	<div class="status-rejcted">
		<div class="rma-status">
			Item Exchanged
		</div>
	</div>
<?php endif; ?>

<script>
	require(['jquery'], function($) {
		$('#rma_action_id_fourth').attr('required', false);
		$('#rma_action_id_fourth').hide();
		
		$("#rma_action_id").change(function() {
			var action_value = $(this).val();
			if (action_value == 'acknowledge') {
				$("div.form_second_level_option").show();
				$('#rma_action_id_second').attr('required', true);

			} else {
				$('#rma_action_id_second').attr('required', false);
				$("div.form_second_level_option").hide();

				$('#rma_action_id_third').attr('required', false);
				$("div.form_second_third_option").hide();

				$("#shipping_charge_div").hide();
				$('.shippping_charge_calculate').attr('required', false);
			}
		});
		$("#rma_action_id_second").change(function() {
			var action_value = $(this).val();
			if (action_value == 'no_reverse_pickup') {
				var fist_action_value = $('#rma_action_id').val();
				if (fist_action_value == 'acknowledge') {
					$("#shipping_charge_div").show();
					$('.shippping_charge_calculate').attr('required', true);

					$('#rma_action_id_fourth').attr('required', true);
					$('#rma_action_id_fourth').show();

				}
			} else {
				$("#shipping_charge_div").hide();
				$('.shippping_charge_calculate').attr('required', false);

				$('#rma_action_id_fourth').attr('required', false);
				$('#rma_action_id_fourth').hide();
			}
		});
		$("#rma_action_id_third").change(function() {
			var action_value = $(this).val();
			if (action_value == 'no_replacement') {
				var fist_action_value = $('#rma_action_id').val();
				if (fist_action_value == 'acknowledge') {
					$("#shipping_charge_div").show();
					$('.shippping_charge_calculate').attr('required', true);

					$('#rma_action_id_fourth').attr('required', true);
					$('#rma_action_id_fourth').show();
				}
			} else {
				$("#shipping_charge_div").hide();
				$('.shippping_charge_calculate').attr('required', false);
				
				$('#rma_action_id_fourth').attr('required', false);
				$('#rma_action_id_fourth').hide();
			}
			if(action_value == 'send_replacement'){
				var fist_action_value = $('#rma_action_id').val();
				if (fist_action_value == 'acknowledge') {
					$('#rma_action_id_fourth').attr('required', true);
					$('#rma_action_id_fourth').show();
				}
			}else{
				$('#rma_action_id_fourth').attr('required', false);
				$('#rma_action_id_fourth').hide();
			}
		});

	});
</script>

<script type="text/javascript">
	require([
		'jquery',
		'owl.carousel/owl.carousel.min'
	], function($) {

		$(".bestsold-sliders").owlCarousel({
			autoplay: true,
			autoplayTimeout: 5000,
			autoplayHoverPause: true,
			loop: true,
			navRewind: true,
			margin: 0,
			nav: true,
			navText: ["<em class='porto-icon-left-open-huge'></em>", "<em class='porto-icon-right-open-huge'></em>"],
			dots: false,
			responsive: {
				0: {
					items: 1
				},
				768: {
					items: 2
				},
				992: {
					items: 3
				},
				1200: {
					items: 4
				}
			}
		});

	});
</script>