<div class="entry-edit form-inline">
    <form id="edit_form" enctype="multipart/form-data" action="<?php echo $block->getUrl('marketplace/order_invoice/download'); ?>" method="post" novalidate="novalidate">
        <div><input name="form_key" type="hidden" value="<?php /* @escapeNotVerified */ echo $block->getFormKey() ?>"></div>
        <fieldset class="fieldset admin__fieldset fieldset-wide" id="base_fieldset">
            <legend class="admin__legend legend">
                <span>Bulk Invoice Export</span>
            </legend><br>
		    <div class="messages"></div>
        	<div class="admin__field field field-seller_id  required _required" data-ui-id="adminhtml-export-export-0-form-fieldset-element-form-field-seller-id">
                <label class="label admin__field-label" for="seller_id" data-ui-id="adminhtml-export-export-0-form-fieldset-element-select-seller-id-label"><span>Select Seller</span></label>
            	<div class="admin__field-control control">
                	<select id="seller_id" name="seller_id" title="Select Seller" class=" required-entry _required select admin__control-select" data-ui-id="adminhtml-export-export-0-form-fieldset-element-select-seller-id" aria-required="true">
						<option value="" selected="selected">Select Seller</option>
						<?php foreach ($block->getSellers() as $seller) { ?>
							<option value="<?= $seller->getSellerId() ?>"><?= $seller->getShopUrl() ?></option>
						<?php } ?>
					</select>
                </div>
            </div>

            <div class="field admin__field required _required">
			    <label class="admin__field-label label">
			        <span><?php echo __('From Date')?></span>
			    </label>
			    <div class="admin__field-control control">
			        <input class="admin__control-text required-entry _required" name="from-date" id="from_date" type="text" autocomplete="off">
			    </div>
			</div>

			<div class="field admin__field required _required">
			    <label class="admin__field-label label">
			        <span><?php echo __('To Date')?></span>
			    </label>
			    <div class="admin__field-control control">
			        <input class="admin__control-text required-entry _required" name="to-date" id="to_date" type="text" autocomplete="off">
			    </div>
			</div>
    
        	<div class="admin__field field" data-ui-id="adminhtml-export-export-0-form-fieldset-element-form-field-product-type">
                <label class="label admin__field-label"><span></span></label>
            	<div class="admin__field-control control">
					<button style="display:block; margin-top:15px;" type="submit" class="button" id="export-product">
						<span><span>Export Invoices</span></span>
					</button>
                </div>
            </div>
        </fieldset>
	</form>
</div>
<script type="text/javascript">
    require(["jquery", "mage/calendar"], function ($) {
        $('#from_date, #to_date').datepicker({
                prevText: '&#x3c;zurück', prevStatus: '',
                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                nextText: 'Vor&#x3e;', nextStatus: '',
                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                monthNames: ['January', 'February', 'March', 'April', 'May', 'June',
                    'July', 'August', 'September', 'October', 'November', 'December'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Sunday ', 'Monday', 'Tuesday ', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
                dayNamesShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                showMonthAfterYear: false,
                dateFormat: 'mm/dd/yy'
            }
        );
    });
</script>