<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
// phpcs:disable Magento2.Security.LanguageConstruct.DirectOutput
// phpcs:disable Magento2.PHP.ShortEchoSyntax.ShortEchoTag

/** @var $block \Magento\Ui\Block\Wrapper */
?>
<?php $ajaxUrl = $block->getUrl('homepagetopproducts/index/suggested');?>

<?php /* @noEscape */ $viewd = $block->renderApp([
    'widget_columns' => [
        'displayMode' => 'grid'
    ],
    'image' => [
        'imageCode' => 'recently_viewed_products_grid_content_widget'
    ]
]);

if($viewd){ ?>
<div class="ajax-result"><?php echo $this->getLayout()->createBlock("OM\HomepageTopProducts\Block\Topproducts")->setTemplate("OM_HomepageTopProducts::suggested-product.phtml")->toHtml();?></div>
<?php 
    echo $viewd;
}
else{ ?>
    <div class="ajax-result"><?php echo $this->getLayout()->createBlock("OM\HomepageTopProducts\Block\Topproducts")->setTemplate("OM_HomepageTopProducts::suggested-product.phtml")->toHtml();?></div>
<script>
<?php } ?>
<?php /* ?>
<div class="ajax-result"><?php echo $this->getLayout()->createBlock("OM\HomepageTopProducts\Block\Topproducts")->setTemplate("OM_HomepageTopProducts::suggested-product.phtml")->toHtml();?></div>
<script>
    require(
    ['jquery', 'jquery/ui', 'owl-carousel'], 
    function($) {   
    var recentView = JSON.parse(localStorage.getItem('recently_viewed_product')); 
    if(recentView && Object.keys(recentView).length != 0){
        $('.ajax-result').hide();
    } 
    else{
        console.log('s');
        jQuery.ajax({
        url:  '<?php echo $ajaxUrl ?>',
        dataType:'html',
        success:function(response){
            jQuery('.ajax-result').html(response);
        },
        });
    }   
});
</script>
<?php */ ?>
<style>
    .block.widget .products-grid .product-items:not(.owl-loaded) .product-item:not(:first-child) {
        display:none
    }
    .homepagemainbanner .browsinghistory .block.widget {
        background: #fff;
    }
</style>

