.filter-content .item input[type="checkbox"]:not(:checked) + span:before, .filter-content .item input[type="checkbox"]:checked + span:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 11px;
    height: 11px;
    border: 1px solid #000;
    background: #fff;
}

.filter-content .item input[type="checkbox"]:not(:checked) + span, .filter-content .item input[type="checkbox"]:checked + span{
    position: relative;
    padding-left: 1.2em;
    cursor: pointer;
}
.filter-content .item input[type="checkbox"]:checked + span:after {
       content: "";
    position: absolute;
    top: 4.5px;
    left: 2px;
    font-size: 19px;
    line-height: 0.8;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    transition: all 0.2s ease 0s;
    background: #000;
    width: 7px;
    height: 7px;
}
.filter-content .item input[type="checkbox"]:not(:checked), .filter-content .item input[type="checkbox"]:checked {
    opacity: 0;
    position: absolute;
}