// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 4px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

body{
    font-family: 'Conv_DINOT-Light';
    font-weight: normal;
}

& when (@media-common = true) {
    //  Product Lists
    .products {
        margin: @indent__l 0;
    }

    .product {
        &-items {
            .lib-inline-block-space-container();
            &:extend(.abs-reset-list all);
        }

        &-item {
            .lib-inline-block-space-item();
            vertical-align: top;

            .products-grid & {
                display: inline-block;
                margin-left: 2%;
                width: calc(~'(100% - 2%)/2');
            }

            &:nth-child(2n + 1) {
                margin-left: 0;
            }

            &:extend(.abs-add-box-sizing all);

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
                width: 152px;

                .page-products & {
                    width: 240px;
                }
            }

            &-actions {
                font-size: 0;

                > * {
                    font-size: 1.4rem;
                }

                .actions-secondary {
                    display: inline-block;
                    font-size: 1.4rem;
                    vertical-align: middle;

                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }
                        line-height: 35px;
                        text-align: center;
                        width: 35px;

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }

                .actions-primary {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                }
            }

            .price-box {
                //margin: @indent__s 0 @indent__m;
                margin-bottom: 40px;
                padding-top: 20px;

                .price {
                    font-weight: @font-weight__bold;
                    white-space: nowrap;
                }

                .price-label {
                    .lib-css(color, @product-price__muted__color);
                    font-size: @font-size__s;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: 0;
            }

            &-item {
                padding-left: 0;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            //&:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
//    .product-item-info {
//        .products-grid & {
//            &:hover,
//            &.active {
//                .lib-css(background, @product-item__hover__background-color);
//                .lib-css(box-shadow, @product-item__hover__box-shadow);
//                border: 1px solid @color-gray-light2;
//                margin: -10px;
//                padding: 9px;
//                position: relative;
//                z-index: 9;
//
//                .product-item-inner {
//                    display: block;
//                }
//                .sidebar & {
//                    .product-item-photo {
//                        left: 9px;
//                        top: 9px;
//                    }
//                }
//            }
//        }
//    }

    .product-item-inner {
        .products-grid & {
            // .lib-css(background, @product-item__hover__background-color);
            // .lib-css(box-shadow, @product-item__hover__box-shadow);
            // border: 1px solid @color-gray-light2;
            // border-top: none;
            // left: 0;
            // margin: 10px 0 0 -1px;
            // padding: 0 9px 9px;
            // position: absolute;
            // right: -1px;
            // z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: inline-block;
            vertical-align: middle;

            > .action {
                line-height: 35px;
                text-align: center;
                width: 35px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: inline-block;
        }
    }

    .page-products {
        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: -1;
                }
            }
        }

        .product-item-actions {
            z-index: 1;
        }
    }

    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }

    .products-grid {
        .product-item {
            margin-bottom: @indent__base;
            width: 100%/3;
            .stock {
                &.unavailable {
                    position: relative !important;
                    text-align: center;
                }
            }
            .product.details.product-item-details  {
                padding-top: 20px;
                margin-bottom: 40px;
            }
        }
    }

    .page-products,
    .page-layout-1column,
    .page-layout-3columns,
    .page-products.page-layout-1column,
    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                //margin-left: 0;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    //margin-left: 0;
                }
            }
        }
    }

    .block.widget .products-grid .product-item,
    .page-layout-1column .block.widget .products-grid .product-item,
    .page-layout-3columns .block.widget .products-grid .product-item {
        .product-item-inner {
            box-shadow: 3px 6px 4px 0 rgba(0, 0, 0, .3);
            margin: 9px 0 0 -1px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-products {
        .products-grid {
            .product-item {
                margin-left: 2%;
                width: calc(~'(100% - 4%) / 3');

                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .products-grid {
        .product-item {
            width: 100%/5;
        }
    }

    .page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/6;
            }
        }
    }

    .page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-items {
                margin: 0;
            }

            .product-item {
                margin-left: 2%;
                padding: 5px;
                width: calc(~'(100% - 6%)/4');

                &:nth-child(3n + 1) {
                    margin-left: 2%;
                }

                &:nth-child(4n + 1) {
                    margin-left: 0;
                }
            }
        }
    }

    .page-products {
        &.page-layout-1column {
            .products-grid {
                .product-item {
                    margin-left: 0;
                    width: 100%/5;
                }
            }
        }

        &.page-layout-3columns {
            .products-grid {
                .product-item {
                    margin-left: 1%;
                    width: 32.667%;

                    &:nth-child(3n) {
                        margin-left: 1%;
                    }

                    &:nth-child(3n + 1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

.page-products {
    .homebtmcrowsel{
        .innersection{
            display: block;
        }
    } 
    .homebtmcrowsel.col-xl-12{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 96px;
    }
    .breadcrumbs {
        padding: 0;
        li {
            font-size: 18px;
            font-family: @font-family-light;
        }
    }
    #maincontent {
        padding-top: 0px;
    }
    .page-title-wrapper {
        h1 {
            color: #f5a622;
            font-size: 24px;
            font-family: @font-family-medium;
            margin: 0;
            padding: 0 0 20px 0;
        }
    }
    .brandedpartshome {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        .innersection{
            .content{
                font-size: 20px;
                a{
                    display: inline-block;
                    font-size: 20px;
                }
            }
        } 
    }
    .homebtmcrowsel {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 30px;
        .product-item {
            width: 100% !important;
        }
    }
    .rating-summary .rating-result > span:before {
        color: #eaa92e;
    }
    .reviews-actions {
        display: none;
    }    
    .product-item .product-reviews-summary .rating-summary {
        left: 0;
        overflow: visible;
    }
    .column.main {
        width: 100% !important;
        padding: 0;
    }
    .field.limiter {
        display: none;
    }
    .pages {
        float: none;
        .item {
            padding: 0 10px;
            font-family: @font-family-medium;
            font-size: 26px;
            a {
                color: #010101;
            }
            strong {
                padding: 0;
            }
            &.current {
                border: solid 1px #000;
                color: #010101;
            }
            .action {
                background: none;
                box-shadow: none;
            }
        }
    }
}

.page-products.filter-active.overflow-hiddenmenu main#maincontent {
    position: relative;
    z-index: -1;
}

.page-products{
    .shop-all-button{
        display: none;
    }
    .latest-deals-products-container{
        .owl-dots{
            top: 47px;
            left: 15px;
            right: 15px;
        }
    } 
    .products-grid{
        margin-bottom: 10px !important;
    }
    .products-grid{
        .products.list{
            li{
                .product-item-name{
                    margin-top: 0;
                    padding: 20px 30px 0;
                }
            } 
        } 
    } 
}

.products-grid {
    .products.list {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-top: 30px;
        li {
            width: 49%;
            border:solid 1px #a5a4a4;
            border-radius: 20px;
            margin-bottom: 30px;
            padding: 10px;
            position: relative;
            transition: .5s all ease;
            .product-item-name {
                text-align: center;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }
            .product-item-info {
                width: 100%;
            }
            &:hover {
                box-shadow: 0 0 10px 5px #eee;
//                z-index: 999;
                position: relative;
                a {
                    text-decoration: none;
                    color: #e9a627;
                }
                .product-item-info {
                    background: none;
                    box-shadow: none;
                    border: none;
                    padding: 0;
                    width: 100%;
                }                
            }
            .product-item-inner {
                display: block;                                   
                width: 100%;
                padding: 0;
                border: none;
                box-shadow: none;
                margin: 0;
                .product-item-actions {
                    width: 100%;
                    text-align: center;
                    .actions-secondary { 
                        .buynow-btn {
                            display: none;
                        }
                    }
                    .actions-secondary-cls {
                        width: calc(~"50% - 1px");
                        display: inline-block;
                        vertical-align: middle;
                        float: left;
                        display: none;
                        .action.compatibility.primary{
                            background: #f5a620 url(../images/compatibility.png) no-repeat 20px 10px;
                            border: none;
                            width: 100%;
                            color: #000000;                            
                            text-transform: uppercase;
                            font-family: @font-family-medium;
                            font-size: 13px;
                            padding: 10px;
                            border-radius: 0px;
                            background-size: 26px;
                            font-weight: normal;
                            padding-left: 50px;
                            height: 39px;
                        }
                    }                    
                    .actions-primary {
                        width: calc(~"50% - 1px");
                        float: none;
                        button {
                            background: #40549d url(../images/cart.svg) no-repeat 20px 6px;
                            border: none;
                            width: 100%;
                            color: #fff;                            
                            text-transform: uppercase;
                            font-family: @font-family-medium;
                            font-size: 13px;
                            padding: 10px;
                            border-radius: 4px;
                            background-size: 26px;
                            font-weight: normal;
                            padding-left: 50px;
                            height: 39px;
                        }
                    }
                }
            }
            .stock.unavailable {
                position: relative;
                color: #e9a627;              
                font-family: @font-family-medium;
                height: 39px;
                line-height: 39px;                
            }            
            .companyname {
                color: #2d6dab;
                padding-top: 20px;
                text-align: center;
                font-family: @font-family-medium;
            }
            .product-desc {
                text-align: center;
                padding: 0 10px;
                a {
                    font-size: 16px;
                    color: #585858;
                    line-height: normal;
                    display: inline-block;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                }
            }
            .product-item-details {
                text-align: center;
                padding: 0;
                span {
                    &.price {
                        color: #000;
                        font-family: @font-family-medium;
                        font-size: 2rem;
                        font-weight: normal;
                    }
                }
            }
            .product-hover {
                display: none !important;
            }
            .price-box.price-final_price {
                span.price-label {
                    display: none;
                }
            }
            .old-price {
                span.price {
                    text-decoration: line-through;
                    opacity: 0.5;
                    padding-left: 10px;
                }
            }
        }
    }
}
.toolbar-sorter {
    &.sorter {
        float: none;
        width: 991px;
        display: flex;
        justify-content: space-between;
        background: #273c97;
        color: #fff;
        border-radius: 10px;
        font-family: @font-family-medium;
        .sorter-label {
            color: #fff;
            font-size: 16px;
            padding: 5px 20px;
            margin: 0px;
        }
        .sort-list {
            display: block;
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            background: #fff;
            li{
                margin: 0;
                border-top: 1px solid #a5a4a4;
            }
            a {
                font-size: 14px;
                color: #212529;
                text-decoration: none;
                transition: .5s all ease;
                display: block;
                padding: 6px 20px;
                text-align: left;
                font-family: 'Conv_DINOT-Medium';
                font-weight: normal;
                &:hover {
                    background: #f5a622;
                }
                &.active {
                    background: #f5a622;  
                }
            }
            li {
                &.active {
                    a {
                       background: #f5a622; 
                    }
                }
            }
        }
        .action.sorter-action.sort-asc {
            display: none;
        }
    }
}
.toolbar {
    &.toolbar-products {
        .modes {
            display: none;
        }
        .toolbar-amount {
            display: none;
        }
    }
}
.toolbar {
    margin-bottom: 24px;
}
#layered-filter-block-container {    
    .filter-current {
        padding: 20px 20px 0 20px;
        font-size: 16px;
        color: #151515;
        .items{
            .item{
                .filter-label{
                    font-weight: normal;
                }
            }
        }
        li {
            a {
                &.action.remove {
                    display: inline-block;
                    margin-top: 10px;
                    color: #151515;
                    font-family: @font-family-medium;
                    font-weight: normal;
                    border-bottom: none;
                    font-size: 14px;
                    &:after {
                        content: "\f00d";
                        font-family: 'FontAwesome';
                        color: #000;
                        font-weight: 100;
                        font-size: 14px;
                        margin-left: 10px;
                    }
                    span{
                        display: none;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .block-actions {
        &.filter-actions {
            padding: 10px 25px;
            margin: 0;
            .filter-clear {
                color: #fff;
                font-family: @font-family-medium;
                font-size: 12px;
                padding: 0px 20px;
                text-decoration: none;
                transition: .5s all ease;
                background: #273c97;
                border-radius: 10px;
                display: inline-block;
                text-align: center;
                text-transform: uppercase;
            }
        }
    }
    .block-title {
        &.filter-title {           
            strong {
                position: absolute;
                top: 35px;
                left: inherit;
                right: 0px;
                text-align: center;
                box-shadow: none;
                border-radius: 0;
                cursor: pointer;
                line-height: 32px;
                z-index: 2;
                width: 50%;
                left: 0px;
                height: 32px;
                border: 1px solid #a5a4a4;
                padding: 0px 0px 0px 20px;
                font-weight: normal;
                font-size: 16px;
                font-family: 'Conv_DINOT-Medium';                
                text-align: left;
                &:after{ 
                  position:absolute; 
                  right: 15px; 
                  font-size: 14px; 
                  content:'\f107'; 
                  font-family: FontAwesome;
                  line-height:30px;
                  font-weight: 600;
                }
            }
        }
    }
    .filter-options {
        .filter-options-title {
            font-size: 18px !important;
            font-weight: normal !important;
            border-bottom: solid 1px #898989;
            padding: 14px 0 14px 20px;
            font-family: @font-family-medium;
            margin: 0;
            cursor: pointer;
        }
        .filter-options-content {
            padding: 15px 20px 25px 20px;
            font-size: 15px; 
            color: #000;
            border-bottom: solid 1px #898989;
            margin: 0;
            .count {
                display: none;
            }
            .layer-search-box {
                border: solid 1px #898989;
                height: auto;
                padding: 10px;
                margin-bottom: 10px;
            }
            a {
                position: relative;
                .rating-result {
                    width: 78px !important;
                    overflow: hidden;
                }
                .rating-star {
                    vertical-align: text-top;
                }
                .above {
                    position: absolute;
                    background: #fff;
                    left: 28px;
                    z-index: 9;
                    width: 70%;
                    padding-left: 5px;
                    top: 1px;
                }
                color: #151515;
                span {
                    color: #151515;
                }
            }
            .form-inline {
                display: none;
            }
        }
    }
    .filter-options-item {
        position: relative;
        &:last-child {
            .filter-options-title {
                border: none;
            }
            .filter-options-content {
                border-bottom: none;
            }
        }
        &::before {
            content: '';
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 4px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            position: absolute;
            right: 30px;
            top: 16px;
            z-index: -1;
        }
        &.active {
            &::before {
                 transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
                top: 22px;
            }
        }
    }
    .block {
        &.filter {
            margin-bottom: 0;
        }
    }
}
.category-view {
    display: none;
}
.item {
    &.product {
        &.product-item {
            .gms-certified {
                display: block;
                background: url(../images/certified-icon-01.svg) no-repeat right top;
                width: 90px;
                font-size: 0px;
                height: 21px;
                position: absolute;
                right: 0px;
                background-size: 100%;
                left: 0;
                margin: 0 auto;
                top: 5px;
                z-index: 2;
            }
        }
    }
}
.sidebar {
    &.sidebar-main {
        padding: 0;
        width: 19.6% !important;
        .homepageappinfo {
            display: none;
            padding: 30px 20px;
            margin-top: 60px;
            .list {
                text-align: center;
                width: 100%;
                margin: 0;
                padding-bottom: 20px;
                padding-right: 0px;
                &:first-child {
                    padding-bottom: 70px;
                }
                p {
                    font-size: 36px;
                }
            }
        }
    }
}
#layer-product-list  {
    padding-top: 30px;
    .toolbar.toolbar-products {
        display: block !important;
    }
}
.filter-options-content .rating-summary .rating-result > span:before {color: #345288;}

.catalogsearch-result-index {
    font-size: 1.4rem;
    main#maincontent {
        min-height: 100vh;
    }
    p.suggested {
        display: none;
    }
    #layer-product-list h3 {
        display: none;
    }
    div#layer-product-list h3 + ul {
        display: none;
    }
    .page-title-wrapper {
        text-align: center;
        .page-title {
            display: inline-block;
            font-size: 25px;
            color: #2c2c2c;
            font-family: @font-family-medium;
            width: 100%;
            line-height: 28px;
            margin-bottom: 0px;
            font-weight: normal;
        }
    }
}


.page-products{
    .suggested {
        font-size: 1.4rem;
    }
    .products-grid{
        .product-items{
            .product-item-inner{
                .product-item-actions{
                    .actions-secondary{
                        a.action.tocompare {
                            display: none !important;
                        }
                    } 
                } 
            } 
            .product-item-info{
                .product-reviews-summary{
                    display: block;                    
                    text-align: center;
                    margin: 5px 0 5px;
                    .rating-summary{
                        display: inline-block;
                        left: 5px;
                    }
                    .reviews-actions {
                        display: none;
                    }
                }
            }
        }
    }
    
} 

.page-products{
    .products-grid{
        .products.list{
            li{
                border-radius: 10px;
                margin-bottom: 10px;
                .product-item-details{
                    position: relative;                    
                }
            } 
        } 
    } 
    .page-title-wrapper {
        margin-top: 0px;
    }
    .columns{
        padding-top: 0px;
    }
    .toolbar.toolbar-products{
        overflow-y: scroll;
    }
    .toolbar-sorter{
        &.sorter{
            position: relative;
        }
    }   
} 


.product-item .product.name a {
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
}

.page-products{
    #layer-product-list{
        .product-item{
            .product.name{
                a{
                    display: block;
                }
            } 
        } 
    }
}
 


/* Start Filter */

.page-products{
    .filter-options{
        .filter-options-item{
            .filter-options-content{
                .swatch-attribute-options{
                    .swatch-option-link-layered{
                        .swatch-option {
                            min-width: 30px;
                            height: 30px;
                        }
                    } 
                } 
            } 
        } 
    } 
} 

body.filter-active{
    .page-header {
        z-index: 1;
        &.headersticky{
            z-index: 1 !important;
        }
    }
} 

.filter-title{
    strong {
        position:absolute;
        top: -10px;
        left:inherit; right:0px;
        text-align: center;
        box-shadow: none;
        border-radius: 0;
        cursor: pointer;
        line-height: 26px;
        z-index: 2;

        &:before {          
            font-size: 16px;
            color: #273c97;
            line-height: 30px;
            display: block;
            -webkit-font-smoothing: antialiased;
            content: "\f1de";
            font-family: 'FontAwesome'; display:none;
        }        
    }
} 

.filter{
    .filter-current {
        margin: 4.5px -9px 0;
        border: solid #cccccc;
        border-width: 1px 0;
        display: none;
        .items {
            display: none;            
            border-width: 0 1px;
            padding: 10px 0;
            margin: 0;
        }
    }
    .filter-current-subtitle {
        display: block;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: bold;
        background-color: #f5f5f5;
        color: #777;
        cursor: pointer;
        border-radius: 7px 7px 0 0;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        text-decoration: none;
    }
    .filter-content{
        .block-subtitle{            
            padding: 9px 9px 18px;
            font-size: 20px;
            font-size: 13px;
            line-height: 1em;
            border-bottom: 1px solid #cccccc;
            display: none;
        }
        .filter-options {
            display: none;
            margin: 0;
        }
    }
    &.active{
        .filter-current {
            position: fixed;
            left: 0;
            top: 46px;
            margin: 0;
            height: 103px;
            border: 0;
            width: 300px;
            z-index: 10;
            padding: 17px 0;
            display: block;
            background-color: #fff;
            overflow-y: scroll;
            .items {
                display: block;
                padding: 0;
            }
            .filter-current-subtitle {
                display: none;
                padding: 15px 30px;
            }
        }
        .filter-title {
            background-color: #666;
            margin: 0;
            height: 47px;
            border: none;
            width: 300px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 2;
            strong { 
                right: 15px;
                top: 76px;
                border: none !important;
                position: fixed;
                left: auto;
                background: none;
                box-shadow: none;
                display:none;
                text-decoration: none;
                &:before {
                    -webkit-font-smoothing: antialiased;
                    font-size: 16px;
                    line-height: inherit;
                    color: #fff;
                    content: "\f00d";
                    font-family: FontAwesome;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: 400;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    margin-top: 3px;
                }
            }
        }
        .filter-options {
            padding: 10px 0px!important;
            width: 300px;
            right: auto;
            top: 47px;
            overflow-y: scroll;
            overflow-x: hidden;
            display: block;
            position: fixed;
            left: 0;
            bottom: 0;
            background: #ffffff;
            z-index: 10;            
            height: calc(~"100% - 110px");
        }
        .filter-subtitle {
            color: #fff!important;
            text-transform: uppercase;
            font-size: 1.8rem;
            font-family: @font-family-medium;
            font-weight: normal;
            letter-spacing: .025em;
            z-index: 3;
            padding: 8px 30px!important;
            height: 47px;
            pointer-events: none;
            width: 300px;
            right: auto;
            border: 0;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            background: transparent;
            line-height: 32px;
        }
    }
}

.filter.active .filter-current~.filter-options {
    top: 205px;    
    height: calc(~"100% - 267px");
}
.filter .filter-current+.block-actions {
    display: none;
}
.filter.active .filter-current+.block-actions {
    position: fixed;
    left: 0;
    top: 148px;
    margin: 0;
    border: none;
    z-index: 10;
    display: block;
    width: 300px;
    line-height: 34px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: right;
    padding: 0 30px;
}

.block.filter .filter-title {
    margin-bottom: 0;
}

/* End Filter */


.products-grid{
    .product-items{
        .product-item{
            .product-item-info{
                .sale-offer{
                    position: absolute;
                    top: 80px;
                    left: 0;
                    font-size: 13px;
                    padding: 5px 5px;
                }
                .red-bg{
                    background: #ed2024;
                    color: #fff;
                } 
                .bulk-offer {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: url(../images/bulk-offer.png) no-repeat;
                    height: 60px;
                    width: 61px;
                    display: block;
                    text-align: center;
                    background-size: 100% 100%;
                    .bulk-offer-inner{
                        font-size: 10px;
                        transform: rotate(-42deg);
                        -webkit-transform: rotate(-42deg);
                        transform: rotate(-42deg);
                        line-height: 11px;
                        color: #fff;
                        margin: 7px 26px 2px 0;
                    }
                }
            }
        }
    }
}






@media only screen and (min-width:768px) and (max-width:1025px){

    .products-grid{
        .products.list{
            li{
                .product-item-name{
                    min-height: 36px;
                }
            } 
        } 
    } 

    #layer-product-list{
        .toolbar.toolbar-products{
            .toolbar-sorter.sorter{
                width: 100%;
                .sort-list{
                    a{
                        font-size: 13px;
                        padding: 6px 10px;
                    }
                } 
                .sorter-label{
                    font-size: 13px;
                    padding: 5px 10px; 
                    position: relative;
                     
                }
            }
        }
    } 

    .page-products{
        .products-grid{
            .product-item{
                text-align: center;
                margin-left: 2% !important;
                border-radius: 0 !important;
                .product-item-name{
                    -webkit-line-clamp: 1;
                }
                &:nth-child(2n + 1) {
                    margin-left: 0 !important;
                }
                .product.details.product-item-details{
                    margin-bottom: 10px;
                }
                .product-item-inner{
                    position: static;
                    right: 0;
                    width: auto !important;
                    margin-left: -10px !important;
                    margin-right: -10px !important;
                }
                .product-item-info{                    
                    .product-reviews-summary{
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 20px;
                    }
                }
                .action.towishlist {
                    position: absolute;
                    top: 0;
                    right: 0;
                    &:before{
                        content: "\f08a";    font-weight: bold;
                        font-family: FontAwesome;
                        color: #000;
                    }
                    &:hover{
                        &:before{                               
                            color: #f5a620;
                        }
                    }
                }               
            }
        } 
    } 

}


.page-products{
    .breadcrumbs{
        display: block;
        padding: 0 0px 0px !important;
        .items{
            li{
                font-size: 15px;
                display: none;
                &:last-child{
                    display: block;
                }
                strong{
                    font-weight: normal;
                    color: #787878;
                    font-family: 'Conv_DINOT-Medium';
                }
            }
        }
    } 
} 

.page-products{
    .latest-deals-products-container{
        padding: 0 15px 0px 15px; 
        overflow: hidden;
        position: relative;
        h3{
            margin-left: 0px;
            margin-top: 20px;
        } 
    }
    .product-item{
        .price-box{
            .price-label{
                display: none;
            }
        } 
    } 
    .discount-banner-cat {
        width: 100%;
        float: left;
        padding: 0px 15px 20px;
        display: none;
        .discount-banner-cat-inner{
            img {
                width: 100%;
            }
        } 
    }
    .brandedpartshome{
        .innersectioncls{
            border-radius: 10px;
            overflow: hidden;
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .innersection{
            background: #ef4258;
            border-radius: 10px;
            padding: 10px;
            .placeholder {
                width: 50%;
            }
            .content {
                font-size: 30px;
                width: 50%;
                a{                   
                    font-size: 16px;
                    padding: 10px 30px;
                }
                p{
                    margin-bottom: 0.5rem;
                }
            }
        }
    } 
}

@media only screen and (max-width:767px){

    .page-products{
        .rating-summary{
            .rating-result{
                width: 82px;
            }
        } 
        .brandedpartshome{
            .innersection{
                background: #ef4258;
                border-radius: 10px;
                padding: 10px;
                .placeholder {
                    width: 50%;
                }
                .content {
                    font-size: 13px;
                    width: 50%;
                    a{                   
                        font-size: 10px;
                        padding: 5px 10px;
                    }
                    p{
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
        .products-grid{
            .products.list{
                li{
                    width: 100%;
                    margin-left: 0;
                    border-radius: 0;
                    margin-bottom: 10px;
                    text-align: center;
                    .product-item-inner {
                        display: block;
                        margin-left: -10px;
                        margin-right: -10px;
                        width: auto;
                        margin-top: 10px;
                    }
                    .action.towishlist {
                        position: absolute;
                        top: 0;
                        right: 0;
                        &:before{
                            content: "\f08a";
                            font-family: FontAwesome;
                            color: #000;
                            font-weight: bold;
                        }
                        &:hover{
                            &:before{                               
                                color: #f5a620;
                            }
                        }
                    }
                }
            } 
        } 
    }
    

}

.page-products{
    &.filter-active{
        .toolbar-sorter.sorter{
            z-index: 1;
        }
    }
    .toolbar.toolbar-products{
        position: absolute;
        width: 50%;
        top: 35px;
        right: 0;
        
    }
} 

.page-products .toolbar-sorter.sorter {    
    border: 1px solid #a5a4a4;
    border-right: none;
    width: 100%;
    background: transparent;
    border-radius: 0px;
    display: block;
    box-sizing: border-box;
    z-index: 3;  
    border-right: 1px solid #a5a4a4;
    .sorter-label {
        color: #212529;
        font-size: 16px; 
        padding: 0px 20px;
        margin: 0px;
        text-align: left;
        width: 100%;
        height: 30px;
        line-height: 30px; 
        position: relative;
        font-family: 'Conv_DINOT-Medium';
        font-weight: normal;
        
    }
    .sorter-action{
        display: none;
    }
    select{ 
        display: none; 
    }
}


.filter{
     &.active{
           .filter-title{
               strong{
                    display: none;
                    font-weight: 600;
                    font-size: 14px;
                }
            } 
        } 
    }
.page-products{
       .toolbar-sorter.sorter{
            .sorter-label{
                &:before {
                    content:'';       
                    font-size: 16px;
                    color: #212529;
                    line-height: 30px;
                    display: block;
                    -webkit-font-smoothing: antialiased;
                    content: "\f107";
                    font-family: 'FontAwesome';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    right: 0px;    
                    font-weight: 600; 
                    font-size: 14px;

                }
            }
        } 
    } 



    .page-products{
        #ln_product_overlay{
            .loader {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &:before {
                    content: '';
                    border: 2px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 2px solid #3f549c;
                    border-bottom: 2px solid #3f549c;
                    width: 70px;
                    height: 70px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                    display: inline-block;
                    top: 50%;
                    left: 50%;
                    position: absolute;
                }
                img {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: block;
                    right: 0;
                    max-width: 45px;
                }
            }
        }
    }

 
    .page-products{
        .sidebar-main{
            .block.filter{
                &.active{
                    .ln_overlay{
                        display: block !important;
                    }
                } 
            }
        }
    }
 
    .page-products{
        .mst-search__result-tabs{
            display: none;
        }
        .products-grid{
            .products.list{
                li{
                    .product-item-info{
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-flex-wrap: wrap;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        .product.photo.product-item-photo {
                            -webkit-flex-basis: auto;
                            flex-basis: auto;
                            -webkit-flex-grow: 1;
                            flex-grow: 1;
                            -ms-flex-order: 0;
                            -webkit-order: 0;
                            order: 0;
                            width: 100%;
                            margin-top: 20px;
                        }
                        .product-item-name {
                            margin-top: 0;
                            padding: 0px 0px 0;
                            -webkit-flex-basis: auto;
                            flex-basis: auto;
                            -webkit-flex-grow: 1;
                            flex-grow: 1;
                            -ms-flex-order: 1;
                            -webkit-order: 1;
                            order: 1;
                            width: 100%;
                            margin-bottom: 0;
                            font-size: 1.5rem;
                            font-weight: normal;
                            font-family: 'Conv_DINOT-Light';
                            color: #555555;
                            a{
                                color: #555555;
                                font-family: 'Conv_DINOT-Light';
                                font-size: 1.5rem;
                                font-weight: normal; 
                            }
                        }
                        .product-item-details {
                            position: relative;
                            -webkit-flex-basis: auto;
                            flex-basis: auto;
                            -webkit-flex-grow: 1;
                            flex-grow: 1;
                            -ms-flex-order: 2;
                            -webkit-order: 2;
                            order: 2;
                            width: 100%;
                            .product-reviews-summary{
                                margin: 10px 0 0px;
                            }
                            .price-box{
                                padding-top: 10px;
                            }
                        }
                    }
                } 
            } 
        } 
    }

    .minicart-wrapper .minicart-items-wrapper .product-item .product .product-item-details{
        padding-right: 10px
    }

    .page-products{
        .latest-deals-products-container{
            ul{
                li{
                    .subhead{
                        padding-bottom: 10px;
                        a {
                            width: auto;
                        }
                    }
                    a{
                        width: 240px;
                        margin: 0 auto;
                        max-width: 100%;
                        .image {
                            padding-bottom: 100%;
                            display: block;
                            height: 0;
                            overflow: hidden;
                            position: relative;
                            z-index: 1;
                            img {
                                width: 180px;
                                margin: auto;
                                display: block;
                                max-width: 100%;
                                position: absolute;
                                right: 0;
                                top: 0;
                                left: 0;
                                bottom: 0;
                            }
                        }
                    }
                } 
            } 
        } 
    }


    .page-products{
        .breadcrumbs + .message.notice {
            display: none;
        }
        .irs-from, .irs-to, .irs-single{
            background: #f5a622;
        }
        .irs-from:after, .irs-to:after, .irs-single:after{
            border-top-color: #f5a622;
        }
        .irs-min, .irs-max{
            background: #273c97;
            color: #fff;
        }
        .filter-options{
            .filter-options-content{
                .item{                    
                    input[type="radio"] {
                        vertical-align: middle;
                        display: inline-block;
                        margin-top: 2px;
                    }
                } 
            } 
        } 
    }