.question {
    display: inline-block;
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
}

.qlogo {
    display: inline;
    left: 0;
    position: absolute;
    top: 0;
}

.ques {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 45px;
    width: 100%;
}
.alogo{
  /*  display: inline;
    left: 0;
    position: absolute;
    top: 0;*/
}

.answ{
    box-sizing: border-box;
    display: inline-block;
    /*padding-left: 45px;*/
    width: 100%;
}

.answer{

    display: inline-block;
    float: left;
    margin: 0;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.extra-answ{
    margin-left: 44px;
    border-top: 1px solid #e1e1e1;
    padding-top: 10px;
    margin-right: 44px;
    padding-bottom:10px;
}
.user-info{

   /* margin-top: 5px;
    margin-bottom:10px;*/
    color: #999999;
}
.user-info1{
    margin-top: 5px;
    margin-bottom:10px;
    color: #999999;
}
.ques-user-info{
    margin-top: 5px;
    color: #999999;
}
.like {
   /* background: rgba(0, 0, 0, 0) url("../images/like.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    width: 33px;*/
}
.liked {
   /* background: rgba(0, 0, 0, 0) url("../images/like.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    width: 33px;*/
}
.dislike {
    /*background: rgba(0, 0, 0, 0) url("../images/dislike.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    width: 33px;*/
}
.disliked {
    /*background: rgba(0, 0, 0, 0) url("../images/dislike.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    width: 33px;*/
}
.reviews span{
    vertical-align: top;
}

.qlogo > span {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    width: 26px;
}
.alogo > span{
    /*background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 50%;
    color: #333;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    width: 26px;*/
}
.qa-ansmore{
    cursor: pointer;
}

.all-questions > div {
    /*background: white none repeat scroll 0 0;
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 30px;
    padding: 15px;*/
    width: 100%;
}
.question-header{
    display: inline-block;
    width: 100%;
}
.question-header > h4{
    float: left;
}
.header-links{
    float: right;
    padding: 5px;
}

.filterurl_loader{
    background:none repeat scroll 0 0 rgba(255, 255, 255, 0.62);
    position: fixed;
    top: 0px;
    left:0;
    width: 100%;
    z-index:2000;
    height: 120%;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF4E9,endColorstr=#FFF4E9);
}
.filterurl_loader > div{
    background:url("../images/ajax-loader.gif") no-repeat scroll 0 0 transparent;
    position: fixed;
    top: 48%;
    border-radius: 18px;
    left:48%;
    width: 32;
    height: 32px;
    width: 32px;
}
#search-bar{
    background-color:#fafafa;
    clear: both;
}

#wk-searchqa{
    border: 1px solid #c2c2c2;
    padding: 0 30px;
}
.wk-header-count{
    padding-left: 5px;
    padding-right: 5px;
}
.wk-header-text{
    padding: 0px 4px;
    background: #e1e1e1 none repeat scroll 0 0;
}
.mainprt{
    text-align: center;
    box-shadow: unset!important;
}
.no-result{
    display: none;
    margin-bottom: 10px;
}
.search-form{
    display: inline;

}
.answe{
   /* margin-left:44px;*/
}
.wk_admin{
    color: red;
}

.wk_bold {
    font-weight: bold;
}

.wk_prewrap{
    white-space: pre-wrap;
}
.search_bar::before{
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 32px;
    color: #c2c2c2;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0 0 0 8px;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    position: absolute;
}

.search_action {
    display: inline-block;
    left: -5px;
    position: relative;
    vertical-align: top;
    width: 90px;
    float: left;

}
input#searchqa {
    padding: 0 30px;
}
.search_bar{
    display: inline-block;
    float: left;
    width: calc(100% - 90px);
}
.wksearch_button, .search_button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.wk-qa-action {
    display: none;
    background-color: #f5f5f5;
    border: 1px solid #a79d95;
    border-radius: 1px;
    font-size: 1.5rem;
    margin: 1.3rem -4px 0.3rem 1.3rem;
    padding: 0.3rem 2.4rem 0.4rem 1rem;
    position: relative;
    transition: border-color 0.1s linear
}
.wk-qa-action-viewall {
    background-color: #f5f5f5;
    border: 1px solid #a79d95;
    border-radius: 1px;
    display: inline-block;
    font-size: 1.5rem;
    margin: 1.3rem -4px 0.3rem 1.3rem;
    padding: 0.3rem 2.4rem 0.4rem 1rem;
    position: relative;
    transition: border-color 0.1s linear
}
.wk-qa-action-button, .wk-qa-action-button-viewall {
    bottom: 0;
    font-size: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    border: none;
    box-shadow: unset;
    background-color: transparent;
}
.wk-qa-action-button:active, .wk-qa-action-button:focus, .wk-qa-action-button:hover, .wk-qa-action-button-viewall:active, .wk-qa-action-button-viewall:focus, .wk-qa-action-button-viewall:hover {
    border: none;
    box-shadow: unset;
    background-color: transparent;
}
.wk-qa-action-button::before, .wk-qa-action-button-viewall::before {
    content: '\e616';
    font-family: 'luma-icons';
}
.wk-qa-action-button-close {
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    position: absolute;
    display: none;
    visibility: hidden;
}
.wk-searchbar{
    /*display: inline-block;
    float: left;
    width: calc(100% - 250px);*/
}
.wk-qa-stat{
    display: inline-block;
    float: left;
    width: 250px;
}
button.search_button.action.primary {
    line-height: 1.2;
}
.search_bar::before{
	display:none;
}
@media screen and (max-width:520px){
    .wk-searchbar{
        display: block;
        width: 100%;
    }
}
@media (min-width:1200px){
.block-search {
    width: 530px !important;
    max-width: 700px !important;
}
.page-header.type1 .block-search {
    margin-left: 40px;
}
.page-header.type1 .navigation li.level0 {
    padding: 0px 30px;
}
.banner-content{
bottom:20px;
}
.finderProducts.vertical {
    padding: 14px;
}
.finderDropdowns .form-group {
    margin-bottom: 10px;
}
button#reset_3,
button#find_3{
margin:0px;
}
.finderProducts.vertical h3{
font-size: 18px;
margin-bottom: 13px;
}
.brand-section h2{
font-size: 17px;
}
.brand-section p{
font-size:14px;
}
.special-price .price,
.price-box .price{
font-size: 14px;
}
.layout-fullwidth.page-layout-2columns-left .sidebar-main, .layout-fullwidth.page-layout-2columns-right .sidebar-additional {
    width: 25%;
}
.layout-fullwidth.page-layout-2columns-left .column.main, .layout-fullwidth.page-layout-2columns-right .column.main {
    width: 75%;
}
.catalog-product-view.layout-fullwidth.page-layout-2columns-right .column.main{
width:100%;
}
.catalog-product-view.page-layout-2columns-right .product.media{
width:33.3333%
}
.catalog-product-view.page-layout-2columns-right 
 .product-info-main{
width:66.66666666%
}
/*.solid-by-product {
    width: 36%;
    position: absolute;
    right: 0px;
    top: 127px;
    padding-right: 100px;
}*/
}

