<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Helpdesk
 * @author    Webkul
 * @license   https://store.webkul.com/license.html
 */

$collection = $block->getSupportCenterData();
$url = $block->getUrl();
?>
<div class="wk_ts_nav_wrapper">
    <div class="wk_ts_nav">
        <ul class="wk_ts_nav_left support_information_block">
            <li><h4><a href="<?= $block->escapeUrl($block->getUrl('helpdesk/ticket/')) ?>">
            <?= $block->escapeHtml(__("Support Center")) ?></a></h4></li>
            <?php if (count($collection)): ?>
                <li style="position:relative;" class="dropdown">
                    <?= $block->escapeHtml(__("Support Category")) ?>
                    <span class="caret"></span>
                    <ul class="dropdown-menu">
                    <?php foreach ($collection as $item): ?>
                        <li>
                            <?php
                            if (!strpos('newticket', $url)===false || !strpos('view', $url)
                            ===false || !strpos('login', $url)===false): ?>
                                    <a title="<?= $block->escapeHtml($item->getName()) ?>"  
                                    href="#support_id_<?= $block->escapeHtml($item->getId())
                                    ?>">
                                    <?= $block->escapeHtml(substr($item->getName(), 0, 30))
                                    ?></a>
                            <?php else: ?>
                                    <a title="<?= $block->escapeHtml($item->getName()) ?>" 
                                    href="<?=
                                    $block->escapeUrl($block->getUrl('helpdesk/ticket'))
                                    ?>#support_id_<?= $block->escapeHtml($item->getId())
?>">
                                    <?= $block->escapeHtml(substr($item->getName(), 0, 30))
                                    ?></a>
                            <?php endif; ?>
                        </li>
                    <?php endforeach; ?>
                    </ul>
                </li>
            <?php endif; ?>
        </ul>
        <ul class="wk_ts_nav_right">
            <li style="position:relative" class="search_information">
                <input type="text" name="serach" class="ticket_search" 
                placeholder="<?= $block->escapeHtml(__('Search')) ?>"/>
                <ul class="dropdown-menu inforrmation">
                    <?php
                        $codes = "";
                    foreach ($collection as $value) {
                        $codes = $codes.$value->getCmsId().",";
                    }
                        $indentifiers = array_unique(array_filter(explode(',', $codes)));
                    ?>
                    <?php foreach ($indentifiers as $cmsId):  ?>
                        <li>
                            <?php $cms = $block->getCmsPage($cmsId, 'identifier');
                            ?>
                            <a href="<?=
                            $block->escapeUrl($block->getUrl($cms->getIdentifier()))
                            ?>">
                            <?= $block->escapeHtml($cms->getTitle()) ?></a>
                        </li>
                    <?php endforeach;?>
                    <li class="no-results" style="display: none;">
                    <?= $block->escapeHtml(__("No Results Found.")) ?>
                    </li>
                </ul>
                <button class="wk_search_btn"><i class="fa fa-search"></i></button>
            </li>
            <li style="position:relative" class="dropdown">
                <?= $block->escapeHtml(__("Ticket(s)")) ?>
                <span class="caret"></span>
                <ul class="dropdown-menu">
                    <li>
                        <a href="<?=
                        $block->escapeUrl($block->getUrl('helpdesk/ticket/newticket'))
                        ?>">
                            <?= $block->escapeHtml(__("Generate Ticket")) ?>
                        </a>
                    </li>
                    <li>
                        <a href="<?=
                        $block->escapeUrl($block->getUrl('helpdesk/ticket/mytickets'))
                        ?>">
                            <?= $block->escapeHtml(__("Ticket(s) Status")) ?>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="wk_ts_skip_nav">
        <div class="wk_ts_skip_nav_header">
            <h4>
                <a href="<?= $block->escapeUrl($block->getUrl('helpdesk/ticket/')) ?>">
                    <?= $block->escapeHtml(__("Support Center")) ?>
                </a>
            </h4>
            <i class="fa fa-bars"></i>
        </div>
        <ul class="wk_dropdown_nav">
            <?php if (count($collection)): ?>
                <li data-flag="0">
                    <?= $block->escapeHtml(__("Support Category")) ?>
                    <i class="fa fa-plus"></i>
                    <ul class="wk_dropdown_list">
                    <?php foreach ($collection as $item): ?>
                        <li>
                            <a href="#support_id_<?= $block->escapeHtml($item->getId()) ?>">
                            <?= $block->escapeHtml($item->getName()) ?></a>
                        </li>
                    <?php endforeach; ?>
                    </ul>
                </li>
            <?php endif; ?>
            <li data-flag="0">
                <?= $block->escapeHtml(__("Ticket(s)")) ?>
                <i class="fa fa-plus"></i>
                <ul class="wk_dropdown_list">
                    <li>
                        <a href="<?=
                        $block->escapeUrl($block->getUrl('helpdesk/ticket/newticket'))
                        ?>">
                        <?= $block->escapeHtml(__("Generate Ticket")) ?></a>
                    </li>
                    <li>
                        <a href="<?=
                        $block->escapeUrl($block->getUrl('helpdesk/ticket/mytickets'))
                        ?>">
                        <?= $block->escapeHtml(__("Ticket(s) Status")) ?>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="search_information"  data-flag="0">
                <?= $block->escapeHtml(__("Search")) ?>
                <i class="fa fa-plus"></i>
                <ul class="wk_dropdown_list">
                    <li style="position: relative;">
                        <input type="text" name="serach" class="ticket_search" 
                        placeholder="<?= $block->escapeHtml(__('Search')) ?>"/>
                        <button class="wk_search_btn"><i class="fa fa-search" 
                        style="float:none"></i></button>
                        <ul class="dropdown-menu">
                            <?php
                                $codes = "";
                            foreach ($collection as $value) {
                                $codes = $codes.$value->getCmsId().",";
                            }

                                $indentifiers =
                                array_unique(array_filter(explode(',', $codes)));
                            ?>
                            <?php foreach ($indentifiers as $cmsId):  ?>
                                <li>
                                    <?php $cms = $block->getCmsPage($cmsId, 'identifier'); ?>
                                    <a 
                                    href="<?=
                                    $block->escapeUrl($block->getUrl($cms->getIdentifier()))
                                    ?>"><?= $block->escapeHtml($cms->getTitle()) ?></a>
                                </li>
                            <?php endforeach; ?>
                            <li class="no-results" style="display: none;">
                            <?= $block->escapeHtml(__("No Results Found.")) ?>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "navigation": {}
        }
    }
</script>


<style type="text/css">
    .wk_ts_nav_wrapper {
    margin-top: 10px;}
.wk_search_btn i.fa.fa-search {
    position: absolute;
    top: 8px;
    right: 16px;
}
.wk_ts_thread_container .input-text, .wk_ts_thread_container select {
    background: #fff;
    height: auto;
    padding: 14px;
    border: solid 1px #989898;
    font-size: 14px;
    margin-bottom: 10px;
}
.wk_ts_thread_container .action.primary{
    color: #fff;
    font-family: 'Conv_DINOT-Medium';
    font-size: 16px;
    padding: 8px 30px;
    display: block;
    text-decoration: none;
    transition: .5s all ease;
    background: #273c97;
    border-radius: 30px;
    font-weight: normal;
    text-transform: uppercase;display: inline-block;
}
.form-list-login label {
    font-size: 14px;
}
p.tk_required.required {
    font-size: 12px;
}
.wk_search_btn {
    border-right: 0 none;
    height: 16px;
    position: relative;
    width: 16px;
    background: #1979c3;
    border: 1px solid #1979c3 !important;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    box-sizing: content-box;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    box-shadow: none!important;
    float: left;
}
.wk_ts_thread_container p {
    font-size: 14px;
}
.wk_support_information a{ font-size: 14px; }
.wk_ts_nav_right .dropdown-menu{min-width: auto;
    z-index: 1000;
    right: 0px;
    width: 160px;
    left: inherit;}

.form-list label {
    font-size: 14px;
}
#wk_bodymain.form-list .input-box {
    width: 100%;
}
.wk_ts_thread_container ul.form-list li {
    width: 49%;
    display: inline-block;
    margin-right: 1%;
}
.wk_ts_thread_container ul.form-list li.wide{ width: 100%;margin-right: 0px; }
.wk_ts_thread_container ul.form-list li:nth-child(2), .wk_ts_thread_container ul.form-list li:nth-child(4) {
    float: right;
    margin-right: 0px;}
    #wk_bodymain.form-list .input-box input, #wk_bodymain.form-list .input-box textarea {
    width: 100%;
}
.mce-panel {
    width: 100%!important;
}
.buttons-set {
    text-align: left;
}
ul.dropdown-menu {
    left: inherit;
}
.wk_ts_thread_container select{     -webkit-appearance: auto;
    -moz-appearance: auto;
    -ms-appearance: auto;
    appearance: auto; }
.wk_ts_content.tc-wrapper, .tc-wrapper{width:100%;padding:1%;float:left;box-sizing: border-box}

@media screen and (max-width: 767px) {
.wk_ts_content.tc-wrapper, .tc-wrapper{
width: 100%;
    padding: 5%;
    float: left;box-sizing: border-box;}

 .wk_ts_thread_container ul.form-list li {
    width: 100%;
    display: inline-block;
    margin-right:0%;
}
.wk_ts_thread_container ul.form-list li:nth-child(2), .wk_ts_thread_container ul.form-list li:nth-child(4) {
    float: right;
    margin-right: 0px;

}
.wk_ts_skip_nav_header {
    width: 100%!important;
}

form .wk_ts_thread_container ~ div{ width:100%; padding: 5%;box-sizing: border-box;  }
.wk_dropdown_nav {
    width: 100%;
    padding: 0px; list-style: none;
}
.wk_dropdown_nav > li {
    width: 100%;
    font-size: 14px;
}
.wk_dropdown_nav > li ul{ margin:0px; padding: 0px; }
.wk_dropdown_nav > li ul li{ width: 100%; list-style: none; }

}

</style>
