<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Order\History */

$helper = $this->_objectManager->create('Webkul\Marketplace\Helper\Data');
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$paramData = $this->getRequest()->getParams();
$filterOrderId = '';
$filterOrderStatus = '';
$filterDateTo = '';
$filterDateFrom = '';

if(isset($paramData['s'])){
    $filterOrderId = $paramData['s'] != ""?$paramData['s']:"";
}
if(isset($paramData['orderstatus'])){
    $filterOrderStatus = $paramData['orderstatus'] != ""?$paramData['orderstatus']:"";
}
if(isset($paramData['from_date'])){
    $filterDateFrom = $paramData['from_date'] != ""?$paramData['from_date']:"";
}
if(isset($paramData['to_date'])){
    $filterDateTo = $paramData['to_date'] != ""?$paramData['to_date']:"";
} ?>


<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction'); 

$site_url=$storeManager->getStore()->getBaseUrl();

$data_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection(); 

$sales_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Reports\sales');
$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');


$today = date("Y-m-d"); 
$from = date("Y-m-d h:i:s"); 
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
//$orderDatamodel = $objectManager->get('Magento\Sales\Model\Order')->getCollection();

//$tax_helpers->success_page('14');	 

$customerSession = $objectManager->get('\Magento\Customer\Model\Session');
$logCustomerId   = $customerSession->getCustomerId();

$customerRepository = $objectManager->get('\Magento\Customer\Model\Customer');
$logCustomer = $customerRepository->load($logCustomerId);

$canProcure = $logCustomer->getData('iic_canprocure');  

/*foreach($orderDatamodel as $orderDatamodel1){
	$orderArray=$orderDatamodel1->getData();
	$created_at=$orderArray['created_at'];
	
	$created_at=date("Y-m-d", strtotime($created_at)); 
	if($created_at==$today)
	{	
		//print_r($orderArray);
		$order_id=$orderArray['entity_id']; 
		$increment_id=$orderArray['increment_id'];
		
		$sql = "select * from order_tax_list where order_id='".$increment_id."'";
		$result = $connection->fetchAll($sql); 
		if(empty($result))
		{
			//$tax_helpers->success_page($order_id);	 
		}   	 
	}  
}*/    
  
?> 


<div class="wk-mp-design">
    <fieldset class="fieldset info wk-mp-fieldset">
        <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Webkul_Marketplace::order/history/invoice.phtml")->toHtml() ?>
        <?php /* ?>
        <legend class="legend">
            <span class="title"><?php echo __('My Orders') ?></span>
			<form method="post" action="<?php echo $block->getUrl('marketplace/order/export'); ?>" id="wk_massupload_product_export_form" class="wk-massupload-container" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <?php echo $block->getBlockHtml('formkey') ?>
			<?php echo $block->getBlockHtml('seller.formkey')?>
            <!--<legend class="legend">
                <span><?php echo __("Export Order (csv file format)"); ?></span>
                <button class="button wk-mp-btn" type="submit">
                    <?php echo __("Export"); ?>
                </button>
            </legend>-->
            <div class="field required">
                <label for="attribute_set" class="label">
                    <span><?php echo __("Select Order Type"); ?></span>
                </label>
                <div class="control">
                    <select data-validate="{'validate-select':true}" title="<?php echo __("Attribute Set"); ?>" class="required-entry" id="order_type" name="order_type" aria-required="true">
    										<option value=''><?php echo __('Please select') ?></option>
    										<option value='all'><?php echo __('All Order') ?></option>
    										<option value='complete'><?php echo __('Completed Orders') ?></option>
											<option value='canceled'><?php echo __('Cancelled Orders') ?></option>
    										<option value='returned'><?php echo __('Returned Orders') ?></option>
                    </select>
                </div>
            </div>
        </fieldset>
		<span>
            <button class="button wk-mp-btn" type="button" id="shiplightboxopen">
                        <?php echo __('Download All Shipping Slip');?>
            </button>
            <button class="button wk-mp-btn" type="button" id="invoice-lightboxopen">
                        <?php echo __('Download All Invoice Slip');?>
            </button>
			</span>
    </form>
        </legend>
        <?php */ ?>

        <div class="grid">
            <div class="hor-scroll">
                <form action="<?php echo $block->getCurrentUrl();?>" method="get">
                    <table cellspacing="0" class="wk-mp-list-table table-shadow-design">
                        <thead>
                            <tr id="wk-mp-tr-heading">
                                <th><span><?php echo __('Order Id') ?></span></th>
                                <th><span><?php echo __('Date') ?></span></th>
                                <th><span><?php echo __('Order Status') ?></span></th>
                                <th><span>&nbsp;</span></th>
                            </tr>
                        </thead>
                        <tbody class="wk-mp-body">
                            <tr class="blank-table-tr">
                                <td colspan="4"></td>
                            </tr>
                            <tr class="wk-row-view">
                                <td>
                                    <input type="text" class="input-text" name="s" placeholder='<?php echo __('Search by Order Id') ?>' value="<?php echo $filterOrderId?>" style="width:99%;"/>
                                </td>
                                <td>
                                    <span class="wk-mp-td-span">
                                        <input name="from_date" id="special-from-date" class="input-text" value="<?php echo $filterDateFrom?>" type="text" placeholder='<?php echo __('Date From') ?>'/>
                                    </span>
                                    <span class="wk-mp-td-span">
                                        <input name="to_date" id="special-to-date" class="input-text" value="<?php echo $filterDateTo?>" type="text" placeholder='<?php echo __('Date To') ?>'/>
                                    </span>
                                </td>
                                <td>
                                    <select name="orderstatus" class="input-text">
                                        <option value=""><?php echo __('All') ?></option>
                                        <?php
                                        $orderstatus_coll = $orderHelper->getOrderStatusData();
                                        foreach ($orderstatus_coll as $orderstatus) {
                                            ?>
                                            <option value="<?php echo $orderstatus['status']?>" <?php if($filterOrderStatus == $orderstatus['status']) echo 'selected="selected"'?>>
                                                <?php echo __($orderstatus['label']) ?>
                                            </option>
                                            <?php
                                        }
                                        ?>
                                    </select>
                                </td>
                                <td class="wk-mp-td-last">
                                    <button class="button" title="Save" id="save-btn" type="submit">
                                        <span><span><span><?php echo __('Submit') ?></span></span></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <?php
                if(count($block->getAllSalesOrder())==0){ ?>
                    <div class="fieldset wk-mp-fieldset">
                        <div class="wk-emptymsg">
                            <?php echo __('No Order Available') ?>
                        </div>
                    </div>
                    <?php
                } else{ ?>
                    <?php $i=0;
                    foreach($block->getAllSalesOrder() as $res){
                        $order = $block->getMainOrder($res['order_id']);
                        $state=$order->getState();
                        $status=$order->getStatus();
                        $name=$order->getCustomerName();
                        $tracking=$orderHelper->getOrderinfo($res['order_id']);
                        if($tracking->getIsCanceled()){
                            $state='canceled';
                            $status='Canceled';
                        }
                        $i++;?>
						
						<?php
						$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
						$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
						$connection = $resource->getConnection();
						$order = $objectManager->create('Magento\Sales\Api\Data\OrderInterface')->load($res['order_id']);
						$order_id=$order->getId(); 
						foreach ($order->getInvoiceCollection() as $invoice) 
						{
							$invoice_id = $invoice->getId();
						}	  			
						 	
						/* Warning : DO  not  push to live @ritesh05022020*/		
						// $update = "update marketplace_orders set invoice_id='".$invoice_id."' where order_id='".$order_id."'";	
						// $connection->query($update); 
						?>  
						
						
                        <div class="wk-orderbox <?php if($i==1) echo "wk-first-order"?>">
                            <div style="padding:7px 7px 0px 7px;">
                                <div class="wk-orderbox-content1">
                                    <div class="wk-orderbox-details">
                                        <div class="color">
                                            <span class="wk-ordertitle-label"><?php echo __('Order') ?></span> <strong>#<?php echo $res['magerealorder_id']; ?></strong>
                                        </div>
                                        <div class="name">
                                            <?php echo $block->getpronamebyorder($res['order_id'])?>
                                        </div>
                                        <a href="<?php echo $block->getUrl('marketplace/order/view', ['id'=>$res['order_id'], '_secure' => $this->getRequest()->isSecure()])?>">
                                                <button class="button" title="<?php echo __('View Order') ?>" type="button">
                                                    <span><span><span><?php echo __('View Order') ?></span></span></span>
                                                </button>
                                            </a>
                                    </div>
									<?php

                                if($state=="closed")
                                {
                                    $status="Refunded";
                                } else{
                                    $api_helpers = $objectManager->create('Customm\Apii\Helper\Data');
                                    // $status=$api_helpers->api_get_order_tracking($res['magerealorder_id']); 
                                }
						
						?>
                                    <div class="wk-dash-orderstatus">								
                                        <label for="name" class="wk-dash-label">
                                            <div class="status <?php echo strtolower($state); ?>"><?php echo $status; ?> </div>
                                        </label>
                                   </div>
                                   
                                   <?php
                                   		$crmOrderId = $order->getCrmResId();
										$sapOrderId = $order->getSapResId();
										
										$iicblock = $objectManager->create('OM\IICCRM\Block\Index\Index');
										$onlyUniversal = $iicblock->onlyUniversal($order);
						           ?>
                                   <?php if($canProcure && $onlyUniversal==false){?>
                                   <div class="wk-dash-orderstatus">	
                                        <label for="name" class="wk-dash-label">
											
                                        <?php if($crmOrderId){?>
											<h4>CRM Order ID: <?php echo $crmOrderId; ?></h4>
											
											<?php if($sapOrderId){ ?>
												<h4>SAP Order ID: <?php echo $sapOrderId; ?></h4>
											<?php } else { ?>
												<h4><a href='javascript:void(0)' data-id="<?php echo $order['entity_id'];?>" class="fetchSapId">Fetch SAP ID</a></h4>
											<?php } ?>
											
										<?php } else { ?>
											<h4><a href='javascript:void(0)' data-title="<?php echo $order['increment_id'];?>" data-id="<?php echo $order['entity_id'];?>" class="procurement">Create Procurement</a></h4>
										<?php } ?>
										
                                        </label>
                                    </div>
                                    <?php } ?>
                                </div>
                                <div class="wk-orderbox-content2">
                                    <div class="wk-orderbox-details">
                                        <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                                            <span class="wk-title-label"><?php echo __('Customer: ');?></span>
                                            <span class="wk-label"><?php echo $name;?></span>&nbsp;&nbsp;
                                        <?php } ?>
                                        <span class="wk-title-label"><?php echo __('Date: ');?></span>
                                        <span class="wk-label"><?php echo $block->formatDate($res['created_at'])?></span> 
                                    </div>
                                    <div class="wk-orderbox-total">
                                        <span class="wk-title-label"><?php echo __('Order Total (Base)- ');?></span>
                                        <span class="wk-label">
                                            <strong>
                                                <?php
                                                $orderPrice = $block->getPricebyorder($res['order_id']);
                                                echo $order->formatBasePrice($orderPrice);
                                                ?>
                                            </strong>
                                        </span>
                                        <span class="wk-title-label"><?php echo __('Order Total (Purchased)- ');?></span>
                                        <span class="wk-label">
                                            <strong>
                                                <?php
                                                echo $order->formatPrice($block->getOrderedPricebyorder($res['currency_rate'], $orderPrice));
                                                ?>
                                            </strong> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wk-clear"></div>
                        <?php
                    } 	?>
                    <?php
                }?>
            </div>
        </div>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </fieldset>
</div>

<div id="wk-mp-invoice-print-data">
    <div class="modals-wrapper">
        <aside tabindex="0" data-type="popup" data-role="modal" class="modal-popup modal-slide _inner-scroll wk-mp-model-popup">
            <div tabindex="0" data-role="focusable-start"></div>
            <div data-role="focusable-scope" class="modal-inner-wrap">
                <header class="modal-header">
                    <h4 class="modal-title"><?php echo __('Download Invoice Slip') ?></h4>
                    <button type="button" data-role="closeBtn" class="action-close wk-close">
                        <span>Close</span>
                    </button>
                    <span  class="wk-clear" ></span>
                </header>
                <form id="form-invoice-print" method="post" action="<?php echo $block->getUrl('marketplace/order_invoice/printall', ['_secure' => $this->getRequest()->isSecure()]);?>" class="fieldset" data-mage-init='{"validation":{}}'>
                    <div class="modal-body form-list field required">
                        <label class="label"><?php echo __('Date From') ?></label>
                        <input type="text" name="special_from_date" class="required-entry wk-ship-rowinput editdeal_fromdate" id="invoice_editfromdatepicker" />

                        <label class="label"><?php echo __('Date Untill') ?></label>
                        <input type="text" id="invoice_edittodatepicker" name="special_to_date" class="required-entry wk-ship-rowinput" value=""/>
                    </div>
                    <div class="modal-footer">
                        <input type="reset" value="<?php echo __('Reset') ?>" class="wk-btn wk-btn_default"/>
                        <input type="submit" value="<?php echo __('Submit') ?>" class="wk-btn wk-btn-primary"/>
                        <span class="wk-clear"></span>
                    </div>
                </form>
            </div>
            <div tabindex="0" data-role="focusable-end"></div>
        </aside>
    </div>
</div>

<div id="wk-mp-shipping-print-data">
    <div class="modals-wrapper">
        <aside tabindex="0" data-type="popup" data-role="modal" class="modal-popup modal-slide _inner-scroll wk-mp-model-popup">
            <div tabindex="0" data-role="focusable-start"></div>
            <div data-role="focusable-scope" class="modal-inner-wrap">
                <header class="modal-header">
                    <h4 class="modal-title"><?php echo __('Download Packaging Slip') ?></h4>
                    <button type="button" data-role="closeBtn" class="action-close wk-close">
                        <span>Close</span>
                    </button>
                    <span  class="wk-clear" ></span>
                </header>
                <form id="form-shipping-print" method="post" action="<?php echo $block->getUrl('marketplace/order_shipment/printall', ['_secure' => $this->getRequest()->isSecure()]);?>" class="fieldset" data-mage-init='{"validation":{}}'>
                    <div class="modal-body form-list field required">
                        <label class="label"><?php echo __('Date From') ?></label>
                        <input type="text" name="special_from_date" class="required-entry wk-ship-rowinput editdeal_fromdate" id="editfromdatepicker"/>

                        <label class="label"><?php echo __('Date Untill') ?></label>
                        <input type="text" id="edittodatepicker" name="special_to_date" class="required-entry wk-ship-rowinput" value=""/>
                    </div>
                    <div class="modal-footer">
                        <input type="reset" value="<?php echo __('Reset') ?>" class="wk-btn wk-btn_default"/>
                        <input type="submit" id="report_submit" value="<?php echo __('Submit') ?>" class="wk-btn wk-btn-primary"/>
                        <span class="wk-clear"></span>
                    </div>
                </form>
            </div>
            <div tabindex="0" data-role="focusable-end"></div>
        </aside>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
    </p>
</div>

<script type="text/x-magento-init">
    {
        "*" : {
            "sellerOrderHistory" : {}
        }
    }
</script>

<script type="text/javascript">
	require([
		'jquery',
		'Magento_Ui/js/modal/modal'
	], function($, modal) {  
		$(document).ready(function(){
			
			$('#report_submit').click(function() {
				setTimeout(function(){  $( ".wk-close" ).trigger( "click" ); }, 2000);			 
			});
			
			
			$(document).on('click', '.procurement', function () {
				var orderId = $(this).attr('data-id');
				var url = '/iic/index/procure?orderid='+orderId+'&action=create';					
				var o_title = 'Order #'+$(this).attr('data-title')+' - Procurement';
				$.ajax({
					type: 'GET',
					url: url,
					success: function (output) {
						var options = {
							type: 'popup',
							responsive: true,
							innerScroll: true,
							modalClass : 'procure_model',
							title: o_title,
							buttons: []
						};       
						$('#procurement_popup').html(output).modal(options).modal('openModal');
					},
					error: function(output){
						alert("fail");
					}
				});	
				
			}); 
			
			$('.procurement----').click(function() {
				var orderId = $(this).attr('data-id');
				$(this).attr("disabled","disabled");
				$(this).text('Loading ...');
				$.ajax({   	  	 
					type: "GET",		
					url: "/iic/index/index?orderid="+orderId+'&action=create', 	
					success: function(){      
						//window.location.reload(true);
					}
				});
			}); 
			
			$('.fetchSapId').click(function() {
				var orderId = $(this).attr('data-id');
				$(this).attr("disabled","disabled");
				$(this).text('Loading ...');
				$.ajax({   	  	 
					type: "GET",		
					url: "/iic/index/index?orderid="+orderId+'&action=fetch', 	
					success: function(){      
						window.location.reload(true);
					}
				});
			});		
			
		});
	});
</script>

<style>
<style>	
.modal-popup.procure_model .modal-inner-wrap { margin: 5rem auto; width: 52%;}
.modal-popup.procure_model input::placeholder { color:#777777; font-size:16px;}
.modal-popup.procure_model h2{margin: 0px 0px 20px 0px;}
.modal-popup.procure_model .action-close::before{font-size: 27px; line-height: 33px;b font-weight: 100;}
.modal-popup.procure_model .modal-header { padding: 0px; margin-bottom: 0px; }
.modal-popup.procure_model .btn.btn-primary.submit {background: #333; border-radius: 4px; height: 46px; margin-bottom: 20px; }
div.mage-error[generated] { display: block !important; }

@media (max-width: 767px) {
	.modal-popup.procure_model.modal-slide { left: 0px; z-index: 900; }
	.modal-popup.procure_model .modal-inner-wrap { margin: 5rem auto; width: 94%; }
	.modal-popup.procure_model h2 { margin: 0px 0px 20px 0px; font-size: 18px; line-height: 26px; }
}
</style>
</style>
<script>
require(['jquery'], function ($) {				
	  jQuery('<div id="procurement_popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>').appendTo('body');	  			  
});
</script>
