
<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/* TODO: Code Cleanup Required   @ritesh*/

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$coupon =$objectManager->create('Magento\SalesRule\Model\Coupon');
$saleRule = $objectManager->create('Magento\SalesRule\Model\Rule');
$orderId = $this->getRequest()->getParam('id');
$order = $block->getOrder();

$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction'); 
$api_helpers = $objectManager->create('Customm\Apii\Helper\Data');
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

/* Eway Bill Functionality @ritesh*/
$needEwayBillNeeded=false;
$ewaybillGenerated=false;

// $needEwayBillNeeded=$this->needEwayBill();
// if($needEwayBillNeeded)
// {
//     $ewaybillGenerated=$this->isEwayBillGenerated();
// }
$proof_submitted=null;

$isEcom = $connection->fetchOne("SELECT ecom_order FROM `sales_order_grid` where entity_id =". $orderId);		
$wefrf = "SELECT proofofdelivery_id,approved_status,admin_comment FROM `om_proofofdelivery_proofofdelivery` where order_id =". $orderId;
$proof_submitted_data = $connection->fetchAll($wefrf);




if(!empty($proof_submitted_data))
{
    $proof_submitted_id =  $proof_submitted_data[0]['approved_status'];
    $admin_comment =  $proof_submitted_data[0]['admin_comment'];
    if($proof_submitted_id=='0')
    {
        $proof_submitted="Delivery Approval Pending";
    } else if ($proof_submitted_id=='1')
    {
        $proof_submitted="Delivery Approved";
    }
    else 
    {
        $proof_submitted="Delivery Rejected";
    }
}


$o_state = $order->getState();
$o_pincode = $order->getShippingAddress()->getPostCode();
$allowShiping = $connection->fetchOne("SELECT is_active FROM `pincode_details` where pincode like '". $o_pincode."'");	

$orderStatusLabel = $order->getStatusLabel();
$paymentCode = '';
$paymentMethod = '';
if ($order->getPayment()) {
    $paymentCode = $order->getPayment()->getMethod();
    $paymentMethod = $order->getPayment()->getMethodInstance()->getTitle();
}

$marketplaceOrders = $block->getSellerOrderInfo($orderId);
if (count($marketplaceOrders)) {
    $adminPayStatus = $block->getAdminPayStatus($orderId);
    $qtyToRefundAvail = $block->getQtyToRefundCollection($orderId);

    $tracking = $orderHelper->getOrderinfo($orderId);
    if ($tracking != "") {
        $disabled = $tracking->getTrackingNumber()==''? "":"readonly='readonly'";
        $shipmentId = $tracking->getShipmentId();
        $invoiceId=$tracking->getInvoiceId();
        $creditmemoId=$tracking->getCreditmemoId();

        $isCanceled=$tracking->getIsCanceled();
        if ($isCanceled) {
            $orderStatusLabel = 'Canceled';
        }

        if ($shipmentId) {
            $itemShipStatus = 'Shipped';
        } else {
            $itemShipStatus = '';
        }
        if ($invoiceId) {
            $itemInvoiceStatus = 'Invoiced';
        } else {
            $itemInvoiceStatus = '';
        }
        if ($creditmemoId && !$qtyToRefundAvail) {
            $shippingamount=$tracking->getShippingCharges();
            $refundedShippingAmount=$tracking->getRefundedShippingCharges();
            if ($shippingamount-$refundedShippingAmount == 0 ) {
                $itemRefundStatus = 'Refunded';
            } else {
                $itemRefundStatus = '';
            }
        } else {
            $itemRefundStatus = '';
        }

        $itemCancelStatus = $isCanceled;

        $invoiceId = $tracking->getInvoiceId();
    }
	
	


$order_inc_id=$order->getIncrementId();
$order_created_at = $order->getCreatedAt();
$status=$api_helpers->api_get_order_tracking($order_inc_id); 

$itemWtZero = [];
$getAllItem = $order->getAllItems();
foreach($getAllItem as $item){
    if(ceil($item->getWeight())<1){
        $itemWtZero[] = array(
            'itemId'    => $item->getItemId(),
            'itemName'  => $item->getName(),
            'sku'  => $item->getSku(),
        );
    }else{
        $itemWtZero = [];
    }
}

$weightCorect = (empty($itemWtZero)) ? true:false ; 


?>
	
    <div class="wk-mp-design">
        <div class="fieldset wk-mp-fieldset">
            <div class="page-title-wrapper">
                <h1 class="page-title">
                    <span data-ui-id="page-title-wrapper" class="base">
                        <?php echo __('Manage Order #%1', $order->getRealOrderId()) ?>
                    </span>
                </h1>
                 
                <span class="order-status">
					<?php echo $order->getStatus();?>
					<div class="pull-right" style="font-weight: 700;font-size: 15px;">
                    
                        <?php 
                            if($allowShiping && $isEcom == 'Yes')
                            {
                                echo 'Order will be managed by EcomExpress';
                            } else 
                            {
                                echo 'Order will not be managed by EcomExpress';
                            }
                        ?>
                
                    </div>
				</span>
                <?php if($needEwayBillNeeded && !$ewaybillGenerated):?>
                </br>
                    <span class="order-status" style="margin-top:12px;font-size:13px;">
                            You will need e-way bill number to process this order
                    </span>
                <?php endif;?>
                <?php if($proof_submitted && $proof_submitted_id==2):?>
                </br>
                    <span class="order-status" style="margin-top:12px;font-size:13px;">
                            Admin Rejected Proof of document with the comment : <?= $admin_comment?>
                    </span>
                <?php endif;?>

                <?php if(!$weightCorect):?>
                </br>
                    <span class="order-status" style="margin-top:12px;font-size:13px;color:#0b0808">
                            Ordered Products do not have have proper weight . Please fill weight to ship the order .  
                    </span>
                <?php endif;?>
                

                
                <div class="order-date">
                    <?php echo __('<span class="label">Order Date:</span> %1', '<date>' . $block->formatDate($order->getCreatedAt(),\IntlDateFormatter::MEDIUM, true, $block->getTimezoneForStore($order->getStore())) . '</date>') ?>
                </div>
                <div class="actions-toolbar order-actions-toolbar">
                    <div class="actions">
						<?php /* ?>
                        <a onclick="this.target='_blank';" href="<?php echo $block->getUrl('marketplace/order/printorder', ['id'=>$orderId, '_secure' => $this->getRequest()->isSecure()]);?>" class="action">
                            <button class="button wk-mp-btn " title="<?php echo __('Print') ?>" type="submit" id="save_butn" >
                                <span><span><?php echo __('Print') ?></span></span>
                            </button>
                        </a>
                        <?php if ($itemCancelStatus!="1" && $order->canCancel() && $itemInvoiceStatus!="Invoiced") {?>
                            <a href="<?php echo $block->getUrl('marketplace/order/cancel', ['id'=>$orderId, '_secure' => $this->getRequest()->isSecure()])?>" onclick="return confirm('<?php echo __("Are you sure you want to cancel this order?") ?>')" class="action">
                                <button class="button wk-mp-btn" title="<?php echo __('Cancel Order') ?>" type="button">
                                    <span><span><?php echo __('Cancel Order') ?></span></span>
                                </button>
                            </a>
                        <?php
                        } ?>
                        <?php if ($itemCancelStatus!="1" && !$order->isCanceled()) {?>
                            <a href="<?php echo $block->getUrl('marketplace/order/email', ['id'=>$orderId, '_secure' => $this->getRequest()->isSecure()])?>" onclick="return confirm('<?php echo __("Are you sure you want to send order email to customer?") ?>')" class="action">
                                <button class="button wk-mp-btn" title="<?php echo __('Send Email To Customer') ?>" type="button">
                                    <span><span><?php echo __('Send Email') ?></span></span>
                                </button>
                            </a>
                        <?php
                        } ?>
                        <?php if ($itemInvoiceStatus!="Invoiced" && $order->canInvoice() && $itemCancelStatus!="1") {?>
                            <a href="<?php echo $block->getUrl('marketplace/order/invoice', ['id'=>$orderId, '_secure' => $this->getRequest()->isSecure()])?>" class="action">
                                <button class="button wk-mp-btn" title="<?php echo __('Create Invoice to confirm collected amount from buyer for this order') ?>" onclick="return confirm('<?php echo __("Are you sure you want to create invoice?") ?>')" type="button">
                                    <span><span><?php echo __('Invoice') ?></span></span>
                                </button>
                            </a>
                        <?php
                        } else if ($itemInvoiceStatus=="Invoiced" && $itemRefundStatus!="Refunded" && $order->canCreditmemo() && $itemCancelStatus!="1") {
                            if ($paymentCode == 'mpcashondelivery' && !$adminPayStatus) { ?>
                                <a href="<?php echo $block->getUrl('mpcashondelivery/order/payadmin', ['id'=>$orderId, '_secure' => $this->getRequest()->isSecure()])?>" class="action">
                                    <button class="button wk-mp-btn" title="<?php echo __('Pay Admin for his commission for this order') ?>" onclick="return confirm('<?php echo __("If you pay admin commission then you can not do refund for buyer in future. Are you sure you want to pay admin for his commission?") ?>')" type="button">
                                        <span><span><?php echo __('Pay Admin Commission') ?></span></span>
                                    </button>
                                </a>
                                <a href="<?php echo $block->getUrl('marketplace/order_creditmemo/create', ['order_id'=>$orderId, '_secure' => $this->getRequest()->isSecure()])?>" class="action">
                                    <button class="button wk-mp-btn" title="<?php echo __('Create Credit Memo') ?>" type="button">
                                        <span><span><?php echo __('Credit Memo') ?></span></span>
                                    </button>
                                </a>
                            <?php
                            } elseif ($paymentCode != 'mpcashondelivery') { ?>
                                <a href="<?php echo $block->getUrl('marketplace/order_creditmemo/create', ['order_id'=>$orderId, '_secure' => $this->getRequest()->isSecure()])?>" class="action">
                                    <button class="button wk-mp-btn" title="<?php echo __('Create Credit Memo') ?>" type="button">
                                        <span><span><?php echo __('Credit Memo') ?></span></span>
                                    </button>
                                </a>
                            <?php
                            }
                        } ?>
                        <?php */ ?>
                        
                        <?php  if ($itemShipStatus!="Shipped" && $itemRefundStatus!="Refunded"  && $itemCancelStatus!="1" && $block->isOrderCanShip($order)) {  ?>
							
						    <?php                          
								if($isEcom == 'No') {
									$awb_number = '';
								} else{
									// $awb_number = $tracking->getTrackingNumber();
									$awb_number = "23423452352";
								}
							?>




			
                            <?php if($needEwayBillNeeded && !$ewaybillGenerated):?>
                                <button class="button wk-mp-btn" title="Enter E-Way Bill Number" type="button" id="eway_bill_btn">
									<span><span>Enter E-Way Bill Number</span></span>
								</button>
                                <button style="display:none" class="button wk-mp-btn" title="<?php echo __('Create Shipment for Order') ?>" type="button" id="<?php echo $allowShiping==true ? 'mp-create-shipment-btn':'lockdown_noship_btn' ;?>">
									<span><span><?php echo __('Ship') ?></span></span>
								</button>
                            <?php else  : ?>
                                <?php if(!$weightCorect):?>
                                    <button class="button wk-mp-btn" title="<?php echo __('Fill Weight') ?>" type="button" id="mfill_weight">
                                            <span><span><?php echo __('Fill Weight') ?></span></span>
                                    </button>
                                <?php else  : ?>
                                    <button class="button wk-mp-btn" title="<?php echo __('Create Shipment for Order') ?>" type="button" id="<?php echo $allowShiping==true ? 'mp-create-shipment-btn':'lockdown_noship_btn' ;?>">
									<span><span><?php echo __('Ship') ?></span></span>
								</button>
                                <?php endif; ?>
                                
                            <?php endif; ?>
                                <?php if($proof_submitted && $proof_submitted_id!=2):?>
                                    <button class="button wk-mp-btn" style="width:17%" title="Mark As Delivered" type="button">
                                        <span><span><?=$proof_submitted?></span></span>
                                    </button>
                                <?php else:?>
                                   <button class="button wk-mp-btn" title="Mark As Delivered" type="button" id="mark_as_delivered_btn">
                                        <span><span>Mark As Delivered</span></span>
                                    </button>
                                <?php endif;?>
                                
                        <?php } ?>
                        
                        <?php //if($order->hasShipments()) { ?>
                            <a href="<?php echo $block->getUrl('marketplace/order_invoice/downloadall', ['real_order_id' => $order->getIncrementId()]);?>" class="left">
                                <button class="button wk-mp-btn" title="<?php echo __('Download All') ?>" type="button" id="mp-downloadall-invoices">
                                    <span><span><?php echo __('Download All') ?></span></span>
                                </button>
                            </a>
                        <?php //} ?>
                        
                        
                    </div>
                </div>
            </div>
            <?php
            $_links = $block->getLinks();
            ?>
            <ul class="items order-links">
                <?php foreach ($_links as $_link): ?>
                    <?php if (strpos($_link['url'], "marketplace/order/view") === false): ?>
                        <li class="nav item">
                            <a href="<?php echo $_link['url'] ?>">
                                <?php echo $_link['label'] ?>
                            </a>
                        </li>
                    <?php else: ?>
                        <li class="nav item current"><strong><?php echo $_link['label'] ?></strong></li>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
            <div class="order-details-items ordered"> 
                <div class="order-title">
                    <strong><?php echo __('Items Ordered') ?></strong>
                </div>
                <?= $block->getChildHtml('marketplace_order_items') ?>
            </div>  
            <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                <div class="block block-order-details-view">
                    <div class="block-title">
                        <strong><?php echo __('Buyer Information') ?></strong>
                    </div>
                    <div class="block-content"> 
                       
                            <div class="box">
                                <div class="wk-row">
                                    <span class="label"><?php echo __('Customer Name')?> : </span>  
                                    <span class="value"><?php echo $order->getCustomerName(); ?></span>
                                </div>
                                <div class="wk-row">
                                    <span class="label"><?php echo __('Email')?> : </span>
                                    <span class="value"><?php echo $order->getCustomerEmail(); ?></span>
                                </div>
								<?php 
									$api_helpers = $objectManager->create('Customm\Apii\Helper\Data'); 
									
                                    $customerArray=$api_helpers->get_user_details($order->getCustomerId());	
									
										$customer_gst='';

										if(!empty($customerArray[1]['gst']))
										{
											?>
									 <div class="wk-row">
                                    <span class="label"><?php echo __('GST')?> : </span>
                                    <span class="value">
									
									</span>
                                     </div>
									<?php 
										echo $customer_gst=$customerArray[1]['gst'];
										}	

									?>
									
								
                         
                        </div>
                    </div>
                </div>
            <?php } ?>
            <div class="block block-order-details-view">
                <div class="block-title">
                    <strong><?php echo __('Order Information') ?></strong>
                </div>
                <div class="block-content">
                    <?php if ($block->isOrderCanShip($order)): ?>
                        <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                            <div class="box box-order-shipping-address">
                                <strong class="box-title"><span><?php echo __('Shipping Address') ?></span></strong>
                                <div class="box-content">
                                    <address><?php echo $block->getFormattedAddress($order->getShippingAddress()); ?></address>
                                </div>
                            </div>
                        <?php
                        } ?>
                        <div class="box box-order-shipping-method">
                            <strong class="box-title">
                                <span><?php echo __('Shipping Method') ?></span>
                            </strong>
                            <div class="box-content">
                            <?php if ($order->getShippingDescription()): ?>
                                <?php echo $block->escapeHtml($order->getShippingDescription()) ?>
                            <?php else: ?>
                                <?php echo __('No shipping information available'); ?>
                            <?php endif; ?>
                            </div>
                            <?php
                            if ($itemShipStatus!="Shipped" && $itemCancelStatus!="1" && $block->isOrderCanShip($order)) { ?>
                                <form action="<?php echo $block->getUrl('marketplace/order/shipment', ['_secure' => $this->getRequest()->isSecure()])?>" id="marketplace-shipping-form" method="post">
                                    <input class="required-entry" type="hidden" value="<?php echo $order->getId(); ?>" name="id"/>
									
                                    <table class="data-table orders wk-mp-list_table" id="my-orders-table">
                                        <col width="1" />
                                        <col width="1" />
                                        <tbody>
										 
										
                                            <?php
                                            foreach ($block->getChildNames() as $key => $blockName) {
                                                if ($blockName != 'marketplace_order_items') {
                                                    echo $block->getChildHtml($blockName, false);
                                                }
                                            } ?>
                                            <tr>
                                             <?php
                                             if($isEcom == 'No') {
                                                $carrierName = '';
                                                $trackingNumber = '';
                                                $requiredClass = '';
                                             }
                                             else{
                                                $carrierName = 'EcomExpress';
                                                // $trackingNumber = $tracking->getTrackingNumber();
                                                $trackingNumber="2352423";
                                                $requiredClass = 'required-entry';
                                             }
                                             ?>   
											<th>Shipping </th>
                                                <td>
                                                    <input class="carrier input-text" value="<?php echo $carrierName;?>"  type="text" name="carrier" placeholder="<?php echo __('Carrier') ?>" readonly />
                                                </td> 
                                            </tr>     
                                            <tr>
											<th>Tracking Number</th>
                                                <td>
                                                    <input class="<?php echo $requiredClass?> input-text" value="<?php echo $trackingNumber; ?>"  type="text" name="tracking_id" placeholder="<?php echo __('Tracking Number') ?>" readonly />
                                                </td> 
                                            </tr>
                                            <tr>
                                            <?php if($needEwayBillNeeded && !$ewaybillGenerated):?>
                                                <th>E-way Bill Number</th>
                                                    <td>
                                                        <input class="<?php echo $requiredClass?> input-text" value=""  type="text" id="ewaybill_actual_input_id"  name="ewaybill_actual_input" placeholder="<?php echo __('E-way Bill Number') ?>" readonly />
                                                    </td> 
                                                </tr>
                                            <?php endif;?>

                                        </tbody>
                                    </table>
                                </form>
                                <?php
                            } ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                        <div class="box box-order-billing-address">
                            <strong class="box-title">
                                <span><?php echo __('Billing Address') ?></span>
                            </strong>
                            <div class="box-content">
                                <address><?php echo $block->getFormattedAddress($order->getBillingAddress()); ?></address>
                            </div>
                        </div>
                    <?php
                    } ?>
                    <div class="box box-order-billing-method">
                        <strong class="box-title">
                            <span><?php echo __('Payment Method') ?></span>
                        </strong>
                        <div class="box-content">
						 <?php  
						   ?>
                            <?php if($paymentMethod == 'Pay Online')
							{
								echo "Paid Online";
							}
							else
							{
							echo $paymentMethod;} ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	

	<?php
    
	if($isEcom == 'Yes') {

		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		
		$sql = "Select * FROM marketplace_orders where order_id='".$orderId."' and tracking_number!=''";
		$result = $connection->fetchAll($sql); 
		    
		if(empty($result))
		{
			$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
			echo $helpers->get_awb($orderId); 
		}
	}
	 

	?> 	
	
	
	  
    <div class="buttons-set">
        <p class="back-link">
            <a href="<?php echo $block->getUrl('marketplace/order/history', ['_secure' => $this->getRequest()->isSecure()]);?>" class="left">&laquo; <?php echo __('Back To My Orders') ?></a>
        </p>
    </div>
	
	<script>
        require([
            "jquery",
            "mage/mage"
        ], function($) {
			
			var len=jQuery('#marketplace-shipping-form').length;
			if(len!='0')
			{	
				var cust_carr=jQuery('.cust_carr').html();
				var awb=jQuery('.awb').html(); 
				
				//jQuery('input[name=carrier]').val(cust_carr); 
				jQuery('input[name=tracking_id]').val(awb); 
			}     
			
            var dataForm = $('#marketplace-shipping-form');
            dataForm.mage('validation', {});

            $('#mp-create-shipment-btn').click(function() {
                var confimation = confirm('Are you sure you want to create shipment?');
                if (confimation) {
                    dataForm.submit();
                }
            });
        });
    </script> 
	
    <?php } ?>

<div id="noecom_ship_form_popup" style="display:none;">
	<form class="needs-validation" method="post" enctype='multipart/form-data' action="/proofofdelivery/proof/submit" autocomplete="off" >
        <div>The proof of delivery need to be submitted for manually delivering an order . Order will be marked as delivered by admin after verifing the delivery document proof</div>
		<input type="hidden" id="order_id" name="order_id" value="<?php echo $order->getId(); ?>" />
		<div class="row">
			<div class="col-6 mb-6">
				<input type="text" class="input-text datepicker" required name="shipping_date" placeholder="Shipping Date" value="">
			</div>
			<div class="col-6 mb-6">
				<input type="text" class="input-text datepicker" required name="delivery_date" placeholder="Delivery Date" value="">
			</div>
            <div class="col-6 mb-6">
				<input type="file" class="input-text" required name="proof_document" placeholder="Proof Of Delivery" value="">
			</div>
		</div>
		<div style="clear:both;margin-top:30px;"></div> 
		<div class="row justify-content-md-center">
			<div class="col-md-6 mb-4">
				<button class="btn btn-primary submit" type="submit" >Submit Proof Of Delivery</button>
			</div>
		</div>
	</form>	
</div>
 

<div id="fillitemweight" style="display:none;">
	<form class="needs-validation" method="post" enctype='multipart/form-data' action="<?php echo $block->getBaseUrl()."marketplace/itemweight"; ?>" autocomplete="off">
        <input type="hidden" id="order_id" name="order_id" value="<?php echo $order->getId(); ?>" />
        <table class="table table-bordered ">
            <thead>
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Sku</th>
                <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($itemWtZero as $itemData){ ?>
                    <tr>
                        <input type="hidden" id="item_id" name="item_id[]" value="<?php echo $itemData['itemId']?>" />
                        <td><?php echo $itemData['itemName']?></td>
                        <td><?php echo $itemData['sku']?></td>
                        <td><input type="number" step="0.01" class="input-text" id="<?php echo $itemData['itemId'] ?>" required name="weight_<?php echo $itemData['itemId'] ?>" placeholder="Item Weight In kgs" ></td>
                    </tr>
                <?php } ?>
                <tr>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-primary submit" type="submit" >Submit Item Weight</button></td>
                    </tr>
            </tbody>
        </table>
        <div style="clear:both;margin-top:30px;"></div>
	</form>
    <div class="row">
        <div class="col-md-6 mb-4"> <p>Note  : if your product weight is 230g , enter 0.23 </p></div>
    </div>
</div>

<div id="eway_bill_form" style="display:none;">
		<div class="row">
			<div class="col-6 mb-6">
				<input type="text" class="input-text" data-validate="" id="ewaybill_modal_input_value" name="ewaybill_modal_input" placeholder="Eway Bill NUmber" value="">
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-md-6 mb-4">
				<button class="btn btn-primary" type="button" id="eway_bill_enter_button">Submit Eway Bill</button>
			</div>
		</div>
	</form>	
</div>


<div id="lockdown_noship_popup" style="display:none;">
	<center><br /><h2 style="color:#0e0e0e; font-weight:500">Ecom Shippment is currently not allowed for this pincode <?php echo $o_pincode; ?> . Please use another shipping method .</center></h2><br />
</div>


<script type="text/javascript">
	require(['jquery','mage/mage','Magento_Ui/js/modal/modal','mage/calendar'], function($){
		
	    $('.datepicker').datepicker({
                minDate: new Date('<?=$order_created_at?>'),maxDate: "+1M +10D"
            }
        );	
	   
		var options = {
			type: 'popup',
			responsive: true,
			innerScroll: true,
			modalClass : 'cship_model',
			title: 'Order ID : #<?php echo $order->getIncrementId(); ?>',
			buttons: []
		};  

        		var options_weight = {
			type: 'popup',
			responsive: true,
			innerScroll: true,
			modalClass : 'cship_model',
			title: 'Fill Weight',
			buttons: []
		};

		$(document).on('click', '#mark_as_delivered_btn', function () {     
			$('#noecom_ship_form_popup').modal(options).modal('openModal');
		});
        $(document).on('click', '#mfill_weight', function () {
			$('#fillitemweight').modal(options_weight).modal('openModal');
		});

		

        $(document).on('click', '#eway_bill_btn', function () {     
			$('#eway_bill_form').modal(options).modal('openModal');
		});	

        $('button#eway_bill_enter_button').click( function() {
			var ewaybill = $('#ewaybill_modal_input_value').val();
			if(ewaybill)
            {
                $('#ewaybill_actual_input_id').val(ewaybill);
                $('#eway_bill_form').modal(options).modal('closeModal');
            }

            
		});


		var options = {
			type: 'popup',
			responsive: true,
			innerScroll: true,
			modalClass : 'cship_model',
			title: 'Order ID : #<?php echo $order->getIncrementId(); ?> Shipping Restriction',
			buttons: []
		};  
		
		$(document).on('click', '#lockdown_noship_btn', function () {     
			$('#lockdown_noship_popup').modal(options).modal('openModal');
		});	
		
					
	   var dataForm = $('#noecom_ship_form');
	   dataForm.mage('validation', {});
	   	   
	   	var ecurl = '<?php echo $block->getUrl("marketplace/order_invoice/noecomship", ["_secure" => $this->getRequest()->isSecure()]);?>';
		$('button#cship-button').click( function() {
			var status = dataForm.validation('isValid');
			if(status){
				jQuery.ajax({
					type : 'POST',
					url : ecurl,
					data : jQuery('#noecom_ship_form').serialize(),
					success: function(msg){
						if(msg=='success'){
							window.location.reload();
						}
					}
				});
			}
		});
		
	});
</script>
<style>	
.modal-popup.cship_model .modal-inner-wrap { margin: 5rem auto; width: 52%;}
.modal-popup.cship_model input::placeholder { color:#777777; font-size:16px;}
.modal-popup.cship_model h2{margin: 0px 0px 20px 0px;}
.modal-popup.cship_model .action-close::before{font-size: 27px; line-height: 33px;b font-weight: 100;}
.modal-popup.cship_model .modal-header { padding: 0px; margin-bottom: 0px; }
.modal-popup.cship_model .btn.btn-primary.submit {background: #333; border-radius: 4px; height: 46px; margin-bottom: 20px; }

.cship_model .modal-title 
{
    margin: auto !important;
    font-weight: 600;
    padding: 2%;
}

@media (max-width: 767px) {
	.modal-popup.best_price_modal.modal-slide { left: 0px; z-index: 900; }
	.modal-popup.best_price_modal .modal-inner-wrap { margin: 5rem auto; width: 94%; }
	.modal-popup.best_price_modal h2 { margin: 0px 0px 20px 0px; font-size: 18px; line-height: 26px; }
}
</style>
