<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$isPartner = $helper->isSeller();
if ($isPartner == 1) {
    $orderId = $this->getRequest()->getParam('id');
    $order = $block->getOrder();
    $orderStatusLabel = $order->getStatusLabel();
    $paymentMethod = '';
    if ($order->getPayment()) {
        $paymentMethod = $order->getPayment()->getMethodInstance()->getTitle();
    }

    $marketplaceOrders = $block->getSellerOrderInfo($orderId);
    if (count($marketplaceOrders)) {
        $tracking=$orderHelper->getOrderinfo($orderId);
        if ($tracking->getIsCanceled()) {
            $orderStatusLabel='Canceled';
        }
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction'); 
$api_helpers = $objectManager->create('Customm\Apii\Helper\Data');
	$status=$api_helpers->api_get_order_tracking($res['magerealorder_id']); 
		?>
		
        <div class="wk_mp_design">
            <div class="fieldset wk_mp_fieldset" id="wk_mp_print_order">
                <div class="page-title-wrapper">
                    <h1 class="page-title">
                        <span data-ui-id="page-title-wrapper" class="base">
                            <?php echo __('Order #%1', $order->getRealOrderId()) ?>
                        </span>
                    </h1>
                    <span class="order-status ddd"><?php echo $status; ?> </span>
                    <div class="order-date">
                        <?php echo __('<span class="label">Order Date:</span> %1', '<date>' . $block->formatDate($order->getCreatedAt(),\IntlDateFormatter::MEDIUM, true, $block->getTimezoneForStore($order->getStore())) . '</date>') ?>
                    </div>
                    <div class="actions-toolbar order-actions-toolbar">
                        <div class="actions">
                            <a onclick="this.target='_blank';" href="<?php echo $block->getUrl('marketplace/order/printorder', ['id'=>$orderId, '_secure' => $this->getRequest()->isSecure()]);?>" class="action print">
                                <button class="button wk_mp_btn " title="<?php echo __('Print') ?>" type="submit" id="save_butn" >
                                    <span><span><?php echo __('Print') ?></span></span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="order-details-items ordered">
                    <div class="order-title">
                        <strong><?php echo __('Items Ordered') ?></strong>
                    </div> 
                    <?= $block->getChildHtml('marketplace_order_items') ?>
                </div>
                <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                    <div class="block block-order-details-view">
                        <div class="block-title">
                            <strong><?php echo __('Buyer Information ddd') ?></strong>
                        </div>    
                        <div class="block-content"> 
                         
                                <div class="box">
                                    <div class="wk_row">
                                        <span class="label"><?php echo __('Customer Name')?> : </span>
                                        <span class="value"><?php echo $order->getCustomerName(); ?></span>
                                    </div>
                                    <div class="wk_row">
                                        <span class="label"><?php echo __('Email')?> : </span>
                                        <span class="value"><?php echo $order->getCustomerEmail(); ?></span>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                <?php } ?>  
                <div class="block block-order-details-view">
                    <div class="block-title">
                        <strong><?php echo __('Order Information') ?></strong>
                    </div>
                    <div class="block-content">
                        <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                            <?php if ($block->isOrderCanShip($order)): ?>
                                <div class="box box-order-shipping-address">
                                    <strong class="box-title"><span><?php echo __('Shipping Address') ?></span></strong>
                                    <div class="box-content">
                                        <address><?php echo $block->getFormattedAddress($order->getShippingAddress()); ?></address>
                                    </div>
                                </div>

                                <div class="box box-order-shipping-method">
                                    <strong class="box-title">
                                        <span><?php echo __('Shipping Method') ?></span>
                                    </strong>
                                    <div class="box-content">
                                    <?php if ($order->getShippingDescription()): ?>
                                        <?php echo $block->escapeHtml($order->getShippingDescription()) ?>
                                    <?php else: ?>
                                        <?php echo __('No shipping information available'); ?>
                                    <?php endif; ?>
                                    </div>
                                </div>
                            <?php endif; ?>
                            <div class="box box-order-billing-address">
                                <strong class="box-title">
                                    <span><?php echo __('Billing Address') ?></span>
                                </strong>
                                <div class="box-content">
                                    <address><?php echo $block->getFormattedAddress($order->getBillingAddress()); ?></address>
                                </div>
                            </div>
                        <?php } ?>
                        <div class="box box-order-billing-method">
                            <strong class="box-title">
                                <span><?php echo __('Payment Method') ?></span>
                            </strong>
                            <div class="box-content">
                                <?php echo $paymentMethod; ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-set">
            <p class="back-link">
                <a href="<?php echo $block->getUrl('marketplace/order/history', ['_secure' => $this->getRequest()->isSecure()]);?>" class="left">&laquo; <?php echo __('Back To My Orders') ?></a>
            </p>
        </div>
        <?php
    }
} else { ?>
    <h2 class="wk_mp_error_msg">
        <?php echo __("To Become Seller Please Contact to Admin."); ?>
    </h2>
    <?php
} ?>
