<form id="edit_form" action="<?php echo  $this->getUrl("marketplace/product/disform"); ?>" method="post" novalidate="novalidate">

  <fieldset class="fieldset admin__fieldset " id="page_base_fieldset">
	  <?php echo $block->getBlockHtml('formkey')?>
	 <legend class="admin__legend legend"><span>Add Remark for selected products.</span> </legend>	 
	 <br>
	 <div class="messages"></div>
	 
	 <div class="required _required">
		<label class="label admin__field-label"><span>Remark</span></label>
		<div class="admin__field-control control">
		   <textarea id="page_pincode" name="remark" value="" class=" input-text admin__control-text required-entry _required" aria-required="true" ></textarea>                       
		</div>
	 </div>
	 
	 <br />
	 
	 <div class="required _required">
		<div class="admin__field-control control">
		  <button name="submit" type="submit">Submit</button>                         
		</div>
	 </div>
	 
	 
  </fieldset>

</form>
