<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Newsletter\Block\Subscribe $block */
?>
<div class="block newsletter">
    <div class="title"><strong><?= $block->escapeHtml(__('Subscribe')) ?></strong></div>
    <div class="content">
        <form class="form subscribe"
            novalidate
            action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <div class="control">
                    <label for="newsletter">
                        <span class="label">
                            <?= $block->escapeHtml(__('Sign Up for Our Newsletter:')) ?>
                        </span>
                        <input name="email" type="email" id="newsletter"
                               placeholder="<?= $block->escapeHtml(__('Your Email Address')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}"
                        />
                    </label>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary"
                        title="<?= $block->escapeHtmlAttr(__('SUBSCRIBE')) ?>"
                        type="submit"
                        aria-label="Subscribe">
                    <span><?= $block->escapeHtml(__('SUBSCRIBE')) ?></span>
                </button>
            </div>
        </form>
    </div>
    <p>Register now to get updates on promotions and coupons or</p>
    <div class="dowloadlink">
        <a href="https://play.google.com/store/apps/details?id=com.panasonic.getmyspares&hl=en" target="_blank">Download App</a>
    </div> 
</div>

<style>

     input#newsletter::-webkit-input-placeholder { /* Edge */
      color: rgba(122, 118, 111, 0.6);
      font-size: 14px;
    font-family: "Fedra Sans Book 5";
    }

    input#newsletter:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: rgba(122, 118, 111, 0.6);
    font-family: "Fedra Sans Book 5";
      font-size: 14px;
    }

    input#newsletter::placeholder {
      color: rgba(122, 118, 111, 0.6);
        font-family: "Fedra Sans Book 5";
      font-size: 14px;
    }
</style>