<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>
<?php if($block->customerLoggedIn()): ?>
    <!--<li class="customer-welcome">-->
	<?php
			$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
			$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			 
			?>
        	
		
      <!--<span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
            <span data-bind="text: customer().fullname"></span>
            <button type="button"
                    class="action switch"
                    tabindex="-1"
                    data-action="customer-menu-toggle">
                <i class="fa fa-user" aria-hidden="true"></i><span>Hi,<?php //if($customerSession->isLoggedIn()) { ?><?php//  echo $customerSession->getCustomer()->getName(); }
			?> </span> 
            </button>
        </span> 
        <script type="text/x-magento-init">  
        { 
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>--> 
        <?php if($block->getChildHtml()):?>
        <!--<div class="customer-menu" data-target="dropdown">-->
            
         <!--</div>-->
        <?php endif; ?>
   <!-- </li> -->
<?php endif; ?>
