<div class="admin__fieldset-wrapper-content">
<form action="<?php echo $block->getUrl('change/password/submit'); ?> method="post">
    <div class="admin__fieldset">
        <div class="admin__field">
            <div class="admin__field-label" >
                <label >
                        <span>Customer  Email</span>
                </label>
            </div>
            <div class="admin__field-control">
                <input class="admin__control-text" type="email" required name="email">
            </div>
        </div>
        <div class="admin__field">
            <div class="admin__field-label" >
                <label >
                        <span> Customer New  Password </span>
                </label>
            </div>
            <div class="admin__field-control">
                <input class="admin__control-text" type="password" minlength="6" required name="new_password">
            </div>
        </div>
        <div class="admin__field">
        <div class="admin__field-label" >
                <label >
                        <span></span>
                </label>
            </div>
            <div class="admin__field-control">
                <button id="save" title="Save Customer" style="margin-top:20px" type="submit" class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-form-role="save" data-ui-id="save-button" role="button" aria-disabled="false"><span class="ui-button-text">
            <span>Save Customer</span>
        </span></button>
            </div>
        </div>
    </div>
</form>
</div>