/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
/*start order css*/
.wk-order-info-title{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}
@media only screen and (min-width: 768px){
    .wk-mp-design .wk-box{
        width: 48%!important;
    }
}
@media only screen and (max-width: 767px){
    .wk-order-title-block{
        display: none;
    }
}
.wk-mp-design .order-actions-toolbar,
.wk-mp-design .actions,
.wk-mp-page-title,
.wk-sales,
.wk-orderbox-details .name,
.wk-ship-row
{
    display: inline-block;
    width: 100%;
}
.wk-mp-design .block-order-details-view{
    margin-bottom: 0!important;
}
.wk-mp-design .table-wrapper{
    overflow: auto;
}
@media only screen and (min-width: 768px) {
    .wk-mp-design .order-details-items.ordered .order-title {
        display: none;
    }
}
.wk-mp-design .order-details-items.ordered {
    border: 1px solid #ccc;
    padding: 25px;
}
.wk-mp-design .block-order-details-view .block-content .box {
    margin-bottom: 30px;
}
/*end order css*/
.wk-mp-design .fieldset > .legend {
    box-sizing: border-box;
    float: left;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
}
.wk-mp-design .fieldset > .field:not(.choice) > .label {
    float: none;
}
.wk-mp-design .fieldset > .field > .label, .fieldset > .fields > .field > .label ,
.wk-mp-model-popup .fieldset > .field > .label, .fieldset > .fields > .field > .label {
    display: inline-block;
    margin: 0 0 8px;
    width: auto!important;
}
.wk-mp-model-popup .fieldset {
    overflow: auto;
}
.wk-mp-page-title h2{
    float: left;
    margin: 0;
}
.wk-mp-dashboard-diagram-chart {
    width: 80%;
}
.wk-refundtotal-td1{
    width: 88%;
    padding: 5px!important;
}
.wk-refundtotal-td2{
    width: 10%;
    padding: 5px!important;
}
.wk-refundtotal-td2.a-right,
.wk-grandtotal-divider .a-right {
    text-align: right;
}
.wk-grandtotal-divider .a-left {
    text-align: left;
}
.wk-grandtotal-divider {
    border-top: 1px solid #e3e3e3;
}
tr:nth-child(odd) .wk-refundtotal-td1,
tr:nth-child(odd) .wk-refundtotal-td2 {
    background-color: #f1f1f1;
}
.wk-refundtotal-container th,.wk-refundtotal-container td{
    border: none!important;
}
.wk-mp-design2{
    margin-top: 20px;
}
.wk-mp-design input[type=email],
.wk-mp-design input[type=search],
.wk-mp-design input[type=number],
.wk-mp-design input[type=password],
.wk-mp-design input[type=tel],
.wk-mp-design input[type=text]{
    width:99%;
}
.wk-mp-design .wk-mp-fieldset .control{
    width:100%!important;
    overflow: auto;
}
.wk-mp-design .mceLayout{
    width:100%;
}
.marketplace-marketplaceaccount-printorder{
    background: none;
}
.wk-mp-error-msg{
    color:#ff0000;
    font-weight:600
}
.questimg{
    padding: 0 10px;
    cursor: pointer;
}
.views{ background-color: #7F7F7F;
    border: 1px solid;
    color: #FFFFFF;
    display: none;
    margin-left: 32.7%;
    position: absolute;
    width: 29%;
    border-left-color: #BCE8F1;
    border-width: 10px;
    overflow: hidden;
}
#wk-mp-print-order{
    text-align: left;
    border:1px solid #CCCCCC;
}
.wk-profile-alert{
    padding: 10px;
    border: 1px solid #faebcc;
    margin-bottom: 20px;
    border-radius: 4px;
    vertical-align: bottom;
    color: #8a6d3b;
    background: #fcf8e3;
    line-height: 1.42857143;
}
.wk-close:hover,
.wk-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
.wk-profile-alert strong {
font-weight: 700;
}
.wk-txt-trans{
    text-transform: uppercase;
}
.wk-mp-body input[type=checkbox]{    margin-right: 5px;}
.wk-mp-body td{
    text-align: center;
    padding:5px 7px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: url("../images/filter-row-bg.png") repeat-x #e3eff1;
    background-color: #e3eff1;
    border-bottom: none;
}
#wk-mp-tr-heading{
    /*background: url("../images/sort-row-bg.gif") repeat-x scroll 0 50% rgba(0, 0, 0, 0);*/
    background-color: #eeeeee;
}
/*
#wk-mp-tr-heading th {
    border-color: #D1CFCF;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    font-weight: bold;
    padding: 3px 9px;
}*/
.wk-mp-list-table {
    width: 100%;
    border: 1px solid #CCCCCC;
}
.wk-mp-list-table thead span{
    font-weight: bold;
}
.wk-mp-list-container-table{
    margin-top:15px;
    margin-bottom: 2px;
    clear: both;
}
td.wk-mp-td-last{
    border-right:1px;
}
.wk-mp-td-span{
    width: 50%;
    float: left;
}
.wk-mp-td-span input{
    width: 60%;
}
.wk-mp-label{
    background: none repeat scroll 0 0 #F18200;
    border: 1px solid #DE5400;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 2px 15px;
    padding: 1px 5px;
}
.wk-content th {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk-row-view td {
    border-left: 1px solid #ccc;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.wk-check-first-td{
    border-left: none;
    border-right: 1px solid #ccc;
}
.wk-first-td{
    width: 26%;
    border-left: none;
}
.wk-last-tr{
   border-bottom: none;
}
.wk-pro-divide1 {
width: 40%;
float: left;
overflow: hidden;
}
.wk-pro-divide2 {
width: 60%;
float: left;
overflow: hidden;
}
.wk-pro-divide2 a{
    text-decoration: none;
}
a:hover{
    color: #ea7900;
}
.wk-emptymsg{
    color: #DF2111;
    font-weight:
    bold;font-size: 14px;
    text-transform: uppercase;
}
.wk-row-view .label .image { height: 55px; margin: 2px; width: 55px; border: 1px solid #ccc;}
.wk-row-view .label img { cursor: pointer; }

.wk-title-label{
    color: #6B6B63;
    font-size: 14px;
}
.wk-label{
    font-size: 14px;
}
.wk-ordertitle-label{
    color: #6B6B63;
}
.wk-orderbox-details .color{
    font-size:16px;
}
.wk-order-creditmemo-button {
    width: 100%;
    display: inline-block;
}
.wk-order-creditmemo-button button{
    float: right;
}
.wk-dash-orderstatus {
    padding: 4px;
    padding-right: 0;
    float: left;
    width: 21%;
}

.wk-dash-label { display: block; font-weight: bold; margin-top: 5px; }
.wk-dash-label .status {
    color: #FFFFFF;
    text-align: center;
    /*width: 125px;*/
    padding: 6px 3px;
    border-radius: 3px;
    /*font-size: 15px;*/
}
.wk-dash-label .status.complete{
    background-color: rgb(90, 202, 90);
}
.wk-dash-label .status.processing{
    background-color: rgb(79, 158, 231);
}
.wk-dash-label .status.pending,.wk-dash-label .status.new,.wk-dash-label .status.pending-payment,.wk-dash-label .status.holded,.wk-dash-label .status.payment-review{
    background-color: #F8AF2E;
}
.wk-dash-label .status.canceled{
    background-color: rgb(221, 76, 76);
}
.wk-dash-label .status.closed{
    background-color: rgb(221, 76, 76);
}
.wk-dash-label .status.fraud{
    background-color: rgb(221, 76, 76);
}
.wk-dash-label .status.paypal-canceled-reversal{
    background-color: #F8AF2E;
}
.wk-dash-label .status.paypal-reversed{
    background-color: #F8AF2E;
}
.wk-dash-label .status.pending-paypal{
    background-color: #F8AF2E;
}
.askque{
    float: right;position: relative;
}
.wk-sale-css{
    background: rgb(79, 158, 231);
    float: left;
    font-size: 20px;
    text-align: center;
    width: 30.5%;
    color: #fff;
    padding: 1%;
    border-radius:3px;
    line-height: 20px;
    text-transform: uppercase;
}
.wk-todaysale {
    margin-right: 1%;
}
.wk-sale-color {
    display: inline-block;
    text-align: left;
}
.wk-sale-label{
    font-size: 15px;
}
.wk-weeksale {
    margin-right: 1%;
}
.wk-monthsale {
}
.wk-total-sale-css{
    float: left;
    font-size: 20px;
    text-align: center;
    width: 47.3%;
    color: #fff;
    padding: 1%;
    border-radius:3px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.wk-totalsale{
    margin-right: 1%;
    background: rgb(221, 76, 76);
}
.wk-todaysale-bg{
    background: url('../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk-weeksale-bg{
    background: url('../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk-monthsale-bg{
    background: url('../images/Sprite-Seller-Front-Panel.png') 0 -20px;
    height: 42px;
    width: 33px;
    display: inline-block;
}
.wk-remainsale{
    background: rgb(90, 202, 90);
}

.wk-mp-btn{
    float: right;
    margin-left: 5px!important;
}

/*#skuavail img, #skunotavail img {
    margin-right: 5px; 
    vertical-align: middle; 
    width: 12px; 
}
#skunotavail img { 
    float: left; height: 20px; 
}*/
.wk-category{
    max-height: 200px;
    overflow: auto;
    clear: both;
    display: block;
}
#wk-category-label{
    background: #B8E8B7;
    border: 1px solid #008000;
    border-radius: 7px;
    padding: 0 4px;
    display: inline-block;
}
.wk-cat-container{
    position: relative;
}
.wk-plus{
    background: url("../images/elbow-plus.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
    cursor:pointer;
}
.wk-plusend{    background: url("../images/elbow-end-plus.gif") no-repeat scroll 0 0 transparent;    display: block;    height: 18px;    width: 15px;    float:left;    cursor:pointer;}
.wk-minus,
.wk-minusend{
    background: url("../images/elbow-end-minus.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
    cursor:pointer;
}
.wk-no{
    background: url("../images/elbow-end.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    width: 15px;
    float:left;
}
.wk-foldersign{
    background: url("../images/leaf.gif") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 15px;
    margin-left: 5px;
    margin-top: 3px;
    width: 16px;
}
.wk-node-loader{
    background: url("../images/loading.gif") no-repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 17px;
    left: 15px;
    position: absolute;
    width: 17px;
}
.nicEdit-wk-nice-textarea{
    box-shadow: 0 0 1px 1px #CCCCCC inset;
}
.wk-elements{
    margin-left:5px;
}
.wk-cat-name{
    float:left;
}
.image-set .setimage{
    padding:5px;
    float:left;
    position: relative;
}
.wk-imagedelete {
    font-weight: 900;
    left: 46px;
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
.wk-imagedelete img{
width: 20px;
}
.wk-imagedeleteload {
    font-weight: 900;
    left: 24px;
    position: absolute;
    top: 22px;
    cursor: pointer;
}
.wk-link-title {
    float: left;
}
/*downloadable start*/
.radio.wk-sample-type {
    float: left;
}
.wk-download-url{
    width: 70%!important;
    display: inline-block;
}
.wk-link-url-block label{
    float: left;
}
.wk-link-url-block .row{
margin-bottom: 5px;
}
.wk-link-url-block input[type="radio"]{
vertical-align: middle;
line-height: normal;
top:2px;
}
.wk-link-url-block input[type="url"]{
margin-top: -4px;
}
.wk-mp-link-delete{
    background: url("../images/icon-trash.png") repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 16px;
    width: 14px;
}
.wk-mp-link-body input[type=checkbox]{
    margin-right: 5px;
}
.wk-mp-link-title{
    width: 95%;
}
.wk-mp-link-price{
    width: 45px;
}
.wk-mp-link-download{
    width: 70px;
}
.wk-mp-link-body td{
    text-align: left;
    vertical-align: top;
    padding: 2px 4px;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: none repeat scroll 0 0 #FFFFFF !important;
    word-break: break-all;
}
.wk-mp-sample-body input[type=checkbox]{
    margin-right: 5px;
}
.wk-mp-sample-body td{
    text-align: center;
    padding: 2px 4px;
    border-color: #DADFE0;
    border-style: solid;
    border-width: 0 1px 1px 0;
    background: none repeat scroll 0 0 #FFFFFF !important;
    word-break: break-all;
}
#wk-mp-links{
    background: #6F8992;
    line-height: 21px;
    padding-left: 10px;
}
#wk-mp-links span{
    color: #FFFFFF;
    font-weight: bold;
}
#wk-mp-links-container{
    border: 1px solid #D6D6D6;
    min-height: 100px;
}
.wk-mp-link-label {
    width: 50%;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
}
.wk-mp-link-value {
    padding: 5px;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
.wk-mp-links-topbody{
    clear: both;
}
.wk-mp-design .validation-advice{
    text-align: left;
}
.wk-mp-link-titleblock{
    width: 75%;
}
/*downloadable end*/
/*configurable start*/
.wk-mp-headcus {
    background: #e7efef none repeat scroll 0 0;
    clear: both;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.wk-mp-headcus input{
    width: 98%;
}
.wk-mp-headcus > li {
    float: left;
    text-align: center;
    padding: 5px 3px;
    margin: 0;
    width: 19%;
    list-style: none;
}
.wk-mp-option-box {
    border: 1px solid #CDDDDD;
}
.wk-mp-headcus.ul-first {
    background: none repeat scroll 0 0 #CFDDDC;
    font-weight: bold;
}
.mp-edit-associate-ul{
    border: 1px solid #ccc;
    margin-top: 15px;
    background-color: #ededed;
}
.mp-edit-associate-div1{
    padding: 5px;
}
.mp-edit-associate-div2{
    width: 20%;float: left;
}
/*view order page*/
.wk-mp-order-info-box{
    background: #fff;
    border: 1px solid #d0cbc1;
    padding: 12px 15px;
    margin: 0 0 15px;
}
.wk-mp-order-info-box h2 {
font-weight: bold;
font-size: 13px;
}

.wk-mp-fieldset .button{
    margin: 5px 0;
}
.wk-orderbox-details .name p{
    margin-bottom: 0!important;
}
.wk-mp-btn {
margin: 2px;
}

.wk-mp-design table th{
    /*padding: 1%!important;*/
}

/*seller profile page start*/
.profileimage-set .setimage{
    padding:5px;
    float:left;
    position: relative;
    width: 97%;
}
.profileimage-set .wk-profileimagedelete {
    font-weight: 900;
    right: -3px;
    position: absolute;
    top: 5px;
    display: inline-block;
    cursor: pointer;
}
.logoimage-set .setimage{
    padding:5px;
    float:left;
    position: relative;
    width: 97%;
}
.logoimage-set .wk-logoimagedelete {
    font-weight: 900;
    left: 130px;
    position: absolute;
    top: 0;
    display: inline-block;
    cursor: pointer;
}
.control .prev-img {position: relative;width: 15%;}
.control .wk-banner {position: relative;width: 100%;padding: 5px 0;}

.profile .control-notification {font-size: 12px;font-weight: 400;color:red;}
.country-img-prev {vertical-align: middle;width: 5%;}
#countrypic{width: 94.5%!important;}
.color-pick {
    border: 3px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 30px;
    margin-top: 5px;
}
/*end*/
@media only screen and (max-width: 599px){
    .mpfeedback .wk-span {
    width: 40%!important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
    .wk-list-th-display1{
        display: none;
    }
    .wk-mp-fieldset .button{
        width: 100%!important;
        margin: 5px 0;
    }
    .wk-mp-fieldset .button span{
        width: 100%!important;
    }
    .wk-dash-label .status{
        width: 100%!important;
    }
    .example-plot{
        width:277px!important;
        height:150px!important;
    }
    button.askque.button {
    width: 100%;
    }
    .wk-feedback-details .mpfeedback {
    width: 100%!important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 640px) {
    .wk-list-th-display{
        display: none;
    }
    .wk-mp-page-title h1{
    text-align: center;
    float: none!important;
    border-bottom: none!important;
    }
    .modal-header h4 {
        font-size: 14px!important;
    }
}
@media only screen and (min-width: 959px) and (max-width: 1230px) {
   .wk-mp-list-table input[type="text"],.wk-mp-list-table input[type="file"],.wk-mp-list-table textarea,.wk-mp-list-table select{
        width: 100%!important;
    }
}
@media only screen and (min-width: 479px) and (max-width: 696px) {
    .example-plot{
        width:400px!important;
        height:220px!important;
    }
}
@media only screen and (min-width: 641px) and (max-width: 696px) {
    .example-plot{
        width:500px!important;
        height:300px!important;
    }
}
@media only screen and (min-width: 771px) and (max-width: 905px) {
    .example-plot{
        width:450px!important;
        height:250px!important;
    }
}
@media only screen and (min-width: 0px) and (max-width: 959px) {
    .wk-mp-design table{
        font-size: 12px!important;
    }
    .wk-feedback-details{
        width:100%;
        float: none;
        border-bottom: 1px solid #ccc;
    }
    .wk-feedback-details .mpfeedback {
    width: 40%;
    border-right: none;
    }
    .wk-feedback-desc {
    float: none;
    width: 100%;
    padding: 5px 0px;
    }
    .wk-dash-orderstatus{
       width: 100%!important;
       padding-left: 0;
    }
    .wk-orderbox-details {
    width: 100%!important;
    padding-left: 0;
    }
    .wk-orderbox-total{
        width: 100%!important;
        text-align: left!important;
    }
    .wk-mp-page-title h1{
    border-bottom: none!important;
    }
    #wk-load-conf {
        left: 25%!important;
        top: 514px!important;
    }
    /*#wk-mp-tr-heading th{
        padding: 0!important;
    }*/
    .wk-mp-label{
        padding: 0!important;
        margin: 0!important;
    }
    .wk-first-td {
    width: 14%!important;
    }
    .wk-row-view .label .image {
    height: auto!important;
    width: 95%!important;
    }
    .wk-pro-divide1{
        width: 100%!important;
    }
    .wk-mp-links-topbody input,.wk-mp-links-topbody textarea,.wk-mp-links-topbody select{width: 100%!important;}
    .wk-mp-list-table input[type="text"],.wk-mp-list-table input[type="file"],.wk-mp-list-table textarea,.wk-mp-list-table select{width: 100%!important;}
    .wk-mp-list-table input[type="checkbox"], input[type="radio"]{width: 10px!important;}
}

/*for shipping manager*/

.wk-ship-fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
.wk-ship-light{
    display: none;
    position: fixed;
    top: 25%;
    left: 15%;
    right: 15%;
    padding: 10px;
    border: 2px solid #FFF;
    background: #CCC;
    z-index: 1002;
    overflow: visible;
    width: 70%;
}
label.wk-ship-post-meta span.wk-ship-delete {
    background: url("../img/sprite.png") no-repeat scroll -307px 4px transparent;
    cursor: pointer;
    float: right;
    height: 19px;
    opacity: 0.69;
}
.prdouctbackground h4{
    display: inline-block;
    width: 80%;
}
.prdouctbackground .wk-ship-post-meta{
    display: inline-block;
    width: 10%;
    float: right;
}
.wk-ship-row input{
    display: inline-block;
    width: 80%!important;
}
label.wk-ship-post-meta span {
    padding: 3px 0 3px 25px;
}

.wk-ship-rowlabel {
    float: left;
    width: 117px;
}
.wk-ship-Label {
    font-weight: bold;
}
.wk-ship-field:before {
    content: ":";
    float: right;
    font-weight: 600;
    letter-spacing: 20px;
}
.wk-ship-rowinput {
    clear: both;
    height: 24px;
    line-height: 24px;
    margin: 0.4em 0 !important;
    width: 420px;
}

.wk-ship-row .wk-ship-label,.wk-ship-row .wk-field {display: inline-block;width: 150px;}
.wk-ship-row .wk-ship-field {width: auto;}
.wk-ship-row .wk-ship-field input{width:200px;}
.wk-ship-field:before {content: ":";float:right;font-weight: 600;letter-spacing: 20px;}
.wk-ship-field .validation-advice{display:inline-block; background: url("../images/arrow.gif") no-repeat scroll 2px center transparent;}
.wk-ship-row  .wk-ship-field  > #image{width:235px!important;}
.thumbnail-preview {
    padding-bottom: 3rem;
    text-align: center;
}
.thumbnail-preview-image-block {
    border: 1px solid rgb(204, 204, 204);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin: 0px auto 2rem;
    max-width: 58rem;
    padding: 2rem;
}
img.thumbnail-preview-image {
    max-height: 54rem;
}
#downloadable_items-content,
#super_config {
    overflow: auto;
    width: 100%;
}
/*Notification style*/

.notification-link{
    position: relative;
}
.notification-block{
    position: absolute;
    /*right: 27%;
    top: 0;*/
    left: 125px;
    top: -2px;
}
.notification-block:hover{
    background: none;
}

.notification-block .notify-point {
    background-color: #FFFFFF;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color:#b0b3b5;
    position: absolute;
    width: 13px;
    height: 13px;
    left: -8px;
    top: 17px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

.notifications-action:hover{
    background: none!important;
}
/*.notifications-action.active:hover{
    background: #ffffff!important;
}*/
.notification-block.active {
    z-index: 500;
}
.notification-block .notification-count{
    background-color: #e22626;
    border-radius: 1em;
    color: #ffffff;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    left: 50%;
    margin-left: .3em;
    margin-top: -1.1em;
    /*padding: .3em .5em;*/
    padding: .2em .3em;
    position: absolute;
    top: 25%;
}
.notification-block.active .notifications-action {
    /*border-color: #007bdb;
    background: #FFFFFF;*/
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);*/
    /*border-left:1px solid transparent!important;*/
}
.notifications-action {
    color: #41362f;
    height: 3.3rem;
    padding: 0.75rem 2rem 0.65rem;
}
.marketplace-dropdown{
    padding-right: 3.3rem;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 0;
    box-shadow: none;
    color: #41362f;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -.025em;
    padding: 0.7rem 3.3rem 0.8rem 1.5rem;
    position: relative;
    vertical-align: baseline;
    height: 10px;
}


.marketplace-dropdown-wrap .marketplace-dropdown-menu {
    left: auto;
    right: 0;
}

.marketplace-dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #b0b3b5;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: none;
    line-height: 1.36;
    margin-top: -1px;
    min-width: 120%;
    padding: 0.5rem 1rem;
    position: absolute;
    top: -55%;
    transition: all 0.15s ease;
    z-index: 1;
    left: 55px;
    border-radius: 4px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .notification-block .marketplace-dropdown-menu {
        width: 25rem!important;
        left: -90px!important;
        top: 39px!important;
    }
    .notification-block .notify-point {
        left: 41%!important;
        top: -10px!important;
        transform: rotate(-45deg)!important;
        -ms-transform: rotate(-45deg)!important;
        -webkit-transform: rotate(45deg)!important;
    }
}
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .notification-block{
        left: 110px;
    }
    .notifications-img{
        max-width: 20px!important;
    }
   
}

.notification-block .marketplace-dropdown-menu {
    width: 32rem;
}
.marketplace-dropdown-menu > li {
    display: block;
}
.notifications-entry {
    line-height: 1.36;
    padding: 1.2rem 2rem 0.8rem;
    position: relative;
    transition: background-color 0.1s linear;
    transition: border-right 0.1s ease;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 0rem!important;
}
.notifications-entry:hover{
    border-right: 0.4rem solid #eb5202;
}
.notifications-entry:last-child{
    border-bottom: none;
}
.notifications-entry-title {
    color: #632e18;
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .7rem;
    margin-right: 1em;
}
.notifications-entry ._cutted {
    cursor: pointer;
}
.notifications-entry-description {
    color: #333333;
    font-size: 1.1rem;
    margin-bottom: .8rem;
    width: 95%;
}
.notifications-entry-description-start {
    padding: 0px!important;
    font-size: 1.3rem!important;
    font-weight: 600!important;
}
.notifications-entry-description-start .wk-focus{
    color: #ea7900;
}
.notifications-entry-time {
    color: #777777;
    font-size: 1.1rem;
}
.notifications-close {
    line-height: 1;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: .6rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}
.notifications-close:hover{
    background: none!important;
    border: none;
}
.notification-block .not-available{
    color: #EE4726;
}
.wk-mp-design .total-selected{
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 600;
    position: absolute;
}
.sidebar > li {
    list-style: none;
}
.wk-action {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.no-display {
    display: none;
}

.wk-border-box-sizing {
    box-sizing: border-box !important;
}
.wk-border-box-sizing * {
    box-sizing: border-box !important;
}
.wk-border-box-sizing .mce-tinymce button:hover {
    border: none;
}
.wk-border-box-sizing .mce-tinymce .mce-splitbtn .mce-open {
    border: none;
}

.wk-border-box-sizing .mce-branding-powered-by {
    display: none !important;
}
.wk-mp-design .control.wk-border-box-sizing {
    overflow: hidden;
}


