<!--<div class="field altmobile telephone">
    <label class="label" for="altmobile"><span><?php /* @escapeNotVerified */ echo __('Alternate mobile no') ?></span></label>
    <div class="control">
        +91<input type="text" name="altmobile" value="<?php echo $block->getCommentValue() ?>" title="<?php /* @escapeNotVerified */ echo __('Alternate mobile no') ?>" id="altmobile" class=" input-text validate-length maximum-length-10 minimum-length-10 validate-digits" placeholder="<?php /* @escapeNotVerified */ echo __('Alternate mobile no') ?>">
    </div>
</div>-->