<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
        
	$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
				->getStore()
				->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'mageplaza/bannerslider/banner/image/';
            
	//Select Data from table

	//$sql = "Select * FROM mageplaza_bannerslider_banner join slider_id ";
	//$sql = "SELECT a.*,b.* FROM `mageplaza_bannerslider_banner_slider` as a inner join mageplaza_bannerslider_banner as b on a.banner_id=b.banner_id where a.slider_id=1";
	//$result = $connection->fetchAll($sql);
	
	$customerSession= $objectManager->get('Magento\Customer\Model\Session');
	$orderBy = '';
	if($customerSession){
		$customerEmail = $customerSession->getCustomer()->getData('email');
		if($customerEmail){
			$subquery = "SELECT GROUP_CONCAT(search_field separator '|') FROM om_customersearchitem_searchitem where customer_email='".$customerEmail."'";
			$searchItems = $connection->fetchOne($subquery);
			if($searchItems){
				/*removinf this as it is conflicted when product name has " or brackets @ritesh3sept2021*/
				// $orderBy = ' CONCAT(",",b.tags, ",") REGEXP ",('.$searchItems.')," desc , ';
				$orderBy = ' desc , ';
			}
		}
	}
	
	$sql = "SELECT a.*,b.* FROM `mageplaza_bannerslider_banner_slider` as a inner join mageplaza_bannerslider_banner as b on a.banner_id=b.banner_id where a.slider_id=1 AND b.status=1 ORDER BY  a.position ASC";
	$result = $connection->fetchAll($sql);
	
    $i=1;    
	foreach($result as $row){ 
		//print_r($row);
		$newIamge = $row['image'];
		$newtitle = $row['title'];
		$url_banner = $row['url_banner'];
		$url_status = $row['status'];
		if($url_status==1){
		?>
			<div class="item">
				<a  rel="noopener noreferrer" href="<?php echo $url_banner;?>" class="btn btn-blue-gradiant">
				<img src="<?php echo $mediaUrl.$newIamge;?>" alt="Water Purifier " />
<!--				<div class="banner-content">-->
<!--					<div class="banner-inner-content">-->
<!--						--><?php //echo $newtitle;?>
<!--					</div>-->
<!--				</div>-->
				</a>
			</div>  
      
<?php
		 }
	$i++;
	}
?> 
