<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile
?>
<?php 
$_item = $block->getItem();
$product = $_item->getProduct();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$_product=$product;
$seller_id = '';
$marketplaceProduct = $helper->getSellerProductDataByProductId($_product['entity_id']);
foreach ($marketplaceProduct as $value) {
    $seller_id = $value['seller_id'];
}
if($seller_id!=""){
    $rowsocial = $helper->getSellerDataBySellerId($seller_id);
    $shoptitle = '';
    $shop_url = '';
    foreach ($rowsocial as $value) {
        $shoptitle = $value['shop_title'];
        $shop_url = $value['shop_url'];
        if(!$shoptitle){
            $shoptitle = $value->getShopUrl();
        }
    }
    $shoptitle = $block->escapeHtml($shoptitle);
    ?>
	
	<?php
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$product_data = $objectManager->create('Magento\Catalog\Model\Product')->load($_product['entity_id']);

		$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
										
		$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
		
		$currencyModel = $objectManager->create('Magento\Directory\Model\Currency'); // Instance of Currency Model
	
		$currencySymbol = $currencyModel->load($currency)->getCurrencySymbol();
		
		$precision = 2;   // for displaying price decimals 2 point
		
		// echo $size = $product_data->getData('size');
		$size = $product_data->getAttributeText('size');
		$color = $product_data->getAttributeText('color');

		$price = $_item->getPrice();
		$tax = $_item->getTaxAmount();	
		$total_price = $price+$tax;

	?>
	<p class="item_desc">
		<strong>Color : </strong><?php if($color){ echo $color; }else{ echo 'n/a'; } ?> <br/>
		<strong>Size : </strong><?php echo $size; ?> <br/>
		<?php echo $shoptitle; ?> <br/>
	</p>
	
	<p class="card_price">
		<?php 
			$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
			echo $abstractProductBlock->getProductPrice($product);
		?>
		<?php
			$specialprice = $product->getSpecialPrice();
			$specialPriceFromDate = $product->getSpecialFromDate();
			$specialPriceToDate = $product->getSpecialToDate();    
			$today = time();
			$price = $product->getPrice();
			if($price){
				$sale = round((($price-$specialprice)/$price)*100);
			}
			if ($specialprice) {
				if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
					<div class="label-product label-sale">
						<span class="sale-product-icon">
							<?php if($sale) { echo $sale.'% off'; } ?>
						</span>
					</div>
				<?php }
			}
		?>
		
		
		
		<br/>
		

		<?php 
		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$reward_model = $objectManager->create('\Mirasvit\Rewards\Block\Account\Listing');
		
		?>
		

		<span class="loyality_point"><?php echo $reward_model->getBalancePoints(); ?> Loyality Points </span>
	</p>
	
	<!--<p> <?php echo $item_price = $currencyModel->format($total_price, ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);?> </p>-->
	
    <!-- <div class="wk-seller-block wk-block" id="mp-wk-block">
        <div>
            <span class="wk-block-font-bold-up"><?php echo __('Sold By')?></span>
            <span class="wk-block-title-css">
                <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shop_url);?>" title="<?php echo __('Visit Shop') ?>" id="profileconnect"><?php echo $shoptitle; ?></a>
            </span>
        </div>
    </div> -->
<?php 
} ?>