<?php 
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_AjaxSocialLogin
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php $helper = $this->helper('Bss\SocialLogin\Helper\Data'); ?>
<?php if ($helper->photoEnabled()): ?>
    <li class="sociallogin-welcome-msg" data-bind="scope: 'sociallogin-photo'" data-mage-init='{"Magento_Ui/js/core/app":<?php echo $block->getJsLayout();?>}'>
    	<!-- ko if: sociallogin().photo -->
        <img data-bind="attr: {'src' : sociallogin().photo, 'alt': customer().fullname }" src="javascript:void(0);" alt="spareworld" />
       	<!-- /ko -->
    </li>
<?php endif; ?>