
<?php $rma = $block->getRmaDetail();
$helper = $this->helper("Webkul\Rmasystem\Helper\Data");
?>
<?php if ($rma):
	$id = $rma->getRmaId();
	$order = $block->getOrder($rma->getOrderId());
?>
<style type="text/css">
	.rma-button-track
	{
		display:inline !important;
	}
</style>
<script>
    window.rmaData = <?php /* @escapeNotVerified */ echo \Zend_Json::encode(['downloadUrl' => $block->getUrl('rmasystem/index/downloader/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId()])]); ?>;
</script>
<div class="block">
	<div class="block-content">
			<form method="post" action="<?php echo $this->getUrl('rmasystem/viewrma/update'); ?>" id="wk_rma_con_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
				<div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
						<!-- ko template: getTemplate() --><!-- /ko -->
						<script type="text/x-magento-init">
						{
								"#view-rma-component": {
										"Magento_Ui/js/core/app":  <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
								}
						}
						</script>
							<div class="dashboard">
								<fieldset class="fieldset info wk-mp-fieldset">
								<?php
								$orderItemsPro=$block->getItemCollection($id);
								$wrong_product_type='';
								if(count($orderItemsPro)==1){
									foreach ($orderItemsPro as $item_pro) {
										$item_pro_data=$block->getSalesOrderItemDetail($item_pro->getItemId());
										if($item_pro_data->getProductType()=='downloadable' || $item_pro_data->getProductType()=='virtual')
											$wrong_product_type='invalid';
									}
								}
								?>
								<legend class="legend">
									<span><?php echo __('View Return Details') ?></span>
							<?php if($rma->getShippingLabel() > 0 && $rma->getResolutionType() == 1 && $wrong_product_type=='')	{ ?>
									<a class="link-print" onclick="this.target='_blank';" href="<?php echo $this->getUrl('rmasystem/viewrma/printshippinglabel/',array('id'=>$id)); ?>">
										<button class="button" title="<?php echo __('Print Shipping Label') ?>" type="button" style="float: right">
											<span><span><?php echo __('Print Shipping Label') ?></span></span>
										</button>
									</a>
							<?php }	?>
							<?php if ($rma->getStatus() != 0 && $rma->getStatus() != 4): ?>
									<a class="link-print" onclick="this.target='_blank';" href="<?php echo $this->getUrl('rmasystem/viewrma/printrma/',array('id'=>$id)); ?>">
										<button class="button" title="<?php echo __('Print Return') ?>" type="button" style="float: right; margin-right:1em;">
												<span><span><?php echo __('Print Return') ?></span></span>
										</button>
									</a>
								<?php endif;	?>
								</legend>
								<section class="admin__page-section order-view-account-information">
									<div class="box admin__page-section-item order-information">
										<div class="admin__page-section-content">
										<table class="admin__table-secondary order-information-table">
											<tbody>
												<tr>
													<th><?php echo __("Order Id"); ?></th>
													<td><a href="<?php echo $this->getUrl('sales/order/view/').'order_id/'.$rma->getOrderId(); ?>">#<?php echo $rma->getIncrementId();?></a></td>
												</tr>
												<?php if(!$rma->getResolutionType()==3 && false): ?>
												<tr>
													<th><?php echo __("Package Condition"); ?></th>
													<td>
														<?php if($rma->getPackageCondition() == 0) {
										                	echo "<p>".__("Open")."</p>";
										                } else {
										                	echo "<p>".__("Packed")."</p>";
																		}?>
													</td>
												</tr>
												<?php endif; ?>
												<tr>
													<th><?php echo __("Created On"); ?></th>
													<td><p><?php echo $block->formatDate($rma->getCreatedAt(),\IntlDateFormatter::MEDIUM); ?></p></td>
												</tr>
												<?php if($rma->getAdminConsignmentNo() != "")	{ ?>
												<tr><td colspan="2">Seller has arranged reverse pickup with below tracking number , This can be used to track reverse shipent</td></tr>
												<tr>
													<th><?php echo __("Admin Consignment Number"); ?></th>
													<td>
														<?php echo $rma->getAdminConsignmentNo(); ?>
														<span class="rma-button-track"><a class="awb-track-button" target="_blank" href="https://ecomexpress.in/tracking/?awb_field=<?php echo $rma->getAdminConsignmentNo(); ?>">Track</a></span>
													</td>
												</tr>
												<?php } ?>
												<?php if(!empty($rma->getCustomerConsignmentNo())): ?>
													<tr><td colspan="2">Exchanged Item can be tracked with below awb number</td></tr>
												<tr>
													<th><?php echo __("Your Consignment Number"); ?></th>
													<td>
														
										            		<?php echo $rma->getCustomerConsignmentNo(); ?>
										            		<span class="rma-button-track"><a class="awb-track-button" target="_blank" href="https://ecomexpress.in/tracking/?awb_field=<?php echo $rma->getCustomerConsignmentNo(); ?>">Track</a></span>
										            	
										            </td>
												</tr>
												<?php endif; ?>
												<!-- custom field values -->
												<?php echo $block->getChildHtml('rma.viewrma.fieldvalue'); ?>
												<?php if(false):?>
													<tr>
														<th><?php echo __("Upload Additional Image"); ?></th>
														<td style="width:45%;">
																<div class="wk_rma_input_box image-field">
																	<button type="button" for="related_images" id="wk_rma_label_image" data-bind="click: addImageBlock">
																			<span id="wk_rma_upload_icon"></span>
																			<span id="wk_rma_upload_text"><?php echo __("Upload Images"); ?></span>
																	</button>
																	<input type="hidden" name="total_images" data-bind="value: totalImages"/>
																	<div class="control" id="image_block">
																	</div>
																	<script type="text/html" id="rmaImageTemplate">
																		<div class="wk-showcase-block">
																				<div title="Delete Showcase" class="wk-delete-item" data-bind="click: deleteImage">x</div>
																				<div class="wk-default-block"><?php echo __("Add Image") ?></div>
																				<input type="file" name="related_images[]" accept="image/*" class="wk-showcase-img wk-no-display" data-bind="event:{change: fileSelect}">
																		</div>
																	</script>
												 		</td>
													</tr>
													<?php endif;?>	
													<tr>
														<th><?php echo __("Additional Information"); ?></th>
														<td><p><?php echo nl2br(strip_tags($rma->getAdditionalInfo())); ?></p></td>
													</tr>
													<tr>
														<th><?php echo __("Seller Remark"); ?></th>
														<td><p>	<?php echo $helper->getRemarkForCustomerById($rma->getData('remark_for_customer')); ?></p></td>
													</tr>
												<tr>
													<th><h3><?php echo __("Additional Image(s)"); ?></h3></th>
													<td>
														<div id="wk_rma_add_images_container">
													<?php
														$images = $block->getImages();
														foreach ($images as $filename) {
															$getfilename = explode("/",$filename);
															$justfname = $block->getBaseUrl()."/".end($getfilename);
															echo "<img class='wk_rma_add_images' alt='".end($getfilename)."' src='".$justfname."'/>";
														}																						?>
														</div>
													</td>
												</tr>
												</tbody>
										</table>
										</div>
									</div>
										<div class="box admin__page-section-item order-account-information">
										<div class="admin__page-section-content">
											<table class="admin__table-secondary order-account-information-table">
											<tbody>
												<tr>
													<th><?php echo __("Return Status"); ?></th>
													<td>
														<span>
																<?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getStatus())."</strong>";?>
								            </span>
													</td>
												</tr>
												<tr>
													<!-- <th><?php echo __("Product Delivery Status"); ?></th> -->
													<!-- <td>
														<span>
																<?php // echo "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>";?>
								            </span>
													</td> -->
												</tr>
												<tr>
													<th><?php echo __("Resolution Type"); ?></th>
													<td>
														<?php if($rma->getResolutionType() == 0) {
									                	echo "<p>".__("Refund")."</p>";
									                } elseif($rma->getResolutionType() == 1) {
									                	echo "<p>".__("Exchange")."</p>";
																	} else {
																		echo "<p>".__("Cancel Item")."</p>";
																	}?>
													</td>
												</tr>
												
											</tbody>
										</table>
									    </div>
									</div>
								    </section>
								     <section class="admin__page-section">
								    <div class="admin__page-section-title" style="clear:both">
							        	<span class="title"><?php echo __("Item(s) Requested for RMA"); ?></span>
							    	</div>
							    	<div class="admin__table-wrapper table-wrapper">
								    <table id="shipping_table" class="data table">
									    <thead>
									        <tr>
									            <th scope="col" class="col name"><?php echo __("Product Name"); ?></th>
									            <th scope="col" class="col sku"><?php echo __("SKU"); ?></th>
									            <th scope="col" class="col qty"><?php echo __("Return Qty"); ?></th>
									            <th scope="col" class="col reason"><?php echo __("Reason"); ?></th>
									            <th scope="col" class="col price"><?php echo __("Product Price"); ?></th>
									        </tr>
									    </thead>
							<?php 	$orderItems = $block->getItemCollection($id);
									$download_count=count($orderItems);
									$download=0;
									foreach($orderItems as $item)	{
										$mageItem = $block->getSalesOrderItemDetail($item->getItemId());
										$product = $block->getProductDetail($mageItem->getProductId());
										$image_url = $block->imageHelperObj()->init($product, 'product_page_image_small')
													                        ->setImageFile($product->getFile())
																			->getUrl();
										$reason = $block->getReason($item->getReasonId())->getReason();
										if (!$reason) {
											$reason = $item->getRmaReason();
										}
										?>
							    		<tbody>
								            <tr class="border">
													<td data-th="<?php echo __('Item Name') ?>" class="col name">
														<div class="wk-pro-divide1">
																<img src="<?php echo $image_url?>" class="image" />
															</div>
															<div class="wk-pro-divide2">
																<?php echo $product->getName();?>
															</div>
													</td>
													<td data-th="<?php echo __('Item SKU') ?>" class="col name"><?php echo $mageItem->getSku(); ?></td>
													<td data-th="<?php echo __('Returned Qty') ?>" class="col name"><?php echo $item->getQty(); ?></td>
													<td data-th="<?php echo __('Reason') ?>" class="col name"><?php echo $reason; ?></td>
									            <td data-th="<?php echo __('Price') ?>" class="col name"><?php echo $order->formatPrice($mageItem->getPrice()); ?></td>
											</tr>
							         	</tbody>
							<?php }	?>
							        </table>
							        </div>
							    </section>
							    </fieldset>
								<div id="wk_rma_conversation_container">
									<fieldset class="fieldset conversation-block">
										<h2 class="legend wk_rma_clear"><?php echo __("RMA History & Conversation"); ?></h2>
							<?php
								 	$collection = $this->getRmaCollection($id);
								 	$customer_id = $block->getCustomerId();
							        foreach ($collection as $eachconver) { ?>
							        	<div class="wk_rma_onereply <?php echo $eachconver->getSender() == 'customer'? "customer":"admin";?>">
									        <span class="wk_rma_onereply_head <?php echo $eachconver->getSender() == 'customer'? "wk_rma_onereply_customer":"wk_rma_onereply_admin";?>">
									            <span class="wk_rma_onereply_head_left"><?php echo $block->formatDate($rma->getCreatedAt(),\IntlDateFormatter::FULL); ?> | <?php if($eachconver->getSender() == 'customer') echo __("You");else echo __("Admin"); ?></span>
									        </span>
											<?php if($eachconver->getSender() == 'default'){ ?>
													<div class="wk_rma_onereply_cntnt admin">
														<span><?php echo nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
														<?php if($eachconver->getAttachment() != ''){ ?>
															<a href="<?php echo $block->getUrl('rmasystem/index/downloader/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
																<span class="wk-icon-attachment"></span>
																<?php echo __('Download'); ?>
															</a>
														<?php } ?>
													</div>
											<?php	} else { ?>
													<p class="wk_rma_onereply_cntnt customer">
														<span><?php echo nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
														<?php if($eachconver->getAttachment() != ''){ ?>
															<a href="<?php echo $block->getUrl('rmasystem/index/downloader/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
																<span class="wk-icon-attachment"></span>
																<?php echo __('Download'); ?>
															</a>
														<?php } ?>
													</p>
											<?php } ?>
									    </div>
							<?php   } ?>
									</fieldset>
							    		<input type="hidden" value="<?php echo $block->getFormKey(); ?>" name="form_key"/>
							    		<input type="hidden" value="<?php echo $id; ?>" name="rma_id"/>
								        <fieldset class="fieldset login new-message-block" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
											<h2 class="legend wk_rma_clear"><?php echo __("Send New Message"); ?></h2>
											<div class="field">
								                <label class="label"><span><?php echo __("Enter Message"); ?>:</span></label>
								                <div class="control">
								                    <textarea id="wk_rma_additional_info" class="input-text required" name="message"></textarea>
								                </div>
								            </div>
											<div class="field">
								                <label class="label"><span><?php echo __("Send Attachment"); ?>:</span></label>
								                <div class="control">
								                    <input type="file" name="attachment" />
													<div>
														<span><?php echo __("allowed file types"); ?>: <?php echo $helper->getConfigData('file_attachment_extension');?></span>
													</div>
								                </div>
								            </div>
							<?php 		if($rma->getStatus() != 4 && $rma->getStatus() != 3 && $rma->getStatus() != 2)	{																		?>
								            <div class="field">
							            		<input type="checkbox" name="solved" id="wk_rma_solved"/>
							            		<label class="label" for="wk_rma_solved"><span><?php echo __("Check to mark as solved"); ?></span></label>
							        		</div>
							<?php 		} else if($rma->getStatus() != 2 && $rma->getStatus() == 4 && $helper->getConfigData('active_after_cancel')){	?>
												 <div class="field">
														 	<input type="checkbox" name="pending" id="wk_rma_pending"/>
													 		<label class="label" for="wk_rma_solved"><span><?php echo __("Check To Reopen"); ?>:</span></label>
							        		</div>
								<?php 		}	else if($rma->getStatus() != 2 && $rma->getStatus() == 3 && $helper->getConfigData('active_after_decline')){	?>
													 <div class="field">
															 	<input type="checkbox" name="pending" id="wk_rma_pending"/>
														 		<label class="label" for="wk_rma_solved"><span><?php echo __("Check To Reopen"); ?>:</span></label>
								        		</div>
									<?php 		} ?>
										<div class="field">
											<input type="checkbox" name="receive_email" id="wk_rma_email"/>
											<label class="label" for="wk_rma_solved"><span><?php echo __("Check to receive email"); ?></span></label>
							        	</div>
									    <div class="buttons-set">
									        <p class="required">* <?php echo __("Required Fields"); ?></p>
									        <button class="button action subscribe primary" title="<?php echo __("Submit Request"); ?>" type="submit">
									        	<span><?php echo __("Submit Request"); ?></span>
									        </button>
									    </div>
									    <a href="<?php echo $this->getUrl('rmasystem/')?>">&laquo;<?php echo __("back"); ?></a>
											</fieldset>
									</div>
							</div>
						</div>
				</form>
		</div>
	</div>
<?php else: ?>
	<div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You are not authorized to view this RMA.'); ?></span></div>
<?php endif ?>