<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Onepage */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$config = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');
$minAmount = (int)$config->getValue('carriers/express_shipping/free_price');
$isActive  = (int)$config->getValue('carriers/express_shipping/free_active');
$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
$subTotal = $cart->getQuote()->getSubtotal();
?>
<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>"
                 alt="<?= $block->escapeHtmlAttr(__('Loading...')) ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
            return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
        })
    </script>
</div>
<?php  if($customerSession->getCustomLoginBy()) {  ?>
<script>
    require([  
            'jquery' 
    ], function ($) { 
        
        <?php  if($customerSession->getCustomLoginBy()) { ?>
        setInterval(function(){     
            if(jQuery('#send_payment_link').length < 1){        
                //jQuery("#send_payment_link").remove(); 
                jQuery( "<a href='javascript:void(0);' id='send_payment_link'>Create order & Send Payment Link To Customer <p id='send_payment_link_loading'></p></a>" ).insertAfter( "#checkout-payment-method-load" );
            }       
        }, 1000);
        <?php } ?>
        
        var customerEmail = '<?php echo $customerSession->getCustomer()->getEmail(); ?>';
        var mobile = '<?php echo $customerSession->getCustomer()->getMobile(); ?>';
        var name = '<?php echo $customerSession->getCustomer()->getFirstname().' '.$customerSession->getCustomer()->getLastname(); ?>';
        $(document).on('click','#send_payment_link',function(){ 
            jQuery("#send_payment_link_loading").html('<p style="color:green;">Wait . . . . </p>');
            jQuery.ajax({               
                type: "POST",       
                showLoader: true,
                url: "<?php echo $this->getUrl().'razorpay/payment/paymentlink'; ?>",   
                data: "email="+customerEmail+'&mobile='+mobile+'&name='+name,  
                success: function(result){      
                    jQuery("#send_payment_link_loading").html('<p style="color:green;">Sent Successfully !!</p>');
                    window.location.reload();
                },                 
                error: function(e){     
                    console.log(e);     
                }      
            });
        });
    }); 
</script>
<?php } ?>

<?php 
$_helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$customerId = $_helper->getCustomerId();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$shippingAddress = $cart->getQuote()->getShippingAddress();
$shippingMethod = $shippingAddress->getShippingMethod();
$shippingName = $shippingAddress->getFirstname().' '.$shippingAddress->getLastname();
$shippingStreet = $shippingAddress->getStreet();
$shippingState = $shippingAddress->getRegion();
$shippingPostcode = $shippingAddress->getPostcode();
$shippingCity = $shippingAddress->getCity();
$shipAddress = $shippingName.','.$shippingStreet[0].','.$shippingState.','.$shippingCity.','.$shippingPostcode.', India';
$billingAddress = $cart->getQuote()->getBillingAddress();
$billingName = $billingAddress->getFirstname().' '.$billingAddress->getLastname();
$billingStreet = $billingAddress->getStreet();
$billingState = $billingAddress->getRegion();
$billingPostcode = $billingAddress->getPostcode();
$billingCity = $billingAddress->getCity();
$billAddress = $billingStreet[0].','.$billingState.','.$billingCity.','.$billingPostcode.', India';
$grandTotal = $cart->getQuote()->getGrandTotal();
$subTotal = $cart->getQuote()->getSubtotal();
$cartid = $cart->getQuote()->getId();
$totalItems = $cart->getQuote()->getItemsCount();
$totalQuantity = $cart->getQuote()->getItemsQty();
$itemsVisible = $cart->getQuote()->getAllVisibleItems();
$productid = array();
$productname = array();
$productCat = array();

$productCat = implode(",",$productCat);
$productid = implode(",",$productid);
$productname = implode(",",$productname);
?>

<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){
Countly.q.push(['add_event',{
  "key": "Checkout_Begin",
   "browser":{
      "Chrome":true
       },
  "segmentation": {
     "web": "yes",
     "cartId": "<?php echo $cartid ?>",
     <?php if($customerId){ ?>
     "customerId": "<?php echo $customerId ?>",
     <?php }else{ ?>
     "Guest": "Guest"
      <?php } ?>   
     "productsNames": "<?php echo $productname ?>",
     "productCategories": "<?php echo $productCat ?>",
     "totalItems":"<?php echo $totalItems?>",
     "totalQuantity":"<?php echo $totalQuantity?>",
     "subtoTotal": "<?php echo $subTotal ?>",
     "grandTotal": "<?php echo $grandTotal ?>",
     "shippingMethod":"<?php echo $shippingMethod ?>",
     'shippingAddress':"<?php echo $shipAddress ?>",
     'billingAddress':"<?php echo $billAddress ?>"
  }
}]);
});
</script>
