<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_items = $block->getCreditmemo()->getAllItems() ?>
<div class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= /* @escapeNotVerified */ __('Items Refunded') ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__table-wrapper">
            <table class="data-table admin__table-primary order-creditmemo-tables">
                <thead>
                    <tr class="headings">
                        <th class="col-product"><span><?= /* @escapeNotVerified */ __('Product') ?></span></th>
                        <th class="col-price"><span><?= /* @escapeNotVerified */ __('Price') ?></span></th>
                        <th class="col-qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></th>
                        <th class="col-subtotal"><span><?= /* @escapeNotVerified */ __('Subtotal') ?></span></th>
                        <th class="col-tax"><span><?= /* @escapeNotVerified */ __('Tax Amount') ?></span></th>
                        <th class="col-discount"><span><?= /* @escapeNotVerified */ __('Discount Amount') ?></span></th>
                        <th class="col-price">
                            <table class="cgst">
                                <thead>
                                <tr>
                                    <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('CGST') ?></span></td>
                                </tr>
                                <tr>
                                    <td><?php echo __('Rate (%)') ?></span></td>
                                    <td><?php echo __('Amount') ?></span></td>
                                </tr>
                                </thead>
                            </table>
                        </th>
                        <th class="col-price">
                            <table class="sgst">
                                <thead style="background:none;text-align:center">
                                <tr>
                                    <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('SGST') ?></span></td>
                                </tr>
                                <tr>
                                    <td><?php echo __('Rate (%)') ?></span></td>
                                    <td><?php echo __('Amount') ?></span></td>
                                </tr>
                                </thead>
                            </table>
                        </th>
                        <th class="col-price">
                            <table class="utgst">
                                <thead style="background:none;text-align:center">
                                <tr>
                                    <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('UTGST') ?></span></td>
                                </tr>
                                <tr>
                                    <td><?php echo __('Rate (%)') ?></span></td>
                                    <td><?php echo __('Amount') ?></span></td>
                                </tr>
                                </thead>
                            </table>
                        </th>
                        <th class="col-price">
                            <table class="igst">
                                <thead style="background:none;text-align:center">
                                <tr>
                                    <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('IGST') ?></span></td>
                                </tr>
                                <tr>
                                    <td><?php echo __('Rate (%)') ?></span></td>
                                    <td><?php echo __('Amount') ?></span></td>
                                </tr>
                                </thead>
                            </table>
                        </th>
                        <th class="col-total last"><span><?= /* @escapeNotVerified */ __('Row Total') ?></span></th>
                    </tr>
                </thead>
                <?php $i = 0; foreach ($_items as $_item): ?>
                    <?php if ($_item->getOrderItem()->getParentItem()) {
                        continue;
                    } else {
                        $i++;
                    } ?>
                    <tbody class="<?= /* @escapeNotVerified */ $i%2 ? 'even' : 'odd' ?>">
                        <?= $block->getItemHtml($_item) ?>
                        <?= $block->getItemExtraInfoHtml($_item->getOrderItem()) ?>
                    </tbody>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</div>
