<?php if( $block->getDailyDealsProducts()): ?>
<div class="latest-deals-products-container">
<h3 class="latest-deals-products"><?php echo $block->getDailyDealsProductsHeading();?></h3>
<ul class="latest-deals-container">
	<?php foreach ($block->getLatestDealsProducts() as $product): ?>

		<?php
			
			$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
			$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
			$postParams = json_decode($postData, true);
			$imageType = 'product_base_image';
			$buttonTitle = $block->escapeHtml(__('Add to Bag'));
			$width = 450;
			$height = 860;
			$resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();
			 /** @var Magento\Framework\Url\Helper\Data $urlHelper */
		    $urlHelper = $this->helper('Magento\Framework\Url\Helper\Data');
		
			$productId = $product->getId();
			$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    
                
		?>
		<?php if($product->isSaleable()): ?>
		<li class="home-page-product-list item product product-item">
			<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
				<?= $block->getBlockHtml('formkey') ?>
				<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
				<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
				 <?php /*<div class="companyname">Panasonic</div>*/?>
                <span class="subhead"><a href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= $block->escapeHtml($product->getName()) ?></a>
				</span>
				<a href="<?= $block->escapeUrl($product->getProductUrl()) ?>">
					<div class="image">
					<img src="<?= $block->escapeUrl($resizedImageUrl) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
					</div>
				</a>
				<?= $abstractProductBlock->getReviewsSummaryHtml($product, $templateType) ?>
				<div class="price-box">
					<div class="price"><?= $abstractProductBlock->getProductPrice($product) ?></div>
				</div>
				<?php if($product->isSaleable()): ?>
				<div class="product-item-inner">
				<div class="product-item-actions">
				<span class="wishlist">
					<a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="action towishlist" data-action="add-to-wishlist"><?= __('Add to Wish List') ?></a>
				</span>	
				<div class="actions-primary">	
				 <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary"><span><?= /* @escapeNotVerified */ __('Add to Bag') ?></span></button>
				</div>
				</div>
				</div>
				<?php endif;?>
       		</form>
		</li>
	<?php endif;?>
	<?php endforeach; ?>
</ul>
</div>
<div class="shop-all-button">
    <a href="/consumer-electronics-spare-parts/audio-video">View All</a>
</div>
<script type="text/x-magento-init">
    {
        ".custom_addto_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        },
        "*": {
	        "Magento_Ui/js/core/app": {
	            "components": {
	                "wishlist": {
	                    "component": "Magento_Wishlist/js/view/wishlist"
	                }
	            }
	        }
    	}
    }
</script>
<?php endif; ?>
