<?php 
    $baseUrl = $block->getSiteUrl();
    $id= 70;
    $categoryUrl = '';
?>
<?php if( count($block->getProductCollection($id)) > 0): ?>
<ul class="product-container owl-carousel">
    <?php foreach ($block->getProductCollection($id) as $product): ?>

        <?php
            
            $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
            $postParams = json_decode($postData, true);
            $imageType = 'product_base_image';
            $buttonTitle = $block->escapeHtml(__('Add to Bag'));
            $width = 296;
            $height = 296;
            $resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();
            $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
            $_helperGallery = $this->helper('OM\HomepageTopProducts\Helper\Data');
            $_helperGallery->addGallery($product);
            $images = $_helperGallery->getGalleryImages($product);
            $baseCurrency = $block->getCurrentCurrencySymbol();
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;

        ?>

        <li class="home-page-product-list item product product-item">
            <form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
                <?= $block->getBlockHtml('formkey') ?>
                <input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
                <input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
               <div class="product-wrapper">      
                    <div class="product-wrapper-container"> 
                    <?php /*<div class="companyname">Panasonic</div>*/?>
                    <div class="product-desc">  
                        <h4 class="product-name"><a href="<?= htmlspecialchars_decode($block->escapeUrl($product->getProductUrl())) ?>"><?= $block->escapeHtml($product->getName()) ?></a>
                        </h4>
                    </div>
                    <a href="<?= htmlspecialchars_decode($block->escapeUrl($product->getProductUrl())) ?>">
                        <span class="product-image-container">
                            <span class="product-image-wrapper">
                                <img class="product-image-photo" src="<?php echo $resizedImageUrl?>">
                            </span>
                        </span>
                    </a>
                        <?php if($product->isSaleable()): ?>
                        <div class="product-hover">
                            <ul>
                                <li class="wishlist">
                                    <a href="#" data-post='<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="action towishlist" title="<?= $block->escapeHtml(__('Add to Wish List')) ?>" data-action="add-to-wishlist">
                                    <span>Add to Wish List</span>
                                    </a>
                                </li>
                                <?php echo $block->getQuickViewHtml($product);?>
                                <li class="add-to-cart">
                                    <div class="actions add-to-cart">
                                        <?php if($product->getTypeId() == 'bundle'): ?>
                                            <a class="action tocart primary" href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= __("ADD TO BAG") ?></a>
                                        <?php else: ?>
                                            <!-- <button type="submit" title="<?= /* @escapeNotVerified */ $buttonTitle ?>" class="action tocart primary">
                                                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
                                            </button> -->
                                            
                                            <button type="submit" title="<?= $block->escapeHtml(__('Add to Cart')) ?>" class="action tocart primary">
                                                <span>Add to Cart</span>
                                            </button>
                                        
                                        <?php endif; ?>
                                    </div>
                                </li>
                            </ul>
                            
                            <?php else: ?>
                                <?php if ($product->isAvailable()): ?>
                                    <div class="stock available"><span><?= /* @escapeNotVerified */ __('In stock') ?></span></div>
                                <?php else: ?>
                                    <div class="stock unavailable"><span><?= /* @escapeNotVerified */ __('Out of stock') ?></span></div>
                                <?php endif; ?>
                    <?php endif; ?>
                    </div>
            </div>
            <?php 
            $product_id = $product->getId();
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
            ?>
            <?= $abstractProductBlock->getReviewsSummaryHtml($product, $templateType) ?>        
                <div class="product-price">
                        <?= $abstractProductBlock->getProductPrice($product) ?>
                </div>
            </form>
        </li>
    <?php endforeach; ?>
</ul>
<div class="shop-all-button"><a href="<?php echo $categoryUrl?>"><?php echo __('View All') ?></a></div>
<script type="text/x-magento-init">
    {
        ".custom_addto_form": {
            "catalogAddToCart": {
                "bindSubmit": true
            }
        },
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "wishlist": {
                        "component": "Magento_Wishlist/js/view/wishlist"
                    }
                }
            }
        }
    }
</script>
<?php else:?>
<h2 class="no-products">No Products</h2>    
<?php endif; ?>
<script>
    require(['jquery', 'owl-carousel'], function ($){ 
        $('.product-container').owlCarousel({
            margin: 10,            
            dots: false,
            stagePadding: 10,
            items: 2,
            autoplay:true,
            nav: false,
            autoPlay: true,
            loop:true,
            autoplayHoverPause:true,
            responsive:{
                0:{
                    items:2,
                    nav:false
                },
                767:{
                    items:2,
                    nav:false
                },
                1200:{
                    items:3,
                    nav:false,                    
                }
            }
        });
    });
    
</script>