<?php
	$login_customer =  $this->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
	$AllAjaxUrl = $block->getUrl('homepagetopproducts/index/all');
	if($login_customer->customerLoggedIn()){
		$getCategoryNames = $block->getTrendingCategoryNames();
		$getCatId = $block->getTrendingCategory();
		$getCategoryIcon = $block->getTrendingCategoryIcon();
		$getCategoryUrl = $block->getTrendingCategoryUrls();
	}
	else{
		$getCategoryNames = $block->getTrendingCategoryNames();
		$getCatId = $block->getTrendingCategory();
		$getCategoryIcon = $block->getCategoryIcon();
		$getCategoryUrl = $block->getCategoryUrl();
	}
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$baseUrl = $storeManager->getStore()->getBaseUrl();
	$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	 if($login_customer->customerLoggedIn()){
	 	$loginClass= 'logged-in';
	 }
	 else{
	 	$loginClass = '';
	 }
?>
<div class="col-xl-12 hometopcategory">
<div class="top-product-title">
<?php if($login_customer->customerLoggedIn()):?>
	<?php /* <h2><span><?php echo __('Categories of Your Interest') ?></span></h2> */?>
	<h2><span><?php echo __('Categories of Your Interest') ?></span></h2>
<?php else:?>	
<h2><span><?php echo __('Top Trending Categories') ?></span></h2>
<?php endif;?>
</div>
<div id="top-product-element" class="product data items product-tabber <?php echo $loginClass;?>">
	<div class="top-tabbing-container">
		<div class="top-tabbing-container-inner">
	<?php $i=0; foreach ($getCategoryNames as $getCategoryName):?>
		<div data-role="collapsible" class="products-name-list item title <?php echo ($i == 0) ? 'active' : ''; ?>" >
			<div data-role="trigger">
				<a class="switch tab<?php echo $i?>" cat-id="<?php echo $getCatId[$i]['category_id'] ?>" cat-url="<?php echo $getCategoryUrl[$i] ?>">
					<?php 
					$category = $objectManager->create('Magento\Catalog\Model\Category')->load($getCatId[$i]['category_id']);
					?>
                    <div class="catimage">
                        <img src="<?php echo $mediaUrl.str_replace('/pub/media/','',$category->getCategoryIcon());?>" class="cat-icon">
                    </div>
					<span class="categoryname"><?php echo __($getCategoryName) ?></span>
				</a>
			</div>
		</div>
	<?php $i++; endforeach;?>
	<div class="view-all item title">
		<a href="/consumer-electronics-spare-parts/audio-video">
			<div class="catimage">
			<img src='<?php echo $this->getViewFileUrl('/images/viewall-icon.png'); ?>' alt="View All">
			</div>
			<span class="categoryname">View All</span>
		</a>
	</div>
	</div>
</div>
    
	<?php $i=0; foreach ($getCategoryNames as $getCategoryName):?>
	<div id="tab-products-<?php echo $i?>" class="top-products-ajax-container top-products" data-role="content" style="min-height:400px; <?php if ($i > 0){ ?>display:none;  <?php } ?>">		
		<?php 
			$catName = str_replace(' ', '_', $getCategoryName);
			$catName = strtolower($catName);
		?>
		<?php if($catName == 'air_conditioner'):?>
			<?php echo $this->getLayout()->createBlock("OM\HomepageTopProducts\Block\Topproducts")->setTemplate("OM_HomepageTopProducts::".$catName.".phtml")->toHtml();?>
		<?php else:?>
			<div class="loading-mask home-loader"><span class="loader"></span></div>  	
		<?php endif; ?>	
	</div>
	<?php $i++; endforeach;?>
</div>
</div>



<script type="text/javascript">
require(['jquery','accordion'], function ($) { 
	$("#top-product-element").accordion();
	var catId = '<?php echo $getCatId[0]['category_id']; ?>';
	var catUrl = '<?php echo $getCategoryUrl[0]; ?>';
	jQuery.ajax({
	    url:  '<?php echo $AllAjaxUrl ?>',
	    type:"POST",
	    dataType:'html',
	    data:{id:catId,catUrl:catUrl},
	    success:function(response){
	        $('#tab-products-0').html(response);
	        $( "form[data-role='tocart-form']" ).catalogAddToCart();
	    },
	});
	$(document).on('click','.switch',function(){
		var tabId = $(this).parents('.products-name-list').attr('aria-controls');
		var catId = $(this).attr('cat-id');
		var catUrl = $(this).attr('cat-url');
		$button = $(this);
		if ($button.data("pressed") !== true) {
		jQuery.ajax({
	    url:  '<?php echo $AllAjaxUrl ?>',
	    type:"POST",
	    dataType:'html',
	    data:{id:catId,catUrl:catUrl},
	    success:function(response){
	        $('#'+tabId).html(response);
	        $button.data("pressed", true);
	        $( "form[data-role='tocart-form']" ).catalogAddToCart();
	    },
		});
		}
	});
	$('.products-name-list.item.title').click(function() {
         $(this).siblings('.products-name-list.item.title').removeClass('active');
         $(this).addClass('active');
      })
});
</script>
