<?php
	$getCategoryNames = $block->getMobileTrendingCategoryNames();
	$getCatId = $block->getMobileTrendingCategory();
	$getCategoryIcon = $block->getMobileTrendingCategoryIcon();
	$getCategoryUrl = $block->getTrendingCategoryUrl();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$baseUrl = $storeManager->getStore()->getBaseUrl();
	$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
	$login_customer =  $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
?>

<div class="toptranding">
	<h2>Top Trending Categories</h2>
	<ul>
		<?php $i=0; foreach ($getCategoryNames as $getCategoryName):?>
		<li>
			<?php 
				$category = $objectManager->create('Magento\Catalog\Model\Category')->load($getCatId[$i]);
			?>
			<a href="<?php echo $category->getUrl();?>">
				
				<div class="toptranding-icon">
	      			<img src="<?php echo $mediaUrl.str_replace('/pub/media/','',$category->getCategoryIcon());?>">
				</div>
				<span class="sub"><?php echo __($getCategoryName) ?></span>
			</a>
		</li>
		<?php $i++; endforeach;?>
		<li>
			<a href="/consumer-electronics-spare-parts/audio-video">
			<div class="toptranding-icon">
				<img src="<?php echo $mediaUrl?>wysiwyg/getmyspares_home/tranding_category08.png" alt="">
				</div>
				<span class="sub">View All</span>
				</a>
		</li>
	</ul>
</div>
