<?php
/**
* Webkul Software.
*
* @category  Webkul
* @package   Webkul_Mpsplitorder
* @author    Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license   https://store.webkul.com/license.html
*/
?>
<div class="checkout-success">
    <?php 
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
	
	$data_helper = $objectManager->create('Panasonic\CustomUser\Helper\Data'); 
	
	
	if ($block->getOrderId()) { ?>
        <?php if(count($block->getOrderArray()) > 1) { ?>
            <p><?php echo __('Your orders # are:') ?> </p> 
            <?php 
            $flag = false;
            foreach ($block->getOrderArray() as $key => $orderValue) {
                if($flag) {
                    echo ",";
                }
               $flag = true; 
                if ($block->getCanViewOrder()) { ?>
                    <a href="<?php echo $block->escapeHtml($orderValue['view_order_id']) ?>"><?php echo $block->escapeHtml($orderValue['order_id']) ?> </a>
                <?php } else { ?>
                     <?php echo $block->escapeHtml($orderValue['order_id']) ?>
                <?php  }?>
            <?php 
			$order_inc_id=$orderValue['order_id'];
			$invoice_id=$data_helper->get_order_invoice_id($order_inc_id); 
			$invoice_id = ltrim($invoice_id, '0'); 
			$order_ids = ltrim($order_inc_id, '0');
			$sqls = "update marketplace_orders set invoice_id='".$invoice_id."' where order_id='".$order_ids."'";
			
			$connection->query($sqls);	   
			
			
			}
        } else {
            if ($block->getCanViewOrder()) { ?>
                 <p><?php echo __('Your order number is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
            <?php } else { ?>
                    <p><?php echo __('Your order # is: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php }?>
             
        <?php 
		
		$order_inc_id=$block->getOrderId();    
		$invoice_id=$data_helper->get_order_invoice_id($order_inc_id); 
		$invoice_id = ltrim($invoice_id, '0'); 
		$order_ids = ltrim($order_inc_id, '0');
		$sqls = "update marketplace_orders set invoice_id='".$invoice_id."' where order_id='".$order_ids."'";
		
		$connection->query($sqls);	  

		$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
		$tax_helpers->success_page($order_ids);    
  
		 
		
		} ?>
<?php } ?>
            <p><?php /* @escapeNotVerified */ echo __('We\'ll email you an order confirmation with details and tracking info.') ?></p>

    <?php echo $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?php /* @escapeNotVerified */ echo $block->getUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>
<?php $block->removeData(); ?>
