<?php
/**
* Webkul Software.
*
* @category  Webkul
* @package   Webkul_Mpsplitorder
* @author    Webkul
* @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
* @license   https://store.webkul.com/license.html
*/

$order_detail_array = $block->getOrderArray();

?>
<div class="checkout-success">
	<div class="thanku-section text-center">
	<img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/thumb.png'); ?>" alt="loader">
	<h2>Order Placed</h2> 
	<h3 style="margin-top:10px;">
	<?php foreach($order_detail_array as $key => $oinfo){ ?>
	<?php echo ($key > 0) ? ',&nbsp;':''?>
	<a href="<?php echo $oinfo['view_order_id']; ?>" target="_blank">#<?php echo $oinfo['order_id']; ?></a>
	<?php } ?>
	</h3>  
	<h3 style="margin-top:20px;">Thank You!</h3>
	<!--<p><button class="btn-black">track order</button></p>-->
	 <a class="btn-gradent" style="display:inline-block" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a> 
	</div>    
</div> 
<?php if(isset($oinfo['order_id'])):?>

  <?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($oinfo['order_id']);
$orderId = $order->getId();
$order = $objectManager->create('Magento\Sales\Model\Order')->load($orderId);
$itemsVisible = $order->getAllItems();
$customerid = $order->getCustomerId();
$payment = $order->getPayment();
$method = $payment->getMethodInstance();
$paymentmethod = $method->getTitle();
$priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
$amount = $priceHelper->currency($order->getGrandTotal(), true, false);
$shippingAddress = $order->getShippingAddress();
$billingAddress = $order->getBillingAddress();
$customerAdressId = $shippingAddress->getId();
$billingAdressId = $billingAddress->getId();

?>
<?php 
$productname = array();
$productid = array();
$productCat = array();
foreach($itemsVisible as $item) {
$productid[] = $item->getProductId();  
$productname[] = $item->getName();   
$products_data = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
$categoryIds = $products_data->getCategoryIds();
$cat_IDSP=$categoryIds[0];
$category = $objectManager->create('Magento\Catalog\Model\Category')->load($categoryIds[0]);
$productCat[]= $category->getName();
}
$productCat = implode(",",$productCat);
$productid = implode(",",$productid);
$productname = implode(",",$productname);
?>
<script>
    require([
        'Magento_Customer/js/customer-data'
        ], function (customerData) {
        var sections = ['cart'];
        customerData.invalidate(sections);
    });
</script>
<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){
console.log('Confirm_Order');  
Countly.q.push(['add_event',{
  "key": "Confirm_Order",
  "browser":{
    "Chrome":true
     },
  "segmentation": {
    "web":"yes",
    "customer_Id":"<?php echo $customerid?>",
   "products_Name": "<?php echo $productname ?>",
   "productCat": "<?php echo $productCat ?>",
   "productItemId": "<?php echo $productid ?>",
   "subCatName": "",
   "customer_address_id": "<?php echo $customerAdressId ?>",
   "customer__billing_address_id": "<?php echo $billingAdressId ?>",
   "payment_method": "<?php echo $paymentmethod ?>",
   "amount": "<?php echo $amount ?>"
  }
}]);
});
</script>


<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){
Countly.q.push(['add_event',{
  "key": "Payment_Success",
  "browser":{
    "Chrome":true
     },
  "segmentation": {
    "web":"yes",
    "customer_Id":"<?php echo $customerid?>",
   "products_Name": "<?php echo $productname ?>",
   "productCat": "<?php echo $productCat ?>",
   "productItemId": "<?php echo $productid ?>",
   "customer_address_id": "<?php echo $customerAdressId ?>",
   "customer__billing_address_id": "<?php echo $billingAdressId ?>",
   "payment_method": "<?php echo $paymentmethod ?>",
   "amount": "<?php echo $amount ?>"
  }
}]);
});
</script>
<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){
Countly.q.push(['add_event',{
  "key": "Purchase",
  "browser":{
    "Chrome":true
     },
  "segmentation": {
   "web":"yes",
    "count": 1,
   "sum":"<?php echo $order->getGrandTotal();?>",
   "customer_Id":"<?php echo $customerid?>",
   "products_Name": "<?php echo $productname ?>",
   "productCat": "<?php echo $productCat ?>",
   "productItemId": "<?php echo $productid ?>",
   "customer_address_id": "<?php echo $customerAdressId ?>",
   "customer__billing_address_id": "<?php echo $billingAdressId ?>",
   "payment_method": "<?php echo $paymentmethod ?>",
  }
}]);
});
</script> 



<?php endif;?>

