/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
.auto-hide{
    display: none;
}
.advancedreview{
    width: 100%;
    float: left;
}
.action-more, .action-less{
    cursor: pointer;
}
.advancedreview .column-left{float: left;}
.advancedreview .column-right{float: right;}
.advancedreviews-summary-block{float: left; width: 100%;}
.advancedreviews-summary-block table{float: left;}
.advancedreviews-summary-block table .star-name{width: 25%; white-space: nowrap;}
.advancedreviews-summary-block table .star-count{width: 15%; white-space: nowrap;}
.advancedreviews-summary-block table .star-line{vertical-align: middle; padding: 5px;}
.advancedreviews-summary-block table .star-line .star-bar-container{background: #dedcc3;}
.advancedreviews-summary-block table .star-line .star-bar-container .star-bar{background: #ff5501; height: 15px;line-height: 15px;text-align: center;}
.advancedreviews-reviews-count{float: left; width: 100%; text-align: right;font-weight: bold; margin: 10px 0;}
.bss_advancedreview .review-toolbar .sort-by{display: none;}
.bss_advancedreview a{cursor: pointer;}
.bss_advancedreview .review-toolbar:first-child{display: block; border-top:none;}
.bss_advancedreview .review-toolbar:first-child .pager .pages{display: none;}
.bss_advancedreview .review-toolbar:first-child .pager .sort-by, .bss_advancedreview .review-toolbar:first-child .pager .limiter{text-align: right; display: block; margin-top: 10px;}
.bss_advancedreview .review-toolbar:first-child .pager .sort-by #sort-by{width: auto; margin: 0 0 0 10px;}
#loadding-advancedreview{position: fixed;top: 0; right: 0; bottom: 0; left: 0; opacity: 1; z-index: 99999; background-color: rgba(0, 0, 0, 0.4);}
#loadding-advancedreview #loading_mask_loader{margin-top: 20%; text-align: center;}
.advancedreview-fillter{float: left; width: 100%; margin-bottom: 10px}
.advancedreview-fillter .pros-fillter, .advancedreview-fillter .cons-fillter{float: left; width: 50%;}
.advancedreviews-percent-star{border: 1px solid #ccc;float: left;width: 100%;display: block;}
.advancedreviews-percent-star .pecent,.advancedreviews-percent-star .rating{width: 50%;display: table-cell;vertical-align: bottom; float: left; text-align: center;}
.advancedreviews-percent-star .rating .reviews-actions{display: none;}
.advancedreview-fillter .title{font-weight: 300;line-height: 1.1;font-size: 2.6rem;margin-top: 2.5rem;margin-bottom: 2rem;}
.advancedreview-fillter .title strong{font-weight: 300;line-height: 1.1;font-size: 2.6rem;margin-top: 2.5rem;margin-bottom: 2rem;}
.action-more, .action-less{cursor: pointer; color: blue;}