<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Editprofile */ 

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$partner = $block->getPersistentData();
if (empty($partner)) {
    $partner=$helper->getSeller();
}
$profile_hint_status = $helper->getProfileHintStatus();
$spostcode =  $helper->getSellerPostcode();
$indregions = $helper->getAllIndiaRegion();
 ?> 
<form action="<?php echo $block->getUrl('marketplace/account/editProfilePost', ["_secure" => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" data-role="form-profile-validate" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-design">
        <fieldset class="fieldset info wk-mp-fieldset">
            <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend" id="wk-mp-editprofile-form">
                <span><?php echo __('Edit Profile Information') ?></span>
                <button class="button wk-mp-btn" title="<?php echo __('Save Profile') ?>" type="submit" id="save-btn">
                    <span><span><?php echo __('Save Profile') ?></span></span>
                </button>
            </div>
            <?php echo $block->getBlockHtml('seller.formkey')?>
            <?php echo $block->getBlockHtml('formkey')?>
            <!-- <legend class="legend"><span><?php // echo __('Profile Information') ?></span></legend> -->
            
            <div class="field profile">
					<div class="col-6" style="float:left;">
						<label for="region"><?php echo __('Seller Region') ?> </label>
						<div class="control">
							<select name="region_id"  title="twitterid" class="input-text" <?php if($partner['tw_active'] == 1){ echo "required='required'";} ?> >
								<option value=""></option>
								<?php foreach($indregions as $rid => $rval){ ?>
									<option value="<?php echo $rid; ?>" <?php echo ($rid==$partner['region_id']) ? 'selected':''; ?> ><?php echo $rval; ?></option>
							    <?php } ?>
							</select>
							
						</div>
					</div>
					<div class="col-6" style="float:left;">
						<label for="s_postcode"><?php echo __('Seller ZipCode') ?> </label>
						<div class="control">
							<input type="text" id="s_postcode" name="s_postcode" value="<?php echo $spostcode ?>" title="postcode" class="input-text" <?php if($partner['tw_active'] == 1){ echo "required='required'";} ?>/>
						</div>
					</div>
					
            </div>
            
            
            <div class="field profile">
                <label for="twitterid"><?php echo __('Twitter ID') ?> </label>
				<span class="checkbox">
                <input id="tw_checkbox" type="checkbox" name="tw_active" value="1" title="<?php echo __('Allow to Display Twitter Icon in Profile Page') ?>" <?php if($partner['tw_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                <?php
                if($profile_hint_status && $helper->getProfileHintTw()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintTw() ?>"/>
                <?php
                } ?>
                <div class="control">
                    <input type="text" id="twitter_id" name="twitter_id" value="<?php echo $partner['twitter_id']; ?>" title="twitterid" class="input-text" <?php if($partner['tw_active'] == 1){ echo "required='required'";} ?>/>
                </div>
            </div>
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#tw_checkbox').click(function(){
							if(this.checked){
								$("#twitter_id").attr("required", true);
							}else{
								$("#twitter_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
			
            <div class="field profile">
                <label for="facebookid"><?php echo __('Facebook ID') ?> </label>
				<span class="checkbox">
				<input type="checkbox" id ="fb_checkbox" name="fb_active" value="1" title="<?php echo __('Allow to Display Facebook Icon in Profile Page') ?>" <?php if($partner['fb_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                
                <?php
                if($profile_hint_status && $helper->getProfileHintFb()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintFb() ?>"/>
                <?php
                } ?>
                <div class="control">
                     <input type="text" id="facebook_id" name="facebook_id" value="<?php echo $partner['facebook_id']; ?>" title="facebookid" class="input-text" />
                </div>
            </div>
			
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#fb_checkbox').click(function(){
							if(this.checked){
								$("#facebook_id").attr("required", true);
							}else{
								$("#facebook_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
			
			
            <div class="field profile">
                <label><?php echo __('Instagram ID') ?> </label>
				<span class="checkbox">
                <input type="checkbox" id="inst_checkbox" name="instagram_active" value="1" title="<?php echo __('Allow to Display Instagram Icon in Profile Page') ?>" <?php if($partner['instagram_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                <div class="control">
                     <input type="text" id="instagram_id" name="instagram_id" value="<?php echo $partner['instagram_id']; ?>" class="input-text" />
                </div>
            </div>
			
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#inst_checkbox').click(function(){
							if(this.checked){
								$("#instagram_id").attr("required", true);
							}else{
								$("#instagram_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
            <div class="field profile">
                <label><?php echo __('Google Plus ID') ?> </label>
				<span class="checkbox">
                <input type="checkbox" id="gplus_checkout" name="gplus_active" value="1" title="<?php echo __('Allow to Display Google Plus Icon in Profile Page') ?>" <?php if($partner['gplus_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                <div class="control">
                     <input type="text" id="gplus_id" name="gplus_id" value="<?php echo $partner['gplus_id']; ?>" class="input-text" />
                </div>
            </div>
			
			
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#gplus_checkout').click(function(){
							if(this.checked){
								$("#gplus_id").attr("required", true);
							}else{
								$("#gplus_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
            <div class="field profile">
                <label><?php echo __('Youtube ID') ?> </label>
				<span class="checkbox">
                <input type="checkbox" id="youtube_checkbox" name="youtube_active" value="1" title="<?php echo __('Allow to Display Youtube Icon in Profile Page') ?>" <?php if($partner['youtube_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                <div class="control">
                     <input type="text" id="youtube_id" name="youtube_id" value="<?php echo $partner['youtube_id']; ?>" class="input-text" />
                </div>
            </div>
			
			
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#youtube_checkbox').click(function(){
							if(this.checked){
								$("#youtube_id").attr("required", true);
							}else{
								$("#youtube_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
			
            <div class="field profile">
                <label><?php echo __('Vimeo ID') ?> </label>
				<span class="checkbox">
                <input type="checkbox" id ="vimeo_checkbox" name="vimeo_active" value="1" title="<?php echo __('Allow to Display Vimeo Icon in Profile Page') ?>" <?php if($partner['vimeo_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                <div class="control">
                     <input type="text" id="vimeo_id" name="vimeo_id" value="<?php echo $partner['vimeo_id']; ?>" class="input-text" />
                </div>
            </div>
			
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#vimeo_checkbox').click(function(){
							if(this.checked){
								$("#vimeo_id").attr("required", true);
							}else{
								$("#vimeo_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
			
            <div class="field profile">
                <label><?php echo __('Pinterest ID') ?> </label>
				<span class="checkbox">
                <input type="checkbox" id="pinterest_checkbox" name="pinterest_active" value="1" title="<?php echo __('Allow to Display Pinterest Icon in Profile Page') ?>" <?php if($partner['pinterest_active'] == 1){ echo "checked='checked'";} ?> style="margin: 5px;">
				<span></span>
				</span>
                <div class="control">
                     <input type="text" id="pinterest_id" name="pinterest_id" value="<?php echo $partner['pinterest_id']; ?>" class="input-text" />
                </div>
            </div>
			
			<script type="text/javascript">
				require([
					'jquery'
				], function ($) {
					$(document).ready(function(){
						$('#pinterest_checkbox').click(function(){
							if(this.checked){
								$("#pinterest_id").attr("required", true);
							}else{
								$("#pinterest_id").removeAttr('required');
							}
						})
					});
				});
			</script>
			
			
            <div class="field profile">
                <label><?php echo __('Contact Number') ?> </label>
                <?php
                if($profile_hint_status && $helper->getProfileHintCn()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintCn() ?>"/>
                <?php
                } ?>
				<?php 
				$om = \Magento\Framework\App\ObjectManager::getInstance();
				$customerSession = $om->create('Magento\Customer\Model\Session');
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$customerFactory = $objectManager->get('\Magento\Customer\Model\CustomerFactory')
				->create();
				$customerId = $customerSession->getCustomer()->getId();
				$customer = $customerFactory->load($customerId);
				//fetch whole customer information
				$newMobile = $customer->getData();
				if(!empty($newMobile['mobile']))
				{
				$newMobiles = $newMobile['mobile'];
				}
				else
				{
				$newMobiles='';	
				}
				?>		
				<!--value="<?php //echo $partner['contact_number'].$newMobiles; ?>"-->
                <div class="control">
                     <input type="text" id="contact_number" name="contact_number" value="<?php echo $partner['contact_number']; ?>" title="<?php echo __('Enter Contact Number') ?>" class="input-text" placeholder="<?php echo __('Enter Contact Number with country code ex: (123) 456-7890') ?>"/>
                </div>
            </div>
            <div class="field profile">
                <label><?php echo __('Tax/VAT Number') ?> </label>
                <?php
                if($profile_hint_status && $helper->getProfileHintCn()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintCn() ?>"/>
                <?php
                } ?>
                <div class="control">
                     <input type="text" id="taxvat" name="taxvat" value="<?php echo $partner['taxvat']; ?>" title="<?php echo __('Enter Tax or VAT number') ?>" class="input-text" placeholder="<?php echo __('Enter Tax or VAT number') ?>"/>
                </div>
            </div>
            <?php
            if($helper->getActiveColorPicker()){?>
                <div class="field profile">
                    <label for="background_width"><?php echo __('Theme : Background Color') ?> </label>
                    <?php
                    if($profile_hint_status && $helper->getProfileHintBc()){?>
                        <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintBc() ?>"/>
                    <?php
                    } ?>
                    <div class="control">
                         <input type="text" id="background_width" name="background_width" value="<?php echo $partner['background_width']; ?>" title="background_width" class="input-text" />
                         <span class="color-pick" data-role="color-pick" data-mage-init='{"colorPickerFunction":{"spanBackgroundColor" : "<?php echo $partner['background_width']?>", "getActiveColorPickerStatus" : "<?php echo $helper->getActiveColorPicker()?>", "backgroundWidthSelector" : "#background_width"}}'></span>
                    </div>
                </div>
            <?php
            } ?>
            <div class="field profile">
                <label for="shoptitle"><?php echo __('Shop Title') ?></label>
                <?php
                if($profile_hint_status && $helper->getProfileHintShop()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintShop() ?>"/>
                <?php
                } ?>
                <div class="control">
                     <input type="text" id="shop_title" name="shop_title" value="<?php echo $partner['shop_title']; ?>" title="<?php echo __('Shop Title')?>" class="input-text" />
                </div>
            </div>
            <div class="field profile">
                <label for="banner-pic"> <?php echo __('Company Banner') ?> </label>
                <?php
                if($profile_hint_status && $helper->getProfileHintBanner()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintBanner() ?>"/>
                <?php
                } ?>
                <div class="control">
					<span class="file-upload">
						<input type="file" id="banner-pic" name="banner_pic"  title="Banner Pic" class="banner" size="26" />
						<span>Choose Banner</span>
					</span>
                    <div class="profileimage-set">
                          <div class="setimage">
						  <?php 
						    echo $partner['banner_pic'];
						  ?>
                            <img class="wk-banner" alt=" <?php echo __('no image') ?>" src="<?php echo $helper->getMediaUrl().'avatar/'.$partner['banner_pic']; ?>"/>
                            <?php
                            $bannerpic = $partner['banner_pic']; 
                            $logopic = $partner['logo_pic']; 
                            if($bannerpic && !$partner['is_default_banner']){
                            ?>
                            <span class="wk-profileimagedelete" title="<?php echo __('Delete')?>">
                                  <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/deleteIcon.png'); ?>" alt="<?php echo __('Delete Image')?>" title="<?php echo __('Delete Image')?>"/>
                            </span>
                            <?php
                            }?>
                        </div>
                    </div>
                </div>
            </div>	
	<script>
	require([
	"jquery"
	], function(jQuery){
		var uploadField = document.getElementById("banner-pic");

		uploadField.onchange = function() {
			if(this.files[0].size > 307200){
			  // alert("File is too big!");
			   this.value = "";
			};
		};
	});
	</script>			
            <div class="field profile">
                <label for="logo-pic"> <?php echo __('Company Logo') ?> </label>
                <?php
                if($profile_hint_status && $helper->getProfileHintLogo()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintLogo() ?>"/>
                <?php
                } ?>
                <div class="control">
				<span class="file-upload">
                    <input type="file" id="logo-pic" alt="no image" name="logo_pic" title="<?php echo __('Seller Logo')?>" class="banner" size="26"/>
					<span>Choose Logo</span>
					</span>
                    <div class="logoimage-set">
                          <div class="setimage">
                            <img class="prev-img" src="<?php echo $helper->getMediaUrl().'avatar/'.$partner['logo_pic']; ?>"/>
                            <?php
                            if($logopic && !$partner['is_default_logo']){
                            ?>
                                <span class="wk-logoimagedelete" title="<?php echo __('Delete')?>">
                                      <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/deleteIcon.png'); ?>" alt="<?php echo __('Delete Image')?>" title="<?php echo __('Delete Image')?>"/>
                                </span>
                            <?php
                            }?>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="field profile">
                <label for="company_description"><?php echo __('Company Description') ?></label>
                <?php
                if($profile_hint_status && $helper->getProfileHintDesc()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintDesc() ?>"/>
                <?php
                } ?>
                <div class="control wk-border-box-sizing">
                     <textarea type="text" id="company_description" name="company_description" title="company_description" class="input-text compdesi" ><?php echo $partner['company_description']; ?> </textarea>
                     <script>
                        require([
                        "jquery", 
                        "mage/translate", 
                        "mage/adminhtml/events", 
                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                        ], function(jQuery){
                            wysiwygCompanyDescription = new wysiwygSetup("company_description", {
                                "width":"100%",
                                "height":"200px",
                                "plugins":[{"name":"image"}],
                                "tinymce4":{"toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                                }
                            });
                            wysiwygCompanyDescription.setup("exact");
                        });
                    </script>
                </div>
            </div>
            <?php
            if($helper->getSellerPolicyApproval()){?>
                <div class="field profile">
                    <label><?php echo __('Return Policy') ?></label>
                    <?php
                    if($profile_hint_status && $helper->getProfileHintReturnPolicy()){?>
                        <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintReturnPolicy() ?>"/>
                    <?php
                    } ?>
                    <div class="control">
                         <textarea type="text" id="return_policy" name="return_policy" title="<?php echo __('Return Policy') ?>" class="input-text compdesi" ><?php echo $partner['return_policy']; ?> </textarea>
                    </div>
                </div>
                <div class="field profile">
                    <label><?php echo __('Shipping Policy') ?></label>
                    <?php
                    if($profile_hint_status && $helper->getProfileHintShippingPolicy()){?>
                        <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintShippingPolicy() ?>"/>
                    <?php
                    } ?>
                    <div class="control">
                         <textarea type="text" id="shipping_policy" name="shipping_policy" title="<?php echo __('Shipping Policy') ?>" class="input-text compdesi" ><?php echo $partner['shipping_policy']; ?> </textarea>
                    </div>
                </div>
                <div class="field profile">
                    <label><?php echo __('Privacy Policy') ?></label>
                    <div class="control">
                         <textarea type="text" id="privacy_policy" name="privacy_policy" title="<?php echo __('Privacy Policy') ?>" class="input-text compdesi" ><?php echo $partner['privacy_policy']; ?> </textarea>
                    </div>
                </div>
            <?php
            } ?>
            
            <div class="field profile">
                <label for="country_pic"> <?php echo __('Country') ?> </label>
                <?php
                if($profile_hint_status && $helper->getProfileHintCountry()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintCountry() ?>"/>
                <?php
                } ?>
                <div class="control">
                     <select name="country_pic" id="country-pic">
                        <option value="" selected="selected" disabled="disabled"><?php echo __('Select Country')?></option>
                    <?php foreach($block->getCountryOptionArray() as $country){?>
                        <option <?php 
                        if($country['value']!=''){
                        echo ($partner['country_pic']==$country['value']?"selected='selected'":""); ?>value="<?php echo $country['value']; ?>"><?php echo $country['label'];?></option>
                    <?php 
                      }
                    } ?>
                    </select>
					<br/>
                    <img class="country_img_prev" alt="no image" src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/country/countryflags/')."/".strtoupper($partner['country_pic']==""?"xx":$partner['country_pic']).".png"; ?>"/>
                </div>
            </div>
            <div class="field profile">	
                <label for="meta_keywords"><?php echo __('Meta Keywords') ?></label>
                <label class="control-notification">(<?php echo __("Enter Meta Keywords Comma(',') Separated.."); ?>)</label>
                <?php
                if($profile_hint_status && $helper->getProfileHintMeta()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintMeta() ?>"/>
                <?php
                } ?>
                <div class="control">			
                    <textarea type="text" id="meta_keywords" name="meta_keyword" title="Meta Keyword" class="input-text compdesi" ><?php echo $partner['meta_keyword']; ?> </textarea>
                </div>	
            </div>	
            <div class="field profile">	
                <label for="meta_description"><?php echo __('Meta Description') ?></label>	
                <?php
                if($profile_hint_status && $helper->getProfileHintMetaDesc()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintMetaDesc() ?>"/>
                <?php
                } ?>
                <div class="control">	
                    <textarea type="text" id="meta_description" name="meta_description" title="Meta Description" class="input-text compdesi" ><?php echo $partner['meta_description']; ?> </textarea>	
                </div>	
            </div>
        </fieldset>
    </div>
</form>
<?php
if($helper->getUrlRewrite()){ ?>
    <br/><br/>
    <form action="<?php echo $block->getUrl('marketplace/account/rewriteUrlPost', ["_secure" => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" data-role="form-urlrewrite-validate" data-mage-init='{"validation":{}}'>
        <div class="page-title" style="width:100%;display:inline-block;">
            <h2 style="float:left;"><?php echo __('Manage Your Shop Url') ?></h2>
            <button class="button wk-mp-btn" title="<?php echo __('Set Your New Shop Url') ?>" type="submit" style="float:right;">
                <span><span><?php echo __('Save Url') ?></span></span>
            </button>
        </div>
        <?php echo $block->getBlockHtml('seller.formkey')?>
            <?php echo $block->getBlockHtml('formkey')?>
        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset">
                <legend class="legend"><span><?php echo __('Edit Your Shop Url') ?></span></legend>
                <div class="field">
                    <label><?php echo __('Profile Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/profile/shop/'.$partner['shop_url'] ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Profile Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="profile_request_url" id="profile_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/profile/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Collection Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/collection/shop/'.$partner['shop_url'] ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Collection Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="collection_request_url" id="collection_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/collection/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Review Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/feedback/shop/'.$partner['shop_url']; ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Review Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="review_request_url" id="review_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/feedback/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Location Page Target Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" value="<?php echo 'marketplace/seller/location/shop/'.$partner['shop_url']; ?>" readonly/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Location Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="location_request_url" id="location_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/location/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>
                <div class="field">
                    <label><?php echo __('Privacy Policy Page Request Url Path') ?></label>
                    <div class="control">
                        <input type="text" class="input-text" name="policy_request_url" id="policy_request_url" value="<?php echo $helper->getRewriteUrlPath('marketplace/seller/policy/shop/'.$partner['shop_url']) ?>"/>
                    </div>
                </div>	
            </fieldset>
        </div>	
    </form>
<?php
}
?>
<br/><br/>
<form action="<?php echo $block->getUrl('marketplace/account/savePaymentInfo', ["_secure" => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" data-role="form-payment-validate" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-page-title page-title">
        <h2><?php echo __('Edit Payment Information') ?></h1>
        <button class="button wk-mp-btn" title="<?php echo __('Save Payment') ?>" type="submit">
            <span><span><?php echo __('Save Payment') ?></span></span>
        </button>
    </div>
    <?php echo $block->getBlockHtml('seller.formkey')?>
    <?php echo $block->getBlockHtml('formkey')?>
    <div class="wk-mp-design">
        <fieldset class="fieldset info wk-mp-fieldset">
            <legend class="legend"><span><?php echo __('Payment Information') ?></span></legend>
            <div class="field">
                <label><?php echo __('Payment Details') ?></label>
                <?php
                if($profile_hint_status && $helper->getProfileHintBank()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProfileHintBank() ?>"/>
                <?php
                } ?>
                <div class="control">
                    <textarea class="input-text" name="payment_source" id="payment-source" title="payment source" cols="1" rows="3" ><?php echo $partner['payment_source']; ?></textarea>
                    
                </div>
            </div>
        </fieldset>		
    </div>		
</form>
<br/><br/>
<?php echo $block->getChildHtml(); ?>
<div class="field profile">
    <div class="wk-profile-links">
        <a class="btn-primary" href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$partner['shop_url']); ?>" target="_blank"><?php echo __('View Profile') ?></a>
    </div>
    <div class="wk-profile-links">
        <a class="btn-primary" href="<?php echo $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$partner['shop_url']); ?>" target="_blank"><?php echo __('View Collection') ?></a>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link text-right">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="backbutton">&laquo; <?php echo __('Back') ?></a>
    </p>
</div>

<?php
$formData = [
    'countryPicSelector' => '#country-pic',
    'countryImgPrevSelector' => '.country_img_prev',
    'countryLatitudeSelector' => '#country-latitude',
    'countryLongitudeSelector' => '#country-longitude',
    'countryImgPrev' => $this->getViewFileUrl("Webkul_Marketplace::images/country/countryflags/"),
    'backgroundWidthSelector' => '#background_width',
    'logoPicSelector' => '#logo-pic',
    'bannerPicSelector' => '#banner-pic',
    'leftButtonSelector' => '.left',
    'buttonsSetLastSelector' => '.buttons-set:last',
    'inputTextSelector' => '.input-text',
    'profileimageSetSpanSelector' => '.profileimage-set span',
    'bannerSelector' => '.wk-banner',
    'bannerDeleteAjaxUrl' => $block->getUrl('marketplace/account/deleteSellerBanner', ['_secure' => $this->getRequest()->isSecure()]),
    'setimageSelector' => '.setimage',
    'profileImageDeleteSelector' => '.wk-profileimagedelete img',
    'logoImageSetSpanSelector' => '.logoimage-set span',
    'logoSelector' => '.wk-logo',
    'logoDeleteAjaxUrl' => $block->getUrl('marketplace/account/deleteSellerLogo', ['_secure' => $this->getRequest()->isSecure()]),
    'logoImageDeleteSelector' => '.wk-logoimagedelete img'
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "editSellerProfile": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>
