<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Invoice */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$captchaEnableStatus = $helper->getCaptchaEnable();
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$getDateDetail = $block->getDateDetail();
$total_sale_coll = $block->getTotalSaleColl();
$total_sale = 0;
$total_remain_sale = 0;
foreach($total_sale_coll as $value) {
    $total_sale = $value->getAmountReceived();
    $total_remain_sale = $value->getAmountRemain();
}
$getTopSaleProducts = $block->getTopSaleProducts();
$block->getTopSaleCategories();
?>

<style type="text/css">
    .wk-dashboard-sales-value {
        color: #eb5202;
    }
    .wk-dashboard-sales-font {
        font-size: 25px;
    }
    .button {
        padding: 4px 15px;
    }
</style>

<?php echo $block->getChildHtml('dashboard_additional_content_block')?>
<div class="wk-mp-design wk-mp-design2">
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend"><span><?php echo __('Invoiced Orders Details') ?></span></legend>
        <div class="grid">
            <div class="hor-scroll">
			
	
			
                <?php
				
                if(count($block->getCollection())==0){ ?>
                    <div class="fieldset wk-mp-fieldset">
                        <div class="wk-emptymsg">
                            <?php echo __('No Order Available') ?>
                        </div>
                    </div>
                    <?php
                } else{ ?>
					<!--<table id="example" class="border wk-mp-list-table wk-mp-list-container-table table" cellspacing="0">-->
					<table id="example" class="table table-shadow-design" style="width:100%">
					   <thead>
						  <tr>
							 <th id = "invoice_date" ><span class="label">Date</span></th>
							 <!-- order id <th id = "iorder_id"><span class="label">Order Id</span></th>-->
							 <th id = "iorder_id"><span class="label">Invoice Id</span></th>
							 <th id = "icustomer_nam"><span class="label name">Customer Name</span></th>
							 <th id = "icustomer_nam"><span class="label name">Customer Email</span></th>
							 <th><span class="label name">Order Total (Base)</span></th>
							 <th><span class="label">Order Total (Purchased)</span></th>
							 <th><span class="label">View Order</span></th>
							 <th><span class="label">View Invoice</span></th>
						  </tr>
					   </thead>
					   <tbody>
					<?php 
						$i=0;
						foreach($block->getCollection() as $res){
							$order = $block->getMainOrder($res['order_id']);
							$orderId = $order->getId();
							
							$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
							$marketplaceOrder = $objectManager->create(
								'Webkul\Marketplace\Helper\Orders'
							)->getOrderinfo($orderId);
							$invoiceId = $marketplaceOrder->getInvoiceId();
							$invoiceId2 = $num_padded = sprintf("%09d", $invoiceId);;
							$invoice_collection = $order->getInvoiceCollection()->getData();

							foreach($invoice_collection as $data){								
								if($orderId == $data['order_id']){
									$invoice_created = $data['created_at'];
								}
							}
							
							$state=$order->getState();
							$status=$order->getStatus();
							$name=$order->getCustomerName();
							$customer_email = $order->getCustomerEmail();
							
							$tracking=$orderHelper->getOrderinfo($res['order_id']);
							if($tracking->getIsCanceled()){
								$state='canceled';
								$status='Canceled';
							}
							if( ((strtolower($state))== "complete") || ((strtolower($state))== "processing")){
								if( !empty($invoice_created) ){
									
								$i++;
								$orderPrice = $block->getPricebyorder($res['order_id']);
					?>
								<tr class="blank-table-tr">
									<td colspan="8"></td>
								</tr>
								<tr class="wk-row-view">
									<td data-th="Date">
										<span class="label">
											<?php //echo $block->formatDate($res['created_at']) ?>
											<?php echo $block->formatDate($invoice_created) ?>
										</span>
									</td>
									<!-- order id
									<td data-th="Transaction Id">
										<span class="label name">
											#<?php echo $res['magerealorder_id']; ?>
										</span>
									</td>-->
									
									<td data-th="Transaction Id">
										<span class="label name">
										
											#<?php echo $invoiceId2; ?>
										</span>
									</td>
									
									<td data-th="Comment Message">
										<span class="label name">
											<?php
												echo $name; 
											 ?>
										</span>
									</td>
									<td data-th="Comment Message">
										<span class="label name">
											<?php
											
												echo $customer_email; 
											 ?>
										</span>
									</td>
									<td data-th="Comment Message">
										<span class="label name">
											<?php echo $order->formatBasePrice($orderPrice); ?>
											
											
										</span>
									</td>
									
									<td data-th="Transaction Amount">
										<span class="label price">
											<span class="price">
												<?php echo $order->formatPrice($block->getOrderedPricebyorder($res['currency_rate'], $orderPrice)); ?>
											</span>
										</span>
									</td>
									
									<td data-th="Action">
										<span class="label">
											<a class="action more" href="<?php echo $block->getUrl('marketplace/order/view',['id'=>$res['order_id'], '_secure' => $this->getRequest()->isSecure()])?>">Click here</a>
										</span>
									</td>
									<td data-th="Action">
										<span class="label">
											<a class="action more" href="<?php echo $block->getUrl('marketplace/order_invoice/view', ['order_id'=>$orderId,'invoice_id'=>$invoiceId, '_secure' => $this->getRequest()->isSecure()])?>">Click here</a>
										</span>
									</td>
									
									<!-- http://localhost/local_panasonic/marketplace/order_invoice/view/order_id/3/invoice_id/3/ -->
								</tr>			 
					<?php
								}
							}
						} 
					?>
					   </tbody>
					</table>
				
				
                    
                    <?php
                }?>
            </div>
        </div>
    </fieldset>
</div>


<div class="buttons-set">
    <p class="back-link">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
    </p>
</div>
<?php
$formData = [
    'loader'				=>	$this->getViewFileUrl('images/loader-2.gif'),
    'mpLocationChartSelector' 	=> 	'#wk-location-chart',
    'mpYearLocationChartSelector' 	=> 	'#wk-location-chart-year',
    'mpAskDataSelector' 	=> 	'#wk-mp-ask-data',
    'askQueSelector' 		=> 	'#askque',
    'askFormSelector'		=> 	'#ask-form',
    'askFormInputSelector' 	=> 	'#ask-form input',
    'askFormTextareaSelector' =>'#ask-form textarea',
    'pageWrapperSelector' 	=> 	'.page-wrapper',
    'mpModelPopupSelector' 	=> 	'.wk-mp-model-popup',
    'showClass' 			=> 	'_show',
    'mageErrorClass' 		=> 	'mage-error',
    'resetBtnSelector' 		=> 	'#resetbtn',
    'wkCloseSelector'		=> 	'.wk-close',
    'validationFailedSelector' 			=> 	'.validation-failed',
    'askFormValidationFailedSelector' 	=> 	'#ask-form .validation-failed',
    'askFormValidationAdviceSelector' 	=> 	'#ask-form .validation-advice',
    'askFormErrorMailSelector' 			=> '#ask-form .errormail',
    'askBtnSelector'		=> 	'#askbtn',
    'mpCaptcha1Selector'	=> 	'#wk-mp-captchalable1',
    'mpCaptcha2Selector'	=> 	'#wk-mp-captchalable2',
    'mpCaptchaSelector'		=> 	'#wk-mp-captcha',
    'mailProcssClass' 		=> 	'mail-procss',
    'captchaEnableStatus' 	=> 	$captchaEnableStatus,
    'ajaxMailSendUrl' 		=> 	$block->getUrl("marketplace/account/askquestion", ["_secure" => $this->getRequest()->isSecure()]),
    'ajaxChartUrl' 		=> 	$block->getUrl("marketplace/account/chart", ["_secure" => $this->getRequest()->isSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "sellerDashboard": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>

<script type="text/javascript">

	require([
		'jquery',
		'Magento_Theme/js/jquery.dataTables.min'
	], function ($) {
		$(document).ready(function(){
			$('#example').DataTable();
		});
	});

</script>
