<?php

/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Rmalisting */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$rmahelper = $objectManager->create('OM\Rma\Helper\Data');
$captchaEnableStatus = $helper->getCaptchaEnable();
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_url = $storeManager->getStore()->getBaseUrl();
$export_url = $site_url . "/marketplace/account/rmaexport";
$paramData = $this->getRequest()->getParams();
$filterOrderId = '';
$rmaselected_status = '';
if (isset($paramData['s'])) {
	$filterOrderId = $paramData['s'] != "" ? $paramData['s'] : "";
}
if (isset($paramData['rs'])) {
	$rmaselected_status = $paramData['rs'] != "" ? $paramData['rs'] : "";
}
?>


<?php echo $block->getChildHtml('dashboard_additional_content_block') ?>
<div class="wk-mp-design wk-mp-design2">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend"><span><?php echo __('All Return List') ?></span></legend>
		<div class="grid">
			<form action="<?php echo $block->getCurrentUrl(); ?>" method="get">
			<div class="horScroll">
				<table cellspacing="0" class="wk-mp-list-table table-shadow-design">
					<tbody class="wk-mp-body">
						<tr class="wk-row-view">
							<td>
								<div class="flexbox">
								<input type="text" class="input-text filter-parameters" name="s" placeholder='<?php echo __('Search by Order Id') ?>' value="<?php echo $filterOrderId; ?>"/>
								<select name="rs" id="" class="filter-parameters">
									<?php $rma_statuses=$rmahelper->getRmaStatusList();?>
									<option value="" selected >select status</option>
									<?php foreach($rma_statuses as $key=>$value):?>
										<option value="<?=$key?>" <?php if(($key==$rmaselected_status)&& is_numeric($rmaselected_status)){echo "selected";} ?>><?=$value?></option>
									<?php endforeach;?>
								</select>
								<button class="button" title="Save" id="save-btn" type="submit" style="float:left">
									<span><span><span><?php echo __('Submit') ?></span></span></span>
								</button>
								<?php
								if (isset($paramData['s'])||isset($paramData['rs']) ) {
								?>
									<a class="reset-button" href="<?php echo $block->getBaseUrl() . 'marketplace/account/rmalisting'; ?>" style="float:left">Reset</a>
								<?php } ?>
								</div>
							</td>

							<td class="wk-mp-td-last" style="float:right">
								<a class="export-list-rma button" style="width:200px" href="<?php echo $export_url; ?>">Export List</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</form>
			<div class="hor-scroll">
				<?php

				$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
				$connection = $resource->getConnection();
				$result = $block->getRmaColleection()->load();

				if (empty($result)) { ?>
					<div class="fieldset wk-mp-fieldset">
						<div class="wk-emptymsg">
							<?php echo __('No RMA Available') ?>
						</div>
					</div>
				<?php
				} else {

				?>
					<!--<table id="example" class="border wk-mp-list-table wk-mp-list-container-table table" cellspacing="0">-->
					<div class="horScroll">
					<table id="example" class="table table-shadow-design" style="width:100%">
						<thead>
							<tr>
								<th id="invoice_date"><span class="label">Rma ID </span></th>
								<th id="iorder_id"><span class="label name">ORDER ID</span></th>
								<th id="icustomer_nam"><span class="label name">Customer Name</span></th>
								<th id="icustomer_nam"><span class="label name">Created At</span></th>
								<th id="icustomer_nam"><span class="label name">Item</span></th>
								<th id="icustomer_nam"><span class="label name">Total Price</span></th>
								<th id="icustomer_nam"><span class="label name">Rma Status</span></th>
								<th id="icustomer_nam"><span class="label name">Action</span></th>
								<th id="icustomer_nam"><span class="label name">Claim Status</span></th>
							</tr>
						</thead>
						<tbody>
							<?php

							$i = count($result);
							foreach ($result as $res) {


								$orderId = $res['order_id'];
								$rma_id = $res['rma_id'];

								$sellerOrder = $objectManager->create('Webkul\Marketplace\Model\Orders')
									->getCollection()
									->addFieldToFilter('order_id', $orderId);
								if (!empty($sellerOrder)) {
									//echo 'in loop';
									foreach ($sellerOrder as $info) {
										//print_r($info->getData()); 
										$sellerid = $info->getSellerId();
										if ($sellerid > 0) {
											$customer = $objectManager->get(
												'Magento\Customer\Model\Customer'
											)->load($sellerid);
											if ($customer) {

												$returnArray = [];
												$returnArray['seller_name'] = $customer->getName();
												$returnArray['seller_gst'] = $customer->getGstNumber();
												$returnArray['seller_comp_nam'] = $customer->getCompanyNam();
												$returnArray['id'] = $customer->getId();
											}
										}
									}
								}
								//print_r($returnArray);
								$order_seller_id = $returnArray['id'];

								$customerSession = $objectManager->get('\Magento\Customer\Model\Session');

								if ($customerSession->isLoggedIn()) {
									$current_user_id = $customerSession->getCustomerId();
								}
								if ($current_user_id == $order_seller_id) {
									$rma_status = $res['status'];
									$status_text = $rmahelper->getRmaStatusTitle($rma_status);
								?>
									<tr class="blank-table-tr">
										<td colspan="7"></td>
									</tr>
									<tr class="wk-row-view">
										<td data-th="Date">
											<span class="label">
												<?php echo $rma_id; ?>
											</span>
										</td>

										<td data-th="Transaction Id">
											<span class="label name">

												#<?php echo $res['increment_id']; ?>
											</span>
										</td>

										<td data-th="Comment Message">
											<span class="label name">
												<?php
												echo $res['name'];
												?>
											</span>
										</td>
										<td data-th="Comment Message">
											<span class="label name">
												<?php echo $res['created_at']; ?>
											</span>
										</td>
										<?php
										$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');

										$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();

										$currencyModel = $objectManager->create('Magento\Directory\Model\Currency'); // Instance of Currency Model

										$currencySymbol = $currencyModel->load($currency)->getCurrencySymbol();

										$precision = 2;   // for displaying price decimals 2 point
										//get formatted price by currency

										// Fetch item as per rma id 
										$rma_id = $res['rma_id'];
										$sql = "SELECT * FROM wk_rma_items where rma_id = '$rma_id'";
										$item_result = $connection->fetchAll($sql);
										$rma_items = array();
										foreach ($item_result as $items) {
											$rma_items[] = $items['item_id'];
										}
										?>
										<td>
											<span class="label name">
												<?php
												$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
												$order = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($res['increment_id']);
												$orderItems = $order->getAllItems();
												$itemQty = array();
												$total_amount = 0;
												foreach ($orderItems as $item) {
													$current_id = $item->getId();
													$item_price = $currencyModel->format($item->getPrice(), ['symbol' => $currencySymbol, 'precision' => $precision], false, false);
													if (in_array($current_id, $rma_items)) {
														$sql = "SELECT qty FROM wk_rma_items where item_id = '$current_id'";
														$qty = $connection->fetchOne($sql);
														echo $item->getName() . " ( Price :- " . $item_price . ' )<br/>';
														$total_amount += $item->getPrice() * (int) $qty;
													}
												}
												?>
											</span>
										</td>
										<td>
											<span class="label name">
												<?php echo $formattedPrice = $currencyModel->format($total_amount, ['symbol' => $currencySymbol, 'precision' => $precision], false, false);	?>
											</span>
										</td>
										<td>
											<span class="label name <?php echo $status_text; ?>">
												<?php echo $status_text; ?>
											</span>
										</td>
										<td>
											<span class="label name" style="color: black">
												<a class="rma-listing-view-button" href="<?php echo $this->getBaseUrl() . "rms/rma/view/id/$rma_id" ?>">View</a>
											</span>
										</td>
										<?php
											$damagedItemHelper = $this->helper('OM\Rma\Helper\DamagedItem\Data');
											$checkInsurenceApplicabilty = $damagedItemHelper->isApplicableForInsuranceByRmaId($rma_id, null);
											if($rma_status == 2 || $rma_status == 9 || $rma_status == 14){
												if(!empty($checkInsurenceApplicabilty)){
												$claimStatus = $damagedItemHelper->getClaimStatusTitle($rma_id);
													if(!empty($claimStatus)){
										?>
										<td>
											<span class="label name" style="color: #0088CC">
												<?= $block->escapeHtml(__($claimStatus)); ?>
											</span>
										</td>

										<?php
													}else{
										?>
										<td>
											<span class="label name" style="color: #1e7e34">
												<?= $block->escapeHtml(__('Item is applicable for insurance')); ?>											
											</span>
										</td>

										<?php
													
													}
												}else{
										?>
										<td>
											<span class="label name" style="color: #f3a626">
												<?= $block->escapeHtml(__('Item is not applicable for insurance.')); ?>
											</span>
										</td>
										<?php

												}

											}elseif(!empty($checkInsurenceApplicabilty)){
												if($rma_status || 3 && $rma_status == 4){
										?>
										<td>
											<span class="label name" style="color: #f3a626">
												<?= $block->escapeHtml(__('Item is not applicable for insurance.')); ?>
											</span>
										</td>
										<?php												

												}else{
										?>
										<td>
											<span class="label name" style="color: #1e7e34">
												<?= $block->escapeHtml(__('Item is applicable for insurance')); ?>											
											</span>
										</td>
										<?php

												}
											}else{
										?>
										<td>
											<span class="label name" style="color: #f3a626">
												<?= $block->escapeHtml(__('Item is not applicable for insurance.')); ?>
											</span>
										</td>
										<?php												

											}
										?>
									</tr>
								<?php
									$i--;
								}
							}
							?>
						</tbody>
					</table>
						</div>
				<?php } ?>
				<?php if ($block->getPagerHtml()) : ?>
					<div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
				<?php endif ?>
			</div>
		</div>
	</fieldset>
</div>

<div class="buttons-set">
	<p class="back-link">
		<a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
	</p>
</div>

<div id="modal">
	<h2><?= $block->escapeHtml(__('Do you realy wnat to initiate claim?')) ?></h2>
</div>

<script type="text/javascript">
	require([
		'jquery',
		'Magento_Theme/js/jquery.dataTables.min'
	], function($) {
		$(document).ready(function() {
			$('#example').DataTable();
		});
	});
</script>

<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal",
	    "toastr"
    ],function($, modal, toastr) {
		var rmid;
        var options = {
            type: 'popup',
            title: 'Confermation on claim',
			responsive: true,
            buttons: [
				{
					text: $.mage.__('Yes'),
					class: '',
					click: function () {
						submitClaim();
					}
            	},
				{
					text: $.mage.__('No'),
					class: '',
					click: function () {
						this.closeModal();
					}
            	},
			]
        };

        var popup = modal(options, $('#modal'));
        $('button[id^="initiate_claim"]').click(function() {
			rmid = $(this).val();
            $('#modal').modal('openModal');
        });


		function submitClaim(){
			var url = "<?php echo $this->getBaseUrl() . 'rms/damageditem/initiateclaim' ?>";
			var rma_id = rmid;
			$.ajax({
				type: "GET",
				url: url,
				data: {
					'id':rma_id
				},
				dataType: "JSON",
				beforeSend: function() {
		            $(".loader_1").show();
				},
				success: function (response) {
					if(response['code'] == 'success'){
						toastr.success(response['msg']);
						location.reload();
					}else if(response['code'] == 'error'){
						toastr.success(response['msg']);
					}
		            $('#modal').modal('closeModal');
		            $(".loader_1").hide();
				}
			});
		}

    });
</script>