<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Editprofile */ 

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$partner = $block->getPersistentData();
if (empty($partner)) {
    $partner=$helper->getSeller();
}
$profile_hint_status = $helper->getProfileHintStatus();
$spostcode =  $helper->getSellerPostcode();
$indregions = $helper->getAllIndiaRegion();

//print_r( $partner );

 ?> 
<form action="<?php echo $block->getUrl('marketplace/account/sellerdocsPost', ["_secure" => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" data-role="form-profile-validate" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-design">
        <fieldset class="fieldset info wk-mp-fieldset">
            <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend" id="wk-mp-editprofile-form">
                <button class="button wk-mp-btn" title="<?php echo __('Save Profile') ?>" type="submit" id="save-btn">
                    <span><span><?php echo __('Save Profile') ?></span></span>
                </button>
            </div>
            <?php echo $block->getBlockHtml('seller.formkey'); ?>
            <?php echo $block->getBlockHtml('formkey'); ?>  
            <?php
				$fldArr = $block->getSellerDocsFields();
            ?>
            
            <div class="field profile">
				
				<div class="col-6" style="float:left;min-height:80px;">
					<label for="s_postcode">Invoice Prefix</label>
					<div class="control">
						<input type="text" required="true" onkeypress="return /[a-z]/i.test(event.key)" style="text-transform:uppercase" maxlength="3" id="invoice_prefix" name="invoice_prefix" value="<?php echo @$partner['invoice_prefix']; ?>" title="<?php echo @$partner['invoice_prefix']; ?>" class="input-text" />
					</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
					
				<?php foreach($fldArr as $fldname => $fldval): ?>
					<div class="col-6" style="float:left;min-height:80px;">
						<label for="s_postcode"><?php echo $fldval; ?> </label>
						<div class="control">
							<input type="file" id="<?php echo $fldname;?>" name="<?php echo $fldname;?>" value="" title="<?php echo $fldval; ?>" class="input-text" />
						</div>
						<div style="clear:both;"></div>
						<?php if($partner[$fldname] && $partner[$fldname]!=''){ ?>
							<a href="/pub/media/docs/<?php echo $partner[$fldname]; ?>" target="_blank"><strong><?php echo $partner[$fldname]; ?></strong></a>
						<?php  } ?>  
						<div style="clear:both;"></div>
					</div>
			    <?php endforeach; ?>
										
            </div>
            
        </fieldset>
    </div>
</form>
