<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$sql = "SELECT marketplace_saleslist.magebuyer_id ,COUNT(marketplace_saleslist.magerealorder_id) as total_orders,customer_entity.email FROM `marketplace_saleslist` inner JOIN customer_entity on marketplace_saleslist.magebuyer_id = customer_entity.entity_id where marketplace_saleslist.seller_id = '6737' GROUP BY marketplace_saleslist.magebuyer_id order by total_orders DESC limit 10";
$results = $connection->fetchAll($sql);
?>
<table>
<tr>
    <th>Customer Id</th>
    <th>Customer Email</th>
    <th>Total Orders</th>
  </tr>
<?php foreach($results as $result):?>
  <tr>
    <td><?php echo $result['magebuyer_id']?></td>
    <td><?php echo $result['email']?></td>
    <td><?php echo $result['total_orders']?></td>
  </tr>
<?php endforeach;?>    
</table>