<div class="tirefromsection">
    <p class="topsection">Downlaod <a href="<?php echo $this->getBaseUrl()."pub/media/om/sample_csv/tier_price.csv";?>">sample csv</a>  </p>
  <img src="<?php echo $this->getBaseUrl()."pub/media/om/sample_csv/sample_tier_price.png";?>" alt="">
    <form action="<?php echo $this->getBaseUrl()?>marketplace/product/tierpriceupload" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload Tier Price Sheet</label>
        <input type="file" name="tierpricesheet" class="form-control-file" >
      </div>
      <button type="submit" class="btn btn-primary">Upload Csv</button>
    </form>
</div>
