<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Customer\Block\Account\AuthorizationLink */
$dataPostParam = '';
if ($block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>
<input type="hidden" class="weburl" value="<?php echo $block->getBaseUrl()?>">
<li class="authorization-link" data-label="<?php echo $block->escapeHtml(__('or')); ?>">
    <?php if($block->isLoggedIn()):?>
    <a href='<?php echo $block->getBaseUrl()?>customer/account/'></a>
    <?php else:?>
        <a href="javascript:void(0)" class="trigger-auth-popup"><?php echo $block->escapeHtml($block->getLabel()); ?></a>
    <?php endif;?>
    <div class="buynowcheck" style="display:none">
        <?php if($block->isLoggedIn()):?>
        <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::customername.phtml")->toHtml();?>
        <?php endif;?>	
    </div>
</li>
<?php if($block->isLoggedIn()):?>
    <script type="text/javascript">
    require(["jquery"],function($){
        $('body').addClass('logged-in');
    });
    </script>
<?php endif ;?> 

<script> 
require(['jquery'],function($){
    
    $('#account-nav').find('ul.nav>li:eq(5)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-profile.png"); ?>" alt="image-icon"><span>My Profile</span>'); 
    $('#account-nav').find('ul.nav>li:eq(5)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-profile.png"); ?>" alt="image-icon"><span>My Profile</span>'); 
    
    $('#account-nav').find('ul.nav>li:eq(1)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon"><span>My Orders</span>');
    $('#account-nav').find('ul.nav>li:eq(1)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>"  alt="image-icon"><span>My Orders</span>');
    
    $('#account-nav').find('ul.nav>li:eq(2)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/wishlist.png"); ?>" alt="image-icon"><span>My Wishlist</span>'); 
    $('#account-nav').find('ul.nav>li:eq(2)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/wishlist.png"); ?>" alt="image-icon"><span>My Wishlist</span>');
    
    $('#account-nav').find('ul.nav>li:eq(4)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon"><span>Manage Address</span>');
    $('#account-nav').find('ul.nav>li:eq(4)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon"><span>Manage Address</span>');
    
    $('#account-nav').find('ul.nav>li:eq(0)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon"><span>My Account</span>');
    $('#account-nav').find('ul.nav>li:eq(0)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon"><span>My Account</span>');
     
    $('#account-nav').find('ul.nav>li:nth-child(8)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon"><span>My Product Reviews</span>');
    $('#account-nav').find('ul.nav>li:eq(8)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>"  alt="image-icon"><span>My Product Reviews</span>');
    
    $('#account-nav').find('ul.nav>li:nth-child(9)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/myrewards.png"); ?>" alt="image-icon"><span>Return Orders</span>');  
    $('#account-nav').find('ul.nav>li:nth-child(9)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/myrewards.png"); ?>"   alt="image-icon"><span>Return Orders</span>');
    $('#account-nav').find('ul.nav').prepend('<li class="nav item user-image"><a class="btn legin dropdown-link" href="javascript:void(0)"><img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/user_img.png"); ?>" alt="image-icon"><?php echo $customerSession->getCustomer()->getName();?></a></li>');

	
	var headingText = $('li.nav.item.current strong span').text();
	if(!headingText){
		headingText = $('li.nav.item.current a').text();
	}
    if(headingText){
        $('.title.account-nav-title strong').text(headingText);
    }
    
    $('.check-login a').click(function(e){
        if($('body').hasClass('logged-in')){
            return true;
        }
        else{
            e.preventDefault();
            $('.trigger-auth-popup').trigger('click');

        }
    });
    $('.sub-account li a').click(function(e){
        if($('body').hasClass('logged-in')){
            return true;
        }
        else{
            e.preventDefault();
            $('.trigger-auth-popup').trigger('click');

        }
    }); 
});  
</script>

<script>
require(['jquery'],function($){
    $(document).on('keypress','input[name ="telephone"]',function(event){
        if($(this).val().length > 10) {
          return false;
        }
       var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 46) {
            return true;
        } else if ( key < 48 || key > 57 ) {
            return false;
        } else {
            return true;
        }
      }); 
    $(document).on('blur',"input[name='postcode']",function(event){
   
        $("input[name='city']").val('').change();;
        $('select[name="region_id"]').val('').change();
        $("input[name='city']").prop('readonly', false);    
        $('select[name="region_id"]').prop('readonly', false);
                    
        var pincode = $(this).val();    
        var url     = '/pcheck/index/pdata/?pincode='+pincode;
        $.ajax({
            type: 'GET',
            url: url,
            dataType: "json",           
            success: function (output) {
                console.log(output);
                if(output.city_name){
                    $("input[name='city']").val(output.city_name).change();
                    $("input[name='city']").prop('readonly', true);
                }
                if(output.state){
                    $('select[name="region_id"]').val(output.state).change();
                    $('select[name="region_id"]').prop('readonly', true);
                }
                        
            },
            error: function(output){
                alert("fail");
            }
        }); 
    });
}); 
</script>
