<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
$_dataHelper = \Magento\Framework\App\ObjectManager::getInstance()->get('Bss\AdvancedReview\Helper\Data');
?>
 <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
<div id="customer-reviews" class="no-review-container">
<div class="block-content">    
<div class="customreview">
<div class="calltoaction">
    <h2>Review this product</h2>
    <p>Share your thoughts with other customers</p>
    <a href="#reviewsection" class="callreview">Write a product review</a>
</div>
</div>
</div>
</div>
<?php endif;?>
<div class="clr"></div>
<div class="block review-add" id="reviewsection" style="display:none;">
    <div class="block-title"><strong><?php /* @escapeNotVerified */ echo __('Write Your Own Review') ?></strong></div>
<div class="block-content">
<?php if ($block->getAllowWriteReviewFlag()): ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getAction() ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <?php echo $block->getChildHtml('form_fields_before')?>
    <fieldset class="fieldset review-fieldset" data-hasrequired="<?php __('* Required Fields'); ?>">
	<div class="product-review-section">
        <div class="product-review-image">
		<?php $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
			$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
	        $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
		  $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
          $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
           $imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
           if($product->getImage() && $product->getImage() != 'no_selection'){
			   ?>
            <img src="<?php echo $imageUrl; ?>" />
		   <?php }  else
		   {
		    $newurL =  $storeManager->getStore()->getBaseUrl().'placeholder.jpg'; ?>
			   <img src="<?php echo $newurL; ?>" />
			   <?php
		   }
		   ?>
		  
        </div>
        <div class="product-review-content">
            <legend class="legend review-legend">
				<span><?php /* @escapeNotVerified */ echo __("You're reviewing:"); ?></span>
				<strong><?php echo $block->escapeHtml($block->getProductInfo()->getName()) ?></strong>
			</legend>
        </div>
    </div>
	

<?php
			$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
			$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			 if($customerSession->isLoggedIn()) {  
			?>
 
	<div class="review-write-form">
		<h2>All fields are mandatory</h2>
        <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
        <span id="input-message-box"></span>
        <div class="field required review-field-ratings">
            <label class="label"><span><?php /* @escapeNotVerified */ echo __('Your Rating') ?><span></label>
            <div class="control">
                <div class="nested" id="product-review-table">
                    <?php foreach ($block->getRatings() as $_rating): ?>
                        <div class="field choice review-field-rating">
                            <label class="label d-none" id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?php echo $block->escapeHtml($_rating->getRatingCode()) ?></span></label>
                            <div class="control review-control-vote">
                            <?php $options = $_rating->getOptions();?>
                            <?php $iterator = 1; foreach ($options as $_option): ?>
                                <input
                                    type="radio"
                                    name="ratings[<?php /* @escapeNotVerified */ echo $_rating->getId() ?>]"
                                    id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                    value="<?php /* @escapeNotVerified */ echo $_option->getId() ?>"
                                    class="radio"
                                    data-validate="{required:true, messages:{required:'Please select one of each of the ratings above.'}}"
                                    aria-labelledby="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label <?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>_label" />
                                <label
                                    class="rating-<?php /* @escapeNotVerified */ echo $iterator; ?>"
                                    for="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>"
                                    title="<?php /* @escapeNotVerified */ echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?>"
                                    id="<?php echo $block->escapeHtml($_rating->getRatingCode()) ?>_<?php /* @escapeNotVerified */ echo $_option->getValue() ?>_label">
                                    <span><?php /* @escapeNotVerified */ echo __('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star') ?></span>
                                </label>
                            <?php $iterator++; ?>
                            <?php endforeach; ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                <?php if($_dataHelper->moduleEnabled()): ?>
                    <?php echo $this->getChildHtml("pros_review") ?>
                    <?php echo $this->getChildHtml("cons_review") ?>
                <?php endif; ?>
            </div>
			
        </div>
		<?php if($_dataHelper->moduleEnabled()): ?>
            <?php if($_dataHelper->enableRecommend()): ?>
                <div class="field review-field-recommend">
                    <label for="recommend" class="label">
                        <span><?php /* @escapeNotVerified */ echo _("Would you recommend this product to a friend?") ?></span>
                    </label>
                    <div class="control">
                        <?php echo $_dataHelper->getAnswerOptions(); ?>
                    </div>
                </div>
            <?php endif; ?>
        <?php endif; ?> 
	</div>

			
    <?php endif ?>
        <div class="reviewfildiner">
            <div class="field review-field-nickname required">
                <label for="nickname_field" class="label" style="display:none;"><span><?php /* @escapeNotVerified */ echo __('Nickname') ?></span></label>
                <div class="control">
                    <input type="text" name="nickname" id="nickname_field" class="input-text" data-validate="{required:true}" placeholder="Nickname" data-bind="value: nickname()" />
                </div>
            </div>
            <div class="field review-field-summary required">
                <label for="summary_field" class="label" style="display:none;"><span><?php /* @escapeNotVerified */ echo __('Summary') ?></span></label>
                <div class="control">
                    <input type="text" name="title" id="summary_field" class="input-text" data-validate="{required:true}" data-bind="value: review().title" placeholder="Order Summary" />
                </div>
            </div>
        </div>
        <div class="field review-field-text required">
            <label for="review_field" class="label" style="display:none;"><span><?php /* @escapeNotVerified */ echo __('Review') ?></span></label>
            <div class="control">
                <textarea name="detail" id="review_field" cols="5" rows="4" data-validate="{required:true}" data-bind="value: review().detail" placeholder="Review"></textarea>
            </div>
        </div>
        <?php if($_dataHelper->enableAntispam()): ?>
            <div class="recaptcha field required" style="overflow:hidden;position:relative;margin-bottom:10px;">
                <div id="tab-antispam-recaptcha"></div>
                <input type="text" id="antispam-recaptcha" name="antispam-recaptcha" value="" class="hide" data-validate="{required:true, 'required-entry':true}" readonly style="visibility:hidden; position:absolute; left:-1000000px" />
            </div>
        <?php endif; ?>
        <?php echo $this->getChildHtml('recaptcha'); ?>
    </fieldset>
    <div class="actions-toolbar review-form-actions">
        <div class="primary actions-primary">
		<button type="reset" id="review_reset_form" class="action reset primary" onclick="this.form.reset();"><span><?= $block->escapeHtml(__('Reset')) ?></span></button>
	
            <button type="submit" id="rvew_btn_sbmt" class="action submit primary" ><span><?php /* @escapeNotVerified */ echo __('Submit') ?></span></button>
        </div>
    </div>

	<?php }else { ?> <?php }
			?>
</form>

<script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
    },
    "#review-form": {
        "Magento_Review/js/error-placement": {}
    }
}
</script>
<script type="text/x-magento-init">
    {
        "#review-form": {
            "Bss_AdvancedReview/js/review-form": {
            }
        }
    }
</script>
<?php else: ?>
    <div class="message info notlogged" id="review-form">
        <div>
            <?php /* @escapeNotVerified */ echo __('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()) ?>
        </div>
    </div>
<?php endif ?>
</div>
</div>

<?php
    $login_customer =  $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
?>   
<script>
require(['jquery'],function($){
<?php if($login_customer->customerLoggedIn()):?>
  $(document).on('click','.callreview',function(){
    $('.review-add').slideDown();
  });  
  $(document).on('click','#review_reset_form',function(){
    $('div.mage-error').hide();
  });
  
  $(document).on('submit','#review-form',function(){
   $( "#rvew_btn_sbmt" ).prop( "disabled", true );
 })
  
<?php else:?>
    $(document).on('click','.callreview',function(){
    $('.trigger-auth-popup').trigger('click');
    $('.login-class').addClass('_show');
  });
<?php endif;?>  
});
</script>  
