<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

?>
<div>
	<h2>Orders Details </h2>
	<span style="float:right;">
		<a href="<?php echo $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB).'sales/order/history/'; ?>" onclick="history.back();">Back to Order</a>
	</span>
</div>
<p>
	<span class="neworder">Order ID:-<?php echo $block->getOrder()->getIncrementId();?>
	(<?php echo $block->getOrder()->getTotalItemCount();?> Item)
	</span><span class="neworder">| Placed on: <?php echo $block->formatDate($block->getOrder()->getCreatedAt(), \IntlDateFormatter::LONG);?></span>
</p>
<div class="order-date" style="display:none;">
    <?= /* @escapeNotVerified */ __('<span class="label">Order Date:</span> %1', '<date>' . $block->formatDate($block->getOrder()->getCreatedAt(), \IntlDateFormatter::LONG) . '</date>') ?>
</div>

<div class="customer_detail">
<div class="row">
<div class="col-12 col-md-4">
	<div class="customer_information">
		<span class="cus_info">Customer Information</span><br/>
		<span class="cus_email">Email:<?php echo $block->getOrder()->getCustomerEmail();?></span>
	</div>
	</div>
	<div class="col-12 col-md-4">
	<div class="payment_method">
		<span class="order_pay_method">Payment Method</span><br/>
		<?php 
		$payment = $block->getOrder()->getPayment();
		$method = $payment->getMethodInstance();
		$methodTitle = $method->getTitle();
		?>
		<span class="order_payment">
<?php		if($methodTitle == 'Pay Online')
							{
								echo "Paid Online";
							}
							else
							{
							echo $methodTitle;} 
		//echo "method: ".$payment->getMethod()."\n";

		?>
		</span>
	</div>
	</div>
	<div class="col-12 col-md-4">
	
	<div class="order_details">
	
	<?php
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();

		$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');								
		$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
		$currencyModel = $objectManager->create('Magento\Directory\Model\Currency'); // Instance of Currency Model
		$currencySymbol = $currencyModel->load($currency)->getCurrencySymbol();
		$precision = 2;   // for displaying price decimals 2 point

		
		 $cgst_amount = $block->getOrder()->getData('cgst_amount');
		 $sgst_amount = $block->getOrder()->getData('sgst_amount');
		 $igst_amount = $block->getOrder()->getData('igst_amount');
		 $total_tax = $cgst_amount+$sgst_amount+$igst_amount;
		 $subtotal = $block->getOrder()->getSubtotal() - $total_tax;
		

		$subtotal = $currencyModel->format($subtotal, ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		$shipping_amount = $currencyModel->format($block->getOrder()->getShippingAmount(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		$total_tax = $currencyModel->format($total_tax, ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		
		$total = $block->getOrder()->getSubtotal()+$block->getOrder()->getTaxAmount();
		$total = $currencyModel->format($total, ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		
		$grand_total = $currencyModel->format($block->getOrder()->getGrandTotal(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);			
		
		$order_inc_id=$block->getOrder()->getIncrementId();
		
		$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
		$order_details=$tax_helpers->order_amount_details($order_inc_id);
		$order_details=json_decode($order_details);
	
		/* echo "<pre>";
		print_r($order_details);
		echo "</pre>"; */
		  
		
		$baseprice=$order_details->baseprice;
		$shipping_expense=$order_details->shipping_expense;
		$total_gst=$order_details->total_gst;
		$subtotal=$order_details->subtotal;
		$grand_total=$order_details->grand_total;
		
		$baseprice=number_format($baseprice, 2, '.', '');
		$shipping_expense=number_format($shipping_expense, 2, '.', '');
		$total_gst=number_format($total_gst, 2, '.', '');
		$subtotal=number_format($subtotal, 2, '.', '');
		$grand_total=number_format($grand_total, 2, '.', '');
		
		 
		
		
	?>
		
		<table>
			<tr class="cus_subtotal">
			   <th colspan="7" class="cus_subtotal" scope="row">
				  Base Price                    
			   </th>
			   <td class="amount" data-th="Subtotal">
				  <span class="price"> <?php echo $baseprice; ?> </span>                    
			   </td>
			</tr>
			<tr class="cus_totals-tax-summary">
			   <th colspan="7" class="cus_mark" scope="row">
				  <div class="detailed">GST</div>
			   </th>
			   <td class="amount" data-th="Total GST">
				  <span class="price"><?php echo $total_gst; ?></span>    
			   </td>
			</tr>
			<tr class="cus_totals-tax-summary">
			   <th colspan="7" class="cus_mark" scope="row">
				  <div class="detailed">SubTotal</div>
			   </th> 
			   <td class="amount" data-th="Total GST">
				  <span class="price"><?php echo $subtotal; ?></span>    
			   </td>
			</tr>
			<tr class="cus_shipping">
			   <th colspan="7" class="cus_mark" scope="row">
				  Shipping:                   
			   </th>
			   <td class="amount" data-th="Shipping &amp; Handling">
				  <span class="price"><?php echo $shipping_expense ; ?> </span>                    
			   </td>
			</tr>
			<tr class="grand_total">
			   <th colspan="7" class="mark" scope="row">
				  <strong>Grand Total</strong>
			   </th>
			   <td class="amount" data-th="Grand Total (Excl.Tax)">
				  <strong><span class="price"><?php echo $grand_total; ?></span></strong>
			   </td>
			</tr>
		</table>
	</div>
	</div>
	</div>

</div>