	<legend class="legend">
        <span class="title"><?php echo __('Download Invoices') ?></span>
        <form method="post" action="<?php echo $block->getUrl('marketplace/order_invoice/generate'); ?>" id="invoice_generate_form" class="wk-massupload-container" data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <?php echo $block->getBlockHtml('formkey') ?>
                <?php echo $block->getBlockHtml('seller.formkey')?>
                <div class="field required">
                    <label class="label"><?php echo __('Date From') ?></label>
                    <input type="text" autocomplete="off" id="invoice_from" name="invoice_from_date" class="required-entry wk-ship-rowinput" />
                </div>
                <div class="field required">
                    <label class="label"><?php echo __('Date Untill') ?></label>
                    <input type="text" autocomplete="off" id="invoice_to" name="invoice_to_date" class="required-entry wk-ship-rowinput" />
                </div>
            </fieldset>
            <span>
                <button class="button wk-mp-btn" type="submit" id="generateinvoicebutton">
                    <?php echo __('Download');?>
                </button>
            </span>
        </form>
    </legend>
<script>
	require(["jquery", "mage/calendar"], function($){
		$("#invoice_from").datepicker({
			showMonthAfterYear: false,
			dateFormat:'mm/dd/yy',
			changeMonth: true,
			changeYear: true,
			yearRange: '2000:2020',
		});
		$("#invoice_to").datepicker({
			showMonthAfterYear: false,
			dateFormat:'mm/dd/yy',
			changeMonth: true,
			changeYear: true,
			yearRange: '2000:2020',
		});
	});

	require(
        [
            'jquery',
            'mage/url',
            'Magento_Ui/js/modal/modal'
        ],
        function($, url, modal) {
        	$('.invoice-download').click(function(){
        		var invoice_from = $('#invoice_from').val();
        		var invoice_to = $('#invoice_to').val();
        		if(invoice_from && invoice_to) {
        			var linkUrl = url.build('popup/index/index');
			    	$.ajax({
				        url: linkUrl,
				        type: "POST",
				        dataType: "json",
				        showLoader: false,
				        success: function (content) {
				        	if(content.enabled) {
				        		if(content.device=='mobile') {
					        		var data = "<a href='"+content.url+"'><img src='"+content.imgpath+"'></a>";
					        		//$("#mobile-popup-modal").html(data);
					        		//$("#mobile-popup-modal").modal("openModal");
					        	}
				        	}
				        }
				    });
        		}
        	});
        }
    );
</script>