.page-header .header.panel {

	width: 100% !important;
	max-width: 100% !important;
}
.container {
	width: 100% !important;
	max-width: 100% !important;
}

.navigation, 
.page-wrapper > .breadcrumbs, 
.page-header .header.panel, 
.header.content, 
.footer.content, 
.page-wrapper > .widget, 
.page-wrapper > .page-bottom, 
.block.category.event, 
.top-container, 
.page-main, 
.container {
	width: 100% !important;
	max-width: 100% !important;
}
@media only screen and (min-width: 1700px) {

	.header.panel span {
		margin-left: 80px;
	}
	.page-header.type1 .logo {
		margin-left: 75px;
	}
	.page-header.type1 .block-search {
		margin-left: 100px;
	}
	

}


@media only screen and (min-device-width : 320px) and (max-device-width : 1920px) {


}


@media only screen and (max-width: 960px) {

.block.block-search.newserachh ul {
    display: none;
}

}