

.account {
    .page-wrapper {
        background: #f7f7f7;
    }
    .page-main {
        padding-top: 20px;
    }
    &.marketplace-account-customer{
        .admin__data-grid-outer-wrap{
            padding: 0px 0px;
        }
    }
    &.marketplace-account-rmalisting{
        .order-products-toolbar{
            .pager{
                padding: 0px 0px;
                display: block;
            }
        } 
    }
    &.marketplace-account-review{
        .admin__data-grid-outer-wrap{
            padding: 0px 0px;
            .admin__data-grid-header{
                .admin__data-grid-pager-wrap{
                    label.admin__control-support-text{
                        display: none;
                    }
                }
            }
        }
    }
    &.marketplace-order-sellerdashboard{
        .sellerdashbord {
            padding: 0 0px;
            .sales-left.lifteimesalecount{
                width: 100%;
                margin-bottom: 15px;
            }
            .chartContainer{
                width: 100%;
            }
            .topsellingprodcut{
                padding-top: 0;
                width: 100%;
                float: left;
                h2{
                    padding-top: 20px;
                }
                ul{
                    display: block;
                    li{
                        width: 50%;
                        float: left;
                    }
                }
            }
            .optionsection{
                display: block;
                padding: 0px 0;
                margin-top: 20px;
                margin-bottom: 20px;
                float: left;
                width: 100%;
                .list{
                    width: 100%;
                    margin-bottom: 10px;
                    float: left;
                    .transaction-tab{                        
                        width: calc(~"100% - 63px");
                    } 
                }
            }
            .date-container {
                width: 100%;
                float: left;
                margin-bottom: 10px;
            }
            .topsection{                
                .listing {
                    margin-bottom: 10px;
                }
            } 
        }
    }
    &.review-customer-index{
        .table-wrapper.reviews{
            #my-reviews-table{
                .wk-row-view{
                    td.col.actions {
                        width: auto;
                        a.action.more{
                            font-size: 13px;
                            padding: 6px 10px 6px 10px;
                            text-decoration: none;
                        }
                    }
                } 
            } 
        } 
    }
    &.customer-address-index{
        .block-addresses-default{
            .block-content{
                padding: 0 0px;
                .box {
                    width: 100%;
                    max-width: 100%;
                    padding: 20px 10px;
                }
            }
        } 
    }
    &.customer-account-edit{
        .form-edit-account{
            .fieldset{
                width: 100%;
            }
            #company_details{
                .edit_additional_fields{
                    .field{
                        margin-bottom: 10px;
                        .label{
                            font-size: 14px;
                            color: #6c6d70;
                            font-weight: normal;
                        }
                        .control{
                            .input-text{
                                border-radius: 10px;
                                border: 1px solid #000;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
    &.customer-account-index{         
        .block-dashboard-info,.block-dashboard-addresses{
            .block-content{
                .box {
                    width: 100%;
                    max-width: 100%;
                }
            } 
        } 
    }
    .sidebar.sidebar-main{
        .account-nav{
            .content{
                ul{
                    li{
                        a{
                            font-family: 'Conv_DINOT-Light';
                            font-weight: normal;
                        }
                        strong {                            
                            font-family: 'Conv_DINOT-Light';
                            font-weight: normal;
                            font-size: 16px;
                        }
                        &.item.notification-link{
                            strong {
                                padding-left: 50px;
                                font-family: 'Conv_DINOT-Light';
                                font-weight: normal;
                                font-size: 16px;
                            }
                        }
                    } 
                } 
            } 
        } 
        .block-collapsible-nav{
            position: relative;
            top: initial;
            .title.block-collapsible-nav-title{
                height: auto;
                margin: 0;
                width: auto;
                strong{
                    font-size: 2.4rem;
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                }
            }
        }
    }
    .account-nav {
        .content {
            background: #fff;
            box-shadow: 0 0 4px 4px #eee;
            border-radius: 6px;
            ul {
                li {
                    position: relative;
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 10px 10px 10px 50px;
                        color: #777777;
                        img {
                            position: absolute;
                            left: 15px;
                            top: 50%;
                            transform: translate(0,-50%);
                            font-size: 22px;
                        }
                        &:hover {
                            color: #0088cc !important;
                            background: none !important;
                        }
                    }
                    &.current {
                        strong {
                            font-size: 16px;
                            font-weight: 400;
                            padding: 10px 10px 10px 50px;
                            color: #000 !important;
                            border: none;
                        }
                        img {
                            position: absolute;
                            left: 15px;
                            top: 45%;
                            transform: translate(0,-50%);
                            font-size: 22px;
                        }
                    }
                    &.user-image {
                        a {
                            font-size: 20px;
                            text-align: left !important;
                            font-weight: 500;
                            color: #5f5882;
                            padding-left: 60px;
                            border-bottom: 1px solid #e8eaef;
                            padding: 20px 20px 20px 70px !important;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .column {
        &.main {
            background: #fff;
            box-shadow: 0 0 4px 4px #eee;
            border-radius: 6px;
            width: 75%;
            margin-bottom: 40px;
            width: 76% !important;
            padding: 20px;
            .page-title {
                font-family: 'Conv_DINOT-Medium';
                font-weight: normal;
                font-size: 22px;
                margin: 0;
                padding-bottom: 15px;
                border-bottom: solid 1px #ddd;
                margin-bottom: 15px;
            }
            .block {
                &.block-dashboard-addresses {
                    .block-title {
                        a {
                            font-size: 14px;
                            background: #3f549c;
                            padding: 6px 10px;
                            border-radius: 4px;
                            color: #fff;
                            text-shadow: none;
                        }
                    }
                }
            }
            .block-content {
                .box {
                    border: solid 1px #b6b6b7;
                    background: #fff;
                    border-radius: 8px;
                    padding: 20px 15px; margin-bottom: 15px;
                    .box-title {
                        color: #464646;
                        display: inline-block;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        font-family: 'Conv_DINOT-Bold';
                        font-weight: normal;
                    }
                    .box-content {
                        padding: 20px 0px;
                        background: #fff !important;
                        p {
                            color: #787878;
                            font-size: 14px;
                            font-weight: normal;
                            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        }
                        address {
                            color: #787878;
                            font-size: 14px;
                            font-weight: normal;
                            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        }
                    }
                    .box-actions {
                        border-top: solid 1px #ddd !important;
                        background: #fff !important;
                    }
                }
            }
            .block-title {
                strong {
                    font-weight: 500 !important;
                    font-size: 20px !important;
                    font-family: 'Conv_DINOT-Medium';
                }
            }
        }
    }
}
.block {
    &.block-reviews-dashboard {
        a {
            font-size: 14px;
            background: #3f549c;
            padding: 6px 10px;
            border-radius: 4px;
            color: #fff;
            text-shadow: none;
            float: right;
        }
    }
}
.block {
    &.block-dashboard-orders {
        .block-title {
            &.order {
                a {
                    font-size: 14px;
                    background: #3f549c;
                    padding: 6px 10px;
                    border-radius: 4px;
                    color: #fff;
                    text-shadow: none;
                    float: right; 
                }
            }
        }
    }
}
.page-title-wrapper .order-date {margin-top: 0px !important;}
.customer-account-index .box .box-actions {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-top: 1px solid #e8eaef;
    padding-top: 18px;
}
.customer-account-index .box-actions .action.edit, .customer-account-index .box-actions .action.change-password {
    color: #6c6d70;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.customer-address-index .box .box-content address, .box .box-content address {
    font-size: 14px;
    color: #3d3d3f;
    font-weight: 500;
}
.customer-account-index .box .box-actions {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-top: 1px solid #e8eaef;
    padding-top: 18px;
}
.block {
    &.account-nav {
        &.block-collapsible-nav {
            &.wk-mp-main {
                margin-bottom: 30px;
                .account-nav {
                    .page-title {
                        font-size: 24px;
                        color: #000000;
                        font-weight: 600;
                        padding: 10px 20px 15px;
                        width: 100%;
                        border-bottom: 1px solid #e8eaef;
                        margin: 0 0 15px 0;
                    }
                    ul {
                        li {
                            width: 100%;
                            i {
                                position: absolute;
                                left: 15px;
                                top: 50%;
                                transform: translate(0,-50%);
                                font-size: 22px;
                            }
                            &.current {
                                background: #f3a626;
                                color: #fff;
                                strong {
                                    color: #fff !important;
                                    i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.wk-mp-design {
    &.wk-mp-design2 {
        .legend {
            border: none;
            font-size: 20px;
            font-weight: 600;
            color: #6c6c6c;
        }
        .grid {
            .export-list-rma {
                float: right;
                color: #fff;
                font-family: 'Conv_DINOT-Medium';
                font-size: 16px;
                text-decoration: none;
                transition: .5s all ease;
                background: #273c97;
                border-radius: 30px;
                text-align: center;
                display: inline-block;
                width: auto;
                font-weight: normal;
                padding: 10px 30px !important;
                margin-bottom: 20px;
            }
            td {
                border: none;
            }
        }
    }
}
.table-shadow-design thead tr th {
    border: 0px !important;
    vertical-align: middle;
    font-size: 14px;
    padding: 10px 10px !important;
    font-weight: 600;
    color: #000;
    background: #eaeaea !important;
}
.table-shadow-design tbody tr.wk-row-view {
    box-shadow: 0px 0px 10px #eee;
    border-radius: 4px;
}
.Processing {
    color: #f3a626;
}
.Solved {
    color: #1e7e34;
}
.Declined {
    color: red;
}
.table-shadow-design tbody tr.wk-row-view td a {
    color: #3f549c;
    font-weight: 600;
}

.wk-mp-design .fieldset > .legend, .marketplace-account-editprofile form .page-title {
    margin: 0px 0px 20px;
    padding: 0px;
    width: 100%;
    border: 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rmasystem-viewrma-index{
    #view-rma-component table th{
        color: #000;
    }
}
.account.sales-order-view{
    .page-title-wrapper{
        h2{
            font-size: 20px !important;
        }
        .customer_detail{
            .row{
                padding: 15px 0 !important;
            }
        } 
    } 
    .column.main{
        .custom_track_section{
            font-family: 'Conv_DINOT-Medium';
            text-transform: capitalize;
            font-weight: normal;
            margin-bottom: 15px;
        }
        .process-steps{
            .steps {
                padding-left: 0;
                font-family: 'Conv_DINOT-Medium';
                font-weight: normal;
                width: 25%;
                text-align: center;
                position: relative;
                font-size: 1.1rem;
                &.complete{
                    span {
                        background: #f3a626;
                    }
                    &:after {
                        background: #f3a626;
                    }
                    &:before {
                        background: #f3a626;
                    }
                } 
                span {
                    width: 18px;
                    height: 18px;
                    display: block;
                    background: #e9e9f1;
                    margin: 15px auto;
                    border-radius: 100%;
                }
                &:first-child{
                    &:after{
                        display: none;
                    }
                }
                &:last-child{
                    &:before{
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    height: 4px;
                    width: calc(50%);
                    position: absolute;
                    background: #e9e9f1;
                    top: 50%;
                    right: 2px;
                    transform: translate(0, -50%);
                    margin-top: 8px;
                }
                &:after {                   
                    content: '';
                    height: 4px;
                    width: calc(50%);
                    position: absolute;
                    background: #e9e9f1;
                    top: 50%;
                    left: -3px;
                    transform: translate(0, -50%);
                    margin-top: 8px;
                }
            }
        } 
    } 
} 

.account.sales-order-view{
    .order-details-items.ordered{
        margin-bottom: 0;
        #my-orders-table{
            .col.action a{
                display: inline-block;
            }
            .col{
                padding-bottom: 5px;
            }
        } 
    } 
    .block.block-order-details-view{
        padding: 0px 0;
        .block-content .box{
            max-width: 100%;
        }
    } 
} 

.sales-order-history{
    .order-products-toolbar{
        .pager{
            padding: 0px 0px;
            display: block;
            .pages{
                padding: 2px 0px 0;
                .item{
                    margin: 0 2px 0 0;
                }
            } 
        }
    }
}
 
.rewards-account-referral{
    #referralForm table.data-table thead {
        width: 100%;
        display: table-caption;
    }
    form#referralForm table.data-table thead tr.first.last th:nth-child(2) {
        padding: 11px 85px 11px 13px;
    }  
    
}
.block.block-rewards-account-summary.order-details-items{
    .block-title.earn.subtitle {
        float: left;
        margin: 0px 0px;
        margin-bottom: 0;
    }
    .page-title-wrapper{
        .page-title{
            font-size: 19px;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal;
        } 
    }
    .block-title{
        margin-bottom: 5px;
        strong{
            font-size: 15px !important;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal !important;
        }
    }
}
.order-links{
    .item{
        a{
            font-size: 14px !important;
            margin: 0px 2px !important;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal !important;
        }
        strong{
            font-size: 14px !important;
            margin: 0px 2px !important;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal !important;
        }
    } 
} 
 

.wk-mp-fieldset .wk-mp-list-table .button{margin:0px;}
.wk-orderbox-content1{border-bottom: 1px solid #f5f5f5;}
.mpreportsystem-report-index .wk_report-body .wk_location_graph.wk_graph_border, .mpreportsystem-report-index .wk_report-body .wk_selling_graph.wk_graph_border{  width: calc(50% - 7px); display: inline-block;}
.wk_graph_border{padding:15px;}

.wk-selected-filter-button{background-color: #5e549c; border-right: 1px solid #5e549c; box-shadow: inset 0 1px 0 0 #5f549c, inset 0 -1px 0 0 #5e539b;    opacity: 1;}
.mpreportsystem-report-index .legend{border-bottom:0px !important}
.wk-search-result-dropdown {border: none;}
.wk-date-filter-div .wk-filter-date { margin-top: 6px !important; margin-right: 5px !important;}
.buttons-set .back-link a, .wk-mp-design .fieldset > .legend button span {color: #fff; font-family: 'Conv_DINOT-Light'; font-size: 18px;}
.marketplace-account-editprofile .field label{font-size: 18px; color: #848684; font-weight: 400 !important; margin-bottom: 5px; margin-top: 10px;}

form#form-selleraddress-validate .input-text, 
.mpmassupload-product-view .fieldset > .field:not(.choice) > .control select, 
.marketplace-account-editprofile .page-main .input-text, 
.marketplace-account-editprofile .page-main .field .control select, 
.marketplace-product-add #maincontent .input-text, 
.marketplace-product-add select.select, 
.marketplace-product-edit .page-main .input-text, 
.marketplace-product-edit .page-main select.select{border: 1px solid #e0e0e0 !important;  border-radius: 4px !important; height: 40px; font-size: 16px;}
/*sellerdashbord phase 2*/

.sellerdashbord {padding: 0 20px;}
.sellerdashbord .topsection {border-bottom: solid 1px #777; padding-bottom: 20px;}
.sellerdashbord .topsection .innersection h2 {font-size: 16px; color: #000000; font-weight: 600; padding: 10px 20px 20px 20px; width: 100%; border-bottom: 1px solid #e8eaef; margin-bottom: 0;}
.sellerdashbord .topsection .innersection {border: solid 1px #ddd; box-shadow: 0px 0px 4px #eee; padding: 12px 0; border-radius: 4px; padding-bottom: 0;}
.sellerdashbord .topsection .innersection .content {padding: 0px 20px; display: flex; justify-content: space-between;
background: #fafafa;}
.sellerdashbord .topsection .innersection .content .count-box {width: 49%; padding: 15px 0; border-right: solid 1px #bebebe;}
.sellerdashbord .topsection .innersection .content .total-box {width: 49%; text-align: right; padding: 15px 0;}
.sellerdashbord .topsection .innersection .content span.count-heading {font-size: 15px; color: #000000; font-weight: 400;}
.sellerdashbord .topsection .innersection .content .count-total{font-size: 16px; color: #001f3f; font-weight: 600; padding-left: 10px; display: block; padding-top: 10px;}
.sellerdashbord .topsection .listing  {margin-bottom: 30px;}
.sellerdashbord .optionsection {display: flex; justify-content: space-between; padding: 30px 0; margin-top: 30px; margin-bottom: 40px;}
.sellerdashbord .optionsection .list {width: 22%; position: relative; display: flex;}
.sellerdashbord .optionsection .list.apply-filter {width: auto;}
.sellerdashbord .optionsection .list span.transaction-tab {border: 1px solid #888; height: auto; padding: 12px 9px; font-size: 14px; border-radius: 4px; background: #fff; float: left; border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 74%; font-weight: 600; color: #333;}
.sellerdashbord .optionsection .list span.active {border: 1px solid #888; background: #eee;}
.sellerdashbord .optionsection .list span {cursor: pointer;}
.sellerdashbord .optionsection .list span.order-tab {border: 1px solid #888; height: auto; padding: 12px 10px; font-size: 14px; border-radius: 4px; float: left; border-left: 0; border-bottom-left-radius: 0; border-top-left-radius: 0px;}
.sellerdashbord .optionsection .list input {border: 1px solid #888; height: auto; padding: 12px 15px; font-size: 14px; background: #fff; box-shadow: none; border-radius: 4px;}
.sellerdashbord .optionsection .list #reportrange {border: 1px solid #888; height: auto; padding: 12px 10px; font-size: 14px; border-radius: 4px;}

.sellerdashbord .optionsection .list select {border: 1px solid #888; height: auto; padding: 12px 15px; font-size: 14px; border-radius: 4px;} 
.sellerdashbord .optionsection .list .input-group-append {position: absolute; right: 0; top: 0;}
.sellerdashbord .optionsection .list .input-group-append button {background: #eee; height: auto; padding: 22px 20px; width: auto; border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.sellerdashbord .optionsection .list .input-group-append button i {top: 15px;}

.sellerdashbord .lifteimesalecount {border: solid 1px #ddd; box-shadow: 0px 0px 4px #eee; 
border-radius: 4px; display: flex; flex-wrap: wrap;}
.sellerdashbord .lifteimesalecount .innersection {border-right: solid 1px #ddd; padding: 0 0 20px 0;}
.sellerdashbord .lifteimesalecount h2 {color: #000; font-weight: 500; font-size: 18px; border-bottom: solid 1px #ddd; padding-bottom: 20px; padding-left: 20px; padding-top: 20px; background: #fafafa; }
.sellerdashbord .lifteimesalecount .listing {padding-left: 0px; padding-right: 0px;}
.sellerdashbord .lifteimesalecount .content {padding: 0 20px; display: flex; justify-content: space-between;}
.sellerdashbord .lifteimesalecount .count-box { padding-right: 20px; font-size: 16px; color: #000; padding-bottom: 20px; text-align: center;}
.sellerdashbord .lifteimesalecount .count-box .count-heading {color: #333; font-size: 14px;}
.sellerdashbord .lifteimesalecount .count-box .count-total {font-weight: 600; display: block; padding-top: 10px;}
.sellerdashbord .chartContainer {padding-top: 0px;}
.sellerdashbord .chartContainer .staticdownlaod {text-align: right;}
.sellerdashbord .chartContainer .staticdownlaod a img {display: inline-block; width: 20px; vertical-align: text-top; margin-right: 5px;}
.sellerdashbord .payouts {font-size: 26px; color: #000000; font-weight: 500; padding: 30px 20px 15px 0; width: 100%; border-bottom: 1px solid #e8eaef;}
.sellerdashbord .lastupdate {color: #283c82; font-size: 14px; font-weight: 500; letter-spacing: 0.45px; text-align: center; padding-top: 20px;}
.sellerdashbord .topsellingprodcut {padding: 40px 0 10px 0;}
.sellerdashbord .topsellingprodcut h2 {font-size: 22px; color: #000000; font-weight: 500; padding: 30px 20px 15px 0; width: 100%; border-bottom: 1px solid #e8eaef;}
.sellerdashbord .topsellingprodcut ul {padding: 0; list-style-type: none; display: flex; justify-content: space-between;}
.sellerdashbord .topsellingprodcut ul li {width: 19%; color: #000; font-size: 13px; border: solid 1px #ddd; padding: 10px;}
.sales-left.lifteimesalecount {width: 30%; float: left; padding: 15px; margin-bottom: 40px;}
.sales-left.lifteimesalecount .innersection {border: none;}
.sales-left.lifteimesalecount  h1 {font-size: 16px; color: #000000; font-weight: 600; padding: 10px 20px 10px 0px; width: 100%; border-bottom: 1px solid #e8eaef; margin-bottom: 15px;}
.clr {clear: both;}
.sales-left.lifteimesalecount .innersection .date-data {display: flex; justify-content: space-between; color: #000; font-size: 15px; padding-bottom: 10px;}
.sales-left.lifteimesalecount .innersection .date-data span:last-child {font-weight: 500;}
.sales-left.lifteimesalecount .innersection .amount-data span:last-child {font-weight: 500;}
.sales-left.lifteimesalecount .innersection .amount-data {display: flex; justify-content: space-between; color: #000; font-size: 15px; padding-bottom: 10px;}
.sales-left.lifteimesalecount .count-box {display: flex; justify-content: space-between; padding-right: 0px;}
.sales-left.lifteimesalecount .count-box .count-total {padding-top: 0px;}
.chartContainer {float: right; width: 67%;}
.lifteimesalecount.secondfold {margin-top: 40px;}
.topsellingprodcut .productinfo { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;
overflow: hidden; text-overflow: ellipsis; white-space: normal; margin-bottom: 10px;}
.topsellingprodcut .productprice {font-weight: 600;}
.sellerdashbord .topsellingprodcut ul li img {height: 160px;}
/*sellerdashbord phase 2*/



/** dashboard css by ram **/
body{
    #maincontent { 
        padding-left: 15px;
        padding-right: 15px;
    }
}
    .account{
        &.marketplace-account-review,&.marketplace-account-customer{
            .admin__data-grid-header-row{
                .admin__data-grid-actions-wrap{
                    margin-top: 0;
                }
                .data-grid-filters-actions-wrap {
                    float: left;
                    .data-grid-filters-action-wrap{
                        padding-left: 0;
                        .action-default{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .admin__data-grid-header-row.row.row-gutter{
                display: block;
                .col-xs-12{
                    .row{
                        display: block;
                        .col-xs-3{
                            width: 100%;
                            .admin__control-support-text{
                                width: 100%;
                                padding-left: 0 !important;
                                padding-right: 0 !important;
                            }
                        }
                        .col-xs-9{
                            width: 100%;
                            .admin__data-grid-pager-wrap{
                                width: 100%;
                                display: block;
                                label.admin__control-support-text{
                                    display: none;
                                }
                            }
                        }
                    } 
                } 
            } 
        }
        
        &.marketplace-product-add{
            #edit-product{
                #wk-bodymain{
                    .fieldset.info.wk-mp-fieldset{
                        z-index: 1;
                        position: relative;
                        .field{
                            .wk-field.wk-category{
                                overflow-y: scroll;
                                overflow-x: hidden;
                                .wk-for-validation{
                                    display: block;
                                    .wk-cat-container {
                                        float: left;
                                        width: 100%;
                                        padding: 5px 0px;
                                        position: relative;
                                        .wk-elements.wk-cat-name{
                                            position: static;
                                            input{
                                                left: initial;
                                                top: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .wk-mp-page-title.legend {
                            display: block;
                            span {
                                width: 100%;
                                float: left;
                            }
                        }
                        .wk-mp-page-title.legend span + span{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 0;
                            .wk-mp-btn{
                                padding: 0px 10px !important;
                                float: left !important;
                                margin-left: 0 !important;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
      .block{
        &.block-dashboard-info{
           .block-content{
                .box{padding: 20px 10px;margin-bottom: 15px;
                     .box-content{
                        p{word-break: break-word;}
                      }
                    } 
            } 
        }
      } 
       p.user_details {
           line-height: 30px; 
           padding: 15px 0px;
           font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;   
            span.user_name {
               font-weight: 600;
            }
       }

    }

    .marketplace-account-rmalisting{
        .wk-mp-design2{
            .fieldset.info.wk-mp-fieldset{
                .grid{
                    form{
                        .table-shadow-design{
                            tbody.wk-mp-body{
                                tr.wk-row-view{
                                    td {
                                        width: 100%;
                                        display: block;
                                        float: left;                                        
                                        .button{
                                            margin-left: 0;
                                            margin-top: 5px;
                                            font-family: 'Conv_DINOT-Medium';
                                            font-weight: normal;
                                        }
                                    }
                                } 
                            } 
                        } 
                    } 
                } 
            } 
        } 
    } 
 

    .marketplace-order_invoice-view{
        .wk-mp-design .wk-mp-fieldset .block-order-details-view:nth-child(4) .block-content .box-content{
            margin-left: 0;
            margin-right: 0;
        }
        .wk-mp-design .order-details-items.ordered .table-wrapper.order-items .admin_comm_section {
            position: relative !important;
            top: initial !important;
            width: 100% !important;
            border: 1px solid #ccc;
        }
        .wk-mp-design .block-order-details-view .block-content .box{
            width: 100%;
            max-width: 100%;
        }
        .wk-mp-design{
            .block-order-details-view{
                .block-content{
                    .box-content {
                        margin-left: 0px;
                        margin-right: 0px;
                        .box{
                            width: 100%;
                            max-width: 100%;
                        }
                        .box.wk-box {
                            width: 100%;
                            max-width: 100%;
                            margin-left: 0;
                            margin-right: 0;                        
                            .box-content {
                                margin-left: 0;
                                margin-right: 0;
                                .box.wk-box {
                                    margin-bottom: 0;
                                    .wk-row {
                                        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                    }
                                }
                            }
                        }
                    }
                } 
            }
            span.order-status {
                margin-bottom: 15px;
            }
            .page-title-wrapper{
                .actions-toolbar.order-actions-toolbar {
                    display: none;
                }
            } 
        } 
    } 

    .marketplace-order-view{
        .wk-mp-design{
            .wk-mp-fieldset{
                .block-content{
                    .box {
                        width: 100%;
                        max-width: 100%;
                    }
                } 
                .order-details-items.ordered{
                    .table-wrapper{
                        .admin_comm_section{
                            position: relative !important;
                            top: initial !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    } 

    .mpmassupload-product-export{
        form#wk_massupload_product_export_form{
            .legend{
                button.button.wk-mp-btn{
                    background: #273c97;
                    border: 1px solid #273c97;
                    box-shadow: none;
                    margin-top: 10px;
                    margin-left: 0 !important;
                }
            } 
        } 
    }
    
    .mpmassupload-product-view{
        .wk-mu-info-container.wk-mu-super-attributes .wk-mu-content .wk-tier-price-content{
            padding: 0 0px;
        }
        .fieldset button.button.wk-mp-btn{
            background: #273c97;
            border: 1px solid #273c97;
            box-shadow: none;
        }
        form#wk_massupload_form button.button.wk-mp-btn, .mpmassupload-product-view .fieldset button.button.wk-mp-btn{
            background: #273c97;
            border: 1px solid #273c97;
            box-shadow: none;
        }
    }

    .mpmassupload-dataflow-profile{
        .wk-mp-btn {
            background: #273c97;
            color: #fff;
            border: 1px solid #273c97;
            box-shadow: none !important;
            border-radius: 4px !important;
            font-weight: normal;
            font-family: 'Conv_DINOT-Medium';
        }
    }
    
    .marketplace-transaction-history{
        .wk-mp-design{
            .wk-mp-tr-amount-wrapper{
                padding-left: 0;
                padding-right: 0;
            }
        }
    } 
    
    .marketplace-product-productlist{
        .wk-mp-design fieldset.fieldset.info.wk-mp-fieldset .grid {
            width: 600px;
        }
        .table-shadow-design tbody tr.wk-row-view td a{
            color: #3f549c;
        }
    }  
    

    .account{
        .order-products-toolbar.toolbar.bottom {
            z-index: 1;
        }
        &.rmasystem-newrma-index{
            #wk_rma_orders{
                .wk-option-input.radio{
                    width: 15px !important;
                }
            }
            #wk_rma_order_details .item_reason{
                width: 100%;
                -webkit-appearance: auto;
                -moz-appearance: auto;
                -ms-appearance: auto;
                appearance: auto;
            }
            #wk_rma_order_details tr td select{
                width: 100%;
                -webkit-appearance: auto;
                -moz-appearance: auto;
                -ms-appearance: auto;
                appearance: auto;
            }
            #wk_rma_orders th.wk_rma_selected{
                position: relative;
                .wk_rma_asc{
                    margin-left: 0;
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: 2px;
                }
                .wk_rma_desc{
                    width: 5px;
                    position: absolute;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-top: 2px;
                }
            }
            form#save_rma_form{
                padding: 0px 0px;
                #new-rma-component{
                    .fieldset.login{
                        .field.required{
                            .wk_rma_checkall{
                                top: 29px;
                            }
                        } 
                    } 
                } 
                fieldset.fieldset.login{
                    .field{
                        .control.table-wrapper.rma-order-items{
                            table{
                                .col{
                                    width: initial;                                    
                                    #wk_rma_order_details tr td input[type="number"], #wk_rma_order_details tr td select{
                                        text-align: left;
                                    }
                                    &.rma-select{
                                        //width: 42px;
                                        &:before {
                                            padding-left: 30px;
                                            margin-top: -10px;
                                            display: block;
                                        }
                                        .wk-option-input{
                                            z-index: 1;
                                        }
                                    }
                                    &.name {
                                        //width: 300px;
                                        .wk-pro-divide1:nth-child(1){
                                            // width: 100px;
                                            // float: left;
                                        }
                                        .wk-pro-divide1{
                                            // float: none;
                                            // display: inline;
                                        }
                                        .wk-pro-divide1:nth-child(2){
                                            // width: 170px;
                                            // float: right;
                                            a{
                                                -webkit-box-orient: vertical;
                                                display: -webkit-box;
                                                -webkit-line-clamp: 3;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: normal;
                                            }
                                        }
                                    }
                                }
                            } 
                        } 
                    } 
                } 
                #new-rma-component{
                    .wk_rma_label{
                        padding: 0px 0px 10px;
                    }
                }
            }
        }
        &.rmasystem-index-index{
            fieldset.fieldset.info {
                overflow-x: scroll;
                .legend{
                    span{
                        color: #3a3a3a;
                        font-weight: normal;
                        font-family: 'Conv_DINOT-Medium';
                    }
                } 
                #wk_rma_new_request{
                    width: auto;
                    text-align: right;                    
                    a{
                        padding: 0px 10px !important;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
        &.rmasystem-viewrma-index{
            #view-rma-component{
                padding-top: 0;
                table{
                    p {
                        word-break: break-all;
                        text-align: left;
                    }
                } 
            }            
        }
    }

    .account{
        .toolbar.bottom{
            z-index: 1;
        }
        .sidebar-main #account-nav{
            .nav.items{
                .item.user-image{
                    a:hover {
                        cursor: auto;
                        color: #777777 !important;
                    }
                } 
            } 
        } 
    } 


    .marketplace-account-rmalisting{
        .wk-mp-design2{
            .wk-mp-fieldset{
                .grid{
                    form{
                        .wk-mp-body{
                            .filter-parameters {
                                width: 100% !important;
                                float: left;
                                margin-bottom: 10px;
                                height: 40px;
                                -webkit-appearance: auto;
                                -moz-appearance: auto;
                                -ms-appearance: auto;
                                appearance: auto;
                            }
                            .button{
                                padding: 9px 15px;
                                border-radius: 30px;
                            }
                            .reset-button{
                                padding: 0px 15px !important;
                                height: 44px;
                                line-height: 44px;
                                color: #ffffff !important;
                                font-weight: 600;
                                background: #273c97;
                                margin-left: 0;
                                width: 100%;
                                border-radius: 30px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .rms-rma-view{
        .product-images{
            .product-image-heading {
                width: 100%;
                color: #464646;
                text-transform: capitalize;
                font-family: 'Conv_DINOT-Bold';
                font-weight: normal !important;
                font-size: 20px !important;
                margin: 0px !important;
            }
        }
        .process-return-container{
            .process-return-content{
                margin: 15px 0 0;
                #return_management_form{
                    .rm_form_div {
                        margin-bottom: 15px;
                        button{
                            background: #273c97;
                            height: auto;
                            padding: 9px 15px;
                            font-weight: normal;
                            font-size: 16px;
                            width: auto;
                            margin: 15px 0px 10px;
                            color: #fff;
                            border: none;
                            box-shadow: none;
                        }
                        #rma_action_id{
                            margin-top: 20px;
                        }
                        .form_headings {
                            color: #464646;
                            display: block;
                            margin-bottom: 10px;
                            text-transform: capitalize;
                            font-weight: normal;
                            font-size: 14px;
                        }
                    }
                }
            }
            .process-return-heading{
                .title {
                    color: #464646;
                    display: inline-block;
                    margin-bottom: 0px;
                    text-transform: capitalize;
                    font-family: 'Conv_DINOT-Bold';
                    font-weight: normal;
                    font-size: 20px;
                }
            }
        }
    }
    