// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        .lib-css(background, @navigation__background);
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 28px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }
}

//
//  Mobile
//  _____________________________________________

@media only screen and (max-width:1024px){
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }
        .switcher-dropdown {
            .lib-list-reset-styles();
            display: none;
            padding: @indent__s 0;
        }
        .switcher-options {
            &.active {
                .switcher-dropdown {
                    display: block;
                }
            }
        } 
        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                &.greet.welcome {
                    border-top: 1px solid @color-gray82;
                    font-weight: @font-weight__bold;
                    padding: .8rem @indent__base;
                }

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__bold;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: darken(@navigation__background, 5%);
        border: solid darken(@navigation__background, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: @indent__m 0;
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

@media only screen and (min-width:1025px){
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: @indent__m;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }
}


/* Custom Megamenu */

.overflow-hiddenmenu{
    overflow: hidden;
    .filter-title{
        strong{
            z-index: 1;
        }
    }
    .page-footer{
        z-index: 1;
    } 
}

@media only screen and (max-width:1024px){

    .page-header{
        .panel.wrapper{
            display: none;
        }
    } 
    .sections.nav-sections{
        background: #fff;
        position: absolute;
        left: 0;
        top: 0px;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        .close-nav {
            border: 0;
            width: auto;
            color: #fff;
            background-color: #264095;
            padding: 1.4rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align: right;
            margin-bottom: 2.4rem;
            font-size: 1.4rem;
            display: block;
            .fa {
                font-weight: 100;
                font-size: 16px;
            }
        }
        .top-tab {
            float: left;
            width: 100%;
            .top-tab-ul {
                margin: 0;
                list-style: none;
                background-color: transparent;
                text-transform: uppercase;
                font-size: 1.4rem;
                padding: 0;
                border-bottom: 2px solid #ebebeb;
                margin-bottom: 0;
                box-sizing: border-box;
                display: block;
                width: 100%;
                float: left;
                .show-tab {
                    display: inline-block;
                    width: 50%;
                    padding: 7px;
                    position: relative;
                    text-align: center;
                    box-sizing: border-box;
                    float: left;
                    font-size: 1.6rem;
                    color: #343434;
                    font-family: 'Conv_DINOT-Bold';
                    font-style: normal;
                    margin-bottom: 0;
                    &:after {
                        content: '';
                        border-bottom: 2px solid;
                        border-color: transparent;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -2px;
                    }
                    &.active{
                        &:after {
                            border-color: #16bcdc;
                        }
                    }
                }
            }
        }
        .offerings-data {
            float: left;
            width: 100%;
            .offerings-data-ul {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: left;
                li{
                    margin-bottom: 0;
                    position: relative;
                    border-bottom: 1px solid #eee;
                    a {                        
                        padding: 13px 48px 13px 32px;
                        text-transform: capitalize;
                        word-wrap: break-word;
                        display: block;
                        color: #343434;
                        font-size: 1.3rem;
                        font-family: 'Conv_DINOT-Light';
                        font-weight: normal;
                        font-style: normal;
                        text-decoration: none;                        
                        .icon {
                            display: inline-block;
                            margin-right: 20px;
                            vertical-align: middle;
                            font-size: 0;
                        }
                    }
                    &.my-account-section{
                        > a{
                            &:after{
                                content: "\f107";
                                font-family: 'FontAwesome';
                                position: absolute;
                                right: 35px;
                                font-size: 20px;
                                top: 9px;
                                color: #343434;
                            }                            
                        }
                        .sub-account{
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            background: #f5f5f5;
                            li {
                                border-top: 1px solid #c6c6c6;
                                padding-left: 50px;
                            }
                        }
                    }
                }
            }
        }
        .nav-sections-item-content{
            margin-left: 0;
            float: left;
            margin-top: 0;
            padding: 0px 0px;
            .navigation{
                padding-left: 0;
                padding-right: 0;
                #mySidenav {
                    display: block;
                    .nav-main{
                        .shop-categories{
                            width: 100%;
                            text-align: left;
                            li{
                                font-size: 0;
                                position: relative;
                                a{
                                    color: #343434;
                                    font-size: 1.3rem;
                                    text-transform: capitalize;
                                    font-family: 'Conv_DINOT-Light';
                                    padding: 13px 15px;
                                    display: block;
                                }
                                .rightangle {
                                    display: block;
                                    position: absolute;
                                    width: 45px;
                                    height: 45px;
                                    right: 0;
                                    top: 0;
                                    z-index: 1;
                                    cursor: pointer;
                                    text-align: center;
                                    &:after {
                                        content: "\f107";
                                        font-family: 'FontAwesome';
                                        position: absolute;
                                        right: 0;
                                        font-size: 20px;
                                        top: 10px;
                                        color: #343434;
                                        left: 0;
                                    }
                                }
                                .menu-left{
                                    background: #ebebeb;
                                    li{
                                        .menu-right{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }



    ul.shop-categories li.level0 {
        padding: 0;
    }
    
    ul.shop-categories li.level0 img {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        height: 25px;
        object-fit: contain;
        margin-left: 25px;
    }
    
    html ul.shop-categories li.level0 .level-top {
        display: inline-block !important;
        vertical-align: middle;
        width: 73% !important
    }
    
    ul.shop-categories li.level0 .menu-left >ul > li > a {
        padding-left: 85px !important;
        border-bottom: 1px solid #e6e6e6;
    }
    
    ul.shop-categories li.level0 .menu-left >ul > li ul li a {
        padding-left: 95px !important;
        border-bottom: 1px solid #d0d0d0;
    }
    
    ul.shop-categories li.level0 .menu-left {
        background: #f8f8f8 !important;
    }
    
    ul.shop-categories li.level0 .menu-left .menu-right {
        background: #e9e9e9;
    }
    span.rightangle.sub-right, span.rightangle {
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
    }
    span.rightangle.sub-right.active, span.rightangle.open {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }
    .sections.nav-sections .nav-sections-item-content .navigation #mySidenav .nav-main .shop-categories li a {
        color: #000 !important;
    }


}

.sections.nav-sections{
    .nav-sections-item-content{
        .navigation{
            #mySidenav{
                .nav-main{
                    .shop-categories{
                        li.level0:nth-child(4) img {
                            filter: invert(1);
                        }
                    } 
                } 
            } 
        } 
    } 
} 