<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->

<div class="block-authentication"
     data-bind="afterRender: setModalElement, blockLoader: isLoading"
     style="display: none">

    <div class="block block-customer-login"
         data-bind="attr: {'data-label': $t('or')}">
        <div class="block-title">
            <strong id="block-customer-login-heading"
                    role="heading"
                    aria-level="2"
                    data-bind="i18n: 'Login'"></strong>
        </div>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="block-content row" aria-labelledby="block-customer-login-heading">
            <div class="col-12 col-sm-12 col-md-4 col-xl-4 login-banner-lft"> 
                <img data-bind="attr: { src: require.toUrl('images/login-form-banner.png') }" />
            </div> 
            <div class="col-12 col-sm-12 col-md-8 col-xl-8 login-form-rgt">
            <form class="form form-login"
                  method="post"
                  data-bind="event: {submit: login }"
                  id="login-form">
                <div class="fieldset login" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field email required">
                       <!-- <label class="label" for="customer-email"><span data-bind="i18n: 'Email Address'"></span></label> -->
                        <div class="control">
                            <input name="username"
                                   id="customer-email"
                                   type="email"
                                   placeholder="Enter Email"
                                   class="input-text"
                                   data-mage-init='{"mage/trim-input":{}}'
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                    <div class="field password required">
                       <!-- <label for="pass" class="label"><span data-bind="i18n: 'Password'"></span></label> -->
                       <div class="secondary">
                            <a class="action" data-bind="attr: {href: forgotPasswordUrl}">
                                <span data-bind="i18n: 'Forgot?'"></span>
                            </a>
                        </div>
                        <div class="control">
                            <input name="password"
                                   type="password"
                                   placeholder="Enter Password"
                                   class="input-text"
                                   id="pass"
                                   data-bind="attr: {autocomplete: autocomplete}"
                                   data-validate="{required:true}">
                        </div>
                        
                    </div>
                    
                    <div class="login-terms">
                        <p><strong>By continuing, you agree to GetMySpares <a href="/terms-conditions" target="_blank">Terms of Use</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</strong></p>
                    </div>
                    <!-- ko foreach: getRegion('additional-login-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                    <div class="actions-toolbar">
                        <input name="context" type="hidden" value="checkout" />
                        <div class="primary">
                            <button type="submit" class="action action-login secondary" name="send" id="send2">
                                <span data-bind="i18n: 'Login'"></span>
                            </button>
                        </div>
                    </div>
                    <div class="login-toredirect">
                        <p>New to GetMySpares? <a href="javascript:void(0)" class="register-popup">Create an account</a></p>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
