// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@import 'fields/_file-uploader.less';

@checkout-wrapper__margin: @indent__base;
@checkout-wrapper__columns: 16;

@checkout-step-title__border: @border-width__base solid @color-gray80;
@checkout-step-title__font-size: 26px;
@checkout-step-title__font-weight: @font-weight__light;
@checkout-step-title__padding: @indent__s;

@checkout-step-title-mobile__font-size: 18px;

@checkout-step-content-mobile__background: @color-gray-light01;
@checkout-step-content-mobile__margin-s: 15px;
@checkout-step-content-mobile__margin: @indent__base -(@checkout-step-content-mobile__margin-s) @checkout-step-content-mobile__margin-s;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {
        .page-title-wrapper {
            &:extend(.abs-visually-hidden all);
        }
    }

    .checkout-container {
        &:extend(.abs-add-clearfix all);
        .lib-css(margin, 0 0 @checkout-wrapper__margin);
    }

    .opc-wrapper {
        .lib-css(margin, 0 0 @checkout-wrapper__margin);

        .opc {
            &:extend(.abs-reset-list all);
        }

        .step-title {
            &:extend(.abs-checkout-title all);
            .lib-css(border-bottom, @checkout-step-title__border);
            margin-bottom: 15px;
        }

        .step-content {
            margin: 0 0 @indent__xl;
        }
    }

    .checkout-index-index {
        .nav-sections,
        .nav-toggle {
            display: none;
        }

        .logo {
            margin-left: 0;
        }
    }

    .checkout-onepage-success {
        &:extend(.abs-add-clearfix all);

        .print {
            display: none;
        }
    }

    .abs-discount-code {
        .form-discount {
            display: table;
            width: 100%;

            .actions-toolbar {
                display: table-cell;
                vertical-align: top;
                width: 1%;

                .primary {
                    float: left;
                    .action {
                        &:extend(.abs-revert-to-action-secondary all);
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        margin: 0 0 0 -2px;
                        white-space: nowrap;
                        width: auto;
                    }
                }
            }

            > .field {
                > .label {
                    display: none; 
                }
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        width: 100%!important;
        .step-title {
            .lib-css(font-size, @checkout-step-title-mobile__font-size);
            border-bottom: 0;
            padding-bottom: 10px;
        }

        .step-content {
            .lib-css(margin, 0 0 @checkout-step-content-mobile__margin-s);
        }
    }
    .opc-estimated-wrapper {
        margin: 21px 0px 15px;
        padding: 18px 15px;
    }
    form#co-shipping-form #shipping-new-address-form .field {
        width: 100%;
    }

    .checkout-index-index #co-payment-form .discount-code .payment-option-content {
        padding: 0 15px 20px 15px;
    }
    .checkout-index-index #co-payment-form .discount-code .payment-option-title {
        padding-left: 15px;
    }
    body.checkout-index-index .modal-popup .modal-inner-wrap {
        margin: 0rem auto !important;
        left: 0 !important;
    }
    .opc-progress-bar-item._active > span:after{ display: none; }
    


}



//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
         
    body{
        .opc-wrapper {float: left;}
    }

}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .opc-wrapper {
        &:extend(.abs-add-box-sizing-desktop-m all);
        .lib-layout-column(2, 1, @checkout-wrapper__columns);
        padding-right:0px;
    }

    .checkout-onepage-success {
        .print {
            display: block;
            float: right;
            margin: 23px 0 0;
        }
    }
    .checkout-cart-index{
        #shopping-cart-table{
            thead tr th {
                padding: 15px 15px;
            }
        } 
            .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp {
            padding: 20px 15px 10px;
            text-align: center;
        }
    }

}

.checkout-index-index{
    .modal-popup.modal-slide{
        .modal-inner-wrap{
            border-radius: 0 !important;
            background-color: #fff !important;
            .modal-header{
                .action-close{
                    box-shadow: none;
                }
            }
            .modal-content {
                padding: 0px 5px !important;
            }
        }
    } 
    .modal-custom.opc-sidebar.opc-summary-wrapper.custom-slide{
        .modal-inner-wrap{
            background-color: #fff;
            .modal-header {
                padding: 2rem 1rem;
            }
            .modal-content{
                .opc-block-summary{
                    box-shadow: none;
                }
            }
        }
    }
}


.checkout-index-index{
    #co-payment-form{
        .fieldset{
            .checkout-billing-address{
                .billing-address-details{
                    word-break: break-all;
                }
            } 
        } 
    } 
    .opc-wrapper{
        .shipping-address-item{
            button.action.action-select-shipping-item{
                top: 5px !important;
                right: 5px !important;
                font-family: 'Conv_DINOT-Medium' !important;
                font-weight: normal !important;
                line-height: 33px !important;
            }
        } 
    } 
} 

.checkout-index-index{
    .opc-progress-bar{
        li {
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal;
            &:last-child {
                display: none;
            }
        }
        .opc-progress-bar-item._complete{
            &:before {
                content: "\f177";
                font-size: 25px;
                font-family: 'FontAwesome';
                background: transparent;
                position: relative;
                top: inherit;
                height: auto;
                left: inherit;
                margin-right: 10px;
                margin-top: -4px;
                display: inline-block;
                width: auto;
                vertical-align: middle;
                line-height: 24px;
            }
        }
    } 
    .page-header{
        .header.content {
            display: block;
            .left-container-wrap{
                float: left;
            }
        }
    } 
} 

.checkout-index-index{
    .columns{
        .column.main{
            padding-bottom: 0px;
            .checkout-container {
                margin: 0 0 0px;
            }
        }
    } 
} 

.checkout-index-index{   
    .opc-wrapper .form-shipping-address{
        background: transparent;
        padding: 0px 0px;
    }
}