<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Edit $block */
?>
<style>
.hide_me{
	display:none !important;	
}	 
</style>
<div class="row newacuntt">
	<?php

	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	
	
		
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();


	$customerSession = $objectManager->create('Magento\Customer\Model\Session');

	if ($customerSession->isLoggedIn()) {

		$customerID = $customerSession->getCustomer()->getId();

		$customer_name = $customerSession->getCustomer()->getName();

		$customer_email =  $customerSession->getCustomer()->getEmail();

		$customerObj = $objectManager->create('Magento\Customer\Model\Customer')->load($customerID);
		//print_r($customerObj->getData());

	}

	?>
	<div class="col-12 col-md-4 col-lg-2">
		
		<div class="profile_left">
			<img class="user_profile_img" src="<?php echo $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB); ?>img_avatar.png" alt="Avatar">
		</div>
	</div>
	<div class="col-12 col-md-8 col-lg-10">
		<?php
		$sql = "Select * FROM marketplace_userdata where seller_id='".$customerID."' limit 0,1";
		$result = $connection->fetchAll($sql);
		$is_seller=0;
		if(!empty($result)) {
			$is_seller=$result[0]['is_seller'];
		}
		
		
		$group_id=$customerObj->getGroupId();
		
		if($group_id==1 && $is_seller!=0)
		{
			$user='Seller';	
		}	
		else if($group_id==1)
		{
			$user='Individual';	
		}
		else if($group_id==4)
		{
			$user='Company Buyer';	
		}
		else 
		{
			$user='Technician';	
		}
		?>
		<div class="profile_right row">
			<div class="col-12 col-sm-8">
				<p class="user_details">
					<span class="user_name"><?php echo $customer_name; ?></span><br/>
					<span class="user_email"><?php echo $customer_email; ?></span><br/>
					<span class="user_mobile"><?php echo $customerObj->getMobile(); ?></span><br/>
					<span class="user_mobile">You are registered as <?php echo $user; ?></span><br/>
				</p>
			</div>
			<div class="col-12 col-sm-4 text-center text-sm-right">
				<div class="edit_profile">
					<a href="javascript:void(0);" class="btn-yellow edit-profile-click">Edit Profile</a>
				</div>
			</div> 
		</div>
		
		
	</div>

<div class="update-profile-form" style="display:none;"> 
<form class="form form-edit-account" action="<?= $block->escapeUrl($block->getUrl('customer/account/editPost')) ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>" autocomplete="off">
    <fieldset class="fieldset info row mx-0">
        <?= $block->getBlockHtml('formkey') ?>
        <legend class="legend"><span><?= $block->escapeHtml(__('Update your Profile ')) ?></span></legend><br>
        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getCustomer())->toHtml() ?>

        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php $_taxvat = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Taxvat') ?>
        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
        <?php endif ?>
       
        
		<div class="col-sm-6 col-lg-6 hide_me"> 
        <div class="field choice">
            <input  type="checkbox" name="change_email" id="change-email" data-role="change-email" value="1" title="<?= $block->escapeHtmlAttr(__('Change Email')) ?>" class="checkbox" />
            <label class="label" for="change-email"><span><?= $block->escapeHtml(__('Change Email')) ?></span></label>
        </div> 
		</div>
		
    </fieldset>
  
    <fieldset class="fieldset password " data-container="change-email-password">
        <!--<legend class="legend"><span data-title="change-email-password"><?= $block->escapeHtml(__('Change Email and Password')) ?></span></legend><br>-->
		<div class="row mx-0">
		<div class="col-lg-6  col-md-6  email-section" data-container="change-email">
			 
			<div class="field email required" data-container="change-email">
				<label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span>
				</label> 
				<div class="control">
				<div class="field choice">
				   <input type="checkbox" name="cus_change_email" id="change-email-check"  class="checkbox" >
				   <label class="label" for="change-email-check">
					   <span>Change Email</span> 
				   </label>
				</div>	
					
					<input type="email" name="email" id="email" autocomplete="email" data-input="change-email" value="<?= $block->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-validate="{required:true, 'validate-email':true}" readonly />
				</div>
			</div>  
		</div>
		  <div class="col-sm-6 col-lg-6 hide_me">
        <div class="field password current required">
            <label class="label" for="current-password"><span><?= $block->escapeHtml(__('Current Password')) ?></span></label>
            <div class="control">
                <input type="password" class="input-text" name="current_password" id="current-password" data-input="current-password" autocomplete="off" />
            </div>
        </div>
		</div>
		  <div class="col-sm-6 col-lg-6 "> 
		  	<div class="field choice">
	            <input  type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1" title="<?= $block->escapeHtmlAttr(__('Change Password')) ?>"<?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
	            <label class="label" for="change-password"><span><?= $block->escapeHtml(__('Change Password')) ?></span></label>
	        </div>
	        <div class="field new password required" data-container="new-password">
	            <label class="label" for="password"><span><?= $block->escapeHtml(__('New Password')) ?></span></label>
	            <div class="control">
	                <input type="password" class="input-text" name="password" id="password"
	                    data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
	                    data-password-min-character-sets="<?= $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
	                    data-input="new-password"
	                    data-validate="{required:true, 'validate-customer-password':true}"
	                    autocomplete="off" />
	                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
	                    <div id="password-strength-meter" class="password-strength-meter">
	                        <?= $block->escapeHtml(__('Password Strength')) ?>:
	                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
	                            <?= $block->escapeHtml(__('No Password')) ?>
	                        </span>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
		<div class="col-sm-6 col-lg-6 "></div>
	  	<div class="col-sm-6 col-lg-6 ">
	        <div class="field confirm password required" data-container="confirm-password">
	            <label class="label" for="password-confirmation"><span><?= $block->escapeHtml(__('Confirm New Password')) ?></span></label>
	            <div class="control">
	                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
	                    data-input="confirm-password"
	                    autocomplete="off" />
	            </div>
	        </div>
		</div>
		</div>
    </fieldset>
    <?= $block->getChildHtml('form_additional_info') ?>
	
	<fieldset class="fieldset info hide_me">
	<?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
    <?php endif ?>
	</fieldset>
	
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>"><span><?= $block->escapeHtml(__('Save')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Go back')) ?></span></a>
        </div>
    </div>
</form>
</div>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
		
		$(document).ready(function()
		{
			$(".mobile-field").detach().insertAfter('.email-section');
			
			$('#change-email').click(); 
			//jQuery('#change-password').click(); 

			$('#change-email-check').click(function (e) { 
				// $('#email').removeAttr('readonly');
			}); 

			$('#change-email-check').click(function() {
				if (!$(this).is(':checked')) {
					$('#email').attr('readonly', true);
				}else{
					$('#email').removeAttr('readonly');
				}
			});
			
			$('#change-email').hide(); 
			$('#change-password').hide();    
			
		});	
		
		
        var dataForm = $('#form-validate');
        var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;
        
        dataForm.mage('validation', {
        <?php if ($_dob->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });

    });
</script>
<script type="text/x-magento-init">
    {
        "[data-role=change-email], [data-role=change-password]": {
            "changeEmailPassword": {
                "titleChangeEmail": "<?= $block->escapeJs($block->escapeHtml(__('Change Email'))) ?>",
                "titleChangePassword": "<?= $block->escapeJs($block->escapeHtml(__('Change Password'))) ?>",
                "titleChangeEmailAndPassword": "<?= $block->escapeJs($block->escapeHtml(__('Change Email and Password'))) ?>"
            }
        },
        "[data-container=new-password]": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-edit-account"
            }
        }
    }
</script>
<script>
require(['jquery'],function($){	
	$('.edit-profile-click').click(function(){
	if($('.update-profile-form').hasClass('show'))
	{
	$('.update-profile-form').hide();	
	$('.update-profile-form').removeClass('show');	
	}
	else
	{
	$('.update-profile-form').show();	
	$('.update-profile-form').addClass('show');	

	} 
});
});
</script>


</div> 