<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Catalog\Block\Product\View*/
?>
<div class="share-icon">
    <div class="share-icon-click">
      <a href="#" class="share-links-click">Share icon</a>
    </div>
    <div class="share-dialog">
        <ul>
            <li>
                <a class="facebook-color" href="#" onclick=" window.open( 'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 'facebook-share-dialog', 'width=436,height=436'); return false;">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="twitter-color" href="#" onclick=" window.open( 'http://twitter.com/home/?status='+encodeURIComponent(location.href), 'twitter-share-dialog', 'width=436,height=436'); return false;">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="pinterest-color" href="#" onclick=" window.open( 'http://pinterest.com/pin/create/button/?url='+encodeURIComponent(location.href), 'pinterest-share-dialog', 'width=436,height=436'); return false;">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a class="google-color" href="#"  onclick=" window.open( 'https://plus.google.com/share?url='+encodeURIComponent(location.href), 'twitter-share-dialog', 'width=436,height=436'); return false;">
                <i class="fa fa-google" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="product-addto-links" data-role="add-to-links">
    <?= $block->getChildHtml() ?>
</div>



<script>
    require(['jquery'],function($){
            $(".share-icon").click(function(){
                $(this).find(".share-dialog").slideToggle(1000);
            });
    });
</script> 

<style>
    .share-dialog{
        display:none;
    }
</style>