<?php
	$_product = $block->getProduct();
  $helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
  $customerId = $helper->getCustomerId();
  $customHelper = $this->helper('OM\HomepageTopProducts\Helper\Data');
  $categoriesId = $_product->getCategoryIds();
  $catArray = ['2','3','4','5','6','99','7','8','9','10','12','13','14','38','39','40','41','50','53','55','91','58','62','67','71','73','75','77','79','82','84','86','32','33','34','88','100','101','102','103','104','105','106','107','108','109','110','111'];
  foreach($categoriesId as $categoryId){
      $childCategory = $categoryId;
      if(!in_array($categoryId, $catArray)){
      $category = $customHelper->getCategory($categoryId);
      $catId = $category->getparent_id();
      }
      else{
          $catId = $categoryId;
      }
  }
?>
<div class="qty-container">
	<span class="qty-heading">Quantity</span>
	<div class="qty-box-conatiner">
		<span class="decrement-qty">-</span>
			<input type="number" value="<?= $block->getProductDefaultQty() * 1 ?>" class="product-qty cartquatity">
		<span class="increment-qty">+</span>
	</div>
</div>
<a class="best_price" href="javascript:void(0);" id="get_best_price_link">
	Get Best Price for Bulk Orders
</a>
<div id="get_best_price_link_popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>
<script>
require([ 
	'jquery',
	'Magento_Ui/js/modal/modal'
], function($, modal) {  
	$(document).on('click', '#get_best_price_link', function () {
        var url = '/getbestprice/index/index';
        $.ajax({
            type: 'POST',
            url: url,
			data : {product_id:'<?php echo $_product->getId(); ?>',product_name:'<?php echo $_product->getName(); ?>',sku:'<?php echo $_product->getSku(); ?>'},
            success: function (output) {
				var options = {
					type: 'popup',
					responsive: true,
					innerScroll: true,
					modalClass : 'best_price_modal',
					title: 'Get Best Price',
					buttons: []
				};       
				$('#get_best_price_link_popup').html(output).modal(options).modal('openModal');
            },
            error: function(output){
				alert("fail");
            }
        });
    });	
});  
</script>
<script>
require(['jquery'],function($){
/* quantity increment / decrement */
var __target = $(document).find(".product-qty");
if(__target.length > 0) {
    var oldValue = __target.val();
    var newValue = 0;
    $(document).on('click', '.increment-qty', function(e) {
        e.preventDefault();
        e.stopPropagation();
      if(oldValue > 0) {
        newValue = Number(oldValue) + 1;
        __target.val(newValue);
        oldValue = newValue;
        $(document).find('input#qty').val(newValue);
      }
    });

    $(document).on('click', '.decrement-qty', function(e) {
        e.preventDefault();
        e.stopPropagation();
      if(oldValue > 1) {
        newValue = Number(oldValue) - 1;
        __target.val(newValue);
        oldValue = newValue;
        $(document).find('input#qty').val(newValue);
      }
    });



}      
});
</script>
<script>
 require(['jquery','mage/cookies'],function($){
        var deviceId = window.localStorage.getItem('device_id');
        var url = '<?php echo $block->getBaseUrl()?>homepagetopproducts/index/recentviewadded';  
        var pId = '<?php echo $_product->getId()?>';
        var cusId = 0;
        var catId = '<?php echo $catId ?>';
        var childCategoryid = '<?php echo $childCategory ?>';
       <?php if($customerId): ?>
            cusId = "<?php echo $customerId ?>";
        <?php endif;?>          
       $.ajax({
	        type: "POST",
	        cache: 'false',
	        url: url,
	        data: { 
                'product_id': pId, 
                'device_id': deviceId,
                'customer_id':cusId,
                'category_id':catId,
                'child_category_id':childCategoryid
            }
	    }); 
 }); 
</script>

<script type="text/javascript">
require(["jquery","toastr"],
    function($,toastr)
    {       
      $('.cartquatity').focusout(function(e){
        var data = $('.cartquatity').val();
        $(document).find('input#qty').val(data);
      });
    });
</script>
