<?php 
	$product = $block->getProduct();
?>
<?php if($product->getCompatibleBrands()):?>
	<div class="brand-container">
		<h2 class="compatible-brands">Compatible Brands</h2>
		<p class="brand-list"><?php echo $product->getCompatibleBrands();?></p>
	</div>
<?php endif;?>