<?php 
$product = $block->getProduct();
$productId = $product->getId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create("Magento\Customer\Model\Session");
$orderdateFormat ='';
?>
<?php if($customerSession->isLoggedIn()):?>
	<?php 	
	$customerId = $customerSession->getCustomerId();
	$orders = $objectManager->create('Magento\Sales\Model\Order')->getCollection()
	            ->addFieldToFilter("customer_id", $customerId);
	?>
	<?php if(count($orders)):?>            
		<?php foreach ($orders as $order):?>
		    <?php foreach ($order->getAllVisibleItems() as $item):?>
		    	<?php if($item->getProductId() == $productId):?>
		    		<?php 
		    			$orderDate = strtotime($order['created_at']);
		    			$date = date('d',$orderDate);
		    			$month = date('F',$orderDate);
		    			$year = date('Y',$orderDate);
						$orderdateFormat= $date.' '.$month.' '.$year ;
		    		?>
		    	<?php endif;?>
		    <?php endforeach;?>
		<?php endforeach;?>
		<?php if($orderdateFormat):?>
		<div class="product-purchase-date">You Last Purcahse this item on <span class="date"><?php echo $orderdateFormat?></span><a target="_blank" href="/sales/order/view/order_id/<?php echo $order['entity_id']?>"> View this order</a></div>
		<?php endif;?>
	<?php endif;?>
<?php endif;?>