<div class="solid-by-product show-ajax-data">
<?php  
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$product = $block->getProduct();
$productId = $product->getId();
$website_url=$block->getBaseUrl();
$sellerId = array();
$marketplaceProduct = $helper->getSellerProductDataByProductId($product->getId());
foreach ($marketplaceProduct as $value) {
     $sellerId[] = $value['seller_id'];
}
$cardType = $helper->getDisplayCardType();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
    $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
    $connection = $resource->getConnection();
    $sellerIds = "'" . implode ( "', '", $sellerId ) . "'";
    $sql = "SELECT seller_id FROM `marketplace_userdata` where seller_id in(SELECT seller_id FROM `marketplace_product` where mageproduct_id='".$productId."' and status = 1) and seller_priority = 1 and is_seller = 1";
    $sellerId = $connection->fetchOne($sql);
?>
<?php if ($sellerId!=""): ?>
    <?php 
        $captchenable = $helper->getCaptchaEnable();
        $sellerInfo = $helper->getSellerInfo($sellerId);
        $shopTitle = $sellerInfo['shop_title'];
        $shopUrl = $sellerInfo['shop_url'];
        $productCount = $sellerInfo['product_count'];
        if (!$shopTitle) {
            $shopTitle = $shopUrl;
        }

        if ($productCount > 1) {
            $productLabel = __("%1 Products", $productCount);
        } else {
            $productLabel = __("%1 Product", $productCount);
        }

         $shopTitle = $block->escapeHtml($shopTitle);
        $feeds = $helper->getFeedTotal($sellerId);
        $rating = $helper->getSelleRating($sellerId);
        $collectionPageUrl = $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$shopUrl);
         $profilePageUrl = $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);
		
    ?>
     
   <span class="solod">Sold By:</span>
   <?php if(!empty($shopTitle))
   {
	?>
   <h3><?php echo $shopTitle;?></h3>
   <?php
   }
   ?>
   <?php endif; ?>


	<?php
		$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
		$order_counts = $orderHelper->getSellerOrders($sellerId);
		$totalRatingStar = $helper->getSelleRating($sellerId);
		$feed  = $helper->getFeedTotal($sellerId);
	?>
        <?php if($order_counts):?>
        <p><?php echo $order_counts; ?> orders have been processed</p>
        <?php endif;?>
        <div class="prolink"><a href="<?php echo $website_url;?>seller/create">Sell on GetMySpares</a></div>
</div> 