<?php 
	$product = $block->getProduct();
	$altParts = $product->getData('alternate_parts');
	$altp     = explode(',',$altParts);
	$class    = " owl-carousel products-grid";
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
	$scopeConfig = $objectManager->create('Magento\Framework\App\Config\ScopeConfigInterface');
	$isDesktopEnable = $scopeConfig->getValue('alternatebanner/desktop/enable', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
	$desktopUrl = $scopeConfig->getValue('alternatebanner/desktop/url', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
	$desktopImage = $scopeConfig->getValue('alternatebanner/desktop/image', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
	$website_url = $block->getBaseurl();
	$product_weight = (float)$product->getWeight();
	$discount_text = $product->getData("discount_text");
	if(is_float($product_weight)){
    $product_weight = round($product_weight,1);
	}
	$weight_greator=false;
	if( $product_weight - floor($product_weight) > 0.5  ) {
		$weight_greator=true;
	}
?>



<div class="pdpstaticinfo">
    <div class="list">
			<?php if($weight_greator || $discount_text=="fiftypercent"):?>
				<img src="<?=$website_url?>pub/media/wysiwyg/noreturn.png" alt="" />
				<span> No Return Available. </span>
			<?php else:?>
				<img src="<?=$website_url?>pub/media/wysiwyg/getmyspares_home/pdp-delevery-icon01.png" alt="" />
				<span>7 Day's Return</span>
			<?php endif;?>
        
   
	  </div>
    <div class="list">
        <img src="<?=$website_url?>pub/media/wysiwyg/getmyspares_home/pdp-delevery-icon02_1.png" alt="" />
<span>We provide you with 100% payment protection.</span>
    </div>
</div>


<?php // echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('getmyspares_PDP_staticinfo')->toHtml();?>
<?php if($altParts && !empty($altp) ) : ?>
	<div class="solid-by-product alternateparts" id="alternate_prdct_div">
		<div class="block-content">
			<div id="pdpaltpart" class="<?php echo $class ?> grid">
				<?php $totalAlt = 0;
				foreach($altp as $sku):
					$product = $objectManager->create('Magento\Catalog\Model\Product')->loadByAttribute('sku',$sku);
					if($product){
					$totalAlt++;
					$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
					$image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(200, 200)->getUrl();
				?>
				<div class="item">
					<h3 class="parts-heading">Alternate Parts</h3>
					<div class="product-item-info">
						<?php if($product->getAttributeText('gms_certified') == 'Yes') { ?>
                              <span class="gms-certified">&nbsp;</span>
                        <?php } ?>
                        <a href="<?php echo $product->getProductUrl(); ?>" target="_blank" class="product-item-photo">
							<img class="product-image-photo default_image" src="<?php echo $image_url;?>" alt="<?php echo  $product->getName();?>" />
						</a>
						<a href="<?php echo $product->getProductUrl(); ?>" target="_blank" class="pronameinfo">
                      		<span class="proname"><?php echo  $product->getName();?></span>
                            <span class="pricename">
                            	<?php 
								$abstractProductBlock = $this->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
								echo $abstractProductBlock->getProductPrice($product);
								?>
							</span>
                        </a>
					</div>
				</div>
				<?php } ?>
				<?php endforeach ?>
			</div>
		</div>
	</div>
	<?php if($totalAlt > 0 ):?>
		<script type="text/javascript"> 
		require([
		   'jquery',
		   'owl-carousel'
		], function ($) { 	
			$("#pdpaltpart").owlCarousel({
				autoplay: false,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: false,
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
				dots: false,
				responsive: {
				   0: { items:2 },
				   640: { items:3 },
				   768: { items:3 },
				   992: { items:3 },
				   1200: { items:4 }
				 }
			   });   
		});
		</script> 
	<?php else: ?>
		<script>
			require(['jquery'],function($){
				$('.parts-heading').hide();
			});
		</script>
		<?php if($isDesktopEnable):?>	
			<a href="<?php echo $website_url.$desktopUrl?>">
				<img src="<?php echo $website_url.'pub/media/productpagebanner/desktop/'.$desktopImage?>">
			</a>
		<?php endif;?>
	<?php endif;?>
<?php else:?>
<?php if($isDesktopEnable):?>	
<div class="solid-by-product alternateparts productpagebanner" id="alternate_prdct_div">
	<a href="<?php echo $website_url.$desktopUrl?>">
		<img src="<?php echo $website_url.'pub/media/productpagebanner/desktop/'.$desktopImage?>">
	</a>
</div>
<?php endif;?>	
<?php endif;?>