<?php
/* implementing view model as per magento recommendations (using code directly or through helper is discouraged) @ritesh6december2021
coding structure cleaned !
*/
$_product = $block->getProduct();
$viewModel = $block->getViewModel();
$otherSpecsCollection = $viewModel->getOtherSpecification($_product) ;
$techSpecsCollection = $viewModel->getTechnicalSpecification($_product) ;
?>
<div id="product-info" class="product-information-tab">
    <div class="titleinfosection">
        <div data-role="collapsible" class="history-title active clicked">
            <div data-role="trigger">
                <a class="switch highlights">Technical Specifications</a>
            </div>
        </div>
        <div data-role="collapsible" class="history-title">
            <div data-role="trigger">
                <a class="switch other-specification">Other Specifications</a>
            </div>
        </div>
        <div data-role="collapsible" class="history-title">
            <div data-role="trigger">
                <a class="switch description">Description</a>
            </div>
        </div>
        <div data-role="collapsible" class="history-title">
            <div data-role="trigger">
                <a class="switch terms-condition">Terms & Conditions</a>
            </div>
        </div>  
    </div>
    <div id="highlights" class="one contentsection" data-role="content">
        <ul class="product-short-detail-list">
            <?php if (!empty($techSpecsCollection)) : ?>
                <?php foreach ($techSpecsCollection as $attribute) : ?>
                    <?php if (null !== $attribute->getFrontend()->getValue($_product)) { ?>
                        <li><?= $attribute->getFrontendLabel() ?>: <?php echo $attribute->getFrontend()->getValue($_product); ?></li>
                    <?php } ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
    <div id="other-specification" class="two contentsection" data-role="content" style="display:none">
        <ul class="product-short-detail-list">
            <?php if (!empty($otherSpecsCollection)) : ?>
                <?php foreach ($otherSpecsCollection as $otherspecattribute) : ?>
                    <?php if (null !== $otherspecattribute->getFrontend()->getValue($_product)) { ?>
                        <li><?= $otherspecattribute->getFrontendLabel() ?>: <?php echo $otherspecattribute->getFrontend()->getValue($_product); ?></li>
                    <?php } ?>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
    <div id="description" class="three contentsection" data-role="content" style="display:none" >
        <?php echo $_product->getDescription(); ?>
    </div>
    <div id="terms-condition" class="four contentsection" data-role="content" style="display:none">
        <?php if (null !== $_product->getData('disclaimer')) {
            echo $_product->getData('disclaimer');
        } ?>
    </div>
</div>
<script type="text/javascript">
    require(['jquery', 'accordion'], function($) {
        $("#product-info").accordion();
        $('.history-title').click(function() {
            $(this).addClass('clicked');
            $(this).siblings('.history-title').removeClass('clicked');
        });
    });
</script>