<?php
	$_product = $this->getProduct();
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$brand_helpers = $objectManager->create('Mageplaza\Shopbybrand\Helper\Data');
	$featureBrands = $block->getFeaturedBrand();
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$site_urls=$storeManager->getStore()->getBaseUrl();
	$site_url=$site_urls.'brand/';
		  	
	if (null !== $_product->getCustomAttribute('item_model_number')) {
		$pi_model_val = $_product->getCustomAttribute('item_model_number')->getValue();
	}
	if(!empty($pi_model_val)){ ?>
	   <?php 
	        $newbrands = $_product->getAttributeText('brands');
			$warranty = $_product->getAttributeText('warranty');
			$supported_models = $_product->getAttributeText('supported_models');
		?>
		 <?php if(!empty($newbrands)){ 
			 $newData = strtolower($newbrands); 
		 ?>
			 <a href="<?php echo $site_url.$newData;?>"><span><?php echo $newbrands; ?></span></a>
		<?php } ?>
		<?php 	if(!empty($pi_model_val)){ ?>
		<span>Product Id :</span>
		<span><?php echo $pi_model_val; ?></span>	
		<?php }
	  } ?>

  	<?php
		if($_product->getAttributeText('gms_certified') == 'Yes') {
			echo '<span class="gms-certified">GMS Certified</span>';
		}
	?>
<script>
require(['jquery'], function ($) {				
	  jQuery('.producttt').wrapAll('<section class="product-media-info"></section>');
	  jQuery(".detailed").before(jQuery(".block.upsell").detach());
	  jQuery(".upsell").after('<h2 class="sectionproducts-titles">Product Details</h2>');
	  jQuery(".product-info-price").append('<a class="best_price" href="javascript:void(0);" id="get_best_price_link">Get Best Price for Bulk Orders</a>');	
	  jQuery('<div id="get_best_price_link_popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"></div>').appendTo('body');
	  			  
});
</script>	
<script>
require([ 
	'jquery',
	'Magento_Ui/js/modal/modal'
], function($, modal) {  
	$(document).on('click', '#get_best_price_link', function () {
        var url = '/getbestprice/index/index';
        $.ajax({
            type: 'POST',
            url: url,
			data : {product_id:'<?php echo $_product->getId(); ?>',product_name:'<?php echo $_product->getName(); ?>',sku:'<?php echo $_product->getSku(); ?>'},
            success: function (output) {
				var options = {
					type: 'popup',
					responsive: true,
					innerScroll: true,
					modalClass : 'best_price_modal',
					title: 'Get Best Price',
					buttons: []
				};       
				$('#get_best_price_link_popup').html(output).modal(options).modal('openModal');
            },
            error: function(output){
				alert("fail");
            }
        });
    });	
});  
</script>


<style>
.product-info-main .product-info-price .price-box { width: auto;}
.product-info-main .product-info-price #get_best_price_link{background: #35C2CB; color: #fff; padding: 4px 8px 2px; font-weight: bold; border-radius: 4px; margin: 4px 0px 0px 15px; display: inline-block; }
.product-info-main .product-info-price #get_best_price_link:hover{background: #f3a626; color:#fff;}
span.rewards__product-points { display: none !important;}
.modal-popup.best_price_modal .modal-inner-wrap { margin: 5rem auto; width: 52%;}
.modal-popup.best_price_modal input::placeholder { color:#777777; font-size:16px;}
.modal-popup.best_price_modal h2{margin: 0px 0px 20px 0px;}
.modal-popup.best_price_modal .action-close::before{font-size: 27px;
line-height: 33px;b font-weight: 100;}
.modal-popup.best_price_modal .modal-header { padding: 0px; margin-bottom: 0px; }
.modal-popup.best_price_modal .btn.btn-primary.submit {
    background: #333;
    border-radius: 4px;
    height: 46px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {

.modal-popup.best_price_modal.modal-slide {
    left: 0px;
    z-index: 900;
}
.modal-popup.best_price_modal .modal-inner-wrap {
    margin: 5rem auto;
    width: 94%;
}
.modal-popup.best_price_modal h2 {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
    line-height: 26px;
}


}





</style>
