.account{
    .breadcrumbs {
        margin-top: 0px !important;
        margin: 0 0 0px;
    }
    .account-nav{
        .item.current{
            a {
                border-color: @color-btn-border-hover;
            }
        } 
    } 
}

.login-class{
    &.modal-popup{
        .modal-content{
            .block-customer-login{
                .block-content{
                    .form-login{
                        .fieldset{
                            margin-bottom: 0;
                            .actions-toolbar{
                                margin-top: 15px;
                            }
                            .field{
                                .control{
                                    position: relative;
                                    #customer-email-error{
                                        position: absolute;
                                        bottom: -18px;
                                    }
                                    #pass-error{
                                        position: absolute;
                                        bottom: -18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.modal-popup{
    z-index: 100 !important;
}

body.account{
  font-size: 1.5rem;
}

.account{
    .sidebar.sidebar-main{
        width: 22.3% !important;
    }
    .form-wishlist-items{
          .actions-toolbar{
              .primary{
                  .action{
                    background: @color-btn;
                    border: 1px solid @color-btn-border;
                    margin-right: 0;
                    height: 43px;
                    border-radius: 10px;
                    text-transform: capitalize;
                    transition: .5s all ease;
                    display: inline-block;
                    box-shadow: none;
                    color: #fff;
                    &:hover{
                        background: @color-btn-hover;
                        border: 1px solid @color-btn-border-hover;
                    }                    
                  }
              }
          }
    }
    .actions-toolbar{
        .primary{
            .action.primary{
                background: @color-btn;
                border: 1px solid @color-btn-border;
                margin-right: 0;
                height: 47px;
                padding: 0px 40px;
                border-radius: 10px;
                text-transform: capitalize;
                max-width: 290px;
                width: 100%;
                transition: .5s all ease;
                display: inline-block;
                margin: 0 auto;
                float: none;
                &:hover{
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                }
            }
        }
    }
}

.account{
    &.customer-account-edit{
        .form-edit-account{
            .mobile-field{
                margin-bottom: 20px;
                .verifyotpblock {
                    margin: 20px 0px;
                }
                .verify-class{
                    #sendotp{
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        margin-right: 0;
                        height: 47px;
                        padding: 0px 40px;
                        border-radius: 10px;
                        text-transform: capitalize;
                        transition: .5s all ease;
                        display: inline-block;
                        margin: 0 auto;
                        float: none;
                        color: #fff;
                        line-height: 41px;
                        margin-top: 20px;
                        cursor: pointer;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                }
            }
            .fieldset{
                margin: 0 0 20px;                
                &.info,&.password{
                    .field{
                        width: 50%;
                        float: left;
                        padding: 0px 10px;
                        .control{
                            #password-strength-meter-container{
                                display: none;
                            }
                        }
                    }
                }
            } 
        }
    }
    &.wishlist-index-index{
        #wishlist-view-form{
            .actions-toolbar{
                display: none;
            }
        }
        #wishlist-view-form ~ .toolbar.wishlist-toolbar {
            display: block;
            .toolbar-amount {
                display: none;
            }
            .limiter {
                display: none;
            }
            .pages{
                position: relative;
                margin-bottom: 0;
                .items {
                    li.item.pages-item-previous{
                        a.action.previous {
                            margin-left: 0 !important;
                            box-shadow: none;                            
                            padding: 0;
                            margin: 0;
                            height: auto;
                            border: none;
                            display: block;
                            background: @color-btn;
                            width: 100%;
                            transition: .5s all ease;
                            border-radius: 4px;
                            &:before{
                                color: #fff;
                            }
                            &:hover{
                                background: #f5a622;
                            }
                        }
                    }
                    .item.pages-item-next{
                        a.action.next {
                            margin-left: 0 !important;
                            box-shadow: none;                            
                            padding: 0;
                            margin: 0;
                            height: auto;
                            border: none;
                            display: block;
                            background: @color-btn;
                            width: 100%;
                            transition: .5s all ease;
                            border-radius: 4px;
                            &:before{
                                color: #fff;
                            }
                            &:hover{
                                background: #f5a622;
                            }
                        }
                    } 
                    .item{
                        font-size: 1.4rem;
                        line-height: 30px;
                        letter-spacing: normal;
                        margin: 0 8px 0 0;
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        strong.page{
                            background: transparent;
                            font-size: 1.4rem;
                            letter-spacing: normal;
                            display: block;
                        }
                    }
                }
            }
        }
        .toolbar.wishlist-toolbar {
            display: none;
        }       
        .products-grid{
            &.wishlist{
                .product-items{
                    .product-item{
                        width: 100%;
                        border: solid 1px #ddd;
                        border-radius: 0px;
                        margin-bottom: 15px;
                        padding: 10px;
                        position: relative;
                        transition: .5s all ease;
                        margin-left: 0;                                              
                        .product-item-info {
                            width: 100%;
                            position: relative;
                            .product-reviews-summary{
                                margin: 0 0;
                                display: inline-block;
                                vertical-align: middle;
                                position: absolute;
                                bottom: 15px;
                                left: 140px;
                                .rating-summary{
                                    left: 0;
                                    .rating-result{
                                        width: 83px;
                                    }
                                }
                                .reviews-actions{
                                    display: none;
                                }
                            }
                            .product-item-photo{
                                float: none;
                                width: 120px;
                                margin-bottom: 0;
                                margin-right: 20px;
                                display: inline-block;
                                vertical-align: middle;                               
                            }
                            .field.comment-box {
                                display: none;
                            }
                            .product-item-actions{
                                a.action.edit {
                                    display: none;
                                }
                                a.btn-remove.action.delete{
                                    background: #273c97;
                                    border: none;
                                    width: 120px;
                                    color: #fff;
                                    height: 32px;
                                    text-transform: uppercase;
                                    font-family: 'Conv_DINOT-Medium';
                                    font-size: 14px;
                                    padding: 0px 15px;
                                    border-radius: 20px;
                                    background-size: 15%;
                                    font-weight: normal;
                                    display: inline-block;
                                    text-align: center;
                                    line-height: 32px;
                                    &:hover{
                                        background: #f5a622;
                                    }
                                }
                            }
                            .box-tocart{
                                margin: 0 0 0px;
                                .fieldset{
                                    margin-bottom: 0px;
                                    .stock {
                                        margin: 0px 0 0;
                                    }
                                    .field.qty {
                                        display: none !important;
                                    }
                                }
                            } 
                            .price-box{
                                display: inline-block;
                                vertical-align: middle;
                                .price-as-configured {
                                    margin-bottom: 0;
                                }
                                .price-container{
                                    .price-wrapper {
                                        white-space: nowrap;
                                        color: #626262;
                                        font-family: 'Conv_DINOT-Medium';
                                        font-size: 20px;
                                        font-weight: normal;
                                    }
                                }
                            }
                            .product-item-name{
                                display: inline-block;
                                vertical-align: middle;
                                width: calc(~"100% - 550px");
                                padding-right: 15px; 
                                font-weight: normal;
                                .product-item-link{
                                    text-align: left;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                    font-size: 14px;
                                    font-family: 'Conv_DINOT-Medium';
                                    font-weight: normal;
                                }                                
                                a.product-item-link{ 
                                    &:hover{
                                        color: #f5a622;
                                        text-decoration: none;
                                    } 
                                }
                            }
                            &:hover{
                                .product-item-inner{
                                    border: none;
                                    right: 0;
                                }
                            }
                            .product-item-inner{
                                height: auto;
                                margin: 0;
                                overflow: hidden;
                                padding: 45px 0;
                                position: relative;
                                width: auto;
                                box-shadow: none;                                
                                float: right;
                                .product-item-actions{
                                    margin: 0px 0 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                                .box-tocart{
                                    display: inline-block;
                                    vertical-align: middle;
                                    .fieldset{
                                        .field.qty{
                                            display: inline-block;
                                            display: inline-block;
                                            vertical-align: middle;
                                            margin-bottom: 0;
                                        }
                                        .unavailable.stock {
                                            display: inline-block;
                                            vertical-align: bottom;
                                            color: #e9a627;
                                            font-weight: 600;
                                        }
                                        .product-item-actions {
                                            margin: 0px 0 0;
                                            display: inline-block;
                                            vertical-align: bottom;
                                            button.action.tocart.primary{
                                                background: #f5a622;
                                                border: none;
                                                width: 120px;
                                                color: #fff;
                                                height: 32px;
                                                text-transform: uppercase;
                                                font-family: 'Conv_DINOT-Medium';
                                                font-size: 14px;
                                                padding: 0px 15px;
                                                border-radius: 20px;
                                                background-size: 15%;
                                                font-weight: normal;
                                                display: inline-block;
                                                text-align: center;
                                                &:hover{
                                                    background: #273c97;
                                                }
                                            }
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
    .page-main > .page-title-wrapper{
        .page-title {
            display: inline-block;
            color: #3a3a3a;
            font-size: 32px;
            padding: 0px 0 0px;
            text-align: center;
            font-weight: 700;
        }
    }
    .table-wrapper.orders-history{
        #my-orders-table{
            .col{
                width: auto;   
            }            
        }
    }
    .table-wrapper.reviews{
        #my-reviews-table{
            .col{
                width: auto;
                &.actions{
                    width: 95px;
                }
            }
            .product-name{
                a{
                    transition: .5s all ease;
                    color: #333333;
                    text-decoration: none;
                    font-size: 1.4rem;
                    font-weight: normal;
                    &:hover{
                        color: #e9a627;
                    }
                }
            }
        }
    }
    .block.block-addresses-list{
        #additional-addresses-table{
            .col{
                width: auto; 
            }
        }
    }
    .order-details-items.ordered{
        #my-orders-table{
            .col{
                width: auto;
                &.action{
                    a{
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        border-radius: 8px;
                        transition: .5s all ease;
                        color: #fff;
                        padding: 4px 10px;
                        font-size: 1.3rem;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                } 
            }
        }
    }
    .block.block-dashboard-orders{
        .block-title.order {
            margin-bottom: 10px !important;
            a.action.view {
                float: right;
            }
        }
        .block-content{
            .table-wrapper.orders-recent{
                #my-orders-table{
                    .col{
                        width: auto;
                    }
                }
            }
        }
    }
    .block-order-details-view{
        .block-content{
            .box{
                &:nth-child(3){
                    float: left;
                    margin-top: 20px;
                }
                &:nth-child(4){
                    float: right;
                    margin-top: 20px;
                }
            }
        }
    }
    .block.block-dashboard-info,.block-dashboard-addresses,.block-addresses-default,.block-order-details-view{
        margin-bottom: 20px;
        .block-title{
            margin-bottom: 10px !important;           
            a.action.edit {
                float: right;
            }
        }
        .block-content{
            .box{
                padding-bottom: 10px;
                .box-content {
                    padding: 20px 15px;
                    font-size: 14px;
                    border-top: 0;
                    min-height: 135px;
                }
                .box-actions {
                    .action{
                        text-transform: uppercase;
                        color: #212529;
                        font-size: 1.2rem;
                        padding: 10px 0px 0px;
                        display: inline-block;
                        &:hover{
                            color: #f5a622;
                        }
                        &:after {
                            content: "";
                            display: inline-block;
                            height: 12px;
                            margin: 0 9px;
                            border-left: 1px solid #737373;
                            vertical-align: -1px;
                        }
                        &:last-child{
                            &::after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .sidebar-main{
        #account-nav{
            .nav{
              &.items{
                    .item{
                        width: 100%;
                        display: block;
                        padding-left: 50px;
                        &.user-image{
                            padding-left: 70px;
                            border-bottom: 1px solid #e8eaef;
                            margin-bottom: 10px;
                            a{
                                padding: 20px 20px 20px 0px !important;
                                outline: none;
                                margin-bottom: 0;
                                box-shadow: none;
                                border-bottom: none;
                            }
                        } 
                        .delimiter{
                            display: none;
                        }
                        &.current{ 
                            a{
                                border: none;
                            }                           
                            strong{
                                border-color: #ea7900;
                                color: #ea7900;
                                padding: 10px 10px 10px 0px;
                                border: none;                                
                            }
                        }
                        a{
                            transition: .5s all ease;
                            padding: 10px 10px 10px 0px;
                            &:hover{
                                color: #ea7900;
                            }
                        }
                    } 
                }
            }            
        }
    } 
  }

  /* Start Customer Login */

   body{
       &.customer-account-login{
        font-size: 1.5rem;
       }
   }

   .customer-account-login{
       .page-title-wrapper{
            .page-title {
                display: inline-block;
                color: #444444;
                font-size: 32px;
                padding: 0px 0 20px;
                font-weight: normal;
                text-align: center;
                font-family: 'Conv_DINOT-Medium';
            }
       }
        .login-container {
            display: block;
            border: 1px solid #ddd;
            border-radius: 8px;
            background: #fff;
            border-top: 4px solid @color-btn-border;
            padding: 35px 25px 0;
            box-shadow: 0 2px 3px rgb(0, 0, 0, 0.08);
            .block-title{
                strong{
                    color: #444444;
                    font-size: 20px;
                    padding: 0px 0 20px;
                    font-weight: normal;
                    text-align: center;
                    font-family: 'Conv_DINOT-Medium';
                }
            }
            .block-new-customer{
                .block-content{
                    .actions-toolbar{
                        .primary{
                            a.action.create.primary{
                                background: @color-btn;
                                border: 1px solid @color-btn-border;
                                margin-right: 0;
                                height: 47px;
                                padding: 0px 40px;
                                border-radius: 10px;
                                color: #fff;
                                box-shadow: none;
                                font-weight: normal;
                                font-family: 'Conv_DINOT-Medium';
                                transition: .5s all ease;
                                line-height: 47px;
                                &:hover{
                                    background: @color-btn-hover;
                                    border: 1px solid @color-btn-border-hover;
                                }
                            }
                        }
                    }
                }
            }
            .form-login{                
                .fieldset.login{
                    &::after{
                        display: none;
                    }
                    .field{
                        .control{
                            .input-text{
                                height: 43px;
                                border-radius: 10px;
                                border: 1px solid #000;
                                overflow: hidden;
                            }                            
                        }
                    }
                    .actions-toolbar{
                        .secondary{
                            margin: 5px 0px 0px 10px;
                            a.action.remind{
                                font-size: 18px;
                                color: #f5a622;
                                font-family: 'Conv_DINOT-Medium';
                            }
                        }
                        .primary{
                            .action.login.primary{
                                background: @color-btn;
                                border: 1px solid @color-btn-border;
                                margin-right: 0;
                                height: 47px;
                                padding: 0px 40px;
                                border-radius: 10px;
                                color: #fff;
                                box-shadow: none;
                                font-weight: normal;
                                font-family: 'Conv_DINOT-Medium';
                                transition: .5s all ease;
                                &:hover{
                                    background: @color-btn-hover;
                                    border: 1px solid @color-btn-border-hover;
                                }
                            }                            
                        }
                    }
                }
            }
        }
   }

   .table-wrapper{
       .table-shadow-design{
            tbody{
                .blank-table-tr{
                    td {
                        padding: 5px 0 !important;
                        border: 0px !important;
                    }
                } 
                tr.wk-row-view{
                    box-shadow: 0px 0px 10px rgb(234,234,234,08);
                    border-radius: 4px;
                    td {
                        border: 0px;
                        vertical-align: middle;
                        font-size: 16px;
                        padding: 10px 10px !important;
                        .action.view {
                            background: #f3a626;
                            color: #fff !important;
                            font-size: 12px;
                            padding: 3px 5px 3px 7px;
                            border-radius: 3px;
                            line-height: 21px;
                            margin-right: 10px;
                            text-transform: capitalize;
                            font-weight: 400;
                            text-align: center;
                        }
                        .action.order {
                            background: #35c2cb;
                            color: #fff !important;
                            font-size: 12px;
                            padding: 3px 5px 3px 7px;
                            border-radius: 3px;
                            line-height: 21px;
                            margin-right: 10px;
                            text-transform: capitalize;
                            font-weight: 400;
                            text-align: center;
                        }
                    }
                } 
            } 
            thead{
                tr{
                    th{
                        border: 0px !important;
                        vertical-align: middle;
                        font-size: 16px;
                        padding: 10px 10px !important;
                        font-weight: 600;
                        color: #000;
                        background: #eaeaea !important;
                        &:first-child{
                            border-radius: 4px 0px 0px 4px !important;
                        }
                        &:last-child{
                            border-radius: 0px 4px 4px 0px !important;
                        }
                    }
                } 
            } 
       }   
   } 
   
   .sales-order-view .page-title-wrapper .customer_detail .row, 
   .sales-order-invoice .page-title-wrapper .customer_detail .row {
    margin: 0px;
    padding: 15px;
    background: #f9f9f9;
    
    border-radius: 4px;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}

   /* End Customer Login */


.customer-account-edit{
    fieldset.fieldset.info.mp-gdpr-delete-account {
        display: none;
    }
    .column.main {
        min-height: 220px;
    }
    .newacuntt{
        .update-profile-form{
            .form-edit-account{
                display: block;
                border-top: 1px solid #e8eaef;
                padding: 35px 0px 0;
                margin-top: 20px;
                .actions-toolbar.full-size-btn {
                    width: 100%;
                    float: left;
                    padding: 0px 15px;
                }
                .legend span {
                    text-transform: capitalize;
                    font-weight: normal;
                    font-size: 22px;
                    font-family: 'Conv_DINOT-Bold';
                    color: #464646;
                }
                .verifyoptSection{
                    float: left;
                    margin-bottom: 20px;
                    .verifyotpblockbtm{
                        float: left;
                        #verify_otp_button{
                            background: @color-btn;
                            border: 1px solid @color-btn-border;
                            margin-right: 0;
                            height: 32px;
                            padding: 0px 15px;
                            border-radius: 10px;
                            text-transform: capitalize;
                            transition: .5s all ease;
                            display: inline-block;
                            margin: 0 auto;
                            float: none;
                            color: #fff;
                            line-height: 32px;
                            &:hover{
                                background: @color-btn-hover;
                                border: 1px solid @color-btn-border-hover;
                            }
                        }
                    }
                    .verifyotpblock{
                        float: left;
                        .field{
                            .control{
                                .input-text{                            
                                    border-radius: 10px;
                                    border: 1px solid #000;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
                .fieldset{
                    &.info{
                        .field{
                            .control{
                                .input-text{                            
                                    border-radius: 10px;
                                    border: 1px solid #000;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    &.password{
                        .field{
                            padding: 0;
                            width: 100%;
                            margin-bottom: 10px;
                            &.choice{                                
                                #change-password {
                                    display: inline-block !important;
                                }
                            }
                            .control{
                                .input-text{                            
                                    border-radius: 10px;
                                    border: 1px solid #000;
                                    overflow: hidden;
                                }
                            }
                        }
                    } 
                }                
            }
        }
        .profile_right{
            a.btn-yellow {
                background: #f3a626;
                color: #fff;
                padding: 7px 20px;
                border-radius: 4px;
                font-size: 16px;
                &:hover{
                    background: #e2991e;
                }
            }
        }
    }
}   

.table-shadow-design{
    tbody{
        tr.wk-row-view{
            td{
                a.action.more {
                    background: #283c82;
                    color: #fff !important;
                    font-size: 1rem;
                    padding: 5px 7px 5px 7px;
                    border-radius: 3px;
                    line-height: 21px;
                    margin-right: 10px;
                    text-transform: capitalize;
                    font-weight: 400;
                    text-align: center;
                    font-family: 'Conv_DINOT-Medium';
                }
            } 
        } 
    } 
} 

.review-customer-view{
    .customer-review.view{
        .review-details{
            .review-content {
                padding: 10px 20px;
                border: 1px solid #d2d2d2;
                margin-bottom: 10px !important;
                border-radius: 4px;
                font-size: 18px;
                color: #000;
            }
        }
        .product-details{
            border-bottom: 1px solid #ececec;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .product-info{
                span.rating-average-label {
                    display: none;
                }
                .product-reviews-summary{
                    display: none;
                }
            }
        }
    }
}

.customer-address-index{
    .actions-toolbar {
        text-align: center;
        .primary{
            float: none;
        }
    }
    .block-addresses-list{
        .block-content{
            .customer-addresses-toolbar.toolbar.bottom{
                .pager{
                    p.toolbar-amount {
                        display: none;
                    }
                    .limiter{
                        .limiter-text {
                            display: none;
                        }
                        .limiter-options{
                            background-color: transparent;
                            box-shadow: none;
                            -webkit-appearance: auto;
                            -moz-appearance: auto;
                            -ms-appearance: auto;
                            appearance: auto;
                        }
                    }
                }
            }
              .additional-addresses{
                  #additional-addresses-table{
                    tbody{
                        tr{
                            td.actions{
                                a.action.delete{
                                    color: #ea7900;
                                }
                            }
                        }
                    }  
                    thead{
                        tr{
                            th{
                                border-bottom: 1px solid #dee2e6;
                            } 
                        }
                    }
                  }
              }
        }
    }
}

.sales-order-history{
    .actions-toolbar {
        display: none;
    }
    .order-products-toolbar.toolbar.bottom{
        margin-bottom: 0;
        .pager{
            .limiter{
                .limiter-options{
                    background-color: transparent;
                    box-shadow: none;
                    border-radius: 3px;
                    margin-right: 0;
                    -webkit-appearance: auto;
                    -moz-appearance: auto;
                    -ms-appearance: auto;
                    appearance: auto;
                }
                .limiter-text {
                    display: none;
                }
            }
            .pages{
                margin-bottom: 0;
                .item{
                    vertical-align: middle;
                }
                .action {
                    background: transparent;
                    color: #000;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 30px;
                    box-shadow: none;
                }
                strong.page {
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                    font-size: 1.3rem;
                    line-height: 30px;
                    letter-spacing: normal;
                    color: #ffffff;
                    display: block;
                    font-weight: 400;
                    padding: 0 4.5px;
                    width: 30px;
                    height: 30px;
                }
                a{
                    background: #ffffff;
                    border: 1px solid #cccccc;
                    color: #000;
                    display: block;
                    padding: 0 4.5px;
                    text-decoration: none;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    &:hover{
                        background: @color-btn-hover;
                        border: 1px solid @color-btn-border-hover;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.account.sales-order-view{
    .page-title-wrapper{
        h1.page-title {
            display: none;
        }
        span{
            a{
                background: @color-btn;
                border: 1px solid @color-btn-border;
                border-radius: 10px;
                transition: .5s all ease;
                color: #fff;
                padding: 8px 15px;
                &:hover{
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                }
            }
        }
        span.order-status {
            display: none;
        }
        span.order-status + div {
            color: #212529;
            font-weight: 500;
            padding: 0px 0px 15px;
            width: 100%;
            border-bottom: 1px solid #e8eaef;
        }
        span.order-status + div h2 {
            font-size: 24px;
            color: #212529;
            font-family: 'Conv_DINOT-Medium';
            margin: 0px;
            display: inline-block;
        }
        p {
            padding: 20px 0px 10px;
            font-size: 14px;
            color: #6c6d70;
            font-weight: 500;
        }
        .actions-toolbar.order-actions-toolbar {
            display: none;
        }
        .customer_detail{
            .row{
                margin: 0px;
                padding: 15px;
                background: #f9f9f9;
                box-shadow: 0px 2px 5px rgb(148,148,148);
                border-radius: 4px;
                color: #000;
                font-weight: 400;
                font-size: 16px;
                .order_details{
                    table{
                        tbody{
                            .grand_total{
                                td{
                                    text-align: right;
                                }
                                th,td{
                                    border-top: 1px solid #000;
                                    color: #000;
                                    padding: 5px 0;
                                    background: transparent;
                                }
                            }
                            tr{
                                td{
                                    text-align: right;
                                }
                                th,td{
                                    padding: 0px 0px 5px;
                                    font-size: 1.4rem;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
                .cus_info,.order_pay_method{
                    font-size: 16px;
                    color: #212529;
                    font-family: 'Conv_DINOT-Medium';
                }
                span.cus_email,span.order_payment {
                    word-break: break-all;
                    font-size: 1.4rem;
                }
            }
        }
    }
    ul.items.order-links {
        display: none !important;
    }
    .block.block-order-details-view{
        .block-title{
            border-bottom: 1px solid #ccc;
        }
        .block-content{
            .box{
                padding: 10px;
                .box-title{
                    margin-bottom: 0;
                }
                .box-content{
                    padding: 15px 15px 0;
                    min-height: 160px;
                    address{
                        font-size: 1.4rem;
                        font-weight: normal;
                    }
                }
            }
        }
    }
    .order-details-items.ordered{
        margin-top: 25px;
        border-bottom: none;
        .table-wrapper.order-items{
            margin-bottom: 0;
        }
        .order-title{
            display: inline-block;
            strong{
                font-size: 18px;
                margin: 0px 0px;
                border-bottom: 4px solid #f5a622;
            }
        }
    }
         
}

.account{
    &.rmasystem-newrma-index{
        .modal-popup{
            .modal-inner-wrap{
                width: 50%;
                border-radius: 10px;
                .modal-content {
                    border: none;
                    padding: 3rem;
                }
                .modal-footer {
                    display: none;
                }
                .modal-header{
                    border-bottom: 1px solid #dee2e6;
                    .action-close::before {
                        color: #0088CC;
                        font-size: 36px;
                    }
                    .modal-title{
                        font-size: 26px;
                        color: #2c2c2c;
                        font-family: 'Conv_DINOT-Medium';
                        text-transform: uppercase;
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
        #save_rma_form{
            #new-rma-component{
                fieldset.fieldset.login{
                    .buttons-set.actions-toolbar{
                        display: inline-block;
                    }
                    a.newrmaback {
                        line-height: 47px;
                        float: right;
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        margin-right: 0;
                        height: 47px;
                        padding: 0px 20px;
                        border-radius: 10px;
                        text-transform: capitalize;
                        width: auto;
                        transition: .5s all ease;
                        display: inline-block;
                        margin: 0 auto;
                        color: #fff;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                }
            }
        }
    }
    &.rewards-account-referral{
        #referralForm{
            .buttons-set{
                button.action.primary{
                    background: @color-btn;
                    border: 1px solid @color-btn-border;
                    transition: .5s all ease;
                    font-family: 'Conv_DINOT-Medium';
                    border-radius: 10px;
                    &:hover{
                        background: @color-btn-hover;
                        border: 1px solid @color-btn-border-hover;
                    }
                }
            }
            .fieldset{
                .data-table{
                    tbody{
                        td{
                            .input-text{
                                border-radius: 6px;
                                border: 1px solid #000;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
    .rewards-steps{
        width: 100%;
        float: left;
        padding-bottom: 20px;
        > p{
            text-align: center;
            margin: 2px 0;
            font-size: 16px;
            font-weight: 400;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            float: left;
            li {
                width: 25%;
                float: left;
                text-align: center;
                position: relative;
                &:nth-child(1){
                    &::after{
                        display: none;
                    }
                }
                &:nth-child(4){
                    &::before{
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    height: 6px;
                    width: calc(~"50%");                    
                    position: absolute;
                    background: #e9e9f1;
                    top: 47%;
                    right: 0;
                    transform: translate(0,-50%);
                }
                &:after {
                    content: '';
                    height: 6px;
                    width: calc(50%);
                    position: absolute;
                    background: #e9e9f1;
                    top: 47%;
                    left: 0;
                    transform: translate(0,-50%);
                }
                &.complete{
                    span {
                        background: #f3a626;
                    }
                    &:after{
                        background: #f3a626;
                    }
                }
                &.complete{
                    &:before{
                        background: #f3a626;
                    }
                }
                span {
                    width: 40px;
                    height: 40px;
                    display: block;
                    background: #e9e9f1;
                    margin: 15px auto;
                    border-radius: 100%;
                }
                p{
                    &:last-child {
                        background: #283c82;
                        width: auto;
                        display: inline-block;
                        color: #fff;
                        padding: 2px 7px;
                        font-size: 12px;
                        border-radius: 14px;
                        min-width: 18px;
                        height: 21px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    ul.items.order-links.rewards-links{
        width: 100%;
        float: left;
        li{
            margin-right: 0;
            float: left;
            width: auto;
            padding: 0px 0px;
            line-height: 36px;
            margin: 0px 20px;
            &.current{
                strong {
                    border-bottom: 4px solid @color-btn-border-hover;
                    line-height: 36px;
                    display: block;
                }
            }
            a{
                color: #212529;
                &:hover{
                    color: @color-action-text-hr;
                }
            }
        }
    }
}

#save_rma_form{
    .prodcuttypressol{
        .field {
            margin-bottom: 15px;
            label.label {
                font-weight: 600;
            }
        }
    } 
} 


.account{
    &.customer-address-form{
        .form-address-edit{
            margin-left: -15px;
            margin-right: -15px;
            .actions-toolbar {
                text-align: center;
                float: left;
                width: 100%;
                .primary{
                    float: none;
                }
            }
            .fieldset {
                width: 50%;
                float: left;
                padding: 0px 15px;
                .field{
                    .control{
                        .input-text{
                            height: 43px;
                            border-radius: 10px;
                            border: 1px solid #000;
                            overflow: hidden;
                        }
                        select{
                            height: 43px;
                            border-radius: 10px;
                            border: 1px solid #000;
                            overflow: hidden;
                            -webkit-appearance: auto;
                            -moz-appearance: auto;
                            -ms-appearance: auto;
                            appearance: auto;
                        }
                        .nested {
                            display: none;
                        }
                    }
                }
            }
        }
    } 
}

.marketplace-account-rmalisting{
    .wk-mp-design{
        .table-shadow-design{
            .wk-row-view{
                .button{
                    padding: 3px 15px !important;
                }
            }
        }
    }
}

.wk-mp-fieldset .button{
    background-image: none !important;
    background: #273c97 !important;
    border: 1px solid #273c97;
    font-family: 'Conv_DINOT-Medium';
    transition: .5s all ease;
    color: #fff;
    &:hover{
        background: #f5a622 !important;
        border: 1px solid #f5a622 !important;
        color: #fff !important;
    }
}

.buttons-set .back-link a, .wk-mp-design .fieldset > .legend button{
    background-image: none;
    background: #273c97;
    border: 1px solid #273c97;
    font-family: 'Conv_DINOT-Medium';
    transition: .5s all ease;
    &:hover{
        background: #f5a622 !important;
        border: 1px solid #f5a622 !important;
    }
}

.block-collapsible-nav{
    .seller_navi{
        .item > strong{
            padding: 10px 10px 10px 50px;
        }
    } 
} 

.account{
    .column.main{
        .custom_track_section {
            margin: 15px 0px 15px;
        }
    } 
} 

.account{
    .column.main{
        .block.block-addresses-list{
            #additional-addresses-table{
                .col.streetaddress{
                    word-break: break-all;
                }
            } 
        } 
        .block-content{
            .box{
                .box-content{
                    address{
                        word-break: break-all;
                        font-weight: normal;
                        font-family: 'Conv_DINOT-Light';
                    }
                } 
            } 
        } 
    } 
} 

.sales-order-view{
    .order-details-items{
        .table-order-items{
            .product-item-name{
                max-width: 360px;
            }
        } 
    } 
}

.account{
    &.customer-account-edit{
        .user_details {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
    }
    &.marketplace-order-report{
        .page-title-wrapper{
            .page-title{
                font-weight: normal;
                font-size: 22px;
                font-family: 'Conv_DINOT-Bold';
                color: #464646;
                display: block;
            }
        }
    }
    &.sales-order-view{
        .customer_detail{
            .cus_email {
                font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }
        }
        .order-details-items.ordered{
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .block.block-order-details-view{
            .block-content{
                .box{
                    .box-content{
                        address{
                            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
                        }
                    } 
                } 
            } 
        } 
    }
    &.customer-address-form{
        .form-address-edit{
            .fieldset > .legend{
                font-weight: normal;
                font-size: 22px;
                font-family: 'Conv_DINOT-Bold';
                color: #464646;
            }
        }        
    }
    &.newsletter-manage-index{
        .fieldset > .legend{
            font-weight: normal;
            font-size: 22px;
            font-family: 'Conv_DINOT-Bold';
            color: #464646;
        }
    }
    &.customer-account-index{
        .column.main{
            .block-content{
                .box{
                    .box-content{
                        p{
                            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        }
                        address{
                            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
                        }
                    }
                } 
            }
        }         
    }
}


.account.marketplace-order-history{
    .wk-mp-design{
        fieldset.fieldset.info.wk-mp-fieldset{
            .legend{
                .title{
                    display: inline-block;
                    vertical-align: middle;
                }
                #invoice_generate_form{
                    display: inline-block;
                    vertical-align: middle;
                    width: auto;
                    .fieldset {
                        display: inline-block;
                        vertical-align: middle;
                        margin-bottom: 0;
                        .field {
                            display: inline-block;
                            margin-bottom: 0;
                        }
                    }
                    span{
                        display: inline-block;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}


.newacuntt .field.choice.newsletter input, .rmasystem-newrma-index .wk_rma_checkall{
    left: 0px;
    margin-top: 5px;
    z-index: 2;
}