[lang="hi"]{
    .nav-container-wrap{
        .sections.nav-sections{
            .extra-catergory-list{
                .nav-extra-ul{
                    li{
                        a{
                            font-size: 1.3rem;
                        }
                    } 
                } 
            } 
            .nav-sections-item-content{
                .category-heading{
                    span{
                        font-size: 1.3rem;
                        font-weight: 400;
                    }
                } 
            } 
        } 
    }
    
    .page-header{
        .panel.header{
            .headertopblock{
                p{
                    font-size: 1.3rem;
                }
            } 
        } 
    } 
    .headerappinfo{
        .contactusinfo{
            li{
                a{
                    font-size: 1.3rem;
                }
            } 
        } 
    }
    .page-header{
        .minicart-wrapper{
            .text{
                font-size: 1.3rem;
            }
        } 
        .headerlinkright{
            .link.wishlist{
                span{
                    font-size: 1.3rem;
                }
                a{
                    font-size: 1.3rem;
                }
            } 
            .authorization-link{
                a{
                    font-size: 1.3rem;
                    &.custom{
                        font-size: 1.3rem;
                    } 
                }
            } 
        } 
    }  
    


}