// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Luma theme variables
//  _____________________________________________

//
//  Typography
//  ---------------------------------------------

//  Fonts
@font-family-name__base: 'Open Sans';
@font-family__base: @font-family-name__base, @font-family__sans-serif;

@font-family-medium: 'Conv_DINOT-Medium';
@font-family-light: 'Conv_DINOT-Light';
@font-family-bold: 'Conv_DINOT-Bold';

//  Colors nesting
@page__background-color: @color-white;

//
//  Icons
//  ---------------------------------------------

@icon-success: '\e60e';
@icon-error: '\e61f';
@icon-edit: '\e601';
@icon-print: '\e624';
@icon-star-empty: '\e625';
@icon-download: '\e626';
@icon-private: '\e629';
@icon-present: '\e62a';
@icon-gift-registry: '\e62b';

@icon-calendar__font-size: 23px;

//
//  Sidebar
//  ---------------------------------------------

@sidebar__background-color: @color-white-smoke; // Used in cart sidebar, Checkout sidebar, Tier Prices, My account navigation, Rating block background

//
//  Sidebar blocks
//  ---------------------------------------------

@block-items__counter__color: @color-gray43;


/* Start Custom variables */

@color-blue1a:#273c97;
@color-blue2a:#40549d;
@color-blue3a:#345288;
@color-blue4a:#9b30e5;
@color-blue5a:#2d6dab;
@color-orange1a:#f5a622;
@color-pink1a:#ec5777;
@color-gray1a:#626262;
@color-gray2a:#575757;
@color-gray3a:#ddd;
@color-gray4a:#eee;
@color-black1a:#000000;
@color-green1a:#7dbb00;
@color-green2a:#00d194;
@color-red1a:#ee7f54;

@color-btn:@color-blue1a;
@color-btn-border:@color-blue1a;
@color-btn-hover:@color-orange1a;
@color-btn-border-hover:@color-orange1a;


@color-heading:@color-gray2a;
@color-normal-price:@color-gray1a;
@color-name:@color-gray1a;

@color-bg:@color-blue1a;

@color-action-text:@color-blue1a;
@color-action-text-hr:@color-orange1a;

/* End Custom variables */