<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** This changes need to valid applying filters and configuration before search process is started. */
$productList = $block->getProductListHtml();

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$requestInterface = $objectManager->get('Magento\Framework\App\RequestInterface');
$terms = $this->helper('Magento\CatalogSearch\Helper\Data')->getEscapedQueryText() ;
$terms = str_replace('\\', '', $terms);
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$tableName = $resource->getTableName('om_customersearchitem_searchitem'); //gives table name with prefix





if($customerSession->isLoggedIn()) {
    $customerSession->getCustomer()->getId();
    $customerFactory = $objectManager->get('\Magento\Customer\Model\CustomerFactory')->create();
    $customerId = $customerSession->getCustomer()->getId();
    $customer = $customerFactory->load($customerId);
    //fetch whole customer information
    $newMobile = $customer->getData();
    if(!empty($newMobile['mobile'])){
         $mobile = $newMobile['mobile'];
    }
    $data = $customerSession->getCustomer()->getData(); 
    $name =  $customerSession->getCustomer()->getName(); 
    $email=  $customerSession->getCustomer()->getEmail();
   // $mobile = $customerSession->getCustomer()->getPrimaryBillingAddress()->getTelephone();
    $customerSession->getCustomer()->getGroupId(); // get Customer Group Id
    date_default_timezone_set('Asia/Kolkata');
    $currentTime = date( 'y-m-d h:i:s', time () ); 


        $sql1 = "SELECT `customer_email`,`search_field` FROM `om_customersearchitem_searchitem` WHERE `customer_email` = '$email' AND `search_field` ='$terms'";
        $count = $connection->query($sql1)->rowCount();
          
          if($count>0){

            //$date = date('Y-m-d H:i:s');
            
            $sql3 = " UPDATE `om_customersearchitem_searchitem` SET `created_date`= '$currentTime'  WHERE `customer_email`='$email' AND  `search_field`= '$terms'" ;
            /*echo $sql3; die();*/
            $connection->query($sql3);

          }
          else{

             $sql = "Insert Into " . $tableName . " (customer_name, customer_email, customer_mobile, search_field,is_seller, created_date) Values ('$name','$email', '$mobile','$terms', '0','$currentTime')"; //die();
            $connection->query($sql);
          }
           

      
     
}



 

         
?>


<?php if ($block->getResultCount()) : ?>
    <?= /* @noEscape */ $block->getChildHtml('tagged_product_list_rss_link') ?>
<div class="search results">
    <?php if ($messages = $block->getNoteMessages()) : ?>
    <div class="message notice">
        <div>
            <?php foreach ($messages as $message) : ?>
                <?= /* @noEscape */ $message ?><br />
            <?php endforeach; ?>
        </div>
    </div>
    <?php endif; ?>
    <?= /* @noEscape */ $productList ?>
</div>
<?php else : ?>

<div class="message notice">
    <div>
        <?= $block->escapeHtml($block->getNoResultText() ? $block->getNoResultText() : __('Your search returned no results.')) ?>
        <?= /* @noEscape */ $block->getAdditionalHtml() ?>
        <?php if ($messages = $block->getNoteMessages()) : ?>
            <?php foreach ($messages as $message) : ?>
                <br /><?= /* @noEscape */ $message ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>
<script>
    require(['jquery'],function($){

        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
            var window_top = $(window).scrollTop();
            var footer_top = $(".page-footer").offset().top;
            var div_top = $('.sidebar-main').offset().top;
            var div_height = $(".sidebar-main").height();
            var hT = $('.page-footer').offset().top,
           hH = $('.page-footer').outerHeight(),
           wH = $(window).height(),
           wS = $(this).scrollTop();
            if (wS > (hT+hH-wH))
                $('.sidebar-main #layered-filter-block-container').removeClass('sidebar-sticky');    
            else if (window_top > div_top) {
                $('.sidebar-main #layered-filter-block-container').addClass('sidebar-sticky');
            } else {
                $('.sidebar-main #layered-filter-block-container').removeClass('sidebar-sticky');
            } 
        });
    });
</script>
