<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
// phpcs:disable Magento2.Security.LanguageConstruct.DirectOutput
// phpcs:disable Magento2.PHP.ShortEchoSyntax.ShortEchoTag

/** @var $block \Magento\Ui\Block\Wrapper */
?>
<?php $ajaxUrl = $block->getUrl('homepagetopproducts/index/suggested');?>

<?php /* @noEscape */ echo $block->renderApp([
    'widget_columns' => [
        'displayMode' => 'grid'
    ],
    'image' => [
        'imageCode' => 'recently_viewed_products_grid_content_widget'
    ]
]);
?>
<div class="ajax-result"></div>
<script>
    require(
    ['jquery', 'jquery/ui', 'owl-carousel'], 
    function($) {   
    var recentView = JSON.parse(localStorage.getItem('recently_viewed_product')); 
    if(recentView && Object.keys(recentView).length != 0){
    console.log('b');
    $('.browsinghistory.hoverintial').show();
    }
    else{
        $('.browsinghistory.hoverintial').hide();
    }   
});
</script>
