<?php
$orderBannerImage = $block->getOrderBanner();
$checkBanner = $block->checkOrderBanner();
$bannerUrl = $block->getOrderBannerUrl();
$orderData = ''; 
$customerId = $block->getCustomerId();
if($customerId){
$orderData = $block->getOrderCollectionByCustomerId($customerId)->getData();

}
?>
<?php if($orderData):?>
<div class="order-slider owl-carousel"> 
<?php foreach($orderData as $order):?>
    <?php 
        $status = $order['status'];
        $orderIncrementId = $order['increment_id'];
    ?>
    <div class="status-container">
            <div class="top-row">
                <h2 class="status-heading">Order Status</h2>
                <h3 class="order-id"><a href="<?php echo '/sales/order/view/order_id/'.$orderEntityId ?>"><?php echo $orderIncrementId;?></h3>
            </div>
            <div class="status-label">
                <?php if($status == 'canceled'):?>
                    <span class="order-canceled active">Order Cancelled</span>
                <?php else:?>   
                <span class="order-placed comonsection active">
                    <span class="image"><img src='<?php echo $this->getViewFileUrl('images/home_ordericon01.png'); ?>'></span>
                    <span class="text">Order Placed</span>
                </span>
                <span class="order-packed comonsection <?php if($status == 'processing' || $status == 'Shipped' ||$status == 'Delivered'){echo 'active';}?>">
                     <span class="image"><img src='<?php echo $this->getViewFileUrl('images/home_ordericon02.png'); ?>'></span>
                    <span class="text">Packed</span>
                </span>
                <span class="order-shipped comonsection <?php if($status == 'Shipped' || $status == 'Delivered'){echo 'active';}?>">
                     <span class="image"><img src='<?php echo $this->getViewFileUrl('images/home_ordericon03.png'); ?>'></span>
                    <span class="text">Shipped</span>
                </span>
                <span class="order-deliver comonsection <?php if($status == 'Delivered'){echo 'active';}?>">
                     <span class="image"><img src='<?php echo $this->getViewFileUrl('images/home_ordericon04.png'); ?>'></span>
                    <span class="text">Delivered</span>
                </span>
            <?php endif;?>
            </div>
    </div>
<?php endforeach;?>
</div>
<?php else:?>
<div class="no-order-container hovereffect" style="display: none;">
    <h2 class="no-orders">No Orders</h2>      
</div>  
<?php endif;?>
<script>
    require(
    ['jquery','owl-carousel'], 
    function($) {
    $('.order-slider').owlCarousel({
            loop: false,
            margin: 0,
            slideSpeed: 1000,
            smartSpeed: 800,
            dots: false,
            items: 1,
            autoplay:true,
            responsiveClass: true,
            scrollPerPage: true,
            lazyLoad: true,
            nav: false,
            slideBy: 1,
            autoPlay: 8000,
            autoplayHoverPause:true
        });
    
}); 
</script>