<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Cart $block */

/** @var \Magento\Wishlist\Model\Item $item */ 
$item = $block->getItem();
$product = $item->getProduct();
?>
<?php foreach ($block->getChildNames() as $childName): ?>
    <?= /* @noEscape */ $block->getLayout()->renderElement($childName, false) ?>
<?php endforeach;?>
<div class="product_wishlist_action_button">
	<div class="box-tocart">
		<fieldset class="fieldset">
		<?php if ($item->canHaveQty() && $product->isVisibleInSiteVisibility()): ?>
			<div class="field qty">
				<label class="label" for="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
				<div class="control">
					<!--<input type="number" data-role="qty" id="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]" class="input-text qty" data-validate="{'required-number':true,'validate-greater-than-zero':true}"
				   name="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]" value="<?= /* @noEscape */ (int)($block->getAddToCartQty($item) * 1) ?>">-->
				   <input type="number" data-role="qty" id="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]" class="input-text qty" data-validate="{'required-number':true,'validate-greater-than-zero':true}"
				   name="qty[<?= $block->escapeHtmlAttr($item->getId()) ?>]" value="1">
				</div>
			</div>
		<?php endif; ?>
		<?php if ($product->isSaleable()): ?>
		<?php
		$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();  
		$helper = $objectManager->create('Webkul\Marketplace\Helper\Data');
		$customerSession = $objectManager->create("Magento\Customer\Model\Session");
		if($customerSession->isLoggedIn()){
		 $customeId = $customerSession->getCustomerId();
		}
	
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$product = $block->getProduct();
$sellerId = '';
$currentProduct = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$marketplaceProduct = $helper->getSellerProductDataByProductId($item->getId());
$addtocartrestriction = $objectManager->get('OM\Rewrite\Helper\Addtocartrestriction');
$is_seller_enabled = $addtocartrestriction->isSellerActive($item->getProductId());

foreach ($marketplaceProduct as $value) {
      $sellerId = $value['seller_id'];
	  
	 /*  echo "<pre>";
	  print_r($value->getData());
	  echo "</pre>";
	   */
}
	
	
		$item->getProductId();
		
		$product_1 = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
		$stock=$product_1->getIsSalable(); 
		 
 
  
 if($sellerId != $customeId)
	{
		
		
		if($stock=='' )
		{
		?>
		<div class="product-item-actions">
			<div class="soldout">
			   <h3>This product is sold out</h3>
			</div>
		</div> 
		<?php
		} else if(!$is_seller_enabled)
		{?>
			<div class="product-item-actions">
			<div class="soldout">
			   <h3>Seller Cannot ship this item</h3>
			</div>
		</div>
	<?php	}
		else
		{	
		?>	
		<div class="product-item-actions">
			<div class="actions-primary">
				
				<button type="button" data-role="tocart" data-post='<?= /* @noEscape */ $block->getItemAddToCartParams($item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>" data-item-id="<?= $block->escapeHtmlAttr($item->getId()) ?>" class="action tocart primary">
					<span><?php  echo $block->escapeHtml(__('Add to Cart')) ?></span>
				</button> 
			</div>
		</div>
		<?php
		}
	}
	else
	{
			echo '<p>You are not allowed to wishlist own product</p>';
	}
	?>
		<?php else: ?>
			<?php if ($product->getIsSalable()): ?>
				<p class="available stock" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
					<span><?= $block->escapeHtml(__('In stock')) ?></span>
				</p>
			<?php else: ?>
				<p class="unavailable stock" title="<?= $block->escapeHtmlAttr(__('Availability')) ?>">
					<span><?= $block->escapeHtml(__('Out of stock')) ?></span>
				</p>
			<?php endif; ?>
		<?php endif; ?>
		</fieldset>
	</div>
	<div>
		<a href="#" data-role="remove" data-post-remove='<?= /* @noEscape */ $block->getItemRemoveParams($block->getItem()) ?>' title="<?= $block->escapeHtmlAttr(__('Remove Item')) ?>" class="btn-remove action delete" onclick="jQuery('.loader_1').show();"> 
			<span><?= $block->escapeHtml(__('Remove item')) ?></span>
		</a>
	</div>
</div>


