<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Customer\Wishlist\Item\Column\Info $block */

/** @var \Magento\Wishlist\Model\Item $item */
$item = $block->getItem();
$product = $item->getProduct();
?>
<div class="product_wishlist_detail">
<strong class="product-item-name">
    <a href="<?= $block->escapeUrl($block->getProductUrl($item)) ?>" title="<?= $block->escapeHtmlAttr($product->getName()) ?>" class="product-item-link">
        <?= $block->escapeHtml($product->getName()) ?>
		<?php
		$size = $product->getAttributeText('size');
		$color = $product->getAttributeText('color');
		?>
    </a>
</strong>
<p class="wishlist_desc">
		
		 <?= $product->getShortDescription() ?>
</p>
<p class="wishlist_item_desc">
		Color : <?php if($color){ echo $color; }else{ echo 'n/a'; } ?> <br/>
		Size : <?php if($size){echo $size; }else{ echo 'n/a';} ?> <br/>
		
</p>
<p class="wishlist_price">
		<?php 
			$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
			echo $abstractProductBlock->getProductPrice($product);
		?>
		<?php
			$specialprice = $product->getSpecialPrice();
			$specialPriceFromDate = $product->getSpecialFromDate();
			$specialPriceToDate = $product->getSpecialToDate();    
			$today = time();
			$price = $product->getPrice();
			if($price){
				$sale = round((($price-$specialprice)/$price)*100);
			}
			if ($specialprice) {
				if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
					<div class="percentage">
						<span class="sale-product-icon">
							<?php if($sale) { echo $sale.'% off'; }  ?>
						</span>
					</div>
				<?php }
			}
		?>
		
</p>
</div>