<?php
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$scopeConfig = $objectManager->get ('\Magento\Framework\App\Config\ScopeConfigInterface');
			$facebook_link = $scopeConfig->getValue('footer/social_media/facebook_link');
			$twitter_link = $scopeConfig->getValue('footer/social_media/twitter_link');
			$youtube_link = $scopeConfig->getValue('footer/social_media/youtube_link');
			$instagram_link = $scopeConfig->getValue('footer/social_media/instagram_link');
			$pinterest_link = $scopeConfig->getValue('footer/social_media/pinterest_link');
			$linked_link = $scopeConfig->getValue('footer/social_media/linkedin_link');

		?>
<div class="ft-socal-icon dddd">
  <ul>
      <?php if(!empty($facebook_link)):?> 
        <li>
          <a class="facebook-color" target="_blank" href="<?php echo $facebook_link;?>">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
		  <?php endif ?>
      <?php if(!empty($twitter_link)):?> 
       <li>
          <a class="twitter-color" target="_blank" href="<?php echo $twitter_link;?>">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
		  <?php endif ?>
      <?php if(!empty($youtube_link)):?> 
       <li>
        <a class="google-color" target="_blank" href="<?php echo $youtube_link;?>">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
        </li>
		  <?php endif ?>
      <?php if(!empty($instagram_link)):?> 
       <li>
         <a class="google-color" target="_blank" href="<?php echo $instagram_link;?>">
          <i class="fa fa-instagram" aria-hidden="true"></i>
         </a>
        </li>
		  <?php endif ?>
      <?php if(!empty($pinterest_link)):?> 
       <li>
         <a class="google-color" target="_blank" href="<?php echo $pinterest_link;?>">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
         </a>
        </li>
		  <?php endif ?>
      <?php if(!empty($linked_link)):?> 
       <li>
         <a class="linkedin-color" target="_blank" href="<?php echo $linked_link;?>">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
         </a>
        </li>
		  <?php endif ?>
  </ul>
</div>

<a id="chevron-upbtn"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

<script>
	require(['jquery'],function($){
		var btn = $('#chevron-upbtn');
    $(window).scroll(function() {
      if ($(window).scrollTop() > 300) {
        btn.addClass('show');
      } else {
        btn.removeClass('show');
      }
    });

    btn.on('click', function(e) {
      e.preventDefault();
      $('html, body').animate({scrollTop:0}, '300');
    });
    $('iframe').load(function () {
      //alert($(this).contents().height());
      $(this).height($(this).contents().height());
  });
	});
</script>

