<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_ProductQuestionAnswer
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$helper = $this->helper('\Webkul\ProductQuestionAnswer\Helper\Data');

$product_id=$block->getCurrentProductId();
$login=0;
if($helper->checkLogin()) {
    $buyer_id = $helper->getCustomerId();
    $readonly = "readonly='readonly'";
    $login=1;
} else {
    $buyer_email = '';
    $buyer_name = '';
    $readonly = '';
    $buyer_id='';
}
$collection = $block->getQuestions();
?>
<div class="box-collateral box-description">
<section class="post-sections-list question-answer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row m-0 justify-content-between align-items-center">
                    <h2 class="sectionproducts-titles">Questions res &amp; Answers</h2>
                </div>
				<div class="question-answer-content">
				  <?php if($collection->getSize()) { ?>
                        <div class="w-100 row m-0 wk-searchbar">
                            <div class="col-12 col-sm-12 col-md-6">
                <div class="search_bar">
                    <input type="text" class="form-control" placeholder="<?php echo __('Search or Ask Question')?>" name="searchqa" id="searchqa" >
                </div>
                
			
                              
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="row m-0 justify-content-between align-items-center">
							<button class="btn btn-gradent search_button "><span><?php echo __('Search')?></span></button>
                                  
                                    <span class="question-total"><?php echo $block->getQuestionsCount() ?> <small>Questions</small></span>
                                    <span class="question-total"><?php echo $block->getAnswersCount() ?>  <small>Answers</small></span>
                                </div>
                            </div>
                        </div>
						<?php
				  }
					  ?> 
                    </div>
					
    <?php if($collection->getSize()) { ?>
      <div class="question-header">

            <h4><a href="<?php echo $block->getUrl('productquestionanswer/productqa/viewall/',['id'=>$product_id]);?>" class="view-all"><?php echo __('View All') ?></a></h4>
            <span class="wk-qa-action" id="wk-qa-action-search">
                <span class="wk-qa-action-label-search"></span>
                <button class="wk-qa-action-button">
                    <span class="wk-qa-action-button-close">Close</span>
                </button>
            </span>
            <span class="wk-qa-action" id="wk-qa-action-helpful">
                <span class="wk-qa-action-label"><?php echo __('Most Helpful') ?></span>
                <button class="wk-qa-action-button">
                    <span class="wk-qa-action-button-close">Close</span>
                </button>
            </span>
            <span class="wk-qa-action" id="wk-qa-action-recent">
                <span class="wk-qa-action-label"><?php echo __('Most Recent') ?></span>
                <button class="wk-qa-action-button">
                    <span class="wk-qa-action-button-close">Close</span>
                </button>
            </span>
            <a href="#wkqa.tab" class="header-links" id="recent"><button class="action primary"><?php echo __('Most Recent')?></button></a>
            <a href="#wkqa.tab" class="header-links" id="helpful"><button class="action primary"><?php echo __('Most Helpful')?></button></a>
        </div>
    <?php } ?>
    <div class="all-questions">
        <?php
        foreach($collection as $key){  ?>
            <div  id="q-<?php echo $key->getQuestionId();?>" class="question-answer-list w-100">
            <div class="question row m-0 align-items-end">
                <!--div class="qlogo"><span>Q</span></div-->
                <div class="ques qlogo question-users" data-title="Q">
                    <div class="subj">
                        <strong><span> <?php echo $key->getSubject(); ?></span></strong>
                    </div>
                    <div class="cont"><span class='wk_prewrap'><?php echo $key->getContent(); ?> </span></div>
                    <div class="ques-user-info"><span><?php echo __('by ')?></span><span class="wk_bold"><?php echo $key->getQaNickname()?></span><span><?php echo __(' on ')?></span><span><?php echo $block->formatDate($key->getCreatedAt(),\IntlDateFormatter::MEDIUM) ?></span><br/>
                    </div>
                </div>
            </div>
            <?php
            $answers=$block->getQuestionAnswers($key->getQuestionId());
            $answer_count = $block->getAnswercount($key->getQuestionId());
            if($answer_count==0){ ?>
                <div class="answer">
                    <div class="alogo no-answers-users" id="q-<?php echo $key->getQuestionId();?>">
					<p>No Answer</p></div>
                    <div class="answ answer-question-btn"><a class="qa-ans"><button class="btn btn-blue"><span><?php echo __('Give Answer')?></span></button></a></div>
                </div>
            <?php
            }else{?>
                <div class="answer row m-0">
                        <!--div class="alogo answers-users" data-title="A" id="q-<?php echo $key->getQuestionId();?>"></div-->
                <?php $i=0;
                foreach($answers as $ans){
                    $likes=0;$dislikes=0;
                    $reviews=$block->getReview($ans->getAnswerId());
                    $if_iscustomer=2;
                    foreach ($reviews as $key) {
                        if($key->getLikeDislike()==1)
                            $likes++;
                        else
                            $dislikes++;
                        if($key->getReviewFrom()==$buyer_id)
                            $if_iscustomer=$key->getLikeDislike();
                    }

                    ?>
                        <div class="answ alogo answers-users" data-title="A" id="q-<?php echo $key->getQuestionId();?>"><p class='wk_prewrap'><?php echo $ans->getContent() ?></p>
                            <span class="user-info"><span><?php echo __('by ')?></span><span class="wk_bold<?php if($ans->getRespondType()=='Admin') echo ' wk_admin'; ?>"><?php echo $ans->getRespondNickname()?></span><span><?php echo __(' on ')?></span><span><?php echo $block->formatDate($ans->getCreatedAt(),\IntlDateFormatter::MEDIUM) ?></span><br/>
                                
                            </span>
                        </div>

                <?php  //
                } if($answer_count>1){?>
	    			<div class="answ more"><a class="qa-ansmore" dataid='<?php echo $ans->getQuestionId();?>' ><span><?php echo __('View More').'('.($answer_count -1).')'?></span></a></div>
	    		</div><?php
				} else {	?>
					<div class="answe answer-question-btn col-12 col-lg-8" ><a class="qa-ans"><button class="btn btn-blue"><span><?php echo __('Give Answer') ?></span></button></a></div>
					<div class="col-12 col-lg-4">
					<div class="reviews w-100">
					<div class="row justify-content-between m-0 review-help">
<span>Was this review helpful?</span>
<span>
                                    <span class="<?php if($if_iscustomer==1) echo 'liked'; else echo 'like';?>" title="like" dataid='<?php echo $ans->getAnswerId();?>' ><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> </span>
                                    <span><?php echo $likes; ?></span>
</span>
<span>
                                    <span class="<?php if($if_iscustomer==0) echo 'disliked'; else echo 'dislike'; ?>" title="dislike" dataid='<?php echo $ans->getAnswerId();?>'><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></span>
                                    <span><?php echo $dislikes; ?></span>
									</span>
                                </div>
								</div>
								</div>
								</div>
					<?php
				}
            }
            ?>
            </div>
        <?php
        }

        ?>
        <div class="mainprt load-more-section">
        <a class="qa-question"><button class="btn-load-more"><span><?php echo __('Ask Question');?></span></button></a>
        </div>

    </div>
    <?php echo $block->getPagerHtml(); ?>
</div>

<!-- answer pop up -->
<div class="ask-que">
    <div id="wk-qa-ask-data" style="display:none">
        <form id="qa-ans-form" method="post" action="#" class="fieldset">
            <div class="modal-body form-list field required">
                <label class="label"><?php echo __('Your Answer') ?> :</label>
                <textarea  name="qa_answer" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
                <label class="label"><?php echo __('Name to Display') ?> :</label>
                <input type="text" name="qa_nickname" class="wk-contact_input_fields required-entry"/>
                <input type="hidden" name="customer_id" value="<?php echo $buyer_id; ?>" >
                <input type="hidden" name="product_id" value="<?php echo $product_id;?>" />
                <input type="hidden" name="question_id" value="" id="question-id">

            </div>
        </form>
    </div>
</div>
<!-- question pop up -->
<div class="ask-que">
    <div id="wk-qa-ask-qa" style="display:none">
        <div>

            <form id="qa-ques-form" method="post" action="#" class="fieldset">
                <div class="form-list field required">
                    <label class="label"><?php echo __('Subject') ?> :</label>
                    <input type="text" name="qa_subject" id="sub" class="wk-contact_input_fields required-entry"/>
                    <label class="label"><?php echo __('Query') ?> :</label>
                    <textarea  name="qa_content" id="content" class="queryquestion wk-contact_input_fields required-entry" style="width:100%;"></textarea>
                    <label class="label"><?php echo __('Name to Display') ?> :</label>
                    <input type="text" name="qa_nickname" id="qa_nickname" class="wk-contact_input_fields required-entry"/>
                    <input type="hidden" name="customer_id" value="<?php echo $buyer_id; ?>" >
                    <input type="hidden" name="product_id" value="<?php echo $product_id;?>" />
                </div>
            </form>
        </div>
    </div>
</div>

 
<script id="question-answertemplate" type="text/x-magento-template">
        <div  id="q-<%- data.question_id %>">
        <div class="question">
            <div class="qlogo"><span>Q</span></div>
            <div class="ques">
                <div class="subj">
                    <strong><span><%- data.subject %></span></strong>
                </div>
                <div class="cont"><span class='wk_prewrap'><%- data.content %></span></div>
                <div class="ques-user-info"><span><?php echo __('by ')?></span><span class="wk_bold"><%- data.qa_nickname %></span><span><?php echo __(' on ')?></span><span><%- data.qa_date %></span><br/>
                        </div>
            </div>
        </div>
            <div class="answer">

                <div class="alogo" id="q-<%- data.question_id %>"><span>A</span></div>
                <div class="answ">
                    <%if (typeof(data.answer_id) !== "undefined") {%>
                        <span class='wk_prewrap'><%- data.answer %></span>
                        <div class="user-info"><span><?php echo __('by ')?></span><span class="wk_bold"><%- data.nickname %></span><span><?php echo __(' on ')?></span><span><%- data.createdat %></span><br/>
                            <div class="reviews">

                                <span class="<%- data.like_class %>" title="like" dataid='<%- data.answer_id %>' ></span>
                                <span><%- data.likes %></span>

                                <span class="<%- data.dislike_class %>" title="dislike" dataid='<%- data.answer_id %>'></span>
                                <span><%- data.dislikes %></span>
                            </div>
                        </div>
                    <% }else{ %>
                        <a class="qa-ans"><button class="action primary"><span><?php echo __('Give Answer')?></span></button></a>
                    <% }%>
                </div>
                <%if ((typeof(data.answer_id) !== "undefined")&&(data.answer_count>1)) {%>
                    <div class="answ more"><a class="qa-ansmore" dataid='<%- data.question_id %>' ><span><?php echo __('View More')?>(<%- data.answer_count-1 %>)</span></a></div>
                <% } else if(data.answer_count==1){ %>
                        <div class="answe"><a class="qa-ans"><button class="action primary"><span><?php echo __('Give Answer') ?></span></button></a></div>
                <% }%>

            </div>
        </div>
		</section>
</script>

<script id="ask-question-template" type="text/x-magento-template">
    <div class="mainprt">
        <span class="no-result"><?php echo __("No matching search result found") ?></span>
        <a class="qa-question"><button class="action primary"><span><?php echo __('Ask Question');?></span></button></a>
    </div>
</script>
<?php
$url = $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
$login_url = $block->getUrl('customer/account/login',
      array('referer' => base64_encode($url))
  );
$formData = [
    'search_url' => $block->getUrl('productquestionanswer/productqa/Searchquestions'),
    'recent_url'  => $block->getUrl('productquestionanswer/productqa/mostrecent'),
    'helpful_url' => $block->getUrl('productquestionanswer/productqa/mosthelpful'),
    'viewall_ans_url' =>$block->getUrl("productquestionanswer/productqa/viewallanswer", ["_secure" => $this->getRequest()->isSecure()]),
    'reviewanswer_url' => $block->getUrl("productquestionanswer/productqa/reviewanswer", ["_secure" => $this->getRequest()->isSecure()]),
    'submitanswer_url'=> $block->getUrl("productquestionanswer/productqa/submitanswer", ["_secure" => $this->getRequest()->isSecure()]),
    'question_url'  => $block->getUrl('productquestionanswer/productqa/savequestion'),
    'product_id' => $product_id,
    'buyer_id'  =>  $buyer_id,
    'islogin'   => $login,
    'login_url' => $login_url
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "mpqa_tab": <?php  echo $serializedFormData; ?>
        }
    }
</script>


<div class="block review-add">
 <div class="block-title"><strong><?= $block->escapeHtml(__('Write Your Own Review')) ?></strong></div>
<div class="block-content">
<?php if ($block->getAllowWriteReviewFlag()): ?>
<form action="<?= $block->escapeUrl($block->getAction()) ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
    <?= $block->getBlockHtml('formkey') ?>
    <?= $block->getChildHtml('form_fields_before') ?>
    <fieldset class="fieldset review-fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <legend class="legend review-legend"><span><?= $block->escapeHtml(__("You're reviewing:")) ?></span><strong><?= $block->escapeHtml($block->getProductInfo()->getName()) ?></strong></legend><br />
        <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
        <span id="input-message-box"></span>
        <fieldset class="field required review-field-ratings">
            <legend class="label"><span><?= $block->escapeHtml(__('Your Rating')) ?></span></legend><br/>
            <div class="control">
                <div class="nested" id="product-review-table">
                    <?php foreach ($block->getRatings() as $_rating): ?>
                        <div class="field choice review-field-rating">
                            <label class="label" id="<?= $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></label>
                            <div class="control review-control-vote">
                            <?php $options = $_rating->getOptions();?>
                            <?php $iterator = 1; foreach ($options as $_option): ?>
                                <input
                                    type="radio"
                                    name="ratings[<?= $block->escapeHtmlAttr($_rating->getId()) ?>]"
                                    id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>"
                                    value="<?= $block->escapeHtmlAttr($_option->getId()) ?>"
                                    class="radio"
                                    data-validate="{'rating-required':true}"
                                    aria-labelledby="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label <?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label" />
                                <label
                                    class="rating-<?= $block->escapeHtmlAttr($iterator) ?>"
                                    for="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>"
                                    title="<?= $block->escapeHtmlAttr(__('%1 %2', $iterator, $iterator > 1 ? __('stars') : __('star'))) ?>"
                                    id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label">
                                    <span><?= $block->escapeHtml(__('%1 %2', $iterator, $iterator > 1 ? __('stars') : __('star'))) ?></span>
                                </label>
                            <?php $iterator++; ?>
                            <?php endforeach; ?>
                            </div>
                        </div>
                    <?php endforeach; ?>
                </div>
                <input type="hidden" name="validate_rating" class="validate-rating" value="" />
            </div>
        </fieldset>
    <?php endif ?>
        <div class="field review-field-nickname required">
            <label for="nickname_field" class="label"><span><?= $block->escapeHtml(__('Nickname')) ?></span></label>
            <div class="control">
                <input type="text" name="nickname" id="nickname_field" class="input-text" data-validate="{required:true}" data-bind="value: nickname()" />
            </div>
        </div>
        <div class="field review-field-summary required">
            <label for="summary_field" class="label"><span><?= $block->escapeHtml(__('Summary')) ?></span></label>
            <div class="control">
                <input type="text" name="title" id="summary_field" class="input-text" data-validate="{required:true}" data-bind="value: review().title" />
            </div>
        </div>
        <div class="field review-field-text required">
            <label for="review_field" class="label"><span><?= $block->escapeHtml(__('Review')) ?></span></label>
            <div class="control">
                <textarea name="detail" id="review_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar review-form-actions">
        <div class="primary actions-primary">
             <button type="submit" id="review_submit_form" class="action submit primary"><span><?= $block->escapeHtml(__('Submit  Review')) ?></span></button>
        </div>  
    </div>    
</form>
<script type="text/x-magento-init">
{
    "[data-role=product-review-form]": {
        "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
    },
    "#review-form": {
        "Magento_Review/js/error-placement": {},
        "Magento_Review/js/validate-review": {}
    }
}
</script> 
<?php else: ?>
    <div class="message info notlogged" id="review-form">
        <div>
            <?= $block->escapeHtml(__('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()), ['a']) ?>
        </div>
    </div>
<?php endif ?>
</div>
</div>

 


    </div>

