
<?php
  
    $footer = $this->getConfig('porto_settings/footer');
?>
<div class="footer">
<?php
    if( $footer['footer_top'] ){
?>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                	<div class="row footer_top_custom_block footerIcons" style="text-align: center;">
                		<div class="col-12 col-sm-6 col-md-3 item">
                			<?php
                			$fbs = $this->getConfig("sw_socialfeeds/facebook_fanboxs");
                			$secure_name = $fbs['secure_name'];
                			$secure_link = $fbs['secure_link'];
                			?>
                			<a href="<?php echo $secure_link;?>">
                				<div class="footer-top-content-box">
                					<div class="icon">
                						<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Card Security.svg'); ?>' alt="image-icon" >
                					</div>
                					<div class="block-title"><span>100% Secure Payment</span></div>
                					<p>We value your security. That’s why all your payments are 100% secure.</p>
                				</div>
                			</a>
                		</div>
                		<div class="col-12 col-sm-6 col-md-3 item">
                			<a href="<?php echo $secure_link;?>">
                				<div class="footer-top-content-box">
                					<div class="icon"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Shield Symbol.svg'); ?>' alt="image-icon" ></div>
                					<div class="block-title"><span>Assurance</span></div>
                					<p>We provide you with easy returns and 100% payment protection.</p>
                				</div>
                			</a>
                		</div>
                		<div class="col-12 col-sm-6 col-md-3 item bottom-item">
                			<a href="<?php echo $secure_link;?>">
                				<div class="footer-top-content-box">
                					<div class="icon"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Customer Care.svg'); ?>' alt="image-icon" ></div>
                					<div class="block-title"><span>Help Center</span></div>
                					<p>We are happy to help you with your queries. Connect with our customer service desk.</p>
                				</div>
                			</a>
                		</div>
                		<div class="col-12 col-sm-6 col-md-3 item bottom-item">
                			<a href="<?php echo $secure_link;?>">
                				<div class="footer-top-content-box">
                					<div class="icon"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Mobile.svg'); ?>' alt="image-icon" ></div>
                					<div class="block-title"><span>Shop on the Go</span></div>
                					<p>Download the app to get exclusive personalized offers, only for you.</p>
                				</div>
                			</a>
                		</div>
                	</div>
                </div>
            </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_middle'] ){
?>
    <div class="footer-middle">
        <div class="container">
        <?php
            if( $footer['footer_ribbon'] ){
        ?>
            <div class="footer-ribbon">
                <span><?php echo $footer['footer_ribbon_text'] ?></span>
            </div>
        <?php
            }
        ?>
            <div class="row">
            <?php
                for( $i = 1; $i <= 4; $i++ ){
                    $area = 'footer_middle_column_'.$i;
                    $type = $footer[$area];
                    if( $type ){
                        echo '<div class="col-lg-'.$footer[$area.'_size'].'">';
                    }
                    if( $type == 'custom' && $footer[$area.'_custom'] ){
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if($block) {
                            $block->setBlockId($footer[$area.'_custom']);
                        }
                        if($block){
                            echo $block->toHtml();
                        }
                    }
                    if( $type == 'newsletter' ){
                        echo $this->getChildHtml('footer.newsletter');
                    }
                    if( $type ){
                        echo '</div>';
                    }
                }
            ?>
            </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_middle_2'] ){
?>
    <div class="footer-middle gf footer-middle-2">
        <div class="container">
            <div class="row">
            	<div class="col-lg-12">
            		<div class="footer-top-inner">
            			<div class="row">
            				<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment_links')->toHtml(); ?>
            				<div class="col-md-6">
            					<div class="block-content textCenter" style="width:100%;float:right;">
            						<div class="social-icons">
            							<div class="block-title"><strong><span>Connect</span></strong></div>
            							<?php
										$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
										$helpers = $objectManager->create('Smartwave\Socialfeeds\Helper\Data');

										$fb = $this->getConfig("sw_socialfeeds/facebook_fanbox");
										$facebook = $fb['facebook_link'];
										$twitter_link = $fb['twitter_link'];
										$youtube_link = $fb['youtube_link'];
										$instagram_link = $fb['instagram_link'];
										$pinterest_link = $fb['pinterest_link'];										
										?>
										<ul class="social-icons">
											<?php if(!empty($facebook))
											{ ?>
												<li>
													<a class="facebook-link" target="_blank" href="<?php echo $facebook;?>">
														<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Facebook2.svg'); ?>' alt="image-icon" />
													</a>
												</li>
											<?php }
											?>
											<?php if(!empty($twitter_link))
											{ ?>
												<li>
													<a class="twitter-link" target="_blank" href="<?php echo $twitter_link;?>">
														<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Twitter2.svg'); ?>' alt="image-icon" />
													</a>
												</li>
											<?php }
											?>
											<?php if(!empty($youtube_link))
											{ ?>
												<li>
													<a class="linkedin-link" target="_blank" href="<?php echo $youtube_link;?>">
														<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Youtube2.svg'); ?>' alt="image-icon" >
													</a>
												</li>
											<?php }
											?>
											<?php if(!empty($instagram_link))
											{ ?>
												<li>
													<a class="linkedin-link" target="_blank" href="<?php echo $instagram_link;?>">
														<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Instagram3.svg'); ?>' alt="image-icon" >
													</a>
												</li>
											<?php }
											?>
											<?php if(!empty($pinterest_link))
											{ ?>
												<li>
													<a class="linkedin-link" target="_blank" href="<?php echo $pinterest_link;?>">
														<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Pintrest2.svg'); ?>' alt="image-icon" >
													</a>
												</li>
											<?php }
											?>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
<?php
    }
    if( $footer['footer_bottom'] ){
?>
   
<?php
    }
?>
<a href="javascript:void(0)" id="totop"><em class="porto-icon-up-open"></em></a>

<?php
if(isset($_GET['seller']))
{	
	if($_GET['seller']==1)
	{	
	?>  
		<script>
	

		require([
				'jquery'
		], function ($) {
		
			$(function() {
				$(this).bind("contextmenu", function(e) {
					e.preventDefault();
				});
			});
			
			$(document).ready(function()
			{
				setTimeout(seller_section,1000);  
				setTimeout(seller_url,500);  
			});	
			
			$(window).on('load', function () {
				setTimeout(seller_section,1000);  
				setTimeout(seller_url,500);  
			});   

			  
		});     
		
		function seller_url()
		{
			jQuery('.profileurl>label').html('Site Name');	 	
			jQuery('#profileurl').attr('placeholder','Shop Name'); 		
			jQuery('#profileurl').attr('title','Shop Name');		 
			setTimeout(seller_url,500);          
		}  

		
		function seller_section()
		{
			 
			var len=jQuery('#wantptr').length;
			
			  
			  
			if(len!=0)
			{	
				//jQuery('.profileurl>label').empty().append('Shop Name');      
				jQuery('#custom_social').hide();  
				jQuery('#wantptr').hide(); 
				jQuery('#wantptr').find('input[name=is_seller]').removeAttr('checked');
				jQuery('input[name=is_seller]:eq(0)').click();	
				jQuery('.password').addClass('custom-password-sec');
				jQuery('.c-group').hide();
				
				jQuery('input[name=group_id]').removeAttr('checked');
				jQuery('input[name=group_id]:eq(0)').click();	 
				jQuery('#show-me').show();        
			} 
		} 	
		  
		</script>
	<?php
	}
} 
else
{	
?>
<script>
require([
		'jquery'
], function ($) {
	
	setTimeout(not_seller_section, 500);  
	 
});       
 
function not_seller_section()  
{
	jQuery('#wantptr').hide();
	setTimeout(not_seller_section, 500);  
}	
  
</script>
<?php
}
?>

<script>
require([
		'jquery'
], function ($) {
	
	
	
	if(jQuery('body').hasClass('customer-account-create'))
	{
		jQuery('#form-validate').find('button[type=submit]').attr('disabled',true);
	
		jQuery('#register-input-custom').click(function()
		{
			if(jQuery('#register-input-custom').prop('checked') == true)
			{
				jQuery('#form-validate').find('button[type=submit]').removeAttr('disabled');
			}
			else
			{
				jQuery('#form-validate').find('button[type=submit]').attr('disabled',true);
			}    
		});	
			
	}	
	
	
	  
});         
</script>    


<script type="text/javascript">
require([
  'jquery',
  'owl.carousel/owl.carousel.min'
], function ($) {
	
	jQuery(window).on('load', function () {
		var asdf=jQuery('.asddff').html();
		
		if(asdf!='')
		{	
			
				setTimeout(function()
				{
				   custom_recsss();
				}, 500);    	
			      
		}                
	});   
	
	    
});    


function custom_recsss()
{
	jQuery('.at-share-btn-elements>a:last').remove();
	
	var len=jQuery('.custom-rec-listing').find('.product-item').length;
	//alert(len);  
	if(len > 4) {  
		
		jQuery('.asddff').find('.product-item').addClass('recomend-sectionss');
		
		setTimeout(function(){
			   jQuery(".custom-rec-listing").owlCarousel({ 
				autoplay: true,  
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				margin: 0,   
				nav: true,  
				navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
				dots: false,
				loop: false,              
				responsive: {   
				  0: {
					items:4
				  },
				  640: {
					items:4
				  },
				  768: {
					items:4
				  },
				  992: {
					items:4
				  },
				  1200: {
					items:4
				  }  
				}
			  });
		 }, 500);	  
	
	}
	
	setTimeout(function()
	{
	   custom_recsss();
	}, 500);  
	   
	 
}	
   
 
</script> 	


<script>

function price_filter_custom()
{
	
	//jQuery('.new_filter_sec').empty();   
	jQuery(".filter-result").detach().appendTo('.new_filter_sec');
	jQuery(".filter-actions").detach().insertAfter('.filter-current'); 
	
	var len=jQuery(".filter-result").length;
	if(len > 1)
	{
		jQuery(".filter-result").each(function()
		{
			jQuery('.filter-result:not(:last)').remove();
			jQuery('.filter-actions:not(:last)').remove();
		});		  
	}  	 	
	
	jQuery('.filter-options-item').each(function()
	{
		var attr=jQuery(this).attr('attribute');
		if(attr!='price')
		{
			jQuery(this).find('form').remove();
		} 
	});  	
	 
	setTimeout(function()
	{
	   price_filter_custom();
	}, 500);    
	
}	  


require([ 
	'jquery'
], function($, customerData, toastr){  
	
	//price_filter_custom();
	
	
	 
	setTimeout(function()
	{
	   price_filter_custom();
	}, 500);  
	
	
	setTimeout(function()
	{
	   checkout_page();
	}, 500);    
	jQuery('table.table-totals').hide();  
	
	
	 
 
		
	
	
});  


function checkout_page()
{
	if(jQuery('body').hasClass('checkout-index-index'))	
	{
		//jQuery('.checkout-agreements').find('input[type=checkbox]').prop('checked',true);
		//jQuery('.checkout-agreements').hide();
		
		jQuery('.opc-progress-bar-item:eq(1)>span').html('Review & Payment');
	} 
	
	setTimeout(function() 
	{
	   checkout_page();
	}, 500);    
	
}


function custom_price_filter()
{
	var url=jQuery('.curr_url').val();
	var from_price=jQuery('.from_price').val();
	var to_price=jQuery('.to_price').val();
	
	
	
	if(from_price=='' || to_price=='')
	{
		alert('Please enter From or To Price');
		return false;	  
	}
	
	if(parseInt(from_price) < parseInt(to_price))
	{
		
		var customurl = ""+url+"?price="+from_price+"-"+to_price+"";
	 
		jQuery.ajax({
			showLoader: true,
			url: customurl,
			dataType: 'json',
			type: "POST" 
		}).done(function (data) {  
			products = data.products;  
			jQuery('#layer-product-list').empty().append(products);
			
			jQuery('#layer-product-list').find('img.porto-lazyload').each(function()
			{
				var data_src=jQuery(this).attr('data-src');
				//alert(data_src); 
				jQuery(this).attr('src',data_src);
				   
			});	
			
			
			return true;  
		});   
		    
		//var str=from_price+'-'+to_price;
		//window.location.href=""+url+"?price="+from_price+"-"+to_price+""; 
		 
	}      
	else  
	{
		alert('Please check entered price inputs');
	}   
}	 
   

</script>	

<script>
require([
  'jquery',
  'owl.carousel/owl.carousel.min'
], function ($) 
{
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(3)').hide();
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(6)').hide(); 
});
</script>  

<script>
require([ 
		'jquery'
], function ($) {
	$(window).on('load', function () {
		$(".loader_1").fadeOut("slow");
		$('body').css('margin','0');	
	}); 

	$(document).ready(function()
	{
		$(".loader_1").fadeOut("slow");
		$('body').css('margin','0');	
		jQuery('<div class="new_filter_sec"></div>').insertBefore('#layer-product-list');
	 
	});	 
 
	
});       
</script>

<script>
require([ 
		'jquery'
], function ($) {
	if(jQuery('body').hasClass('checkout-cart-index'))	
	{
		
		jQuery('#cart-totals').hide(); 
		 
		 setTimeout(function()
		{
		   order_summary();
		}, 500);     
	}  
	
	if(jQuery('body').hasClass('checkout-index-index'))	
	{
		
		/* jQuery('table.table-totals').hide();
		jQuery('table.table-totals').empty();  
		setTimeout(function()
		{
		   checkout_order_summary();
		}, 500);     */

		
		
		//jQuery('.opc-block-summary').hide();
		//jQuery('.opc-block-summary').empty();  
		/* jQuery('#modal-content-16.modal-content').hide();
		jQuery('#modal-content-16.modal-content').empty();
		
		jQuery('#modal-content-17.modal-content').hide();
		jQuery('#modal-content-17.modal-content').empty();
		*/   
		
		setTimeout(function()
		{   
		   checkout_order_summary();    
		}, 500);    
   
		


		
		 
	}   
	    
	 
	 
});   

function order_summary()
{
	
	jQuery('#cart-totals').show(); 
	jQuery('#cart-totals').empty().append('<p>Getting Order Summary...</p>'); 
	  
	jQuery.ajax({   	  	 
		type: "POST",		
		url: "<?php echo $this->getUrl().'customuser/index/cartsummary'?>", 	
		data: "action=OrderSummary",  
		success: function(result)     
		{      
			jQuery('#cart-totals').empty().append(result);	
		},       		
		error: function(e)     
		{	
			console.log(e);	  
		} 	 
	}); 
	
	
	
}

function checkout_order_summary()
{ 
	
	
	var len=jQuery('#opc-sidebar').length;
	if(len > 0)
	{ 	
		
		if(jQuery('#opc-sidebar').hasClass('addedhai'))
		{
			// do nothing
			jQuery('#opc-sidebar').show(); 
		}    
		else  
		{  
			jQuery('#opc-sidebar').empty().append('<p>Getting Order Summary</p>'); 
			
			 jQuery.ajax({   	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/checkoutsummary'?>", 	
				data: "action=OrderSummary",  
				success: function(result)    
				{      
					jQuery('#opc-sidebar').empty().append(result);	
					
				},       		  
				error: function(e)       
				{ 	
					console.log(e);	   
				}  	  
			}); 
			
			jQuery('#opc-sidebar').addClass('addedhai'); 
			
			  
		} 
		
		
		
		
		
	}
	
	
	/* var len=jQuery('#modal-content-17.modal-content').length;
	if(len > 0)
	{	
		jQuery('#opc-shipping_method').show();
		if(jQuery('#modal-content-17.modal-content').hasClass('addedhai'))
		{
			// do nothing
			jQuery('#modal-content-17.modal-content').show(); 
		}    
		else  
		{  
			jQuery('#modal-content-17.modal-content').empty().append('<p>Getting Order Summary</p>'); 
			
			jQuery.ajax({    	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/checkoutsummary'?>", 	
				data: "action=OrderSummary",  
				success: function(result)    
				{      
					jQuery('#modal-content-17.modal-content').empty().append(result);	
					
				},       		  
				error: function(e)      
				{ 	
					console.log(e);	   
				}  	  
			}); 
			
			jQuery('#modal-content-17.modal-content').addClass('addedhai'); 
			
			
		} 
		 
		
	} */
	
	
	
	setTimeout(function()
	{
	   checkout_order_summary();
	}, 500); 
	
	
} 
   
</script>

<script>
require([ 
		'jquery'
], function ($) {
	//jQuery('.normal-page-sec>products').detach().appendTo('.home-page-sec');
	//jQuery('.normal-page-sec').empty();
	
	jQuery('.home-page-sec').detach().appendTo('.custom_dailydeals');
	
	
	//jQuery(".normal-page-sec")
	 
});       
</script>

<script>
require([ 
		'jquery'
], function ($) {
	if(jQuery('body').hasClass('page-with-filter'))
	{
		/* setTimeout(function()
		{
			var price_value=jQuery('#ln_slider_text_price').html();
			//alert(price_value);
			
			var array = price_value.split("-");
			var first='<span>'+array[0]+'</span>';
			var second='<span>'+array[1]+'</span>';
			var full=first+'-'+second;
			jQuery('#ln_slider_text_price').empty().append(full);
			  
			
		}, 1000);    */
		
		
		
		/* setTimeout(function()
		{
			filter_category_dispatch();
		}, 1000);   */
		
		
		
   
		
	} 
}); 	


function filter_category_dispatch()
{
	jQuery('.block-category-list') .detach().appendTo('.new_filter_category_area');
	setTimeout(function()
	{
		filter_category_dispatch();
	}, 1000);  
}	 


</script>



<script> 

function activate_tabs(tab,type)
{
	alert(tab);
		alert(type); 	
	
	if(tab=='1' && type=='open')
	{
		
		
		
		if(jQuery('#shipping').hasClass('close'))
		{
			//		
		}
		else
		{
			jQuery('li#shipping').find('.step-content').slideDown('slow');	
			jQuery('li#shipping').removeClass('close');		
		}
		
		
		if(jQuery('.user_login_order_details').hasClass('close'))
		{
			//		
		}
		else
		{
			jQuery('.user_login_order_details').find('.tab-content-custom').slideDown('slow');	
			jQuery('.user_login_order_details').removeClass('close');		
		}
		
		
		if(jQuery('li#opc-shipping_method').hasClass('close'))
		{
			//
		} 
		else
		{
			jQuery('li#opc-shipping_method').find('.step-content').slideDown('slow');	
			jQuery('li#opc-shipping_method').removeClass('close');	
		}
		
		
	}	
	
	
	if(tab=='2' && type=='open')
	{
		
		if(jQuery('.user_login_details').hasClass('close'))
		{
			//		
		}
		else
		{
			jQuery('.user_login_details').find('.tab-content-custom').slideDown('slow');	
			jQuery('.user_login_details').removeClass('close');		
		}
		 
		
		if(jQuery('.user_login_order_details').hasClass('close'))
		{
			//		
		}
		else
		{
			jQuery('.user_login_order_details').find('.tab-content-custom').slideDown('slow');	
			jQuery('.user_login_order_details').removeClass('close');		
		}
		
		
		if(jQuery('li#opc-shipping_method').hasClass('close'))
		{
			//
		} 
		else
		{
			jQuery('li#opc-shipping_method').find('.step-content').slideDown('slow');	
			jQuery('li#opc-shipping_method').removeClass('close');	
		}
		 
		
	}	
	
	
	
}	

function slide(e)
{
	if(e==1)
	{
		if(jQuery('li.user_login_details').hasClass('close'))
		{
			jQuery('li.user_login_details').find('.tab-content-custom').slideDown();	
			jQuery('li.user_login_details').removeClass('close');	
			//activate_tabs('1','open');	 
		}   
		else
		{
			jQuery('li.user_login_details').find('.tab-content-custom').slideUp();	
			jQuery('li.user_login_details').addClass('close');	  
			//activate_tabs('1','close');	
		} 
	}
	
	if(e==2)
	{
		if(jQuery('li#shipping').hasClass('close'))
		{
			jQuery('li#shipping').find('.step-content').slideDown('slow');	
			jQuery('li#shipping').removeClass('close');	
			//activate_tabs('2','open');	 
		} 
		else
		{
			jQuery('li#shipping').find('.step-content').slideUp('slow');	
			jQuery('li#shipping').addClass('close');	 
			//activate_tabs('2','close');	 	 
		}  
	} 

	if(e==3)
	{
		if(jQuery('.user_login_order_details').hasClass('close'))
		{
			jQuery('.user_login_order_details').find('.tab-content-custom').slideDown('slow');	
			jQuery('.user_login_order_details').removeClass('close');	
		} 
		else
		{
			jQuery('.user_login_order_details').find('.tab-content-custom').slideUp('slow');	
			jQuery('.user_login_order_details').addClass('close');	  
		}  
	} 

	if(e==4)
	{ 
		if(jQuery('li#opc-shipping_method').hasClass('close'))
		{
			jQuery('li#opc-shipping_method').find('.step-content').slideDown('slow');	
			jQuery('li#opc-shipping_method').removeClass('close');	
		} 
		else
		{
			jQuery('li#opc-shipping_method').find('.step-content').slideUp('slow');	
			jQuery('li#opc-shipping_method').addClass('close');	  
		}  
	} 	
	
	
	
	
}	


require([ 
		'jquery'
], function ($) {
	
	setTimeout(function()
	{
		default_payment_addresss();
	}, 500);   
	
});

function default_payment_addresss()
{
	jQuery('.payment-method:eq(0)').find('input[type=radio]').attr('onclick','payment_selected(0);');	
	jQuery('.payment-method:eq(1)').find('input[type=radio]').attr('onclick','payment_selected(1);');	
	
	setTimeout(function() 
	{
		default_payment_addresss();
	}, 500);   
	
	
	
	/*
	var len=jQuery('#checkout-payment-method-load').length;
	if(len > 0)	
	{
		jQuery('#checkout-payment-method-load').addClass('defaultadded');	
		
		if(jQuery('#checkout-payment-method-load').hasClass('defaultadded'))
		{
			
			setTimeout(function()
			{
				jQuery('.payment-method').each(function()
				{
					jQuery('.payment-method').find('input[type=radio]').attr('onclick','asdff();');	
				});	
			}, 500);   
			
			
		}  
		
		
	} 
	else    
	{ 
		setTimeout(function()
		{
			default_payment_addresss();
		}, 500);   
		
		
	}	
	
	*/
	
	
	
	
	 
}

function payment_selected(e)	
{
	if(e==0)
	{
		jQuery.ajax({   	    	
			type: "POST",		
			showLoader: true,
			url: "<?php echo $this->getUrl().'customuser/index/checkoutsummarypayment'?>", 	
			data: "action=OrderSummary&payment=razorpay",  
			success: function(result)    
			{      
				jQuery('#opc-sidebar').empty().append(result);	
			},       		   
			error: function(e)      
			{ 	
				console.log(e);	    
			}  	   
		}); 
	}
	else
	{
		jQuery.ajax({   	    	
			type: "POST",		
			showLoader: true,
			url: "<?php echo $this->getUrl().'customuser/index/checkoutsummarypayment'?>", 	
			data: "action=OrderSummary&payment=cod",  
			success: function(result)     
			{      
				jQuery('#opc-sidebar').empty().append(result);	
			},       	 	   
			error: function(e)      
			{ 	
				console.log(e);	    
			}  	   
		}); 	
	}
}	


function edit_product_qty(prod_id)
{
	//var qty=jQuery('#cart-'+prod_id+'-qty').val(); 
	var qty='4'; 
	
	
	
	jQuery.ajax({   	    	
		type: "POST",		
		showLoader: true,
		url: "<?php echo $this->getUrl().'customuser/index/updateqty'?>", 	
		data: "prod_id="+prod_id+"&qty="+qty,  
		success: function(result)      
		{      
			location.reload();
		},       	 	   
		error: function(e)      
		{ 	
			console.log(e);	    
		}  	   
	}); 	
}	

</script>

    

	