<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$customHelper = $this->helper('OM\HomepageTopProducts\Helper\Data');

?>
<?php if (!$_productCollection->count()) :?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div></div>
<?php else :?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product) :?>
            <li class="item product product-item">
                <?php
                    if($_product->getAttributeText('gms_certified') == 'Yes') {
                        echo '<span class="gms-certified">GMS Certified</span>';
                    }
                ?>
                <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode ?>">
                  <?php /*<div class="companyname">Panasonic</div>*/?>
                    <strong class="product name product-item-name">
                        <a class="product-item-link"
                           href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                            <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </a>
                    </strong>
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    
                    /*$pImage = $productImage->getImageUrl();
                     $imageUrl = $_product->getMediaConfig()->getMediaUrl($_product->getImage());
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
                    $baseUrl = $storeManager->getStore()->getBaseUrl();
                    $pImage = str_replace($baseUrl."pub/media/","",$imageUrl);

                    $fileSystem = $objectManager->create('\Magento\Framework\Filesystem');
                    $mediaPath = $fileSystem->getDirectoryWrite(\Magento\Framework\App\Filesystem\DirectoryList::MEDIA);

                    if ($mediaPath->isFile($pImage)) {
                       echo 'yes';
                    }
                    else{
                        echo 'no';
                    }*/
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                      
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                        <?php if ($_product->isAvailable()) :?>
                            <?= $block->getProductDetailsHtml($_product) ?>
                        <?php endif; ?>

                        
                    </div>
                    
                </div>
                <div class="product-item-inner">
                        <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $block->escapeHtmlAttr($position) : '' ?>>
                            <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <?php if ($_product->isSaleable()) :?>
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <form data-role="tocart-form"
                                          data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>"
                                          action="<?= $block->escapeUrl($postParams['action']) ?>"
                                          method="post">
                                        <input type="hidden"
                                               name="product"
                                               value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                        <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                               value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                        <?= $block->getBlockHtml('formkey') ?>
                                        <button type="submit"
                                                title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                class="action tocart primary">
                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                        </button>
                                    </form>
                                <?php else :?>
                                    <?php if ($_product->isAvailable()) :?>
                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                    <?php else :?>
                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                            <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <?php if ($addToBlock = $block->getChildBlock('addto')) :?>
                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php if ($showDescription) :?>
                            <div class="product description product-item-description">
                                <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                                   title="<?= /* @noEscape */ $_productNameStripped ?>"
                                   class="action more"><?= $block->escapeHtml(__('Learn More')) ?></a>
                            </div>
                        <?php endif; ?>
                    </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    
    <?php if (!$block->isRedirectToCartEnabled()) :?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>


<style>
    .page-products .product-item .weltpixel-quickview {display: none !important;}
</style>

<script>
    require(['jquery'],function($){

        if($('body').hasClass('catalog-category-view')){
        $(window).scroll(function() {    
            var scroll = $(window).scrollTop();
            var window_top = $(window).scrollTop();
            var footer_top = $(".page-footer").offset().top;
            var div_top = $('.sidebar-main').offset().top;
            var div_height = $(".sidebar-main").height();
            var hT = $('.page-footer').offset().top,
           hH = $('.page-footer').outerHeight(),
           wH = $(window).height(),
           wS = $(this).scrollTop();
            if (wS > (hT+hH-wH))
                $('.sidebar-main #layered-filter-block-container').removeClass('sidebar-sticky');    
            else if (window_top > div_top) {
                $('.sidebar-main #layered-filter-block-container').addClass('sidebar-sticky');
            } else {
                $('.sidebar-main #layered-filter-block-container').removeClass('sidebar-sticky');
            } 
        });
        }

     $('.sort-list li a').click(function() {
         $(this).siblings('.sort-list li a').removeClass('active');
         $(this).addClass('active');
      });

      $('.sort-list li').click(function() {
         $(this).siblings().removeClass('active');
         $(this).addClass('active');
      });

     $('.filter-options-item .item a').click(function(e){
        e.preventDefault();
        console.log('sd');
     });
      /*$(window).bind('scroll', function(e){
        if($(window).scrollTop() + window.innerHeight >= $('.page-footer').offset().top)
        {
            $('#ln_product_overlay').css('display','none');
        }
    });*/
        
    });
</script>
</script>
<?php 
$helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$customerId = $helper->getCustomerId();
?>
<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){
var catName = $('.breadcrumbs ul li:last-child strong').text();
var productCount = "<?php echo count($_productCollection)?>";
console.log(catName);  
Countly.q.push(['add_event',{
  "key": "Category_Listing",
  "browser":{
      "Chrome":true
       },
  "segmentation": {
      <?php if($customerId){ ?>
    "categoryName":catName,  
    "web": "yes",
    "product_count":productCount,
    "customerId": "<?php echo $customerId ?>"
     <?php }else{ ?>
       "categoryName":catName,  
      "web": "yes",
      "Guest": "Guest"
      <?php } ?>
  }
}]);

});
</script>