.seller-create-index {
	.newacuntt {
		.login-container {
			.seller-registration-rgt {
				padding-left: 30px;
                position: sticky;
                top: 100px;
                p {
					color: #006bb4;
					font-size: 1.6rem;
					margin-bottom: 15px;
					padding-right: 100px;
					font-weight: bold;
				}
				ol {
					padding-left: 0;
					list-style: none;
					display: flex;
					flex-wrap: wrap;
					li {
						padding: 5px 10px;
						font-size: 12px;
						background: #e8f0fe;
						border-radius: 5px;
						margin: 0 10px 10px 0;
						font-weight: bold;
						color: #263c97;
					}
				}
			}
		}
	}
}
.seller-create-index .newacuntt .login-container .seller-registration-rgt ol li {   
    list-style: auto;
    width: ~"calc(50% - 10px)";
    list-style-position: inside;
}

@media only screen and (max-width:1023px){
    .seller-create-index .newacuntt .login-container .seller-registration-rgt ol li {
        width: ~"calc(50% - 10px)";
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}