<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerId = '';
$active1= '';
$active2= '';
$active3= '';
$active4= '';
if($customerSession->isLoggedIn()) {
$customerId = $customerSession->getCustomerId();
}
$mainFormData = $objectManager->create('OM\SellerForms\Model\MainForm');
$mainData = $mainFormData->getCollection()->addFieldToFilter('customer_id', $customerId);
$realtionshipFormData = $objectManager->create('OM\SellerForms\Model\RelationshipForm');
$realtionshipData = $realtionshipFormData->getCollection()->addFieldToFilter('customer_id', $customerId);
$adminFormData = $objectManager->create('OM\SellerForms\Model\AdministrativeForm');
$adminData = $adminFormData->getCollection()->addFieldToFilter('customer_id', $customerId);
$tptFormData = $objectManager->create('OM\SellerForms\Model\TptForm');
$tptData = $tptFormData->getCollection()->addFieldToFilter('customer_id', $customerId);
if($mainData->getData()){
  $active1= 'active';  
}

if($adminData->getData()){
  $active3= 'active';  
}

if($realtionshipData->getData()){
  $active2= 'active';  
}

if($tptData->getData()){
  $active4 = 'active';  
}

?>
<?php if($customerSession->isLoggedIn()):?>
<div class="seller-form-conatiner">
	<ul class="form-list">
        <li class="<?php echo $active1; ?>">
            <span>Step-1</span>
            <img src='<?php echo $this->getViewFileUrl('images/sellerformconatiner-icon.png'); ?>'>
            <a href="/sellerform/index/mainform">Main Form</a>
        </li>
        <li class="<?php echo $active2; ?>">
            <span>Step-2</span>
            <img src='<?php echo $this->getViewFileUrl('images/sellerformconatiner-icon.png'); ?>'>
            <a href="/sellerform/index/relationshipform">Relationship Declaration</a>
        </li>
        <li class="<?php echo $active3; ?>">
            <span>Step-3</span>
            <img src='<?php echo $this->getViewFileUrl('images/sellerformconatiner-icon.png'); ?>'>
            <a href="/sellerform/index/adimistrative">Adimistrative Service Provider Assessment form</a>
        </li>
        <li class="<?php echo $active4; ?>">
            <span>Step-4</span>
            <img src='<?php echo $this->getViewFileUrl('images/sellerformconatiner-icon.png'); ?>'>
            <a href="/sellerform/index/tpt">TPT Questionnar</a>
        </li>
	</ul>
</div>
<?php else:?>
    <h2>You Need To Login First</h2>
<?php endif;?>