<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerId = '';
$sellerName = '';
$companyName ='';
$companyAddress ='';
if($customerSession->isLoggedIn()) {
$customerId = $customerSession->getCustomerId();
$sellerName = $customerSession->getCustomer()->getName();
$companyName = $customerSession->getCustomer()->getCompanyNam();
$companyAddress = $customerSession->getCustomer()->getCompanyAdd();
}
$mainFormData = $objectManager->create('OM\SellerForms\Model\RelationshipForm');
$formData = $mainFormData->getCollection()->addFieldToFilter('customer_id', $customerId);
?>
<?php if($customerSession->isLoggedIn()):?>
<?php if(!$formData->getData()):?>    
<form class="relationship-form" action="<?php echo $baseUrl?>sellerform/data/relationshipform" method="post">
<input type="hidden" name="customer_id" value="<?php echo $customerId;?>">       
<div class="container administrative relationship">
    <div class="relationship-cls">
    <h2>
        <span>Relationship Declaration</span>
    </h2>
    <div class="contentsection">
        <p>This is to certify that <span class="inputbox"><input type="text" name="seller_name" value="<?php echo $sellerName?>"></span> a proprietorship/partnership/company organised and existing under Indian laws and having its principal office at <span class="inputbox"><input type="text" name="seller_employees" value="<?php echo $companyName?>,<?php echo $companyAddress?>"></span>, its employees, officials or its
representatives (hereinafter referred to as “Partner"), in its dealings with Panasonic India Pvt Ltd. (“hereinafter
referred to as “Panasonic”), or its other agents /representatives / strategic partners and its employees conducting
            business with Panasonic:</p>
    </div>
    <div class="relationinner">
        <h2>1) Goverment Relations</h2>
        <p>Does not have blood or commercial relations, with any of employees of any involved government authority or
institution.</p>
        <div class="input-conatiner">
            <input type="radio" name="govt_relationship" value="yes" class="govt-value" required>
            <label for="yes">Yes</label><br>
            <input type="radio" name="govt_relationship" value="no" class="govt-value">
            <label for="no">No</label><br>
        </div>
        <div class="branchdetails govt-relationship" style="display: none;">
            <p>please provide the following details:</p>
            <div class="fieldsection">
                <div class="fieldcount">
                    <label>Name of Government employee and Designation</label>
                    <input type="text" name="Name of Government employee" value="">
                </div>
                <div class="fieldcount">
                    <label>Place and office of Posting</label>
                    <input type="text" name="Place and office of Posting" value="">
                </div>
                <div class="fieldcount">
                    <label>Relation with the Partner</label>
                    <input type="text" name="Relation with the Partner" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="relationinner">
        <h2>2) COMPANY RELATIONS</h2>
        <p>Does not exercise control or ultimately have a controlling ownership interest, directly or indirectly, with any company or limited liability partnership:</p>
            <div class="input-conatiner">
            <input type="radio" name="company_relationship" value="yes" class="company-value" required>
            <label for="yes">Yes</label><br>
            <input type="radio" name="company_relationship" value="no" class="company-value">
            <label for="no">No</label><br>
            </div>
        <div class="branchdetails company-relationship" style="display: none;">
            <p>Please provide the following details of the relative:</p>
            <div class="fieldsection">
                <div class="fieldcount">
                    <label>Full Name of Beneficial owner/controlling person(s)</label>
                    <input type="text" name="Beneficial owner" value="">
                </div>
                <div class="fieldcount">
                    <label>Relationship Type Owner, Investor, Shareholder, Director</label>
                    <input type="text" name="Relationship Type Owner" value="">
                </div>
                <div class="fieldcount">
                    <label>Number of shares</label>
                    <input type="text" name="Number of shares" value="">
                </div>
                <div class="fieldcount">
                    <label>% holding in the undertaking</label>
                    <input type="text" name="percentage holding" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="relationinner">
        <h2>3) GOVERNMENT TRANSACTIONS</h2>
        <p>Has not entered into or participated in any financial transactions or transactions with any central/state government or authorities or bodies or of its servants in the last 2 years.</p>
        <div class="input-conatiner">
            <input type="radio" name="govt_transaction" value="yes" class="govt-trans-value" required>
            <label for="yes">Yes</label><br>
            <input type="radio" name="govt_transaction" value="no" class="govt-trans-value">
            <label for="no">No</label><br>
            </div>
        <div class="branchdetails govt-transaction" style="display: none;">
             <p>Kindly share the details in below format.</p>
            <div class="fieldsection">
                <div class="fieldcount">
                    <label>Date of Transaction</label>
                    <input type="text" name="Date of Transaction" value="">
                </div>
                <div class="fieldcount">
                    <label>Type of Transaction ( Sale / Purchase)</label>
                    <input type="text" name="Type of Transaction" value="">
                </div>
                <div class="fieldcount">
                    <label>Amount (INR)</label>
                    <input type="text" name="Amount" value="">
                </div>
                <div class="fieldcount">
                    <label>Government Office Details</label>
                    <input type="text" name="Government Office Details" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="relationinner">
        <h2>4) LITIGATION MATTERS</h2>
        <p>Has not been a part of any litigation, pending or disposed, civil or criminal, till date.</p>
         <div class="input-conatiner">
            <input type="radio" name="litigation_matters" value="yes" class="litigation-value" required>
            <label for="yes">Yes</label><br>
            <input type="radio" name="litigation_matters" value="no" class="litigation-value">
            <label for="no">No</label><br>
            </div>
        <div class="branchdetails litigation-matters" style="display: none;">
            <p>kindly share the details in below format.</p>
            <div class="fieldsection">
                <div class="fieldcount">
                    <label>Case No</label>
                    <input type="text" name="Case No" value="">
                </div>
                <div class="fieldcount">
                    <label>Case name with all parties</label>
                    <input type="text" name="Case Name" value="">
                </div>
                <div class="fieldcount">
                    <label>Court / Forum</label>
                    <input type="text" name="Court / Forum" value="">
                </div>
                <div class="fieldcount">
                    <label>Nature of Case</label>
                    <input type="text" name="Nature of Case" value="">
                </div>
                <div class="fieldcount">
                    <label>Next Hearing Date</label>
                    <input type="text" name="Next Hearing Date" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="relationinner">
        <h2>5) CONFLICT OF INTEREST</h2>
        <p>Does not have any conflict of interest with M/s Panasonic India Private Limited. Conflicts of interest may arise in a number of circumstances. These may include: </p>
        <ul>
            <li>i.Having a financial interest, in any supplier, subcontractor, customer or competitor, where the Panasonic employee can influence, or has the appearance of influence over, business dealings or decisions
                affecting that entity,</li>
            <li>ii.Ownership, directly or indirectly, of a substantial interest in, or having effective control of, a client, subcontractor, supplier or other service firm which is currently or potentially doing business with or in competition with Panasonic, or with a present or prospective Panasonic client.</li>
            <li>iii.Acting as an employee, officer, director, partner, consultant, representative, agent, auditor or advisor of a Panasonic competitor, supplier, customer, partner, contractor, or subcontractor, except when so acting at the request of Panasonic</li>
            <li>iv.Misusing or engaging in unapproved disclosures of proprietary or confidential information</li>
            <li>v.Using or diverting Panasonic’s know-how, internal information, equipment, tools, materials, supplies or the time and services of its personnel for any purpose not compatible with Panasonic’s best interests.</li>
            <li>vi.Participating in a focus group or survey and sharing Panasonic know-how where the ultimate
beneficiary of the information is unknown.</li>
            <li>vii.Dealing directly, in the course of normal company responsibilities, with an immediate family member, relatives or others with whom the Panasonic employee has a close personal relationship who are
employed by a supplier, vendor, customer, or competitor of Panasonic.</li>
            <li>
                viii.Serving as a board member for an outside entity, except when such board service is:
                <ul>
                    <li>a. At the request of Panasonic</li>
                    <li>b. For an industry or professional association; or</li>
                    <li>c. For a not-for-profit entity whose activities are unrelated to Panasonic business or
activities, and which does not seek or receive funding from Panasonic, a Panasonic-sponsored
organization, or the Panasonic Foundation.</li>
                    <li>d. Where approved by Panasonic</li>
                </ul>
            </li>
            <li>ix.Having a personal financial involvement with an employee or representative of a supplier, customer, or competitor of Panasonic with whom the Panasonic employee interacts in a business capacity for
Panasonic.</li>
            <li>x.Using Panasonic property, information or assets or an employee’s position with Panasonic for personal
                gain.</li>
            <li>xi.Directly or indirectly owning, trading or dealing in real estate, materials, supplies, equipment or other property with the intent of selling or renting to Panasonic, or its clients.</li>
            <li>xii.Acting as a consultant, advisor, or expert witness in a legal process, such as a lawsuit, administrative proceeding, mediation, arbitration, dispute resolution, government or private investigation, rule-making procedure, or similar process, unless acting at the request of Panasonic</li>
            <li>xiii.Acting as an officer or employee of any government or any department, agency, or entity controlled by the government.</li>
            <li>xiv.Any other activity that might adversely affect Panasonic, its business, or its reputation.</li>
        </ul>
         <div class="input-conatiner">
            <input type="radio" name="conflict_of_interest" value="yes" class="coi-value" required>
            <label for="yes">Yes</label><br>
            <input type="radio" name="conflict_of_interest" value="no" class="coi-value">
            <label for="no">No</label><br>
            </div>
        <div class="branchdetails conflict-of-interest" style="display: none;">
            <p>kindly share the details in below format.</p>
            <div class="fieldsection">
                <div class="fieldcount">
                    <label>Conflicting Party Name</label>
                    <input type="text" name="Conflicting Party Name" value="">
                </div>
                <div class="fieldcount">
                    <label>Department/Body</label>
                    <input type="text" name="conflict_of_interest_department" value="">
                </div>
                <div class="fieldcount">
                    <label>Relationship</label>
                    <input type="text" name="Relationship" value="">
                </div>
            </div>
        </div>
    </div>
    <div class="relationinner" style="display: none;">
        <h2>6) OTHERS</h2>
        <ul>
            <li>COMPLIANCE TRANING: Has provided training programs for all its employees, agents and
representatives in past one year for compliance with applicable Indian laws, rules and regulations including
but not limited to all applicable anti-bribery and anti-corruption laws as amended from time to time</li>
            <li>ii. is not under investigation / charge /prosecution/blacklisting under Indian laws (including but limited to anti-corruption/anti-briber laws) or by any government authority or body.</li>
        </ul>
        <div class="contentsection">
            <p>The Partner hereby agrees that the contents of this declaration and confirm all details provided therein, valid, effective and binding and the same may be deemed to be true and correct. The Partner also agrees that it will notify Panasonic (at the <span><input name="email" value="" type="text"></span>@in.panasonic.com), without any delay of any changes in any or all the above-mentioned details. </p>
            <div class="bottomfield">
                <p>
                    <label>For</label>
                    <span><input type="text" name="For" value=""></span>
                </p>
                <p>
                    <label>Name</label>
                    <span><input type="text" name="Name" value=""></span>
                </p>
                <p>
                    <label>Designation</label>
                    <span><input type="text" name="Designation" value=""></span>
                </p>
                <p>
                    <label>Date</label>
                    <span><input type="text" name="Date" value=""></span>
                </p>
            </div>
        </div>
    </div>
    <div class="fromcalltoaction">
        <div class="fromsubmit">
            <input type="submit" value="Submit">
        </div>
        <div class="preview-form view-form">Preview Form</div>
        <div class="save-for-later preview-form">Save For Later</div>
    </div>
    </div>
</div>
</form>
<script>
require(['jquery'],function($){
$('.view-form').click(function(){
window.print();
});
$('.save-for-later').click(function(){
    $('.relationship-form').submit();
});
});
</script>
<?php else:?>
 <?php /*preview form */?> 
<?php foreach($formData as $formData):?>
<form class="relationship-form" action="<?php echo $baseUrl?>sellerform/data/relationshipeditform" method="post">
<input type="hidden" name="customer_id" value="<?php echo $customerId;?>"> 
<input type="hidden" name="edit_id" value="<?php echo $formData->getData('id');?>">  
    <div class="container administrative relationship">
        <div class="relationship-cls">
            <h2>
                <span>Relationship Declaration</span>
            </h2>
            <div class="contentsection">
                <p>
                    This is to certify that <span class="inputbox"><input type="text" name="seller_name" value="<?php echo $sellerName?>"></span> a proprietorship/partnership/company organised and existing under Indian laws and having its principal office at <span class="inputbox"><input type="text" name="seller_employees" value="<?php echo $companyName?>,<?php echo $companyAddress?>"></span>, its employees, officials or its
                    representatives (hereinafter referred to as “Partner"), in its dealings with Panasonic India Pvt Ltd. (“hereinafter
                    referred to as “Panasonic”), or its other agents /representatives / strategic partners and its employees conducting
                    business with Panasonic:
                </p>
            </div>
            <div class="relationinner">
                <h2>Goverment Relations</h2>
                <p>
                    Does not have blood or commercial relations, with any of employees of any involved government authority or
                    institution.
                </p>
                <div class="input-conatiner">
                    <input type="radio" name="govt_relationship" value="yes" class="govt-value" required <?php if($formData->getData('govt_relations') == "yes") { echo "checked"; }?>>
                    <label for="yes">Yes</label><br>
                    <input type="radio" name="govt_relationship" value="no" class="govt-value" <?php if($formData->getData('govt_relations') == "no") { echo "checked"; }?>>
                    <label for="no">No</label><br>
                </div>
                <div class="branchdetails govt-relationship <?php if($formData->getData('govt_relations') == "yes") { echo "show"; }?>" style="display: none;">
                    <p>please provide the following details:</p>
                    <div class="fieldsection">
                        <div class="fieldcount">
                            <label>Name of Government employee and Designation</label>
                            <input type="text" name="Name of Government employee" value="<?php echo $formData->getData('govt_relations_name_designation')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Place and office of Posting</label>
                            <input type="text" name="Place and office of Posting" value="<?php echo $formData->getData('govt_realtions_place')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Relation with the Partner</label>
                            <input type="text" name="Relation with the Partner" value="<?php echo $formData->getData('govt_relations_partner')?>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="relationinner">
                <h2>COMPANY RELATIONS</h2>
                <p>
                    Does not exercise control or ultimately have a controlling ownership interest, directly or indirectly, with any company or limited liability partnership:
                </p>
                <div class="input-conatiner">
                    <input type="radio" name="company_relationship" value="yes" class="company-value" required <?php if($formData->getData('company_relations') == "yes") { echo "checked"; }?>>
                    <label for="yes">Yes</label><br>
                    <input type="radio" name="company_relationship" value="no" class="company-value" <?php if($formData->getData('company_relations') == "no") { echo "checked"; }?>>
                    <label for="no">No</label><br>
                </div>
                <div class="branchdetails company-relationship <?php if($formData->getData('company_relations') == "yes") { echo "show"; }?>" style="display: none;">
                    <p>Please provide the following details of the relative:</p>
                    <div class="fieldsection">
                        <div class="fieldcount">
                            <label>Full Name of Beneficial owner/controlling person(s)</label>
                            <input type="text" name="Beneficial owner" value="<?php echo $formData->getData('company_relations_name_of_benificial')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Relationship Type Owner, Investor, Shareholder, Director</label>
                            <input type="text" name="Relationship Type Owner" value="<?php echo $formData->getData('company_relations_type')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Number of shares</label>
                            <input type="text" name="Number of shares" value="<?php echo $formData->getData('company_relations_number_of_shares')?>">
                        </div>
                        <div class="fieldcount">
                            <label>% holding in the undertaking</label>
                            <input type="text" name="percentage holding" value="<?php echo $formData->getData('company_relations_holdings')?>">
                        </div>
                    </div>
                </div> 
            </div>
            <div class="relationinner">
                <h2>GOVERNMENT TRANSACTIONS</h2>
                <p>
                    Has not entered into or participated in any financial transactions or transactions with any central/state government or authorities or bodies or of its servants in the last 2 years.
                </p>
                <div class="input-conatiner">
                    <input type="radio" name="govt_transaction" value="yes" class="govt-trans-value" required <?php if($formData->getData('govt_transaction') == "yes") { echo "checked"; }?>>
                    <label for="yes">Yes</label><br>
                    <input type="radio" name="govt_transaction" value="no" class="govt-trans-value" <?php if($formData->getData('govt_transaction') == "no") { echo "checked"; }?>>
                    <label for="no">No</label><br>
                </div>
                <div class="branchdetails govt-transaction <?php if($formData->getData('govt_transaction') == "yes") { echo "show"; }?>" style="display: none;">
                    <p>Kindly share the details in below format.</p>
                    <div class="fieldsection">
                        <div class="fieldcount">
                            <label>Date of Transaction</label>
                            <input type="text" name="Date of Transaction" value="<?php echo $formData->getData('govt_transactions_date')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Type of Transaction ( Sale / Purchase)</label>
                            <input type="text" name="Type of Transaction" value="<?php echo $formData->getData('govt_transactions_type')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Amount (INR)</label>
                            <input type="text" name="Amount" value="<?php echo $formData->getData('govt_transactions_amount')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Government Office Details</label>
                            <input type="text" name="Government Office Details" value="<?php echo $formData->getData('govt_transactions_office_details')?>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="relationinner">
                <h2>LITIGATION MATTERS</h2>
                <p>
                    Has not been a part of any litigation, pending or disposed, civil or criminal, till date.
                </p>
                <div class="input-conatiner">
                    <input type="radio" name="litigation_matters" value="yes" class="litigation-value" required <?php if($formData->getData('litigation_matters') == "yes") { echo "checked"; }?>>
                    <label for="yes">Yes</label><br>
                    <input type="radio" name="litigation_matters" value="no" class="litigation-value" <?php if($formData->getData('litigation_matters') == "no") { echo "checked"; }?>>
                    <label for="no">No</label><br>
                </div>
                <div class="branchdetails litigation-matters <?php if($formData->getData('litigation_matters') == "yes") { echo "show"; }?>" style="display: none;">
                    <p>kindly share the details in below format.</p>
                    <div class="fieldsection">
                        <div class="fieldcount">
                            <label>Case No</label>
                            <input type="text" name="Case No" value="<?php echo $formData->getData('litigation_matters_case_number')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Case name with all parties</label>
                            <input type="text" name="Case Name" value="<?php echo $formData->getData('litigation_matters_case_name')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Court / Forum</label>
                            <input type="text" name="Court / Forum" value="<?php echo $formData->getData('litigation_matters_court')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Nature of Case</label>
                            <input type="text" name="Nature of Case" value="<?php echo $formData->getData('litigation_matters_nature')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Next Hearing Date</label>
                            <input type="text" name="Next Hearing Date" value="<?php echo $formData->getData('litigation_matters_hearing_date')?>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="relationinner">
                <h2>CONFLICT OF INTEREST</h2>
                <p>
                    Does not have any conflict of interest with M/s Panasonic India Private Limited. Conflicts of interest may arise in a number of circumstances. These may include: 
                </p>
                <ul>
                    <li>i.Having a financial interest, in any supplier, subcontractor, customer or competitor, where the Panasonic employee can influence, or has the appearance of influence over, business dealings or decisions
                    affecting that entity,</li>
                    <li>ii.Ownership, directly or indirectly, of a substantial interest in, or having effective control of, a client, subcontractor, supplier or other service firm which is currently or potentially doing business with or in competition with Panasonic, or with a present or prospective Panasonic client.</li>
                    <li>iii.Acting as an employee, officer, director, partner, consultant, representative, agent, auditor or advisor of a Panasonic competitor, supplier, customer, partner, contractor, or subcontractor, except when so acting at the request of Panasonic</li>
                    <li>iv.Misusing or engaging in unapproved disclosures of proprietary or confidential information</li>
                    <li>v.Using or diverting Panasonic’s know-how, internal information, equipment, tools, materials, supplies or the time and services of its personnel for any purpose not compatible with Panasonic’s best interests.</li>
                    <li>vi.Participating in a focus group or survey and sharing Panasonic know-how where the ultimate
                    beneficiary of the information is unknown.</li>
                    <li>vii.Dealing directly, in the course of normal company responsibilities, with an immediate family member, relatives or others with whom the Panasonic employee has a close personal relationship who are
                    employed by a supplier, vendor, customer, or competitor of Panasonic.</li>
                    <li>
                        viii.Serving as a board member for an outside entity, except when such board service is:
                        <ul>
                            <li>a. At the request of Panasonic</li>
                            <li>b. For an industry or professional association; or</li>
                            <li>c. For a not-for-profit entity whose activities are unrelated to Panasonic business or
                            activities, and which does not seek or receive funding from Panasonic, a Panasonic-sponsored
                            organization, or the Panasonic Foundation.</li>
                            <li>d. Where approved by Panasonic</li>
                        </ul>
                    </li>
                    <li>ix.Having a personal financial involvement with an employee or representative of a supplier, customer, or competitor of Panasonic with whom the Panasonic employee interacts in a business capacity for
                    Panasonic.</li>
                    <li>x.Using Panasonic property, information or assets or an employee’s position with Panasonic for personal
                        gain.</li>
                    <li>xi.Directly or indirectly owning, trading or dealing in real estate, materials, supplies, equipment or other property with the intent of selling or renting to Panasonic, or its clients.</li>
                    <li>xii.Acting as a consultant, advisor, or expert witness in a legal process, such as a lawsuit, administrative proceeding, mediation, arbitration, dispute resolution, government or private investigation, rule-making procedure, or similar process, unless acting at the request of Panasonic</li>
                    <li>xiii.Acting as an officer or employee of any government or any department, agency, or entity controlled by the government.</li>
                    <li>xiv.Any other activity that might adversely affect Panasonic, its business, or its reputation.</li>
                </ul>
                <div class="input-conatiner">
                    <input type="radio" name="conflict_of_interest" value="yes" class="coi-value" required <?php if($formData->getData('conflict_of_interest') == "yes") { echo "checked"; }?>>
                    <label for="yes">Yes</label><br>
                    <input type="radio" name="conflict_of_interest" value="no" class="coi-value" <?php if($formData->getData('conflict_of_interest') == "no") { echo "checked"; }?>>
                    <label for="no">No</label><br>
                </div>
                <div class="branchdetails conflict-of-interest <?php if($formData->getData('conflict_of_interest') == "yes") { echo "show"; }?>" style="display: none;">
                    <p>kindly share the details in below format.</p>
                    <div class="fieldsection">
                        <div class="fieldcount">
                            <label>Conflicting Party Name</label>
                            <input type="text" name="Conflicting Party Name" value="<?php echo $formData->getData('conflict_of_interest_party_name')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Department/Body</label>
                            <input type="text" name="conflict_of_interest_department" value="<?php echo $formData->getData('conflict_of_interest_department')?>">
                        </div>
                        <div class="fieldcount">
                            <label>Relationship</label>
                            <input type="text" name="Relationship" value="<?php echo $formData->getData('conflict_of_interest_relationship')?>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="fromcalltoaction">
    <div class="fromsubmit">
        <input type="submit" value="Submit">
    </div>
    <div class="preview-form view-form">Preview Form</div>
    <div class="save-for-later preview-form">Save For Later</div>
    </div>
</form>
<?php endforeach;?>  
<script>
require(['jquery'],function($){
$('.view-form').click(function(){
window.print();
});
$('.save-for-later').click(function(){
    $('.relationship-form').submit();
});
});
</script> 
 <?php endif;?>  
<?php else:?>
<h2>You need to login first</h2>    
<?php endif;?>
<script>
 require(['jquery'],function($){
    $('.govt-value').on('change',function(){
        var govtVal = $('input[name="govt_relationship"]:checked').val();
        if(govtVal == 'yes'){
          $(this).parents('.input-conatiner').siblings('.govt-relationship').show();  
        }
        else{
            $(this).parents('.input-conatiner').siblings('.govt-relationship').hide();  
        }
    });

    $('.company-value').on('change',function(){
        var companyVal = $('input[name="company_relationship"]:checked').val();
        if(companyVal == 'yes'){
          $(this).parents('.input-conatiner').siblings('.company-relationship').show();  
        }
        else{
            $(this).parents('.input-conatiner').siblings('.company-relationship').hide();  
        }
    });

    $('.govt-trans-value').on('change',function(){
        var govtTransVal = $('input[name="govt_transaction"]:checked').val();
        if(govtTransVal == 'yes'){
          $(this).parents('.input-conatiner').siblings('.govt-transaction').show();  
        }
        else{
            $(this).parents('.input-conatiner').siblings('.govt-transaction').hide();  
        }
    });

    $('.litigation-value').on('change',function(){
        var litigationVal = $('input[name="litigation_matters"]:checked').val();
        if(litigationVal == 'yes'){
          $(this).parents('.input-conatiner').siblings('.litigation-matters').show();  
        }
        else{
            $(this).parents('.input-conatiner').siblings('.litigation-matters').hide();  
        }
    });

    $('.coi-value').on('change',function(){
        var coiVal = $('input[name="conflict_of_interest"]:checked').val();
        if(coiVal == 'yes'){
          $(this).parents('.input-conatiner').siblings('.conflict-of-interest').show();  
        }
        else{
            $(this).parents('.input-conatiner').siblings('.conflict-of-interest').hide();  
        }
    });
 });   
</script>