<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$customerId = '';
if($customerSession->isLoggedIn()) {
$customerId = $customerSession->getCustomerId();
}
$mainFormData = $objectManager->create('OM\SellerForms\Model\TptForm');
$formData = $mainFormData->getCollection()->addFieldToFilter('customer_id', $customerId);
?>
<?php if($customerSession->isLoggedIn()):?>
<?php if(!$formData->getData()):?> 
<form class="tpt-form" enctype="multipart/form-data" action="<?php echo $baseUrl?>sellerform/data/tptform" method="post">
<input type="hidden" name="customer_id" value="<?php echo $customerId;?>">           
<div class="container administrative">
    <div class="toptpt">
        <span>By submitting this proposed Third Party Intermediary for compliance review and vetting, I certify that </span>
        <p>(i) The statements and information contained in the submission are, to the best of my knowledge, true, accurate and complete; and (ii) I have read, understood, and will comply with Panasonic’s Anit-corruption Policy</p>
    </div>
    <h2>Business Partner Information</h2>
    <div class="branchdetails">
        <div class="subhed">Initial Data Entry (Part II)</div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Full Name of third party intermediary</label>
                <input type="text" name="full_name" value="" required>
            </div>
            <div class="fieldcount">
                <label>Registered Address</label>
                <input type="text" name="registered_address" value="" required>
            </div>
            <div class="fieldcount">
                <label>City</label>
                <input type="text" name="city" value="" required>
            </div>
            <div class="fieldcount">
                <label>Country</label>
                <input type="text" name="country" value="" required>
            </div>
            <div class="fieldcount">
                <label>Is third party an individual?</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="individual_party" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="individual_party">No</div>
                </div>
            </div>
            <div class="fieldcount">
                <label>Panasonic Region</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="India" name="panasonic_region" required>India</div>
                    <div class="list"><input type="radio" value="South" name="panasonic_region">South</div>
                    <div class="list"><input type="radio" value="Asia" name="panasonic_region">Asia</div>
                    <div class="list"><input type="radio" value="Middle" name="panasonic_region">Middle</div>
                    <div class="list"><input type="radio" value="East & Africa" name="panasonic_region">East & Africa</div>
                </div>
            </div>
            <div class="fieldcount">
                <label>Domain Company</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Automotive Company; PASI" name="company_domain" required>Automotive Company; PASI</div>
                    <div class="list"><input type="radio" value="Connected Solutions" name="company_domain">Connected Solutions Company; PSFSIN</div>
                    <div class="list"><input type="radio" value="Appliance Company" name="company_domain">Appliance Company; PAVCI, PI-APIN, PAPIN</div>
                    <div class="list"><input type="radio" value="Industry Solution Company" name="company_domain">Industry Solution Company; PCIN, PECIN</div>
                    <div class="list"><input type="radio" value="Others" name="company_domain">Others; PI</div>
                    <div class="list"><input type="radio" value="Life Solution Company" name="company_domain">Life Solution Company; PLSIN, PLSEMA, PLSTR, VSTIN</div>
                </div>
            </div>
            <div class="fieldcount">
                <label>Panasonic Entity</label>
                <input type="text" value="Choose from above" placeholder="Choose from above" name="panasonic_entity" value="" required>
            </div>
            <div class="fieldcount">
                <label>Business Sponsor Email</label>
                <input type="text" value="Business Sponsor Email" placeholder="Business Sponsor Email" name="business_sponsor_email" value="" required>
            </div>
        </div>
        <h2>Initial Data Entry (Part II)</h2>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Select the type of third Party or nature of service that will be provided to Panasonic</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Customs Broker" name="servie_provide" required>Customs Broker</div>
                    <div class="list"><input type="radio" value="Distributors" name="servie_provide">Distributors</div>
                    <div class="list"><input type="radio" value="Freight Forwarders" name="servie_provide">Freight Forwarders</div>
                    <div class="list"><input type="radio" value="Health, Safety and Environment Consultant" name="servie_provide">Health, Safety and Environment Consultant </div>
                    <div class="list"><input type="radio" value="Immigration and/or visa service provider" name="servie_provide">Immigration and/or visa service provider</div>
                    <div class="list"><input type="radio" value="Integrator" name="servie_provide">Integrator</div>
                    <div class="list"><input type="radio" value="Lobbyist" name="servie_provide">Lobbyist</div>
                    <div class="list"><input type="radio" value="Lobbyist" name="servie_provide">Other</div>
                    <div class="list"><input type="radio" value="Professional service" name="servie_provide">Professional service provider (e.g. Tax, Legal, Finance and Strategy)</div>
                    <div class="list"><input type="radio" value="Reseller" name="servie_provide">Reseller</div>
                    <div class="list"><input type="radio" value="Sales Agent" name="servie_provide">Sales Agent</div>
                    <div class="list"><input type="radio" value="Sales Consultant" name="servie_provide">Sales Consultant</div>
                    <div class="list"><input type="radio" value="Sales Representatives" name="servie_provide">Sales Representatives</div>
                    <div class="list"><input type="radio" value="Third Party involved" name="servie_provide">Third Party involved in assisting Panasonic with Government inspections, application or renewal of permits and business license</div>
                    <div class="list"><input type="radio" value="Travel Agent" name="servie_provide">Travel Agent</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>If others, then please provide additional details</label>
                <input type="text" value="" placeholder="Enter additional details" name="addtional_details">
            </div>
        </div>
        <div class="subhed">Interactions, communications or dealings with government officials</div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <p>Do you anticipate that, as part of its engagement with Panasonic, the third party intermediary will have any type of interactions, communications or dealings with government officials, government entities, or state-owned enterprises (including sovereign wealth funds)? Any interactions with government officials, government entities, or state-owned enterprises that the third party may have, separate and apart from its engagement with Panasonic, are not applicable.</p>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="govt_dealing" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="govt_dealing">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party have any government ownership, whether whole or partials?</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="govt_ownership" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="govt_ownership">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party recommended or required, directly or through an intermediary, by a government official?</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="required_for_govt_official" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="required_for_govt_official">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party required, directly or indirectly or through an intermediary, by a commercial customer with whom Panasonic is going business or contemplating to do business? </label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="required_for_commercial_customer"required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="required_for_commercial_customer">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>List all country/are where the third party will provide goods and/or services for Panasonic</label>
                <div class="optiontype customradio">
                    <textarea placeholder="List all country/are where the third party will provide goods and/or services for Panasonic" value="" name="country_list"></textarea>
                </div>
            </div>
        </div>
    </div>
     <h2>Secondary Data Entry</h2>
    <div class="branchdetails">
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Describe the proposed compensation structure to the third party</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Fixed Fee" name="compensation_structure">Fixed Fee</div>
                    <div class="list"><input type="radio" value="Not Applicable" name="compensation_structure" required>Not Applicable</div>
                    <div class="list"><input type="radio" value="Rate / Time unit" name="compensation_structure">Rate / Time unit</div>
                    <div class="list"><input type="radio" value="Rebates" name="compensation_structure">Rebates</div>
                    <div class="list"><input type="radio" value="Sales commissions" name="compensation_structure">Sales commissions</div>
                    <div class="list"><input type="radio" value="Success Fees" name="compensation_structure">Success Fees</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Describe the proposed payment method</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Cash Payment" name="proposed_payment_method" required>Cash Payment</div>
                    <div class="list"><input type="radio" value="Not Applicable" name="proposed_payment_method">Cheque / money order</div>
                    <div class="list"><input type="radio" value="Credit Card" name="proposed_payment_method">Credit Card</div>
                    <div class="list"><input type="radio" value="Wire Transfer" name="proposed_payment_method">Wire Transfer</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>What is the value of compensation, either as a whole or estimated invoice/commission amounts, over a 12-month period?</label>
                <div class="optiontype customradio">
                    <textarea placeholder="What is the value of compensation, either as a whole or estimated invoice/commission amounts, over a 12-month period?" name="compensation_value" value=""></textarea>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>What is the currency denomination used in the contract?</label>
                <input type="text" placeholder="Other" name="contract_currency" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Will any part of the compensation be paid to an individual or entity than third party?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="compensation_to_paid" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="compensation_to_paid">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, please provide the business justification for processing payments to the individual or entity referred to in above question</label>
                    <input type="text" name="payment_proccessing" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, please provide legal name of the third party that is the beneficiary of the payment. If the beneficiary is an individual, please do not provide the names but state “individual.”</label>
                    <input type="text" name="beneficiary_payment" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Will any part of the compensation be paid in a country/area other than where the third party is located or will provide goods and/or services to Panasonic?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="compensation_paid_other_country" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="compensation_paid_other_country">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please provide the country/area</label>
                    <input type="text" name="compensation_country_list" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Please provide the business justification for processing payments to the country/area listed above</label>
                    <input type="text" name="business_justification_for_payment" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Will the third party intermediary delegate or subcontract part(s) of its work under its engagement with Panasonic to other third parties, including but not limited to subcontractors, agents and consultants?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="intermediary_delegate" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="intermediary_delegate">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <p style="padding-bottom:20px;">If Yes, please provide additional information regarding any other entities or fourth parties to whom the third party intermediary may delegate or subcontract all or part(s) of its work under its engagement with Panasonic. This may include information regarding some or all of the following questions:</p>
            <div class="fieldcount">
                <label>The names of any additional third party intermediaries (if this is an individual, simply put “individual” and do not provide their name).</label>
                <input type="text" name="intermediary_delegate_name" value="">
            </div>
             <div class="fieldcount">
                <label style="min-height: 52px;">The country/area in which they are located</label>
                <input type="text" name="intermediary_delegate_country" value="">
            </div>
             <div class="fieldcount">
                <label>Any existing affiliations with Panasonic</label>
                <input type="text" name="intermediary_delegate_affiliations" value="">
            </div>
             <div class="fieldcount">
                <label>The business justification for delegating or subcontracting part(s) of the work under its engagement with Panasonic</label>
                <input type="text" name="intermediary_delegate_business_justification" value="">
            </div>
             <div class="fieldcount">
                <label>Any other relevant factors</label>
                <input type="text" name="intermediary_delegate_other" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Do you anticipate that, as part of its engagement with Panasonic, the third party intermediary will have any type of interactions, communications or dealings with government officials, government entities, or state-owned enterprises (including sovereign wealth funds)? Any interactions with government officials, government entities, or state-owned enterprises that the third party intermediary may have, separate and apart from its engagement with Panasonic, are not applicable</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="interactions_with_government_officials" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="interactions_with_government_officials">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please describe the nature and purpose of the interactions, communications or dealings with the government agencies and state-owned enterprises including its names. For data privacy considerations, please do not provide the names and other personal information for individuals.</label>
                    <input type="text" name="interactions_with_government_officials_justification" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary have any government ownership, whether whole or partial?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="government_ownership" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="government_ownership">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please describe the nature of the third party intermediary’s government ownership. This may include information on the national government, ministry, government agency, other department, or state-owned entity that holds a stake in the third party intermediary; whether ownership is direct or through multiple layers of ownership; the percentage of government ownership; or other relevant factors.</label>
                    <input type="text" name="government_ownership_value" placeholder="" value="">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party intermediary recommended or required, directly or through an intermediary, by a Government Official?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official" required>Yes</div>
                    <div class="list"><input type="radio" value="Bank" name="intermediary_required_govt_official">Bank</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please provide additional details regarding (i) why the Government Official recommended or required the third party intermediary and; (ii) the nature of services that it will provide to Panasonic. This may include information regarding some or all of the following questions:</label>
                <div class="optiontype">
                    <div class="list">
                        <p>Is there a legal requirement to engage this particular third party intermediary?</p>
                        <div class="list">
                        <input type="radio" value="Yes" name="intermediary_required_govt_official_value_enage" required>Yes
                        </div>
                        <div class="list">
                        <input type="radio" value="No" name="intermediary_required_govt_official_value_enage">No
                    </div>
                    </div>
                    <div class="list">
                        <p>What was the Government Official’s reason for recommending or requiring this particular third party intermediary?</p>
                        <div class="list">
                        <input type="radio" value="Yes" name="intermediary_required_govt_official_value_reason" required>Yes</div>
                        <div class="list">
                        <input type="radio" value="No" name="intermediary_required_govt_official_value_reason">NO</div>
                    </div>
                    <div class="list">
                        <p>Is there a specific business reason for engaging this third party intermediary other than the Government Official’s requirement / recommendation?</p>
                        <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official_value" required>Yes</div>
                        <div class="list"><input type="radio" value="No" name="intermediary_required_govt_official_value">No</div>
                    </div>
                    <div class="list">
                        <p>Does the Government Official have ownership or control of the third party intermediary?</p>
                        <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official_value_control" required>yes</div>
                        <div class="list"><input type="radio" value="No" name="intermediary_required_govt_official_value_control">No</div>
                    </div>
                    <div class="list">
                        <p>Is the Government Official otherwise affiliated with the third party intermediary’s owners or directors (for example, through family, official, or unofficial relationships)?</p>
                        <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official_value_control_value" required>Yes</div>
                        <div class="list"><input type="radio" value="No" name="intermediary_required_govt_official_value_control_value">No</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party intermediary required, directly or through an intermediary, by a commercial customer with whom Panasonic is doing business or contemplating to do business?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="contemplating" required>Yes</div>
                    <div class="list"><input type="radio" value="Bank" name="contemplating">Bank</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <p>If Yes, please provide additional details. This may include information regarding some or all of the following questions:</p>
            <div class="fieldcount customwidth">
                <div class="optiontype customradio">
                    <div class="list">
                        <p>Is there a legal requirement to engage this particular third party intermediary?</p>
                        <div class="list">
                        <input type="radio" name="contemplating_legal_requirement" value="Yes" required>Yes</div>
                        <div class="list">
                        <input type="radio" name="contemplating_legal_requirement" value="No">No</div>
                    </div>
                </div>
                <div class="optiontype customradio">
                    <div class="list">
                        <p>Is there a specific business reason for engaging this third party intermediary, other than the requestor’s requirement?</p>
                        <div class="list"><input type="radio" name="contemplating_specific_business" value="Yes" required>yes</div>
                        <div class="list"><input type="radio" name="contemplating_specific_business" value="No">No</div>
                        
                    </div>
                </div>
                <div class="optiontype customradio">
                    <div class="list">
                         <p>Does the customer have ownership or control of the third party intermediary?</p>
                        <div class="list"><input type="radio" name="contemplating_customer_ownership" value="Yes" required>Yes</div>
                        <div class="list"><input type="radio" name="contemplating_customer_ownership" value="No">No</div>
                       
                    </div>
                </div>
                <div class="optiontype">
                    <div class="list customradio">
                        <p>Is the customer otherwise affiliated with the third party intermediary’s owners or directors (for example, through family, official, or unofficial relationships)?</p>
                        <div class="list"><input type="radio" name="contemplating_customer_otherwise" value="Yes" required>yes</div>
                        <div class="list"><input type="radio" name="contemplating_customer_otherwise" value="No">No</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <p>I confirm details filled above are best of my knowledge, truthful and accurate, made in good faith, and in compliance with Panasonic code of conduct, and the Anti-corruption policy, and any other applicable policies and / or procedures.</p>
            <div class="fieldcount">
                <label>Employee Signature</label>
                <input type="file" name="employee_signature_1" id="employee_signature_1">
            </div>
            <div class="fieldcount">
                <label>Employee Name</label>
                <input type="text" name="employee_name_1" value="">
            </div>
            <div class="fieldcount">
                <label>Employee Designation</label>
                <input type="text" name="employee_designation_1" value="">
            </div>
            <div class="fieldcount">
                <label>Employee Code</label>
                <input type="text" name="employee_code_1" value="">
            </div>
            <div class="fieldcount">
                <label>Department</label>
                <input type="text" name="department_1" value="">
            </div>
        </div>
    </div>
    <h2>Due Diligence Questionnaire </h2>
    <div class="branchdetails">
        <div class="tobepart">
            (To be filled only if, Initial Data Entry Part 1; Page No.2; Question number 3: Interactions, communications or dealings with government officials answered as “YES”)
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Is the third party intermediary a publicly traded company?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="publicly_traded_company" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="publicly_traded_company">No</div>
                </div>
            </div>
        </div>
         
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are any of the board members, executive officers, or directors as well as their spouses, children, siblings, and/or other relatives considered to be Government Officials?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="govt_official_considered" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="govt_official_considered">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please describe the nature of those relationships (but please do not provide names). This may include information regarding some or all of the following questions: ·Please indicate whether the Government Official is the third party intermediary’s board member, executive officer, or director, or whether the board member, executive officer, or director is a relative of a Government Official. · What positions do they hold in the third party intermediary’s management? · What positions do they hold in the government? Can the Government Official influence the project or work for which the third party intermediary is being engaged? ·Any other relevant factors.</label>
                    <input type="text"name="govt_official_considered_value" value="">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Has the third party intermediary, its owners, board members, principals, directors, other senior executives, employees, agents or subsidiaries/ corporate affiliates been under investigation, prosecuted and/or sanctioned for financial crimes such as corrupt, fraudulent or anti-competitive practices, export control violations, tax evasion or money laundering in the last 2 years?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="under_investigation" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="under_investigation">No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Is yes, please provide additional details regarding the nature of the investigation, litigation proceedings, or sanctions for financial crimes that the third party intermediary, its owners, board members, principals, directors, other senior executives, employees, agents, or subsidiaries / corporate affiliates have been involved in in the last 2 years. Please refrain from including individuals’ names to the extent possible.</label>
                    <input type="text" value="" name="under_investigation_value">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Has the third party intermediary adopted a code of integrity and ethics, code of conduct or similar document/policy that addresses the prevention of bribery of Government Officials or commercial parties?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="prevention_bribery" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="prevention_bribery">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please attach</label>
                <input type="file" name="prevention_bribery_value" id="prevention_bribery_value">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary offer gifts, entertainment, travel, and hospitality to Government Officials or representatives of Government / State-Owned Entities, or other clients?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="offer_entertainment_to_client" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="offer_entertainment_to_client">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Has the third party intermediary established policies and procedures around the offering of gifts, entertainment, travel, and hospitality to Government Officials or representatives of Government / State-Owned Entities, or other clients?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="offering_of_gift" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="offering_of_gift">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please attach</label>
                <input type="file" name="offering_of_gift_value" id="offering_of_gift_value">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party offer charitable contributions, political contributions, or sponsorships?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="political_contribution" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="political_contribution">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please attach</label>
                <input type="file" name="political_contribution_value" id="political_contribution_value">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary provide training on anti-corruption compliance topics?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="training_on_anti_corruption" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="training_on_anti_corruption">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary have accounting controls that ensure the reliability of its accounting systems such that Panasonic could obtain complete, accurate, and timely transaction-level information if needed?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="accounting_control" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="accounting_control">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are the Third Party's books and records subject to an external audit?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="external_audit" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="external_audit">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are any of the owners, board members and/or executive officers of the third party intermediary related to any current or former (within the past 5 years) Panasonic employee?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="is_panasonic_emplyoee" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="is_panasonic_emplyoee">No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are any of the owners, board members, executive officers, and/or employees of the third party intermediary currently working or otherwise doing business with/for any Panasonic entity?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="doing_business_with_panasonic" required>Yes</div>
                    <div class="list"><input type="radio" value="No" name="doing_business_with_panasonic">No</div>
                </div>
            </div>
        </div>
    </div>
<div class="fromcalltoaction">
    <div class="fromsubmit">
        <input type="submit" value="Submit">
    </div>
    <div class="preview-form view-form">Preview Form</div>
    <div class="save-for-later preview-form">Save For Later</div>
</div>
</div>
</form>
<?php else:?>
<?php /*form preview */?>
<?php foreach($formData as $formData):?>
  <form class="tpt-form" enctype="multipart/form-data" action="<?php echo $baseUrl?>sellerform/data/edittptform" method="post">
<input type="hidden" name="customer_id" value="<?php echo $customerId;?>"> 
<input type="hidden" name="edit_id" value="<?php echo $formData->getData('id');?>">           
<div class="container administrative">
    <div class="toptpt">
        <span>By submitting this proposed Third Party Intermediary for compliance review and vetting, I certify that </span>
        <p>(i) The statements and information contained in the submission are, to the best of my knowledge, true, accurate and complete; and (ii) I have read, understood, and will comply with Panasonic’s Anit-corruption Policy</p>
    </div>
    <h2>Business Partner Information</h2>
    <div class="branchdetails">
        <div class="subhed">Initial Data Entry (Part 1)</div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Full Name of third party intermediary</label>
                <input type="text" name="full_name" value="<?php echo $formData->getData('full_name')?>">
            </div>
            <div class="fieldcount">
                <label>Registered Address</label>
                <input type="text" name="registered_address" value="<?php echo $formData->getData('registered_address')?>">
            </div>
            <div class="fieldcount">
                <label>City</label>
                <input type="text" name="city" value="<?php echo $formData->getData('city')?>">
            </div>
            <div class="fieldcount">
                <label>Country</label>
                <input type="text" name="country" value="<?php echo $formData->getData('country')?>">
            </div>
            <div class="fieldcount">
                <label>Is third party an individual?</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="individual_party" required  <?php if($formData->getData('individual_party') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="individual_party"  <?php if($formData->getData('individual_party') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
            <div class="fieldcount">
                <label>Panasonic Region</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="India" name="panasonic_region" required  <?php if($formData->getData('panasonic_region') == "India") { echo "checked"; }?>>India</div>
                    <div class="list"><input type="radio" value="South" name="panasonic_region" <?php if($formData->getData('panasonic_region') == "South") { echo "checked"; }?>>South</div>
                    <div class="list"><input type="radio" value="Asia" name="panasonic_region" <?php if($formData->getData('panasonic_region') == "Asia") { echo "checked"; }?>>Asia</div>
                    <div class="list"><input type="radio" value="Middle" name="panasonic_region" <?php if($formData->getData('panasonic_region') == "Middle") { echo "checked"; }?>>Middle</div>
                    <div class="list"><input type="radio" value="East & Africa" name="panasonic_region" <?php if($formData->getData('panasonic_region') == "East & Africa") { echo "checked"; }?>>East & Africa</div>
                </div>
            </div>
            <div class="fieldcount">
                <label>Domain Company</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Automotive Company; PASI" name="company_domain" required  <?php if($formData->getData('company_domain') == "Automotive Company; PASI") { echo "checked"; }?>>Automotive Company; PASI</div>
                    <div class="list"><input type="radio" value="Connected Solutions" name="company_domain" <?php if($formData->getData('company_domain') == "Connected Solutions") { echo "checked"; }?>>Connected Solutions Company; PSFSIN</div>
                    <div class="list"><input type="radio" value="Appliance Company" name="company_domain" <?php if($formData->getData('company_domain') == "Appliance Company") { echo "checked"; }?>>Appliance Company; PAVCI, PI-APIN, PAPIN</div>
                    <div class="list"><input type="radio" value="Industry Solution Company" name="company_domain" <?php if($formData->getData('company_domain') == "Industry Solution Company") { echo "checked"; }?>>Industry Solution Company; PCIN, PECIN</div>
                    <div class="list"><input type="radio" value="Others" name="company_domain" <?php if($formData->getData('company_domain') == "Others") { echo "checked"; }?>>Others; PI</div>
                    <div class="list"><input type="radio" value="Life Solution Company" name="company_domain" <?php if($formData->getData('company_domain') == "Life Solution Company") { echo "checked"; }?>>Life Solution Company; PLSIN, PLSEMA, PLSTR, VSTIN</div>
                </div>
            </div>
            <div class="fieldcount">
                <label>Panasonic Entity</label>
                <input type="text" name="panasonic_entity" value="<?php echo $formData->getData('panasonic_entity')?>">
            </div>
            <div class="fieldcount">
                <label>Business Sponsor Email</label>
                <input type="text" placeholder="Business Sponsor Email" name="business_sponsor_email" value="<?php echo $formData->getData('business_sponsor_email')?>">
            </div>
        </div>
        <h2>Initial Data Entry (Part II)</h2>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Select the type of third Party or nature of service that will be provided to Panasonic</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Customs Broker" name="servie_provide" required  <?php if($formData->getData('servie_provide') == "Customs Broker") { echo "checked"; }?>>Customs Broker</div>
                    <div class="list"><input type="radio" value="Distributors" name="servie_provide" <?php if($formData->getData('servie_provide') == "Distributors") { echo "checked"; }?>>Distributors</div>
                    <div class="list"><input type="radio" value="Freight Forwarders" name="servie_provide" <?php if($formData->getData('servie_provide') == "Freight Forwarders") { echo "checked"; }?>>Freight Forwarders</div>
                    <div class="list"><input type="radio" value="Health, Safety and Environment Consultant" name="servie_provide" <?php if($formData->getData('servie_provide') == "Health, Safety and Environment Consultant") { echo "checked"; }?>>Health, Safety and Environment Consultant </div>
                    <div class="list"><input type="radio" value="Immigration and/or visa service provider" name="servie_provide" <?php if($formData->getData('servie_provide') == "Immigration and/or visa service provider") { echo "checked"; }?>>Immigration and/or visa service provider</div>
                    <div class="list"><input type="radio" value="Integrator" name="servie_provide" <?php if($formData->getData('servie_provide') == "Integrator") { echo "checked"; }?>>Integrator</div>
                    <div class="list"><input type="radio" value="Lobbyist" name="servie_provide" <?php if($formData->getData('servie_provide') == "Lobbyist") { echo "checked"; }?>>Lobbyist</div>
                    <div class="list"><input type="radio" value="Other" name="servie_provide" <?php if($formData->getData('servie_provide') == "Other") { echo "checked"; }?>>Other</div>
                    <div class="list"><input type="radio" value="Professional service" name="servie_provide" <?php if($formData->getData('servie_provide') == "Professional service") { echo "checked"; }?>>Professional service provider (e.g. Tax, Legal, Finance and Strategy)</div>
                    <div class="list"><input type="radio" value="Reseller" name="servie_provide" <?php if($formData->getData('servie_provide') == "Reseller") { echo "checked"; }?>>Reseller</div>
                    <div class="list"><input type="radio" value="Sales Agent" name="servie_provide" <?php if($formData->getData('servie_provide') == "Sales Agen") { echo "checked"; }?>>Sales Agent</div>
                    <div class="list"><input type="radio" value="Sales Consultant" name="servie_provide" <?php if($formData->getData('servie_provide') == "Sales Consultant") { echo "checked"; }?>>Sales Consultant</div>
                    <div class="list"><input type="radio" value="Sales Representatives" name="servie_provide <?php if($formData->getData('servie_provide') == "Sales Representatives") { echo "checked"; }?>">Sales Representatives</div>
                    <div class="list"><input type="radio" value="Third Party involved" name="servie_provide" <?php if($formData->getData('servie_provide') == "Third Party involved") { echo "checked"; }?>>Third Party involved in assisting Panasonic with Government inspections, application or renewal of permits and business license</div>
                    <div class="list"><input type="radio" value="Travel Agent" name="servie_provide" <?php if($formData->getData('servie_provide') == "Travel Agent") { echo "checked"; }?>>Travel Agent</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>If others, then please provide additional details</label>
                <input type="text" value="<?php echo $formData->getData('addtional_details')?>" placeholder="Enter additional details" name="addtional_details">
            </div>
        </div>
        <div class="subhed">Interactions, communications or dealings with government officials</div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <p>Do you anticipate that, as part of its engagement with Panasonic, the third party intermediary will have any type of interactions, communications or dealings with government officials, government entities, or state-owned enterprises (including sovereign wealth funds)? Any interactions with government officials, government entities, or state-owned enterprises that the third party may have, separate and apart from its engagement with Panasonic, are not applicable.</p>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="govt_dealing" required <?php if($formData->getData('govt_dealing') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="govt_dealing"  <?php if($formData->getData('govt_dealing') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party have any government ownership, whether whole or partials?</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="govt_ownership" required <?php if($formData->getData('govt_ownership') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="govt_ownership" <?php if($formData->getData('govt_ownership') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party recommended or required, directly or through an intermediary, by a government official?</label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="required_for_govt_official" required <?php if($formData->getData('required_for_govt_official') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="required_for_govt_official"  <?php if($formData->getData('required_for_govt_official') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party required, directly or indirectly or through an intermediary, by a commercial customer with whom Panasonic is going business or contemplating to do business? </label>
                <div class="optiontype customradio">
                    <div class="list"><input type="radio" value="Yes" name="required_for_commercial_customer" required  <?php if($formData->getData('required_for_commercial_customer') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="required_for_commercial_customer"  <?php if($formData->getData('required_for_commercial_customer') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>List all country/are where the third party will provide goods and/or services for Panasonic</label>
                <div class="optiontype customradio">
                    <textarea value="<?php echo $formData->getData('country_list')?>" name="country_list"><?php echo $formData->getData('country_list')?></textarea>
                </div>
            </div>
        </div>
    </div>
     <h2>Secondary Data Entry</h2>
    <div class="branchdetails">
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Describe the proposed compensation structure to the third party</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Fixed Fee" name="compensation_structure"  required <?php if($formData->getData('compensation_structure') == "Fixed Fee") { echo "checked"; }?>>Fixed Fee</div>
                    <div class="list"><input type="radio" value="Not Applicable" name="compensation_structure" <?php if($formData->getData('compensation_structure') == "Not Applicable") { echo "checked"; }?>>Not Applicable</div>
                    <div class="list"><input type="radio" value="Rate / Time unit" name="compensation_structure" <?php if($formData->getData('compensation_structure') == "Rate / Time unit") { echo "checked"; }?>>Rate / Time unit</div>
                    <div class="list"><input type="radio" value="Rebates" name="compensation_structure" <?php if($formData->getData('compensation_structure') == "Rebates") { echo "checked"; }?>>Rebates</div>
                    <div class="list"><input type="radio" value="Sales commissions" name="compensation_structure" <?php if($formData->getData('compensation_structure') == "Sales commissions") { echo "checked"; }?>>Sales commissions</div>
                    <div class="list"><input type="radio" value="Success Fees" name="compensation_structure" <?php if($formData->getData('compensation_structure') == "Success Fees") { echo "checked"; }?>>Success Fees</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Describe the proposed payment method</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Cash Payment" name="proposed_payment_method" required <?php if($formData->getData('proposed_payment_method') == "Cash Payment") { echo "checked"; }?>>Cash Payment</div>
                    <div class="list"><input type="radio" value="Not Applicable" name="proposed_payment_method" <?php if($formData->getData('proposed_payment_method') == "Not Applicable") { echo "checked"; }?>>Cheque / money order</div>
                    <div class="list"><input type="radio" value="Credit Card" name="proposed_payment_method" <?php if($formData->getData('proposed_payment_method') == "Credit Card") { echo "checked"; }?>>Credit Card</div>
                    <div class="list"><input type="radio" value="Wire Transfer" name="proposed_payment_method" <?php if($formData->getData('proposed_payment_method') == "Wire Transfer") { echo "checked"; }?>>Wire Transfer</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>What is the value of compensation, either as a whole or estimated invoice/commission amounts, over a 12-month period?</label>
                <div class="optiontype customradio">
                    <textarea placeholder="What is the value of compensation, either as a whole or estimated invoice/commission amounts, over a 12-month period?" name="compensation_value" value=""><?php echo $formData->getData('compensation_value')?></textarea>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>What is the currency denomination used in the contract?</label>
                <input type="text" placeholder="Other" name="contract_currency" value="<?php echo $formData->getData('contract_currency')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Will any part of the compensation be paid to an individual or entity than third party?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="compensation_to_paid" required  <?php if($formData->getData('compensation_to_paid') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="compensation_to_paid" <?php if($formData->getData('compensation_to_paid') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, please provide the business justification for processing payments to the individual or entity referred to in above question</label>
                    <input type="text" name="payment_proccessing" value="<?php echo $formData->getData('payment_proccessing')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, please provide legal name of the third party that is the beneficiary of the payment. If the beneficiary is an individual, please do not provide the names but state “individual.”</label>
                    <input type="text" name="beneficiary_payment" value="<?php echo $formData->getData('beneficiary_payment')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Will any part of the compensation be paid in a country/area other than where the third party is located or will provide goods and/or services to Panasonic?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="compensation_paid_other_country" required <?php if($formData->getData('compensation_paid_other_country') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="compensation_paid_other_country" <?php if($formData->getData('compensation_paid_other_country') == "Yes") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please provide the country/area</label>
                    <input type="text" name="compensation_country_list" value="<?php echo $formData->getData('compensation_country_list')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Please provide the business justification for processing payments to the country/area listed above</label>
                    <input type="text" name="business_justification_for_payment" value="<?php echo $formData->getData('business_justification_for_payment')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Will the third party intermediary delegate or subcontract part(s) of its work under its engagement with Panasonic to other third parties, including but not limited to subcontractors, agents and consultants?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="intermediary_delegate" required <?php if($formData->getData('intermediary_delegate') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="intermediary_delegate" <?php if($formData->getData('intermediary_delegate') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <p style="padding-bottom:20px;">If Yes, please provide additional information regarding any other entities or fourth parties to whom the third party intermediary may delegate or subcontract all or part(s) of its work under its engagement with Panasonic. This may include information regarding some or all of the following questions:</p>
            <div class="fieldcount">
                <label>The names of any additional third party intermediaries (if this is an individual, simply put “individual” and do not provide their name).</label>
                <input type="text" name="intermediary_delegate_name" value="<?php echo $formData->getData('intermediary_delegate_name')?>">
            </div>
             <div class="fieldcount">
                <label style="min-height: 52px;">The country/area in which they are located</label>
                <input type="text" name="intermediary_delegate_country" value="<?php echo $formData->getData('intermediary_delegate_country')?>">
            </div>
             <div class="fieldcount">
                <label style="min-height: 52px;">Any existing affiliations with Panasonic</label>
                <input type="text" name="intermediary_delegate_affiliations" value="<?php echo $formData->getData('intermediary_delegate_affiliations')?>">
            </div>
             <div class="fieldcount">
                <label>The business justification for delegating or subcontracting part(s) of the work under its engagement with Panasonic</label>
                <input type="text" name="intermediary_delegate_business_justification" value="<?php echo $formData->getData('intermediary_delegate_business_justification')?>">
            </div>
             <div class="fieldcount">
                <label>Any other relevant factors</label>
                <input type="text" name="intermediary_delegate_other" value="<?php echo $formData->getData('intermediary_delegate_other')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Do you anticipate that, as part of its engagement with Panasonic, the third party intermediary will have any type of interactions, communications or dealings with government officials, government entities, or state-owned enterprises (including sovereign wealth funds)? Any interactions with government officials, government entities, or state-owned enterprises that the third party intermediary may have, separate and apart from its engagement with Panasonic, are not applicable</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="interactions_with_government_officials" required <?php if($formData->getData('interactions_with_government_officials') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="interactions_with_government_officials" <?php if($formData->getData('interactions_with_government_officials') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please describe the nature and purpose of the interactions, communications or dealings with the government agencies and state-owned enterprises including its names. For data privacy considerations, please do not provide the names and other personal information for individuals.</label>
                    <input type="text" name="interactions_with_government_officials_justification" value="<?php echo $formData->getData('interactions_with_government_officials_justification')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary have any government ownership, whether whole or partial?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="government_ownership" required <?php if($formData->getData('government_ownership') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="government_ownership" <?php if($formData->getData('government_ownership') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please describe the nature of the third party intermediary’s government ownership. This may include information on the national government, ministry, government agency, other department, or state-owned entity that holds a stake in the third party intermediary; whether ownership is direct or through multiple layers of ownership; the percentage of government ownership; or other relevant factors.</label>
                    <input type="text" name="government_ownership_value" placeholder="" value="<?php echo $formData->getData('government_ownership_value')?>">
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party intermediary recommended or required, directly or through an intermediary, by a Government Official?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official" required <?php if($formData->getData('intermediary_required_govt_official') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="Bank" name="intermediary_required_govt_official" <?php if($formData->getData('intermediary_required_govt_official') == "Bank") { echo "checked"; }?>>Bank</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please provide additional details regarding (i) why the Government Official recommended or required the third party intermediary and; (ii) the nature of services that it will provide to Panasonic. This may include information regarding some or all of the following questions:</label>
                <div class="optiontype">
                    <div class="list">
                        <p>Is there a legal requirement to engage this particular third party intermediary?</p>
                        <div class="list">
                        <input type="radio" value="Yes" name="intermediary_required_govt_official_value_enage" required <?php if($formData->getData('intermediary_required_govt_official_value_enage') == "Yes") { echo "checked"; }?>>Yes
                        </div>
                        <div class="list">
                        <input type="radio" value="No" name="intermediary_required_govt_official_value_enage"<?php if($formData->getData('intermediary_required_govt_official_value_enage') == "No") { echo "checked"; }?>>No
                    </div>
                    </div>
                    <div class="list">
                        <p>What was the Government Official’s reason for recommending or requiring this particular third party intermediary?</p>
                        <div class="list">
                        <input type="radio" value="Yes" name="intermediary_required_govt_official_value_reason" required <?php if($formData->getData('intermediary_required_govt_official_value_reason') == "Yes") { echo "checked"; }?>>Yes</div>
                        <div class="list">
                        <input type="radio" value="No" name="intermediary_required_govt_official_value_reason" <?php if($formData->getData('intermediary_required_govt_official_value_reason') == "No") { echo "checked"; }?>>NO</div>
                    </div>
                    <div class="list">
                        <p>Is there a specific business reason for engaging this third party intermediary other than the Government Official’s requirement / recommendation?</p>
                        <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official_value" required <?php if($formData->getData('intermediary_required_govt_official_value') == "Yes") { echo "checked"; }?>>Yes</div>
                        <div class="list"><input type="radio" value="No" name="intermediary_required_govt_official_value" <?php if($formData->getData('intermediary_required_govt_official_value') == "No") { echo "checked"; }?>>No</div>
                    </div>
                    <div class="list">
                        <p>Does the Government Official have ownership or control of the third party intermediary?</p>
                        <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official_value_control" required <?php if($formData->getData('intermediary_required_govt_official_value_control') == "Yes") { echo "checked"; }?>>yes</div>
                        <div class="list"><input type="radio" value="No" name="intermediary_required_govt_official_value_control" <?php if($formData->getData('intermediary_required_govt_official_value_control') == "No") { echo "checked"; }?>>No</div>
                    </div>
                    <div class="list">
                        <p>Is the Government Official otherwise affiliated with the third party intermediary’s owners or directors (for example, through family, official, or unofficial relationships)?</p>
                        <div class="list"><input type="radio" value="Yes" name="intermediary_required_govt_official_value_control_value" required <?php if($formData->getData('intermediary_required_govt_official_value_control_value') == "Yes") { echo "checked"; }?>>Yes</div>
                        <div class="list"><input type="radio" value="No" name="intermediary_required_govt_official_value_control_value" <?php if($formData->getData('intermediary_required_govt_official_value_control_value') == "No") { echo "checked"; }?>>No</div>
                    </div>
                    <div class="list">
                        <p>Any other relevant factors.</p>
                        <div class="list"><input type="radio" value="Yes" name="any_other_relevant_factors">Yes</div>
                        <div class="list"><input type="radio" value="No" name="any_other_relevant_factors" <?php if($formData->getData('intermediary_required_govt_official_value_control_value') == "No") { echo "checked"; }?>>No</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Was the third party intermediary required, directly or through an intermediary, by a commercial customer with whom Panasonic is doing business or contemplating to do business?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="contemplating" required <?php if($formData->getData('contemplating') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="Bank" name="contemplating" <?php if($formData->getData('contemplating') == "Bank") { echo "checked"; }?>>Bank</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <p>If Yes, please provide additional details. This may include information regarding some or all of the following questions:</p>
            <div class="fieldcount customwidth">
                <div class="optiontype customradio">
                    <div class="list">
                        <p>Is there a legal requirement to engage this particular third party intermediary?</p>
                        <div class="list">
                        <input type="radio" name="contemplating_legal_requirement" value="Yes" required <?php if($formData->getData('contemplating_legal_requirement') == "Yes") { echo "checked"; }?>>Yes</div>
                        <div class="list">
                        <input type="radio" name="contemplating_legal_requirement" value="No" <?php if($formData->getData('contemplating_legal_requirement') == "No") { echo "checked"; }?>>No</div>
                    </div>
                </div>
                <div class="optiontype customradio">
                    <div class="list">
                        <p>Is there a specific business reason for engaging this third party intermediary, other than the requestor’s requirement?</p>
                        <div class="list"><input type="radio" name="contemplating_specific_business" value="Yes" required <?php if($formData->getData('contemplating_specific_business') == "Yes") { echo "checked"; }?>>yes</div>
                        <div class="list"><input type="radio" name="contemplating_specific_business" value="No" <?php if($formData->getData('contemplating_specific_business') == "No") { echo "checked"; }?>>No</div>
                        
                    </div>
                </div>
                <div class="optiontype customradio">
                    <div class="list">
                         <p>Does the customer have ownership or control of the third party intermediary?</p>
                        <div class="list"><input type="radio" name="contemplating_customer_ownership" value="Yes" required <?php if($formData->getData('contemplating_customer_ownership') == "Yes") { echo "checked"; }?>>Yes</div>
                        <div class="list"><input type="radio" name="contemplating_customer_ownership" value="No"<?php if($formData->getData('contemplating_customer_ownership') == "No") { echo "checked"; }?>>No</div>
                       
                    </div>
                </div>
                <div class="optiontype">
                    <div class="list customradio">
                        <p>Is the customer otherwise affiliated with the third party intermediary’s owners or directors (for example, through family, official, or unofficial relationships)?</p>
                        <div class="list"><input type="radio" name="contemplating_customer_otherwise" value="Yes" required <?php if($formData->getData('contemplating_customer_otherwise') == "Yes") { echo "checked"; }?>>yes</div>
                        <div class="list"><input type="radio" name="contemplating_customer_otherwise" value="No" <?php if($formData->getData('contemplating_customer_otherwise') == "No") { echo "checked"; }?>>No</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <p>I confirm details filled above are best of my knowledge, truthful and accurate, made in good faith, and in compliance with Panasonic code of conduct, and the Anti-corruption policy, and any other applicable policies and / or procedures.</p>
            <div class="fieldcount">
                <label>Employee Signature</label>
                <input type="file" name="employee_signature_1" id="employee_signature_1">
                <?php if($formData->getData('employee_signature_1')):?>
                <a target="_blank" href="<?php echo $baseUrl?>pub/media/sellerDocx/<?php echo $formData->getData('employee_signature_1')?>">Download attached file</a> 
            <?php endif;?> 
            </div>
            <div class="fieldcount">
                <label>Employee Name</label>
                <input type="text" name="employee_name_1" value="<?php echo $formData->getData('employee_name_1')?>">
            </div>
            <div class="fieldcount">
                <label>Employee Designation</label>
                <input type="text" name="employee_designation_1" value="<?php echo $formData->getData('employee_designation_1')?>">
            </div>
            <div class="fieldcount">
                <label>Employee Code</label>
                <input type="text" name="employee_code_1" value="<?php echo $formData->getData('employee_code_1')?>">
            </div>
            <div class="fieldcount">
                <label>Department</label>
                <input type="text" name="department_1" value="<?php echo $formData->getData('department_1')?>">
            </div>
        </div>
    </div>
    <h2>Due Diligence Questionnaire </h2>
    <div class="branchdetails">
        <div class="tobepart">
            (To be filled only if, Initial Data Entry Part 1; Page No.2; Question number 3: Interactions, communications or dealings with government officials answered as “YES”)
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Is the third party intermediary a publicly traded company?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="publicly_traded_company" required <?php if($formData->getData('publicly_traded_company') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="publicly_traded_company" <?php if($formData->getData('publicly_traded_company') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are any of the board members, executive officers, or directors as well as their spouses, children, siblings, and/or other relatives considered to be Government Officials?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="govt_official_considered" required <?php if($formData->getData('govt_official_considered') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="govt_official_considered" <?php if($formData->getData('govt_official_considered') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If Yes, please describe the nature of those relationships (but please do not provide names). This may include information regarding some or all of the following questions: ·Please indicate whether the Government Official is the third party intermediary’s board member, executive officer, or director, or whether the board member, executive officer, or director is a relative of a Government Official. · What positions do they hold in the third party intermediary’s management? · What positions do they hold in the government? Can the Government Official influence the project or work for which the third party intermediary is being engaged? ·Any other relevant factors.</label>
                    <input type="text"name="govt_official_considered_value" value="<?php echo $formData->getData('govt_official_considered_value')?>">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Has the third party intermediary, its owners, board members, principals, directors, other senior executives, employees, agents or subsidiaries/ corporate affiliates been under investigation, prosecuted and/or sanctioned for financial crimes such as corrupt, fraudulent or anti-competitive practices, export control violations, tax evasion or money laundering in the last 2 years?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="under_investigation" required <?php if($formData->getData('under_investigation') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="under_investigation" <?php if($formData->getData('under_investigation') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Is yes, please provide additional details regarding the nature of the investigation, litigation proceedings, or sanctions for financial crimes that the third party intermediary, its owners, board members, principals, directors, other senior executives, employees, agents, or subsidiaries / corporate affiliates have been involved in in the last 2 years. Please refrain from including individuals’ names to the extent possible.</label>
                    <input type="text" value="<?php echo $formData->getData('under_investigation_value')?>" name="under_investigation_value">
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Has the third party intermediary adopted a code of integrity and ethics, code of conduct or similar document/policy that addresses the prevention of bribery of Government Officials or commercial parties?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="prevention_bribery" required <?php if($formData->getData('prevention_bribery') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="prevention_bribery" <?php if($formData->getData('prevention_bribery') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please attach</label>
                <input type="file" name="prevention_bribery_value" id="prevention_bribery_value">
                <?php if($formData->getData('prevention_bribery_value')):?>
                <a target="_blank" href="<?php echo $baseUrl?>pub/media/sellerDocx/<?php echo $formData->getData('prevention_bribery_value')?>">Download attached file</a> 
            <?php endif;?>  
            </div>
            
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary offer gifts, entertainment, travel, and hospitality to Government Officials or representatives of Government / State-Owned Entities, or other clients?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="offer_entertainment_to_client" required <?php if($formData->getData('offer_entertainment_to_client') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="offer_entertainment_to_client" <?php if($formData->getData('offer_entertainment_to_client') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Has the third party intermediary established policies and procedures around the offering of gifts, entertainment, travel, and hospitality to Government Officials or representatives of Government / State-Owned Entities, or other clients?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="offering_of_gift" required <?php if($formData->getData('offering_of_gift') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="offering_of_gift" <?php if($formData->getData('offering_of_gift') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please attach</label>
                <input type="file" name="offering_of_gift_value" id="offering_of_gift_value">
                <?php if($formData->getData('offering_of_gift_value')):?>
                <a target="_blank" href="<?php echo $baseUrl?>pub/media/sellerDocx/<?php echo $formData->getData('offering_of_gift_value')?>">Download attached file</a> 
                <?php endif;?>  
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party offer charitable contributions, political contributions, or sponsorships?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="political_contribution" required <?php if($formData->getData('political_contribution') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="political_contribution"  <?php if($formData->getData('political_contribution') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>If yes, then please attach</label>
                <input type="file" name="political_contribution_value" id="political_contribution_value">
                <?php if($formData->getData('political_contribution_value')):?>
                <a target="_blank" href="<?php echo $baseUrl?>pub/media/sellerDocx/<?php echo $formData->getData('political_contribution_value')?>">Download attached file</a> 
            <?php endif;?>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary provide training on anti-corruption compliance topics?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="training_on_anti_corruption" required <?php if($formData->getData('training_on_anti_corruption') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="training_on_anti_corruption" <?php if($formData->getData('training_on_anti_corruption') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Does the third party intermediary have accounting controls that ensure the reliability of its accounting systems such that Panasonic could obtain complete, accurate, and timely transaction-level information if needed?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="accounting_control" required <?php if($formData->getData('accounting_control') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="accounting_control" <?php if($formData->getData('accounting_control') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are the Third Party's books and records subject to an external audit?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="external_audit" required <?php if($formData->getData('external_audit') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="external_audit" <?php if($formData->getData('external_audit') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are any of the owners, board members and/or executive officers of the third party intermediary related to any current or former (within the past 5 years) Panasonic employee?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="is_panasonic_emplyoee" required <?php if($formData->getData('is_panasonic_emplyoee') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="is_panasonic_emplyoee" <?php if($formData->getData('is_panasonic_emplyoee') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
         <div class="fieldsection tptfieldcustom">
            <div class="fieldcount customwidth">
                <label>Are any of the owners, board members, executive officers, and/or employees of the third party intermediary currently working or otherwise doing business with/for any Panasonic entity?</label>
                <div class="optiontype">
                    <div class="list"><input type="radio" value="Yes" name="doing_business_with_panasonic" required <?php if($formData->getData('doing_business_with_panasonic') == "Yes") { echo "checked"; }?>>Yes</div>
                    <div class="list"><input type="radio" value="No" name="doing_business_with_panasonic" <?php if($formData->getData('doing_business_with_panasonic') == "No") { echo "checked"; }?>>No</div>
                </div>
            </div>
        </div>
    </div>
    <?php /*
    <h2>Thank you for completing the survey! </h2>
    <div class="branchdetails">
        <div class="tobepart">
            I confirm details filled above are best of my knowledge, truthful and accurate, made in good faith, and in compliance with Panasonic code of conduct, and the Anti-corruption policy, and any other applicable policies and / or procedures.
        </div>
        <div class="fieldsection tptfieldcustom">
            <div class="fieldcount">
                <label>Employee Signature</label>
                <input type="text" name="employee_signature" value="<?php echo $formData->getData('employee_signature_1');?>">
            </div>
            <div class="fieldcount">
                <label>Employee Name</label>
                <input type="text" name="employee_name" value="<?php echo $formData->getData('employee_name_1');?>">
            </div>
            <div class="fieldcount">
                <label>Employee Designation</label>
                <input type="text" name="employee_designation" value="<?php echo $formData->getData('employee_designation_1');?>">
            </div>
            <div class="fieldcount">
                <label>Employee Code</label>
                <input type="text" name="employee_code" value="<?php echo $formData->getData('employee_code_1');?>">
            </div>
            <div class="fieldcount">
                <label>Department</label>
                <input type="text" name="department" value="<?php echo $formData->getData('department_1');?>">
            </div>
        </div>
    </div>
    */?>
<div class="fromcalltoaction">
    <div class="fromsubmit">
        <input type="submit" value="Submit">
    </div>
    <div class="preview-form view-form">Preview Form</div>
    <div class="save-for-later preview-form">Save For Later</div>
</div>
</div>
</form>  
<?php endforeach;?>   
 <?php endif;?>  
<?php else:?>
<h2>You need to login first</h2>    
<?php endif;?>
<script>
require(['jquery'],function($){
$('.view-form').click(function(){
window.print();
});
$('.save-for-later').click(function(){
    $('.tpt-form').submit();
});
});
</script>