<?php 
$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
$mediaurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);  
?>
<div class="contact-detail-popup">
<div class="cdp-icon">
    <img class="click-me-contact" id="click-me" src="<?php echo $mediaurl; ?>om/popup/pop_call_1.png" alt="">
    <img id="close-me" style="display:none" src="<?php echo $mediaurl; ?>om/popup/pop_call-close.png" alt="">
</div>

<div id="popup-modal-contactus"  class="contact-info" style="display:none;">
    <div class="contacts-title title">Contact Details</div>
    <ul>
        <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a class="desktop" href="tel:01244603167">Order status/complaints call: 0124-4603167</a>
        </li>
        <li>
             <i class="fa fa-envelope" aria-hidden="true"></i>
             <a href="<?php echo $this->getBaseUrl(); ?>helpdesk/ticket" class="contact-links">Contact Us</a>
        </li>
    </ul>
</div>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            $(".click-me-contact").on('click',function(){ 
                $("#popup-modal-contactus").toggle();
                $(".click-me-contact").toggle();
                $("#close-me").toggle();
            });
            $("#close-me").on('click',function(){ 
                $("#popup-modal-contactus").toggle();
                $("#close-me").toggle();
                $(".click-me-contact").toggle();
            });
        }
    );
</script>
