
.white-box-section {margin-top: 10px;background: #fff;padding:15px 50px;box-shadow: 0px 2px 5px rgba(0,0,0,.25);
 border-radius: 4px;width: 100%;
  ol {counter-reset: item;
     > li{display: block;
     	 &:before { content: counters(item, ".") " "; counter-increment: item;}
     	}
  }
}

.term-and-condition-content-box{
	       li {font-size: 14px;line-height: 2;color: #282d3b;}

} 

.term-and-condition-content-box ol > li > ol > li:before, .term-and-condition-content-box ol > li:before {
    position: absolute;
    left: 0px;
}
.term-and-condition-content-box ol > li > ol > li, .term-and-condition-content-box ol > li {
    position: relative;
    padding-left: 34px;
}
body{
	 &.cms-page-view{
	    h1 {text-transform: capitalize;padding-bottom: 25px;font-weight: bold;letter-spacing: 1px;}
	    .page-main{
	    	ol{
	    		h2{font-weight: normal;padding-top: 5px;}
	    	}
	    	ul{
	    		h2{font-weight: normal;padding-top: 5px;}
	    	}
	    }
	}
}
 
