<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Helpdesk
 * @author    Webkul
 * @license   https://store.webkul.com/license.html
 */
$id = $this->getRequest()->getParam("entity_id");
$businessHour = $block->getCurrentBusinessHours($id);
$holidays = [];
if (!empty($businessHour->getHollydayList())) {
    $holidays = $block->getSerializer()->unserialize($businessHour->getHollydayList());
}
$months = $block->getMonths();
?>
<div class="entry-edit">
    <div id="holidays_form" class="fieldset">
        <div class="hor-scroll">
            <table style="width:100%;float:left" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="value">
                            <ul class="holiday-list-container">
                                <li class="holidaylist-head">
                                    <span class="date-selection">
                                        <input type="hidden" value="<?php echo date('Y') ?>" name="current_year" class="current_year">
                                        <select class="months" id="months" onchange="updateMonth(this.value, 'days');">
                                            <?php foreach ($months as $key => $month): ?>
                                                <option value="<?php echo $key ?>"><?php echo $month ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                        <select class="days" id="days">
                                            <?php for ($i = 1; $i <= 31; $i++): ?>
                                                <option value="<?php echo $i ?>"><?php echo $i ?></option>
                                            <?php endfor; ?>
                                        </select>
                                    </span>
                                    <span class="holiday-name-block">
                                        <input id="holiday_name" type="text" size="30" placeholder="Holiday name">
                                        <b id="HolidayValidation" class="text_red" style="display: none;"><?php echo __('Holiday already added') ?></b>
                                        <b id="InvalidHoliday" class="text_red" style="display: none;"><?php echo __('Invalid holiday added') ?></b>
                                    </span>
                                    <span class="add-holiday-button-set">
                                        <button class="btn" type="button"><?php echo __('Add Holiday') ?></button>
                                    </span>
                                </li>
                                <?php if (is_array($holidays)): ?>
                                    <?php foreach ($holidays as $holiday): ?>
                                    <li class="holidaylist-row">
                                        <span class="delete-icon"></span>
                                        <span class="holiday-date">
                                            <label><?php echo $months[$holiday['month']]." ".$holiday['day'] ?></label>
                                            <input type="hidden" name="holiday[month][]" value="<?php echo array_search($months[$holiday['month']], $months) ?>">
                                            <input type="hidden" name="holiday[day][]" value="<?php echo $holiday['day'] ?>">
                                        </span>
                                        <span class="holiday-name">
                                            <?php echo $holiday['name'] ?>
                                            <input type="hidden" name="holiday[name][]" value="<?php echo $holiday['name'] ?>">
                                        </span>
                                    </li>
                                    <?php endforeach; ?>
                                <?php endif;?>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script class="holidaylist" type="text/x-jquery-tmpl">
    <li class="holidaylist-row">
        <span class="delete-icon"></span>
        <span class="holiday-date">
            <label><%- data.date %></label>
            <input type="hidden" name="holiday[month][]" value="<%- data.month %>">
            <input type="hidden" name="holiday[day][]" value="<%- data.day %>">
        </span>
        <span class="holiday-name">
            <%- data.name %>
            <input type="hidden" name="holiday[name][]" value="<%- data.name %>">
        </span>
    </li>
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "holidays": {}
        }
    }
</script>
