<style>
.page-header.type1 .block-search
{
    margin: 22px 0 8px 12px !important;
}

/* .goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 
body {
    top: 0px !important; 
    } */

</style>
<?php
    $static_block_id = $this->getConfig('porto_settings/header/static_block');
    $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
    if($block) {
        $block->setBlockId($static_block_id);
    }
    if($block){
		?>
        <div id="google_translate_element" style="display:none;"></div>
        <div class="custom-block">
			<?php
			
			$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');
			$wishlistCollection = $wishlistHelper->getWishlistItemCollection(); 
			$Wishlist_count = $wishlistCollection->count();
			if($Wishlist_count>0){
				?>
				<span class="head_wishlist_count" ><?php echo $Wishlist_count; ?></span>
				<?php
			}else{
				?>
				
				<span class="head_wishlist_count">0</span>
				<?php
			}
			?>
			
			<?php echo $block->toHtml() ?>
		</div>
		
		<div data-block="minicart" class="minicart-wrapper" style="display:none;">
			<a class="action showcart" href="<?php echo $this->getUrl(); ?>checkout/cart/" data-bind="scope: 'minicart_content'">
                <img src="<?php //echo $this->getViewFileUrl('Panasonic_CustomUser::images/ShoppingCartIcon.svg'); ?>" alt="image-icon"> 
				<span class="text">Cart</span>
				
			</a>
		</div>  
		<?php
    }
?>
<script>
require([

'jquery',

], function(jQuery){

    (function($) {

        $(document).ready(function(){

            $('.carousel-add-wishlist').click(function(){
                var parsedJson = $.parseJSON($(this).attr( "dtcustom" ));
                var url = parsedJson.action;
                var data1 = parsedJson.data;
                var current_prod = data1.product;
                var current_uenc = data1.uenc;

                formKey = $('input[name="form_key"]').val();
                var data = {
                    action   : "add-to-wishlist",
                    form_key : formKey,
                    product  : current_prod,
                    uenc     : current_uenc
                }


                $.ajax({

                    url: url,
                    data: data,

                    beforeSend: function(xhr, options) {
                        jQuery('#loading').show();
                    },

                    success: function(data,textStatus,jqXHR){
                        if (textStatus == 'success') {
                            //can't find success message in response html
                        }
                    }
                });
                return false;

            });

        });

    })(jQuery);

});
</script>
<style>
    #google_translate_element { display: inline-flex; position: absolute; top: -24px;  background: none; right: 280px;}
    #google_translate_element select {padding: 0px 10px;height: auto;  border-radius: 2px; background: none; border: none; font-family: 'Exo';}
    #google_translate_element select {color: #fff;}
    #google_translate_element option {color: #000;}
    #google_translate_element option:first-child {color: #000;}
    #google_translate_element::after {content: ''; position: absolute; width: 100%; height: 55%; background: #3f549c ; bottom: -10px;}
    #google_translate_element::before {content: ''; position: absolute; right: 22px; top: 12px; width: 0; height: 0;
    border-left: 5px solid transparent;  border-right: 5px solid transparent;  border-top: 5px solid rgb(255 255 255);
    pointer-events: none;}
    
    @media (min-width: 320px) and (max-width: 767px) {
        #google_translate_element {position: absolute; top: -19px;  background: none; left: 0; border: none;
        width: 30%; z-index: -1;}
        #google_translate_element select {border: none;}
        #google_translate_element::before {right: 0px;}
        #google_translate_element::after {bottom: 0px; width: 130%; height: 50%;}
        .page-header .header.content {padding-top: 15px; z-index: 99;}
    }
    
    
</style>
