.account {
    &.marketplace-product-productlist{
        .table-shadow-design tbody tr.wk-row-view td{
            .wk-pro-divide1 {
                width: 40%;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
                float: none;
            }
            .wk-pro-divide2 {
                width: 58%;
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
                float: none;
                a{
                    color: #3d3d3f;
                    &:hover{
                        color: #f5a622;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &.customer-account-index{
        .page-title-wrapper{
            .page-title{
                display: none;
            }
        }
    }
    .column.main{
        .page-title-wrapper{
            .page-title{
                font-weight: normal;
                font-size: 22px;
                font-family: 'Conv_DINOT-Bold';
                color: #464646;
            }        
        }
    }
    
    .page-wrapper {
        background: #f7f7f7;
    }
    .page-main {
        padding-top: 20px;
    }
    .account-nav {
        .content {
            background: #fff;
            box-shadow: 0 0 4px 4px #eee;
            border-radius: 6px;
            ul {
                li {
                    position: relative;
                    a {
                        font-size: 16px;
                        font-weight: 500;
                        padding: 10px 10px 10px 50px;
                        color: #777777;
                        img {
                            position: absolute;
                            left: 15px;
                            top: 50%;
                            transform: translate(0,-50%);
                            font-size: 22px;
                        }
                        &:hover {
                            color: #0088cc !important;
                            background: none !important;
                        }
                    }
                    &.current {
                        strong {
                            font-size: 16px;
                            font-weight: 400;
                            padding: 10px 10px 10px 50px;
                            color: #000 !important;
                            border: none;
                        }
                        img {
                            position: absolute;
                            left: 15px;
                            top: 45%;
                            transform: translate(0,-50%);
                            font-size: 22px;
                        }
                    }
                    &.user-image {
                        a {
                            font-size: 20px;
                            text-align: left !important;
                            font-weight: 500;
                            color: #5f5882;
                            padding-left: 60px;
                            border-bottom: 1px solid #e8eaef;
                            padding: 20px 20px 20px 70px !important;
                            display: block;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .column {
        &.main {
            background: #fff;
            box-shadow: 0 0 4px 4px #eee;
            border-radius: 6px;
            width: 75%;
            margin-bottom: 40px;
            width: 76% !important;
            padding: 20px;
            .page-title {
                font-weight: 700;
                font-size: 24px;
                margin: 0;
                padding-bottom: 15px;
                border-bottom: solid 1px #ddd;
                margin-bottom: 15px;
            }
            .block {
                &.block-dashboard-addresses {
                    .block-title {
                        a {
                            font-size: 14px;
                            background: #3f549c;
                            padding: 6px 10px;
                            border-radius: 4px;
                            color: #fff;
                            text-shadow: none;
                        }
                    }
                }
            }
            .block-content {
                .box {
                    border: solid 1px #b6b6b7;
                    background: #fff;
                    border-radius: 8px;
                    padding: 20px;
                    .box-title {                        
                        color: #464646;
                        display: inline-block;                       
                        margin-bottom: 10px;                        
                        text-transform: capitalize;
                        font-family: 'Conv_DINOT-Bold';
                        font-weight: normal;
                        span{
                            font-size: 17px;
                        }
                    }
                    .box-content {
                        background: #fff !important;
                        padding: 0px 0px !important;
                        p {
                            color: #787878;
                            font-size: 14px;
                            font-weight: normal;
                            font-family: 'Conv_DINOT-Medium';
                        }
                        address {
                            color: #787878;
                            font-size: 14px;
                            font-weight: normal !important;
                            font-family: 'Conv_DINOT-Medium' !important;
                        }
                    }
                    .box-actions {
                        border-top: solid 1px #ddd !important;
                        background: #fff !important;
                    }
                }
            }
            .block-title {
                strong {
                    font-weight: normal !important;
                    font-size: 22px !important;
                    font-family: 'Conv_DINOT-Bold';
                    color: #464646;
                }
            }
        }
    }
}
.block {
    &.block-reviews-dashboard {
        a {
            font-size: 14px;
            background: #3f549c;
            padding: 6px 10px;
            border-radius: 4px;
            color: #fff;
            text-shadow: none;
            float: right;
        }
    }
}
.block {
    &.block-dashboard-orders {
        .block-title {
            &.order {
                a {
                    font-size: 14px;
                    background: #3f549c;
                    padding: 6px 10px;
                    border-radius: 4px;
                    color: #fff;
                    text-shadow: none;
                    float: right; 
                }
            }
        }
    }
}
.page-title-wrapper .order-date {margin-top: 0px !important;}
.customer-account-index .box .box-actions {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-top: 1px solid #e8eaef;
    padding-top: 18px;
}
.customer-account-index .box-actions .action.edit, .customer-account-index .box-actions .action.change-password {
    color: #787878;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Conv_DINOT-Medium';
    text-transform: uppercase;
}
.customer-address-index .box .box-content address, .box .box-content address {
    font-size: 14px;
    color: #787878;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
}
.customer-account-index .box .box-actions {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
    border-top: 1px solid #e8eaef;
    padding-top: 18px;
}
.block {
    &.account-nav {
        &.block-collapsible-nav {
            &.wk-mp-main {
                margin-bottom: 30px;
                .account-nav {
                    .page-title {
                        font-size: 24px;
                        color: #000000;
                        font-weight: 600;
                        padding: 10px 20px 15px;
                        width: 100%;
                        border-bottom: 1px solid #e8eaef;
                        margin: 0 0 15px 0;
                    }
                    ul {
                        li {
                            width: 100%;
                            i {
                                position: absolute;
                                left: 15px;
                                top: 50%;
                                transform: translate(0,-50%);
                                font-size: 22px;
                            }
                            &.current {
                                background: #f3a626;
                                color: #fff;
                                strong {
                                    color: #fff !important;
                                    i {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.wk-mp-design {
    &.wk-mp-design2 {
        .legend {
            border: none;
            font-size: 20px;
            font-weight: 600;
            color: #6c6c6c;
        }
        .grid {
            .export-list-rma {
                float: right;
                color: #fff;
                font-family: 'Conv_DINOT-Medium';
                font-size: 16px;
                text-decoration: none;
                transition: .5s all ease;
                background: #273c97;
                border-radius: 30px;
                text-align: center;
                display: inline-block;
                width: auto;
                font-weight: normal;
                padding: 10px 30px !important;
                margin-bottom: 20px;
            }
            td {
                border: none;
            }
        }
    }
}
.table-shadow-design thead tr th {
    border: 0px !important;
    vertical-align: middle;
    font-size: 14px;
    padding: 10px 10px !important;
    font-weight: 600;
    color: #000;
    background: #eaeaea !important;
}
.table-shadow-design tbody tr.wk-row-view {
    box-shadow: 0px 0px 10px #eee;
    border-radius: 4px;
}
.Processing {
    color: #f3a626;
}
.Solved {
    color: #1e7e34;
}
.Declined {
    color: red;
}
.table-shadow-design tbody tr.wk-row-view td a {
    color: #3f549c;
    font-weight: 600;
}

.wk-mp-design .fieldset > .legend, .marketplace-account-editprofile form .page-title {
    margin: 0px 0px 20px;
    padding: 0px;
    width: 100%;
    border: 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wk-mp-fieldset .button{
    font-weight: normal !important;
    border-radius: 3px;
}

.account.marketplace-account-rmalisting{
    .wk-mp-design.wk-mp-design2{
        .fieldset.info.wk-mp-fieldset {
            padding: 0;
            .wk-row-view{
                .button{
                    padding: 0px 15px !important;
                    border-radius: 0;
                    height: 32px;
                    line-height: 28px;
                }
            } 
        }
    } 
} 
.account.rms-rma-view{
    .form_main_div.process-return-content {
        margin: 2% 0;
    }
    .process-return-content{        
        #return_management_form{
            .rm_form_div{
                button {
                    background: #273c97;
                    border: none;
                    border-radius: 3px;
                    margin-top: 10px;
                    font-weight: normal;
                    transition: .5s all ease;
                    box-shadow: none;
                    color: #fff;
                    font-size: 16px;
                    line-height: normal;
                    height: auto;
                    text-transform: uppercase;
                    font-family: 'Conv_DINOT-Medium';
                    &:hover{
                        background: #f5a622;
                        border: 1px solid #f5a622;
                    }
                }
            } 
        } 
    } 
} 
.account.mpreportsystem-report-index{
    .wkreport_header.wk_sales_graph_outer{
        #generate-report{
            .wk_sales_graph.wk_graph_border{
                .wk-filter-buttons{
                    .wk-selected-filter-button {
                        background-color: #273c97;
                        border-right: 1px solid #273c97;
                        box-shadow: inset 0 1px 0 0 #273c97, inset 0 -1px 0 0 #273c97;
                    }
                } 
            } 
        } 
    } 
    .wk-mp-design fieldset.fieldset.info {
        padding: 0px 0px;
    }
    .table-wrapper{
        .table-shadow-design tbody tr.wk-row-view td{
            width: auto;
        }
    } 
} 

.account.customer-account-edit{
    .form-edit-account{
        .fieldset{
            width: 100%;
        }
        .edit_additional_fields {
            float: left;
            width: 100%;
            .col-lg-6{
                width: 50%;
                float: left;
            }
        }
        #company_details{
            .edit_additional_fields{
                .field{
                    margin-bottom: 10px;
                    .label{
                        font-size: 14px;
                        color: #6c6d70;
                        font-weight: normal;
                    }
                    .control{
                        .input-text{
                            border-radius: 10px;
                            border: 1px solid #000;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
    .row.newacuntt {
        margin-left: 0;
        margin-right: 0;
    } 
} 

.account.rmasystem-index-index{
    #wk_rma_new_request{
        a {
            line-height: 50px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    } 
} 

.account.newsletter-manage-index{
    #connector-newsletter-form-validate {
        margin-top: 20px;
    }
}
.account.marketplace-order-sellerdashboard{
    .sellerdashbord {
        padding: 0;
        .topsellingprodcut {
            padding: 0px 0 0px 0;
        }
    }
} 
.account.marketplace-order-report{

}
.account {
    select{
        -webkit-appearance: revert;
        -moz-appearance: revert;
        -ms-appearance: revert;
        appearance: revert;
    }
    .wk-mp-btn{
        background: #273c97;
        color: #fff;
        border: 1px solid #273c97;
        box-shadow: none !important;
        border-radius: 4px !important;
        font-weight: normal;
        font-family: 'Conv_DINOT-Medium';
        &:hover{
            background: #f5a622;
            color: #fff;
            border: 1px solid #f5a622;
        }
    }
}
.account.marketplace-product-add{
    #edit-product{
        .wk-mp-design{
            .wk-mp-fieldset{
                .field{
                    .wk-category{
                        .wk-cat-name{
                            input{
                                right: -15px;
                                top: 1px;
                                left: initial;
                            }
                        } 
                    }
                }
            }
        }
    }
}
.rmasystem-viewrma-index{
    #view-rma-component table th{
        color: #000;
    }
}

.account.sales-order-view{
    .column.main{
        .custom_track_section{
            font-family: 'Conv_DINOT-Medium';
            text-transform: capitalize;
            font-weight: normal;
        }
        .process-steps{
            .steps {
                padding-left: 0;
                font-family: 'Conv_DINOT-Medium';
                font-weight: normal;
                width: 200px;
                text-align: center;
                position: relative;
                &.complete{
                    span {
                        background: #f3a626;
                    }
                    &:after {
                        background: #f3a626;
                    }
                    &:before {
                        background: #f3a626;
                    }
                } 
                span {
                    width: 30px;
                    height: 30px;
                    display: block;
                    background: #e9e9f1;
                    margin: 15px auto;
                    border-radius: 100%;
                }
                &:first-child{
                    &:after{
                        display: none;
                    }
                }
                &:last-child{
                    &:before{
                        display: none;
                    }
                }
                &:before {
                    content: '';
                    height: 6px;
                    width: calc(50%);
                    position: absolute;
                    background: #e9e9f1;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                    margin-top: 10px;
                }
                &:after {                   
                    content: '';
                    height: 6px;
                    width: calc(50%);
                    position: absolute;
                    background: #e9e9f1;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    margin-top: 10px;
                }
            }
        } 
    } 
} 

.account{
    .block.account-nav.block-collapsible-nav.wk-mp-main{
        .account-nav{
            ul{
                li{
                    .notification-block-rma{
                        left: 145px !important;
                    }
                }
            } 
        } 
    }
}
 



.wk-mp-fieldset .wk-mp-list-table .button{margin:0px;}
.wk-orderbox-content1{    border-bottom: 1px solid #f5f5f5;}
.mpreportsystem-report-index .wk_report-body{display: flex; justify-content: space-between;  padding: 20px 0;}
.mpreportsystem-report-index .wk_report-body .wk_location_graph.wk_graph_border, .mpreportsystem-report-index .wk_report-body .wk_selling_graph.wk_graph_border{  width: calc(50% - 7px); display: inline-block;}
.wk_graph_border{padding:15px;}
.wk-report-select-box-head { display: flex;  width: 100%;  position: relative; justify-content: space-between;}
.wk-report-select-box-head .wk-categories { width: 33%;}
.wk-report-select-box-head .wk-order-status { width: 33%;}
.wk-report-select-box-head button {width: 33%; margin: 10px 0;border-radius: 4px;overflow: hidden; font-weight: 500 !important;font-size: 20px !important;background: #273c97 !important;height:50px;}
.wk-report-select-box-head .wk-select-box{width: 100%;margin:10px 0; height: 50px;  border: 1px solid #e8eaef; padding: 0 20px;}
.wk-report-select-box-head .wk-select-box label{ margin: 14px 0 14px 0 !important;}
.wk-report-select-box-head .wk-select-box .wk-select-arrow-up{    height: 21px;    background-position: -314px -116px;}
.wk-filter-buttons{border:0px;}
.wk-filter-button{background-color: #36c0cc; border-right: 1px solid #4fe2f1; box-shadow: inset 0 1px 0 0 #36becc, inset 0 -1px 0 0 rgba(53, 191, 204, .3);    color: #fff;opacity:1}
.wk-selected-filter-button{ background-color: #5e549c; border-right: 1px solid #5e549c; box-shadow: inset 0 1px 0 0 #5f549c, inset 0 -1px 0 0 #5e539b;    opacity: 1;}
.mpreportsystem-report-index .legend{border-bottom:0px !important}
.wk-date-filter-div .action.primary.wk_reportfilter_btn{background: #273c97 !important;padding: 0px 20px; line-height: 30px !important;height: 32px;}
.wk-search-result-dropdown {border: none;}
.wk-date-filter-div .wk-filter-date { margin-top: 6px !important; margin-right: 5px !important;}
.buttons-set .back-link a, .wk-mp-design .fieldset > .legend button {background-color: #273c97; padding: 0px 22px !important; color: #fff !important; border: 0px; font-size: 14px; border-radius: 4px;font-family: 'Conv_DINOT-Medium';margin: 0px; font-weight: normal; height: 44px; float: right !important; line-height: 44px; color: #fff;}
.buttons-set .back-link a, .wk-mp-design .fieldset > .legend button span {color: #fff; font-family: 'Conv_DINOT-Light'; font-size: 18px;}
 .marketplace-account-editprofile .field label{font-size: 18px; color: #848684; font-weight: 400 !important; margin-bottom: 5px; margin-top: 10px;}
.w-100 {    width: 100% !important;}
.newacuntt .field.choice.newsletter{width:100% !important;    position: relative; margin: 20px 0 !important;}
.newacuntt .field.choice.newsletter input, .rmasystem-newrma-index .wk_rma_checkall{position: absolute; left: 15px; z-index: 1; width: 20px; height: 20px;  top: 50%; transform: translate(0,-50%); margin: 0px; opacity: 0; cursor: pointer;}
.newacuntt .field.choice.newsletter label,
.form-create-account label.tab-radio-des.radio-des, .rmasystem-newrma-index .wk_rma_checkall + label span{ position:relative;   font-size: 14px;padding: 0px 0px 0px 40px !important; font-weight: 600; margin: 0px !important;}
.newacuntt .field.choice.newsletter label:before, .rmasystem-newrma-index .wk_rma_checkall + label span:before {content: ''; position: absolute;  width: 20px; height: 20px;  background: #fff; left: 0px;  top: 50%;transform: translate(0,-50%); border: 1px solid #b7b7b7;}
.newacuntt .field.choice.newsletter input:checked + label:after, .rmasystem-newrma-index .wk_rma_checkall:checked + label span:after{content: ""; position: absolute;  border: 1.5px solid !important;  width: 8px !important; height: 14px !important;  border-color: #fffefe transparent transparent #fffefe !important;   left: 6px !important;  z-index: 1 !important;  top:0px !important;  transform: rotate(-135deg);  border-radius: 0px !important;}
.newacuntt .field.choice.newsletter input:checked + label:before, .rmasystem-newrma-index .wk_rma_checkall:checked + label span:before{background: #3a3a3a; border-color:#3a3a3a}
.newacuntt .field.choice.newsletter label a{color:#848684}
.form.create.account .actions-toolbar, .form.create.account .actions-toolbar > .primary{width:100%;}
.form.create.account .actions-toolbar .secondary{display:none;}
div#social-custom-link{width:100%}

form#form-selleraddress-validate .input-text, .mpmassupload-product-view .fieldset > .field:not(.choice) > .control select, .marketplace-account-editprofile .page-main .input-text, .marketplace-account-editprofile .page-main .field .control select, .marketplace-product-add #maincontent .input-text, .marketplace-product-add select.select, .marketplace-product-edit .page-main .input-text, .marketplace-product-edit .page-main select.select{border: 1px solid #e0e0e0 !important;  border-radius: 4px !important; height: 45px; font-size: 16px;}
/*sellerdashbord phase 2*/

.sellerdashbord {padding: 0 20px;}
.sellerdashbord .topsection {border-bottom: solid 1px #777; padding-bottom: 20px;}
.sellerdashbord .topsection .innersection h2 {font-size: 16px; color: #000000; font-weight: 600; padding: 10px 20px 20px 20px; width: 100%; border-bottom: 1px solid #e8eaef; margin-bottom: 0;}
.sellerdashbord .topsection .innersection {border: solid 1px #ddd; box-shadow: 0px 0px 4px #eee; padding: 12px 0; border-radius: 4px; padding-bottom: 0;}
.sellerdashbord .topsection .innersection .content {padding: 0px 20px; display: flex; justify-content: space-between;
background: #fafafa;}
.sellerdashbord .topsection .innersection .content .count-box {width: 49%; padding: 15px 0; border-right: solid 1px #bebebe;}
.sellerdashbord .topsection .innersection .content .total-box {width: 49%; text-align: right; padding: 15px 0;}
.sellerdashbord .topsection .innersection .content span.count-heading {font-size: 15px; color: #000000; font-weight: 400;}
.sellerdashbord .topsection .innersection .content .count-total{font-size: 16px; color: #001f3f; font-weight: 600; padding-left: 10px; display: block; padding-top: 10px;}
.sellerdashbord .topsection .listing  {margin-bottom: 30px;}
.sellerdashbord .optionsection {display: flex; justify-content: space-between; padding: 30px 0; margin-top: 30px; margin-bottom: 40px;}
.sellerdashbord .optionsection .list {width: 22%; position: relative; display: flex;}
.sellerdashbord .optionsection .list.apply-filter {width: auto;}
.sellerdashbord .optionsection .list.apply-filter .apply-filter-btn {padding: 13px 20px; border: 1px solid #273c97;
 background: #273c97; color: #fff; border-radius: 4px;cursor: pointer;}
.sellerdashbord .optionsection .list span.transaction-tab {border: 1px solid #888; height: auto; padding: 12px 9px; font-size: 14px; border-radius: 4px; background: #fff; float: left; border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; width: 74%; font-weight: 600; color: #333;}
.sellerdashbord .optionsection .list span.active {border: 1px solid #888; background: #eee;}
.sellerdashbord .optionsection .list span {cursor: pointer;}
.sellerdashbord .optionsection .list span.order-tab {border: 1px solid #888; height: auto; padding: 12px 10px; font-size: 14px; border-radius: 4px; float: left; border-left: 0; border-bottom-left-radius: 0; border-top-left-radius: 0px;}
.sellerdashbord .optionsection .list input {border: 1px solid #888; height: auto; padding: 12px 15px; font-size: 14px; background: #fff; box-shadow: none; border-radius: 4px;}
.sellerdashbord .optionsection .list #reportrange {border: 1px solid #888; height: auto; padding: 12px 10px; font-size: 14px; border-radius: 4px;}

.sellerdashbord .optionsection .list select {border: 1px solid #888; height: auto; padding: 12px 15px; font-size: 14px; border-radius: 4px;} 
.sellerdashbord .optionsection .list .input-group-append {position: absolute; right: 0; top: 0;}
.sellerdashbord .optionsection .list .input-group-append button {background: #eee; height: auto; padding: 22px 20px; width: auto; border-top-right-radius: 4px; border-bottom-right-radius: 4px;}
.sellerdashbord .optionsection .list .input-group-append button i {top: 15px;}

.sellerdashbord .lifteimesalecount {border: solid 1px #ddd; box-shadow: 0px 0px 4px #eee; 
border-radius: 4px; display: flex; flex-wrap: wrap;}
.sellerdashbord .lifteimesalecount .innersection {border-right: solid 1px #ddd; padding: 0 0 20px 0;}
.sellerdashbord .lifteimesalecount h2 {color: #000; font-weight: 500; font-size: 18px; border-bottom: solid 1px #ddd; padding-bottom: 20px; padding-left: 20px; padding-top: 20px; background: #fafafa; }
.sellerdashbord .lifteimesalecount .listing {padding-left: 0px; padding-right: 0px;}
.sellerdashbord .lifteimesalecount .content {padding: 0 20px; display: flex; justify-content: space-between;}
.sellerdashbord .lifteimesalecount .count-box { padding-right: 20px; font-size: 16px; color: #000; padding-bottom: 20px; text-align: center;}
.sellerdashbord .lifteimesalecount .count-box .count-heading {color: #333; font-size: 14px;}
.sellerdashbord .lifteimesalecount .count-box .count-total {font-weight: 600; display: block; padding-top: 10px;}
.sellerdashbord .chartContainer {padding-top: 0px;}
.sellerdashbord .chartContainer .staticdownlaod {text-align: right;}
.sellerdashbord .chartContainer .staticdownlaod a {border: 1px solid #273c97;background: #273c97; color: #fff; padding: 9px 30px; font-size: 14px; border-radius: 2px; display: inline-block;}
.sellerdashbord .chartContainer .staticdownlaod a img {display: inline-block; width: 20px; vertical-align: text-top; margin-right: 5px;}
.sellerdashbord .payouts {font-size: 26px; color: #000000; font-weight: 500; padding: 30px 20px 15px 0; width: 100%; border-bottom: 1px solid #e8eaef;}
.sellerdashbord .lastupdate {color: #283c82; font-size: 14px; font-weight: 500; letter-spacing: 0.45px; text-align: center; padding-top: 20px;}
.sellerdashbord .topsellingprodcut {padding: 40px 0 10px 0;}
.sellerdashbord .topsellingprodcut h2 {font-size: 22px; color: #000000; font-weight: 500; padding: 30px 20px 15px 0; width: 100%; border-bottom: 1px solid #e8eaef;}
.sellerdashbord .topsellingprodcut ul {padding: 0; list-style-type: none; display: flex; justify-content: space-between;}
.sellerdashbord .topsellingprodcut ul li {width: 19%; color: #000; font-size: 13px; border: solid 1px #ddd; padding: 10px;}
.sales-left.lifteimesalecount {width: 30%; float: left; padding: 15px; margin-bottom: 40px;}
.sales-left.lifteimesalecount .innersection {border: none;}
.sales-left.lifteimesalecount  h1 {font-size: 16px; color: #000000; font-weight: 600; padding: 10px 20px 10px 0px; width: 100%; border-bottom: 1px solid #e8eaef; margin-bottom: 15px;}
.clr {clear: both;}
.sales-left.lifteimesalecount .innersection .date-data {display: flex; justify-content: space-between; color: #000; font-size: 15px; padding-bottom: 10px;}
.sales-left.lifteimesalecount .innersection .date-data span:last-child {font-weight: 500;}
.sales-left.lifteimesalecount .innersection .amount-data span:last-child {font-weight: 500;}
.sales-left.lifteimesalecount .innersection .amount-data {display: flex; justify-content: space-between; color: #000; font-size: 15px; padding-bottom: 10px;}
.sales-left.lifteimesalecount .count-box {display: flex; justify-content: space-between; padding-right: 0px;}
.sales-left.lifteimesalecount .count-box .count-total {padding-top: 0px;}
.chartContainer {float: right; width: 67%;}
.lifteimesalecount.secondfold {margin-top: 40px;}
.topsellingprodcut .productinfo { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;
overflow: hidden; text-overflow: ellipsis; white-space: normal; margin-bottom: 10px;}
.topsellingprodcut .productprice {font-weight: 600;}
.sellerdashbord .topsellingprodcut ul li img {height: 160px;}
/*sellerdashbord phase 2*/

.marketplace-order_invoice-view{
    .wk-mp-design .wk-mp-fieldset .block-order-details-view:nth-child(4) .block-content .box-content{
        margin-left: 0;
        margin-right: 0;
    }
    .wk-mp-design{
        .block-order-details-view{
            .block-content{
                .box-content {
                    margin-left: -10px;
                    margin-right: -10px;
                    .box.wk-box {
                        width: calc(~"50% - 30px");
                        max-width: calc(~"50% - 30px");                        
                        .box-content {
                            margin-left: 0;
                            margin-right: 0;
                            .box.wk-box {
                                margin-bottom: 0;
                                .wk-row {
                                    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                }
                            }
                        }
                    }
                }
            } 
        }
        span.order-status {
            margin-bottom: 15px;
        }
        .page-title-wrapper{
            .actions-toolbar.order-actions-toolbar {
                display: none;
            }
        } 
    } 
} 

.account{
    &.rmasystem-viewrma-index{
        #view-rma-component table p {
            word-break: break-all;
            text-align: left;
        }
        .box.admin__page-section-item.order-information {
            margin-bottom: 20px;
        }
        .box.admin__page-section-item.order-account-information {
            margin-bottom: 20px;
        }
    } 
    .toolbar.products-reviews-toolbar.bottom{
        z-index: 1;
    }
    &.rmasystem-index-index{
        .order-products-toolbar.toolbar.bottom {
            z-index: 1;
        }
    } 
    &.rmasystem-newrma-index{
        form#save_rma_form{
            padding: 0px 0px;
            fieldset.fieldset.login{
                .field{
                    .control.table-wrapper.rma-order-items{
                        table{
                            .col{
                                width: initial;
                                #wk_rma_order_details tr td input[type="number"], #wk_rma_order_details tr td select{
                                    text-align: left;
                                }
                                &.rma-select{
                                    width: 42px;
                                    .wk-option-input{
                                        z-index: 1;
                                    }
                                }
                                &.name {
                                    width: 300px;
                                    .wk-pro-divide1:nth-child(1){
                                        width: 100px;
                                        float: left;
                                    }
                                    .wk-pro-divide1{
                                        float: none;
                                        display: inline;
                                    }
                                    .wk-pro-divide1:nth-child(2){
                                        width: 170px;
                                        float: right;
                                        a{
                                            -webkit-box-orient: vertical;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: normal;
                                        }
                                    }
                                }
                            }
                        } 
                    } 
                } 
            } 
            #new-rma-component{
                .wk_rma_label{
                    padding: 0px 0px 10px;
                }
            }
        }
    }
} 


.account{
    .toolbar.bottom{
        z-index: 1;
    }
    &.marketplace-account-editprofile{
        .mce-container-body{
            #mceu_16-body{
                button {
                    background: transparent !important;
                } 
            }
        }
    }
    &.marketplace-product-add{
        #edit-product{
            .control.wk-border-box-sizing{
                button {
                    background: transparent !important;
                }
            } 
        } 
    } 
    .sidebar-main #account-nav{
        .nav.items{
            .item.user-image{
                a:hover {
                    cursor: auto;
                    color: #777777 !important;
                }
            } 
        } 
    } 
} 


/*======== Sellerform ==============*/ 

.sellerform-index-display{
    .seller-form-conatiner{
        margin: 30px 0px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;            
            li {
                display: inline-block;
                text-align: center;
                width: 25%;
                position: relative;
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 101%;
                    border-bottom: solid 3px #283c82;
                    top: -9px;
                    transform: translate(-50%, -50%);
                }
                span {
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                    display: block;
                    font-size: 20px;
                    color: #333;
                    padding-bottom: 15px;
                }
                img {
                    width: 44px;
                    vertical-align: text-top;
                    border: solid 1px #283c82;
                    padding: 5px;
                    border-radius: 50%;
                    height: 44px;
                    display: block;
                    margin: auto;
                    background: #fff;
                    z-index: 1;
                    position: relative;
                }
                a {
                    font-size: 18px;
                    color: #283c82;
                    transition: .5s all ease;
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                    padding: 10px 0 0 8px;
                    display: inline-block;
                    vertical-align: text-top;
                }
            }
        }
    }
}

/*Registration automation*/
.relationship-cls {padding: 20px 20px;}
.relationship-cls h2 span {text-align: center;text-transform: uppercase;border-bottom: 1px solid;margin: 0 auto;max-width: 335px;width: 100%;display: block;}
.administrative {max-width: 100%;margin-top: 15px;padding: 40px; background: #fff; border: solid 1px #ddd; box-shadow: 0px 0px 4px rgba(0,0,0,0.15);border-radius: 4px;}
.administrative h2 {font-size: 24px; color: #000; font-family: 'Conv_DINOT-Medium';font-weight: normal; margin: 0; padding-bottom: 15px; border-bottom: 1px solid #e8eaef; margin-bottom: 30px;}
.administrative .innertable {border: solid 1px #eee;}
.administrative .innertable .tophead {font-size: 18px; font-family: 'Conv_DINOT-Medium';font-weight: normal; color: #283c82; background: #f6f6f6; margin: 0; padding-top:18px; padding-bottom: 18px; }
.administrative .innertable .subheading {font-size: 16px; font-family: 'Conv_DINOT-Medium';font-weight: normal; color: #000; padding: 14px 15px}
.administrative .oddrow{background: #fafafa; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;}
.administrative .tablelisting {font-size: 16px; color: #000;  margin: 0; padding-top: 20px; padding-bottom: 20px;  padding-left: 0;}
.administrative .yesandnow {display: flex;}
.administrative .yesandnow .list {padding-right: 30px;}
.branchdetails {font-size: 16px; color: #000; padding-bottom: 50px;}
.branchdetails .subhed {font-weight: 500; border-bottom: 1px solid #e8eaef; font-size: 20px; padding-bottom: 10px;
margin-bottom: 20px;}
.branchdetails .innersection {display: flex;}
.branchdetails .innersection .list {padding-right: 30px;}
.branchdetails input[type="radio"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails .fieldsection {display: flex; flex-wrap: wrap; justify-content: space-between; }
.branchdetails .fieldsection .fieldcount {width: 48%; padding-bottom: 40px;}
.branchdetails .fieldsection .fieldcount label {padding-bottom: 10px; display: block; color: #666; font-size: 15px;}
.branchdetails .fieldsection .fieldcount input, .branchdetails .fieldsection .fieldcount textarea {border: solid 1px #888; padding: 14px; border-radius: 4px; height: auto;}
.branchdetails .fieldsection .fieldcount textarea {padding: 6px 14px;}
.branchdetails .fieldsection .fieldcount input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails .fieldsection .fieldcount .marginright {margin-right: 30px;}
.branchdetails .headingsmall {font-family: 'Conv_DINOT-Medium';font-weight: normal; font-size: 18px; padding-bottom: 20px;}
.branchdetails.custompaddbtm {padding-bottom: 0;}
.branchdetails .optiontype {display: block;}
.branchdetails .optiontype .list {padding-bottom: 10px;}
.branchdetails .optiontype .list input {margin-right: 10px;}
.administrative .nonte {font-size: 16px;  color: #000; font-family: 'Conv_DINOT-Medium';font-weight: normal;}
.branchdetails .fieldsection .fieldcount .optiontype {justify-content: space-between; padding-top: 10px;}
.optiontype.customdeflex {display: flex;}
.administrative .branchtopcount {border: solid 1px #ddd; box-shadow: 0px 0px 4px rgba(0,0,0,0.15); margin: 0;margin-bottom: 40px; padding-bottom: 0; padding: 0;}
.administrative .branchtopcount .listbox {padding: 0; border-right: solid 1px #ddd;}
.administrative .branchtopcount .listbox:last-child {border: none;}
.administrative .branchtopcount .listbox .subhed {padding: 20px 40px; background: #fafafa;}
.administrative .branchtopcount .listbox .innersection  {padding: 0px 40px 0;}
.administrative .branchtopcount .branchdetails {padding-bottom: 10px;}
.administrative .branchtopcount .fieldsection {padding: 0 40px;}
.administrative .contentsection p {font-size: 16px; color: #000; line-height: 48px;}
.administrative .contentsection p span {display: inline-block; width: 40%;}
.administrative .contentsection p span input {border: none; border-bottom: solid 1px #888; vertical-align: text-bottom;}
.relationinner {padding-top: 30px;}
.relationinner p {font-size: 16px; color: #000; padding-top: 10px;}
.relationinner .branchdetails {padding-top: 10px; padding-bottom: 0;}
.relationinner .branchdetails .fieldsection .fieldcount label {color: #666; font-size: 15px;}
.relationinner ul {padding-top: 15px; padding-left: 10px;}
.relationinner ul li {font-size: 15px; color: #000; padding-bottom: 10px;}
.relationinner .input-conatiner input[type="radio"] {width: 16px; height: 18px; vertical-align: text-top; margin: 0; margin-right: 5px;}
.relationinner .input-conatiner label {font-size: 16px; padding-top: 2px;}
.seller-application-form .fromcalltoaction .fromsubmit input, .seller-application-form .fromcalltoaction .fromsubmit button {background: #273c97;
    padding: 6px 60px;color: #fff;border: 0px;font-size: 20px;margin: 0px;font-family: 'Conv_DINOT-Medium';
    margin-top: 0px;width: auto;font-weight: normal;height: 56px;border-radius: 4px;}
.administrative .tablelisting .checkbox input[type="checkbox"], .administrative .yesandnow input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top; margin-right: 10px;}
.administrative .tablelisting .checkbox {padding-bottom: 5px;}
.administrative .tablelisting .custominput input {height: auto; border: none; border-bottom: solid 1px #888; padding-left: 0;}
.administrative .tablelisting .custominput label {color: #666; font-size: 14px;}
.adimistrativeCnt {padding-top: 40px;}
.adimistrativeCnt p {font-size: 16px; color: #000; padding-bottom: 20px;}
.adimistrativeCnt .custominput {padding-bottom: 20px;}
.adimistrativeCnt .custominput label {color: #666; font-size: 14px;}
.adimistrativeCnt .custominput input {height: auto; border: none; border-bottom: solid 1px #888; padding-left: 0;}
.seller-application-form .fromcalltoaction .preview-form {font-family: 'Conv_DINOT-Medium';color: #fff; background-color: #f5a622; border: 0px; border-radius: 4px; font-weight: normal; font-size: 18px; width: auto; padding: 0px 30px; height: 56px; display: inline-block; line-height: 56px; cursor: pointer;margin-top: 0;}
.fromcalltoaction {display: flex; padding-left: 40px; padding-top: 40px;}
.fromcalltoaction.paddingnone {padding: 0 !important;}
.fromcalltoaction .preview-form {margin-top: 30px; margin-left: 40px;}
.seller-form-conatiner ul {list-style: none; padding: 30px 80px; display: flex;}
.seller-form-conatiner ul li {width: 33%; text-align: center;}
.seller-form-conatiner ul li span {display: block; font-family: 'Conv_DINOT-Medium';font-weight: normal; font-size: 20px; color: #333; padding-bottom: 15px;}
.seller-form-conatiner ul li a {font-size: 18px; color: #283c82; transition: .5s all ease; font-weight: 600; padding: 10px 0 0 8px; display: inline-block; vertical-align: text-top;}
.seller-form-conatiner ul li img {width: 44px; vertical-align: text-top; display: inline-block; border: solid 1px #283c82; padding: 5px; border-radius: 50%; height: 44px; display: block; margin: auto; background: #fff;}
.seller-form-conatiner ul li a:hover {border: none;}
.administrative .toptpt {font-size: 16px; color: #000; padding-bottom: 30px;}
.administrative .toptpt span {font-weight: 500; display: block; padding-bottom: 10px;}
.administrative .tptfieldcustom .customradio {display: flex; justify-content: unset !important;}
.administrative .tptfieldcustom .customradio .list {margin-right: 10px;}
.administrative .tptfieldcustom .customradio .list input {width: 16px; height: 16px;}
.administrative .optiontype input {width: 16px; height: 16px !important;}
.administrative .customwidth {width: 100% !important;}
.administrative .tptfieldcustom textarea {border: none !important; border-bottom: solid 1px #333 !important; border-radius: 0 !important; padding-left: 0 !important;}
.administrative .tptfieldcustom textarea:focus {outline: none; box-shadow: none;}
.administrative .tobepart {padding-bottom: 30px;}
.seller-form-conatiner li {position: relative;}
.seller-form-conatiner li::after {content: ''; position: absolute; width: 87%; height: 100%; left: 101%; border-bottom: solid 3px #283c82; top: -4%; transform: translate(-50%, -50%);}
.seller-form-conatiner li:last-child::after {display: none;}
.sellerform-index-display #maincontent {padding-bottom: 0px;}
.sellerform-index-display #maincontent .column.main {padding-bottom: 0;}
.seller-form-conatiner {padding-top: 40px;}
/*Registration automation*/

/*tirefromsection*/

.tirefromsection {padding: 20px;font-family: 'Conv_DINOT-Medium'; font-weight: normal; font-size: 16px; color: #000;}
.tirefromsection button.btn.btn-primary {padding: 13px 20px; border: 1px solid #4945b7; background: #3f549c; color: #fff; border-radius: 4px; cursor: pointer;
font-family: 'Conv_DINOT-Medium'; font-weight: normal; height: auto; line-height: normal; border: none; font-size: 16px; width: auto; margin-top: 20px;}
.tirefromsection .form-group { border: solid 1px #777; padding: 10px; margin-top: 20px; width: 40%; border-radius: 4px;}

/*tirefromsection*/

.administrative{
    .fromcalltoaction{
        .preview-form {
            font-family: 'Conv_DINOT-Medium';
            color: #fff;
            background-color: #f5a622;
            border: 0px;
            border-radius: 4px;
            font-weight: normal;
            font-size: 18px;
            width: auto;
            padding: 0px 30px;
            height: 56px;
            display: inline-block;
            line-height: 56px;
            cursor: pointer;
            margin-top: 0;
        }
        .fromsubmit{
            input,button{
                background: #273c97;
                padding: 6px 60px;
                color: #fff;
                border: 0px;
                font-size: 20px;
                margin: 0px;
                font-family: 'Conv_DINOT-Medium';
                margin-top: 0px;
                width: auto;
                font-weight: normal;
                height: 56px;
                border-radius: 4px;
            }
        }
    }
}

.sellerform-index-display #authenticationPopup + h2 {
    margin: 30px 0px 0px;
}

/* Start Application Form */


.seller-application-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    padding-bottom: 15px;
    margin: 0px 0px 0;
}
.seller-application-form h3 {
    text-align: center;
    font-size: 25px;
    color: #000;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    border: 1px solid;
    max-width: 320px;
    padding: 10px 0px;
    margin: 0 auto 40px;
    box-shadow: 0px 0px 4px #000;
}
.seller-application-inner .application-hed {
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    font-style: italic;
}

.seller-application-form {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}
.seller-application-detail {
    border: 1px solid #000;
    padding: 20px;
}
.seller-application-detail .field label {
    padding-bottom: 0px;
    display: inline-block;
    color: #666;
    font-size: 15px;
}
.seller-application-detail .field .control {
    display: inline-block;
}

.seller-application-detail .field .control input.input-text {
    border: none;
    border-bottom: 1px dotted #666;
    height: auto;
    padding: 0px 10px;
    width: auto;
    margin: 0px 10px 0px 0px;
}
.seller-application-detail .field {
    margin-bottom: 15px;
}
.seller-application-form {
    max-width: 768px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.seller-application-detail .fieldset .application-hed {
    font-style: normal;
    font-size: 15px;
}
.seller-application-detail .fieldset{
    margin-bottom: 0px;
}
table.application-table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}
.seller-application-form-section {
    margin-top: 15px;
}
.application-table input.input-text {
    border: none;
    padding: 0;
    width: 100%;
    height: auto;
}
table.application-table th, table.application-table td {
    border: 1px dotted #666;
    padding: 8px;
}
.seller-application-detail .border-solid .field .control input.input-text{
    border-bottom: 1px solid #666; 
}
.seller-application-form-section .seller-application-detail .fieldset .date-last label {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .date-last .control {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .date-last .control input.input-text {
    border: none;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last label {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last .control {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last .control input.input-text {
    border: none;
}

.seller-application-detail .field .control .list {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
    font-size: 14px;
}
.seller-application-detail .field .control .list input[type="radio"] {
    vertical-align: middle;
    display: inline-block;
    margin: 0px 5px 0px 0px;
    height: 24px;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last a {
    position: relative;
    display: block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last a:before {
    content: "\f019";
    font-family: 'FontAwesome';
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}


/* End Application Form */

 

.marketplace-account-rmalisting{
    .wk-mp-design2{
        .wk-mp-fieldset{
            .grid{
                form{
                    .wk-mp-body{
                        .filter-parameters {
                            width:30% !important; 
                            float: left;
                        }
                        .reset-button{
                            padding: 0px 15px !important;
                            border-radius: 0;
                            height: 32px;
                            line-height: 28px;
                            color: #ffffff !important;
                            font-weight: 600;
                            background: #273c97;
                            margin-left: 1%;
                        }
                    }
                }
            }
        }
    }
}

.rms-rma-view{
    .product-images{
        .product-image-heading {
            width: 100%;
            color: #464646;
            text-transform: capitalize;
            font-family: 'Conv_DINOT-Bold';
            font-weight: normal !important;
            font-size: 20px !important;
            margin: 0px !important;
        }
    }
    .process-return-container{
        .process-return-content{
            margin: 15px 0 0;
            #return_management_form{
                .rm_form_div {
                    margin-bottom: 15px;
                    #rma_action_id{
                        margin-top: 20px;
                    }
                    .form_headings {
                        color: #464646;
                        display: block;
                        margin-bottom: 10px;
                        text-transform: capitalize;
                        font-weight: normal;
                        font-size: 14px;
                    }
                }
            }
        }
        .process-return-heading{
            .title {
                color: #464646;
                display: inline-block;
                margin-bottom: 0px;
                text-transform: capitalize;
                font-family: 'Conv_DINOT-Bold';
                font-weight: normal;
                font-size: 20px;
            }
        }
    }
}
