
<span style="float:right"><a href="<?php $this->getBaseUrl();?>/reports/om_sales_settlement.php">Old Report Link</a></span>

<iframe src="<?php $this->getBaseUrl();?>/reports/om_sales_settlement_partial.php"  style=" width:100%;height: 1000px; border:none;" ></iframe>
