<?php
$baseUrl = $block->getBaseUrl();
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('\Magento\Framework\App\Request\Http');
$fullActionName = $request->getFullActionName();
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$isSeller = $helper->isSeller();
if($isSeller){
	$customerUrl = $baseUrl.'marketplace/order/sellerdashboard';
}
else{
	$customerUrl = $baseUrl.'customer/account';
} 
?>

<a href="<?php echo $customerUrl?>">
<span class="customer-name"></span>
</a>
<script>
	require(['jquery','Magento_Customer/js/customer-data'],function($,customerData){

		
		var url_1 = '<?php echo $baseUrl?>buynow/check/buynow'; 
		$.ajax({
					type: "POST",
					cache: 'false',
					url: url_1,
					data:{'action':"<?php echo $fullActionName ?>"},
					dataType: "json",
					success: function(response){
						console.log(response);
					}
			});

		var sections = ['cart'];
		customerData.invalidate(sections);
		customerData.reload(sections, true);

		var url = '<?php echo $baseUrl?>customername/index/index'; 
		$.ajax({
	        type: "POST",
	        cache: 'false',
	        url: url,
	        dataType: "json",
	        success: function(response){
	        	console.log(response);
	        	if(response.name) {
	            	$('.customer-name').html(response.name);
	        	}
	        }
	    });
	});
</script>
