<?php 
    $helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
    $customHelper = $this->helper('OM\HomepageTopProducts\Helper\Data');
    $customerId = $helper->getCustomerId();
    $category = $customHelper->getCurrentCategory();
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	
	if($customerId){
		$customermobile = $helper->getCustomerMobileNumber();
		if(empty($customermobile)){
			$request = $objectManager->get('Magento\Framework\App\Request\Http');
			$layout = $request->getFullActionName();
			if($layout!="customer_account_edit")
			{
				$messageManagercustom = $objectManager->create('Magento\Framework\Message\ManagerInterface');
				$messageManagercustom->addError(__('Please Fill Your Mobile Number to Access your Account'));
				$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
				$redirect->setRedirect($this->getBaseUrl()."customer/account/edit");
			}
		}
	}
	$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
    $request->getFullActionName();
    if ($request->getFullActionName() == 'catalog_category_view') {
	if(!empty($category) && $category->getId()!=2){
		$newData = $category->getCustomizeSeoText();
		if($newData) {
?>
 
<div class="custom-seo">
<div class="container">
<div class="row justify-content-center">
<div class="col-12">
<?php //if(!empty($newData))
	 // {?>
<div class="white-box-section mb-3 term-and-condition-content-box ">

      <div class="bigtext">
	  	<?php
 
			echo $newData = $category->getCustomizeSeoText();  
			
		?> 
		<div class="action">
			<span class="expand">Read More</span>
			<span class="contract hide">Read Less</span>
		</div>
    
      </div>
     
      
	
    </div> 
	</div>
   </div></div></div>
	<?php }
    }
    }
	?>
  

<?php
if ($request->getFullActionName() == 'cms_index_index') {
	?>
<div class="custom-seo">
<div class="container">
<div class="row justify-content-center">
<div class="col-12">
<div class="white-box-section mb-3 term-and-condition-content-box ">

      <div class="bigtext" style="height:132px !important">
	           <?php
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_seo')->toHtml();
			?>
		<div class="action">
			<span class="expand">Read More</span>
			<span class="contract hide">Read Less</span>
		</div>
      </div>
     
    </div> 
	</div>
   </div></div></div>
	<?php
}?>
<style>
.bigtext {
  display: block;
  overflow: hidden;
  color: #3d3d3f;
}
.bigtext p {
    line-height: 2;
	font-size:16px;
}
/*#discount-form { display:none !important; }*/
.bigtext h1{
  
  font-size: 17px;
    margin: 15px 0px 15px;
    font-weight: 800;
    color: #010101;
    text-transform: uppercase;
     
    position: relative;
}

.bigtext h2{  
  	font-size:14px;
    margin: 25px 0px 5px;
    font-weight: 700;
    color: #010101;
    text-transform: uppercase;
   
    position: relative;
}

 
.expand, .contract {
  cursor: pointer;
  font-size: 16px;
	font-family: 'Exo'; 
	font-weight: 700 !important;
	color: #44538a !important;
	cursor:pointer;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}
.expand:hover, .contract:hover {
  color: #121212;
}

.expand {
   
	font-size: 16px;
	font-family: 'Exo'; 
	font-weight: 700 !important;
	color: #44538a !important;
	cursor:pointer;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}
.hide {
  display: none;
}


.custom-seo .container {
    max-width: unset;
    padding: 0;
}

.custom-seo {
    padding: 0 50px;
}

.custom-seo .white-box-section {
    border-radius: 20px;
    background: #f5f5f5;
    padding: 7px 25px;
	box-shadow:none;
}

.custom-seo .white-box-section .bigtext {
    background: #fff;
    padding: 0 10px;
    box-sizing: border-box;
	height:auto !important;
}
.custom-seo .white-box-section .bigtext .action{
	display:block !important;
	padding-bottom: 10px;
}

.expand, .expand, .contract {
    font-family: 'Conv_DINOT-Light';
    font-size: 14px;
    display: block;
    margin-top: 10px;
    cursor: pointer; 
}
.expand.hide, .contract.hide {
    display: none;
}


@media only screen and (max-width:770px){
	.custom-seo .white-box-section {
		padding: 0 15px;
		border-radius: 0;
		border: 0;
		box-shadow: none;
	}

	.custom-seo .white-box-section .bigtext {
		border: solid 1px #ddd;
		border-radius: 10px;
		padding: 15px;
	}

	.custom-seo .white-box-section .bigtext h1:first-child {
		margin-top: 0;
	}
	.custom-seo {
		padding: 10px 0;
		background: #f5f5f5;
	}
	.bigtext p {
		line-height: 2;
		font-size:14px;
	}
}


</style>
<script type="text/javascript">
	require([
		'jquery'
	], function ($) {
		$(document).ready(function(){
			
	var animspeed = 950;

	jQuery('.bigtext').children().hide();	
	
	if(jQuery('body').hasClass('catalog-category-view'))
	{
		jQuery('.bigtext').find('h1:eq(0)').show();
		jQuery('.bigtext').find('p:eq(0)').show();
	}	
	else
	{	
		jQuery('.bigtext').find('p:eq(0)').show();
	}
	var mini = $('.bigtext p').eq(0).height() ; 
	
	jQuery('.bigtext').css('height',mini);
	$('.expand').on('click', function(e){
    jQuery('.bigtext').children().show();
	var height=jQuery('.bigtext').removeAttr('style');  
	$(this).addClass('hide');
	jQuery('.contract').removeClass('hide');
  });   
  
  $('.contract').on('click', function(e){
    
	jQuery('.bigtext').children().hide();	
	if(jQuery('body').hasClass('catalog-category-view'))
	{
		jQuery('.bigtext').find('h1:eq(0)').show();
		jQuery('.bigtext').find('p:eq(0)').show();
	}	
	else
	{	
		jQuery('.bigtext').find('p:eq(0)').show();
	}
	
	var mini = $('.bigtext p').eq(0).height() ; 
	
	jQuery('.bigtext').css('height',mini);
	
    $(this).prev('.expand').removeClass('hide');
    $(this).addClass('hide');
  });

  });
  });
  </script>    