<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-9">
			<div class="white-box-section mt-70 page-not-found-content">
				<div class="row align-items-center">
					<div class="col-12 col-md-5 text-center">
					<img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/not-found.png'); ?>" class="img-fluid" alt="nofound">
						 
					</div>
					<div class="col-12 col-md-7">
						<h2>Sorry! Page not found.</h2>
						<p>Unfortunately the Product you are looking for has been moved or deleted.</p>
						<a href="<?php echo $this->getUrl(); ?>">Go To Home Page</a>
					</div>
				</div>
			<?php //echo __('fddf Other Page Not Found.') ;?>
		</div>
	</div>
</div>


