<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer */ ?>
<?php $_item = $block->getItem();
$_objectManager =   \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $_objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
if ($_item->getGstExclusive() ) {
    $taxableAmount = $_item->getRowTotal();
    $subTotal = $_item->getRowTotal() +  $_item->getCgstAmount() + $_item->getSgstAmount() + $_item->getIgstAmount() + $_item->getUtgstAmount();
} else {
    $taxableAmount = $_item->getRowTotal() - $_item->getCgstAmount() - $_item->getSgstAmount() - $_item->getIgstAmount() - $_item->getUtgstAmount();
}
$taxableAmount = $priceHelper->currency($taxableAmount, true, false);
?>
<?php $block->setPriceDataObject($_item)?>
    <td class="col-product"><?php echo $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-price">
        <?php echo $block->getColumnHtml($_item, 'price'); ?>
    </td>
    <td class="col-qty"><?php echo $block->getColumnHtml($_item, 'qty') ?></td>
    <td class="col-qty-invoice">
    <?php if ($block->canEditQty()) : ?>
        <input type="text" class="input-text admin__control-text qty-input"
               name="invoice[items][<?php /* @escapeNotVerified */ echo $_item->getOrderItemId() ?>]"
               value="<?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>"/>
    <?php else : ?>
        <?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?>
    <?php endif; ?>
    </td>
    <td class="col-subtotal">
        <?php echo $block->getColumnHtml($_item, 'subtotal'); ?>
    </td>
    <td class="col-tax"><?php /* @escapeNotVerified */ echo $taxableAmount ?></td>
    <td class="col-discount"><?php /* @escapeNotVerified */ echo $block->displayPriceAttribute('discount_amount') ?></td>
    <td class="col-price" data-th="<?php echo $block->escapeHtml(__('CGST')); ?>">
        <table class="cgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td style="text-align: center;width: 50px;"><?php echo round($_item->getOrderItem()->getCgstPercent(),2);?></span></td>
                <td style="text-align: center;width: 50px;">
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('cgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getOrderItem()->getData('cgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col-price" data-th="<?php echo $block->escapeHtml(__('SGST')); ?>">
        <table class="sgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td style="text-align: center;width: 50px;"><?php echo round($_item->getOrderItem()->getSgstPercent(),2);?></span></td>
                <td style="text-align: center;width: 50px;">
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('sgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getOrderItem()->getData('sgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col-price" data-th="<?php echo $block->escapeHtml(__('UTGST')); ?>">
        <table class="utgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td style="text-align: center;width: 50px;"><?php echo round($_item->getOrderItem()->getUtgstPercent(),2);?></span></td>
                <td style="text-align: center;width: 50px;">
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('utgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getOrderItem()->getData('utgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col-price" data-th="<?php echo $block->escapeHtml(__('IGST')); ?>">
        <table class="Sgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td style="text-align: center;width: 50px;"><?php echo round($_item->getOrderItem()->getIgstPercent(),2);?></span></td>
                <td style="text-align: center;width: 50px;">
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('igst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getOrderItem()->getData('igst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col-total last">
        <?php echo $block->getColumnHtml($_item, 'total'); ?>
    </td>
