// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                        margin-top: 4px;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid @border-color__base;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: 10px 40px 10px;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__s 11px @indent__s;
                    text-align: center;
                    vertical-align: middle;
                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: 0px;
                        text-align: center;
                        width: 60px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding: 15px @mobile-cart-padding @indent__s 90px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action-edit,
                > .action-delete {                    
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                }

                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                text-align: center;
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.item,
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.price,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 33%;

                    &[data-th]:before {
                        content: attr(data-th);
                        display: block;
                        font-weight: @font-weight__semibold;
                        padding-bottom: 10px;
                    }
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .cart-container {
        .block.crosssell {
            .products-grid {
                .product-item-actions {
                    margin: 0 0 @indent__s;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;
            
            &.block {
                margin-bottom: @indent__base;
            }
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 1px @indent__base @indent__m;
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 0;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    padding-bottom: 35px;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }
    .checkout-cart-index{
        .breadcrumbs {
            margin-top: 0px !important;
        }
    }
    

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
            &.discount {
                width: auto;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}


.checkout-cart-index{
    .cart.table-wrapper{       
        .product-item-details{            
            .product-item-name{
                margin: 0px 0 0px;
            }
            .item_desc {
                display: none;
            }
            .loyality_point {
                display: none;
            }
            .label-product.label-sale{
                display: none;
            }
            .price-box.price-final_price {
                display: none;
            }
        }
    }
    .cart-container{
        .cart-summary{
            background: #fff;
            .block.shipping{
                .title:after{
                    top: 22px; 
                }
                strong{
                    padding-bottom: 0;
                    margin: 10px 0px;
                }
            } 
        }
        
    } 
     
    #shopping-cart-table{
        thead{
            tr{
                th.col.qty {
                    text-align: center;
                    vertical-align: middle;
                    position: relative;
                }
            } 
        } 
        .cart.item{
            .item-info{
                td.col.qty{
                    text-align: center;
                }
            }
            .col.qty{
                .actions-toolbar{
                    .action-delete{
                        left: 0;
                        text-align: center;
                        max-width: 64px;
                        margin: 0 auto;
                        text-decoration: none;
                    }
                } 
                .field.qty{
                    width: auto;
                    margin: 0 auto;
                    .control.qty{
                        .qty-dec-cls {
                            display: inline-block;
                            vertical-align: middle;
                            .qty-dec{
                                color: #3a3a3a;
                            }
                        }
                        label {
                            border: 1px solid #3a3a3a;
                            border-radius: 20px;
                            padding: 3px 7px;
                            input{
                                display: inline-block;
                                vertical-align: middle;
                                height: auto;
                                border: none;
                                outline: none;
                            }
                        }
                        
                        .qty-inc-cls {
                            display: inline-block;
                            vertical-align: middle;
                            .qty-inc{
                                color: #3a3a3a;
                            }
                        }
                    }
                }
            }
        }
        .item-info{
            .subtotal{
                .price-including-tax{
                    display: inline-block;
                }
                .old-price{
                    color: #3a3a3a;
                    font-size: 16px;
                    font-family: @font-family-medium;
                    font-weight: normal; 
                    display: inline-block;
                    text-decoration: line-through; 
                    margin-bottom: 0;
                    vertical-align: middle; 
                }
                .total-saving {
                    color: #f5a622;
                    font-size: 14px;
                    font-family: @font-family-medium;
                    margin-bottom: 0;
                    margin-top: 5px;
                    font-weight: normal;
                }
                
            }
            .price{
                color: #3a3a3a;
                font-size: 16px;
                font-family: @font-family-medium;
                font-weight: normal;
                vertical-align: middle;                
            }
            .product-item-details{
                strong{
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        &:hover{
                            color: @color-action-text-hr;
                        }
                    }
                } 
            } 
            .col.qty{
                .actions-toolbar{
                    .action-delete{
                        background: #273c97;
                        font-size: 12px;
                        color: #fff;
                        padding: 0px 10px 0px 10px;
                        border-radius: 4px;
                        line-height: normal;
                        display: block;
                        height: 31px;
                        line-height: 31px;
                        font-family: 'Conv_DINOT-Medium';
                        font-weight: normal;
                        &:before{
                            display: none;
                        }
                        span{
                            height: auto;
                            margin: 0;
                            overflow: hidden;
                            padding: 0;
                            position: relative;
                            width: auto;
                        }
                    }
                } 
            } 
        } 
    } 
} 


.checkout-cart-index{
    .cart-summary{        
        .block.shipping{
            .title{
                border-top: 0;
            }
        }
        .block.discount{
            .content{
                padding-bottom: 0 !important;
            }
            .title{
                strong{
                    padding-bottom: 0;
                    margin: 0px 0px;
                }
            } 
        } 
        .block{
            .fieldset{
                .field{
                    font-size: 14px;
                }
            } 
        } 
    } 
    .cart-container{
        .data.table.totals{
            td,th{
               font-size: 14px;
            }
        } 
    } 
} 

.checkout-cart-index{
    .cart-container{
        .cart-summary{
            #block-discount{
                .title{
                    &:after{
                        display: none;
                    }
                }
            } 
            #co-shipping-method-form{
                .fieldset.rate {
                    margin-bottom: 0;
                    .items.methods{
                        .item-title{
                            font-size: 16px;
                        }
                        .item-options {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            #shipping-zip-form{
                .fieldset.estimate{
                    margin: 0 0 10px;
                }
                select{
                    -webkit-appearance: auto;
                    -moz-appearance: auto;
                    -ms-appearance: auto;
                    appearance: auto;
                }
            } 
            .cart-totals{
                .table-wrapper{
                    .totals.sub{
                        border-bottom: 1px solid #cccccc;
                        .mark {
                            font-size: 18px;
                            font-weight: 500;
                            padding: 0px 0px 10px;
                        }
                        .amount {
                            font-size: 19px;
                            font-weight: 700;
                            padding: 0px 0px 10px;
                        } 
                    } 
                } 
            } 
        } 
    }    
    #shopping-cart-table{
        .item-info{
            .product-item-details{
                .loyality_point {
                    font-size: 1.5rem;
                }
            }
            .item_desc{
                font-size: 1.5rem;
            }
        } 
    } 
} 

.checkout-cart-index{
    .products-grid{
        .product-item{
            .product.details.product-item-details{
                position: relative;
                .product-reviews-summary{
                    margin: 0;
                    display: block;
                    padding: 0;
                    text-align: center;
                    position: absolute;
                    left: 52%;
                    transform: translate(-50%, -50%);
                    top: 5px;
                }                
            }
        } 
    } 
    .product-reviews-summary{        
        .rating-summary {
            margin: 0 0px 0 0;
            display: inline-block;
            left: 5px;
            .rating-result{
                &:before{
                    color: #626262;
                }
            }
        }
        .reviews-actions{
            display: none;
        }
    }
    .block.crosssell{
        padding: 0px 0 20px 0!important;
        margin-top: 50px;
        margin-bottom: 0;
        .block-title.title{
            strong {
                font-size: 24px;
            }
        }
        .block-content.content{
            .products-grid{
                float: left;
                width: 100%;
                .related-products{
                    padding: 0px 128px;
                    float: left;
                    width: 100%;
                    margin-top: 0 !important;
                    position: relative;
                }
                .owl-item{
                    float: left;                    
                    .product-item{
                        width: 100%;
                        margin-bottom: 0;
                        .product-item-inner{
                            .product-item-actions{
                                margin-bottom: 0;
                                .actions-secondary{                                    
                                    .action.tocompare{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .product-item-info {
                            .company-name {
                                color: #2d6dab;
                                padding-top: 15px;
                                text-align: center;
                                font-family: @font-family-medium;
                                display: block;
                            }
                            .photo.product-item-photo {
                                display: block;
                                .product-image-container{
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.checkout-cart-index{
    .cart-container{
        .cart-summary{            
            .free_shipping{
                strong{
                    color: #f5a622;
                }
            }
        }
        .free_shipping{
            strong {
                color: #14bdda;
                font-size: 1.8rem;
                font-weight: normal;
                margin-bottom: 15px;
                display: block;
                font-family: @font-family-medium;
            }
        }
         .form-cart{
             .table-wrapper{
                 .item-substotal{
                    border: solid 1px #ddd;
                    text-align: right;
                    color: #3a3a3a;
                    padding: 20px 40px;
                    margin-top: 0px;
                    .subtotal{
                        font-size: 23px;
                        font-family: @font-family-medium;
                    }
                    .subtotal-pricecls{
                        font-size: 24px;
                        font-family: 'Conv_DINOT-Bold';
                        padding-left: 5px;
                    }
                 }
             }
         }
    }

}

.buy-it-container{
    border-top: solid 1px #000;
    margin: 25px 0px 0px;
    padding: 25px 0px 0px;
    
    .by-it-heading {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #273c97;
    }
    form{
        border: 1px solid #ddd;
        margin: 25px 0px 0px;
        padding: 5px 15px;
        .product-item-details {
            display: flex;
            width: calc(~"100% - 150px");
            justify-content: space-between;
            align-items: center;
            .price-box {
                display: inline-block;
                margin: 0px 0px;
                width: 16%;
                text-align: center;
                .price-box.price-final_price {
                    width: 100%;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    .special-price{
                        -ms-flex-order: 1;
                        -webkit-order: 1;
                        order: 1;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                    .old-price{
                        -ms-flex-order: 0;
                        -webkit-order: 0;
                        order: 0;
                        display: inline-block;
                        vertical-align: middle;
                        text-decoration: line-through;
                        .price-label{
                            display: none;
                        }
                    }
                }
                .price {
                    font-size: 16px;
                    font-family: @font-family-medium;
                    color: #3a3a3a;
                }
            }
            .product-item-inner {
                display: inline-block;
                vertical-align: middle;
                width: 18%;
                text-align: center;
                .product-item-actions{
                    .actions-primary{
                        .action.tocart{
                            background: @color-btn;
                            border: 1px solid @color-btn-border;
                            color: #ffffff;
                            font-size: 13px;
                            border-radius: 10px;
                            transition: .5s all ease;
                            &:hover{
                                background: @color-btn-hover;
                                border: 1px solid @color-btn-border-hover;
                            }
                        }
                    }
                }
            }
            .product-item-name {
                display: inline-block;
                width: 65%;
                a{
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #3a3a3a;
                    text-decoration: none;
                    &:hover{
                        color: @color-action-text-hr; 
                    }
                }
            }
        }
        .product-image-container{
            a{
                width: 100%;
                max-width: 130px;
                display: inline-block;
                padding-right: 20px;
            }
        }
    }
}

.checkout-cart-index{
    .cart-empty{
        p {
            font-size: 1.5rem;
            a{
                font-weight: 700;
                text-transform: capitalize;
                color: #f5a622;
            }
        }
    }
    #shopping-cart-table{
        thead{
            margin-bottom: 10px;            
            width: 100%;
            tr{
                th{
                    padding: 15px 40px;
                }
            } 
        } 
    } 
} 

.checkout-cart-index{
    .page-title-wrapper{
        .page-title{
            margin-bottom: 10px;
        }
    } 
    .breadcrumbs{
        ul{
            li{
                font-size: 18px;
                font-family: 'Conv_DINOT-Light';
                font-weight: normal;
                strong{
                    font-family: 'Conv_DINOT-Bold';
                }
            }
        } 
    } 
    
}


@media only screen and (max-width:1280px){

    .checkout-cart-index{
        .cart-container{
            .free_shipping{
                strong{
                    font-size: 16px;
                }
            } 
        }  
        #shopping-cart-table{
            .item-info{
                .product-item-details{
                    strong{
                        font-size: 1.4rem;
                        a{
                            font-size: 1.4rem;
                        }
                    } 
                }  
                .product-item-photo{
                    max-width: 150px !important;
                }
            } 
        } 
    } 

}

@media only screen and (max-width:1024px){

    .checkout-cart-index{
        .cart-container{
            .cart-summary{
                .checkout-methods-items{
                    .action.primary.checkout{
                        font-size: 1.6rem;
                    }
                } 
                .block.discount{
                    .content{
                        .primary{
                            button{
                                font-size: 16px !important;
                            }
                        } 
                    } 
                } 
            } 
        } 
        .buy-it-container form{
            .product-item-details{
                .product-item-name{
                    width: 50%;
                }
                .product-item-inner{
                    width: 30%;
                } 
            } 
        } 
        .breadcrumbs{
            padding: 0 15px;
        }
        #maincontent {
            padding-left: 15px !important;
        }
        #shopping-cart-table{
            .item-info{
                .price{
                    font-size: 12px;
                }
            } 
            thead{
                tr{
                    th{
                        font-size: 12px !important;
                    }
                } 
            } 
            .item-info{
                .product-item-photo{
                    width: 70px !important;
                }
            } 
        }  
        .breadcrumbs {
            margin-top: 0px !important;
        }
        #shopping-cart-table{
            .item-info{
                .product-item-details{
                    strong{
                        a {
                            font-size: 1rem;
                        }
                    } 
                } 
            } 
        } 
    }
    
    


}

@media only screen and (max-width:767px){


    .checkout-cart-index{
        .cart-container{
            display: flex;
            flex-direction: column;
            .cart-summary{
                width: 100% !important;
                order: 1;
            }
            .form-cart{
                padding-right: 0 !important;
                width: 100% !important;
                order: 0;
                margin-top: 20px;
                .cart.table-wrapper{
                    .item{
                        .col.item{
                            width: 100%;
                            float: left;
                        }
                    } 
                } 
            }
        }
    } 

}



.checkout-cart-index{
    .cart-summary .checkout-methods-items .action.primary.checkout{
        height: 50px;
    }
    .cart-container{
        .cart-summary{
            .block.discount{
                .content{
                    .primary{
                        button{
                            padding: 0px 0 !important;
                            height: 50px;
                            line-height: 50px;
                        }
                    } 
                } 
            } 
        } 
    } 
} 

.buy-it-container{
    .owl-stage-outer{
        overflow:hidden
        .owl-item{
            float: left;
        }
    }
    .owl-nav {
        display: none;
    }
}

.checkout-cart-index{
    #cart-totals .loading-mask {
        position: relative !important;
        z-index: 1;
        .loader img{
            position: relative !important;
        }
    }
    .modal-popup.confirm .modal-title {
        border-bottom: none;
    }
    .cart-products-toolbar.cart-products-toolbar-top.toolbar {
        display: none;
    }
    .cart-products-toolbar.cart-products-toolbar-bottom.toolbar {
        display: none;
    }
    #shopping-cart-table .cart.item .col.qty .field.qty .control.qty label{
        width: 110px;
    }
    #shopping-cart-table .cart.item .col.qty .field.qty .control.qty label input{
        padding: 0px 5px;
    }
    .cart.table-wrapper .items{
        margin-bottom: 0;
    }
    #shopping-cart-table{
        thead.custom-class tr {
            background: transparent;
        }
        tbody.custom-gap{
            border: none !important;
            tr td {
                padding: 0 !important;
                height: 20px;
            }
        } 
    } 
    span.max-qty-added {
        font-size: 11px;
        position: absolute;
        left: 10px;
        line-height: 1;
        color: red;
        top: 20px;
        text-align: left;
    }
    .item-actions{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
    }
    .cart.table-wrapper{
        .item{
            .col.subtotal{
                vertical-align: middle;
            }
            .col.item{
                vertical-align: middle;
                padding: 10px 8px 10px 0;
                .product-item-photo{
                    display: inline-block;
                    float: none;
                    width: auto;
                    vertical-align: middle;
                    .product-image-container{
                        display: inline-block;
                        .product-image-wrapper{
                            padding-bottom: 100% !important;
                            .product-image-photo{
                                position: absolute;
                            }
                        }
                    }
                }
                .product-item-details{
                    width: calc(~"100% - 190px");
                    display: inline-block;
                    vertical-align: middle;
                    .card_price {
                        display: none;
                    }
                    .loyality_point + p {
                        display: none;
                    }
                    br {
                        display: none;
                    }
                }
            }
        } 
    } 
}






.block.related {
	.products {
		.owl-stage {
			.owl-item {
				li.home-page-product-list.item.product.product-item {
					margin: 0 20px !important;
					max-width: ~"calc(100% - 40px)";
					&:hover {
						.product-item-inner {
							display: block;
							bottom: 0;
						}
					}
				}
				.product-item {
					.product-item-actions {
						display: flex !important;
					}
					&:hover {
						.product-item-actions {
							.actions-primary {
								button {
									span {
										position: static;
										font-size: inherit;
										transform: none;
									}
									line-height: inherit;
									background: #40549d url(../images/cart.svg) no-repeat 10px 7px;
									border: none;
									width: 100%;
									color: #fff;
									height: 35px;
									text-transform: uppercase;
									font-family: 'Conv_DINOT-Medium';
									font-size: 1.056rem;
									padding: 10px;
									border-radius: 3px;
									background-size: 18px;
									font-weight: normal;
									padding-left: 25px;
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
	}
}
.owl-stage-outer {
	overflow: hidden;
}
.customer-also-viewed {
	.latest-deals-products-container.block.related {
		ul.latest-deals-container.customers-bought {
			max-width: 80%;
			display: block;
			margin: 15px auto !important;
			float: none;
			position: relative;
            .owl-nav{
                button.owl-prev {
                    background: #5984db;
                    color: #fff;
                    border-radius: 50%;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    transform: translate(0, -50%);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;
                    outline: none;
                    box-shadow: 0 0 0px 0px #eee;
                }
                button.owl-next {
                    background: #5984db;
                    color: #fff;
                    border-radius: 50%;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    transform: translate(0, -50%);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;
                    outline: none;
                    box-shadow: 0 0 0px 0px #eee;
                    left: auto;
                    right: -50px;
                }
                button {
                    span {
                        display: block;
                        width: auto;
                        height: auto;
                        font-size: 40px;
                        font-weight: 300;
                        position: absolute;
                        top: 38%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover {
                        box-shadow: 0 0 10px 5px #eee;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
		}
	}
}
.product-item {
	.price-box {
		.old-price {
			span.price-label {
				display: none;
			}
			&:before {
				margin-left: 0;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.price {
			span.special-price {
				margin-left: 20px;
				order: 2;
			}
			.price-box.price-final_price {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

.customer-also-viewed {
	margin-top: 50px;
}
.loading-order {
	.product-image-container {
		img {
			width: 150px;
		}
	}
	form.custom_addto_form {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.buy-it-container {
	form {
		.product-image-container {
			a {
				padding: 0;
				margin-right: 20px;
			}
		}
		.product-item-details {
			.product-item-inner {
				width: auto;
			}
			.price-box {
				width: auto;
				padding: 0 20px;
			}
		}
	}
}
.checkout-cart-index .latest-deals-products-container ul li:hover .product-item-inner .product-item-actions .wishlist a::before{
    left:2px;
}
.checkout-cart-index .product-item .price-box .old-price:before{
    transform: translate(-50%, -50%);
}
body.checkout-cart-index .control.qty div.mage-error {
    position: absolute;
    top: 0;
    font-size: 12px;
}