.checkout-cart-index {
    .mark, mark {
        background: none !important;
    }
    #maincontent {
        padding-left: 50px;
    }
    .page-title {
        color: #3a3a3a;
        text-transform: uppercase;
        font-family: @font-family-medium;
        font-size: 30px;
        margin: 0;
    }
    .cart-container {
        font-family: @font-family-medium;
        .form-cart {
            padding-right: 3%;
            width: 72%;
        }
        .cart.main.actions {
            display: none;
        }
        .table-caption {
            display: none;
        }
        .block.shipping {
            strong {
                padding-bottom: 5px;
                font-weight: normal;
                display: block;
            }
        }
        .data.table.totals {
            th, td {
                padding: 5px 0;
                font-weight: normal;
                strong {
                    font-weight: normal;
                }
            }
        }
        .cart-summary {
            padding: 0;
            width: 28%;
            top: 0 !important;
            .summary {
                &.title {
                    color: #3a3a3a;
                    font-weight: normal;
                    font-family: @font-family-medium;
                    font-size: 18px;
                    border-bottom: solid 2px #777;
                    padding-bottom: 5px;
                    margin-bottom: 10px;
                }
            }
            .checkout-methods-items {
                list-style: none;
                padding: 0;
                button {
                    background: #273c97;
                    text-align: center;
                    width: 100%;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                    margin: 0;
                    padding: 17px 0;
                    border-radius: 30px;
                    transition: .5s all ease;
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                    &:focus {
                        outline: none;
                        border: none;
                    }
                    &:hover{
                        background: @color-btn-hover;
                    }
                }
            }
            .block {
                &.discount {
                    .title {
                        strong {
                            font-size: 18px;
                            font-weight: normal;
                            color: #292929;
                            padding-bottom: 10px;
                            display: block;
                        }
                    }
                    .content {
                        display: block !important;
                        padding-bottom: 30px;
                        .label {
                            display: none;
                        }
                        .control {
                            input {
                                width: 100%;
                                border: solid 1px #ddd;
                                height: auto;
                                padding: 10px;
                            }
                        }
                        .primary {
                            width: 100%;
                            button {
                                background: #f5a622;
                                border: none;
                                color: #fff;
                                width: 100%;
                                box-shadow: none;
                                margin: 0;
                                font-size: 1.8rem;
                                padding: 12px 0;
                                border-radius: 30px;
                                margin-top: 8px;
                                font-family: 'Conv_DINOT-Medium';
                                font-weight: normal;
                                &:focus {
                                    outline: none;
                                    border: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #shopping-cart-table {
        .cart {
            &.item {
                border: none;
            }
        }
        thead {
            border: none;
            padding-bottom: 15px;
            tr {
                background: #f3f3f3;
                th {
                    border: none;
                    font-size: 16px;
                    color: #3a3a3a;
                    font-weight: normal;
                }
            }
        }
        .item-info {
            border: solid 1px #ddd;
            margin-bottom: 30px;
            border-radius: 4px;
            .product-item-photo {
                display: inline-block;
                float: none;
                width: auto;                
                vertical-align: middle;
            }
            .product-item-details {
                padding: 0;
                strong {
                    color: #3a3a3a;
                    font-weight: normal;
                    a {
                        color: #3a3a3a;
                    }
                }
            }
            .control {
                &.qty {
                    span {
                        &.label {
                            display: none;
                        }
                    }
                    input {
                        width: 60px;
                        text-align: center;
                        padding-left: 12px;
                    }
                }
            }
                   
            .item_desc, .price-box.price-final_price {
                font-family: @font-family-light;
            }
        }
    }
}

.block {
    &.crosssell {
        width: 100% !important;
        padding: 70px 0 20px 0!important;
        .block-title {
            strong {
                font-size: 24px;
                color: #444444;
                display: block;
                font-weight: normal;
                padding-bottom: 20px;
                font-family: @font-family-medium;
            }
        }
        .block-content {
            &.content {
                position: relative;
                .owl-nav {
                    button {
                        &:focus {
                            outline: none;
                            border: none;
                        }
                    }
                    span {
                        color: #fff;
                        border: solid #fff;
                        border-width: 0 4px 4px 0;
                        display: inline-block;
                        padding: 4px;
                        font-size: 0px;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                    }
                    .owl-prev {
                        position: absolute;
                        top: 40%;
                        border: none;
                        background: #273c97;
                        border-radius: 50%;
                        width: 49px;
                        height: 49px;
                        padding: 0;
                        left: 0;
                        span {
                            transform: rotate( -220deg );
                            -webkit-transform: rotate(-220deg );
                        }
                    }
                    .owl-next {
                        position: absolute;
                        top: 40%;
                        border: none;
                        background: #273c97;
                        border-radius: 50%;
                        width: 49px;
                        height: 49px;
                        padding: 0;
                        right: 16px;
                        span {
                            transform: rotate( -45deg );
                            -webkit-transform: rotate(-45deg );
                            left: 16px;
                            top: 18px;
                        }
                    }
                }
            }
        }
        .owl-stage {
            width: 100%;
            .owl-item {
                width: 100%;
                .products {
                    padding: 0 100px 0 125px;
                    list-style-type: none;
                    .owl-stage {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .owl-item {
                            width: 22%;
                            .product-item {
                                width: 100%; 
                                text-align: center;
                                border: solid 1px #ddd;
                                border-radius: 10px;
                                transition: .5s all ease;
                                padding-bottom: 50px;
                                position: relative;
                                .product.name {
                                    display: block;
                                    padding: 0 15px;
                                }
                                .product-item-actions {
                                    display: none;
                                }
                                &:hover {
                                    box-shadow: 0 0 10px 5px #eee;
                                    z-index: 999;
                                    position: relative;
                                    cursor: pointer;
                                    transition: .5s all ease;
                                    a {
                                        text-decoration: none;
                                    }
                                    .product-item-actions {
                                        position: absolute;
                                        bottom: 10px;
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        padding: 0 10px;
                                        .actions-secondary {
                                            width: 48%;
                                            a {
                                                background: #f5a622;
                                                border: none;
                                                width: 100%;
                                                color: #fff;
                                                height: auto;
                                                text-transform: uppercase;
                                                font-family: @font-family-medium;
                                                font-size: 11px;
                                                padding: 7px;
                                                border-radius: 2px;
                                                display: block;
                                                &.action.tocompare {
                                                    display: none;
                                                }
                                            }
                                        }
                                        .actions-primary {
                                            width: 48%;
                                            .stock.unavailable {
                                               background: #40549d;
                                                border: none;
                                                color: #fff;
                                                height: auto;
                                                text-transform: uppercase;
                                                font-family: @font-family-medium;
                                                font-size: 12px;
                                                padding: 7px;
                                                border-radius: 2px; 
                                            }
                                            button {
                                                background: #40549d;
                                                border: none;
                                                width: 100%;
                                                color: #fff;
                                                height: auto;
                                                text-transform: uppercase;
                                                font-family: @font-family-medium;
                                                font-size: 11px;
                                                padding: 7px;
                                                border-radius: 2px;
                                            }
                                        }
                                    }
                                }
                                img {
                                    width: 100%;
                                }
                                .subhead {
                                    display: block;
                                    padding: 0 20px;
                                }
                                a {
                                    color: #585858;
                                    -webkit-box-orient: vertical;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                }
                                .price {
                                    color: #626262;
                                    font-family: @font-family-medium;
                                    font-size: 20px;
                                    display: block;
                                    padding-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#shipping-zip-form {
    font-family: 'Conv_DINOT-Light';
    br {
        display: none;
    }
    .legend {
        display: none;
    }
    select, input {
        width: 100%;
        border: solid 1px #ddd;
        height: auto;
        padding: 10px;
    }
}
.checkout-index-index {
    .page-title {
        color: #3a3a3a;
        text-transform: uppercase;
        font-family: @font-family-medium;
        font-size: 30px;
        margin: 0;
        padding-bottom: 20px;
    }
    #shipping, #opc-shipping_method {
        &::marker {
            display: none;
            font-size: 0px;
        }
    }
    #checkoutSteps {
        padding: 0;
    }
    .step-title {
        color: #3a3a3a;
        text-transform: none;
        font-family: @font-family-medium;
        font-size: 24px;
        padding-bottom: 10px;
        margin: 0;
        border: none;
    }
    legend {
        &.label {
            color: #3a3a3a;
            text-transform: none;
            font-family: @font-family-medium;
            font-size: 24px;
            padding-top: 0px;
        }    
    }
    .field-tooltip.toggle {
        display: none;
    }
}
#opc-shipping_method {
    .step-title {
        border-bottom: solid 1px #ccc;
    }
}
form#co-shipping-form {
    max-width: 100%;
    margin: 0;
    #shipping-new-address-form {
        display: block;
        .field {
            width: 50%;
            padding-bottom: 0px;
            float: left;
            padding: 0px 10px;
            box-sizing: border-box;
            label {
                margin-bottom: .5rem;
                color: #3c3c3c;
                font-size: 14px;
                font-weight: normal;
                font-family: 'Conv_DINOT-Medium';
                display: block;
                position: relative;
                width: 100%;
                height: auto;
            }
            input, select {
                border: solid 1px #5d5d5d;
                width: 100%;
                height: auto;
                padding: 14px;
                font-size: 14px;
            }
            &.street {
                .field {
                    width: 100%;
                    &.additional {
                        display: none !important;
                    }
                }
            }
            &.choice {
                display: none !important;
            }
        }
    }
}
.opc-summary-wrapper {
    margin: 0 !important;
    .modal-content {
        border: none;
        .opc-block-summary {
            box-shadow: 0 0 10px 5px #eee;
            padding: 20px;
            background: #fff;            
            .title {
                color: #3a3a3a;
                text-transform: none;
                font-family: @font-family-medium;
                font-size: 22px;
                padding-bottom: 14px;
            }
            .title {
                strong {
                    font-weight: normal;
                    font-size: 16px;
                }
            }
            .minicart-items{
                padding: 0 0px;
                .minicart-items-wrapper{
                    margin: 0 0px 0 0;
                    padding: 0px 0px 0 0;
                    .minicart-items{
                        padding: 0 0px;
                    }
                }
            }
            
            .product-item {
                .product {
                    display: block;
                    border-bottom: solid 1px #ddd;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    .price {
                        font-family: @font-family-medium;
                        font-weight: normal;
                    }
                    .product-item-details{
                        padding-left: 15px !important;                        
                        width: calc(~"100% - 90px");
                        display: inline-block;
                    }
                    .product-image-container {
                        .product-image-wrapper{
                            padding-bottom: 100%;
                            img{
                                bottom: 0;
                                display: block;
                                height: auto;
                                left: 0;
                                margin: auto;
                                max-width: 100%;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
.opc-wrapper {
    width: 64.666% !important;
}
#co-shipping-method-form {
    .table-checkout-shipping-method {
        border: solid 1px #ddd;
        border-top: 0;
        margin-bottom: 15px;
        border-left: 0;
        min-width: 100%;
        .row{
            margin-left: 0;
            margin-right: 0;
        }
        td {
            font-size: 16px;
            padding-left: 20px !important;
            border-left: solid 1px #ddd;
            padding: 10px 0px;
        }
    }
    .actions-toolbar {
        .primary {
            float: none;
            button {
                color: #fff;
                font-size: 20px;
                padding: 10px 50px;
                display: block;
                text-decoration: none;
                transition: .5s all ease;
                background: #273c97;
                border-radius: 30px;
            }
        }
    }
}
.breadcrumbs .item:not(:last-child):after {display: none;}
.minicart-items .product-item-details {padding-left: 0px !important;}
#co-shipping-form .field[name="shippingAddress.city"] {padding-top: 43px;}
a.use-ajax.action.towishlist.action-towishlist {display: none;}

.checkout-index-index{
    .modal-popup{
        .modal-inner-wrap{
            margin: 5rem auto !important;
            left: 0 !important;
        }
    } 
} 


form#co-shipping-form{
    #shipping-new-address-form{
        .field{
            select{
                -webkit-appearance: auto;
                -moz-appearance: auto;
                -ms-appearance: auto;
                appearance: auto;
            }
        } 
    } 
} 

body.checkout-index-index{
    font-size: 1.4rem;
}

.checkout-index-index{
    .opc-wrapper{
        .shipping-address-item.selected-item {
            border-color: #f5a622;
            &:after{
                background: #f5a622;
            }
        }
    } 
    #co-shipping-method-form{
        .actions-toolbar{
            .primary button.button.action.continue.primary {
                background: @color-btn;
                border: 1px solid @color-btn-border;
                margin-right: 0;
                height: 43px;
                padding: 0px 20px;
                border-radius: 10px;
                text-transform: uppercase;
                width: auto;
                transition: .5s all ease;
                display: block;
                color: #fff;
                text-align: center;
                line-height: 43px;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
                box-shadow: none;
                &:hover{
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                }
            }
        } 
    } 
    .checkout-shipping-address{
        a{
            font-weight: 700;            
            color: #f5a622;
        }
        #checkout-step-shipping{
            .new-address-popup{
                button.action.action-show-popup {
                    background: @color-btn;
                    border: 1px solid @color-btn-border;
                    margin-right: 0;
                    height: 43px;
                    padding: 0px 10px;
                    border-radius: 10px;
                    text-transform: uppercase;
                    width: auto;
                    transition: .5s all ease;
                    display: block;
                    color: #fff;
                    text-align: center;
                    line-height: 43px;
                    font-size: 1.4rem;
                    font-weight: 600;
                    cursor: pointer;
                    box-shadow: none;
                    &:hover{
                        background: @color-btn-hover;
                        border: 1px solid @color-btn-border-hover;
                    }
                }
            } 
        }
    }    
    .modal-popup{
        &.modal-slide{
            .modal-inner-wrap{
                border-radius: 10px;
                .modal-content{
                    padding: 20px 20px;
                  #opc-new-shipping-address{
                      .form-shipping-address{
                          #shipping-new-address-form{
                              .field{
                                  margin-bottom: 15px;
                                  clear: right;
                                  .field-error{
                                    position: absolute;
                                    margin-top: 0;
                                  }
                                  .message.warning{
                                    position: absolute;
                                    z-index: 1;
                                    width: 350px;
                                    height: 35px;
                                    overflow-y: scroll;
                                    margin-top: 2px;
                                  }
                                  &.street{
                                    margin-bottom: 0;
                                    .control{
                                        .field{
                                            padding: 0px;
                                            .label{
                                                display: none;
                                            }
                                        }
                                    }
                                  }
                                  &[name="shippingAddress.gstin"]{
                                      display: none;
                                  }
                                  &[name="shippingAddress.buyer_gst_number"]{
                                      display: none;
                                  }
                                  .label{
                                    font-family: @font-family-medium;
                                    font-weight: normal;
                                    &:after{
                                        content: '*';
                                        color: #e02b27;
                                        font-size: 1.2rem;
                                        margin: 0 0 0 0px;
                                    }
                                  }
                                  .input-text,.select{
                                    height: 43px;
                                    border-radius: 10px;
                                    padding: 5px 10px;
                                  }
                                  &.street{
                                    legend.label{
                                        margin-bottom: 0.5rem;
                                        color: #3c3c3c;
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-family: 'Conv_DINOT-Medium';
                                        display: block;
                                        position: relative;
                                        width: 100%;
                                        height: auto;
                                    }
                                  }
                              }
                          }
                      }
                  }
                }
                .modal-footer{
                    padding: 15px 20px;
                    button.action.secondary.action-hide-popup{
                        border: 1px solid #273c97;
                        margin: 0px 0px 0px 15px;
                        height: 43px;
                        padding: 0px 20px;
                        border-radius: 10px;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 1.4rem;
                        line-height: 43px;
                        span{
                            font-weight: 700;
                        }
                    }
                    button.action.primary.action-save-address{
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        margin-right: 0;
                        height: 43px;
                        padding: 0px 20px;
                        border-radius: 10px;
                        text-transform: uppercase;
                        width: auto;
                        transition: .5s all ease;
                        display: block;
                        color: #fff;
                        text-align: center;
                        line-height: 43px;
                        font-size: 1.4rem;
                        font-weight: 600;
                        cursor: pointer;
                        box-shadow: none;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover; 
                        }
                    }
                }
                .modal-header{
                    text-align: center;
                    width: 100%;
                    display: block;
                    padding: 20px 0px;
                    .modal-title{
                        border-bottom: none;
                        padding-bottom: 0;
                        font-size: 27px;
                        font-weight: 700;
                    }
                }
            }
        }
        &.agreements-modal{
            .modal-inner-wrap {
                border-radius: 18px;
                overflow: hidden;
                footer.modal-footer {
                    display: none;
                }
                .modal-content{
                    padding: 15px 20px;
                }
            }
        }
    }
    .opc-summary-wrapper{
        .modal-content{
            .opc-block-summary{
                .block.items-in-cart{
                    .title {
                        font-size: 0;
                    }
                } 
            } 
        } 
    } 
}

.checkout-payment-method{
    .payment-option-content{
        .form-discount{
            .actions-toolbar{
                .primary{
                    button.action.action-apply {
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        margin-right: 0;
                        height: 43px;
                        padding: 0px 20px;
                        border-radius: 0px 10px 10px 0px;
                        text-transform: capitalize;                        
                        transition: .5s all ease;
                        color: #fff;
                        box-shadow: none;
                        font-size: 16px;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                }
            }
            .payment-option-inner{
                .field{
                    .control{
                        input#discount-code {
                            height: 43px;
                            border: 1px solid #000;
                            overflow: hidden;
                            border-radius: 10px 0px 0px 10px;
                        }
                    }
                }
            }
        }
    } 
    .checkout-billing-address{
        .billing-address-details{
            a {
                color: #212529;
                font-family: @font-family-medium;
                &:hover{
                    color: @color-action-text-hr;
                }
            }
        } 
    } 
} 

.cart-totals tbody .mark, 
.cart-totals tfoot .mark, 
.opc-block-summary .table-totals tbody .mark, 
.opc-block-summary .table-totals tfoot .mark{
    background-color: transparent;
}

.checkout-payment-method{
    .payment-method._active{
        .payment-method-content{
            .actions-toolbar{
                .primary{
                    button.action.primary.checkout {
                        background: @color-btn;
                        border: 1px solid @color-btn-border;
                        margin-right: 0;
                        height: 43px;
                        padding: 0px 20px;
                        border-radius: 10px;
                        text-transform: capitalize;
                        transition: .5s all ease;
                        color: #fff;
                        box-shadow: none;
                        font-size: 16px;
                        &:hover{
                            background: @color-btn-hover;
                            border: 1px solid @color-btn-border-hover;
                        }
                    }
                } 
            } 
        } 
    } 
} 



.checkout-index-index{
    .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, 
    .opc-block-summary > .title, .checkout-agreements-items .checkout-agreements-item-title{
        color: #3a3a3a;
        text-transform: none;
        font-family: @font-family-medium;
        font-weight: normal;
        font-size: 22px;
    }
    .cart-totals tbody .mark, .cart-totals tfoot .mark, 
    .opc-block-summary .table-totals tbody .mark, 
    .opc-block-summary .table-totals tfoot .mark{
        font-family: @font-family-medium;
        font-weight: normal;
        color: #3a3a3a;
    }
    .cart-totals tbody .amount, .cart-totals tfoot .amount, 
    .opc-block-summary .table-totals tbody .amount, 
    .opc-block-summary .table-totals tfoot .amount{
        font-family: @font-family-medium;
        font-weight: normal;
        color: #3a3a3a;
    }
    .opc-summary-wrapper{
        .modal-content{
            .opc-block-summary{
                .minicart-items{
                    .product-item{
                        padding: 10px 0;
                        .product{
                            border-bottom: none;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                } 
            }
        } 
    } 
    .opc-block-shipping-information{
        padding: 0 0px;
        .shipping-information{
            .ship-via{
                .shipping-information-title{
                    button.action.action-edit {
                        display: none;
                    }
                }
            }
            .shipping-information-content{
                word-break: break-all;
                a{
                    color: #273c97;
                    font-family: @font-family-medium;
                    font-weight: normal;
                    &:hover{
                        color: @color-action-text-hr;
                    }
                }
            }
            .shipping-information-title{
                margin: 0 0 10px;
                .action.action-edit{
                    &::before{
                        color: #273c97;
                    }
                    &:hover{
                        &::before{
                            color: #f5a622;
                        }
                    }
                }
            }
        }
    }
    .checkout-billing-address{
        .billing-address-details{
            button.action.action-edit-address{
                background: @color-btn;
                border: 1px solid @color-btn-border;
                margin-right: 0;
                height: 32px;
                padding: 0px 20px;
                border-radius: 6px;
                text-transform: uppercase;
                width: auto;
                transition: .5s all ease;
                display: block;
                color: #fff;
                text-align: center;
                line-height: 29px;
                font-size: 1.4rem;
                cursor: pointer;
                box-shadow: none;
                margin-top: 0;
                &:hover{
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                }
            }
        }
    }
    #co-payment-form{
        .fieldset{
            #checkout-payment-method-load{
                .items.payment-methods{
                    .payment-group{
                        .step-title{
                            border-bottom: 1px solid #ccc;
                        }
                    }
                }
            }
            .checkout-billing-address{
                border: 1px solid #ccc;
                padding: 20px;
                border-radius: 4px;
                position: relative;
                .fieldset{
                    margin-bottom: 0;
                    .field-select-billing{
                        .control{
                            select{
                                -webkit-appearance: auto;
                                -moz-appearance: auto;
                                -ms-appearance: auto;
                                appearance: auto;
                            }
                        }
                    }
                    .actions-toolbar{
                        padding-top: 20px;
                        .primary {
                            float: left;
                            button.action.action-update,button.action.action-cancel{
                                background: @color-btn;
                                border: 1px solid @color-btn-border;
                                height: 36px;
                                padding: 0px 15px;
                                border-radius: 10px;
                                text-transform: uppercase;
                                width: auto;
                                transition: .5s all ease;
                                display: inline-block;
                                color: #fff;
                                text-align: center;
                                line-height: 36px;
                                font-size: 1.4rem;
                                font-family: @font-family-medium;
                                margin-bottom: 0px;
                                cursor: pointer;
                                box-shadow: none;
                                text-decoration: none;
                                margin-top: 0;
                                margin-right: 10px;
                                font-weight: normal;
                                &:hover{
                                    background: @color-btn-hover;
                                    border: 1px solid @color-btn-border-hover;
                                }
                            }
                        }
                    }
                }
                .billing-address-same-as-shipping-block{
                    display: flex;
                    justify-content: space-between;                    
                    label{
                        margin-bottom: 0;
                        span.checkyourbilling {
                            display: block;
                            float: none;
                            color: #3a3a3a;
                            text-transform: none;
                            font-family: @font-family-medium;
                            font-weight: normal;
                            font-size: 18px;
                        }
                    }
                    a{
                        order: 2;
                        font-family: @font-family-medium;
                        font-weight: normal;
                        letter-spacing: 0.45px;
                        font-size: 0px;
                        border: none;
                        color: #fff;
                        height: auto;
                        line-height: normal;
                        padding: 10px 10px;
                        border-radius: 4px;
                        background: #273c97;
                        transition: .5s all ease;
                        &:before {
                            content: '\e601';
                            font-family: 'luma-icons';
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-size: 18px;
                            line-height: 20px;
                            margin: 0 auto;
                            display: block;
                        }
                        &:hover{
                            background: @color-btn-hover;
                        }
                    }
                }               
                .billing-address-details{
                    line-height: 1.5;
                    padding: 0 0 0 0px;                    
                    button.action.action-edit-address{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        display: none;
                    }
                }
            }
        }
        .discount-code{
            .payment-option-content{
                padding: 0 0 20px 0px;
            }
            .payment-option-title{
                padding-left: 0;
                .action-toggle{
                    font-size: 16px;
                    color: #3a3a3a;
                    text-transform: none;
                    font-family: @font-family-medium;
                    font-weight: normal;
                    &:after{
                        color: #3a3a3a;
                    }
                }
            }
        }
    }
    .free_shipping{
        strong {
            color: #14bdda;
            font-size: 1.8rem;
            font-weight: normal;
            margin-bottom: 15px;
            display: block;
            font-family: @font-family-medium;
            font-weight: normal;
        }
    }
    .opc-wrapper{
        .shipping-address-item{
            padding: 10px 110px 10px 20px;
            width: 49%;
            border: 1px solid #ddd;
            &:nth-child(2n) {
                float: right;
            }
            &::before{
                display: none;
            }
            &.not-selected-item{
                border: 1px solid #ddd;
            }
            button.action.action-select-shipping-item{
                background: @color-btn;
                border: 1px solid @color-btn-border;
                margin-right: 0;
                height: 36px;
                padding: 0px 10px;
                border-radius: 6px;
                text-transform: uppercase;
                width: auto;
                transition: .5s all ease;
                display: block;
                color: #fff;
                text-align: center;
                line-height: 36px;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
                box-shadow: none;
                margin-top: 0;
                position: absolute;
                top: 10px;
                right: 20px;
                &:hover{
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                }
            }
        }
        #co-payment-form{
            a#send_payment_link{
                background: @color-btn;
                border: 1px solid @color-btn-border;
                margin-right: 0;
                height: 43px;
                padding: 0px 20px;
                border-radius: 10px;
                text-transform: uppercase;
                width: auto;
                transition: .5s all ease;
                color: #fff;
                text-align: center;
                line-height: 43px;
                font-size: 1.4rem;
                font-weight: 600;
                cursor: pointer;
                box-shadow: none;
                display: inline-block;
                margin-bottom: 15px;
                &:hover{
                    background: @color-btn-hover;
                    border: 1px solid @color-btn-border-hover;
                }
            }
        }
        #checkout-step-shipping_method{
            .methods-shipping{
                .table-checkout-shipping-method{
                    .row{
                        .col{
                            &:nth-child(3){
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }  
} 

.opc-summary-wrapper{
    .modal-content{
        .opc-block-summary{
            .loading-mask {
                opacity: 0;
            }
        } 
    } 
} 

.toast-top-right{
    left: 12px;
    right: initial !important
}

.checkout-onepage-success{
    .page-title-wrapper {
        text-align: center;
        .page-title {
            color: #444444;
            font-size: 32px;
            padding: 0px 0 20px;
            font-weight: normal;
            text-align: center;
            font-family: @font-family-medium;
            margin-bottom: 20px;
        }
        a.action.print {
            display: none;
        }
    }
    .checkout-success{
        h2{
            font-size: 22px;
            font-family: @font-family-medium;
            font-weight: normal;
        }
        h3{
            font-size: 20px;
            font-family: @font-family-medium;
            font-weight: normal;
        }
        .btn-gradent{
            background: @color-btn;
            border: 1px solid @color-btn-border;
            margin-right: 0;
            height: 43px;
            padding: 0px 25px;
            border-radius: 10px;
            text-transform: uppercase;
            width: auto;
            transition: .5s all ease;
            color: #fff;
            text-align: center;
            line-height: 43px;
            font-size: 1.4rem;
            margin-top: 20px;
            font-family: @font-family-medium;
            &:hover{
                background: @color-btn-hover;
                border: 1px solid @color-btn-border-hover;
            }
        }
    }
}

.checkout-index-index{
    .checkout-container{
        margin: 0 0 0px;
    }
    .opc-wrapper{
        margin-bottom: 0;
        .step-content#checkout-step-shipping_method {
            margin-bottom: 0;
        }
        #checkoutSteps{
            li {
                width: 100%;
                float: left;
                &.checkout-shipping-address{
                    .step-content{
                        margin: 0 0 0px;
                        float: left;
                        width: 100%;
                        .form-shipping-address{
                            #shipping-new-address-form {                               
                                float: left;
                                width: auto;
                                margin-left: -10px;
                                margin-right: -10px;
                                margin-bottom: 0;
                                .field{
                                    select{
                                        height: 50px;
                                        padding: 10px 15px;
                                    }
                                    input{
                                        height: 50px;
                                        padding: 10px 15px;
                                    }
                                } 
                                .field.street{
                                    legend.label{
                                        margin-bottom: 0.5rem;
                                        color: #3c3c3c;
                                        font-size: 14px;
                                        font-weight: normal;
                                        font-family: 'Conv_DINOT-Medium';
                                        display: block;
                                        position: relative;
                                        width: 100%;
                                        height: auto;
                                    }
                                    .control{
                                        .field {                                                
                                            padding: 0;
                                        }
                                        label.label {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        } 
    } 
} 

.checkout-index-index{    
    .opc-wrapper{
        .step-content{
            #co-payment-form{
                #checkout-payment-method-load{
                    .items.payment-methods{
                        .payment-group{
                            .payment-method{
                                .payment-method-title.field.choice{
                                    .label {
                                        margin-bottom: 0;
                                    }
                                } 
                            } 
                        } 
                    } 
                } 
            } 
        } 
    } 
    .opc-block-summary{
        .table-totals{
            margin-bottom: 0;
            tbody{
                tr:last-child td {
                    padding-bottom: 10px;
                }
            } 
            .grand strong {
                font-weight: normal;
            }
        } 
    } 
    .checkout-payment-method{
        .field-select-billing {
            margin-bottom: 0;
        }
        .payment-option-content{
            .form-discount{
                .payment-option-inner {
                    margin: 0 0 0px;
                }
            } 
        } 
    }     
}

.checkout-index-index{
    #co-payment-form{
        .fieldset{
            .checkout-billing-address{
                .billing-address-form {
                    max-width: 100%;
                    margin-top: 20px;
                    form{
                        fieldset.fieldset.address{
                            margin-left: -10px;
                            margin-right: -10px;
                            .field {
                                width: 50%;
                                float: left;
                                padding: 0px 10px;
                                .field-error {
                                    position: absolute;
                                    margin-top: 2px;
                                }
                                &.choice{
                                    margin-top: 25px;
                                    .checkbox{
                                        height: auto;
                                        padding: 0;
                                    }
                                }
                                .input-text{
                                    height: 50px;
                                    padding: 10px 15px;
                                }
                                .select{
                                    height: 50px;
                                    padding: 10px 15px;
                                }
                                .control._with-tooltip{
                                    .field-tooltip.toggle {
                                        display: block;
                                    }
                                }
                                &.street{
                                    .label {
                                        font-weight: normal;
                                        font-size: 1.4rem;
                                    }
                                    .control{
                                        margin-left: -5px;
                                        margin-right: -5px;
                                        .field {
                                            width: 100%;
                                        }
                                        .additional {
                                            display: none;
                                        }
                                    } 
                                } 
                            }
                        }
                    }
                }
            } 
        } 
    } 
} 