<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Transaction\View */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$collection = $block->sellertransactionDetails();
$ordersList = $block->sellertransactionOrderDetails($this->getRequest()->getParam('id'));

//curreny format code
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');

$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();

$currencyModel = $objectManager->create('Magento\Directory\Model\Currency'); // Instance of Currency Model

$currencySymbol = $currencyModel->load($currency)->getCurrencySymbol();

$precision = 2;   // for displaying price decimals 2 point

?>
<div class="wk-mp-design">
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend"><span><?php echo __('Transaction Id %1 - %2', $collection->getTransactionId(), __('Paid')) ?></span></legend>
        <div class="wk-mp-order-info-box" style="display:none;">
            <div>
                <div class="box">
                    <div class="box-title">
                        <h2><?php echo __('Transaction Informationss') ?></h2>
                    </div>
                    <div class="box-content">
                        <div class="wk_row">
                            <span class="label"><?php echo __('Date')?> : </span>
                            <span class="value"><?php echo $block->formatDate($collection->getCreatedAt(), \IntlDateFormatter::LONG); ?></span>
                        </div>
                        <div class="wk_row">
                            <span class="label"><?php echo __('Amount')?> : </span>
                            <span class="value"><?php echo $block->getFormatedPrice($collection->getTransactionAmount()); ?></span>
                        </div>
                        <div class="wk_row">
                            <span class="label"><?php echo __('Type')?> : </span>
                            <span class="value"><?php echo $collection->getType(); ?></span>
                        </div>
                        <div class="wk_row">
                            <span class="label"><?php echo __('Method')?> : </span>
                            <span class="value"><?php echo $collection->getMethod(); ?></span>
                        </div>
                        <div class="wk_row">
                            <?php
                                if ($collection->getCustomNote()) {
                                    $customnote = $collection->getCustomNote();
                                } else {
                                    $customnote = __('None');
                                }
                            ?>
                            <span class="label"><?php echo __('Comment Message')?> : </span>
                            <span class="value"><?php echo $customnote; ?></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-details-items ordered">
            <div class="table-wrapper order-items">
                <h2 class="table-caption" style="display:none;"><?php echo __('Transaction Order Information') ?></h2>
                <table class="data table table-order-items table-shadow-design" summary="<?php echo __('Order List Per Product') ?>">
                    <thead>
                        <tr>
                            <th class="col price"><?php echo __('Order #') ?></th>
                            <th class="col price"><?php echo __('Product Name') ?></th>
                            <th class="col price"><?php echo __('Price') ?></th>
                            <th class="col price"><?php echo __('Qty') ?></th>
                            <th class="col price"><?php echo __('Total Price') ?></th>
                            <th class="col price"><?php echo __('Total Tax') ?></th>
                            <th class="col price"><?php echo __('Total Discount') ?></th>
                            <th class="col price"><?php echo __('Total Shipping') ?></th>
                            <th class="col price"><?php echo __('Commission') ?></th>
                            <th class="col price"><?php echo __('Subtotal') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                            $i = 0;
                            $_count = count($ordersList);
                            $subtotal = 0;
                        ?>
                        <?php foreach ($ordersList as $item): ?>
                            <?php
                                $i++;
                                $mageorderid = $item->getOrderId();
                                $sellerId = $item->getSellerId();
                                $subtotal = $subtotal + $item->getActualSellerAmount();
                                $totalShipping = 0;
                                if ($item->getIsShipping()) {
                                    $totalShipping = $block->sellerOrderShippingAmount(
                                        $sellerId,
                                        $mageorderid
                                    );
                                }
                            ?>
                             <tr class="blank-table-tr">
                                <td colspan="10"></td>
                            </tr>
                            <tr class="wk-row-view">
                                <td class="col price" data-th="<?php echo __('Order #') ?>"><?php echo $item->getMagerealorderId();?></td>
                                <td class="col price" data-th="<?php echo __('Product Name') ?>"><?php echo $item['magepro_name'];?></td>
								
                                <td class="col price" data-th="<?php echo __('Price') ?>">
									<?php // echo $block->getFormatedPrice($item->getMageproPrice()); ?>
									<?php echo $currencyModel->format($item->getMageproPrice(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);	?>
								</td>
								
                                <td class="col price" data-th="<?php echo __('Qty') ?>"><?php echo $item->getMagequantity();?></td>
								
                                <td class="col price" data-th="<?php echo __('Total Price') ?>">
									<?php //echo $block->getFormatedPrice($item->getTotalAmount());?>
									<?php echo $currencyModel->format($item->getTotalAmount(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);	?>
									
								</td>
                                <td class="col price" data-th="<?php echo __('Total Tax') ?>">
									<?php //echo $block->getFormatedPrice($item->getTotalTax());?>
									<?php echo $currencyModel->format($item->getTotalTax(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);	?>
								</td>
								
                                <td class="col price" data-th="<?php echo __('Total Tax') ?>">
									<?php //echo $block->getFormatedPrice($item->getAppliedCouponAmount());?>
									<?php echo $currencyModel->format($item->getAppliedCouponAmount(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);	?>
								
								</td>
								
                                <td class="col price" data-th="<?php echo __('Total Shipping') ?>">
									<?php // echo $block->getFormatedPrice($totalShipping);?>
									<?php echo $currencyModel->format($totalShipping, ['symbol' => $currencySymbol, 'precision'=> $precision], false, false); ?>
								</td>
								
                                <td class="col price" data-th="<?php echo __('Admin Commission') ?>">
									<?php //echo $block->getFormatedPrice($item->getTotalCommission());?>
									<?php echo $currencyModel->format($item->getTotalCommission(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false); ?>
								</td>
								
                                <?php
                                    $admintotaltax = 0;
                                    $vendortotaltax = 0;
                                    if (!$helper->getConfigTaxManage()) {
                                        $admintotaltax = $item->getTotalTax();
                                    } else {
                                        $vendortotaltax = $item->getTotalTax();
                                    }
                                ?>
                                <td class="col price" data-th="<?php echo __('Subtotal') ?>">
								
                                    <?php //echo $block->getFormatedPrice($item->getActualSellerAmount()+$vendortotaltax+$totalShipping-$item->getAppliedCouponAmount());?>
									
									<?php echo $currencyModel->format($item->getActualSellerAmount()+$vendortotaltax+$totalShipping-$item->getAppliedCouponAmount(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);	?>
									
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
<div class="buttons-set">
    <p class="back-link">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="left">&laquo; <?php echo __('Back') ?></a>
    </p>
</div>