<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
$collections = $block->getCollection(); 
$limit = $block->getHelper()->numberOfPros(); 
$currentStoreId= $block->getHelper()->getCurrentStoreId();    
$enableUserDefined = $block->getHelper()->enableUserDefined();                          
?>
<div class="pros-review">
    <span class="title"><?php echo __('PROS')?></span>
    <?php $i = 0; ?>
    <?php foreach ($collections as $collection): ?>
        <?php $storeId = $collection->getStoreId() ?>
        <?php if(in_array($currentStoreId, $storeId)): ?>
            <?php if($i < $limit): ?>
                <div class="input-box">
                    <input
                        type="checkbox"
                        name="pros[<?php echo $collection->getId(); ?>]"
                        id="pros_<?php echo $collection->getId(); ?>"
                        class="checkbox" />
                    <label
                        for="pros_<?php echo $collection->getId() ?>"
                        title="<?php echo $collection->getName() ?>">
                        <?php echo $collection->getName() ?>
                    </label>
                </div>
            <?php elseif ($i == $limit) : ?>
                <div class="action-more">Show more pros</div>
                <div class="input-box auto-hide">
                    <input
                        type="checkbox"
                        name="pros[<?php echo $collection->getId(); ?>]"
                        id="pros_<?php echo $collection->getId(); ?>"
                        class="checkbox" />
                    <label
                        for="pros_<?php echo $collection->getId() ?>"
                        title="<?php echo $collection->getName() ?>">
                        <?php echo $collection->getName() ?>
                    </label>
                </div>
            <?php else: ?>
                <div class="input-box auto-hide">
                    <input
                        type="checkbox"
                        name="pros[<?php echo $collection->getId(); ?>]"
                        id="pros_<?php echo $collection->getId(); ?>"
                        class="checkbox" />
                    <label
                        for="pros_<?php echo $collection->getId() ?>"
                        title="<?php echo $collection->getName() ?>">
                        <?php echo $collection->getName() ?>
                    </label>
                </div>
            <?php endif; ?>
            <?php $i++; ?>
        <?php endif; ?>
    <?php endforeach; ?>
    <div class="action-less auto-hide">Show less pros</div>
    <?php if($enableUserDefined): ?>
        <div class="user-add">
            <label> <?php echo __('Enter your Pros, separated by comma') ?></label>
            <input name="user-pros" value="" style="width: 100%" type="text">
        </div>
    <?php endif ?>
</div>
