<style>
div.mage-error[generated] {
    display: block !important;
}

.form-create-account {
    margin-bottom: 0px !important;
}

.form-create-account .block-title {
    margin-bottom: 0px !important;
}

.login-container .form.create.account.form-create-account {
    max-width: 100% !important;
}
</style>

<?php 

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$states   = $connection->fetchAll("SELECT region_id,default_name FROM `directory_country_region` WHERE `country_id` LIKE 'IN' ORDER BY `directory_country_region`.`default_name` ASC");
?>

<div class="row newacuntt">
    <div class="login-container">
        <div class="block-title">
            <strong id="block-customer-login-heading" role="heading"
                aria-level="2"><?= $block->escapeHtml(__('Seller Registration')) ?></strong>
        </div>
        <div class="seller-registration-lft">
            <form class="form create account form-create-account"
                action="<?php echo $this->getUrl().'seller/register/submit'?>" method="post" id="form-validate"
                enctype="multipart/form-data" autocomplete="off" data-mage-init='{"validation":{}}'>

                <?php /* <div class="seller-registration-message">
			<p>This  form is for seller registration , Not sure ? <a href="<?php echo $this->getUrl().'customer/account/create'?>">click
                here</a> for registration as a customer .</p>
        </div> */?>
        <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
        <input type="hidden" name="is_seller" value="1">
        <div class="row">
            <div class="col-sm-6 col-lg-6">
                <div class="field field-name-firstname required">
                    <label class="label" for="firstname"><span>First Name</span></label>
                    <div class="control">
                        <input type="text" id="firstname" name="firstname" value="" title="First Name"
                            class="input-text validate-length maximum-length-20 required-entry"
                            data-validate="{required:true}" maxlength="20" autocomplete="off" placeholder="First Name*"
                            aria-required="true">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="field field-name-lastname required">
                    <label class="label" for="lastname"><span>Last Name</span></label>
                    <div class="control">
                        <input type="text" id="lastname" name="lastname" value="" title="Last Name"
                            class="input-text validate-length maximum-length-20 required-entry"
                            data-validate="{required:true}" maxlength="20" autocomplete="off" placeholder="Last Name*"
                            aria-required="true">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="field required">
                    <div class="control">
                        <input type="email" name="email" placeholder="Email*" autocomplete="email" id="email_address"
                            value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>"
                            title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                            class="input-text v-validate validate-length maximum-length-50"
                            data-mage-init='{"mage/trim-input":{}}'
                            data-validate="{required:true, 'validate-email':true}" maxlength="50">
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="field required">
                    <div class="control">
                        <input type="text" class="input-text required-entry" name="profileurl" id="profileurl"
                            data-role="shop-url" placeholder="<?php echo __('Shop URL For Your Marketplace Shop*');?>"
                            title="<?php echo __('Shop URL For Your Marketplace Shop');?>" value="" />
                        <div id="wk-load" class="no-display"></div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="field required">
                    <label for="mobile" class="label"><span><?= __('Mobile Number') ?></span></label>
                    <div class="control">
                        <input type="text" name="mobile" id="mobile" placeholder="Mobile Number*"
                            value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                            title="<?= __('Mobile Number') ?>" class="input-text" data-validate="{required:true}"
                            onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                            maxlength="10">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="field required">
                    <div class="control">
                        <span id="sendotp">Send Otp</span>
                        <span id="verfiedotpstatus" style="display:none;color:beige;background-color:black;">Otp
                            Verified</span>
                    </div>
                </div>
            </div>
            <div class="col-6 verifyotpblock" style="display:none;">
                <div class="field required">
                    <div class="control">
                        <input type="text" name="otp" id="otp" placeholder="Verify Otp"
                            value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                            title="<?= __('OTP') ?>" class="input-text" data-validate="{required:true}" " maxlength="
                            4">
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="field required verifyotpblock" style="display:none;">
                    <div class="control">
                        <span id="verify_otp_button">Verify Otp</span>
                        <span id="om_counter"></span>
                        <input type="hidden" id="is_otp_verified" name="is_otp_verified" value="false" />
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="field password required">
                    <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input type="password" name="password" id="password" placeholder="Password*"
                            title="<?= $block->escapeHtmlAttr(__('Password')) ?>" class="input-text"
                            data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                            data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                            data-validate="{required:true, 'validate-customer-password':true}" autocomplete="off">
                        <div id="password-strength-meter-container" data-role="password-strength-meter"
                            aria-live="polite">
                            <div id="password-strength-meter" class="password-strength-meter">
                                <?= $block->escapeHtml(__('Password Strength')) ?>:
                                <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                    <?= $block->escapeHtml(__('No Password')) ?>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="field password required">
                    <label for="password-confirmation"
                        class="label"><span><?= $block->escapeHtml(__('Confirm Password*')) ?></span></label>
                    <div class="control">
                        <input type="password" name="password_confirmation" placeholder="Confirm Password*"
                            title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation"
                            class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
                    </div>
                </div>
            </div>
            <div id='b_or_eng' class="newwww_fieldsss">
                <div class="newwww_fieldsss">
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="company_nam" class="label"><span><?= __('Company Name') ?></span></label>
                            <div class="control">
                                <input type="text" name="company_nam" placeholder="Company Name*" id="company_nam"
                                    value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                                    title="<?= __('Company Name') ?>" class="input-text special_char"
                                    data-validate="{required:true}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="company_add" class="label"><span><?= __('Company Address') ?></span></label>
                            <div class="control">
                                <input type="text" placeholder="Company Address*" name="company_add" id="company_add"
                                    value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                                    title="<?= __('Company Address') ?>" class="input-text special_char_add"
                                    data-validate="{required:true}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="company_add" class="label"><span><?= __('Zipcode') ?></span></label>
                            <div class="control">
                                <input type="text" placeholder="Zipcode*" name="seller_zipcode" id="seller_zipcode"
                                    title="<?= __('Zipcode') ?>" class="input-text special_char"
                                    data-validate="{required:true}"
                                    onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')"
                                    maxlength="6">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <div class="control select-example">
                                <select id="seller_state" name="seller_state" style="color:#888888;" class="input-text"
                                    data-validate="{required:true}">
                                    <option value="">Select State*</option>
                                    <?php foreach($states as $state){ ?>
                                    <option value="<?php echo $state['region_id']; ?>">
                                        <?php echo $state['default_name']; ?></option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="company_add" class="label"><span><?= __('cin_number') ?></span></label>
                            <div class="control">
                                <input type="text" placeholder="CIN Number" name="cin_number" id="cin_number"
                                    title="<?= __('cin_number') ?>" class="input-text special_char" maxlength="21">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="gst_number" class="label"><span><?= __('GST Number') ?></span></label>
                            <div class="control">
                                <input type="text" placeholder="GST Number*" name="gst_number" id="gst_number"
                                    value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                                    title="<?= __('GST Number') ?>" class="input-text special_char"
                                    data-validate="{required:true}" maxlength="15">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="pan_number" class="label"><span><?= __('PAN Number') ?></span></label>
                            <div class="control">
                                <input type="text" placeholder="PAN Number*" name="pan_number" id="pan_number"
                                    value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                                    title="<?= __('Pan Number') ?>" class="input-text special_char"
                                    data-validate="{required:true}" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="field required">
                            <label for="invoice_prefix" class="label"><span><?= __('Invoice Prefix') ?></span></label>
                            <div class="control">
                                <input type="text" placeholder="Invoice Prefix*" name="invoice_prefix"
                                    id="invoice_prefix"
                                    value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>"
                                    title="<?= __('Invoice Prefix') ?>" maxlength="3" minlength="2"
                                    class="input-text special_char" data-validate="{required:true}">
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: auto; margin: 0;" class="field choice newsletter">
                    <input type="checkbox" data-validate="{required:true}" id="custom-terms" name="custom-terms"
                        title="<?php /* @escapeNotVerified */ echo __('Terms & conditions') ?>"
                        id="register-input-custom" class="checkbox">
                    <label for="custom-terms" class="label">
                        <span>
                            <a href="<?php echo $this->getUrl('terms-conditions');?>"
                                target="_blank"><?php echo __('I Agree to Terms & Conditions') ?></a>
                        </span>
                    </label>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button type="submit" class="action submit primary"
                            title="<?= $block->escapeHtmlAttr(__('Create  Account')) ?>">
                            <span><?= $block->escapeHtml(__('Submit')) ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>


    <div class="seller-registration-rgt">

        <?php
			//echo "hiiiiiiiiiiii";
			echo $this->getLayout()
			->createBlock('Magento\Cms\Block\Block')
			->setBlockId('seller-registration-requirements')
			->toHtml();
		?>
        <?php
			//echo "hiiiiiiiiiiii";
			// echo $this->getLayout()
			// ->createBlock('Magento\Cms\Block\Block')
			// ->setBlockId('seller-registration-from-and-conditions')
			// ->toHtml();
			?>
    </div>
</div>
</div>

<script>
document.getElementById("invoice_prefix").addEventListener("keypress", function(e) {
    var charInput = e.keyCode;
    var value = document.getElementById('invoice_prefix').value;
    if (value.length > 2) {
        e.preventDefault();
    } else {
        if ((charInput >= 97) && (charInput <= 122)) {
            var newChar = charInput - 32;
            var start = e.target.selectionStart;
            var end = e.target.selectionEnd;
            e.target.value = e.target.value.substring(0, start) + String.fromCharCode(newChar) + e.target.value
                .substring(end);
            e.target.setSelectionRange(start + 1, start + 1);
            e.preventDefault();
        } else if ((charInput >= 49) && (charInput <= 57)) {} else if ((charInput >= 65) && (charInput <=
                90)) {} else {
            e.preventDefault();
        }
    }
}, false);



requirejs([
    'jquery',
    'Magento_Customer/js/customer-data',
    'toastr'
], function($, customerData, toastr) {

    $(document).on('change', "#gst_number", function(e) {

        var inputvalues = $(this).val();
        var gstinformat = new RegExp('^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$');

        if (gstinformat.test(inputvalues)) {
            return true;
        } else {
            toastr.error("Please Enter Valid GSTIN Number");
            // alert('Please Enter Valid GSTIN Number');

            $("#gst_number").focus();
            $("#gst_number").addClass('mage-error');
            event.preventDefault();
        }

    });





    $(document).on('keypress', "#gst_number", function(e) {
        var k = e.which;
        var ok = k >= 65 && k <= 90 || // A-Z
            k >= 97 && k <= 122 || // a-z
            k >= 48 && k <= 57; // 0-9

        if (!ok) {
            e.preventDefault();
        }
    });

    $(document).on('keypress', "#pan_number", function(e) {
        var k = e.which;
        var ok = k >= 65 && k <= 90 || // A-Z
            k >= 97 && k <= 122 || // a-z
            k >= 48 && k <= 57; // 0-9

        if (!ok) {
            e.preventDefault();
        }
    });
    $(document).on('keypress','#firstname',function(e) {
                    var key = e.keyCode;
                    if (key >= 48 && key <= 57) {
                        e.preventDefault();
                    }
    });
    $(document).on('keypress','#lastname',function(e) {
                    var key = e.keyCode;
                    if (key >= 48 && key <= 57) {
                        e.preventDefault();
                    }
    });

    $('#pan_number').change(function(event) {
        var k = event.which;
        var ok = k >= 65 && k <= 90 || // A-Z
            k >= 97 && k <= 122 || // a-z
            k >= 48 && k <= 57; // 0-9

        if (!ok) {
            event.preventDefault();
        }
        var regExp = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/;
        var txtpan = $(this).val();
        if (txtpan.length == 10) {
            if (txtpan.match(regExp)) {
                return true;
            } else {
                toastr.error("Please Enter Valid PAN Number");
                event.preventDefault();

            }
        } else {
            toastr.error("Please enter 10 digits for a valid PAN number");
            $("#pan_number").focus();
            $("#pan_number").addClass('mage-error');
            event.preventDefault();
        }
    });
    $('#sendotp').click(function() {
        var mobilenumber = $("input[name='mobile']").val();
        var mobileregexcheck = new RegExp('^[789]\d{9}$');
        if (mobilenumber == false || mobilenumber.length < 10) {
            toastr.error("Please Enter Mobile Number To  Continue");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
        } else {
            $(".loader_1").show();

            $('#is_otp_verified').val("false");
            jQuery.ajax({
                type: "POST",
                url: "<?php echo $this->getUrl().'otp/customer/generate'?>",
                data: "mobile=" + mobilenumber,
                dataType: "json",
                success: function(result) {

                    if (result == '1') {
                        toastr.success("Otp  send successfully");
                        $(".verifyotpblock").show();
                        $('#sendotp').hide();
                        $('#sendotp').prop('disabled', true);
                        var timer2 = "0:00";
                        var interval = setInterval(function() {
                            var timer = timer2.split(':');
                            var minutes = parseInt(timer[0], 10);
                            var seconds = parseInt(timer[1], 10);
                            --seconds;
                            minutes = (minutes < 0) ? 0 : minutes;
                            seconds = (seconds < 0) ? 59 : seconds;
                            seconds = (seconds < 10) ? '0' + seconds : seconds;
                            $('#om_counter').show();
                            $('#om_counter').html(minutes + ':' + seconds);
                            jQuery('#otp_timer_min').val(minutes);
                            jQuery('#otp_timer_sec').val(seconds);
                            $.cookie('register_min', minutes);
                            $.cookie('register_sec', seconds);
                            var ss = '1';
                            $.cookie('register_time', ss);
                            if (seconds == '00') {
                                document.cookie = "register_time=0";
                            }
                            if ((seconds == 0) && (minutes == 0)) {
                                clearInterval(interval);
                                jQuery('#om_counter').hide();

                                var otp_verified = $('#is_otp_verified').val();
                                if (otp_verified != "true") {
                                    $('#sendotp').text("Resend Otp")
                                    $('#sendotp').show();
                                    $('#sendotp').prop('disabled', false);

                                }
                            }
                            timer2 = minutes + ':' + seconds;
                        }, 1000);
                    } else {
                        toastr.error("Cannot send otp ");
                    }
                    $(".loader_1").hide();
                },
                error: function(e) {
                    console.log(e);
                }
            });
        }
    });
    $('#verify_otp_button').click(function() {
        var value = $("input[name='otp']").val();
        if (value == false) {
            toastr.error("Please Enter OTP To Verify");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
        } else {
            $(".loader_1").show();
            jQuery.ajax({
                type: "POST",
                url: "<?php echo $this->getUrl().'otp/customer/verify'?>",
                data: "pin=" + value,
                dataType: "json",
                success: function(result) {
                    $(".loader_1").hide();
                    if (result == '1') {
                        $("#verfiedotpstatus").show();
                        $("#sendotp").hide();
                        $(".verifyotpblock").hide();
                        $("input[name='mobile']").prop('readonly', true);
                        $('#is_otp_verified').val("true");
                        toastr.success("Otp successfully verified");
                    } else {
                        toastr.error("OTP does not match");
                    }
                },
                error: function(e) {
                    toastr.error("OTP Cannot be verified");
                    console.log(e);
                }
            });
        }
    });


    $("#form-validate").submit(function(event) {
        var group_id = $("input[name='group_id']:checked").val();

        var pathname = window.location.pathname;
        if (pathname.indexOf("customer/account/create") >= 0) {
            var group_id = 4;
        }
        var password = $("input[name='password']").val();
        var password_confirmation = $("input[name='password_confirmation']").val();

        var txtpan = $('#cin_number').val();

        var mobilenumber = $("input[name='mobile']").val();
        var otp = $("input[name='otp']").val();

        var firstname = $("input[name='firstname']").val();
        if (firstname == false) {
            toastr.error("Please Enter Your First Name To Continue");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        var lastname = $("input[name='lastname']").val();
        if (lastname == false) {
            toastr.error("Please Enter Your Last Name To Continue");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        var email = $("input[name='email']").val();
        if (email == false) {
            toastr.error("Please Enter Your Email To Continue");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        if (mobilenumber == false) {
            toastr.error("Please Enter Mobile Number To Continue");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        if (otp == false) {
            toastr.error("Please verify your  mobile by sending OTP");
            $("#gst_number").addClass('mage-error');
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }
        var otp_verified = $('#is_otp_verified').val();
        if (otp_verified != "true") {
            toastr.error("You need to click verify otp button that is displayed after sending otp");
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        if (password.split(' ').length != 1) {
            toastr.error("Password must not contain spaces");
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        if (password.length < 6) {
            toastr.error("Password length should be atleast 6 digits");
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

        if (password_confirmation != password) {
            toastr.error("Password and Confirm password do not match");
            $(".loader_1").hide();
            event.preventDefault();
            return false;
        }

    });
});
</script>