.myinput-text{
    padding: 0px 10px !important;
}
.mce-widget.mce-tooltip{
    display:none!important;
}
.mce-widget button{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: none;

}

.helpdesk-ticket-index .clsmainhelpdesk{
    padding: 20px;
}
.helpdesk-ticket-index .titleinfo .page-title h1{
    margin: 0px 0px 40px;
}
.helpdesk-ticket-index #maincontent {
    height: 90vh;
}
.login-wk_ts_thread_container {
    display: block;
    border: 1px solid #c8c8c8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;    
    padding: 35px 25px 40px;    
    max-width: 480px;
    margin: 0 auto;
}
.helpdesk-ticket-login .wk_ts_thread_container .page-title h1{
    text-align: center;
}
.helpdesk-ticket-login .wk_ts_thread_container {
    border: none;
    padding: 0;
}
.helpdesk-ticket-login .login-wk_ts_thread_container .form-list-login li {
    margin-bottom: 15px;
}
.helpdesk-ticket-login .login-wk_ts_thread_container .form-list-login li .input-box .input-text {
    height: 43px;
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}
.helpdesk-ticket-login .login-wk_ts_thread_container .buttons-set-login {
    text-align: center;
    margin-top: 30px;
}
.helpdesk-ticket-login .login-wk_ts_thread_container .buttons-set-login p.tk_required.required {
    display: none;
}
.helpdesk-ticket-login #maincontent{
    height: 75vh;
}
.clsmainhelpdesk {
    border: 1px solid #c8c8c8;
    float: left;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.titleinfo .page-title h1{
    font-size: 22px;
    color: #444;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    margin: 20px 0px 40px;
}
.lftsideinfo .infosection .listing {
    clear: both;
    overflow: hidden;
    font-size: 24px;
    color: #7b7b7b;
    padding-bottom: 40px;
    display: table;
}
.lftsideinfo .infosection .listing label {
    display: inline-block;
    font-size: 18px;
    vertical-align: bottom;
    margin-bottom: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.lftsideinfo .infosection .listing p {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    margin-bottom: 0;
    color: #2a2a2a;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.rgtsideinfo .btn-container a {
    color: #fff;
    font-family: 'Conv_DINOT-Medium';
    font-size: 16px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    transition: .5s all ease;
    background: #273c97;
    border-radius: 30px;
    font-weight: normal;
    text-transform: capitalize;
    margin: 0px 10px;
}
.rgtsideinfo .btn-container a:hover{
    background: #f5a622;
}
.buttons-set-login button#save_butn {
    color: #fff;
    font-family: 'Conv_DINOT-Medium';
    font-size: 16px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    transition: .5s all ease;
    background: #273c97;
    border: 1px solid #273c97;
    border-radius: 30px;
    font-weight: normal;
    text-transform: capitalize;
    width: 150px;
}
.buttons-set-login button#save_butn:hover{
    background: #f5a622;
    border: 1px solid #f5a622;
}

.buttons-set-login span.cancel-btn.button.action.primary {
    color: #fff;
    font-family: 'Conv_DINOT-Medium';
    font-size: 16px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    transition: .5s all ease;
    background: #273c97;
    border: 1px solid #273c97;
    border-radius: 30px;
    font-weight: normal;
    text-transform: capitalize;
    width: 150px;
}
.buttons-set-login span.cancel-btn.button.action.primary a {
    color: #fff;
}
.buttons-set-login span.cancel-btn.button.action.primary:hover{
    background: #f5a622;
    border: 1px solid #f5a622;
}
.lftsideinfo .infosection .listing .placeholder {
    float: none;
    width: 110px;
    text-align: center;
    margin-right: 20px;
    display: table-cell;
}

strong {
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    font-style: normal !important;
}
.wk_ts_nav_wrapper {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.wk_ts_thread_container h4,.wk_ts_thread_container .h4 ,.wk_ts_nav_wrapper h4{
    text-transform: none !important;
    display: inline;
}
.caret {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
    display: inline-block;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    width: 0;
}
.wk_ts_nav {
    background : #f8f8f8;
    border: 1px solid #c4c1bc;
    height: 50px;
    float: left;
    min-height: 50px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}

.wk_ts_nav_left {
    float: left;
    min-height: 50px;
    list-style: none;
    padding-left: 0;
}
.wk_ts_thread_container .tc-wrapper .page-title h1 {
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    font-size: 26px;
    color: #444444;
}
.wk_ts_thread_container .page-title h1 {
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    font-size: 26px;
    color: #444444;
}
.wk_ts_nav_right {
    float: right;
    min-height: 50px;
    list-style: none;
}
.wk_ts_nav_left > li,.wk_ts_nav_right > li {
    float: left;
    margin-left: 5px;
    color: #444444;
    font-size: 16px;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    line-height: 37px;
    cursor: pointer;
    padding: 5px;
    min-height: 40px
}
.helpdesk-ticket-newticket.logged-in #form-customer-product-new .tc-wrapper #wk_bodymain li{
    width: 50%;
}
.helpdesk-ticket-newticket.logged-in #form-customer-product-new .tc-wrapper #wk_bodymain li.wide {
    width: 100%;
}
.helpdesk-ticket-newticket.logged-in #form-customer-product-new .tc-wrapper #wk_bodymain li.wide:nth-child(6) .input-box textarea{
    height: 100px;
    resize: none;    
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}

.helpdesk-ticket-newticket.logged-in .wk_ts_thread_container {
    margin-bottom: 150px;
}
.helpdesk-ticket-newticket .wk_ts_thread_container ul.form-list li:nth-child(7) {
    float: right;
    margin-right: 0px;
}
.wk_ts_nav_left > li:hover,.wk_ts_nav_right > li:hover {
    background-color: transparent;
    color: #333;
}

.helpdesk-ticket-newticket #form-customer-product-new {
    max-width: 768px;
    margin: 0 auto;
}
.helpdesk-ticket-newticket #form-customer-product-new .tc-wrapper {
    text-align: center;
}
.helpdesk-ticket-newticket #form-customer-product-new .wk_ts_thread_container {
    margin-bottom: 40px;
}

.wk_ts_nav_left h4 a {
    color: #e6742b;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
}
.ticket_search {
    font-size: 13px;
    height: 33px !important;
    padding-left: 5px;
    box-sizing:content-box;
    width: 74% !important;
    border: 1px solid #c4c1bc !important;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
}
.wk_search_btn {
    border-right: 0 none;
    height: 16px;
    position: relative;
    width: 16px;
    background:#1979c3;
    border: 1px solid #1979c3 !important;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: content-box;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    float: left;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    right: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}
.dropdown-menu.inforrmation {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    list-style: outside none none;
    margin: 2px 0 0;
    width: 75%;
    position: absolute;
    right: 0;
    left: 6px;
    text-align: left;
    top: 37px;
    z-index: 1000;
}

.dropdown-menu > li {
    line-height: normal;
    float: left;
    line-height: normal;
    width: 100%;
    font-size: 12px;
    padding: 3%;
    font-weight: normal;
    color: #444444;
    box-sizing: border-box;
}
.dropdown-menu > li.class {
    border-top: 1px solid #ddd;
}
.dropdown-menu > li a{
    float: left;
    font-size: 12px;
    color: #444444;
    text-decoration: none;
    font-weight: normal;
    width: 100%;
}
.dropdown-menu li:hover, .dropdown-menu li:focus {
    background-color: #f5a622;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.dropdown-menu li.active {
    background-color: #f5a622;
    color: #fff;
}
.dropdown-menu li i {
    display: none;
}
.dropdown-menu li.active i {
    display: inline-block;
}

/*skip navigation*/
.wk_ts_skip_nav {
    display: none;
}
.wk_ts_skip_nav_list {
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}
.wk_ts_skip_nav_header {
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: block;
    float: left;
    padding: 10px;
    width: 100%;
}

.wk_ts_skip_nav_header h4 {
    float: left;
    margin: 0;
}
.wk_ts_skip_nav_header a,.wk_ts_skip_nav_header a:hover {
    color: #3399cc;
    text-decoration: none;
}
.wk_ts_skip_nav_header i {
    float: right;
    color: #3399cc;
    font-size: 20px;
    cursor: pointer;
}
.wk_dropdown_nav {
    display: none;
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}
.wk_dropdown_nav > li {
    float: left;
    padding: 10px;
    width: 100%;
     border-bottom: 1px solid #ddd;
}
.wk_dropdown_nav > li:hover ,.wk_dropdown_nav > li.active{
    background-color: #3399cc;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.wk_dropdown_nav .search_information {
    border-bottom: none;
}
.wk_dropdown_nav i {
    float: right;
    cursor: pointer;
}
.wk_dropdown_list {
    display: none;
}
.wk_dropdown_list a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
}
.wk_dropdown_list a:hover {
    color: #fff;
}
@media only screen and (max-width: 771px) {
    .wk_ts_nav {
        display: none;
    }
    .wk_ts_skip_nav {
        display: block;
    }
    .wk_dropdown_list .dropdown-menu {
        top: 90%;
        left: 1px;
        right: auto;
    }
    .ticket_search {
        width: 87%;
    }
}
@media only screen and (max-width: 500px) {
    .wk_ts_ticket_table_data.status {
        display: none;
    }
}
.wk_close_btn1{
    margin-left: 8px;
}

ul.form-list {
    list-style: none;
    padding-left: 0px!important;
}
.form-list label {
    color: #444444 !important;
    float: left;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    position: relative;
    z-index: 0;
}
.wk_ts_tickets_container h1{
    font-size: 26px;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    color: #444444;
    margin-bottom: 20px;
}
.form-list label.required em {
    color: #EB340A;
    float: right;
    font-style: normal;
    position: absolute;
    right: -8px;
    top: 0;
}
.form-list li.wide .input-box {
    width: 535px;
}
.form-list .input-box {
    clear: both;
    display: block;
    width: 260px;
}
.form-list li.wide textarea {
    width: 529px;
}
.form-list textarea {
    height: 10em;
    width: 254px;
}
.form-list-login {
    padding-left: 0px;
    width: 100%;
}
.form-list-login label.required em {
    color: #EB340A;
    float: right;
    font-style: normal;
    position: absolute;
    right: -8px;
    top: 0;
}
.form-list-login label {
    color: #444444 !important;
    float: left;    
    position: relative;
    z-index: 0;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
}
.wide{
    margin-bottom: 8px;
}
#wk_file_label i:before {
    content: "+";
}
#wk_file_label {
    color: #FFFFFF !important;
    float: none;
    padding: 6px 15px;
}
.wk_ts_thread_wrapper {
    border: 1px solid #c8c8c8;
    float: left;
    width: 100%;
}
.wk_ts_thread_header {
    float: left;
    width: 100%;
}
.wk_ts_left_sidebar {
    float: left;
    padding: 5px;
    width: 19%;
}
select{
    -webkit-appearance: auto;
    -moz-appearance: initial;
    -ms-appearance: auto;
    appearance: auto;
}
#form-customer-product-new .tc-wrapper #wk_bodymain {
    margin-left: -10px;
    margin-right: -10px;
    display: block;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li {
    width: 33.33%;
    float: left;
    padding: 0 10px;
    margin-bottom: 25px;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(7) {
    width: 100%;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(8) {
    width: 100% !important;
}

#form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(8) .input-box textarea {
    height: 100px;
    resize: none;    
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(9) .input-box {
    width: 100%;
    padding-right: 0;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(9) .input-box textarea{
    height: 100px;
    resize: none;    
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(9) .input-box #wk_ts_file{
    width: auto;
}
.buttons-set p.required.tk_required em {
    color: #EB340A;
    float: right;
    font-style: normal;
    position: absolute;
    right: 96px;
    top: 0;
}
.buttons-set p.required.tk_required {
    position: relative;
}
#form-customer-product-new .tc-wrapper #wk_bodymain li.wide {
    width: 100%;    
}
.helpdesk-ticket-view .wk_ts_thread_container-view h1 {
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    font-size: 26px;
    color: #444444;
    margin-bottom: 20px;
}
.helpdesk-ticket-view .wk_ts_thread_container-view button.action_button.reply {
    box-shadow: none;
}
.wk_ts_thread_container,.wk_ts_tickets_container {
    border: 1px solid #c8c8c8;
    float: left;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 250px;
    padding: 20px;
}
.wk_ts_thread_container ul {
    list-style: none;
}

.wk_ts_view_more_box {
    border-bottom: 1px solid #000;
    margin: 0px 0 20px;
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
}
.wk_ts_more_expand_link {
    background-color: #273c97;
    border-color: #273c97;
    color: #ffffff;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 13px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    top: 19px;
    position: relative;
}
.wk_ts_more_expand_link:hover {
    background-color: #f5a622;
    border-color: #f5a622;
}
.wk_ts_more_expand_link i {
    color: #fff !important;
}
.wk_ts_pannel_heading {
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    border-radius: 0px;
    color: #333;
    font-size: 20px;
    font-family: 'Conv_DINOT-Bold';
    font-weight: normal;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    float: right;
    cursor: pointer;
}
.wk_ts_pannel_heading.customer {
    background: #f7f7f7 ;
    border: 1px solid #f7f7f7;
    float: none;
}
.wk_ts_ticket_detail_box {
    float: left;
}
.wk_ts_ticket_created_date , .wk_ts_ticket_customer_detail {
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wk_ts_thread_header .wk_ts_ticket_detail_box .wk_ts_ticket_created_date {
    margin: 10px 0px 10px;
}
.wk_ts_header_user_details .wk_ts_ticket_created_date {
    margin: 10px 0px;
}
.wk_ts_ticket_created_date h4 ,.wk_ts_ticket_created_date label , .wk_ts_ticket_customer_detail h4 , .wk_ts_ticket_customer_detail label{
    display: inline-block;
    margin: 0;
}
span.fa {
    background: none repeat scroll 0 0 #666666;
    color: #fff;
    font-size: 12px;
    padding: 4px;
    font-weight: normal;
    font-family: 'Conv_DINOT-Medium';
}
.wk_ts_priority_box h4 ,.wk_ts_priority_box select , .wk_ts_status_box h4 , .wk_ts_status_box select, .wk_ts_type_box h4 , .wk_ts_type_box select {
    display: inline-block;
    margin: 0;
    height: 35px;
    line-height: 1.42857;
    padding: 8px 10px;
}
.wk_ts_ticket_action_box {
    float: right;
}
.wk_ts_thread_wrapper select {
    border-radius: 5px;
}
.wk_ts_priority_box , .wk_ts_status_box ,.wk_ts_type_box {
    float: left;
    margin-left: 5px;
}
.form-group {
    margin-bottom: 10px;
}
.form-col select {
    padding: 8px 10px;
    width: 100%;
}
.form-col input {
    padding: 8px 10px;
    width: 89%;
}
.wk_ts_thread_wrapper i{
    color: #494848;
}
.wk_ts_create_thread,.wk_ts_one_thread {
    float: left;
    width: 100%;
}
.wk_ts_one_thread_body {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    float: left;
    margin-top: 5px;
    width: 100%;
    position: relative;
}
.wk_ts_one_thread_body .content img {
    max-height: 100%;
    max-width: 100%;
}
.wk_ts_one_thread_body .content {
    float: left;
    padding: 0;
    width: 100%;
    word-break: break-all;
}
.wk_ts_one_thread_attachments_holder {
    float: left;
    margin-top: 20px;
    width: 100%;
}
.wk_ts_attachment_block {
    border: 1px solid #c8c8c8;
    float: left;
    height: 50px;
    margin-left: 5px;
    padding: 2px;
    width: 50px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
.image-hover-a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    color: #fff !important;
    height: 46px;
    left: 2px;
    padding: 3px;
    position: absolute;
    top: 1px;
    width: 44px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: none;
}
.image-hover-a i {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 16px;
    height: 100%;
    width: 100%;
    color: #FFF;
    margin-left: 13px;
    margin-top: 13px;
}
.wk_ts_attachment_block img{
    width: 50px;
    height: 50px;
}
.wk_ts_one_thread.customer .wk_ts_ticket_customer_detail h4{
    color: #333333;
    font-family: 'Conv_DINOT-Bold';
    font-weight: normal;
}
.wk_ts_create_thread.customer .wk_ts_ticket_customer_detail h4{
    color: #333333;
    font-family: 'Conv_DINOT-Bold';
    font-weight: normal;
}
.deletethread {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #adadad;
    display: none;
    position: absolute;
    right: 5px;
}
.deletethread:hover, .deletethread.focus, .deletethread:active {
    background: #e6e6e6;
    border: 1px solid #adadad;
    color: #555555;
}
.wk_ts_one_thread.wk_ts_user {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.wk_ts_one_thread_heading {
    float: left;
    width: 6%;
}
.wk_ts_one_thread_content {
    float: left;
    width: 93%;
    margin-left: 1%;
}
.wk_ts_header_user_details {
    border-bottom: 1px dashed #c8c8c8;
    float: left;
    margin-top: 7px;
    padding-bottom: 3px;
    width: 100%;
}
@media only screen and (max-width: 771px) {
    .wk_ts_one_thread_heading {
        width: 12%;
    }
    .wk_ts_one_thread_content {
        width: 87%
    }
}

@media only screen and (max-width: 500px) {
    .wk_ts_one_thread_heading {
        width: 18%;
    }
    .wk_ts_one_thread_content {
        width: 81%
    }
}
.wk_ts_notes_msg {
    float: left;
    width: 100%;
    margin: 10px 0px 0px;
}
.wk_ts_notes_msg i {
    color: #494848;
    font-style: normal;
}
.wk_ts_notes_msg i .note {
    color: #f5a622;
    font-weight: 700;
}
.wk_ts_notes_msg i .reply {
    color: #333;
    font-weight: normal;
    font-family: 'Conv_DINOT-Bold';
}
.wk_ts_nav_tabs{
    border-bottom: 1px solid #dddddd;
    float: left;
    height: 39px;
    margin-left: 56px;
    margin-top: 30px;
    width: 100%;
}
.wk_ts_nav_tabs > li {
    cursor: pointer;
    float: left;
    margin-bottom: -1px;
    position: relative;
    text-align: center;
}
.wk_ts_nav_tabs > li > span {
    border-radius: 4px 4px 0 0;
    color: #333;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    margin-left: 1px;
    margin-right: 1px;
    padding: 10px 15px;
}
.wk_ts_nav_tabs > li.active > span {
    background: #FFFFFF;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: pointer;
    height: 18px;
    margin: 0;
    font-weight: 700;
}
.wk_ts_nav_tabs > li.active > span:hover {
    background-color: #FFFFFF;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.wk_ts_nav_tabs > li > span:hover {
    border-color: #EEEEEE #EEEEEE #DDDDDD;
    background-color: #EEEEEE;
}
.wk_ts_forms_container textarea{
    width: 100%;
    height: 100px!important;
    resize: none;
}
.wk_ts_reply_container {
    float: left;
    margin-left: 7%;
    margin-top: 15px;
    width: 93%;
}
.wk_ts_reply_container li{
    margin-bottom: 10px;
}
.wk_cc_input_text {
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    width: 100%;
}
.upload_btn , .wk_grey_btn {
    float: left;
    background-color: #273c97;
    border:1px solid #273c97;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 13px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.upload_btn:hover,.wk_grey_btn:hover {
    background-color: #f5a622;
    border-color: #f5a622;
    color: #fff;
}

.wk_ts_status , .wk_ts_priority {
    margin: 5px;
}
.wk_ts_button_action_box {
    float: left;
    width: 100%;
}
.wk_ts_button_action_box .content {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    float: left;
    width: 100%;
}
.action_button {
    float: left;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 3px;
}
.wk_ticket_property {
    float: left;
    background-color: #ffffff;
    border:1px solid #cccccc;
    color: #555555;
    border-radius: 3px;
    cursor: default;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin: 5px 2px;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.wk_ticket_property.unassigned {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.helpdesk-ticket-mytickets .wk_ts_content.tc-wrapper button.action_button.back {
    background: #273c97;
    border: 1px solid #273c97;
    color: #fff;
    box-shadow: none;
    outline: none;
    margin-right: 10px;
}
.helpdesk-ticket-mytickets .wk_ts_content.tc-wrapper button.action_button.back:hover {
    background: #f5a622;
    border-color: #f5a622;
    color: #fff;
}
.action_button.reply , .action_button.forward , .action_button.add_note, .action_button.apply_action ,.action_button.popup_close_btn{
    background: #273c97;
    border:1px solid #273c97;
    color: #fff;
    margin: 5px;
}



.action_button.reply:hover , .action_button.forward:hover , .action_button.add_note:hover, .action_button.popup_close_btn:hover {
    background: #f5a622;
    border-color: #f5a622;
    color: #fff;
}

.action_button.mark_spam ,.wk_btn_warning{
    background: #f5a622;
    color: #ffffff;
    border:1px solid #f5a622;
    box-shadow: none !important;
    /*margin: 5px;*/
}
.action_button.mark_spam i{
    color: #fff !important;
}

.action_button.mark_spam:hover,.action_button.mark_spam:focus,.action_button.mark_spam:active ,.wk_btn_warning:hover,.wk_btn_warning:focus,.wk_btn_warning:active{
    background: #f5a622;
    border:1px solid #f5a622;
    color: #fff;
}
.wk_ts_clear,.wk_ts_delete {
    float: right;
}
.action_button.delete {
    background: #f56b6b;
    color: #ffffff;
    border:1px solid #f24545;
    margin: 5px;
}
.action_button.delete i{
    color: #fff !important;
}

.action_button.delete:hover {
    background: #f23b3b;
    border:1px solid #ea1010;
}

.msg_submit_btn {
    float: right;
    background:#273c97;
    border-radius: 3px;
    border-color: #273c97;
    color: #ffffff;
    padding: 8px 13px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 13px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
}
.msg_submit_btn i{
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-right: 10px;
}
.msg_submit_btn:hover {
    background: #f5a622;
    border-color: #f5a622;
    color: #ffffff;
}
.ticketsLoader {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.35);
    height: 100%;
    left: 0;
    padding: 25%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9999;
    color: #1872A2;
    display: none;
}
.text-info .fa-spinner {
    color: #115376;
    left: 50%;
    position: fixed;
}
.wk_ts_one_thread_body.admin img {
    width: -moz-available;
}

.required-field-error-msg {
    background: #f39797 !important;
    border: 1px solid #d34949;
    border-radius: 6px;
    color: #d34949;
    float: right;
    font-size: 15px;
    right: 4%;
    padding: 11px;
    text-align: center;
    display: none;
    z-index: 99999;
    top: 46px;
    position: fixed;
}

.required-field-error-msg label {
    color: #d34949;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.required-field-error-msg label:hover {
    font-weight: 900;
}

.ajax-success-msg ,.ajax-draft-save-msg {
    background: #e3ebd5 !important;
    border: 1px solid #8fbb6c;
    border-radius: 6px;
    color: #8fbb6c;
    float: left;
    font-size: 15px;
    right: 4%;
    padding: 11px;
    position: fixed;
    text-align: center;
    display: none;
}
.ajax-success-msg label , .ajax-draft-save-msg label {
    color:#3d6611 !important;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.ajax-success-msg label:hover ,.ajax-draft-save-msg label:hover {
    font-weight: 900;
}
.mail_row {
    margin-bottom: 5px;
}
.mail_row select ,.mail_row input,.mail_row textarea{
    width: 656px !important;
}
.popup_container {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    display: block;
    height: 500px;
    left: 28%;
    position: fixed;
    top: 10%;
    width: 600px;
}

.popup-body {
    float: left;
    height: 400px;
    width: 100%;
}
.popup_container .close_pop_up {
    color: #a0a09f;
    cursor: pointer;
    float: right;
    font-size: 20px;
    padding: 2px;
}
.popup-header {
    border-bottom: 1px solid #cdcdcc;
    float: left;
    height: 50px;
    width: 100%;
}
.popup-footer {
    border-top: 1px solid #cdcdcc;
    float: left;
    height: 49px;
    width: 100%;
}
.action_button.popup_close_btn {
    float: right;
    margin: 10px;
}
.popup_container .popup-title{
    margin: 17px;
}
.alert-info {
    background-color: #d9eef9;
    border:1px solid #baeaf4;
    color: #115376;
    border-radius: 5px;
    margin: 13px;
    padding: 8px;
}
.popup_container .row {
    float: left;
    margin: 13px;
    width: 95%;
}
.apply_response_btn {
    float: right;
    background:#1e91cf;
    border-radius: 3px;
    border-color: #1978ab;
    color: #ffffff;
    padding: 8px 13px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 3px 13px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    float: right;
}
.apply_response_btn:hover {
    background: #1872a2;
    border-color: #115376;
    color: #ffffff;
}
.wk_ts_ticket_table {
    float: left;
    width: 100%;
    border: 1px solid #c8c8c8;
    border-left: 0;
}
.wk_ts_ticket_table_row {
    float: left;
    width: 100%;
    border-bottom: 1px solid #c8c8c8;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 2em;
}
.wk_ts_ticket_table_row.last {
    border-bottom:none;
}

.wk_ts_ticket_table_head.mark ,.wk_ts_ticket_table_data.mark {
    width: 35px;
    height: auto;
    float: left;
}
.wk_ts_ticket_table .tscheckbox {
    margin: 10px;
}
.wk_ts_ticket_table_head.detail {
    width: 90%;
    float: left;
    border-left: 1px solid #c8c8c8;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap .modal-header {
    border-bottom: 1px solid #c1c1c1;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap {
    max-width: 320px;
    text-align: center;
    border-radius: 10px;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap .modal-content {
    border: none;
    padding: 15px 15px;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap .modal-footer {
    padding: 15px;
    text-align: center;
    display: block;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap .modal-footer button {
    background: #273c97;
    border: 1px solid #273c97;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    padding: 7px 25px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    transition: .5s all ease;
    box-shadow: none;
    outline: none;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap .modal-footer button:hover{
    background: #f5a622;
    border: 1px solid #f5a622;
}
.helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap .modal-content div {
    font-size: 14px;
    color: #282d3b;
}

@media only screen and (max-width: 771px) {
    .wk_ts_ticket_table_head.detail {
        width: 90%;
    }
}
@media only screen and (max-width: 500px) {
    .wk_ts_ticket_table_head.detail {
        width: 100%;
    }
}
.wk_ts_ticket_table_data.detail  {
    width: 30%;
    border-left: 1px solid #c8c8c8;
}
.wk_ts_ticket_table_data.detail span {
    width: 100%;
    float: left;
    padding-left: 5px;
}
.wk_ts_ticket_table_data.detail span.email {
    color: #273c97;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.wk_ts_ticket_table_data.detail span.date {
    margin: 3px 0px;
}
.wk_ts_ticket_table_data.detail span.query {
    color: #444444;
    font-size: 13px;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    max-width: 100%;
    overflow-x: auto;
}
.wk_ts_ticket_table_data.detail span.query .fa{
    background-color: #f7f7f7;
    color: #333;
    height: 20px;
    margin-right: 4px;
    margin-top: 2px;
    width: 20px;
}

.wk_ts_ticket_table_data.status  {
    width: 50%;
}
.wk_ts_ticket_table_data.action  {
    width: 5%;
}
.wk_ts_ticket_table_row.head {
    border-bottom: 1px solid #c8c8c8;
}
.wk_ts_edit_ticket i{
    background-color: #273c97;
    color: #fff;
    border:1px solid #273c97;
    margin-top: 5px;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.wk_warning {
    background: #f5a622;
    color: #ffffff;
    border:1px solid #f5a622;
    margin: 5px;
}
.wk_success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.wk_faliure {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}
.wk_warning {
    background: #f5a622;
    color: #ffffff;
    border:1px solid #f5a622;
    margin: 5px;
}
.wk_primary {
    color:#fff;
    background-color: #273c97;
    border-color: #273c97;
}
.wk_disabled {
    opacity: 0.5;
}
.wk_support_information_container {
    float: left;
    margin-top: 20px;
    padding: 10px;
    width: 98%;
}
.wk_support_information {
    float: left;
    width: 100%;
}
.wk_ts_file_extension {
    float: left;
    padding: 15px;
}

.helpdesk-ticket-newticket #form-customer-product-new #wk_bodymain li .input-box input.input-text {
    height: 43px;
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}
.helpdesk-ticket-newticket #form-customer-product-new #wk_bodymain li .input-box input.input-text {
    height: 43px;
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}
.helpdesk-ticket-newticket #form-customer-product-new #wk_bodymain li .input-box select.select {
    height: 43px;
    border-radius: 10px;
    border: 1px solid #000;
    overflow: hidden;
}

#wk_bodymain.form-list .input-box {
    width: 100%;
}
#wk_bodymain.form-list .input-box select {
    width: 100%;
}
#wk_bodymain.form-list .input-box input ,#wk_bodymain.form-list .input-box textarea {
    width: 100%;
}
.pager-no-toolbar .pages {
    display: none;
}
.buttons-set {
    clear: both;
    margin: 1em 0 0;
    padding: 8px 0 0;
    border-top: 1px solid #e4e4e4;
    text-align: right;
    float: left;
    width: 100%;
}
.buttons-set .action.primary {
    background: #273c97;
    border: 1px solid #273c97;
    color: #ffffff;
    border-radius: 30px;
    display: inline-block;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
    padding: 7px 25px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    transition: .5s all ease;
}
.buttons-set .action.primary:hover{
    background: #f5a622;
    border: 1px solid #f5a622;
}
.buttons-set span.cancel-btn.button.action.primary a {
    color: #fff;
}
#query_tbl, #query_ifr, #wk_reply_text_field_ifr, #wk_reply_text_field_tbl {
    height:200px!important;
}
.helpdesk-empty span{
    font-weight: 600;
    color: #ff0000;
}
@media screen and (max-width: 771px) {
    .wk_ts_skip_nav_header {
        width: 97%;
    }
    .wk_dropdown_nav {
        width: 94%;
    }
    .wk_dropdown_nav > li {
        width: 97%;
    }
}
@media screen and (max-width: 456px) {
    .wk_ts_skip_nav_header {
        width: 95%;
    }
    .wk_dropdown_nav {
        width: 86%;
    }
    .wk_dropdown_nav > li {
        width: 86%;
    }
}

#form-customer-product-new .tc-wrapper #wk_bodymain li.wide .message {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

#wk_bodymain.form-list .input-box .already-existcls {
    text-align: left !important;
    margin: 5px 0px;
    display: block;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f1f1f1;
    padding: 10px;
    z-index: 1;
}

#wk_bodymain.form-list .input-box .already-existcls a {
    background: #273c97;
    border: 1px solid #273c97;
    color: #fff;
    padding: 4px 15px;
    border-radius: 4px;
    margin-left: 10px;
}
#wk_bodymain.form-list .input-box .already-existcls:after, #wk_bodymain.form-list .input-box .already-existcls:before {
    border-bottom-style: solid;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
#wk_bodymain.form-list .input-box .already-existcls:after {
    border: 7px solid;
    border-color: transparent transparent #bbbbbb transparent;
    z-index: 98;
    left: 25px;
    top: -14px;
}

#wk_bodymain.form-list .input-box .already-existcls:before {
    border: 6px solid;
    border-color: transparent transparent #f1f1f1 transparent;
    z-index: 99;
    left: 26px;
    top: -12px;
}

@media only screen and (max-width: 767px) {

    .wk_ts_ticket_table_row.head ul.dropdown-menu{
        min-width: 115px;
    }

    .helpdesk-ticket-newticket.logged-in #form-customer-product-new .tc-wrapper #wk_bodymain li {
        width: 100%;
    }
    .helpdesk-ticket-newticket.logged-in #form-customer-product-new .tc-wrapper #wk_bodymain li.wide{
        padding: 0px 10px;
    }
    .helpdesk-ticket-newticket.logged-in .wk_ts_thread_container{
        margin-top: 0;
    }
    #wk_bodymain.form-list .input-box .already-existcls{
        position: relative;
        width: 100%;
        margin-bottom: 0;
    }
    #wk_bodymain.form-list .input-box .already-existcls.not-exist-email a {
        margin-top: 0;
        clear: left;
        display: table-caption;
    }
    #wk_bodymain.form-list .input-box .already-existcls a{
        margin-left: 0;
        margin-top: 10px;
        display: inline-block;
    }
    #wk_bodymain.form-list .input-box .already-existcls.not-exist-email a.custom.register-popup {
        clear: none;
        display: inline-block;
    }
    .helpdesk-ticket-mytickets .modal-popup.ticketcreatcls .modal-inner-wrap{
        margin: 30px auto;
        min-height: initial;
        background-color: #fff;
    }
    .buttons-set{
        text-align: center;
    }
    .buttons-set p.required.tk_required{
        text-align: right;
    }
    .buttons-set .action.primary{
        padding: 7px 15px;
    }
    .helpdesk-ticket-index .clsmainhelpdesk{
        margin-top: 0;
    }
    .rgtsideinfo .btn-container a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    .lftsideinfo .infosection .listing .placeholder{
        display: block;
        margin: 0 auto;
    }
    .lftsideinfo .infosection .listing{
        text-align: center;
    }
    .wk_ts_thread_container {
        margin-top: 0;
    }
    #form-customer-product-new .tc-wrapper #wk_bodymain li{
        width: 100%;
    }
    #form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(7) {
        width: 100%;
    }
    #form-customer-product-new .tc-wrapper #wk_bodymain li:nth-child(8) {
        width: 100% !important;
        padding-right: 10px !important;
    }
    .wk_ts_thread_container .tc-wrapper .page-title h1{
        margin-bottom: 20px;
    }
    .helpdesk-ticket-login .wk_ts_thread_container .page-title h1{
        margin-bottom: 20px;
    }
    .login-wk_ts_thread_container{
        padding: 20px 15px 40px;
    }
    .buttons-set-login span.cancel-btn.button.action.primary{
        width: 120px;
    }
    .buttons-set-login button#save_butn{
        width: 120px;
    }
    .helpdesk-ticket-newticket #form-customer-product-new .wk_ts_thread_container {
        margin-bottom: 0;
    }
    #form-customer-product-new .tc-wrapper #wk_bodymain li.wide p.message {
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0;
    }
    #form-customer-product-new .tc-wrapper #wk_bodymain li{
        margin-bottom: 15px;
    }
    .helpdesk-ticket-login #maincontent {
        height: auto;
    }
    .wk_ts_ticket_action_box .wk_ticket_property{
        padding: 4px 5px;
        margin: 5px 2px;
    }
    .helpdesk-ticket-view .wk_ts_thread_container-view h1{
        font-size: 22px;
    }
    .wk_ts_ticket_table_row{
        display: block;
    }
    .wk_ts_thread_container, .wk_ts_tickets_container{
        margin-top: 0;
        margin-bottom: 0;
    }


}