<div class="cat-ajax-result">   </div>
<?php 
$ajaxUrl = $block->getUrl('categorylastsection/index');
?>
<script type="text/javascript">
require(['jquery'], function () { 
var isScrolled = false;
if (jQuery(window).width() <= 2000) {
    window.onscroll = function() {    
        if(isScrolled==false){
          omlazyLoad();
        }
    };
}else {
  omlazyLoad();
}   
function omlazyLoad(){
jQuery.ajax({
    url:  '<?php echo $ajaxUrl ?>',
    dataType:'html',
    cache: true,
    success:function(response){
        jQuery('.cat-ajax-result').html(response);
    },
    beforeSend:function(){ isScrolled = true; }
});

}

});
</script>

