<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

?>
<?php
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
?>
<?php if (!$_productCollection->count()) :?>
    <div class="message info empty"><div><?= $block->escapeHtml(__('We can\'t find products matching the selection.')) ?></div></div>
<?php else :?>
    <?= $block->getToolbarHtml() ?>
    <?= $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $imageDisplayArea = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $imageDisplayArea = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?= /* @noEscape */ $viewMode ?> products-<?= /* @noEscape */ $viewMode ?>">
        <ol class="products list items product-items">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product) :?>
            <li class="item product product-item">
                <?php
                    if($_product->getAttributeText('gms_certified') == 'Yes') {
                        echo '<span class="gms-certified">GMS Certified</span>';
                    }
                ?>
                <div class="product-item-info" data-container="product-<?= /* @noEscape */ $viewMode ?>">
                  <?php /*<div class="companyname">Panasonic</div>*/?>
                  <?php /*<div class="bulk-offer"><div class="bulk-offer-inner">BULK OFFERS</div></div>*/?>
                 <strong class="product name product-item-name">
                        <a class="product-item-link"
                           href="<?= $block->escapeUrl($_product->getProductUrl()) ?>">
                            <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                        </a>
                    </strong>

                  <?php 
                  $oldPrice = $_product->getPrice();
                  $finalPrice = $_product->getFinalPrice(); 
                  $discountAmount = $oldPrice - $finalPrice;
                  if($oldPrice > 0){
                    $discountPercent = 100 - round(($finalPrice/$oldPrice)*100);
                  }
                  ?>
                  <?php if($discountAmount > 0):?>
                        <div class="sale-offer red-bg"><span>-<?php echo $discountPercent?>%</span></div>
                  <?php endif;?>
                    <?php
                    $productImage = $block->getImage($_product, $imageDisplayArea);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?= $productImage->toHtml() ?>
                    </a>
                    
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                      
                        <?= $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?= /* @noEscape */ $block->getProductPrice($_product) ?>
                        <?php if ($_product->isAvailable()) :?>
                            <?= $block->getProductDetailsHtml($_product) ?>
                        <?php endif; ?>

                        
                    </div>
                    
                </div>
                <div class="product-item-inner">
                        <div class="product actions product-item-actions"<?= strpos($pos, $viewMode . '-actions') ? $block->escapeHtmlAttr($position) : '' ?>>
                            <div class="actions-secondary-cls">
                                <button type="submit" title="compatibility" class="action compatibility primary">
                                    <span>compatibility</span>
                                </button>                            
                            </div>
                            <div class="actions-primary"<?= strpos($pos, $viewMode . '-primary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <?php if ($_product->isSaleable()) :?>
                                    <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                    <form data-role="tocart-form"
                                          data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>"
                                          action="<?= $block->escapeUrl($postParams['action']) ?>"
                                          method="post">
                                        <input type="hidden"
                                               name="product"
                                               value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
                                        <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>"
                                               value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                        <?= $block->getBlockHtml('formkey') ?>
                                        <button type="submit"
                                                title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                                                class="action tocart primary">
                                            <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                        </button>
                                    </form>
                                <?php else :?>
                                    <?php if ($_product->isAvailable()) :?>
                                        <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                    <?php else :?>
                                        <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </div>
                            <div data-role="add-to-links" class="actions-secondary"<?= strpos($pos, $viewMode . '-secondary') ? $block->escapeHtmlAttr($position) : '' ?>>
                                <?php if ($addToBlock = $block->getChildBlock('addto')) :?>
                                    <?= $addToBlock->setProduct($_product)->getChildHtml() ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php if ($showDescription) :?>
                            <div class="product description product-item-description">
                                <?= /* @noEscape */ $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                <a href="<?= $block->escapeUrl($_product->getProductUrl()) ?>"
                                   title="<?= /* @noEscape */ $_productNameStripped ?>"
                                   class="action more"><?= $block->escapeHtml(__('Learn More')) ?></a>
                            </div>
                        <?php endif; ?>
                    </div>
            </li>
            <?php endforeach; ?>
        </ol>
    </div>
    
    <?php if (!$block->isRedirectToCartEnabled()) :?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?= $block->escapeJs($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>


<style>
    .page-products .product-item .weltpixel-quickview {display: none !important;}
</style>

<script>
    require(['jquery'],function($){
     $('.sort-list li a').click(function() {
         $(this).siblings('.sort-list li a').removeClass('active');
         $(this).addClass('active');
      });

     $('.filter-options-item .item a').click(function(e){
        e.preventDefault();
     });
     /*$(window).bind('scroll', function(e){
        if($(window).scrollTop() + window.innerHeight >= $('.page-footer').offset().top)
        {
            $('#ln_product_overlay').css('display','none');
        }
    });*/
        
    });
</script>
</script>
<?php 
$helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$customerId = $helper->getCustomerId();
?>
<script type='text/javascript'>
require(['jquery','Countly'],function($,Countly){
var catName = $('.breadcrumbs ul li:last-child strong').text();
console.log(catName);  
Countly.q.push(['add_event',{
  "key": "Category_Listing",
  "browser":{
      "Chrome":true
       },
  "segmentation": {
      <?php if($customerId){ ?>
    "categoryName":catName,  
    "web": "yes",
    "customerId": "<?php echo $customerId ?>"
     <?php }else{ ?>
       "categoryName":catName,  
      "web": "yes",
      "Guest": "Guest"
      <?php } ?>
  }
}]);
});
</script>