/* Fonts */
html body,
body .btn,
body button.action,
.sidebar .block li a.action.tocart,
.actions-toolbar a.primary,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.product-info-main .actions button,
.page-header .options-wrapper .options-dropdown .header-switcher .label,
.price,
.product-labels span,
.page-header .header-info,
.filter-options-title,
.sidebar .block.filter .options dt,
.sidebar .block.filter ol li a,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
.nav-sections .switcher,
.nav-sections .links li a ,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .navbar-collapse.collapse a.level-top {font-family: 'Poppins', sans-serif;}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
.product.data.items > .item.title > .switch,
.block-minicart .subtotal,
body .subscribe-block .block-title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .owl-item .title,
.page-title,
.page-title h1,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
#popup-block .block.newsletter .title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.footer .footer-block-title,
.subscribe-block .block-title,
.accordion-list .accordion-item .accordion-title,
.products-grid .product-item-name,
.products-list .product-item-name,
body .page-header.cart-header .page-title,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.cart-summary .block > .title,
.table.totals caption.table-caption,
.sidebar .block .block-title,
.block-title,
.sidebar .block .title,
.block-collapsible-nav-title,
.cart-summary #block-shipping .title,
body .page-header .checkout-header .page-title,
.minicart-items .product-item-name,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
body .swatch-attribute-selected-option,
.cat-container .text-banner .title,
.listing-banner-wrapper .listing-banner .subtitle,
.listing-banner-wrapper .listing-banner .title {font-family: 'Merriweather', sans-serif;}

/* Colors: */
/* Skin Color 1 */
body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
ul.breadcrumb li a:hover,
body .breadcrumbs > .items li a:hover,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block li a.delete:hover,
.page-header  .header-info li i{color: #eecc5f;}

.skincolor-bg,
.minicart-wrapper .title-cart.active .counter-number,
#home-slider .owl-nav div:hover,
.product-labels span.label-sale,
.cms-no-route .page-not-found .btn:hover,
.ekko-lightbox-nav-overlay a i:hover,
body .subscribe-block .newsletter .btn.btn-primary:hover,
.toolbar .toolbar-sorter .sorter-action:hover{background-color: #eecc5f;}


.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.sidebar .block.block-compare .actions-toolbar .primary a.action,
body .btn.btn-primary,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.weltpixel-quickview-catalog-product-view button.action.primary:hover,
.weltpixel-quickview-catalog-product-view button.action.primary:active,
.weltpixel-quickview-catalog-product-view button.action.primary:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.hover,
.weltpixel-quickview-catalog-product-view button.action.primary.active,
.weltpixel-quickview-catalog-product-view button.action.primary.focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:hover,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:hover,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled.focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled].focus,
body .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2:active,
body .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.hover,
body .btn.btn-primary.light.type-2.active,
body .btn.btn-primary.light.type-2.focus,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2.disabled:focus,
body .btn.btn-primary.light.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.disabled.focus,
body .btn-primary[disabled].light.type-2.focus,
body fieldset[disabled] .btn.btn-primary.light.type-2.focus,
.products-list .actions-secondary a:hover i,
#popup-block .block.newsletter button{
	background-color: #eecc5f;
	border-color: #eecc5f;
}
.label-type-4 > span.label-sale:after {
  border-bottom-color: #eecc5f;
}
.label-type-4 > span.label-sale:before {
  border-top-color: #eecc5f;
}
.label-type-4 > span + span.label-sale:before {
  border-top-color: #eecc5f;
}
.label-type-4 > span + span.label-sale:after {
  border-bottom-color: #eecc5f;
}

/* Skin Color 2 */
body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.price-box .special-price .price,
.product-info-main .title-wrapper .add-review:hover,
#popup-block .modal-header .close:hover i,
.account .content-inner .product-item-name a:hover,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
.lightbox-button:hover,
.sidebar .block.filter ol li a:hover,
.price,
.toolbar .modes strong i {color: #18a6cf;}

.skincolor-2-bg,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.owl-nav div:hover,
#home-slider.owl-theme .owl-dots .owl-dot.active,
#home-slider.owl-theme .owl-dots .owl-dot:hover{background-color: #18a6cf;}

.sidebar .block.block-compare  .actions-toolbar .action:hover,
.sidebar .block.block-wishlist .actions-toolbar a.action.details:hover,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view:hover,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart:hover,
body button.action.primary:hover,
body button.action.primary:focus,
body button.action.primary:active,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
body .btn.btn-primary.type-2,
.weltpixel-quickview-catalog-product-view button.action,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light:active,
body .btn.btn-primary.light:focus,
body .btn.btn-primary.light.hover,
body .btn.btn-primary.light.active,
body .btn.btn-primary.light.focus,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light:hover,
body .btn.btn-primary.light.disabled:focus,
body .btn.btn-primary.light[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light:focus,
body .btn.btn-primary.light.disabled.focus,
body .btn-primary[disabled].light.focus,
body fieldset[disabled] .btn.btn-primary.light.focus,
#popup-block .block.newsletter button:hover,
#popup-block .block.newsletter button:active,
#popup-block .block.newsletter button:focus,
#popup-block .block.newsletter button.hover,
#popup-block .block.newsletter button.active,
#popup-block .block.newsletter button.focus,
#popup-block .block.newsletter button.disabled:hover,
#popup-block .block.newsletter button[disabled]:hover,
#popup-block .block.newsletter fieldset[disabled] .btn:hover,
#popup-block .block.newsletter button.disabled:focus,
#popup-block .block.newsletter button[disabled]:focus,
#popup-block .block.newsletter fieldset[disabled] .btn:focus,
#popup-block .block.newsletter button.disabled.focus,
#popup-block .block.newsletter button[disabled].focus,
#popup-block .block.newsletter fieldset[disabled] .btn.focus,
body .banner .btn-default:hover,
body .banner .btn-default:active,
.opc button.action:hover,
.opc button.action:focus,
.opc button.action:active{
	background-color: #18a6cf;
	border-color: #18a6cf;
}

body[class*='blog-'] .sidebar .block,
.catalogsearch-result-index .sidebar .block,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar .block,
.sidebar.right-sidebar .meigee-instagram-widget,
body[class*='blog-'] .right-sidebar.sidebar .block,
.catalogsearch-result-index .right-sidebar.sidebar .block,
.catalogsearch-advanced-result .right-sidebar.sidebar .block,
.catalog-category-view .right-sidebar.sidebar .block {
  padding: 20px 0;
}
body[class*='blog-'] .sidebar-wrapper,
.catalogsearch-result-index .sidebar-wrapper,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar-wrapper,
body[class*='blog-'] .right-sidebar .sidebar-wrapper,
.catalogsearch-result-index .right-sidebar .sidebar-wrapper,
.catalogsearch-advanced-result .right-sidebar .sidebar-wrapper,
.catalog-category-view .right-sidebar .sidebar-wrapper {
  margin: 0;
}
body[class*='blog-'] .sidebar:not(.sidebar-wrapper),
.catalogsearch-result-index .sidebar:not(.sidebar-wrapper),
.catalogsearch-advanced-result .sidebar:not(.sidebar-wrapper),
.catalog-category-view .sidebar:not(.sidebar-wrapper),
body[class*='blog-'].page-layout-3columns .sidebar-wrapper,
.catalogsearch-result-index.page-layout-3columns .sidebar-wrapper,
.catalogsearch-advanced-result.page-layout-3columns .sidebar-wrapper,
.catalog-category-view.page-layout-3columns .sidebar-wrapper {
  background-color: transparent;
}
.page-layout-3columns .sidebar .block {
  margin-left: 0;
  margin-right: 0;
}
body[class*='blog-'].page-layout-2columns-left .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-left .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-left .main-container .content-inner,
.catalog-category-view.page-layout-2columns-left .main-container .content-inner {
  padding-left: 20px;
}
body[class*='blog-'].page-layout-2columns-right .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-right .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-right .main-container .content-inner,
.catalog-category-view.page-layout-2columns-right .main-container .content-inner {
  padding-right: 20px;
}

.page-title,
.page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h2,
.filter-options-title,
.sidebar .block .block-title strong,
.block-collapsible-nav-title strong {
  font-weight: 400;
}

body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {font-weight: 400;}
body.boxed-layout .content-wrapper > .container,
.boxed-layout .breadcrumbs-wrapper .container {border-color: transparent;}
.label-type-2 span {line-height: 16px;}

/*Header*/
.wide-header #header.header-8,
[class*="boxed-header"] #header.header-8 .container {
	background-color: #fff;
}
body .page-header {color: rgba(0,0,0,0.8);}
.wide-layout .page-header.header-8 .middle-block,
.boxed-layout .page-header.header-8 .middle-block .container,
.wide-layout .page-header.header-8 .menu-wrapper,
.boxed-layout .page-header.header-8 .menu-wrapper .container {border-bottom: 1px solid rgba(0,0,0,0.1);}
.wide-layout .header-wrapper .menu-wrapper,
.boxed-layout .header-wrapper .menu-wrapper .menu-inner {border-top: none;}
.page-header .action.nav-toggle {color: rgba(0,0,0,0.8);}
.page-header .action.nav-toggle:hover {background-color: rgba(0,0,0,0.06);}
/*Header search*/
.header-wrapper .block-search .input-group {background-color: rgba(0,0,0,0.04); border-radius: 4px;}
.header-wrapper .block-search .search-icon i {color: rgba(0,0,0,0.2);}
.header-wrapper .block-search .search-icon:after {background-color: rgba(0,0,0,0.1);}
.header-wrapper .block-search input {color: rgba(0,0,0,0.3);}
.header-wrapper .block-search .btn {background-color: #18a6cf; color: #fff; font-weight: 500; font-size: 13px; border-radius: 0 4px 4px 0;}
.header-wrapper .block-search .btn:hover,
.header-wrapper .block-search .btn:active,
.header-wrapper .block-search .btn:focus {background-color: #eecc5f; color: #fff;}
.header-wrapper .page-header .block-search.type-2 .search-button {color: rgba(0,0,0,0.8);}
.header-wrapper .page-header .block-search.type-2 .search-button:hover {color: rgba(0,0,0,0.8); background-color: rgba(0,0,0,0.1);}
/*Account*/
.page-header .options-wrapper .options-block {font-weight: 500; font-size: 13px;}
.page-header .options-wrapper .options-block span {line-height: inherit; position: relative; top: 0.5px;}
.page-header .options-wrapper .options-block i {opacity: 0.25;}
.page-header .options-wrapper .options-block:hover:hover,
.page-header .options-wrapper .options-block:hover.open {opacity: 1; background-color: rgba(0,0,0,0.1); border-color: transparent; color: rgba(0,0,0,0.8);}
.page-header .options-wrapper .options-dropdown .header-switcher .options strong {line-height: 36px;}
/*Cart*/
.minicart-wrapper .title-cart {font-size: 13px; font-weight: 500; color: rgba(0,0,0,0.8); border-color: transparent;}
.minicart-wrapper .title-cart:hover,
.minicart-wrapper .title-cart.active {background-color: rgba(0,0,0,0.1); border-color: transparent; color: rgba(0,0,0,0.8);}
.minicart-wrapper .title-cart .icon i {opacity: 0.25;}
.minicart-wrapper .title-cart .counter-number,
.minicart-wrapper .title-cart.active .counter-number {background-color: #18a6cf; color: #fff;}
/*Menu*/
.header-wrapper .navbar-collapse.collapse a.level-top {color: rgba(0,0,0,0.8); font-size: 13px; font-weight: 500;}
.header-wrapper .navbar-collapse.collapse a.level-top .ui-menu-icon:after {color: rgba(0,0,0,0.3);}
ul.topmenu li.level0 a.level-top:hover,
ul.topmenu li.level0.over a.level-top,
ul.topmenu.navbar-nav li.level0.active > a.level-top,
body ul.topmenu li.level0.active a.level-top:hover,
body ul.topmenu li.level0.active a.level-top:focus {background-color: rgba(0,0,0,0.1); color: rgba(0,0,0,0.8);}
.header-wrapper .navbar-collapse.collapse a.level-top span {margin-top: 0;}
#sticky-header ul.topmenu li a.level-top {margin-top: 4px;}
/*Home image slider*/
#home-slider.owl-carousel .owl-stage-outer { border-radius: 4px; }
#home-slider .owl-item .slide-container,
#home-slider .owl-item .slide-container.slide-skin-2,
#home-slider .owl-item .slide-container.slide-skin-3 {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: auto;
	color: #fff;
	text-align: center;
	min-width: 36.3%;
	padding-top: 10.7%;
}
#home-slider .owl-item .slide-container {background-color: #18a6cf;}
#home-slider .owl-item .slide-container.slide-skin-2 {background-color: #cb1232;}
#home-slider .owl-item .slide-container.slide-skin-3 {background-color: #2c3347;}
#home-slider .owl-item .slide-container .subtitle {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Poppins';
	letter-spacing: 2px;
	color: inherit;
}
#home-slider .owl-item .slide-container .title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	text-transform: none;
	font-family: 'Merriweather';
	letter-spacing: -0.4px;
	color: inherit;
	padding-bottom: 28px;
}
#home-slider .owl-item .slide-container .btn {
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	font-family: 'Poppins';
	color: inherit;
	background-color: transparent;
	border: none;
	padding: 0;
	min-height: 1px;
	line-height: 1;
}
#home-slider .owl-item .slide-container .btn:hover {
	color: #eecc5f;
}
#home-slider .owl-nav div.owl-prev {left: 20px; bottom: 20px;}
#home-slider .owl-nav div.owl-next {left: 52px; bottom: 20px;}
#home-slider .owl-nav div:hover {background-color: #eecc5f; color: #fff;}
/*Text banners*/
.slider-text-banner {
	border-radius: 4px;
	text-align: center;
	position: relative;
}
.slider-text-banner .banner-content {
	padding: 0 15px;
	position: absolute;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
}
.slider-text-banner a {
	color: rgba(0,0,0,0.8);
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	font-family: 'Poppins';
}
.slider-text-banner a:hover {
	color: #18a6cf;
}

.barbour-cloth-2-icon {
  display: inline-block;
  background-image: url('../../images/barbour_cloth_2_icons.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 32px;
  width: 32px;
}
.barbour-cloth-2-icon.airplane {background-position: 0 0;}
.barbour-cloth-2-icon.customer-service {background-position: -32px 0;}
.barbour-cloth-2-icon.gift {background-position: -64px 0;}
.barbour-cloth-2-icon.sale {background-position: -96px 0;}

.text-blocks-wrapper {padding: 10px 0;}
.text-blocks-wrapper .text-block {position: relative;}
.text-blocks-wrapper .text-block .media-left {min-width: 52px; vertical-align: middle; position: relative; top: 5px; padding-left: 0; padding-right: 20px;}
.text-blocks-wrapper .text-block .media-body {vertical-align: middle;}
.text-blocks-wrapper .text-block h4 {margin-bottom: 0; font-weight: 400; font-size: 14px; color: #222;}
.text-blocks-wrapper .text-block p {margin-bottom: 0; color: rgba(0,0,0,0.6);}

.text-banners-block .text-banner {background-color: #f5f5f5; border-radius: 4px;}
.text-banners-block .text-banner.item-2 {background-color: #7fc181;}
.text-banners-block .text-banner.item-3 {background-color: #ffef98;}
.text-banners-block .title {
	font-family: 'Poppins';
	font-size: 10px;
	text-transform: uppercase;
	color: #222;
}
.text-banners-block .text-banner.item-2 .title {
	color: #fff;
}
.text-banners-block .btn.btn-primary,
.text-banners-block .text-banner.item-3 .btn {
	background-color: #18a6cf;
	color: #fff;
	border-radius: 4px;
}
.text-banners-block .btn.btn-primary:hover,
.text-banners-block .text-banner.item-3 .btn:hover,
.text-banners-block .text-banner.item-3 .btn.btn-primary:hover {
	background-color: #eecc5f;
	color: #fff;
}
.text-banners-block .btn.btn-default,
.text-banners-block .text-banner.item-2 .btn {
	background-color: #fff;
	color: #222;
	border-radius: 4px;
}
.text-banners-block .btn.btn-default:hover,
.text-banners-block .text-banner.item-2 .btn:hover {
	background-color: #18a6cf;
	color: #fff;
}
/*Top banner*/
.top-banner {
	margin-top: 4px;
	margin-bottom: 4px;
}
.top-banner a {
	display: inline-block;
	vertical-align: middle;
}
.top-banner .top-banner-content {
	padding-top: 14px;
}
.top-banner .top-banner-content .title {
	font-size: 14px;
	line-height: 22px;
	font-family: 'Merriweather';
	color: rgba(0,0,0,0.8);
	padding-right: 30px;
	margin-right: 13px;
	border-right: 1px solid rgba(0,0,0,0.1);
	display: inline-block;
	vertical-align: middle;
}
.top-banner .top-banner-content .text {
	font-size: 12px;
	line-height: 22px;
	font-family: 'Poppins';
	color: rgba(0,0,0,0.6);
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}
.top-banner .top-banner-content a {
	float: right;
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	font-family: 'Poppins';
	font-size: 12px;
	line-height: 22px;
}
/*Subscribe block*/
body .subscribe-block {
	background-image: url(../../images/barbour_cloth_2_subscribe_bg.jpg);
	text-align: center;
	padding: 42px 40px;
	border-radius: 4px;
}
body .subscribe-block .block-title {
	font-size: 24px;
	line-height: 1;
	font-family: 'Merriweather';
	letter-spacing: -0.6px;
	font-weight: 400;
	padding-bottom: 15px;
}
body .subscribe-block .block-content .input-wrapper {
	max-width: 404px;
}
/*Footer*/
body.wide-layout .footer-top,
body.boxed-layout .footer-top .container {border-bottom: 1px solid rgba(255,255,255,0.2);}
.footer .footer-block-title {text-transform: none; font-weight: 400;}
.footer {font-size: 12px;}

/*Product*/
.product-info-main .page-title {font-weight: 400;}
.price {
	font-weight: 500;
	font-size: 14px;
}
.products-grid .product-item-name a,
.products-list .product-item-name a {font-size: 14px; letter-spacing: 0;}
body .widget-title h2,
body .widget .widget-title h2 {
	font-size: 18px;
	letter-spacing: 0;
}
body .widget-title h3, 
body .widget .widget-title h3 {
	font-size: 16px;
	letter-spacing: 0;
}

@media only screen and (min-width: 1332px) {
}
@media only screen and (min-width: 1008px) and (max-width: 1331px) {
	.newsletter .btn.btn-primary.type-2 {margin-top: 15px;}
	body .subscribe-block .content label {padding-bottom: 15px;}
	body .subscribe-block {padding: 19px 30px;}
	.top-banner .top-banner-img {padding-top: 10px;}
	#home-slider .owl-item .slide-container,
	#home-slider .owl-item .slide-container.slide-skin-2,
	#home-slider .owl-item .slide-container.slide-skin-3 {padding-top: 5.7%; min-width: 40.3%;}
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
  .header-wrapper .navbar-collapse.collapse li.level-top.parent:after {display: none;}
	.page-header .panel {padding-left: 10px;}
	.slider-banners {margin: 0 -10px; width: auto;}
	.slider-banners .banner {padding: 0 10px; width: 50%; float: left;}
	.slider-banners .slider-text-banner {margin: 0 10px; width: calc(50% - 20px); float: left;}
	.slider-text-banner .banner-content { padding: 0 35px;}
	.slider-text-banner a {font-size: 22px; line-height: 34px;}
	body .subscribe-block .block-title {font-size: 20px;}
	body .subscribe-block .content label {font-size: 12px; padding-bottom: 10px; line-height: 18px;}
	.newsletter .btn.btn-primary.type-2 {margin-top: 10px;}
	.top-banner .top-banner-content {padding-bottom: 14px;}
}
@media only screen and (max-width: 767px) {
	.page-header .panel {padding-left: 10px;}
	.header-wrapper .block-search .input-group .mobile-search-btn:after {content: none;}
  .header-wrapper .navbar-collapse.collapse li.level-top.parent:after {display: none;}
  #home-slider .owl-item .slide-container,
  #home-slider .owl-item .slide-container.slide-skin-2,
  #home-slider .owl-item .slide-container.slide-skin-3 {
    position: static;
    width: 100%;
      min-width: 100%;
      padding: 20px 10px 60px;
      display: block;
  }
  #home-slider .owl-item .slide-container .title {padding-bottom: 15px;}
  #home-slider .owl-item .slide-container .btn {padding-bottom: 10px;}
  #home-slider .owl-nav div.owl-next {left: calc(50% + 2px);}
  #home-slider .owl-nav div.owl-prev {left: calc(50% - 30px);}
  .text-banners-block .btn {padding: 0 10px;}
  .top-banner {display: none;}
  .top-banner .top-banner-content .title {border-right: none; padding-right: 0; margin-right: 0; padding-bottom: 10px; margin-bottom: 10px; width: 100%; border-bottom: 1px solid rgba(0,0,0,0.1);}
  .top-banner .top-banner-content {padding-bottom: 14px;}
}