/* Fonts */
html body,
body .btn,
body button.action,
.sidebar .block li a.action.tocart,
.actions-toolbar a.primary,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.product-info-main .actions button,
.page-header .options-wrapper .options-dropdown .header-switcher .label,
.price,
.product-labels span,
.filter-options-title,
.sidebar .block.filter .options dt,
.sidebar .block.filter ol li a {font-family: 'Montserrat', sans-serif;}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
.product.data.items > .item.title > .switch,
.nav-sections .switcher,
.nav-sections .links li a ,
.page-header .header-info,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .navbar-collapse.collapse a.level-top,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
body .subscribe-block .block-title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .owl-item .title,
.page-title,
.page-title h1,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
#popup-block .block.newsletter .title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.footer .footer-block-title,
.text-banners-block .btn,
.accordion-list .accordion-item .accordion-title,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.products-grid .product-item-name,
.products-list .product-item-name,
body .page-header.cart-header .page-title,
.cart-summary .block > .title,
.table.totals caption.table-caption,
.sidebar .block .block-title,
.block-title,
.sidebar .block .title,
.block-collapsible-nav-title,
.cart-summary #block-shipping .title,
body .page-header .checkout-header .page-title,
.minicart-items .product-item-name,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
body .swatch-attribute-selected-option,
.cat-container .text-banner .title,
.listing-banner-wrapper .listing-banner .subtitle,
.listing-banner-wrapper .listing-banner .title {font-family: 'Nunito Sans', sans-serif;}

/* Colors: */
/* Skin Color 1 */
body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
ul.breadcrumb li a:hover,
body .breadcrumbs > .items li a:hover,
.toolbar .modes strong i,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block li a.delete:hover,
.header-wrapper .page-header .block-search.type-2 .indent .btn-close:hover,
.header-wrapper .page-header .block-search.type-2 .indent .btn-close:focus,
.header-wrapper .page-header .block-search.type-2 .indent .btn-close:active,
.header-wrapper .page-header .block-search.type-2 .indent .btn:hover {color: #0b3954;}

.skincolor-bg,
.minicart-wrapper .title-cart.active .counter-number,
#home-slider .owl-nav div:hover,
.cms-no-route .page-not-found .btn:hover,
.ekko-lightbox-nav-overlay a i:hover,
.toolbar .toolbar-sorter .sorter-action:hover{background-color: #0b3954;}

.sidebar .block.block-compare .actions-toolbar .primary a.action,
body .btn.btn-primary,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
.sidebar .block.block-compare .actions-toolbar .primary a.action,
.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart,
.cart-container .cart.actions a.action.continue:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.weltpixel-quickview-catalog-product-view button.action.primary:hover,
.weltpixel-quickview-catalog-product-view button.action.primary:active,
.weltpixel-quickview-catalog-product-view button.action.primary:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.hover,
.weltpixel-quickview-catalog-product-view button.action.primary.active,
.weltpixel-quickview-catalog-product-view button.action.primary.focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:hover,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:hover,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled.focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled].focus,
body .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2:active,
body .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.hover,
body .btn.btn-primary.light.type-2.active,
body .btn.btn-primary.light.type-2.focus,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2.disabled:focus,
body .btn.btn-primary.light.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.disabled.focus,
body .btn-primary[disabled].light.type-2.focus,
body fieldset[disabled] .btn.btn-primary.light.type-2.focus,
.products-list .actions-secondary a:hover i,
#popup-block .block.newsletter button,
body .weltpixel-quickview,
body .btn.btn-primary{
  background-color: #0b3954;
  border-color: #0b3954;
}


/* Skin Color 2 */
body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.price-box .special-price .price,
.product-info-main .title-wrapper .add-review:hover,
#popup-block .modal-header .close:hover i,
.account .content-inner .product-item-name a:hover,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
.lightbox-button:hover,
.sidebar .block.filter ol li a:hover{color: #e66a44;}

.skincolor-2-bg,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.owl-nav div:hover {background-color: #e66a44;}

.sidebar .block.block-compare  .actions-toolbar .action:hover,
.sidebar .block.block-wishlist .actions-toolbar a.action.details:hover,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view:hover,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart:hover,
body button.action.primary:hover,
body button.action.primary:focus,
body button.action.primary:active,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
.cart-container .cart.actions a.action.continue,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
body .btn.btn-primary.type-2,
.weltpixel-quickview-catalog-product-view button.action,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light:active,
body .btn.btn-primary.light:focus,
body .btn.btn-primary.light.hover,
body .btn.btn-primary.light.active,
body .btn.btn-primary.light.focus,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light:hover,
body .btn.btn-primary.light.disabled:focus,
body .btn.btn-primary.light[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light:focus,
body .btn.btn-primary.light.disabled.focus,
body .btn-primary[disabled].light.focus,
body fieldset[disabled] .btn.btn-primary.light.focus,
#popup-block .block.newsletter button:hover,
#popup-block .block.newsletter button:active,
#popup-block .block.newsletter button:focus,
#popup-block .block.newsletter button.hover,
#popup-block .block.newsletter button.active,
#popup-block .block.newsletter button.focus,
#popup-block .block.newsletter button.disabled:hover,
#popup-block .block.newsletter button[disabled]:hover,
#popup-block .block.newsletter fieldset[disabled] .btn:hover,
#popup-block .block.newsletter button.disabled:focus,
#popup-block .block.newsletter button[disabled]:focus,
#popup-block .block.newsletter fieldset[disabled] .btn:focus,
#popup-block .block.newsletter button.disabled.focus,
#popup-block .block.newsletter button[disabled].focus,
#popup-block .block.newsletter fieldset[disabled] .btn.focus,
.opc button.action:hover,
.opc button.action:focus,
.opc button.action:active{
  background-color: #e66a44;
  border-color: #e66a44;
}
body[class*='blog-'] .sidebar .block,
.catalogsearch-result-index .sidebar .block,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar .block,
.sidebar.right-sidebar .meigee-instagram-widget,
body[class*='blog-'] .right-sidebar.sidebar .block,
.catalogsearch-result-index .right-sidebar.sidebar .block,
.catalogsearch-advanced-result .right-sidebar.sidebar .block,
.catalog-category-view .right-sidebar.sidebar .block {
  padding: 20px 0;
}
body[class*='blog-'] .sidebar-wrapper,
.catalogsearch-result-index .sidebar-wrapper,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar-wrapper,
body[class*='blog-'] .right-sidebar .sidebar-wrapper,
.catalogsearch-result-index .right-sidebar .sidebar-wrapper,
.catalogsearch-advanced-result .right-sidebar .sidebar-wrapper,
.catalog-category-view .right-sidebar .sidebar-wrapper {
  margin: 0;
}
body[class*='blog-'] .sidebar:not(.sidebar-wrapper),
.catalogsearch-result-index .sidebar:not(.sidebar-wrapper),
.catalogsearch-advanced-result .sidebar:not(.sidebar-wrapper),
.catalog-category-view .sidebar:not(.sidebar-wrapper),
body[class*='blog-'].page-layout-3columns .sidebar-wrapper,
.catalogsearch-result-index.page-layout-3columns .sidebar-wrapper,
.catalogsearch-advanced-result.page-layout-3columns .sidebar-wrapper,
.catalog-category-view.page-layout-3columns .sidebar-wrapper {
	background-color: transparent;
}
.page-layout-3columns .sidebar .block {
	margin-left: 0;
	margin-right: 0;
}
body[class*='blog-'].page-layout-2columns-left .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-left .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-left .main-container .content-inner,
.catalog-category-view.page-layout-2columns-left .main-container .content-inner {
  padding-left: 20px;
}
body[class*='blog-'].page-layout-2columns-right .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-right .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-right .main-container .content-inner,
.catalog-category-view.page-layout-2columns-right .main-container .content-inner {
  padding-right: 20px;
}

.page-title,
.page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h2,
.filter-options-title,
.sidebar .block .block-title strong,
.block-collapsible-nav-title strong {
  font-weight: normal;
}

.page-header.header-2,
.page-header.header-2 .action.nav-toggle {
  color: #222;
}
.page-header.header-2 .block-search {
  max-width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-header.header-2 .block-search .input-group {
  border-radius: 0;
}
.page-header.header-2 .block-search .input-group {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.08);
}
.page-header.header-2  .block-search .search-icon,
.page-header.header-2  .block-search .action-btn {
  display: none;
}
.page-header.header-2 .block-search .mobile-search-btn {
	position: absolute;
	opacity: 1;
	display: block !important;
	z-index: 99;
	overflow: visible;
}
.page-header.header-2 .block-search .mobile-search-btn i {
	display: block;
}
.page-header.header-2 .block-search .input-group .mobile-search-btn:after {
    display: block;
    position: absolute;
    content: '';
    height: 22px;
    width: 1px;
    right: 0;
    top: 50%;
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-2 .block-search .input-group input {
    padding-left: 60px;
}
.page-header.header-2  .block-search .action-btn.visible-xs {
  display: table-cell !important;
}
.page-header.header-2  .block-search .action-btn.visible-xs i {
  display: block;
  position: relative;
  top: 1px;
}
.page-header.header-2  .block-search .action-btn.visible-xs:after {
  display: block;
  position: absolute;
  content: '';
  height: 22px;
  width: 1px;
  right: 0;
  top: 50%;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-2 .block-search .btn {
  color: rgba(0,0,0,0.2);
}
.page-header.header-2 .block-search input {
  color: rgba(0,0,0,0.4);
}
.page-header.header-2 .block-search .btn:hover,
.page-header.header-2 .block-search .btn:active,
.page-header.header-2 .block-search .btn:focus {
  background-color: rgba(0,0,0,0.08);
}

.page-header.header-2 .options-wrapper .options-block,
.page-header.header-2 .minicart-wrapper .title-cart,
.page-header.header-2 .links:not(.default-links) li a.top-link-login,
.page-header.header-2 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout,
.page-header.header-2 .customer-name .user-icon {
  border: none;
  color: #222;
  font-weight: normal;
}
.page-header.header-2 .options-wrapper .options-block i,
.page-header.header-2 .links:not(.default-links) li a.top-link-login:before,
.page-header.header-2 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout:before,
.page-header.header-2 .customer-name .user-icon i {
  color: rgba(0,0,0,0.2);
}
.page-header.header-2 .options-wrapper .options-block:hover,
.page-header.header-2 .options-wrapper .options-block.open {
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-2 .minicart-wrapper .title-cart {
  color: #222;
}
.page-header.header-2 .minicart-wrapper .title-cart .icon i {
  color: rgba(0,0,0,0.2);
}
.page-header.header-2 .links:not(.default-links) li a.top-link-login:hover,
.page-header.header-2 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout:hover,
.page-header.header-2 .minicart-wrapper .title-cart:hover,
.page-header.header-2 .minicart-wrapper .title-cart.active,
.page-header.header-2 .customer-name-wrapper:hover,
.page-header.header-2 .customer-name-wrapper:focus,
.page-header.header-2 .customer-name-wrapper.open {
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-2 .minicart-wrapper .title-cart .title-cart {
  font-weight: 400;
}
.page-header.header-2 .minicart-wrapper .title-cart .counter-number {
  background-color: #e66a44;
  color: #fff;
}
.page-header.header-2 ul.topmenu li.level0 a.level-top {
  color: #222;
}
.page-header .options-wrapper .options-block {
  line-height: 38px;
}

@-moz-document url-prefix() {
  .page-header .options-wrapper .options-block {
    line-height: 42px;
  }
}

.page-header.header-2 ul.topmenu li.level0 a.level-top:hover,
.page-header.header-2 ul.topmenu li.level0.over a.level-top,
.page-header.header-2 ul.topmenu.navbar-nav li.level0.active > a.level-top {
    background-color: rgba(0,0,0,0.1);
}
.page-header.header-2 ul.topmenu li.level0.parent a.level-top:after {
  border-top-color: rgba(0,0,0,0.3);
}
.wide-layout .page-header.header-2 .middle-block,
.boxed-layout .page-header.header-2 .middle-block .middle-block-inner {
  border-color: rgba(0,0,0,0.08);
}
body.wide-layout:not(.cms-index-index) .page-header.header-2 .bottom-block,
body.boxed-layout:not(.cms-index-index) .page-header.header-2 .bottom-block .middle-block-inner {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

.page-header.header-2 .top-block {
  text-align: center;
}
.page-header.header-2 .welcome {
  float: none;
  font-weight: normal;
  border-color: rgba(0,0,0,0.08);
}
.page-header.header-2 .center-block {
  float: none;
  display: inline-block;
  text-align: center;
}
.page-header.header-2 .logo-wrapper {
  float: none;
  padding-top: 42px;
  padding-bottom: 42px;
}
.page-header.header-2 .panel,
.page-header.header-2 .logo-wrapper .logo {
    float: none;
    display: inline-block;
}
.page-header.header-2 .minicart-wrapper,
.page-header.header-2 .options-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-header.header-2 .toggle-nav {
  padding-top: 15px;
  padding-bottom: 15px;
}
.page-header.header-2 .block-search.type-2 .search-button {
  color: rgba(0,0,0,0.2);
}
#home-slider.owl-theme .owl-dots {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
}

#home-slider .owl-nav div {
  padding: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;
  top: 50%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 0;
  margin: 0;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 400ms ease, background-color 300ms;
  -moz-transition: opacity 400ms ease, background-color 300ms;
  -webkit-transition: opacity 400ms ease, background-color 300ms;
  -o-transition: opacity 400ms ease, background-color 300ms;
}
#home-slider .owl-nav div i {
  font-style: normal;
  line-height: inherit;
  vertical-align: middle;
  -o-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
#home-slider .owl-nav div.owl-prev {
  left: 0;
}
#home-slider .owl-nav div.owl-next {
  right: 0;
  left: auto;
}
#home-slider .owl-item .subtitle {
  margin-bottom: 20px;
  color: #222;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#home-slider .owl-item .title {
  margin-bottom: 7px;
  color: #222;
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -7px;
}
#home-slider .owl-item .text {
  color: #222;
}
#home-slider .owl-item .slide-container {
  left: auto;
  right: 19.6%;
  bottom: auto;
  top: 30.7%;
}
#home-slider .owl-item .slide-container.slide-skin-2 {
  top: 33.1%;
  right: 15.1%;
}
#home-slider .owl-item .slide-container.slide-skin-3 .title,
#home-slider .owl-item .slide-container.slide-skin-3 .text,
#home-slider .owl-item .slide-container.slide-skin-3 .subtitle {
  color: #fff;
}

body .btn.btn-primary.light,
body .btn.btn-primary.light.type-2 {
  color: #222;
  border-radius: 0;
}
body .btn.btn-primary.light:focus,
body .btn.btn-primary.light.focus,
body .btn.btn-primary.light:active,
body .btn.btn-primary.light.active,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.focus,
body .btn.btn-primary.light.type-2:active,
body .btn.btn-primary.light.type-2.active,
body .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2:hover {
  color: #fff;
}
#popup-block .block.newsletter button {
  border-color: #e66a44;
  background-color: #e66a44;
}
#popup-block .block.newsletter button:focus,
#popup-block .block.newsletter button.focus,
#popup-block .block.newsletter button:active,
#popup-block .block.newsletter button.active,
#popup-block .block.newsletter button:hover,
#popup-block .block.newsletter button:hover {
  border-color: #0b3954;
  background-color: #0b3954;
}
.wide-banner {
  background-image: url(../../images/barbour_cloth_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body .subscribe-block {
  background-image: url(../../images/barbour_cloth_subscribe_bg.jpg);
}
body .subscribe-block.subscribe-block-2 {
  background-image: url(../../images/barbour_cloth_subscribe_bg_2.jpg);
}
.brands {
  border-top: 1px solid rgba(0,0,0,0.08);
}

.text-banners-block .text-banner {
  background-color: #0b3954;
}
.text-banners-block .btn {
  color: #0b3954;
}
.text-banners-block .btn > span {
  position: relative;
  top: 1px;
}
.text-banners-block .text-banner.item-2 {
  background-color: #e66a44;
}
.text-banners-block .text-banner.item-2 .btn {
  color: #e66a44;
}
.text-banners-block .text-banner.item-3 {
  background-color: #bfd7ea;
}
.text-banners-block .text-banner.item-3 .title {
  color: #222;
}
.text-banners-block .text-banner.item-3 .btn {
  color: #bfd7ea;
}

.text-banners-block .text-banner.gray-banner {
  background-color: #eee;
}
.text-banners-block .text-banner.gray-banner .title {
  color: #222;
}
.text-banners-block .text-banner.gray-banner .btn {
  background-color: #222;
  color: #fff;
}
.text-banners-block .text-banner.gray-banner .btn:hover,
.text-banners-block .text-banner.gray-banner .btn.btn-primary:hover {
  background-color: rgba(0,0,0,0.2);
  color: #222;
}

body.wide-layout .footer .footer-top .container,
body.boxed-layout .footer .footer-top .container {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 29px;
  padding-bottom: 29px;
}
body.wide-layout .footer,
body.boxed-layout .footer .container {
  background-color: #0b3954;
}
.footer .certificates {
  float: right;
  margin: 10px 0;
}
.footer .certificates a {
  display: block;
  float: left;
}
.footer .payments-wrapper .payment-item + .payment-item,
.footer .certificates a ~ a {
  margin-left: 59px;
}

/* Mozila Styles */
@-moz-document url-prefix() {

  body .btn > span,
  body .weltpixel-quickview > span,
  button.action-primary > span,
  button.action-secondary > span,
  body.checkout-index-index button[type="submit"] > span,
  .weltpixel-quickview-catalog-product-view button.action > span,
  .text-banners-block .btn > span {
    position: relative;
    top: -1px;
  }
  #home-slider .owl-item .btn > span {
    position: relative;
    top: -2px;
  }

}

@media only screen and (min-width: 1332px){
  .footer .store-info {
    float: none;
    display: inline-block;
  }
}
@media only screen and (min-width: 1008px) and (max-width: 1331px) {

  #home-slider .owl-item .title {
    font-size: 60px;
    line-height: 60px;
  }
  #home-slider .owl-item .slide-container {
    right: 10%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    top: 23.1%;
    right: 5.1%;
  }
  .footer .store-info {
    float: none;
    display: inline-block;
  }
  .footer .payments-wrapper .payment-item + .payment-item,
  .footer .certificates a ~ a {
    margin-left: 40px;
  }

}
@media only screen and (min-width: 768px) and (max-width: 1007px) {

  .page-header.header-2 .block-search {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .page-header.header-2 .minicart-wrapper,
  .page-header.header-2 .options-wrapper {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .page-header.header-2 .center-block {
    text-align: left;
    float: left;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .page-header.header-2 .panel {
    float: none;
    display: inline-block;
  }
  .wide-layout .header-wrapper .menu-wrapper,
  .boxed-layout .header-wrapper .menu-wrapper .menu-inner {
    border: none;
  }

  #home-slider .owl-item .title {
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -4px;
  }
  #home-slider .owl-item .text {
    font-size: 14px;
  }
  #home-slider .owl-item .subtitle {
    margin-bottom: 10px;
  }
  #home-slider .owl-item .slide-container {
    right: 8%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    top: 23.1%;
    right: 2.1%;
  }

  .footer .footer-top .accordion-item .accordion-title {
    color: #fff;
  }
  body.wide-layout .footer .footer-top,
  body.boxed-layout .footer .footer-top .container {background-color: transparent; color: rgba(255,255,255,0.6);}
  .footer .accordion-list .accordion-item:first-of-type .accordion-title {
    border-top: 1px solid rgba(255,255,255,0.12);
  }
  .footer .footer-top .accordion-list .accordion-item:first-of-type .accordion-title {
    border-top: none;
  }
  .wide-layout .footer,
  .boxed-layout .footer {
    border-top: none;
  }
  .footer .certificates {
    float: none;
    text-align: center;
  }
  .accordion-list .accordion-item .accordion-content {
    text-align: center;
  }
  .footer .payments-wrapper .payment-item,
  .footer .certificates a {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

}
@media only screen and (max-width: 767px) {

  .page-header.header-2 .block-search {
    padding-top: 0;
    padding-bottom: 20px;
  }
  .page-header.header-2 .minicart-wrapper,
  .page-header.header-2 .options-wrapper {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .page-header.header-2 .logo-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .wide-layout .header-wrapper .menu-wrapper,
  .boxed-layout .header-wrapper .menu-wrapper .menu-inner {
    border: none;
  }

  #home-slider .owl-item .title {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0;
  }
  #home-slider .owl-item .subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }
  #home-image-slider.owl-theme .owl-dots {
    bottom: 10px;
  }
  #home-slider .owl-item .slide-container {
    left: auto;
    right: 3.6%;
    bottom: auto;
    top: 50.7%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    right: 5.1%;
    top: 59%;
  }

  .banner .banner-text-wrapper {
    left: 25px;
    top: 20px;
  }
  .wide-banner {
    font-size: 18px;
    line-height: 24px;
  }
  .wide-banner .title {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 10px;
  }
  .text-banner .banner-text-wrapper {
    top: 20px;
    left: 35px;
  }
  .footer .store-info {
    text-align: left;
  }

  .footer .footer-top .accordion-item .accordion-title {
    color: #fff;
  }
  body.wide-layout .footer .footer-top,
  body.boxed-layout .footer .footer-top .container {background-color: transparent; color: rgba(255,255,255,0.6);}
  .footer .accordion-list .accordion-item:first-of-type .accordion-title {
    border-top: 1px solid rgba(255,255,255,0.12);
  }
  .footer .accordion-list .footer-top .accordion-item:first-of-type .accordion-title {
    border-top: none;
  }
  .wide-layout .footer,
  .boxed-layout .footer {
    border-top: none;
  }
  .footer .certificates {
    float: none;
    text-align: center;
  }
  .footer .payments-wrapper .payment-item,
  .footer .certificates a {
    float: none;
    display: inline-block;
    width: 48%;
  }
  .footer .payments-wrapper .payment-item:nth-child(2n),
  .footer .certificates a:nth-child(2n) {
    clear: right;
  }
  .footer .payments-wrapper .payment-item:nth-child(2n+1),
  .footer .certificates a:nth-child(2n+1) {
    clear: left;
  }
  .footer .payments-wrapper .payment-item + .payment-item,
  .footer .certificates a ~ a {
    margin-left: 0;
  }

  .header-wrapper .block-search .input-group .mobile-search-btn {
  	border-radius: 0;
  }
  .header-wrapper .block-search .input-group .mobile-search-btn:after {
  	background-color: rgba(0,0,0,0.08);
  }
}
