/* Fonts */
html body,
body .btn,
body button.action,
.sidebar .block li a.action.tocart,
.actions-toolbar a.primary,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.product-info-main .actions button,
.page-header .options-wrapper .options-dropdown .header-switcher .label,
.price,
.product-labels span,
.filter-options-title,
.page-header .header-info,
.sidebar .block.filter .options dt,
.sidebar .block.filter ol li a {font-family: 'Lora', sans-serif;}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
.product.data.items > .item.title > .switch,
.nav-sections .switcher,
.nav-sections .links li a,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .navbar-collapse.collapse a.level-top,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
body .subscribe-block .block-title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .owl-item .title,
.page-title,
.page-title h1,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
#popup-block .block.newsletter .title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.footer .footer-block-title,
.text-banners-block .btn,
.block-title,
.sidebar .block .block-title,
.block-collapsible-nav-title,
.products-grid .product-item-name,
.products-list .product-item-name,
body .page-header.cart-header .page-title,
.accordion-list .accordion-item .accordion-title,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.cart-summary .block > .title,
.table.totals caption.table-caption,
.sidebar .block .block-title,
.block-title,
.sidebar .block .title,
.block-collapsible-nav-title,
.cart-summary #block-shipping .title,
body .page-header .checkout-header .page-title,
.minicart-items .product-item-name,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
body .swatch-attribute-selected-option,
.cat-container .text-banner .title,
.listing-banner-wrapper .listing-banner .subtitle,
.listing-banner-wrapper .listing-banner .title {font-family: 'Playfair Display', sans-serif;}

/* Colors: */
/* Skin Color 1 */
body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
ul.breadcrumb li a:hover,
body .breadcrumbs > .items li a:hover,
.toolbar .modes strong i,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block li a.delete:hover,
.header-wrapper .page-header .block-search.type-2 .indent .btn-close:hover,
.header-wrapper .page-header .block-search.type-2 .indent .btn-close:focus,
.header-wrapper .page-header .block-search.type-2 .indent .btn-close:active,
.header-wrapper .page-header .block-search.type-2 .indent .btn:hover{color: #e84855;}

.skincolor-bg,
.minicart-wrapper .title-cart.active .counter-number,
#home-slider .owl-nav div:hover,
.product-labels span.label-sale,
.cms-no-route .page-not-found .btn:hover,
.ekko-lightbox-nav-overlay a i:hover,
.toolbar .toolbar-sorter .sorter-action:hover{background-color: #e84855;}

.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.sidebar .block.block-compare .actions-toolbar .primary a.action,
body .btn.btn-primary,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.weltpixel-quickview-catalog-product-view button.action.primary:hover,
.weltpixel-quickview-catalog-product-view button.action.primary:active,
.weltpixel-quickview-catalog-product-view button.action.primary:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.hover,
.weltpixel-quickview-catalog-product-view button.action.primary.active,
.weltpixel-quickview-catalog-product-view button.action.primary.focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:hover,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:hover,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled.focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled].focus,
body .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2:active,
body .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.hover,
body .btn.btn-primary.light.type-2.active,
body .btn.btn-primary.light.type-2.focus,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2.disabled:focus,
body .btn.btn-primary.light.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.disabled.focus,
body .btn-primary[disabled].light.type-2.focus,
body fieldset[disabled] .btn.btn-primary.light.type-2.focus,
.products-list .actions-secondary a:hover i,
#popup-block .block.newsletter button,
body .weltpixel-quickview,
body .btn.btn-primary{
    background-color: #e84855;
    border-color: #e84855;
}
.label-type-4 > span.label-sale:after {
  border-bottom-color: #e84855;
}
.label-type-4 > span.label-sale:before {
  border-top-color: #e84855;
}
.label-type-4 > span + span.label-sale:before {
  border-top-color: #e84855;
}
.label-type-4 > span + span.label-sale:after {
  border-bottom-color: #e84855;
}

/* Skin Color 2 */
body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.price-box .special-price .price,
.product-info-main .title-wrapper .add-review:hover,
#popup-block .modal-header .close:hover i,
.account .content-inner .product-item-name a:hover,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
.lightbox-button:hover,
.sidebar .block.filter ol li a:hover{color: #465362;}

.skincolor-2-bg,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.owl-nav div:hover {background-color: #465362;}

body button.action.primary:hover,
body button.action.primary:focus,
body button.action.primary:active,
.sidebar .block.block-compare  .actions-toolbar .action:hover,
.sidebar .block.block-wishlist .actions-toolbar a.action.details:hover,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view:hover,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart:hover,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
body .btn.btn-primary.type-2,
.weltpixel-quickview-catalog-product-view button.action,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light:active,
body .btn.btn-primary.light:focus,
body .btn.btn-primary.light.hover,
body .btn.btn-primary.light.active,
body .btn.btn-primary.light.focus,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light:hover,
body .btn.btn-primary.light.disabled:focus,
body .btn.btn-primary.light[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light:focus,
body .btn.btn-primary.light.disabled.focus,
body .btn-primary[disabled].light.focus,
body fieldset[disabled] .btn.btn-primary.light.focus,
#popup-block .block.newsletter button:hover,
#popup-block .block.newsletter button:active,
#popup-block .block.newsletter button:focus,
#popup-block .block.newsletter button.hover,
#popup-block .block.newsletter button.active,
#popup-block .block.newsletter button.focus,
#popup-block .block.newsletter button.disabled:hover,
#popup-block .block.newsletter button[disabled]:hover,
#popup-block .block.newsletter fieldset[disabled] .btn:hover,
#popup-block .block.newsletter button.disabled:focus,
#popup-block .block.newsletter button[disabled]:focus,
#popup-block .block.newsletter fieldset[disabled] .btn:focus,
#popup-block .block.newsletter button.disabled.focus,
#popup-block .block.newsletter button[disabled].focus,
#popup-block .block.newsletter fieldset[disabled] .btn.focus,
.opc button.action:hover,
.opc button.action:focus,
.opc button.action:active{
    background-color: #465362;
    border-color: #465362;
}

body[class*='blog-'] .sidebar .block,
.catalogsearch-result-index .sidebar .block,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar .block,
.sidebar.right-sidebar .meigee-instagram-widget,
body[class*='blog-'] .right-sidebar.sidebar .block,
.catalogsearch-result-index .right-sidebar.sidebar .block,
.catalogsearch-advanced-result .right-sidebar.sidebar .block,
.catalog-category-view .right-sidebar.sidebar .block {
  padding: 20px 0;
}
body[class*='blog-'] .sidebar-wrapper,
.catalogsearch-result-index .sidebar-wrapper,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar-wrapper,
body[class*='blog-'] .right-sidebar .sidebar-wrapper,
.catalogsearch-result-index .right-sidebar .sidebar-wrapper,
.catalogsearch-advanced-result .right-sidebar .sidebar-wrapper,
.catalog-category-view .right-sidebar .sidebar-wrapper {
  margin: 0;
}
body[class*='blog-'] .sidebar:not(.sidebar-wrapper),
.catalogsearch-result-index .sidebar:not(.sidebar-wrapper),
.catalogsearch-advanced-result .sidebar:not(.sidebar-wrapper),
.catalog-category-view .sidebar:not(.sidebar-wrapper),
body[class*='blog-'].page-layout-3columns .sidebar-wrapper,
.catalogsearch-result-index.page-layout-3columns .sidebar-wrapper,
.catalogsearch-advanced-result.page-layout-3columns .sidebar-wrapper,
.catalog-category-view.page-layout-3columns .sidebar-wrapper {
  background-color: transparent;
}
.page-layout-3columns .sidebar .block {
  margin-left: 0;
  margin-right: 0;
}
body[class*='blog-'].page-layout-2columns-left .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-left .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-left .main-container .content-inner,
.catalog-category-view.page-layout-2columns-left .main-container .content-inner {
  padding-left: 20px;
}
body[class*='blog-'].page-layout-2columns-right .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-right .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-right .main-container .content-inner,
.catalog-category-view.page-layout-2columns-right .main-container .content-inner {
  padding-right: 20px;
}

.product-labels span.label-sale {
  color: #fff;
}
.product-labels span.label-sale span {
  color: #fff;
}
.product-labels span,
.product-labels span.label-sale {
  font-size: 10px;
}
.label-type-1 span.label-sale.percentage {
  line-height: 2.5em;
}
.label-type-1 .label-sale.availability-only {
  line-height: 24px;
}
.label-type-2 span {
  line-height: 16px;
}
.label-type-2 span.label-sale.percentage span {
  position: relative;
  top: -1px;
}
.label-type-4 span.label-sale.percentage span {
  position: relative;
  top: -1px;
}
span.label-sale.percentage {
  line-height: 1.9em;
}
@-moz-document url-prefix() {
  .label-type-2 span.label-sale.percentage {
    line-height: 1.4;
  }
  .label-type-2 span {
    line-height: 15px;
  }
  .label-type-3 .label-new,
  .label-type-3 .label-sale {
    line-height: 29px;
  }
  .label-type-4 span {
    line-height: 19px;
  }
}
.page-title,
.page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h2,
.filter-options-title,
.sidebar .block .block-title strong,
.block-collapsible-nav-title strong {
  font-weight: normal;
}

.page-header.header-6,
.page-header.header-6 .meigee-menu,
.page-header.header-6 .header-info .item a {
  color: rgba(0,0,0,0.6);
}
.page-header.header-6 .middle-block {
  color: rgba(0,0,0,0.2);
}
.page-header.header-6 .header-info .item a:hover {
  color: #465362;
}
.page-header.header-6 .header-info .item i {
  color: rgba(0,0,0,0.2);
}
.wide-layout .page-header.header-6 .top-block,
.boxed-leyout .page-header.header-6 .top-block .top-block-inner {
  border: none;
  background-color: #f5f5f5;
}
.page-header.header-6 .block-search.type-1 .input-group {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 40px;
}



.page-header.header-6 .account-language-currency-block,
.page-header.header-6 .minicart-wrapper .block-title,
.page-header.header-6 .links:not(.default-links) li a.top-link-login,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout,
.page-header.header-6 .customer-name .user-icon {
  border: none;
  color: #222;
  font-weight: normal;
}
.page-header.header-6  ul.social-links li a,
.page-header.header-6 .account-language-currency-block i,
.page-header.header-6 .links:not(.default-links) li a.top-link-login:before,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout:before,
.page-header.header-6 .customer-name .user-icon i {
  color: rgba(0,0,0,0.2);
}
.page-header.header-6 .account-language-currency-block:hover,
.page-header.header-6 .account-language-currency-block.open {
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-6 .minicart-wrapper .block-title {
  color: #222;
}
.page-header.header-6 .minicart-wrapper .block-title .top-cart-icon i {
  color: rgba(0,0,0,0.2);
}
.page-header.header-6 .links:not(.default-links) li a.top-link-login:hover,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout:hover,
.page-header.header-6 .minicart-wrapper .block-title:hover,
.page-header.header-6 .minicart-wrapper .block-title.active,
.page-header.header-6 .customer-name-wrapper:hover,
.page-header.header-6 .customer-name-wrapper:focus,
.page-header.header-6 .customer-name-wrapper.open {
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-6 .minicart-wrapper .block-title .title-cart {
  font-weight: 400;
}
.page-header.header-6 .minicart-wrapper .block-title .cart-qty {
  background-color: transparent;
  color: rgba(0,0,0,0.4);
}
.page-header.header-6 ul.topmenu li.level0 a.level-top {
  color: #222;
}
.page-header.header-6 ul.topmenu li.level0 a.level-top:hover,
.page-header.header-6 ul.topmenu li.level0.over a.level-top,
.page-header.header-6 ul.topmenu.navbar-nav li.level0.active > a.level-top {
    background-color: rgba(0,0,0,0.1);
}
.page-header.header-6 ul.topmenu li.level0.parent a.level-top:after {
  border-top-color: rgba(0,0,0,0.3);
}
.page-header.header-6 .options-wrapper .options-dropdown .header-switcher .options strong {
  line-height: 34px;
}
.page-header.header-6 .header-info {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-height: 40px;
}
.page-header.header-6 .header-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-header.header-6 .header-info ul li {
  display: inline-block;
  vertical-align: middle;
  line-height: 38px;
}
.page-header.header-6 .header-info ul .item + .item {
  margin-left: 30px;
}
.page-header.header-6 .header-info .item span {
  display: inline-block;
  vertical-align: middle;
}
.page-header.header-6 .header-info .item i {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
  position: relative;
}
.page-header.header-6 .header-info .item a:hover,
.page-header.header-6 .header-info .item a:focus,
.page-header.header-6 .header-info .item a:active {
  opacity: 1;
  color: #465362;
}
.page-header.header-6 .welcome {
  float: left;
}
.wide-layout .page-header.header-6 .middle-block,
.boxed-leyout .page-header.header-6 .middle-block .middle-block-inner {
  border: none;
}
body.wide-layout:not(.cms-index-index) .page-header.header-6 .bottom-block,
body.boxed-leyout:not(.cms-index-index) .page-header.header-6 .bottom-block .middle-block-inner {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
.page-header.header-6 .minicart-wrapper .block-title .top-cart-icon + .cart-qty,
.page-header.header-6 .minicart-wrapper .block-title .top-cart-label + .cart-qty {
  margin-left: 1px;
}
.page-header.header-6 .options-wrapper .options-block,
.page-header.header-6 .minicart-wrapper .title-cart,
.page-header.header-6 .links:not(.default-links) li a.top-link-login,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout,
.page-header.header-6 .customer-name .user-icon {
  border: none;
  color: rgba(0,0,0,0.6);
  font-weight: normal;
}
.page-header.header-6 .options-wrapper .options-block i,
.page-header.header-6 .links:not(.default-links) li a.top-link-login:before,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout:before,
.page-header.header-6 .customer-name .user-icon i {
  color: rgba(0,0,0,0.2);
}
.page-header.header-6 .options-wrapper .options-block:hover,
.page-header.header-6 .options-wrapper .options-block.open {
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-6 .minicart-wrapper .title-cart {
  color: rgba(0,0,0,0.6);
  padding-left: 15px;
  padding-right: 15px;
}
.page-header.header-6 .minicart-wrapper .title-cart .icon i {
  color: rgba(0,0,0,0.2);
}
.page-header.header-6 .links:not(.default-links) li a.top-link-login:hover,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout:hover,
.page-header.header-6 .minicart-wrapper .title-cart:hover,
.page-header.header-6 .minicart-wrapper .title-cart.active,
.page-header.header-6 .customer-name-wrapper:hover,
.page-header.header-6 .customer-name-wrapper:focus,
.page-header.header-6 .customer-name-wrapper.open {
  background-color: rgba(0,0,0,0.08);
}
.page-header.header-6 .minicart-wrapper .title-cart .counter-number {
  background-color: transparent;
  margin-left: 0;
}
.page-header.header-6 .minicart-wrapper .title-cart .title-cart {
  font-weight: 400;
}
.wide-layout .header-wrapper .menu-wrapper,
.boxed-layout .header-wrapper .menu-wrapper .menu-inner {
  border: none;
}
.boxed-layout .header-wrapper .menu-wrapper .menu-inner {border-bottom: 1px solid rgba(0,0,0,0.08);}
.page-header.header-6 .options-wrapper .options-block {
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
}
.page-header.header-6 .options-wrapper .options-block .title i {
  margin: 0;
}
.page-header.header-6 .options-wrapper .options-block .title span {
  display: none;
}
.page-header.header-6 .block-search.type-2 .search-button {
  border-radius: 4px;
  color: rgba(0,0,0,0.2);
}
.page-header.header-6 {
  font-size: 13px;
}
.page-header.header-6 .header-info .item i {
  top: 2px;
}
.page-header.header-6 .middle-block ul.social-links {
  margin: 0;
  padding: 41px 0;
}
.page-header.header-6 .block-search {
  max-width: none;
  display: inline-block;
  vertical-align: middle;
  padding-top: 40px;
  padding-bottom: 40px;
}
.page-header.header-6 .center-block {
  float: none;
  display: inline-block;
  text-align: center;
}
.page-header.header-6 .logo-wrapper {
  float: none;
  padding-top: 42px;
  padding-bottom: 42px;
}
.page-header.header-6 .logo-wrapper .panel {
    float: none;
    display: inline-block;
}
.page-header.header-6 .minicart-wrapper,
.page-header.header-6 .options-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
.page-header.header-6 .options-wrapper {
  margin-left: 15px;
}
.page-header.header-6 .bottom-block .bottom-block-inner ul.topmenu {
  padding-top: 0;
  padding-bottom: 0;
}
.page-header.header-6 .links:not(.default-links) li a.top-link-login:before,
.page-header.header-6 .mobile-wrapper-links .links:not(.default-links) li a.top-link-logout {
  position: relative;
  top: -2px;
}
.page-header.header-6 .minicart-wrapper .block-title .title-cart {
  padding-left: 15px;
  padding-right: 15px;
}
.page-header.header-6 ul.topmenu li.level0 a.level-top {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 24px;
  padding-right: 24px;
}
.page-header.header-6 ul.topmenu li.level0.parent a.level-top:after {
  top: 0;
}
.wide-layout .page-header.header-6 .bottom-block,
.boxed-leyout .page-header.header-6 .bottom-block .bottom-block-inner {
  border-bottom: 1px solid rgba(0,0,0,0.08);
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6 {font-weight: normal;}

.price {
    font-weight: normal;
}

body .btn,
body button.action,
.sidebar .block li a.action.tocart,
.actions-toolbar a.primary,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action {
    border-radius: 20px;
    font-weight: normal;
}

#home-slider .owl-item .btn {
  line-height: 1.4;
}
.products-grid .weltpixel-quickview > span,
.products-list .weltpixel-quickview > span {
    position: relative;
    top: 2px;
}

body .weltpixel-quickview {
    padding-left: 30px;
    padding-right: 30px;
}
.brands {
    background-color: #f5f5f5;
}
#home-slider.owl-theme .owl-dots {
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
    text-align: center;
}
#home-slider .owl-nav div {
    padding: 0;
    position: absolute;
    opacity: 0;
    z-index: 3;
    top: 50%;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin: 0;
    background-color: #222;
    color: #fff;
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: opacity 400ms ease, background-color 300ms;
    -moz-transition: opacity 400ms ease, background-color 300ms;
    -webkit-transition: opacity 400ms ease, background-color 300ms;
    -o-transition: opacity 400ms ease, background-color 300ms;
}
#home-slider .owl-nav div.owl-next {
    border-radius: 50%;
}
#home-slider .owl-nav div:hover {
    background-color: #e84855;
}
#home-slider .owl-nav div i {
    font-style: normal;
    line-height: inherit;
    vertical-align: middle;
    -o-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    display: inline-block;
    line-height: 1;
}
#home-slider .owl-nav div.owl-prev {
    left: 10px;
}
#home-slider .owl-nav div.owl-next {
    right: 10px;
    left: auto;
}
#home-slider.owl-theme .owl-dots .owl-dot span {
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
}
#home-slider.owl-theme .owl-dots .owl-dot.active span,
#home-slider.owl-theme .owl-dots .owl-dot:hover span {
    background-color: #222;
}
#home-slider .owl-item .subtitle {
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 14px;
}
#home-slider .owl-item .title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 22px;
}
#home-slider .owl-item .text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
#home-slider .owl-item .slide-container {
    position: absolute;
    top: 37.3%;
    left: auto;
    bottom: auto;
    right: 21%;
    z-index: 9;
}
#home-slider .owl-item .slide-container.slide-skin-2 .subtitle,
#home-slider .owl-item .slide-container.slide-skin-3 .subtitle {
    color: #222;
}
#home-slider .owl-item .slide-container.slide-skin-2 .title,
#home-slider .owl-item .slide-container.slide-skin-3 .title {
    color: #222;
}
#home-slider .owl-item .slide-container.slide-skin-2 .text,
#home-slider .owl-item .slide-container.slide-skin-3 .text {
    color: #222;
}
#home-slider .owl-item .slide-container.slide-skin-2,
#home-slider .owl-item .slide-container.slide-skin-3 {
    left: auto;
    top: auto;
    right: 31.6%;
    bottom: 29.5%;
}
#home-slider .owl-item .slide-container.slide-skin-3 {
  right: 23%;
}
#home-slider .owl-item .btn-default:not(.light) {
    color: #222;
}

.text-banners-block .text-banner {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.08);
}
.text-banners-block .title  {
    color: #222;
}
.text-banners-block .btn {
    color: #fff;
}
.text-banners-block .text-banner.item-2 {
    background-color: #222;
}
.text-banners-block .text-banner.item-2 .title {
    color: #fff;
}
.text-banners-block .text-banner.item-2 .btn {
    color: #222;
}
.text-banners-block .text-banner.item-3 {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.08);
}
.text-banners-block .text-banner.item-3 .title {
    color: #222;
}
.text-banners-block .text-banner.item-3 .btn {
    color: #fff;
}

.text-banners-block .btn:hover,
.text-banners-block .btn:focus,
.text-banners-block .btn:active,
.text-banners-block .text-banner.item-2 .btn:hover,
.text-banners-block .text-banner.item-2 .btn:focus,
.text-banners-block .text-banner.item-2 .btn:active,
.text-banners-block .text-banner.item-3 .btn:hover,
.text-banners-block .text-banner.item-3 .btn:focus,
.text-banners-block .text-banner.item-3 .btn:active {
    background-color: rgba(255,255,255,0.6);
    color: #222;
}
.text-banners-block .btn.btn-primary:hover,
.text-banners-block .btn.btn-primary:focus,
.text-banners-block .btn.btn-primary:active,
.text-banners-block .text-banner.item-2 .btn.btn-primary:hover,
.text-banners-block .text-banner.item-2 .btn.btn-primary:focus,
.text-banners-block .text-banner.item-2 .btn.btn-primary:active,
.text-banners-block .text-banner.item-3 .btn.btn-primary:hover,
.text-banners-block .text-banner.item-3 .btn.btn-primary:focus,
.text-banners-block .text-banner.item-3 .btn.btn-primary:active {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
}

.owl-nav div {
    border-radius: 15px 0 0 15px;
}
.owl-nav > div + div {
    border-radius: 0 15px 15px 0;
}
.owl-nav div i {
    -o-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    display: inline-block;
}

body .subscribe-block {
    padding: 50px 60px;
    border: 1px solid rgba(0,0,0,0.08);
    background: transparent;
}
.subscribe-block .block-title {
     display: block;
    float: left;
    color: #3d348b;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    width: 33.33333333%;
    border: none;
    letter-spacing: -2.8px;
    padding-bottom: 0;
    margin-bottom: 0;
}
body .subscribe-block .block.newsletter {
    display: block;
    float: left;
    width: 66.66666667%;
    color: #666;
}
.subscribe-block .block-title strong {
    font-weight: bold;
}
body .subscribe-block {
color: #666;
}
body .subscribe-block .content label {
    width: 44.89999%;
    display: inline-block;
    max-width: 413px;
    padding-bottom: 18px;
    font-size: 14px;
    cursor: auto;
    font-family: inherit;
    font-weight: normal;
    color: #666;
    text-align: left;
    padding-bottom: 0;
}
body .subscribe-block .content label span {
    padding: 6px 60px 0 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.subscribe-block .block-subscribe .block-title {
    display: none;
}
body .subscribe-block .block.newsletter .input-wrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
body .subscribe-block .block.newsletter
body .subscribe-block .block-content .input-wrapper {
    border: none;
    border-radius: 0;
    padding: 0;
    position: relative;
    margin-top: 10px;
}
body .subscribe-block .block.newsletter .input-wrapper {
    width: 270px;
}
body .subscribe-block .content input {
    background-color: rgba(0,0,0,0.08);
    padding-left: 20px;
    color: #aaa;
    font-size: 13px;
    border: none;
    height: 40px;
}

body .subscribe-block .content input::-webkit-input-placeholder {
    color: #aaa;
}
body .subscribe-block .content input::-moz-placeholder {
    color: #aaa;
}
body .subscribe-block .content input::-ms-input-placeholder {
    color: #aaa;
}
body .subscribe-block .content input::-moz-placeholder {
    color: #aaa;
}
body .subscribe-block .block.newsletter .input-wrapper {
  margin-right: 10px;
}
body .subscribe-block .btn.btn-primary.type-2 {
  margin-top: 10px;
}
.newsletter .btn.btn-primary.type-2 {
    overflow: hidden;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.08);
    padding: 0 19px;
    height: 40px;
    vertical-align: top;
}
.newsletter .btn.btn-primary.type-2:hover,
.newsletter .btn.btn-primary.type-2:focus,
.newsletter .btn.btn-primary.type-2:active {
    color: #fff;
}

.footer .footer-middle {
    text-align: center;
}
.footer .horizontal-links li a {
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(255,255,255,0.95);
}
.footer .store-info {
    float: left;
}
.footer .footer-logo {
    padding-top: 11px;
    padding-bottom: 11px;
}
.footer ul.social-links {
    padding-top: 11px;
}
body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.footer .social-links {
    float: right;
}

@media only screen and (min-width: 1332px){
  .page-header.header-6 .menu-inner {
    text-align: center;
  }
  .page-header.header-6 .toggle-nav {
    float: none;
    display: inline-block;
    margin-bottom: -5px;
  }
  #home-slider .owl-nav div.owl-prev {
    left: 30px;
  }
  #home-slider .owl-nav div.owl-next {
    right: 30px;
  }
  body.boxed-layout .subscribe-block .block.newsletter .input-wrapper {
      width: 240px;
  }

}

@media only screen and (min-width: 1008px) and (max-width: 1331px) {
  .page-header.header-6 .menu-inner {
    text-align: center;
  }
  .page-header.header-6 .toggle-nav {
    float: none;
    display: inline-block;
    margin-bottom: -5px;
  }

  #home-slider .owl-item .slide-container {
    right: 5%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    right: 21%;
  }
   #home-slider .owl-item .slide-container.slide-skin-3 {
    right: 5%;
    bottom: 21%;
  }
  .subscribe-block .block-title {
    font-size: 28px;
    line-height: 28px;
    width: 24.333333%;
  }
  body .subscribe-block .block.newsletter {
    width: 75.666667%;
  }
  body .subscribe-block {
    padding: 35px 20px 39px;
  }
  body .subscribe-block .content label {
    width: 44.89999%;
    max-width: 333px;
  }
  body .subscribe-block .content label span {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1007px) {
    .page-header.header-6 .top-block .right-block {
        float: none;
        display: inline-block;
    }
    .page-header.header-6 .logo-wrapper {
        float: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .page-header.header-6 .topmenu .menu-item-button {
        top: 4px;
    }
    .page-header.header-6 .minicart-wrapper,
    .page-header.header-6 .options-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .page-header.header-6 .middle-block ul.social-links {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .page-header.header-6 .block-search {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #home-slider .owl-item .slide-container.slide-skin-2 .subtitle,
    #home-slider .owl-item .subtitle {
        margin-bottom: 5px;
    }
    #home-slider .owl-item .title {
        font-size: 38px;
        line-height: 38px;
    }
    #home-slider .owl-item .slide-container {
        right: 3%;
    }
    #home-slider .owl-item .slide-container.slide-skin-2 {
        right: 7.6%;
    }
    #home-slider .owl-item .slide-container.slide-skin-3 {
      right: 5%;
      bottom: 21%;
    }

    body .subscribe-block {
        padding: 40px;
    }
    body .subscribe-block .block.newsletter {
        float: none;
        width: 100%;
    }
    .subscribe-block .block-title{
        font-size: 31px;
        line-height: 36px;
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;
        text-align: center;
    }
    body .subscribe-block .content label {
        width: 100%;
        min-width: 480px;
        text-align: center;
        padding-bottom: 0;
    }
    body .subscribe-block .content label span{padding-right: 0; min-width: 480px;}
    body .subscribe-block .block.newsletter .input-wrapper {width: 100%;}
    body .subscribe-block .newsletter{text-align: center;}
    body .subscribe-block .newsletter .btn.btn-primary{display: inline-block;}
    body .subscribe-block .content input {max-width: 402px;}
    .footer .store-info {
        float: none;
    }
    .footer ul.social-links {
        display: block;
        float: none !important;
    }
    .footer .horizontal-links li a {
        padding-left: 8px;
        padding-right: 8px;
    }
    .footer .footer-middle .container {
        text-align: center;
    }
    .footer .copyright {
      float: none !important;
    }
    .footer .footer-top .accordion-item .accordion-title {
        color: #fff;
    }
    body.wide-layout .footer .footer-top,
    body.boxed-layout .footer .footer-top .container {background-color: transparent; color: rgba(255,255,255,0.6);}
    .footer .accordion-list .accordion-item:first-of-type .accordion-title {
        border-top: 1px solid rgba(255,255,255,0.12);
    }
    .footer .accordion-list .footer-top .accordion-item:first-of-type .accordion-title {
        border-top: none;
    }
    .wide-layout .footer,
    .boxed-layout .footer {
        border-top: none;
    }


}
@media only screen and (max-width: 767px) {
    .page-header.header-6 .logo-wrapper {
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        clear: both;
    }
    .page-header.header-6 .top-block {
      display: none;
    }
    .page-header.header-6 .minicart-wrapper,
    .page-header.header-6 .options-wrapper {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .page-header.header-6 .middle-block ul.social-links {
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .page-header.header-6 .block-search {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .page-header.header-6 .minicart-wrapper .title-cart {
      padding: 0;
    }
    .page-header.header-6 .block-search.type-2 .search-button i {
      top: 3px;
    }

    #home-slider .owl-item .title {
        font-size: 16px;
        line-height: 16px;
    }
    #home-slider.owl-theme .owl-dots {
        bottom: 10px;
    }
    #home-slider .owl-item .slide-container {
        top: 50.3%;
        right: 3%;
    }
    #home-slider .owl-item .slide-container.slide-skin-2 {
        right: 5%;
    }
    #home-slider .owl-item .slide-container.slide-skin-3 {
      right: 10%;
    }

    body .subscribe-block {
        padding: 30px 20px;
    }
    body .subscribe-block .block.newsletter {
        float: none;
        width: 100%;
    }
    .subscribe-block .block-title{
        font-size: 31px;
        line-height: 36px;
        width: 100%;
        padding-bottom: 0;
        padding-top: 0;
        text-align: center;
    }
    body .subscribe-block .content label {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    }
    body .subscribe-block .content input {width: 100%;}
    body .subscribe-block .content label span{padding-right: 0;}
    body .subscribe-block .block.newsletter .input-wrapper {width: 100%;}
    body .subscribe-block .newsletter{text-align: center;}
    body .subscribe-block .newsletter .btn.btn-primary{display: inline-block; margin-top: 20px;}
    .footer .store-info {
        float: none;
    }
    .footer .pull-right {
        float: none !important;
    }
    .footer .footer-middle .container {
        text-align: center;
    }
    .footer ul.social-links {
        display: inline-block;
        float: none;
    }
    .footer .footer-top .accordion-item .accordion-title {
        color: #fff;
    }
    body.layout-footer .footer .footer-top,
    body.boxed-layout .footer .footer-top .container {background-color: transparent; color: rgba(255,255,255,0.6);}
    .footer .accordion-list .accordion-item:first-of-type .accordion-title {
        border-top: 1px solid rgba(255,255,255,0.12);
    }
    .footer .accordion-list .footer-top .accordion-item:first-of-type .accordion-title {
        border-top: none;
    }
    .wide-layout .footer,
    .boxed-layout .footer {
        border-top: none;
    }

	body .header-wrapper .page-header .block-search.type-2 .mobile-search-btn {
		display: none !important;
	}
}
