/* Fonts */
html body,
body .btn,
body button.action,
.sidebar .block li a.action.tocart,
.actions-toolbar a.primary,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.product-info-main .actions button,
.page-header .options-wrapper .options-dropdown .header-switcher .label,
.price,
.product-labels span,
.filter-options-title,
.sidebar .block.filter .options dt,
.sidebar .block.filter ol li a{font-family: 'PT Serif', sans-serif;}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
.product.data.items > .item.title > .switch,
.nav-sections .switcher,
.nav-sections .links li a ,
.page-header .header-info,
.page-header .customer-name .user-icon,
.customer-welcome .customer-name,
.header-wrapper .navbar-collapse.collapse a.level-top,
.block-minicart .subtotal,
.page-header .header-custom-block-wrapper,
.page-header .action.nav-toggle,
.page-header .header-switcher ul li a,
.page-header .header-switcher ul li span,
.page-header .header-switcher .switcher-trigger span,
body .subscribe-block .block-title,
.parallax-banners-wrapper .banner-content .title,
.parallax-banners-wrapper .banner-content .subtitle,
.parallax-banners-wrapper .banner-content .text,
#home-slider .owl-item .title,
.page-title,
.page-title h1,
#tabs .nav-tabs li a,
.related .block-actions .action,
.reviews-wrapper .review-title,
#popup-block .block.newsletter .title,
.customer-review.view .review-details .title,
.customer-review.view .review-title,
.block-collapsible-nav-title,
.sidebar .block li a,
.sidebar .block li strong,
.block-reviews-dashboard ol li .product-name a,
.table-caption,
.multicheckout .block .title,
.checkout-container .opc-progress-bar-item > span:after,
.opc-wrapper .step-title,
.opc-block-shipping-information .shipping-information-title,
.cart-summary #block-shipping .title
.opc-block-summary > .title,
.checkout-agreements-items .checkout-agreements-item-title,
.checkout-payment-method .payment-method-title,
.checkout-payment-method .payment-option-title .action-toggle,
.sidebar .block.block-compare  .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.footer .footer-block-title,
.text-banners-block .btn,
.products-grid .product-item-name,
.products-list .product-item-name,
body .page-header.cart-header .page-title,
.accordion-list .accordion-item .accordion-title,
.cart-summary .block > .title,
.table.totals caption.table-caption,
.sidebar .block .block-title,
.block-title,
.sidebar .block .title,
.block-collapsible-nav-title,
body .page-header .checkout-header .page-title,
.minicart-items .product-item-name,
.product-info-main .product-options-wrapper .label,
.product-info-main .product-options-wrapper .swatch-attribute-label,
body .swatch-attribute-selected-option,
.cat-container .text-banner .title,
.listing-banner-wrapper .listing-banner .subtitle,
.listing-banner-wrapper .listing-banner .title {font-family: 'Old Standard TT', sans-serif;}

/* Colors: */
/* Skin Color 1 */
body a,
.skincolor,
.header.links li.authorization-link a,
.customer-welcome .customer-name,
ul.breadcrumb li a:hover,
body .breadcrumbs > .items li a:hover,
.toolbar .modes strong i,
.products-list .actions-secondary a:hover,
.related .block-actions .action:hover,
.reviews-wrapper .review-author strong,
.reviews-actions a:hover,
body .swatch-attribute .swatch-option:not(.disabled):hover,
body .swatch-attribute.size .swatch-option.selected,
body .swatch-attribute.manufacturer .swatch-option.selected,
.authentication-wrapper .action-auth-toggle:hover,
.sidebar .block li a.delete:hover{color: #a01a7d;}

.skincolor-bg,
.minicart-wrapper .title-cart.active .counter-number,
#home-slider .owl-nav div:hover,
.product-labels span.label-sale,
.cms-no-route .page-not-found .btn:hover,
.ekko-lightbox-nav-overlay a i:hover,
.toolbar .toolbar-sorter .sorter-action:hover{background-color: #a01a7d;}

.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart,
.sidebar .block.block-compare .actions-toolbar .primary a.action,
body .btn.btn-primary,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.hover,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2.disabled:hover,
body .btn.btn-primary.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2.disabled:focus,
body .btn.btn-primary.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.disabled.focus,
body .btn.btn-primary.type-2[disabled].focus,
body fieldset[disabled] .btn.btn-primary.type-2.focus,
.weltpixel-quickview-catalog-product-view button.action.primary:hover,
.weltpixel-quickview-catalog-product-view button.action.primary:active,
.weltpixel-quickview-catalog-product-view button.action.primary:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.hover,
.weltpixel-quickview-catalog-product-view button.action.primary.active,
.weltpixel-quickview-catalog-product-view button.action.primary.focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:hover,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:hover,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled:focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled]:focus,
.weltpixel-quickview-catalog-product-view button.action.primary.disabled.focus,
.weltpixel-quickview-catalog-product-view button.action.primary[disabled].focus,
body .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2:active,
body .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.hover,
body .btn.btn-primary.light.type-2.active,
body .btn.btn-primary.light.type-2.focus,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body .btn.btn-primary.light.type-2.disabled:hover,
body .btn.btn-primary.light.type-2[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light.type-2:hover,
body .btn.btn-primary.light.type-2.disabled:focus,
body .btn.btn-primary.light.type-2[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light.type-2:focus,
body .btn.btn-primary.light.type-2.disabled.focus,
body .btn-primary[disabled].light.type-2.focus,
body fieldset[disabled] .btn.btn-primary.light.type-2.focus,
.products-list .actions-secondary a:hover i,
#popup-block .block.newsletter button,
body .weltpixel-quickview,
body .btn.btn-primary{
    background-color: #a01a7d;
    border-color: #a01a7d;
}
.label-type-4 > span.label-sale:after {
  border-bottom-color: #a01a7d;
}
.label-type-4 > span.label-sale:before {
  border-top-color: #a01a7d;
}
.label-type-4 > span + span.label-sale:before {
  border-top-color: #a01a7d;
}
.label-type-4 > span + span.label-sale:after {
  border-bottom-color: #a01a7d;
}

/* Skin Color 2 */
body a:hover,
body a:focus,
.skincolor-2,
.page-header .header-switcher .options .action.toggle:hover,
.page-header .header-switcher .options .action.toggle.active,
.header.links li.authorization-link a:hover,
.page-header .customer-name-wrapper + .links li a i,
.page-header .customer-name-wrapper + .links li a:hover,
.customer-welcome .customer-name.active,
.customer-welcome .customer-name:hover,
.header-wrapper .header.links .customer-menu li a:hover,
.header-wrapper .header.links .customer-menu li.authorization-link a:hover,
.navigation .level0 .submenu a:hover,
.navigation .level0 .submenu a.ui-state-focus,
.navigation .level0 .submenu .active > a,
.minicart-items .action.edit:hover,
.minicart-items .action.delete:hover,
.page-header .custom-wish-link a:hover,
.page-header .custom-wish-link a:focus,
.page-header .custom-wish-link a:active,
.price-box .special-price .price,
.product-info-main .title-wrapper .add-review:hover,
#popup-block .modal-header .close:hover i,
.account .content-inner .product-item-name a:hover,
.account .content-inner a:hover,
.block-dashboard-addresses .block-title a :hover,
.block-dashboard-info .block-title a i:hover,
.box .box-title a i:hover,
#my-orders-table a:hover,
#shopping-cart-table tbody tr td.actions a:hover,
.checkout-methods-items li a:hover,
.modal-open .modal.ekko-lightbox .modal-header .close:hover:before,
.lightbox-button:hover,
.sidebar .block.filter ol li a:hover{color: #e66a44;}

.skincolor-2-bg,
.page-header .customer-name-wrapper + .links li a .hover-divider,
.owl-nav div:hover {background-color: #e66a44;}

body button.action.primary:hover,
body button.action.primary:focus,
body button.action.primary:active,
.sidebar .block.block-compare  .actions-toolbar .action:hover,
.sidebar .block.block-wishlist .actions-toolbar a.action.details:hover,
.sidebar .block.block-reorder  .actions-toolbar .secondary a.action.view:hover,
.sidebar .block.block-reorder  .actions-toolbar .primary button.action.tocart:hover,
body .btn.btn-primary:hover,
body .btn.btn-primary:active,
body .btn.btn-primary:focus,
body .btn.btn-primary.hover,
body .btn.btn-primary.active,
body .btn.btn-primary.focus,
body .btn.btn-primary.disabled:hover,
body .btn.btn-primary[disabled]:hover,
body fieldset[disabled] .btn.btn-primary:hover,
body .btn.btn-primary.disabled:focus,
body .btn.btn-primary[disabled]:focus,
body fieldset[disabled] .btn.btn-primary:focus,
body .btn.btn-primary.disabled.focus,
body .btn.btn-primary[disabled].focus,
body fieldset[disabled] .btn.btn-primary.focus,
body .weltpixel-quickview:hover,
body .weltpixel-quickview:active,
body .weltpixel-quickview:focus,
body .weltpixel-quickview.hover,
body .weltpixel-quickview.active,
body .weltpixel-quickview.focus,
body .weltpixel-quickview.disabled:hover,
body .weltpixel-quickview[disabled]:hover,
body .weltpixel-quickview.disabled:focus,
body .weltpixel-quickview[disabled]:focus,
body .weltpixel-quickview.disabled.focus,
body .weltpixel-quickview[disabled].focus,
body .btn.btn-primary.type-2,
.weltpixel-quickview-catalog-product-view button.action,
body .btn.btn-primary.light:hover,
body .btn.btn-primary.light:active,
body .btn.btn-primary.light:focus,
body .btn.btn-primary.light.hover,
body .btn.btn-primary.light.active,
body .btn.btn-primary.light.focus,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body .btn.btn-primary.light.disabled:hover,
body .btn.btn-primary.light[disabled]:hover,
body fieldset[disabled] .btn.btn-primary.light:hover,
body .btn.btn-primary.light.disabled:focus,
body .btn.btn-primary.light[disabled]:focus,
body fieldset[disabled] .btn.btn-primary.light:focus,
body .btn.btn-primary.light.disabled.focus,
body .btn-primary[disabled].light.focus,
body fieldset[disabled] .btn.btn-primary.light.focus,
#popup-block .block.newsletter button:hover,
#popup-block .block.newsletter button:active,
#popup-block .block.newsletter button:focus,
#popup-block .block.newsletter button.hover,
#popup-block .block.newsletter button.active,
#popup-block .block.newsletter button.focus,
#popup-block .block.newsletter button.disabled:hover,
#popup-block .block.newsletter button[disabled]:hover,
#popup-block .block.newsletter fieldset[disabled] .btn:hover,
#popup-block .block.newsletter button.disabled:focus,
#popup-block .block.newsletter button[disabled]:focus,
#popup-block .block.newsletter fieldset[disabled] .btn:focus,
#popup-block .block.newsletter button.disabled.focus,
#popup-block .block.newsletter button[disabled].focus,
#popup-block .block.newsletter fieldset[disabled] .btn.focus,
.opc button.action:hover,
.opc button.action:focus,
.opc button.action:active{
    background-color: #e66a44;
    border-color: #e66a44;
}


body .btn.btn-primary.light,
body .btn.btn-primary.light.type-2 {
  color: #222;
}

body .btn.btn-primary:focus,
body .btn.btn-primary.focus,
body .btn.btn-primary:active,
body .btn.btn-primary.active,
body .btn.btn-primary:hover,
body .btn.btn-primary:hover,
body .btn.btn-primary.type-2:focus,
body .btn.btn-primary.type-2.focus,
body .btn.btn-primary.type-2:active,
body .btn.btn-primary.type-2.active,
body .btn.btn-primary.type-2:hover,
body .btn.btn-primary.type-2:hover {
  color: #fff;
}

body .btn,
body button.action,
.actions-toolbar a.primary,
.sidebar .block.block-compare .actions-toolbar .action,
.sidebar .block.block-wishlist .actions-toolbar a.action.details,
.sidebar .block.block-reorder .actions-toolbar .secondary a.action.view,
.sidebar .block.block-reorder .actions-toolbar .primary button.action.tocart,
body .cart-container .cart.actions a.action.continue,
body .weltpixel-quickview,
button.action-primary,
button.action-secondary,
body.checkout-index-index button[type="submit"],
.weltpixel-quickview-catalog-product-view button.action,
.product-info-main .actions button {
  border-radius: 2px;
}

body[class*='blog-'] .sidebar .block,
.catalogsearch-result-index .sidebar .block,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar .block,
.sidebar.right-sidebar .meigee-instagram-widget,
body[class*='blog-'] .right-sidebar.sidebar .block,
.catalogsearch-result-index .right-sidebar.sidebar .block,
.catalogsearch-advanced-result .right-sidebar.sidebar .block,
.catalog-category-view .right-sidebar.sidebar .block {
  padding: 20px 0;
}
body[class*='blog-'] .sidebar-wrapper,
.catalogsearch-result-index .sidebar-wrapper,
.catalogsearch-advanced-result .sidebar-wrapper,
.catalog-category-view .sidebar-wrapper,
body[class*='blog-'] .right-sidebar .sidebar-wrapper,
.catalogsearch-result-index .right-sidebar .sidebar-wrapper,
.catalogsearch-advanced-result .right-sidebar .sidebar-wrapper,
.catalog-category-view .right-sidebar .sidebar-wrapper {
  margin: 0;
}
body[class*='blog-'] .sidebar:not(.sidebar-wrapper),
.catalogsearch-result-index .sidebar:not(.sidebar-wrapper),
.catalogsearch-advanced-result .sidebar:not(.sidebar-wrapper),
.catalog-category-view .sidebar:not(.sidebar-wrapper),
body[class*='blog-'].page-layout-3columns .sidebar-wrapper,
.catalogsearch-result-index.page-layout-3columns .sidebar-wrapper,
.catalogsearch-advanced-result.page-layout-3columns .sidebar-wrapper,
.catalog-category-view.page-layout-3columns .sidebar-wrapper {
  background-color: transparent;
}
.page-layout-3columns .sidebar .block {
  margin-left: 0;
  margin-right: 0;
}
body[class*='blog-'].page-layout-2columns-left .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-left .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-left .main-container .content-inner,
.catalog-category-view.page-layout-2columns-left .main-container .content-inner {
  padding-left: 20px;
}
body[class*='blog-'].page-layout-2columns-right .main-container .content-inner,
.catalogsearch-result-index.page-layout-2columns-right .main-container .content-inner,
.catalogsearch-advanced-result.page-layout-2columns-right .main-container .content-inner,
.catalog-category-view.page-layout-2columns-right .main-container .content-inner {
  padding-right: 20px;
}

.product-labels span.label-sale {
  color: #fff;
}
.product-labels span.label-sale span {
  color: #fff;
}
.page-title,
.page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h1,
.breadcrumbs-wrapper.type-2 .page-title h2,
.filter-options-title,
.sidebar .block .block-title strong,
.block-collapsible-nav-title strong {
  font-weight: normal;
}

.product-labels span,
.product-labels span.label-sale {
  font-size: 10px;
}
.label-type-1 span.label-sale.percentage {
  line-height: 2.5em;
}
.label-type-1 .label-sale.availability-only {
  line-height: 24px;
}
.label-type-2 span {
  line-height: 16px;
}
.label-type-2 span.label-sale.percentage span {
  position: relative;
  top: -1px;
}
.label-type-4 span.label-sale.percentage span {
  position: relative;
  top: -1px;
}
span.label-sale.percentage {
  line-height: 1.9em;
}
@-moz-document url-prefix() {
  .label-type-2 span.label-sale.percentage {
    line-height: 1.4;
  }
  .label-type-2 span.label-sale.percentage span {
    top: 0;
  }
  .label-type-2 span {
    line-height: 14px;
  }
  .label-type-3 .label-new,
  .label-type-3 .label-sale {
    line-height: 29px;
  }
  .label-type-4 span {
    line-height: 19px;
  }
}
.page-header.header-4 .block-search {
  max-width: 227px;
  display: inline-block;
  vertical-align: middle;
}
.page-header.header-4 .welcome {
    color: rgba(255,255,255,0.95);
}
.wide-layout .page-header.header-4,
.boxed-layout .page-header.header-4 .container {
  background-color: #bf040b;
}
.cms-index-index .page-header.header-4 .menu-wrapper:before {
    content: none;
}
.wide-layout .page-header.header-4 .menu-wrapper,
.boxed-layout .page-header.header-4 .menu-wrapper .menu-inner {
    border: none;
}
.wide-layout .page-header.header-4 .middle-block .container,
.boxed-layout .page-header.header-4 .middle-block .middle-block-inner {
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-header.header-4 .logo-wrapper {
  padding-right: 65px;
  float: left;
}
.page-header.header-4 .options-wrapper,
.page-header.header-4 .minicart-wrapper {
  margin-left: 20px;
}
.page-header.header-4 .options-wrapper .options-block,
.page-header.header-4 .mobile-wrapper-links {
    background-color: #d6feff;
    border-radius: 5px;
    color: #222;
}
.page-header.header-4 .options-wrapper .options-block i,
.page-header.header-4 .mobile-wrapper-links i {
  color: #888;
}
.boxed-layout.cms-index-index .page-header.header-4 .container.boxed-container {
    display: none;
}
.wide-layout .page-header.header-4 {
    background-color: #bf040b;
    background-repeat: no-repeat;
}
.cms-index-index.wide-layout .page-header.header-4 {
    background-image: none;
}
.page-header.header-4 .toggle-nav {
    float: none;
}
.boxed-layout .page-header.header-4 .container.boxed-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-color: #bf040b;
}

.page-header.header-4 .options-wrapper .options-block:hover{
  background-color: #fff;
  border-radius: 5px;
  color: #222;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
}
.page-header.header-4 .options-wrapper .options-block.open,
.page-header.header-4 .customer-name-wrapper.open {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  color: #222;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
}
.page-header.header-4  .block-search .search-icon,
.page-header.header-4  .block-search .action-btn {
  display: none;
}
.page-header.header-4 .block-search .btn i {
  display: inline-block;
  top: 0;
}
.page-header.header-4  .block-search .mobile-search-btn {
	position: absolute;
	opacity: 1;
	display: block !important;
	z-index: 99;
	overflow: visible;
}
.page-header.header-4  .block-search .input-group .mobile-search-btn:after {
    display: block;
    position: absolute;
    content: '';
    height: 22px;
    width: 1px;
    right: 0;
    top: 50%;
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.4);
}
.page-header.header-4 .block-search .input-group input {
    padding-left: 60px;
}
.page-header.header-4  .block-search .action-btn.visible-xs {
  display: table-cell !important;
}
.page-header.header-4  .block-search .action-btn.visible-xs:after {
  display: block;
  position: absolute;
  content: '';
  height: 22px;
  width: 1px;
  right: 0;
  top: 50%;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.4);
}

.header-wrapper .header-4 .block-search .btn {
    color: rgba(255,255,255,0.95);
}
.header-wrapper .header-4 .block-search .btn:hover,
.header-wrapper .header-4 .block-search .btn:focus,
.header-wrapper .header-4 .block-search .btn:active {
    background-color: rgba(255,255,255,0.1);
}
.header-wrapper .header-4 .block-search.focused input,
.header-wrapper .header-4 .block-search.focused .btn,
.header-wrapper .header-4 .block-search.focused .search-icon i {
  color: #888;
}
.header-wrapper .header-4 .block-search.focused .input-group {
  background-color: #fff;
}
.header-wrapper .header-4 .block-search.focused .search-icon:after,
.page-header.header-4  .block-search.focused .action-btn.visible-xs:after {
    background-color: rgba(0,0,0,0.4);
}
.header-wrapper .header-4 .block-search.focused .btn:hover,
.header-wrapper .header-4 .block-search.focused .btn:active,
.header-wrapper .header-4 .block-search.focused .btn:focus {
  background-color: rgba(0,0,0,0.1);
}
.page-header.header-4 .block-search input {
  color: rgba(255,255,255,0.4);
}
.page-header.header-4 .block-search input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.4);
}
.page-header.header-4 .block-search input::-moz-placeholder {
    color: rgba(255,255,255,0.4);
}
.page-header.header-4 .block-search input::-ms-input-placeholder {
    color: rgba(255,255,255,0.4);
}
.page-header.header-4 .block-search input::-moz-placeholder {
    color: rgba(255,255,255,0.4);
}

.page-header.header-4 .block-search .btn:hover,
.page-header.header-4 .block-search .btn:active,
.page-header.header-4 .block-search .btn:focus {
  background-color: rgba(255,255,255,0.08);
}

.page-header.header-4 .minicart-wrapper .title-cart {
  background-color: #fff;
  border-color: #fff;
  color: #222;
  border-radius: 5px;
}
.page-header.header-4 .minicart-wrapper .title-cart i {
  color: #888;
}
.page-header.header-4 .minicart-wrapper .title-cart .counter-number {
  background-color: #a01a7d;
  color: #fff;
}
.page-header.header-4 .minicart-wrapper .title-cart.active {
  background-color: #fff;
  border-color: #fff;
  color: #222;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
  box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.08);
}
.page-header.header-4 .minicart-wrapper .title-cart:hover .counter-number,
.page-header.header-4 .minicart-wrapper .title-cart.active .counter-number {
  background-color: #e66a44;
}
.cms-index-index.wide-layout .page-header.header-4 .middle-block,
.cms-index-index.boxed-layout .page-header.header-4 .middle-block .middle-block-inner {
    border-bottom: 1px solid rgba(255,255,255,0.2)
}
#home-slider.owl-theme .owl-dots {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
}

#home-slider .owl-nav div {
  padding: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;
  top: 50%;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  border-radius: 0;
  margin: 0;
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity 400ms ease, background-color 300ms;
  -moz-transition: opacity 400ms ease, background-color 300ms;
  -webkit-transition: opacity 400ms ease, background-color 300ms;
  -o-transition: opacity 400ms ease, background-color 300ms;
}
#home-slider:hover .owl-nav div {
  opacity: 1;
}
#home-slider .owl-nav div i {
  font-style: normal;
  line-height: inherit;
  vertical-align: middle;
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  display: inline-block;
}
#home-slider .owl-nav div.owl-prev {
  left: 0;
}
#home-slider .owl-nav div.owl-next {
  right: 0;
  left: auto;
}
#home-slider .owl-item .subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
#home-slider .owl-item .title {
  color: #fff;
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
#home-slider .owl-item .title small {
  font-weight: 400;
}
#home-slider .owl-item .slide-container {
  position: absolute;
  top: auto;
  left: 15%;
  bottom: 24.8%;
}
#home-slider .owl-item .slide-container.slide-skin-2 {
  left: 15.4%;
  right: auto;
  bottom: 24.5%;
}
#home-slider .owl-item .slide-container.slide-skin-3 {
  bottom: 26%;
}

.widget-title .owl-nav div {
    line-height: 28px;
}

.text-banners-block .text-banner {
  background-color: #ec4067;
}
.text-banners-block .btn {
  color: #ec4067;
  font-weight: bold;
}
.text-banners-block .title {
  text-transform: none;
  font-size: 12px;
}
.text-banners-block .text-banner.item-2 {
  background-color: #e09f7d;
}
.text-banners-block .text-banner.item-2 .btn {
  color: #e09f7d;
}
.text-banners-block .text-banner.item-3 {
  background-color: #a01a7d;
}
.text-banners-block .text-banner.item-3 .title {
  color: #fff;
}
.text-banners-block .text-banner.item-3 .btn {
  color: #a01a7d;
}

.link-wishlist i {
  top: 0;
}
.brands {
  border-top: 1px solid rgba(0,0,0,0.08);
}
.brands.brands-2 {
    border-bottom: 1px solid rgba(0,0,0,0.08);
}
body .subscribe-block .block-title {
  color: #222;
  font-weight: 400;
}
body .subscribe-block .content label span {
  color: #666;
}
body .subscribe-block .content input {
  color: #888;
  background-color: rgba(0,0,0,0.08);
}
body .subscribe-block .content input::-webkit-input-placeholder {
    color: #888;
}
body .subscribe-block .content input::-moz-placeholder {
    color: #888;
}
body .subscribe-block .content input::-ms-input-placeholder {
    color: #888;
}
body .subscribe-block .content input::-moz-placeholder {
    color: #888;
}
body .subscribe-block {
  background-image: url(../../images/barbour_perfumes_subscribe_bg.jpg);
}
.newsletter .btn.btn.btn-primary {
  border-color: #a01a7d;
  background-color: #a01a7d;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}
.newsletter .btn.btn.btn-primary:focus,
.newsletter .btn.btn.btn-primary.focus,
.newsletter .btn.btn.btn-primary:active,
.newsletter .btn.btn.btn-primary.active,
.newsletter .btn.btn.btn-primary:hover,
.newsletter .btn.btn.btn-primary:hover {
  border-color: #e66a44;
  background-color: #e66a44;
  color: #fff;
}

.footer .horizontal-links li a {
  color: rgba(255,255,255,0.95);
}

body.wide-layout .footer,
body.boxed-layout .footer .container {
  background-color: #ec4067;
}
body.wide-layout .footer .footer-bottom,
body.boxed-layout .footer .footer-bottom .container {
  border-top: 1px solid rgba(255,255,255,0.2);
  padding-top: 29px;
  padding-bottom: 29px;
}


@media only screen and (min-width: 1600px){
    .cms-index-index .page-header.header-4 {position: relative;}
    .cms-index-index.wide-layout .page-header.header-4,
    .cms-index-index.boxed-layout .page-header.header-4 .container {background-color: #bf040b;}
    .boxed-layout.cms-index-index.window-loaded .page-header.header-4.transparent-header > *:not(.menu-wrapper) .container,
    .cms-index-index.boxed-layout.window-loaded .page-header.header-4.transparent-header .header-bg-image-container,
    .wide-layout.cms-index-index.window-loaded .page-header.header-4.transparent-header {
        background-color: transparent !important;
        background-image: none !important;
    }
    .cms-index-index.window-loaded .page-header.header-4.transparent-menu .toggle-nav {
        background-color: transparent !important;
    }

    .cms-index-index.window-loaded .page-header.header-4 {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 9;
    }
    .page-header.header-4 .toggle-nav {
        float: left;
        display: block;
    }

}
@media only screen and (min-width: 1332px) and (max-width: 1600px) {
  .page-header.header-4 .navbar-default {
    clear: both;
    float: none;
  }
}
@media only screen and (min-width: 1332px){
  .page-header.header-4 .container,
  #sticky-header .container {
    max-width: 1840px;
  }

  .footer .store-info {
    float: none;
    display: inline-block;
  }

}

@media only screen and (min-width: 1008px) and (max-width: 1331px) {
  .page-header.header-4 .navbar-default {
    clear: both;
    float: none;
  }
  .wide-layout .page-header.header-4 .middle-block .container,
  .boxed-layout .page-header.header-4 .middle-block .middle-block-inner {
    padding-top: 0;
    padding-bottom: 0;
  }
  .page-header.header-4 .navbar-default {
    padding-top: 0;
  }

  #home-slider .owl-item .title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  #home-slider .owl-item .slide-container {
    left: 7%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    left: 9.4%;
  }
  .text-banners-block .title {
    font-size: 10px;
  }
  .footer .store-info {
    float: none;
    display: inline-block;
  }

}

@media only screen and (min-width: 1008px){
    .header-wrapper .header-4 .navbar-collapse.collapse a.level-top {color: rgba(255,255,255,0.95);}
    .header-wrapper .header-4 .navbar-collapse.collapse a.level-top.ui-state-focus,
    .header-wrapper .header-4 .navbar-collapse.collapse a.level-top.ui-state-active {background-color: rgba(255,255,255,0.1); color: rgba(255,255,255,0.95);}
    .header-wrapper .header-4 .navbar-collapse.collapse li.active > a.level-top,
    .header-wrapper .header-4 .navbar-collapse.collapse li.active > a.level-top.ui-state-active,
    .header-wrapper .header-4 .navbar-collapse.collapse li.active > a.level-top.ui-state-focus {background-color: rgba(255,255,255,0.1); color: rgba(255,255,255,0.95); border-color: rgba(255,255,255,0.1);}
    .header-wrapper .header-4 .navbar-collapse.collapse .parent a.level-top.ui-state-focus,
    .header-wrapper .header-4 .navbar-collapse.collapse .parent a.level-top.ui-state-active {
        background-color: rgba(255,255,255,0.1);
        color: rgba(255,255,255,0.95);
    }
    .header-wrapper .header-4 .navbar-collapse.collapse li.active > a.level-top .ui-menu-icon:after,
    .header-wrapper .header-4 .navbar-collapse.collapse li.active > a.level-top.ui-state-focus .ui-menu-icon:after,
    .header-wrapper .header-4 .navbar-collapse.collapse li.active > a.level-top.ui-state-active .ui-menu-icon:after {color: rgba(255,255,255,0.95);}
    .header-wrapper .header-4 .navbar-collapse.collapse a.level-top .ui-menu-icon:after {color: rgba(255,255,255,0.3);}
    .page-header.header-4 .header-switcher .options strong{
        color: rgba(255,255,255,0.95);
    }
    .header-wrapper .header-4 {color: rgba(255,255,255,0.95);}
    .page-header.header-4 .header-switcher .options .action.toggle:after {
        color: rgba(255,255,255,0.2);
    }
    .page-header.header-4 .header.links li.authorization-link a,
    .page-header.header-4 .customer-welcome .customer-name,
    .page-header.header-4 .custom-wish-link a {
        color: rgba(255,255,255,0.4);
    }
    .page-header.header-4 .navbar-default {
      padding-top: 18px;
      padding-bottom: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1007px) {
  .header .right-block {
    float: none;
  }
  .page-header.header-4 .block-search {
    float: left;
  }
  .page-header.header-4 .logo-wrapper {
    padding-right: 0;
  }
  .page-header.header-4 .mobile-wrapper-links {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  #home-slider .owl-item .subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #home-slider .owl-item .title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 10px;
  }
  #home-slider .owl-item .slide-container {
    left: 7%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    left: 9.4%;
  }
  .footer .footer-top .accordion-item .accordion-title {
    color: #fff;
  }
  body.wide-layout .footer .footer-top,
  body.boxed-layout .footer .footer-top .container {background-color: transparent; color: rgba(255,255,255,0.6);}
  .footer .accordion-list .accordion-item:first-of-type .accordion-title {
    border-top: 1px solid rgba(255,255,255,0.12);
  }
  .footer .accordion-list .footer-top .accordion-item:first-of-type .accordion-title {
    border-top: none;
  }
  .footer .copyright {
    float: none !important;
  }
  .wide-layout .footer,
  .boxed-layout .footer {
    border-top: none;
  }

}
@media only screen and (max-width: 767px) {
  .page-header.header-4 .logo-wrapper {
    padding-right: 0;
  }
  .page-header.header-4 .mobile-wrapper-links {
    margin-bottom: 10px;
  }
  .page-header.header-4 .block-search {
    width: 78%;
    float: left;
  }

  #home-slider .owl-item .title {
    font-size: 22px;
    line-height: 22px;
  }
  #home-slider .owl-item .subtitle {
    font-size: 12px;
    margin-bottom: 10px;
  }
  #home-slider .owl-item .slide-container {
    left: 5%;
    bottom: 57.8%;
  }
  #home-slider .owl-item .slide-container.slide-skin-2 {
    left: 6.9%;
    right: auto;
    bottom: 54.5%;
  }
  #home-slider .owl-item .slide-container.slide-skin-3 {
    bottom: 36%;
  }
  .text-banners-block .title {
    font-size: 9px;
  }
  #home-slider.owl-theme .owl-dots {
    bottom: 10px;
  }
  .footer .copyright {
    float: none !important;
  }
  .footer .footer-top .accordion-item .accordion-title {
    color: #fff;
  }
  body.wide-layout .footer .footer-top,
  body.boxed-layout .footer .footer-top .container {background-color: transparent; color: rgba(255,255,255,0.6);}
  .footer .accordion-list .accordion-item:first-of-type .accordion-title {
    border-top: 1px solid rgba(255,255,255,0.12);
  }
  .footer .accordion-list .footer-top .accordion-item:first-of-type .accordion-title {
    border-top: none;
  }
  .wide-layout .footer,
  .boxed-layout .footer {
    border-top: none;
  }
  
  .header-wrapper .block-search .input-group .mobile-search-btn:after {
	background-color: rgba(255,255,255,.4);
  }
  .page-header .middle-block .right-block {
	  float: none;
  }

}
