/**
 * css frontend
 *
 * @category  Webkul
 * @package   Webkul_Mpreportsystem
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.wk-select-box {
    width: 30%;
    height: 40px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    float: left;
}
.wk-select-box label{
    font-size: 14px;
    margin: 10px 5px;
    float: left;
}
.wk-select-box .wk-select-arrow-up{
    margin: 15px 10px;
    float: right;

}
.wk-select-box .wk-select-arrow-down{
    margin: 15px 10px;
    float: right;

}
.wk-select-arrow-up {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -314px -122px;
    width: 12px;
    height: 10px;
    float: right;
    margin: 15px 10px;
}
.wk-select-arrow-down {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -289px -122px;
    width: 12px;
    height: 10px;
    float: right;
    margin: 15px 10px;
}
.wkreport_header button{
    margin: 10px;
    height: 40px;
    width: 22%;
}
.wk-date-filter-div button {
    width: auto;
    margin: 10px;
    display: inline-block;
    height: 32px;
}
.wk-filter-data-div {
    width: auto;
    height: 20px;
    border: 1px solid;
    border-radius: 20px;
    display: inline-block;
    padding: 5px;
}
.wk-filter-cross{
    width: 18px;
    height: 18px;
    display: inline-block;
    color: white;
    border-radius: 18px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.wk-date-subdiv {
    width: 160px;
    height: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    float: left;
}
.wk-date-subdiv label:first-child {
    margin: 5px 10px;
    float: left;
}
.wk-filter-date{
    background-image: url('../images/sprite_advance.png');
    background-repeat: no-repeat;
    background-position: -17px 0px;
    width: 15px;
    height: 17px;
    display: inline-block;
    float: right;
    margin: 7px 10px;
}
.wk-bg-blue-color{
    background-color: #006bb4;
}
.wk-bg-green-color{
    background-color: #4da261;
}
.wk-border-blue{
    border: 1px solid #006bb4;
}
.wk-border-green span{
    color: #4da261;
}
.wk-border-blue span{
    color: #006bb4;
}
.wk-border-green{
    border: 1px solid #4da261;
}
.wk-date-subdiv .wk-select-arrow-up{
    margin: 10px;
}
.wk-filter-button {
    width: 24.5%;
    height: auto;
    background-color: #eeeeee;
    border-right: 1px solid #ccc;
    box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    opacity: 0.6;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    line-height: 1.2;
}
.wk-selected-filter-button {
    width: 24.5%;
    height: 90%;
    background-color: white;
    border-right: 1px solid #ccc;
    box-shadow: inset 0 1px 0 0 #eeeeee, inset 0 -1px 0 0 #eeeeee;
    opacity: 0.6;
    display: inline-block;
    float: left;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}
.wk-filter-buttons{
    border: 1px solid #ccc;
    width: 200px;
    height: 30px;
    display: inline-block;
    margin: 10px;
    float: right;
}
.wk-date-filter-div{
    float: left;
}
.wk-selected-filter-div {
    background-color: white;
    box-shadow: inset 0 0 7px #ccc;
}
.wk-report-select-box-head {
    display: inline-block;
    width: 100%;
    position: relative;
}
.wk-report-select-box-head button{
    width: 30%;
}
.wk-search-result-dropdown{
    background-color: white;
    width: 30%;
    position: absolute;
    z-index: 500;
    border: 1px solid #ccc;
    max-height: 150px;
}
.wk_categories-options{
    top: 50px;
    left: 10px;
}
.wk_orders-options{
    top: 50px;
}
.wk-search-result-dropdown li{
    list-style: none;
    background-color: white;
    color: black;
    padding: 2px;
    margin: 1px;
}
.wk-search-result-dropdown ul{
    padding: 0px;
}
input[type=search].wk-category-search{
    width: 94%;
    margin: 3%;
}
.wk-highlight-li{
    background-color: #ccc!important;
}
.wk_date_filter_text {
    width: 125px!important;
    height: 100%!important;
    border: none!important;
}
.wkreport_heading{
    font-weight: 600;
    line-height: 1.1;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.wk_graph_border{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}
.wk_selling_graph, .wk_location_graph, .wk_sales_graph{
    padding: 10px;
    clear: both;
    margin-bottom: 20px;
}
.wk_selling_graph div, .wk_location_graph div, .wk_sales_graph>div{
    text-align: center;
    clear: both;
}
.wk-mpreport-best-customer th, .wk-mpreport-best-customer tr, .wk-mpreport-sales-table th, .wk-mpreport-sales-table tr{
    border-bottom: 1px solid #ccc;
}
.wk-category-results-option:hover, .wk-orderStatus-results-option:hover{
    background-color: #006bb4;
    color: white;
}
.wk_sales_graph_outer{
    margin-bottom: 50px;
}
.wk-category-results {
    line-height: 0px;
}
.wk_graph_border .wk-date-filter-div .wk_reportfilter_btn {
    text-align: center !important;
}
@media screen and (max-width: 687px) and (min-width:0px) {
    .wk-select-box {
        width: 80%;
    }
    .wk-search-result-dropdown {
        width: 80%;
    }
    .wk-report-select-box-head button{
        width: 80%;
    }
    .wk-search-result-dropdown.wk_categories-options {
        z-index: 600;
    }
    .wk_orders-options {
        left: 10px;
        top: 113px;
    }
}
html .wk-filter-buttons .wk-filter-button {
    height: auto;
}
.table-wrapper .table-shadow-design thead tr th{
    white-space: nowrap;
}