<div class="modal-body">
	<div class="bootbox-body">
		<%- reason %>       
	</div>
</div>
<div class="modal-footer">
	<span class="error"></span>
</div>
<style type="text/css">h1#modal-title-11 {margin-top: 2px; }</style>
