<?php 
$sellerData = $block->getData();
$sellerId = $sellerData['data']['seller_id'];
$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$website_url=$block->getBaseUrl();
?>
<?php if ($sellerId!=""): ?>
    <?php 
        $captchenable = $helper->getCaptchaEnable();
        $sellerInfo = $helper->getSellerInfo($sellerId);
        $shopTitle = $sellerInfo['shop_title'];
        $shopUrl = $sellerInfo['shop_url'];
        $logo = $sellerInfo['logo_pic'];
        $productCount = $sellerInfo['product_count'];
        if (!$shopTitle) {
            $shopTitle = $shopUrl;
        }

        if ($productCount > 1) {
            $productLabel = __("%1 Products", $productCount);
        } else {
            $productLabel = __("%1 Product", $productCount);
        }

        if ($logo == "") {
            $logo = "noimage.png";
        }

        $logo = $helper->getMediaUrl().'avatar/'.$logo;
         $shopTitle = $block->escapeHtml($shopTitle);
        $feeds = $helper->getFeedTotal($sellerId);
        $rating = $helper->getSelleRating($sellerId);
        $collectionPageUrl = $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$shopUrl);
         $profilePageUrl = $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);
		
    ?>
     
   <span class="solod">Sold By:</span>
   <?php if(!empty($shopTitle))
   {
	?>
   <h3><?php echo $shopTitle;?></h3>
   <?php
   }
   ?>
   <?php endif; ?>


	<?php
		$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
		$order_counts = $orderHelper->getSellerOrders($sellerId);
		$totalRatingStar = $helper->getSelleRating($sellerId);
		$feed  = $helper->getFeedTotal($sellerId);
	?>
   <p><?php echo $order_counts; ?> orders have been processed</p>
   <div class="prolink"><a href="<?php echo $website_url;?>seller/create">Sell on GetMySpares</a></div> 