<?php  
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$helperOrders = $this->helper('Webkul\Marketplace\Helper\Orders');
$partner = $block->getProfileDetail();
if ($partner['shop_url']) {
    $bannerpic = $partner->getBannerPic()!=''?$partner->getBannerPic():"banner-image.png";
    $bannerpic = $helper->getMediaUrl().'avatar/'.$bannerpic;
    
    $logo = $partner->getLogoPic()!=''?$partner->getLogoPic():"noimage.png";
    $logo = $helper->getMediaUrl().'avatar/'.$logo;

    $sizeArr = $helper->getImageSize($logo);
    if (!empty($sizeArr) && !empty($sizeArr['width']) && !empty($sizeArr['height'])) {
        $width = $sizeArr['width'];
        $height = $sizeArr['height'];
        $calculatedHeight = 120;
        $calculatedWidth = ($width / $height) * $calculatedHeight;
        $calculatedPercent = ($width / $height) * 2.5;
        if ($calculatedHeight) { ?>
            <style>
                .wk-mp-collection-seller-title-container {
                    padding-left: calc(<?php echo $calculatedPercent ?>% + <?php echo $calculatedWidth ?>px);
                }
            </style>
            <?php
        }
    }

    $shopUrl = $block->escapeHtml($partner['shop_url']);
    $shoptitle = $block->escapeHtml($partner->getShopTitle());
    if (!$shoptitle) {
        $shoptitle = $shopUrl;
    }
    $sellerId = $partner->getSellerId();
    $locsearch = $block->escapeHtml($partner['company_locality']);
    $sellerProductCount = $helper->getSellerProCount($sellerId);
    if($helper->getActiveColorPicker()){?>
        <style>
            .marketplace-seller-collection .wk-mp-collection-product-count-container,
            .marketplace-seller-profile .wk-mp-collection-product-count-container,
            .marketplace-seller-feedback .wk-mp-collection-rating-count-container {
                border-bottom-color: <?php echo $block->escapeHtml($partner['background_width']);?>;
            }
        </style>
    <?php
    } ?>
    <div class="wk-mp-banner">
        <?php if ($helper->isSellerSliderModuleInstalled()) {
            echo $block->getChildHtml("marketplace_seller_slider_block");
        } ?>
        <img class="wk-mp-banner-image" src="<?php echo $bannerpic; ?>">
    </div>
    <div class="wk-mp-collection-header-box">
        <div class="wk-mp-collection-seller-title-container">
            <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>" >
                <img class="wk-mp-collection-logo" src="<?php echo $logo;?>" />
            </a>
            <span class="wk-mp-collection-seller-title wk-mp-collection-header-css">
                <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>">
                    <?php echo $shoptitle?>
                </a>
            </span>
            <?php if ($locsearch) { ?>
                <div class="wk-mp-collection-seller-title wk-mp-collection-header-bottom">
                    <a title="<?php echo __('Search') ?>" href="<?php echo  $helper->getRewriteUrl('marketplace/seller/location/shop/'.$shopUrl)."?loc=".$locsearch?>" target="_blank">
                        <span class="wk-mp-collection-location wk-mp-collection-header-bottom-txt">
                            <?php echo __($locsearch); ?>
                        </span>
                    </a>
                </div>
            <?php } ?>
        </div>
        <div class="wk-mp-collection-header-right-wrapper">
            <div class="wk-mp-collection-header-right wk-mp-seller-profile-wrapper">
                <div class="wk-mp-seller-profile-box wk-mp-collection-header-bottom-txt">
                    <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>#about-us">
                        <?php echo __('About')?>
                    </a>
                </div>
                <?php echo $block->getChildHtml("marketplace_seller_profile_contact")?>
                <?php if ($helper->getSellerPolicyApproval()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-collection-header-bottom-txt">
                        <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>#shipping-policy">
                            <?php echo __('Shipping')?>
                        </a>
                    </div>
                    <div class="wk-mp-seller-profile-box wk-mp-collection-header-bottom-txt">
                        <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);?>#return-policy">
                            <?php echo __('Return')?>
                        </a>
                    </div>
                    <?php if (trim($partner['privacy_policy'])) { ?>
                        <div class="wk-mp-seller-profile-box wk-mp-collection-header-bottom-txt">
                            <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/policy/shop/'.$shopUrl);?>">
                                <?php echo __('Privacy Policy')?>
                            </a>
                        </div>
                    <?php } ?>
                <?php } ?>
                <?php echo $block->getChildHtml("marketplace_seller_profile_menu")?>
                <?php if ($partner->getFbActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//facebook.com/<?php echo $block->escapeHtml($partner->getFacebookId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-fb" title="<?php echo __('Check in Facebook')?>"></span>
                        </a>
                    </div>
                <?php
                }
                if ($partner->getTwActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//twitter.com/<?php echo $block->escapeHtml($partner->getTwitterId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-tw" title="<?php echo __('Check in Twitter')?>"></span>
                        </a>
                    </div>
                <?php 
                }
                if ($partner->getGplusActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//plus.google.com/<?php echo $block->escapeHtml($partner->getGplusId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-gplus" title="<?php echo __('Check in Google+')?>"></span>
                        </a>
                    </div>
                <?php
                }
                if ($partner->getVimeoActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//vimeo.com/<?php echo $block->escapeHtml($partner->getVimeoId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-vimeo" title="<?php echo __('Check in Vimeo')?>"></span>
                        </a>
                    </div>
                <?php
                }
                if ($partner->getYoutubeActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//www.youtube.com/user/<?php echo $block->escapeHtml($partner->getYoutubeId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-youtube" title="<?php echo __('Check in Youtube')?>"></span>
                        </a>
                    </div>
                <?php
                }
                if ($partner->getInstagramActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//www.instagram.com/<?php echo $block->escapeHtml($partner->getInstagramId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-instagram" title="<?php echo __('Check in Instagram')?>"></span>
                        </a>
                    </div>
                <?php
                }
                if ($partner->getPinterestActive()) { ?>
                    <div class="wk-mp-seller-profile-box wk-mp-profile-icon-wrapper">
                        <a href="//www.pinterest.com/<?php echo $block->escapeHtml($partner->getPinterestId());?>" target="blank">
                            <span class="wk-mp-profile-icon-css wk-mp-profile-icon-pinterest" title="<?php echo __('Check in Pinterest')?>"></span>
                        </a>
                    </div>
                <?php
                } ?>
            </div>
            <div class="wk-mp-collection-header-right wk-mp-collection-count-wrapper">
                <div class="wk-mp-collection-product-right">
                    <div class="wk-mp-collection-rating-count-container wk-mp-collection-header-css">
                        <div class="wk-mp-collection-count-txt">
                            <a class="store-name" href="<?php echo $helper->getRewriteUrl('marketplace/seller/feedback/shop/'.$shopUrl)?>" title="<?php echo __('Make a Review')?>">
                                    <?php echo $helper->getSelleRating($sellerId); ?>
                                </a>
                            </div>
                        <div class="wk-mp-collection-header-bottom wk-mp-collection-header-bottom-txt">
                            <?php echo __('Rating')?>
                        </div>
                    </div>
                    <div class="wk-mp-collection-order-count-container wk-mp-collection-header-css">
                        <div class="wk-mp-collection-count-txt">
                            <?php echo $helperOrders->getSellerOrders($sellerId); ?>
                        </div>
                        <div class="wk-mp-collection-header-bottom wk-mp-collection-header-bottom-txt">
                            <?php echo __('Orders')?>
                        </div>
                    </div>
                </div>
                <div class="wk-mp-collection-product-count-container wk-mp-collection-header-css">
                    <div class="wk-mp-collection-count-txt">
                        <a href="<?php echo $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$shopUrl);?>" title="<?php echo __('View Collection')?>">
                            <?php echo $sellerProductCount?>
                        </a>
                    </div>
                    <div class="wk-mp-collection-header-bottom wk-mp-collection-header-bottom-txt">
                        <?php echo __('Products')?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php }  ?>
