/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_ProductQuestionAnswer
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.mainprt{
    max-width: 500px;
}
.question{
    margin-top: 10px;
}
.qlogo{
    display: inline;
}
.ques{
    display: inline-table;
    margin-left: 15px;
}
.alogo{
    display: inline;
}
.answ{
    display: inline;
    margin-left: 15px;
}
.answer{
    margin-bottom: 15px;
}