<?php
/**
 * advancereport.phtml admin
 *
 * @category  Webkul
 * @package   Webkul_Mpreportsystem 
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
// @codingStandardsIgnoreFile
?>
<?php  
$helper = $this->helper('Webkul\Bareportsystem\Helper\Data');
$data = $block->getParamValues();
$data['filter'] = 'year';

$salesCollection = $block->getSalesCollection($data);

?>

<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php /* @escapeNotVerified */echo __('Sales and Orders') ?></span>
		</legend>
		<div class="wkreport_header wk_sales_graph_outer">
			<form 
				action="<?php /* @escapeNotVerified */echo $block->getUrl(
	                'bareportsystem/report/index',
	                [
	                	'_secure' => $block->getIsSecure()
	                ]
	            ) ?>"
	            method="get"
	            id="generate-report">
				
				<div class="legend"></div>
				
				
				<div class="wk_graph_border">
					
					<?php /* @escapeNotVerified */echo $block->getChildHtml('salesgrid')?>
				</div>
			</form>
		</div>
	</fieldset>
	
	
</div>
<?php
$formData = [
	'wkSelectBox'	=>	'.wk-select-box',
	'loaderimage'	=> $this->getViewFileUrl('images/loader-1.gif'),
	'topsellingproductajax'	=>	'.wk_selling_graph .wk-filter-buttons',
	'topsellingfilterurl'	=>	$block->getUrl('bareportsystem/report/productfilter', ['_secure' => $block->getIsSecure()]),
	'geolocationfilterajax'	=>	'.wk_location_graph .wk-filter-buttons',
	'geolocationfilterurl'	=>	$block->getUrl('bareportsystem/report/geolocationfilter', ['_secure' => $block->getIsSecure()]),
	'categorymultiselect'	=>	'#wk-category-multi-select',
	'ordermultiselect'	=>	'#wk-order-multi-select',
	'productpiChart'	=>	'#wk-product-pie-chart',
	'geolocationChart'	=>	'#wk-location-chart',
	'salesfilterajax'	=>	'.wk_sales_graph_outer .wk-filter-button',
	'saleschart'		=>	'#wk-sales-chart',
	'salesfilterurl'	=>	$block->getUrl('bareportsystem/report/salesfilter', ['_secure' => $block->getIsSecure()]),
	'crossfilterajax'	=>	'.wk-filter-cross',
	'wk_filter_btn'		=>	'.wk_reportfilter_btn',
	'indexurl'	=>	$block->getUrl('bareportsystem/report/index', ['_secure' => $block->getIsSecure()]),
	'loginurl'	=>	$block->getUrl('customer/account/login', ['_secure' => $block->getIsSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "WKreportsystem": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>