<?php
/**
 * advancereport.phtml admin
 *
 * @category  Webkul
 * @package   Webkul_Mpreportsystem 
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
// @codingStandardsIgnoreFile
?>
<?php  
$helper = $this->helper('Webkul\Bareportsystem\Helper\Data');
$data = $block->getParamValues();
$data['filter'] = 'year';
$sellerArray = $block->getSellerArray();
$salesImage = $block->getsalesAmount($data);
$countrySalesImage = $block->getCountrySales($data);
$productSalesImage = $block->getProductSales($data);
$salesCollection = $block->getSalesCollection($data);
$categoriesCollection = $helper->getCategoriesCollection(1);
$orderStatusArray = $helper->getOrderStatus();
?>
<span class="wk-category-dropdown wk-category-dropdown--open" dir="ltr" style="width: 300px;display:none;">
	<span class="wk-category-results">
		<select multiple="multiple" class="wk-select-box-multi-select" name='categories[]' id="wk-category-multi-select">
			<?php foreach ($categoriesCollection as $key => $category) {
				$selected = 0;
				if (array_key_exists('categories', $data) && is_array($data['categories']) && in_array($key, $data['categories'])) {
					$selected = 1;
				}
				?>
				<option class="wk-category-results-option" <?php /* @escapeNotVerified */echo ($selected==1)?'selected=selected':''?>' value="<?php /* @escapeNotVerified */echo $key?>" role="treeitem" aria-selected="false"><?php /* @escapeNotVerified */echo $category?></option>
			<?php }
			?>
		</select>
	</span>
</span>
<span class="wk-orderstatus-dropdown wk-orderstatus-dropdown--open" dir="ltr" style="width: 300px;display:none;">
	<span class="wk-category-results">
		<select multiple="multiple" class="wk-select-box-multi-select" name='orderstatus[]' id="wk-order-multi-select">
			<?php foreach ($orderStatusArray as $orderKey => $orderStatus) {
				$selected = 0;
				if (array_key_exists('orderstatus', $data) && is_array($data['orderstatus']) && in_array($orderKey, $data['orderstatus'])) {
					$selected = 1;
				}
				?>
				<option class="wk-orderStatus-results-option" <?php /* @escapeNotVerified */echo ($selected)?'selected=selected':''?> value="<?php /* @escapeNotVerified */echo $orderKey?>" role="treeitem" aria-selected="false"><?php /* @escapeNotVerified */echo $orderStatus?></option>
			<?php }?>
		</select>
	</span>
</span>
<div class="wk-mp-design">
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php /* @escapeNotVerified */echo __('Sales and Orders') ?></span>
		</legend>
		<div class="wkreport_header wk_sales_graph_outer">
			<form 
				action="<?php /* @escapeNotVerified */echo $block->getUrl(
	                'bareportsystem/report/index',
	                [
	                	'_secure' => $block->getIsSecure()
	                ]
	            ) ?>"
	            method="get"
	            id="generate-report">
				
				<div class="legend"></div>
				
				
				<div class="wk_graph_border">
					<div class="wk-date-filter-div">
						<div class="wk-date-subdiv">
							<input type="text" placeholder="<?php /* @escapeNotVerified */echo __('Start On Date')?>" id="wk_report_date_start" class="wk_date_filter_text required-entry" name="wk_report_date_start" value='<?php /* @escapeNotVerified */echo (array_key_exists("wk_report_date_start", $data))?$data["wk_report_date_start"]:""?>'>
						</div>
						<div class="wk-date-subdiv">
							<input type="text" placeholder="<?php /* @escapeNotVerified */echo __('End On Date')?>" id="wk_report_date_end" class="required-entry wk_date_filter_text" name="wk_report_date_end" value="<?php /* @escapeNotVerified */echo (array_key_exists("wk_report_date_end", $data))?$data['wk_report_date_end']:''?>">
						</div>
						<button class="action primary wk_reportfilter_btn"><span><?php /* @escapeNotVerified */echo __('Filter Result')?></span></button>
					</div>
					<?php /* @escapeNotVerified */echo $block->getChildHtml('salesgrid')?>
				</div>
			</form>
		</div>
	</fieldset>
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php /* @escapeNotVerified */echo __('Top On Charts') ?></span>
		</legend>
		<div class="wk_report-body">
			<div class="wk_location_graph wk_graph_border">
				<span class="wkreport_heading"><?php /* @escapeNotVerified */echo __('Sales By GeoLocation')?></span>
				<select class="wk-filter-buttons">
					<option value='day'><?php /* @escapeNotVerified */echo __('Day')?></option>
					<option value='week'><?php /* @escapeNotVerified */echo __('Week')?></option>
					<option value='month'><?php /* @escapeNotVerified */echo __('Month')?></option>
					<option value='year' selected="selected"><?php /* @escapeNotVerified */echo __('Year')?></option>
				</select>
				<div>
					<img src="<?php /* @escapeNotVerified */echo $countrySalesImage ?>" alt="Top Selling Country" title="Top Selling Country" id="wk-location-chart"/>
				</div>
			</div>

			<div class="wk_selling_graph wk_graph_border">
				<span class="wkreport_heading"><?php /* @escapeNotVerified */echo __('Top Selling Products')?></span>
				<select class="wk-filter-buttons">
					<option value='day'><?php /* @escapeNotVerified */echo __('Day')?></option>
					<option value='week'><?php /* @escapeNotVerified */echo __('Week')?></option>
					<option value='month'><?php /* @escapeNotVerified */echo __('Month')?></option>
					<option value='year' selected="selected"><?php /* @escapeNotVerified */echo __('Year')?></option>
				</select>
				<div>
					<img src="<?php /* @escapeNotVerified */echo $productSalesImage ?>" alt="Top Selling Products" title="Top Selling Products" id="wk-product-pie-chart"/>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset class="fieldset info wk-mp-fieldset">
		<legend class="legend">
			<span><?php /* @escapeNotVerified */echo __('Best Customers') ?></span>
		</legend>
		<div>
			<table class="wk-mpreport-best-customer data-grid">
				<thead>
					<tr>
						<th class="wk_first_td">
                            <span class="label name">
                                <?php /* @escapeNotVerified */echo __('Id')?>
                            </span>
                        </th>
                        <th>
                            <span class="label name">
                                <?php /* @escapeNotVerified */echo __('Customer')?>
                            </span>
                        </th>
                        <th>
                            <span class="label qty">
                                <?php /* @escapeNotVerified */echo __('Date Of Registration')?>
                            </span>
                        </th>
                        <th>
                            <span class="label qty">
                                <?php /* @escapeNotVerified */echo __('Last Purchase Date')?>
                            </span>
                        </th>
                        <th>
                            <span class="label">
                                <?php /* @escapeNotVerified */echo __('Total Orders')?>
                            </span>
                        </th>
                        <th>
                            <span class="label">
                                <?php /* @escapeNotVerified */echo __('Total Spendings')?>
                            </span>
                        </th>
                    </tr>
				</thead>
				<tbody>
					<?php 
						$i = 0;
						// $customerData = [];
						$customerData = $block->getBestCustomerCollection($data);
						foreach ($customerData as $customerId => $sales) { ?>
							<tr class=" <?php /* @escapeNotVerified */echo $class = ($i == count(
                                $customerData)
                            )? 'wk_last_tr':''?>">
                            	<td><?php /* @escapeNotVerified */echo $customerId?></td>
                            	<td><?php /* @escapeNotVerified */echo $sales['customer_name']?></td>
                            	<td><?php /* @escapeNotVerified */echo $sales['registration_date']?></td>
                            	<td><?php /* @escapeNotVerified */echo $sales['lastpurchase']?></td>
                            	<td><?php if ($sales['refused']) {/* @escapeNotVerified */echo $sales['refused'].'/'; }?>
                            	<?php /* @escapeNotVerified */echo $sales['totalcount']?></td>
                            	<td><?php /* @escapeNotVerified */echo $block->getFormatedPrice($sales['totalSale'], $helper->getCurrencySymbol())?></td>
                            </tr>
						<?php } ?>
				</tbody>
			</table>
		</div>
	</fieldset>
</div>
<?php
$formData = [
	'wkSelectBox'	=>	'.wk-select-box',
	'loaderimage'	=> $this->getViewFileUrl('images/loader-1.gif'),
	'topsellingproductajax'	=>	'.wk_selling_graph .wk-filter-buttons',
	'topsellingfilterurl'	=>	$block->getUrl('bareportsystem/report/productfilter', ['_secure' => $block->getIsSecure()]),
	'geolocationfilterajax'	=>	'.wk_location_graph .wk-filter-buttons',
	'geolocationfilterurl'	=>	$block->getUrl('bareportsystem/report/geolocationfilter', ['_secure' => $block->getIsSecure()]),
	'categorymultiselect'	=>	'#wk-category-multi-select',
	'ordermultiselect'	=>	'#wk-order-multi-select',
	'productpiChart'	=>	'#wk-product-pie-chart',
	'geolocationChart'	=>	'#wk-location-chart',
	'salesfilterajax'	=>	'.wk_sales_graph_outer .wk-filter-button',
	'saleschart'		=>	'#wk-sales-chart',
	'salesfilterurl'	=>	$block->getUrl('bareportsystem/report/salesfilter', ['_secure' => $block->getIsSecure()]),
	'crossfilterajax'	=>	'.wk-filter-cross',
	'wk_filter_btn'		=>	'.wk_reportfilter_btn',
	'indexurl'	=>	$block->getUrl('bareportsystem/report/index', ['_secure' => $block->getIsSecure()]),
	'loginurl'	=>	$block->getUrl('customer/account/login', ['_secure' => $block->getIsSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "WKreportsystem": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>