<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
$baseUrl = $block->getSiteUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$login_customer =  $block->getLayout()->createBlock('Magento\Customer\Block\Account\Customer');
?>
<div class="sections nav-sections" style="display: none;">
  <span class="close-nav"> Close <i class="fa fa-times" aria-hidden="true"></i></span>
  <div class="top-tab">
    <ul class="top-tab-ul">
      <li class="offerings-tab menu-mobile show-tab active">Menu</li>
      <li class="more-tab-menu show-tab mobile-cat"><span class="bulet"></span>Categories</li>
    </ul>
  </div>
<div class="offerings-data">
  <ul class="offerings-data-ul"> 
    <li class="home">
        <a href="<?php echo $baseUrl?>">
            <span class="icon"><img src='<?php echo $this->getViewFileUrl('images/home.png'); ?>'></span>
            Home
        </a>
      </li>
    <li class="contact-us">
        <a href="<?php echo $baseUrl?>helpdesk/ticket/">
            <span class="icon"><img src='<?php echo $this->getViewFileUrl('images/contact-us.png'); ?>'></span>
            Contact Us
        </a>
      </li>
    <li class="about-us">
        <a href="<?php echo $baseUrl?>about-us">
            <span class="icon"><img src='<?php echo $this->getViewFileUrl('images/about-us.png'); ?>'></span>
            About Us
        </a>
      </li>
      <li>
            <a href="<?php echo $baseUrl?>seller/create">
              <span class="icon"><img src='<?php echo $this->getViewFileUrl('images/contact-us.png'); ?>'></span>
              Sell With Us
            </a>
      </li>  
    <li class="my-account-section">
        <a href="javascript:void(0)">
            <span class="icon"><img src='<?php echo $this->getViewFileUrl('images/my-account.png'); ?>'></span>
            My Account
        </a>
        <ul class="sub-account" style="display: none;">
          <li><a href="<?php echo $baseUrl?>sales/order/history">My Orders</a></li>
          <li><a href="<?php echo $baseUrl?>wishlist">My Wishlist</a></li>
          <li><a href="<?php echo $baseUrl?>customer/account/">Account Information</a></li>
          <li><a href="<?php echo $baseUrl?>review/customer/">My Product Reviews</a></li>
           <?php if($login_customer->customerLoggedIn()):?>
            <li><a href="<?php echo $baseUrl?>customer/account/logout">Logout</a></li>
            <?php else:?>
            <li><a href="#">Login</a></li>
          <?php endif;?>
        </ul>
      </li>
      <li>
       <div id="google_translate_element" style="display:none;"></div>
      </li>
  </ul>
</div>  
<div class="nav-sections-item-content" style="display: none;">
<nav class="navigation" data-action="navigation">  
<div id="mySidenav" class="nav">
  <div class="nav-main"> 
  <ul class="shop-categories">
    <?php foreach($categories as $category):
        if (!$category->getIsActive()) {
          continue;
        } 
     ?>
     <li class="level0"> 
      <?php 
        $catId = $category->getEntityId();
        $cat = $objectManager->create('Magento\Catalog\Model\Category')->load($catId);
      ?>
      <img src="<?php echo $baseUrl.$cat->getCategoryIcon();?>">
       <a class="level-top" href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a>
          <?php  if(count($childrenCategories = $this->getChildCategories($category))): ?>
         <span class="rightangle">right</span>
          <div class="menu-left" style="display: none;">
            <ul class="menu-links">
                <?php
                  $count = 0 ;
                  foreach($childrenCategories as $childrenCategory):
                       if (!$childrenCategory->getIsActive()) {
                          continue;
                       }
                 ?>
                    <li class="menu-parent <?php if($count == 0 ){ echo 'active';}?>">
                      <a href="<?php echo $categoryHelper->getCategoryUrl($childrenCategory) ?>"><?php echo $childrenCategory->getName() ?></a>
                      <?php  if(count($grandchildrenCategories = $this->getChildCategories($childrenCategory))): ?>
                       <span class="rightangle sub-right">right</span> 
                      <div class="menu-right">  
                        <ul class="menu-links-right">
                          <li class="first-level">
                            <?php
                            $count = 1;
                              foreach($grandchildrenCategories as $grandchildrenCategories):
                                  $counter = 0 ;
                                   if (!$grandchildrenCategories->getIsActive()) {
                                      continue;
                                   }
                             ?>
                                  <li>
                                   <a href="<?php echo $categoryHelper->getCategoryUrl($grandchildrenCategories) ?>"><?php echo $grandchildrenCategories->getName() ?></a>
                                    <?php  if(count($greatGrandgrandchildrenCategories = $this->getChildCategories($grandchildrenCategories))): ?>
                                      <ul class="level3">
                                          <?php
                                            foreach($greatGrandgrandchildrenCategories as $greatGrandgrandchildrenCategories):
                                                 if (!$greatGrandgrandchildrenCategories->getIsActive()) {
                                                    continue;
                                                 }
                                           ?>
                                              <li class="third-level">
                                                <a href="<?php echo $categoryHelper->getCategoryUrl($greatGrandgrandchildrenCategories) ?>"><?php echo $greatGrandgrandchildrenCategories->getName() ?></a>
                                              </li>
                                           <?php endforeach; ?> 
                                      </ul>
                                    <?php endif;?>
                                </li>
                              <?php $count++; ?>
                             <?php endforeach; ?> 
                           </li>
                        </ul>
                      </div>
                      <?php endif;?>
                    </li>
                    <?php $count++; ?> 
                 <?php endforeach; ?> 
            </ul>
          </div>
          <?php endif;?>
    </li>
  <?php endforeach; ?>
  </ul>

</div>
</div>

</nav>
</div>
</div>
<script type="text/javascript">
  require(["jquery"], function($){

    $('.nav-toggle').click(function(){      
      $(this).siblings('.sections.nav-sections').slideDown();
      $('body').toggleClass('overflow-hiddenmenu');
    });

    $('.offerings-tab').click(function(){
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
      $(this).parents('.top-tab').siblings('.offerings-data').show();
      $(this).parents('.top-tab').siblings('.nav-sections-item-content').hide();
    });

    $('.more-tab-menu').click(function(){
      $(this).addClass('active');
      $(this).siblings().removeClass('active');
      $(this).parents('.top-tab').siblings('.offerings-data').hide();
      $(this).parents('.top-tab').siblings('.nav-sections-item-content').show();
    }); 

    $('.my-account-section').click(function(){
      $(this).find('.sub-account').slideToggle();
    });
    $('.close-nav').click(function(){
      $(this).parents('.sections.nav-sections').fadeOut();
      $('body').toggleClass('overflow-hiddenmenu');
    }); 
    $('.rightangle').click(function(){
      $(this).toggleClass('open');
      $(this).siblings('.menu-left').slideToggle();
    });
    $('.sub-right').click(function(e){      
      $(this).siblings('.menu-right').slideToggle();
      $(this).toggleClass('active');
    });

  
      $(window).scroll(function(){
            var st = $(window).scrollTop();
            var ot = $('.panel.wrapper').height();
            if (st >= ot) {
                $('.page-header').addClass('headersticky');
            }
            else {
                $('.page-header').removeClass('headersticky');
            }
        });
 
 });
</script>

