<?php 
$helper = $this->helper('OM\GenerateReport\Helper\EmailReport');
$fullArr = $helper->agingData();
?>
<table border="1" width="100%"  style="border-collapse:collapse">
<?php foreach($fullArr as $mainkey=>$row ):?>
<tr>
<?php foreach ($row as $key =>$value):?>
<?php if($key==0 || $key==28 || $mainkey==1 || $mainkey==11):?>
	<th><?php echo $value?></th>
<?php else:?> 
	<td><?php echo $value?></td>
<?php endif;?>
<?php endforeach;?>
</tr>
<?php endforeach;?>
</table>