<?php $items = $block->getProductCollection() ?>
<p class="product-heading" style="font-size: 22px;font-weight: 500;  margin: 0; padding-top: 40px; padding-bottom:20px;"><?php echo $block->getProductHeading()?></p>
<table class="product-container" style="width: 100%; margin: auto; background: #fff; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;"> 
<tr>
<?php foreach ($items as $item): ?>
    <?php
    $imageType = 'product_base_image';
    $width = 300;
    $height = 450;
    $resizedImageUrl = $block->resizeImage($item, 'product_small_image',$width, $height)->getUrl();
    $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
    ?> 
        <td style="border-right: solid 1px #d3d3d3; padding: 0 10px;">
            <a href="<?= $block->escapeUrl($item->getProductUrl()) ?>"> 
                <img src="<?= $block->escapeUrl($resizedImageUrl) ?>"/>
                <p class="p-name" style="text-align: center; font-weight: 600; font-size: 14px;"><?php echo $item->getName();?></p>            
                <p class="price"><?= $abstractProductBlock->getProductPrice($item) ?></p>
            </a>
        </td>
            
<?php endforeach; ?>
</tr>
</table>

<style>
    .product-container tr td:last-child {border-right: none !important;}
</style>