<!--@subject Company Information Change Request @-->
{{template config_path="design/email/header_template"}}
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
			<tr>
			<td width="100%" valign="top">
			<div align="center">
			<table  border="0" cellspacing="0" cellpadding="0" width="660">
			<tbody>
			<tr>
			<td valign="top">
			<p ><span>
			Hello Admin
			<u></u><u></u></span></p>
			<p><span>Company Change Request<u></u><u></u></span></p>
			<p><span>We got new Request to change company information from below user
			</p>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
			<tr>
			<td>
			<p class="MsoNormal"><b><span>Name:</span></b></p>
			</td>
			<td valign="top">
			<p class="MsoNormal"><span>{{var customer_name}}</span></p>
			</td>  
			</tr>  
			
			<tr>
			<td>
			<p class="MsoNormal"><b><span>Email:</span></b></p>
			</td>
			<td valign="top">
			<p class="MsoNormal"><span>{{var email}}</span></p>
			</td>
			</tr>  
			 
			</tbody>
			</table>
			
			</tr>       
			</tbody>  
			</table>
{{template config_path="design/email/footer_template"}}