<!--@subject GetMySpares account request @-->
{{template config_path="design/email/header_template"}}
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
			<tr>
			<td width="100%" valign="top">
			<div align="center">
			<table  border="0" cellspacing="0" cellpadding="0" width="660">
			<tbody>
			<tr>
			<td valign="top">
			<p ><span>
			Hello {{var customer_name}},
			</span></p>
			<p><span>This is to inform you that you are {{var status}} as company buyer.</span></p>
			<p><span>Please <a href="{{var site_url}}customer/account/login" target="_blank" > Click here </a>to login. 
			</p> 
			</tr>       
			</tbody>  
			</table> 
			</tr>        
			</tbody>  
			</table>    
{{template config_path="design/email/footer_template"}}