<!--@subject Welcome To GetMySpares @-->
{{template config_path="design/email/header_template"}}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
			<tr>
			<td width="100%" valign="top">
			<div align="center">
			<table  border="0" cellspacing="0" cellpadding="0" width="660">
			<tbody>
			<tr>
			<td valign="top">
			{{var customer_name}},
			<p><span>Welcome to GetMySpares Store.</span></p>
			<p>To sign in to our site, use these credentials during checkout or on the
			<a href="{{var site_url}}customer/account/" target="_blank">My Account</a> page:</p>
			<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tbody>
			<tr>
			<td>
			<p class="MsoNormal"><b><span>Email:</span></b></p>
			</td>
			<td valign="top">
			<p class="MsoNormal"><span><a href="mailto:{{var email}}" target="_blank">{{var email}}</a><u></u><u></u></span></p>
			</td>
			</tr>
			<tr>
			<td>
			<p class="MsoNormal"><b><span>Password:</span></b></p>
			</td>
			<td valign="top">
			<p class="MsoNormal"><em><span>Password you set when creating account</span></em><span></span></p>
			</td>
			</tr>
			</tbody>
			</table>
			<p><span>Forgot your account password? Click
			<a href="{{var site_url}}customer/account/forgotpassword" target="_blank" >
			here</a> to reset it. <u></u><u></u></span></p>
			</tr>       
			</tbody>  
			</table> 	
{{template config_path="design/email/footer_template"}}