<!--@subject Reminder - Order Review Link @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Dear {{var firstname |raw}},</p>
            <p>
                {{trans "Thanks for placing order at getmyspares."}}
                
                {{trans "Please share your review about your experience at below items."}}
            </p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{var items |raw}}
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <p>Please rate & review the order that delivered to you by clicking <a href="{{var orderreview |raw}}">here</a>.</p>
        </td>
     </tr>
    <tr>
        <td>
            <p>
                {{trans 'If you have questions about your order, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}{{depend store_phone}} {{trans ' or call us at <a href="tel:%store_phone">%store_phone</a>' store_phone=$store_phone |raw}}{{/depend}}.
                {{depend store_hours}}
                {{trans 'Our hours are <span class="no-link">%store_hours</span>.' store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
