<!--@subject GetMySpares - Payment Link @-->
   	 {{template config_path="design/email/header_template"}}
     <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
		<tbody>
		<tr>
		<td width="100%" valign="top" style="width:100.0%;padding:.75pt .75pt 20.25pt .75pt">
		<div align="center">
		<table  border="0" cellspacing="0" cellpadding="0" width="660" style="width:495.0pt;border-collapse:collapse">
		<tbody> 
		<tr>
		<td valign="top" style="background:white;padding:16.9pt 16.9pt 16.9pt 16.9pt">
		<p ><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#777777">
		{{var customerName}},
		<u></u><u></u></span></p>
		<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%;border-collapse:collapse">
		<tbody>
		<tr>
		<td colspan="2" valign="top" style="padding:.75pt .75pt .75pt .75pt">
		<p class="MsoNormal"><span style="font-size:10.0pt;font-family:&quot;Helvetica&quot;,&quot;sans-serif&quot;;color:#777777">Click Here for Payment <a href="{{var paymentLink}}">{{var paymentLink}}</a><u></u><u></u></span></p>
		</td>
		</tr>
		</tbody>
		</table>
		</tr>       
		</tbody>  
		</table> 
		{{template config_path="design/email/footer_template"}}