<!--@subject Sales Report @-->
{{template config_path="design/email/header_template"}}
	<p>Hi , Please download Sales Report of date : {{var today}} <p>
				<table border='1' width="100%"  style='border-collapse:collapse'>
					<tr>
						<th>Sales</th>
						<th>Order Count</th>
						<th>Amount (IN INR)</th>
					</tr>
					<tr>
						<td>FYTD </td>
                        <td><p>{{var yearly_sale_count}}</p></td>
                        <td><p>{{var yearly_sale_amount}}</p></td>
					</tr>
					<tr>
						<td>MTD sales </td>
                        <td><p>{{var monthly_sale_count}}</p></td>
                        <td><p>{{var monthly_sale_amount}}</p></td>
					</tr>	
					<tr>
						<td>Yesterday’s sales</td>
                        <td><p>{{var yesterday_sale_count}}</p></td>
                        <td><p>{{var yesterday_sale_amount}}</p></td>
					</tr>	
					<tr>
						<td>Open Orders</td>
                        <td><p>{{var open_order_count}}</p></td>
                        <td><p>{{var open_order_amount}}</p></td>
					</tr>
						
				</table>
                <table width="100%">
                    <tr><td>Aging</td></tr>
                    <tr>
                        <td>{{layout handle="mailproducts_index_aging" items=$items area="frontend"}}</td>
                    </tr>
                </table>
{{template config_path="design/email/footer_template"}}

<style>
    td {color: #000;}
</style>