<!--@subject Review Report @-->
{{template config_path="design/email/header_template"}}
	<p>Hi , Please download Review Report of date : {{var today}} <p>
				<table border='1'  style='border-collapse:collapse'>
					<tr>
						<th> Star Rating (MTD) </th>
						<th> Total Count </th>
					</tr>
					<tr>
						<td>1 star</td>
						<td>{{var onestar}}</td>
					</tr>	
					<tr>
						<td>2 star</td>
						<td>{{var twostar}}</td>
					</tr>	
					<tr>
						<td>3 star</td>
						<td>{{var threestar}}</td>
					</tr>	
					<tr>
						<td>4 star</td>
						<td>{{var fourstar}}</td>
					</tr>	
					<tr>
						<td>5 star</td>
						<td>{{var fivestar}}</td>
					</tr>
				</table>	
{{template config_path="design/email/footer_template"}}