<!--@subject Return/Exchange Requests Reports @-->
{{template config_path="design/email/header_template"}}
	<p>Hi , Please download Return/Exchange Requests Report of date : {{var today}} .<p> 
			<h4> There are {{var pending_count}} pending Return/Exchange of  amount {{var pending_amount}}</h4> 
				<table border='1'  style='border-collapse:collapse'>
					<tr>
						<th>   </th>
						<th>Number</th>
						<th>Amount(IN INR)</th>
					</tr>
					<tr>
						<td><h4>Total Return/Exchange Requests MTD</h4></td>
						<td>{{var total_rma}}</td>
						<td>{{var total_rma_amount}}</td>
					</tr>
					<tr>
						<td><h4>Return/Exchange approved MTD</h4></td>
						<td>{{var rma_approved}}</td>
						<td>{{var total_rma_accepted}}</td>
					</tr>
					<tr>
						<td><h4>Pending Return/Exchange MTD</h4></td>
						<td>{{var pending_count}}</td>
						<td>{{var pending_amount}}</td>
					</tr>
					<tr>
						<td><h4>Prossing Return/Exchange MTD</h4></td>
						<td>{{var procssing_count}}</td>
						<td>{{var processing_amount}}</td>
					</tr>
					<tr>
						<td><h4>Return/Exchange Rejected MTD</h4></td>
						<td>{{var rma_declined}}</td>
						<td>{{var total_rma_rejected}}</td>
					</tr>
				</table>
{{template config_path="design/email/footer_template"}}