<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Dashboard */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$captchaEnableStatus = $helper->getCaptchaEnable();
$orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
$getDateDetail = $block->getDateDetail();
$total_sale_coll = $block->getTotalSaleColl();
$total_sale = 0;
$total_remain_sale = 0;


?>
<div class="wk-mp-design" style="width: 100%;display: inline-block;">
    <div class="mp-widgets">
	
        <div class="cotainer">   
            <div style="border:1px solid #cccccc;">
                <div style="border-bottom: 1px solid #ccc;display: inline-block;width: 100%;">
                    <div style="float:left;">
                        <div style="padding:5px;">
                            <?php echo __('Sales By Locations') ?>
                        </div>
                    </div>
                    <div style="float:right;padding: 2px;">
                        <button class="button" id="wk-location-chart-year">
                            <span><?php echo __('Year') ?></span>
                        </button>
                        <button class="button" id="wk-location-chart-month">
                            <span><?php echo __('Month') ?></span>
                        </button>
                        <button class="button" id="wk-location-chart-week">
                            <span><?php echo __('Week') ?></span>
                        </button>
                        <button class="button" id="wk-location-chart-day">
                            <span><?php echo __('Day') ?></span>
                        </button>
                    </div>
                </div>
                <div style="padding:5px;">
                    <center><?php echo $block->getChildHtml('locationChart')?></center>
                </div>
            </div>
        </div>
<?php
$formData = [
    'loader'				=>	$this->getViewFileUrl('images/loader-2.gif'),
    'mpLocationChartSelector' 	=> 	'#wk-location-chart',
    'mpYearLocationChartSelector' 	=> 	'#wk-location-chart-year',
    'mpAskDataSelector' 	=> 	'#wk-mp-ask-data',
    'askQueSelector' 		=> 	'#askque',
    'askFormSelector'		=> 	'#ask-form',
    'askFormInputSelector' 	=> 	'#ask-form input',
    'askFormTextareaSelector' =>'#ask-form textarea',
    'pageWrapperSelector' 	=> 	'.page-wrapper',
    'mpModelPopupSelector' 	=> 	'.wk-mp-model-popup',
    'showClass' 			=> 	'_show',
    'mageErrorClass' 		=> 	'mage-error',
    'resetBtnSelector' 		=> 	'#resetbtn',
    'wkCloseSelector'		=> 	'.wk-close',
    'validationFailedSelector' 			=> 	'.validation-failed',
    'askFormValidationFailedSelector' 	=> 	'#ask-form .validation-failed',
    'askFormValidationAdviceSelector' 	=> 	'#ask-form .validation-advice',
    'askFormErrorMailSelector' 			=> '#ask-form .errormail',
    'askBtnSelector'		=> 	'#askbtn',
    'mpCaptcha1Selector'	=> 	'#wk-mp-captchalable1',
    'mpCaptcha2Selector'	=> 	'#wk-mp-captchalable2',
    'mpCaptchaSelector'		=> 	'#wk-mp-captcha',
    'mailProcssClass' 		=> 	'mail-procss',
    'captchaEnableStatus' 	=> 	$captchaEnableStatus,
    'ajaxMailSendUrl' 		=> 	$block->getUrl("marketplace/account/askquestion", ["_secure" => $this->getRequest()->isSecure()]),
    'ajaxChartUrl' 		=> 	$block->getUrl("marketplace/account/chart", ["_secure" => $this->getRequest()->isSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "sellerDashboard": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    } 
</script>