<?php 
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_PincodeChecker
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */
?>
<?php 
if($this->_helper->showOnPage() 
   && $this->_helper->getTypeAllowed() 
   && $this->_helper->showOnPage()){
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currentProduct = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
	if ($currentProduct):
?>
<?php		
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();     
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$store = $storeManager->getStore();
$website_url  = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$outStocks =  $StockState->getStockQty($product->getId(), $product->getStore()->getWebsiteId());

/*alternate banner code*/
$scopeConfig = $objectManager->create('Magento\Framework\App\Config\ScopeConfigInterface');
$isDesktopEnable = $scopeConfig->getValue('alternatebanner/desktop/enable', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);

$desktopUrl = $scopeConfig->getValue('alternatebanner/desktop/url', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);
$desktopImage = $scopeConfig->getValue('alternatebanner/desktop/image', \Magento\Store\Model\ScopeInterface::SCOPE_STORE);

if($outStocks =='0')
{
?>
<!-- <script>
require(['jquery'], function ($) { jQuery('.product-info-price').addClass('d-none'); });
</script> -->
<!--<div class="soldout">
   <h3>This product is sold out</h3>
   <p>We will let you know when in stock</p>
   <form>
   <input type="email" class="input-stock" maxlength="70">
       <button type="submit" class="stock-btn">Notify me</button>
   </form>
</div> -->
<?php
}
else
{
?>
	<div class="pincode-div">
		<div class="pincode_checker">
			<div class="control">
				<label for="zipcode" class="label"><?php echo $block->getZipCodeLabel()?></label>
				<span class="iconloc"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
				<input type="text" class="input-text" maxlength="6" placeholder="Enter your pincode" title="ZipCode" name="zipcode" id="check-zipcode"/>
			</div>
			
			
			<button id="check-pincode" class="action primary" title="Check" type="button">
				<span>
					<span>Check</span>
				</span>
			</button>
			
			<button id="check1-pincode" class="action primary changepincode" title="Check" type="button" style="display:none;">
				<span>
					<span>Change</span>
				</span>
			</button>
			<span id="errmsg"></span> 
			<img id="loader" alt="loader" src="<?php echo $this->getViewFileUrl('Ced_PincodeChecker::images/loader.gif');?>" style="display: none;"/>
		</div> 
		<div class="pincode_checker_msg_wrapper" id="pincode_checker_msg_wrapper">
	        <div id="pincode_checker_msg"></div>
		</div>
		<p id="deliverydays_msg" style="display:none;"></p>
		<input type="hidden" id="enable_atc" value="0" />
	</div>
	<div class="product-details-section">
	<div class="row m-0 justify-content-between custom_product_avail">
		
	</div>  
   <div class="row m-0">
   <ul class="product-short-detail-list">
   <?php  
    $part_name = $currentProduct->getData('part_name');
	if (null !== $currentProduct->getAttributeText('color')) {
		$color_text = $currentProduct->getAttributeText('color');		
	}	
    $part_name = $currentProduct->getData('part_name');
    $systemrequirment = $currentProduct->getData('systemrequirment');
    
	?>
       
	   <?php if(!empty($part_name))
	   { ?> 
       <li>Part Name: <?php echo $part_name;?></li>
	   <?php
	   }?>
	     <?php if(!empty($color_text))
	   {?>
       <li>Color :  <?php echo $color_text;?></li>
	   <?php
	   }?>
	    <?php if(!empty($systemrequirment))
	   {?>
	   <li>System Requirements:  <?php echo $systemrequirment;?></li>
	   <?php
	   }?>
	   
       <li><a href="javascript:void(0);" onclick="more_spec();">More Specification</a></li>
   </ul><?php
   
  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
    $store = $storeManager->getStore();
	 $mediaUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'wysiwyg/Untitled-1.png';
	 $website_url  = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
?>

<?php
	$return_period_id = $currentProduct->getData('return_period');
	$return_date = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('rmasystem/parameter/days');
	$is_returnable=false;
	if($currentProduct->getAttributeText('return_period')=="Flat return period"){
		$is_returnable=true;
		$return_days_text = $return_date.' days';
	} else{
		
		
		$return_days_text = "No Return Available";
	}
	?>
   
<?php if($is_returnable):?>
	<p>Easy Returns and Replacement  <a href="#"  id="click-me"><img src="<?php echo $mediaUrl;?>" alt="exclamation"></a></p>
<?php else:?>
	<div class="noreturnpdppage" style="padding-top:10px; text-align:center;">
			<img src='<?php echo $this->getViewFileUrl('images/pdp-noreturn-icon.jpg'); ?>' width="50" alt="" />
			<span style="display: block; color: #3d3d3f; font-weight: 500; font-size: 14px;">Not Returnable</span>
	</div>
<?php endif;?>

<div class="_product_return_information_container" style="display: none;">
	<p><?php  echo $return_days_text; ?></p>		
</div>


<p>Payment Options: (Credit Card, Debit Card, Net Banking, Wallets)</p>


<div id="popup-modal" style="display:none;">
  <?php if (null !== $currentProduct->getData('return_policy')) { 
  $return_policy = $currentProduct->getData('return_policy');
  $return_period = $currentProduct->getAttributeText('return_period');
 
?>
<h2>Return Period</h2>
<?php echo $return_period;?>
<h2>Return Policy</h2>
<?php   echo $return_policy; ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$newUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);
 
 ?>
  <a target="_blank" href="<?php echo $newUrl.'return-policy';?>">More Information</a>
<?php   } ?>
</div>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) { 
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Easy Returns and Replacement',
                buttons: [{
                    text: $.mage.__('Continue'),
                    class: '',
                    click: function () {
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#popup-modal'));
            $("#click-me").on('click',function(){ 
                $("#popup-modal").modal("openModal");
            });
			
			
			jQuery('.reviews-actions>a.add').click(function()
			{ 
				jQuery('.product.data.items').find('.title').removeClass('active');
				jQuery('.product.data.items').find('.content ').hide();
				
				
				
				jQuery('.product.data.items').find('#tab-label-reviews').addClass('active');
				jQuery('.product.data.items').find('#reviews').show();
				
				jQuery('html, body').animate({
					scrollTop: jQuery(".detailed").offset().top
				}, 2000);
				
				
			});	
			

        }
    );
	
	
	function more_spec()
	{
		jQuery('.product.data.items').find('.title').removeClass('active');
		jQuery('.product.data.items').find('.content ').hide();
		
		
		
		jQuery('.product.data.items').find('.title:eq(0)').addClass('active');
		jQuery('.product.data.items').find('.content:eq(0)').show();
		 
		
	}	
	
	
	
</script>

<?php //echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('return_block')->toHtml();?>
   </div>
        <div class="soldbycustominfo">
            <?php  
                $helper = $this->helper('Webkul\Marketplace\Helper\Data');
                $product = $block->getProduct();
                $sellerId = '';
                $marketplaceProduct = $helper->getSellerProductDataByProductId($currentProduct->getId());



                foreach ($marketplaceProduct as $value) {
                     $sellerId = $value['seller_id'];
                }

                $cardType = $helper->getDisplayCardType();
                ?>
                <?php if ($sellerId!=""): ?>
                    <?php 
                        $captchenable = $helper->getCaptchaEnable();
                        $sellerInfo = $helper->getSellerInfo($sellerId);
                        $shopTitle = $sellerInfo['shop_title'];
                        $shopUrl = $sellerInfo['shop_url'];
                        $logo = $sellerInfo['logo_pic'];
                        $productCount = $sellerInfo['product_count'];
                        $companyLocality = trim($sellerInfo['company_locality']);
                        $companyLocality = $block->escapeHtml($companyLocality);
                        if (!$shopTitle) {
                            $shopTitle = $shopUrl;
                        }

                        if ($productCount > 1) {
                            $productLabel = __("%1 Products", $productCount);
                        } else {
                            $productLabel = __("%1 Product", $productCount);
                        }

                        if ($logo == "") {
                            $logo = "noimage.png";
                        }

                        $logo = $helper->getMediaUrl().'avatar/'.$logo;
                         $shopTitle = $block->escapeHtml($shopTitle);
                        $feeds = $helper->getFeedTotal($sellerId);
                        $rating = $helper->getSelleRating($sellerId);
                        $collectionPageUrl = $helper->getRewriteUrl('marketplace/seller/collection/shop/'.$shopUrl);
                         $profilePageUrl = $helper->getRewriteUrl('marketplace/seller/profile/shop/'.$shopUrl);

                    ?>

                   <p>Sold By:</p>
                   <?php if(!empty($shopTitle))
                   {
                    ?>
                   <h3 class="seller-shop-name"><?php echo $shopTitle;?></h3>
                   <?php
                   }
                   ?>
                   <?php endif; ?>


                    <?php
                        // Get seller orders 

                        $orderHelper = $this->helper('Webkul\Marketplace\Helper\Orders');
                        $order_counts = $orderHelper->getSellerOrders($sellerId);
                        $totalRatingStar = $helper->getSelleRating($sellerId);
                        $feed  = $helper->getFeedTotal($sellerId);
                        // print_r($feed);





                    ?>

                   <div class="solid-by-review">
                       <span><?php echo $totalRatingStar; ?> <i class="fa fa-star" aria-hidden="true"></i> </span> (<?php echo $feed['feedcount'];; ?>) Reviews
                   </div>
                   <p><?php echo $order_counts; ?> orders have been processed</p>
                   <?php /*?>   
                       <div class="top-related-merchant"><i class="fa fa-star" aria-hidden="true"></i> Top Rated Merchant</div>
                       <?php if(!empty($collectionPageUrl)) { ?>
                       <p><a href="<?php echo $collectionPageUrl;?>">Visit Seller Store <i class="fa fa-angle-right" aria-hidden="true"></i></a></p>
                       <?php } ?>
                   <?php */?>
                   <div class="more-seller-solid">
                       <a href="#">1. More Seller <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                       <p>Starting from 599</p>
                   </div>

                   <p><a href="<?php echo $website_url;?>customuser/index/sellerregister/">Sell on GetMySpares</a></p>


        </div>
</div>
<?php  
}
?>


<?php 
	$altParts = $currentProduct->getData('alternate_parts');
	$altp     = explode(',',$altParts);
	$class    = " owl-carousel products-grid";
?>
<?php if($altParts && !empty($altp) ) : ?>
<div class="solid-by-product alternateparts" id="alternate_prdct_div">
    <h3 class="parts-heading">Alternate Parts</h3>

	<div class="block-content">
		<div id="pdpaltpart" class="<?php echo $class ?> grid">
		<?php
			$totalAlt = 0;
			$productModel = $objectManager->get('\Magento\Catalog\Model\Product');
			foreach($altp as $sku):
				$product = $objectManager->create('Magento\Catalog\Model\Product')->loadByAttribute('sku',$sku);
				if($product){
				$totalAlt++;
				$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
				$image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(200, 200)->getUrl();
				?>
					<div class="item">
						<div class="product-item-info">	
							<?php if($product->getAttributeText('gms_certified') == 'Yes') { ?>
                                  <span class="gms-certified">&nbsp;</span>
                            <?php } ?>									
							<a href="<?php echo $product->getProductUrl(); ?>" target="_blank" class="product-item-photo">
								<img class="product-image-photo default_image" src="<?php echo $image_url;?>" alt="<?php echo  $product->getName();?>" />
							</a>														 	  
                            <a href="<?php echo $product->getProductUrl(); ?>" target="_blank">
                                <span class="proname"><?php echo  $product->getName();?></span>
                                <span class="pricename">
									
								<?php 
								$abstractProductBlock = $this->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
								echo $abstractProductBlock->getProductPrice($product);
								?>
								
                                
                                </span>
                            </a>
						</div>    
					</div>
				<?php } ?>
				<?php endforeach ?>
		</div>
	</div>	
	<?php if($totalAlt > 0 ) { ?>
		<script type="text/javascript"> 
		require([
		   'jquery',
		   'owl.carousel/owl.carousel.min'
		], function ($) { 	
			$("#pdpaltpart").owlCarousel({
				autoplay: false,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: false,
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
				dots: false,
				responsive: {
				   0: { items:1 },
				   640: { items:1 },
				   768: { items:1 },
				   992: { items:1 },
				   1200: { items:1 }
				 }
			   });   
		});
		</script> 
	<?php } else { ?>
		<!-- <script type="text/javascript">document.getElementById('alternate_prdct_div').style.display = 'none';</script> -->
		<script>
			require(['jquery'],function($){
				$('.parts-heading').hide();
			});
		</script>
		<?php if($isDesktopEnable):?>	
			<a href="<?php echo $website_url.$desktopUrl?>">
				<img src="<?php echo $website_url.'pub/media/productpagebanner/desktop/'.$desktopImage?>">
			</a>
		<?php endif;?>
	<?php } ?>

<?php else:?>
<?php if($isDesktopEnable):?>	
<div class="solid-by-product alternateparts productpagebanner" id="alternate_prdct_div">
	<a href="<?php echo $website_url.$desktopUrl?>">
		<img src="<?php echo $website_url.'pub/media/productpagebanner/desktop/'.$desktopImage?>">
	</a>
</div>
<?php endif;?>
<?php endif; ?>
	
  
</div> 
	<script>
	function checkZipCode(element){
		checkZipCode1(element);
	}
	</script>
<script>
require([ 
    'jquery',
    'mage/mage'
], function(jquery){
	
	
	var t = window.location.href.indexOf('#');
	
	if(t > 0)
	{
		setTimeout(function(){
			jQuery('.data').removeClass('active');
			jQuery('#tab-label-reviews-title').click();
		}, 1000);   
	}
	
	jquery("#check-zipcode").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
       jquery("#errmsg").html("Number Only").show().fadeOut("slow");
               return false;
    }
   });
	jquery('.product-details-section .fa-exclamation').click(function(){
		alert('popup will appear here, i need to edit the html for this')
	})
	
	jquery('#check1-pincode').hide();
	jquery("#check1-pincode").click(function () {
		jQuery('#pincode_checker_msg').empty();
		jquery('#pincode_checker_msg_wrapper').hide();
		jquery(this).hide();
		jquery('#check-zipcode').val('');
		jquery("#check-pincode").show();
		jQuery('#deliverydays_msg').hide();
		
		jQuery('.custom_product_avail').empty();
		
		
	});
	
	jquery('.product-short-detail-list li:last-child').click(function(){
		jQuery('.detailed').find('.item').removeClass('active');
		jQuery('.detailed').find('.content').hide();
		 
		jQuery('.detailed').find('.item:eq(0)').addClass('active');
		jQuery('.detailed').find('.content:eq(0)').show();

		/* jquery('html, body').animate({
			scrollTop: jquery("#description").offset().top-220
		}, 100); */
	});
	
	
	
	
	
	jQuery('#check-zipcode').bind("cut copy paste",function(e) {
		 e.preventDefault();
	});
	
	
	
	jquery("#check-pincode").click(function () {
		
		var zipcode_field = document.getElementById("check-zipcode");
		var zipcode = zipcode_field.value;
		
		if(zipcode=='')
		{
			return false;		
		}	
		
		var product_id = '<?php echo $currentProduct->getId();?>';
		var qty=jQuery('#qty').val();
		if(qty < '1')
		{
			require([
				'Magento_Ui/js/modal/alert'
			], function(alert) { // Variable that represents the `alert` function
			 
				alert({
					title: 'Alert',
					content: 'Enter Correct Quantity', 
					actions: {
						always: function(){}
					}
				}); 
			 
			}); 
			return false;
			
			
		} 	
		if(zipcode){
			jquery('#check-zipcode').css('border-color','#ccc');
			var msg_element = document.getElementById("pincode_checker_msg_wrapper");
			var IsCodAllowedFromAdmin = '<?php echo $this->_helper->getIsCodAllowedFromAdmin(); ?>';
			//var cod_success_msg = '<?php echo $this->_helper->getCodAllowedText()?>';
			//var cod_error_msg = '<?php echo $this->_helper->getCodNotAllowedText()?>';
			
			var cod_success_msg = 'Item is Available at {{zipcode}}';
			var cod_error_msg = 'Item is Not Available at {{zipcode}}';
			if(zipcode.match(/^[a-z0-9\-\s]+$/i)) {
				jquery('#loader').show();
				jquery('#check-pincode').attr('disabled',true);
				jquery.ajax({
					type: 'post',
					url: '<?php echo $this->getUrl("pincodechecker/index/validate"); ?>',
					data: { zip: zipcode, product_id: product_id, qty:qty},
					dataType: 'json', 
					success: function(json) {
						jquery('#loader').hide();
						jquery('#check-pincode').attr('disabled',false);
						if(json.ship){ 
							if(json.cod){
							    if (IsCodAllowedFromAdmin){
                                    jquery('#pincode_checker_msg').text(cod_success_msg.replace('{{zipcode}}',zipcode));
                                    msg_element.setAttribute("class", "message-success success message");
									// jQuery('.custom_product_avail').empty().append(json.custom_msg);
									jQuery('#enable_atc').val('1');
									jQuery('#product-addtocart-button').removeAttr("disabled");
									jQuery('#buy-now').removeAttr("disabled");
									jQuery('#pincode_validation_msg').hide();
								} else
                                {
									// jQuery('.custom_product_avail').empty().append(json.custom_msg);
                                }

								if(json.days!='-' && json.days!=''){
									jquery('#deliverydays_msg').html(json.days);
								}
								jQuery('#deliverydays_msg').show();
							
							}
							else{
								jquery('#pincode_checker_msg').text(cod_error_msg.replace('{{zipcode}}',zipcode));
								msg_element.setAttribute("class", "message-error error message");
								//zipcode_field.value = '';
								jquery('#deliverydays_msg').empty();
								if(json.days!='-' && json.days!=''){
									jquery('#deliverydays_msg').html(json.days);
								}
								jQuery('#product-addtocart-button').prop("disabled", true);
            					jQuery('#buy-now').prop("disabled", true);
							}
						}else if(json.zip_not_found){
							//jquery('#pincode_checker_msg').text("<?php echo $this->_helper->getZipcodeNotFoundMessage()?>");
							jquery('#pincode_checker_msg').text("Item is unavailable at "+zipcode);
							msg_element.setAttribute("class", "message-error error message");
							//zipcode_field.value = '';
							jquery('#deliverydays_msg').empty();
							jQuery('#product-addtocart-button').prop("disabled", true);
        					jQuery('#buy-now').prop("disabled", true);
						}else{
							jquery('#pincode_checker_msg').text(cod_error_msg.replace('{{zipcode}}',zipcode));
							msg_element.setAttribute("class", "message-error error message");
							//zipcode_field.value = '';
							jquery('#deliverydays_msg').empty();
							jQuery('#product-addtocart-button').prop("disabled", true);
        					jQuery('#buy-now').prop("disabled", true);
						}
					}
				});
			}
			else{
				jquery('#check-zipcode').css('border-color','red');
			}	
		}
		else{
			jquery('#check-zipcode').css('border-color','red');
		}
		jquery('#check1-pincode').show();
		
		jquery(this).hide();
		jquery('#pincode_checker_msg_wrapper').show();
	}); 
	
	jQuery(document).ready(function()
	{
		jQuery(".product-short-detail-list a").on("click", function() {
    jQuery('html,body').animate({
    scrollTop: jQuery('.history-accordion').offset().top
}, 1000);
});
		jQuery('.product-info-stock-sku').remove();
	});
	
	
	function zoom()
	{
		jQuery('.title').removeClass('active');	 	
		jQuery('#description').hide();
	}	
	
	
	
});
</script>
<style>
.pincode-div{ margin-bottom: 10px; }
.pincode_checker{ width: 78%; }
#check-pincode{ margin: 28px 0px 21px 20px; }
#pincode_checker_msg_wrapper{ width: 60%; }
.pincode_checker > .control{ margin-bottom: 15px; float: left; }
.pincode_checker > .control > .label { display: inline-block; font-weight: 600; margin: 0 0 8px; }
#deliverydays_msg{ width: 60%; }
.pincode_checker > img#loader { float: right; margin-top: 33px; width: 21px; }
</style>   
<?php endif; }?>
