<?php 
    $topCategoryData = $this->helper('OM\HomepageTopProducts\Helper\Data');
    $topSellingProducs = $topCategoryData->getTopSectionProductIds();
    if(isset($topSellingProducs[2]['product_id'])){
    $productId = $topSellingProducs[2]['product_id'];
    $product=$this->getLoadProduct($productId);
    $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
    $postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
    $postParams = json_decode($postData, true);
    $imageType = 'product_base_image';
    $buttonTitle = $block->escapeHtml(__('Add to Bag'));
    $width = 100;
    $height = 100;
    $resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();
    $abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
    $_helperGallery = $this->helper('OM\HomepageTopProducts\Helper\Data');
    $_helperGallery->addGallery($product);
    $images = $_helperGallery->getGalleryImages($product);
    $baseCurrency = $block->getCurrentCurrencySymbol();
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    }
    
?>
<?php if(isset($topSellingProducs[2]['product_id'])):?>
<div class="dummyimg-hp">
<img src="<?php echo $block->getViewFileUrl('images/dummybannerimg.jpg'); ?>" />
</div> 
<div class="combined-container">
    <div class="product-left-container">
        <h1 class="product-name"><?php echo $product->getName();?></h1>
        <?= $abstractProductBlock->getReviewsSummaryHtml($product, $templateType) ?>        
        <div class="product-price">
            <?= $abstractProductBlock->getProductPrice($product) ?>
        </div>
        <a class="shop-now-btn" href="<?= htmlspecialchars_decode($block->escapeUrl($product->getProductUrl())) ?>">Shop Now</a>
    </div>
    <div class="product-right-container">
        <img class="product-image-contianer" alt="<?php echo $product->getName()?>" src="<?php echo $resizedImageUrl?>">
    </div>
</div>
<?php else:?>
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('homepage_third_product')
->toHtml();
?>
<?php endif;?>    