<?php 
 $mode = 'grid';
?>
<div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
            <div class="block-title">
                <strong>TOP RATED</strong>
            </div>
        <div class="block-content">
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="home-product-slider owlCarousel product-items" >
                    <?php 
                    $iterator = 1; 
                    $count = 1 ;
                    ?>
                    <?php foreach ($block->getTopRateProducts() as $product): ?>
                    	<?php 
                    	$width = 240;
						$height = 300;
						$resizedImageUrl = $block->resizeImage($product, 'product_small_image',$width, $height)->getUrl();
						$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
						$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
                    	?>
                        <?php if ($count%3 == 1){ echo "<div class='li-insert-class'>";}?>
                        <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($product->getProductUrl()) ?>" class="product-item-photo">
                              <span class="product-image-container" style="width:240px;">
								    <span class="product-image-wrapper">
								    	<img class="product-image-photo" src="<?= $block->escapeUrl($resizedImageUrl) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" max-width="240" max-height="300"/>
								</span>
                            </a>
                            <div class="product-item-details">
                                <div class="review-container">
                                    <?php 
                                    $product_id = $product->getId();
                                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                    $product = $objectManager->create('Magento\Catalog\Model\Product')->load($product_id);
                                    ?>
                                    <?php if ($templateType) : ?>
                                        <span class="r-co">
                                            <?= $abstractProductBlock->getReviewsSummaryHtml($product, $templateType) ?>
                                        </span>
                                    <?php endif; ?>
                                </div>
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtmlAttr($product->getName()) ?>"
                                       href="<?= $block->escapeUrl($product->getProductUrl()) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($product->getName()) ?>
                                    </a>
                                </strong>
                                <div class="price-box">
									<div class="price"><?= $abstractProductBlock->getProductPrice($product) ?></div>
								</div>
                            </div>
                        </div>
                        <?= ($iterator == count($block->getTopRateProducts()) + 1) ? '</li>' : '' ?>
                        <?php if ($count%3 == 0){echo "</div>";}?>
                        <?php $count++; ?>
                    <?php endforeach ?>
                </ol>
            </div>
        </div>
    </div>
<script type="text/javascript">
        require(
        ['jquery', 'jquery/ui', 'owl-carousel'], 
        function($) {
            $('.home-product-slider').owlCarousel({
                margin: 0,
                slideSpeed: 1000,
                smartSpeed: 800,
                dots: false,
                autoplay:false,
                nav: false,
                autoPlay: 8000,
                loop: true,
                autoplayHoverPause:true,
                items: 1
            });
        });
</script>
<style type="text/css">
.cms-getmyspare-home-page.page-layout-1column .block.widget .products-grid .product-item {
    width: 100% !important;
}
.homebtmcrowsel p {display: none;}
</style>



