 <div class="col-md-12">
 <?php
$categoryId = 28;
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $_objectManager->create('Magento\Catalog\Model\Category')
->load($categoryId);
$newImage = $category->getImageUrl();
if(!empty($newImage))
{ 
?>
   <div class="panel mats"><a href="<?php echo $category->getUrl();?>"><img src="<?php echo $category->getImageUrl() ;?>" alt="<?php echo $category->getName();?>" /></a></div>
   <?php
}
?>
   </div>
             <div class="col-12">
        <h2><a href="<?php echo $category->getUrl();?>"><?php echo $category->getName();?></a></h2>
		<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
$newone =  $helpers->min_product_price_by_category(28);
$newarray = json_decode($newone);
if($newarray->product_count!=0)
{
	
	?>
        <p>Starting at ₹<?php echo number_format($newarray->min_price, 2, '.', '');?></p>
		<?php
		}
		?>
       </div>  
