<?php 
//Best seller
	
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mode = 'grid';
$title = __('HOT TRENDING');
	$type = 'widget-bestseller-grid';
	$image = 'bestseller_products_content_widget_grid';
/* $productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollectionFactory->create();
$collection->addAttributeToSelect('*');
$collection->addAttributeToFilter('universalparts',56);
$collection->setPageSize(15); 
// selecting only 3 products
 $collection->setOrder('position','DESC'); 
$collection->load();
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');

$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollection->create()
            ->addAttributeToSelect('*')
			->addAttributeToFilter('universalparts',56)
            ->addAttributeToSort('created_at', 'DESC')
            ->setPageSize(8)
            ->load();

		/*Slider */
		$view = "grid";
		$class = "bestsold-sliders owl-carousel products-".$mode;
		?>
		<div class="row">
		<div class="col-12">
		<?php if($view=="grid"){ ?>
		<div class="row m-0 justify-content-between align-items-center">
		<h2 class="sectionproducts-titles">Universal Parts</h2>
		<a href="javascript:void(0);">View All</a>
		</div>
		<?php } ?>   
		<div class="grid-section-carousel">		
			<div class="row m-0">
				<div class="col-md-2 orange-gradient">
				<div class="row m-0 h-100 align-items-center">
					<div class="backacces"> 
						<h1>Universal Parts</h1>
						
					</div>
					</div>
				</div>
				<div class="col-md-10">		  
					<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">	
						<div class="block-content">
							<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
							<div class="<?php echo $class ?>  <?php /* @escapeNotVerified */ echo $mode; ?>">
								<?php if($view=="list"){ ?>
									<ol class="products list items product-items ">
								<?php } ?>
								<?php
									$iterator = 1;
									foreach ($collection as $product):
									
									 if(!empty($product->getName())){
									 ?>
								<?php 
									if($view=="list"){ 
										echo($iterator++ == 1) ? '<li class="best-seller-prd product-item">' : '</li><li class="best-seller-prd product-item">';
									} 
					$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
					$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
								?>
										<div class="item">
											<div class="product-item-info">
										
											<a href="<?php echo $product->getProductUrl(); ?>" class="product-item-photo">
											<img class="product-image-photo default_image" src="<?php echo $imageUrl;?>" alt="" />
											</a>
											<button class="carousel-add-wishlist" name="add-to-wishlist" onclick="addProductToWishlist()"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <?php $productId = json_decode($block->getWishlistParams(), true)['data']['product']; ?>
											<div class="product-item-details">
												<strong class="product-item-name">
													<a title=""
													href="<?php echo $product->getProductUrl(); ?>"
													class="product-item-link">
														<?php echo $product->getName(); ?>
													</a>
												</strong>
												 <span class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?> 
											<?php
											$specialprice = $product->getSpecialPrice();
											$specialPriceFromDate = $product->getSpecialFromDate();
											$specialPriceToDate = $product->getSpecialToDate();    
											$today = time();
											$price = $product->getPrice();
											if($price){
											$sale = round((($price-$specialprice)/$price)*100);
											}
											if ($specialprice) {
											if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>

											<span class="percentage-price sale-product-icon">
											<?php if($sale) { echo $sale.'%'.' Off'; } else {echo __('Sale');} ?>
											</span> 

											<?php }
											}
											?>  		 </span>

												<?php
												$type = 'widget-bestseller-grid';
												echo $this->getProductPriceHtml($product, $type);
												
												?> 
												
												  <?php 
								$objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
								$blockList = $objectManagerr->get('Magento\Catalog\Block\Product\ListProduct'); 

								$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
								echo $blockList->getReviewsSummaryHtml($product, $templateType,true);
					?>
											</div>    
											</div>    
										</div> 
										<?php 
											if($view=="list"){ 
												echo($iterator == count($fetProdCollection)+1) ? '</li>' : '' ;
											} 
										?>
										<?php } ?>
									<?php endforeach ?>
								<?php if($view=="list"){ ?>
									</ol>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		</div>

		</div>
		
		<script type="text/javascript">
        require([
           'jquery',
           'owl.carousel/owl.carousel.min'
        ], function ($) {
			
			$(".bestsold-sliders").owlCarousel({
				autoplay: true,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: true,
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
				dots: false,
				responsive: {
				   0: {
					 items:1 
				   },
				   768: {
					 items:2
				   },
				   992: {
					 items:3
				   },
				   1200: {
					 items:4
				   }
				 }
			   });
		   
		});
       </script> 
	  <script> 
function addProductToWishlist() {
    require(["jquery"], function($){
        $.ajax({
            url: '<?php echo $this->getUrl('general/index/addtowishlist') ?>',
            method: 'get',
            data: { productId: <?php echo $productId ?>},
            dataType: 'json',
            showLoader:true,
            success: function(data){
                var redirect = data.result.redirect;
                if(redirect) {
                    window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                } else {
                  // show successfully added message 
                }
            }
        });
    });
}
</script>
