<?php
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();

	$reviewCollectionFactory = $objectManager->get('\Magento\Review\Model\ResourceModel\Review\CollectionFactory');
	$reviewsCollection = $reviewCollectionFactory->create()
			->addFieldToSelect('*')
			//->addStoreFilter($currentStoreId)
			->addStatusFilter(\Magento\Review\Model\Review::STATUS_APPROVED)
			->setDateOrder()
			->addRateVotes();
	$count = 0;
	if ($reviewsCollection && count($reviewsCollection) > 0) {
		$configIds = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('mobilepopup/homepagereview/review_ids');
		$configIds = explode(',', $configIds);
		
		echo '<div class="right-slider"><div class="finderProducts vertical container1"><div class="content1 homecustomreview start">';
	    foreach ($reviewsCollection as $review) {
	    	if(!empty($configIds) && !in_array($review->getId(), $configIds)) {
	    		continue;
			}
			$count++;
	    	echo '<div class="item homepage-review">';
	    	echo '<span class="pull-left"><img src="https://getmyspares.com/pub/media/review-profile.jpg" /></span><span><strong>'.$review->getNickname() . '</strong></span>';
	    	echo '<span class="pull-right">' . date('d/m/Y',strtotime($review->getCreatedAt())) . '</span><br/>';
	        //echo $review->getTitle() . "<br/>";
	        echo '<div class="wrapper"><div class="small">' . $review->getDetail() . '</div><a href="#">read more</a></div>';
	 
	        $countRatings = count($review->getRatingVotes());
	        if ($countRatings > 0) {
	            ?>
	            <div class="review-ratings">
	                <?php
	                $allRatings = 0;
	                foreach ($review->getRatingVotes() as $vote) {
	                    $allRatings = $allRatings + $vote->getPercent();
	                }
	                $allRatingsAvg = $allRatings / $countRatings;
	                ?>
	                <div class="rating-summary">
	                    <div class="rating-result" title="<?php echo $allRatingsAvg; ?>%">
	                        <meta itemprop="worstRating" content = "1"/>
	                        <meta itemprop="bestRating" content = "100"/>
	                        <span style="width:<?php echo $allRatingsAvg; ?>%">
	                            <span itemprop="ratingValue"><?php echo $allRatingsAvg; ?>%</span>
	                        </span>
	                    </div>
	                </div>
	            </div><br/>
	            <?php
	        }
	    	echo '</div>';
	    }
	    echo '</div></div></div>';
	}
?>
<style type="text/css">
	.right-slider {
	    width: 100%;
	    position: relative;
	    display: block;
	    background: #fff;
	    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
	    height: 100%;
	}
	.finderProducts.vertical {
	    background-color: #fff;
	    height: 340px;
	    overflow: hidden;
	    box-shadow: none;
	}
	#banner-slider-demo-12 .item a {
	    width: 100%;
	}

	.finderProducts.vertical {
		background-color: #fff;
		/*height:385px; */
		overflow:hidden;
	}
	.finderProducts.vertical .homepage-review {
		padding: 10px 5px;
	    margin-bottom: 10px;
	    border: 1px solid #ddd;
	}
	.small {
	    height: 33px;
	    overflow:hidden;
	}
	.big {
	    height: auto;
	}

	.finderProducts.vertical .homepage-review {
	    padding: 5px 5px;
	    margin-bottom: 5px;
	    border: 1px solid #ddd;
	}
	.finderProducts.vertical {
		padding: 20px 5px!important;
	}

	.homecustomreview {
	    overflow: hidden;
	    /*height: 385px;*/
	}


	@media only screen and (min-width: 1380px){
	   
	   	.finderProducts.vertical {
		    height: 340px;
		}

	}
	@media only screen and (min-width: 1580px){
	   
	   	.finderProducts.vertical {
		    height: 380px;
		}

	}
	@media only screen and (min-width: 1680px){
	   
	   	.finderProducts.vertical {
		    height: 416px;
		}

	}
	@media only screen and (min-width: 1780px){
	   
	   	.finderProducts.vertical {
		    height: 430px;
		}

	}
	@media only screen and (min-width: 1880px){
	   
	   	.finderProducts.vertical {
		    height: 446px;
		}

	}
	@media only screen and (min-width: 2280px){
	   
	   	.finderProducts.vertical {
		    height: 566px;
		}

	}
    @media (min-width: 320px) and (max-width: 768px) {
        .right-slider {display: none;}
    }

</style>
<script type="text/javascript">
	require([
	    'jquery',
	    'OM_Rewrite/js/bxslider'
	], function ($, bxslider) {
	    $(document).ready(function(){
			$('.wrapper').find('a[href="#"]').on('click', function (e) {
			    e.preventDefault();
			    this.expand = !this.expand;
			    $(this).text(this.expand?"read less":"read more");
			    $(this).closest('.wrapper').find('.small, .big').toggleClass('small big');
			});
	    });

		$(".homecustomreview").bxSlider({
			mode: 'vertical',
			minSlides: 4,
			slideMargin: 15,
			auto:true,
			autoHover: true,
			speed: 1000,
			pause:10,
			moveSlides:1,
			controls:false,
			pager:false,
			infiniteLoop:true,
			hideControlOnEnd:true
		});
	});
</script>
