<?php 
//Best seller
		
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();


  

$productCollection = $objectManager->create('Magento\Reports\Model\ResourceModel\Report\Collection\Factory');
$collection = $productCollection->create('Magento\Sales\Model\ResourceModel\Report\Bestsellers\Collection');

$collection->setPeriod('month');
//$collection->setPeriod('year');
//$collection->setPeriod('day');

$bestarray=array();
$dealarray=array();
$resultarray=array();


if(!empty($collection)) {  
	foreach ($collection as $item) {
	   $product=$item->getData();
	   $product_id=$product['product_id'];
	   $bestarray[]=$product_id;
	}
} 

/* echo "<pre>";
	print_r($bestarray);
echo "</pre>"; */


// Daily Deals


$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$helper = $objectManager->create('Smartwave\Dailydeals\Helper\Data');


$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollection->create()
			->addAttributeToSelect('*')
			->load();

foreach ($collection as $product){
	
	if($helper->isDealProduct($product->getId()))
	{
		$dealarray[]=$product->getId();	
	} 
	
} 


/* echo "<pre>";
	print_r($dealarray);
echo "</pre>"; */
 
$resultarray = array_values(array_intersect($bestarray, $dealarray));
/* echo "<pre>";
	print_r($resultarray);
echo "</pre>"; */
if(!empty($resultarray))
{
	$finalarray=$resultarray;
}
else
{
	$finalarray=$dealarray;
}

//$finalarray=$dealarray;   

if(!empty($finalarray))
{
	?>
	<div class="row">
		<?php
		$i=1;
		foreach($finalarray as $row)
		{
			if($i<=6) {
			$prod_id=$row[0];
			
			
			
			$product_id=$prod_id;
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$product = $objectManager->get('Magento\Catalog\Model\Product')->load($product_id);
			
			$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();

			$productImageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
			$productUrl  = $product->getProductUrl();
			
			                          $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

									$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product->getId());

									$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');

									$image_urls = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(200, 200)->getUrl();
									?>
		
			<div class="col-lg-4"> 
				<a href="<?php echo $productUrl; ?>"><strong><span><?php echo $product->getName(); ?></span></strong> 
					<img src="<?php echo $image_urls; ?>" alt="<?php echo $product->getName(); ?>" />
				</a>
			</div>
		<?php
			}     
		$i++;
		} 
		?>
	</div>
	<?php
}
else
{	
?>
<div class="row">
<p>No Deals for now</p>
</div>
<?php
}
?>



		