<?php 
//Best seller
	
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mode = 'grid';
$title = __('HOT TRENDING');
	$type = 'widget-bestseller-grid';
	$image = 'bestseller_products_content_widget_grid';
/* $productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollectionFactory->create();
$collection->addAttributeToSelect('*');
$collection->addAttributeToFilter('universalparts',56);
$collection->setPageSize(15); 
// selecting only 3 products
 $collection->setOrder('position','DESC'); 
$collection->load();
 */
 
 
$now = date('Y-m-d H:i:s');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collectionfirst =$objectManager->create('Magento\Catalog\Model\Product')->getCollection();            
$collectionfirst->addAttributeToSelect('special_from_date')
->addAttributeToSelect('special_to_date')
->addAttributeToFilter('special_price', ['neq' => ''])
->addAttributeToFilter(
		'special_from_date',
		['lteq' => date('Y-m-d H:i:s', strtotime($now))]
	)

 ->addAttributeToFilter(
		'special_to_date',
		['gteq' => date('Y-m-d H:i:s', strtotime($now))]

);
$excitingDeals = $collectionfirst->getData();



foreach ($excitingDeals as $product){
	$ex_product[]=$product['entity_id'];
}	

$ex_product;
 
 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$categoryId = 61;
//$category = $objectManager->create('Magento\Catalog\Model\Category')
		
		$now = date('Y-m-d H:i:s');  
		$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
     
		$collection = $productCollection->create()
                    ->addAttributeToSelect('*')
                   ->addAttributeToFilter('special_price', ['neq' => ''])
					//->addCategoriesFilter(array('in' => $categoryId))
					->setPageSize(2)
					->setOrder('position','DESC')
					 ->addAttributeToFilter('status', array('eq' => 1)) 
                    ->load(); 
		
					
				  	
			
		
					
					
/*  $now = date('Y-m-d');
$productCollectionFactory = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$objectManager->get('\Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollectionFactory->create();
$collection =$objectManager->create('Magento\Catalog\Model\Product')->getCollection();    */         
           // $collectionfirst->addAttributeToSelect('special_from_date')
			  //->addCategoriesFilter(['in' => $categoryId])
           // ->addAttributeToSelect('special_to_date')
          /*    $collection->addAttributeToFilter('special_price', ['neq' => '']); */
            /* ->addAttributeToFilter(
                    'special_from_date',
                    ['lteq' => date('Y-m-d H:i:s', strtotime($now))]
                )

             ->addAttributeToFilter(
                    'special_to_date',
                    ['gteq' => date('Y-m-d H:i:s', strtotime($now))]

            );   */
		/* 	$collection->setOrder('position','DESC'); 
               $collection->setPageSize(15);
			  $collection->addAttributeToFilter('status', array('eq' => 1));  */
           // $temp = $collectionfirst->getData();
			/* echo "<pre>";
			print_r($temp); */
// selecting only 3 products
 /* 
$collection->load();

			 $temp = $collection->getData();
			echo "<pre>";
			print_r($temp); 
			  */
/* productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
$collection = $productCollection->create()
            ->addAttributeToSelect('*')
			->addAttributeToFilter('universalparts',56)
            ->addAttributeToSort('created_at', 'DESC')
            ->setPageSize(8)
            ->load(); */

		/*Slider */
		$view = "grid";
		$class = "bestsold-sliders ed1 owl-carousel products-".$mode;
		
		
		//---- get product count with special price
		$i = 0;
		foreach ($collection as $product){
			
			
				$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
				$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
				$specialprice = $product->getSpecialPrice();
				$orgprice = $product->getPrice();
				
				$specialfromdate = $product->getSpecialFromDate();
				$specialtodate = $product->getSpecialToDate();
				$today = time();
				
				$productId=$product->getId();
				if(!empty($ex_product)){
				if(in_array($productId, $ex_product)) 
				{
					$i++;
				}
				} 
				
					
		}
		
		
		if($i>0){
			// echo 'Hello';
			// echo $i;
		?>
	
		 <section class="post-sections-list product_slider_item baljitt">
    <div class="container"> 
		<div class="row"> 
		<div class="col-12">
		<?php if($view=="grid"){ ?>
		<div class="row m-0 justify-content-between align-items-center title-content">
		<h2 class="sectionproducts-titles">Exciting deals</h2>		
		<!-- https://dev.idsil.com/design/excitingdeals -->
		<?php 
		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$customerSession = $objectManager->get('Magento\Customer\Model\Session');
		if($customerSession->isLoggedIn()) {
		   // customer login action
		   $customer_login = 1;
		}else{
			$customer_login = 0;
		}
		 //echo $block->getUrl('customer/account/login');
		?>
		
		
		
		<a href="<?php echo $block->getBaseUrl().'home-appliances/water-purifier.html'; ?>">View All</a>
		
		<p class="mobile-only sectionproducts-subtitles">30 days best prices Limited Time Only</p>
		</div>
		<?php } ?>   
		<div class="grid-section-carousel">		
			<div class="row m-0">
				<div class="col-md-2 blue-gradient">
				<div class="row m-0 h-100 align-items-center">
					<div class="backacces"> 
						<h1>exciting deals</h1>
						<p>30 days best prices Limited Time Only</p>
					</div>
					</div>
				</div> 
				<div class="col-md-10">		  
					<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">	
						<div class="block-content">
							<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
							<div class="<?php echo $class ?>  <?php /* @escapeNotVerified */ echo $mode; ?>">
								<?php if($view=="list"){ ?>
									<ol class="products list items product-items ">
								<?php } ?>
								<?php
									$iterator = 1;
									foreach ($collection as $product):
									$productId=$product->getId();
									if(!empty($ex_product)){
									if(in_array($productId, $ex_product)) 
									{
									$specialprice = $product->getSpecialPrice();
									$orgprice = $product->getPrice();
									
									$specialfromdate = $product->getSpecialFromDate();
									$specialtodate = $product->getSpecialToDate();
									$today = time();
									if ($specialprice!='')
									{
										if ($specialprice < $orgprice) 
										{
											if(($specialfromdate!='') && ($specialtodate!='')) 
											{
												if (($today >= strtotime($specialfromdate)) && ($today <= strtotime($specialtodate)))
												{
									
									if(!empty($product->getName())){
									 ?>
								<?php 
									if($view=="list"){ 
										echo($iterator++ == 1) ? '<li class="best-seller-prd product-item">' : '</li><li class="best-seller-prd product-item">';
									} 
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

									$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);

									$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');

									$image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(200, 200)->getUrl();
									?>
								
				 						<div class="item">
											<div class="product-item-info">
											
												<a href="<?php echo $product->getProductUrl(); ?>" class="product-item-photo">
											
											<img class="product-image-photo default_image" src="<?php echo $image_url;?>" alt="<?php echo $product->getName(); ?>" />
											</a>
											<!--<button class="carousel-add-wishlist" name="add-to-wishlist" onclick="addProductToWishlist()">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
											</button>-->
											<?php
												$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');

												if($wishlistHelper->isAllow()){

													$wishlistCollection = $wishlistHelper->getWishlistItemCollection(); 
													
													foreach ($wishlistCollection as $_wishlist_item) {
													   $in_wishlist = false;
													   if ($product->getId() == $_wishlist_item->getProduct()->getId()) {
														   $in_wishlist = true; 
														   break;
													   }
													}
												// echo $in_wishlist;
												
													if(!empty($in_wishlist) && $in_wishlist){
														$class="in_wishlist";
														 }else{
														$class="not_in_wishlist";
													 } 
												 } 
											?>

		<?php
				/** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
				$wishlist_block = $objectManager->create('\Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist');

				if ($wishlist_block->isWishListAllowed()) { 
				
					$wishlistdata=$this->helper('Magento\Wishlist\Helper\Data')->getWishlistItemCollection();

					$customerSession = $objectManager->get('Magento\Customer\Model\Session');
		?>
					<!--<a href="#" class="carousel-add-wishlist action towishlist <?php echo $class; ?> actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>" title="<?php echo $wishlist_block->escapeHtml(__('Add to Wish List')); ?>" aria-label="<?php echo $wishlist_block->escapeHtml(__('Add to Wish List')); ?>"	   data-post='<?php echo $wishlist_block->getAddToWishlistParams($product); ?>' data-action="add-to-wishlist" role="button">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</a>-->
					<?php
					//$customerSession = $objectManager->create('Magento\Customer\Model\Session');
					if ($customerSession->isLoggedIn()) {
						?>
						<button class="carousel-add-wishlist <?php echo $class; ?>" name="add-to-wishlist" onclick="addProductToWishlist(<?php echo $product->getId(); ?>)"> <i  class="fa fa-heart-o" aria-hidden="true"></i></button> 
						<?php
					}else{
						?>
						<a href="<?php echo $this->getUrl('customer/account/login'); ?>" class="carousel-add-wishlist <?php echo $class; ?>" > <i  class="fa fa-heart-o" aria-hidden="true"></i></a>
						<?php
					}?>
					
					
					
		<?php	 }  	?>

					<!--<a href="#" class="<?php echo $class; ?> carousel-add-wishlist" title="Add to Wish List" aria-label="Add to Wish List" data-post='<?php echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="action towishlist" data-action="add-to-wishlist">
						<i class="fa fa-heart-o" aria-hidden="true"></i>
					</a>-->
											
                                          <?php $productId = json_decode($block->getWishlistParams(), true)['data']['product']; ?>
											<div class="product-item-details">
												<strong class="product-item-name">
													<!-- <a title=""
													href="<?php echo $product->getProductUrl(); ?>"
													class="product-item-link">
														<?php
														$productName = $product->getName(); 
														$len = strlen($productName);
														?>
													</a> -->
													
												
													<a class="product-item-link" href="<?php echo /* @escapeNotVerified */ $product->getProductUrl() ?>">
												
												
												
												<?php //echo $product->getId();   ?>
												<?php  echo substr($productName,0,70); ?>
												<?php if($len > 70) echo '...';  ?>
														 
														 
												</a>
												</strong>
												 <div class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?> </div>

												<?php
												$type = 'widget-bestseller-grid';
												echo $this->getProductPriceHtml($product, $type);
												
												?> 
												
												  <?php 
								$objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
								$blockList = $objectManagerr->get('Magento\Catalog\Block\Product\ListProduct'); 

								$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
								echo $blockList->getReviewsSummaryHtml($product, $templateType,true);
					?>
											</div>    
											</div>    
										</div> 
										<?php 
											if($view=="list"){ 
												echo($iterator == count($fetProdCollection)+1) ? '</li>' : '' ;
											} 
										?>
									<?php } } } } } } } ?>
									<?php endforeach ?>
								<?php if($view=="list"){ ?>
									</ol>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		</div>
		</div>
		  </div>
</section>
		<script type="text/javascript">
        require([
           'jquery',
           'owl.carousel/owl.carousel.min'
        ], function ($) { 
			
			$(".bestsold-sliders").owlCarousel({
				autoplay: false,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: false,
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
				dots: false,
				responsive: {
				   0: {
					 items:2 
				   },
				   640: {
					 items:2 
				   },
				   768: {
					 items:2
				   },
				   992: {
					 items:3
				   },
				   1200: {
					 items:4
				   }
				 }
			   });
		   
		});
       </script> 
<?php } ?>	