<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
     
$categoryCollection = $objectManager->get('\Magento\Catalog\Model\ResourceModel\Category\CollectionFactory');
$categories = $categoryCollection->create();
$categories->addAttributeToSelect('*');

 
/* foreach ($categories as $category) {
    //print_r($category->getData());
    echo $category->getName() . '<br />';
} */
 
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categories = $categoryHelper->getStoreCategories();
 
?>
<?php
$brandarray=array();
$brand_result=array();
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$collection = $productCollection->addAttributeToSelect('*')
            ->addAttributeToFilter('status', 1)
            ->addAttributeToFilter('brands', array('notnull' => true))
			 ->setPageSize(18)
            ->load();
if(!empty($collection))
{
    foreach ($collection as $product) 
    {
        //$productarray[]=$product->getId(); 
        if(!empty($product->getAttributeText('brands')))
        {   
            
            $brandarray[]=$product->getAttributeText('brands');
        }  
        
    }   
}           
if(!empty($brandarray))
{
    $brand_result=array_values(array_unique($brandarray));
    
    /* foreach($brand_result as $row)
    {
        $brand_id=$helpers->get_brand_id($row);
        $brand_text .='<option value='.$brand_id.'>'.$row.'</option>';      
    } */    
    
     
}   
              
            
            
?>           
<div class="finderProducts vertical">
    <form id="find_part_form" name="find_part_form" class="finderform" method="post" action="#">
    <input type="hidden" name="category_url"> 
    <input type="hidden" name="brand_name" value="0">
    <input type="hidden" name="model_name" value="0">
    <h3 class="finder_header">FIND MY PART</h3>
    <div id="finderDropdowns_3" class="finderDropdowns">
    <div class="form-group">
        <select name="parent_category" class="form-control" id="finder_3_7"  data-validate="{required:true}" onchange="get_category_details();"> 
            <option value="">Select Category </option>
            <?php
            $i=0;
			foreach ($categories as $category) { 
            ?>
                <option value="<?php echo $category->getId(); ?>" ><?php echo $category->getName(); ?></option> 
            <?php  
			$i++;
			} 
			?>
        </select>
    </div>
    <div class="form-group"> 
        <select name="child_category" class="form-control" id="finder_3_8" onchange="get_sub_category_details();">
            <option value="" >Select Sub category</option>
        </select>      
    </div>
    <div class="form-group">
        <select name="brand" class="form-control" id="finder_3_9" onchange="get_brand();">
            <option value="" >Select Brand</option>
            <option value="47">Panasonic</option>
            <option value="239">Rex</option>
            <option value="232">Spartan</option>
             
			<?php 
            /*
			if(!empty($brand_result))
            {    
                $data_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
                foreach($brand_result as $row)
                {
                    $brand_id=$data_helpers->get_brand_id($row);
                    ?> 
                        <option value="<?php echo $brand_id; ?>"> <?php echo $row; ?></option>        
                    <?php 
                }   
            }
			*/
            ?> 
        </select> 
    </div>
    <div class="form-group">
        <select name="model" class="form-control" id="finder_3_10"  onchange="get_model();">
            <option value="">Select Model</option>
        </select>
    </div>  
    <button id="reset_3"  name="reset" value="1" title="Reset" class="button" type="button" onclick="reset_find_part();"><span><span>Reset</span></span></button>
    <button id="find_3" type="submit" title="Submit" value="1" name="find" class="action subscribe primary" ><span>Submit</span></button>
    </div>  
      
     
    </form>
</div>
<script type="text/javascript">
require([
    'jquery',
    'mage/mage'
], function($){
    
	jQuery('select[name=parent_category]>option:first').attr('selected',true);
	jQuery('select[name=child_category]>option:first').attr('selected',true);
	jQuery('select[name=brand]>option:first').attr('selected',true);
	jQuery('select[name=model]>option:first').attr('selected',true); 
	
	 
	
    var dataForm = $('#find_part_form');
    dataForm.mage('validation', {}); 
    
    
    jQuery('button#find_3').click( function() { //can be replaced with any event
        var status = dataForm.validation('isValid'); //validates form and returns boolean
        if(status)   
        {  
            //var category=jQuery('input[name=category_url]').text(jQuery(this).val());
            //var brand=jQuery('input[name=brand_name]').text(jQuery(this).val());
            //var model=jQuery('input[name=model_name]').text(jQuery(this).val());
            
			var category=document.find_part_form.category_url.value;
			var brand=document.find_part_form.brand_name.value;
			var model=document.find_part_form.model_name.value;
			
			
			
			if(/^[a-zA-Z0-9- ]*$/.test(brand) == false) 
			{
				return false;
			}
			if(/^[a-zA-Z0-9- ]*$/.test(model) == false) 
			{
				return false;
			}
			
			
			
			//alert(category); 
			//alert(brand);
			
			//return false;
            window.location.href=decodeURIComponent(category+"?brands="+brand+"&model="+model);
			return false; 
        }  
    });      
         
    
});
function get_category_details()
{
        
		
    var parent_cat=jQuery('select[name=parent_category]').val();
    jQuery('select[name=child_category]').empty().append('<option value="">Select  Sub category</option>');
    
    jQuery('select[name=model]').empty().append('<option value="">Select Model</option>');
    if(parent_cat!='') 
    { 
        jQuery.ajax({        
            type: "POST",     
            dataType: 'json',
            url: "<?php echo $this->getUrl().'customuser/index/findparts'?>",    
            data: "action=catType=1&cat_id="+parent_cat, 
            showLoader: true, 
            success: function(result)       
            {            
                jQuery('input[name=category_url]').val(result.cat_url);    
                jQuery('select[name=child_category]').empty().append(result.sub_cat);   
                
                jQuery('select[name=model]').empty().append(result.model);   
            },                   
            error: function(e)    
            {   
                console.log(e); 
            }       
        });            
    } 
    
    
        
}    
function get_sub_category_details()
{  
		
    var parent_cat=jQuery('select[name=child_category]').val();
    
    jQuery('select[name=model]').empty().append('<option value="">Select Model</option>');
    if(parent_cat!='')    
    { 
        jQuery.ajax({        
            type: "POST",     
            dataType: 'json',
            url: "<?php echo $this->getUrl().'customuser/index/findparts'?>",    
            data: "action=catType=1&cat_id="+parent_cat, 
            showLoader: true, 
            success: function(result)       
            {            
                jQuery('input[name=category_url]').val(result.cat_url);    
                
                jQuery('select[name=model]').empty().append(result.model);   
            },                   
            error: function(e)    
            {   
                console.log(e); 
            }        
        });           
    }
    else
    {
        get_category_details(); 
    }
    
}     
function get_brand()    
{
    var brand=jQuery('select[name=brand]').val();   
    if(brand!='')
    {
        jQuery('input[name=brand_name]').val(brand);    
    }   
}    
function get_model() 
{
    var model=jQuery('select[name=model]').val();   
    if(model!='')
    {
        jQuery('input[name=model_name]').val(model);    
    }        
}    
function reset_find_part()
{
    jQuery('select[name=parent_category]>option:eq(0)').attr('selected',true);
    jQuery('select[name=child_category]').empty().append('<option value="">Select  Sub category</option>');
   
    jQuery('select[name=model]').empty().append('<option value="">Select Model</option>');    
}        
   
</script>
  