<?php
$mode = 'grid';
$title = __('HOT TRENDING');
	$type = 'widget-bestseller-grid';
	$image = 'bestseller_products_content_widget_grid';
/*
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
 
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');
 
$categoryId = 4; // YOUR CATEGORY ID
$category = $categoryFactory->create()->load($categoryId);
 
$categoryProducts = $category->getProductCollection()
                             ->addAttributeToSelect('*');
                             
foreach ($categoryProducts as $product) {
    //print_r($product->getData());
    // printing category name and url
    echo $product->getId() . ' - '  . $product->getName() . ' - ' . $product->getProductUrl() . '<br />';
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productCollection = $objectManager->create('Magento\Reports\Model\ResourceModel\Report\Collection\Factory'); 
$collection = $productCollection->create('Magento\Sales\Model\ResourceModel\Report\Bestsellers\Collection'); 

$collection->setPeriod('year');
//$collection->setPeriod('month');
//$collection->setPeriod('day');

foreach ($collection as $item) {
	
    $newId = $item->getData();
	echo $newId['product_id'];
	
	;
}
*/

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$customerSession = $objectManager->get('Magento\Customer\Model\Session');

        //$appState = $objectManager->get('\Magento\Framework\App\State');
        //$appState->setAreaCode('frontend');
        
        
        
        
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

       /*  $productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
         $catalog_ids = [3,5,7];  
        $collection = $productCollection->create()
                    ->addAttributeToSelect('*')
                    ->addAttributeToFilter('sw_featured', 1)
					->addCategoriesFilter(array('in' => $catalog_ids))
					->setPageSize(15)
					
                    ->load(); 
					 */
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');

$scopeConfig = $objectManager->get('\Magento\Framework\App\Config\ScopeConfigInterface');
$pIds = $scopeConfig->getValue('mobilepopup/homepagecarousel/functional_parts');
if($pIds) {
	$_pIds = explode(',', $pIds);
	$collection = $productCollection->addAttributeToSelect('*')
					->addFieldToFilter('entity_id', array('in' => $_pIds));
	$collection->getSelect()->order(new \Zend_Db_Expr("FIELD(entity_id, $pIds)"));
	$collection->load();
} else {
	$collection = $productCollection->addAttributeToSelect('*')
					->addAttributeToFilter('part_type', '234') 
					->addAttributeToSort('updated_at', 'DESC') 
					->addAttributeToFilter('status',\Magento\Catalog\Model\Product\Attribute\Source\Status::STATUS_ENABLED)
					->setPageSize(10) 
					->load();
}

						 
/* 
        foreach ($collection as $product){
            echo $product->getName().'-'.$product->getId().'<br>';
        }
		
		
		
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');

$catalog_ids = [4,3,31]; 
<!--https://dev.idsil.com/gms/catalogsearch/advanced/result/?name=&part_type%5B%5D=234-->

$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
  
$collection = $productCollection->create()

->addAttributeToSelect('*')
->addCategoriesFilter(array('in' => $catalog_ids))
->addAttributeToFilter('status', '1')
 ->setOrder('ordered_qty', 'desc')
  ->setPageSize(15)
 ->load(); 
  */
/*Slider */ 
		$view = "grid";
		$class = " owl-carousel products-".$mode;
		?>
		<div class="row" <?php if(empty($collection->getData())) { ?> style="display:none;" <?php } ?>>
		<div class="col-12">
		<?php if($view=="grid"){ ?>
			<div class="row m-0 justify-content-between align-items-center">
		<h2 class="sectionproducts-titles">Functional Parts</h2> 
		
		<a href="<?php echo $block->getBaseUrl().'consumer-electronics-spare-parts'; ?>"> View All</a>
		<p class="mobile-only sectionproducts-subtitles">30 days best prices Limited Time Only</p>
		</div>
		
		<?php } ?>   
		<div class="grid-section-carousel">		
			<div class="row m-0">
				<div class="col-md-2 orange-gradient">
				<div class="row m-0 h-100 align-items-center">
					<div class="backacces"> 
                        <h1><a href="<?php echo $block->getBaseUrl() . 'consumer-electronics-spare-parts'; ?>">Functional Parts</a></h1> 
					</div>
					</div>
				</div>
				<div class="col-md-10">		  
					<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">	
						<div class="block-content">
							<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
							<div id="accesss" class="<?php echo $class ?>  <?php /* @escapeNotVerified */ echo $mode; ?>">
								<?php if($view=="list"){ ?>
									<ol class="products list items product-items ">
								<?php } ?>
								<?php
									$iterator = 1;
									foreach ($collection as $product):
									
									
									
									 if(!empty($product->getName())){
									 ?>
								<?php 
									if($view=="list"){ 
										echo($iterator++ == 1) ? '<li class="best-seller-prd product-item">' : '</li><li class="best-seller-prd product-item">';
									} 
					              /*$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

									$_product = $objectManager->get('Magento\Catalog\Model\Product')->load($product->getId());

									$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');

									$image_url = $imageHelper->init($_product, 'product_page_image_small')->setImageFile($_product->getFile())->resize(200, 200)->getUrl();*/
									$image_url = $this->helper('Magento\Catalog\Helper\Image')
				                    ->init($product, 'product_page_image_small')
				                    ->constrainOnly(true)
				                    ->keepAspectRatio(true)
				                    ->keepTransparency(true)
				                    ->keepFrame(false)
				                    ->resize(200, 200)->getUrl();
									?>
										<?php if($product->getData('small_image')):?>
										<div class="item">
											<div class="product-item-info">
										
											<a href="<?php echo $product->getProductUrl(); ?>" class="product-item-photo">
											<img class="product-image-photo default_image" src="<?php echo $image_url;?>" alt="<?php echo  $product->getName();?>" />
											</a>
											<!-- <button class="carousel-add-wishlist" name="add-to-wishlist" onclick="addProductToWishlist()">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
												<img src="<?php echo $this->getViewFileUrl('images/Heart-Icon-Outline.svg'); ?>" alt="Add to wishlist" /> 
											</button>-->
											<?php
												$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');

												if($wishlistHelper->isAllow()){

													$wishlistCollection = $wishlistHelper->getWishlistItemCollection(); 
													
													foreach ($wishlistCollection as $_wishlist_item) {
													   $in_wishlist = false;
													   if ($product->getId() == $_wishlist_item->getProduct()->getId()) {
														   $in_wishlist = true; 
														   break;
													   }
													}
												// echo $in_wishlist;
												
													if(!empty($in_wishlist) && $in_wishlist){
														$class="in_wishlist";
														 }else{
														$class="not_in_wishlist";
													 } 
												 } 
											?>
											<!--<a class="<?php echo $class; ?> carousel-add-wishlist" href="#" data-post='<?php echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>'  data-action="add-to-wishlist">
												<i class="fa fa-heart-o" aria-hidden="true"></i>
												
											</a>-->
											
											<?php
											if ($customerSession->isLoggedIn()) {
												?>
												<button class="carousel-add-wishlist <?php echo $class; ?>" name="add-to-wishlist" onclick="addProductToWishlist(<?php echo $product->getId(); ?>)"> <i  class="fa fa-heart-o" aria-hidden="true"></i></button> 
												<?php
											}else{
												?>
												<a href="<?php echo $this->getUrl('customer/account/login'); ?>" class="carousel-add-wishlist <?php echo $class; ?>" > <i  class="fa fa-heart-o" aria-hidden="true"></i></a>
												<?php
											}?>
											
											
                                          <?php $productId = json_decode($block->getWishlistParams(), true)['data']['product']; ?>
											<div class="product-item-details">
												<strong class="product-item-name">
													<a title=""
													href="<?php echo $product->getProductUrl(); ?>"
													class="product-item-link">
														<?php echo $product->getName(); ?>
													</a>
												</strong> 
												 <div class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?> </div>

												<?php
												$type = 'widget-bestseller-grid';
												echo $this->getProductPriceHtml($product, $type);
												
												?> 
												
												  <?php 
								$objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
								$blockList = $objectManagerr->get('Magento\Catalog\Block\Product\ListProduct'); 

								$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
								echo $blockList->getReviewsSummaryHtml($product, $templateType,true);
					?>
											</div>    
											</div>    
										</div> 
									<?php endif;?>
										<?php 
											if($view=="list"){ 
												echo($iterator == count($fetProdCollection)+1) ? '</li>' : '' ;
											} 
										?>
										<?php } ?>
									<?php endforeach ?>
								<?php if($view=="list"){ ?>
									</ol>
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		</div>

		</div>
		<script type="text/javascript">
       
        require([
           'jquery',
           'owl.carousel/owl.carousel.min'
        ], function ($) { 
			
			$("#accesss").owlCarousel({
				autoplay: false,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: false, 
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
				dots: false,
				responsive: {
				   0: {
					 items:2
				   },
				   640: {
					 items:2 
				   },
				   768: {
					 items:2
				   },
				   992: {
					 items:3
				   },
				   1200: {
					 items:4
				   }
				 }
			   });
		   
		});
     
       </script> 
	 
	 