<?php
$mode = 'grid';
$title = __('HOT TRENDING');
	$type = 'widget-bestseller-grid';
	$image = 'bestseller_products_content_widget_grid';
/*
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
 
$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');
 
$categoryId = 4; // YOUR CATEGORY ID
$category = $categoryFactory->create()->load($categoryId);
 
$categoryProducts = $category->getProductCollection()
                             ->addAttributeToSelect('*');
                             
foreach ($categoryProducts as $product) {
    //print_r($product->getData());
    // printing category name and url
    echo $product->getId() . ' - '  . $product->getName() . ' - ' . $product->getProductUrl() . '<br />';
}
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$productCollection = $objectManager->create('Magento\Reports\Model\ResourceModel\Report\Collection\Factory'); 
$collection = $productCollection->create('Magento\Sales\Model\ResourceModel\Report\Bestsellers\Collection'); 

$collection->setPeriod('year');
//$collection->setPeriod('month');
//$collection->setPeriod('day');

foreach ($collection as $item) {
	
    $newId = $item->getData();
	echo $newId['product_id'];
	
	;
}
*/

$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');

        //$appState = $objectManager->get('\Magento\Framework\App\State');
        //$appState->setAreaCode('frontend');
        
        
        
        
        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

        $productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
         $catalog_ids = [4,3,31]; 
        $collection = $productCollection->create()
                    ->addAttributeToSelect('*')
                    ->addAttributeToFilter('sw_featured', 1)
					->addCategoriesFilter(array('in' => $catalog_ids))
					->setPageSize(15)
					
                    ->load(); 
/* 
        foreach ($collection as $product){
            echo $product->getName().'-'.$product->getId().'<br>';
        }
		
		
		
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');

$catalog_ids = [4,3,31]; 


$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\CollectionFactory');
  
$collection = $productCollection->create()

->addAttributeToSelect('*')
->addCategoriesFilter(array('in' => $catalog_ids))
->addAttributeToFilter('status', '1')
 ->setOrder('ordered_qty', 'desc')
  ->setPageSize(15)
 ->load(); 
  */
/*Slider */
		$view = "grid";
		$class = " owl-carousel products-".$mode;
		?>
		<div class="row">
			<div class="col-12">
				<?php if($view=="grid"){ ?>
					<div class="row m-0 justify-content-between align-items-center">
						<h2 class="sectionproducts-titles">Functional Parts</h2>
						<a href="javascript:void(0);">View All</a>
						<p class="mobile-only sectionproducts-subtitles">30 days best prices Limited Time Only</p>
					</div>
				<?php } ?>   
				<div class="grid-section-carousel">		
					<div class="row m-0">
						<div class="col-md-2 lightgreen-gradient">
							<div class="row m-0 h-100 align-items-center">
								<div class="backacces"> 
									<h1>Functional Parts</h1> 
								</div>
							</div>
						</div>
						<div class="col-md-10">		  
							<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">	
								<div class="block-content">
									<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
									<div id="accesss" class="<?php echo $class ?>  <?php /* @escapeNotVerified */ echo $mode; ?>">
										<?php if($view=="list"){ ?>
										<ol class="products list items product-items ">
											<?php } ?>
											<?php
											$iterator = 1;
											foreach ($collection as $product):
											if(!empty($product->getName())){
											?>
											<?php 
											if($view=="list"){ 
												echo($iterator++ == 1) ? '<li class="best-seller-prd product-item">' : '</li><li class="best-seller-prd product-item">';
											} 
											$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
											$imageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage();
											?>
											<div class="item">
												<div class="product-item-info">
													<a href="<?php echo $product->getProductUrl(); ?>" class="product-item-photo">
														<img class="product-image-photo default_image" src="<?php echo $imageUrl;?>" alt="" />
													</a>
													<!-- <button class="carousel-add-wishlist" name="add-to-wishlist" onclick="addProductToWishlist()">
														<i class="fa fa-heart-o" aria-hidden="true"></i>
														<img src="<?php echo $this->getViewFileUrl('images/Heart-Icon-Outline.svg'); ?>" alt="Add to wishlist" /> 
													</button>-->
													<?php
													$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');

													if($wishlistHelper->isAllow()){

														$wishlistCollection = $wishlistHelper->getWishlistItemCollection(); 

														foreach ($wishlistCollection as $_wishlist_item) {
															$in_wishlist = false;
															if ($product->getId() == $_wishlist_item->getProduct()->getId()) {
																$in_wishlist = true; 
																break;
															}
														}
														// echo $in_wishlist;
														
														if(!empty($in_wishlist) && $in_wishlist){
															$class="in_wishlist";
														}else{
															$class="not_in_wishlist";
														} 
													} 
													?>
													<a "<?php echo $class; ?> carousel-add-wishlist" href="#" data-post='<?php echo $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($product) ?>' class="action towishlist" data-action="add-to-wishlist">
														<i class="fa fa-heart-o" aria-hidden="true"></i>
														
													</a>
													<?php $productId = json_decode($block->getWishlistParams(), true)['data']['product']; ?>
													<div class="product-item-details">
														<strong class="product-item-name">
															<a title=""
															href="<?php echo $product->getProductUrl(); ?>"
															class="product-item-link"><?php echo $product->getName(); ?></a>
														</strong>
														<span class="hm-price">
															<?php echo $abstractProductBlock->getProductPrice($product) ?> 
															<?php
															$specialprice = $product->getSpecialPrice();
															$specialPriceFromDate = $product->getSpecialFromDate();
															$specialPriceToDate = $product->getSpecialToDate();    
															$today = time();
															$price = $product->getPrice();
															if($price){
																$sale = round((($price-$specialprice)/$price)*100);
															}
															if ($specialprice) {
																if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
															<span class="percentage-price sale-product-icon">
																<?php if($sale) { echo $sale.'%'.' Off'; } else {echo __('Sale');} ?>
															</span> 

															<?php }	}?>
														</span>
														<?php
														$type = 'widget-bestseller-grid';
														echo $this->getProductPriceHtml($product, $type);
														?> 
														<?php 
														$objectManagerr = \Magento\Framework\App\ObjectManager::getInstance();
														$blockList = $objectManagerr->get('Magento\Catalog\Block\Product\ListProduct'); 

														$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
														echo $blockList->getReviewsSummaryHtml($product, $templateType,true);
														?>
													</div>    
												</div>    
											</div> 
											<?php 
											if($view=="list"){ 
												echo($iterator == count($fetProdCollection)+1) ? '</li>' : '' ;
											} 
											?>
											<?php } ?>
											<?php endforeach ?>
											<?php if($view=="list"){ ?>
										</ol>
										<?php } ?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
       
        require([
           'jquery',
           'owl.carousel/owl.carousel.min'
        ], function ($) { 
			
			$("#accesss").owlCarousel({
				autoplay: true,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: false, 
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
				dots: false,
				responsive: {
				   0: {
					 items:2
				   },
				   640: {
					 items:2 
				   },
				   768: {
					 items:2
				   },
				   992: {
					 items:3
				   },
				   1200: {
					 items:4
				   }
				 }
			   });
		   
		});
     
       </script> 
	 
	 