<div class="row footer_top_custom_block footerIcons" style="text-align: center;">
    <div class="col-12 col-sm-6 col-md-3">
	<?php
	$fb = $this->getConfig("sw_socialfeeds/facebook_fanboxs");
		echo "<pre>";
		print_r($fb);
		
		?>
<div class="footer-top-content-box">
        <div class="icon">
		<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Card Security.svg'); ?>' alt="image-icon" >
		</div>
        <div class="block-title"><span>100% Secure Payment</span></div>
        <p>In publishing and graphic design, lorem ipsum</p>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="footer-top-content-box">
        <div class="icon"><img src="https://image.shutterstock.com/image-vector/secured-credit-card-icon-app-450w-344724818.jpg"></div>
        <div class="block-title"><span>100% Secure Payment</span></div>
        <p>In publishing and graphic design, lorem ipsum</p>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="footer-top-content-box">
        <div class="icon"><img src="https://image.shutterstock.com/image-vector/secured-credit-card-icon-app-450w-344724818.jpg"></div>
        <div class="block-title"><span>100% Secure Payment</span></div>
        <p>In publishing and graphic design, lorem ipsum</p>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-3">
<div class="footer-top-content-box">
        <div class="icon"><img src="https://image.shutterstock.com/image-vector/secured-credit-card-icon-app-450w-344724818.jpg"></div>
        <div class="block-title"><span>100% Secure Payment</span></div>
        <p>In publishing and graphic design, lorem ipsum</p>
    </div>
</div>
</div>