<?php 
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
        
	$mediaUrl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
				->getStore()
				->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA).'mageplaza/bannerslider/banner/image/';
	
	
	$sql = "SELECT a.*,b.* FROM `mageplaza_bannerslider_banner_slider` as a inner join mageplaza_bannerslider_banner as b on a.banner_id=b.banner_id where a.slider_id=4 AND b.status=1 ORDER BY a.position ASC";
	$result = $connection->fetchAll($sql);
	
    $i=1;    
	foreach($result as $row){ 
		//print_r($row);
		$newIamge = $row['image'];
		$newtitle = $row['title'];
		$url_banner = $row['url_banner'];
		$url_status = $row['status'];
		if($url_status==1){
		?>
			<div class="col-6">
				<div class="panel mat">
					<a rel="noopener noreferrer" href="<?php echo $url_banner;?>" class="btn btn-blue-gradiant">
						<img src="<?php echo $mediaUrl.$newIamge;?>" alt="<?php echo $newtitle; ?> " />
					</a>
				</div>
			</div>  
			<?php 
	    } 
} ?> 
