<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mode = 'grid';
$title = __('HOT TRENDING');
$type = 'widget-bestseller-grid';
$image = 'bestseller_products_content_widget_grid';

$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
						  
$productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
$view = "grid";
$class = " owl-carousel products-".$mode;

$resource   = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

$storeManager  = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$storeID       = $storeManager->getStore()->getStoreId(); 

if ($customerSession->isLoggedIn()) {
	$custId = $customerSession->getData('customer_id');
	$tQuery = "SELECT cs.product_id,added_at FROM `report_viewed_product_index` rv LEFT JOIN cataloginventory_stock_item cs ON rv.product_id=cs.product_id 
	LEFT JOIN catalog_product_entity_int cpei ON rv.product_id=cpei.entity_id
	WHERE cpei.value=1 AND cpei.attribute_id=97 AND cpei.store_id=0 AND cs.qty>0 AND cs.is_in_stock=1 AND `customer_id` = ".$custId." ORDER BY added_at DESC LIMIT 12";
}else{
	$tQuery = "SELECT cs.product_id,qty_ordered FROM `sales_bestsellers_aggregated_yearly` rv LEFT JOIN cataloginventory_stock_item cs ON rv.product_id=cs.product_id 
	LEFT JOIN catalog_product_entity_int cpei ON rv.product_id=cpei.entity_id
	WHERE cpei.value=1 AND cpei.attribute_id=97 AND cpei.store_id=0 AND cs.qty>0 AND cs.is_in_stock=1 AND rv.`store_id` = ".$storeID." ORDER BY qty_ordered DESC LIMIT 12";	
}

$datas = $connection->fetchAll($tQuery);
$count = count($datas);
$listArr = array();
foreach($datas as $data){
	$listArr[] = $data['product_id'];	
}
if( $count < 5 ){
	$tQuery = "SELECT cs.product_id,qty_ordered FROM `sales_bestsellers_aggregated_yearly` rv LEFT JOIN cataloginventory_stock_item cs ON rv.product_id=cs.product_id 
	LEFT JOIN catalog_product_entity_int cpei ON rv.product_id=cpei.entity_id
	WHERE cpei.value=1 AND cpei.attribute_id=97 AND cpei.store_id=0 AND cs.qty>0 AND cs.is_in_stock=1 AND rv.`store_id` = ".$storeID." ORDER BY qty_ordered DESC LIMIT 6";	
	$datas = $connection->fetchAll($tQuery);
	foreach($datas as $data){
		$listArr[] = $data['product_id'];	
	}
}
?>
	 
 <section class="post-sections-list product_slider_item baljitt">
    <div class="container">
		<div class="row">
		<div class="col-12">
		<?php if($view=="grid"){ ?>
		<div class="row m-0 justify-content-between align-items-center">
			<h2 class="sectionproducts-titles">Top Selling / Recently Viewed</h2>
		</div>
		<?php } ?>   
		<div class="grid-section-carousel">		
			<div class="row m-0">
				<div class="col-md-2 lightgreen-gradient">
				<div class="row m-0 h-100 align-items-center">
					<div class="backacces"> 
						<h1><a href="javascript:void(0);">Top Selling / Recently Viewed</a></h1>
						 
					</div>
					</div>
				</div>
				<div class="col-md-10">		  
					<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">	
						<div class="block-content">
							<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
							<div id="top_seller_id" class="<?php echo $class ?>  <?php /* @escapeNotVerified */ echo $mode; ?>">
							<?php
								$iterator = 1;
								foreach($listArr as $productId):
									/* should not use  $objectManager->get for loading prodduct in foreach caused problem for  duplcate ulr do removing  it with create @ritesh7122020*/
									// $product = $objectManager->get('Magento\Catalog\Model\Product')->load($productId);
									
									$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
									
									$imageHelper  = $objectManager->get('\Magento\Catalog\Helper\Image');
									$image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize(200, 200)->getUrl();
									?>
										<div class="item">
											<div class="product-item-info">										
											<a href="<?php echo $product->getProductUrl(); ?>" class="product-item-photo">
											<img class="product-image-photo default_image" src="<?php echo $image_url;?>" alt="<?php echo  $product->getName();?>" />
											</a>
											<?php
											$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');
											if($wishlistHelper->isAllow()){
												$wishlistCollection = $wishlistHelper->getWishlistItemCollection(); 													
												foreach ($wishlistCollection as $_wishlist_item) {
												   $in_wishlist = false;
												   if ($product->getId() == $_wishlist_item->getProduct()->getId()) {
													   $in_wishlist = true; 
													   break;
												   }
												}												
												if(!empty($in_wishlist) && $in_wishlist){
													$class="in_wishlist";
													 }else{
													$class="not_in_wishlist";
												 } 
											 } 
												  
											if ($customerSession->isLoggedIn()) {
												?>
												<button class="carousel-add-wishlist <?php echo $class; ?>" name="add-to-wishlist" onclick="addProductToWishlist(<?php echo $product->getId(); ?>)"> <i  class="fa fa-heart-o" aria-hidden="true"></i></button> 
												<?php
											}else{
												?>
												<a href="<?php echo $this->getUrl('customer/account/login'); ?>"  class="carousel-add-wishlist <?php echo $class; ?>" > <i  class="fa fa-heart-o" aria-hidden="true"></i></a>
												<?php
											}?>																			 	
											
                                          <?php $productId = json_decode($block->getWishlistParams(), true)['data']['product']; ?>
											<div class="product-item-details">
												<strong class="product-item-name">
													<a title=""
													href="<?php echo $product->getProductUrl(); ?>"
													class="product-item-link">
														<?php echo $product->getName(); ?>
													</a>
												</strong>  
												 <div class="hm-price"><?php echo $abstractProductBlock->getProductPrice($product) ?> 
											  		 </div>

												<?php
													$type = 'widget-bestseller-grid';
													echo $this->getProductPriceHtml($product, $type);												
													$blockList = $objectManager->get('Magento\Catalog\Block\Product\ListProduct'); 

													$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
													echo $blockList->getReviewsSummaryHtml($product, $templateType,true);
												?>
											</div>    
											</div>    
										</div> 
									<?php endforeach ?>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		</div>

		</div>
	 </div>
</section>
		
<script type="text/javascript"> 
require([
   'jquery',
   'owl.carousel/owl.carousel.min'
], function ($) { 	
	$("#top_seller_id").owlCarousel({
		autoplay: false,
		autoplayTimeout: 5000,
		autoplayHoverPause: true,
		loop: false,
		navRewind: true,
		margin: 0,
		nav: true,
		navText: ["<em class='porto-icon-chevron-left'></em>","<em class='porto-icon-chevron-right'></em>"],
		dots: false,
		responsive: {
		   0: {
			 items:2 
		   },
		   640: {
			 items:2 
		   },
		   768: {
			 items:2
		   },
		   992: {
			 items:3
		   },
		   1200: {
			 items:4
		   }
		 }
	   });   
});
</script> 
	 
