 
 <?php
$categoryId = 35;
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $_objectManager->create('Magento\Catalog\Model\Category')
->load($categoryId);
$newImage = $category->getImageUrl();
if(!empty($newImage))
{
?><div class="col-md-12">
   <div class="panel mats"><a class="universal-banner" href="<?php echo $category->getUrl();?>"><img src="<?php echo $category->getImageUrl() ;?>" alt="<?php echo $category->getName();?>" /></a></div></div>
   <?php
}
?>
   
             <div class="col-12">
        <h2><a href="<?php echo $category->getUrl();?>"><?php echo $category->getName();?></a></h2>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
$newone =  $helpers->min_product_price_by_category(35);
$newarray = json_decode($newone);
if($newarray->product_count!=0)
{
	 
	?>
        <p>Starting at ₹<?php echo $newarray->min_price;?></p>
		<?php
		}
		?>
       </div> 
