<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Product\Create */

$helper = $this->helper('Webkul\Marketplace\Helper\Data');
$product_hint_status = $helper->getProductHintStatus();
$currency_code = $helper->getCurrentCurrencyCode();
$currency_symbol = $helper->getCurrencySymbol();
$set=$this->getRequest()->getParam('set');
$type=$this->getRequest()->getParam('type');
$skuType = $helper->getSkuType();
$skuPrefix = $helper->getSkuPrefix();
$data = $block->getPersistentData();
$weightUnit = $helper->getWeightUnit();
if (!empty($data['set'])) {
    $set = $data['set'];
}
?>
<form action="<?php echo $block->getUrl('marketplace/product/save', ['_secure' => $this->getRequest()->isSecure()]) ?>" enctype="multipart/form-data" method="post" id="edit-product" data-form="edit-product" data-mage-init='{"validation":{}}'>
    <div class="wk-mp-design" id="wk-bodymain">
        <fieldset class="fieldset info wk-mp-fieldset">
            <div data-mage-init='{"formButtonAction": {}}' class="wk-mp-page-title legend">
                <span><?php echo __('Add Product ') ?></span> 
				<span>
                <button class="button wk-mp-btn" title="<?php echo __('Save') ?>" type="submit" id="save-btn">
                    <?php echo __('Save') ?>
                </button>
                <button class="button wk-mp-btn" title="<?php echo __('Save & Duplicate') ?>" type="button" id="wk-mp-save-duplicate-btn">
                    <?php echo __('Save & Duplicate') ?>
                </button>
				</span>
            </div>
            <?php echo $block->getBlockHtml('formkey')?>  
            <?php echo $block->getBlockHtml('seller.formkey')?>
            <input id="product_type_id" name="type" type="hidden" value="<?php echo $type?>" value="<?php echo $data['type']?>">
            <?php if (count($helper->getAllowedSets()) > 1): ?>
                <div class="field required">
                    <label class="label"><?php echo __('Attribute Set') ?>:</label>
                    <div class="control">
                        <select name="set" id="attribute-set-id" class="required-entry">
                        <?php foreach($helper->getAllowedSets() as $setval): ?>
                            <option value="<?php echo $setval['value'] ?>" <?php if($set==$setval['value']){ ?> selected="selected" <?php } ?>>
                                <?php echo $setval['label']?>
                            </option>
                        <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            <?php else: ?>
                <?php $allowedSets = $helper->getAllowedSets(); ?>
                <input type="hidden" name="set" id="attribute-set-id" value="<?php echo $allowedSets[0]['value'] ?>" />
            <?php endif; ?>

            <div class="field">
                <label class="label"><?php echo __('Product Category') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintCategory()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintCategory() ?>"/>
                <?php endif; ?>
                <?php if ($helper->getIsAdminViewCategoryTree()) { ?>
                    <div data-bind="scope: 'sellerCategory'">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                    <script type="text/x-magento-init">
                        {
                            "*": {
                                "Magento_Ui/js/core/app": {
                                    "components": {
                                        "sellerCategory": {
                                            "component": "Webkul_Marketplace/js/product/seller-category-tree",
                                            "template" : "Webkul_Marketplace/seller-category-tree",
                                            "filterOptions": true,
                                            "levelsVisibility": "1",
                                            "options": <?php echo $block->getCategoriesTree()?>,
                                            "value": <?php echo json_encode($data['product']['category_ids'])?>
                                        }
                                    }
                                }
                            }
                        }
                    </script>
                <?php } else { ?>
                    <div class="wk-field wk-category">
                        <div class="wk-for-validation">
                            <div id="wk-category-label"><?php echo __("CATEGORIES"); ?></div>
                            <?php
                            $categories = $data['product']['category_ids'];
                            foreach ($categories as $value) { ?>
                                <input type="hidden" name="product[category_ids][]" value="<?php echo $value; ?>" id="wk-cat-hide<?php echo $value; ?>"/>
                            <?php } ?>
                            <?php
                            if ($helper->getAllowedCategoryIds()) {
                                $storeconfig_catids = explode(',',trim($helper->getAllowedCategoryIds()));
								
                                foreach($storeconfig_catids as $storeconfig_catid)	{
									
									$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
									$category = $_objectManager->create('Magento\Catalog\Model\Category')
									->load($storeconfig_catid);
									//echo $category->getName();
									
                                    //$cat_model = $block->getCategory()->load($storeconfig_catid); 
									
								/* 	echo "<pre>";
									print_r($cat_model->getData());
 */
                                    if(isset($storeconfig_catid) && $storeconfig_catid){
                                        ?>
                                        <div class="wk-cat-container">
                                            </span><span class="wk-foldersign"></span>
                                            <span class="wk-elements fg wk-cat-name"><?php echo $category->getName() ?></span>
                                            <?php
                                            if (in_array($storeconfig_catid, $categories)) {
												?>
                                                <input class="wk-elements" type="checkbox" name="product[category_ids][]" value=<?php echo $storeconfig_catid ?> checked /><span class="checkbox"></span>
                                                <?php
                                            } else { ?>
                                                <input class="wk-elements" type="checkbox" name="product[category_ids][]" value='<?php echo $storeconfig_catid; ?>'/><span class="checkbox"></span>
                                            <?php
                                            } ?>
                                        </div>
                                        <?php 
                                    }
                                }
                            }else{
                                $count = 0;
                                $category_helper = $this->helper('Magento\Catalog\Helper\Category');
                                $category_model = $block->getCategory();
                                $_categories = $category_helper->getStoreCategories();
                                foreach($_categories as $_category)	{
                                    $count++;
                                    if(count($category_model->getAllChildren($category_model->load($_category['entity_id'])))-1 > 0){ ?>
                                        <div class="wk-cat-container" style="margin-left:0px;">
                                            <span class="wk-plus">
                                            </span><span class="wk-foldersign"></span>
                                            <span class="wk-elements wk-cat-name 1">
                                                <?php echo $_category->getName() ?>
                                                <?php 
                                                if (in_array($_category["entity_id"], $categories)) {?>
                                                    <input class="wk-elements" type="checkbox" name="product[category_ids][]" value=<?php echo $_category['entity_id'] ?> checked />
                                                    <?php 
                                                } else { ?>
                                                    <input class="wk-elements" type="checkbox" name="product[category_ids][]" value='<?php echo $_category['entity_id'] ?>'/>
                                                <?php
                                                } ?>
                                            </span>
                                        </div>
                                        <?php
                                    }else { ?>
                                        <div class="wk-cat-container">
                                            </span><span class="wk-foldersign"></span>
                                            <span class="wk-elements wk-cat-name 2">
                                                <?php echo $_category->getName() ?>
                                                <?php
                                                if (in_array($_category["entity_id"], $categories)) {?>
                                                    <input class="wk-elements" type="checkbox" name="product[category_ids][]" value=<?php echo $_category['entity_id'] ?> checked />
                                                    <?php
                                                } else { ?>
                                                    <input class="wk-elements" type="checkbox" name="product[category_ids][]" value='<?php echo $_category['entity_id'] ?>'/>
                                                <?php 
                                                } ?>
                                        </span>
                                        </div>
                                        <?php
                                    }
                                } 
                            } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
			
            <div class="field required">
                <label class="label"><?php echo __('Product Name') ?>:</label>
                <?php
                if($product_hint_status && $helper->getProductHintName()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintName() ?>"/>
                <?php
                } ?>
                <div class="control">
                    <input type="text" class="required-entry input-text" name="product[name]" maxlength="100" id="name" value="<?php echo $data['product']['name']?>"/>
                </div>
            </div>
			
		 
			 <div class="field required">
                <label class="label"><?php echo __('Length') ?>:</label>
				<?php
                if($product_hint_status && $helper->getProductHintName()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo "Product Length" ?>"/>
                <?php
                } ?>				
                <div class="control">
                    <input type="text" class="required-entry input-text" name="product[ecom_length]"  id="ecom_length" value=""/>
                </div>
            </div>
			
			 <div class="field required">
                <label class="label"><?php echo __('Breadth ') ?>:</label>
				<?php
                if($product_hint_status && $helper->getProductHintName()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo "Product Breadth" ?>"/>
                <?php
                } ?>
                <div class="control">
                    <input type="text" class="required-entry input-text" name="product[ecom_breadth]" id="ecom_breadth" value=""/>
                </div>
            </div>
				
			 <div class="field required">
                <label class="label"><?php echo __('Height') ?>:</label>
				<?php
                if($product_hint_status && $helper->getProductHintName()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo "Product Height" ?>"/>
                <?php
                } ?>
                <div class="control">
                    <input type="text" class="required-entry input-text" name="product[ecom_height]" id="ecom_height" value=""/>
                </div>
            </div>
			    
				
            <div class="field required">
                <label class="label"><?php echo __('Description') ?>:</label>
                <?php
                if($product_hint_status && $helper->getProductHintDesc()){?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintDesc() ?>"/>
                <?php
                } ?>
                <div class="control wk-border-box-sizing">
                    <textarea name="product[description]" class="required-entry input-text" id="description" rows="5" cols="75" ><?php echo $data['product']['description']?></textarea>
                    <script>
                        require([
                        "jquery", 
                        "mage/translate", 
                        "mage/adminhtml/events", 
                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                        ], function(jQuery){
                            wysiwygDescription = new wysiwygSetup("description", {
                                "width":"100%",
                                "height":"200px",
                                "plugins":[{"name":"image"}],
                                "tinymce4":{"toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                                }
                            });
                            wysiwygDescription.setup("exact");
                        });
                    </script>
                </div>
            </div>

            <div class="field">
                <label class="label"><?php echo __('Short Description') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintShortDesc()) { ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintShortDesc() ?>"/>
                <?php } ?>
                <div class="control wk-border-box-sizing">
                    <textarea name="product[short_description]" class="input-text" id="short_description" rows="5" cols="75" ><?php echo $data['product']['short_description']?></textarea>
                    <script>
                        require([
                        "jquery", 
                        "mage/translate", 
                        "mage/adminhtml/events", 
                        "mage/adminhtml/wysiwyg/tiny_mce/setup"
                        ], function(jQuery){
                            wysiwygShortDescription = new wysiwygSetup("short_description", {
                                "width":"100%",
                                "height":"200px",
                                "plugins":[{"name":"image"}],
                                "tinymce4":{"toolbar":"formatselect | bold italic underline | alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":"advlist autolink lists link charmap media noneditable table contextmenu paste code help table",
                                }
                            });
                            wysiwygShortDescription.setup("exact");
                        });
                    </script>
                </div>
            </div>
            <?php if ($skuType == 'static'): ?>
                <div class="field required">
                    <label class="label"><?php echo __('SKU') ?>:</label>
                    <?php
                        if ($skuPrefix) {
                            echo "(Prefix - ".$skuPrefix.")";
                        }
                    ?>
                    <?php if ($product_hint_status && $helper->getProductHintSku()): ?>
                        <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintSku() ?>"/>
                    <?php endif; ?>
                    <div class="control">
                        <input name="product[sku]" id="sku" class="required-entry input-text" type="text" value="<?php echo $data['product']['sku']?>"/>
                    </div>
                    <div id="skuavail" >
                        <span class="success-msg skuavailable"><?php echo __('SKU Available') ?></span>
                    </div>
                    <div id="skunotavail" >
                        <span class="error-msg skunotavailable"><?php echo __('SKU Already Exist') ?></span>
                    </div>
                </div>
            <?php endif; ?>
            <div class="field required">
                <label class="label"><?php echo __('Price') ?><b><?php echo  " (".$currency_symbol.")"; ?></b>:</label>
                <?php if ($product_hint_status && $helper->getProductHintPrice()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintPrice() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <input type="text" class="required-entry validate-zero-or-greater input-text" name="product[price]" id="price" value="<?php echo $data['product']['price']?>"/>
                </div>
            </div>
            <div class="field required">
                <label class="label"><?php echo __('Product Commission') ?> . This value is in percentage 12 will be treated 12 <b>('%')</b> . </label>
                <div class="control">
                    <input type="text" class="required-entry validate-zero-or-greater validate-percents input-text" name="product[commission_for_product]" id="commission_for_product" value="<?php echo $data['product']['commission_for_product'] ?>" data-ui-id="product-tabs-attributes-tab-fieldset-element-text-product-commission_for_product"/> 
                </div>
            </div>
            
            <div class="field">
                <label class="label"><?php echo __('Special Price') ?><b><?php echo  " (".$currency_symbol.")"; ?></b>:</label>
                <?php if ($product_hint_status && $helper->getProductHintSpecialPrice()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintSpecialPrice() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <input type="text" class="widthinput input-text validate-zero-or-greater" name="product[special_price]" id="special-price" value="<?php echo $data['product']['special_price']?>"/>
                </div>
            </div>
            <div class="field">
                <label class="label"><?php echo __('Special Price From') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintStartDate()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintStartDate() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <input type="text" name="product[special_from_date]" id="special-from-date" class="input-text" value="<?php echo $data['product']['special_from_date']?>"/>
                </div>
            </div>
            <div class="field">
                <label class="label"><?php echo __('Special Price To') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintEndDate()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintEndDate() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <input type="text" name="product[special_to_date]" id="special-to-date" class="input-text" value="<?php echo $data['product']['special_to_date']?>"/>
                </div>
            </div>
            <input id="inventory_manage_stock" type="hidden" name="product[stock_data][manage_stock]" value="1">
            <input type="hidden" value="1" name="product[stock_data][use_config_manage_stock]" id="inventory_use_config_manage_stock">
            <div class="field required">
                <label class="label"><?php echo __('Stock') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintQty()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintQty() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <input type="text" class="required-entry validate-number input-text" name="product[quantity_and_stock_status][qty]" id="qty" value="<?php echo $data['product']['quantity_and_stock_status']['qty']?>"/>
                </div>
            </div>
            <div class="field required">
                <label class="label"><?php echo __('Stock Availability') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintStock()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintStock() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <select id="" class="select" name="product[quantity_and_stock_status][is_in_stock]">
                        <option value="1" <?php if($data['product']['quantity_and_stock_status']['is_in_stock'] == 1){ echo "selected='selected'";}?>><?php echo __("In Stock"); ?></option>
                        <option value="0" <?php if($data['product']['quantity_and_stock_status']['is_in_stock'] == 0){ echo "selected='selected'";}?>><?php echo __("Out of Stock"); ?></option>
                    </select>
                </div>
            </div>
            <div class="field required">
                <label class="label"><?php echo __('Visibility') ?>:</label>
                <div class="control">
                    <select id="visibility" class=" required-entry required-entry select" name="product[visibility]">
                        <option value=""><?php echo __('Please Select')?></option>
                        <?php $product_visibility = $helper->getVisibilityOptionArray(); ?>
                        <?php foreach($product_visibility as $key=>$value): ?>
                            <option value="<?php echo $key ?>" <?php if($key==$data['product']['visibility']){ echo "selected='selected'";}?>><?php echo $value?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="field required">
                <label class="label"><?php echo __('Tax Class') ?>:</label>
                <?php if ($product_hint_status && $helper->getProductHintTax()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintTax() ?>"/>
                <?php endif; ?>
                <div class="control">
                    <select id="tax-class-id" class=" required-entry required-entry select" name="product[tax_class_id]">
                        <option value="0"><?php echo __('None')?></option>
                        <?php $taxes = $helper->getTaxClassModel(); ?>
                        <?php foreach($taxes as $tax): ?>
							<?php if($tax->getId() == 13 ||$tax->getId() == 14 || $tax->getId() == 15){ ?>
                            <option value="<?php echo $tax->getId() ?>" <?php if($tax->getId()==$data['product']['tax_class_id']){ echo "selected='selected'";}?>><?php echo $tax->getClassName()?></option>
							<?php } ?>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="field required">
                <label class="label"><?php echo __('Weight') ?> (<?php echo $weightUnit?>):</label>
                <?php if ($product_hint_status && $helper->getProductHintWeight()): ?>
                    <img src="<?php echo $this->getViewFileUrl('Webkul_Marketplace::images/quest.png'); ?>" class='questimg' title="<?php echo $helper->getProductHintWeight() ?>"/>
                <?php endif; ?>
				
                <div data-role="weight-switcher" style="display:none;">
                    <label data-ui-id="product-tabs-attributes-tab-element-radios-product-product-has-weight-label" for="weight-switcher">
                        <span><?php echo __('Does this have a weight?')?></span>
                    </label>
                    <div class="control">
                        <div class="control">
                            <input type="radio" <?php if($type!='virtual'||$type!='downloadable'||$data['product']['product_has_weight']==1){ ?> checked="checked" <?php } ?> class="weight-switcher" id="weight-switcher1" value="1" name="product[product_has_weight]">
                            <label for="weight-switcher1">
                                <span><?php echo __('Yes')?></span>
                            </label>
                        </div>
                        <div class="control">
                            <input type="radio" class="weight-switcher" id="weight-switcher0" value="0" name="product[product_has_weight]" <?php if($type=='virtual'||$type=='downloadable'||$data['product']['product_has_weight']==0){ ?> checked="checked" <?php } ?>>
                            <label for="weight-switcher0">
                                <span><?php echo __('No')?></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <input type="text" class="validate-zero-or-greater input-text" name="product[weight]" id="weight" value="<?php echo $data['product']['weight']?>"/>
                </div>
            </div>
            <div class="field" id="meta_title">
                <label class="label"><?php echo __('Meta Title') ?>:</label>
                <div class="control">
                    <input type="text" class="input-text" name="product[meta_title]" id="meta_title"  value="<?php echo $data['product']['meta_title']?>"/>
                </div>
            </div>
            <div class="field" id="meta_keywords">
                <label class="label"><?php echo __('Meta Keywords') ?>:</label>
                <div class="control">
                    <textarea class="textarea" id="meta_keyword" name="product[meta_keyword]"><?php echo $data['product']['meta_keyword']?></textarea>
                </div>
            </div>
            <div class="field" id="meta_description">
                <label class="label"><?php echo __('Meta Description') ?>:</label>
                <div class="control">
                    <textarea class="textarea" id="meta_description" name="product[meta_description]"><?php echo $data['product']['meta_description']?></textarea>
                </div>
            </div>
            <?php echo $block->getChildHtml(); ?>
        </fieldset>
    </div>
</form>
<?php
$formData = [
    'countryPicSelector' => '#country-pic',
    'verifySkuAjaxUrl' => $block->getUrl('marketplace/product/verifysku', ['_secure' => $this->getRequest()->isSecure()]),
    'categoryTreeAjaxUrl' => $block->getUrl('marketplace/product/categorytree/', ['_secure' => $this->getRequest()->isSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "sellerAddProduct": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>
<script type='text/javascript'>
    require(['jquery', 'prototype', 'domReady!'], function($) {
        var qty = $('#qty'),
            productType = $('#product_type_id').val(),
            stockAvailabilityField = $('#quantity_and_stock_status'),
            manageStockField = $('#inventory_manage_stock'),
            useConfigManageStockField = $('#inventory_use_config_manage_stock'),
            fieldsAssociations = {
                'qty': 'inventory_qty',
                'quantity_and_stock_status': 'inventory_stock_availability'
            };

        var qtyDefaultValue = qty.val();
		
		jQuery('#re_hsn').find('input').attr('maxlength','8');
		jQuery('#re_hsn').find('input').attr('minlength','4');
		jQuery('#re_hsn').find('input').addClass('required-entry');
		 
		jQuery('#re_hsn').find('input').keyup(function(e)
        {
		  if (/\D/g.test(this.value))
		  {
			// Filter non-digits from input value.
			this.value = this.value.replace(/\D/g, '');
		  }
		});  
		
		
    })
</script>
<script>
    require([
        "jquery",
        "Webkul_Marketplace/catalog/type-events"
    ], function($, TypeSwitcher){
        var $form = $('[data-form=edit-product]');
        $form.data('typeSwitcher', TypeSwitcher.init());
    });
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Webkul_Marketplace/js/product/weight-handler": {},
            "Webkul_Marketplace/catalog/apply-to-type-switcher": {}
        }
    }
</script>