<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
$_objectManager =   \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
$product = $_objectManager->get('Magento\Catalog\Model\Product')->load($_item->getProductId());
$hsn = $product->getHsnCode();
if(!$hsn){
    $hsn =  'N/A';
}
?>
<tr>
    <td class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <p class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <p class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
        <p class="sku"><?= __("HSN CODE")?>: <?= $block->escapeHtml($hsn);?></p>
        <?php if ($block->getItemOptions()): ?>
            <dl class="item-options">
            <?php foreach ($block->getItemOptions() as $option): ?>
                <dt><strong><em><?= /* @escapeNotVerified */  $option['label'] ?></em></strong></dt>
                <dd>
                    <?= /* @escapeNotVerified */  nl2br($option['value']) ?>
                </dd>
            <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td colspan="2" class="col item-price" data-th="<?php echo $block->escapeHtml(__('CGST')); ?>">
        <table style="width: 100%">
            <tbody style="background: none; text-align: center;">
            <tr>
                <td><?php echo round($_item->getCgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('cgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('cgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td colspan="2" class="col item-price" data-th="<?php echo $block->escapeHtml(__('SGST')); ?>">
        <table style="width: 100%">
            <tbody style="background: none; text-align: center;">
            <tr>
                <td><?php echo round($_item->getSgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('sgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('sgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td colspan="2" class="col item-price" data-th="<?php echo $block->escapeHtml(__('UTGST')); ?>">
        <table style="width: 100%">
            <tbody style="background: none; text-align: center;">
            <tr>
                <td><?php echo round($_item->getUtgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('utgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('utgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td colspan="2" class="col item-price" data-th="<?php echo $block->escapeHtml(__('IGST')); ?>">
        <table style="width: 100%">
            <tbody style="background: none; text-align: center;">
            <tr>
                <td><?php echo round($_item->getIgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('igst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('igst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="item-qty"><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></td>
    <td class="item-price">
        <?= /* @escapeNotVerified */  $block->getItemPrice($_item) ?>
    </td>
</tr>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
<tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                    <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
