<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<tr id="general_sortsocial" >
    <td class="label"><?php echo $this->element->getLabel(); ?></td>
    <td class="value">
        <select id="review_section_recommend_allow" data-ui-id="select-groups-recommend-fields-recommend_allow-value" class="select admin__control-select" name="groups[recommend][fields][recommend_allow][value]">
            <?php foreach ($this->recommendOptionArray() as $value) { ?>
                <option value="<?php echo $value['value'] ?>" <?php if($block->valueAllowRecommend() == $value['value']) echo "selected='selected'"?> >
                    <?php echo $value['label'] ?>
                </option>
            <?php } ?>
        </select>
    </td>
</tr>