<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Onepage\Link */
?>
<?php if ($block->isPossibleOnepageCheckout()) :?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$config = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

$minAmount = (int)$config->getValue('carriers/express_shipping/free_price');
$isActive  = (int)$config->getValue('carriers/express_shipping/free_active');

$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
$subTotal = $cart->getQuote()->getSubtotal();


if( $isActive && $subTotal>0 && $subTotal < $minAmount) : ?>
<div class="free_shipping">
  <strong>Add items of ₹<?php echo $minAmount-$subTotal; ?> more for Free Shipping </strong>
</div>
<?php endif; ?> 

    <button type="button"
            data-role="proceed-to-checkout"
            title="<?= $block->escapeHtmlAttr(__('Proceed to Checkout')) ?>"
            data-mage-init='{
                "Magento_Checkout/js/proceed-to-checkout":{
                    "checkoutUrl":"<?= $block->escapeJs($block->escapeUrl($block->getCheckoutUrl())) ?>"
                }
            }'
            class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()) :?>
                disabled="disabled"
            <?php endif; ?>>
        <span><?= $block->escapeHtml(__('Proceed to Checkout')) ?></span>
    </button>
<?php endif?>
