<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_order = $block->getOrder(); ?>
<?php $_giftMessage; ?>
<div class="table-wrapper order-items" style="overflow: auto">
    <table class="data table table-order-items" id="my-orders-table" summary="<?php /* @escapeNotVerified */ echo __('Items Ordered') ?>">
        <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Items Ordered') ?></caption>
        <thead>
            <tr>
                <th class="col name"><?php /* @escapeNotVerified */ echo __('Product Name') ?></th>
                <th class="col sku"><?php /* @escapeNotVerified */ echo __('SKU') ?></th>
                <?php /* ?>
                <th class="col price"><?php echo __('Price') ?></th>
                <th class="col price">
                    <table class="cgst">
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <td colspan="2"><?php echo __('CGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>
                <th class="col price">
                    <table class="sgst">
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <td colspan="2"><?php echo __('SGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>
                <th class="col price">
                    <table class="sgst">
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <td colspan="2"><?php echo __('UTGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>
                <th class="col price">
                    <table class="igst">
                        <tbody style="background:none;text-align:center">
                        <tr>
                            <td colspan="2"><?php echo __('IGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </tbody>
                    </table>
                </th>
                <th class="col qty"><?php echo __('Qty') ?></th>
                <th class="col subtotal"><?php echo __('Subtotal') ?></th>
                <?php */ ?>
                <th class="col review"><?php echo __('Action') ?></th>
            </tr>
        </thead>
        <?php $_items = $_order->getItemsCollection();?>
        <?php $_index = 0; ?>
        <?php $_count = $_items->count(); ?>
        <?php $_giftMessage = ''?>
        <?php foreach ($_items as $_item): ?>
            <?php if ($_item->getParentItem()) {
                continue;
            } ?>
            <tbody>
                <?php //echo $block->getItemHtml($_item) ?>
                <tr>
                    <td class="col name"><strong class="product name product-item-name"><?php echo $_item->getName(); ?></strong></td>
                    <td class="col sku"><?php echo $_item->getSku(); ?></td>
                    <?php if($_item->getProduct()):?>
                    <td class="col action"><a href="<?= $_item->getProduct()->getProductUrl() ?>#reviews">Write Review</a></td>
                    <?php endif;?>
                </tr>
            </tbody>
        <?php endforeach; ?>
        <tfoot>
            <?php //echo $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
</div>
<?php if ($_giftMessage): ?>
<script type="text/x-magento-init">
    {
        "a.action.show, a.action.close": {
            "giftMessage": {}
        }
    }
</script>
<?php endif; ?>
<style type="text/css">
    .secondary .action.back, .items.order-links .nav.item {display: none;} 
    .items.order-links .nav.item.current {display: block;}
	.sales-order-view ul.items.order-links, .sales-order-view .order-details-items .table-wrapper {display: block!important;}
</style>