<?php 
    $data = $block->getStatus(); 
    if(is_array($data) && !empty($data)) {
?>
<div class="reason_status" style="padding-top: 30px;">
    <div class="admin__page-section-item-title">
        <span class="title">Select Reason</span>
    </div>
    <div id="history_form" class="admin__fieldset-wrapper-content">
        <div class="admin__field">
            <div class="admin__field-control">
                <select name="creditmemo[reason_type]" id="reason_type" class="admin__control-select">
                    <?php foreach($data as $_data) { ?>
                        <option value="<?= $_data['id']; ?>" selected="selected"><?= ucfirst($_data['reason']); ?></option>
                    <?php } ?>
                </select>
            </div>
        </div>
    </div>
</div>
<?php } ?>
