<!--<div class="field landmark">
    <label class="label" for="landmark"><span><?php /* @escapeNotVerified */ echo __('Landmark') ?></span></label>
    <div class="control">
        <input type="text" name="landmark" value="<?php echo $block->getCommentValue() ?>" title="<?php /* @escapeNotVerified */ echo __('Landmark') ?>" id="landmark" class="input-text" placeholder="<?php /* @escapeNotVerified */ echo __('Enter a landmark') ?>">
    </div>
</div>-->