.account .field.profile label { font-weight: bold; }
#colender-check .input-text { height: 39px; border: 1px solid #cccccc;}
.page-title-wrapper { font-weight: bold;}
#block-collapsible-nav .nav.item { margin-bottom: 0px; margin-top: 0px;}
.primary #top-cart-btn-checkout { display: none;}
#minicart-content-wrapper .actions .secondary .action.viewcart {width: 50%; float: left;}
.secondary #top-cart-btn-checkout { width: 49%; float: left; height: 43px;}
.table.data.order.tracking { margin-bottom: 0; border: 1px solid #e2e2e2;}
.selectmenu-toggle::before { top: -1px; }
.selectmenu-value input[type="text"]{height:31px;}
.admin__data-grid-pager .admin__control-support-text { margin: 1px 0 5px 0 !important;}
button:not(.primary) {line-height: 19px;}
/*.checkout-cart-index .use-ajax.action.towishlist.action-towishlist { display: none;}*/
.marketplace-seller-collection .product-item .product-reviews-summary { display:none; }
.customer-address-form .fieldset .row { width: 100%; margin: auto;}
.customer-address-form .fieldset .row h4 { width: 100%;    padding: 0px;    margin: 0px;}
.customer-address-form .fieldset .field.taxvat { width: 100%;}
.owl-middle-narrow .owl-theme .owl-controls .owl-nav [class*="owl-"], .owl-middle-narrow.owl-theme .owl-controls .owl-nav [class*="owl-"] { font-size: 18px;}
.fotorama__arr.fotorama__arr--prev , .fotorama__arr.fotorama__arr--next{ display: block !important;}
.page-header.type1{position: fixed;z-index:9999;top: 0;width: 100%;}
.margall {    margin-top: 162px;}
.block-category-list .block-title, .sidebar > .block.filter .options dt { border: none !important;  background-color: #fff !important;}
.block-category-list .block-content, .sidebar > .block.filter .options dd {border: none !important;background-color: #fff !important;}
.filter-options-content .new_filter_category_area a:after { display:none; }
.filter-options-content .count:before,.filter-options-content .count:after { display:none;}
/*.checkout-cart-index .actions-toolbar a.action.action-edit {display: none;}*/
.filter-options-content{padding: 0px  15px 15px;border-bottom:0px !important;}
.cart.table-wrapper .actions-toolbar > .action-delete > span{
height:auto!important ; position: relative; margin: auto;}
/*.checkout-cart-index .action.action-delete:before{ display:none!important;}
.checkout-cart-index .cart-summary .block > .title{border-top: none;}
.cart-container strong.summary.title { display: none;}
#shopping-cart-table thead { display: none;}
.cart.table-wrapper .cart > .item{ border-top:1px solid #cccccc; }*/
.wishlist-index-index .product-item-name > a,.wishlist-index-index  .product.name a > a{    font-size: 18px; font-weight: 500;    color: #3d3d3f;}
.wishlist-index-index .wishlist_item_desc {font-size: 14px; color: #3d3d3f; font-weight: 500;display:none;}
.old-price .price-box .price { font-size: 14px;  color: #3d3d3f !important;  font-weight: 500 !important;}
.special-price .price{ font-size: 24px;  color: #000000 !important;  font-weight: 500 !important;}
.customer-account-index .box.box-information { padding: 15px; border: 1px solid #b6b6b7;  border-radius: 3px;  font-size: 14px;  color: #3d3d3f;  font-weight: 500;  float: left !important;  clear: unset !important;  flex: 0 0 26%; max-width: 26%;  margin-bottom: 0px;  margin-right: 15px;  margin-left: 15px;}
.customer-account-index .box.box-billing-address { padding: 15px; border: 1px solid #b6b6b7;  border-radius: 3px;  font-size: 14px; color: #3d3d3f; font-weight: 500;  float: left !important;  clear: unset !important;  flex: 0 0 26%; max-width: 26%;  margin-bottom: 0px;  margin-right: 15px; margin-left: 15px;}
.customer-account-index .box.box-shipping-address {padding: 15px; border: 1px solid #b6b6b7; border-radius: 3px; font-size: 14px; color: #3d3d3f; font-weight: 500;  float: left !important; clear: unset !important; flex: 0 0 26%; max-width: 26%; margin-bottom: 0px; margin-right: 15px; margin-left: 15px;}
.customer-account-index .box.box-information .box-title { border: 1px solid #f3a626;  background-color: #f3a626; color: #ffffff !important; display: inline-block !important; padding: 6px 16px; border-radius: 3px !important; margin-bottom: 10px;  font-weight: 400;}
.customer-account-index .block-dashboard-info .block-title { display: none;}
.customer-account-index .box .box-actions { border-bottom: 0px;  border-left: 0px;  border-right: 0px;  background-color: transparent; border-top: 1px solid #e8eaef; padding-top: 18px;}
.customer-account-index .box-actions .action.edit { color: #6c6d70;  font-size: 14px; font-weight: 500; text-transform: uppercase;}
.customer-account-index .action.change-password {color: #6c6d70; font-size: 14px; font-weight: 500; text-transform: uppercase;}
.customer-account-index .box.box-billing-address .box-title,.customer-account-index .box.box-shipping-address .box-title { border: 1px solid #f3a626;    background-color: #f3a626;    color: #ffffff !important;    display: inline-block !important; padding: 6px 16px;    border-radius: 3px !important;
    margin-bottom: 10px;    font-weight: 400;}
.customer-account-index .box-content { background: #ffffff !important; border: none !important;}
.customer-address-index .box .box-content address { font-size: 14px;    color: #3d3d3f;    font-weight: 500;}
.customer-account-index .block-title { font-size: 24px !important;    color: #000000 !important;  font-weight: 500 !important;    padding: 15px 20px; width: 100%;    border-bottom: 1px solid #e8eaef;}
#mini-cart .details-qty .update-cart-item { border: none;    color: #5c57a0;    line-height: 23px;  padding: 0px 0px;    height: 28px;    background-color: #fff; font-weight: bold;}
.mpmassupload-product-view .fieldset .legend {font-size: 24px !important;color: #000000 !important;font-weight: 500 !important;padding: 30px 0px 15px;width: 100%;border-bottom: 1px solid #e8eaef;display: flex; justify-content: space-between; align-items: center;}
.mpmassupload-product-view .fieldset { width: 98%;    margin: 0 auto;}
.mpmassupload-product-view .wk-mu-info-container.wk-mu-super-attributes { width: 100%; margin: 0 auto;  padding: 20px;}
.mpmassupload-product-view .wk-mu-info-container.wk-mu-super-attributes .wk-mu-label{font-weight:500;font-size:24px;color:#000}
.mpmassupload-product-view .wk-mu-info-container.wk-mu-super-attributes .wk-mu-content { padding: 20px 0; font-size: 16px; font-weight: 500; line-height: 24px;}
.account .page-main .page-title-wrapper .return-status,.account .page-main .page-title-wrapper .order-status {padding: 10px 20px;  display: inline-block; border-radius: 4px;  font-weight: 500;  width: 100%; background: #e6fdff; border: 1px solid #35c2cb; color: #35c2cb;  height: auto; font-size: 18px;}
.account .page-main .page-title-wrapper .order-date { float: left; width: 100%; padding: 15px 20px !important; line-height: 10px;  background: #fff7e9;  border-radius: 5px;   margin: 10px 0;  color: #f3a626;  border: 1px solid #f3a626; font-weight: 600; font-size: 14px; height: auto;}
.buttons-set .back-link{padding:0px 20px;text-align:right}
.marketplace-order-view.account .wk-mp-design .order-actions-toolbar, .buttons-set .back-link{padding:0px 20px}
 .marketplace-order-view.account .wk-mp-design .order-actions-toolbar button, .wk-profile-links a{background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  padding: 5px 22px !important;  color: #fff !important;  border: 0px;  font-size: 16px;  border-radius: 9px;  font-family: 'Exo'; margin: 0px; font-weight: 600; height: 44px}
.buttons-set .back-link a, .wk-mp-design .fieldset > .legend button{background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  padding: 0px 22px !important;  color: #fff !important;  border: 0px;  font-size: 14px;  border-radius: 4px;  font-family: 'Exo'; margin: 0px; font-weight: 600; height: 44px;float:right !important;line-height: 44px;}
.wk-mp-fieldset{padding:0px 20px}
.banner-content{bottom:0px !important; }
.wk-mp-design .fieldset > .legend span, .marketplace-account-editprofile form .page-title h2{font-size:20px; font-weight:600; color:#6c6c6c }
.wk-mp-design .fieldset > .legend, .marketplace-account-editprofile form .page-title { margin: 0px 0px 20px; padding: 0px;width: 100%;  border: 0px; position: relative; display: flex; justify-content: space-between; align-items: center;}
.marketplace-account-editprofile form .page-title{padding:0px 20px !important}
.wk-mp-design .fieldset > .legend button span{color:#fff}
.wk-profile-links { display: inline-block; padding: 10px 20px;  width: 49%;  text-align: center;}
 .wk-profile-links a, #wk_rma_new_request a { background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);   padding: 5px 22px !important;  color: #fff; border: 0px;  font-size: 16px; border-radius: 9px;  font-family: 'Exo';  margin: 0px; font-weight: 600;height: 50px;  width: auto;  line-height: 41px;}
#wk_rma_new_request a{display:inline-block}
fieldset.fieldset.info { padding: 0px 20px;}
.data-table thead th .wk-option-input, .data-table tbody td .wk-option-input{z-index:1;}
.ko-grid-pageLinks.wk-pagination { display: block;  margin-top: 10px;}
#wk_rma_new_request{background:none;border:0px}
.contentrigh .fasortby{line-height:unset !important}
.product-review-image h2{display:none;}
button.action.primary.filter-order{background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);}
.modal-popup .modal-inner-wrap{border-radius:4px !important}
.modal-popup .modal-header{padding:0px;margin-bottom:20px}
.modal-popup .modal-title {border-bottom: 1px solid #dae2e6; font-weight: 600; font-size: 24px; display: block; padding: 20px;}
 .modal-popup .form-shipping-address { max-width: 100%;}
.modal-popup .modal-content{padding:15px;font-size:16px;font-weight:600;
}
.modal-popup .modal-content .modal-body{padding:0px;width:100%;}
.modal-popup .modal-content .modal-body label{font-size:16px;font-weight:500;}
.modal-popup .modal-content .modal-body .wk-contact_input_fields{font-size: 18px;  height: 50px;  border: 1px solid #5d5d5d !important; border-radius: 0px !important;}
.modal-popup .modal-footer{padding:15px;margin-bottom:0px !important;    border-top: 1px solid #c1c1c1; text-align: right;}
.modal-popup .modal-footer button.action.secondary.action-hide-popup, .modal-popup .modal-footer button{height: 47px; border: 2px solid #5654a4 !important; border-radius: 7px !important;  font-size: 18px !important; color: #5654a4 !important; background: none;  line-height: 44px;  padding: 0px 33px !important; margin-right: 20px;  display: inline-block !important;  text-transform: uppercase;  width: auto !important;}
 .modal-popup .modal-footer .action-save-address, .modal-popup .modal-footer .action-accept, .modal-popup .modal-footer button.wk-answer-submit{ background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);   padding: 5px 22px !important;  color: #fff !important; border: 0px;  font-size: 16px !important; border-radius: 9px;  font-family: 'Exo';  margin: 0px; font-weight: 600;height: 50px;  width: auto;  line-height: 41px;}
#deliverydays_msg { width: 60%; background: #e9eaef;  padding: 7px 14px; display: inline-block; border-radius: 4px; font-weight: 600;    color: #4f5054;}
.go_to_cart a {    font-weight: 600;  margin-left: 20px;    color: #5f539b ;    text-transform: uppercase;}
.go_to_cart{display:inline-block}
.cms-index-index a.carousel-add-wishlist{position:absolute;top: 0px;right: 5px;z-index: 9999;border: 0px;background: none;width: auto;height: auto;padding: 0px;}
.cms-index-index .carousel-add-wishlist .fa.fa-heart-o {color: #777 !important;font-size: 18px;}
.catalog-product-view .modal-footer span {    color: #3f549c;}
.catalog-product-view .modal-footer button { border: 1px solid #777; border-radius: 6px; margin-left: 13px; min-width: 101px;}
.catalog-product-view .modal-footer button:hover { background: #5554a5; color: #fff !important; border: #5554a5; font-size: inherit;}
.catalog-product-view .modal-footer button:hover span { color: #fff;}
.product-review-content .review-legend.legend span{display:none;}
[id*="update-cart-item-"] { width: 94px;}
.autocomplete-suggestions { position: fixed!important; top:87px !important;padding:0px !important}
#search_autocomplete { display: none!important; }
#search_autocomplete ul { display: none!important; }
.footer-middle .block.newsletter {  margin-top: 24px; }
.fotorama--fullscreen .fotorama__stage .fotorama__fullscreen-icon {display: block !important;}
.fotorama--fullscreen{z-index:9999 !important}
.grid-section-carousel .owl-theme .owl-controls{ display:block!important; }
.cms-index-index .product_slider_item .owl-theme .owl-controls .owl-prev.disabled,.cms-index-index .product_slider_item .owl-theme .owl-controls .owl-next.disabled { display: none !important; }
.cms-index-index .owl-controls .owl-prev {left: 0px !important;}
#accesssslider .owl-controls .owl-prev{background: #2eb396 !important;}
#accesssslider .owl-controls .owl-next{background: #2eb396 !important;}
#unversalslider .owl-controls .owl-prev,#unversalslider .owl-controls .owl-next{background: #f3a626 !important;}
#accesss .owl-controls .owl-prev,#accesss .owl-controls .owl-next{background: #2eb396 !important;}
 .modal-popup .modal-footer button.wk-answer-submit span{color:#fff}
.footer-middle .block-title strong span {text-transform: uppercase;}
.filter-options-title{padding:10px 45px 10px 15px !important}
.filter-options-title::after{margin-top:-12px !important;right: 19px !important;}
#custom_filter .form-group input.to_price{padding: 0px 11px 0px 22px;}

.rmadetailsTable {display: flex; justify-content: space-between; flex-wrap: wrap; padding: 10px;}
.rmadetailsTable table {width: 48%; border: solid 1px #ddd; border-radius: 4px;}
.rmadetailsTable table td, .rmadetailsTable table th {background: none !important; padding: 10px !important; font-size: 14px !important; color: #303030;  font-weight: 500;}
.rmadetailsTable table a {background: none !important; color: #000 !important; text-align: right; padding: 0 !important;}
.rmadetailsTable table tr:nth-child(odd) {background: #f1f1f1;}
#view-rma-component span {display: block; padding: 0; line-height: normal; margin-bottom: 20px; border: none;}
#view-rma-component {padding: 20px;}
#view-rma-component table {border: solid 1px #ddd;}
#view-rma-component table td, #view-rma-component table th {border: solid 1px #ddd; padding: 10px !important; font-size: 14px !important;min-width: 110px;}
#view-rma-component table td span.price { margin: 0; }

#view-rma-component .product-name {color: #000;}
.status-solved {padding: 20px; padding-top: 0;}
.status-solved .rma-stataus {background: #5553A3 !important; display: inline-block; padding: 10px 30px;  color: #fff;   line-height: normal; font-size: 20px; border-radius: 4px;}
#edit-product .wk-field.wk-category .wk-elements.wk-cat-name {position: relative;}
#edit-product .wk-field.wk-category .wk-elements.wk-cat-name input {opacity: 1; right: 0; left: 192px; width: 10px; height: 10px;}
 
.grievancesicon {float: left; width: 43px; height: 43px; color: #fff; line-height: normal; text-align: center; font-size: 16px; border-radius: 6px; margin-bottom: 15px; background-color: #3f549c; }
.grievancesicon img {width: 22px; padding-top: 10px;}
#greivance_button  {cursor: pointer;}
#popup-modal-garviance {text-align: center;  font-weight: 400; color: #000;}

.graviance_modal .modal-inner-wrap {width: 50%; border-radius: 6px !important;  border: solid 1px #fff;}
.graviance_modal .modal-inner-wrap .modal-header {background: none !important; margin: 0px; text-align: center;}
.graviance_modal .modal-inner-wrap .modal-header h1 {font-family: 'Exo' !important; font-size: 26px; color: #21293c;  text-align: center; padding: 15px 0;  margin: 0;border: none;  border-bottom: solid 2px #44538a; display: inline-block;
padding-bottom: 4px; margin-bottom: 10px;  text-transform: capitalize;}
.graviance_modal .modal-inner-wrap .modal-header button::before {display: none;}
.graviance_modal .modal-inner-wrap .modal-header button {background: url('../images/modal-close-icon.png') no-repeat right top; width: 28px; height: 28px; background-size: 54%; opacity: 1; right: 14px; top: 10px;}
.graviance_modal .modal-inner-wrap #popup-modal {text-align: center; font-family: 'Exo'; font-size: 16px;
font-weight: normal; color: #000;}
.graviance_modal .modal-inner-wrap #popup-modal a {color: #000; border-bottom: solid 1px #777; display: inline-block; margin-left: 5px; transition: .5s all ease;}
.graviance_modal .modal-inner-wrap #popup-modal p span {font-weight: 500;}
.contact-index-index .modal-inner-wrap #popup-modal .voice a, .contact-index-index .modal-inner-wrap #popup-modal .voice a:hover {border: none;}
.graviance_modal .modal-inner-wrap #popup-modal a:hover {border-bottom: solid 1px #fff; transition: .5s all ease;}
.graviance_modal .modal-inner-wrap .modal-footer {text-align: center; border: none;}
.graviance_modal .modal-inner-wrap .modal-footer button {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 10px 35px !important; color: #fff !important; border: 0px solid #717171 !important; font-size: 16px !important; border-radius: 6px !important; font-family: 'Exo'; margin: 0px; width: auto !important; font-weight: 400 !important; display: inline-block !important; line-height: unset; height: auto !important; text-transform: uppercase}


@media (min-width:768px){
.layout-fullwidth.page-layout-2columns-left .column.main, .layout-fullwidth.page-layout-2columns-right .column.main { width: calc(100% - 300px);}
.layout-fullwidth.page-layout-2columns-left .sidebar-main, .layout-fullwidth.page-layout-2columns-right .sidebar-additional { width: 300px;}
}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block{padding:0px !important;}
.filter-content .filter-options-item{border-bottom: #efefef solid 1px;    padding: 10px 0;}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item a,.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item strong{padding:10px 10px 10px 50px;position:relative}
.layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item a img, .layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item strong img, .layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item a i, .layout-fullwidth.page-layout-2columns-left .sidebar-main .block-collapsible-nav .item strong i{position: absolute;left: 15px;top: 50%;transform: translate(0,-50%);font-size:22px}
.notification-block{left: 161px;top: 2px;}
.wishlist-index-index .products-grid.wishlist .product-item .tocart{width:200px}
.wishlist-index-index .product_wishlist_action_button a.btn-remove.action.delete{width:200px;}
.wishlist-index-index .product-items .product-item-info .rewards__product-points{position: absolute;top: 200%;display: flex !important;
width: 200%;white-space: nowrap;}
.products-grid.wishlist .product-item .price-box{position:relative}
.product-items .product-item-info .rewards__product-points .price { font-size: 14px; color: #f3a626 !important;  font-weight: 400 !important;}
/*.checkout-cart-index .rewards__product-points{display:none !important;}*/
.cms-porto_home_12.cms-index-index .breadcrumbs{display:none;}
.marketplace-account-dashboard .page-title-wrapper{border-bottom:0px;}
.account .wk-mp-page-title.page-title .button { font-size: 17px; padding: 10px 20px;  height: auto !important;  line-height: unset;  background-color: #fff !important;  color: #44538a !important;   border: 1px solid #44588a !important;   font-weight: 600;}
.account .wk-mp-page-title.page-title{padding:0px 15px 15px;}
.account .column.main > .wk-mp-design > .mp-widgets, .account .column.main > .wk-mp-design > .mp-sales-widgets{padding:0px 15px;}
.account .mp-widgets .cotainer{padding-right:0px;}
.account .column.main > .wk-mp-design > .mp-widgets fieldset.fieldset.info{padding:0px;}
.wk-orderbox{width:100%;}
.account .mp-widgets .cotainer button { border: 1px solid #4945b7; background-image: linear-gradient(to right, #5f539b ,#5067b3, #5d559d); color: #fff;  border-radius: 2px !important;  line-height: unset !important; padding: 7px 20px;  height: auto !important;  font-size: 14px !important;}
.marketplace-account-dashboard .mp-widgets .cotainer div div:first-child{    color: #000; background: #ffffff; font-weight: 600;font-family: 'Exo';}
.mp-sales-widgets > .sales{margin-bottom:15px; padding-bottom:0px;}
.account .sales_title{color: #fff; background: none; border:0px !important}
.account .mp-sales-widgets > .sales:nth-child(1) { background: #d9534f; border-radius: 6px;  overflow: hidden;}
.account .wk-dashboard-sales-font .price{font-size: 27px; color:#fff}
.account .wk-dashboard-sales-font{text-align:left; padding:0px 15px !important;}
.account .mp-sales-widgets > .sales:nth-child(2) { background: #1caf9a; border-radius: 4px;  overflow: hidden;}
.account .mp-sales-widgets > .sales:nth-child(3) { background: #428bca; border-radius: 4px;  overflow: hidden;}
.account .mp-sales-widgets > .sales:nth-child(4)  .sales_title, .account .mp-sales-widgets > .sales:nth-child(5)  .sales_title{color: #000;    border-bottom: 1px solid #ccc !important;}
.wk-orderbox{    border: 1px solid #f5f5f5;}
.wk-mp-fieldset .button{    background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);height: auto;  padding: 12px 15px !important; font-weight: 600; font-size: 16px;  width: 100px;  margin: 15px 0px 10px;}
.wk-mp-fieldset .wk-mp-list-table .button{margin-left:5px;}
.wk-orderbox-content1{    border-bottom: 1px solid #f5f5f5;}
.mpreportsystem-report-index .wk_report-body{display: flex; justify-content: space-between;  padding: 20px 0;}
.mpreportsystem-report-index .wk_report-body .wk_location_graph.wk_graph_border, .mpreportsystem-report-index .wk_report-body .wk_selling_graph.wk_graph_border{  width: calc(50% - 7px); display: inline-block;}
.wk_graph_border{padding:15px;}
.wk-report-select-box-head { display: flex;  width: 100%;  position: relative; justify-content: space-between;}
.wk-report-select-box-head .wk-categories { width: 33%;}
.wk-report-select-box-head .wk-order-status { width: 33%;}
.wk-report-select-box-head button { width: 33%; margin: 10px 0;border-radius: 4px;  overflow: hidden; font-weight: 500 !important;  font-size: 20px !important; background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd) !important;height:50px;}
.wk-report-select-box-head .wk-select-box{width: 100%;margin:10px 0; height: 50px;  border: 1px solid #e8eaef;}
.wk-report-select-box-head .wk-select-box label{ margin: 14px 0 14px 0 !important;}
.wk-report-select-box-head .wk-select-box .wk-select-arrow-up{    height: 21px;    background-position: -314px -116px;}
.wk-filter-buttons{border:0px;}
.wk-filter-button{background-color: #36c0cc; border-right: 1px solid #4fe2f1; box-shadow: inset 0 1px 0 0 #36becc, inset 0 -1px 0 0 rgba(53, 191, 204, .3);    color: #fff;opacity:1}
.wk-selected-filter-button{    background-color: #5e549c; border-right: 1px solid #5e549c; box-shadow: inset 0 1px 0 0 #5f549c, inset 0 -1px 0 0 #5e539b;    opacity: 1;}
.mpreportsystem-report-index .legend{border-bottom:0px !important}
.wk-date-filter-div .action.primary.wk_reportfilter_btn{ background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd) !important;    padding: 8px 20px; line-height: 16px;}
.marketplace-product-add .wk-for-validation { display: flex; flex-wrap: wrap;}
.marketplace-product-edit #wk-category-label{display:none;}
.marketplace-product-add .wk-for-validation .wk-cat-container , .marketplace-product-edit .wk-for-validation .wk-cat-container { position: relative;  margin: 2px;  padding: 10px 15px;  font-size: 14px;  font-weight: 600; align-items: center; color: #313131;}
.marketplace-product-add .wk-for-validation .wk-cat-container input[type="checkbox"] + span , .marketplace-product-edit .wk-for-validation .wk-cat-container input[type="checkbox"] + span { width: 20px; height: 20px;  background: #8e8e8e;  left: 0px; border: 1px solid #000; position: relative; margin-left: 10px; top:0px}
.marketplace-product-add .wk-for-validation .wk-cat-container input[type="checkbox"] , .marketplace-product-edit .wk-for-validation .wk-cat-container input[type="checkbox"] {  width: 20px; height: 20px; position: absolute;   margin-left: 10px;    right: 10px; z-index: 1; margin-top: 0px; opacity: 0;  cursor: pointer;}
.marketplace-product-add .wk-for-validation .wk-cat-container input[type="checkbox"]:checked + span:before , .marketplace-product-edit .wk-for-validation .wk-cat-container input[type="checkbox"]:checked + span:before{ content: ''; width: 7px; height: 13px; display: inline-block;  border: 2px solid;  border-color: #fff transparent transparent #fff; z-index: 1;  position: absolute;  left: 7px;  transform: translate(0,-50%) rotate(-135deg);  top: 38%;}
.marketplace-product-add .wk-for-validation .wk-cat-container input[type="checkbox"]:checked + span, .marketplace-product-edit .wk-for-validation .wk-cat-container input[type="checkbox"]:checked + span{background:#000}
.marketplace-product-add .control .weight-switcher,.marketplace-product-add  #wk-category-label, .marketplace-product-edit .control .weight-switcher{display:none;}
.marketplace-product-add .control .weight-switcher + label:before, .marketplace-product-edit .control .weight-switcher + label:before {content: ''; width: 21px;  height: 21px;  border: 3px solid #6c6d70;  display: inline-block;   position: absolute;  left: 0px;  top: 50%;  transform: translate(0,-50%);  border-radius: 100%;}
input#wk_rma_solved{display:none;}
input#wk_rma_solved + label{position:relative; padding-left:30px; font-size:14px; font-weight:500;}
input#wk_rma_solved + label:before{content:''; width: 20px; height: 20px;  background: #8e8e8e;  left: 0px; border: 1px solid #000;position:absolute;top:50%;transform:translate(0,-50%)}
input#wk_rma_solved:checked + label:after { content: ''; width: 7px; height: 13px; display: inline-block;  border: 2px solid;  border-color: #fff transparent transparent #fff; z-index: 1;  position: absolute;  left: 7px;  transform: translate(0,-50%) rotate(-135deg);  top: 38%;}
input#wk_rma_solved:checked + label:before{background:#000}
.marketplace-product-add .control .weight-switcher + label, .marketplace-product-edit .control .weight-switcher + label { margin:10px 0px !important; padding: 0px; position: relative;  padding-left: 30px;}
.marketplace-product-add .control .weight-switcher:checked + label:after, .marketplace-product-edit .control .weight-switcher:checked + label:after {content: ''; width: 11px;  height: 11px;  background: #6c6d70;  display: inline-block;   position: absolute;  left: 5px;  border-radius: 100%;  top: 50%;  transform: translate(0,-50%);}
#related-product-block, #upsell-product-block, #crosssell-product-block { padding: 0px 20px;    border-top: 1px solid #e8eaef;}
.admin__data-grid-header-row.row.row-gutter .col-xs-12 .row {  margin: 0px;}
.admin__data-grid-pager .admin__control-text{ height: 32px; border-left: 1px solid #cccccc;margin-left: 10px;}
label.admin__control-support-text{margin:0px !important}
.catalogsearch-result-index .search_title{    float: left; width: calc(100% + 40px);  margin-left: -20px; margin-top: -20px; margin-bottom: 20px; border-bottom: 1px solid #efefef;}
.catalogsearch-result-index .page-title-wrapper{display:none;}
.btn-yellow { background: #f3a626;  color: #fff; padding: 7px 20px; border-radius: 4px;  font-size: 16px;}
.btn-yellow:hover{color:#fff;background: #e2991e;}
.customer-account-edit fieldset.fieldset.info{padding:0px;margin-bottom:0px}
.customer-account-edit fieldset.fieldset.info .field.choice{/*display:none;*/ margin: 15px 0;}
#company_details + fieldset.fieldset.info .field.choice{display:unset;}
.customer-account-edit .newacuntt fieldset.fieldset.password{margin-bottom:0px}
fieldset#company_details{margin-top:20px;}
.customer-account-edit .newacuntt .actions-toolbar{padding:20px 15px !important}
fieldset.fieldset.info.mp-gdpr-delete-account{display:none;}
.edit_profile { display: block; margin-top: 15px;}
.filter-content .filter-options-content .rating-summary{width:100%}
.filter-options-content a{width:100%}
.ui-widget-header{height:28px !important;}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td{padding:15px 10px !important}
.loader_1{z-index:99999 !important}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{    background: linear-gradient(to bottom, #5d569e 0%, #5d559d 100%);    color: #fff !important;    border-radius: 5px;    border: 1px solid #5c58a1;}
.wk-check-first-td { position: relative;}
.wk-check-first-td input[type="checkbox"] {position: absolute; left: 50%;width: 22px;  height: 22px;  top: 50%;  transform: translate(-50%,-50%);  opacity: 0; cursor: pointer;  z-index: 2;}
.wk-check-first-td input[type="checkbox"] + span{width: 22px;height: 22px;background: white;position: relative;border: 2px solid #3d3d3d;display: block;margin: 0px auto;}
.wk-check-first-td input[type="checkbox"]:checked + span:after {content: '';width: 8px;height: 14px;border: 2px solid;border-color: #fff transparent transparent #fff;transform: rotate(-135deg) translate(0,-50%);position: absolute;top:;top: -6px;left: 10px;}
.wk-check-first-td input[type="checkbox"]:checked + span{background:#000}
.wk-mp-design .total-selected{margin-top:26px;}
table.wk-mp-list-table thead { background: #efefef;}
.pages a.page, .pages a.page {  color: #131313;}
.pages strong.page { background: #3f549c;  border-color: #283c82;}
.pages a.page:hover { background: #37b8ca;  border-color: #3ab3c9;  color: #fff;}
.wk-mp-tr-amount-wrapper{padding:0px 20px;border:0px;background:none;}
.wk-mp-tr-payout-total { background: #1caf9a;width:33%; border-radius: 5px;}
.wk-mp-tr-amount-total { background: #d9534f;width:33%; border-radius: 5px;}
.wk-mp-tr-remain-total { background: #428bca;width:33%; border-radius: 5px;}
.wk-mp-tr-amount-wrapper{flex-wrap:wrap;justify-content: space-between;}
.wk-mp-tr-txt-style{color:#fff;}
.wk-mp-tr-amount-total-title .wk-mp-tr-amount-style, .wk-mp-tr-remain-total .wk-mp-tr-amount-style,.marketplace-transaction-history .wk-mp-tr-amount-total-desc .wk-mp-tr-amount-style{color:#fff}
.wk-mp-tr-last-style,.wk-mp-tr-payout-style{color:#fff;}
.wk-mp-tr-payout-total .wk-mp-tr-last-style{text-align:center}
.marketplace-transaction-history .wk-mp-tr-remain-btn button { font-size: 14px;  padding: .5rem 1.5rem; background: #ffffff;  border-color: #ffffff;  color: #428bca;  text-shadow: none;  font-weight: 600;  border-radius: 3px !important;  font-family: 'Exo' !important;} 
.toolbar-products .pages{display:unset !important;    visibility: hidden;}
.wk-massupload-container label[for=massupload_csv] + .control, .wk-massupload-container label[for=massupload_image] + .control{    position: relative; height: 50px; font-family: 'Exo' !important;}
.wk-massupload-container input[type=file]{position:absolute;    width: 260px; height: 100%; opacity: 0; cursor: pointer;}
.wk-massupload-container input[type=file] + span, .wk-massupload-container input[type=file] + div + span {background: #37bdcc;  left: 0px;  height: 100%;  text-align: center;  font-size: 20px;  width: 260px;  line-height: 50px;  color: #fff;  font-weight: 600;  display: inline-block;  border-radius: 3px !important;}
form#wk_massupload_product_export_form { margin-top: 20px;  padding: 0px 20px;width:100%}
form#wk_massupload_product_export_form .legend { display: flex; flex-wrap: wrap;  width: 100%;  justify-content: space-between;  align-items: center; color: #474747;  font-size: 16px;  font-weight: 500;}
form#wk_massupload_product_export_form .legend button.button.wk-mp-btn { font-size: 16px; font-weight: 600;  color: #fff;  border: 0px;  padding: 10px 24px;  height: auto;  border-radius: 4px;  background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);}
.empty_wishlist { text-align: center;  font-size: 18px;  font-weight: 500;padding: 50px 0 50px;color:#919191}
.empty_wishlist img{margin-bottom:20px}
.empty_wishlist a.continue_shopping.action.apply.primary {  background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); margin-top: 40px;  padding: 18px 40px;  height: auto;  border: 0px;  border-radius: 6px;font-size: 20px;  font-weight: 500;}
.account-nav .nav > li.current, .account-nav .nav > li.current a { background: #f3a626;  color: #fff;}
.account-nav .nav > li.current strong {color: #fff !important; border-bottom: 0px !important;}
.panel.mats a img{float:left;}
.block-reviews-dashboard .block-content, .block-dashboard-orders .block-content{padding:0px 20px}
@-webkit-keyframes spin {
  0% { -webkit-transform: translate(-50%,-50%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%,-50%) rotate(360deg); }
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform:translate(-50%,-50%)  rotate(360deg); }
}
.loader_1 span { position: absolute;  left: 50%;  top: 50%;  transform: translate(-50%,-50%);}
.loader_1 span:before{content:'';border: 2px solid #f3f3f3; border-radius: 50%; border-top: 2px solid #3f549c;border-bottom: 2px solid #3f549c;width: 120px; height: 120px; -webkit-animation: spin 2s linear infinite;  animation: spin 2s linear infinite;    display: inline-block; top: 50%;  left: 50%;  position: absolute;}
/*#checkoutSteps li .shipping-address-item > p{height:calc(100% - 60px);}*/
#block-collapsible-nav .nav.item.user-image a{  font-size: 20px;  text-align: left !important; font-weight: 500;  color: #5f5882;  padding-left: 60px;  border-bottom: 1px solid #e8eaef;  padding: 20px 20px 20px 70px !important;    display: block;}
#block-collapsible-nav .nav.item.user-image a img { width: 44px;}
#block-collapsible-nav .nav.item.user-image a:after { content: ''; width: 12px; height: 12px; border: 1px solid;  border-color: #7c7c7c #7c7c7c transparent transparent;  position: absolute;  top: 50%;  right: 14px;  transform: translate(0,-50%) rotate(45deg);}
.marketplace-order-history .wk-mp-design > .fieldset > .legend{    margin: 40px 0px 20px;  padding: 15px;    border: 1px solid #cccccc;    border-radius: 4px;}
.marketplace-order-history .wk-mp-list-table{margin-top:20px;margin-bottom:20px;}
.marketplace-account-customer .admin__data-grid-outer-wrap, .marketplace-account-review .admin__data-grid-outer-wrap{padding:0px 20px}
.data-grid-filters-action-wrap .action-default._active:after{background-color: #283c82;}
.admin__data-grid-filters-wrap._show {    border: 1px solid #ccc;padding: 20px;}
.admin__data-grid-filters-wrap._show button.action-secondary {height: auto; padding: 10px 20px;  background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); border: 0;  color: #fff;  border-radius: 3px; text-shadow: none; font-weight: 600; text-transform: uppercase;}
.admin__data-grid-filters-wrap._show button.action-tertiary {background: #514943 !important; color: #fff;  text-shadow: none; padding: 10px 20px; height: auto;  border: 0px;  border-radius: 4px; text-transform: uppercase; font-weight: 600;}
.selectmenu-items li{margin-bottom:0px;}
.admin__action-multiselect-text { padding: 1.5rem 1rem;}
.admin__action-multiselect-wrap .admin__action-multiselect:before { height: 56px; top: auto; width: 3.2rem;    background-color: #3f549c;  border: 1px solid #3f549c;}
.action-select-wrap .action-select:after{bottom:unset;top:50%;  border-width: .7rem .7rem 0;right: .9rem;    border-color: #fff transparent transparent;}
.action-select-wrap .action-select:hover:after { border-color: #fff transparent transparent;}
.table-wrapper.orders-history { padding: 0px 20px;}
.order-products-toolbar .pager { padding: 0px 20px;  display: flex;  justify-content: space-between;  align-items: center;}
.order-products-toolbar .pager .toolbar-amount{display:block}
.review-customer-index .table-wrapper.reviews, .toolbar.products-reviews-toolbar.bottom , .review-customer-view .customer-review.view {padding:0px 20px;}
.customer-review .product-media{ border: 1px solid #ececec; border-radius: 3px;margin-right:20px;max-width:200px}
.review-customer-view .product-info .product-name{color:#21293c}
.review-customer-view .customer-review .product-details{padding-bottom:20px;margin-bottom:20px;}
.customer-review .review-details .title { display: inline-block; font-size: 16px;   }
.customer-review .review-details .title strong{font-weight: 500;}
.customer-review .review-details .customer-review-rating { display: inline-block;  margin: 0px; margin-left: 7px; position: relative;  top: 1px;}
.customer-review .review-details .customer-review-rating .rating-label{display:none}
.customer-account-index .block-title a {font-size: 14px; background: #3f549c; padding: 6px 10px; border-radius: 4px; color: #fff;  text-shadow: none;}
.block-reviews-dashboard .product-name{ font-weight: 500; font-size: 20px;}
.block-reviews-dashboard .product-name a{color: #848684;}
.block-reviews-dashboard .rating-summary .label, .block-reviews-dashboard .rating-summary .rating-result{display: inline-block;}
.irs-single{ visibility: hidden !important;}
.irs-from, .irs-to{visibility: visible!important;}
div#ln_slider_container_price{overflow:hidden}
#wk_rma_conversation_container { margin-top: 15px; padding: 20px 20px;display: flex; justify-content: space-between; border-top: 1px solid #e8eaef;}
.conversation-block, .new-message-block{float:none;}
button.button.action.subscribe.primary { padding: 10px 20px; height: auto; border-radius: 4px; background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);}
#wk_rma_upload_text { float: none; position: relative;  top: 5px;  display: block;}
.new-message-block a {background: #404040; padding: 10px 20px; display: inline-block;  border-radius: 4px; font-weight: 400; color: #fff;  text-transform: uppercase;  font-size: 1.4rem;  margin-top: 10px;  width: 169px; text-align: center;  letter-spacing: 2px;}
/*.checkout-agreement input { width: 23px; height: 23px; position:absolute; z-index: 1; margin: 0px; opacity: 0; cursor: pointer;}
 .billing-address-same-as-shipping-block input[type=checkbox]{display:none;}
.checkout-agreement label,  .billing-address-same-as-shipping-block label{position:relative; padding-left:30px}
.checkout-agreement label:before, .billing-address-same-as-shipping-block label:before{content:'';width:22px;height:22px;display:inline-block;border:2px solid #000; position:absolute;left:0px;top:50%;transform:translate(0,-50%)}
.checkout-agreement input:checked + label:after,
.billing-address-same-as-shipping-block input:checked + label:after { content: ''; width: 8px; height: 14px; border: 2px solid; position: absolute; top: 40%; left: 7px;  border-color: #fff transparent transparent #fff; transform: translate(0,-50%) rotate(-135deg);}
.checkout-agreement input:checked + label:before,
.billing-address-same-as-shipping-block input:checked + label:before {background:#000}
.checkout-agreement.required { display: flex; align-items: center;}
.checkout-agreement label button span { font-size: 16px; font-weight: 500; color: #423821; font-family: 'Exo' !important;}
#checkout-payment-method-load .primary .action-update { background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 12px 30px; color: #fff;  height: auto; text-transform: uppercase; font-weight: 600; font-size: 16px; border-radius: 4px;  border: 2px solid #5d579f;}
#checkout-payment-method-load .primary .action-cancel { background: #fff; border: 2px solid #313131; padding: 11px 30px; height: auto; text-transform: uppercase; font-weight: 600; font-size: 16px; border-radius: 4px; margin: 0px 20px;  color: #000;}*/
.order-links .item a { background: none; color: #717171;  border: 0px; display: block;  font-weight: 400;  height: auto; padding: 2px 0px !important;  font-size: 18px;  margin: 0px 15px;  border-bottom: 4px solid transparent;}
.order-links .item a:hover{background: none; color: #000;border-bottom-color: #3bc1cc;}
ul.order-links{ border-bottom: 1px solid #eaeaec;}
.order-links .item strong {background: none; border: 0; color: #000; display: block;  font-weight: 500;  height: auto;  padding: 2px 0px !important; font-size: 18px; margin: 0px 15px; border-bottom: 4px solid #3bc1cc;}
.order-links .item:first-child *{margin-left:0px;}
.order-links .item:last-child *{margin-right:0px;}
.modals-overlay{    z-index: 9999 !important;}
.modal-slide._show, .modal-popup._show{z-index: 99991 !important;}
.checkout-index-index .modal-popup .modal-inner-wrap{margin-left:0px;left:50%;top:50%;    transform: translate(-50%,-50%); margin: 0px !important;}
.header.panel > .header.links > li.compare + li > a{border-left:0px}
.action.towishlist.in_wishlist:before, .in_wishlist .fa-heart-o:before, .alredy-wish:before{    content: '\f004' !important;  font-family: fontawesome;    color: #f3a626 !important;}
.action.towishlist.in_wishlist:before , .alredy-wish:before{display:none !important;}
.custom_refer_buttons{    position: absolute; right: 50px;  top: 13px;}
.custom_refer_buttons .rewardssocial-buttons{ visibility: hidden; position: absolute;  width: 160px !important;  right: 0px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  background: #fff;  padding: 4px 10px;  border-radius: 4px;}
.custom_refer_buttons .rewardssocial-buttons.social_share_show{  visibility: visible;}
.rewardssocial-buttons > div { width: 100%; margin: 0px 0px 6px 0 !important; 
padding: 0px;  text-align: left !important;}
button#mass-delete-butn , button#mass-delete-butn:hover{ background: #f3a626 !important; padding: 8px 11px !important;  width: auto !important;  font-size: 14px;color:#fff !important}
#refer_social_links { color: #f3a626; font-size: 16px; margin: -1px 0 0;  cursor: pointer;}
.toolbar .pages{margin-bottom:0px;}
.wk-mp-fieldset .order-products-toolbar.toolbar.bottom { margin-top: 40px;}
.buttons-twitter-like iframe {visibility: unset !important;}
.update-profile-form.show{width:100%;}
.checkout-cart-index .cart.table-wrapper .product-item-details{width:360px}
.account table label{margin:0px !important}
.marketplace-product-edit .admin__control-checkbox{ width: 17px; height: 17px;}
.marketplace-product-edit .data-grid th, .marketplace-product-edit .data-grid td{    vertical-align: middle;}
 .marketplace-product-edit .admin__control-checkbox:checked + label:before{background:#000;color:#fff}
@media(max-width:1199px){
.sales-order-view .block-content .box, .sales-order-invoice .block-content .box, .block-content .box{width:46% !important; flex: 0 0 46% !important;
max-width: 46% !important; }
}
@media(min-width:1199px){
.authentication-dropdown{position:unset !important}
}
.customer-account-createpassword .form.password.reset { border: 0px !important; box-shadow: none;padding:20px}
.customer-account-createpassword .form.password.reset .action.submit.primary {   background-color: #5552a4; padding: 6px 22px;  color: #fff;  border: 0px;  font-size: 20px; font-family: 'Exo';  margin: 0px;     margin-bottom: 0px; font-weight: 400;  height: 56px;  border-radius: 4px !important; transition: all 0.2s ease;}
.rewards-steps { width: 100%;  padding: 20px;}
.rewards-steps ul { list-style: none; padding: 0px; display: flex; flex-wrap: wrap; width: 100%;  justify-content: space-between;  align-items: center;  margin: 0px;margin-bottom:40px}
.rewards-steps ul li { text-align: center;  flex: 0 0 25%; max-width: 25%;position: relative;  margin: 0px;}
.rewards-steps ul li p { font-size: 16px; color: #727272; font-weight: 400; margin: 6px 0px;}
.rewards-steps ul li span { width: 40px; height: 40px;  display: block; background: #e9e9f1; margin: 15px auto;  border-radius: 100%;}
.rewards-steps ul li p:last-child {  background: #283c82;  width: auto;  display: inline-block;  color: #fff;  padding: 2px 7px;  font-size: 12px; border-radius: 14px;  min-width: 18px;  height: 21px;  line-height: 18px;}
.rewards-steps ul li:after { content: '';  height: 6px;  width:calc(50% - 30px);  position: absolute;  background: #e9e9f1;  top: 47%;  left: -0px; transform: translate(0,-50%);}
.rewards-steps ul li:before { content: ''; height: 6px;  width: calc(50% - 30px);  position: absolute;  background: #e9e9f1;   top: 47%;    right: -0px;  transform: translate(0,-50%);}
.rewards-steps ul li:first-child:after , .rewards-steps ul li:last-child:before{display:none}
.rewards-steps ul li.complete:before, .rewards-steps ul li.complete:after, .rewards-steps ul li.complete span{background: #f3a626;}
.rewards-steps > p {text-align: center; margin:2px 0px; font-size: 16px; font-weight: 400;}
.offer-applicable-list p:after { content: attr(data-offer); position: absolute; left: 0px;  top: 0px;  background: #35c2cb;  width: 30px;  height: 30px;  text-align: center;  line-height: 30px;  color: #fff;}
.offer-applicable-list p { padding-left: 40px; font-size: 14px; color: #000;  line-height: 16px;  margin-bottom: 12px;  position: relative;}
.offer-applicable-list { border: 1px dashed #4e4e4e; padding: 10px;    border-radius: 6px;  width: 100%;  margin-bottom: 40px;}
.block.block-rewards-account-summary.order-details-items .block.block-rewards-account-summary:last-child{margin-top:30px}
.block.block-rewards-account-summary.order-details-items .block.block-rewards-account-summary:last-child .block-title strong { font-weight: 300; color: #a7a7a9; font-size: 20px;}
.block.block-rewards-account-summary.order-details-items .block.block-rewards-account-summary:last-child .block-title { border-bottom: 1px solid #e8eaef;  padding: 15px 0;}
.block.block-rewards-account-summary.order-details-items .block.block-rewards-account-summary:last-child table tr td{border:0px !important; font-size: 18px; font-weight: 400;  color: #000;padding:10px 9px;}
.block.block-rewards-account-summary.order-details-items .block.block-rewards-account-summary:last-child table tr th{vertical-align: bottom;  font-size: 18px;  font-weight: 600;  color: #000;}
.block.block-rewards-account-summary.order-details-items{border:0px !important; padding-bottom:0px;}
.block.block-rewards-account-summary.order-details-items .toolbar .pages{position:unset;margin-top:30px}
.contractForm { padding-right: 15px;  width: 66.6666%; float: left;}
.contractForm > form{  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border: 0px;  border-radius: 4px; padding:  0;  background: #fff;}
.contact-info {  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border: 0px; border-radius: 4px;  padding: 0px;  background: #fff;  width: 33.333%;  float: right;}
.contact-index-index .fieldset > .legend, .contact-index-index .contact-info .contacts-title {  margin-bottom: 20px;  letter-spacing: 0;  margin: 0;  font-weight: 400;  color: #3c3c3c;  padding: 40px 30px 15px;  border-bottom: 1px solid #eaeaec;  line-height: 1.1;   font-size: 2.5rem;}
.contact-index-index .fieldset > .fieldset, .contact-index-index .actions-toolbar{padding:20px;}
.contact-info .row {    margin: 15px 5px;}
.contact-index-index .page-main .contact-info [class^="porto-icon-"], .contact-index-index .page-main .contact-info [class*=" porto-icon-"]{    background-color: #35c2cb;}
.pincode_checker > img#loader{float: none !important; margin-top: 0px !important;    position: relative;    top: 7px;}
.catalog-product-view .rewards__product-points .price{color: #f3a626 !important; font-size: 18px !important; font-weight: 500 !important;}
.form.form-edit-account{border-top: 1px solid #e8eaef !important;}
input.layer-search-box{padding-left:30px}
.filter-options-content .fa-search { position: absolute; top: 12px; left: 21px;}
.filter-options-content{position:relative}
form#co-payment-form .fieldset > br { display: none;}
.form-edit-account .field.choice .label{    margin: 10px 0 5px 0 !important;}
.table-shadow-design tbody tr.wk-row-view td a.action.view { background: #f3a626; color: #fff !important;  font-size: 12px;  padding: 3px 5px 3px 7px;  border-radius: 3px;  line-height: 21px; margin-right: 10px;  text-transform: capitalize;  font-weight: 400;  text-align: center;}
a.action.view:after{display:none !important;}
.table-shadow-design tbody tr.wk-row-view td a.action.order { background: #35c2cb; color: #fff !important; font-size: 12px; padding: 3px 5px 3px 7px;  border-radius: 3px; line-height: 21px; margin-right: 10px; text-transform: capitalize;  font-weight: 400;  text-align: center;}
.table-shadow-design tbody tr.wk-row-view td a.action.more {background: #283c82; color: #fff !important; font-size: 12px; padding: 3px 5px 3px 7px; border-radius: 3px; line-height: 21px;  margin-right: 10px;  text-transform: capitalize;  font-weight: 400;  text-align: center;}
.Pending { color: #dc3545;}
.Solved,.solved, .Complete, .complete, .Approved ,.approved { color: #1e7e34;}
.Processing {  color: #f3a626;}
.wk_rma_status_pending { font-weight: 600;}
.customer-account-index .block-reviews-dashboard .block-content .items { display: flex;  flex-wrap: wrap;  align-items: center;}
.customer-account-index .block-reviews-dashboard .block-content .items .item {  display: inline-block;  margin: 10px; text-align: center; padding: 30px 10px;  width: 200px;  background: #3f549c;  border-radius: 4px; color: #fff;box-shadow: 2px 2px 5px 1px #283c82;}
.customer-account-index .block-reviews-dashboard .block-content .items .item a { color: #fff;}
.customer-account-index .block-reviews-dashboard .block-content .items .item .rating-summary .label { display: none;}
.rmasystem-index-index fieldset.fieldset.info legend.legend { display: flex; justify-content: space-between; align-items: center;}
.rmasystem-index-index fieldset.fieldset.info .legend span { margin-right: 4.5px; font-size: 17px;  color: #848684;  font-weight: 500;}
.ui-datepicker{    padding: 0;    border: #ffffff 0px solid;}
.ui-datepicker .ui-datepicker-calendar td { border: #35c2cb 1px solid;}
.ui-datepicker .ui-datepicker-calendar .ui-state-disabled { background: rgba(53, 194, 203, 0.56);}
.ui-datepicker td { padding: 4px;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today { background: #f3a626;color: #fff !important;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a{color:#fff !important}
.ui-datepicker .ui-datepicker-calendar th {background: #3f549c; border: #283c82 1px solid;  padding: 4px; text-transform: uppercase; color: #fff;  font-weight: 400;  text-align: center;}
.ui-datepicker .ui-datepicker-header { background: #283c82; border: none;padding-bottom: 10px; width: 100%;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{    border-color: transparent #ffffff transparent transparent;}
.ui-datepicker .ui-datepicker-next span{    border-color: transparent transparent transparent #ffffff;}
.ui-datepicker .ui-datepicker-title{    color: #fff;}
.ui-datepicker .ui-datepicker-calendar td a{background:none !important;}
.marketplace-order_shipment-view .admin__control-table-wrapper{display:none !important;}
.wk-orderbox-content2{background:none !important}
.wk-orderbox-details .color { background: #35c2cb; display: inline-block; padding: 10px 30px; border-radius: 3px; color: #fff; margin-bottom: 15px;}
.wk-orderbox-details .color .wk-ordertitle-label { color: #ffffff;}
.wk-orderbox-details .name a { font-size: 20px;  font-weight: 400;  color: #283c82;  margin-top: 10px;  display: block;}
.wk-mpreport-sales-table tr, .wk-mpreport-best-customer tr{border:0px !important}
.wk-mp-design .table-wrapper{overflow:unset;}
form#form-selleraddress-validate .input-text, .mpmassupload-product-view .fieldset > .field:not(.choice) > .control select, .marketplace-account-editprofile .page-main .input-text, .marketplace-account-editprofile .page-main .field .control select, .marketplace-product-add #maincontent .input-text, .marketplace-product-add select.select, .marketplace-product-edit .page-main .input-text, .marketplace-product-edit .page-main select.select{border: 1px solid #e0e0e0 !important;  border-radius: 4px !important;}
.marketplace-account-editprofile .page-main textarea.input-text, .marketplace-product-edit .page-main textarea.input-text{height:200px}
.mpmassupload-product-export select{border: 1px solid #e0e0e0 !important;  border-radius: 4px !important;    font-size: 18px; height: 56px;}
.mpmassupload-product-export .table-shadow-design thead tr th, .mpmassupload-product-export .table-shadow-design tbody tr.wk-row-view td{padding:15px 10px !important;}
.marketplace-order-view .block-order-details-view .block-title { color: #000000 !important;  font-weight: 500 !important;  padding: 15px 0px;  width: 100%; border-bottom: 1px solid #e8eaef;font-size: 24px !important;}
.marketplace-order-view .block-order-details-view .block-title strong{font-weight:400}
.block-order-details-view .block-content span.label, .block-order-details-view .block-content span.value{ font-size: 14px; color: #3d3d3f;  font-weight: 500;}
.wk-mp-order-info-box h2{margin-bottom:0px; font-size:18px; font-weight:500}
#magecomp-cookie-template{z-index:9991}
span.checkbox {display: inline-block; width: 20px; height: 20px; position: relative;  top: 3px;  left: 10px;}
span.checkbox span { width: 20px; border: 1px solid #dedede;  height: 20px; border-radius: 0px !important;  left: 0px;  display: inline-block;  position: absolute;}
span.checkbox input[type="checkbox"]:checked + span { background: #000; border-color: #000;}
span.checkbox input[type="checkbox"]:checked + span:after { content: ''; position: absolute; border: 1px solid !important;  width: 7px !important; height: 12px !important;  border-color: #fff transparent transparent #fff !important;  left: 6px !important;  z-index: 1 !important; top: 0px !important; transform: rotate(-135deg);  border-radius: 0px !important;}
span.checkbox input[type="checkbox"] {    position: absolute;width: 20px; height: 20px; left: 0px; margin: 0px !important; opacity: 0;  cursor: pointer;z-index:1}
span.file-upload{position:relative;    display: inline-block;margin-bottom: 20px;}
span.file-upload input{position: absolute; width: 100%;  height: 100%; opacity: 0;  cursor: pointer;z-index:1}
span.file-upload span{background: #37bdcc; left: 0px;  height: 100%;  text-align: center;  font-size: 20px; padding:10px 30px;  line-height: 27px; color: #fff; font-weight: 600;  display: inline-block;  border-radius: 3px !important}
img.country_img_prev { margin-top: 15px;}
.marketplace-order_invoice-view .wk-mp-fieldset .button {  background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd) !important;  padding: 0px 22px !important;  color: #fff !important;  border: 0px;  font-size: 14px; border-radius: 4px !important;  font-family: 'Exo';   margin: 0px;  font-weight: 600;  height: 44px;  float: right !important;  line-height: 44px;}
.marketplace-order_invoice-view .block-order-details-view > .block-content > .box-content >  .box { padding: 15px !important; border: 1px solid #b6b6b7; border-radius: 3px;  font-size: 14px; color: #3d3d3f;  font-weight: 500;  float: left !important;  clear: unset !important;  flex: 0 0 25%;  max-width: 25%; margin-right: 15px;  margin-left: 15px;  background: #fff;}
.wk-feedback-details span { font-size: 18px !important;  margin: 0px 0px 10px; font-weight: 600;  padding-left: 10px;  color: #3f549c;}
.wk-feedback-desc .comment {font-size: 18px;}
.marketplace-account-editprofile .wk-mp-btn { background: #44538a; color: #fff; border: 2px solid #44538a;  border-radius: 3px; font-size: 16px;  height: auto;  padding: 9px 20px;  font-weight: 600;  text-transform: uppercase;}
.marketplace-order_invoice-view .column.main > .page-title-wrapper{display:none;}
.wk-mp-collection-view-btn a{background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  padding: 6px 32px;  color: #fff;  border: 0px solid #717171;   font-size: 20px;  border-radius: 6px !important;  font-family: 'Exo';  margin: 0px;  width: auto;  font-weight: 400 !important;  height: 56px !important;  line-height: 44px !important;  margin-right: 15px;}
.wk-mp-return-policy, .wk-mp-shipping-policy{    background: #fff; padding: 15px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  border-radius: 4px;}
.marketplace-seller-profile #rating, .marketplace-seller-profile #about-us { background: #fff; padding: 15px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  border-radius: 4px; width: 100%;margin-top:20px}
.wk-mp-profile-block.wk-mp-products-recently-added{border:0px;}
.wk-mp-rating-left { background-color: #ffffff; padding: 40px 20px; box-sizing: border-box; border-radius: 4px;color:#ffb43e; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);}
.wk-mp-rating-left .rating-process span{color:#ffb43e}
.wk-mp-rating-customer-row{ font-size: 18px; margin-bottom: 10px;}
.wk-mp-rating-txt { color: #283c82; font-size: 20px;}
.wk-mp-rating-txt:after {    color: #283c82;}
.wk-mp-rating-val { color: #35c2cb; font-size: 18px;}
.wk-mp-rating-val .wk-mp-rating-icon { padding-left: 23px; margin-left: 6px; color: #ffb43e;}
.wk-mp-rating-icon:before{color: #ffb43e;}
.wk-mp-rating-summary-container > p { font-size: 18px; padding: 20px;border: 1px solid #ececec;  margin-top: 15px;  border-radius: 4px;  background: #f9f9f9;}
.wk-mp-policy-block-title:after{color: #f3a626;}
.wk-mp-shipping-policy .wk-mp-policy-block-title:after {font-size: 45px; bottom: 7px;}
.wk-mp-return-policy .wk-mp-policy-block-title:after {font-size: 35px;  bottom: 16px;}
#about-us{display: flex; flex-wrap: wrap;}
.wk-mp-aboutus-title { border-right: 0px solid #ccc; background: #f3a626;text-align: center;  color: #fff;  border-radius: 4px;  display: inline-flex;  align-items: center;  justify-content: center;}
.wk-mp-aboutus-data h2 { margin: 0px; margin-bottom: 15px; font-weight: 600;  color: #f3a626;}
.wk-mp-aboutus-data p { font-size: 16px;}
.loginmsg > .button-large { background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 8px 42px !important; color: #fff; border: 0px; font-size: 16px; border-radius: 5px; font-family: 'Exo';  margin: 0px;  font-weight: 600;  width: auto;  line-height: 41px; display: inline-block; margin-top: 20px;}
.loginmsg > .button-large .button-large { background: none; padding: 0; border: 0px; font-size: 18px;  color: #fff;}
.marketplace-account-dashboard .wk-orderbox-details .button,
.marketplace-order-history .wk-orderbox-details .button{background-image: none; height: auto; padding: 0px !important; font-weight: 600; font-size: 16px;  width: auto; margin: 15px 0px 10px; color: #f3a626; background: none;}
.marketplace-account-dashboard .wk-orderbox-details .button:hover, .marketplace-order-history .wk-orderbox-details .button:hover{
color: #f3a626 !important; background: none !important;}
#wk_rma_order_details tr th:first-child span { width: 22px; height: 22px; display: inline-block; border-radius: 2px; border: 2px solid #3d3d3d; position: relative;}
#wk_rma_order_details tr th:first-child input:checked + span { border-color: #3d3d3d;  background: #3d3d3d;}
#wk_rma_order_details tr th:first-child input:checked + span:before { content: '';  width: 7px; height: 14px; position: absolute; border: 2px solid; border-color: #fff transparent transparent #fff; transform: rotate(-135deg) translate(0,-50%); top: -5px; left: 10px;}
#wk_rma_order_details tr th:first-child input {   position: absolute; opacity: 0; top: 48%;  width: 22px !important; height: 22px; left: 10px; cursor: pointer; transform: translate(0,-50%);  margin: 0px !important;}
.review-customer-view .review-content { padding: 10px 20px; border: 1px solid #d2d2d2; margin-bottom: 10px !important;  border-radius: 4px;  font-size: 18px; color: #000;}
.box.box-order-shipping-method,.box-order-shipping-address, .box-order-billing-method, .box-order-billing-address,.box.box-address-shipping, .box.box-address-billing{ padding: 15px !important; border: 1px solid #b6b6b7;  border-radius: 3px;font-size: 14px; color: #3d3d3f; font-weight: 500;float: left !important; clear: unset !important; flex: 0 0 25%; max-width: 25%;margin-bottom:0px; margin-right:15px; margin-left:15px;background:#fff}
.box.box-address-shipping, .box.box-address-billing{background:#fff; border: 1px solid #b6b6b7;}
.sales-order-view .box .box-content, .sales-order-invoice .box .box-content{background-color: transparent;}
.sales-order-view .box .box-title, .sales-order-invoice .box .box-title{    background-color: #f3a626;  color: #ffffff !important;}
table.dataTable.no-footer{border:0px;}
table.dataTable tbody tr{background-color:transparent;}
.marketplace-order-history .field select{font-size: 18px; height: 56px !important;  border: 1px solid #ccc !important; border-radius: 3px !important;}
.marketplace-order-history table .input-text{font-size: 14px; height: 42px !important;  border: 1px solid #ccc !important; border-radius: 3px !important;}
.modal-footer .wk-btn_default { background: #fff; padding: 0px 22px !important; color: #5e549d !important;  border: 1px solid #5a59a3;  font-size: 14px; border-radius: 4px;  font-family: 'Exo';  margin: 0px;  font-weight: 600;  height: 44px; float: none; line-height: 44px;}
.modal-footer .wk-btn-primary { background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);  padding: 0px 22px !important;  color: #fff !important; border: 0px; font-size: 14px;  border-radius: 4px;  font-family: 'Exo';  margin: 0px;  font-weight: 600;  height: 44px;  float: none;  line-height: 44px;}
.modal-body{width:100% !important}
.modal-slide .modal-title{margin-right:0px !important}
.marketplace-order-view.account .wk-mp-design .order-actions-toolbar{padding:0px;}
#shipping_table td { background-color: #fff; color: #514943; padding: 5px; background: none; vertical-align: middle; font-size: 16px; font-weight: 500;border-top:0px; border-bottom:1px solid #eaeaea}
#shipping_table th { background-color: #c3c3c3; border-color: #c3c3c3 #c3c3c3 #c3c3c3 #eaeaea; border-image: none; border-style: solid;  border-width: 0.1rem; padding-left: 1em; text-align: left; border: 0px !important; vertical-align: middle;  font-size: 16px; padding: 10px 10px !important; font-weight: 600;  color: #000; background: #eaeaea !important;}
.admin__table-secondary tbody th { font-weight: 500; font-size: 16px; padding: 15px 10px;    border-bottom: 1px solid #eaeaea;}
.admin__table-secondary td { text-align: right; font-size: 16px; padding: 15px 10px;    border-bottom: 1px solid #eaeaea;}
.admin__table-secondary tbody tr:nth-child(odd) th, .admin__table-secondary tbody tr:nth-child(odd) td{background:#fff}
.box.admin__page-section-item { width: 100% !important;}
.admin__table-secondary td .box-content{min-height:auto !important}
.dashboard > .wk-mp-fieldset > .legend{display:none;}
.admin__page-section .admin__page-section-title .title{font-size: 24px !important;  color: #000000 !important;  font-weight: 500 !important;padding: 50px 0px 15px;  width: 100%;  border-bottom: 1px solid #e8eaef;}
#wk_rma_label_image{text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);  display: flex; background: #ffffff; color: #000;  border: 0px !important; box-shadow: 0px 0px 3px rgba(0, 0, 0, .25); border-radius: 4px;}
.admin__table-secondary td a {background: #f3a626; color: #fff;  padding: 10px 20px; border-radius: 4px;  font-size: 16px;}
.sales-order-view .page-title-wrapper .customer_detail .row, .sales-order-invoice .page-title-wrapper .customer_detail .row { margin: 0px;  padding: 15px; background: #f9f9f9; box-shadow: 0px 2px 5px rgb(148, 148, 148);border-radius: 4px;  color: #000;  font-weight: 400;  font-size: 16px;}
.fieldset{letter-spacing: unset;}
.contact-index-index .fieldset > .fieldset .input-text { border-color: #eaeaec !important;  border-radius: 4px !important;}
#contact-form >  .fieldset{margin-bottom:0px;}
#contact-form .field.comment { margin-top: 15px !important; margin-bottom: 0px !important;}
.footer-middle a:hover, .footer-middle a:focus { color: #3f549c;}
.white-box-section{  margin-top: 10px; background: #fff; padding: 15px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border-radius: 4px;  width: 100%;}
.history-accordion .history-title{padding-left:40px;}
.history-accordion .history-title:after{display:none;}
.blog-index-index h1.page-title span { font-size: 27px;  font-weight: 500;  padding-bottom: 5px; color: #000000; font-family: 'Exo';  text-transform: capitalize; margin: 0px;}
.post-holder .post-date .day {color: #fff !important; background-color: transparent;  border-radius: 2px 2px 0 0;  display: block; font-size: 24px;  font-weight: 500;  padding: 15px 2px;  line-height: 22px; margin-bottom: 3px;}
 .post-holder .post-date .month {color: #f3a626;background-color: #fff !important;  font-size: 14px;  padding: 8px 2px;  font-weight: 500;}
 .post-holder .post-date {width: 70px;  background: #f3a626;margin-left: -95px;    margin-top: -15px;}
.post-holder { margin-left: 90px; margin-top: 0; margin-bottom: 30px; border-bottom: 0px solid #ddd;  padding-bottom: 25px;  clear: both;  background: #fff;  padding: 15px;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  border-radius: 4px;  max-width: calc(33% - 90px);  flex: calc(33% - 90px) !important;}
.post-header .post-title{font-weight:600;color:#313131 !important}
.post-header .post-title a{color:#313131}
.post-list .post-content p { font-size: 14px;}
.post-list .post-content p a { color: #f3a626;}
.post-read-more { background: #3f549c; color: #fff !important; padding: 9px 12px !important;  border-radius: 4px;  float: left !important;  margin-top: 10px;}
.blog-index-index .column.main, .blog-post-view .column.main{width:100% !important}
.post-list { display: flex;  width: 100%; flex-wrap: wrap; }
.post-holder .post-header .addthis_toolbox span { width: 20px !important; height: 20px !important;  text-align: center;  line-height: 20px !important;}
.post-holder .post-header .addthis_toolbox span svg{height:20px !important;}
.blog-post-view .post-holder {flex:100% !important;max-width:100%}
.post-description a { color: #f3a626;}
.notfoundpages-noroute-other .page-title{display:none !important;}
.mt-70{margin-top:70px}
.page-not-found-content h2 {font-size: 34px; font-weight: 500;  padding-bottom: 5px;  display: block;  color: #000; margin-bottom: 5px;}
.page-not-found-content p { font-size: 18px; font-weight: 500; padding-bottom: 5px;  display: block;  color: #464646;}
.page-not-found-content a {    background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); color: #fff;  font-size: 18px; padding: 10px 30px;  border-radius: 4px;  display: inline-block; margin-top: 20px;}
.marketplace-seller-sellerlist .wk-marketplace-label { letter-spacing: 1px; padding-top: 0; font-size: 27px; font-weight: 500;  padding-bottom: 5px;  color: #000000;  font-family: 'Exo'; text-transform: capitalize; margin: 30px 0 0px;  text-align: left;}
.marketplace-seller-sellerlist .wk-mp-sellerlist-container{background: #fff; padding: 15px !important;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  border-radius: 4px;  width: 100%;margin-top:30px}
.marketplace-seller-sellerlist .wk-mp-sellerlist-container ul {padding: 0px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.marketplace-seller-sellerlist .wk-mp-sellerlist-container ul li {flex: 0 0 33%; margin: 0px; max-width: 33%;padding:15px;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap { display: flex; background: #fff;  padding: 15px !important;  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border-radius: 4px;  width: 100%;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide1 { height: 90px;  width: 90px; border: 1px solid #ececec; border-radius: 3px;  padding: 5px;  position: relative;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide2 { width: calc(100% - 100px); margin-left: 10px;font-size: 16px; color: #404040;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide1 a{height: 100%; margin: 0px;  width: 100%; border: 0; padding: 0px;  position: relative;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide1 img { max-width: 100%; float: none; border: 0;  display: inline-block;  width: auto;  max-height: 100%;  position: absolute;  top: 50%; left: 50%;  transform: translate(-50%,-50%);}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide2 a {color: #000 !important;  margin-bottom: 5px;  display: inline-block;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide2 a button { background: #f3a626; color: #fff;  border: 0px;  border-radius: 3px;}
.wk-mp-sellerlist-container .wk-mp-sellerlist-wrap .wk-sellerlist-divide2 > a{margin-top:10px}

.page-products .toolbar.toolbar-products .custom-page-title {
  display: none;
}
.page-products .toolbar.toolbar-products .pages {
  display: none !important;
}
.checkout-cart-index .testshpping .free_shipping {
  line-height: 1.5 !important;
}
