<div class="home-ajax-result">
<div class="loading-mask home-loader"><span class="loader"><?php /*<img src='<?php echo $this->getViewFileUrl('/images/fav-icon.ico'); ?>' alt="Demo">*/?></span></div>    
</div>
<?php 
$ajaxUrl = $block->getUrl('homeajax/index');
?>
<script type="text/javascript">
require(['jquery'], function () { 
/* lazy loading for home page */
var isScrolled = false;
if (jQuery(window).width() <= 2000) {
    window.onscroll = function() {    
        if(isScrolled==false){
          omlazyLoad();
        }
    };
}else {
  omlazyLoad();
}   
function omlazyLoad(){
jQuery.ajax({
    url:  '<?php echo $ajaxUrl ?>',
    dataType:'html',
    success:function(response){
        jQuery('.home-ajax-result').html(response);
           if(jQuery('body').hasClass('logged-in')){

        }else{
            jQuery("a.action.towishlist").removeAttr("data-post"); 
        }
    },
    beforeSend:function(){ isScrolled = true; }
});

}

});
</script>
<style type="text/css">
.loading-mask.home-loader {position: relative;bottom: inherit;top: initial;}
</style> 
