<?php
$orders =  $block->getCustomerOrder()->getData();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>
<?php foreach ($orders as $orders):?>
<?php 	
	$orderId = $orders['entity_id'];
	$order = $objectManager->create('Magento\Sales\Model\Order')->load($orderId);
	$orderItems = $order->getAllItems();
?>
<?php foreach ($orderItems as $item):?>
<?php 	
$productId = $item->getProductId();
$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
$postData = $postDataHelper->getPostData($block->getAddToCartUrl($product), ['product' => $product->getId()]);
$postParams = json_decode($postData, true);
$abstractProductBlock = $block->getLayout()->createBlock('\Magento\Catalog\Block\Product\AbstractProduct');
$image_url = $this->helper('Magento\Catalog\Helper\Image')
->init($product, 'product_page_image_small')
->constrainOnly(true)
->keepAspectRatio(true)
->keepTransparency(true)
->keepFrame(false)
->resize(50, 50)->getUrl();
?>
<div class="order-items">
	<form data-role="tocart-form" class="custom_addto_form" action="<?= /* @escapeNotVerified */ $block->getAddToCartUrl($product) ?>" method="post">
		<?= $block->getBlockHtml('formkey') ?>
		<input type="hidden" name="product" value="<?= /* @escapeNotVerified */ $product->getId() ?>">
		<input type="hidden" name="<?= /* @escapeNotVerified */ Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED; ?>" value="<?= $postParams['data'][Magento\Framework\App\Action\Action::PARAM_NAME_URL_ENCODED]; ?>">
		<div class="product-image-container">
			<a href="<?= $block->escapeUrl($product->getProductUrl()) ?>">	
			<img src="<?= $block->escapeUrl($image_url) ?>" alt="<?= $block->escapeUrl($product->getTitle()) ?>" />
		</a>
		</div>
		<div class="product-item-details">
			<div class="product-item-name"><a href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= $block->escapeHtml($product->getName()) ?></a>
			</div>
			<div class="price-box">
				<div class="price"><?= $abstractProductBlock->getProductPrice($product) ?></div>
			</div>
			<?php if($product->isSaleable()): ?>
				<div class="product-item-inner">
					<div class="product-item-actions">
						<div class="actions-primary">	
							 <button type="submit" title="<?= $block->escapeHtml(__('Add to Bag')) ?>" class="action tocart primary">
							 	<span><?= /* @escapeNotVerified */ __('Add to Cart') ?></span>
							 </button>
						</div>
					</div>
				</div>
			<?php else:?>
					<span class="out-of-stock">Out Of Stock</span>	
			<?php endif;?>
		</div>
	</form>
</div>
<?php endforeach;?>
<?php endforeach;?>
