<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>

<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$showmessage = $customerSession->getRegistrationSuccusfulNeedConfirmation(); 
$scopeConfig = $objectManager->get('\Magento\Framework\App\Config\ScopeConfigInterface');
$isconfirmationrequired = $scopeConfig->getValue('customer/create_account/confirm');


if($showmessage=="yes")
{	?>
<script>
/*gst validation */
requirejs([
    'jquery',
    'Magento_Customer/js/customer-data',
    'toastr'
], function($, customerData, toastr){
	
<?php if($isconfirmationrequired):?>
	toastr.success("Please Verify Your Email to  access your account");
<?php else:?>
	toastr.success("Thanks for registering ! Please Login to access your account");
<?php endif;?>	
});	
</script>
<?php
$customerSession->unsRegistrationSuccusfulNeedConfirmation();
}
?>
 
<script>

require([
		'jquery'
], function ($) {
	 
	$('.special_char').keyup(function()
	{
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
			$(this).val(no_spl_char);
		}
	});	 	
	$('.special_char_add').keyup(function()
	{ 
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput); 
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*_|+\=?;:'".<>\{\}\[\]]/gi, '');
			$(this).val(no_spl_char);
		}
	});	 
	
	
	jQuery('form#form-validate').find('button[type=submit]').attr('id','custom_login_btn');
	
});     
</script>
<script>
	require([
		'jquery'
	], function ($) {		
		setTimeout(explodeeee, 2000);  
		          
	});    

	function explodeeee(){
		jQuery('input[name=is_seller]:eq(0)').attr('onclick','which_user(1)');
		jQuery('input[name=is_seller]:eq(1)').attr('onclick','which_user(0)');
		setTimeout(explodeeee, 500);  
	}
	
	
	function which_user(e)
	{
		jQuery('.c-group').show();
		if(e==1)
		{
			jQuery('.c-group').hide();
		}   
	}	
	
	
</script>	
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$refferrar_url  = $objectManager->get('Magento\Framework\App\Response\RedirectInterface');
$pincode=0;
$customerData=$customerSession->getCustomerRegData(); //Get value from customer session 
$pincode=$customerSession->getPinValue();
if($pincode=='') 
{
	$pincode=0;
}    
	  
$otpSent=0;
$otpSent=$customerSession->getOTPSent(); 	 
if($otpSent=='') 
{
	$otpSent=0;
}   

$is_checkout_redirect = strripos($refferrar_url->getRefererUrl(),"checkout");

if($is_checkout_redirect || $customerSession->getIsCheckoutRedirect()=="yes")
{
	$customerSession->setIsCheckoutRedirect("yes");
} else 
{
	$customerSession->setIsCheckoutRedirect("no");
}

$customerArray=json_decode($customerData);		
   

$today=date('Y-m-d H:i:s');
$is_subscribed=1;   


$company_name='';
$company_address='';
$seller_zipcode='';
$cin_number='';
$gst_number='';
$pan_number='';

    
if(!empty($customerArray))
{
	
	/* echo "<pre>";
		print_r($customerArray);
	echo "</pre>";
	
	die; */ 
	
	
	//$is_seller=$customerArray->is_seller;
	$group_id=$customerArray->group_id;
	$firstname=$customerArray->firstname;
	$lastname=$customerArray->lastname;
	
	
	$email=$customerArray->email; 
	//$is_seller=$customerArray->is_seller;   
	//$password=$customerArray->password; 
	//$password_confirmation=$customerArray->password_confirmation; 
	
	
	$phone=$customerArray->mobile; 
	
	 //$is_seller;
	
	
	
	
	/*if($is_seller==1)
	{
		$company_name=$customerArray->company_nam; 
		$company_address=$customerArray->company_add; 
		$seller_zipcode=$customerArray->seller_zipcode; 
		$cin_number=$customerArray->cin_number; 
		$gst_number=$customerArray->gst_number; 
		$pan_number=$customerArray->pan_number;   
	}*/
	
	if($group_id==4)
	{
		$company_name=$customerArray->company_nam; 
		$company_address=$customerArray->company_add; 
		$gst_number=$customerArray->gst_number; 
		$pan_number=$customerArray->pan_number;   
	}
	 
	
	 
	
?>  
<style>
#add_button_register_byclass {display:none;} 
</style>    
<input type="hidden" id="u_firstname" value="<?php echo $firstname; ?>">
<input type="hidden" id="u_lastname" value="<?php echo $lastname; ?>">
<input type="hidden" id="u_is_subscribed" value="<?php echo $is_subscribed; ?>">
  

<input type="hidden" id="u_email" value="<?php echo $email; ?>">

<input type="hidden" id="u_password" value="">

<input type="hidden" id="u_phone" value="<?php echo $phone; ?>">

<input type="hidden" id="u_company_name" value="<?php echo $company_name; ?>">
<input type="hidden" id="u_company_address" value="<?php echo $company_address; ?>">
<input type="hidden" id="u_seller_zipcode" value="<?php echo $seller_zipcode; ?>">
<input type="hidden" id="u_cin_number" value="<?php echo $cin_number; ?>">
<input type="hidden" id="u_gst_number" value="<?php echo $gst_number; ?>">
<input type="hidden" id="u_pan_number" value="<?php echo $pan_number; ?>"> 



      
<script>    


	require([
		'jquery'
	], function ($) { 
		
		
		$('ul.header').find('li:last>a').attr('href','<?php echo $this->getUrl().'customuser/index/resetregisterform'?>');
		      
		var firstname=jQuery('#u_firstname').val();
		var u_lastname=jQuery('#u_lastname').val();
		var u_is_subscribed=jQuery('#u_is_subscribed').val();
		var u_taxvat=jQuery('#u_taxvat').val();
		var u_email=jQuery('#u_email').val();
		//var u_is_seller=jQuery('#u_is_seller').val();
		//var u_password=jQuery('#u_password').val(); 
		//var u_password_confirmation=jQuery('#u_password_confirmation').val();
		var u_phone=jQuery('#u_phone').val();
		
		var company_nam=jQuery('#u_company_name').val();
		var company_add=jQuery('#u_company_address').val();   
		var seller_zipcode=jQuery('#u_seller_zipcode').val();
		var cin_number=jQuery('#u_cin_number').val();
		var gst_number=jQuery('#u_gst_number').val();
		var pan_number=jQuery('#u_pan_number').val();  
		
		                             
		jQuery('#firstname').val(firstname);   
		jQuery('#lastname').val(u_lastname);
		jQuery('#taxvat').val(u_taxvat);
		jQuery('#email_address').val(u_email);
		//jQuery('#password').val(u_password);
		//jQuery('#password-confirmation').val(u_password_confirmation);
		jQuery('#mobile').val(u_phone);
		
		jQuery('#company_nam').val(company_nam);
		jQuery('#company_add').val(company_add);
		jQuery('#seller_zipcode').val(seller_zipcode);
		jQuery('#cin_number').val(cin_number);
		jQuery('#gst_number').val(gst_number);
		jQuery('#pan_number').val(pan_number);
		
		  
		
		
	});    
	
	
</script>



<?php
}
?>  

<?php
$OTPFormShow=$customerSession->getOTPFormShow();  
if($OTPFormShow=='')
{
	$OTPFormShow=0;
}	

$countdown=0;
$countdown=$customerSession->getcountdown();  
if($countdown=='')
{
	$countdown=0;
}
 

if($OTPFormShow==1)
{  

$resend=$customerSession->getRegister_resend();  


$allwell=$customerSession->getRegister_allwell(); 

$RegisterFormSubmit=$customerSession->getRegisterFormSubmit();  

$resendbtn=$customerSession->getResendbtndbgya();  
if($resendbtn=='')
{
	$resendbtn=0;
}	 


$newuser=$customerSession->getNewUser();
$RegisterFormSubmit; 
if($RegisterFormSubmit==1)
{
?>
<script>
	require([
		'jquery',
		'jquery/jquery.cookie',
		'mage/mage' 
	], function($){
		
		//alert('aaaaaaaaaaa'); 
		
		//$('#form-validate').find('button[type=submit]').click();
		//jQuery('#form-validate').submit();  
		jQuery('#custom_login_btn').click();
		jQuery('.loader_1').show(); 
			 
	}); 
</script> 	
<?php	
}	
 

?>
<style>
.add_button_register_byclass {
	display:none !important;	
}	  
</style>

<script>
require([
    'jquery',
    'jquery/jquery.cookie',
    'domReady!'// wait for dom ready
], function($){
	
	jQuery('#form-validate').find('.newsletter>input[type="checkbox"]').prop('checked',true);
	jQuery('#form-validate').hide();    
		
		//alert($.cookie('register_time'));
		
		<?php
		if($resendbtn==1)
		{	
		?>
			document.cookie = "register_time=1";
			//alert($.cookie('register_time'));
		<?php  
		}
		?>		
		
		if($.cookie('register_time')=='0')
		{
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			jQuery('#otp_submit_form').hide(); 	
			jQuery('#otp_submit_form2').hide(); 	
			jQuery('#otp_submit_form3').hide(); 	
		}
		
		
		<?php
		if($newuser==1 || $resendbtn == 1)
		{	
		?>
			var timer2 = "1:00";
		<?php  
		}
		else  
		{		
		?>	
			//alert($.cookie('register_sec'));
			if($.cookie('register_sec') == '' || $.cookie('register_sec') == "undefined" || $.cookie('register_sec') == "NaN" || $.cookie('register_sec') == null)  
			{ 
				var timer2 = "1:00";
			}                     
			else             
			{    
				var timer2 = $.cookie('register_min')+":"+$.cookie('register_sec');      
			}    
		<?php
		}
		?>
		
		var interval = setInterval(function() {
		var timer = timer2.split(':');
		//by parsing integer, I avoid all extra string processing
		var minutes = parseInt(timer[0], 10);
		var seconds = parseInt(timer[1], 10);
		--seconds;
		minutes = (seconds < 0) ? --minutes : minutes;
		seconds = (seconds < 0) ? 59 : seconds;
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		$('.countdown').html(minutes + ':' + seconds);
		jQuery('#otp_timer_min').val(minutes);
		jQuery('#otp_timer_sec').val(seconds);
		$.cookie('register_min',minutes);	
		$.cookie('register_sec',seconds);	 
		var ss='1';
		$.cookie('register_time',ss);
		if(seconds=='00')
		{  
			document.cookie = "register_time=0";
		}               	    
		if ((seconds == 0) && (minutes == 0)) 
		{
			clearInterval(interval); 
			
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			jQuery('#otp_submit_form').hide(); 
			jQuery('#otp_submit_form2').hide(); 
			jQuery('#otp_submit_form3').hide(); 
			} 
		    
		timer2 = minutes + ':' + seconds;
		}, 1000); 
});
</script>  

<script> 
require([
	'jquery',
	'jquery/jquery.cookie',
	'mage/mage' 
], function($){
	
	if($.cookie('expire_sess_sec') == '' || $.cookie('expire_sess_sec') == "undefined" || $.cookie('expire_sess_sec') == "NaN" || $.cookie('expire_sess_sec') == null)  
	{ 
		var timerss22 = "3:00";   
	}                    
	else                
	{   
		var timerss22 = $.cookie('expire_sess_min')+":"+$.cookie('expire_sess_sec');      
	} 
	
	     
	var intervals = setInterval(function() {
	var timerss = timerss22.split(':');
	
	var minutessss = parseInt(timerss[0], 10);
	var secondssss = parseInt(timerss[1], 10);
	--secondssss;
	minutessss = (secondssss < 0) ? --minutessss : minutessss;
	secondssss = (secondssss < 0) ? 59 : secondssss;
	secondssss = (secondssss < 10) ? '0' + secondssss : secondssss;
	
	$('.countdown_test').html(minutessss + ':' + secondssss);
	
	jQuery('#expire_sess_min').val(minutessss);
	jQuery('#expire_sess_sec').val(secondssss);
	
	document.cookie = "expire_sess_min="+minutessss; 
	document.cookie = "expire_sess_sec="+secondssss; 

	
	if ((secondssss == 0) && (minutessss == 0)) 
	{   
		clearInterval(intervals); 
		
		document.cookie = "expire_sess_min=undefined"; 
		document.cookie = "expire_sess_sec=undefined"; 
		    
		//window.location.href="<?php echo $this->getUrl().'customuser/index/resetregisterform'?>";	
	}      
	
	timerss22 = minutessss + ':' + secondssss;
	}, 1000); 
}); 
 
 

</script> 
 

<?php
$otpexpiree=0;
$otpexpiree=$customerSession->getOtpPinExpire();  
if($otpexpiree=='')
{
	$otpexpiree=0;
}
	


$min=$customerSession->getOtpTimerMin();
$sec=$customerSession->getOtpTimerSec();

$exp_min=$customerSession->getExpireSessionMin();
$exp_sec=$customerSession->getExpireSessionSec();
  
    
     
?>	

<input type="hidden" id="otp_timer_min" value="<?php echo $min; ?>">
<input type="hidden" id="otp_timer_sec" value="<?php echo $sec; ?>">


<input type="hidden" id="expire_sess_min" value="<?php echo $exp_min; ?>">
<input type="hidden" id="expire_sess_sec" value="<?php echo $exp_sec; ?>">
     
<!--<p class="session-timer">Your Session Expire In : <span class="countdown_test"></span></p>-->  

 
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_url=$storeManager->getStore()->getBaseUrl();
?>   

<script type="text/javascript">
require([
	'jquery',
	'jquery/jquery.cookie',
	'domReady!'// wait for dom ready	
], function($){
	
	var dataForm = jQuery('#register_otp_form');
	jQuery('#register_otp_form').submit(function()
	{
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status==true)
		{
			jQuery('button#otp_submit_form').attr('disabled',true);	
			jQuery('.cancel_me').remove();	
		}  
	});	  
	
	
	//jQuery('#forget_otp_form').remove();
	//jQuery('.resend_otp_sectionnn').remove(); 
	
});   

</script> 

<div class="otp-screen"> 
<form class="form create account form-create-account" action="<?php echo $this->getUrl().'customuser/index/checkregisterotp'?>" method="post" id="register_otp_form" enctype="multipart/form-data" autocomplete="off" data-mage-init='{"validation":{}}'>
	<fieldset class="fieldset create info"> 
    <div class="field field-name-firstname required">
	<div class="resend-icon"><img src='<?php echo $site_url; ?>/image.png' alt="image-icon"></div>
		<label class="label" for="enter_otp"><span>Please enter verification code (OTP) sent to: <?php echo $email; ?>/<?php echo $phone; ?></span></label> 
		<div class="control">
			<input type="text" id="enter_otp" name="enter_otp"  title="Code" class="input-text required-entry" data-validate="{required:true}" autocomplete="off" aria-required="true" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="4">
		</div>       
    </div>  
	<?php
	$countdown;
	if($countdown==1) 
	{	
	?>
		<div class="countdown"></div>
	<?php 
	}
	?>
	
	<?php
	$resend=$customerSession->getRegister_resend();  
	if($countdown==1)
	{ 
	?>	
	<div class="actions-toolbar">
        <div class="primary">
		<input id="otp_submit_form3" type="submit" name="submit" value="Resend OTP" class="action primary custom_button" id="resend_topp" onclick=" jQuery('.cancel_me').remove();"disabled> 
            <button type="submit" id="otp_submit_form" class="action submit primary" title="Continue" ><span>Continue</span></button> 
			<a id="otp_submit_form2" href="<?php echo $this->getUrl().'customuser/index/resetregisterform'?>" class="cancel_me action primary custom_button reset_link">Cancel</a>
			
		</div>        
         
    </div>   
    <?php
	}
	?>
	</fieldset>

</form>


<div class="resend_otp_sectionnn" style="<?php if($countdown==1) { echo 'display:none;';  } else { echo 'display:block'; } ?>">
<form id="new_register_resend" name="register_resend" action="<?php echo $this->getUrl().'customuser/index/resendotp'?>" method="post">
<input type="submit" name="submit" value="Resend OTP" class="action primary custom_button" id="resend_topp" onclick=" jQuery('.cancel_me').remove();">  

	<button type="submit" id="otp_submit_form" class="action submit primary" title="Send" disabled><span>Continue</span></button>
	
	
	<a href="<?php echo $this->getUrl().'customuser/index/resetregisterform'?>"  class="cancel_me
	action primary custom_button reset_link">Cancel</a>
	
	<input type="hidden" name="user_email" value="<?php echo $email; ?>">
	<input type="hidden" name="user_phone" value="<?php echo $phone; ?>">
	
	
</form>         
			<!--
			<a href="javascript:void(0);" onclick="resend_otp();" class="custom_button">Resend OTP</a>				
			-->			
</div>    
</div>  


<?php 

	$customerSession->unsRegister_resend();   
	$customerSession->unsResendbtndbgya();   
	$customerSession->unsNewUser();   
}
else
{
	
	$customerSession->unsRegister_resend();  
	$customerSession->setRegister_allwell(1);  
	
	$customerSession->unsRegisterFormSubmit();  
	
	$customerSession->setNewUser(1);  
	  
?>
<script>
require([
	'jquery',
	'jquery/jquery.cookie',
	'mage/mage' 
], function($){
	
document.cookie = "register_time=1";
	  
});	
</script>
<?php
	
}	 
?>
<div class="row newacuntt" id="register-popup-form" style="display: none;">
<div class="back-btn" style="display: none;">Back</div>	
<div class="login-container">
<div class="left-container" style="visibility: hidden;">
<?php 
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('getmyspare_individual_registration_left_section')
          ->toHtml();
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('getmyspare_service_registration_left_section')
          ->toHtml(); 
echo $this->getLayout()
          ->createBlock('Magento\Cms\Block\Block')
          ->setBlockId('getmyspare_business_registration_left_section')
          ->toHtml();            
                  
          
?>	
</div>
<div class="right-container">
<form class="form create account form-create-account" action="<?php echo $this->getUrl().'customuser/index/checkregisterotp'?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off"> 
<div class="block-title">
	<?php
		$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
		$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
		$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
		$mediaurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);  
		  
		?>
</div>
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">

	<div class="row">
	 <div class="basic-info-container">   		
			<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
			<?php if ($block->isNewsletterEnabled()): ?>
				<?php
				$checked = true;
				if($this->getFormData()->getEmail()) {
				if(!$this->getFormData()->getIsSubscribed()) {
				$checked = false;
				}
				}   
				?>
	 
				
				<?php /* Extensions placeholder */ ?>
				<?= $block->getChildHtml('customer.form.register.newsletter') ?>
			<?php endif ?>
       
		  
		   <div class="field required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="email" placeholder="Email*"  id="email_address" value="" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text v-validate validate-length maximum-length-50" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" maxlength="50" autocomplete="off">
            </div>
            <span class="email-exist-check" style="display: none;">Customer With Email Already Exist</span>
           </div>
			<div class="field password required">
				<label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
				<div class="control">
					<input type="password" name="password" id="password" placeholder="Password"
						   title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
						   class="input-text"
						   data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
						   data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
						   data-validate="{required:true, 'validate-customer-password':true}"
						   autocomplete="off">
					<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
						<div id="password-strength-meter" class="password-strength-meter">
							<?= $block->escapeHtml(__('Password Strength')) ?>:
							<span id="password-strength-meter-label" data-role="password-strength-meter-label">
								<?= $block->escapeHtml(__('No Password')) ?>
							</span>
						</div>
					</div>
				</div>				
			</div>
			<div class="field password required">
				<label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
				<div class="control">
					<input type="password" name="password_confirmation" placeholder="Confirm Password" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
				</div>
			</div>
			<div class="field required">
				<label for="mobile" class="label"><span><?= __('Mobile Number') ?></span></label>
				<div class="control">
					<input type="text" name="mobile" id="mobile" placeholder="Mobile Number*" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Mobile Number') ?>" class="input-text" data-validate="{required:true}" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="10" <?php if($pincode!=0) { echo 'readonly'; } ?>> 
				</div>
				<span class="already-exist-msg" style="display: none;">Mobile Number Already Exist.Please use another number</span>
				<span class="invalid-mob-number" style="display: none;">Please enter a valid mobile number</span>       
			</div> 	
			<div class="field required">
				<div class="control">
					<span id="sendotp" style="display: none;">Send OTP</span>
					<span id="verfiedotpstatus" style="display:none;">OTP Verified</span>
				</div>       
			</div> 	
			<div class="field required verifyotpblock" style="display:none;">
				<div class="control">
					<input type="text" name="otp" id="otp" placeholder="Verify OTP" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('OTP') ?>" class="input-text" data-validate="{required:true}" maxlength="4" > 
				</div>       
			</div> 	
			<div class="field required verifyotpblock" style="display:none;" >
				<div class="control">
					<span id="verify_otp_button">Verify OTP</span>
					<span id="om_counter"></span>	
					<input type="hidden" id="is_otp_verified" name="is_otp_verified" value="false" /> 		
				</div>       
			</div>
		<div class="col-12 d-none">
			<div class="field zip required">
                <label for="zip" class="label"><span><?= $block->escapeHtml(__('postcode')) ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title=" <?= $block->escapeHtml(__('postcode')) ?>" id="zipppp" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                </div>
            </div>
			<?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
			<?php if ($_dob->isEnabled()): ?>
				<?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
			<?php endif ?>      

			<?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
			<?php if ($_gender->isEnabled()): ?>
				<?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
			<?php endif ?>
		
	
    <?php if ($block->getShowAddressFields(true)): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />

            <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
            <?php if ($_company->isEnabled()): ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
            <?php if ($_telephone->isEnabled()): ?>
                <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
            <?php if ($_fax->isEnabled()): ?>
                <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
            <?php endif ?>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                    <span><?= $block->escapeHtml(__('Address')) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>" id="city">
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select" style="display:none;">
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>" style="display:none;">
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>

        <!--<legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend><br>-->
       <?= $block->getChildHtml('form_additional_info') ?>
      </div>
  </div>
       
        
		<!--baljit add code custom fields -->
		
		
		
		<div class="d-none">
			<div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('I agree to receive promotional notification')) ?>" value="1" id="is_subscribed"<?php if($checked): ?> checked="checked"<?php endif; ?> class="checkbox">
                <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('I agree to receive promotional notification')) ?><a href="<?php echo $this->getUrl('terms-conditions');?>" target="_blank"><?php echo __('I Agree to Terms & Conditions') ?></a></span></label>
			</div>
		</div>
		<!-- User Role -->
		<div class="user-role-btn">
            <div class="control switch-field c-group">
				<div class="user-role-btn-inner">
					<div class="btnone">
						<div class="switch general active">
							<label class="tab-radio-des radio-des">
								<input   
								title="<?= __('Customer Group') ?>"
								id="group_id" 
								class="business"
								data-val=""
								data-validate="{required:true}"
								name="group_id" type="radio"
								value="1" checked="checked" />
								<span>
								 <?= $block->escapeHtml(__('I am an Individual Buyer')) ?>
								 </span>
							</label>
						</div>
					</div>
					
					<div class="btntwo">
						<div class="switch general"> 
							<label class="tab-radio-des radio-des">
								<input  
								title="<?= __('Customer Group') ?>"
								id="group_id" 
								class="business"
								data-val="business"
								data-validate="{required:true}"
								name="group_id" type="radio"
								value="5"  /> 
								<span>
								 <?= $block->escapeHtml(__('I am a Service Engineer')) ?>
								 </span>
							</label> 
						</div> 
					</div>
					
					<div class="btntree">
						<div class="switch eu-company">
							<label class="tab-radio-des radio-des">
								<input
								title="<?= __('Customer Group') ?>"
								id="group_id" 
								class="business"
								data-val="business"
								data-validate="{required:true}"
								name="group_id" type="radio"
								value="4" />
								<span>
								 <?= $block->escapeHtml(__('I am a Business')) ?>
								 </span>
							</label>
						 </div>
					</div>
					 
				</div>
			</div>
        </div>
        
        <div class="already-have-account-message">Already have a account <span class="login-popup">Log in</span></div>
        <div id='b_or_eng' class="newwww_fieldsss service_engineer" style='display:none'>	
			
        <?php 
			$_resource  =  $objectManager->create('\Magento\Framework\App\ResourceConnection');
			$connection = $_resource->getConnection();
			$regions      = $connection->fetchAll("SELECT city FROM `om_city_state` order by city asc");
			$states       = $connection->fetchAll("SELECT region_id,default_name FROM `directory_country_region` WHERE `country_id` LIKE 'IN' ORDER BY `directory_country_region`.`default_name` ASC");	
			$interests    = $connection->fetchAll("SELECT name,image FROM `om_area_interest` ORDER BY `om_area_interest`.`name` ASC");	
		?>
		
		
		 
			<div class="field required">
				<div class="control select-example">
					<select id="multiselect" name="city" class="input-text special_char" data-validate="{required:true}" >
						<option value="">Select City</option>
					</select>
				</div>
			</div>
		
		  
		  
			<div class="field required">
				<div class="control select-example">
					<label for="area_of_interest" class="label"><span><?= __('Area of Interest') ?></span></label>
					<select id="c_area_of_interest" name="area_of_interest[]" multiple="multiple" class="input-text special_char" data-validate="{required:true}" size="5" style="display: none;">
						<?php foreach($interests as $interest){ ?>
							<option value="<?php echo $interest['name']; ?>"><?php echo $interest['name']; ?></option>
						<?php } ?>
					</select>

					<div id="edit-busn" class="edit-busn-add-cls" style='display: none;'>
					<div class="field required">
						<label for="gst_number" class="label"><span><?= __('GST Number') ?></span></label>
						<div class="control">
							<input type="text" placeholder="GST Number" name="gst_number" id="gst_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('GST Number') ?>" class="input-text special_char"  maxlength="15">
						</div>
					</div>
					<div class="field required">
					<span id="validate-cst">Validate</span>
					</div>
					<div class="customer-detail-cls" style="display: none;">
						<div class="customer-detail-cls-inner">
							<div class="cust-dt-box">
								<div class="dt-box-lft">
									<label>Company Name - </label>
									<span class="res-company-name">Panasonic India Pvt. Ldt.</span>
								</div>
								<div class="dt-box-rgt">
								<label>Pan Number - </label>
								<span class="res-pan-number">987BFT67589</span>
								</div>
							</div>
							<div class="cust-dt-box">
							<label>Company Address - </label>
							<span class="res-comapny-address">12th Floor, Ambience Tower, NH-8, Ambience Island, DLF Phase 3, Sector 24, Gurugram, Haryana 122002</span>
							</div>
							<div class="cust-dt-edit">
								<a href="#" class="edit-business">Edit</a>
							</div>
						</div>
					</div>
				    </div>

					<div class="intrest-area-container">
					<span><?= __('Area of Interest') ?></span>	
					<ul class="interest_ul owl-carousel">
						<?php $i=1;foreach($interests as $interest){ ?>
						<?php if ($i%6 == 1){ echo "<div class='item'>";}?>
						<?php if ($i%3 == 1){ echo "<div class='flex-container'>";}?>
						<li class ="<?php echo $interest['name']; ?>" data-val="<?php echo $interest['name']; ?>">
							<div class="intrest-img">
								<img src="<?php echo $mediaurl.$interest['image']?>"/>
								<span class="name"><?php echo $interest['name']; ?></span>
							</div>
						</li>
						<?php if ($i%3 == 0){ echo "</div>";}?>
						<?php if ($i%6 == 0){ echo "</div>";}?>
						<?php $i++;} ?>

					</ul>
					</div>
				</div>
			</div>
		
		  
		  
	   </div>
		<div style="clear:both;">&nbsp;</div>
		<div id='show-me111' class="newwww_fieldsss business-cls edit-business-address" style='display:none'>
			 <div class="field required">
				<label for="company_nam" class="label"><span><?= __('Business Name (as per your GST Certificate)') ?></span></label>
				<div class="control">
				<input type="text" name="company_nam" placeholder="Panasonic India Pvt. Ltd." id="company_nam" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Name') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>
			</div>
			<div class="field ">
				<label for="pan_number" class="label"><span><?= __('Pan Number') ?></span></label>
				<div class="control">
					<input type="text" placeholder="ASD657JKL3456" name="pan_number" id="pan_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Pan Number') ?>" class="input-text special_char"  maxlength="10" readonly>
				</div>
			</div>
			<div class="field">
				<p>
					<strong>
					  Business address
					</strong>
				</p>
				<p>
				   Enter the same address as shown on your GST registration certificate.
				</p>
			</div> 
			<div class="field required">
				<label for="company_add" class="label"><span><?= __('Address Line1') ?></span></label>
				<div class="control">
				<input type="text" placeholder="Company Address" name="company_add" id="company_add" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Address') ?>" class="input-text special_char_add" data-validate="{required:true}">
				</div>  
			</div>
			<div class="field required">
				<label for="company_add" class="label"><span><?= __('Address Line 2 (optional)') ?></span></label>
				<div class="control">
				<input type="text" placeholder="Company Address" name="company_add" id="company_add" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Address') ?>" class="input-text special_char_add" data-validate="{required:true}">
				</div>  
			</div>
			<div class="field required">
				<label for="company_add" class="label"><span><?= __('Pincode') ?></span></label>
				<div class="control">
					<input type="text" placeholder="Pincode" name="seller_zipcode" id="seller_zipcode"  title="<?= __('Zipcode') ?>" class="input-text special_char" data-validate="{required:true}" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="6">
				</div>   
			</div>
			<div class="field required">
				<label for="company_add" class="label"><span><?= __('City') ?></span></label>
				<div class="control">
					<input type="text" placeholder="City" name="city" id="city"  title="" class="input-text special_char" data-validate="" maxlength="6">
				</div>   
			</div>
			<div class="field required">
			<label for="company_add" class="label"><span><?= __('State') ?></span></label>
				<div class="control select-example">
					<select id="seller_state" name="seller_state" style="color:#888888;" class="input-text" data-validate="{required:true}" >
						<option value="">Select State</option>
						<?php foreach($states as $state){ ?>
							<option value="<?php echo $state['region_id']; ?>"><?php echo $state['default_name']; ?></option>
						<?php } ?>
					</select>
				</div>
			</div>
			<?php
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
			$customerSession = $objectManager->get('Magento\Customer\Model\Session');
			$seller_register=$customerSession->getSellerValue();

			if($seller_register==1)
			{
				
				
			?>
				
					
			
				
				
					
				
		
				
				
					<div class="field required">
						<label for="company_add" class="label"><span><?= __('cin_number') ?></span></label>
						<div class="control">
							<input type="text" placeholder="Cin Number" name="cin_number" id="cin_number"  title="<?= __('cin_number') ?>" class="input-text special_char"   maxlength="21">
						</div>
					</div>
				
			<?php
			}	
			?>	
		
			 
			<!-- <div class="field ">
				<label for="gst_number" class="label"><span><?= __('GST Number') ?></span></label>
				<div class="control">
					<input type="text" placeholder="GST Number" name="gst_number" id="gst_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('GST Number') ?>" class="input-text special_char"  maxlength="15">
				</div>
			</div>  -->
			
			 
			
			

			<!-- More  Question Blocks -->
			
				<!-- <div class="field  want-to-answer-more-select-field">
					<label for="want_to_answer_more" class="label"><span><?= __('Want To Answer More Questions') ?></span></label>
					<div class="control">
						<select name="answer_more" id="want_to_answer_more">
							<option value="">Please  Select</option>
							<option value="no">No</option>
							<option value="yes">Yes</option>
						</select>	
					</div>
				</div> -->
			
	
			<div class="more-question-survey" id="more_question_survey" style="display:none">
			<div class="field ">
				<label for="dealer_of_product" class="label"><span><?= __('Spare parts dealer of Products (Ref, MWO, TV, AC etc.)') ?></span></label>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Refrigerator">
					<span><?= __('Refrigerator') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Television">
					<span><?= __('Television') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Air Conditioner">
					<span><?= __('Air Conditioner') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Microwave oven">
					<span><?= __('Microwave oven') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Mobile Phone">
					<span><?= __('Mobile Phone') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Laptop">
					<span><?= __('Laptop') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Washing Machine">
					<span><?= __('Washing Machine') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Home Theatre/Audio equipment">
					<span><?= __('Home Theatre/Audio equipment') ?></span>
				</div>

				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Camera">
					<span><?= __('Camera') ?></span>
				</div>

				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" value="Water Purifier">
					<span><?= __('Water Purifier') ?></span>
				</div>

				<div class="checkbox-parent">
					<input type="checkbox" name="dealer_of_product[]" id="dealer_of_product_other" value="Others">
					<span><?= __('Others (Please specify)') ?></span>
				</div>
			</div>
			<div class="col-sm-12 col-lg-12">
				<div class="field ">
					<div class="control">
						<input type="text" placeholder="please specify" style="display:none" name="dealer_of_product_please_specify" id="dealer_of_product_please_specify"  class="input-text special_char"  maxlength="126">
					</div>
				</div>
			</div>

			
			<div class="field ">
				<label for="dealing_in" class="label"><span><?= __('Brands of spare parts dealing in') ?></span></label>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Samsung (Original)">
					<span><?= __('Samsung (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="LG (Original)">
					<span><?= __('LG (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Panasonic (Original)">
					<span><?= __('Panasonic (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Whirlpool (Original)">
					<span><?= __('Whirlpool (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Godrej (Original)">
					<span><?= __('Godrej (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Lloyd (Original)">
					<span><?= __('Lloyd (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Sony (Original)">
					<span><?= __('Sony (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="IFB (Original)">
					<span><?= __('IFB (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Voltas (Original)">
					<span><?= __('Voltas (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Bosch (Original)">
					<span><?= __('Bosch (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Haier (Original)">
					<span><?= __('Haier (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Electrolux (Original)">
					<span><?= __('Electrolux (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Hitachi (Original)">
					<span><?= __('Hitachi (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" value="Universal (Un-branded)">
					<span><?= __('Universal (Un-branded)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="dealing_in[]" id="dealing_in_other" value="Others (Please specify)">
					<span><?= __('Others (Please specify)') ?></span>
				</div>
			</div>
			<div class="col-sm-12 col-lg-12">
				<div class="field ">
					<div class="control">
						<input type="text" placeholder="please specify" style="display:none" name="dealing_in_please_specify" id="dealing_in_please_specify"  title="<?= __('please specify') ?>" class="input-text special_char"   maxlength="126">
					</div>
				</div>
			</div>
			<div class="field ">
				<label for="procure_from" class="label"><span><?= __('Where do you usually procure your spares from') ?></span></label>
				<div class="checkbox-parent">
					<input type="checkbox" name="procure_from[]" value="Regional Distributor of Brand">
					<span><?= __('Regional Distributor of Brand') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="procure_from[]" value="Local Market">
					<span><?= __('Local Market') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="procure_from[]" value="Whirlpool (Original)">
					<span><?= __('Whirlpool (Original)') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="procure_from[]" value="Online">
					<span><?= __('Online') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="procure_from[]" value="Manufaturer/Brand">
					<span><?= __('Manufaturer/Brand') ?></span>
				</div>
				<div class="checkbox-parent">
					<input type="checkbox" name="procure_from[]" id="procure_from_other" value="Others (Please specify)">
					<span><?= __('Others (Please specify)') ?></span>
				</div>
			</div>
			<div class="col-sm-12 col-lg-12">
				<div class="field ">
					<div class="control">
						<input type="text" placeholder="please specify"  style="display:none" name="procure_from_please_specify" id="procure_from_please_specify"  title="<?= __('please specify') ?>" class="input-text special_char"   maxlength="126">
					</div>
				</div>
			</div>

			<div class="">
				<div class="field ">
					<label for="difficult_spares_to_get" class="label"><span><?= __('Difficult spares to get') ?></span></label>
					<div class="control">
						<input type="text" placeholder="Difficult spares to get" name="difficult_spares_to_get" id="difficult_spares_to_get"  title="<?= __('difficult_spares_to_get') ?>" class="input-text special_char"   maxlength="21">
					</div>
				</div>
			</div>

			<div class="field ">
				<label for="like_to_buy_online" class="label"><span><?= __('Would you buy spare parts online at the right price?') ?></span></label>
				<div class="control">
					<select name="like_to_buy_online" id="like_to_buy_online">
						<option value="">Please  Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>	
				</div>
			</div>

			<div class="field " style="display:none" id="not_like_to_buy_online" >
				<label for="not_buy_online_reason" class="label"><span><?= __('Reason ?') ?></span></label>
				<div class="control">
					<select name="not_buy_online_reason" id="not_buy_online_reason">
						<option value="">Please  Select</option>
						<option value="Don’t have Online payment method">Don’t have Online payment method</option>
						<option value="Don’t know how to do it">Don’t know how to do it</option>
						<option value="Not interested">Not interested</option>
						<option value="Don’t trust online sites">Don’t trust online sites</option>
					</select>	
				</div>
			</div>

			<div class="field ">
				<label for="like_to_sell" class="label"><span><?= __('Would you be interested in selling spare parts online?') ?></span></label>
				<div class="control">
					<select name="like_to_sell" id="like_to_sell">
						<option value="">Please  Select</option>
						<option value="yes">Yes</option>
						<option value="no">No</option>
					</select>	
				</div>
			</div>



			</div>


			</div>



			<!--
			<div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="upload_doc" class="label"><span><?= __('Company Document') ?></span></label>
				<div class="control">
					<input type="file" name="upload_doc" id="upload_doc" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Document') ?>" class="input-text file_upload" data-validate="{required:false}" >
				</div>
			</div> 
			</div>
			-->
			
		</div>            
		<!-- ================  Terms and Conditions Section ===============  -->
        <div style="width: auto; margin: 0;" class="field choice newsletter">
            <input type="checkbox" data-validate="{required:true}" name="custom-terms" title="<?php /* @escapeNotVerified */ echo __('Terms & conditions') ?>" id="register-input-custom" class="checkbox">
            <label for="custom-terms" class="label">
                <span>                    
                    <a href="<?php echo $this->getUrl('terms-conditions');?>" target="_blank"><?php echo __('I Agree to Terms & Conditions') ?></a>
                </span>
            </label>
        </div>
        <!-- ================   Terms and Condition Section End here ======  -->
		
		<!-- end here custom code 014-jan-2019 -->
   	
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Create  Account')) ?>"><span><?= $block->escapeHtml(__('Continue')) ?></span></button>
			
			<!--<a onclick="reset_register_form();" href="javascript:void(0);">Reset</a>-->
			
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
        </div>
    </div>
	<?php
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
	
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$site_url=$storeManager->getStore()->getBaseUrl();
	
	$customerSession = $objectManager->get('Magento\Customer\Model\Session');
	$seller_sesionss=$customerSession->getSellerValue(); 
	if($seller_sesionss==1) {   
	?>	
	<?php if($seller_sesionss!=1) { ?>
	<div id="social-custom-link">
		<h4>Or Login Using</h4>
		<?php if($seller_register==1)
		{ 
			?>
			<script>
                    require([
                        'jquery'
                    ], function ($) {
						setTimeout(function(){ jQuery('#social-custom-link #custom_social').show();  }, 3000);
						
                       
                    });
                </script>
		<?php
		}
		?>
		
		<div id="custom_social"></div>
		
	</div> 
	<?php } ?>
	<?php } ?>
</form>
</div>
</div>
</div>

  

</div>
<script>
/*gst validation */
requirejs([
    'jquery',
    'Magento_Customer/js/customer-data',
    'toastr'
], function($, customerData, toastr){
	
	$('#sendotp').click(function()
	{
		var mobilenumber=$("input[name='mobile']").val();
		var mobileregexcheck = new RegExp('^[789]\d{9}$');
		if(mobilenumber==false)
		{
			toastr.error("Please Enter Mobile Number To  Continue");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
		} else
		{	
			$(".loader_1").show();
			
			$('#is_otp_verified').val("false");	
			jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'otp/customer/generate'?>", 	
				data: "mobile="+mobilenumber, 
				dataType: "json", 
				success: function(result)       
				{ 

					if(result=='1')
					{
						toastr.success("Otp  send successfully");
						$(".verifyotpblock").show();
						$('#sendotp').hide();
						$('#sendotp').prop('disabled',true);
						var timer2 = "0:00";
						var interval = setInterval(function() {
							var timer = timer2.split(':');
							var minutes = parseInt(timer[0], 10);
							var seconds = parseInt(timer[1], 10);
							--seconds;
							minutes = (minutes < 0) ? 0 : minutes;
							seconds = (seconds < 0) ? 59 : seconds;
							seconds = (seconds < 10) ? '0' + seconds : seconds;
							$('#om_counter').show();
							$('#om_counter').html(minutes + ':' + seconds);
							jQuery('#otp_timer_min').val(minutes);
							jQuery('#otp_timer_sec').val(seconds);
							$.cookie('register_min',minutes);	
							$.cookie('register_sec',seconds);	 
							var ss='1';
							$.cookie('register_time',ss);
							if(seconds=='00')
							{  
								document.cookie = "register_time=0";
							}               	    
							if ((seconds == 0) && (minutes == 0)) 
							{
								clearInterval(interval);
								jQuery('#om_counter').hide();

								var otp_verified = $('#is_otp_verified').val();
								if(otp_verified!="true")
								{
									$('#sendotp').text("Resend Otp")
									$('#sendotp').show();
									$('#sendotp').prop('disabled',false);
									
								}
							} 
							timer2 = minutes + ':' + seconds;
							}, 1000);
					} else  
					{
						toastr.error("Cannot send otp ");
					}
					$(".loader_1").hide();			
				},         		
				error: function(e)    
				{	
					console.log(e);	  
				}	
			}); 
		}
	});
	

	$('#verify_otp_button').click(function()
	{
		var value=$("input[name='otp']").val();
		if(value==false)
		{
			toastr.error("Please Enter OTP To Verify");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
		} else
		{
			$(".loader_1").show();
			jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'otp/customer/verify'?>", 	
				data: "pin="+value, 
				dataType: "json",
				success: function(result)       
				{      
					$(".loader_1").hide();
					if(result=='1')
					{
						$("#verfiedotpstatus").show();
						$("#sendotp").hide();
						$(".verifyotpblock").hide();
						$("input[name='mobile']").prop('readonly', true);
						$('#is_otp_verified').val("true");
						toastr.success("Otp successfully verified");
					}  else  
					{
						toastr.error("OTP does not match");
					}
				},         		
				error: function(e)    
				{	
					toastr.error("OTP Cannot be verified");
					console.log(e);	  
				}	
			});
		}
	});


	$(".login-container #form-validate").submit(function( event ) {
		var group_id = $("input[name='group_id']:checked").val();

		var pathname = window.location.pathname;
		if (pathname.indexOf("customer/account/create") >= 0)
		{
			var group_id = 4;
		}
		var password = $("input[name='password']").val();
		var password_confirmation = $("input[name='password_confirmation']").val();
		
		var txtpan = $('#cin_number').val();	

		var mobilenumber=$("input[name='mobile']").val();
		var otp=$("input[name='otp']").val();

		var firstname = $("input[name='firstname']").val();
		if(firstname==false)
		{
			toastr.error("Please Enter Your First Name To Continue");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

		var lastname = $("input[name='lastname']").val();
		if(lastname==false)
		{
			toastr.error("Please Enter Your Last Name To Continue");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

		/*var email = $("input[name='email']").val();
		if(email==false)
		{
			toastr.error("Please Enter Your Email To Continue");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}*/

		if(mobilenumber==false)
		{
			toastr.error("Please Enter Mobile Number To Continue");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

		if(otp==false)
		{
			toastr.error("Please verify your  mobile by sending OTP");
			$("#gst_number").addClass('mage-error');
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}
		var otp_verified = $('#is_otp_verified').val();
		if(otp_verified!="true")
		{
			toastr.error("You need to click verify otp button that is displayed after sending otp");
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

		if(password.split(' ').length != 1) {
			toastr.error("Password must not contain spaces");
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

		if(password.length<6)
		{
			toastr.error("Password length should be atleast 6 digits");
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

		if(password_confirmation!=password){
			toastr.error("Password and Confirm password do not match");
			$(".loader_1").hide();
			event.preventDefault();
			return false;
		}

	});
   

});



</script>
<script> 

require([
    'jquery',
    'mage/mage'
], function($){    


	jQuery('#want_to_answer_more').change(function() {
		if (jQuery(this).val() === 'yes') {
			jQuery('#more_question_survey').show();
		}
		if (jQuery(this).val() === 'no') {
			jQuery('#more_question_survey').hide();
		}
	});
	   

	$("#dealing_in_other").change(function() {
		jQuery('#dealing_in_please_specify').toggle();
	});	
	$("#procure_from_other").change(function() {
		jQuery('#procure_from_please_specify').toggle();
	});	
	$("#dealer_of_product_other").change(function() {
		jQuery('#dealer_of_product_please_specify').toggle();
	});	

	

	jQuery('#like_to_buy_online').change(function() {
		if (jQuery(this).val() === 'no') {
			jQuery('#not_like_to_buy_online').show();
		} else 
		{
			jQuery('#not_like_to_buy_online').hide();
		}
	});

	


	jQuery('#wantptr').hide();
	
	jQuery('.business').click(function(){
		var fName = $('#firstname').val();
		var lName = $('#lastname').val();
		var emailAddress = $('#email_address').val();
		var mobileNumber = $('#mobile').val();
		var otpVal = $('#otp').val();

		if(fName == '' || lName == '' || emailAddress == '' || mobileNumber == '' || otpVal == '' || $('#verfiedotpstatus').css('display') == 'none'){
			return false;
		}
		else{
			var val = jQuery(this).attr('data-val');
			if(val=='business'){
				jQuery('#b_or_eng').show();
			}else{
				jQuery('#b_or_eng').hide();
			}
		}
	});
	
	jQuery('input[name=is_seller]').click(function()
	{
		var value=jQuery(this).val();
		if(value=='1')
		{
			jQuery('input[name=group_id]').removeAttr('checked');		
			jQuery('input[name=group_id]:eq(0)').attr('checked',true);
			jQuery('.c-group').hide();
			jQuery('#show-me').show();
		

		}
		else
		{
			jQuery('input[name=group_id]').removeAttr('checked');		
			jQuery('input[name=group_id]:eq(0)').attr('checked',true);
			jQuery('#show-me').hide();	
			jQuery('.c-group').show();  
			
  
		}  
	});	
	jQuery('input[name=group_id]').click(function(){
		var value=jQuery(this).val();
		var fName = $('#firstname').val();
		var lName = $('#lastname').val();
		var emailAddress = $('#email_address').val();
		var mobileNumber = $('#mobile').val();
		var otpVal = $('#otp').val();
		//alert(value);
		if(value=='4'){
			jQuery('#social-custom-link').hide();
			jQuery('#show-me').show();
			if(fName != '' && lName != '' && emailAddress != '' && mobileNumber != '' && otpVal != '' && $('#verfiedotpstatus').css('display') == 'none'){
				jQuery('.business-content').show();	
			}
			jQuery('.action.submit.primary span').text('Submit');
			jQuery('.back-btn').show();
            jQuery('.back-btn').appendTo('.register-class .modal-header');
            jQuery('#edit-busn').show();
			jQuery('.already-have-account-message').hide();
            jQuery('#multiselect').hide();
				 
		}else{
			jQuery('#social-custom-link').show();
			jQuery('#show-me').hide(); 
			jQuery('.business-content').hide();	
			jQuery('#edit-busn').hide();
			jQuery('.already-have-account-message').show();
			jQuery('#multiselect').show();	
		}
		if(value== '1'){
			jQuery('.basic-info-container').show();
			jQuery('.individual-content').show();
			jQuery('.user-role-btn-inner').show();
			jQuery('.action.submit.primary span').text('Continue');
			jQuery('.back-btn').hide();
		}
		else{
			if(fName == '' || lName == '' || emailAddress == '' || mobileNumber == '' || otpVal == '' || $('#verfiedotpstatus').css('display') == 'none'){
			$('button#custom_login_btn').trigger('click');	
			return false;
		}
		else{
			jQuery('.basic-info-container').hide();
			jQuery('.individual-content').hide();
			jQuery('.user-role-btn-inner').hide();
		}
		}
		if(value== '5'){
			if(fName == '' || lName == '' || emailAddress == '' || mobileNumber == '' || otpVal == '' || $('#verfiedotpstatus').css('display') == 'none'){
			$('button#custom_login_btn').trigger('click');	
			return false;
		}
		else{
			jQuery('.service-content').show();
			jQuery('.action.submit.primary span').text('Create GMS Account');
			jQuery('.back-btn').show();
            jQuery('.back-btn').appendTo('.register-class .modal-header');

			}
		}
		else{
			jQuery('.service-content').hide();
		
		}
	});	
	jQuery('#wantptr .label').attr('for','wantpartner3');
	
	
    var dataForm = $('#form-validate');
	
	jQuery('#form-validate').find('button[type=submit]').click(function()
	{  
		
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status)   
		{         
			jQuery('.loader_1').show();
		} 
		 
	});   
	
	
	
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');
	
		
	//dynamic text placeholder
	document.getElementById("firstname").placeholder = "First Name*";
	document.getElementById("lastname").placeholder = "Last Name*";

});
</script>    
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init"> 
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script> 
<script>
	require(['jquery'],function($){
		$('.interest_ul li').click(function(){
			var val = $(this).attr('data-val');
			$(this).toggleClass('selected');
			if($(this).hasClass('selected')){
				$('#c_area_of_interest option[value= "'+val+'"]').attr('selected','selected');
			}
			else{
				$('#c_area_of_interest option[value= "'+val+'"]').prop("selected", false);
			}
		});
		$(document).on('click','.register-class .action-close',function(){
			jQuery('.basic-info-container').show();
			jQuery('.individual-content').show();
			jQuery('.user-role-btn-inner').show();
			jQuery('#b_or_eng').hide();
			jQuery('#show-me').hide(); 
			jQuery('.business-content').hide();	
			jQuery('.service-content').hide();
			jQuery('.action.submit.primary span').text('Continue');
			jQuery('.back-btn').hide();
		});
		$(document).on('click','.back-btn',function(){
			jQuery('.basic-info-container').show();
			jQuery('.individual-content').show();
			jQuery('.user-role-btn-inner').show();
			jQuery('#b_or_eng').hide();
			jQuery('#show-me').hide(); 
			jQuery('.business-content').hide();	
			jQuery('.service-content').hide();
			jQuery('.action.submit.primary span').text('Continue');
			jQuery('.already-have-account-message').show();
			jQuery(this).hide();
		});

	});
</script>
<script type="text/javascript">
    require(
    ['jquery','owl-carousel'], 
    function($) {
        $('.interest_ul').owlCarousel({
            loop:true,
		    margin:0,
		    items:1,
		    nav: true
        });
        $(document).on('keypress','input[name ="otp"]',function(event){
        if($(this).val().length > 4) {
          return false;
        }
       var key = window.event ? event.keyCode : event.which;
        if (event.keyCode === 8 || event.keyCode === 46) {
            return true;
        } else if ( key < 48 || key > 57 ) {
            return false;
        } else {
            return true;
        }
      });
      $(document).on('click','#validate-cst',function(){
      	var gstNumber = $('#gst_number').val();
      	console.log(gstNumber.length);
      	if(gstNumber.length == 15){
      		 $(this).trigger('processStart');
      		var panNumber = gstNumber.substring(2,12)
      		jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'gstinfo/index/index'?>", 	
				data: "gstNumber="+gstNumber, 
				dataType: "json", 
				success: function(result)       
				{ 
					$('body').trigger('processStop');
					var results = JSON.parse(result);
					if(results['code'] == 200){
						var companyName = results['data']['tradeNam'];
						var bnm = results['data']['pradr']['addr']['bnm'];
						var st = results['data']['pradr']['addr']['st'];
						var loc = results['data']['pradr']['addr']['loc'];
						var bno = results['data']['pradr']['addr']['bno'];
						var stcd = results['data']['pradr']['addr']['stcd'];
						var pncd = results['data']['pradr']['addr']['pncd'];
						var companyaddress = bnm+','+st+','+loc+','+bno+','+stcd+','+pncd;
						$('.res-company-name').text(companyName);
						$('.res-pan-number').text(panNumber);
						$('.res-comapny-address').text(companyaddress);
						$('.customer-detail-cls').show();
						$('#company_nam').val(companyName);
						$('#pan_number').val(panNumber);
						$('#company_add').val(companyaddress);
						$('#seller_zipcode').val(pncd);
						$('#city').val(loc);
						$("#seller_state option:contains(" + stcd + ")").attr('selected', 'selected');
					}
					else{
							alert(results['message']);
							$('.res-company-name').text('');
							$('.res-pan-number').text('');
							$('.res-comapny-address').text('');
							$('.customer-detail-cls').hide();
							$('#company_nam').val('');
							$('#pan_number').val('');
							$('#company_add').val('');
							$('#seller_zipcode').val('');
							$('#city').val('');
					}

				}
			});
      	}
      	else{
      		alert('Enter a valid GST number');
      	}
      }); 

      $('#mobile').on('focusout',function(){
      	var mobNumber = $(this).val();
      	if(mobNumber.length > 1 && mobNumber.length <10){
      		$('.invalid-mob-number').show();
      	}
      	if(mobNumber.length <10){
      		return false;
      	}
      	if(mobNumber != ''){	
      	$(this).trigger('processStart');
      	jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'checkcustomermobile/index/index'?>", 	
				data: "mobNumber="+mobNumber, 
				dataType: "json", 
				success: function(result)       
				{ 
					if (!$.trim(result)){
						$('#custom_login_btn').removeAttr("disabled");
						$('#sendotp').show();
						$('.already-exist-msg').hide();
					}
					else{
						$('.already-exist-msg').show();
						$('#custom_login_btn').attr('disabled',true);
						$('#sendotp').hide();
					}
					$('body').trigger('processStop');
				}
			});
      }
      });  

      
      $('#email_address').on('focusout',function(){
      	if($('.register-class').hasClass('_show')){
      	var cusEmail = $(this).val();
      	if (cusEmail.indexOf('@') >= 0){
      	$(this).trigger('processStart');
      	jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'checkcustomermobile/index/checkemail'?>", 	
				data: "email="+cusEmail, 
				dataType: "json", 
				success: function(result)       
				{ 
					if (!$.trim(result)){
						$('#custom_login_btn').removeAttr("disabled");
						$('.email-exist-check').hide();
					}
					else{
						$('.email-exist-check').show();
						$('#custom_login_btn').attr('disabled',true);
					}
					$('body').trigger('processStop');
				}
			});
      	}
  		}
      });  
    $(document).on('click','.edit-business',function(){
      	$('.edit-business-address').show();
    });
    $(document).on('click','.login-popup',function(){
    	$('.register-class .action-close').trigger('click');
    	$('.trigger-auth-popup').trigger('click');
            $('.login-class').addClass('_show');
    });
    $('input[name=group_id]').click(function(){
		var value=jQuery(this).val();
		if(value == '5'){
			jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'checkcustomermobile/index/citydata'?>",
				dataType: "json", 
				success: function(result)       
				{ 
					console.log(result);
					$.each(result, function (index, value) {

					  $('#multiselect').append($('<option/>', { 
					      value: value.city,
					      text : value.city 
					  }));
					});	
				}
			});
		}
	})
    });
</script>
<style>
.already-exist-msg,.invalid-mob-number,.email-exist-check{
    margin-top: 7px;
    display: inline-block;
    color: #e02b27;
    font-size: 1.2rem;
}	
</style>
