<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="admin__table-wrapper">
    <table class="data-table admin__table-primary order-invoice-tables">
        <thead>
            <tr class="headings">
                <th class="col-product"><span><?php /* @escapeNotVerified */ echo __('Product') ?></span></th>
                <th class="col-price"><span><?php /* @escapeNotVerified */ echo __('Price') ?></span></th>
                <th class="col-qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></th>
                <th class="col-subtotal"><span><?php /* @escapeNotVerified */ echo __('Subtotal') ?></span></th>
                <th class="col-tax"><span><?php /* @escapeNotVerified */ echo __('Taxable Amount') ?></span></th>
                <th class="col-discount"><span><?php /* @escapeNotVerified */ echo __('Discount Amount') ?></span></th>
                <th class="col-price">
                    <table class="cgst">
                        <thead>
                        <tr>
                            <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('CGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="col-price">
                    <table class="sgst">
                        <thead style="background:none;text-align:center">
                        <tr>
                            <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('SGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="col-price">
                    <table class="utgst">
                        <thead>
                        <tr>
                            <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('UTGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="col-price">
                    <table class="igst">
                        <thead style="background:none;text-align:center">
                        <tr>
                            <td colspan="2" style="text-align:center"><?php /* @escapeNotVerified */ echo __('IGST') ?></span></td>
                        </tr>
                        <tr>
                            <td><?php echo __('Rate (%)') ?></span></td>
                            <td><?php echo __('Amount') ?></span></td>
                        </tr>
                        </thead>
                    </table>
                </th>
                <th class="col-total last"><span><?php /* @escapeNotVerified */ echo __('Row Total') ?></span></th>
            </tr>
        </thead>
        <?php $_items = $block->getInvoice()->getAllItems() ?>
        <?php $i = 0; foreach ($_items as $_item): ?>
            <?php if ($_item->getOrderItem()->getParentItem()) {
            continue;
        } else {
            $i++;
        } ?>
            <tbody class="<?php /* @escapeNotVerified */ echo $i%2 ? 'even' : 'odd' ?>">
                <?php echo $block->getItemHtml($_item) ?>
                <?php echo $block->getItemExtraInfoHtml($_item->getOrderItem()) ?>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>
