<?php
    $orderId = $this->getRequest()->getParam('order_id');
    if($orderId) {
        $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
        $order = $objectManager->create('\Magento\Sales\Api\Data\OrderInterface')->load($orderId);
        $model = $objectManager->create('OM\OrderRating\Model\OrderRating')->load($orderId, 'order_id');
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$mediaUrl = $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
    }
?>
<?php if ($orderId && $model["id"] && $model['status']) { ?>
<fieldset class="fieldset review-fieldset">
    <table class="rating-table">
        <tbody>
            <tr>
                <td valign="top">
                    <div class="feed_title"><h2>Order Rating & Review</h2></div>
                    <div id="order-rating-<?php echo $model["id"]; ?>">
                        <ul>
                          <?php
                          for($i=1;$i<=5;$i++) {
                              $selected = "";
                              if(!empty($model["rating"]) && $i<=$model["rating"]) {
                                $selected = "selected";
                              }
                          ?>
                            <li class='<?php echo $selected; ?>'>&#9733;</li>  
                          <?php }  ?>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="order-review-summary"><?= $model["summary"]; ?></td>
            </tr>
            <tr>
                <td><?= $model["review"]; ?></td>
            </tr>
        </tbody>
    </table>
</fieldset>

<?php } elseif($orderId && "Delivered" == $order->getStatus() && !$model["id"]) { ?>
<!-- <a href="#orderreviews">review here</a> -->
<fieldset class="fieldset review-fieldset" id="orderreviews">
    <table class="rating-table">
        <tbody>
            <tr>
                <td valign="top">
                    <div class="feed_title"><h2>Write your Review for this order</h2></div>
                    <div id="order-rating-1">
                        <input type="hidden" name="rating" id="rating" value="" />
                        <input type="hidden" name="orderid" id="order_id" value="<?= $orderId ?>" />
                        <ul onMouseOut="resetRating(1);">
                          <?php for($i=1;$i<=5;$i++) { ?>
                            <li class="" onmouseover="highlightStar(this,1);" onmouseout="removeHighlight(1);" onClick="addRating(this,1);">&#9733;</li>
                          <?php } ?>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field review-field-summary required">
                        <label for="summary_field" class="label"><span>Summary</span></label>
                        <div class="control">
                            <input type="text" name="summary" id="summary_field" value="" class="input-text">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="field review-field-summary required">
                        <label for="review_field" class="label"><span>Review</span></label>
                        <div class="control"> 
                            <textarea name="review" id="review_field" rows="3" cols="5"></textarea>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="actions-toolbar review-form-actions">
                        <div class="primary actions-primary">
                            <button type="button" class="action submit primary" onClick="submitReviewRating()"><span>Submit</span></button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr><td></td></tr>
        </tbody>
    </table>
    <span class="review-response"></span>
</fieldset>

<script>
    function highlightStar(obj,id) {
        removeHighlight(id);        
        jQuery('.rating-table #order-rating-'+id+' li').each(function(index) {
            jQuery(this).addClass('highlight');
            if(index == jQuery('.rating-table #order-rating-'+id+' li').index(obj)) {
                return false;   
            }
        });
    }

    function removeHighlight(id) {
        jQuery('.rating-table #order-rating-'+id+' li').removeClass('selected');
        jQuery('.rating-table #order-rating-'+id+' li').removeClass('highlight');
    }

    function addRating(obj,id) {
        jQuery('.rating-table #order-rating-'+id+' li').each(function(index) {
            jQuery(this).addClass('selected');
            jQuery('#order-rating-'+id+' #rating').val((index+1));
            if(index == jQuery('.rating-table #order-rating-'+id+' li').index(obj)) {
                return false;   
            }
        });
    }

    function resetRating(id) {
        if(jQuery('#order-rating-'+id+' #rating').val() != 0) {
            jQuery('.rating-table #order-rating-'+id+' li').each(function(index) {
                jQuery(this).addClass('selected');
                if((index+1) == jQuery('#order-rating-'+id+' #rating').val()) {
                    return false;   
                }
            });
        }
    } 

    function submitReviewRating() {
        var rating = jQuery('#order-rating-1 #rating').val();
        var orderId = jQuery('#order_id').val();
        var summary = jQuery('#summary_field').val();
        var review = jQuery('#review_field').val();
        if(review && summary && orderId && rating) {
            jQuery('.rating-table').stop().slideUp(500);
            jQuery.ajax({
                type: "POST",
                url: "/orderrating/index/save",
                data:'order_id='+orderId+'&rating='+rating+'&summary='+summary+'&review='+review,
                dataType: "json",
                success: function(response){
                    if(response.status=='success'){
                        jQuery('.review-response').html('<img class="successimage" src="<?php echo $mediaUrl; ?>wysiwyg/contactusformsubmit.png"><h2><center>'+response.msg+'</center></h2>');
                    } else {
                        jQuery('.review-response').html('<h2><center>'+response.msg+'</center></h2>');
                    }
                    setTimeout(function(){ 
                        location.reload();
                    }, 2000);
                }
            });
        }
    }
</script>
<?php } ?>
<style>
    .rating-table {width: 100%;border-spacing: initial;margin: 20px 0px;word-break: break-word;table-layout: auto;line-height:1.8em;color:#333;}
    .rating-table th {background: #999;padding: 5px;text-align: left;color:#FFF;}
    .rating-table td {background-color: #ffffff;padding: 5px;}
    .rating-table td div.feed_title{text-decoration: none;color:#7b838c;font-weight:600;padding-top: 15px;}
    .rating-table ul{margin:0;padding:0;}
    .rating-table li{cursor:pointer;list-style-type: none;display: inline-block;color: #F0F0F0;text-shadow: 0 0 1px #666666;font-size:25px;}
    .rating-table .highlight, .rating-table .selected {color:#F4B30A;text-shadow: 0 0 1px #F48F0A;}
    .order-review-summary {font: caption;}
    .successimage {padding-top: 2%;margin: auto;display: block;width: 74px;}
</style>

