<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$prosCollection = $block->getProsCollection();
$consCollection = $block->getConsCollection();
?>
<div id="loadding-advancedreview" style="display: none;">
    <p class="loader" id="loading_mask_loader"><img src="<?php echo $block->getViewFileUrl('Bss_AdvancedReview/images/ajax-load.gif'); ?>" alt="Loading..." width="40"><br>Please wait...</p>
</div>
<?php if (!empty($_items)):?>
    <?php if($block->getHelper()->moduleEnabled()): ?>
    <?php echo $block->getChildHtml("summary_review_list")?>
        <?php if($block->getHelper()->enableFillter()): ?>
            <div class="advancedreview-fillter d-none">
                <?php if(!empty($prosCollection) || !empty($consCollection)) : ?>
                <div class="title">
                    <strong><?php /* @escapeNotVerified */ echo __('Filter') ?></strong>
                </div>
                <?php endif ?>
                <form id="cons-pros-fillter" action="<?php echo $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]) ?>" method="post">
                <?php if($block->getHelper()->allowFillterPros()): ?>
                    <?php if(!empty($prosCollection)): ?>
                    <div class="pros-fillter">
                        <div class="block-title">
                            <strong><?php echo _('Choose Pros:') ?></strong>
                        </div>
                        <?php foreach($prosCollection as $prosId): ?>
                            <?php $pros = $block->loadPros($prosId) ?>
                            <?php if($pros->getStatus()): ?>
                                <div class="input-fillter">
                                    <input
                                        type="checkbox"
                                        name="pros[<?php echo $pros->getId(); ?>]"
                                        id="pros_fillter_<?php echo $pros->getId(); ?>" 
                                        <?php if($block->fillterProsSelected($pros->getId())) echo "checked"?> 
                                        onChange="submitForm(this.form)"                      
                                        class="checkbox" />
                                    <label
                                        for="pros_fillter_<?php echo $pros->getId() ?>"
                                        title="<?php echo $pros->getName() ?>">
                                        <?php echo $pros->getName() ?>
                                    </label>
                                </div>
                            <?php endif ?>
                        <?php endforeach ?>        
                        </div>
                    <?php endif; ?> 
                <?php endif; ?>
                <?php if($block->getHelper()->allowFillterCons()): ?>
                    <?php if(!empty($consCollection)): ?>
                    <div class="cons-fillter">
                        <div class="block-title">
                            <strong><?php echo _('Choose Cons:') ?></strong>
                        </div>
                        <?php foreach($consCollection as $consId): ?>
                            <?php $cons = $block->loadCons($consId) ?>
                            <?php if($cons->getStatus()): ?>
                                <div class="input-fillter">
                                    <input
                                        type="checkbox"
                                        name="cons[<?php echo $cons->getId(); ?>]"
                                        id="cons_fillter_<?php echo $cons->getId(); ?>" 
                                        <?php if($block->fillterConsSelected($cons->getId())) echo "checked"?> 
                                        onChange="submitForm(this.form)"                      
                                        class="checkbox" />
                                    <label
                                        for="cons_fillter_<?php echo $cons->getId() ?>"
                                        title="<?php echo $cons->getName() ?>">
                                        <?php echo $cons->getName() ?>
                                    </label>
                                </div>
                            <?php endif ?>
                        <?php endforeach ?>        
                    </div>
                    <?php endif; ?> 
                <?php endif; ?>
                </form>
            </div>
        <?php endif; ?>
    <?php endif; ?>
    <div class="block review-list <?php if($block->getHelper()->moduleEnabled()) echo 'bss_advancedreview' ?>" id="customer-reviews">
        <div class="block-title d-none">
            <strong><?php /* @escapeNotVerified */ echo __('Customer Reviews') ?></strong>
        </div>
        <div class="block-content">
            <div class="toolbar review-toolbar d-none">
                <?php echo $block->getChildHtml('toolbar') ?>
            </div>
            <ol class="items review-items">
            <?php foreach ($_items as $_review):?>
                <li class="item review-item rating-review-count-section" itemscope itemprop="review" itemtype="http://schema.org/Review">
				<div class="row">
				<div class="col-12 col-sm-6 col-lg-3">
					<?php if (!empty($_review->getRatingVotes())): ?>
                        <div class="review-ratings">
                        <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                        <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <span class="d-none label rating-label"><span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span></span>
                            <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
    	                        <meta itemprop="worstRating" content = "1"/>
    	                        <meta itemprop="bestRating" content = "100"/>
                                <span style="width:<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
                                    <span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%</span>
                                </span>
                            </div>
                        </div>
                        <?php endforeach; ?>
                        </div>
                    <?php endif; ?>
                    <div class="review-title review-user-name" itemprop="name">
                        <?php if($block->getHelper()->moduleEnabled()): ?>
                        <a href="<?php echo $block->getReviewUrl($_review->getId())?>">
                            <?php echo $block->escapeHtml($_review->getTitle()) ?>
                        </a>
                        <?php else : ?>
                        <?php echo $block->escapeHtml($_review->getTitle()) ?>
                        <?php endif; ?>
                    </div>
                    
					<div class="review-details">
                        <p class="review-author">
                            <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('Review by')?></span>
                            <strong class="review-details-value" itemprop="author"><?php echo $block->escapeHtml($_review->getNickname()) ?></strong>
                        </p>
                        <p class="review-date">
                            <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('Posted on') ?></span>
                            <time class="review-details-value" itemprop="datePublished" datetime="<?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?>">
							<?php   $main = $block->formatDate($_review->getCreatedAt(), $format);
                              echo  $old_date = date('l M d, Y');  
							?></time>
                        </p>
                        <?php if($block->getHelper()->moduleEnabled()): ?>
                            <p class="review-recommend">                            
                                <?php if($recommend = $block->getHelper()->getValueField($_review->getId())): ?>
                                    <span class="review-recommend"><?php /* @escapeNotVerified */ echo __('Would you recommend this product to a friend? ') . $recommend; ?></span>
                                <?php endif; ?>
                            </p>
                        
                            <?php if($socials = $block->getHelper()->getSocialSharing($block->getReviewUrl($_review->getId()), $_review->getTitle())): ?>
                                <p class="social-share d-none">
                                    <?php foreach($socials as $social): ?>
                                        <a href="<?php echo $social['url']?>" target="_blank">
                                            <img src="<?php echo $social['img']?>" width="40" height="40" alt="<?php echo $social['alt']?>" title="Share with <?php echo $social['alt']?>"/>
                                        </a>
                                    <?php endforeach; ?>   
                                    <span><?php echo __('Share this review') ?> </span>                         
                                </p>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
					</div>
					<div class="col-12 col-sm-6 col-lg-5">
						<div class="review-content" itemprop="description">
							<?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
						</div>
					</div>
                    <div class="col-12 col-sm-12 col-lg-4">
                    <?php if($block->getHelper()->moduleEnabled()): ?>
                        <div class="advancedreview">
                            <div class="column-left">
                            <?php if($block->getChildBlock("pros_review_list")):?>
                                <?php echo $block->getChildBlock("pros_review_list")->setReviewId($_review->getId())->toHtml()?>
                            <?php endif?>
                            <?php if($block->getChildBlock("cons_review_list")):?>
                                <?php echo $block->getChildBlock("cons_review_list")->setReviewId($_review->getId())->toHtml()?>
                            <?php endif?>
                            </div>
                            <div class="column-right">
                            <?php if($block->getHelper()->helpfulnessEnable()):?>
                                <div class="review-helpfulness" id="helpfulness_<?php echo $_review->getId()?>">
                                <script type="text/x-magento-init">
                                    {
                                        "*": {
                                            "Bss_AdvancedReview/js/helpfulness/ajax": {
                                                "ajaxUrl": "<?php echo $block->getUrlHelpfulness($_review->getId())?>"
                                            }
                                        }
                                    }
                                </script>
                                </div>
                            <?php endif; ?>
                            <?php if($block->getHelper()->reportEnable()):?>
                                <div class="abuse_report_bss" id="abuse_report_<?php echo $_review->getId()?>">
                                <script type="text/x-magento-init">
                                    {
                                        "*": {
                                            "Bss_AdvancedReview/js/report/ajax": {
                                                "ajaxUrl": "<?php echo $block->getUrlReport($_review->getId())?>"
                                            }
                                        }
                                    }
                                </script>
                                </div>
                            <?php endif; ?>
                            </div>
                        </div>
                    <?php endif; ?>
					</div>
					</div>
                </li>
            <?php endforeach; ?>
            </ol>
            <div class="toolbar review-toolbar">
                <?php echo $block->getChildHtml('toolbar') ?>
            </div>
        </div>
    </div>
<?php endif;?>

<script type="text/javascript">
    require(['jquery','advancedreview']);
    jQuery(document).ready(function(){
        jQuery("#maincontent").trigger('contentUpdated');
    });
</script>
