<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php if ($block->canShowHelpfulnessLink()): ?>
    <?php echo __('Do you find this review helpful?') ?>       
    <strong><a class="helpful-link" link="<?php echo $block->getAction('Yes')?>" style="color: green;"><?php echo __('Yes') ?></a><img src="<?php echo $block->getViewFileUrl('Bss_AdvancedReview/images/ajax-load.gif'); ?>" alt="Loading..." width="15" style="display: none;"></strong>
    <strong><a class="helpful-link" link="<?php echo $block->getAction('No') ?>" style="color: red;"><?php echo __('No') ?></a><img src="<?php echo $block->getViewFileUrl('Bss_AdvancedReview/images/ajax-load.gif'); ?>" alt="Loading..." width="15" style="display: none;"></strong>
<?php endif; ?> 
<?php if ($block->getAllCount()): ?>
    <div class="helpfulness-vote">
        (<strong><?php echo $block->getYesCount() ?></strong><?php echo __(' of ') ?><strong><?php echo $block->getAllCount() ?></strong><?php echo __(' people found this review helpful') ?>)
    </div>
<?php endif ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Bss_AdvancedReview/js/helpfulness": {
            }
        }
    }
</script>
