<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php if($block->canReport()): ?>
	<?php echo __('Inappropriate review?') ?>&nbsp;<a class="abuse-link" link="<?php echo $block->getAction('Yes')?>" ><?php echo __('Report it') ?></a><img src="<?php echo $block->getViewFileUrl('Bss_AdvancedReview/images/ajax-load.gif'); ?>" alt="Loading..." width="15" style="display: none;">
<?php else:?>
	<?php if($block->isReportRegistered()): ?>
		<?php echo __('Inappropriate review?') ?>&nbsp;<a class="abuse-link" link="<?php echo $block->getAction('No')?>" ><?php echo __('UnReport it') ?></a><img src="<?php echo $block->getViewFileUrl('Bss_AdvancedReview/images/ajax-load.gif'); ?>" alt="Loading..." width="15" style="display: none;">
	<?php endif ?>
<?php endif ?>
<script type="text/x-magento-init">
    {
        "#maincontent": {
            "Bss_AdvancedReview/js/report": {
            }
        }
    }
</script>
