<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
?>
<?php $rating = $block->getRatingSummary() ?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating = $block->getRatingSummary();

 ?>
 
<div class="review-progress-status">
<div class="row">
<div class="col-12 col-md-4 text-center">
	<?php if($rating > 0) : ?>
	   <?php $ratingg =  $block->escapeHtmlAttr($rating);
			$newrati = ($ratingg/ 5)*100;
                $var= (int)$newRatingg = number_format($newrati, 1, '.', '');
			 ?> 
	    <div class="progress-circle" data-percentage="<?php echo $var;?>"> 
				<span class="progress-left">
					<span class="progress-barcircle"></span>
				</span>
				<span class="progress-right">
					<span class="progress-barcircle"></span>
				</span>
				<div class="progress-value">
					<div>
						<?php echo $ratingg;?>
					</div>
				</div>
			</div>

		<div class="advancedreviews-percent-star">
			
			<div class="rating">
				<?php echo $block->getReviewsSummaryHtml()?>
				<div class="rating-summary d-none"><?php echo $rating; ?> Stars</div>
			</div>

			<div class="pecent">
				<?php $total = count($block->getTotalReview()) ?>
				<?php $recommend = $block->getReviewRecommend() ?>
				<div class="percent-summary"><?php echo round(100*$recommend/$total)?>%</div>
				<div>Would recommend to a friend</div>
			</div>
		</div>
	<?php endif;?>
	</div>
	<div class="col-12 col-md-4 text-center">
	<?php if(is_array($block->getSummaryBlock())):?>
		<?php if($block->countSummaryBlock()):?>
		<div class="advancedreviews-summary-block">
			<?php foreach($block->getSummaryBlock() as $parametr):?>
				<?php if($parametr['votes_qty']>0):?>
				<!--table style="width:<?php echo round(100/$block->countSummaryBlock())?>%">
					<tr><th colspan="3"><?php echo $parametr['name']?></th></tr-->
					<?php foreach($parametr['votes'] as $mark=>$qty):?>
					<div class=" rating-process star-<?php echo $mark;?>">
					<span><?php echo $mark;?> <i class="fa fa-star" aria-hidden="true"></i></span>
					<div class="progress" style="height:10px">
						<div class="progress-bar" style="width:<?php echo $qty['percent'];?>%;height:10px"></div>
					  </div>
					<span><?php echo $qty['percent'];?>%</span>
					</div>
						<!--tr>
							<td class="star-name"><?php echo $mark;?> star :</td>
							<td class="star-line"><div class="star-bar-container"><div class="star-bar" style="width:<?php echo $qty['percent'];?>%"><?php echo $qty['percent'];?>%</div></div></td>
							<td class="star-count">( <?php echo $qty['qty'];?> )</td>
						</tr-->
					<?php endforeach;?>
				<!--/table-->
				<?php endif;?>
			<?php endforeach;?>
			<!--div class="spacer"></div>
			<div class="advancedreviews-reviews-count">Total : <?php echo $block->getReviewsCount();?> Reviews</div-->
			<div class="total-revie-rating">
			
			
			<?php  
              echo $var ;
		 ?> Ratings, <?php echo $block->getReviewsCount();?> Reviews</div>
		  
		</div>  
		<?php endif;?>
	<?php endif;?>
	</div>
	<div class="col-12 col-md-4 text-center">
<div class="total-revice-submit">
<p>Have you used this product?
Rate it now.</p>
            <div class="rating">
				<?php echo $block->getReviewsSummaryHtml()?>
				<div class="rating-summary d-none"><?php echo $rating; ?> Stars</div>
			</div>
			
<div class="review-stars-blank">
<i class="fa fa-star-o" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</div>
 <?php   $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();  
      
      $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
	  $store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();

	   $productUrl = $product->getProductUrl();
	   $newUrl = $productUrl.'#review-form';
		?> 
		<a class="btn-gradent" href="<?php echo $newUrl;?>">Write A Review</a>

</div>
</div>
</div>
</div>
<style>
.post-sections-list, .dealadds-banner{
	clear: both !important;
	}
</style>
<?php endif; ?>