<!-- 
/**
 * @category   Webkul
 * @package    Webkul_MpAdvancedCommission
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) 2010-2018 Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */  -->
<?php

// @codingStandardsIgnoreFile
?>
<?php echo $block->getButtonHtml() ?>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getViewFileUrl('Webkul_MpAdvancedCommission::css/style.css') ?>">
<div id="light" class="categry">
	<form id ='catpercent'>
		<div class='labl fnt'><?php echo __('Categories')?></div> 
		<span class='fnt'><?php echo __('Commission')?></span>	
		<br>		
		</br>
		<?php
			$count = 0;
			$category_helper = $this->helper('Magento\Catalog\Helper\Category');
			$category_model = $block->getCategory();
			$_categories = $category_helper->getStoreCategories();
			foreach($_categories as $_category)	{
				$count++;
				$categoryData = $category_model->load($_category['entity_id']);
			 	if(count($category_model->getAllChildren($categoryData))-1 > 0){ ?>
					<div class="wk-cat-container" style="margin-left:0px;">
						<span class="wk-plus">
						</span><span class="wk-foldersign"></span>
						<span class="wk-elements wk-cat-name"><?php echo $_category->getName() ?></span>
						<input class="wk-elements wk-category-commission" type="text" name="category[]" id='<?php echo $_category->getId(); ?>' value='<?php echo $categoryData->getCommissionForAdmin(); ?>'/>
					</div>
					<?php
				}else { ?>
					<div class="wk-cat-container">
						</span><span class="wk-foldersign"></span>
						<span class="wk-elements wk-cat-name"><?php echo $_category->getName() ?></span>
						<input class="wk-elements wk-category-commission" type="text" name="category[]" id='<?php echo $_category->getId(); ?>' value='<?php echo $categoryData->getCommissionForAdmin(); ?>'/>
					</div> 
			   		<?php 
				}
		    }
		?>
		<div class="wk-cat-container">
			<button style="width: 94%;" aria-disabled="false" role="button" id="mpadvancedcommission-options-category-commission-save-button" title="<?php echo __('Save Config')?>" type="button" class="action-default scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" data-ui-id="mpadvancedcommission-options-category-commission-save-button">
				<span class="ui-button-text">
    				<span><?php echo __('Save Config')?></span>
				</span>
			</button>
		</div>
	</form>
</div>	
<div id="fade"></div>

<?php
$formData = [
    'checkAjaxUrl' => $block->getAjaxCheckUrl(),
    'categoryCommissionSaveUrl' => $block->getUrl('mpadvancedcommission/category/save', ['_secure' => $this->getRequest()->isSecure()]),
    'categoryTreeAjaxUrl' => $block->getUrl('mpadvancedcommission/category/categorytree/', ['_secure' => $this->getRequest()->isSecure()])
];
$serializedFormData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($formData);
?>

<script type="text/x-magento-init">
    {
        "*": {
            "categoryCommission": <?php /* @noEscape */ echo $serializedFormData; ?>
        }
    }
</script>
