<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

?>
<div>
	<h2>Orders Details</h2>
	<span style="float:right;">
		<a href="<?php echo $storeManager->getStore()->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB).'sales/order/history/'; ?>" onclick="history.back();">Back to Order</a>
	</span>
</div>
<p>
	Order ID:-<?php echo $block->getOrder()->getIncrementId();?>
	(<?php echo $block->getOrder()->getTotalItemCount();?> Item)
	| Placed on: <?php echo $block->formatDate($block->getOrder()->getCreatedAt(), \IntlDateFormatter::LONG);?>
</p>
<div class="order-date" style="display:none;">
    <?= /* @escapeNotVerified */ __('<span class="label">Order Date:</span> %1', '<date>' . $block->formatDate($block->getOrder()->getCreatedAt(), \IntlDateFormatter::LONG) . '</date>') ?>
</div>

<div class="customer_detail">
<div class="row">
<div class="col-12 col-md-4">
	<div class="customer_information">
		<span class="cus_info">Customer Informationsssssss</span><br/>
		<span class="cus_email">Emailsssssss:<?php echo $block->getOrder()->getCustomerEmail();?></span>
	</div>
	</div>
	<div class="col-12 col-md-4">
	<div class="payment_method">
		<span class="order_pay_method">Payment Methodsssssssss</span><br/>
		<?php 
		$payment = $block->getOrder()->getPayment();
		$method = $payment->getMethodInstance();
		$methodTitle = $method->getTitle();
		//echo "method: ".$payment->getMethod()."\n";

		?>
		<span class="order_payment"><?php echo $methodTitle;?></span>
	</div>
	</div>
	<div class="col-12 col-md-4">
	
	<div class="order_details">
	
	<?php
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();

		$currencysymbol = $objectManager->get('Magento\Store\Model\StoreManagerInterface');								
		$currency = $currencysymbol->getStore()->getCurrentCurrencyCode();
		$currencyModel = $objectManager->create('Magento\Directory\Model\Currency'); // Instance of Currency Model
		$currencySymbol = $currencyModel->load($currency)->getCurrencySymbol();
		$precision = 2;   // for displaying price decimals 2 point

		$subtotal = $currencyModel->format($block->getOrder()->getSubtotal(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		$shipping_amount = $currencyModel->format($block->getOrder()->getShippingAmount(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		$total_tax = $currencyModel->format($block->getOrder()->getTaxAmount(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		
		$total = $block->getOrder()->getSubtotal()+$block->getOrder()->getTaxAmount();
		$total = $currencyModel->format($total, ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);
		
		$grand_total = $currencyModel->format($block->getOrder()->getGrandTotal(), ['symbol' => $currencySymbol, 'precision'=> $precision], false, false);		
	
	
		echo "aaaaaaaaaaaaaa";
	
		$order_inc_id=$block->getOrder()->getIncrementId();	
		$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
		$tax_helpers->order_amount_details($order_inc_id);


		
	?>
		
		<table>
			<tr class="cus_subtotal">
			   <th colspan="7" class="cus_subtotal" scope="row">
				  Subtotal                    
			   </th>
			   <td class="amount" data-th="Subtotal">
				  <span class="price"> <?php echo $subtotal; ?> </span>                    
			   </td>
			</tr>
			<tr class="cus_totals-tax-summary">
			   <th colspan="7" class="cus_mark" scope="row">
				  <div class="detailed">GST</div>
			   </th>
			   <td class="amount" data-th="Total GST">
				  <span class="price"><?php echo $total_tax; ?></span>    
			   </td>
			</tr>
			<tr class="cus_totals-tax-summary">
			   <th colspan="7" class="cus_mark" scope="row">
				  <div class="detailed">Total</div>
			   </th>
			   <td class="amount" data-th="Total GST">
				  <span class="price"><?php echo $total; ?></span>    
			   </td>
			</tr>
			<tr class="cus_shipping">
			   <th colspan="7" class="cus_mark" scope="row">
				  Logistic:                   
			   </th>
			   <td class="amount" data-th="Shipping &amp; Handling">
				  <span class="price"><?php echo $shipping_amount ; ?> </span>                    
			   </td>
			</tr>
			<tr class="grand_total">
			   <th colspan="7" class="mark" scope="row">
				  <strong>Grand Total</strong>
			   </th>
			   <td class="amount" data-th="Grand Total (Excl.Tax)">
				  <strong><span class="price"><?php echo $grand_total; ?></span></strong>
			   </td>
			</tr>
		</table>
	</div>
	</div>
	</div>

</div>