<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Review\Block\Product\ReviewRenderer $block */

$url = $block->getReviewsUrl() . '#reviews';
$urlForm = $block->getReviewsUrl() . '#review-form';
?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating = $block->getRatingSummary();

 ?>
<div class="product-reviews-summary<?= !$rating ? ' no-rating' : '' ?>" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <?php if ($rating):?>
    <div class="rating-summary baljit">
	 <span class="ratingco">
		 <?php  $newrati = ($rating *5)/100;
              echo  $newRatingg = number_format($newrati, 1, '.', '');
		 ?>
		 </span>
         <span class="label d-none"><span><?= $block->escapeHtml(__('Rating')) ?>:</span></span>
         <div class="rating-result" title="<?= $block->escapeHtmlAttr($rating); ?>%">
             <span style="width:<?= $block->escapeHtmlAttr($rating); ?>%">
                 <span>
                     <span itemprop="ratingValue"><?= $block->escapeHtml($rating); ?></span>% of <span itemprop="bestRating">100</span>
                 </span>
             </span>
         </div>
		 
		
		 <span class="ratingcouttt"> (<?php echo   $block->escapeHtmlAttr($rating);?>)</span>
     </div>
    <?php endif;?>
    <div class="reviews-actions">
        <a class="action view"
           href="<?= $block->escapeUrl($url) ?>">
            <span itemprop="reviewCount"><?= $block->escapeHtml($block->getReviewsCount()) ?></span>&nbsp;
            <span><?= ($block->getReviewsCount() == 1) ? $block->escapeHtml(__('Reviews')) : $block->escapeHtml(__('Reviews')) ?></span>
        </a>
        <a class="action add" href="<?= $block->escapeUrl($urlForm) ?>"><?= $block->escapeHtml(__('Add Your Review')) ?></a>
    </div>
</div>
<?php elseif ($block->getDisplayIfEmpty()): ?>
<div class="product-reviews-summary empty">
    <div class="reviews-actions-om">
        <a class="action add"  >
            <?= $block->escapeHtml(__('Be the first to review this product')) ?>
        </a>
    </div>
</div>
<?php endif; ?>

<script type="text/javascript">
require(['jquery'], function ($) {
    $(document).ready(function(){
        $(".product-reviews-summary .reviews-actions-om a.action.add").on("click", function(e){
            $('html, body').animate({
                scrollTop: $("#tab-label-reviews").offset().top-200
            }, 1000);
            setTimeout(function(){ 
                $("#tab-label-reviews").trigger("click");
            }, 1000);
        });

    })
});
</script>