
<?php
    $rma = $block->getRmaDetail();
    // print_r($rma->getData()); die();
	$id = $rma->getRmaId();
	$order = $block->getOrder($rma->getOrderId());
	$helper = $this->helper("Webkul\Rmasystem\Helper\Data");

?>
<form method="post" action="<?php echo $this->getUpdateUrl(); ?>" id="edit_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
	<fieldset class="fieldset admin__fieldset fieldset-wide">
	<input type="hidden" value="<?php echo $block->getFormKey() ?>" name="form_key"/>
	<input type="hidden" value="<?php echo $id ?>" name="rma_id"/>
	<input type="hidden" value="<?php echo $order->getId() ?>" name="order_id"/>
    <section class="admin__page-section order-view-account-information">
        <?php
            $damagedItemHelper = $this->helper('OM\Rma\Helper\DamagedItem\Data');
            $claimStatus = $damagedItemHelper->getClaimStatusTitle($id);
            if($claimStatus == 'Claim Completed' ){
        ?>
        <table class="admin__table-secondary order-account-information-table" style="margin-bottom: 35px">
            <tbody>
                <tr>
                    <th style="text-align: center"><?php echo __("RMA Status"); ?></th>
                    <td style="text-align: center"><?php echo __($claimStatus); ?></td>
                </tr>
            </tbody>
        </table>
        <?php
            }
        ?>
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-content">
                <table class="admin__table-secondary order-information-table">
                    <tbody>
                        <tr>
                            <th><?php echo __("Order Id"); ?></th>
                            <td><a href="<?php echo $this->getUrl('sales/order/view/', ['_secure' => $this->getRequest()->isSecure()]).'order_id/'.$rma->getOrderId(); ?>">#<?php echo $rma->getIncrementId();?></a></td>
                        </tr>
                        <?php if(!$rma->getResolutionType()==3): ?>
                        <tr>
                            <th><?php echo __("Package Condition"); ?></th>
                            <td>
                                <?php if($rma->getPackageCondition() == 0) {
                                    echo "<p>".__("Open")."</p>";
                                } else {
                                    echo "<p>".__("Packed")."</p>";
                                } ?>
                            </td>
                        </tr>
                        <?php endif; ?>
                        <tr>
                            <th><?php echo __("Created On"); ?></th>
                            <td><p><?php echo $block->formatDate($rma->getCreatedAt(),\IntlDateFormatter::MEDIUM, true); ?></p></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Customer Consignment Number"); ?></th>
                            <td><?php echo $rma->getCustomerConsignmentNo(); ?></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Admin Consignment Number"); ?></th>
                            <td><?php echo $rma->getAdminConsignmentNo(); ?></td>
                        </tr>
                        <tr>
                            <th>
                                <h4><?php echo __("Additional Image(s)"); ?></h4>
                                
                            </th>
                            <td>
                                <div id="wk_rma_add_images_container">
                            <?php
                                $images = $block->getImages();
                                foreach ($images as $filename) {
                                    $getfilename = explode("/",$filename);
                                    $justfname = $block->getBaseUrl()."/".end($getfilename);
                                    echo "<img class='wk_rma_add_images' alt='".end($getfilename)."' src='".$justfname."'/>";
                                }	?>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tbody>
                        <tr>
                            <th><?php echo __("Return Status"); ?></th>
                            <td>
                                <span>
                                    <?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getRefundStatus())."</strong>";?>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th><?php echo __("Product Delivery Status"); ?></th>
                            <td>
                                <span>
                                    <?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>"; ?>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th><?php echo __("Resolution Type"); ?></th>
                            <td>
                                <?php if($rma->getResolutionType() == 0) {
                                    echo "<p>".__("Refund")."</p>";
                                } elseif($rma->getResolutionType() == 1) {
                                    echo "<p>".__("Exchange")."</p>";
                                } else {
                                    echo "<p>".__("Cancel Item")."</p>";
                                }?>
                            </td>
                        </tr>
                        <tr>
                            <th><?php echo __("Additional Information"); ?></th>
                            <td><p><?php echo nl2br(strip_tags($rma->getAdditionalInfo())); ?></p></td>
                        </tr>
                        <tr>
                            <th><?php echo __("Seller Remark"); ?></th>
                            <td><p><?php echo nl2br(strip_tags($rma->getSellerRemark())); ?></p></td>
                        </tr>
                        <?php if($rma->getResolutionType() == 1)	{?>
                        <tr>
                            <th><?php echo __("Admin Consignment Number"); ?></th>
                            <td><p><?php echo $rma->getAdminConsignmentNo(); ?></p></td>
                        </tr>
                        <?php } ?>

                        <?php if(!empty($block->getDamagedCertificate($id))){ ?>
                        <tr>
                            <th><?php echo __("Damaged Certificate"); ?></th>
                            <td>
                                <p>
                                    <a download href="<?php echo $block->getDamagedCertificate($id);?>"><?php echo __("Click Here"); ?></a><?php echo __("to download damaged certificate"); ?>
                                </p>
                            </td>
                        </tr>
                        <?php }?>
                        
                        <!-- custom field block -->
                        <?php echo $this->getChildHtml('rma.allrma.customfield'); ?>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#view-rma-component": {
                "Magento_Ui/js/core/app":  <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
        </script>
        <section class="admin__page-section">
            <div class="admin__page-section-title" style="clear:both">
                <span class="title"><?php echo __("Item(s) Requested for Refund"); ?></span>
            </div>
            <div class="admin__table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th><?php echo __("Product Name"); ?></th>
                            <th><?php echo __("SKU"); ?></th>
                            <th class="a-right"><?php echo __("Return Qty"); ?></th>
                            <th class="a-right"><?php echo __("Reason"); ?></th>
                            <th class="a-right"><?php echo __("Product Price"); ?></th>
                        </tr>
                    </thead>
                    <?php 	
                        $orderItems = $block->getItemCollection($id);
                        $download_count=count($orderItems);
                        $download=0;
                        $itemIds = [];
                        foreach($orderItems as $item)	{
                            $itemIds[] = $item->getItemId();
                            $mageItem = $block->getSalesOrderItemDetail($item->getItemId());
                            $product = $block->getProductDetail($mageItem->getProductId());
                            if($product->getTypeId()=='downloadable' || $product->getTypeId()=='virtual')
                                $download++;
                            $reason = $block->getReason($item->getReasonId())->getReason();
                            if (!$reason) {
                                $reason = $item->getRmaReason();
                            }
                    ?>
                                    
                    <tbody>
                        <tr class="border">
                            <td><h3 class="product-name"><?php echo $mageItem->getName(); ?></h3></td>
                            <td><?php echo $mageItem->getSku(); ?></td>
                            <td class="a-right"><?php echo $item->getQty(); ?></td>
                            <td class="a-right"><?php echo $reason; ?></td>
                            <td class="a-right"><?php echo $order->formatPrice($mageItem->getPrice()); ?></td>
                        </tr>
                    </tbody>
                    <?php 	} ?>
                </table>
            </div>
        </section>
        <?php
            $display_fileupload = '';
            $creditAmt = $block->getCreditMemoAmount();
            $condition_number = $damagedItemHelper->getConditionNumber();
            if((float)$creditAmt > (float)$condition_number){
                if(empty($block->getDamagedCertificate($id))){
                    $display_fileupload = 'display:block';
                    $required = 'required';
                }else{
                    $display_fileupload = 'display:none';
                    $required = '';
                }
            }else{
                $display_fileupload = 'display:none';
                $required = '';
            }
        ?>
        <div id="wk_rma_conversation_container" style="<?php echo $display_fileupload; ?>">
            <div class="conversation-block">
                <div class="admin__page-section-item-title">
                    <span class="title"><?php echo __('Document required') ?></span>
                </div>
            </div>
            <fieldset class="fieldset admin__fieldset" style="width:100%;float:left;" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <div class="admin__field field">
                    <label class="label admin__field-label text-right"  for="attachment"><span><?php echo __('Damage certificate on transporter letter head'); ?></span></label>
                    <div class="admin__field-control control">
                        <input type="file" name="damage_certificate" <?= $required ?> accept=".pdf"/>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>
<script>
	require([
        "jquery",
		'mage/template',
		'text!Webkul_Rmasystem/template/preview.html',
    	'Magento_Ui/js/modal/modal',
        'mage/calendar',
    ], function($, mageTemplate, thumbnailPreviewTemplate){
      	'use strict';
		$('#save').on('click',function(){
			$('#edit_form').submit();
		});
		$('.wk_rma_add_images').on('click',function(){
			var self = $(this);
			var modalHtml = mageTemplate(
                thumbnailPreviewTemplate,
                {
                    src: self.attr('src'), alt: self.attr('alt'), link: "<?php echo $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $this->getRequest()->isSecure(), 'id'=> $rma->getId()]) ?>"+'file_name/'+self.attr('alt'),
                    linkText: $.mage.__('Download')
                }
            );
            var previewPopup = $('<div/>').html(modalHtml);
            previewPopup.modal({
                title: $.mage.__('Return Image'),
                innerScroll: true,
                modalClass: '_image-box',
                buttons: []}).trigger('openModal');
		});
    });
</script>
