<h3>Please update status accordingly</h3>

<table style="margin-top:20px;margin-bottom:10px;">
<?php
    $status_array = [
        '0' => 'Pending',
        '1' => 'Claim Initiated',
        '2' => 'Pending with insurance partner',
        '3' => 'Pending with logistics partner',
        '4' => 'Claim Completed'
    ];

    foreach($status_array as $key => $value){
?>
    <tr>
        <td style="padding-right: 30px"><?= $key ?></td>
        <td><?= $value ?></td>
    </tr>

<?php
}
?>
</table>
<div style="margin-bottom:30px;">
    <span >Only type status number in status field</span>
</div>

<div style="margin-bottom:30px;">
    <span ><a href="<?= $this->getSampleCsv() ?>">Click Here</a>  to download sample file</span>
</div>

<form method="post" action="<?= $this->getCsvUploadUrl() ?>" id="upload_csv" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
    <div class="form-group">
        <label for="">Upload csv file</label>
        <input type="hidden" name="form_key" value="<?= $block->getFormKey() ?>">
        <input type="file" class="form-control-file" name="csv_file" id="csv_file" placeholder="" aria-describedby="fileHelpId" required>
    </div>
</form>


<script>
	require([
        "jquery",
    ], function($){
      	'use strict';
		$('#save').on('click',function(){
			$('#upload_csv').submit();
		});
    });
</script>
