<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
$prosReviews = $block->getProsReview();
$count = count($prosReviews->getData());
$i = 0;
?>
<?php if($count > 0): ?>
	<div class="pros-review">
		<span class="title"><?php echo __('PROS: ') ?></span>
		<span class="content">
			<?php foreach($prosReviews as $prosReview): ?>
				<?php $i++; ?>
				<?php
                if($pros = $block->getNameById($prosReview->getProsId())):
                    echo $pros;
                    if($count > $i) echo  ', ';
                endif;
                ?>
			<?php endforeach; ?>
		</span>
	</div>
<?php endif; ?>
