<a href="/reindex/index.php?action=frontend&type=all" target="_blank" class="btnrndx">Reindex ALL</a><br /><br />
<a href="/reindex/index.php?action=frontend&type=search" target="_blank" class="btnrndx">Reindex Search</a>
<style>a.btnrndx {float: left;height: 43px;padding: 9px;background: #ccc;margin: 8px;line-height: 25px;font-weight: 600;font-size: 17px;clear:both;}</style>
