<?php
	// /var/www/dev/app/code/Bss/Bestsellerwidget/view/frontend/templates/widget
	$fetProdCollection = $this->getBestsellerProduct();
	$mode = 'grid';
	$title = __('HOT TRENDING');
	$type = 'widget-bestseller-grid';
	$image = 'bestseller_products_content_widget_grid';
?> 
<?php
	$current_url = $block->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]);
	


    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
    $best_url = $storeManager->getStore()->getBaseUrl().'best-seller-products';
	if($best_url == $current_url){
		$view = "list";
		$class = "products wrapper grid columns4  products-grid";
		?>
		
<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">

	<?php if($view=="grid"){ ?>
		<h2 id="recommedation_hhh" class="filterproduct-title" style="background: #28A488; margin-top:50px;">
			<span class="content" style="background:none;"><?php /* @escapeNotVerified */ echo $title; ?></span>
		</h2>
	<?php } ?>
	
	<div class="block-content">
		<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
		<div class="products wrapper grid columns4  products-grid row">
			
			<?php
				$iterator = 1;
				foreach ($fetProdCollection as $item):
									
				 $prod = $block->loadProduct($item->getProductId());
				if(!empty($prod->getName())){
			?>
			
                    <div class="item col-12 col-sm-6 col-md-4 col-lg-3">
						<div class="product-item-info">
					<?php
						$imageUrl = $block->imageHelperObj()->init($prod, 'product_page_image_small')
								->setImageFile($prod->getFile())
								->resize(272,272)
								->getUrl();
?>
						<a href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>" class="product-item-photo">
						<img class="product-image-photo default_image" src="<?php echo  $imageUrl;?>" alt="<?php echo $this->escapeHtml($prod->getName()) ?>" />
						</a>
						<div class="product-item-details">
							<strong class="product-item-name">
								<a title="<?php echo $block->escapeHtml($prod->getName()) ?>"
								href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>"
								class="product-item-link">
									<?php echo $block->escapeHtml($prod->getName()) ?>
								</a>
							</strong>
							<?php
							echo $this->getProductPriceHtml($prod, $type);
							?>
							<div class="product-item-actions">
								<div class="actions-primary">
									<?php if ($prod->isSaleable()): ?>
										<?php if ($prod->getTypeInstance()->hasRequiredOptions($prod)): ?>
											<button class="action tocart primary"
												data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($prod) ?>"}}'
												type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
												<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										<?php else: ?>
											<?php
												$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
												$postData = $postDataHelper->getPostData($block->getAddToCartUrl($prod), ['product' => $prod->getId()]);
											?>
											<button class="action tocart primary" data-post='<?php  echo $postData; ?>'
													type="button" title="Add to Cart">
												<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										<?php endif; ?>
									<?php else: ?>
										<?php if ($prod->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							</div>
						</div>    
						</div>    
					</div>
					
					<?php } ?>
                <?php endforeach ?>
			
		</div>
	</div>
</div>




<?php
	
		
	}else{
		/*Slider */
		$view = "grid";
		$class = "bestsold-sliders owl-carousel products-".$mode;
		?>
		
<div class="block widget block-bestseller-products <?php /* @escapeNotVerified */ echo $mode; ?>">

	<?php if($view=="grid"){ ?>
		<h2 id="recommedation_hhh" class="filterproduct-title" style="background: #28A488; margin-top:50px;">
			<span class="content" style="background:none;"><?php /* @escapeNotVerified */ echo $title; ?></span>
		</h2>
	<?php } ?>   
	<div class="block-content">
		<?php /* @escapeNotVerified */ echo '<!-- ' . $image . '-->' ?>
		<div class="<?php echo $class ?>  <?php /* @escapeNotVerified */ echo $mode; ?>">
			<?php if($view=="list"){ ?>
				<ol class="products list items product-items ">
			<?php } ?>
			<?php
				$iterator = 1;
				foreach ($fetProdCollection as $item):
									
				 $prod = $block->loadProduct($item->getProductId());
				if(!empty($prod->getName())){
			?>
			<?php 
				if($view=="list"){ 
					echo($iterator++ == 1) ? '<li class="best-seller-prd product-item">' : '</li><li class="best-seller-prd product-item">';
				} 
			?>
                    <div class="item">
						<div class="product-item-info">
					<?php
						$imageUrl = $block->imageHelperObj()->init($prod, 'product_page_image_small')
								->setImageFile($prod->getFile())
								->resize(272,272)
								->getUrl();
?>
						<a href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>" class="product-item-photo">
						<img class="product-image-photo default_image" src="<?php echo  $imageUrl;?>" alt="<?php echo $this->escapeHtml($prod->getName()) ?>" />
						</a>
						<div class="product-item-details">
							<strong class="product-item-name">
								<a title="<?php echo $block->escapeHtml($prod->getName()) ?>"
								href="<?php /* @escapeNotVerified */ echo $prod->getProductUrl() ?>"
								class="product-item-link">
									<?php echo $block->escapeHtml($prod->getName()) ?>
								</a>
							</strong>
							<?php
							echo $this->getProductPriceHtml($prod, $type);
							?>
							<div class="product-item-actions">
								<div class="actions-primary">
									<?php if ($prod->isSaleable()): ?>
										<?php if ($prod->getTypeInstance()->hasRequiredOptions($prod)): ?>
											<button class="action tocart primary"
												data-mage-init='{"redirectUrl":{"url":"<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($prod) ?>"}}'
												type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
												<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										<?php else: ?>
											<?php
												$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
												$postData = $postDataHelper->getPostData($block->getAddToCartUrl($prod), ['product' => $prod->getId()]);
											?>
											<button class="action tocart primary" data-post='<?php  echo $postData; ?>'
													type="button" title="Add to Cart">
												<span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
											</button>
										<?php endif; ?>
									<?php else: ?>
										<?php if ($prod->getIsSalable()): ?>
													<div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
										<?php else: ?>
													<div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
										<?php endif; ?>
									<?php endif; ?>
								</div>
							</div>
						</div>    
						</div>    
					</div>
					<?php 
						if($view=="list"){ 
							echo($iterator == count($fetProdCollection)+1) ? '</li>' : '' ;
						} 
					?>
					<?php } ?>
                <?php endforeach ?>
			<?php if($view=="list"){ ?>
				</ol>
			<?php } ?>
		</div>
	</div>
</div>



<?php
	}
	

?>





<script type="text/javascript">
        require([
           'jquery',
           'owl.carousel/owl.carousel.min'
        ], function ($) {
			
			$(".bestsold-sliders").owlCarousel({
				autoplay: true,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: true,
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
				dots: false,
				responsive: {
				   0: {
					 items:1
				   },
				   768: {
					 items:2
				   },
				   992: {
					 items:3
				   },
				   1200: {
					 items:4
				   }
				 }
			   });
		   
		});
       </script>
