<?php 

/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_PincodeChecker
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://cedcommerce.com/license-agreement.txt
 */

?>
<?php 
$ajaxUrl = $block->getUrl('showseller/index');
if($this->_helper->showOnPage() 
   && $this->_helper->getTypeAllowed() 
   && $this->_helper->showOnPage()){
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$currentProduct = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
	if ($currentProduct):
?>
		<?php
		
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();     
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface');
$store = $storeManager->getStore();
$website_url  = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_WEB);

$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$outStocks =  $StockState->getStockQty($product->getId(), $product->getStore()->getWebsiteId());
if($outStocks =='0')
{
?>
<?php
}
else
{
?>
	<div class="pincode-div">
		<div class="pincode_checker">
			<div class="control">
				<label for="zipcode" class="label"><?php echo $block->getZipCodeLabel()?></label>
				<span class="iconloc"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
				<input type="text" class="input-text" maxlength="6" placeholder="Enter your pincode" title="ZipCode" name="zipcode" id="check-zipcode"/>
			</div>
			
			
			<button id="check-pincode" class="action primary" title="Check" type="button">
				<span class="show-seller-data">
					<span>Check</span>
				</span>
			</button>
			
			<button id="check1-pincode" class="action primary changepincode" title="Check" type="button" style="display:none;">
				<span>
					<span>Change</span>
				</span>
			</button>
			<span id="errmsg"></span> 
			<img id="loader" alt="loader" src="<?php echo $this->getViewFileUrl('Ced_PincodeChecker::images/loader.gif');?>" style="display: none;"/>
		</div> 
		<div class="pincode_checker_msg_wrapper" id="pincode_checker_msg_wrapper">
	        <div id="pincode_checker_msg"></div>
		</div>
		<p id="deliverydays_msg" style="display:none;"></p>
		<input type="hidden" id="enable_atc" value="0" />
	</div>

<?php  
}
?>

<script>
require([ 
    'jquery',
    'mage/mage'
], function(jquery){
	
	
	var t = window.location.href.indexOf('#');
	
	jquery("#check-zipcode").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
       jquery("#errmsg").html("Number Only").show().fadeOut("slow");
               return false;
    }
   });
	
	jquery('#check1-pincode').hide();
	jquery("#check1-pincode").click(function () {
		jQuery('#pincode_checker_msg').empty();
		jquery('#pincode_checker_msg_wrapper').hide();
		jQuery('#pincode_checker_msg_wrapper').removeClass('message-error error message');
		jQuery('#pincode_checker_msg_wrapper').removeClass('message-success success message');
		jquery(this).hide();
		jquery('#check-zipcode').val('');
		jquery("#check-pincode").show();
		jQuery('#deliverydays_msg').hide();
		jquery('#check-zipcode').attr('disabled', false);
		jQuery('.custom_product_avail').empty();
		jQuery('#product-addtocart-button').removeAttr("disabled");
		jQuery('#buy-now').removeAttr("disabled");
		
		
	});
	jQuery('#check-zipcode').bind("cut copy paste",function(e) {
		 //e.preventDefault();
	});
	jquery("#check-pincode").click(function () {
		
		var zipcode_field = document.getElementById("check-zipcode");
		var zipcode = zipcode_field.value;
		
		if(zipcode=='')
		{
			alert('Please Enter a Valid Pincode');
			return false;		
		}	
		
		var product_id = '<?php echo $currentProduct->getId();?>';
		var qty=jQuery('#qty').val();
		if(qty < '1')
		{
			require([
				'Magento_Ui/js/modal/alert'
			], function(alert) { // Variable that represents the `alert` function
			 
				alert({
					title: 'Alert',
					content: 'Enter Correct Quantity', 
					actions: {
						always: function(){}
					}
				}); 
			 
			}); 
			return false;
			
			
		} 	
		if(zipcode){
			jquery('#check-zipcode').css('border-color','#ccc');
			var msg_element = document.getElementById("pincode_checker_msg_wrapper");
			var IsCodAllowedFromAdmin = '<?php echo $this->_helper->getIsCodAllowedFromAdmin(); ?>';
			//var cod_success_msg = '<?php echo $this->_helper->getCodAllowedText()?>';
			//var cod_error_msg = '<?php echo $this->_helper->getCodNotAllowedText()?>';
			
			var cod_success_msg = 'Item is Available at {{zipcode}}';
			var cod_error_msg = 'Item is Not Available at {{zipcode}}';
			if(zipcode.match(/^[a-z0-9\-\s]+$/i)) {
				jquery('#loader').show();
				jquery('#check-pincode').attr('disabled',true);
					jquery.ajax({
					url:  '<?php echo $ajaxUrl ?>',
					dataType:'html',
					type: "POST",
					data: {pincode:zipcode,productId:product_id},
					success:function(response){
						setTimeout(function(){
							if(jquery('#pincode_checker_msg_wrapper').hasClass('message-success')){
								jquery('.show-ajax-data').html(response);
								jquery('.show-ajax-data span').show();
								jquery('.show-ajax-data h3').show();
								jquery('.show-ajax-data p').show();
							}
							else{
								jquery('.show-ajax-data span').hide();
								jquery('.show-ajax-data h3').hide();
								jquery('.show-ajax-data p').hide();
							}
						}, 2000);
					},
					});
				jquery.ajax({
					type: 'post',
					url: '<?php echo $this->getUrl("pincodechecker/index/validate"); ?>',
					data: { zip: zipcode, product_id: product_id, qty:qty},
					dataType: 'json', 
					success: function(json) {
						jquery('#loader').hide();
						jquery('#check-pincode').attr('disabled',false);
						jquery('#check-zipcode').attr('disabled', true);
						if(json.ship){ 
							if(json.cod){
                                    jquery('#pincode_checker_msg').text(cod_success_msg.replace('{{zipcode}}',zipcode));
                                    msg_element.setAttribute("class", "message-success success message");
									jQuery('.custom_product_avail').empty().append(json.custom_msg);	
									jQuery('#enable_atc').val('1');
									jQuery('#product-addtocart-button').removeAttr("disabled");
									jQuery('#buy-now').removeAttr("disabled");
									jQuery('#pincode_validation_msg').hide();
									jQuery('.custom_product_avail').empty().append(json.custom_msg);	

								if(json.days!='-' && json.days!=''){
									jquery('#deliverydays_msg').html(json.days);
								}
								jQuery('#deliverydays_msg').show();
							
							}
							else{
								jquery('#pincode_checker_msg').text(cod_error_msg.replace('{{zipcode}}',zipcode));
								msg_element.setAttribute("class", "message-error error message");
								//zipcode_field.value = '';
								jquery('#deliverydays_msg').empty();
								if(json.days!='-' && json.days!=''){
									jquery('#deliverydays_msg').html(json.days);
								}
								jQuery('#product-addtocart-button').prop("disabled", true);
            					jQuery('#buy-now').prop("disabled", true);
							}
						}else if(json.zip_not_found){
							//jquery('#pincode_checker_msg').text("<?php echo $this->_helper->getZipcodeNotFoundMessage()?>");
							jquery('#pincode_checker_msg').text("Item is unavailable at "+zipcode);
							msg_element.setAttribute("class", "message-error error message");
							//zipcode_field.value = '';
							jquery('#deliverydays_msg').empty();
							jQuery('#product-addtocart-button').prop("disabled", true);
        					jQuery('#buy-now').prop("disabled", true);
						}else{
							jquery('#pincode_checker_msg').text(cod_error_msg.replace('{{zipcode}}',zipcode));
							msg_element.setAttribute("class", "message-error error message");
							//zipcode_field.value = '';
							jquery('#deliverydays_msg').empty();
							jQuery('#product-addtocart-button').prop("disabled", true);
        					jQuery('#buy-now').prop("disabled", true);
						}
					}
				});
			}
			else{
				jquery('#check-zipcode').css('border-color','red');
			}	
		}
		else{
			jquery('#check-zipcode').css('border-color','red');
		}
		jquery('#check1-pincode').show();
		
		jquery(this).hide();
		jquery('#pincode_checker_msg_wrapper').show();
	}); 
	
	
	
	
});
</script>
 
<?php endif; }?>
