<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$config = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

$minAmount = (int)$config->getValue('carriers/express_shipping/free_price');
$isActive  = (int)$config->getValue('carriers/express_shipping/free_active');

$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
$subTotal = $cart->getQuote()->getSubtotal();


if( $isActive && $subTotal>0 && $subTotal < $minAmount) : ?>
<div class="free_shipping">
  <strong>Add items of ₹<?php echo $minAmount-$subTotal; ?> more for Free Shipping </strong>
</div>
<?php endif; ?>		

<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Shopping cart template
 *
 * @var $block \Magento\Checkout\Block\Cart
 */

if ($block->getItemsCount()) {
    // phpcs:ignore Magento2.Security.LanguageConstruct.DirectOutput
    echo $block->getChildHtml('with-items');
} else {
    // phpcs:ignore Magento2.Security.LanguageConstruct.DirectOutput
    echo $block->getChildHtml('no-items');
}
