<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Checkout\Block\Onepage */
?>

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$config = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface');

$minAmount = (int)$config->getValue('carriers/express_shipping/free_price');
$isActive  = (int)$config->getValue('carriers/express_shipping/free_active');

$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
$subTotal = $cart->getQuote()->getSubtotal();

if( $isActive && $subTotal>0 && $subTotal < $minAmount) : ?>
<div class="free_shipping" id="myDiv">
  <strong>Add items of ₹<?php echo $minAmount-$subTotal; ?> more for Free Shipping </strong>
</div>
<div style="clear:both;"></div>
<?php endif; ?>	


<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?= $block->escapeUrl($block->getViewFileUrl('images/loader-1.gif')) ?>"
                 alt="<?= $block->escapeHtmlAttr(__('Loading...')) ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?= /* @noEscape */ $block->getSerializedCheckoutConfig() ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>");
            return url.setBaseUrl('<?= $block->escapeJs($block->escapeUrl($block->getBaseUrl())) ?>');
        })
    </script>
    
    <script>
        require(
        ['jquery', 'jquery/ui'], 
        function($) {
            $(document).on('click','button.button.action.continue.primary',function(){
                var h1 = $('.free_shipping strong').text();
                setTimeout(function(){ 
                    $('.ordersummytext').html(h1);
                }, 2000);
            });            
        });
    </script>
</div>
<style type="">
.modal-popup.lockdown_modal .modal-inner-wrap { margin: 5rem auto; width: 52%;}
.modal-popup.lockdown_modal input::placeholder { color:#777777; font-size:16px;}
.modal-popup.lockdown_modal h2{margin: 0px 0px 20px 0px;}
.modal-popup.lockdown_modal .action-close::before{font-size: 27px;
line-height: 33px;b font-weight: 100;}
.modal-popup.lockdown_modal .modal-header { padding: 0px; margin-bottom: 0px; }
.modal-popup.lockdown_modal .btn.btn-primary.submit { background: #333; border-radius: 4px; height: 46px; margin-bottom: 20px;}
@media (max-width: 767px) {
	.modal-popup.lockdown_modal.modal-slide { left: 0px; z-index: 900; }
	.modal-popup.lockdown_modal .modal-inner-wrap { margin: 5rem auto; width: 94%; }
	.modal-popup.lockdown_modal h2 { margin: 0px 0px 20px 0px; font-size: 18px; line-height: 26px; }
}
</style>
