<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Helpdesk
 * @author    Webkul
 * @license   https://store.webkul.com/license.html
 */
$helper = $this->helper('Webkul\Helpdesk\Helper\Data');
$ticketsHelper = $this->helper('Webkul\Helpdesk\Helper\Tickets');
$pendingstatus = $helper->getConfigPendingStatus();
$newstatus = $helper->getConfigNewStatus();
$openstatus = $helper->getConfigOpenStatus();
$closestatus = $helper->getConfigCloseStatus();
$resolvestatus = $helper->getConfigResolveStatus();
$spamstatus = $helper->getConfigSpamstatus();
$dateformat = $helper->getDateFormate();
?>
<div class="dashboard-container">
    <div class="count-box">
        <div id="dashboard_diagram_totals" class="box">
            <div class="entry-edit">
                <table width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <td class="a-center bold">
                                <span><?php echo __("Pending") ?></span><br><br>
                                <span class="nowrap">
                                    <a href="<?php echo $block->getUrl('helpdesk/ticketsmanagement_tickets/index', ["status"=>$pendingstatus]);?>">
                                        <span class="price"><?php echo $block->getTicketCountByStatus($pendingstatus) ?></span>
                                    </a>
                                    <span style="font-size:14px; color:#DE8946;">
                                    </span>
                                </span>
                            </td>
                            <td class="a-center bold">
                                <span><?php echo __("New") ?></span><br><br>
                                <span class="nowrap">
                                    <a href="<?php echo $block->getUrl('helpdesk/ticketsmanagement_tickets/index', ["status"=>$newstatus])?>">
                                        <span class="price"><?php echo $block->getTicketCountByStatus($newstatus) ?></span>
                                    </a>
                                    <span>
                                    </span>
                                </span>
                            </td>
                            <td class="a-center bold">
                                <span ><?php echo __("Open") ?></span><br><br>
                                <span class="nowrap">
                                    <a href="<?php echo $block->getUrl('helpdesk/ticketsmanagement_tickets/index', ["status"=>$openstatus]) ?>">
                                        <span class="price"><?php echo $block->getTicketCountByStatus($openstatus) ?></span>
                                    </a>
                                    <span>
                                    </span>
                                </span>
                            </td>
                            <td class="a-center bold">
                                <span ><?php echo __("Closed") ?></span><br><br>
                                <span class="nowrap">
                                    <a style="text-decoration: none" href="<?php echo $block->getUrl('helpdesk/ticketsmanagement_tickets/index', ["status"=>$closestatus]) ?>">
                                        <span class="price"><?php echo $block->getTicketCountByStatus($closestatus) ?></span>
                                    </a>
                                    <span>
                                    </span>
                                </span>
                            </td>
                            <td class="a-center bold">
                                <span><?php echo __("Resolved") ?></span><br><br>
                                <span class="nowrap">
                                    <a href="<?php echo $block->getUrl('helpdesk/ticketsmanagement_tickets/index', ["status"=>$resolvestatus]) ?>">
                                        <span class="price"><?php echo $block->getTicketCountByStatus($resolvestatus) ?></span>
                                    </a>
                                    <span>
                                    </span>
                                </span>
                            </td>
                            <td class="a-center bold">
                                <span><?php echo __("Spam") ?></span><br><br>
                                <span  class="nowrap">
                                    <a  href="<?php echo $block->getUrl('helpdesk/ticketsmanagement_tickets/index', ["status"=>$spamstatus]) ?>">
                                        <span class="price"><?php echo $block->getTicketCountByStatus($spamstatus) ?></span>
                                    </a>
                                    <span>
                                    </span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="activity-conatiner">
        <div class="content-header">
            <h3 class="head-dashboard"><?php echo __("Recent Activities"); ?></h3>
        </div>
        <ul>
            <?php foreach ($block->getDashboardActivity() as $activity): ?>
                <li class="activity-list">
                    <div class="wk_activity_head">
                        <h3><?php echo $activity->getUserType() ?></h3>
                        <h3><?php echo (__($activity->getField()))." - ".ucfirst((__($activity->getType()))) ?></h3>
                    </div>
                    <div class="wk_ts_pannel_heading <?php if (strtolower($activity->getUserType()) == 'customer') { echo 'customer'; } ?>">
                        <?php
                        if ($activity->getUserType() == "Customer") {
                            $user = $ticketsHelper->getHelpdeskCustomerById($activity->getUserId());
                            $userUrl = $block->getUrl('helpdesk/customer_customer/edit', ["id"=>$user->getId()]);
                        } else {
                            $user = $ticketsHelper->getAdminUserById($activity->getUserId());
                            $userUrl = $block->getUrl('helpdesk/agentsmanagement_agent/edit', ["id"=>$user->getId()]);
                        }
                        ?>
                        <?php echo $block->escapeHtml(substr($activity->getPerformer(), 0, 1)) ?>
                        <div class="arrow_box">
                            <span class="detail_head"><?php echo __("Performer Details") ?></span>
                            <span class="customer_name">
                                <a href="<?php echo $block->escapeHtml($userUrl); ?>" target="_blank">
                                    <i class="fa fa-user"></i>
                                    <?php echo $block->escapeHtml($user->getName()) ?>
                                </a>
                            </span>
                            <span class="customer_email">
                                <i class="fa fa-envelope"></i>
                                <?php echo $block->escapeHtml($user->getEmail()) ?>
                            </span>
                        </div>
                    </div>
                    <div class="wk_activity_label_box">
                        <?php echo $block->escapeHtml($activity->getLevel()) ?><br/>
                        <?php echo $block->escapeHtml($activity->getLabel()) ?><br/>
                        <?php echo __("Date")." : ".date($dateformat, strtotime($activity->getCreatedAt())) ?><br/>
                    </div>
                </l1>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "dashboard": {}
        }
    }
</script>
