<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var  $block \Magento\Sales\Block\Order\Item\Renderer\DefaultRenderer */ ?>
<?php $_item = $block->getItem();
$_objectManager =   \Magento\Framework\App\ObjectManager::getInstance();
$priceHelper = $_objectManager->create('Magento\Framework\Pricing\Helper\Data'); // Instance of Pricing Helper
 ?>
<?php $_order = $block->getItem()->getOrderItem()->getOrder() ?>
<tr id="order-item-row-<?php /* @escapeNotVerified */ echo $_item->getId() ?>">
    <td class="col name" data-th="<?php echo $block->escapeHtml(__('Product Name')); ?>">
        <strong class="product name product-item-name"><?php echo $block->escapeHtml($_item->getName()) ?></strong>
        <?php if ($_options = $block->getItemOptions()): ?>
        <dl class="item-options">
        <?php foreach ($_options as $_option) : ?>
            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
            <?php if (!$block->getPrintStatus()): ?>
                <?php $_formatedOptionValue = $block->getFormatedOptionValue($_option) ?>
                <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="tooltip wrapper"<?php endif; ?>>
                    <?php /* @escapeNotVerified */ echo $_formatedOptionValue['value'] ?>
                    <?php if (isset($_formatedOptionValue['full_view'])): ?>
                    <div class="tooltip content">
                        <dl class="item options">
                            <dt><?php echo $block->escapeHtml($_option['label']) ?></dt>
                            <dd><?php /* @escapeNotVerified */ echo $_formatedOptionValue['full_view'] ?></dd>
                        </dl>
                    </div>
                    <?php endif; ?>
                </dd>
            <?php else: ?>
                <dd><?php echo $block->escapeHtml((isset($_option['print_value']) ? $_option['print_value'] : $_option['value'])) ?></dd>
            <?php endif; ?>
        <?php endforeach; ?>
        </dl>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?php echo $addInfoBlock->setItem($_item->getOrderItem())->toHtml(); ?>
        <?php endif; ?>
        <?php echo $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td class="col sku" data-th="<?php echo $block->escapeHtml(__('SKU')); ?>"><?php /* @escapeNotVerified */ echo $block->prepareSku($block->getSku()) ?></td>
    <td class="col price" data-th="<?php echo $block->escapeHtml(__('Price')); ?>">
        <?php echo $block->getItemPriceHtml(); ?>
    </td>
    <td class="col price" data-th="<?php echo $block->escapeHtml(__('CGST')); ?>">
        <table class="cgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td><?php echo round($_item->getCgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {

                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('cgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('cgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col price" data-th="<?php echo $block->escapeHtml(__('SGST')); ?>">
        <table class="Sgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td><?php echo round($_item->getSgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('sgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('sgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col price" data-th="<?php echo $block->escapeHtml(__('UTGST')); ?>">
        <table class="Sgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td><?php echo round($_item->getSgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('utgst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('utgst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col price" data-th="<?php echo $block->escapeHtml(__('IGST')); ?>">
        <table class="Sgst">
            <tbody style="background:none;text-align:center">
            <tr>
                <td><?php echo round($_item->getIgstPercent(),2);?></span></td>
                <td>
                    <?php
                    if($_item->getOrderItem()->getData('product_type') == 'configurable')
                    {
                        $item_id = $_item->getOrderItem()->getData('item_id');
                        $item = $_objectManager->get('Magento\Sales\Model\Order\Item')->getCollection();
                        $item->addFieldToFilter('parent_item_id',$item_id);
                        foreach ($item as $value) {
                            $formattedPrice = $priceHelper->currency($value->getData('igst_amount'), true, false);
                            echo $formattedPrice;
                        }
                    }
                    else
                    {
                        $formattedPrice = $priceHelper->currency($_item->getData('igst_amount'), true, false);
                        echo $formattedPrice;
                    }
                    ?>
                </td>
            </tr>
        </table>
    </td>
    <td class="col qty" data-th="<?php echo $block->escapeHtml(__('Qty Invoiced')); ?>">
        <span class="qty summary"><?php /* @escapeNotVerified */ echo $_item->getQty()*1 ?></span>
    </td>
    <td class="col subtotal" data-th="<?php echo $block->escapeHtml(__('Subtotal')); ?>">
        <?php echo $block->getItemRowTotalHtml(); ?>
    </td>
</tr>
