<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */
?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();

$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
return $redirect->setRedirect('helpdesk/ticket');
die();

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();



$contactUsHelper = $objectManager->create('OM\Rewrite\Helper\ContactUs');
$contact_info = $contactUsHelper->getContactUsArray();
$storeManager = $objectManager->get('Magento\Store\Model\StoreManagerInterface'); 
$currentStore = $storeManager->getStore();
$media_url = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$customerEmail = $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail();
$query = "SELECT value FROM `customer_entity_varchar` where entity_id = (SELECT entity_id FROM `customer_entity` where email = '$customerEmail') and attribute_id = 178";
$mobileNumber = $connection->fetchOne($query);
?>
<div class="contactusmain">
    <div class="col-12 col-sm-12 col-md-6 col-xl-6 leftinfo">
        <div class="infosection">
            <h2>Contact Details</h2>
            <?php if(isset($contact_info['phone'])):?>
                <div class="listing">
                    <div class="placeholder">
                        <img src="<?=$media_url?>wysiwyg/getmyspares_home/contactus-icon01.png" alt="" />
                    </div>
                    <label>Orders Status/Complains Call:</label>
                    <?php if(isset($contact_info['phone']['phone_one'])):?>
                            <p><?=$contact_info['phone']['phone_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['phone']['phone_two'])):?>
                        <p><?=$contact_info['phone']['phone_two'];?> </p>
                    <?php endif;?>
                </div>
            <?php endif;?>

            <?php if(isset($contact_info['mobile'])):?>
                <div class="listing">
                    <div class="placeholder">
                        <img src="<?=$media_url?>wysiwyg/getmyspares_home/contactus-icon02.png" alt="" />
                    </div>
                    <?php if(isset($contact_info['mobile']['mobile_one'])):?>
                        <p><?=$contact_info['mobile']['mobile_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['mobile']['mobile_two'])):?>
                        <p><?=$contact_info['mobile']['mobile_two'];?> </p>
                    <?php endif;?>
                </div>
            <?php endif;?>
            <?php if(isset($contact_info['email'])):?>
                <div class="listing">
                    <div class="placeholder">
                        <img src="<?=$media_url?>wysiwyg/getmyspares_home/contactus-icon03.png" alt="" />
                    </div>
                    <?php if(isset($contact_info['email']['email_one'])):?>
                        <p><?=$contact_info['email']['email_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['email']['email_two'])):?>
                        <p><?=$contact_info['email']['email_two'];?> </p>
                    <?php endif;?>
                </div>
            <?php endif;?>
        
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-6 rightinfo">
        <form class="form contact"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <legend class="legend"><span><?= $block->escapeHtml(__('Write To Us')) ?></span></legend> 
            <div class="field name required">
                <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
                <div class="control">
                    <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" placeholder="Name" class="input-text" type="text" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field email required">
                <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                <div class="control">
                    <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="Email" />
                </div>
            </div>
            <div class="field telephone">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
                <div class="control">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?php echo $mobileNumber?>" class="input-text" type="text" placeholder="Phone Number" />
                </div>
            </div>
            <div class="field comment required">
                <label class="label" for="comment"><span><?= $block->escapeHtml(__('What’s on your mind?')) ?></span></label>
                <div class="control">
                    <textarea placeholder="What’s on your mind?" name="comment" id="comment" title="<?= $block->escapeHtmlAttr(__('What’s on your mind?')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                </div>
            </div>
            <?= $block->getChildHtml('form.additional.info') ?>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                    <span><?= $block->escapeHtml(__('Submit')) ?></span>
                </button>
            </div>
        </div>
    </form>
    </div>
</div>

