<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>
<?php
			$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
			$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
			$site_url=$storeManager->getStore()->getBaseUrl();
            $customerSession = $objectManager->create('Magento\Customer\Model\Session');
			$baseurl = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			
?>

<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
	<?php if($customerSession->isLoggedIn()) { ?>
	
	   <h3>Extra 5% Off</h3><span class="layous"> for Loyalty Members.<a class="joinnoww" href="<?php echo $site_url; ?>rewards/account">Join Now</a></span> 
	   <?php
	    }
		else
		{
		?>
		
	   <h3>Extra 5% Off</h3><span class="layous"> for Loyalty Members.<a class="joinnoww" href="<?php echo $site_url; ?>customer/account/create">Join Now</a></span> 
	   <?php
		}
		?>
        
    <?php else: ?>
        
    <?php endif; ?>
<?php endif; ?>
