<?php 
	$productId = $_POST['product_id'];
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$product = $objectManager->create('Magento\Catalog\Model\Product')->load($productId);
	$helper = $this->helper('Webkul\Marketplace\Helper\Data');
	$marketplaceProduct = $helper->getSellerProductDataByProductId($productId);
	foreach ($marketplaceProduct as $value) {
                     $sellerId = $value['seller_id'];
    }

?>
 <?php if ($sellerId!=""): ?>
 	<?php 
 		$sellerInfo = $helper->getSellerInfo($sellerId);
    	$shopTitle = $sellerInfo['shop_url'];
    ?>
 <?php endif;?>	
<style>
div.mage-error{
	display: block !important;
}
</style>
<h2><?php echo $_POST['product_name']; ?></h2>
<form class="needs-validation" id="form_best_price" method="post" autocomplete="off">
	<input type="hidden" id="product_name" name="product_name" value="<?php echo $_POST['product_name']; ?>" />
	<input type="hidden" id="product_id" name="product_id" value="<?php echo $_POST['product_id']; ?>" />
	<div class="row mainlist">
		<div class="col-12 col-sm-6 col-xl-md col-xl-6 list">
			<input type="text" class="input-text" data-validate="{required:true}" name="customer_name" placeholder="Name" value="<?php echo $this->getName();?>">
		</div>
		<div class="col-12 col-sm-6 col-xl-md col-xl-6 list">
			<input type="text" class="input-text" data-validate="{required:true, 'validate-email':true}" name="customer_email" placeholder="Email" value="<?php echo $this->getEmail();?>">
		</div>
	</div>
	<div class="row mainlist">
		<div class="col-12 col-sm-6 col-xl-md col-xl-6 list">
			<input type="text" class="input-text validate-length minimum-length-9 maximum-length-11" data-validate="{required:true, 'validate-number':true}" name="pincode" placeholder="Mobile" value="<?php echo $this->getMobile();?>">
		</div>
		<div class="col-12 col-sm-6 col-xl-md col-xl-6 list">
			<select name="qty" id="qty">
				<option value="5" default >5</option>
				<option value="10" >10</option>
				<option value="15" >15</option>
				<option value="20">20</option>
				<option value="25">25</option>
				<option value="25plus" >more than 25</option>
			</select>
			<!-- <input type="text" class="input-text" name="qty" placeholder="Qty" value="" data-validate="{'required':true, 'pattern':/^\d+(\.\d{1,2})?$/, 'validate-greater-than-zero':true}"> -->
		</div>
	</div>
	<input type="hidden" name="seller_name" value="<?php echo $shopTitle?>">
	<input type="hidden" name="part_name" value="<?php echo $product->getData('part_name');?>">
	<input type="hidden" name="part_type" value="<?php echo $product->getAttributeText('part_type');?>">
	<div style="clear:both;margin-top:20px;"></div> 
	<div class="row justify-content-md-center">
		<div class="col-md-6 mb-4">
			<button class="btn btn-primary submit" type="button" id="submit-button">SUBMIT REQUEST</button>
		</div>
	</div>
</form>
<script type="text/javascript">
require(['jquery','mage/mage'], function($){
   var dataForm = $('#form_best_price');
   dataForm.mage('validation', {});
   
	$('button#submit-button').click( function() {
		var status = dataForm.validation('isValid');
		if(status){
			jQuery.ajax({
				type : 'POST',
				url : '/getbestprice/index/index?action=save',
				data : jQuery('#form_best_price').serialize(),
				success: function(msg){
					if(msg=='success'){
						$('#get_best_price_link_popup').html('<h2><center>Request Submited Successfully !!</center></h2>');
					}
				}
			});
		}
	});
});
</script>
