<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$cId = $objectManager->create('Magento\Customer\Model\Session')->getCustomer()->getId();

	$pId = $objectManager->get('Magento\Framework\Registry')->registry('current_product')->getId();
	
	$model = $objectManager->create('Magento\ProductAlert\Model\ResourceModel\Stock\CollectionFactory')->create();
	$model->addFieldToFilter('customer_id',$cId);
	$model->addFieldToFilter('product_id',$pId);
	if(!$model->getSize()) {
?>
	<div class="product alert <?= $block->getHtmlClass() ?>">
	    <a href="<?= $block->escapeUrl($block->getSignupUrl()) ?>"
	       title="<?= $block->escapeHtmlAttr(__($block->getSignupLabel())) ?>" class="action alert">
	       <button class="primary notify-me"><?= $block->escapeHtml(__($block->getSignupLabel())) ?></button>
	    </a>
	</div>
	<style type="text/css">
		.notify-me {
			background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd);
		    color: #fff;
		    border: 0px;
		    font-size: 20px !important;
		    border-radius: 9px;
		    font-family: 'Exo';
		    font-weight: 500;
		    height: 56px;
		}
	</style>
<?php }else { ?>
	<div class="product alert <?= $block->getHtmlClass() ?>">
	    <p class="notify-msg">You will be notified when this product is in stock</p>
	</div>
	<style type="text/css">
		.notify-msg {
			font-weight: 600;
			font-size: 18px;
			color: #3f549c !important;
		}
	</style>
<?php } ?>