
<?php $rma = $block->getRmaDetail();
	$id = $rma->getRmaId();
	$order = $block->getOrder($rma->getOrderId());
	$helper = $this->helper("Webkul\Rmasystem\Helper\Data");

?>
<form method="post" action="<?php echo $this->getUpdateUrl(); ?>" id="edit_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
	<!-- <fieldset class="fieldset admin__fieldset fieldset-wide"> -->
	<input type="hidden" value="<?php echo $block->getFormKey() ?>" name="form_key"/>
	<input type="hidden" value="<?php echo $id ?>" name="rma_id"/>
	<input type="hidden" value="<?php echo $order->getId() ?>" name="order_id"/>
		<section class="admin__page-section order-view-account-information">
		<div class="admin__page-section-item order-information">
			<div class="admin__page-section-content">
			<table class="admin__table-secondary order-information-table">
				<tbody>
					<tr>
						<th><?php echo __("Order Id"); ?></th>
						<td><a href="<?php echo $this->getUrl('sales/order/view/', ['_secure' => $this->getRequest()->isSecure()]).'order_id/'.$rma->getOrderId(); ?>">#<?php echo $rma->getIncrementId();?></a></td>
					</tr>
					<?php if(!$rma->getResolutionType()==3): ?>
					<tr>
						<th><?php echo __("Package Condition"); ?></th>
						<td>
							<?php if($rma->getPackageCondition() == 0) {
			                	echo "<p>".__("Open")."</p>";
			                } else {
			                	echo "<p>".__("Packed")."</p>";
											}?>
						</td>
					</tr>
				<?php endif; ?>
					<tr>
						<th><?php echo __("Created On"); ?></th>
						<td><p><?php echo date("Y-m-d g:i:s a", $block->getTimestamp($rma->getCreatedAt())); ?></p></td>
					</tr>
					<tr>
						<th><?php echo __("Customer Consignment Number"); ?></th>
						<td><?php echo $rma->getCustomerConsignmentNo(); ?></td>
					</tr>
					<tr>
						<th><?php echo __("Admin Consignment Number"); ?></th>
						<td><?php echo $rma->getAdminConsignmentNo(); ?></td>
					</tr>
					<tr>
						<th><h3><?php echo __("Additional Image(s)"); ?></h3></th>
						<td>
							<div id="wk_rma_add_images_container">
						<?php
							$images = $block->getImages();
							foreach ($images as $filename) {
								$getfilename = explode("/",$filename);
								$justfname = $block->getBaseUrl()."/".end($getfilename);
								echo "<img class='wk_rma_add_images' alt='image' src='".$justfname."'/>";
							}	?>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
			<div class="admin__page-section-item order-account-information">
			<div class="admin__page-section-content">
				<table class="admin__table-secondary order-account-information-table">
				<tbody>
					<tr>
						<th><?php echo __("RMA Status"); ?></th>
						<td>
							<span>
									<?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getStatus())."</strong>";?>
							</span>
						</td>
					</tr>
					<tr>
						<th><?php echo __("Product Delivery Status"); ?></th>
						<td>
							<span>
									<?php echo "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>";?>
							</span>
						</td>
					</tr>
					<tr>
						<th><?php echo __("Resolution Type"); ?></th>
						<td>
							<?php if($rma->getResolutionType() == 0) {
		                	echo "<p>".__("Refund")."</p>";
		                } elseif($rma->getResolutionType() == 1) {
		                	echo "<p>".__("Exchange")."</p>";
										} else {
											echo "<p>".__("Cancel Item")."</p>";
										}?>
						</td>
					</tr>
					<tr>
						<th><?php echo __("Additional Information"); ?></th>
						<td><p><?php echo nl2br(strip_tags($rma->getAdditionalInfo())); ?></p></td>
					</tr>
					<?php if($rma->getResolutionType() == 1)	{?>
					<tr>
						<th><?php echo __("Admin Consignment Number"); ?></th>
						<td><p><?php echo $rma->getAdminConsignmentNo(); ?></p></td>
					</tr>
					<?php } ?>
					<?php echo $this->getChildHtml('rma.allrma.customfield'); ?>
				</tbody>
			</table>
		    </div>
		</div>
	    </section>
			<div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
					<!-- ko template: getTemplate() --><!-- /ko -->
					<script type="text/x-magento-init">
					{
							"#view-rma-component": {
									"Magento_Ui/js/core/app":  <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
							}
					}
					</script>
			    <section class="admin__page-section">
			    <div class="admin__page-section-title" style="clear:both">
		        	<span class="title"><?php echo __("Item(s) Requested for RMA"); ?></span>
		    	</div>
		    	<div class="admin__table-wrapper">
			    <table class="data-table">
				    <thead>
				        <tr>
				            <th><?php echo __("Product Name"); ?></th>
				            <th><?php echo __("SKU"); ?></th>
				            <th class="a-right"><?php echo __("Return Qty"); ?></th>
				            <th class="a-right"><?php echo __("Reason"); ?></th>
				            <th class="a-right"><?php echo __("Product Price"); ?></th>
	
				        </tr>
				    </thead>
					<?php 	$orderItems = $block->getItemCollection($id);
									$download_count=count($orderItems);
									$download=0;
									$itemIds = [];
									foreach($orderItems as $item)	{
										$itemIds[] = $item->getItemId();
										$mageItem = $block->getSalesOrderItemDetail($item->getItemId());
										$product = $block->getProductDetail($mageItem->getProductId());
										$reason = $block->getReason($item->getReasonId())->getReason();
										if (!$reason) {
											$reason = $item->getRmaReason();
										}
										if($product->getTypeId()=='downloadable' || $product->getTypeId()=='virtual')
											$download++;
										?>
							    		<tbody>
						                    <tr class="border">
                                                <td><h3 class="product-name"><?php echo $mageItem->getName(); ?></h3></td>
                                                <td><?php echo $mageItem->getSku(); ?></td>
                                                <td class="a-right"><?php echo $item->getQty(); ?></td>
                                                <td class="a-right"><?php echo $reason; ?></td>
                                                    <td class="a-right"><?php echo $order->formatPrice($mageItem->getPrice()); ?></td>
                                                </tr>
					                    </tbody>
							        <?php 	} ?>
                            </table>
                        </div>
		        </section>
			<div id="wk_rma_conversation_container">
					<div class="conversation-block" style="float:left;width:40%;">
						<div class="admin__page-section-item-title">
                <span class="title"><?php echo __('RMA History & Conversation') ?></span>
            </div>
		<?php 	$collection = $this->getConvsersationCollection($rma->getRmaId());
						if($rma->getCustomerId() > 0){
							$customer = $block->getCustomerDetail($rma->getCustomerId());
							$customerName = $customer->getFirstname()." ".$customer->getLastname();
						}
						else {
							$customerName = $rma->getGuestEmail()." (".__("Guest").")";
						}
		        foreach ($collection as $eachconver) {	?>
		        	<div class="wk_rma_onereply">
				        <span class="wk_rma_onereply_head <?php if($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') echo "wk_rma_onereply_customer";?>">
				            <span class="wk_rma_onereply_head_left"><?php echo date("Y-m-d g:i:s a", $block->getTimestamp($eachconver->getCreatedAt())); ?></span>
										<span class="wk_rma_onereply_head_right">
									<?php if($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') {
												echo __($customerName);
										} else {
												echo __("Admin");
										} ?></span>
				        </span>
						<?php if($eachconver->getSender() == 'default'): ?>
								<div class="wk_rma_onereply_cntnt"><?php echo $eachconver->getMessage(); ?></div>
						<?php else: ?>
								<p class="wk_rma_onereply_cntnt">
									<span><?php echo nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
									<?php if($eachconver->getAttachment() != ''){ ?>
										<a target="_blank" href="<?php echo $helper->getConversationUrl($id). $eachconver->getAttachment()?>"><?php echo $eachconver->getAttachment() ?></a>
									<?php } ?>
								</p>
						<?php endif; ?>
				    </div>
		<?php   }	?>
					</div>
					<fieldset class="fieldset admin__fieldset" style="width:50%;float:right;" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                        <?php $collection = $block->getShippingLabelCollection();
                        if(count($collection) > 0)	{ ?>
                        <?php if($rma->getResolutionType() == 1): ?>
                        <div class="admin__field field ship_label">
                                <input type="hidden" name="item_ids" value="<?php echo implode(',', $itemIds); ?>">
                                <label class="label admin__field-label" for="reason_reason"><span><?php echo __("Select Shipping Label"); ?></span></label>
                                <div class="admin__field-control">
                            <?php foreach ($collection as $label) {	?>
                                    <div class="shipping_label_each">
                                        <label for="<?php echo 'ra'.$label->getId(); ?>"><img src="<?php echo $block->getLabelBaseUrl().$label->getFilename(); ?>"	class="shipping_label_img"/></label>
                                        <input id="<?php echo 'ra'.$label->getId(); ?>" type="radio" <?php if($rma->getShippingLabel() == $label->getId()) echo "checked";?> name="shipping_label" value="<?php echo $label->getId(); ?>" class="shipping_label"/>
                                    </div>
                            <?php }	?>

                                </div>
                            </div>
                        <?php endif; ?>
                    <?php }	?>
                    </div>
			</fieldset>
	</div>
</form>
<script>
require([
        "jquery",
        "mage/mage",
        'mage/calendar'
    ], function($){
	    	'use strict';
			window.print();
	    });
</script>

