<?php
/** @var \Mirasvit\Rewards\Block\Account\Listing $block */
$collection = $block->getTransactionCollection();
$earnRules = $block->getDisplayEarnRules();
$spendRules = $block->getDisplaySpendRules();
?>
<div class="rewards-steps">
	<ul>
		<li class="complete">
			<p>Rewards Member</p>
			<span></span>
			<p>0</p>
		</li>
		<li  class="complete">
			<p>Bronze</p>
			<span></span>
			<p>1000</p>
		</li>
		<li>
			<p>Silver</p>
			<span></span>
			<p>2000</p>
		</li>
		<li>
			<p>Gold</p>
			<span></span>
			<p>5000+</p>
		</li>
	</ul>
	<p>Your current tier is <strong>Bronze</strong></p>
	<p>Earn <strong>582 Reward Points</strong> to get to <strong>Silver</strong></p>
	
</div>
<div class="block block-rewards-account-summary order-details-items">
    <div class="block-title">
        <?= $block->getChildHtml('rewards.page.main.title'); ?>
        <strong><?= __('Points Summary') ?></strong>
    </div>

    <div class="block-content">
        <p><?= __('You have <b>%1</b> in your account.', $this->helper('Mirasvit\Rewards\Helper\Data')->formatPoints($block->getBalancePoints())); ?></p>
        <p><?= $block->getChildHtml('rewards.notification') ?></p>
    </div>

    <?php if ($earnRules->count()): ?>
    <div class="block-title earn subtitle">
        <strong><?= __('Earning Rules') ?></strong>
    </div>
    <div class="block-content">
        <ul>
            <?php foreach ($earnRules as $rule): ?>
                <li><?= $rule->getFrontName(); ?></li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php endif; ?>

    <?php if ($spendRules->count()): ?>
    <div class="block-title spend subtitle">
        <!--<strong><?= __('Spend points and receive discounts') ?></strong>-->
        <strong><?= __('Spending Rules') ?></strong>
    </div>
    <div class="block-content">
        <ul>
            <?php foreach ($spendRules as $rule): ?>
                <li><?= $rule->getFrontName(); ?></li>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php endif; ?>
</div>


<!-- History code -->
<?php
/** @var \Mirasvit\Rewards\Block\Account\Listing $block */
//$collection = $block->getTransactionCollection();
?>
<div class="block block-rewards-account-summary order-details-items" id="history_details">
    <div class="">
        <div class="page-title-wrapper">
			<h1 class="page-title"  >
				<span class="base" data-ui-id="page-title-wrapper">History</span>    
			</h1>
		</div>
        <?php if ($block->isCustomerSubscribed()): ?>
            <span class="unsubscribe"><?= __('To unsubscribe from points expiring notification click %1', '<a href="'.$block->getUnsubscribeUrl().'">'.__('here').'</a>'); ?></span>
        <?php else: ?>
            <span class="unsubscribe"><?= __('To subscribe to points expiring notification click %1', '<a href="'.$block->getSubscribeUrl().'">'.__('here').'</a>'); ?></span>
        <?php endif; ?>
    </div>

    <div class="block block-rewards-account-summary">
        <div class="block-content">
            <p><?php echo $block->getChildHtml('rewards.customer.pending_transactions') ?></p>
        </div>
    </div>

    <div class="block block-rewards-account-summary">
        <div class="block-title">
            <strong><?= __('Transactions History') ?></strong>
        </div>

        <div class="block-content">
            <div class="table-wrapper orders-recent">
                <?php if ($collection->count()): ?>
                    <?= $block->getToolbarHtml() ?>
                    <table class="data-table table">
                        <thead>
                        <tr>
                            <th><?= __('ID') ?></th>
                            <th><?= __('Comment') ?></th>
                            <th><?= __('Points') ?></th>
                            <th><?= __('Created') ?></th>
                            <?php if ($block->getExpirationEnabled()): ?>
                            <th><?= __('Status Description') ?></th>
                            <?php endif; ?>
                        </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($collection as $transaction): ?>
                                <?php if ($transaction->getIsActivated()): ?>
								<tr>
									<td data-th="<?= __('ID') ?>"><?= $transaction->getId() ?></td>
									<td data-th="<?= __('Comment') ?>"><?= __($transaction->getComment()) ?></td>
									<td data-th="<?= __('Points') ?>"><?php
										if ($transaction->getAmount() > 0) {
											echo '<span class="green">+' . $transaction->getAmount() . '</span>';
										} else if ($transaction->getAmount() < 0) {
											echo '<span class="red">' . $transaction->getAmount() . '</span>';
										} else {
											echo '<span>' . $transaction->getAmount() . '</span>';
										}
										?></td>
									<td data-th="<?= __('Created') ?>"><?= $transaction->getCreatedAtFormatted() ?></td>
									<?php if ($block->getExpirationEnabled()): ?>
									<td data-th="<?= __('Status Description') ?>">
									<?php
									/* custom code */
									if ($transaction->getAmount() <= 0) {
										$status = '';
									}
									$diff = $transaction->getData('expires_diff');
									if (!$diff) {
										$transaction->getStatus();
										$diff = $transaction->getData('expires_diff');
									}
									$expires = $transaction->getData('expires_at');
									if ($expires) {
										if ($diff) {
											$status = 'Points are expired';
										} else {
											$status = 'Will expire '.$transaction->getExpiresAtFormatted();
										}
									}
										
									?>
									
									<?= $status ?>
									
									</td>
									<?php endif; ?>
								</tr>

                                <?php else: ?>
                                    <?php //= $block->getChildBlock('rewards.customer.inactive_transactions')->setTransaction($transaction)->toHtml() ?>
									
									<?php if ($transaction): ?>
										<tr>
											<td data-th="<?= __('ID') ?>"><?= $transaction->getId() ?></td>
											<td data-th="<?= __('Comment') ?>"><?= __($transaction->getComment()) ?></td>
											<td data-th="<?= __('Points') ?>"><span class="yellow">+<?= $transaction->getAmount(); ?></span></td>
											<td data-th="<?= __('Created') ?>"><?= $transaction->getCreatedAtFormatted() ?></td>
											<?php if ($block->getExpirationEnabled()): ?>
											<td data-th="<?= __('Status Description') ?>">
												<?php echo 'Will be ready for use '.$this->transaction->getActivatedAtFormatted(); ?>
												<?php //= $block->getStatusDescription() ?>
											</td>
											<?php endif; ?>
										</tr>
									<?php endif ?>
									
									
                                <?php endif; ?>
                            <?php endforeach ?>
                        </tbody>
                    </table>
                <?php else: ?>
                    <p><?= __('There are no Transactions.') ?></p>
                <?php endif ?>
            </div>
            <?php if ($block->getPagerHtml()): ?>
                <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml(); ?></div>
            <?php endif ?>
        </div>
    </div>
</div>


