<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Helpdesk
 * @author    Webkul
 * @license   https://store.webkul.com/license.html
 */

$collection = $block->getSupportCenterData();
$contactUsHelper = $this->helper('OM\Rewrite\Helper\ContactUs');
$customerHelper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$contact_info = $contactUsHelper->getContactUsArray();
$url = $block->getUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$media_url = $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$customerId = $customerHelper->getCustomerId();                    
?>
<div class="clsmainhelpdesk">
<div class="row">
<div class="col-12 col-sm-12 titleinfo">
    <div class="page-title">
       <h1>Contact Details</h1>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-xl-6 lftsideinfo">  
        <div class="infosection">
            <?php if(isset($contact_info['phone'])):?>
                <div class="listing">
                    <div class="placeholder">
                        <img src="<?=$media_url?>wysiwyg/getmyspares_home/contactus-icon01.png" alt="" />
                    </div>
                    <label>Orders Status/Complains Call:</label>
                    <?php if(isset($contact_info['phone']['phone_one'])):?>
                            <p><?=$contact_info['phone']['phone_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['phone']['phone_two'])):?>
                        <p><?=$contact_info['phone']['phone_two'];?> </p>
                    <?php endif;?>
                </div>
            <?php endif;?>

            <?php if(isset($contact_info['mobile'])):?>
                <div class="listing">
                    <div class="placeholder">
                        <img src="<?=$media_url?>wysiwyg/getmyspares_home/contactus-icon02.png" alt="" />
                    </div>
                    <?php if(isset($contact_info['mobile']['mobile_one'])):?>
                        <p><?=$contact_info['mobile']['mobile_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['mobile']['mobile_two'])):?>
                        <p><?=$contact_info['mobile']['mobile_two'];?> </p>
                    <?php endif;?>
                </div>
            <?php endif;?>
            <?php if(isset($contact_info['email'])):?>
                <div class="listing">
                    <div class="placeholder">
                        <img src="<?=$media_url?>wysiwyg/getmyspares_home/contactus-icon03.png" alt="" />
                    </div>
                    <?php if(isset($contact_info['email']['email_one'])):?>
                        <p><?=$contact_info['email']['email_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['email']['email_two'])):?>
                        <p><?=$contact_info['email']['email_two'];?> </p>
                    <?php endif;?>
                </div>
            <?php endif;?>
        
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-xl-6 rgtsideinfo">  
            <div class="btn-container">
                <?php if($customerId):?>
                <a href="<?php echo $block->getBaseUrl();?>helpdesk/ticket/newticket/">Create New Enquiry</a>
                <?php else:?>
                <a href="javascript:void(0)" class="open-popup">Create New Enquiry</a>
                <?php endif;?>    
                <a href="<?php echo $block->getBaseUrl();?>helpdesk/ticket/login/">Check Enquiry Status</a>
            </div>

        
    </div>
</div>
</div>
<?php if (count($collection)):?>
    <?php /*
<div class="wk_ts_thread_container">
    <?php $i = 1; ?>
    <?php foreach ($collection as $item): ?>
        <div class="wk_support_information_container" 
        id="support_id_<?= $block->escapeHtml($item->getId()) ?>" style="<?php if ($i++ <
        count($collection)) { echo 'border-bottom: 1px solid rgb(200, 200, 200);'; } ?>">
            <h1><?= $block->escapeHtml($item->getName()) ?></h1>
            <?php echo $item->getDescription();?>
        </div>
    <?php endforeach; ?>
</div>*/ ?>
<?php else:?>
    <div class="helpdesk-empty"><span><?= $block->escapeHtml(__("No support center found."));?></span></div>
<?php endif;?>
<script>
    require(['jquery'],function($){
        $('.open-popup').click(function(){
            $('.trigger-auth-popup').trigger('click');
            $('.login-class').addClass('_show');
        });
    });
</script>
