<?php 
  $helper = $this->helper("Baljit\Buynow\Helper\Data"); 
  $customHelper = $this->helper('OM\CheckCustomerSession\Helper\Data');
  $customerId = $customHelper->getCustomerId();
?>
<?php $addtocartId = $helper->getConfig('buynow/general/addtocart_id'); ?>
<?php $buttonTitle = $helper->getConfig('buynow/general/button_title'); ?>
<?php $formId = $addtocartId ? $addtocartId : "product_addtocart_form"; ?>
<div class="buynow-button">
	<?php if($customerId):?>
    <button type="submit" title="<?php /* @escapeNotVerified */ echo __($buttonTitle) ?>" id="buy-now" class="action primary" data-mage-init='
    {
        "Baljit_Buynow/js/buy-now": {
            "form": "#<?php echo $formId; ?>"
        }
    }
    '>
    <span><?php /* @escapeNotVerified */ echo __($buttonTitle) ?></span>
    </button>
    <?php else:?>
    <button title="<?php /* @escapeNotVerified */ echo __($buttonTitle) ?>" id="buy-now" class="action primary">
        <span><?php /* @escapeNotVerified */ echo __($buttonTitle) ?></span>
    </button>
    <script>
    require(['jquery'],function($){
        $('#buy-now').click(function(){
            $('.trigger-auth-popup').trigger('click');
            $('.login-class').addClass('_show');
        });
    });
</script>
    <?php endif;?>
</div>
