<?php
    $rma_id = $id =  "";

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $messageManager = $objectManager->get('Magento\Framework\Message\ManagerInterface');
    $sessioneManager = $objectManager->create('\Magento\Customer\Model\Session');
    
    if(!empty($_GET)){
        foreach($_GET as $key => $value){
            $id = (base64_decode($key)) ? (string)base64_decode($key):'';
            $rma_id = base64_decode($value);
        }
        if($id != 'rma_id'){
            $baseUrl = $block->getBaseUrl();
            header("Location: $baseUrl "); 
            $messageManager->addError(__("Incorrect Url"));
            die();       
        }
    }else{
        $baseUrl = $block->getBaseUrl();
        header("Location: $baseUrl "); 
        $messageManager->addError(__("Incorrect Url"));
        die();       
    }
?>

<!-- TODO: move this css to .less files -->
<style>
    .upload_form
    {
        display: block;
        width: 300px;
        margin: auto;
        padding-top: 4%;
    }
    .upload_form .form-heading{
        padding: 2% 2% 6% 0;
        font-weight: 600;
    }
    .submit-button,.submit-button:hover
    {
        padding: 4%;
        height: 45px;
        width: 105px;
        background: #273d97;
        color: white;
    }

</style>
<div class="upload_form">
    <?php if($sessioneManager->getCertUploaded()!=$rma_id): ?>
        <form style="display:block;" id="certificateForm" method="post"  action="<?= $block->getBaseUrl().'rms/damageditem/savecertificate' ?>" enctype="multipart/form-data">
            <div class="form-group">
                <h3 class="form-heading">Upload Certificate</h3>
                <input type="hidden" class="form-control-file" name="rma_id" value="<?= $rma_id ?>" >
                <input type="file" class="form-control-file" accept=".pdf" name="damage_certificate" id="input_file" placeholder="" aria-describedby="fileHelpId" required>
                <small id="fileHelpId" class="form-text text-muted">Only PDF file is allowed.</small>
            </div>
            <button type="submit" id="uploadCertificate" class="submit-button">Submit</button>
        </form>
    <?php else:?>
        <div id="successText">
            <h1>Certificate Has Been Uploaded. Thanks!</h1>
        </div>
    <?php endif;?>    
</div>



<!-- <script>
require(['jquery', 'Magento_Customer/js/customer-data', 'toastr'], function($, customerData, toastr) {
    
    $('#uploadCertificate').click(function(e) {
        e.preventDefault();
        var rma_id = "<?= $rma_id ?>";
        var formData = new FormData();
        formData.append('rma_id', rma_id);
        formData.append('damage_certificate', $('input[type=file]')[0].files[0]); 

        $(".loader_1").show();
        $.ajax({
            type: "POST",
            url: "<?= $block->getBaseUrl().'rms/damageditem/savecertificate' ?>",
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            dataType: "JSON",
            success: function (response) {
                if(response['code'] == 'success'){
                    toastr.success(response['msg']);
                    $(".loader_1").hide();
                    $('#certificateForm')[0].reset();
                    $('#certificateForm').css('display', 'none');
                    $('#successText').css('display', 'block');
                }else{
                    toastr.error(response['msg']);
                    $('#certificateForm').css('display', 'block');
                    $('#successText').css('display', 'none');
                }
            }
        });
    });
});
</script> -->
