<?php
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
$baseUrl = $block->getSiteUrl();
?>
<div class="close-nav-overlay"></div>
<div class="sections nav-sections">
  <div class="nav-sections-item-content">
<nav class="navigation" data-action="navigation">  
<div id="mySidenav" class="nav">
  <div class="nav-main">
<div class="category-heading">
  <span>Shop By Categories</span>
</div> 
  <ul class="shop-category" style="display: none;">
      <span class="close-nav">X</span>
    <?php foreach($categories as $category):
        if (!$category->getIsActive()) {
          continue;
        } 
     ?>
     <li class="level0"> 
       <a class="level-top" href="<?php echo $categoryHelper->getCategoryUrl($category) ?>"><?php echo $category->getName() ?></a>
          <?php  if(count($childrenCategories = $this->getChildCategories($category))): ?>
         <span class="rightangle">right</span>
          <div class="menu-left">
            <ul class="menu-links"> 
                <?php
                  $count = 0 ;
                  foreach($childrenCategories as $childrenCategory):
                       if (!$childrenCategory->getIsActive()) {
                          continue;
                       }
                 ?>
                    <li class="menu-parent <?php if($count == 0 ){ echo 'active';}?>">
                      <a href="<?php echo $categoryHelper->getCategoryUrl($childrenCategory) ?>"><?php echo $childrenCategory->getName() ?></a>
                      <?php  if(count($grandchildrenCategories = $this->getChildCategories($childrenCategory))): ?>
                      <div class="menu-right">  
                        <ul class="menu-links-right">
                          <li class="first-level">
                            <?php
                            $count = 1;
                              foreach($grandchildrenCategories as $grandchildrenCategories):
                                  $counter = 0 ;
                                   if (!$grandchildrenCategories->getIsActive()) {
                                      continue;
                                   }
                             ?>
                                  <li>
                                   <a href="<?php echo $categoryHelper->getCategoryUrl($grandchildrenCategories) ?>"><?php echo $grandchildrenCategories->getName() ?></a>
                                    <?php  if(count($greatGrandgrandchildrenCategories = $this->getChildCategories($grandchildrenCategories))): ?>
                                      <ul class="level3">
                                          <?php
                                            foreach($greatGrandgrandchildrenCategories as $greatGrandgrandchildrenCategories):
                                                 if (!$greatGrandgrandchildrenCategories->getIsActive()) {
                                                    continue;
                                                 }
                                           ?>
                                              <li class="third-level">
                                                <a href="<?php echo $categoryHelper->getCategoryUrl($greatGrandgrandchildrenCategories) ?>"><?php echo $greatGrandgrandchildrenCategories->getName() ?></a>
                                              </li>
                                           <?php endforeach; ?> 
                                      </ul>
                                    <?php endif;?>
                                </li>
                              <?php $count++; ?>
                             <?php endforeach; ?> 
                           </li>
                        </ul>
                      </div>
                      <?php endif;?>
                    </li>
                    <?php $count++; ?> 
                 <?php endforeach; ?> 
            </ul>
          </div>
          <?php endif;?>
    </li>
  <?php endforeach; ?>
  </ul>

</div>
</div>

</nav>
</div>
<div class="extra-catergory-list">
  <?php 
  echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('nav_categories')->toHtml();
  ?>
</div>
</div>


<script type="text/javascript">
  require(["jquery"], function($){
    $('.category-heading').click(function(){
      $(this).toggleClass('activemenu');
      $('body').toggleClass('overflow-hiddenmenu');
      $('.shop-category').toggleClass('open');
      $('.close-nav-overlay').toggleClass('open');
      $('.shop-category').slideToggle();
    });
      
    $('.close-nav').click(function(){
       $('.shop-category').slideToggle();
       $('.category-heading').removeClass('activemenu');
       $(this).parents('.shop-category').removeClass('open');
        $('.close-nav-overlay').removeClass('open');
    });
    $('.close-nav-overlay').click(function(){
        $(this).removeClass('open');
        $('.category-heading').removeClass('activemenu');
        $('.shop-category').slideToggle();
        $('.shop-category').removeClass('open');
        $('body').toggleClass('overflow-hiddenmenu');
    });

  
      $(window).scroll(function(){
            var st = $(window).scrollTop();
            var ot = $('.panel.wrapper').height() + $('.homepagemainbanner').height();  
            if (st >= ot) {
                $('.page-header, body').addClass('headersticky');
            }
            else {
                $('.page-header, body').removeClass('headersticky'); 
            }
        });
      // $(window).scroll(function(){
      //     var st = $(window).scrollTop();
      //     var ot = $('.panel.wrapper').height();
      //     if (st >= ot) {
      //         $('.page-header').addClass('headersticky');
      //     }
      //     else {
      //         $('.page-header').removeClass('headersticky');
      //     }
      // });
 
 });
</script>
<style>
  body.headersticky {
    padding-top: 100px;
}
</style>

