<script>

require([
		'jquery'
], function ($) {
	 
	$('.special_char').keyup(function()
	{
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
			$(this).val(no_spl_char);
		}
	});	 
	 
});     

</script>

<?php
$om = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $om->create('Magento\Customer\Model\Session');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerFactory = $objectManager->get('\Magento\Customer\Model\CustomerFactory')
->create();
  $customerId = $customerSession->getCustomer()->getId();
$customer = $customerFactory->load($customerId);
//fetch whole customer information
$newMobile = $customer->getData();


if(empty($newMobile))
{
	$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
	$site_urls=$storeManager->getStore()->getBaseUrl();
	$site_url=$site_urls;
?>
	<script>window.location.href="<?php echo $site_url; ?>";</script>
<?php	
}	   

  

if(!empty($newMobile))
{
	$group_id = $newMobile['group_id'];
	if(!empty($newMobile['mobile']))
	{
	$newMobiles = $newMobile['mobile'];
	}
	else
	{
		$newMobiles='';	
	}
}
$is_seller=0;

$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
	
		 
//Select Data from table
$sql = "Select * FROM marketplace_userdata where seller_id='".$customerId."' limit 0,1";
$result = $connection->fetchAll($sql);


$is_seller=0;
/*  
echo "<pre>";
	print_r($result[0]);
echo "</pre>";   
*/
if(!empty($result)) {
	$is_seller=$result[0]['is_seller'];
}

$is_seller;
    
?>
<script type="text/javascript">
  require([
	'jquery',
   
  ], function ($) {
		jQuery('.actions-toolbar').addClass('full-size-btn');  
  });
</script>       
<script>
function check_comp_change()
{
	if(jQuery('input[name=change_comp_info]').prop('checked'))
	{
		jQuery('.comp_infoo').removeAttr('readonly');
		jQuery("#company_details").show();
	}   
	else  
	{
		jQuery('.comp_infoo').attr('readonly',true);
		jQuery("#company_details").hide();		
	}    
}	

function custom_change_phone()
{
	if(jQuery('input[name=cus_change_mobile]').prop('checked'))	
	{
		jQuery('input[name=mobile]').removeAttr('readonly');		
	}
	else
	{
		jQuery('input[name=mobile]').attr('readonly',true); 	
	}
}	
 
</script>   

<?php
	if($group_id==4 || $is_seller==1){
	?> 
	<div class="field choice col-sm-6 col-lg-6 top-margin">
		<div class="control">  
			<input type="checkbox" name="change_comp_info" id="change_comp_info" value="1" onclick="check_comp_change();" >			
		<label for="change_comp_info" class="label"><span>Change Company Information</span></label>
		</div> 
	</div>
	<?php } ?> 



<!-- <fieldset class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">-->
    <!--<legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Additional Information') ?></span></legend><br>-->
    <div class="col-md-6 col-lg-6 mobile-field">   
		<div class="field promotion2_code required">
        <label for="promotion2_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Mobile Number') ?></span></label>
        <div class="control">
		<div class="field choice">
		   <input type="checkbox" name="cus_change_mobile" id="change-phone-check"  class="checkbox" onclick="custom_change_phone();" >
		   <label class="label" for="change-phone-check">
			   <span>Change Phone</span>
		   </label> 
		</div>		
          <input placeholder="Mobile Number" type="text" name="mobile" id="mobile" value="<?php if(!empty($newMobiles)){echo $newMobiles;}?>" title="<?= __('Mobile Number') ?>" class="input-text" data-validate="{required:true}" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="10" readonly>  
	 
        </div>
    </div>
	</div> 
	
	
	
	
<!--</fieldset>-->
	<?php
	if($group_id==4 || $is_seller==1) 
	{
	?>
	<fieldset id="company_details" style="display:none;" class="fieldset create account" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
	<!--<legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Company Information') ?></span></legend><br>-->
	<div class="edit_additional_fields">
	
	 
		<?php  
		/* $company_nam='';
		$customerRepository = $objectManager
				->get('Magento\Customer\Api\CustomerRepositoryInterface');
		$customer = $customerRepository->getById(1);
		$cattrValue = $customer->getCustomAttribute('gst_number');
		$gstNoAttribute = $customer->getCustomAttribute('company_nam');
		if(isset($gstNoAttribute)) {
		   $company_nam = $gstNoAttribute->getValue();
		} */
		?>
		
		<?php
		$company_nam='';
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		
		$sql = "Select * FROM customer_entity_varchar where entity_id='".$customerId."' and attribute_id='173'";
		$result = $connection->fetchAll($sql);  
		$count=count($result);
		if($count!=0)
		{
			$company_nam=$result[0]['value'];
		} 
		?>
		
	
	
	 <div class="col-sm-6 col-lg-6">
	<div class="field promotion2_code required">
        <label for="promotion2_code" class="label"><span><?php /* @escapeNotVerified */ echo __('Company Name') ?></span></label>
        <div class="control">
        <input type="text" name="company_nam" id="company_nam" value="<?php echo $company_nam; ?>" title="<?= __('Company Name') ?>" class="comp_infoo input-text special_char" data-validate="{required:true}" readonly>
	
        </div>
    </div>
	</div>
	
	<?php
	$company_add='';
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
	
	$sql = "Select * FROM customer_entity_text where entity_id='".$customerId."' and attribute_id='174'";
	$result = $connection->fetchAll($sql);  
	$count=count($result);
	if($count!=0)
	{
		$company_add=$result[0]['value'];
	} 
	?>
	
	
	
	 <div class="col-sm-6 col-lg-6">
	<div class="field required">
				<label for="company_add" class="label"><span><?= __('Company Address') ?></span></label>
				<div class="control">
					<input type="text" name="company_add" id="company_add" value="<?php echo $company_add; ?>" title="<?= __('Company Address') ?>" class="comp_infoo input-text special_char" data-validate="{required:true}" readonly> 
				</div>
	</div>   
			 
	</div>
	
	<?php  
		/* $gst_number='';
		$customerRepository = $objectManager
				->get('Magento\Customer\Api\CustomerRepositoryInterface');
		$customer = $customerRepository->getById(1);
		
		$gstNoAttribute = $customer->getCustomAttribute('gst_number');
		if(isset($gstNoAttribute)) {
		   $gst_number = $gstNoAttribute->getValue();
		} */
		?> 
	<?php
		$gst_number='';
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		
		$sql = "Select * FROM customer_entity_varchar where entity_id='".$customerId."' and attribute_id='172'";
		$result = $connection->fetchAll($sql);  
		$count=count($result);
		if($count!=0)
		{
			$gst_number=$result[0]['value'];
		} 
		
		if($is_seller==1)
		{
			$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
			$seller_zipcode=$tax_helpers->get_seller_zipcode($customerId);
			if($seller_zipcode==0)
			{
				$seller_zipcode='';	
			}		
			?>	
			
			 <div class="col-sm-6 col-lg-6">
				<div class="field required">
					<label for="company_add" class="label"><span><?= __('Zipcode') ?></span></label>
					<div class="control">
						<input type="text" placeholder="Zipcode" name="seller_zipcode" id="seller_zipcode"  title="<?= __('Zipcode') ?>" class="input-text special_char" value="<?php echo $seller_zipcode; ?>" data-validate="{required:true}" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="6">
					</div>   
				</div>
			</div> 
		<?php
		}
		?>
		
	 <div class="col-sm-6 col-lg-6">
	<div class="field required">
			<label for="gst_number" class="label"><span><?= __('GST Number') ?></span></label>
			<div class="control">
				<input type="text" name="gst_number" id="gst_number" value="<?php echo $gst_number;?>" title="<?= __('GST Number') ?>" class="comp_infoo input-text special_char" data-validate="{required:true}" maxlength="15" readonly>
			</div>
		</div>
		</div>
		
	
		<div class="col-sm-6 col-lg-6">
			<div class="field required">
			
			<?php  
			/* $pan_number='';
			$customerRepository = $objectManager
					->get('Magento\Customer\Api\CustomerRepositoryInterface');
			$customer = $customerRepository->getById(1);
			
			$gstNoAttribute = $customer->getCustomAttribute('pan_number');
			if(isset($gstNoAttribute)) {
			   $pan_number = $gstNoAttribute->getValue();
			} */
			?> 
			<?php
			$pan_number='';
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
			$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
			$connection = $resource->getConnection();
			
			$sql = "Select * FROM customer_entity_varchar where entity_id='".$customerId."' and attribute_id='175'";
			$result = $connection->fetchAll($sql);  
			$count=count($result);
			if($count!=0)
			{
				$pan_number=$result[0]['value'];
			} 
			?>	 
			
			
				<label for="pan_number" class="label"><span><?= __('Pan Number') ?></span></label>
				<div class="control">
					<input type="text" name="pan_number" id="pan_number" value="<?php echo $pan_number; ?>" title="<?= __('Pan Number') ?>" class="comp_infoo input-text special_char" data-validate="{required:true}" maxlength="10" readonly>
				</div>     
			</div>   
		</div>  
		<?php if($is_seller==1) 
			{
			?>

		<div class="col-sm-6 col-lg-6">
			<div class="field required">
			 
			<?php  
			/* $pan_number='';
			$customerRepository = $objectManager
					->get('Magento\Customer\Api\CustomerRepositoryInterface');
			$customer = $customerRepository->getById(1);
			
			$gstNoAttribute = $customer->getCustomAttribute('pan_number');
			if(isset($gstNoAttribute)) {
			   $pan_number = $gstNoAttribute->getValue();
			} */
			
			$cin_number='';
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
			$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
			$connection = $resource->getConnection();
			
			$sql = "Select * FROM customer_entity_varchar where entity_id='".$customerId."' and attribute_id='264'";
			$result = $connection->fetchAll($sql);  
			$count=count($result);
			if($count!=0)
			{
				 $cin_number=$result[0]['value'];
			}
			?>	 
			
			
				<label for="cin_number" class="label"><span><?= __('Cin Number') ?></span></label>
				<div class="control">
				<?php //if(!empty($cin_number)){echo $cin_number;} else { } ?>
					<input type="text" name="cin_number" id="cin_number" value="<?php echo $cin_number; ?>" title="<?= __('Cin Number') ?>" class="comp_infoo input-text "  maxlength="21" readonly> 
				</div>
	<!-- data-validate="{required:true}"--->
			</div>    
		</div>  
		<?php
			}
			?>
	
	
	</div>	   
	<?php
	}  
	?>
</fieldset>

</fieldset> 
