<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>

<script>

require([
		'jquery'
], function ($) {
	 
	$('.special_char').keyup(function()
	{
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
			$(this).val(no_spl_char);
		}
	});	 
	
	jQuery('form#form-validate').find('button[type=submit]').attr('id','custom_login_btn');
	

	
});     





</script>




<script>


	require([
		'jquery'
	], function ($) {
		
		          
		
		setTimeout(explodeeee, 2000);  
		          
	});    

	function explodeeee(){
		jQuery('input[name=is_seller]:eq(0)').attr('onclick','which_user(1)');
		jQuery('input[name=is_seller]:eq(1)').attr('onclick','which_user(0)');
		setTimeout(explodeeee, 500);  
	}
	
	
	function which_user(e)
	{
		jQuery('.c-group').show();
		if(e==1)
		{
			jQuery('.c-group').hide();
		}   
	}	
	
	
</script>	
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$pincode=0;
$customerData=$customerSession->getCustomerRegData(); //Get value from customer session 
$pincode=$customerSession->getPinValue();
if($pincode=='') 
{
	$pincode=0;
}    
	  
$otpSent=0;
$otpSent=$customerSession->getOTPSent(); 	 
if($otpSent=='') 
{
	$otpSent=0;
}   



	


$customerArray=json_decode($customerData);		
/* echo "<pre>";
print_r($customerArray);
echo "</pre>"; */	      

$today=date('Y-m-d H:i:s');
$is_subscribed=1;   
  
if(!empty($customerArray))
{
	$firstname=$customerArray->firstname;
	$lastname=$customerArray->lastname;
	
	
	$email=$customerArray->email; 
	//$is_seller=$customerArray->is_seller;   
	$password=$customerArray->password; 
	$password_confirmation=$customerArray->password_confirmation; 
	$phone=$customerArray->mobile; 
	
	  
	
?>  
<style>
#add_button_register_byclass {display:none;} 
</style>  
<input type="hidden" id="u_firstname" value="<?php echo $firstname; ?>">
<input type="hidden" id="u_lastname" value="<?php echo $lastname; ?>">
<input type="hidden" id="u_is_subscribed" value="<?php echo $is_subscribed; ?>">
  

<input type="hidden" id="u_email" value="<?php echo $email; ?>">

<input type="hidden" id="u_password" value="<?php echo $password; ?>">
<input type="hidden" id="u_password_confirmation" value="<?php echo $password_confirmation; ?>">
<input type="hidden" id="u_phone" value="<?php echo $phone; ?>">
      
<script>    


	require([
		'jquery'
	], function ($) {
		
		
		$('ul.header').find('li:last>a').attr('href','<?php echo $this->getUrl().'customuser/index/resetregisterform'?>');
		      
		var firstname=jQuery('#u_firstname').val();
		var u_lastname=jQuery('#u_lastname').val();
		var u_is_subscribed=jQuery('#u_is_subscribed').val();
		var u_taxvat=jQuery('#u_taxvat').val();
		var u_email=jQuery('#u_email').val();
		//var u_is_seller=jQuery('#u_is_seller').val();
		var u_password=jQuery('#u_password').val();
		var u_password_confirmation=jQuery('#u_password_confirmation').val();
		var u_phone=jQuery('#u_phone').val();
		
		      
		jQuery('#firstname').val(firstname);
		jQuery('#lastname').val(u_lastname);
		jQuery('#taxvat').val(u_taxvat);
		jQuery('#email_address').val(u_email);
		jQuery('#password').val(u_password);
		jQuery('#password-confirmation').val(u_password_confirmation);
		jQuery('#mobile').val(u_phone);
		
	});    
	
	
</script>



<?php
}
?>  

<?php
$OTPFormShow=$customerSession->getOTPFormShow();  
if($OTPFormShow=='')
{
	$OTPFormShow=0;
}	

$countdown=0;
$countdown=$customerSession->getcountdown();  
if($countdown=='')
{
	$countdown=0;
}

 

if($OTPFormShow==1)
{  

$resend=$customerSession->getRegister_resend();  


$allwell=$customerSession->getRegister_allwell(); 

$RegisterFormSubmit=$customerSession->getRegisterFormSubmit();  

$resendbtn=$customerSession->getResendbtndbgya();  
if($resendbtn=='')
{
	$resendbtn=0;
}	 


$newuser=$customerSession->getNewUser();
$RegisterFormSubmit; 
if($RegisterFormSubmit==1)
{
?>
<script>
	require([
		'jquery',
		'jquery/jquery.cookie',
		'mage/mage' 
	], function($){
		
		//alert('aaaaaaaaaaa'); 
		
		//$('#form-validate').find('button[type=submit]').click();
		//jQuery('#form-validate').submit();  
		jQuery('#custom_login_btn').click();
		jQuery('.loader_1').show(); 
			 
	}); 
</script> 	
<?php	
}	
 

?>
<style>
.add_button_register_byclass {
	display:none !important;	
}	  
</style>

<script>
require([
    'jquery',
    'jquery/jquery.cookie',
    'domReady!'// wait for dom ready
], function($){
	
	jQuery('#form-validate').find('.newsletter>input[type="checkbox"]').prop('checked',true);
	jQuery('#form-validate').hide();    
		
		//alert($.cookie('register_time'));
		
		<?php
		if($resendbtn==1)
		{	
		?>
			document.cookie = "register_time=1";
			//alert($.cookie('register_time'));
		<?php  
		}
		?>		
		
		if($.cookie('register_time')=='0')
		{
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			jQuery('#otp_submit_form').hide(); 	
			jQuery('#otp_submit_form2').hide(); 	
			jQuery('#otp_submit_form3').hide(); 	
		} 
		
		
		<?php
		if($newuser==1 || $resendbtn == 1)
		{	
		?>
			var timer2 = "1:00";
		<?php  
		}
		else  
		{		
		?>	
			//alert($.cookie('register_sec'));
			if($.cookie('register_sec') == '' || $.cookie('register_sec') == "undefined" || $.cookie('register_sec') == "NaN" || $.cookie('register_sec') == null)  
			{ 
				var timer2 = "1:00";
			}                     
			else             
			{    
				var timer2 = $.cookie('register_min')+":"+$.cookie('register_sec');      
			}    
		<?php
		}
		?>
		
		var interval = setInterval(function() {
		var timer = timer2.split(':');
		//by parsing integer, I avoid all extra string processing
		var minutes = parseInt(timer[0], 10);
		var seconds = parseInt(timer[1], 10);
		--seconds;
		minutes = (seconds < 0) ? --minutes : minutes;
		seconds = (seconds < 0) ? 59 : seconds;
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		//minutes = (minutes < 10) ?  minutes : minutes;
		$('.countdown').html(minutes + ':' + seconds);
		//if (minutes < 0) clearInterval(interval);
		//check if both minutes and seconds are 0
		
		jQuery('#otp_timer_min').val(minutes);
		jQuery('#otp_timer_sec').val(seconds);
		

		$.cookie('register_min',minutes);	
		$.cookie('register_sec',seconds);	 
		
		var ss='1';
		$.cookie('register_time',ss);
		 
		//alert($.cookie('register_sec')); 
		
		 
		
		if(seconds=='00')
		{  
			//$.cookie('register_time','0');
			
			document.cookie = "register_time=0";
			
			//alert($.cookie('register_time'));
		}               	    
		 
		 
		
		if ((seconds == 0) && (minutes == 0)) 
		{ 
			clearInterval(interval); 
			
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			jQuery('#otp_submit_form').hide(); 
			jQuery('#otp_submit_form2').hide(); 
			jQuery('#otp_submit_form3').hide(); 
			
			
			 
			/* jQuery.ajax({   	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/otptimer'?>", 	
				data: "action=OtpTimer&timeover=0&min=0&sec=0", 
				dataType: "json", 
				success: function(result)    
				{      
					//console.log(result);   
				},       		
				error: function(e)    
				{	
					console.log(e);	
				} 	
			});  */
		} 
		else 
		{
			/* var timer_min=jQuery('#otp_timer_min').val();
			var timer_sec=jQuery('#otp_timer_sec').val();
			jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/otptimer'?>", 	
				data: "action=OtpTimer&timeover=1&min="+minutes+"&sec="+seconds, 
				dataType: "json",
				success: function(result)       
				{      
					//console.log('minutes='+minutes);   
					//console.log('seconds='+seconds);   
				},         		
				error: function(e)    
				{	
					console.log(e);	  
				}	
			});  */
			
		}    
		timer2 = minutes + ':' + seconds;
		}, 1000); 
});
</script>  

 
 

<script type="text/javascript">
require(['jquery','mage/validation'], function($){
	var dataForm = $('#register_otp_form');
	dataForm.mage('validation', {});
	$('button#otp_submit_form').click( function() { //can be replaced with any event
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status)   
		{          
			jQuery('.cancel_me').remove();
		}        
		else  
		{ 
			console.log('form is not validated');
		}  
	});
}); 







</script>

<script> 


require([
	'jquery',
	'jquery/jquery.cookie',
	'mage/mage' 
], function($){
	
	if($.cookie('expire_sess_sec') == '' || $.cookie('expire_sess_sec') == "undefined" || $.cookie('expire_sess_sec') == "NaN" || $.cookie('expire_sess_sec') == null)  
	{ 
		var timerss22 = "3:00";   
	}                    
	else                
	{   
		var timerss22 = $.cookie('expire_sess_min')+":"+$.cookie('expire_sess_sec');      
	} 
	
	     
	var intervals = setInterval(function() {
	var timerss = timerss22.split(':');
	
	var minutessss = parseInt(timerss[0], 10);
	var secondssss = parseInt(timerss[1], 10);
	--secondssss;
	minutessss = (secondssss < 0) ? --minutessss : minutessss;
	secondssss = (secondssss < 0) ? 59 : secondssss;
	secondssss = (secondssss < 10) ? '0' + secondssss : secondssss;
	
	$('.countdown_test').html(minutessss + ':' + secondssss);
	
	jQuery('#expire_sess_min').val(minutessss);
	jQuery('#expire_sess_sec').val(secondssss);
	
	document.cookie = "expire_sess_min="+minutessss; 
	document.cookie = "expire_sess_sec="+secondssss; 

	
	if ((secondssss == 0) && (minutessss == 0)) 
	{   
		clearInterval(intervals); 
		
		document.cookie = "expire_sess_min=undefined"; 
		document.cookie = "expire_sess_sec=undefined"; 
		    
		//window.location.href="<?php echo $this->getUrl().'customuser/index/resetregisterform'?>";	
	}      
	
	timerss22 = minutessss + ':' + secondssss;
	}, 1000); 
}); 
 
 

</script> 
 

<?php
$otpexpiree=0;
$otpexpiree=$customerSession->getOtpPinExpire();  
if($otpexpiree=='')
{
	$otpexpiree=0;
}
	


$min=$customerSession->getOtpTimerMin();
$sec=$customerSession->getOtpTimerSec();

$exp_min=$customerSession->getExpireSessionMin();
$exp_sec=$customerSession->getExpireSessionSec();
  
    
     
?>	

<input type="hidden" id="otp_timer_min" value="<?php echo $min; ?>">
<input type="hidden" id="otp_timer_sec" value="<?php echo $sec; ?>">


<input type="hidden" id="expire_sess_min" value="<?php echo $exp_min; ?>">
<input type="hidden" id="expire_sess_sec" value="<?php echo $exp_sec; ?>">
     
<!--<p class="session-timer">Your Session Expire In : <span class="countdown_test"></span></p>-->  

 
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_url=$storeManager->getStore()->getBaseUrl();
?>   
<div class="otp-screen"> 
<form class="form create account form-create-account" action="<?php echo $this->getUrl().'customuser/index/checkregisterotp'?>" method="post" id="register_otp_form" enctype="multipart/form-data" autocomplete="off">
	<fieldset class="fieldset create info"> 
    <div class="field field-name-firstname required">
	<div class="resend-icon"><img src='<?php echo $site_url; ?>/image.png' alt="image-icon"></div>
		<label class="label" for="enter_otp"><span>Please enter verification code (OTP) sent to: <?php echo $email; ?>/<?php echo $phone; ?></span></label> 
		<div class="control">
			<input type="text" id="enter_otp" name="enter_otp"  title="Code" class="input-text required-entry" data-validate="{required:true}" autocomplete="off" aria-required="true" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="4">
		</div>       
    </div>  
	<?php
	if($countdown==1)
	{	
	?>
		<div class="countdown"></div>
	<?php
	}
	?>
	
	<?php
	$resend=$customerSession->getRegister_resend();  
	if($countdown==1)
	{ 
	?>	
	<div class="actions-toolbar">
        <div class="primary">
		<input id="otp_submit_form3" type="submit" name="submit" value="Resend OTP" class="action primary custom_button" id="resend_topp" onclick=" jQuery('.cancel_me').remove();"disabled> 
            <button type="submit" id="otp_submit_form" class="action submit primary" title="Send" ><span>Continue</span></button> 
			<a id="otp_submit_form2" href="<?php echo $this->getUrl().'customuser/index/resetregisterform'?>" class="cancel_me action primary custom_button reset_link">Cancel</a>
			
		</div>        
         
    </div>   
    <?php
	}
	?>
	</fieldset>

</form>


<div class="resend_otp_sectionnn" style="<?php if($countdown==1) { echo 'display:none;';  } else { echo 'display:block'; } ?>">
<form id="new_register_resend" name="register_resend" action="<?php echo $this->getUrl().'customuser/index/resendotp'?>" method="post">
<input type="submit" name="submit" value="Resend OTP" class="action primary custom_button" id="resend_topp" onclick=" jQuery('.cancel_me').remove();">  

	<button type="submit" id="otp_submit_form" class="action submit primary" title="Send" disabled><span>Continue</span></button>
	
	
	<a href="<?php echo $this->getUrl().'customuser/index/resetregisterform'?>"  class="cancel_me
	action primary custom_button reset_link">Cancel</a>
	
	<input type="hidden" name="user_email" value="<?php echo $email; ?>">
	<input type="hidden" name="user_phone" value="<?php echo $phone; ?>">
	
	
</form>         
			<!--
			<a href="javascript:void(0);" onclick="resend_otp();" class="custom_button">Resend OTP</a>				
			-->			
</div>    
</div>  


<?php 

	$customerSession->unsRegister_resend();   
	$customerSession->unsResendbtndbgya();   
	$customerSession->unsNewUser();   
}
else
{
	
	$customerSession->unsRegister_resend();  
	$customerSession->setRegister_allwell(1);  
	
	$customerSession->unsRegisterFormSubmit();  
	
	$customerSession->setNewUser(1);  
	  
?>
<script>
require([
	'jquery',
	'jquery/jquery.cookie',
	'mage/mage' 
], function($){
	
document.cookie = "register_time=1";
	  
});	
</script>
<?php
	
}	 
?>


<div class="row newacuntt">
<div class="login-container">
<div class="newguideness" <?php if($OTPFormShow==1){ ?> style="display:none;" <?php } ?>>
<?php 
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('guidelines_reg_login')->toHtml();
 			?> 
</div>

<form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off"> 
<div class="block-title">
	<?php
		$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
		$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
		$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
		  
		?>		
	 <a href="<?php echo $baseurl .'customer/account/login'; ?>" class="action create primary"><span><?= $block->escapeHtml(__('Login')) ?></span></a>
	 <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Register')) ?></strong>



</div>
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
	 <!--<legend class="legend"><span><?= $block->escapeHtml(__('Personal Information')) ?></span></legend><br>-->
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
	<div class="row">		
			<?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
			<?php if ($block->isNewsletterEnabled()): ?>
				<?php
				$checked = true;
				if($this->getFormData()->getEmail()) {
				if(!$this->getFormData()->getIsSubscribed()) {
				$checked = false;
				}
				}   
				?>
	 
				
				<?php /* Extensions placeholder */ ?>
				<?= $block->getChildHtml('customer.form.register.newsletter') ?>
			<?php endif ?>
       
		  <div class="col-12">
		   <div class="field required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text v-validate validate-length maximum-length-50" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" maxlength="50">
            </div>
           </div>
         
		  </div>
		<div class="col-12">			   	
			<div class="field required">
				<label for="mobile" class="label"><span><?= __('Mobile Number') ?></span></label>
				<div class="control">
					<input type="text" name="mobile" id="mobile" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Mobile Number') ?>" class="input-text" data-validate="{required:true}" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="12" <?php if($pincode!=0) { echo 'readonly'; } ?>> 
				</div>      
			</div>  
		</div>
		<div class="col-12">
			<div class="field password required">
				<label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
				<div class="control">
					<input type="password" name="password" id="password"
						   title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
						   class="input-text"
						   data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
						   data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
						   data-validate="{required:true, 'validate-customer-password':true}"
						   autocomplete="off">
					<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
						<div id="password-strength-meter" class="password-strength-meter">
							<?= $block->escapeHtml(__('Password Strength')) ?>:
							<span id="password-strength-meter-label" data-role="password-strength-meter-label">
								<?= $block->escapeHtml(__('No Password')) ?>
							</span>
						</div>
					</div>
				</div>				
			</div>
		</div>
		<div class="col-12">
			<div class="field password required">
				<label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
				<div class="control">
					<input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
				</div>
			</div>
		</div>
		<div class="col-12 d-none">
			<div class="field zip required">
                <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zipppp" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                </div>
            </div>
			<?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
			<?php if ($_dob->isEnabled()): ?>
				<?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
			<?php endif ?>      

			<?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
			<?php if ($_gender->isEnabled()): ?>
				<?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
			<?php endif ?>
		
	
    <?php if ($block->getShowAddressFields(true)): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />

            <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
            <?php if ($_company->isEnabled()): ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
            <?php if ($_telephone->isEnabled()): ?>
                <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
            <?php if ($_fax->isEnabled()): ?>
                <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
            <?php endif ?>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                    <span><?= $block->escapeHtml(__('Address')) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>" id="city">
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select" style="display:none;">
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>" style="display:none;">
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>

        <!--<legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend><br>-->
       <?= $block->getChildHtml('form_additional_info') ?>
      </div>
       
        
		<!--baljit add code custom fields -->
		
		
		
		<div class="d-none">
			<div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('I agree to receive promotional notification')) ?>" value="1" id="is_subscribed"<?php if($checked): ?> checked="checked"<?php endif; ?> class="checkbox">
                <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('I agree to receive promotional notification')) ?><a href="<?php echo $this->getUrl('terms-conditions');?>" target="_blank"><?php echo __('I Agree to Terms & Conditions') ?></a></span></label>
			</div>
		</div>
		<!-- User Role -->
		<div class="field required w-100">
            <div class="control switch-field c-group w-100">
				<div class="row">
					
					
					
					<div class="col-12 col-sm-4">
						<div class="switch general active">
							<label class="tab-radio-des radio-des">
							 
								<input   
								title="<?= __('Customer Group') ?>"
								id="group_id" 
								class=""
								data-validate="{required:true}"
								name="group_id" type="radio"
								value="1" checked="checked" />
								<span>
								 <?= $block->escapeHtml(__('Individual Buyer')) ?>
								 </span>
							</label>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div class="switch eu-company">
							<label class="tab-radio-des radio-des">
							 
								<input
								title="<?= __('Customer Group') ?>"
								id="group_id" 
								class=""
								data-validate="{required:true}"
								name="group_id" type="radio"
								value="4" />
								<span>
								 <?= $block->escapeHtml(__('Company Buyer')) ?>
								 </span>
							</label>
						 </div>
					</div>
					<div class="col-12 col-sm-4">
						<div class="switch general active"> 
							<label class="tab-radio-des radio-des">
							 
								<input  
								title="<?= __('Customer Group') ?>"
								id="group_id" 
								class=""
								data-validate="{required:true}"
								name="group_id" type="radio"
								value="5"  /> 
								<span>
								 <?= $block->escapeHtml(__('Technician')) ?>
								 </span>
							</label> 
						</div> 
					</div> 
				</div>
			</div>
        </div>
		
		<div id='show-me' class="newwww_fieldsss" style='display:none'>	
		  <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="company_nam" class="label"><span><?= __('Company Name') ?></span></label>
				<div class="control">
					<input type="text" name="company_nam" id="company_nam" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Name') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>
			</div>
			</div>
		 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="company_add" class="label"><span><?= __('Company Address') ?></span></label>
				<div class="control">
					<input type="text" name="company_add" id="company_add" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Address') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>  
			</div>
		</div> 
			 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="gst_number" class="label"><span><?= __('GST Number') ?></span></label>
				<div class="control">
					<input type="text" name="gst_number" id="gst_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('GST Number') ?>" class="input-text special_char" data-validate="{required:true}" maxlength="15">
				</div>
			</div> 
			</div>
			 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="pan_number" class="label"><span><?= __('Pan Number') ?></span></label>
				<div class="control">
					<input type="text" name="pan_number" id="pan_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Pan Number') ?>" class="input-text special_char" data-validate="{required:true}" maxlength="10" >
				</div>
			</div> 
			</div>
			<!--
			<div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="upload_doc" class="label"><span><?= __('Company Document') ?></span></label>
				<div class="control">
					<input type="file" name="upload_doc" id="upload_doc" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Document') ?>" class="input-text file_upload" data-validate="{required:false}" >
				</div>
			</div> 
			</div>
			-->
			
		</div>            
		<!-- ================  Terms and Conditions Section ===============  -->
        <div style="width: auto; margin: 0;" class="field choice newsletter">
            <input type="checkbox" data-validate="{required:true}" name="custom-terms" title="<?php /* @escapeNotVerified */ echo __('Terms & conditions') ?>" id="register-input-custom" class="checkbox">
            <label for="custom-terms" class="label">
                <span>                    
                    <a href="<?php echo $this->getUrl('terms-conditions');?>" target="_blank"><?php echo __('I Agree to Terms & Conditions') ?></a>
                </span>
            </label>
        </div>
        <!-- ================   Terms and Condition Section End here ======  -->
		
		<!-- end here custom code 014-jan-2019 -->
   	
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Create  Account')) ?>"><span><?= $block->escapeHtml(__('Register')) ?></span></button>
			
			<!--<a onclick="reset_register_form();" href="javascript:void(0);">Reset</a>-->
			
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
        </div>
    </div>
	<div id="social-custom-link">
		<div id="custom_social">
		</div>
	</div>
</form>
</div>
</div>

  

</div>
<script>
/*gst validation */
requirejs([
    'jquery',
    'Magento_Customer/js/customer-data',
    'toastr'
], function($, customerData, toastr){
	  /*$(document).on('change',"#gst_number", function(){    
			var inputvalues = $(this).val();
			var gstinformat = new RegExp('^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$');

			if (gstinformat.test(inputvalues)) {
			 return true;
			} else {
				 toastr.error("Please Enter Valid GSTIN Number");
			   // alert('Please Enter Valid GSTIN Number');
			   
				$("#gst_number").focus();
				$("#gst_number").addClass('mage-error');
				event.preventDefault(); 
			}

		});

	$('#pan_number').change(function (event) {     
	 var regExp = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/; 
	 var txtpan = $(this).val(); 
	 if (txtpan.length == 10 ) { 
	  if( txtpan.match(regExp) ){ 
	  return true;
	  }
	  else {
	  toastr.error("Please Enter Valid PAN Number"); 
	   event.preventDefault(); 
	   
	  } 
	 } 
	 else { 
			toastr.error("Please enter 10 digits for a valid PAN number"); 
			 $("#pan_number").focus();
			 $("#pan_number").addClass('mage-error');
		   event.preventDefault(); 
	 } 

	});*/

	$( "#form-validate" ).submit(function( event ) {
		
		var group_id = $("input[name='group_id']:checked").val();
			
		// alert(group_id);
		// event.preventDefault();
		if(group_id == 4){
			
			// GST validation check 
			var inputvalues = $('#gst_number').val();
			var gstinformat = new RegExp('^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$');
			
			if (gstinformat.test(inputvalues)) {
				// return true;
				//$(".loader_1").show();
				$("#gst_number").removeClass('mage-error');
			} else {
				toastr.error("Please Enter Valid GSTIN Number");
				   
				//$("#gst_number").focus();
				$("#gst_number").addClass('mage-error');
				$(".loader_1").hide();
				event.preventDefault();
			}
		
			// Pan validation check 
			var regExp = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/; 
			var txtpan = $('#pan_number').val(); 
			if (txtpan.length == 10 ) { 
				if( txtpan.match(regExp) ){ 
					//return true;
					$("#pan_number").removeClass('mage-error');
				}
				else {
					$("#pan_number").addClass('mage-error');
					toastr.error("Please Enter Valid PAN Number");
					$(".loader_1").hide();
					event.preventDefault(); 
		   
				} 
			} 
			else {
				$("#pan_number").addClass('mage-error');				
				toastr.error("Please enter 10 digits for a valid PAN number"); 
				$("#pan_number").focus();
				$(".loader_1").hide();
				event.preventDefault(); 

			}
		}

	});
   

});



</script>
<script> 

require([
    'jquery',
    'mage/mage'
], function($){    

	jQuery('#wantptr').hide();
	
	jQuery('input[name=is_seller]').click(function()
	{
		var value=jQuery(this).val();
		if(value=='1')
		{
			jQuery('input[name=group_id]').removeAttr('checked');		
			jQuery('input[name=group_id]:eq(0)').attr('checked',true);
			jQuery('.c-group').hide();
			jQuery('#show-me').show();
		

		}
		else
		{
			jQuery('input[name=group_id]').removeAttr('checked');		
			jQuery('input[name=group_id]:eq(0)').attr('checked',true);
			jQuery('#show-me').hide();	
			jQuery('.c-group').show();  
			
  
		}  
	});	
	jQuery('input[name=group_id]').click(function(){
		var value=jQuery(this).val();
		//alert(value);
		if(value=='4'){
			jQuery('#social-custom-link').hide();
			jQuery('#show-me').show();	
				 
		}else{
			jQuery('#social-custom-link').show();
			jQuery('#show-me').hide(); 	
		}
	});	
	jQuery('#wantptr .label').attr('for','wantpartner3');
	
	
    var dataForm = $('#form-validate');
	
	jQuery('#form-validate').find('button[type=submit]').click(function()
	{  
		
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status)   
		{         
			jQuery('.loader_1').show();
		} 
		 
	});   
	
	
	
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>    
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script> 

<script type="text/x-magento-init">
    { ".v-validate": { "Vky_Core/js/vky_custom": {} } }
	
	
	
	
</script>
