<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Register $block */
?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>

<script>

require([
		'jquery'
], function ($) {
	 
	$('.special_char').keyup(function()
	{
		var yourInput = $(this).val();
		re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
		var isSplChar = re.test(yourInput);
		if(isSplChar)
		{
			var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
			$(this).val(no_spl_char);
		}
	});	 
	 
});     

</script>




<script>


	require([
		'jquery'
	], function ($) {
		
		jQuery('#form-validate').find('button.primary').click(function()
		{ 
			if($("#form-validate").valid()) {
               jQuery('.loader_1').show();
            }   
		});            
		
		setTimeout(explodeeee, 2000);  
		          
	});    

	function explodeeee(){
		jQuery('input[name=is_seller]:eq(0)').attr('onclick','which_user(1)');
		jQuery('input[name=is_seller]:eq(1)').attr('onclick','which_user(0)');
		setTimeout(explodeeee, 500);  
	}
	
	
	function which_user(e)
	{
		jQuery('.c-group').show();
		if(e==1)
		{
			jQuery('.c-group').hide();
		}   
	}	
	
	
</script>	
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$pincode=0;
$customerData=$customerSession->getCustomerRegData(); //Get value from customer session 
$pincode=$customerSession->getPinValue();
if($pincode=='') 
{
	$pincode=0;
}    
	  
$otpSent=0;
$otpSent=$customerSession->getOTPSent(); 	 
if($otpSent=='') 
{
	$otpSent=0;
}   



	


$customerArray=json_decode($customerData);		
/* echo "<pre>";
print_r($customerArray);
echo "</pre>"; */	      

$today=date('Y-m-d H:i:s');
$is_subscribed=1;   
  
if(!empty($customerArray))
{
	$firstname=$customerArray->firstname;
	$lastname=$customerArray->lastname;
	
	
	$email=$customerArray->email; 
	//$is_seller=$customerArray->is_seller;   
	$password=$customerArray->password; 
	$password_confirmation=$customerArray->password_confirmation; 
	$phone=$customerArray->mobile; 
	
	  
	
?>  
<style>
#add_button_register_byclass {display:none;} 
</style>  
<input type="hidden" id="u_firstname" value="<?php echo $firstname; ?>">
<input type="hidden" id="u_lastname" value="<?php echo $lastname; ?>">
<input type="hidden" id="u_is_subscribed" value="<?php echo $is_subscribed; ?>">
  

<input type="hidden" id="u_email" value="<?php echo $email; ?>">

<input type="hidden" id="u_password" value="<?php echo $password; ?>">
<input type="hidden" id="u_password_confirmation" value="<?php echo $password_confirmation; ?>">
<input type="hidden" id="u_phone" value="<?php echo $phone; ?>">
      
<script>    


	require([
		'jquery'
	], function ($) {
		
		var firstname=jQuery('#u_firstname').val();
		var u_lastname=jQuery('#u_lastname').val();
		var u_is_subscribed=jQuery('#u_is_subscribed').val();
		var u_taxvat=jQuery('#u_taxvat').val();
		var u_email=jQuery('#u_email').val();
		//var u_is_seller=jQuery('#u_is_seller').val();
		var u_password=jQuery('#u_password').val();
		var u_password_confirmation=jQuery('#u_password_confirmation').val();
		var u_phone=jQuery('#u_phone').val();
		
		      
		jQuery('#firstname').val(firstname);
		jQuery('#lastname').val(u_lastname);
		jQuery('#taxvat').val(u_taxvat);
		jQuery('#email_address').val(u_email);
		jQuery('#password').val(u_password);
		jQuery('#password-confirmation').val(u_password_confirmation);
		jQuery('#mobile').val(u_phone);
		
	});    
	
	
	function resend_otp()
	{
		
		var resend_secccc=jQuery('.resend_otp_sectionnn>a'); 
		jQuery('.resend_otp_sectionnn').empty().append('<p>Processing.</p>');
		require(["jquery"],function($) { 
			var phone=jQuery('#mobile').val();
			var email=jQuery('#email_address').val();
			//jQuery('.loader_1').show();
			jQuery.ajax({   		
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/resendotp'?>", 	
				data: "action=ResendOtp&phone="+phone+'&email='+email, 
				success: function(result) {     
					
					if(result=='0')       
					{  
						jQuery('.resend_otp_sectionnn').empty().append(resend_secccc);
						require([ 
							'Magento_Ui/js/modal/alert'
						], function(alert) { // Variable that represents the `alert` function
							
							alert('Entered Mobile number is changed'); 
							return false;
						 
						}); 
					}
					else
					{   
						
						require([
							'Magento_Ui/js/modal/alert'
						], function(alert) { // Variable that represents the `alert` function
							
							alert({  
								title: 'OTP Sent', 
								content: 'New Otp has been sent successfully',  
								actions: {
									always: function(){}
								},
								closeOnClickOutside:false	
							});    
						  
						});    	 
						 
						  
						jQuery('.resend_otp_sectionnn').hide();
						jQuery('.countdown').show();  
						
						var timer2 = "1:00";           
						var interval = setInterval(function() {
						var timer = timer2.split(':');
						//by parsing integer, I avoid all extra string processing
						var minutes = parseInt(timer[0], 10);
						var seconds = parseInt(timer[1], 10);
						--seconds;
						minutes = (seconds < 0) ? --minutes : minutes;
						seconds = (seconds < 0) ? 59 : seconds;
						seconds = (seconds < 10) ? '0' + seconds : seconds;
						//minutes = (minutes < 10) ?  minutes : minutes;
						$('.countdown').html(minutes + ':' + seconds);
							
						jQuery('#otp_timer_min').val(minutes);
						jQuery('#otp_timer_sec').val(seconds);
						   
						if ((seconds == 0) && (minutes == 0)) 
						{ 
							clearInterval(interval); 
							jQuery('.resend_otp_sectionnn').show();
							jQuery('.countdown').hide(); 
							
							jQuery.ajax({  	  	
								type: "POST",		
								url: "<?php echo $this->getUrl().'customuser/index/otptimer'?>", 	
								data: "action=OtpTimer&timeover=0&min=0&sec=0", 
								success: function(result)    
								{      
									console.log(result);   
								},       		
								error: function(e)    
								{	
									console.log(e);	
								} 	
							}); 
						}   
						else
						{
							
							var timer_min=jQuery('#otp_timer_min').val();
							var timer_sec=jQuery('#otp_timer_sec').val();
							jQuery.ajax({    		
								type: "POST",		
								url: "<?php echo $this->getUrl().'customuser/index/otptimer'?>", 	
								data: "action=OtpTimer&timeover=1&min="+minutes+"&sec="+seconds, 
								success: function(result)       
								{      
									console.log('minutes='+minutes);   
									console.log('seconds='+seconds);   
								},         		
								error: function(e)    
								{	
									console.log(e);	  
								}	
							}); 
							
						}    
						timer2 = minutes + ':' + seconds;
						}, 1000); 
						
						 
						
						
					}       
				},     		
				error: function(e) 
				{	
				console.log(e);	
				} 	
			}); 	

  
			
		});

		
	}	
	
	
	
	
	
</script>



<?php
}
?>  

<?php
$OTPFormShow=$customerSession->getOTPFormShow();  
if($OTPFormShow=='')
{
	$OTPFormShow=0;
}	

$countdown=0;
$countdown=$customerSession->getcountdown();  
if($countdown=='')
{
	$countdown=0;
}

 

if($OTPFormShow==1)
{  
?>
<style>
.add_button_register_byclass {
	display:none !important;	
}	  
</style>

<script>
require([
    'jquery',
	'jquery/jquery.cookie',
    'mage/mage' 
], function($){
	
	jQuery('#form-validate').find('.newsletter>input[type="checkbox"]').prop('checked',true);
	jQuery('#form-validate').hide();    
	 
	var dataForm = $('#register_otp_form');
	dataForm.mage('validation', {}); 
		
		var timer_min=jQuery('#otp_timer_min').val();
		var timer_sec=jQuery('#otp_timer_sec').val();
		
		if(timer_sec=='' || timer_sec=='00' || timer_sec=='01' || timer_sec=='NaN')
		{
			var timer2 = "1:00";         
		}            
		else        
		{
			var timer2 = timer_min+":"+timer_sec;      
		}        
		var interval = setInterval(function() {
		var timer = timer2.split(':');
		//by parsing integer, I avoid all extra string processing
		var minutes = parseInt(timer[0], 10);
		var seconds = parseInt(timer[1], 10);
		--seconds;
		minutes = (seconds < 0) ? --minutes : minutes;
		seconds = (seconds < 0) ? 59 : seconds;
		seconds = (seconds < 10) ? '0' + seconds : seconds;
		//minutes = (minutes < 10) ?  minutes : minutes;
		$('.countdown').html(minutes + ':' + seconds);
		//if (minutes < 0) clearInterval(interval);
		//check if both minutes and seconds are 0
		
		jQuery('#otp_timer_min').val(minutes);
		jQuery('#otp_timer_sec').val(seconds);
		   
		if ((seconds == 0) && (minutes == 0)) 
		{ 
			clearInterval(interval); 
			jQuery('.resend_otp_sectionnn').show();
			jQuery('.countdown').hide(); 
			
			jQuery.ajax({  	  	
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/otptimer'?>", 	
				data: "action=OtpTimer&timeover=0&min=0&sec=0", 
				success: function(result)    
				{      
					console.log(result);   
				},       		
				error: function(e)    
				{	
					console.log(e);	
				} 	
			}); 
		}
		else
		{
			
			var timer_min=jQuery('#otp_timer_min').val();
			var timer_sec=jQuery('#otp_timer_sec').val();
			jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/otptimer'?>", 	
				data: "action=OtpTimer&timeover=1&min="+minutes+"&sec="+seconds, 
				success: function(result)       
				{      
					console.log('minutes='+minutes);   
					console.log('seconds='+seconds);   
				},         		
				error: function(e)    
				{	
					console.log(e);	  
				}	
			}); 
			
		}    
		timer2 = minutes + ':' + seconds;
		}, 1000); 
});
</script> 

 


<script type="text/javascript">
require(['jquery','mage/validation'], function($){
	var dataForm = $('#register_otp_form');
	dataForm.mage('validation', {});
	$('button#otp_submit_form').click( function() { //can be replaced with any event
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status)   
		{         
			jQuery('#otp_submit_form').attr('disabled',true);
			jQuery('#otp_submit_form').html('<span>Processing...</span>');
			var otp=jQuery('#enter_otp').val(); 
			
			jQuery.ajax({    		
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/checkregisterotp'?>", 	
				data: "action=Checkotp&otp="+otp, 
				success: function(result) {     
					jQuery('#otp_submit_form').removeAttr('disabled');
					jQuery('#otp_submit_form').html('<span>Submit</span>');
					
					if(result=='0')
					{
						
						require([
							'Magento_Ui/js/modal/alert'
						], function(alert) { // Variable that represents the `alert` function
							
							alert({  
								title: 'OTP  Expire', 
								content: 'Entered OTP has been expired. Try Resend OTP option',  
								actions: {
									always: function(){}
								},
								closeOnClickOutside:false	
							});    
						 
						});  	
						jQuery('#enter_otp').val(''); 
						jQuery('.resend_otp_sectionnn').show();
					}
					else if(result=='1')
					{
						
						require([
							'Magento_Ui/js/modal/alert'
						], function(alert) { // Variable that represents the `alert` function
							
							alert({  
								title: 'OTP  Unmatched', 
								content: 'Entered OTP not matched. Please try again',  
								actions: { 
									always: function(){}
								},
								closeOnClickOutside:false	
							});    
						 
						});  	
					}
					else
					{
						
						jQuery('#form-validate').find('button[type=submit]').click();
					}         
				},     		
				error: function(e) 
				{	
				console.log(e);	
				}	
			}); 
			return false; 
		}   
		else
		{ 
			console.log('form is not validated');
		}  
	});
}); 







</script>

<script>
require([
	'jquery',
	'jquery/jquery.cookie',
	'mage/mage' 
], function($){
	
	var expire_min=jQuery('#expire_sess_min').val();
	var expire_sec=jQuery('#expire_sess_sec').val();
	 
	if(expire_sec=='' || expire_sec=='00' || expire_sec=='01' || expire_sec=='NaN')
	{
		var timerss22 = "3:00";           
	}            
	else          
	{
		var timerss22 = expire_min+":"+expire_sec;      
	} 
	
	     
	var intervals = setInterval(function() {
	var timerss = timerss22.split(':');
	
	var minutessss = parseInt(timerss[0], 10);
	var secondssss = parseInt(timerss[1], 10);
	--secondssss;
	minutessss = (secondssss < 0) ? --minutessss : minutessss;
	secondssss = (secondssss < 0) ? 59 : secondssss;
	secondssss = (secondssss < 10) ? '0' + secondssss : secondssss;
	
	$('.countdown_test').html(minutessss + ':' + secondssss);
	
	jQuery('#expire_sess_min').val(minutessss);
	jQuery('#expire_sess_sec').val(secondssss);
	  	   
	if ((secondssss == 0) && (minutessss == 0)) 
	{   
		clearInterval(intervals); 
		jQuery.ajax({  	  	
			type: "POST",		
			url: "<?php echo $this->getUrl().'customuser/index/expiresession'?>", 	
			data: "action=ExpireSession&timeout=0", 
			success: function(result)     
			{          
				$('.countdown_test').html('<span class="session-expired">Session Expired.</span>');
				setTimeout(function(){
					location.reload();  
				}, 1000);		  
			},         		  
			error: function(e)       
			{	
				console.log(e);	
			} 	  
		}); 		
	} 
	else
	{
		jQuery.ajax({  	  	
			type: "POST",		
			url: "<?php echo $this->getUrl().'customuser/index/expiresession'?>", 	
			data: "action=ExpireSession&timeout=1&min="+minutessss+"&sec="+secondssss, 
			success: function(result)      
			{            
				//alert(result);    
			},        		
			error: function(e)    
			{	
				console.log(e);	
			} 	
		}); 

	}
	timerss22 = minutessss + ':' + secondssss;
	}, 1000); 
}); 
</script> 
 

<?php
$otpexpiree=0;
$otpexpiree=$customerSession->getOtpPinExpire();  
if($otpexpiree=='')
{
	$otpexpiree=0;
}
	


$min=$customerSession->getOtpTimerMin();
$sec=$customerSession->getOtpTimerSec();

$exp_min=$customerSession->getExpireSessionMin();
$exp_sec=$customerSession->getExpireSessionSec();
  
    
     
?>	

<input type="hidden" id="otp_timer_min" value="<?php echo $min; ?>">
<input type="hidden" id="otp_timer_sec" value="<?php echo $sec; ?>">


<input type="hidden" id="expire_sess_min" value="<?php echo $exp_min; ?>">
<input type="hidden" id="expire_sess_sec" value="<?php echo $exp_sec; ?>">
    
<!--<p class="session-timer">Your Session Expire In : <span class="countdown_test"></span></p> --> 
    
<form class="form create account form-create-account" action="" method="post" id="register_otp_form" enctype="multipart/form-data" autocomplete="off">
	<fieldset class="fieldset create info">
    <div class="field field-name-firstname required">
		<label class="label" for="enter_otp"><span>Enter OTP</span></label>
		<div class="control">
			<input type="text" id="enter_otp" name="enter_otp"  title="First Name" class="input-text required-entry" data-validate="{required:true}" autocomplete="off" aria-required="true" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="4">
		</div>  
    </div>
	<?php
	if($countdown==1)
	{	
	?>
		<div class="countdown"></div>
	<?php
	}
	?>
		<div class="resend_otp_sectionnn" style="<?php if($countdown==1) { echo 'display:none;';  } else { echo 'display:block'; } ?>">
			<a href="javascript:void(0);" onclick="resend_otp();" class="custom_button">Resend OTP</a>  
		</div>   
	  
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" id="otp_submit_form" class="action submit primary" title="Send"><span>Send</span></button>
			<a onclick="reset_register_form();" href="javascript:void(0);" class="action primary custom_button reset_link">Back</a> 
		</div>       
         
    </div> 
    </fieldset>

</form>
<?php
}
?>
<div class="row newacuntt">
<form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off"> 
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
	 <!--<legend class="legend"><span><?= $block->escapeHtml(__('Personal Information')) ?></span></legend><br>-->
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
		
		<div class="field required">
            <div class="control switch-field c-group">
                <div class="switch general active">
                    <label class="tab-radio-des radio-des">
                     
                        <input  
                        title="<?= __('Customer Group') ?>"
                        id="group_id" 
                        class=""
                        data-validate="{required:true}"
                        name="group_id" type="radio"
                        value="1" checked="checked" />
						 <?= $block->escapeHtml(__('Individual Buyer')) ?>
                    </label>
                </div>
                <div class="switch eu-company">
                    <label class="tab-radio-des radio-des">
                     
                        <input
                        title="<?= __('Customer Group') ?>"
                        id="group_id" 
                        class=""
                        data-validate="{required:true}"
                        name="group_id" type="radio"
                        value="4" />
						 <?= $block->escapeHtml(__('Company Buyer')) ?>
                    </label>
                 </div>
            </div>
        </div>
		
		
        <?= $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
        <?php if ($block->isNewsletterEnabled()): ?>
			<?php
			$checked = true;
			if($this->getFormData()->getEmail()) {
			if(!$this->getFormData()->getIsSubscribed()) {
			$checked = false;
			}
			}   
			?>
 
            
            <?php /* Extensions placeholder */ ?>
            <?= $block->getChildHtml('customer.form.register.newsletter') ?>
        <?php endif ?>

       
		  <div class="col-sm-6 col-lg-6">
		   <div class="field required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text v-validate" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
            </div>
           </div>
         
		  </div>
		    <div class="col-sm-6 col-lg-6">
			   	
		<div class="field required">
			<label for="mobile" class="label"><span><?= __('Mobile Number') ?></span></label>
			<div class="control">
				<input type="text" name="mobile" id="mobile" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Mobile Number') ?>" class="input-text" data-validate="{required:true}" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="12" <?php if($pincode!=0) { echo 'readonly'; } ?>> 
			</div>      
		</div>  
            <!--<div class="blank_div"></div>-->		
			          
			</div>
		  <div class="col-sm-6 col-lg-6">
		 <div class="field password required">
            <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                       class="input-text"
                       data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off">
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
            </div>
			
        </div>
		</div>
		<div class="blank_div"></div>
		 <div class="col-sm-6 col-lg-6">
		<div class="field password required">
		<label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label>
		<div class="control">
			<input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off">
		</div>
		</div>
		</div>
		
		
	
		
        <?php $_dob = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Dob') ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        

        <?php $_gender = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Gender') ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>
    
	
    <?php if ($block->getShowAddressFields(true)): ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />

            <?php $_company = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Company') ?>
            <?php if ($_company->isEnabled()): ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php $_telephone = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Telephone') ?>
            <?php if ($_telephone->isEnabled()): ?>
                <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php $_fax = $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Fax') ?>
            <?php if ($_fax->isEnabled()): ?>
                <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
            <?php endif ?>

            <?php $_streetValidationClass = $this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street'); ?>

            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php for ($_i = 2, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                    <span><?= $block->escapeHtml(__('Address')) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?= $block->escapeHtml($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>" id="city">
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select" style="display:none;">
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <input type="text" id="region" name="region" value="<?= $block->escapeHtml($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>" style="display:none;">
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>

        <!--<legend class="legend"><span><?= $block->escapeHtml(__('Sign-in Information')) ?></span></legend><br>-->
       
      
       
        <?= $block->getChildHtml('form_additional_info') ?>
		<!--baljit add code custom fields -->
		
		
		<div id='show-me' style='display:none'>	
		  <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="company_nam" class="label"><span><?= __('Company Name') ?></span></label>
				<div class="control">
					<input type="text" name="company_nam" id="company_nam" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Name') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>
			</div>
			</div>
		 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="company_add" class="label"><span><?= __('Company Address') ?></span></label>
				<div class="control">
					<input type="text" name="company_add" id="company_add" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Address') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>  
			</div>
		</div> 
			 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="gst_number" class="label"><span><?= __('GST Number') ?></span></label>
				<div class="control">
					<input type="text" name="gst_number" id="gst_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('GST Number') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>
			</div>
			</div>
			 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="pan_number" class="label"><span><?= __('Pan Number') ?></span></label>
				<div class="control">
					<input type="text" name="pan_number" id="pan_number" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Pan Number') ?>" class="input-text special_char" data-validate="{required:true}">
				</div>
			</div>
			</div>
			
			 <div class="col-sm-6 col-lg-6">
			<div class="field required">
				<label for="upload_doc" class="label"><span><?= __('Company Document') ?></span></label>
				<div class="control">
					<input type="file" name="upload_doc" id="upload_doc" value="<?= $block->escapeHtml($block->getFormData()->getCustomField()) ?>" title="<?= __('Company Document') ?>" class="input-text file_upload" data-validate="{required:false}" >
				</div>
			</div> 
		</div>
		</div>            
		
			<div class="field choice newsletter">
                <input type="checkbox" name="is_subscribed" title="<?= $block->escapeHtmlAttr(__('I agree to receive promotional notification')) ?>" value="1" id="is_subscribed"<?php if($checked): ?> checked="checked"<?php endif; ?> class="checkbox">
                <label for="is_subscribed" class="label"><span><?= $block->escapeHtml(__('I agree to receive promotional notification')) ?></span></label>
        </div>
		
		 <!-- ================  Terms and Conditions Section ===============  -->
        <div style="width: auto; margin: 0;" class="field choice newsletter">
            <input type="checkbox" data-validate="{required:true}" name="custom-terms" title="<?php /* @escapeNotVerified */ echo __('Terms & conditions') ?>" id="register-input-custom" class="checkbox">
            <label for="custom-terms" class="label">
                <span>                    
                    <a href="<?php echo $this->getUrl('terms-conditions');?>" target="_blank"><?php echo __('I Agree to Terms & Conditions') ?></a>
                </span>
            </label>
        </div>
        <!-- ================   Terms and Condition Section End here ======  -->
		
		<!-- end here custom code 014-jan-2019 -->
   	
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?= $block->escapeHtmlAttr(__('Create  Account')) ?>"><span><?= $block->escapeHtml(__('Create  Account')) ?></span></button>
			
			<!--<a onclick="reset_register_form();" href="javascript:void(0);">Reset</a>-->
			
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
        </div>
    </div>
	<div id="social-custom-link">
		<div id="custom_social">
		</div>
	</div>
</form>
</div>
<script> 

function reset_register_form()
{
	require(["jquery"],function($) {
		
		jQuery('.reset_link').html('Processing...');
		   
		jQuery.ajax({  		
			type: "POST",		
			url: "<?php echo $this->getUrl().'customuser/index/resetregisterform'?>", 	
			data: "action=ResetRegister", 
			success: function(result) {       
				location.reload();
			},     		
			error: function(e) 
			{	
			console.log(e);	
			}	
		}); 	
	});  
}	  



require([
    'jquery',
    'mage/mage'
], function($){    

	jQuery('#wantptr').hide();
	
	jQuery('input[name=is_seller]').click(function()
	{
		var value=jQuery(this).val();
		if(value=='1')
		{
			jQuery('input[name=group_id]').removeAttr('checked');		
			jQuery('input[name=group_id]:eq(0)').attr('checked',true);
			jQuery('.c-group').hide();
			jQuery('#show-me').show();
		

		}
		else
		{
			jQuery('input[name=group_id]').removeAttr('checked');		
			jQuery('input[name=group_id]:eq(0)').attr('checked',true);
			jQuery('#show-me').hide();	
			jQuery('.c-group').show();  
			
  
		}  
	});	
	jQuery('input[name=group_id]').click(function(){
		var value=jQuery(this).val();
		if(value=='4'){
			jQuery('#social-custom-link').hide();
			jQuery('#show-me').show();	
			// alert('hide');			 
		}else{
			jQuery('#social-custom-link').show();
			jQuery('#show-me').hide(); 	
		}
	});	
	jQuery('#wantptr .label').attr('for','wantpartner3');
	
	
    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()): ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else: ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>    
<?php if ($block->getShowAddressFields()): ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>

<script type="text/x-magento-init">
    { ".v-validate": { "Vky_Core/js/vky_custom": {} } }
</script>
