<?php 
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

// @codingStandardsIgnoreFile

/** @var $block \Webkul\Marketplace\Block\Account\Dashboard */ 

$getTopSaleProducts = $block->getTopSaleProducts();
$totalOrders = $block->getTotalOrders();
$approvedOrders = $block->getPendingOrders();
$processOrders = $block->getProcessingOrders();
$completeOrders = $block->getCompletedOrders();
$borderApprove = 2;
$borderProcess = 2;
$borderComplete = 2;
if ($totalOrders) {
    $approve = ($approvedOrders*100)/$totalOrders;
    $process = ($processOrders*100)/$totalOrders;
    $complete = ($completeOrders*100)/$totalOrders;
} else {
    $approve = 0;
    $process = 0;
    $complete = 0;
}
if (!$approve) {
    $borderApprove = 0;
}
if (!$process) {
    $borderProcess = 0;
}
if (!$complete) {
    $borderComplete = 0;
}
$totalOrdersK = $totalOrders / 1000;
if ((int)$totalOrdersK) {
	$totalOrdersToDisplay = $totalOrdersK."K";
} else {
	$totalOrdersToDisplay = $totalOrders;
}
$approvedOrdersK = $approvedOrders / 1000;
if ((int)$approvedOrdersK) {
	$approvedOrdersToDisplay = $approvedOrdersK."K";
} else {
	$approvedOrdersToDisplay = $approvedOrders;
}
$processOrdersK = $processOrders / 1000;
if ((int)$processOrdersK) {
	$processOrdersToDisplay = $processOrdersK."K";
} else {
	$processOrdersToDisplay = $processOrders;
}
$completeOrdersK = $completeOrders / 1000;
if ((int)$completeOrdersK) {
	$completeOrdersToDisplay = $completeOrdersK."K";
} else {
	$completeOrdersToDisplay = $completeOrders;
}
$totalProducts = $block->getTotalProducts();
$totalProductsK = $totalProducts / 1000;
if ((int)$totalProductsK) {
	$totalProductToDisplay = $totalProductsK."K";
} else {
	$totalProductToDisplay = $totalProducts;
}
$totalCustomers = $block->getTotalCustomers();
$totalCustomersK = $totalCustomers / 1000;
if ((int)$totalCustomersK) {
	$totalCustomersToDisplay = $totalCustomersK."K";
} else {
	$totalCustomersToDisplay = $totalCustomers;
}
$currentMonthCustomers = $block->getTotalCustomersCurrentMonth();
$currentMonthCustomersK = $currentMonthCustomers / 1000;
if ((int)$currentMonthCustomersK) {
	$currentMonthCustomersToDisplay = $currentMonthCustomersK."K";
} else {
	$currentMonthCustomersToDisplay = $currentMonthCustomers;
}
$lastMonthCustomers = $block->getTotalCustomersLastMonth();
$lastMonthCustomersK = $lastMonthCustomers / 1000;
if ((int)$lastMonthCustomersK) {
	$lastMonthCustomersToDisplay = $lastMonthCustomersK."K";
} else {
	$lastMonthCustomersToDisplay = $lastMonthCustomers;
}?>
<div class="wk-mp-dashboard-total-container">
    <div class="wk-mp-dashboard-total wk-mp-dashboard-total-order wk-mp-first-column">
        <div class="wk-mp-dashboard-border">
            <div class="wk-mp-dashboard-total-left">
                <div class="wk-dashboard-sales-value wk-dashboard-sales-font">
                    <span class="price">
                        <?php echo $totalOrdersToDisplay ?>
                    </span>
                </div>
                <div class="wk-dashboard-total-left-bottom">
                    <?php echo __('Order(s)') ?>
                </div>
            </div>
            <div class="wk-mp-dashboard-total-right">
                <div class="wk-mp-dashboard-total-progress-bar">
                    <small>
                        <span class="wk-mp-float-left">
                            <?php echo __('Pending') ?>
                        </span>
                        <span class="wk-mp-float-right">
                            <?php echo $approvedOrdersToDisplay ?>
                        </span>
                        <span
                            class="wk-mp-progress-color-bar wk-mp-approve-color-bar"
                            style="width:<?php echo $approve; ?>%; border-width:<?php echo $borderApprove?>px;"></span>
                    </small>
                </div>
                <div class="wk-mp-dashboard-total-progress-bar">
                    <small>
                        <span class="wk-mp-float-left">
                            <?php echo __('Process') ?>
                        </span>
                        <span class="wk-mp-float-right">
                            <?php echo $processOrdersToDisplay ?>
                        </span>
                        <span
                            class="wk-mp-progress-color-bar wk-mp-process-color-bar"
                            style="width:<?php echo $process; ?>%; border-width:<?php echo $borderProcess?>px;"></span>
                    </small>
                </div>
                <div class="wk-mp-dashboard-total-progress-bar">
                    <small>
                        <span class="wk-mp-float-left">
                            <?php echo __('Complete') ?>
                        </span>
                        <span class="wk-mp-float-right">
                            <?php echo $completeOrdersToDisplay ?>
                        </span>
                        <span
                            class="wk-mp-progress-color-bar wk-mp-complete-color-bar"
                            style="width:<?php echo $complete; ?>%; border-width:<?php echo $borderComplete?>px;"></span>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="wk-mp-dashboard-total wk-mp-dashboard-total-product">
        <div class="wk-mp-dashboard-border">
            <div class="wk-mp-dashboard-total-left">
                <strong class="wk-dashboard-sales-value wk-dashboard-sales-font">
                    <span class="price">
                        <?php echo $totalProductToDisplay ?>
                    </span>
                </strong>
                <span class="wk-dashboard-total-left-bottom">
                    <?php echo __('Product(s)') ?>
                </span>
            </div>
            <div class="wk-mp-dashboard-total-right">
                <div class="wk-dashboard-products-top wk-dashboard-sales-value">
                    <small><?php echo __('Top Selling Products') ?></small>
                </div>
                <small class="wk-mp-products-bottom">
                    <ul>
                        <?php foreach ($getTopSaleProducts as $key => $value) { ?>
                            <li>
                                <span class="wk-mp-float-left">
                                    <a href="<?php echo $value['url']?>"><?php echo $value['name']?></a>
                                </span>
                                <span class="wk-mp-float-right">
                                    <?php echo __('%1 Sales', $value['qty']) ?>
                                </span>
                            </li>
                        <?php } ?>
                    </ul>
                </small>
            </div>
        </div>
    </div>
    <div class="wk-mp-dashboard-total wk-mp-dashboard-total-customer wk-mp-last-column">
        <div class="wk-mp-dashboard-border">
            <div class="wk-mp-dashboard-total-left">
                <strong class="wk-dashboard-sales-value wk-dashboard-sales-font">
                    <span class="price">
                        <?php echo $totalCustomersToDisplay; ?>
                    </span>
                </strong>
                <span class="wk-dashboard-total-left-bottom">
                    <?php echo __('Customer(s)') ?>
                </span>
            </div>
            <div class="wk-mp-dashboard-total-right">
                <div class="wk-mp-dashboard-customers-top">
                    <small>
                        <?php echo __('This month customer count') ?>
                            : <strong><?php echo $currentMonthCustomersToDisplay; ?></strong>
                    </small>
                </div>
                <div class="wk-mp-dashboard-customers-bottom">
                    <small>
                        <?php echo __('Last month customer count') ?>
                        : <strong><?php echo $lastMonthCustomersToDisplay; ?></strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>