<div class="register-popup-conatiner" style="display: none;">
	<div class="loader-img" style="height:280px;">
		<img src='<?php echo $this->getViewFileUrl('/images/fav-icon.ico'); ?>' alt="loader">
	</div>
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function($, modal) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'SIGNUP',
                modalClass: 'register-class',
                buttons: [{
                    text: $.mage.__('Close'),
                    class: 'modal-close',
                    click: function (){
                        this.closeModal();
                    }
                }]
            };
            modal(options, $('.register-popup-conatiner'));
            var isClicked = false;
            $(document).on('click','.register-popup',function(){
                if(isClicked==false){ 
                 var ajaxUrl = '<?php echo $block->getBaseUrl()?>homeajax/index/registerpopup';
                 jQuery.ajax({
                    url: ajaxUrl,
                    dataType:'html',
                    cache: true,
                    success:function(response){
                        jQuery('.register-popup-conatiner').html(response);
                        jQuery('#register-popup-form').show();
                        setTimeout(function() {
                         jQuery('.left-container').css("visibility", "visible");   
                        }, 1000);
                        
                    },
                    beforeSend:function(){ isClicked = true; }
                }); 
                  } 
                $(".register-popup-conatiner").modal("openModal");
                $(".block-authentication").modal("closeModal");
             });
            
        }

    );
</script>