<?php
	$_objectManager 			= \Magento\Framework\App\ObjectManager::getInstance(); 
	$recentProductCollection 	= $block->getMostRecentlyViewed();
	$priceHelper 				= $_objectManager->create('Magento\Framework\Pricing\Helper\Data');
	$imageHelper  				= $_objectManager->get('\Magento\Catalog\Helper\Image');
?> 
<?php 
    print_r($recentProductCollection->getData());
?>
<div class="recent-product-collection-container">
<?php if(!empty($recentProductCollection)) { ?>
<h2 class="recent-product-collection-heading">Recently Viewed</h2>
<div class="bestseller-products recentlyproduct owl-carousel owl-theme">
<?php foreach($recentProductCollection as $key=>$recentProduct): ?>
	<?php if($key<10) { ?>
	<?php  
		$productId = $recentProduct['product_id'];
		$product = $_objectManager->create('Magento\Catalog\Model\Product')->load($productId);
		$imagewidth=350;
		$imageheight=350;
		$image_url = $imageHelper->init($product, 'product_page_image_small')->setImageFile($product->getFile())->resize($imagewidth, $imageheight)->getUrl();
	?>
	<div class="single-product">
		<a href="<?php echo $product->getProductUrl(); ?>">
            <img src="<?php echo $image_url;?>" class="image lazy" data-src="<?php echo $image_url;?>" data-srcset="<?php echo $image_url;?>" alt="<?php echo $product->getName();?>">
			<span class="product-name"><?php echo $product->getName();?></span>
			<span class="product-price"><?php echo $priceHelper->currency($product->getFinalPrice(), true, false); ?></span>
		</a>
	</div>
	

	<?php } ?>

<?php endforeach; ?>
</div>
<?php } ?>
</div>	
<?php //endif; ?>

<script>


require( ['jquery', 'jquery/ui', 'owlcarousel'], 
    function($) {
        /*Home Page Slider*/
    	if($('.recentlyproduct').length > 0) {
            $('.recentlyproduct').owlCarousel({
                loop: false,
                margin: 10,
                slideSpeed: 1200,
                dots: false,
                items: 5,
                autoplay: true,
                responsiveClass: true,
                scrollPerPage: true,
                lazyLoad: true,
                nav: true,
                slideBy: 1,
                autoPlay: 5000,
                responsive:{
                    0:{
                        items:1,
                        margin: 0
                    },
                    421:{
                        items:2
                    },
                    569:{
                        items:3
                    },
                    992:{
                        items:4
                    },
                    1200:{
                        items:5
                    }
                }
            });
        }
    });

</script>