<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @var $block \Magento\Reports\Block\Product\Viewed
 */
?>
<?php if (($_products = $block->getRecentlyViewedProducts()) && $_products->getSize()): ?>
<div class="block widget block-viewed-products-names">
    <div class="block-title ds">
        <strong><?= /* @escapeNotVerified */ __('Recommendation for you') ?></strong>
    </div>
    <div class="block-content">
        <?php $suffix = $block->getNameInLayout(); ?>
        <ol id="widget-viewed-<?= /* @escapeNotVerified */ $suffix ?>" class="product-items product-items-names">
        <?php foreach ($_products as $_product): ?>
            <li class="product-item">
                <strong class="product-item-name">
                    <a href="<?= /* @escapeNotVerified */ $_product->getProductUrl() ?>" class="product-item-link">
                        <?= /* @escapeNotVerified */ $this->helper('Magento\Catalog\Helper\Output')->productAttribute($_product, $_product->getName(), 'name') ?>
                    </a>
                </strong>
            </li>
        <?php endforeach; ?>
        </ol>
    </div>
</div>
<?php endif; ?>
