// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle4;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray46;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray40;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray46;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100vh; // Stretch content area for sticky footer
    }

    .page-main {
        .lib-vendor-prefix-flex-grow(1);
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                hyphens: auto;
            }
        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;

        .panel.wrapper {
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }
    }

    .header.panel {
        > .header.links {
            .lib-list-inline();
            float: right;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;

            > li {
                font-size: @font-size__base;
                margin: 0 0 0 15px;

                &.customer-welcome {
                    margin: 0 0 0 5px;
                }

                > a {
                    .lib-link(
                    @_link-color: @header-panel__text-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @header-panel__text-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @header-panel__text-color,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @header-panel__text-color,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;

        img {
            display: block;
            height: auto;
        }

        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-print {
        .nav-toggle {
            display: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: @indent__m;
    }

    .footer {
        &.content {
            border-top: 1px solid @footer-links-separator-border-color;
            padding-top: @indent__base;

            ul:extend(.abs-reset-list all) {
            }

            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    border-top: 1px solid @footer-links-separator-border-color;
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }

                a,
                strong {
                    display: block;
                    padding: @indent__s 0;
                }

                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }

                a {
                    .lib-link(
                    @_link-color: @footer-links-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @footer-links-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @footer-links-color-hover,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @footer-links-color-hover,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .copyright {
        .lib-css(background-color, @copyright__background-color);
        .lib-css(color, @color-white);
        box-sizing: border-box;
        display: block;
        padding: @indent__s;
        text-align: center;
    }

    .page-header .panel.wrapper,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 10px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        .lib-link(
                        @_link-color: @color-gray20,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-gray20,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-gray20,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-gray20,
                        @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                    }
                }
            }

            strong {
                font-weight: @font-weight__regular;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
    .page-header .panel.wrapper {
        .switcher {
            .options {
                ul.dropdown {
                    right: 0;
                    &:before {
                        left: auto;
                        right: 10px;
                    }
                    &:after {
                        left: auto;
                        right: 9px;
                    }
                }
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------
    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;

        .block-title:extend(.abs-block-widget-title all) {
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }

        .links .widget.block {
            margin: 0;
        }
    }

    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        .lib-css(background, @tooltip__background);
        border: @tooltip__border-width solid @tooltip__border-color;
        padding: 10px;
    }
}

//
//  Navigation
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }

    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: -2px;
    }

    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }

    .page-footer .footer.content {
        .switcher-store {
            .lib-css(background, @footer__background-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;

            .switcher-options {
                display: block;

                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid @footer-links-separator-border-color;
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }

                .switcher-trigger strong {
                    padding: @indent__s 0;
                }

                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .logo {
        margin-bottom: 13px;
        margin-top: 4px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .cms-page-view .page-main {
        padding-top: 0;
        position: relative;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
        height: 100%; // Stretch screen area for sticky footer
    }

    .navigation ul {
        padding: 0 8px;
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }

        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            float: right;
            margin-left: 15px;
            margin-right: -6px;
            .lib-vendor-prefix-order(1);
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        .lib-dropdown(
        @_toggle-selector: ~'.action.switch',
        @_options-selector: ~'ul',
        @_dropdown-actions-padding: 0,
        @_dropdown-list-item-padding: 0,
        @_dropdown-toggle-icon-content: @icon-down,
        @_dropdown-toggle-active-icon-content: @icon-up,
        @_icon-font-text-hide: true,
        @_icon-font-size: 10px,
        @_icon-font-line-height: 22px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-z-index: @customer-welcome__z-index
        );

        li:extend(.switcher li all) {
            a {
                .lib-link(
                @_link-color: @color-gray20,
                @_link-text-decoration: none,
                @_link-color-visited: @color-gray20,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @color-gray20,
                @_link-text-decoration-hover: none,
                @_link-color-active: @color-gray20,
                @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }

        .customer-name {
            cursor: pointer;
        }

        .customer-menu {
            display: none;
        }

        .action.switch {
            .lib-button-reset();
            .lib-css(color, @color-white);
        }

        .header.links {
            min-width: 175px;
            z-index: 1000;
        }

        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }

            .customer-menu {
                display: block;
            }
        }

        .greet {
            display: none;
        }
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: right;
                margin-left: auto;

                > li {
                    margin: 0 0 0 15px;

                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }

                > .authorization-link {
                    &:after {
                        content: attr(data-label);
                        display: inline-block;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                }

                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }

        &.content:extend(.abs-add-clearfix-desktop all) {
            padding: @indent__l @indent__base 0;
        }
    }

    .logo {
        margin: -8px auto @indent__m 0;

        img {
            max-height: inherit;
        }
    }

    .page-wrapper {
        margin: 0;
        position: relative;
        transition: margin .3s ease-out 0s;

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .page-footer {
        .lib-css(background, @footer__background-color);
        margin-top: auto;
        padding-bottom: @indent__m;

        .switcher {
            .options {
                ul.dropdown {
                    bottom: -@indent__s;
                    left: 100%;
                    margin: 0 0 0 @indent__base;
                    top: auto;

                    &:before,
                    &:after {
                        bottom: @indent__base - 7px;
                        left: auto;
                        right: 100%;
                        top: auto;
                    }

                    &:before {
                        .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
                    }

                    &:after {
                        .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
                        margin: 0 0 -1px -1px;
                    }
                }
            }
        }
    }

    .footer {
        &.content {
            border-top: none;

            .block {
                float: right;
            }

            ul {
                padding-right: 50px;
            }

            .switcher.store {
                display: block;
                margin: 0;
            }

            .links {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;

                li {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    margin: 0 0 8px;
                    padding: 0;
                }

                a,
                strong {
                    display: inline;
                }
            }
        }
    }
}

body._has-modal .modals-wrapper .modals-overlay {
    z-index: 99 !important;
}
.shop-category {display: none;}

.page-header.headersticky .panel.wrapper {display: none;}
    .page-header.headersticky {
      background-color: #263c97;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 23;
      border-bottom: 1px solid false;
      width: 100%;
      -webkit-animation: .7s ease-out 0s 1 normal forwards running fadeInDown;
      -moz-animation: .7s ease-out 0s 1 normal forwards running fadeInDown;
      -ms-animation: .7s ease-out 0s 1 normal forwards running fadeInDown;
      animation: .7s ease-out 0s 1 normal forwards running fadeInDown;
    }


.rating-summary {position: relative;}
    .rating-summary .rating-result>span:before {position: relative;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    color: #edaa38;
    font-size: 16px;
    height: 16px;
    letter-spacing: 2px;
    line-height: 16px;
    content: '\f005' '\f005' '\f005' '\f005' '\f005' !important;
    font-family: "FontAwesome" !important;
    display: block;
    font-style: normal;
    font-weight: 400;
    speak: none;}
    .rating-summary .rating-result:before {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        -webkit-font-smoothing: antialiased;
        color: #626262;
        font-family: 'porto-icons';
        font-size: 16px;
        height: 16px;
        letter-spacing: 2px;
        line-height: 16px;
        content: '\f006' '\f006' '\f006' '\f006' '\f006' !important;
        font-family: "FontAwesome" !important;
        display: block;
        font-style: normal;
        font-weight: 400;
        speak: none;
    }
    .rating-summary .rating-result>span span {
        border: 0;
        clip: rect(0,0,0,0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }


.homecustomreview  .owl-item:after {
	content: '';
	display: table;
	clear: both;
}

.block-search{
    .mst-searchautocomplete__wrapper{
        ul {
            padding: 10px 0px;
            li{
                margin-left: 0;
                margin-right: 0;
                display: block;               
                .meta{
                    flex-grow: initial;
                    overflow: initial;
                    .title{
                        a{
                            &:hover{
                                color: #f5a622 !important;
                            }
                        }
                    }
                }
                .store{     
                    .price{
                        margin-left: 0;
                    }              
                    .price-box{
                        .special-price{
                            display: inline-block;
                            vertical-align: middle;
                            .price-label{
                                display: none;
                            }
                            .price{
                                font-size: 14px !important;
                                color: #626262;
                            }
                        }
                        .old-price{
                            display: inline-block;
                            vertical-align: middle;
                            .price-label{
                                display: none;
                            }
                            .price{
                                font-size: 14px !important;
                                text-decoration: line-through;
                                opacity: 0.5;
                            }
                        }
                    }
                }
                .tocart{
                    background-image: none;
                    background: @color-btn;
                    border: 1px solid @color-btn-border;
                    font-family: @font-family-medium;
                    border-radius: 4px;
                    transition: .5s all ease;
                    font-family: 'Conv_DINOT-Medium';
                    font-size: 1.056rem;
                    text-transform: uppercase;
                    height: 35px;
                    width: 118px;
                    font-weight: normal;
                    &:hover{
                        background: @color-btn-hover;
                        border: 1px solid @color-btn-border-hover;
                    }
                }
            }
        }
    }
}

.block-search{
    .mst-searchautocomplete__autocomplete{
        top: 100% !important;
        .mst-searchautocomplete__show-all{
            position: relative;
            bottom: 0;
        }
    } 
} 

.searchautocomplete__active{
    .page-header{
        .nav-container-wrap{
            .sections.nav-sections{
                .nav-sections-item-content{
                    z-index: 1;
                }
            } 
        } 
    }
}
 

@media only screen and (max-width:1199px){

    .page-header{
        &.headersticky{
            .block-search{
                .mst-searchautocomplete__wrapper{
                    ul{
                        li{
                            .meta{
                                .title{
                                    padding-right:0;
                                }
                            }
                            .to-cart{
                                float: left;
                            } 
                            .store {
                                float: left;
                                width: 100%;
                            }
                        } 
                    } 
                } 
            } 
        }
    }

    

}

.hometopcategory .top-products .loading-mask.home-loader {
    top: 50%;
    transform: translateY(-50%);
}

.register-class.modal-popup{
    .modal-inner-wrap{
        .register-popup-conatiner{
            .loader-img{
                &:before{
                    content: '';
                    border: 2px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 2px solid #3f549c;
                    border-bottom: 2px solid #3f549c;
                    width: 50px;
                    height: 50px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                    display: inline-block;
                    top: 50%;
                    left: 50%;
                    position: absolute;
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: block;
                    right: 0;
                    max-width: 35px;
                    margin: 0 auto;
                    margin-top: -12px;
                }
            }
        }
    } 
} 

.cms-index-index{
    .loading-mask{
        background: transparent !important;
    }
}


.loading-mask{    
    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &:before {
            content: '';
            border: 2px solid #f3f3f3;
            border-radius: 50%;
            border-top: 2px solid #3f549c;
            border-bottom: 2px solid #3f549c;
            width: 50px;
            height: 50px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            display: inline-block;
            top: 50%;
            left: 50%;
            position: absolute;
        }
        img {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            right: 0;
            max-width: 35px;
        }
    }
}


.cms-sitemap{
    #authenticationPopup + div {
        padding: 0px 0px !important;
    }
    .container {
        max-width: 100%;
        padding: 0;
    }
    .sitelist{
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-between;
        .sitemap-list {
            padding: 0;
            list-style: none;
            width: 100%;
            h3 {
                font-size: 12px;
                padding: 5px 5px;
                background: #263c97;
                margin: 0 2px;
                margin-bottom: 5px;
                a{
                    color: #fff;
                }
            }
            li {
                padding: 0 3px;
                font-size: 12px;
                ul {
                    padding: 0;
                    margin: 0 0px;
                }
            }
        }
    }
}
.sitelist ul.sitemap-list>li>ul>.sitemap-list>li>a {
    background: #6278c5;
    width: 100%;
    display: block;
    margin-bottom: 1px;
    padding: 3px 5px;
    color: #fff;
}
.sitelist .sitemap-list>li>ul {
    padding: 0;
    margin: 0 2px;
}

.sitelist ul.sitemap-list>li>ul>.sitemap-list>li>a {
    background: #6278c5;
    width: 100%;
    display: block;
    margin-bottom: 1px;
    padding: 3px 10px;
    color: #fff;
}
.sitelist ul.sitemap-list>li>ul>.sitemap-list>li>ul>.sitemap-list {
    padding-left: 0px;
    display: block;
    width: 100%;
}
.sitelist ul.sitemap-list>li>ul>.sitemap-list>li>ul>.sitemap-list>li {
    padding: 4px 0;
    border-bottom: 1px solid #6278c5;
}
.sitelist ul.sitemap-list>li>ul>.sitemap-list>li>ul>.sitemap-list>li>a {
    color: #3f549c;
}

/* Start Price */

.product-item{
    .price-box{
        .old-price{
            position: relative;
            .product-amount{
                opacity: 0.7;
            }
            .currency-symbol{
                &:before{
                    filter: opacity(0.7);
                }
            }
            &:before {
                content: "";
                background: rgba(69,67,54,0.7);
                width: 100%;
                height: 1px;
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin-top: 0px;
            }
        }
        .currency-symbol{
            font-size: 0;
            &:before{
                content: "";
                background: url(../images/rupee-icon-02.svg) no-repeat;
                width: 12px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                margin: -2px 1px 0px;                
            }
        }
        .product-amount {
            color: #454336;
            font-family: 'Conv_DINOT-Medium';
            font-size: 20px;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
        }
    }
}


.homebtmcrowsel{
    .innersection{
        .home-product-slider{
            .product-item{
                .price-box{
                    .currency-symbol{
                        &:before{
                            width: 12px;
                            height: 16px;
                            margin: -5px 1px 0px;
                        }
                    }
                    .old-price{
                        position: relative;
                        .currency-symbol{
                            &:before{
                                filter: opacity(0.7);
                            }
                        }
                        &:before {
                            content: "";
                            background: #999;
                            width: 100%;
                            height: 1px;
                            display: block;
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            margin-top: 3px;
                        }
                    } 
                } 
            } 
        }
    } 
} 

.cms-index-index{
    .product-item{
        .price-box{
            .old-price{
                .price-label{
                    display: none;
                }
                &:before{
                    left: 0;
                    margin-top: 2px;
                }
            }
        } 
    } 
}

.wishlist-index-index{
    .product-item{
        .price-box{
            .old-price{
                &:before{
                    left: 0;
                }
                .price-label {
                    display: none;
                }
            }
            .currency-symbol:before{
                width: 12px;
                height: 16px;
                margin: -5px 1px 0px;
            }
        } 
    } 
}


/* End Price */ 

.login-class{
    .loading-mask{
        background: transparent;
        .loader{
            img {
                position: relative !important;
            }
        } 
    } 
} 

.register-class{
    .modal-inner-wrap{
        #register-popup-form{
            .login-container{
                .right-container{
                    .form-create-account{
                        .already-have-account-message {
                            text-align: center;
                            display: block;
                            width: 100%;
                            color: #4d4d4d;
                            font-size: 18px;
                            font-family: 'Conv_DINOT-Medium';
                            margin: 20px 0px -25px;
                            span {
                                color: #f5a622;
                                cursor: pointer;
                            }
                        }
                    } 
                } 
            } 
        } 
    } 
} 

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .sections.nav-sections{
        .shop-category{
            .rightangle{
                border-width:0 2px 2px 0;
                padding:5px 0px 0px 1px;
            }
        } 
    } 
}}


.staticdownlaod.payout-download a:before {
    content: "\2193";
    margin-right: 5px;
    order: -1;
    line-height: 1;
    margin-top: 3px;
}

.sellerdashbord .chartContainer .staticdownlaod a {
    padding: 0;
    color: #263c97;
    background: transparent;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}