<fieldset class="fieldset file-upload">
    <div class="field customer_file_upload">
        <label for="customer_image" class="label"><span></span></label>
        <div class="control">
            <input type="file" name="my_customer_image" id="my_customer_image" title="<?php /* @escapeNotVerified */
            echo __('Custom Image') ?>" class="input-text" data-validate="{required:true}">
        </div>
    </div>  
    </<fieldset>