<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customerFactory = $objectManager->get('\Magento\Customer\Model\CustomerFactory')
->create();
  $customerId = $customerSession->getCustomer()->getId();
$customer = $customerFactory->load($customerId);
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();		 
//Select Data from table
$sql = "Select * FROM marketplace_userdata where seller_id='".$customerId."' limit 0,1";
$result = $connection->fetchAll($sql);


$is_seller=0;
/*  
echo "<pre>";
	print_r($result[0]);
echo "</pre>";   
*/
if(!empty($result)) {
	$is_seller=$result[0]['is_seller'];
}

$is_seller;
if($is_seller==1)
{
    
?>



<fieldset class="fieldset info row mx-0 " data-hasrequired="<?php /* @escapeNotVerified */
echo __('* Required Fields') ?>">
	<legend class="legend">
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<?php if ($logo = $block->getLogoUrl()){
			
				?>
		<span><?php /* @escapeNotVerified */echo __('Signature Uploaded') ?></span>
		<?php }
		?> 
	</legend>
	<div class="col-12">
	<div class="image-upload-section">
		<img id="blah" src="#" alt="your image" style="display:none"/>
			<span class="signature-upload">
			<?php if ($logo = $block->getLogoUrl()){
			
				?>
			
				<input type="file" name="my_customer_image" id="my_customer_image" title="<?php /* @escapeNotVerified */ echo __('Custom Image') ?>" class="input-text" data-validate="{required:false}">
				<?php } else { ?>
				<input type="file" name="my_customer_image" id="my_customer_image" title="<?php /* @escapeNotVerified */ 
				echo __('Custom Image') ?>" class="input-text" data-validate="{required:true}">
				<?php } ?>  
				<span>Upload Signature</span>
			</span>
		 </div>
		<p id="error1" style="display:none; color:#FF0000;">Invalid Image Format! Image Format Must Be JPG, JPEG, PNG or GIF.</p>
		<p id="error2" style="display:none; color:#FF0000;">Maximum File Size Limit is 1MB.</p>
	</div>
	<div class="col-12">
	   	<?php if ($logo = $block->getLogoUrl()): ?>
			<img width="150" height="20" src="<?php echo $logo ?>" alt="logo" />
		<?php endif; ?>
	</div>
	
</fieldset> 
<?php
}
?>

<script type="text/javascript">
  require([
	'jquery',
   
  ], function ($) {
	   
	  function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
		$('#blah').show();
      $('#blah').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#my_customer_image").change(function() {
  readURL(this);
});


$('input[type="submit"]').prop("disabled", true);
var a=0;
//binds to onchange event of your input field
$('#my_customer_image').bind('change', function() {
if ($('input:submit').attr('disabled',false)){
 $('input:submit').attr('disabled',true);
 }
var ext = $('#my_customer_image').val().split('.').pop().toLowerCase();
if ($.inArray(ext, ['gif','png','jpg','jpeg']) == -1){
 $('#error1').slideDown("slow");
 $(".save").attr("disabled", true);	
 $('#error2').slideUp("slow");
 a=0;
 }else{ 
 var picsize = (this.files[0].size);
 if (picsize > 1000000){
$(".save").attr("disabled", true);
 $('#error2').slideDown("slow");
 a=0;
 }else{
 a=1;
 $('#error2').slideUp("slow");
 }
 $('#error1').slideUp("slow");
 if (a==1){
 $('.save').attr('disabled',false);
 }
}
});
}); 

</script>