<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="hasData()" class="block" css="additionalClasses" >
	 
    <!--<div class="block-title">
        <strong role="heading"
                aria-level="2"
                text="label"/>
    </div>-->
	<!-- Custom code -->
	<h2 id="recommedation_h" class="filterproduct-title" style="background: #28A488; margin-top:50px;display:none;">
		<span class="content" style="background:none;">Recommendation for you</span>
	</h2>	
	 
    <div class="block-content custom-carousel">
		<div css="'products-' + displayMode">
			<div class="brands-sliders owl-carousel owl-theme owl-top-narrow arrows-right">
				<div class="item product product-item" repeat="foreach: filteredRows, item: '$row'">	
					<div class="product-item-info">
						<fastForEach args="data: getRegion('general-area'), as: '$col'" >
							<render args="$col.getBody()"/>
						</fastForEach>

						<div class="product-item-details">
							<fastForEach args="data: getRegion('details-area'), as: '$col'" >
								<render args="$col.getBody()"/>
							</fastForEach>

							<div if="getRegion('action-primary-area')().length || getRegion('action-secondary-area')().length"
								 class="product-item-actions">
								<div class="actions-primary" if="getRegion('action-primary-area')().length">
									<fastForEach args="data: getRegion('action-primary-area'), as: '$col'" >
										<render args="$col.getBody()"/>
									</fastForEach>
									<div if="getRegion('action-secondary-area')().length"
									 class="actions-secondary"
									 data-role="add-to-links">
									<fastForEach args="data: getRegion('action-secondary-area'), as: '$col'" >
										<render args="$col.getBody()"/>
									</fastForEach>
								</div>
								</div> 

								
							</div>

							<div if="getRegion('description-area')().length"
								 class="product-item-description">
								<fastForEach args="data: getRegion('description-area'), as: '$col'" >
									<render args="$col.getBody()"/>
								</fastForEach>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

	<script type="text/javascript">
	
        require([
            'jquery',
            'owl.carousel/owl.carousel.min'
        ], function ($) {
			setTimeout(function(){ $('.brands-sliders').owlCarousel('refresh'); }, 7000);
         
			$(".brands-sliders").owlCarousel({
				autoplay: true,
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				loop: true,
				items:4,
				autoWidth:true,
				navigation:true,
				pagination:false, 
				navRewind: true,
				margin: 0,
				nav: true,
				navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
				dots: false,
				responsive: {
					0: {
					  items:1
					},
					768: {
					  items:2
					},
					992: {
					  items:3
					},
					1200: {
					  items:4
					}
				}
			}); 
        });
		  
    </script> 

