<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div if="hasData()" class="block" css="additionalClasses" >
	 
    <!--<div class="block-title">
        <strong role="heading"
                aria-level="2"
                text="label"/>
    </div>-->
	<!-- Custom code -->
	<h2 id="recommedation_hhh" class="filterproduct-title" style="background: #28A488; margin-top:50px;">
		<span class="content" style="background:none;">Recommendation for you</span>
	</h2>	  
	  
    <div class="block-content custom-carousel products list items product-items owl-carousel  owl-theme owl-loaded owl-drag">
		<div css="'products-' + displayMode">
			<div class="asddff custom-rec-listing">      
				<div class="item product product-item" repeat="foreach: filteredRows, item: '$row'">	
					<div class="product-item-info"> 
						<fastForEach args="data: getRegion('general-area'), as: '$col'" >
							<render args="$col.getBody()"/>
						</fastForEach>                  
 
						<div class="product-item-details">
							<fastForEach args="data: getRegion('details-area'), as: '$col'" >
								<render args="$col.getBody()"/>
							</fastForEach>
 
							<div if="getRegion('action-primary-area')().length || getRegion('action-secondary-area')().length"
								 class="product-item-actions">
								<div class="actions-primary" if="getRegion('action-primary-area')().length">
									<fastForEach args="data: getRegion('action-primary-area'), as: '$col'" >
										<render args="$col.getBody()"/>
									</fastForEach>
									<div if="getRegion('action-secondary-area')().length"
									 class="actions-secondary"
									 data-role="add-to-links">
									<fastForEach args="data: getRegion('action-secondary-area'), as: '$col'" >
										<render args="$col.getBody()"/>
									</fastForEach>
								</div>
								</div> 
  
								
							</div>

							<div if="getRegion('description-area')().length"
								 class="product-item-description">
								<fastForEach args="data: getRegion('description-area'), as: '$col'" >
									<render args="$col.getBody()"/>
								</fastForEach>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>       



