<?php 
  $collection =$block->getHomeSliderCollection();       
  $storeId = $block->getStoreId();
  $helper = $this->helper('OM\ContentParser\Helper\Data');
    
?>
<div class="slider-wrapper theme-default">
<div id="slider" class="nivoSlider">
    <?php $i= 1;foreach ($collection as $data): ?>
         
            <?php if($data->getDevice()!= 1):?>
                    <a href="<?php echo $data['url']?>">
                        <img src="<?=$block->getMediaUrl(); ?><?=  $data->getImage(); ?>" data-thumb="<?=$block->getMediaUrl(); ?><?=  $data->getImage(); ?>" alt="slider-images" >
                    </a>
            <?php endif;?>
       
    <?php $i++;endforeach; ?>
  
</div>
<?php $i= 1;foreach ($collection as $data): ?>
  <div id="htmlcaption<?php echo $i?>" class="nivo-html-caption">
        <?= $helper->getCmsFilterContent($data->getContent()); ?>
  </div>
<?php $i++;endforeach; ?> 
</div>

<style type="text/css">
 .theme-default .nivoSlider {
    position: inherit;
}
.theme-default .nivoSlider img{
    display: inline-block !important;
}   
</style>
<script>
require(
['jquery','nivoSlider'], 
function($,nivoSlider) {
    $(window).load(function() {
    $('#slider').nivoSlider({
        effect: 'sliceUpDownLeft',
        slices: 15,
        boxCols: 8,
        boxRows: 4,
        animSpeed: 500,
        pauseTime: 4000,
        startSlide: 0,
        directionNav: false,
        controlNav: true,
        controlNavThumbs: false,
        pauseOnHover: true,
        manualAdvance: false,
        prevText: 'Prev',
        nextText: 'Next',
        randomStart: false,
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){},
        lastSlide: function(){},

    });
});
    setTimeout(function(){ 
        $('.nivoSlider').css('position','relative');
     }, 3000);
});
</script> 

      
