<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
	$_sessioncustomer = $objectManager->create('Magento\Customer\Model\Session');
	
	if($_sessioncustomer->isLoggedIn()){
		$customermobile = $_sessioncustomer->getCustomer()->getMobile();
		if(empty($customermobile)){
			$request = $objectManager->get('Magento\Framework\App\Request\Http');
			$layout = $request->getFullActionName();
			if($layout!="customer_account_edit")
			{
				$messageManagercustom = $objectManager->create('Magento\Framework\Message\ManagerInterface');
				$messageManagercustom->addError(__('Please Fill Your Mobile Number to Access your Account'));
				$redirect = $objectManager->get('\Magento\Framework\App\Response\Http');
				$redirect->setRedirect($this->getBaseUrl()."customer/account/edit");
			}
		}
	}
	$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
    $request->getFullActionName();
    if ($request->getFullActionName() == 'catalog_category_view') {
	if(!empty($category) && $category->getId()!=2){
		$newData = $category->getCustomizeSeoText();
		if($newData) {
?>
 
<div class="custom-seo">
<div class="container">
<div class="row justify-content-center">
<div class="col-12">
<?php //if(!empty($newData))
	 // {?>
<div class="white-box-section mb-3 term-and-condition-content-box ">

      <div class="bigtext">
	  <?php
 
   echo $newData = $category->getCustomizeSeoText();  
	   
?> 
    
      </div>
     
      <p class="expand">Read More</p>
      <p class="contract hide">Read Less</p>
	
    </div> 
	</div>
   </div></div></div>
	<?php }}}
	?>
  

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
$request->getFullActionName();

if ($request->getFullActionName() == 'cms_index_index') {
	?>
	<div class="custom-seo">
 <div class="container">
<div class="row justify-content-center">
<div class="col-12">
 <?php //if(!empty($newData))
	 // {?>
<div class="white-box-section mb-3 term-and-condition-content-box ">

      <div class="bigtext" style="height:132px !important">
	           <?php
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_seo')->toHtml();
			?>
 
      </div>
     
      <p class="expand">Read More</p>
      <p class="contract hide">Read Less</p>
	
    </div> 
	</div>
   </div></div></div>
	<?php
}?>

	<?php //}?>
  <style>
#cashondelivery{ display:none; }
#cashondelivery + label{ display:none; }
.tab-heading-custom .selected_order
{
display:none !important;
}  
.bigtext {
  display: block;
  overflow: hidden;
  color: #3d3d3f;
}
.bigtext p {
    line-height: 2;
}
/*#discount-form { display:none !important; }*/
.bigtext h1{
  
  font-size: 17px;
    margin: 15px 0px 15px;
    font-weight: 800;
    color: #010101;
    text-transform: uppercase;
     
    position: relative;
}

.bigtext h2{  
  	font-size:14px;
    margin: 15px 0px 15px;
    font-weight: 700;
    color: #010101;
    text-transform: uppercase;
   
    position: relative;
}

 
.expand, .contract {
  cursor: pointer;
  font-size: 16px;
	font-family: 'Exo'; 
	font-weight: 700 !important;
	color: #44538a !important;
	cursor:pointer;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}
.expand:hover, .contract:hover {
  color: #121212;
}

.expand {
   
	font-size: 16px;
	font-family: 'Exo'; 
	font-weight: 700 !important;
	color: #44538a !important;
	cursor:pointer;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
}
.hide {
  display: none;
}
  </style>
 
 
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();


  
    $footer = $this->getConfig('porto_settings/footer');
?>
<div class="footer">
<?php
    if( $footer['footer_top'] ){
?>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="row footer_top_custom_block footerIcons" style="text-align: center;">
    <div class="col-12 col-sm-6 col-md-3 item">
	<?php
	$fbs = $this->getConfig("sw_socialfeeds/facebook_fanboxs");
	$secure_name = $fbs['secure_name'];
	
	$secure_link = $fbs['secure_link'];
	$help_link = $fbs['help_link'];
	$trustpay_link = $fbs['trustpay_link'];
		
		?>
		<a href="<?php echo $secure_link;?>">
<div class="footer-top-content-box">
        <div class="icon">
		<img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/CardSecurity.svg'); ?>' alt="image-icon" >
		</div>
        <div class="block-title"><span>100% Secure Payment</span></div>
        <h5>We value your security. That’s why all your payments are 100% secure.</h5>
    </div>
	</a>
</div>
<div class="col-12 col-sm-6 col-md-3 item">
<a href="<?php echo $trustpay_link;?>">
<div class="footer-top-content-box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/ShieldSymbol.svg'); ?>' alt="image-icon" ></div>
        <div class="block-title"><span>Assurance</span></div>
        <h5>We provide you with easy returns and 100% payment protection.</h5>
    </div>
	</a>
</div>
<div class="col-12 col-sm-6 col-md-3 item bottom-item">
<a href="<?php echo $help_link;?>">
<div class="footer-top-content-box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/CustomerCare.svg'); ?>' alt="image-icon" ></div>
        <div class="block-title"><span>Help Center</span></div>
        <h5>We are happy to help you with your queries. Connect with our customer service desk.</h5>
    </div>
	</a>
</div>
<div class="col-12 col-sm-6 col-md-3 item bottom-item">
<a href="https://play.google.com/store/apps/details?id=com.panasonic.getmyspares&amp;hl=en" target="_blank">
<div class="footer-top-content-box">
        <div class="icon"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Mobile.svg'); ?>' alt="image-icon" ></div>
        <div class="block-title"><span>Shop on the Go</span></div>
        <h5>Download the app to get exclusive personalized offers, only for you.</h5>
    </div>
	</a>
</div> 
</div>
                </div>
            </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_middle'] ){
?>
    <div class="footer-middle">
        <div class="container">
        <?php
            if( $footer['footer_ribbon'] ){
        ?>
            <div class="footer-ribbon">
                <span><?php echo $footer['footer_ribbon_text'] ?></span>
            </div>
        <?php
            }
        ?>
            <div class="row">
            <?php
                for( $i = 1; $i <= 4; $i++ ){
                    $area = 'footer_middle_column_'.$i;
                    $type = $footer[$area];
                    if( $type ){
                        echo '<div class="col-lg-'.$footer[$area.'_size'].'">';
                    }
                    if( $type == 'custom' && $footer[$area.'_custom'] ){
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if($block) {
                            $block->setBlockId($footer[$area.'_custom']);
                        }
                        if($block){
                            echo $block->toHtml();
                        }
                    }
                    if( $type == 'newsletter' ){
                        echo $this->getChildHtml('footer.newsletter');
                    }
                    if( $type ){
                        echo '</div>';
                    }
                }
            ?>
            </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_middle_2'] ){
?>
    <div class="footer-middle gf footer-middle-2">
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
			<div class="footer-top-inner">
  <div class="row">
   <?php
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment_links')->toHtml();
			?>
    <div class="col-md-12">
      <div class="block-content textCenter">
        <div class="social-icons" style="float:none;">
          <div class="block-title"><strong><span>Connect With Us</span></strong></div>
		<?php
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$helpers = $objectManager->create('Smartwave\Socialfeeds\Helper\Data');

			$fb = $this->getConfig("sw_socialfeeds/facebook_fanbox");
			$facebook = $fb['facebook_link'];
			$facebook_ico = $fb['facebook_image'];
			$twitter_link = $fb['twitter_link'];
			$twitter_ico = $fb['twitter_image'];
			$youtube_link = $fb['youtube_link'];
			$youtube_ico = $fb['youtube_image'];
			$instagram_link = $fb['instagram_link'];
			$instagram_ico = $fb['instagram_image'];
			$pinterest_link = $fb['pinterest_link'];
			$pinterest_ico = $fb['pinterest_image'];
		?>

          <ul class="social-icons" style="float:none;" >
		  <?php if(!empty($facebook))
		  { ?> 
            <li><a  class="facebook-link" target="_blank" href="<?php echo $facebook;?>"><img src='<?php echo $this->getMediaUrl("footer/social_media_images/$facebook_ico"); ?>' rel="nofollow" alt="image-icon" > </a></li>
		  <?php }
		  ?>
		   <?php if(!empty($twitter_link))
		  { ?>
            <li><a  class="twitter-link" target="_blank" href="<?php echo $twitter_link;?>"><img src='<?php echo $this->getMediaUrl("footer/social_media_images/$twitter_ico"); ?>' rel="nofollow" alt="image-icon" >
			</a></li>
			  <?php }
		  ?>
			 <?php if(!empty($youtube_link))
		  { ?>
	  
            <li><a  class="linkedin-link" target="_blank" href="<?php echo $youtube_link;?>">
			<img rel="nofollow" src='<?php echo $this->getMediaUrl("footer/social_media_images/$youtube_ico"); ?>' alt="image-icon" >
			</a></li>
			  <?php }
		  ?>
			<?php if(!empty($instagram_link))
		  { ?>
	  
			<li><a  class="linkedin-link" target="_blank" rel="nofollow" href="<?php echo $instagram_link;?>">
			<img src='<?php echo $this->getMediaUrl("footer/social_media_images/$instagram_ico"); ?>' alt="image-icon" >
			</a></li>
			  <?php }
		  ?>
			<?php if(!empty($pinterest_link))
		  { ?>
	  
			<li><a  class="linkedin-link" target="_blank" href="<?php echo $pinterest_link;?>">
			<img rel="nofollow" src='<?php echo $this->getMediaUrl("footer/social_media_images/$pinterest_ico"); ?>' alt="image-icon" >
			</a></li>
			  <?php }
		  ?>
		  
          </ul>
        </div>
      </div>
    </div>
  </div>
</div></div>
       </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_bottom'] ){
?>
   
<?php
    }
?>
<a href="javascript:void(0)" id="totop"><em class="porto-icon-up-open"></em></a>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();

if($request->getFullActionName()=='checkout_cart_index')
{
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
		
	$api_helpers = $objectManager->create('Customm\Apii\Helper\Data'); 
		
		
	$api_helpers->sync_cart_update_site_app();
 
}	
    

?>
<?php
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();



if ($request->getFullActionName() == 'checkout_index_index') { 
?>
	<div class="footer_cart_summary"> 	
	<?php
		$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');
		$custom_helpers->checkout_cart_summary();
	?>  
	</div>
<?php } ?>



<?php 
if ($request->getFullActionName() == 'cms_index_index') {
}
else
{
 ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$seller_register=$customerSession->getSellerValue();
if($seller_register==1)
{	
	?>    
		<script> 
	

		require([
				'jquery'
		], function ($) {
		
			$(function() {
				$(this).bind("contextmenu", function(e) {
					e.preventDefault();
				});
			});
			
			$(document).ready(function()
			{
				
				
				setTimeout(seller_section,1000);  
				setTimeout(seller_url,500);  
			});	
			
			$(window).on('load', function () {
				setTimeout(seller_section,1000);  
				setTimeout(seller_url,500);  
			});   

			  
		});     
		
		function seller_url()
		{
			var len=jQuery('.profileurl').length; 
			if(len > 1)
			{
				jQuery('.profileurl:last').remove(); 	
			}	
			jQuery('.profileurl>label').html('Site Name');	 	
			jQuery('#profileurl').attr('placeholder','Shop Name'); 		
			jQuery('#profileurl').attr('title','Shop Name');		
			setTimeout(seller_url,500);          
		}  
		function seller_section()
		{
			var len=jQuery('#wantptr').length;
			if(len!=0)
			{	
				jQuery('#custom_social').hide();  
				jQuery('#wantptr').hide(); 
				jQuery('#wantptr').find('input[name=is_seller]').removeAttr('checked');
				jQuery('input[name=is_seller]:eq(0)').click();	
				jQuery('.password').addClass('custom-password-sec');
				jQuery('.c-group').hide();
				jQuery('input[name=group_id]').removeAttr('checked');
				jQuery('input[name=group_id]:eq(0)').click();	 
				jQuery('#show-me').show();        
			} 
		} 	
		</script>
	<?php
} 
else
{	
	$customerSession->unsSellerValue();
?>
<script>
require([
		'jquery'
], function ($) {
	
	setTimeout(not_seller_section, 500);  
	 
});       
 
function not_seller_section()  
{
	jQuery('#wantptr').hide();
	setTimeout(not_seller_section, 500);  
}	
  
</script>
<?php
}
?>

<script>
require([
		'jquery'
], function ($) {
	if(jQuery('body').hasClass('customer-account-create'))
	{
		jQuery('#form-validate').find('button[type=submit]').attr('disabled',true);
	
		jQuery('#register-input-custom').click(function()
		{
			if(jQuery('#register-input-custom').prop('checked') == true)
			{
				jQuery('#form-validate').find('button[type=submit]').removeAttr('disabled');
			}
			else
			{
				jQuery('#form-validate').find('button[type=submit]').attr('disabled',true);
			}    
		});	
			
	}		  
});         
</script>    

<script>
function price_filter_custom()
{
	jQuery('.toolbar-products:eq(1)').empty();
	//jQuery('.new_filter_sec').empty();   
	jQuery(".filter-result").detach().appendTo('.new_filter_sec');
	jQuery(".filter-actions").detach().insertAfter('.filter-current'); 
	
	var len=jQuery(".filter-result").length;
	if(len > 1)
	{
		jQuery(".filter-result").each(function()
		{
			jQuery('.filter-result:not(:last)').remove();
			jQuery('.filter-actions:not(:last)').remove();
		});		  
	}  	 	
}	  

function encodeHTML(s) {
    return s.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/"/g, '&quot;');
}

function custom_price_filter()
{
	var url=jQuery('.curr_url').val();
	var from_price=jQuery('.from_price').val();
	var to_price=jQuery('.to_price').val();
	 
	if(/^[a-zA-Z0-9- ]*$/.test(from_price) == false) {
		return false;  
	}
	if(/^[a-zA-Z0-9- ]*$/.test(to_price) == false) {
		return false;
	}
	//to_price.replace(/[_\W]+/g, "");    
	  
	if(from_price=='' || to_price=='')
	{
		require([
			'Magento_Ui/js/modal/alert'
		], function(alert) { // Variable that represents the `alert` function
		 
			alert({
				title: 'Alert',
				content: 'Please enter From or To Price',
				actions: {
					always: function(){}
				}
			});
		 
		}); 
		
		return false;	  
	}
	
	if(parseInt(from_price) < parseInt(to_price))
	{
		  
		var str1 = url;
		var str2 = "?";
		if(str1.indexOf(str2) != -1){
			var newurl=url+'&price='+parseInt(from_price)+'-'+parseInt(to_price);
			

              window.location.href = newurl;
		    
		}
		else
		{
			var newurl=decodeURIComponent(url+'?price='+from_price+'-'+to_price+'&&product_list_order=price');
			 
			window.location.href= encodeURI(newurl);  
		} 
		
		return false;
		 
	}      
	else  
	{
		require([
			'Magento_Ui/js/modal/alert'
		], function(alert) { // Variable that represents the `alert` function
		 
			alert({
				title: 'Alert',
				content: 'Please check entered price inputs',
				actions: {
					always: function(){}
				}
			});
		 
		}); 
		
		return false;
	}   
} 
</script>	
<script> 
require([ 
		'jquery'
], function ($) {
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(0)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-profile.png"); ?>" alt="image-icon">My Profile'); 
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(0)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-profile.png"); ?>" alt="image-icon">My Profile'); 
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(1)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon">My Orders');
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(1)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>"  alt="image-icon">My Orders');
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(2)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/wishlist.png"); ?>" alt="image-icon">My Wishlist'); 
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(2)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/wishlist.png"); ?>" alt="image-icon">My Wishlist');
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(4)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon">Manage Address');
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(4)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon">Manage Address');
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(5)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon">My Account');
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(5)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon">My Account');
	 
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(7)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>" alt="image-icon">My Product Reviews');
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(7)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/my-orders.png"); ?>"  alt="image-icon">My Product Reviews');
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(8)>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/myrewards.png"); ?>"  alt="image-icon">My Reward Points');
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(8)>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/myrewards.png"); ?>"  alt="image-icon">My Reward Points');
	
	jQuery('#block-collapsible-nav').find('ul.nav>li:last>a').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/myrewards.png"); ?>" alt="image-icon">Return Orders');  
	jQuery('#block-collapsible-nav').find('ul.nav>li:last>strong').empty().append('<img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/myrewards.png"); ?>"   alt="image-icon">Return Orders');  
	 
});  

function edit_product_qty(prod_id)
{
	//var qty=jQuery('#cart-'+prod_id+'-qty').val(); 
	var qty='4'; 
		
	jQuery.ajax({   	    	
		type: "POST",		
		showLoader: true,
		url: "<?php echo $this->getUrl().'customuser/index/updateqty'?>", 	
		data: "prod_id="+prod_id+"&qty="+qty,  
		success: function(result)      
		{      
			location.reload();
		},       	 	   
		error: function(e)      
		{ 	
			console.log(e);	    
		}  	   
	}); 	
}	
</script>

<script>
	require([ 
			'jquery'
	], function ($) {
		
		setTimeout(function()
		{
			sort_list();
		}, 500);	   
			 
	}); 

	function sort_list()
	{
		jQuery('select#sorter').change(function()
		{
			
			jQuery(this).blur();
			jQuery(this).attr('disabled',true);
		});	  
	
		setTimeout(function()
		{
			sort_list();
		}, 100); 			
	}	
</script>
<script>
require([ 
    'jquery',
    'mage/mage'
], function(jquery){
	jQuery("input[name='telephone']").keypress(function (e) {
     //if the letter is not digit then display error and don't type anything
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
        //display error message
       jquery("#errmsg").html("Number Only").show().fadeOut("slow");
               return false;
    }
   });
}); 
</script>
<?php
}
?>  

<script type="text/javascript">
require([
  'jquery',
  'owl.carousel/owl.carousel.min'
], function ($) {
	
	jQuery(window).on('load', function () {
		var asdf=jQuery('.asddff').html();
		
		if(asdf!='')
		{	
			
				setTimeout(function()
				{
				   custom_recsss();
				}, 500);    	
			      
		}                
	});   
	
	
	
});    

 
function custom_recsss()
{
	jQuery('.at-share-btn-elements>a:last').remove();
	
	var len=jQuery('.custom-rec-listing').find('.product-item').length;
	//alert(len);  
	if(len > 4) {  
		
		jQuery('.asddff').find('.product-item').addClass('recomend-sectionss');
		
		setTimeout(function(){
			   jQuery(".custom-rec-listing").owlCarousel({ 
				autoplay: true,  
				autoplayTimeout: 5000,
				autoplayHoverPause: true,
				margin: 0,   
				nav: true,  
				navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
				dots: false,
				loop: false,              
				responsive: {   
				  0: {
					items:4
				  },
				  640: {
					items:4
				  },
				  768: {
					items:4
				  },
				  992: {
					items:4
				  },
				  1200: {
					items:4
				  }  
				}
			  });
		 }, 500);	  
	
	}
	
	setTimeout(function()
	{
	   custom_recsss();
	}, 500);  
	   
	 
}	
   
 
</script> 	
<script>
require([
  'jquery',
  'owl.carousel/owl.carousel.min'
], function ($) 
{
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(3)').hide();
	jQuery('#block-collapsible-nav').find('ul.nav>li:eq(6)').hide(); 
});
</script>  

<script>
require([ 
		'jquery'
], function ($) {
	$(window).on('load', function () {
		$(".loader_1").fadeOut("slow");
		$('body').css('margin','0');	
	}); 

	$(document).ready(function()
	{
		$(".loader_1").fadeOut("slow");
		$('body').css('margin','0');	
		jQuery('<div class="new_filter_sec"></div>').insertBefore('#layer-product-list');
	 
	});	 
 
	
});       
</script>


<script>
require([ 
		'jquery'
], function ($) {
	//jQuery('.normal-page-sec>products').detach().appendTo('.home-page-sec');
	//jQuery('.normal-page-sec').empty();
	
	jQuery('.home-page-sec').detach().appendTo('.custom_dailydeals');
	
	
	//jQuery(".normal-page-sec")
	 
});       
</script>


<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) 
{ 
$customer_id=$customerSession->getCustomer()->getId();
?>
	<script>
	require([ 
			'jquery'
	], function ($) {
		
		setTimeout(function()
		{
			insert_new_li_account();
		}, 500);	   
		
		
		if(jQuery('body').hasClass('cms-index-index'))
		{
			jQuery('#toast-container').remove();
			setTimeout(function()
			{
				multiple_toaster();
			}, 100);	 
		}   
			 
	}); 
	 
	
	function multiple_toaster()
	{
		jQuery('#toast-container').remove();
		 
		setTimeout(multiple_toaster,100);   
		
	}
	
	
	function insert_new_li_account()
	{
		var len=jQuery('#block-collapsible-nav').length;
		
		if(len > 0)	
		{
			jQuery('#block-collapsible-nav').addClass('agyaa');	
		}
		
		if(jQuery('#block-collapsible-nav').hasClass('agyaa'))
		{
			jQuery('#block-collapsible-nav').find('ul.nav').prepend('<li class="nav item user-image"><a class="btn legin dropdown-link" href="javascript:void(0)"><img src="<?php echo $this->getViewFileUrl("Panasonic_CustomUser::images/user_img.png"); ?>" alt="image-icon"><?php echo $customerSession->getCustomer()->getName();?></a></li>');    
		}  
		else    
		{ 
			setTimeout(function()
			{
				insert_new_li_account();
			}, 100); 	
		}	
	}	
	 
	
	</script>
	<script> 
		require([  
		'jquery' 
], function ($) { 
		$(document).on('click','#discount-form .action.action-cancel',function(){ 
			setTimeout(function(){ location.reload(); }, 2000); 

		}); 
		$(document).on('click','#discount-form button.action.action-apply',function(){ 
			setTimeout(function(){ location.reload(); }, 2000); 
		}); 
		 
	}); 
	</script>
<?php }

 ?> 
</div> 

<?php  if($customerSession->getCustomLoginBy()) {  ?>
<script>
	require([  
			'jquery' 
	], function ($) { 
		
		<?php  if($customerSession->getCustomLoginBy()) { ?>
		setInterval(function(){		
			if(jQuery('#send_payment_link').length < 1){ 		
				//jQuery("#send_payment_link").remove(); 
				jQuery( "<a href='javascript:void(0);' id='send_payment_link'>Create order & Send Payment Link To Customer <p id='send_payment_link_loading'></p></a>" ).insertAfter( "#checkout-payment-method-load" );
			}		
		}, 1000);
		<?php } ?>
		
		var customerEmail = '<?php echo $customerSession->getCustomer()->getEmail(); ?>';
		var mobile = '<?php echo $customerSession->getCustomer()->getMobile(); ?>';
		var name = '<?php echo $customerSession->getCustomer()->getFirstname().' '.$customerSession->getCustomer()->getLastname(); ?>';
		$(document).on('click','#send_payment_link',function(){ 
			jQuery("#send_payment_link_loading").html('<p style="color:green;">Wait . . . . </p>');
			jQuery.ajax({   	    	
				type: "POST",		
				showLoader: true,
				url: "<?php echo $this->getUrl().'razorpay/payment/paymentlink'; ?>", 	
				data: "email="+customerEmail+'&mobile='+mobile+'&name='+name,  
				success: function(result){      
					jQuery("#send_payment_link_loading").html('<p style="color:green;">Sent Successfully !!</p>');
				},       	 	   
				error: function(e){ 	
					console.log(e);	    
				}  	   
			});
	    });
	}); 
</script>
<?php } ?>

<div id="popup-modal-garviance" style="display:none;">
    <p>We encourage our customers to register their complaint, feedback and suggestions  on  Telephone Numbers and EMail Id’s provided in “Support” Section. In case  customer’s issue is not resolved then he/she can write and/or contact us ; giving details of earlier transactions ;as per following escalation matrix: </p>
    <p><span>Level 1: Email Id:</span><a href="mailTo:pi.grievanceofficer@in.panasonic.com">pi.grievanceofficer@in.panasonic.com</a></p>      
    <p><span>Level 2: Email Id:</span><a href="mailTo:pi.nodalofficer@in.panasonic.com">pi.nodalofficer@in.panasonic.com</a></p> 
    <p class="voice"><span>Voice Support:</span><a href="tel:0120-6103126">0120-6103126</a></p>  
    <p>(Excluding Public Holidays; 09.00 hours ~ 17.00 hours ;Monday to Friday)</p>
</div>
	<?php
/*	echo $this->getLayout()
	->createBlock('Magento\Cms\Block\Block')
	->setBlockId('2592')
	->toHtml();*/
	?>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                clickableOverlay: false,
                modalClass : 'graviance_modal',
                title: 'Grievances',
                buttons: []
            };
            var popup = modal(options, $('#popup-modal-garviance'));
            $("#greivance_button").on('click',function(){ 
                $("#popup-modal-garviance").modal(options).modal("openModal");
            });
        }
    );
</script>
