<script>
function init() {
var imgDefer = document.getElementsByTagName('img');
for (var i=0; i<imgDefer.length; i++) {
if(imgDefer[i].getAttribute('data-src')) {
imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
} } }
window.onload = init;
</script> 
 
<style>
.custom-search-box ul { list-style: none; padding: 0px; margin: 0px; }
.custom-search-box ul li { display: inline-block; padding: 4px 0; padding-right: 0px; margin: 0px; padding-right: 13px; position: relative; line-height: 12px; }
.custom-search-box ul li a { color: #fff !important; font-size: 12px; text-decoration: none; font-family: 'Exo'; }
.loyality_point{ display:none;}	
</style>

  
<?php 
    $_helper = $this->helper('Smartwave\Porto\Helper\Cssconfig');
    $porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
    $page_layout = $this->getConfig('porto_settings/general/layout');
    if($page_layout == "full_width") {
        $page_layout = "layout-fullwidth";
    } else if($page_layout == "1140") {
        $page_layout = "layout-1140";
    } else if($page_layout == "1280") {
        $page_layout = "layout-1280";
    }
    $boxed = $this->getConfig('porto_settings/general/boxed');
?>
<?php //Include Google fonts character subsets (such as extended latin, cyrillic)
    $d = $this->getConfig('porto_design');
    $charSubset = "";
    if (isset($d['font']['char_latin_ext']) && $d['font']['char_latin_ext']==1 )
        $charSubset .= ',latin-ext';
    if (isset($d['font']['char_subset']) && $d['font']['char_subset'])
        $charSubset .= ','.$d['font']['char_subset'];
    $font_sizes = "%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic";
?>



<?php if (isset($d['font']['custom']) && $d['font']['custom'] && $d['font']['font_family'] == 'google'): ?>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $d['font']['google_font_family']).$font_sizes; echo $charSubset; ?>" type='text/css' />
<?php else: ?>
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic&amp;v1&amp;subset=latin%2Clatin-ext" type="text/css" media="screen"/>
<?php endif;?>
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<?php if ($this->getConfig('porto_settings/optimization/bootstrap')): ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir().'bootstrap/css/bootstrap.min.css'; ?>">
<?php else: ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir().'bootstrap/css/bootstrap.optimized.min.css'; ?>">
<?php endif; ?>
<?php if ($this->getConfig('porto_settings/optimization/bootstrap')): ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir().'css/animate.css'; ?>">
<?php else: ?>
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir().'css/animate.optimized.css'; ?>">
<?php endif; ?>
<?php
    $header_type = $this->getConfig('porto_settings/header/header_type');
?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir().'css/header/type'.$header_type.'.css'; ?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getPortoWebDir().'css/custom.css'; ?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/navistyle1.css'); ?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/navistyle2.css'); ?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getDesignFile()?>"> 
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getSettingsFile()?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/backendpana.css')?>">  
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
if ($request->getFullActionName() == 'cms_index_index') {
  ?>
  <link rel="canonical" href="https://getmyspares.com" />
  <link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/homecss.css')?>">
  <?php
  
} elseif($request->getFullActionName() == 'catalog_category_view') {	
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
	if(!empty($category)) { ?>
		<link rel="canonical" href="<?php echo $category->getUrl();?>" />
    <?php }
    
} elseif($request->getFullActionName() == 'catalog_product_view') {
		
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');//get current category
	if(!empty($product)) { ?>
		<link rel="canonical" href="<?php echo $this->getUrl($product->getUrlKey());?>" />
    <?php }
?>
 

<?php
}
?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/marketplaceids.css')?>">

<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/plpcss.css')?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/pdpcss.css')?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/forgotcss.css')?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/loginscss.css')?>">

<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/cartscss.css')?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/checkoutcss.css')?>">
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $block->getViewFileUrl('css/custom-media-queries.css')?>">

<!-- Google Tag Manager 
following  tag manager lands  404 , removing it for  seo points @ritesh

-->
<!-- 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WLFMGVX');</script> -->

<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Ads: 955888850 -->

<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-182108683-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-182108683-1');
  gtag('config', 'AW-473689114');

</script>




<!-- link for  iic.panasonc@gmail.com -->
<meta name="google-site-verification" content="52vf4G7KZ4KkFJ836XgPR6E12Tx9IyHIVIfZQN5-H6g" />

<!-- secondary link -->
<meta name="google-site-verification" content="7wZJQo793uQ3tyu_p25T2qQOxzG4sdTTsaduMecWdPg" /> 

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_urls=$storeManager->getStore()->getBaseUrl();
		
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) 
{
	$customer_id=$customerSession->getCustomer()->getId();
	$select = $connection->select()
			  ->from('marketplace_userdata') 
			  ->where('seller_id = ?', $customer_id)
			  ->limit(0,1);
	$result = $connection->fetchAll($select);

	 

	$is_seller=0;

	if(!empty($result)) {
		$is_seller=$result[0]['is_seller'];
	}   

	 $is_seller;
	


	if($is_seller==1)
	{
		
		
		$select = $connection->select()
		  ->from('customer_entity_varchar')
		  ->where('entity_id = ?', $customer_id) 
		  ->where('attribute_id = ?', '265');
		$result = $connection->fetchAll($select);
		
		if(empty($result))
		{
		?>
		<script>
			require([
				'jquery'
			], function ($) {
				
				if($('body').hasClass('customer-account-edit'))
				{
					//
				}
				else
				{			
					$('#maincontent').addClass('hide-me');
					$('<div class="seller-image"><p>Please click <a href="<?php echo $site_urls; ?>customer/account/edit">Here</a> to your signature</p></div>').insertBefore('#maincontent'); 
				} 
			}); 
			
		</script>
		<?php 	
		}	

	}
}


?>





<script type="text/javascript">
require([
    'jquery'
], function ($) {
    $(document).ready(function(){
		jQuery('.block-search').wrap('<span class="custom-search-box"></span>');
        $("body").addClass("<?php echo $page_layout; ?>");
        $("body").addClass("<?php echo $boxed; ?>");
    <?php if ($this->getConfig('porto_settings/header/mobile_sticky_header')): ?>
        $("body").addClass("mobile-sticky");
    <?php endif; ?>
    <?php if ($this->getConfig('porto_settings/header/header_type') == "10" || $this->getConfig('porto_settings/header/header_type') == "22"): ?>
        $("body").addClass("side-header");
    <?php endif; ?>
        $(".drop-menu > a").off("click").on("click", function(){
            if($(this).parent().children(".nav-sections").hasClass("visible"))
                $(this).parent().children(".nav-sections").removeClass("visible");
            else
                $(this).parent().children(".nav-sections").addClass("visible")
        });
    });
<?php if ($this->getConfig('porto_settings/header/sticky_header')): ?>
    var scrolled = false;
    $(window).scroll(function(){
        if(!$('.page-header').hasClass('type10') && !$('.page-header').hasClass('type22')) {
            if($(window).width()>=768){
                if(140<$(window).scrollTop() && !scrolled){
                    $('.page-header').addClass("sticky-header");
										
                    scrolled = true;
                    if(!$(".page-header").hasClass("type12")) {
                        $('.page-header .minicart-wrapper').after('<div class="minicart-place hide"></div>');
                        var minicart = $('.page-header .minicart-wrapper').detach();
                        if($(".page-header").hasClass("type8") || $(".page-header").hasClass("type25"))
                            $('.page-header .menu-wrapper').append(minicart);
                        else
                            $('.page-header .navigation').append(minicart);
                        <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')): ?>
                        var logo_image = $('<div>').append($('.page-header .header .container .row .col-12 > .logo').clone()).html();
                        if($(".page-header").hasClass("type8") || $(".page-header").hasClass("type25"))
                            $('.page-header .menu-wrapper').prepend('<div class="sticky-logo">'+logo_image+'</div>');
                        else
                            $('.page-header .navigation').prepend('<div class="sticky-logo">'+logo_image+'</div>');
                        <?php endif; ?>
                    } else {
                        <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')): ?>
                        $('.page-header.type12 .logo').append('<span class="sticky-logo"><img src=""/></span>');
                        $('.page-header .logo > img').addClass("hide");
                        <?php endif; ?>
                    }
                    <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')): ?>
                    <?php
                    if($logo_src = $this->getConfig('porto_settings/header/sticky_header_logo_src')){
                        $folderName = \Smartwave\Porto\Model\Config\Backend\Image\Stickylogo::UPLOAD_DIR;
                        $path = $folderName . '/' . $logo_src;
                        $imageUrl = $porto_helper->getBaseUrl() . $path;
                    ?>
                    $(".sticky-logo img").attr("src","<?php echo $imageUrl; ?>");
					
					$('.block-search').detach().insertAfter('.sticky-logo');
					$('.homepageonly').hide();
					$('.drop-menu').hide();
					<?php    
                    }
                    ?> 
                    <?php endif; ?>
                }  
                if(140>=$(window).scrollTop() && scrolled){
                    $('.page-header').removeClass("sticky-header");
					
					$('.block-search').detach().appendTo('.custom-search-box');
					$('.homepageonly').show();        
					$('.drop-menu').show();        
                    scrolled = false;
                    if(!$(".page-header").hasClass("type12")) {
                        var minicart;
                        if($(".page-header").hasClass("type8") ||  $(".page-header").hasClass("type25"))
                            minicart = $('.page-header .menu-wrapper .minicart-wrapper').detach();
                        else
                            minicart = $('.page-header .navigation .minicart-wrapper').detach();
                        $('.minicart-place').after(minicart);
                        $('.minicart-place').remove();
                        $('.page-header .minicart-wrapper-moved').addClass("minicart-wrapper").removeClass("minicart-wrapper-moved").removeClass("hide");   
                    }
                    <?php if ($this->getConfig('porto_settings/header/sticky_header_logo')): ?>
                    if($(".page-header").hasClass("type8") || $(".page-header").hasClass("type25"))
                        $('.page-header .menu-wrapper > .sticky-logo').remove();
                    else if($(".page-header").hasClass("type12")) {
                        $('.page-header .sticky-logo').remove();
                        $('.page-header .logo > img').removeClass("hide");;
                    } else
                        $('.page-header .navigation > .sticky-logo').remove();
                    <?php endif; ?>
                }
            }
        }
    });
<?php endif; ?>
});
</script>
<?php if($this->getConfig('porto_settings/general/smartlayers')): ?>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58378513496862c5"></script>
<?php endif; ?>

<script type="text/javascript">
function showPosition(){
	if(navigator.geolocation)
	{ 
		navigator.geolocation.getCurrentPosition(function(position){
			var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
			
			var lat=position.coords.latitude;
			var lng=position.coords.longitude;
			   
			document.cookie = "positionInfo_lat="+lat; 
			document.cookie = "positionInfo_lng="+lng; 
			//alert('aaaa');
			jQuery.ajax({   	  	 
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/getzipcode'?>", 	
				data: "lat="+lat+"&lng="+lng,  
				success: function(result)     
				{      
					//alert(result);
					jQuery('#check-zipcode').val(result);
					jQuery('#check-pincode').click();
				},        		
				error: function(e)       
				{	
					console.log(e);	  
				} 	 
			}); 	
			
			
		}); 
	} 
	else
	{
		alert("Sorry, your browser does not support HTML5 geolocation.");
	}
} 


require([
    'jquery'
], function ($) {
				
	jQuery(document).ready(function() 
	{
		jQuery('.block-addresses-list:eq(0)').hide();
      jQuery('.customer-address-index .add:eq(0)').hide(); 
		if(jQuery('body').hasClass('catalog-product-view'))
		{
			
			showPosition();
			 
			/*
			if(jQuery.cookie('positionInfo_lat') == '' || jQuery.cookie('positionInfo_lat') == "undefined" || jQuery.cookie('positionInfo_lat') == "NaN" || jQuery.cookie('positionInfo_lat') == null)  
			{ 
				// Do action;
				showPosition();
			}
			else 
			{
				showPosition();
			}	
			*/
				
		}	 
		 
	}); 	 
	
});	
</script>

<script type="text/javascript">
	require([
		'jquery'
	], function ($) {
		$(document).ready(function(){
			
			//setTimeout(function(){ alert("Hello"); }, 3000);
				var animspeed = 950; // animation speed in milliseconds
	/*
	var maxheight=jQuery('.bigtext').height();
	var minheight=jQuery('.bigtext p').eq(0).height();
  
  var $blockquote = $('.bigtext');
  var height = $blockquote.height();
  var mini = $('.bigtext p').eq(0).height() ; 
  //+ $('.bigtext p').eq(1).height() + $('.bigtext p').eq(2).height() + $('.bigtext p').eq(2).height();
	if(jQuery('body').hasClass('cms-index-index'))
	{  
		$blockquote.attr('data-fullheight','auto');  
	}
	else
	{
		$blockquote.attr('data-fullheight',maxheight+'px'); 
	}		
  $blockquote.attr('data-miniheight',minheight+'px');
  $blockquote.css('height',minheight+'px');
  
  
  */
	jQuery('.bigtext').children().hide();	
	
	if(jQuery('body').hasClass('catalog-category-view'))
	{
		jQuery('.bigtext').find('h1:eq(0)').show();
		jQuery('.bigtext').find('p:eq(0)').show();
	}	
	else
	{	
		jQuery('.bigtext').find('p:eq(0)').show();
	}
	var mini = $('.bigtext p').eq(0).height() ; 
	
	jQuery('.bigtext').css('height',mini);
		
	//jQuery('.bigtext').find('p:eq(0)').show();
	//jQuery('.bigtext').find('h1:eq(0)').show();



	$('.expand').on('click', function(e){
    jQuery('.bigtext').children().show();
	var height=jQuery('.bigtext').removeAttr('style');  
	$(this).addClass('hide');
	jQuery('.contract').removeClass('hide');
  });   
  
  $('.contract').on('click', function(e){
    
	jQuery('.bigtext').children().hide();	
	if(jQuery('body').hasClass('catalog-category-view'))
	{
		jQuery('.bigtext').find('h1:eq(0)').show();
		jQuery('.bigtext').find('p:eq(0)').show();
	}	
	else
	{	
		jQuery('.bigtext').find('p:eq(0)').show();
	}
	
	var mini = $('.bigtext p').eq(0).height() ; 
	
	jQuery('.bigtext').css('height',mini);
	
    $(this).prev('.expand').removeClass('hide');
    $(this).addClass('hide');
  });




  /*
  $('.expand').on('click', function(e){
    $text = $(this).prev();
    
    $text.animate({
      'height': $text.attr('data-fullheight')
    }, animspeed);
    $(this).next('.contract').removeClass('hide');
    $(this).addClass('hide');
  });   
  
  $('.contract').on('click', function(e){
    $text = $(this).prev().prev();
    
    $text.animate({
      'height': $text.attr('data-miniheight')
    }, animspeed);
    $(this).prev('.expand').removeClass('hide');
    $(this).addClass('hide');
  });
  
  */
  
  
  
  
  });
  });
  </script>
