<div class="loader_1">
<span><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/fav-icon.ico'); ?>" alt="loader"></span>
</div>  
<!--
<button type="button" class="getResolution" style="position: absolute;     position: absolute;
    top: 120px;
    Z-INDEX: 999;">Get Resolution</button>
-->
<div class="lanscapedisbaledB">
    <div class="inner-landscapeB">
<h2><img alt="rotaion block" src="https://i.postimg.cc/KKsWmqWB/rotaion-block.png"/></h2><h3>Please rotate your device</h3><p>we don't support landscape mode yet.Please go back to portrait mode for the best experience</p></div>
</div>

 
<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_url=$storeManager->getStore()->getBaseUrl();

$default_billing=0; 
$default_shipping=0;   

$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) 
{
   $user_id=$customerSession->getCustomer()->getId(); 
   $default_billing=$customerSession->getCustomer()->getDefaultBilling(); 
   $default_shipping=$customerSession->getCustomer()->getDefaultShipping(); 
} 



?>
<input type="hidden" id="cust_billing" value="<?php echo $default_billing; ?>">
<input type="hidden" id="cust_shipping" value="<?php echo $default_shipping; ?>"> 

<script type="text/javascript">
		
		function isNumberKey(evt)
		{
		 var charCode = (evt.which) ? evt.which : event.keyCode
		 if (charCode > 31 && (charCode < 48 || charCode > 57))
			return false;

		 return true;
		}
		
	
		function password_toggle()
		{
			var input = jQuery(jQuery(this).attr("toggle"));
			jQuery('#pass').removeAttr('type');
			if(jQuery('#pass').hasClass('show'))		
			{
				jQuery('#pass').removeClass('show');
				jQuery('#pass').attr('type','text');
			} 
			else
			{
				jQuery('#pass').addClass('show'); 
				jQuery('#pass').attr('type','password');
			}		
		}	
	
	
		function restrict_special()
		{
			
			if(jQuery('body').hasClass('checkout-cart-index'))
			{
				jQuery('input.qty').attr('onkeypress','return isNumberKey(event)');
			}
			
			
			jQuery('input').keyup(function()
			{
				
				
				var yourType = jQuery(this).attr('type');
				
				 if(yourType=='email')
				{
					var yourInput = jQuery(this).val();
					re = /[`~!#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi;
					var isSplChar = re.test(yourInput);
					if(isSplChar)
					{
						//var no_spl_char = yourInput.replace(/[`~!#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi, '');
						//jQuery(this).val(no_spl_char);
					}	
				} 
				
				else if(yourType=='password') 
				{
					/* var yourInput = jQuery(this).val();
					re = /[`~!#$%^&*()_|+\-=?;:'",<>\{\}\[\]\\\/]/gi;
					var isSplChar = re.test(yourInput);
					if(isSplChar)
					{
						
					}    */	 
				}
				
				else
				{
					 var yourInput = jQuery(this).val();
					  
 
				}
				
			});	

			jQuery('textarea').keyup(function()
			{ 
				var yourInput = jQuery(this).val();
				re = /[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi;
				var isSplChar = re.test(yourInput);
				if(isSplChar)
				{
					/* var no_spl_char = yourInput.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
					jQuery(this).val(no_spl_char); */
				}
			});	
			
		
			setTimeout(function()
			{
				restrict_special();
			
			}, 100); 
		
		}	

          require([
            'jquery',
            'owl.carousel/owl.carousel.min'
          ], function ($) {
			
			jQuery(document).ready(function()
			{
				jQuery('.pass').remove();	
				setTimeout(function()
				{
				   jQuery('.lanscapedisbaledB').detach().insertBefore(".page-wrapper");
				   //alert('aaaaa'); 
				}, 500);  
				
				
				var cust_billing=jQuery('#cust_billing').val();
				var cust_shipping=jQuery('#cust_shipping').val();
				
				
				var full_url = document.URL; // Get current url
				var url_array = full_url.split('/') // Split the string into an array with / as separator
				var last_segment = url_array[url_array.length-1];  // Get the last part of the array (-1)
				
				if(last_segment=='#payment')
				{
					//window.location.href="https://getmyspares.com/checkout/";	
					return false; 	
				}	 
				 
				//alert(cust_billing);
				//alert(cust_shipping); 
				
				setTimeout(function()
				{
					checkout_refresh(cust_billing,cust_shipping);
				
				}, 250);
				
				setTimeout(function()
				{
					remove_gst();
				
				}, 250);	
			
				
				setTimeout(function()
				{
					jQuery('.filter-options-item').removeClass('allow');
					jQuery('.filter-options-item').removeClass('active'); 
					jQuery('#brands').next('.filter-options-content').hide();
					//alert('aaaaa');  
								
				}, 7000);	      
			
				
				jQuery('#brands_div').find('.filter-options-content').hide(); 
				
				
			});	
			
			
			
			function checkout_refresh(cust_billing,cust_shipping)
			{
				if(jQuery('#checkout-step-payment').hasClass('show'))	
				{
					jQuery('#shipping').addClass('fasaaaa');	
					
					if(jQuery('#shipping').hasClass('fasaaaa'))	
					{
						jQuery('#shipping>a.custom-acc-links').addClass('toggle-class-close');
						jQuery('#shipping').addClass('success');	
						jQuery('#order-summary').addClass('success');	
						
					}	
					else 
					{	
						setTimeout(function()
						{
							checkout_refresh();
						
						}, 250);
					}	
					
				}
				setTimeout(function()
				{
					checkout_refresh();
				
				}, 250);	
				
			}	
			
			
			function remove_gst()
			{
				
				var len=jQuery('#shipping-new-address-form').find('.field').length;
				jQuery('#shipping-new-address-form').find('.field').each(function()
				{
					var name=jQuery(this).attr('name');	
					if(name=='shippingAddress.gstin' || name=='shippingAddress.buyer_gst_number')
					{
						jQuery(this).hide(); 
					}		
					
					
					
				});	
				
				
				setTimeout(function()
				{
					remove_gst();
				
				}, 250);	
				
				
			}	
			
			
			// setTimeout(function()
			// {
			// jQuery(".sell_with_us a").text("Sell With Us");
			
			// }, 250);
			
			
			
			
			setTimeout(function()
			{
				jQuery('#narrow-by-list').find('.filter-options-item').removeClass('active');
				jQuery('#narrow-by-list').find('.filter-options-item:eq(3)').find('.filter-options-content').hide();
				
				jQuery('<i class="fa fa-search" aria-hidden="true"></i>').insertBefore('input.layer-search-box');
				

				
				
			}, 2000);	 
			
			
			setTimeout(function()
			{
				jQuery('.flesh-deals-content').find('a').attr('href','<?php echo $site_url; ?>home-appliances.html');
			}, 1000);	 
			
			
			  
			setTimeout(function()
			{
				restrict_special();
			
			}, 500);
			
			
			
			
			if(jQuery('body').hasClass('mpmassupload-product-profile'))
			{
				//alert('dfr');
				jQuery('.loader_1').remove();
			}
			
			if(jQuery('body').hasClass('customer-account-forgotpassword'))
			{
				//alert('dfr');
				jQuery('.loader_1').remove();
			}  
			
			
			if(jQuery('body').hasClass('shipping-tracking-popup'))
			{
				//alert('dfr');
				jQuery('.loader_1').remove();
			}   
			
			if(jQuery('body').hasClass('customer-account-index')) 
			{
				jQuery('title').empty().append('My Account');
			} 

			if(jQuery('body').hasClass('marketplace-account-invoice')) 
			{
				jQuery('title').empty().append('Marketplace Seller Invoice');
			} 	
			
			
			if(jQuery('body').hasClass('rewards-account-referral')) 
			{
				
				jQuery('title').empty().append('My Reward Points'); 
			}
			
			if(jQuery('body').hasClass('rmasystem-index-index')) 
			{
				
				jQuery('title').empty().append('RMA'); 
			}
			
			if(jQuery('body').hasClass('marketplace-account-dashboard')) 
			{
				jQuery('.mp-sales-widgets').find('.sales:last').hide();
				jQuery('.mp-sales-widgets').find('.sales:last').prev('.sales').hide();
			}
			
			
			// jQuery('.image-field').hide();
			
            jQuery('.rewards-links>li:eq(1)').remove();
			
			
			  
			  
		<?php          
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManager->get('Magento\Customer\Model\Session');
			if($customerSession->isLoggedIn()) {
				// customer login action
		?>
				jQuery('.header.links>li:eq(3)>a').html('Call us');
				var links='<li class="download_app"><a href="#">Download App</a>';
			 
			jQuery(links).insertAfter('li.call_us'); 
			var links='<li class="androld_app"><a href="https://play.google.com/store/apps/details?id=com.panasonic.getmyspares&hl=en" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a>'; 
			 
			jQuery(links).insertAfter('li.download_app'); 
			var links='<li class="apple_app"><a href="https://play.google.com/store/apps/details?id=com.panasonic.getmyspares&hl=en" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a>'; 
			 
			jQuery(links).insertAfter('li.androld_app');
			
			
				
		<?php
			}else{
		?>
				// jQuery('.header.links>li:eq(1)>a').html('Sell with us');
		<?php } ?>
			jQuery('.header.links>li:eq(4)>a').remove();  
			jQuery('.header.links>li:eq(4)>a').html('Call us');  
			jQuery('.header.links>li:eq(2)').addClass('call_us');			
			jQuery('.header.links>li:eq(1)').addClass('sell_with_us');  
			jQuery('.header.links>li.authorization-link').remove();  
			
			 
			
			var links='<li class="download_app"><a href="#">Download App</a>';
			 
			jQuery(links).insertAfter('li.call_us'); 
			var links='<li class="androld_app"><a href="https://play.google.com/store/apps/details?id=com.panasonic.getmyspares&hl=en" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a>'; 
			 
			jQuery(links).insertAfter('li.download_app'); 
			var links='<li class="apple_app"><a href="https://play.google.com/store/apps/details?id=com.panasonic.getmyspares&hl=en" target="_blank"><i class="fa fa-apple" aria-hidden="true"></i></a>'; 
			 
			jQuery(links).insertAfter('li.androld_app');
			
			 
			
			//jQuery('.header.links>li:last').remove();   
			  
     setTimeout(function(){ $('.brands-sliders').owlCarousel('refresh'); }, 7000);
            $(".brands-sliders").owlCarousel({
              autoplay: true,
          autoplayTimeout: 5000,
          autoplayHoverPause: true,
          loop: true,
          navRewind: true,
          margin: 0,
          nav: true,
          navText: ["<em class='porto-icon-left-open-huge'></em>","<em class='porto-icon-right-open-huge'></em>"],
          dots: false,
          responsive: {
            0: {
              items:1
            },
            768: {
              items:2
            },
            992: {
              items:3
            },
            1200: {
              items:4
            }
          }
        });
          
		  
		jQuery('.new-message-block').find('.field:last').hide();  
		  
		setTimeout(function()
		{
		   show_category_count();
		}, 500);     
		
		
		
		if(jQuery('body').hasClass('marketplace-order-view'))
		{
			jQuery('.wk-mp-design').find('.order-actions-toolbar').find('a.action').hide();
		}  
		
		});
    
    
    
		  
	function show_category_count()
	{
		
		var count=jQuery('#toolbar-amount>span').html();
		
		var len=jQuery('#toolbar-amount>span').length;
		
		if(len < 1) 
		{
			count=0;  
		}
		jQuery('.cout').empty().append('     ('+count+' Products Found)'); 
		
		jQuery('input[type=email]').attr('maxlength','70');  
		jQuery('input[name=telephone]').attr('maxlength','10');  
		jQuery('input[name=postcode]').attr('maxlength','6');  
		
		
		
		jQuery('input[name=gstin]').attr('maxlength','15');  
		
		
		jQuery('input[name=telephone]').keyup(function()
		{
			if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'');
		});	  
		
		jQuery('input[name=postcode]').keyup(function()
		{
			if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'');
		});	   
		
		
		setTimeout(function() 
		{
		   show_category_count();
		}, 500);    
	}

		  
		 
		  
        </script> 

  
<?php
    $header_type = $this->getConfig('porto_settings/header/header_type');
    $header_new_skin = $this->getConfig('porto_settings/header/new_skin');
    $class = $header_type == 17 || $header_type == 19 || $header_type == 16 || $header_type == 20 ? 'header-newskin':'';
    if(isset($header_new_skin) && $header_new_skin && ($header_type == 2 || $header_type == 5 || $header_type == 6 || $header_type == 7 || $header_type == 8 || $header_type == 13))
        $class = 'header-newskin';
    if(isset($header_new_skin) && $header_new_skin && $header_type == 10)
        $class = 'header-new-skin';
?>


<?php 


$controller=$this->getRequest()->getControllerName();
    
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
if(!empty($category))
{	
	$category->getId();  
	$category->getName();
	$category->getUrl();

	$category->getParentCategory()->getId();
	$category->getParentCategory()->getUrl();   
	$category->getParentCategory()->getName();      
	   
	
	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
	$catalogSession = $objectManager->get('\Magento\Catalog\Model\Session');
	
	$catalogSession->setCurrentCategoryName($category->getName());
	$catalogSession->setCurrentCategoryUrl($category->getUrl());
	  
	
	$catalogSession->setParentCategoryName($category->getParentCategory()->getName());
	$catalogSession->setParentCategoryUrl($category->getParentCategory()->getUrl());
}
else  
{
	if($controller!='product') 
	{
		$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
		$catalogSession = $objectManager->get('\Magento\Catalog\Model\Session');	
			
			
		$catalogSession->unsCurrentCategoryName(); 
		$catalogSession->unsCurrentCategoryUrl(); 

		$catalogSession->unsParentCategoryName(); 
		$catalogSession->unsParentCategoryUrl(); 
	}  
}	    

	
   
?>     

<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if(!$customerSession->isLoggedIn()) {
?>  
<script type="text/javascript">
require([
	'jquery',
	'jquery/jquery.cookie',
	'domReady!'// wait for dom ready	
], function($){
	var dataForm = jQuery('#login-form');
	jQuery('#login-form').submit(function()
	{
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status==true)
		{
			jQuery('#login-form').find('button[type=submit]').attr('disabled',true);	 
		}   
	});	   
});     

</script>
<?php 
}
else
{	
?>
<script>
require([
    'jquery'
    ], function ($) {
	
		 
	$( document ).ready(function() {

		
      var existCondition = setInterval(function() {
		jQuery('#opc-sidebar').hide();     
		jQuery('.loader').hide();      
		if ($('#shipping').length) { 
			clearInterval(existCondition);
			CustomMyFunction();
        }    
      }, 100);  
	  
		
	});	  
});	  


	


function CustomMyFunction()
{
	jQuery('#opc-sidebar').show();    
	jQuery('html, body').animate({
	   scrollTop: (jQuery('body').offset().top)
	}, 1000);    
}	



</script>
<?php
}
?>



<script>
function remove_item_cart(item_id)	  
{
	
	jQuery('.custom_loader_'+item_id).show();
	
	jQuery.ajax({   	     	
		type: "POST",		
		dataType: 'json',	
		url: "<?php echo $this->getUrl().'customuser/index/removeitemcart'?>", 	
		data: "item_id="+item_id,  
		success: function(result)      
		{      
			var count=result.count_num;
			jQuery('.item_id_'+item_id).remove(); 
			jQuery('.counter-number').empty().append(count);  
			jQuery('.countvalue').empty().append(count);  
			jQuery('.custom_loader_'+item_id).hide();   
			 
			if(count==0)
			{
				window.location.href="<?php echo $this->getUrl(); ?>checkout/cart/";
				return false;
			}    
			
			
			if(jQuery('body').hasClass('checkout-cart-index'))
			{
				jQuery.ajax({   	  	 
					type: "POST",		
					url: "<?php echo $this->getUrl().'customuser/index/cartsummary'?>", 	
					data: "action=OrderSummary",  
					success: function(result)     
					{      
						jQuery('#cart-totals').empty().append(result);	
					},       		
					error: function(e)     
					{	
						console.log(e);	  
					} 	 
				}); 
			}
			else
			{	
			
				jQuery.ajax({   	  	
					type: "POST",		
					url: "<?php echo $this->getUrl().'customuser/index/checkoutsummary'?>", 	
					data: "action=OrderSummary",  
					success: function(result)    
					{      
						jQuery('#opc-sidebar').empty().append(result);	
						
					},       		  
					error: function(e)       
					{ 	
						console.log(e);	   
					}  	  
				}); 
			}
			
 

			
			
			
 		},        	 	    
		error: function(e)      
		{ 	
			console.log(e);	    
		}  	   
	}); 	
}
</script>


<!-- Wishlist -->
<script type="text/javascript">
	require([
		'jquery'
	], function ($) {
		$(document).ready(function(){
			mywishlistt();
		
		});
		function mywishlistt() {
		$('.carousel-add-wishlist').click(function(){
				
				$(this).toggleClass('in_wishlist');
			});
			
	
	}
	});
</script> 
<script>
function addProductToWishlist(product_id) {
	
	jQuery('.loader_1').show();
	jQuery.ajax({   	     	
		type: "POST",		
		dataType: 'json',	
		url: "<?php echo $this->getUrl().'customuser/index/checkwishlist'?>", 	
		data: "product_id="+product_id,  
		showLoader: true, 
		success: function(result)      
		{      
		  
			jQuery('.loader_1').hide(); 
			var count=result.count_num;
			jQuery('.product_id'+product_id).remove(); 
			jQuery('.head_wishlist_count').empty().append(count); 
			// toogle class in_wishlist	
			jQuery(this).addClass("in_wishlist"); 			
			
   
 		},        	 	    
		error: function(e)       
		{ 	
			console.log(e);	    
		}  	   
	}); 	 
}
</script>


<header class="page-header type<?php echo $header_type; ?> <?php echo $class;?>" >
<?php echo $this->getChildHtml("header_customer_form_login"); ?>
<?php if($header_type == 3 || $header_type == 4 || $header_type == 9): ?>
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
        <div class="panel header">
            <div class="top-panel">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("header.links"); ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
            </div>
            <div class="bottom-panel">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php //echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    </div>
<?php elseif($header_type == 12): ?>
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
        <div class="panel header">
            <div class="top-panel">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <div class="top-links-area">
                    <a class="top-links-icon" href="javascript:void(0)">links</a>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <?php echo $this->getChildHtml("custom_block"); ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
            </div>
            <div class="bottom-panel">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php //echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    </div>
<?php elseif($header_type == 13): ?>
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
        <div class="panel header">
            <div class="top-panel">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <div class="menu-area">
                    <a href="javascript:void(0)" class="shop-menu">Shop</a>
                    <?php echo $this->getChildHtml("navigation.sections"); ?>
                </div>
                <div class="top-links-area">
                    <a class="top-links-icon" href="javascript:void(0)">links</a>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <?php if(isset($header_new_skin) && $header_new_skin):?>
                <?php echo $this->getChildHtml("custom_block"); ?>
                <?php endif;?>
            </div>
            <div class="bottom-panel">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php //echo $this->getChildHtml("store_language"); ?>
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    </div>
<?php elseif($header_type == 5): ?>
    <div class="panel wrapper">
        <div class="panel header">
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
            <?php if(isset($header_new_skin) && $header_new_skin):?>
            <div class="top-links-area">
                <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
            <?php echo $this->getChildHtml("custom_block"); ?>
            <?php endif;?>
            <?php if(!isset($header_new_skin) || !$header_new_skin):?>
            <?php echo $this->getChildHtml("header.links"); ?>
            <?php endif;?>
        </div>
    </div>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <?php echo $this->getChildHtml("minicart"); ?>
        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
        <div class="search-area">
            <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
            <?php echo $this->getChildHtml("top.search"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    </div>
<?php elseif($header_type == 6): ?>
    <div class="panel wrapper">
        <div class="panel header">
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
            <?php echo $this->getChildHtml("header.links"); ?>
        </div>
    </div>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <?php echo $this->getChildHtml("minicart"); ?>
        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
        <div class="search-area">
            <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
            <?php echo $this->getChildHtml("top.search"); ?>
        </div>
        <?php echo $this->getChildHtml("custom_block"); ?>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    </div>
<?php elseif($header_type == 7 ): ?>
    <div class="panel wrapper">
        <div class="panel header">
            <?php if(!isset($header_new_skin) || !$header_new_skin): ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php endif; ?>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><em class="porto-icon-search"></em><?php echo __('Search'); ?></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
            <?php if(isset($header_new_skin) && $header_new_skin): ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php endif; ?>
            <span class="split"></span> 
            <div class="toplinks-area">
                <a href="javascript:void(0)" class="top-links-icon"><?php echo __('Links'); ?></a>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
            <span class="split"></span>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
    </div>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    </div>
<?php elseif($header_type == 8): ?>
    <div class="panel wrapper">
        <div class="panel header">
			<?php
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('top_menu_new')->toHtml();
			?> 
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
            <?php echo $this->getChildHtml("header.links"); ?>
			<?php echo $this->getChildHtml("skip_to_content"); ?>
        </div>
    </div> 
	
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
    <?php echo $this->getChildHtml("minicart"); ?>
	<?php
			$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
			$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			    
			?>
        	<?php /*if($customerSession->isLoggedIn()) { ?>Welcome to <?php  echo $customerSession->getCustomer()->getName(); }else {?> <?php }
			*/?>
           
			<?php if($customerSession->isLoggedIn()) { ?>
			<a class="btn legin"  href="#"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" >   <?php echo $customerSession->getCustomer()->getName();?></a>
		      
          
			
			
            <?php }else { ?> 
             <!-- <a class="btn legin" href="<?php echo $baseurl .'login'; ?>"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" > Sign in</a> -->
             <a class="btn legin" href="<?php echo $baseurl .'login'; ?>"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" > Sign in</a>
            <?php
             }
            ?>
      
			
    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>  
    <?php echo $this->getChildHtml("top.search"); ?>
    <?php echo $this->getChildHtml("custom_block"); ?>
    </div>
    <div class="menu-container">
        <?php
            $toggle_text = $this->getConfig('porto_settings/header/toggle_text');
            $custom_block_id_8 =$this->getConfig('porto_settings/header/static_block_8');
        ?>
        <div class="container">
            <div class="menu-wrapper row">
                <div class="drop-menu">
                    <a href="javascript:void(0)">
                        <?php echo $toggle_text; ?>
                    </a>
                    <?php echo $this->getChildHtml("navigation.sections"); ?>
                </div>
                <div class="custom-menu-block">
                <?php
                    $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                    if($block) {
                        $block->setBlockId($custom_block_id_8);
                    }
                    if($block){
                        echo $block->toHtml();
                    }
                ?>
                </div>
            </div>
        </div>
    </div>
<?php elseif($header_type == 10): ?>
    <div class="switcher-area">
        <?php echo $this->getChildHtml("skip_to_content"); ?>
        <?php echo $this->getChildHtml("currency"); ?>
        <?php //echo $this->getChildHtml("store_language"); ?>
        <?php echo $this->getChildHtml("minicart"); ?>
    </div>
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
    <?php if(isset($header_new_skin) && $header_new_skin):?>
    <?php echo $this->getChildHtml("top.search"); ?>
    <?php endif;?>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php if(!isset($header_new_skin) || !$header_new_skin):?>
    <?php echo $this->getChildHtml("top.search"); ?>
    <?php endif;?>
    </div>
    <div class="panel wrapper">
        <div class="panel header">
            <?php echo $this->getChildHtml("header.links"); ?>
        </div>
    </div>
    <div class="custom-block-area">
        <?php echo $this->getChildHtml("custom_block"); ?>
    </div>
<?php elseif($header_type == 14 ): ?>
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
        <div class="panel header">
            <div class="top-panel">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
            <div class="bottom-panel">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php //echo $this->getChildHtml("store_language"); ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml("minicart"); ?>
    </div>
<?php elseif($header_type == 15 ): ?>
    <div class="header content">
    <?php echo $this->getChildHtml("logo"); ?>
        <div class="header-right-area">
            <div class="switcher-area">
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <div class="cart-area">
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php //echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                </div>
            </div>
            <div class="header-link-area">
                <div class="top-links-area panel header">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <div class="main-link">
                    <?php echo $this->getChildHtml("navigation.sections"); ?>
                </div>
            </div>
        </div>
    </div>
<?php elseif($header_type == 2 && isset($header_new_skin) && $header_new_skin): ?>
    <div class="main-panel-top">
        <div class="container">
            <div class="main-panel-inner">
                <div class="panel wrapper">
                    <div class="panel header">
                        <?php echo $this->getChildHtml("skip_to_content"); ?>
                        <?php echo $this->getChildHtml("currency"); ?>
                        <?php //echo $this->getChildHtml("store_language"); ?>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <?php echo $this->getChildHtml("minicart"); ?>
        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
        <?php echo $this->getChildHtml("top.search"); ?>
        <?php echo $this->getChildHtml("custom_block"); ?>
    </div>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
<?php elseif($header_type == 18 ): ?>
    <div class="main-panel-top">
        <div class="container">
            <div class="main-panel-inner">
                <div class="panel wrapper">
                    <div class="panel header">
                        <?php echo $this->getChildHtml("skip_to_content"); ?>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header content">
        <div class="select-area">
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
        </div>
        <?php echo $this->getChildHtml("logo"); ?>
        <?php echo $this->getChildHtml("minicart"); ?>
        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
        <?php echo $this->getChildHtml("top.search"); ?>
    </div>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
<?php elseif($header_type == 20 ): ?>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
        <div class="panel header">
            <div class="top-panel">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php //echo $this->getChildHtml("store_language"); ?>
            </div>
            <div class="bottom-panel">
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <?php echo $this->getChildHtml("custom_block"); ?>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
    </div>
<?php elseif($header_type == 17 ): ?>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <div class="panel header">
            <div class="top-panel">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("custom_block"); ?>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
            </div>
            <div class="bottom-panel">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php //echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("minicart"); ?>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    </div>
<?php elseif($header_type == 19 ): ?>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?>
        <?php echo $this->getChildHtml("minicart"); ?>
        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
        <?php echo $this->getChildHtml("top.search"); ?>
        <div class="panel header">
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
            <div class="top-links-area">
                <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml("navigation.sections"); ?>
<?php else: ?>
    <div class="panel wrapper">
        <div class="panel header">
	
            <span><?php
			echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('top_menu_new')->toHtml();
			?> </span>
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php //echo $this->getChildHtml("store_language"); ?>
            <?php echo $this->getChildHtml("header.links"); ?>
			 
        </div> 
    </div>
    <div class="header content">
	<div class="container">
	<div class="row">
	<div class="col-12">
	<span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
    <?php echo $this->getChildHtml("logo"); ?>
    <?php echo $this->getChildHtml("minicart"); ?>
	<?php
			$objectManagerlogin = \Magento\Framework\App\ObjectManager::getInstance();
			$customerSession = $objectManagerlogin->create('Magento\Customer\Model\Session');
			$baseurl = $objectManagerlogin->get('Magento\Store\Model\StoreManagerInterface')->getStore(0)->getBaseUrl();
			    
			?>
			<?php /* ?>
			
        	<?php if($customerSession->isLoggedIn()) { ?>Welcome to <?php  echo $customerSession->getCustomer()->getName(); }else { ?> <?php }
			?>
			
			<?php */?>
		   
		
			
			
			<?php if($customerSession->isLoggedIn()) { ?>
      <div id="dropdown-1" class="dropdownss dropdown-processed">
    <!-- <a class="btn legin dropdown-linkss" href="javascript:void(0)"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" >   <?php echo $customerSession->getCustomer()->getName();?></a> -->
			   
 <a class="btn legin dropdown-linkss" href="javascript:void(0)"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" ><span class="header-c_name"></span> <!--<span class="sayhi"><?php //echo "Hi," ?></span>--> </a>
			

          

 <div class="dropdown-containerss" style="display: none;">
   <ul>
    <?php if($customerSession->isLoggedIn()) { ?>
    <li><a class="dropdown-item" href="<?php echo $baseurl .'customer/account'; ?>"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/my-account.png'); ?>" alt="image-icon"><span class="header-c_name"></span><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    <?php
    }
    ?>
     <li><a class="dropdown-item" href="<?php echo $baseurl .'sales/order/history'; ?>"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/my-orders.png'); ?>" alt="image-icon"> My Orders</a></li>
     <li><a class="dropdown-item" href="<?php echo $baseurl .'customer/account/edit'; ?>"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/my-profile.png'); ?>" alt="image-icon"> My Profile</a></li>
     <li><a class="dropdown-item" href="<?php echo $baseurl .'wishlist'; ?>"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/wishlist.png'); ?>" alt="image-icon"> Wishlist</a></li>
     <!--<li>   <a class="dropdown-item" href="<?php echo $baseurl ; ?>rewards/account"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/myrewards.png'); ?>" alt="image-icon"> My Rewards</a></li>-->
     <li><a class="dropdown-item" href="<?php echo $baseurl; ?>contact"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/Icons_SVG_help.svg'); ?>" alt="image-icon"> Help & Support</a></li>
     <li><a class="dropdown-item" href="<?php echo $baseurl .'customer/account/logout'; ?>"><img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/sign-out.png'); ?>" alt="image-icon">  Sign Out</a></li>
   </ul>
 </div>
</div>
			
            <?php }else { ?>
             <!-- <a class="btn legin" href="<?php echo $baseurl .'login'; ?>"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" > Sign in</a> -->

             <a class="btn legin" href="<?php echo $baseurl .'login'; ?>"><img src='<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/PersonSymbol.svg'); ?>' alt="image-icon" > Sign in</a>
            <?php
             } 
            ?>
			<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("OM_PushNotification::pushnotification.phtml")->toHtml() ?>
			  
			
			<script>
require([
    'jquery'
], function ($) {
    //jQuery('.toolbar-products:eq(0)').detach().appendTo('.fasortdiv');
$(document).ready(function(){
	$.ajax({
        type: "POST",
        url: "/omrewrite/index/user",
        dataType: "json",
        success: function(response){
        	if(response.cname) {
            	$('.header-c_name').html(response.cname);
        	}
        }
    });
    
	$.ajax({   	    	
		type: "GET",
		dataType: 'json',		
		url: "<?php echo $this->getUrl().'omrewrite/index/cartcount'?>", 	 
		success: function(result)      
		{      
			$(".counter-number").html(result.count);
		}  	   
	});

 $('div.dropdownss').each(function() {
   var $dropdown = $(this);

   $("a.dropdown-linkss", $dropdown).click(function(e) {
     e.preventDefault();
     $div = $("div.dropdown-containerss", $dropdown);
     $div.toggle();
     $("div.dropdown-containerss").not($div).hide();
     return false;
   });

});

 $('html').click(function(){
   $("div.dropdown-containerss").hide();
 });

});
    
    $('input').click(function(){
        //alert('landscapeview alert1');
			$('.lanscapedisbaledB').hide();
		});
    
    $('.field').click(function(){
        //alert('landscapeview alert2');
			$('.lanscapedisbaledB').hide();
		});
     $('.getResolution').click(function(){
            alert("Your screen resolution is: " + screen.width + "x" + screen.height);
        });
    

    
    $(window).bind('orientationchange', function (event) {
        //alert('orientationchange');
        location.reload(true);
    });
    
       $(".notification").click(function(e){
           e.stopPropagation()
          $('.notificationbox').slideDown();
        });
        $(document).click(function () {
            $('.notificationbox').slideUp();
        });
    

  });
</script>
			
					
    
    <?php echo $this->getChildHtml("top.search"); ?>
    <?php echo $this->getChildHtml("custom_block"); ?>
    </div>
	</div>
	</div>
	</div>
	<div class="header-main-nav">
	<div class="container">
	<div class="row">
	<div class="col-12">
	
    <?php   echo $this->getChildHtml("navigation.sections"); ?>
 
	</div>
	</div>
	</div>  
	</div>
<?php endif; ?>
</header>   
<div class="margall"></div>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get('Magento\Framework\App\Action\Context')->getRequest();
$request->getFullActionName();

if ($request->getFullActionName() == 'cms_index_index' || $request->getFullActionName() == 'customer_account_login') {
	
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();   
$customerSession = $objectManager->get('Magento\Customer\Model\Session');	
$customerSession->unsForgetPinJson();
		 
$customerSession->unsForgetOtpCheck();  
$customerSession->unsForgetResendbutton();  

$customerSession->setForgetallwell(1);
$customerSession->unsForgetcountdown();   	 


$customerSession->unsOTPSent();  	
$customerSession->unsCustomerRegData();
$customerSession->unsPinValue(); 
$customerSession->unsOTPFormShow(); 

$customerSession->unsSellerValue();

?>
<script>
				require([
					'jquery'
				], function ($) {
					
					$('.page-header .menu-container .homepageonly').show();
					
					
				});     
			</script>

<?php
}


if ($request->getFullActionName() == 'checkout_index_index') 
{
	$customerSession = $objectManager->create('Magento\Customer\Model\Session');

	if ($customerSession->isLoggedIn()) {
		$user_id=$customerSession->getCustomerId();  
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		
		$sql="delete from customer_selected_pincode where user_id='".$user_id."'"; 
		$connection->query($sql);
	}
	
	$customerSession = $objectManager->create('Magento\Customer\Model\Session');
	$pincode=$customerSession->setNewPostcode(0); 
	
}	




?>

<style>
	.page-header.type1 .minicart-wrapper {display: block;}
    .notification {position: absolute; right: 330px; top: 32px; }
    .notificationbox::-webkit-scrollbar-track{background-color: #f0f3f4;}
    .notificationbox::-webkit-scrollbar{width: 4px;height: 5px;}
    .notificationbox::-webkit-scrollbar-thumb{background-color: #0f58d6;}
    .notification span.Count {background: #f3a626; color: #fff; border: solid 1px #f3a626; position: absolute;
    top: -8px; border-radius: 50%; padding: 1px 5px; line-height: normal; font-size: 10px; font-weight: bold;
    right: -11px;}
    .notificationbox {display: block; background: #fff; position: absolute; right: 30px;  top: 60px;  z-index: 1100;
    padding: 0; border: solid 1px #ddd;  width: 22%; border-radius: 4px; overflow-y: scroll; min-height: 92px; max-height: 560px;}
    .notificationbox .list {padding: 20px;}
    .notificationbox .list:nth-child(odd) {background: #f1f1f1;}
    .notificationbox .list:nth-child(even) {background: #fff;}
    .notificationbox .list h2 {margin: 0;font-size: 16px;  font-weight: 600;  color: #000;  padding-bottom: 5px;}
    .notificationbox .list p {font-size: 14px; color: #000; word-break: break-all;}
    .lanscapedisbaledB {display: none;}  
    @media screen and (orientation:portrait) {
      
    .lanscapedisbaledB {display: none; z-index: -999999 !important;}  
}
    
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 855px)
  and (orientation: landscape) {
        .lanscapedisbaledB {display:block; position: fixed; top: 0px; bottom: 0px; width: 100%;  left: 0px;background: #3f549c; z-index: 999999;}
        .inner-landscapeB { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  text-align: center; color: #fff;}
/*
        .inner-landscape h3{font-size:3rem}
        .inner-landscape p{font-size:1.5rem}
        .page-wrapper{display:none;}
        .inner-landscape img { width: 90px;}
*/
}

/* @media screen and (orientation:landscape) {
        .lanscapedisbaledB {display:block; position: fixed; top: 0px; bottom: 0px; width: 100%;  left: 0px;background: #3f549c; z-index: 999999;}
        .inner-landscapeB { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);  text-align: center; color: #fff;}

        .inner-landscape h3{font-size:3rem}
        .inner-landscape p{font-size:1.5rem}
        .page-wrapper{display:none;}
        .inner-landscape img { width: 90px;}

}
    */

/*For default cart and checkout*/
    .checkout-cart-index .page-main {padding: 0 114px;}
    .checkout-cart-index .breadcrumbs {padding: 0 96px !important;}
    .checkout-cart-index .page-main .page-title {color: #3c3c3c; font-size: 26px; font-weight: 500; padding-top: 20px;}
    .checkout-index-index .authentication-wrapper {display: none;}
    .cart-container .cart-summary {background: #fff; width: 28%; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25); border-radius: 4px;}
    .cart-container .cart-summary button.checkout {background-image: linear-gradient(to right,#5f539b,#5067b3,#35c2cd);
    padding: 6px 32px; color: #fff; border: 0 solid #717171; font-size: 20px; border-radius: 6px !important; font-family: 'Exo'; margin: 0; width: auto; font-weight: 400 !important; height: 56px !important; line-height: 44px !important; margin-right: 15px; width: 100%;}
    .cart-container .cart-summary .summary.title {font-weight: 400; color: #3c3c3c; padding: 15px 0; border-bottom: none; margin: 0; line-height: normal; padding-bottom: 0px; margin-bottom: 15px;}
    .checkout-cart-index form#form-validate {background: #fff; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);  border-radius: 4px;}
    .cart.table-wrapper .cart thead tr th.col {color: #3c3c3c; font-size: 16px; letter-spacing: 0.95px;}
    .checkout-cart-index .cart.table-wrapper .cart > .item .col.item {padding: 10px;}
    .checkout-cart-index .cart.table-wrapper .product-item-name a {font-size: 20px; color: #3d3d3f;}
    .checkout-cart-index .cart.table-wrapper .price-box.price-final_price {margin: 0px;}
    .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp {vertical-align: top;}
 
    .checkout-cart-index .cart.table-wrapper td.col.price .price, .checkout-cart-index .cart.table-wrapper td.col.subtotal .price {color: #2b2b2d; font-size: 20px; font-weight: 500;}
    .cart.table-wrapper .col {vertical-align: top !important;}
    .cart-container .form-cart .actions.main {clear: both;  overflow: hidden; padding: 10px 0 30px 15px;}
    .cart-container .form-cart .actions.main a, .cart-container .form-cart .actions.main button {display: block !important; float: left; height: auto; border: 1px solid #5654a4; border-radius: 7px; font-size: 16px; color: #5654a4; background: 0 0; line-height: normal; padding:10px; margin-right: 20px; transition: .5s all ease;}
    .cart-container .form-cart .actions.main a:hover, .cart-container .form-cart .actions.main button:hover {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); color: #fff; transition: .5s all ease;}
    .checkout-cart-index .cart.table-wrapper .product-item-details {padding-top: 0px !important;}
    .checkout-cart-index #shopping-cart-table .actions-toolbar a span {display: none;}
    .cart.table-wrapper .actions-toolbar a {margin-right: 20px;}
    .cart.table-wrapper .actions-toolbar a:last-child {margin: 0px;}
    .cart.table-wrapper .actions-toolbar a::before {color: #333 !important; font-size: 25px !important;}
    .cart-discount .block.discount .title strong { color: #3c3c3c; font-size: 18px; text-transform: capitalize; font-weight: 500; display: block; margin-bottom: 10px !important;}
    #shopping-cart-table .qty-changer {position: absolute; width: 100%; left: 0px;padding: 10px 0;  font-family: 'Exo' !important; font-weight: 600; }
    #shopping-cart-table .qty-changer a i {color: #000; font-size: 18px;}
    #shopping-cart-table .qty-changer a {border: none;}
    #shopping-cart-table .qty-changer a.qty-inc {float: left;}
    #shopping-cart-table .qty-changer a.qty-dec {float: right;}
    #shopping-cart-table .control.qty input {border: none; font-size: 18px; font-family: 'Exo' !important; font-weight: 600; left: auto; padding-top: 16px; line-height: normal; padding-left: 0px; padding-right: 0px;     border-left: solid 1px #6c6d70; border-right: solid 1px #6c6d70;}
    .cart.table-wrapper .col.qty .field.qty { border: solid 1px #777; border-radius: 4px; width: 95px; position: relative;}
    .cart.table-wrapper .product-item-name {margin-top: 0px;}
    .checkout-container {position: relative;}
    .checkout-index-index .page-main {padding: 0 114px;}
    .checkout-index-index .breadcrumbs {padding-left: 101px !important; padding-bottom: 16px !important;}
    .checkout-index-index #shipping {padding-top: 110px;}
    .checkout-index-index .column.main {background: #fff; padding: 20px 30px;}
    .opc-wrapper .step-title {font-size: 22px; font-weight: 500; border: none; padding: 0; color: #3c3c3c;}
    .opc-progress-bar {width: auto; display: flex; justify-content: space-between; position: absolute; top: 0px;}
    .opc-progress-bar-item._active:before {width: 100%;}
    .opc-progress-bar-item._active:before {background: #333;}
    .opc-progress-bar-item:first-child:before {border-radius: 6px 0 0 6px; width: 100%;}
    .opc-progress-bar-item:before { background: #cecece; top: 16px; content: ''; height: 6px; left: 0; position: absolute; width: 100%;}
    .opc-progress-bar-item._active span {color: #333; border-bottom: none; font-weight: 500; font-size: 16px;}
    .opc-progress-bar-item._active > span:before {background: #333;}
    .opc-progress-bar-item._active > span:after { content: '\f82b'; font-family: 'porto-icons'; line-height: 24px; font-size: 17px; color: #333;}
    .opc-progress-bar-item:last-child:before { width: 100%; left: 0;}
    #checkoutSteps label {color: #3c3c3c; font-size: 15px; font-weight: 500; display: block; float: none;}
    #checkoutSteps .field-tooltip.toggle {display: none;}
    .opc-wrapper .step-title {clear: both;}
    .checkout-shipping-method {clear: both;}
    div#shipping-new-address-form .field.additional {display: none !important;}
    .checkout-index-index fieldset.field.street.admin__control-fields.required {margin-bottom: 0px !important;}
    .opc-wrapper .form-login {border: none; padding-bottom: 0px;}
    .opc-wrapper .form-login .control input {border: solid 1px #5d5d5d !important; border-radius: 4px !important;
    height: auto !important;}
    .opc-wrapper .form-login .actions-toolbar button {background-image: linear-gradient(to right,#5f539b,#5067b3,#35c2cd); padding: 10px 20px; color: #fff; border: 0 solid #717171; font-size: 20px; border-radius: 6px !important; font-family: 'Exo'; margin: 0; width: auto; font-weight: 400 !important; margin-right: 15px;
    line-height: normal; height: auto;}
    .opc-wrapper .form-login .actions-toolbar button span {padding-right: 0px;}
    .checkout-index-index #opc-shipping_method .checkout-shipping-method {padding-top: 20px;}
    .checkout-index-index #opc-shipping_method .checkout-shipping-method .step-title {border-bottom: none;
    padding-bottom: 10px; margin-bottom: 10px;}
    .checkout-index-index .table-checkout-shipping-method {min-width: 100%; border: solid 1px #ddd; border-left: 0px;}
    .checkout-index-index .table-checkout-shipping-method tbody td {padding-top: 18px; font-family: 'Exo' !important;
    font-size: 16px; padding:10px; color: #3c3c3c; border-left: solid 1px #ddd;}
    .checkout-shipping-method .actions-toolbar > .primary {float: none; padding-top: 30px;}
    .checkout-shipping-method .actions-toolbar > .primary button {background-image: linear-gradient(to right,#5f539b,#5067b3,#35c2cd); padding: 10px 20px !important; color: #fff; border: 0 solid #717171; font-size: 20px;  border-radius: 6px !important; font-family: 'Exo';  margin: 0; width: auto; font-weight: 400 !important; margin-right: 15px; line-height: normal !important; height: auto; text-align: center;}
    .checkout-shipping-method .actions-toolbar > .primary button span {padding-right: 0px;}
    .checkout-index-index .opc-block-summary {box-shadow: 0px 2px 5px rgba(0,0,0,.25); border-radius: 4px; background: #fdfdfdee;}
    .checkout-index-index .opc-block-summary span.title {color: #3c3c3c; font-weight: 500;}
    .opc-block-summary .items-in-cart > .title strong {font-size: 16px; font-weight: 500; margin: 0; color: #3c3c3c;
    text-transform: capitalize;}
    .checkout-index-index #payment {padding-top: 100px;}
    .checkout-payment-method .no-payments-block {color: #3c3c3c; font-weight: 600; font-size: 16px; padding-bottom: 10px; margin: 0;}
    .checkout-index-index .data.table.table-totals th {font-weight: 500; padding: 6px 0; color: #3c3c3c; font-size: 14px;}
    .checkout-index-index .data.table.table-totals td {color: #3c3c3c; font-weight: 600;}
    .opc-block-shipping-information .shipping-information-title {color: #3c3c3c; font-weight: 500;}
    .opc-block-shipping-information .shipping-information-content {color: #3c3c3c; font-weight: 500; font-size: 15px;}
    .checkout-index-index .checkout-billing-address .field.choice input, .checkout-index-index .checkout-billing-address .field.choice label {float: left;}
    .checkout-index-index .checkout-billing-address .field.choice {clear: both; overflow: hidden;}
    #co-payment-form .actions-toolbar {padding-bottom: 20px;}
    #co-payment-form .actions-toolbar button {background-image: linear-gradient(to right,#5f539b,#5067b3,#35c2cd);
    padding: 6px 20px; color: #fff; border: 0 solid #717171; font-size: 18px; border-radius: 4px !important; font-family: 'Exo'; margin: 0; width: auto; font-weight: 400 !important; margin-left: 20px; height: auto; line-height: normal;}
    #co-payment-form .actions-toolbar button span {padding-right: 0px;}
    .checkout-agreement.field.choice input {float: left; margin-right: 10px; margin-top: 8px;}
    .new-address-popup button {border: 1px solid #5654a4; border-radius: 4px; font-size: 18px; color: #5654a4;
    background: 0 0; padding: 12px 10px; height: auto; line-height: normal;}
    .opc-wrapper .shipping-address-item.selected-item { border-color: #5654a4; color: #3c3c3c; font-size: 16px;
    width: 50%; margin-top: 30px;}
    .opc-wrapper .shipping-address-item.selected-item:after {background: #5654a4;}
    .checkout-index-index .field-tooltip {display: none;}
    .opc-new-shipping-address .field.choice input {float: left;}
    .checkout-index-index .notification {position: absolute; top: 18px; z-index: 9;}
    .checkout-index-index .header.content #dropdown-1 {top: 8px;}
    .form-address-edit .field .control, div#shipping-new-address-form .field .control {padding-bottom: 5px;}
    #shipping-new-address-form .field-error {position: absolute;}
    #shipping-new-address-form .field-error span {font-size: 12px; font-weight: 500;}
    .checkout-index-index .footer_cart_summary {display: none;}
    .payment-method-billing-address .fieldset.address .field:last-child {display: none;}
    span.max-qty-added {text-align: left; display: block; color: red; line-height: 14px; padding-top: 5px;}
    .export-list-rma {float: right; margin-bottom: 15px; text-align: center; color: #fff; border-radius: 4px; width: 200px;}
    
    .checkout-billing-address {border: solid 1px #44538a;}
    .checkout-billing-address .checkyourbilling {color: #44538a; font-weight: 600; font-size: 16px; letter-spacing: 0.45px;}
    
    .toppromo {top: 0; z-index: 9999; position: fixed; text-align: center; font-size: 15px; width: 100%; color: #fff;
    font-weight: 400; background: #3f549c; padding: 3px 0 0 0; left: 0;}
    .page-header.type1 {top: 29px;}
    .soldbycustominfo {padding-top: 20px;}
    .soldbycustominfo p {font-size: 14px;}
    .soldbycustominfo h3 {font-size: 18px; color: #000; padding-top: 0; margin-top: 0;}
    .soldbycustominfo .solid-by-review {display: none;}
    .alternateparts .owl-prev, .alternateparts .owl-next  {background: none !important;}
    .alternateparts .owl-nav em {color: #333;}
    .alternateparts span {color: #000; font-size: 16px; font-weight: 600;}
    .alternateparts span.pricename {font-weight: 600; display: block; padding-top: 15px; text-decoration: none; clear: both; overflow: hidden; padding-bottom: 5px;}
    .alternateparts span.pricename .price-box.price-final_price {width: 100%;}
    .alternateparts span.pricename span {text-decoration: none;}
    .alternateparts span.pricename .old-price span {text-decoration: line-through;}
    .solid-by-product.alternateparts {top: 150px; width: 40%; right: 0;  padding: 0 40px 20px 40px; border-radius: 8px; z-index: 1;}
    .solid-by-product.alternateparts .owl-stage-outer a {overflow: visible;}
    .solid-by-product.alternateparts h3 {padding-top: 15px; text-transform: capitalize;}
    .solid-by-product.alternateparts .owl-theme .owl-controls {top: 36% !important; width: 100%; transform: translate(-50%, -50%); left: 50%;}
    .product-info-main.producttt .product-reviews-summary {margin-bottom: 15px !important;}
    .header.links .apple_app {display: none !important;}
    .solid-by-product.alternateparts .owl-carousel .owl-item img {width: 250px !important;}
    .solid-by-product.alternateparts .owl-carousel .owl-item {padding: 10px;}
    .solid-by-product.alternateparts .owl-carousel .item {box-shadow: 0 2px 15px 0px rgb(0 0 0 / 10%); padding-top: 15px;}
    .solid-by-product.alternateparts .gms-certified {width: 90px; height: auto; background-size: 100%; margin-left: 0; position: absolute; z-index: 9; right: 25px; top: 30px;}
    .breadcrumbs {margin-top: 40px !important;}
    .free_shipping {margin-bottom: 25px !important;}
    .checkout-index-index .free_shipping {width: 100% !important; margin-bottom: 40px !important;}
    .free_shipping { float: left; width: 100%; line-height: 10px; margin: 10px 0; color: #f3a626;font-weight: 600;font-size: 16px; height: auto; margin-bottom: 30px !important; }
    .checkout-cart-index .page-main .page-title {margin-bottom: 0;}
    .solid-by-product.alternateparts.productpagebanner {box-shadow: 0 2px 15px 0px rgb(0 0 0 / 10%); padding: 10px;}
    .solid-by-product.alternateparts.productpagebanner img {width: 100%;}
    .ordersummytext {color: #f3a626 !important; font-size: 16px; font-weight: 600; padding-left: 0;}
    
    @media (min-width: 320px) and (max-width: 767px) { 
        .cart-container .form-cart .actions.main a, .cart-container .form-cart .actions.main button {margin-bottom: 15px;}
        .cart-container .cart-summary {width: 95%; padding-bottom: 20px; margin-top: 20px;}
        .checkout-cart-index form#form-validate {width: 95%; margin: auto !important;}
        .checkout-cart-index .cart.table-wrapper .product-item-details {padding-top: 14px;}
        .checkout-cart-index .cart.table-wrapper .product-item-name a {font-size: 16px;}
        .cart.table-wrapper .actions-toolbar {margin: 0px !important; padding: 0px !important;}
        .checkout-index-index .column.main {padding: 20px 15px;}
        #checkoutSteps li {padding: 0px;}
        .checkout-shipping-method .actions-toolbar > .primary {text-align: left; padding-top: 0px;}
        .modal-custom.opc-sidebar.opc-summary-wrapper .modal-header {display: none;}
        .checkout-index-index #shipping {padding-top: 50px;}
        .opc-progress-bar {width: 100%;}
        .opc-progress-bar-item:before {top: 26px;}
        .checkout-index-index .field .control._with-tooltip input {height: auto !important; padding: 5px 10px;}
        .table-checkout-shipping-method tbody td {flex: auto;}
        .opc-wrapper .form-login .actions-toolbar {display: flex; justify-content: space-between;}
        .opc-wrapper .shipping-address-item.selected-item {width: 100%;}
        .new-address-popup button span {font-size: 18px !important;}
        .checkout-index-index #payment {padding-top: 50px;}
        .opc-progress-bar-item:last-child:before {width: 60%; right: -32px; left: auto;}
        .cart.table-wrapper {padding-bottom: 20px;}
        span.max-qty-added {position: absolute; bottom: -20px; left: -100px; width: 320px;  white-space: break-spaces;}
        body.checkout-cart-index .cart.table-wrapper .item-info {box-shadow: none;}
        .export-list-rma {float: left; width: auto !important;}
        .hor-scroll {clear: both;}
        .margall {margin-top: 184px;}
        .page-header.type1 {top: 25px;}
        .toppromo {font-size: 14px; background: #283C82;}
        .solid-by-product.alternateparts {top: 0; width: 100%; right: 0; padding-bottom: 80px; position: relative;}
        .alternateparts span.pricename {bottom: -55px;}
        .alternateparts span.proname {bottom: -30px;}
        .owl-item .product-item-photo {height: 250px !important;}
        .free_shipping strong {font-size: 14px;}
        .checkout-index-index  .margall {margin-top: 100px;}
        .checkout-cart-index  .free_shipping {width: 96% !important; margin: auto auto 20px auto !important; clear: both; overflow: hidden; float: none !important;}
    }
/*For default cart and checkout*/
</style>
