<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * BSS Commerce does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * BSS Commerce does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   BSS
 * @package    Bss_AdvancedReview
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile
$_dataHelper = \Magento\Framework\App\ObjectManager::getInstance()->get('Bss\AdvancedReview\Helper\Data');
?>
<?php if ($block->getProductData()->getId()): ?>
<div class="product-review">
    <div class="page-title-wrapper">
        <h1><?php /* @escapeNotVerified */ echo __('Review Details') ?></h1>
    </div>
    <div class="product-img-box">
        <a href="<?php /* @escapeNotVerified */ echo $block->getProductData()->getProductUrl() ?>">
            <?php echo $block->getImage($block->getProductData(), 'product_base_image', ['class' => 'product-image'])->toHtml(); ?>
        </a>
        <?php if ($block->getRating() && $block->getRating()->getSize()): ?>
          <p><?php /* @escapeNotVerified */ echo __('Average Customer Rating') ?>:</p>
          <?php echo $block->getReviewsSummaryHtml($block->getProductData()) ?>
        <?php endif; ?>
    </div>
    <div class="details">
        <h3 class="product-name"><?php echo $block->escapeHtml($block->getProductData()->getName()) ?></h3>
        <h4><?php echo $block->escapeHtml($block->getReviewData()->getTitle()) ?></h4>
        <?php if ($block->getRating() && $block->getRating()->getSize()): ?>
            <h4><?php /* @escapeNotVerified */ echo __('Product Rating:') ?></h4>
            <div class="table-wrapper">
                <table class="data-table review-summary-table">
                    <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Product Rating'); ?></caption>
                    <div class="review-ratings">
                        <?php foreach ($block->getRating() as $_rating): ?>
                            <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                            <span class="label rating-label"><span><?php echo $block->escapeHtml($_rating->getRatingCode()) ?></span></span>
                            <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_rating->getPercent() ?>%">
                                <meta itemprop="worstRating" content = "1"/>
                                <meta itemprop="bestRating" content = "100"/>
                                <span style="width:<?php /* @escapeNotVerified */ echo $_rating->getPercent() ?>%">
                                    <span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $_rating->getPercent() ?>%</span>
                                </span>
                            </div>
                        </div>
                        <?php endforeach; ?>
                    </div>
                </table>
            </div>
        <?php endif; ?>
        <p class="date"><?php /* @escapeNotVerified */ echo __('Product Review (submitted on %1):', $block->dateFormat($block->getReviewData()->getCreatedAt())) ?></p>
        <p><?php echo nl2br($block->escapeHtml($block->getReviewData()->getDetail())) ?></p>
        <?php if($_dataHelper->moduleEnabled()): ?>
            <div class="advancedreview">
                <div class="column-left">
                    <?php if($block->getChildBlock("pros_review_view")) : ?>
                        <?php echo $block->getChildBlock("pros_review_view")->setReviewId($block->getReviewData()->getId())->toHtml()?>
                    <?php endif; ?>
                    <?php if($block->getChildBlock("cons_review_view")) : ?>
                        <?php echo $block->getChildBlock("cons_review_view")->setReviewId($block->getReviewData()->getId())->toHtml()?>
                    <?php endif; ?>
                    <?php if($recommend = $_dataHelper->getValueField($block->getReviewData()->getId())): ?>
                        <p class="review-recommend">                            
                            <span class="review-recommend"><?php /* @escapeNotVerified */ echo __('Would you recommend this product to a friend? ') . $recommend; ?></span>
                        </p>
                    <?php endif; ?>

                    <?php if($socials = $_dataHelper->getSocialSharing($this->getUrl('*/*/*', ['id' => $block->getReviewData()->getId()]), $block->getReviewData()->getTitle())): ?>
                        <p class="social-share">
                            <?php foreach($socials as $social): ?>
                                <a href="<?php echo $social['url']?>" target="_blank">
                                    <img src="<?php echo $social['img']?>" width="40" height="40" alt="<?php echo $social['alt']?>" title="Share with <?php echo $social['alt']?>"/>
                                </a>
                            <?php endforeach; ?>   
                            <span><?php echo __('Share this review') ?> </span>
                        </p>
                    <?php endif; ?>
                </div>
                <div class="column-right">
                                        
                    <?php if($_dataHelper->enableHelpfulness() && $block->getChildBlock("helpfulness_view")): ?>
                    <div class="review-helpfulness">
                        <?php echo $block->getChildBlock("helpfulness_view")->setReviewId($block->getReviewData()->getId())->toHtml()?>
                    </div>
                    <?php endif; ?>
                    
                    <?php if($_dataHelper->enableReport() && $block->getChildBlock("report_review_view")): ?>
                    <div class="abuse_report_bss" style="display:block; float:right; margin-bottom: 4px;">
                        <?php echo $block->getChildBlock("report_review_view")->setReviewId($block->getReviewData()->getId())->toHtml()?>
                    </div>
                    <?php endif; ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
    <div class="actions">
        <div class="secondary">
            <a class="action back" href="<?php /* @escapeNotVerified */ echo $block->getBackUrl() ?>">
                <span><?php /* @escapeNotVerified */ echo __('Back to Product Reviews') ?></a></span>
            </a>
        </div>
    </div>
</div>
<?php endif; ?>
