<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
 

$sql = "Select * FROM ar_report";
$results = $connection->fetchAll($sql);        


echo '
<table border="1"  id="example"> 
<thead>
<tr> 
	<th>Order Id</th>
	<th>Invoice Id</th>
	<th>Created Date</th>
	<th>Amount</th>
	<th>Buyer Name</th>
	<th>Buyer Address</th>
</tr>
</thead>
<tbody>
';

foreach($results as $row)
{

	
	echo '
	<tr>
		<td>'.$row['order_inc_id'].'</td>
		<td>'.$row['invoice_id'].'</td>
		<td>'.$row['order_created_at'].'</td>
		<td>'.$row['order_grand_total'].'</td>
		<td>'.$row['buyer_name'].'</td>
		<td>'.$row['buyer_address'].'</td>
					
		 
	</tr>';	 
					
} 


echo '
</tbody>
</table>

';

echo '
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';

echo '
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

'; 

echo '<script>
$(document).ready( function () {
	$("#example").DataTable( {
		dom: "Bfrtip",
		buttons: [
			{ extend: "excel", text: "Export In Excel" }
		],
		"pageLength": 100
	} ); 
} );
</script>


';	
?>