<?php


$now = date('Y-m-d H:i:s');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collectionfirst =$objectManager->create('Magento\Catalog\Model\Product')->getCollection();            
$collectionfirst->addAttributeToSelect('special_from_date')
->addAttributeToSelect('special_to_date')
->addAttributeToFilter('special_price', ['neq' => ''])
->addAttributeToFilter(
		'special_from_date',
		['lteq' => date('Y-m-d H:i:s', strtotime($now))]
	)

 ->addAttributeToFilter(
		'special_to_date',
		['gteq' => date('Y-m-d H:i:s', strtotime($now))]

);
$excitingDeals = $collectionfirst->getData();



foreach ($excitingDeals as $product){
	$ex_product[]=$product['entity_id'];
}








		$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$site_url=$storeManager->getStore()->getBaseUrl();
		
		$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');
		$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
     $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$cart = $objectManager->get('\Magento\Checkout\Model\Cart'); 
 $custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');
// get quote items collection
$itemsCollection = $cart->getQuote()->getItemsCollection();
 
// get array of all items what can be display directly
$itemsVisible = $cart->getQuote()->getAllVisibleItems();
 
// get quote items array
$items = $cart->getQuote()->getAllItems();

	/* foreach($items as $item) 
	{
		echo 'ID: '.$item->getProductId().'<br />';
		echo 'Name: '.$item->getName().'<br />';
		echo 'Sku: '.$item->getSku().'<br />';
		echo 'Quantity: '.$item->getQty().'<br />';
		echo 'Special Price: '.$item->getPrice().'<br />';
		echo 'Original Price: '.$item->getRowTotalInclTax().'<br />';
		echo "<br />";            
	}
		
		 echo "tester";
		 die(); */ 
		// get quote items collection
		$itemsCollection = $cart->getQuote()->getItemsCollection();
		 
		// get array of all items what can be display directly
		$itemsVisible = $cart->getQuote()->getAllVisibleItems();
		 
		// get quote items array
		$items = $cart->getQuote()->getAllItems();
		
		$productNamee=''; 
		
		foreach($items as $item) {
			$product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId()); 
			$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
			$productNamee .= $product->getName().',';
		}	
		
		$act_product_name=substr($productNamee,0,-1);
		
		/*
		echo '
		<div class="order_summary_box">
		<div class="tab-heading-custom"><a href="javascript:void(0);" onclick="slide(3);" >Order Summary</a><p class="selected_product">'.$act_product_name.'</p></div>
		<div class="tab-content-custom">'; 
		 
		*/  
		
		?>
		<div class="tab-content-custom">
		<?php
		
		foreach($items as $item) 
		{
			/* echo 'ID: '.$item->getProductId().'<br />';
			echo 'Name: '.$item->getName().'<br />';
			echo 'Sku: '.$item->getSku().'<br />';
			echo 'Quantity: '.$item->getQty().'<br />';
			echo 'Special Price: '.$item->getPrice().'<br />';
			echo 'Original Price: '.$item->getRowTotalInclTax().'<br />';
			echo "<br />";    */    
			
			
			
			$item_id=$item->getId();
			$item->getProductId();
			
			$specialprice=$custom_helpers->get_product_special_price($item->getProductId());
			
			$product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId()); 
			$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
			  
			$productImageUrl = $store->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'catalog/product' . $product->getImage('small');
			$productUrl  = $product->getProductUrl();

			$specialprice = $product->getSpecialPrice();
			$orgprice = $product->getPrice();
			$product_name = $product->getName();
			
			$specialfromdate = $product->getSpecialFromDate();
			$specialtodate = $product->getSpecialToDate();
			$today = time();		
			
			$specialprice=$item->getPrice();
			$orgprice=$item->getRowTotalInclTax(); 
			$specialprice=$custom_helpers->get_product_special_price($item->getProductId());
			
			
			
?> 
		<div class="product-item-list item_id_<?php echo $item_id; ?>">
				<div class="product-thumb-qty">
					<div class="prod_image">
						<img src="<?php echo $productImageUrl;?>"> 
					</div>
					
				</div>
				<div class="product-des-custom">
				<div class="prod_name"><?php echo $product_name; ?></div>
				<div class="prod_price">
				<?php
				if(!empty($ex_product)){
					if(in_array($item->getProductId(), $ex_product)) 
					{
						
						$orgprice = $product->getPrice();
						$specialprice=$custom_helpers->get_product_special_price($item->getProductId());
						if ($specialprice < $orgprice) 
						{
							
							$sale = round((($orgprice-$specialprice)/$orgprice)*100);
							
							$orgprice=number_format($orgprice, 2, '.', '');
							$specialprice=number_format($specialprice, 2, '.', '');
							?>
							<span>₹ <?php echo $specialprice; ?></span>
							<span class="prod_price_old">₹<?php echo $orgprice; ?></span>
							<span class="prod_off_persent"><?php echo $sale;?>% off</span> 
							<?php
							
							
						}
					}
					else
					{
						$orgprice=number_format($orgprice, 2, '.', '');
					?>
						<span>₹ <?php echo $orgprice; ?></span>	
					<?php
					}	
				}
				else
				{
					$orgprice=number_format($orgprice, 2, '.', '');
				?>
					<span>₹ <?php echo $orgprice; ?></span>	
				<?php
				}
				
				
				
				?>
				</div>
				<div class="prod_qty"><?php echo $item->getQty(); ?></div>
					<div class="go_to_cart">
						<a href="<?php echo $site_url;?>checkout/cart/">Go to Cart</a>
						<a href="javascript:void(0);" onclick="remove_item_cart('<?php echo $item_id; ?>');" title="Remove">Remove</a>   	
						<div class="custom_loader_product_remove custom_loader_<?php echo $item_id; ?>" style="display:none;">
							<img src="<?php echo $this->getViewFileUrl('Panasonic_CustomUser::images/loader.gif'); ?>">
						</div>  
					</div>  
			</div>
		</div>
	
			
<?php
	}
?>
	<div class="card_bottom">
		
	
	<a class="continue_shopping action apply primary" href="/" title="Continue Shopping">CONTINUE SHOPPING</a>
	<a class="proceed_payment action apply primary" href="javascript:void(0);" onclick="show_shipping_method();">PROCEED TO PAYMENTS</a>
	</div>
	<!--<a href="javascript:void(0);" class="btn-gradent" onclick="show_shipping_method();">Next</a>-->
 
	</div>