<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$FormKey = $objectManager->get('Magento\Framework\Data\Form\FormKey'); 
$form_key=$FormKey->getFormKey();
?>
<div class="row newacuntt">
<div class="block block-customer-login">
   
    <form class="form form-login"
              action="<?php echo $this->getUrl(); ?>customuser/index/checkoutcheckuserlogin"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>  
	<input type="text" name="formkey" value="<?php echo $form_key; ?>"
	<fieldset class="fieldset login" data-hasrequired="'* Required Fields'"> 
                <div class="field note">If you have an account, sign in with your email address.</div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="email" autocomplete="off" id="email" type="email" class="input-text" title="Email" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span>Password</span></label>
                    <div class="control">
                        <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" data-validate="{required:true}">
                    </div>
                </div>
             
                <div class="actions-toolbar">
                    <div class="primary">
						<button type="submit" class="action login primary" name="send" id="send2"><span>Sign In</span></button>
					</div>
                </div>
            </fieldset>
	</form>		  
</div>
</div>

<script type="text/javascript">
require(['jquery','mage/validation'], function(jQuery){
	var dataForm = jQuery('#login-form');   
	/* dataForm.mage('validation', {});
	$('button#otp_submit_form').click( function() { //can be replaced with any event
		var status = dataForm.validation('isValid'); //validates form and returns boolean
		if(status)   
		{          
			jQuery('.cancel_me').remove();
		}        
		else  
		{ 
			console.log('form is not validated');
		}  
	}); */
}); 







</script>

