<?php

		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		
	
		
		$user_id=preg_replace("/[^a-zA-Z 0-9]+/", "", $_POST['user_id'] ); 
		$security=preg_replace("/[^a-zA-Z 0-9]+/", "",$_POST['security'] );  
		
		$admin_id=base64_decode($security);
		
		
		$select = $connection->select()
                  ->from('admin_user') 
                  ->where('user_id = ?', $admin_id);
                  
		$result = $connection->fetchAll($select);
		if(empty($result))
		{
			die;	
		}	
		
		/*  echo "<pre>";
		print_r($edit_account);
		echo "</pre>";  */
		
		$customerId=$user_id;
		
		
		
		
		?>    
		
		
		
		<h2>Current Information</h2>
		
		<table class="table">		
			
			<?php
			$company_nam='';
			
			
			$select = $connection->select()
                  ->from('customer_entity_varchar') 
                  ->where('entity_id = ?', $user_id)
                  ->where('attribute_id = ?', '173');
                  
			$result = $connection->fetchAll($select);
			 
			
			/* echo "<pre>"; 
			print_r($result); 
			echo "</pre>"; */
			
			$count=count($result);
			if($count!=0)
			{  
				$company_nam=preg_replace("/[^a-zA-Z 0-9]+/", "",$result[0]['value']); 
			}  
			?>
			<tr>
				<th>Company Name</th>
				<td><?php echo $company_nam; ?></td>
			</tr>	
			<?php
			$company_add='';
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
			$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
			$connection = $resource->getConnection();
			 
			
			$select = $connection->select() 
                  ->from('customer_entity_text') 
                  ->where('entity_id = ?', $customerId)
                  ->where('attribute_id = ?', '174');
                  
		
			$result = $connection->fetchAll($select);
			 
			
			$count=count($result);
			if($count!=0)
			{
				$company_add=preg_replace("/[^a-zA-Z 0-9]+/", "",$result[0]['value']);
			} 
			?>
			<tr>
				<th>Company Address</th>
				<td><?php echo $company_add; ?></td>
			</tr>	
			<?php
			$gst_number='';
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
			$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
			$connection = $resource->getConnection();
			
			
			
			$select = $connection->select()
                  ->from('customer_entity_varchar') 
                  ->where('entity_id = ?', $customerId)
                  ->where('attribute_id = ?', '172');
                  
			$result = $connection->fetchAll($select);
			
			
			$count=count($result);
			if($count!=0)
			{
				$gst_number=preg_replace("/[^a-zA-Z 0-9]+/", "",$result[0]['value']);
			} 
			?>
			<tr>
				<th>GST</th>
				<td><?php echo $gst_number; ?></td>
			</tr>	
			<?php
			$pan_number='';
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
			$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
			$connection = $resource->getConnection();
			
			
			$select = $connection->select()
                  ->from('customer_entity_varchar') 
                  ->where('entity_id = ?', $customerId)
                  ->where('attribute_id = ?', '175');
                  
			$result = $connection->fetchAll($select);
			
			
			$count=count($result);
			if($count!=0)
			{
				$pan_number=preg_replace("/[^a-zA-Z 0-9]+/", "",$result[0]['value']);
			} 
			?>
			<tr>
				<th>PAN</th> 
				<td><?php echo $pan_number; ?></td>
			</tr>	
			<?php
			$tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
			$seller_zipcode=$tax_helpers->get_seller_zipcode($customerId);
			if($seller_zipcode==0)
			{
				$seller_zipcode='';	  
			}  
			?> 
			<tr>
				<th>Zipcode</th> 
				<td><?php echo $seller_zipcode; ?></td>
			</tr>	
			
			
		 		       
			               
		</table>  
		
		<?php
		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();
		
		
		
		$select = $connection->select()
                  ->from('custom_user_edit_account') 
                  ->where('user_id = ?', $user_id);
                
        $result = $connection->fetchAll($select);  
		
		
		$resultd=$result[0];
		$edit_account=json_decode($resultd['edit_account']);
		$status=$resultd['status'];
		
		$zipcode=0; 
		if(!empty($edit_account->seller_zipcode))
		{
			$zipcode=$edit_account->seller_zipcode;	
		}	
		
		?>
		<h2>Requested Information</h2>
		
		<table class="table">		
			
			
			<tr>
				<th>Company Name</th>
				<td><?php echo $edit_account->company_nam; ?></td>
			</tr>	
			<tr>
				<th>Company Address</th>
				<td><?php echo $edit_account->company_add; ?></td>
			</tr>	
			<tr>
				<th>GST</th>
				<td><?php echo $edit_account->gst_number; ?></td>
			</tr>	
			<tr>
				<th>PAN</th> 
				<td><?php echo $edit_account->pan_number; ?></td>
			</tr>	
			<tr>
				<th>Zipcode</th> 
				<td><?php echo $zipcode; ?></td> 
			</tr>	
			 
			  
			<tr>
				<th>Status</th> 
				<td>
					<select name="curr_status">   
						<option value="">Select Option</option>
						<option value="0" <?php if($status==0) { echo 'selected'; } ?>>Pending</option>
						<option value="1" <?php if($status==1) { echo 'selected'; } ?>>Approved</option>
						<option value="2" <?php if($status==2) { echo 'selected'; } ?>>Rejected</option>
					</select>
				</td>  
			</tr>	       
			               
		</table>     
		<button type="button" class="save_admin_account btn btn-primary" onclick="savechangeUserData('<?php echo $user_id; ?>');">Submit</button>
		  
		