<?php
$html = ' 
<html>
<head>  
<style>
table{
font-size:10px;

border-collapse: collapse;

}

table tr th{
vertical-align:top;

}
table tr th{
	font-size:10px;
}

table tr th, table tr td{
    padding:2px;
    border:1px solid  #a7a7a7;
}
</style>
</head>
<body style="font-family: Open Sans, sans-serif;font-size:10px;" >';
$html .='</div> 
	<table style="width:100%;">
	<thead>
		<tr>
			
			<th>Length</th>
			<th>Width</th>
			<th>Cubic Sq Ft</th>
			<th>Cubic Sq Ft + 5%</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Length</td>
			<td>Width</td>
			<td>Cubic Sq Ft</td>
			<td>Cubic Sq Ft + 5%</td>	
		</tr>
	</tbody>
	</table>
	
'; 
                       

$html .='</body></html>';

//echo $html;
//die;
 


//==============================================================
//==============================================================
//==============================================================
include(getcwd()."/pdf/mpdf.php"); 

$mpdf=new mPDF('c','A4-L','','',32,25,27,25,16,13);  

$mpdf->SetDisplayMode('fullpage');

$mpdf->list_indent_first_level = 0;	// 1 or 0 - whether to indent the first level of a list

// LOAD a stylesheet
//$stylesheet = file_get_contents('mpdfstyletables.css');
//$mpdf->WriteHTML($stylesheet,1);	// The parameter 1 tells that this is css/style only and no body/html/text

$mpdf->WriteHTML($html);
 
//$mpdf->Output($price_name.'.pdf','D');
$mpdf->Output('asd.pdf','I');
exit;


?>
