<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();


$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerObj = $objectManager->create('Magento\Customer\Model\Customer')
->getCollection()->getData();
/*  echo "<pre>";
print_r($customerObj); */


foreach($customerObj as $row)
{
	$customer_id=$row['entity_id'];	
	
	$select = $connection->select()
                  ->from('marketplace_userdata') 
                  ->where('seller_id = ?', $customer_id)
                  ->where('is_seller = ?', 1);
                  
    $result = $connection->fetchAll($select);

	if(!empty($result))
	{
		$sellerArray[]=$customer_id; 
	}
	
	
}	

if(!empty($sellerArray))
{
 	
?>
<table>
<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Order</th>
</tr>
	<?php
	foreach($sellerArray as $seller_id)
	{
		$customer = $objectManager->get(
			'Magento\Customer\Model\Customer'
		)->load($seller_id); 
	?>
	<tr>
		<td><?php echo $customer->getId(); ?></td>
		<td><?php echo $customer->getName(); ?></td>
		<td><a href="">View</a></td>
	</tr>
	<?php
	}
	?>
</table>
<?php
}
?>