<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data'); 
$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');
$data_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data'); 

$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();

$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) {
    $customer_id= $customerSession->getCustomer()->getId();
} 

$countryCode = 'IN';
$country = $objectManager->get('\Magento\Directory\Model\Country');
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$regionCollection = $country->loadByCode($countryCode)->getRegions();
$region_array = $regionCollection->loadData()->toOptionArray(false);
$i = 0;
foreach($region_array as $region){
	if($i>0){
		$region_arr['value']= $region['value'];
		$region_arr['title']= $region['title'];
		$region_arr['country_id']= $region['country_id'];
		$region_arr['label']= $region['label'];
		$data[] = $region_arr;
	}
	$i++;
}



$action=$_POST['action'];
if($action=="editaddress") 
{
$row=preg_replace("/[^a-zA-Z 0-9]+/", "",$_POST['row']);

$select = $connection->select() 
	  ->from('customer_address_entity') 
	  ->where('parent_id = ?', $customer_id); 

$result = $connection->fetchAll($select);

$billing_id=preg_replace("/[^a-zA-Z 0-9]+/", "",$result[$row]['entity_id']); 

$firstname=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'firstname')); 
$lastname=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'lastname')); 
$mobile=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'telephone')); 
$street=$custom_helpers->shipping_address_billing_id($billing_id,'street');  
$city=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'city')); 
$region=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'region')); 
$region_id=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'region_id')); 
$country=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'country_id')); 
$pincode=preg_replace("/[^a-zA-Z 0-9]+/", "",$custom_helpers->shipping_address_billing_id($billing_id,'postcode')); 


$streetArray=explode(PHP_EOL,$street);

$street_1='';
$street_2='';
$street_3='';

if(!empty($streetArray[0]))
{
	$street_1=$streetArray[0];	
}
if(!empty($streetArray[1]))
{
	$street_2=$streetArray[1];	
}	
if(!empty($streetArray[2]))
{
	$street_3=$streetArray[2];	
}





?>
<form class="form-address-edit" action="" method="post" id="custom-form-validate" enctype="multipart/form-data">
<input type="hidden" name="address_id" value="<?php echo $billing_id; ?>"> 
<input type="hidden" name="user_id" value="<?php echo $customer_id; ?>"> 
    <div class="fieldset row">   
        <div class="col-sm-6 col-lg-6">
			<div class="field field-name-firstname required">
				<label class="label" for="firstname"><span>First Name</span></label>
				<div class="control">
					<input type="text" value="<?php echo $firstname; ?>" id="firstname" name="firstname" title="First Name" class="input-text validate-length maximum-length-20 required-entry" data-validate="{required:true}" maxlength="20" aria-required="true">
				</div>
			</div>
		</div> 
		<div class="col-sm-6 col-lg-6">
			<div class="field field-name-lastname required">
				<label class="label" for="lastname"><span>Last Name</span></label>
				<div class="control">
					<input type="text" id="lastname" value="<?php echo $lastname; ?>" name="lastname" title="Last Name" class="input-text validate-length maximum-length-20 required-entry" data-validate="{required:true}" maxlength="20" aria-required="true">
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="field field-name-lastname required">
				<label class="label" for="telephone"><span>Mobile</span></label>
				<div class="control">
					<input type="text" id="telephone" value="<?php echo $mobile; ?>" name="telephone" title="Last Name" class="input-text validate-length maximum-length-20 required-entry" data-validate="{required:true}" maxlength="20" aria-required="true">
				</div>
			</div>  
		</div>
		<div class="col-sm-6 col-lg-6">
		<div class="field city required">
            <label class="label" for="city"><span>City</span></label>
            <div class="control">
                <input type="text" name="city" value="<?php echo $city; ?>" title="City" class="input-text required-entry" id="city" aria-required="true">
            </div>
        </div> 
		</div>
		<div class="col-12">
			<div class="field street required">
				<label for="street_1" class="label">
					<span>Street Address</span>
				</label>
				<div class="control">
					<input type="text" name="street[]" value="<?php echo $street_1; ?>" title="Street Address" id="street_1" class="input-text required-entry" aria-required="true">
					<div class="nested">
						<div class="field additional">
							<label class="label" for="street_2">
								<span>Street Address 2</span>
							</label>
							<div class="control">
								<input type="text" name="street[]" value="<?php echo $street_2; ?>" title="Street Address 2" id="street_2" class="input-text " aria-required="true">
							</div>
						</div>
						<div class="field additional">
							<label class="label" for="street_3">
								<span>Street Address 3</span>
							</label>
							<div class="control">
								<input type="text" name="street[]" value="<?php echo $street_3; ?>"  title="Street Address 3" id="street_3" class="input-text " aria-required="true">  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
		<div class="field region required">
            <label class="label" for="region_id">
                <span>State/Province</span>
            </label>
            <div class="control">
                <select name="region_id" title="State/Province" class="validate-select required-entry select-text" aria-required="true">
					<?php
					foreach($data as $row)
					{
					?>
					<option value="<?php echo $row['value']; ?>" <?php if($region_id==$row['value']) { echo 'selected';  } ?> ><?php echo $row['label']; ?></option>       
					<?php	 
					}	 
					?> 
				</select>
			</div>		
		</div>	 
		</div>
		<div class="col-12">
		<div class="field zip required">
            <label class="label" for="zip">
                <span>Zip/Postal Code</span>
            </label>
            <div class="control">
                <input type="text" name="postcode" value="<?php echo $pincode; ?>" title="Zip/Postal Code" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="6" id="zip" class="input-text validate-zip-international required-entry" aria-required="true"> 
            </div>
        </div>	
		</div>
	</div>
	<div class="custom_modal_footer">
		<button type="submit" id="custom_edit_submit" class="btn btn-save" data-action="update-address" title="Update Address">Update</button>
		<!--<button type="button" class="btn btn-cancel">Cancel</button>--> 
	</div>
</form>   

<script type="text/javascript">
require([
	'jquery',
	'jquery/jquery.cookie',
	'domReady!'// wait for dom ready	
], function($){
	var dataForm = jQuery('#custom-form-validate');
	jQuery('#custom-form-validate').submit(function()
	{
		var status = dataForm.validation('isValid');  
		if(status==true)  
		{
			jQuery('#custom_edit_submit').attr('disabled',true);
			var form = dataForm 
			jQuery.ajax({   	  	 
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/updatecustomeraddress'?>", 	
				data: form.serialize(),
				success: function(result)      
				{      
					alert('Address Saved'); 
					location.reload();	
				},         		 
				error: function(e)     
				{	
					console.log(e);	  
				} 	 
			});  
		}
		
		return false;
		 
	});	   
});     

</script>
<?php
}
else
{	
?>
<form class="form-address-edit" action="" method="post" id="custom-form-validate" enctype="multipart/form-data">
<input type="hidden" name="user_id" value="<?php echo $customer_id; ?>"> 
<input type="hidden" name="custom_region">  
    <div class="fieldset row">   
        <div class="col-sm-6 col-lg-6">
			<div class="field field-name-firstname required">
				<label class="label" for="firstname"><span>First Name</span></label>
				<div class="control">
					<input type="text"  id="firstname" name="firstname" title="First Name" class="input-text validate-length maximum-length-20 required-entry" data-validate="{required:true}" maxlength="20" aria-required="true">
				</div>
			</div>
		</div> 
		<div class="col-sm-6 col-lg-6">
			<div class="field field-name-lastname required">
				<label class="label" for="lastname"><span>Last Name</span></label>
				<div class="control">
					<input type="text" id="lastname"  name="lastname" title="Last Name" class="input-text validate-length maximum-length-20 required-entry" data-validate="{required:true}" maxlength="20" aria-required="true">
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-6">
			<div class="field field-name-lastname required">
				<label class="label" for="telephone"><span>Mobile</span></label>
				<div class="control">
					<input type="text" id="telephone"  name="telephone" title="Last Name" class="input-text validate-length maximum-length-20 required-entry" data-validate="{required:true}" maxlength="20" aria-required="true">
				</div>
			</div>  
		</div>
		<div class="col-sm-6 col-lg-6">
		<div class="field city required">
            <label class="label" for="city"><span>City</span></label>
            <div class="control">
                <input type="text" name="city"  title="City" class="input-text required-entry" id="city" aria-required="true">
            </div>
        </div> 
		</div>
		<div class="col-12">
			<div class="field street required">
				<label for="street_1" class="label">
					<span>Street Address</span>
				</label>
				<div class="control">
					<input type="text" name="street[]"  title="Street Address" id="street_1" class="input-text required-entry" aria-required="true">
					<div class="nested">
						<div class="field additional">
							<label class="label" for="street_2">
								<span>Street Address 2</span>
							</label>
							<div class="control">
								<input type="text" name="street[]"  title="Street Address 2" id="street_2" class="input-text " aria-required="true">
							</div>
						</div>
						<div class="field additional">
							<label class="label" for="street_3">
								<span>Street Address 3</span>
							</label>
							<div class="control">
								<input type="text" name="street[]"  title="Street Address 3" id="street_3" class="input-text " aria-required="true">  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
		<div class="field region required">
            <label class="label" for="region_id">
                <span>State/Province</span>
            </label>
            <div class="control">
                <select name="region_id" id="custom_region_id" title="State/Province" class="validate-select required-entry select-text" aria-required="true" onchange="select_region();">
					<?php
					foreach($data as $row)
					{
					?>
					<option value="<?php echo $row['value']; ?>"><?php echo $row['label']; ?></option>       
					<?php	 
					}	 
					?> 
				</select>
			</div>		
		</div>	 
		</div>
		<div class="col-12">
		<div class="field zip required">
            <label class="label" for="zip">
                <span>Zip/Postal Code</span>
            </label>
            <div class="control">
                <input type="text" name="postcode" title="Zip/Postal Code" onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" maxlength="6" id="zip" class="input-text validate-zip-international required-entry" aria-required="true"> 
            </div>
        </div>	
		</div>
	</div>
	<div class="custom_modal_footer"> 
		<button type="submit" id="custom_edit_submit" class="btn btn-save" data-action="update-address" title="Update Address">Update</button>
		<!--<button type="button" class="btn btn-cancel">Cancel</button>--> 
	</div>
</form> 

<script type="text/javascript">

function select_region()
{
	
	var txt=jQuery("#custom_region_id option:selected" ).text();
	jQuery('input[name=custom_region]').val(txt);  
}	  


require([
	'jquery',
	'jquery/jquery.cookie',
	'domReady!'
], function($){
	var dataForm = jQuery('#custom-form-validate');
	jQuery('#custom-form-validate').submit(function()
	{
		var status = dataForm.validation('isValid');  
		if(status==true)  
		{
			jQuery('#custom_edit_submit').attr('disabled',true);
			var form = dataForm  
			jQuery.ajax({   	  	 
				type: "POST",		
				url: "<?php echo $this->getUrl().'customuser/index/insertcustomeraddress'?>", 	
				data: form.serialize(), 
				success: function(result)      
				{      
					alert('Address Added');  
					location.reload();	
				},         		    
				error: function(e)     
				{	
					console.log(e);	  
				} 	 
			});  
		}
		 
		return false;
		 
	});	   
});     

</script>
  
<?php
}
?>
