<?php

		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
        
        
        $sql = "Select * FROM taxation_report order by id desc";
        $results = $connection->fetchAll($sql);        
       
	   
		
		echo '
		
		 
		<table border="1"  id="example"> 
		<thead>
		<tr>
			<th>Order ID</th>
			<th>Invoice ID</th>
			<th>Order Total Inc Tax</th> 
			<th>Order Total Exc Tax</th> 
			<th>Order Date</th> 
			<th>Seller ID</th>
			<th>Seller Name</th>
			<th>IGST</th>
			<th>CGST</th>
			<th>SGST</th>
			<th>Admin Commission Subtotal</th>
			<th>Commission Tax</th>
			<th>Commission TDS</th>
			<th>Admin Commission</th>
			<th>Logistic Tax</th>
			<th>Logistic GST</th>
			<th>Logistic Amount</th>
			<th>Logistic TDS</th> 
			<th>Payable to Logistic</th> 
			 
			<th>Razorpay Tax</th> 
			<th>Razorpay Fee</th> 
			<th>Razorpay Amount</th> 
			<th>Razorpay TDS</th> 
			<th>Payble to Razorpay</th> 
			<th>GST TCS on Total Amount</th> 
			<th>Seller Due</th> 
			
			   
		</tr> 
		</thead>
		<tbody>
		';
		
		foreach($results as $row)
		{
		
		$admin_comm=$row['total_admin_comm'];
		$shipping_amount=$row['logistic_pay'];
		$payble_to_razorpay=$row['payble_to_razorpay'];
		$order_total_inc_tax=$row['order_total_inc_tax'];
				
		$expenses=$admin_comm+$shipping_amount+$payble_to_razorpay;
		
		$seller_due=$order_total_inc_tax - $expenses;
		echo '
			<tr>
				<td>'.$row['order_inc_id'].'</td>
				<td>'.$row['invoice_id'].'</td>
				<td>'.$row['order_total_inc_tax'].'</td>
				<td>'.$row['order_total_amount'].'</td>
				<td>'.$row['order_cr_date'].'</td>
				<td>'.$row['seller_id'].'</td>
				<td>'.$row['seller_name'].'</td>
				<td>'.$row['igst'].'</td>
				<td>'.$row['cgst'].'</td>
				<td>'.$row['sgst'].'</td>
				<td>'.$row['admin_comm'].'</td>
				<td>'.$row['admin_comm_tax'].'</td>
				<td>'.$row['admin_comm_tds'].'</td>
				<td>'.$row['total_admin_comm'].'</td>
				<td>'.$row['logistic_tax'].'</td>
				<td>'.$row['logistic_gst'].'</td>
				<td>'.$row['order_shipping_amount'].'</td>
				<td>'.$row['logistic_tds'].'</td>
				<td>'.$row['logistic_pay'].'</td>
				
				<td>'.$row['payment_tax'].'</td>
				<td>'.$row['payment_fee'].'</td>
				<td>'.$row['payment_amount'].'</td>
				<td>'.$row['razorpay_tds'].'</td>
				<td>'.$row['payble_to_razorpay'].'</td>
				<td>'.$row['gst_tcs_on_total_amount'].'</td>
				<td>'.$row['seller_comm'].'</td>
				
				 
			</tr>';	 
							
		} 	
		echo '
		</body>
		</html> 
		';			
						
		/* echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

		
		
		<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 100
			} );
		} );
		</script>
		
		';				
 */
 
 
	echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		echo '
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		
		'; 
		
		echo '<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [ 
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 6,
				order:[[0,"desc"]] 
			} );    
		} );
		</script>
		
		
		
		';	
?>