    /* Start Application Form */

.seller-application-form h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    font-weight: 500;
    padding-bottom: 15px;
    margin: 0px 0px 0;
}
.seller-application-form h3 {
    text-align: center;
    font-size: 25px;
    color: #000;
    font-weight: 500;
    border: 1px solid;
    max-width: 320px;
    padding: 10px 0px;
    margin: 0 auto 40px;
    box-shadow: 0px 0px 4px #000;
}
.seller-application-inner .application-hed {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    color: #000;
    font-style: italic;
}
}
.seller-application-form {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}
.seller-application-detail {
    border: 1px solid #000;
    padding: 20px;
}
.seller-application-detail .field label {
    padding-bottom: 0px;
    display: inline-block;
    color: #666;
    font-size: 15px;
}
.seller-application-detail .field .control {
    display: inline-block;
}
.seller-application-detail .field .control input.input-text {
    border: none;
    border-bottom: 1px dotted #666;
    height: auto;
    padding: 0px 10px;
    width: auto;
    margin: 0px 10px 0px 0px;
}
.seller-application-detail .field {
    margin-bottom: 15px;
}
.seller-application-form {
    max-width: 768px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.seller-application-detail .fieldset .application-hed {
    font-style: normal;
    font-size: 15px;
}
table.application-table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 0;
}
.seller-application-form-section {
    margin-top: 15px;
}
.application-table input.input-text {
    border: none;
    padding: 0;
    width: 100%;
    height: auto;
}
table.application-table th, table.application-table td {
    border: 1px dotted #666;
    padding: 8px;
}
.seller-application-detail .border-solid .field .control input.input-text{
    border-bottom: 1px solid #666; 
}
.seller-application-form-section .seller-application-detail .fieldset .date-last label {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .date-last .control {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .date-last .control input.input-text {
    border: none;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last label {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last .control {
    display: inline-block;
}
.seller-application-form-section .seller-application-detail .fieldset .place-last .control input.input-text {
    border: none;
}


/* End Application Form */

    <!-- End 04-08-2021 -->
.form-button {display: inline-block; border: 1px solid #000; margin: 10px; padding: 15px; width: 25%; text-align: center; font-size: 15px; cursor: pointer; }
.download-form-button { display: inline-block; width: 20%; border: 1px solid #000; margin: 10px; padding: 15px; background: #000; color: #fff; font-weight: bold; text-align: center; font-size: 15px; cursor: pointer;}	

.administrative {background: #fff; border: solid 1px #ddd; box-shadow: 0px 0px 4px rgb(0 0 0 / 15%); clear: both; overflow: hidden;}
.administrative h2 {font-size: 24px; color: #000; font-weight: 500; margin: 0; padding-bottom: 15px; border-bottom: 1px solid #e8eaef; margin-bottom: 30px; padding: 20px;}
.administrative .innertable {border: solid 1px #eee;}
.administrative .innertable .tophead {font-size: 18px; font-weight: 500; color: #283c82; background: #f6f6f6; margin: 0; padding-top:18px; padding-bottom: 18px; padding: 20px;}
.administrative .innertable .subheading {font-size: 16px; font-weight: 600; color: #000; padding: 14px 15px; padding: 20px;}
.administrative .oddrow{background: #fafafa; border-top: solid 1px #ddd; border-bottom: solid 1px #ddd;}
.administrative .tablelisting {font-size: 16px; color: #000;  margin: 0; padding-top: 20px; padding-bottom: 20px;  padding-left: 0; padding: 20px;}
.administrative .yesandnow {display: flex;}
.administrative .yesandnow .list {padding-right: 30px;}
.branchdetails {font-size: 16px; color: #000; padding-bottom: 50px;}
.branchdetails .subhed {font-weight: 500; border-bottom: 1px solid #e8eaef; font-size: 20px; padding-bottom: 10px;
margin-bottom: 20px;}
.branchdetails .innersection {display: flex;}
.branchdetails .innersection .list {padding-right: 30px;}
.branchdetails input[type="radio"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails .fieldsection {display: flex; flex-wrap: wrap; justify-content: space-between; }
.branchdetails .fieldsection .fieldcount {width: 48%; padding-bottom: 40px;}
.branchdetails .fieldsection .fieldcount label {padding-bottom: 10px; display: block; color: #666; font-size: 15px;}
.branchdetails .fieldsection .fieldcount input, .branchdetails .fieldsection .fieldcount textarea {border: solid 1px #888; padding: 14px; border-radius: 4px; height: auto; width: 100%;}
.branchdetails .fieldsection .fieldcount textarea {padding: 6px 14px;}
.branchdetails .fieldsection .fieldcount input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top;}
.branchdetails .fieldsection .fieldcount .marginright {margin-right: 30px;}
.branchdetails .headingsmall {font-weight: 600; font-size: 18px; padding-bottom: 20px;}
.branchdetails.custompaddbtm {padding-bottom: 0;}
.branchdetails .optiontype {display: block;}
.branchdetails .optiontype .list {padding-bottom: 10px;}
.branchdetails .optiontype .list input {margin-right: 10px;}
.administrative .nonte {font-size: 16px;  color: #000; font-weight: 500;}
.branchdetails .fieldsection .fieldcount .optiontype {justify-content: space-between; padding-top: 10px; display:block;}
.optiontype.customdeflex {display: flex;}
.administrative .branchtopcount {border: solid 1px #ddd; box-shadow: 0px 0px 4px rgb(0 0 0 / 15%); margin: 0;margin-bottom: 40px; padding-bottom: 0; padding: 0;}
.administrative .branchtopcount .listbox {padding: 0; border-right: solid 1px #ddd;}
.administrative .branchtopcount .listbox:nth-child(2) {border-right: solid 1px #ddd; border-left: solid 1px #ddd;}
.administrative .branchtopcount .listbox:last-child {border: none;}
.administrative .branchtopcount .listbox .subhed {padding: 20px 40px; background: #fafafa;}
.administrative .branchtopcount .listbox .innersection  {padding: 0px 40px 0;}
.administrative .branchtopcount .branchdetails {padding-bottom: 10px;}
.administrative .branchtopcount .fieldsection {padding: 0 40px;}
.administrative .contentsection p {font-size: 16px; color: #000; line-height: 48px;}
.administrative .contentsection p span {display: inline-block; width: 40%;}
.administrative .contentsection p span input {border: none; border-bottom: solid 1px #888; vertical-align: text-bottom; width: 100%;}
.relationinner {padding-top: 30px;}
.relationinner p {font-size: 16px; color: #000; padding-top: 10px;}
.relationinner .branchdetails {padding-top: 10px; padding-bottom: 0;}
.relationinner .branchdetails .fieldsection .fieldcount label {color: #666; font-size: 15px;}
.relationinner ul {padding-top: 15px; padding-left: 10px;}
.relationinner ul li {font-size: 15px; color: #000; padding-bottom: 10px;}
.relationinner .input-conatiner input[type="radio"] {width: 16px; height: 18px; vertical-align: text-top; margin: 0; margin-right: 5px;}
.relationinner .input-conatiner label {font-size: 16px; padding-top: 2px;}
.fromsubmit input, .fromsubmit button {background-image: linear-gradient(to right, #5f539b ,#5067b3, #35c2cd); padding: 6px 60px; color: #fff; border: 0px; font-size: 20px; font-family: 'Exo'; margin: 0px; margin-top: 30px; width: auto; font-weight: 400; height: 56px; border-radius: 4px;}
.administrative .tablelisting .checkbox input[type="checkbox"], .administrative .yesandnow input[type="checkbox"] {width: 16px; height: 16px; vertical-align: text-top; margin-right: 10px;}
.administrative .tablelisting .checkbox {padding-bottom: 5px;}
.administrative .tablelisting .custominput input {height: auto; border: none; border-bottom: solid 1px #888; padding-left: 0;}
.administrative .tablelisting .custominput label {color: #666; font-size: 14px;}
.adimistrativeCnt {padding-top: 40px;}
.adimistrativeCnt p {font-size: 16px; color: #000; padding-bottom: 20px;}
.adimistrativeCnt .custominput {padding-bottom: 20px;}
.adimistrativeCnt .custominput label {color: #666; font-size: 14px;}
.adimistrativeCnt .custominput input {height: auto; border: none; border-bottom: solid 1px #888; padding-left: 0;}
.preview-form {font-family: 'Exo'; color: #fff; background-color: #2F2F2E; border: 0px; border-radius: 4px; font-weight: 400; font-size: 18px; width: auto; padding: 6px 30px; height: 56px; display: inline-block; line-height: 48px; cursor: pointer;}
.fromcalltoaction {display: flex; padding-left: 40px; padding-top: 40px;}
.fromcalltoaction.paddingnone {padding: 0 !important;}
.fromcalltoaction .preview-form {margin-top: 30px; margin-left: 40px;}
.seller-form-conatiner ul {list-style: none; padding: 30px 80px; display: flex;}
.seller-form-conatiner ul li {width: 33%; text-align: center;}
.seller-form-conatiner ul li span {display: block; font-weight: 600; font-size: 20px; color: #333; padding-bottom: 15px;}
.seller-form-conatiner ul li a {font-size: 18px; color: #283c82; transition: .5s all ease; font-weight: 600; padding: 10px 0 0 8px; display: inline-block; vertical-align: text-top;}
.seller-form-conatiner ul li img {width: 44px; vertical-align: text-top; display: inline-block; border: solid 1px #283c82; padding: 5px; border-radius: 50%; height: 44px; display: block; margin: auto; background: #fff;}
.seller-form-conatiner ul li a:hover {border: none;}
.administrative .toptpt {font-size: 16px; color: #000; padding-bottom: 30px;}
.administrative .toptpt span {font-weight: 500; display: block; padding-bottom: 10px;}
.administrative .tptfieldcustom .customradio {display: flex; justify-content: unset !important;}
.administrative .tptfieldcustom .customradio .list {margin-right: 10px;}
.administrative .tptfieldcustom .customradio .list input {width: 16px; height: 16px;}
.administrative .optiontype input {width: 16px; height: 16px !important;}
.administrative .customwidth {width: 100% !important;}
.administrative .tptfieldcustom textarea {border: none !important; border-bottom: solid 1px #333 !important; border-radius: 0 !important; padding-left: 0 !important;}
.administrative .tptfieldcustom textarea:focus {outline: none; box-shadow: none;}
.administrative .tobepart {padding-bottom: 30px;}
.seller-form-conatiner li {position: relative;}
.seller-form-conatiner li::after {content: ''; position: absolute; width: 87%; height: 100%; left: 101%; border-bottom: solid 3px #283c82; top: -4%; transform: translate(-50%, -50%);}
.seller-form-conatiner li:last-child::after {display: none;}
.sellerform-index-display #maincontent {padding-bottom: 0px;}
.sellerform-index-display #maincontent .column.main {padding-bottom: 0;}
.seller-form-conatiner {padding-top: 40px;}
    .branchdetails .optiontype .list input {width: auto;}
    .branchdetails .optiontype .list {display: flex;}
