<form id="edit_form" action="" method="post" enctype="multipart/form-data" novalidate="novalidate">

  <fieldset class="fieldset admin__fieldset " id="page_base_fieldset">
	  <?php echo $block->getBlockHtml('formkey')?>
	 <legend class="admin__legend legend"><span>Import Pincode Status (status column - 1 for enable, 0 for disable) </span> &nbsp;&nbsp;&nbsp;<a href="/pdf/pincode.csv" target="_blank"> Download Sample File</a> </legend>	 
	 <br>
	 <div class="messages"></div>
	 
	 <div class="required _required">
		<label class="label admin__field-label"><span>Upload File (Comma Seperated CSV file)</span></label>
		<div class="admin__field-control control">
		   <input id="page_pincode" name="stfile" value="" type="file" class=" input-text admin__control-text required-entry _required" aria-required="true"  />                         
		</div>
	 </div>
	 
	 <br />
	 
	 <div class="required _required">
		<div class="admin__field-control control">
		  <button name="submit" type="submit">Submit</button>                         
		</div>
	 </div>
	 
	 
  </fieldset>

</form>
