<?php 
	$ajaxUrl = $block->getUrl('homeajax/index/customerorders');
    $customerViewedAjaxUrl = $block->getUrl('homeajax/index/customeralsoboughtproducts');
	$_helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
	$customerId = $_helper->getCustomerId();
?>
<?php if($customerId):?>
<div class="buy-it-container" style="display:none;">
	<h2 class="by-it-heading">Buy IT Again</h2>
	<div class="loading-order">
		<div class="loader"></div>
	</div>
</div>


<style type="text/css">
.loading-order.owl-carousel .owl-item img {
    height: auto;
}
.loading-order .product-image-container {
    vertical-align: middle;
}	
</style>
<?php endif;?>
<div class="customer-also-viewed">
    <div class="bought-loading-order">
            <div class="loader"></div>
    </div>
</div>
<script type="text/javascript">
require(
    ['jquery', 'owl-carousel'],function($) {
      
var isScrolled = false;
var customerId = '<?php echo $customerId?>';
if (jQuery(window).width() <= 2000) {
    window.onscroll = function() {  
        if(isScrolled==false){
          omlazyLoadbeforeLogin();
          if(customerId){
            omlazyLoad();
          }
        }
    };
}
else {
    omlazyLoadbeforeLogin();
    if(customerId){
        omlazyLoad();
    }
}
if(customerId){
function omlazyLoad(){
	jQuery.ajax({
	    url:  '<?php echo $ajaxUrl ?>',
	    dataType:'html',
	    cache: true,
	    success:function(response){
	        $('.loading-order').html(response);
            if(response){
                $('.buy-it-container').show();
            }
	       // $('.loading-order').addClass('owl-carousel');
            $( "form[data-role='tocart-form']" ).catalogAddToCart();
	        // $('.loading-order').owlCarousel({
            //     loop: false,
            //     margin: 0,
            //     slideSpeed: 1000,
            //     smartSpeed: 800,
            //     dots: false,
            //     autoplay: true,
            //     responsiveClass: true,
            //     scrollPerPage: true,
            //     lazyLoad: true,
            //     nav: false,
            //     slideBy: 1,
            //     autoPlay: 8000,
            //     autoplayHoverPause: true,
            //     responsiveClass:true,
            //         responsive:{
            //             0:{
            //                 items:1,
            //                 nav:true
            //             },
            //             770:{
            //                 items:2,
            //                 nav:false
            //             },
            //             1000:{
            //                 items:4,
            //                 nav:true,
            //                 loop:false
            //             }
            //         }
        	// });
	    }
	});
}
}
function omlazyLoadbeforeLogin(){
	
    jQuery.ajax({
	    url:  '<?php echo $customerViewedAjaxUrl ?>',
	    dataType:'html',
	    success:function(response){
	        $('.bought-loading-order').html(response);
            $( "form[data-role='tocart-form']" ).catalogAddToCart();
	        $('.customers-bought').owlCarousel({
            loop: false,
            margin: 0,
            slideSpeed: 1000,
            smartSpeed: 800,
            dots: false,
            autoplay: true,
            responsiveClass: true,
            scrollPerPage: true,
            lazyLoad: true,
            nav: false,
            slideBy: 1,
            autoPlay: 8000,
            autoplayHoverPause: true,
            responsiveClass:true,
                    responsive:{
                        0:{
                            items:1,
                            nav:true
                        },
                        770:{
                            items:2,
                            nav:false
                        },
                        1000:{
                            items:4,
                            nav:true,
                            loop:false
                        }
                    }
        	});
	    },
	    beforeSend:function(){ isScrolled = true; }
	});
}
});	
</script>
<script>
    require(['jquery'],function($){
        $(document).on('click','button.action.tocart.primary',function(){
            setTimeout(function() {
                location.reload();
            }, 2000);
        });
    });
</script>
