<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/**  @var $block \Magento\Checkout\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper(Magento\Tax\Helper\Data::class)->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ;

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$session = $objectManager->create('\Magento\Checkout\Model\Session');
$pgData = $session->getPaymentFailData();
if(empty($pgData['error']) === false) {
    $payment = json_decode($pgData['error']['metadata'],true);
    $session->unsPaymentFailData();

?>

<div class="cart-empty" style="margin-bottom: 30px;">
    <p ><?= "Your Transaction was failed .Below details were provided by payment gateway" ?></p>
    <p style="color: red;"><?= "Error Reason: ".$pgData['error']['reason']; ?></p>
    <p style="color: red;"><?= "Error Description: ". $pgData['error']['description']; ?></p>
    <p>In case your money has already debited from your account, It will credit to your bank account within 5-7 business days.</p>
    <p>&nbsp;</p>
</div>
<?php } ?>
<?php 
$_helper = $this->helper('OM\CheckCustomerSession\Helper\Data');
$customerId = $_helper->getCustomerId();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); 
$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
$grandTotal = $cart->getQuote()->getGrandTotal();
$subTotal = $cart->getQuote()->getSubtotal();
$cartid = $cart->getQuote()->getId();
$totalItems = $cart->getQuote()->getItemsCount();
$totalQuantity = $cart->getQuote()->getItemsQty();
$itemsVisible = $cart->getQuote()->getAllVisibleItems();
$productid = array();
$productname = array();
$productCat = array();
foreach($itemsVisible as $item) {
    $productid[] = $item->getProductId();  
    $productname[] = $item->getName();     
    $products_data = $objectManager->create('Magento\Catalog\Model\Product')->load($item->getProductId());
    $categoryIds = $products_data->getCategoryIds();
    $cat_IDSP=$categoryIds[0];
    $category = $objectManager->create('Magento\Catalog\Model\Category')->load($categoryIds[0]);
    $productCat[]= $category->getName();
}
$productCat = implode(",",$productCat);
$productid = implode(",",$productid);
$productname = implode(",",$productname);
?>

<form action="<?= $block->escapeUrl($block->getUrl('checkout/cart/updatePost')) ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"Magento_Checkout/js/action/update-shopping-cart":
              {"validationURL" : "<?= $block->escapeUrl($block->getUrl('checkout/cart/updateItemQty')) ?>",
              "updateCartActionContainer": "#update_cart_action_container"}
          }'
          class="form form-cart">
    <?= $block->getBlockHtml('formkey') ?>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()) :?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar"
                 data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?>
            </div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": ".action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption class="table-caption"><?= $block->escapeHtml(__('Shopping Cart Items')) ?></caption>
            <!-- <div id="errorMsg" style="background-color: red; color: white; height:30px; font-size: 1.3em;">Some of the items present in cart are out of stock</div> -->

            <thead>
                <tr>
                    <th class="col item" scope="col"><span><?= $block->escapeHtml(__('Products')) ?></span></th>
                    <th class="col price" scope="col"><span><?= $block->escapeHtml(__('Price')) ?></span></th>
                    <th class="col qty" scope="col"><span><?= $block->escapeHtml(__('Quantity')) ?></span></th>
                    <th class="col subtotal" scope="col"><span><?= $block->escapeHtml(__('Total')) ?></span></th>
                </tr>
            </thead>
            <thead class="custom-class">
                <tr>
                    <th></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item) :?>
                <?= $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
        <?php 
          $priceHelper = $objectManager->create('Magento\Framework\Pricing\Helper\Data');
          $subTotal = $priceHelper->currency($subTotal, true, false);
        ?>
        <div class="item-substotal">
            <span class="subtotal">Subtotal ( <?php echo floatval($totalQuantity)?> items):</span>
            <span class="subtotal-pricecls"> 
            <?php echo $subTotal;?></span>
        </div>
        <?php if ($block->getPagerHtml()) :?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar"
                 data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?>
            </div>
        <?php endif ?>
    </div>
    <div class="cart main actions">
        <?php if ($block->getContinueShoppingUrl()) :?>
            <a class="action continue"
               href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?= $block->escapeHtmlAttr(__('Continue Shopping')) ?>">
                <span><?= $block->escapeHtml(__('Continue Shopping')) ?></span>
            </a>
        <?php endif; ?>
        <button type="button"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtmlAttr(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= $block->escapeHtml(__('Clear Shopping Cart')) ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?= $block->escapeHtmlAttr(__('Update Shopping Cart')) ?>"
                class="action update">
            <span><?= $block->escapeHtml(__('Update Shopping Cart')) ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

<script type='text/javascript'>
var Countly = Countly || {};
Countly.q = Countly.q || [];
Countly.q.push(['add_event',{
  "key": "Cart_View",
   "browser":{
      "Chrome":true
       },
  "segmentation": {
     "web": "yes",
     "cartId": "<?php echo $cartid ?>",
     <?php if($customerId){ ?>
     "customerId": "<?php echo $customerId ?>",
     <?php }else{ ?>
     "Guest": "Guest",
      <?php } ?>   
     "productsNames": "<?php echo $productname ?>",
     "productCategories": "<?php echo $productCat ?>",
     "totalItems":"<?php echo $totalItems?>",
     "totalQuantity":"<?php echo $totalQuantity?>",
     "subtoTotal": "<?php echo $subTotal ?>",
     "grandTotal": "<?php echo $grandTotal ?>",
  }
}]);
</script>
