<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php
/** @var $block \Magento\Checkout\Block\Cart */


$objectManager =  \Magento\Framework\App\ObjectManager::getInstance(); 
$addtocartrestriction = $objectManager->get('OM\Rewrite\Helper\Addtocartrestriction');
$is_seller_enabled = '';
foreach ($block->getItems() as $item)
{
    $product_id = $item->getProductId();
    $is_seller_enabled = $addtocartrestriction->isSellerActive($product_id);
    if(!$is_seller_enabled)
    {
        break;  
    }
}
?>
<?php if (!$block->hasError() && $is_seller_enabled) :?>
    <?php $methods = $block->getMethods('methods') ?: $block->getMethods('top_methods') ?>
    <ul class="checkout methods items checkout-methods-items">
        <?php foreach ($methods as $method) :?>
            <?php $methodHtml = $block->getMethodHtml($method); ?>
            <?php if (trim($methodHtml) !== '') :?>
                <li class="item"><?= /* @noEscape */ $methodHtml ?></li>
            <?php endif; ?>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>

<?php if (!$is_seller_enabled) :?>
    <span>Seller is unable to ship some items present in your cart , Please flush your cart and try again.</span>
<?php endif; ?>


