<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php 
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $session = $objectManager->create('\Magento\Checkout\Model\Session');
    $pgData = $session->getPaymentFailData();
    if(empty($pgData['error']) === false) {
        $session->unsPaymentFailData();
?>
<div class="cart-empty" style="margin-bottom: 30px;">
    <p ><?= "Your Transaction was failed .Below details were provided by payment gateway" ?></p>
    <p style="color: red;"><?= "Error Reason: ".$pgData['error']['reason']; ?></p>
    <p style="color: red;"><?= "Error Description: ". $pgData['error']['description']; ?></p>
    <p>In case your money has already debited from your account, It will credit to your bank account within 5-7 business days.</p>
    <p>&nbsp;</p>
</div>

<?php 

} ?>
<div class="cart-empty">
    <?= $block->getChildHtml('checkout_cart_empty_widget') ?>
    <p><?= $block->escapeHtml(__('You have no items in your shopping cart.')) ?></p>
    <p><?= $block->escapeHtml(
        __(
            'Click <a href="%1">here</a> to continue shopping.',
            $block->escapeUrl($block->getContinueShoppingUrl())
        ),
        ['a']
    ) ?>
    </p>
    <?= $block->getChildHtml('shopping.cart.table.after') ?>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Checkout/js/empty-cart": {}
    }
}
</script>
