<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Wishlist\Block\Catalog\Product\View\AddTo\Wishlist $block */
?>
<?php if ($block->isWishListAllowed()) : ?>

<?php
			$wishlistdata=$this->helper('Magento\Wishlist\Helper\Data')->getWishlistItemCollection();
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			
            $registry = $objectManager->get('\Magento\Framework\Registry');
             $_product = $registry->registry('current_product');
			 
									// $in_wishlist="";
									// $in_wishlist = false;
									
									// foreach ($wishlistdata as $wishlist_item){
										
										// if($_product->getId() == $wishlist_item->getProduct()->getId()){
											// $in_wishlist = true;
											// break;
										// }
									// }
									
								
									$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');

									if($wishlistHelper->isAllow()){

										$wishlistCollection = $wishlistHelper->getWishlistItemCollection(); 
										
										foreach ($wishlistCollection as $_wishlist_item) {
										   $in_wishlist = false;
										   if ($_product->getId() == $_wishlist_item->getProduct()->getId()) {
											   $in_wishlist = true; 
											   break;
										   }
										}
									// echo $in_wishlist;
									
										if(!empty($in_wishlist) && $in_wishlist){
											$class="in_wishlist";
											 }else{
											$class="not_in_wishlist";
										 } 
									 } 
										
									
									$customerSession = $objectManager->get('Magento\Customer\Model\Session');
								?>
                                    <!--<a href="#"
										
                                       class="action towishlist <?php //if($in_wishlist){ echo 'alredy-wish' ;}?> actions-secondary <?php //if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php// endif;?>"
                                       title="<?php //echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php //echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php// echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php //echo __('Add to Wish List') ?></span>
                                    </a>-->
						<?php
							if ($customerSession->isLoggedIn()) {
						?>
						<span id="add_remove" class="carousel-add-wishlist <?php echo $class; ?>" name="add-to-wishlist" onclick="addProductToWishlist(<?php echo $_product->getId(); ?>)"> <i  class="fa fa-heart-o" aria-hidden="true"></i></span> 
						<?php
					}else{
						?>
						<a href="<?php echo $this->getUrl('customer/account/login'); ?>" id="add_remove" class="carousel-add-wishlist <?php echo $class; ?>" name="add-to-wishlist"> <i  class="fa fa-heart-o" aria-hidden="true"></i></a>
						<?php
					}?>
									
									
    
<?php endif; ?>