<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject Seller Approval Notification  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hi {{trans "%customer_name," customer_name=$myvar1}}</p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="query-details">  
                <tr>
                    <td class="product-details">
                        <p>{{trans "This is to inform you that you are approved as seller aaaaaa"}}</p>
                        <p>{{trans "Please "}}<a href="{{var this.getUrl($store,'customer/account/login/')}}">{{trans "Click here " }}</a> {{trans "to login."}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}