<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject Payment Notification To Seller {{var customer.name}}  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hi {{trans "%customer_name," customer_name=$myvar1}}</p>
            <p>
                {{trans "I would like to inform you that your payment for your order(s) has been successfully done."}}
                {{trans 'You can check your transaction by <a href="%account_url">logging into your account</a>.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Transaction Id <span class="no-link">#%increment_id</span>' increment_id=$myvar2 |raw}}</h1>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$myvar3 |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            <table class="order-details">
                <tr>
                    <td class="address-details">
                        <h3>{{trans "Transaction Id"}}</h3>
                        <p>{{var myvar2|raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Transaction Amount"}}</h3>
                        {{var myvar4|raw}}
                    </td>
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "Comment Message"}}</h3>
                        {{var myvar6|raw}}
                    </td>
                </tr>
            </table>
            <table class="email-items">
                <thead>
                    <tr>
                        <th class="item-info">Order Id #</th>
                        <th class="item-info">Product Name</th>
                        <th class="item-qty">Qty</th>
                        <th class="item-price">Price</th>
                        <th class="item-price">Commission</th>
                        <th class="item-price">Total payout amount</th>
                    </tr>
                </thead>
                <tbody>
                    {{var myvar5|raw}}
                </tbody>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}