// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@mobile-cart-padding: 15px;
@cart-price-color: @color-gray40;
@cart-item-cell-padding-top: 20px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Shopping cart
    //  ---------------------------------------------

    .checkout-cart-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }

        .page-title-wrapper {
            margin-bottom: 10px;
        }
    }

    //  Cart container
    .cart-container {
        .form-cart {
            &:extend(.abs-shopping-cart-items all);
        }
    }

    //  Summary block
    .cart-summary {
        &:extend(.abs-add-box-sizing all);
        .lib-css(background, @sidebar__background-color);
        margin-bottom: @indent__m;
        padding: 1px 0 @indent__m;

        > .title {
            .lib-font-size(24);
            display: none;
            font-weight: @font-weight__light;
            margin: 12px 0;
        }

        .block {
            form:not(:last-of-type) {
                .fieldset {
                    margin: 0 0 @indent__m;
                }
            }

            .price {
                font-weight: @font-weight__bold;
            }

            .field {
                margin: 0 0 16px;
            }

            .actions-toolbar {
                > .primary {
                    text-align: left;

                    .action.primary {
                        &:extend(.abs-revert-to-action-secondary all);
                        width: auto;
                    }
                }
            }

            .fieldset.estimate {
                > .legend,
                > .legend + br {
                    &:extend(.abs-no-display all);
                }
            }

            &:extend(.abs-cart-block all);
            .title {
                strong {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                }
            }

            .item-options {
                margin: 0 0 16px;

                .field {
                    .radio {
                        float: left;
                        margin-top: 4px;
                    }

                    .radio {
                        + .label {
                            display: block;
                            margin: 0;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .page-main & {
            .block {
                margin-bottom: 0;
            }
        }

        .checkout-methods-items {
            &:extend(.abs-reset-list all);
            margin: @indent__base 0 0;
            padding: 0 @mobile-cart-padding;
            text-align: center;

            .action.primary.checkout {
                &:extend(.abs-button-l all);
                width: 100%;
            }

            .item {
                margin-bottom: @indent__m;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .message {
            padding-left: @indent__base;

            > *:first-child:before {
                display: none;
            }
        }

        &:extend(.abs-adjustment-incl-excl-tax all);
    }

    //  Totals block
    .cart-totals {
        &:extend(.abs-sidebar-totals all);
        tbody,
        tfoot {
            .mark {
                text-align: left;
            }
        }

        .discount.coupon {
            display: none;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .cart {
                thead {
                    tr th.col {
                        border-bottom: @border-width__base solid @border-color__base;
                        padding-bottom: 15px;
                        padding-top: 24px;
                    }
                }

                tbody {
                    td {
                        border: 0;
                    }
                }

                > .item {
                    border-bottom: @border-width__base solid @border-color__base;
                    position: relative;
                }
            }

            .col {
                padding-top: 15px;

                &.price,
                &.subtotal,
                &.msrp {
                    padding: 20px 10px 10px;
                    text-align: center;
                    &:extend(.abs-incl-excl-tax all);
                }

                &.qty {
                    padding: @indent__base 11px @indent__s;
                    text-align: center;

                    .label {
                        &:extend(.abs-visually-hidden all);
                    }

                    .input-text {
                        height: 36px;
                        margin-top: 0px;
                        text-align: center;
                        width: 60px;
                    }
                }

                > .price {
                    .lib-css(color, @primary__color__lighter);
                    .lib-font-size(18);
                    font-weight: @font-weight__bold;
                }
            }

            .item-actions {
                td {
                    padding-bottom: 0;
                    padding-left: @mobile-cart-padding;
                    padding-right: @mobile-cart-padding;
                    white-space: normal;
                }
            }

            .item {
                .col.item {
                    padding: 15px @mobile-cart-padding @indent__s 90px;
                    position: relative;
                }
            }

            .actions-toolbar {
                &:extend(.abs-add-clearfix all);
                min-height: 20px;
                padding-bottom: 15px;
                position: relative;

                > .action-edit,
                > .action-delete {
                    position: absolute;
                    right: 16px;
                    top: 0;
                    .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                    );
                }

                > .action-delete {
                    &:extend(.abs-action-button-as-link all);
                    right: 0;
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                    );
                }
            }

            .action {
                margin-right: @indent__m;

                &:last-child {
                    margin-right: 0;
                }

                &.help.map {
                    &:extend(.abs-action-button-as-link all);
                    font-weight: @font-weight__regular;
                }
            }

            .product {
                &-item-photo {
                    display: block;
                    left: @mobile-cart-padding;
                    max-width: 65px;
                    padding: 0;
                    position: absolute;
                    top: 15px;
                    width: 100%;
                }

                &-item-name {
                    .lib-font-size(18);
                    display: block;
                    margin: -3px 0 @indent__xs;
                }
            }

            .gift-registry-name-label {
                &:after {
                    content: ':';
                }
            }

            //  Product options
            .item-options {
                margin-bottom: 0;
                &:extend(.abs-product-options-list all);
                &:extend(.abs-add-clearfix all);
            }

            .product-item-name + .item-options {
                margin-top: @indent__base;
            }

            .cart-tax-total {
                &:extend(.abs-tax-total all);
                &-expanded {
                    &:extend(.abs-tax-total-expanded all);
                }
            }

            .product-image-wrapper {
                &:extend(.abs-reset-image-wrapper all);
            }

            .action.configure {
                display: inline-block;
                margin: @indent__s 0 0;
            }

            .item .message {
                margin-top: @indent__base;
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        .toolbar-amount {
            left: inherit;
            margin: @indent__m 0 15px;
            padding: 0;
            position: relative;
            text-align: center;
            top: inherit;
        }
    }

    .cart-products-toolbar-top {
        border-bottom: @border-width__base solid @border-color__base;
    }

    //  Discount
    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
        clear: left;
        &:extend(.abs-discount-block all);
    }

    //  Empty cart
    .cart-empty {
        padding-left: @layout__width-xs-indent;
        padding-right: @layout__width-xs-indent;
    }

    .cart-tax-info,
    .cart .cart-tax-info {
        + .cart-tax-total {
            display: block;
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: right;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .cart {
        .table.items {
            .col.item,
            .item-actions td {
                &:extend(.abs-col-no-prefix all);
            }

            .col.qty {
                text-align: center;
            }

            tbody > tr > td:last-child {
                &:extend(.abs-no-border-bottom-top all);
            }
        }
    }
    .cart-totals {
        .totals {
            &:extend(.abs-sidebar-totals-mobile all);
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    //  Cart container
    .cart-container {
        .form-cart {
            .actions.main {
                text-align: center;
            }
        }
    }

    .cart-discount {
        border-bottom: @border-width__base solid @border-color__base;
    }

    .cart {
        &.table-wrapper {
            border-top: @border-width__base solid @border-color__base;
            thead {
                .col {
                    &.qty,
                    &.price,
                    &.subtotal,
                    &.msrp {
                        display: none;
                    }
                }
            }

            .col {
                &.qty,
                &.subtotal,
                &.msrp {
                    box-sizing: border-box;
                    display: block;
                    float: left;
                    white-space: nowrap;
                    width: 100%;
                }

                &.msrp {
                    white-space: normal;
                }
            }

            .item .col.item {
                padding-bottom: 0;
            }

            tbody > tr > td:last-child {
                border: 0;
            }
        }
    }

    .cart-totals {
        padding-left: @mobile-cart-padding;
        padding-right: @mobile-cart-padding;

        .table-wrapper {
            border-top: 0;
        }

        .totals {
            tbody > tr:not(:last-child) > td:last-child {
                border: 0;
            }
        }
    }

    .cart.table-wrapper,
    .order-items.table-wrapper {
        .col.price,
        .col.qty,
        .col.subtotal,
        .col.msrp {
            text-align: left;
        }
    }

}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Cross sell
    .block {
        &.crosssell {
            .lib-css(padding, 0 @mobile-cart-padding);
            margin-top: 70px;

            .product-item-info {
                width: 200px;
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .cart-container {
        .block.crosssell {
            .products-grid {
                .product-item-actions {
                    margin: 0 0 @indent__s;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-cart-index {
        .page-main {
            padding-left: @layout__width-xs-indent;
            padding-right: @layout__width-xs-indent;
        }

        .page-title-wrapper {
            &:extend(.abs-revert-side-paddings all);
        }
    }

    //  Cart container
    .cart-container {
        &:extend(.abs-add-clearfix-desktop all);
        .form-cart {
            &:extend(.abs-shopping-cart-items-desktop all);
            .actions.main {
                text-align: right;
            }
        }

        .widget {
            float: left;
            
            &.block {
                margin-bottom: @indent__base;
            }
        }
    }

    //  Summary block
    .cart-summary {
        .lib-layout-column(2, 2, @layout-column-checkout__width-left);
        padding: 1px @indent__base @indent__m;
        position: relative;

        > .title {
            display: block;
        }

        .fieldset {
            .actions-toolbar {
                margin-left: 0;

                > .secondary {
                    float: none;
                }
            }
        }

        .block {
            > .title {
                padding-left: 0;

                &:after {
                    right: 3px;
                }
            }

            .content {
                &:extend(.abs-revert-side-paddings all);
            }

            .fieldset {
                .field {
                    .lib-form-field-type-revert(@_type: block);
                    margin: 0 0 @indent__s;
                }
            }
        }

        .checkout-methods-items {
            padding: 0;
        }
    }

    //  Products table
    .cart {
        &.table-wrapper {
            .items { // Google Chrome version 44.0.2403.107 m fix
                min-width: 100%;
                width: auto;
            }

            tbody td {
                padding-top: @cart-item-cell-padding-top;
            }

            .item {
                .col.item {
                    padding: @cart-item-cell-padding-top 8px @indent__base 8px;
                }
            }

            .item-actions td {
                padding: 0;
            }

            .product {
                &-item-photo {
                    display: table-cell;
                    max-width: 100%;
                    padding-right: @indent__base;
                    position: static;
                    vertical-align: top;
                    width: 1%;
                }

                &-item-details {
                    display: table-cell;
                    padding-bottom: 35px;
                    vertical-align: top;
                    white-space: normal;
                    width: 99%;
                }
            }
        }
    }

    //  Products pager
    .cart-products-toolbar {
        margin: 2px 0 0;

        .toolbar-amount {
            line-height: 30px;
            margin: 0;
        }

        .pages {
            float: right;

            .item {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .cart.table-wrapper {
        .cart-products-toolbar {
            + .cart {
                thead {
                    tr {
                        th.col {
                            padding-bottom: @indent__s;
                            padding-top: @indent__s;
                        }
                    }
                }
            }
        }

        .cart {
            + .cart-products-toolbar {
                margin-top: @indent__m;
            }
        }
    }

    //  Discount
    .cart-discount {
        &:extend(.abs-discount-block-desktop all);
        .lib-layout-column(2, 1, @layout-column-checkout__width-main);
        border: 0;
        box-sizing: border-box;
        padding-right: 4%;

        .block {
            .title {
                &:after {
                    display: inline;
                    margin-left: @indent__s;
                    position: static;
                }
            }
            &.discount {
                width: auto;
            }
        }
    }

    //  Empty cart
    .cart-empty {
        &:extend(.abs-revert-side-paddings all);
    }

    //  Cross sell
    .block {
        &.crosssell {
            .lib-layout-column(2, 1, @layout-column-checkout__width-main);
            &:extend(.abs-add-box-sizing-desktop all);
            padding: 0 4% 0 0;

            .products-grid .product-item {
                width: 100%/4;
            }
        }
    }
}


.checkout-cart-index{
    .cart.table-wrapper{       
        .product-item-details{            
            .product-item-name{
                margin: 0px 0 0px;
            }
            .item_desc {
                display: none;
            }
            .loyality_point {
                display: none;
            }
            .label-product.label-sale{
                display: none;
            }
            .price-box.price-final_price {
                display: none;
            }
        }
    }
    .cart-container{
        .cart-summary{
            background: #fff;
            .summary.title{
                margin-bottom: 0px !important;
            }
            .block.shipping{
                .title:after{
                    top: 17px; 
                }
                strong{
                    padding-bottom: 0;
                    margin: 0px 0px;
                }
            } 
        }
        
    } 
     
    #shopping-cart-table{
        thead{
            tr{
                th.col.qty {
                    text-align: center;
                }
            } 
        } 
        .cart.item{
            .item-info{
                td.col.qty{
                    text-align: center;
                }
            }
            .col.qty{
                .actions-toolbar{
                    .action-delete{
                        left: 0;
                        text-align: center;
                        max-width: 70px;
                        margin: 0 auto;
                    }
                } 
                .item-actions{
                    float: left;
                }
                .field.qty{
                    width: auto;
                    display: inline-block;
                    float: left;
                    .control.qty{
                        .qty-dec-cls {
                            display: inline-block;
                            vertical-align: middle;
                            width: 38px;
                            height: 31px;
                            background: #ebebeb;
                            line-height: 31px;
                            border-right: 1px solid #4d4d4e;
                            border-radius: 2px 0px 0px 2px;
                            .qty-dec{
                                color: #3a3a3a;
                            }
                        }
                        label {
                            border: 1px solid #4d4d4e;
                            border-radius: 2px;
                            padding: 0px 0px;
                            margin-bottom: 0;
                            input{
                                display: inline-block;
                                vertical-align: middle;
                                height: 31px;
                                border: none;
                                outline: none;
                                padding: 0px 5px !important;
                            }
                        }
                        
                        .qty-inc-cls {
                            display: inline-block;
                            vertical-align: middle;
                            width: 38px;
                            height: 31px;
                            background: #ebebeb;
                            line-height: 31px;
                            border-left: 1px solid #4d4d4e;
                            border-radius: 0px 2px 2px 0px;
                            .qty-inc{
                                color: #3a3a3a;
                            }
                        }
                    }
                }
            }
        }
        .item-info{
            .subtotal{
                .price-including-tax{
                    display: inline-block;
                }
                .old-price{
                    color: #3a3a3a;
                    font-size: 15px;
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                    display: inline-block;
                    text-decoration: line-through;  
                }
                .total-saving {
                    color: #f5a622;
                    font-size: 15px;
                    font-family: 'Conv_DINOT-Medium';
                    font-weight: normal;
                    display: inline-block;
                }
                
            }
            .price{
                color: #3a3a3a;
                font-size: 15px;
                font-family: 'Conv_DINOT-Medium';
                font-weight: normal;                
            }
            .product-item-details{
                strong{
                    a{
                        font-size: 16px;
                        text-decoration: none;
                        &:hover{
                            color: #ea7900;
                        }
                    }
                } 
            } 
            .col.qty{
                .actions-toolbar{
                    .action-delete{
                        text-decoration: none;
                        &:before{
                            display: none;
                        }
                        span{
                            position: relative;
                        }
                    }
                } 
            } 
        } 
    } 
} 


.checkout-cart-index{
    .cart-summary{        
        .block.shipping{
            .title{
                border-top: 0;
                padding-bottom: 15px;
                padding-top: 15px;
            }
        }
        .block.discount{
            .content{
                padding-bottom: 0 !important;
            }
            .title{
                strong{
                    padding-bottom: 0;
                    margin: 0px 0px;
                }
            } 
        } 
        .block{
            .fieldset{
                .field{
                    font-size: 14px;
                }
            } 
        } 
    } 
    .cart-container{
        .data.table.totals{
            td,th{
               font-size: 14px;
            }
        } 
    } 
} 

.checkout-cart-index{
    .cart-container{
        .cart-summary{
            #block-discount{
                .title{
                    &:after{
                        display: none;
                    }
                }
            } 
            #co-shipping-method-form{
                .fieldset.rate {
                    margin-bottom: 0;
                    .items.methods{
                        .item-title{
                            font-size: 16px;
                        }
                        .item-options {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            #shipping-zip-form{
                .fieldset.estimate{
                    margin: 0 0 10px;
                }
                select{
                    -webkit-appearance: auto;
                    -moz-appearance: auto;
                    -ms-appearance: auto;
                    appearance: auto;
                }
            } 
            .cart-totals{
                .table-wrapper{
                    .totals.sub{
                        border-bottom: 1px solid #cccccc;
                        .mark {
                            font-size: 18px;
                            font-weight: 500;
                            padding: 0px 0px 10px;
                        }
                        .amount {
                            font-size: 19px;
                            font-weight: 700;
                            padding: 0px 0px 10px;
                        } 
                    } 
                } 
            } 
        } 
    }    
    #shopping-cart-table{
        .item-info{
            .product-item-details{
                .loyality_point {
                    font-size: 1.5rem;
                }
            }
            .item_desc{
                font-size: 1.5rem;
            }
        } 
    } 
} 

.checkout-cart-index{
    .products-grid{
        .product-item{
            .product-item-actions{
                .actions-secondary{
                    .towishlist{
                        position: absolute;
                        top: 0;
                        right: 0;
                        &:before {
                            content: "\f08a";
                            font-family: FontAwesome;
                            color: #40549d;
                        }
                    }
                }
            } 
            .product.details.product-item-details{
                position: relative;
                .product-reviews-summary{
                    margin: 0;
                    display: block;
                    padding: 0;
                    text-align: center;
                    position: relative;
                    margin-bottom: 10px;
                }
                .price-box{
                    margin-bottom: 10px;
                }                
            }
        } 
    } 
    .product-reviews-summary{        
        .rating-summary {
            margin: 0 0px 0 0;
            display: inline-block;
            left: 5px;
            .rating-result{
                &:before{
                    color: #626262;
                }
            }
        }
        .reviews-actions{
            display: none;
        }
    }
    .block.crosssell{
        padding: 0px 0 20px 0!important;
        margin-top: 20px;
        margin-bottom: 0;
        .block-content.content{
            .owl-nav{
                .owl-next{
                    right: 0;
                }
            } 
        } 
        .block-title.title{
            strong {
                font-size: 18px;
                margin: 0px 0px;
                padding: 0px 0px;
            }
        }
        .block-content.content{
            .products-grid{
                float: left;
                width: 100%;
                .related-products{
                    padding: 0px 128px;
                    float: left;
                    width: 100%;
                    margin-top: 0 !important;
                    position: relative;
                }
                .owl-item{
                    float: left;                    
                    .product-item{
                        width: 99.8%;
                        margin-bottom: 0;
                        .product-item-inner{
                            .product-item-actions{
                                margin-bottom: 0;
                                .actions-secondary{
                                    a{
                                        &:before{
                                            font-size: 15px;
                                            left: 3px;
                                        }
                                    }
                                    .action.tocompare{
                                        display: none;
                                    }
                                }
                            }
                        }
                        .product-item-info {
                            .company-name {
                                color: #2d6dab;
                                padding-top: 15px;
                                text-align: center;
                                font-family: 'Conv_DINOT-Medium';
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}


.checkout-cart-index{
    .cart-container{
        .cart-summary{            
            .free_shipping{
                strong{
                    color: #f5a622;
                }
            }
        }
        .free_shipping{
            strong {
                color: #14bdda;
                font-size: 18px;
                font-weight: normal;
                margin-bottom: 15px;
                display: block;
                font-family: 'Conv_DINOT-Medium';
            }
        }
         .form-cart{
             .table-wrapper{
                 .item-substotal{
                    border: solid 1px #ddd;
                    text-align: right;
                    color: #3a3a3a;
                    padding: 20px 15px;
                    margin-top: 0px;
                    .subtotal{
                        font-size: 18px;
                        font-family: 'Conv_DINOT-Medium';
                        font-weight: normal;
                    }
                    .subtotal-pricecls{
                        font-size: 18px;
                        font-family: 'Conv_DINOT-Bold';
                        font-weight: normal;
                        padding-left: 5px;
                    }
                 }
             }
         }
    }

}

.buy-it-container{
    border-top: none;
    margin: 0px 0px 0px;
    padding: 25px 0px 0px;    
    .by-it-heading {
        font-size: 19px;
        font-weight: normal;
        text-transform: uppercase;
        color: #3a3a3a;
        font-family: 'Conv_DINOT-Medium';
    }
    form{
        border: 1px solid #ddd;
        margin: 25px 0px 0px;
        padding: 5px 15px;
        .product-item-details {
            display: inline-block;
            width: calc(~"100% - 205px");
            .price-box {
                display: inline-block;
                margin: 0px 0px;
                width: 16%;
                text-align: center;
                .price-box.price-final_price {
                    width: 100%;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    .special-price{
                        -ms-flex-order: 1;
                        -webkit-order: 1;
                        order: 1;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                    .old-price{
                        -ms-flex-order: 0;
                        -webkit-order: 0;
                        order: 0;
                        display: inline-block;
                        vertical-align: middle;
                        text-decoration: line-through;
                        .price-label{
                            display: none;
                        }
                    }
                }
                .price {
                    font-size: 16px;
                    font-family: 'Conv_DINOT-Medium';
                    color: #3a3a3a;
                }
            }
            .product-item-inner {
                display: inline-block;
                vertical-align: middle;
                width: 18%;
                text-align: center;
                .product-item-actions{
                    .actions-primary{
                        .action.tocart{
                            background: #273c97;
                            border: 1px solid #273c97;
                            color: #ffffff;
                            font-size: 13px;
                            border-radius: 10px;
                            transition: .5s all ease;
                            &:hover{
                                background: #f5a622;
                                border: 1px solid #f5a622;
                            }
                        }
                    }
                }
            }
            .product-item-name {
                display: inline-block;
                width: 65%;
                a{
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #3a3a3a;
                    text-decoration: none;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover{
                        color: #e9a627;
                    }
                }
            }
        }
        .product-image-container{
            a{
                width: 100%;
                max-width: 130px;
                display: inline-block;
                padding-right: 20px;
            }
        }
    }
}

.checkout-cart-index{
    .cart-empty{
        p {
            font-size: 1.5rem;
            a{
                font-weight: 700;
                text-transform: capitalize;
                color: #f5a622;
            }
        }
    }
    #shopping-cart-table{
        thead{
            margin-bottom: 10px;            
            width: 100%;
            tr{
                th{
                    padding: 15px 40px;
                }
            } 
        } 
    } 
} 

.checkout-cart-index{
    .cart-summary{
        .cart-totals {
            padding-left: 0;
            padding-right: 0;
        }
        .block{
            .title{
                padding-left: 0;
                padding-right: 0;
                &:after{
                    right: 0;
                }
            } 
            .content {
                padding-left: 0;
                padding-right: 0;
            }
        } 
    } 
    .block.crosssell{
        .block-content.content{
            .products-grid{
                .related-products{
                    .owl-stage-outer{
                        overflow: hidden;
                    }
                }
            } 
        } 
    } 
} 

@media only screen and (max-width:960px){

    .breadcrumbs{
        padding: 0 15px !important;
    } 

   body{
        &.checkout-cart-index{
            .cart-container{
                .cart-summary {
                    width: 100%;
                }
                .form-cart {
                    width: 100%;
                }
            } 
            .item{
                .col.item {
                    width: 100%;
                    float: left;
                }
            } 
            #maincontent {
                padding-left: 15px;
            } 
        } 
    }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {

    .checkout-cart-index{
        #maincontent{
            margin-bottom: 50px;
        }
    } 
    .buy-it-container form{
        .product-item-details{
            .product-item-name{
                width: 55%;
            }
            .product-item-inner{
                width: 28%;
            } 
        } 
    } 
}


@media only screen and (max-width:767px){

    .checkout-cart-index{
        .cart-container{
            .free_shipping{
                strong{
                    font-size: 16px;
                }
            } 
        }  
        #shopping-cart-table{
            .item-info{
                .product-item-details{
                    strong{
                        font-size: 1.4rem;
                        font-family: 'Conv_DINOT-Light';
                        font-weight: normal;
                        a{
                            font-size: 1.4rem;
                            font-family: 'Conv_DINOT-Light';
                            font-weight: normal;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: normal;
                        }
                    } 
                }  
                
            } 
        } 
    } 

    body{
        &.checkout-cart-index{
            #maincontent {
                padding-left: 15px;
                .column.main{
                    padding-bottom: 0;
                }
            }
        } 
        &.checkout-cart-index{
            .cart-container{
                display: flex; 
                flex-direction: column;
                .cart-summary {
                    width: 100%;
                    order: 2; 
                    background: #f3f5f6;
                    padding: 10px 15px 25px;
                    margin-bottom: 0;
                }
                .form-cart {
                    order: 1;
                    width: 100%;
                    padding-right: 0px;
                }
            }
            
            .table-wrapper{ 
                width: 100%; 
                .col.subtotal{
                   padding-top: 0px;
                }
                .col.price{
                   padding-top: 0px;
                }
            }
            .item{
                .col.item {
                    width: 100%;
                    float: left;
                }
            } 
            #shopping-cart-table{
                .cart.item{
                    .item-info{
                        td.col.qty{
                            padding-top: 0px;
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                        }
                    } 
                } 
            } 
            
           .buy-it-container{
                form{
                    .product-image-container{
                        float: left;
                    }
                    .product-item-details {
                        display: inline-block; 
                        width: calc(~"100% - 70px");
                        .product-item-name {
                            display: inline-block;
                            width: 100%;
                        }
                        .price-box {
                            width: auto;
                            margin: 2px 0px;
                        }
                        .product-item-inner {
                            width: auto;
                            float: right;
                        }
                    }
                } 
            }
           
        }
    }
}

.block.related .products .owl-stage {
    padding: 0px!important;
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .checkout-cart-index{
        #shopping-cart-table{
            .item-info{
                .product-item-photo {
                    max-width: 80px;
                }
            }
        }
        .opc-wrapper {
            width: 100% !important;
        }
    }

}

.checkout-cart-index{
    #shopping-cart-table{
        .cart.item{
            .col.qty{
                .actions-toolbar{
                    padding-bottom: 0;
                    .action-delete{
                        padding-top: 0;
                        position: relative;
                        line-height: 33px;
                        padding-bottom: 0;
                        color: #464647;
                        border: 1px solid #4d4d4e;
                        padding: 0 10px;
                        height: 33px;
                        margin-left: 0px;
                        font-family: 'Conv_DINOT-Medium';
                        font-weight: normal;
                        &:before{
                            content: '\e604' !important;
                            font-family: 'luma-icons' !important;
                            color: #273c97 !important;
                            display: none !important;
                            
                        }
                    }
                } 
            } 
        } 
    } 
} 

.checkout-cart-index{
    .cart-products-toolbar-top{
        display: none;
    }
    .page-title-wrapper{
        .page-title{
            font-size: 19px;
            font-weight: normal;
        }
    }
} 

.checkout-cart-index{
    span.max-qty-added {
        font-size: 11px;
        padding: 0px 0px;
        width: auto;
        overflow: hidden;
        word-break: break-all;
        white-space: break-spaces;
        position: absolute;
        top: -60px;
        left: 140px;
        color: red;
    }
    .cart-products-toolbar.cart-products-toolbar-bottom.toolbar {
        display: none;
    }
    .cart-container{
        .form-cart{
            margin-bottom: 0;
        }
        .cart-summary > .title{
            display: block;
            border-bottom: none !important;
            margin-bottom: 0;
            background: #ebebeb;
            padding: 5px 15px;
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 0;
        }
        form#discount-coupon-form{
            .fieldset.coupon {
                margin-bottom: 0;
            }
        }
        .cart-summary{
            background: #fff !important;
            padding: 0px 0px 0px !important;
        }
    } 
    .cart.table-wrapper{        
        #shopping-cart-table{
            .cart.item{
                border: 1px solid #dee2e6;
                border-top: 0;
                border-bottom: 0;
            }
            thead tr th{
                padding: 10px 20px;
                text-align: center;
                border-left: 1px solid #dee2e6;
                border-right: 1px solid #dee2e6;
            }
            .item-info{
                .product-item-details{
                    padding-left: 10px;
                }
                .col.price{
                    width: 100%;
                    padding-left: 130px;
                    margin-top: -20px;
                    display: block;
                    clear: left;
                    text-align: left;                   
                    float: left;
                    display: none;
                }
                .col.subtotal{
                    width: 100%;
                    padding-left: 140px;
                    margin-top: -20px;
                    display: block;
                    clear: left;
                    text-align: left;                   
                    float: left;
                }
            } 
        } 
        .item{
            .col.item{
                padding-left: 130px;
                max-width: 100%;
                display: inline-block;
            }
        } 
        .product-item-photo{
            max-width: 130px;
            left: 0;
            min-height: 130px;
            .product-image-container{
                width: 140px !important;
                .product-image-wrapper{
                    padding-bottom: 100% !important;
                    .product-image-photo{
                        position: absolute;
                    }
                }
            }
        }
    } 
}

.checkout-cart-index .cart.table-wrapper .item .col.item{
    min-height: 150px;
}
.checkout-cart-index{
    .cart-summary .block > .title:after{
        color: #000;
    }
    #shopping-cart-table{
        tbody.custom-gap {
            border: none !important;
            tr{
                td {
                    border: none;
                    padding: 5px;
                }
            } 
        }
        thead.custom-class{
            tr {
                background: transparent;
                border: none;
                th {
                    border: none !important;
                    padding: 5px !important;
                }
            }
        } 
    } 
} 


.customer-also-viewed {
	.latest-deals-products-container.block.related {
		ul.latest-deals-container.customers-bought {
			max-width: 80%;
			display: block;
			margin: 15px auto !important;
			float: none;
			position: relative;
            .owl-nav{
                button.owl-prev {
                    background: #5984db;
                    color: #fff;
                    border-radius: 50%;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;
                    outline: none;
                    box-shadow: 0 0 0px 0px #eee;
                }
                button.owl-next {
                    background: #5984db;
                    color: #fff;
                    border-radius: 50%;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    left: -50px;
                    transform: translate(0, -50%);
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    justify-content: center;
                    transition: all 0.3s ease-in-out;
                    outline: none;
                    box-shadow: 0 0 0px 0px #eee;
                    left: auto;
                    right: 10px;
                }

                button {
                    span {
                        display: block;
                        width: auto;
                        height: auto;
                        font-size: 40px;
                        font-weight: 300;
                        position: absolute;
                        top: 38%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:hover {
                        box-shadow: 0 0 10px 5px #eee;
                        transition: all 0.3s ease-in-out;
                    }
                }
			}
		}
	}
}
.block.related {
	.products {
		.owl-stage {
			.owl-item {
				.product-item {
					span.product-image-wrapper {
						padding-bottom: 100% !important;
						position: relative;
						height: auto;
						img {
							display: block;
						}
					}
					span.product-image-container {
						display: block;
					}
					max-width: 95%;
					display: block;
					margin: 0 auto;
					.product-item-inner {
						display: block;
					}
					.product-item-actions {
						display: block;
                        position: static;
						button.action.tocart.primary {
							background: #40549d url(../images/cart.svg) no-repeat 20px 6px;
							border: none;
							width: 100%;
							color: #fff;
							text-transform: uppercase;
							font-family: 'Conv_DINOT-Medium';
							font-size: 13px;
							padding: 10px;
							border-radius: 4px;
							background-size: 26px;
							font-weight: normal;
							padding-left: 50px;
							height: 39px;
						}
						a.action.towishlist {
							&:before {
								content: "\f08a";
								font-family: FontAwesome;
								color: #000;
								font-weight: bold;
								font-size: 16px;
							}
							position: absolute;
							top: 10px;
							right: 10px;
							font-size: 0;
						}
						.actions-primary {
							margin-top: 10px;
						}
					}
				}
			}
		}
		position: relative;
		padding: 0 40px;
	}
}
html .latest-deals-products-container {
	ul {
		li {
			.product-reviews-summary {
				position: static;
				transform: none;
			}
		}
	}
}
.customer-also-viewed {
	margin-top: 30px;
}
.product-item {
	.price-box {
		.old-price {
			span.price-label {
				display: none;
			}
			margin-left: 10px;
		}
	}
}
.block.related {
	.products {
		.owl-stage {
			.owl-item {
				.product-item {
					.product-item-actions {
						button.action.tocart.primary {
							span {
								position: static;
								font-size: inherit;
								transform: none;
							}
						}
					}
				}
				margin: 0 10px;
			}
		}
	}
}
body.checkout-cart-index {
	.buy-it-container {
		form {
			.product-item-details {
				.product-item-name {
					margin-top: 0;
				}
			}
		}
	}
	.block.related {
		.products {
			.owl-stage {
				.owl-item {
					.product-item {
						&:hover {
							.product-item-actions {
								position: static;
								display: block;
							}
							.product-item-inner {
								position: static;
								display: block;
							}
						}
						.product-item-actions {
							a.action.towishlist {
								width: 30px;
								height: 30px;
								background: transparent;
								padding: 0;
								right: 5px;
                                top: 0;
								&:before {
									color: #f5a622;
								}
							}
						}
					}
				}
			}
		}
	}
	.customer-also-viewed {
		margin: 30px -15px;
		.latest-deals-products-container.block.related {
			ul.latest-deals-container.customers-bought {
				max-width: 100%;
				padding: 0 50px;
			}
		}
	}
}
.block.related {
	.products {
		.owl-stage {
			.owl-item {
				.product-item {
					&:hover {
						.product-item-actions {
							.actions-primary {
								width: auto;
							}
						}
					}
				}
			}
		}
	}
}

body.checkout-cart-index .block.related .products .owl-stage .owl-item .product-item .product-item-actions a.action.towishlist, body.checkout-cart-index .block.related .products .owl-stage .owl-item .product-item:hover .product-item-actions a.action.towishlist {
    top: 6px;
    padding: 8px;
    box-sizing: border-box;
    line-height: 1;
}

body.checkout-cart-index .control.qty div.mage-error {
    position: absolute;
    top: 35px;
    font-size: 12px;
    margin-top: 0;
}