// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@minicart__border-color: @color-gray80;
@minicart__padding-horizontal: @indent__base;

@minicart-qty__height: 24px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Minicart
    //  ---------------------------------------------

    .block-minicart {
        .items-total {
            float: left;
            margin: 0 @indent__s;

            .count {
                font-weight: @font-weight__bold;
            }
        }

        .subtotal {
            margin: 0 @indent__s @indent__s;
            text-align: right;

            .label {
                &:extend(.abs-colon all);
            }
        }

        .amount {
            .price-wrapper {
                &:first-child {
                    .price {
                        font-size: @font-size__l;
                        font-weight: @font-weight__bold;
                    }
                }
            }
        }

        .subtitle {
            display: none;

            &.empty {
                display: block;
                font-size: 14px;
                padding: @indent__l 0 @indent__base;
                text-align: center;
            }
        }

        dl {
            &.product.options.list {
                display: inline-block;
                vertical-align: top;
            }
        }

        .text {
            font-family: @font-family-medium;
            font-weight: normal;
            font-size: 20px;
            &.empty {
                text-align: center;
            }
        }

        .block-content {
            > .actions {
                margin-top: 0px;

                > .secondary {
                    text-align: center;
                }

                > .primary {
                    margin: 0 @indent__s 15px;

                    .action {
                        &.primary {
                            &:extend(.abs-button-l all);
                            display: block;
                            width: 100%;
                        }
                    }
                }

                .paypal-logo {
                    margin-top: 15px;
                    text-align: center;
                }
            }
        }

        .block-category-link,
        .block-product-link,
        .block-cms-link,
        .block-banners {
            margin: 15px 0 0;
            text-align: center;
        }
    }

    .minicart-wrapper {
        .lib-dropdown(
            @_toggle-selector: ~'.action.showcart',
            @_options-selector: ~'.block-minicart',
            @_dropdown-list-width: 320px,
            @_dropdown-list-position-right: -10px,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-pointer-position-left-right: 12px,
            @_dropdown-list-z-index: 101,
            @_dropdown-toggle-icon-content: @icon-cart,
            @_dropdown-toggle-active-icon-content: @icon-cart,
            @_dropdown-list-item-padding: false,
            @_dropdown-list-item-hover: false,
            @_icon-font-position: before,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 28px,
            @_icon-font-color: @minicart-icons-color,
            @_icon-font-color-hover: @minicart-icons-color-hover,
            @_icon-font-color-active: @minicart-icons-color
        );
        float: right;

        .block-minicart {
            .lib-css(padding, 25px @minicart__padding-horizontal);

            .block-title {
                display: none;
            }
        }

        .product {
            .actions {
                float: right;
                margin: -24px 0 0;

                > .primary,
                > .secondary {
                    display: inline;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
        }

        .action {
            &.close {
                height: 30px;
                position: absolute;
                right: 0;
                top: 0;
                width: 25px;
                .lib-button-reset();
                .lib-button-icon(
                    @icon-remove,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-size: 14px,
                    @_icon-font-line-height: 14px,
                    @_icon-font-text-hide: true
                );
            }

            &.showcart {
                white-space: nowrap;

                .text {
                    &:extend(.abs-visually-hidden all);
                }

                .counter.qty {
                    .lib-css(background, @active__color);
                    .lib-css(color, @page__background-color);
                    .lib-css(height, @minicart-qty__height);
                    .lib-css(line-height, @minicart-qty__height);
                    border-radius: 2px;
                    display: inline-block;
                    margin: 3px 0 0;
                    min-width: 18px;
                    overflow: hidden;
                    padding: 0 3px;
                    text-align: center;
                    white-space: normal;

                    &.empty {
                        display: none;
                    }

                    .loader {
                        > img {
                            .lib-css(max-width, @minicart-qty__height);
                        }
                    }
                }

                .counter-number {
                    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
                }

                .counter-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .minicart-widgets {
            margin-top: 15px;
        }
    }

    .minicart-items-wrapper {
        .lib-css(border, 1px solid @minicart__border-color);
        .lib-css(margin, 0 -@minicart__padding-horizontal);
        border-left: 0;
        border-right: 0;
        overflow-x: auto;
        padding: 15px;
    }

    .minicart-items {
        .lib-list-reset-styles();

        .product-item {
            padding: @indent__base 0;

            &:not(:first-child) {
                .lib-css(border-top, 1px solid @minicart__border-color);
            }

            &:first-child {
                padding-top: 0;
            }

            > .product {
                &:extend(.abs-add-clearfix all);
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }

        .product-item-pricing {
            .label {
                display: inline-block;
            }
        }

        .price-minicart {
            margin-bottom: @indent__xs;
        }

        .product-item-name {
            font-weight: @font-weight__regular;
            margin: 0 0 @indent__s;

            a {
                .lib-css(color, @link__color);
            }
        }

        .product-item-details {
            padding-left: 88px;

            .price {
                font-weight: @font-weight__bold;
            }

            .price-including-tax,
            .price-excluding-tax {
                margin: @indent__xs 0;
            }

            .weee[data-label] {
                .lib-font-size(11);
                .label {
                    &:extend(.abs-no-display all);
                }
            }

            .details-qty {
                margin-top: @indent__s;
            }

            .product {
                .options {
                    &.list {
                        &:extend(.abs-product-options-list all);
                        &:extend(.abs-add-clearfix all);
                    }
                }
            }
        }

        .product {
            > .product-item-photo,
            > .product-image-container {
                float: left;
            }

            .toggle {
                &:extend(.abs-toggling-title all);
                border: 0;
                padding: 0 0 @indent__xs 0;
                white-space: nowrap;

                &:after {
                    .lib-css(color, @color-gray56);
                    margin: 0 0 0 @indent__xs;
                    position: static;
                }
            }

            .active {
                > .toggle {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &.pricing {
                margin-top: 3px;
            }

            &.options {
                .toggle {
                    &.tooltip {
                        .lib-icon-font(
                            @icon-down,
                            @_icon-font-size: 12px,
                            @_icon-font-line-height: 12px,
                            @_icon-font-text-hide: true,
                            @_icon-font-margin: -3px 0 0 7px,
                            @_icon-font-position: after
                        );
                    }

                    > span {
                        &:extend(.abs-visually-hidden-reset all);
                    }
                }

                .details {
                    display: none;
                }
            }
        }

        .details-qty,
        .price-minicart {
            .label {
                &:extend(.abs-colon all);
            }
        }

        .item-qty {
            text-align: center;
            width: 60px;
        }

        .update-cart-item {
            .lib-font-size(11);
            vertical-align: top;
        }

        .subtitle {
            display: none;
        }

        .action {
            &.edit,
            &.delete {
                .lib-icon-font(
                    @icon-edit,
                    @_icon-font-size: 18px,
                    @_icon-font-line-height: 20px,
                    @_icon-font-text-hide: true,
                    @_icon-font-color: @minicart-icons-color,
                    @_icon-font-color-hover: @primary__color,
                    @_icon-font-color-active: @minicart-icons-color
                );
            }

            &.delete {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-trash
                );
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-top: @indent__s;
        .lib-clearfix();
        .product {
            .actions {
                float: left;
                margin: 10px 0 0 0;
            }
        }
        .update-cart-item {
            float: none;
            font-size: 1.1rem;
            background: #192661;
            border: none;
            width: auto;
            cursor: pointer;
            margin: 0;
            padding: 8px 10px;
            line-height: 1.6rem;
            box-sizing: border-box;
            border-radius: 4px;
            text-transform: uppercase;
            font-family: 'Conv_DINOT-Medium';
            font-weight: normal;
            color: #fff;
            height: 32px;
            vertical-align: middle;
            box-shadow: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;

        .block-minicart {
            width: 390px;
        }
    }
    .minilist .action.delete,
    .minicart-wrapper .action.edit {
        .lib-icon-font-size(
            @_icon-font-size: 16px
        );
    }
}
.minicart-wrapper.active:after {
    opacity: 5;
    visibility: visible;
    pointer-events: auto;
    cursor: pointer;
}
.minicart-wrapper:after {
    background: rgba(0,0,0,.5);
    content: '';
    display: block;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
}
.minicart-wrapper .block-minicart {
    box-shadow: 2px 3px 6px #eee;
    border: 0;
}
.minicart-wrapper .ui-widget-content .block-minicart {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 320px;
    max-width: 100%;
    min-width: auto;
    //height: calc(~"100vh - 60px");    
    margin-top: 0;
    z-index: 999;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: 100%;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}
.minicart-wrapper.active .block-minicart {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}
.minicart-wrapper .block-minicart {
    margin: 0;
    padding: 0;
    list-style: none none;
    background: #fff;
    border: 1px solid #bbb;
    margin-top: 4px;
    min-width: 100%;
    width: 320px;
    z-index: 101;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    //box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
}
.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper {
    flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;   
    flex-wrap: nowrap;
    background: #fff;
}
.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content {
    padding: 0rem 2rem 1rem;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
.minicart-wrapper .ui-widget-content .block-minicart .block-title {
    display: block;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ebebeb;
    padding: 1rem 1.5rem;
    margin-bottom: 0;
    .text {
        color: #000;
        font-size: 20px;
    }
    span {
        color: #000;
    }
    .qty {
        display: none;
        vertical-align: text-top;
        padding: 2px 0 0 10px;
    }
}
.minicart-wrapper{
    .ui-widget-content{
        .block-minicart{
            #minicart-content-wrapper{
                .block-content{
                    .action.close {
                        top: 9px;
                        left: 0px;
                        opacity: 1;
                        display: none;
                    }
                    .close-mini {
                        top: 9px;
                        left: 0px;
                        opacity: 1;
                        color: #000;
                        font-size: 20px;
                        text-align: center;
                        cursor: pointer;
                    }
                } 
            } 
        } 
    } 
} 
.minicart-wrapper .close-mini {
    display: inline-block;
    background-image: none;
    background: 0 0;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    &:focus {
        outline: none;
    }
}
.minicart-wrapper .action.close>span {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.minicart-wrapper .action.close:not(:hover):before {
    color: #000;
}
.minicart-wrapper .action.close:before {
    font-size: 20px;
    line-height: 32px;
    color: inherit;
    content: "\f00d";
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: 300;
    overflow: hidden;
    speak: none;
    text-align: center;
    font-family: 'FontAwesome';
}
.minicart-items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.minicart-wrapper{
    .ui-widget-content{
        .block-minicart{
            #minicart-content-wrapper{
                .block-content{
                    .minicart-items-wrapper{
                        margin: 0;
                        padding-left: 0;
                        padding-right: 0;
                        overflow-x: hidden;
                        overflow-y: scroll;                        
                        height: calc(~"100vh - 50vh") !important;                        
                        .product-item {
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            margin-bottom: 0;
                        }
                    } 
                } 
            } 
        } 
    } 
} 

.minicart-wrapper .minicart-items-wrapper .product-item .product {
    position: relative;
}
.page-header .minicart-wrapper a {
    color: #000 !important;
}
.page-header .minicart-wrapper span.price {
    color: #000; 
    font-weight: bold;
}
.page-header .minicart-items .product-image-wrapper{
    padding-bottom: 100% !important;
}
#mini-cart .product-image-container img {    
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    position: absolute;
}
.minicart-wrapper .minicart-items-wrapper .product-item .product {
    display: flex;
    width: 100%;
    .product-item-details {
        padding-left: 20px !important;
        .product-item-pricing{
            text-align: left;
        }
        .product-item-name {
            text-align: left;            
            a {
                -webkit-box-orient: vertical;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                font-family: 'Conv_DINOT-Light';
                font-weight: normal;
            }
        }
        span.price {
            display: block;
            padding-top: 10px;
        }
        .details-qty.qty {
            .label{
                color: #000;
                margin-bottom: 0;
                font-family: 'Conv_DINOT-Light';
                font-weight: normal;
            }
        }
    }
}
.minicart-wrapper {
    .product.actions {
        .primary {
            a {
                position: relative;
                font-size: 0;
                margin-right: 14px;
                &::after {
                    content: "\f044";                    
                    font-size: 22px;
                    font-family: 'FontAwesome'
                }
            }
        }
        .secondary {
            a {
                position: relative;
                font-size: 0;
                &::after {
                    content: "\f1f8";                    
                    font-size: 22px;
                    font-family: 'FontAwesome';
                    // opacity: 0.7;
                }
            }
        }
    }
}

.minicart-wrapper.active a {
    &::before {
        display: none !important;
    }
}
.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content {
    .subtotal {
        color: #000;
    }
}
.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content .subtotal {
    margin-top: auto;
    margin-bottom: 2rem;
    font-size: 16px;
}
.minicart-wrapper .block-content .subtotal {
    flex-wrap: wrap;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Rubik,sans-serif;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #ebebeb;
    padding-top: 2rem;
}
.minicart-wrapper .block-content .actions .secondary .action.viewcart {
    background: #f6f6f6;
    color: #222;
}
.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content>.actions .action {
    padding: 11px 5%;
}
.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content>.actions .secondary .action {
    border: 1px solid #ebebeb;
}

.minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content > .actions .secondary .action {
    border: 1px solid #ebebeb;
    display: block;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;
    margin-bottom: 20px;
    cursor: pointer;
    margin: 0;
    padding: 16px 0px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 40px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: @font-family-medium;
    &:hover {
        color: #000 !important;
        span {
            color: #000 !important;
        }
    }
}


button#top-cart-btn-checkout {
    background: #192661;
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;    
    margin: 0;
    padding: 18px 0px !important;
    line-height: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: @font-family-medium;
    font-weight: normal;
    &:focus {
        outline: none;
    }
}

#minicart-content-wrapper .subtitle.empty {
    color: #000;
    font-size: 18px;
    position: absolute;
    top: 40%;
}
.minicart-wrapper .subtitle.empty:before {
    content: '';
    display: block;
    background: url('../images/empty_cart.svg') no-repeat center top;
    width: 4.5rem;
    height: 4.5rem;
    margin: auto;
    margin-bottom: 2rem;
    background-size: 100%;
}
.minicart-wrapper .minicart-items-wrapper .product-item .product .product-item-details span.price {
    padding-top: 0;
    padding-bottom: 0px;
    font-family: 'Conv_DINOT-Medium';
    font-weight: normal;
}
.modal-popup {
    &.confirm {
        .modal-inner-wrap{
            border-radius: 10px;
        }                
        .modal-header {
            border: none;
            button {
                position: absolute;
                right: -4px;
                top: -12px;
                border: none;
                background: none;
                display: none;
                &::before {
                    font-size: 20px;
                    line-height: 32px;
                    color: #000;
                }
                span {
                    font-size: 0px;
                }
            }
        }
        .modal-content {
            color: #000;
            text-align: center;
            font-size: 18px;
            padding: 20px 20px !important;
            width: 100%;
            box-sizing: border-box;
        }
        .modal-footer { 
            text-align: center;
            display: block;           
            button {
                border-radius: 4px;
                background: #273c97;
                color: #fff;
                border: none;
                padding: 10px 20px;
                box-shadow: none;
                &.action-accept {
                    background: #f5a622;
                    color: #000;
                }
            }
        }
    }
}

.page-header{
    .block-minicart .block-content > .actions > .primary{
        margin: 0 0px 15px;
    }
    .header.content{
        .minicart-wrapper{
            .block-minicart:before {
                display: none;
            }
            .ui-widget-content{
                .block-minicart{
                    #minicart-content-wrapper{
                        .block-content{
                            .subtotal{
                                font-family: 'Conv_DINOT-Medium';
                                font-weight: normal;
                            }
                        } 
                    } 
                } 
            } 
        }
    }
} 

body.opened header.page-header.headersticky{
    .action.nav-toggle {
        z-index: 1;
    }
} 

body.opened header.page-header{
    .action.nav-toggle {
        z-index: 1;
    }
}
body.opened .block.block-content {
    z-index: 1;
}

header.page-header{
    .block-minicart{
        .amount .price-wrapper:first-child{
            .price{
                font-weight: normal;
            }
        } 
    }
    .minicart-wrapper{
        .ui-widget-content{
            .block-minicart{
                #minicart-content-wrapper{
                    .block-content{
                        padding: 0rem 0rem 1rem;
                        .subtotal{
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        .actions {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        .minicart-items-wrapper{
                            .product-item{
                                padding-left: 15px;
                                padding-right: 15px;
                            } 
                        } 
                    }
                } 
            } 
        } 
    }  
}

header.page-header .minicart-wrapper .ui-widget-content .block-minicart #minicart-content-wrapper .block-content .product.actions {
    padding-left: 0;
    padding-right: 0;
}


@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .minicart-wrapper{
        .ui-widget-content{
            .block-minicart{
                #minicart-content-wrapper{
                    .block-content>.actions .secondary .action{
                        margin-bottom: 15px;
                    }
                    .block-content{
                        .subtotal{
                            margin-bottom: 1rem;
                        }                                                
                        .minicart-items-wrapper{
                            height: calc(~"100vh - 60vh") !important;
                        }
                    } 
                } 
            } 
        } 
    } 
    
}}


