<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Helpdesk
 * @author    Webkul
 * @license   https://store.webkul.com/license.html
 */

$data = $block->getAttributeObject();
$fileSignal = 0;
$booleanSignal = 0;
$textSignal = 0;
$codeSignal = 0;
$textareaSignal = 0;
$selectSignal = 0;
$fileExtensionValue='';
$defaultExtensionValue='';
$selectoption='';

if ($data->getFrontendInput() == "image") {
    $fileSignal = 1;
    $fileExtensionValue = $data->getNote();
    $defaultExtensionValue='jpg,png,gif';
}

if ($data->getFrontendInput() == "file") {
    $fileSignal = 1;
    $fileExtensionValue = $data->getNote();
    $defaultExtensionValue='pdf,zip,doc';
}

if ($data->getFrontendInput() == "text") {
    $textSignal = 1;
}
if ($data->getFrontendInput() == "boolean") {
    $booleanSignal = 1;
}
if ($data->getAttributeId()) {
    $codeSignal = 1;
}
if ($data->getFrontendInput() == "textarea") {
    $textareaSignal = 1;
}
if ($data->getFrontendInput() == "select" || $data->getFrontendInput() == "multiselect") {
    $selectSignal = 1;
    $options = $data->getSource()->getAllOptions();
    foreach ($options as $key => $value) {
        if ($value['value'] != '') {
            $selectoption .=$value['label'].',';
        }
    }
}
?>
<fieldset class="fieldset customattribute_options">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Manage Options (values of your attribute)') ?></span></legend>
    <div id="manage-options-panel">
        <table class="admin__control-table">
            <thead>
                <tr id="attribute-options-table">
                    <th class="col-draggable"></th>

                    <?php
                    $storelist = $block->getStores();
                    foreach ($storelist as $_store):
                        ?>
                        <th><?php /* @escapeNotVerified */ echo __($_store->getName()) ?></th>
                    <?php endforeach;
                    $storetotal = count($storelist) + 3;
                    ?>
                    <th class="col-delete">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-role="options-container" class="ignore-validate"></tbody>
            <tfoot>
            <tr>
                <th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="validation">
                    <input type="hidden" class="required-dropdown-attribute-entry" name="dropdown_attribute_validation"/>
                </th>
            </tr>
            <tr>
                <th colspan="<?php /* @escapeNotVerified */ echo $storetotal; ?>" class="col-actions-add">
                    <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()):?>
                        <button id="add_new_option_button" title="<?php /* @escapeNotVerified */ echo __('Add Option'); ?>"
                            type="button" class="action- scalable add">
                             <span><?php /* @escapeNotVerified */ echo __('Add Option'); ?></span>
                        </button>
                    <?php endif; ?>
                </th>
            </tr>
            </tfoot>
        </table>
        <input type="hidden" id="option-count-check" value="" />
    </div>
    <script id="row-template" type="text/x-magento-template">
         <tr>
            <td class="col-draggable">
                <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()): ?>
                    <div data-role="draggable-handle" class="draggable-handle" title="<?php /* @escapeNotVerified */ echo __('Sort Option'); ?>"></div>
                <?php endif; ?>
                <input data-role="order" type="hidden" name="option[order][<%- data.id %>]"  value="<%- data.sort_order %>" <?php if ($block->getReadOnly() || $block->canManageOptionDefaultOnly()):
                    ?> disabled="disabled"<?php
                                                                                                                            endif; ?>/>
            </td>
            <?php foreach ($block->getStores() as $_store): ?>
            <td class="col-<%- data.id %>"><input name="option[value][<%- data.id %>][<?php /* @escapeNotVerified */ echo $_store->getId() ?>]" value="<%- data.store<?php /* @escapeNotVerified */ echo $_store->getId() ?> %>" class="input-text<?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID):
                ?> required-option<?php
                                                                                      endif; ?>" type="text" <?php if ($block->getReadOnly() || $block->canManageOptionDefaultOnly()):
    ?> disabled="disabled"<?php
                                                                                      endif;?>/></td>
            <?php endforeach; ?>
            <td id="delete_button_container_<%- data.id %>" class="col-delete">
                <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" />
                <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()):?>
                    <button id="delete_button_<%- data.id %>" title="<?php /* @escapeNotVerified */ echo __('Delete') ?>" type="button"
                        class="action- scalable delete delete-option"
                        >
                        <span><?php /* @escapeNotVerified */ echo __('Delete') ?></span>
                    </button>
                <?php endif;?>
            </td>
        </tr>
    </script>
    <?php
    $values = [];
    foreach ($block->getOptionValues() as $value) {
        array_push($values, $value->getData());
    }
    ?>
    <script type="text/x-magento-init">
        {
            "*": {
                "options": {
                    "attributesData": <?php /* @escapeNotVerified */ echo json_encode($values); ?>,
                    "isSortable":  <?php echo (int)(!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()) ?>,
                    "isReadOnly": <?php echo (int)$block->getReadOnly(); ?>
                }
            }
        }
    </script>
</fieldset>
<script id="allowed_extension_template" type="text/x-magento-template">
    <div class="admin__field field field-allowed_extensions  required _required allowed_extensions_type_container" data-ui-id="adminhtml-customfields-edit-0-form-fieldset-element-form-field-allowed_extensions">
        <label class="label admin__field-label" for="allowed_extensions" data-ui-id="adminhtml-customfields-edit-0-form-fieldset-element-text-input-name-label"><span><?php echo __('Allowed Extension') ?></span></label>
        <div class="admin__field-control control">
            <input id="customfields_allowed_extensions" name="allowed_extensions" data-ui-id="adminhtml-customfields-edit-0-form-fieldset-element-text-allowed-extensions" value="<?php echo $fileExtensionValue; ?>" title="<?php echo __('Allowed Extension') ?>" type="text" class=" input-text admin__control-text required-entry _required" aria-required="true">
            <?php if ($defaultExtensionValue != ''): ?>
            <comment>eg:<?php echo $defaultExtensionValue; ?></comment>
            <?php else: ?>
             <comment>eg:<%- data.allowedextension %></comment>
            <?php endif; ?>
        </div>
    </div>
</script>
<?php
$optionData = [
    'fileSignal'                    => $fileSignal,
    'textSignal'                    => $textSignal,
    'codeSignal'                    => $codeSignal,
    'textareaSignal'                => $textareaSignal,
    'selectSignal'                  => $selectSignal,
    'fileExtensionValue'            => $fileExtensionValue,
    'booleanSignal'                 => $booleanSignal,
    'defaultExtensionValue'         => $defaultExtensionValue
];
$serializedData = $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($optionData);
?>
<script type="text/x-magento-init">
{
    "*": {
        "customDependableTicketField": <?php /* @noEscape */ echo $serializedData; ?>
    }
}
</script>
