<?php
    $contacts_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/contacts');
    $_infoblock = $contacts_config['infoblock'];
    $_customblock = $contacts_config['customblock'];
    
    if($_customblock) {
        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
        if($block) {
            $block->setBlockId($_customblock);
        }
        if($block){
            echo '<div class="row"><div class="col-md-12">'.$block->toHtml().'</div></div>';
        }
    }
?>

<?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $customerSession = $objectManager->get('Magento\Customer\Model\Session');
            $response = $customerSession->getContactFormSubmitted();
            $contactUsHelper = $objectManager->create('OM\Rewrite\Helper\ContactUs');
            $contact_info = $contactUsHelper->getContactUsArray();
        
?>


<style>
.contactus-thankyou
{
    text-align: center;
}
.contactus-thankyou h2{
    color:black;
}
.successimage{
    padding-top: 7%;
    margin-top:3%;
    margin: auto;
    display: block;
    width: 74px;
}

</style>

<div class="contact_deatils_sec">

    <div class="contractForm ">
        <?php if($response):?>
            <div class="contactus-thankyou">
                <image class="successimage" src="https://getmyspares.com/pub/media/wysiwyg/contactusformsubmit.png">
                <h2>Thanks , Your query has been submitted .</h2>
                <p>We will get in touch with you by the email id  you  provided. </p>
            </div>
        <?php 
            $customerSession->unsContactFormSubmitted();
        else:?>
            <?php echo $this->getChildHtml('contactForm')?>
        <?php endif;?>
        
    </div>

    
    <div class="contact-info">
	   <div class="contacts-title title">Contact Details</div>
	    <?php if(isset($contact_info['phone'])):?>
            <div class="row">
                <div class="col-md-12">
                    <i class="porto-icon-phone"></i>
                    <?php if(isset($contact_info['phone']['phone_one'])):?>
                        <p><?=$contact_info['phone']['phone_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['phone']['phone_two'])):?>
                        <p><?=$contact_info['phone']['phone_two'];?> </p>
                    <?php endif;?>
                </div>
            </div>
        <?php endif;?>
	    <?php if(isset($contact_info['mobile'])):?>
            <div class="row">
                <div class="col-md-12">
                    <i class="porto-icon-mobile"></i>
                    <?php if(isset($contact_info['mobile']['mobile_one'])):?>
                        <p><?=$contact_info['mobile']['mobile_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['mobile']['mobile_two'])):?>
                        <p><?=$contact_info['mobile']['mobile_two'];?> </p>
                    <?php endif;?>
                </div>
            </div>
        <?php endif;?>
        
        <?php if(isset($contact_info['email'])):?>
            <div class="row">
                <div class="col-md-12">
                    <i class="porto-icon-mail-alt"></i>
                    <?php if(isset($contact_info['email']['email_one'])):?>
                        <p><?=$contact_info['email']['email_one'];?> </p>
                    <?php endif;?>
                    <?php if(isset($contact_info['email']['email_two'])):?>
                        <p><?=$contact_info['email']['email_two'];?> </p>
                    <?php endif;?>
   
                </div>
            </div>
        <?php endif;?>
    </div>
</div>

