<?php
 
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
        
		$buyer_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Reports\buyer');	
		
        
        $sql = "Select * FROM buyer_report order by id desc";     
        $results = $connection->fetchAll($sql);          
		
		  
		echo '
		<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
		.custom_wrap {
			font-family: "Open Sans", sans-serif;
		    width: 100%;
		    overflow: auto;
		    padding: 10px;
		    box-sizing: border-box;
		    border: 1px solid #cacaca;
		    border-radius: 4px;
		}
		.custom_wrap table {
		    border: 0px !important;
		    border-collapse: collapse !important;
		}
		.custom_wrap table th{
			border: 1px solid #7d7d7d !important;
			background:#8a8a8a;
			color:#fff;
			white-space:nowrap
		}
		.custom_wrap table td{
		    border-bottom: 1px solid #ccc !important;
		}
		</style>
		<table border="1"  id="example"> 
		<thead>
		<tr>
			<th>ID</th> 
			<th>Buyer ID</th>
			<th>Buyer Name</th> 
			<th>Billing Name</th>
			<th>Gender</th>
			<th>Billing Address</th>
			<th>City</th>
			<th>State/Province</th>
			<th>ZIP</th>
			<th>Country</th>
			<th>Shipping name</th> 
			<th>Shipping Address</th> 
			<th>City</th> 
			<th>State/Province</th> 
			<th>ZIP</th> 
			<th>Country</th> 
			<th>Email</th> 
			<th>Mobile</th> 
			<th>Group</th> 
			<th>Customer Creation date</th> 
			<th>Customer status</th> 
			<th>PAN number</th> 
			<th>GST number</th> 
			<th>Type of business</th> 
			<th>Account Lock (status)</th> 
			<th>Rewards Tier</th> 
			<th>IP address</th> 
		</tr>
		</thead>
		<tbody>
		';
		  
			
		foreach($results as $row)
		{
			$json=$row['details'];
			$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
			$api_helpers = $objectManager->create('Customm\Apii\Helper\Data');
			$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');

			$reason=$row['reason'];
			
	        $newArray=json_decode($json);
			
			
			/* echo "<pre>";
			print_r($newArray); 
			echo "</pre>";    */
			
			// Default Array
			$newBuyerId=$newArray[0]->buyer_id;
			$created_at=$newArray[0]->created_at;
			
			// Group Array
 			
			$group=$newArray[1]->buyer_group;
			
				
			
			//My Profile 
			$firstname=$newArray[2]->firstname;
			$lastname=$newArray[2]->lastname;
			$gender=$newArray[2]->gender;
			$email=$newArray[2]->email;
			$mobile=$newArray[2]->buyer_mobile;
			$buyer_status=$newArray[2]->buyer_status;
			$buyer_lockexpires=$newArray[2]->buyer_lockexpires;
			$buyer_rewardtier=$newArray[2]->buyer_rewardtier;
			$buyer_ip=$newArray[2]->buyer_ip;
			$buyer_nameee=$firstname.' '.$lastname;	 
			
			
			$buyer_panno="";
			$buyer_gstnumber="";
			$company_name="";
			$company_address="";
			
			if(!empty($newArray[2]->buyer_panno))
			{
				$buyer_panno=$newArray[2]->buyer_panno;
			}	
			
			if(!empty($newArray[2]->buyer_gstnumber))
			{
				$buyer_gstnumber=$newArray[2]->buyer_gstnumber;
			}	
			
			if(!empty($newArray[2]->company_name))
			{
				$company_name=$newArray[2]->company_name;
			}
			
			if(!empty($newArray[2]->company_address))
			{
				$company_address=$newArray[2]->company_address;
			}
			
			
			
			
			
			
			//Billing Address 
			$billing_firstname=$newArray[3]->billing_firstname;
			$billing_lastname=$newArray[3]->billing_lastname;
			$billing_address=$newArray[3]->billing_address;
			$billing_city=$newArray[3]->billing_city;
			$billing_state=$newArray[3]->billing_state;
			$billing_pincode=$newArray[3]->billing_pincode;
			$billing_country_id=$newArray[3]->billing_country_id;
			
			$billing_nameee=$billing_firstname.' '.$billing_lastname;  
			
			
			//Billing Address 
			$shipping_firstname=$newArray[4]->shipping_firstname;
			$shipping_lastname=$newArray[4]->shipping_lastname;
			$shipping_address=$newArray[4]->shipping_address;
			$shipping_city=$newArray[4]->shipping_city;
			$shipping_state=$newArray[4]->shipping_state;
			$shipping_pincode=$newArray[4]->shipping_pincode;
			
			
			$shipping_nameee=$shipping_firstname.' '.$shipping_lastname;  
			
			
			
			$api_helpers = $objectManager->create('Customm\Apii\Helper\Data'); 
			$check_this_seller=$api_helpers->check_user_seller($newBuyerId);   
				
			if($check_this_seller==0)     
			{	 
				
				if($reason=='Deleted')
				{
					$buyer_status='Deleted';
				}	
				echo '
				<tr> 
					<td>'.$row['id'].'</td> 
					<td>'.$newBuyerId.'</td>
					<td>'.$buyer_nameee.'</td>
					<td>'.$billing_nameee.'</td>
					<td>'.$gender.'</td>
					<td>'.$billing_address.'</td>
					<td>'.$billing_city.'</td>
					<td>'.$billing_state.'</td>
					<td>'.$billing_pincode.'</td>
					<td>'.$billing_country_id.'</td>
					<td>'.$shipping_nameee.'</td>
					<td>'.$shipping_address.'</td>
					<td>'.$shipping_city.'</td>
					<td>'.$shipping_state.'</td>
					<td>'.$shipping_pincode.'</td>
					<td>'.$billing_country_id.'</td>
					<td>'.$email.'</td>
					<td>'.$mobile.'</td>
					<td>'.$group.'</td>
					<td>'.$created_at.'</td>
					<td>'.$buyer_status.'</td>
					<td>'.$buyer_panno.'</td>
					<td>'.$buyer_gstnumber.'</td>
					<td>&nbsp;</td>
					<td>'.$buyer_lockexpires.'</td>
					<td>'.$buyer_rewardtier.'</td>
					<td>'.$buyer_ip.'</td>
					'; 
			}
			
			
			/*
			
			
			echo '
			<tr>
				<td>'.$newBuyerId.'</td>
				<td>'.$buyer_nameee.'</td>
				<td>'.$billing_nameee.'</td>
				<td>'.$gender.'</td>
				<td>'.$buyer_billing_aaddresss.'</td>
				<td>'.$billing_city.'</td>
				<td>'.$billing_state.'</td>
				<td>'.$billing_pincode.'</td>
				<td>'.$billing_country_id.'</td>
				<td>'.$shipping_name.'</td>
				<td>'.$shipping_address.'</td>
				<td>'.$shipping_city.'</td>
				<td>'.$shipping_state.'</td>
				<td>'.$shipping_pincode.'</td>
				<td>'.$shipping_country_id.'</td>
				
				<td>'.$buyer_email.'</td>
				<td>'.$buyer_mobile.'</td>
				<td>'.$buyer_group.'</td>
				<td>'.$created_at.'</td>
				<td>'.$buyer_statts.'</td>
				<td>'.$buyer_panno.'</td>
				<td>'.$buyer_gstnumber.'</td>
				<td>'.$buyer_typeofbusiness.'</td>
				<td>'.$buyer_lockexpires.'</td> 
				<td>'.$buyer_rewardtier.'</td>
				<td>'.$buyer_ip.'</td>
				
				
			</tr>'; 

			*/

			
		}   
		
		
		echo '
		</tbody> 
		</table>
		
		';
		
		echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		echo '
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		
		'; 
		
		echo '<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 8, 
				order:[[0,"desc"]]  
			} ); 
			
			$("table").wrap("<div class=custom_wrap></div>"); 
			
		});
		</script>
		
		 
		';		
		
?>