<?php
// User Login
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');				

				
$customer_id=$customerSession->getCustomerId();
$user_title=$customerSession->getCustomer()->getEmail();
$user_content='<p>'.$customerSession->getCustomer()->getEmail().'</p>';
 


// User Shipping Address


$firstname=$custom_helpers->get_customer_shipping_address($customer_id,'firstname');
$lastname=$custom_helpers->get_customer_shipping_address($customer_id,'lastname');
$mobile=$custom_helpers->get_customer_shipping_address($customer_id,'telephone');
$street=$custom_helpers->get_customer_shipping_address($customer_id,'street');
$city=$custom_helpers->get_customer_shipping_address($customer_id,'city');
$region=$custom_helpers->get_customer_shipping_address($customer_id,'region');
$country=$custom_helpers->get_customer_shipping_address($customer_id,'country_id'); 
$pincode=$custom_helpers->get_customer_shipping_address($customer_id,'postcode'); 
$name=$firstname.' '.$lastname;
$address=$street.' '.$city.' '.$region.' '.$country;

$name=$firstname.' '.$lastname;
$address=$street.' '.$city.' '.$region.' '.$country;
  
if($mobile!='')
{
	$mobile='Mob : '.$mobile;	
}	  
$data=$name.$mobile.'<br>'.$address.'<span>Change</span>'; 


// User Order Title

$cart = $objectManager->get('\Magento\Checkout\Model\Cart');
$itemsCollection = $cart->getQuote()->getItemsCollection();
$itemsVisible = $cart->getQuote()->getAllVisibleItems();
$items = $cart->getQuote()->getAllItems();

$itemsCollection = $cart->getQuote()->getItemsCollection();

$itemsVisible = $cart->getQuote()->getAllVisibleItems();

$items = $cart->getQuote()->getAllItems();

$productNamee=''; 

foreach($items as $item) {
$product = $objectManager->get('Magento\Catalog\Model\Product')->load($item->getProductId()); 
$store = $objectManager->get('Magento\Store\Model\StoreManagerInterface')->getStore();
$productNamee .= $product->getName().',';
}	

$act_product_name=substr($productNamee,0,-1);
 
// Order Summary

$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');
$data_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data'); 

$itemsCollection = $cart->getQuote()->getItemsCollection();
 

$itemsVisible = $cart->getQuote()->getAllVisibleItems();
 

$items = $cart->getQuote()->getAllItems();
 

$subTotal = $cart->getQuote()->getSubtotal();
$grandTotal = $cart->getQuote()->getGrandTotal(); 


$cartarray=(array)$itemsCollection->getData();



$tax_amount=0;

if(!empty($cartarray)) 
{

	foreach($cartarray as $row)
	{
		$tax_amount=$tax_amount + $row['tax_amount'];		
	}	
	
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
		$connection = $resource->getConnection();

		$customerSession = $objectManager->create('Magento\Customer\Model\Session');
		$shippingAmount = $customerSession->getcheckoutshippingSession();
		$shippingAmountt = $customerSession->getcheckoutshippingSession();
		
	$grandTotal=$subTotal+$tax_amount;
	$order_total=$grandTotal + $shippingAmount;
	
	
	if($customerSession->isLoggedIn()) {
		
		$customer_id=$customerSession->getCustomerId();
		
		$pincode=$custom_helpers->get_customer_shipping_address($customer_id,'postcode');
		$shippingAmount=$data_helpers->ecom_price($pincode);
	}
	 
	  
	$shipping=number_format($shippingAmount, 2, '.', '');
	
	 
	$cart_summary='
	<div class="cart-summary">
	<div class="price_details">
		<h2>Summary</h2>
	</div>
	<div class="text_section">        
		<i class="fa fa-exclamation" aria-hidden="true"></i> Processing charge of ₹ 50 will be applicable on COD
	</div>
	<div class="cart-totals">
		<table>
			<tbody>	
				<tr>
					<td>Base Price</td>
					<td> &#8377; '.number_format($subTotal, 2, '.', '').'</td>
				</tr>
				<tr>
					<td>GST</td>
					<td> &#8377; '.number_format($tax_amount, 2, '.', '').'</td>
				</tr>	
				<tr>
					<td>Sub Total</td>
					<td> &#8377; '.number_format($grandTotal, 2, '.', '').'</td>
				</tr>	
				<tr>
					<td>Shipping and Handling</td>
					<td>&#8377; '.$shipping.'</td>
				</tr>	 
				<tr class="total_row"> 
						<td>Order Total</td>
						<td> &#8377; '.number_format($order_total, 2, '.', '').'</td>
					</tr>
					<tr style="display:none;">
						<td>&nbsp;</td>
						<td class="act_cart_total">'.number_format($order_total, 2, '.', '').'</td>
				</tr>  
			</tbody>  
		</table>
		</div>
		</div>
	'; 
 
}


echo $array=json_encode(array('user_title'=>$user_title,'user_content'=>$user_content,'user_shipping'=>$data,'order_title'=>$act_product_name,'cart_summary'=>$cart_summary));    


?>