<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();


$sql = "Select * FROM global_comm_report order by id desc";
$results = $connection->fetchAll($sql);        
?>
<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
.custom_wrap {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #cacaca;
	border-radius: 4px;
}
.custom_wrap table {
	border: 0px !important;
	border-collapse: collapse !important;
}
.custom_wrap table th{
	border: 1px solid #7d7d7d !important;
	background:#8a8a8a;
	color:#fff;
	white-space:nowrap
}
.custom_wrap table td{
	border-bottom: 1px solid #ccc !important;
}
</style>
<table border="1"  id="example"> 
<thead>
<tr>
	<th>ID</th>
	<th>Date</th>
	<th>Shipping GST</th>
	<th>Shipping TDS</th>
	<th>Razorpay GST</th>
	<th>Razorpay TDS</th>
	<th>COD charge</th>
	
</tr>
</thead>
<tbody>
<?php
foreach($results as $row)
{

	$json=$row['details'];
	$id=$row['id']; 
	$cr_date=$row['cr_date'];
	$array=json_decode($json);
	/* echo "<pre>";
		print_r($array);
	echo "</pre>"; */
	
	$shipping_gst=$array->shipping_gst;
	$shipping_tds=$array->shipping_tds;
	$razorpay_gst=0;
	$razorpay_tds=$array->razorpay_tds;
	$cod_tax=$array->cod_tax;
?>
<tr>
	<td><?php echo $id; ?></td> 
	<td><?php echo $cr_date; ?></td> 
	<td><?php echo $array->shipping_gst; ?></td> 
	<td><?php echo $array->shipping_tds; ?></td> 
	<td>0</td> 
	<td><?php echo $array->razorpay_tds; ?></td> 
	<td><?php echo $array->cod_charge; ?></td> 
</tr>
<?php
}
?>	
</tbody> 
</table>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>


<script>
$(document).ready( function () {
	$("#example").DataTable( {
		dom: "Bfrtip",
		buttons: [
			{ extend: "excel", text: "Export In Excel" }
		],
		"pageLength": 6,
		order:[[0,"desc"]]  
	} ); 
	
	$("table").wrap("<div class=custom_wrap></div>"); 
	
});
</script>


