<?php

		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
         $tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
        
        $sql = "Select * FROM commission_report order by id desc";
        $results = $connection->fetchAll($sql);        
       
	   
		
		echo '
		<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
		.custom_wrap {
			font-family: "Open Sans", sans-serif;
		    width: 100%;
		    overflow: auto;
		    padding: 10px;
		    box-sizing: border-box;
		    border: 1px solid #cacaca;
		    border-radius: 4px;
		}
		.custom_wrap table {
		    border: 0px !important;
		    border-collapse: collapse !important;
		}
		.custom_wrap table th{
			border: 1px solid #7d7d7d !important;
			background:#8a8a8a;
			color:#fff;
			white-space:nowrap
		}
		.custom_wrap table td{
		    border-bottom: 1px solid #ccc !important;
		}
		</style>
		 
		<table border="1"  id="example"> 
		<thead>
		<tr>  
			<th>Order Num</th>
			<th>Invoice Num</th>
			<th>Invoice Date</th>
			<th>Invoice Amount</th>
			<th>Seller Name</th>
			<th>Payment ID</th>
			<th>Payment Amount</th>
			<th>Basic Sale Amount</th>
			<th>IGST</th>
			<th>CGST</th>
			<th>SGST</th>
			<th>UTGST</th>
			<th>Total Amount</th>
			<th>Shipping Basic Amount</th>
			<th>Rate%</th>
			<th>CGST</th>
			<th>SGST</th>
			<th>IGST</th>
			<th>UTGST</th>
			<th>Shipping Total</th>
			<th>Razorpay Charges</th>
			<th>Razorpay Tax %</th>
			<th>Razorpay Total</th>
			<th>Nodal Charges</th>
			<th>Nodal Tax %</th>
			<th>Nodal Total</th>
			
			<th>Gross Panasonic Comm due</th>
			<th>IGST</th>
			<th>CGST</th>
			<th>SGST</th>
			<th>UTGST</th>
			<th>Net Comission</th>
			
			<th>COD Charge</th>
			<th>COD Tax</th>
			<th>COD Expense</th>
			
			
		</tr> 
		</thead>
		<tbody>
		';
		 /*<th>TDS on Comission Rate</th>
			<th>TDS on Comission Amount</th>*/
		foreach($results as $row)
		{
		
		$report_details=json_decode($row['report_details']);
		$payment_amount=number_format($report_details->payment_amount, 2, '.', '');
	    $cod_charge=0;
		$cod_tax=0;
		$cod_expenses=0; 
		$adminArray = $tax_helpers->order_amount_details($row['order_id']); 
		$adminArray =  json_decode($adminArray); 
		
		
		/* echo "<pre>";
			print_r($adminArray);
		echo "</pre>"; */
		
		
		$baseprice =  $adminArray->baseprice; 
		
		$igst_amount=0;
		$cgst_amount=0;
		$sgst_amount=0;
		$utgst_amount=0;
		
		$gstArray=$tax_helpers->get_order_gst_details($row['order_id']);
		/* echo "<pre>";
			print_r($gstArray);
		echo "</pre>"; */
		/* $cgst_amount=$gstArray['cgst']; 
		$sgst_amount=$gstArray['sgst']; 
		$igst_amount=$gstArray['igst']; 
		$ugst_amount=$gstArray['utgst'];   */
		
		
		
		
		$igst_amount=$gstArray['igst'];
		$cgst_amount=$gstArray['cgst'];
		$sgst_amount=$gstArray['sgst'];
		$utgst_amount=$gstArray['utgst'];
		 
		
		
		$igst_amount_int=round($igst_amount); 
		$cgst_amount_int=round($cgst_amount);
		$sgst_amount_int=round($sgst_amount);
		$utgst_amount_int=round($utgst_amount);
		
		
		$shipping_gst=$report_details->shipping_gst;
		
		
		$shipping_igst=0;
		$shipping_cgst=0;
		$shipping_sgst=0;
		$shipping_utgst=0;
		
		if($igst_amount_int!=0)
		{
			$shipping_igst=$shipping_gst;
		}	
		if($cgst_amount_int!=0 && $sgst_amount_int!=0)
		{
			$shipping_cgst=$shipping_gst/2;
			$shipping_sgst=$shipping_gst/2;
		}
		if($cgst_amount_int!=0 && $utgst_amount_int!=0)
		{
			$shipping_cgst=$shipping_gst/2;
			$shipping_utgst=$shipping_gst/2;
		}	
		
		
		
		$gst_gross_comm_due=$adminArray->gst_gross_comm_due;
		$net_admin_comm=$adminArray->net_admin_comm;
		
		
		$gst_comm_due_igst=0;
		$gst_comm_due_cgst=0;
		$gst_comm_due_sgst=0;
		$gst_comm_due_utgst=0;
		
		if($igst_amount_int!=0)
		{
			$gst_comm_due_igst=$gst_gross_comm_due;
		}	
		if($cgst_amount_int!=0 && $sgst_amount_int!=0)
		{
			$gst_comm_due_cgst=$gst_gross_comm_due/2;
			$gst_comm_due_sgst=$gst_gross_comm_due/2;
		}
		if($cgst_amount_int!=0 && $utgst_amount_int!=0)
		{
			$gst_comm_due_cgst=$gst_gross_comm_due/2;
			$gst_comm_due_utgst=$gst_gross_comm_due/2;
		}	
		
		
		
		echo '
			<tr>
				<td>'.$row['order_id'].'</td>
				<td>'.$row['invoice_id'].'</td>
				<td>'.$row['cr_date'].'</td>
				<td>'.$report_details->invoice_amount.'</td>
				<td>'.$report_details->seller_name.'</td>
				<td>'.$report_details->payment_id.'</td>
				<td>'.$report_details->payment_amount.'</td> 
				<td>'.$report_details->basic_sale_amount.'</td> 
				<td>'.$igst_amount.'</td>  
				<td>'.$cgst_amount.'</td> 
				<td>'.$sgst_amount.'</td> 
				<td>'.$utgst_amount.'</td>    
				<td>'.$report_details->total_amount.'</td> 
				<td>'.$report_details->shipping_basic_amount.'</td> 
				<td>'.$report_details->shipping_gst.'</td> 
				<td>'.$shipping_cgst.'</td> 
				<td>'.$shipping_sgst.'</td> 
				<td>'.$shipping_igst.'</td> 
				<td>'.$shipping_utgst.'</td>  
				<td>'.$report_details->shipping_total.'</td> 
				<td>'.$report_details->razorpay_charges.'</td> 
				<td>'.$report_details->razorpay_tax.'</td> 
				<td>'.$report_details->razorpay_total.'</td> 
				<td>'.$report_details->nodle_charges.'</td> 
				<td>'.(int)$report_details->noddle_tax.'</td> 
				<td>'.$report_details->nodle_total.'</td> 
                
				<td>'.$report_details->gross_comm.'</td> 
				<td>'.$gst_comm_due_igst.'</td>
				<td>'.$gst_comm_due_cgst.'</td>
				<td>'.$gst_comm_due_sgst.'</td>
				<td>'.$gst_comm_due_utgst.'</td>
				<td>'.$net_admin_comm.'</td>
			    <td>'.$cod_charge .'</td> 
				<td>'.$cod_tax .'</td> 
				<td>'.$cod_expenses .'</td>  
		 
			</tr>';	 
							
		} 	
		
		echo '
		</body>
		</html> 
		';			
						
		/* echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

		 
		
		<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 100
			} );
		} );
		</script>
		
		';
/*<td>'.$report_details->tds_admin_rate .'</td> 
				<td>'.$report_details->tds_admin_comm .'</td>*/			
 
 
 
	echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		echo '
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		
		'; 
		
		echo '<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
					buttons: [ 
					{ extend: "excelHtml5",text: "Export In Excel", filename: function () {
               return "Commission Reports";
      } }, 
				],
				"pageLength": 6,
				order:[[0,"desc"]] 
			} );    
			
			$("table").wrap("<div class=custom_wrap></div>"); 
			
		} );
		</script>
		
		
		
		';	
?>