<?php
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
	$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
	$connection = $resource->getConnection();
	
	
	$sql = "Select * FROM expensereport order by id desc";
	$results = $connection->fetchAll($sql);        
	
   
	
	echo '
	
	 
	<table border="1"  id="example"> 
	<thead>
	<tr>
		<th>Order ID</th>
		<th>Invoice ID</th>
		<th>Order Date</th> 
		<th>Order Total Inc Tax</th> 
		<th>Order excluding Logistics</th> 
		<th>Payable to Logistics</th> 
		<th>Payble to Razorpay</th> 
		<th>Nodal charges</th> 
		<th>Admin Commission</th>
		<th>IGST</th>
		<th>CGST</th>
		<th>SGST</th>
		<th>Seller Due</th> 
		
	</tr> 
	</thead>
	<tbody>
	';
	
	foreach($results as $row)
	{
	
	$admin_comm=$row['total_admin_comm'];
	$shipping_amount=$row['logistic_pay'];
	$payble_to_razorpay=$row['payble_to_razorpay'];
	$order_total_inc_tax=$row['order_total_inc_tax'];
			
	$expenses=$admin_comm+$shipping_amount+$payble_to_razorpay;
	
	$seller_due=$order_total_inc_tax - $expenses;
	echo '
		<tr>
			<td>'.$row['order_increment_id'].'</td>
			<td>'.$row['invoice_id'].'</td>
			<td>'.$row['order_created_at'].'</td>
			<td>'.$row['order_total_inc_tax'].'</td>
			<td>'.$row['order_total_amount'].'</td>
			<td>'.$row['logistic_pay'].'</td>
			<td>'.$row['payble_to_razorpay'].'</td>
			<td>'.$row['noddle'].'</td>
			<td>'.$row['total_admin_comm'].'</td>
			<td>'.$row['igst_amount'].'</td>
			<td>'.$row['cgst_amount'].'</td>
			<td>'.$row['sgst_amount'].'</td>
			<td>'.$row['seller_comm'].'</td>
			
			 
		</tr>';	 
						
	} 	
	echo '
	</tbody>
	</table>  
	';			
					
	echo '
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
	
	echo '
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
	
	';
	
	echo '<script>
	$(document).ready( function () {
		$("#example").DataTable( {
			dom: "Bfrtip",
			buttons: [
				{ extend: "excel", text: "Export In Excel" }
			],
			"pageLength": 6,
			order:[[0,"desc"]]  
		} ); 
	} );
	</script>
	
	
	';	
		
		
?>