<?php

		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
        $tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
        
        $sql = "Select * FROM expense_report_shipping_rest order by id desc";
        $results = $connection->fetchAll($sql);        
       
	   
		
		echo '
		<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
		.custom_wrap {
			font-family: "Open Sans", sans-serif;
		    width: 100%;
		    overflow: auto;
		    padding: 10px;
		    box-sizing: border-box;
		    border: 1px solid #cacaca;
		    border-radius: 4px;
		}
		.custom_wrap table {
		    border: 0px !important;
		    border-collapse: collapse !important;
		}
		.custom_wrap table th{
			border: 1px solid #7d7d7d !important;
			background:#8a8a8a;
			color:#fff;
			white-space:nowrap
		}
		.custom_wrap table td{
		    border-bottom: 1px solid #ccc !important;
		}
		</style>
		 
		<table border="1"  id="example"> 
		<thead>
		<tr>
			<th>Order Num</th>
			<th>Invoice Num</th>
			<th>Invoice Date</th>
			<th>Invoice Amount</th>
			<th>Seller Name</th>
			<th>Payment ID</th>
			<th>Payment Amount</th>
			<th>Basic Sale Amount</th>
			<th>IGST</th>
			<th>CGST</th>
			<th>SGST</th>
			<th>UGST</th>
			<th>Total Amount</th>
			<th>Shipping Expense</th>
			<th>Panasonic Commission</th>
			<th>RazorPay Pay</th>
			<th>Nodal</th>
			
		</tr> 
		</thead>
		<tbody>
		';
		
		foreach($results as $row)
		{
		
		$report_details=json_decode($row['report_details']);
		/* echo "<pre>";
		print_r($report_details);
		echo "</pre>";   */
		
		
		echo '  
			<tr>
				<td>'.$row['order_id'].'</td>
				<td>'.$row['invoice_id'].'</td>
				<td>'.$row['cr_date'].'</td>
				<td>'.$report_details->invoice_amount.'</td>
				<td>'.$report_details->seller_name.'</td>
				<td>'.$report_details->payment_id.'</td>
				<td>'.$report_details->payment_amount.'</td> 
				<td>'.$report_details->basic_sale_amount.'</td> 
				<td>'.$report_details->igst_amount.'</td> 
				<td>'.$report_details->cgst_amount.'</td> 
				<td>'.$report_details->sgst_amount.'</td> 
				<td>'.$report_details->ugst_amount.'</td>  
				<td>'.$report_details->total_amount.'</td> 
				<td>'.$report_details->shipping_expense.'</td> 
				<td>'.$report_details->total_admin_comm.'</td> 
				<td>'.$report_details->payble_to_razorpay.'</td> 
				<td>'.$report_details->noddle.'</td> 
				 
			</tr>';	 
							
		} 	
		echo '
		</body>
		</html> 
		';			
						
		/* echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

		
		
		<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 100
			} );
		} );
		</script>
		
		';				
 */
 
 
	echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		echo '
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		
		'; 
		
		echo '<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [ 
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 6,
				order:[[0,"desc"]] 
			} );    
			
			$("table").wrap("<div class=custom_wrap></div>"); 
			
		} );
		</script>
		
		
		
		';	
?>