<?php

		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
        $tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
        $razorpay_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Reports\razorpay');
        $sql = "Select * FROM expense_report_shipping_rest_new order by id desc";
        $results = $connection->fetchAll($sql);        
?>       
	   
		
		
		<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
		.custom_wrap {
			font-family: "Open Sans", sans-serif;
		    width: 100%;
		    overflow: auto;
		    padding: 10px;
		    box-sizing: border-box;
		    border: 1px solid #cacaca;
		    border-radius: 4px;
		}
		.custom_wrap table {
		    border: 0px !important;
		    border-collapse: collapse !important;
		}
		.custom_wrap table th{
			border: 1px solid #7d7d7d !important;
			background:#8a8a8a;
			color:#fff;
			white-space:nowrap
		}
		.custom_wrap table td{
		    border-bottom: 1px solid #ccc !important;
		}
		</style>
		 
		<table border="1"  id="example"> 
		<thead>
		<tr>
			<th>Order Num</th>
			<th>Invoice Num</th>
			<th>Invoice Date</th>
			<th>Qty</th>
			<th>Seller Name</th>
			<th>Origin Pin Code	</th>
			<th>Origin City	</th>
			<th>Destination Pin Code</th>
			<th>Destination City</th>
			<th>Zone</th>
			<th>eCom Length</th>
			<th>eCom breadth</th>	
			<th>eCom Height</th>
			<th>Volumentric weight (kg)</th>
			<th>eCom Weight(kg)</th>	
			<th>Awb</th>
			<th>Charegable weight slab(kg)</th>	
			<th>Freight Charges</th>	
			<th>Fuel amount</th>	
			<th>Other Amount</th>	
			<th>Basic Shipping Charges</th>	
			<th>Loading Charges</th>
			<th>Basic Shipping & Loading charges</th>
			<th>Shipping HSN code</th>	
			<th>Shipping GST Rate</th>
			<th>Shipping GST type</th>
			<th>Shipping GST</th>
			<th>Shipping Total</th>
		</tr>  
		</thead>
		<tbody>
		<?php

			function tax_get_order_awb($order_increment_id)
			{
				$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
				$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
				$connection = $resource->getConnection();
				$order_id=$connection->fetchOne("select entity_id from sales_order  where  increment_id='$order_increment_id'");
				
				
				$select = $connection->select()
						->from('ecomexpress_awb') 
						->where('orderid = ?', $order_id);	
				$results = $connection->fetchAll($select);
				if(!empty($results)) {
					return $results[0]['awb'];
				}
				else 
				{
					return 0;
				} 
			}
		
		foreach($results as $row)
		{
		
		$report_details=json_decode($row['report_details']);
		/* echo "<pre>";
		print_r($report_details);
		echo "</pre>";   */
		$awb_number = $row['awb'];
		if(empty($awb_number)) {
			$awb_number = tax_get_order_awb($row['order_id']);
		}

		?>
		<tr>
			<td><?php echo $report_details->order_increment_id; ?></td>
			<td><?php echo $report_details->invoice_id; ?></td>
			<td><?php echo $report_details->order_created_at; ?></td>
			<td><?php echo $row['qty']; ?></td>
			<td><?php echo $report_details->seller_name; ?></td>
			<td><?php echo $report_details->seller_zipcode; ?></td>
			<td><?php echo $report_details->seller_city; ?></td>
			<td><?php echo $report_details->buyer_pincode; ?></td>
			<td><?php echo $report_details->buyer_city; ?></td>
			<td><?php echo $report_details->zone; ?></td>
			<td><?php echo $report_details->ecom_length; ?></td>
			<td><?php echo $report_details->ecom_breadth; ?></td>
			<td><?php echo $report_details->ecom_height; ?></td>
			<td><?php echo $report_details->vol_weight; ?></td>
			<td><?php echo $report_details->ecom_weight; ?></td>
			<td><?php echo $awb_number; ?></td>
			<td><?php echo $report_details->charge_weight; ?></td>
			<td><?php echo $report_details->shipping_product_total; ?></td>
			<td><?php echo $report_details->shipping_fuel_amount; ?></td>
			<td><?php echo $report_details->shipping_other_amount; ?></td>
			<td><?php echo $report_details->basic_shipping_charges; ?></td>
			<td><?php echo $report_details->loading_charges; ?></td>
			<td><?php echo $report_details->basic_shipping_loading_charges; ?></td>
			<td><?php echo $report_details->shipping_hsn; ?></td>
			<td><?php echo $report_details->shipping_gst_rate; ?></td>
			<td><?php echo $report_details->shipping_gst_type; ?></td>
			<td><?php echo $report_details->shipping_gst_amount; ?></td>
			<td><?php echo $report_details->shipping_grand_total; ?></td>
			
		</tr> 
		  
		
		<?php
		}
		?>	
		
		</tbody>
		</table> 
		
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

		
		
		
		
		
 
	
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

		<?php  $d =  date("Y-m-d"); ?>
		
		<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [ 
					{ extend: "excelHtml5",text: "Export In Excel", filename: function () {
                 var date= "<?php echo $d; ?>";

               return  "Logistics Reports_" + date;
      } }, 
				],
				"pageLength": 6,
				order:[[0,"desc"]] 
			} );  

			$("table").wrap("<div class=custom_wrap></div>"); 
			
		} );
		</script>
		
		
		
		
