<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
		$site_url=$storeManager->getStore()->getBaseUrl();
		
		//$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
 
		//$appState = $objectManager->get('\Magento\Framework\App\State');
		//$appState->setAreaCode('frontend');
		
		//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
		$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
		
		
		$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
		$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
		$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository'); 
		$categoryId = $_POST['cat_id']; 
		
		/***************Sub Category***********/
		


		//$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        



		$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
		$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
		$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');
		 
		$categoryId = $categoryId; // YOUR CATEGORY ID
		$category = $categoryFactory->create()->load($categoryId);
	
		 
		//var_dump($category->getData());
		  //optimaize query code baljit 

		$childrenCategories = $category->getChildrenCategories();

     ?>
	 <?php
    //$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
   
    $subCategory = $objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
    $subCats = $subCategory->getChildrenCategories();
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
 
<?php


		$childarray=$childrenCategories->getData();
		
		$sub_cat_text='<option value="">Select  Sub category</option>';
		if(!empty($subCats)) { 
		 foreach ($subCats as $subcat) {
			{
				
				
				//echo .' - '.$row['entity_id'].' - '.$row['request_path'];	
				
				$sub_cat_text .='<option value='.$subcat->getId().'>'.$subcat->getName().'</option>';	
				
				
			}
		} 
		}
		
		// Category Url
		
		$categoryFactory = $objectManager->get('\Magento\Catalog\Model\CategoryFactory');
		$categoryHelper = $objectManager->get('\Magento\Catalog\Helper\Category');
		$categoryRepository = $objectManager->get('\Magento\Catalog\Model\CategoryRepository');
		 
		$categoryId = $categoryId; 
		
		
		
		
		$categoryy = $objectManager->create('Magento\Catalog\Model\Category')->load($categoryId);
		$category_detail=$categoryy->getData();

		//$url=$site_url.$category_detail['url_path'].'.html';
		$url=$site_url.$category_detail['url_path'];
		 
		// Brands

		$category = $categoryFactory->create()->load($categoryId);
		 
		$categoryProducts = $category->getProductCollection()
									 ->addAttributeToSelect('*')
									->addAttributeToFilter('status', 1)
									->addAttributeToFilter('brands', array('notnull' => true));
									
		
		$brandarray=array();
		$modelarray=array();
		 
		
		if(!empty($categoryProducts))
		{
			foreach ($categoryProducts as $product) 
			{
				//$productarray[]=$product->getId();	
				/* if(!empty($product->getAttributeText('brands')))
				{	
					
					$brandarray[]=$product->getAttributeText('brands');
					//$productarray[]=$product->getAttributeText('brands').' - '.$helpers->get_brand_id($name);
					
				}   */

				if(!empty($product->getAttributeText('model')))
				{	
					
					$modelarray[]=$product->getAttributeText('model');
					//$productarray[]=$product->getAttributeText('brands').' - '.$helpers->get_brand_id($name);
					
				} 
				
				
				
			}   
		} 
		
		$brand_text='<option value="">Select Brands</option>';
		
		/* if(!empty($brandarray))
		{
			$brand_result=array_values(array_unique($brandarray));
			
			foreach($brand_result as $row)
			{
				$brand_id=$helpers->get_brand_id($row);
				$brand_text .='<option value='.$brand_id.'>'.$row.'</option>';		
			}	
			
			
		}	 */	
		
		
		// Model
		
		$model_text='<option value="">Select Model</option>';
		
		if(!empty($modelarray)) 
		{
			
			$model_result=array_values(array_unique($modelarray));
			  
			
			foreach($model_result as $row)
			{
				$brand_id=$helpers->get_brand_id($row);
				$model_text .='<option value='.$brand_id.'>'.$row.'</option>';		
			}
		}
		
		$array=array('cat_url'=>$url,'sub_cat'=>$sub_cat_text,'model'=>$model_text);  
		echo json_encode($array); 

?>