<?php

	$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
        
        
        $sql = "Select * FROM inventory_master order by id desc";
        $results = $connection->fetchAll($sql);        
		
		 
		echo '
		<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
		.custom_wrap {
			font-family: "Open Sans", sans-serif;
		    width: 100%;
		    overflow: auto;
		    padding: 10px;
		    box-sizing: border-box;
		    border: 1px solid #cacaca;
		    border-radius: 4px;
		}
		.custom_wrap table {
		    border: 0px !important;
		    border-collapse: collapse !important;
		}
		.custom_wrap table th{
			border: 1px solid #7d7d7d !important;
			background:#8a8a8a;
			color:#fff;
			white-space:nowrap
		}
		.custom_wrap table td{
		    border-bottom: 1px solid #ccc !important;
		}
		</style>
		<table border="1"  id="example"> 
		<thead>
		<tr>
			<th>Date of Input</th>
			<th>Product category</th>
			<th>BP category</th>
			
			<th>Item name</th>
			<th>Item description</th>
			<th>Product Code</th>
			<th>Attribute Set</th> 
			<th>SKU</th> 
			<th>Seller code</th> 
			<th>Seller name</th> 
			<th>Price</th> 
			<th>Visibility</th> 
			<th>Status</th> 
			<th>Short Description</th> 
			<th>Discount %</th> 
			<th>Discounted price</th> 
			<th>Special Price From Date</th> 
			<th>Special Price To Date</th> 
			<th>Cost of item</th> 
			<th>Dimension (Volumetic)</th> 
			<th>Weight (kg)</th> 
			<th>Manufactured by</th> 
			<th>Color</th> 
			<th>Country of Manufacture</th> 
			<th>URL Key</th> 
			<th>Tax Class</th> 
			<th>HSN code</th> 
			<th>GST rate</th> 
			<th>Warranty Information (Warranty term)</th> 
			<th>Is Category Type Battery (yes/no)</th> 
			<th>Is Category Type Dangerous? (Yes/No)</th> 
			<th>universal parts</th> 
		</tr>
		</thead>
		<tbody>
		';
		
		foreach($results as $row)
		{
		 
		 $json=$row['details'];
		  $cr_date=$row['cr_date'];
	   
	$inventory_array=json_decode($json);
	/* echo "<pre>";
	print_r($inventory_array); 
	
	 */
			$product_category=0;
			$bp_category=0;
			$sub_category=0;  
			$product_name=0;  
			if(isset($inventory_array->product_category))
			{ 
				$product_category=$inventory_array->product_category;
			}	 
			
			if(isset($inventory_array->bp_category))
			{ 
				$bp_category=$inventory_array->bp_category;
			}	


			if(isset($inventory_array->sub_category))
			{ 
				$sub_category=$inventory_array->sub_category;
			}	

			if(isset($inventory_array->product_name))
			{ 
				 
				$product_name=$inventory_array->product_name;
			echo '
			<tr>
				<td>'.$cr_date.'</td>
				<td>'.$product_category.'</td>
				<td>'.$bp_category.'</td>
				
				<td>'.$product_name.'</td>
				<td>'.$inventory_array->description.'</td>
				<td>'.$inventory_array->product_id.'</td>
				<td>'.$inventory_array->attribute.'</td>
				<td>'.$inventory_array->sku.'</td>
				<td>'.$inventory_array->seller_id.'</td>
				<td>'.$inventory_array->seller_name.'</td>
				<td>'.$inventory_array->product_price.'</td>
				<td>'.$inventory_array->visibility.'</td>
				<td>'.$inventory_array->status.'</td>
				<td>'.$inventory_array->short_description.'</td>
				<td>'.$inventory_array->discount.'</td>  
				<td>'.$inventory_array->discount_price.'</td>    
				<td>'.$inventory_array->specialPriceFromDate.'</td>
				<td>'.$inventory_array->specialPriceToDate.'</td>
				<td>'.$inventory_array->costofitem.'</td>
				<td>'.$inventory_array->dimension.'</td>
				<td>'.$inventory_array->weight.'</td>
				<td>'.$inventory_array->manufacturer.'</td>
				<td>'.$inventory_array->color.'</td>
				<td>'.$inventory_array->manufacturer_country.'</td>
				<td>'.$inventory_array->url_key.'</td>
				<td>'.$inventory_array->tax_class.'</td>
				<td>'.$inventory_array->hsn_code.'</td>
				<td>'.$inventory_array->gst_rate.'</td>
				<td>'.$inventory_array->warranty_term.'</td>
				<td>'.$inventory_array->is_category_type_battery.'</td>
				<td>'.$inventory_array->is_category_type_dangerous.'</td>
				<td>'.$inventory_array->universal_parts.'</td>
			
			</tr>'; 	 
			}   
		}  
		
		echo '
		</tbody> 
		</table>
		
		';
		
		echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		echo '
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		
		'; 
		
		echo '<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 6,
				order:[[0,"desc"]]  
			} ); 
			
			$("table").wrap("<div class=custom_wrap></div>"); 
			
		});
		</script>
		
		 
		';		
		
?>