<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
.custom_wrap {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #cacaca;
	border-radius: 4px;
}
.custom_wrap table {
	border: 0px !important;
	border-collapse: collapse !important;
}
.custom_wrap table th{
	border: 1px solid #7d7d7d !important;
	background:#8a8a8a;
	color:#fff;
	white-space:nowrap
}
.custom_wrap table td{
	border-bottom: 1px solid #ccc !important;
}
</style>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$site_url=$storeManager->getStore()->getBaseUrl();

$sql = "Select * FROM razorpay_orders order by id desc";
$results = $connection->fetchAll($sql);        
$array=array('captured','authorized');
?>
<table border="1"  id="example"> 
<thead>
<tr>
	<th>Quote Id</th>
	<th>Order ID</th>
	<th>Status</th>
	<th>Action</th>
	<th>Last Check</th>
	
</tr>
</thead>
<tbody>
<?php
foreach($results as $row)
{
	
	$order_id=$row['order_id'];
	$order_idd=$row['order_id'];
	$status=$row['status'];
	$statuss=$row['status'];
	$status=0;	
	if (in_array($status, $array)) 
	{
		if($order_id=='1')
		{
			$status=1;		
		}	
	}	
	
	
	$quote_id=trim($row['quote_id']);
	
	$status_x='Verifying';	
	$button='<a href="javascript:void(0);" onclick="create_order('.$quote_id.');">Create manual order</a>';
	if($status==1)
	{
		$status_x='Completed';	
		$button='Complete'; 
	}	
	
	if($statuss=='failed' && $order_idd=='')
	{
		$status_x='Failed';	
		$button='Failed';	 
	}	
?>
<tr>
	<td><?php echo $row['quote_id']; ?></td>
	<td><?php echo $row['razorpay_order_id']; ?></td>
	<td><?php echo $status_x; ?></td>
	<td class="row_<?php echo $row['quote_id']; ?>"><?php echo $button; ?></td>  
	<td><?php echo $row['cr_date']; ?></td>     
</tr>
<?php
}
?>
</tbody> 
</table>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>
$(document).ready( function () {
	$("#example").DataTable( {
		dom: "Bfrtip",
		buttons: [
			{ extend: "excel", text: "Export In Excel" }
		],
		"pageLength": 6,
		order:[[0,"desc"]]  
	} ); 
	
	$("table").wrap("<div class=custom_wrap></div>"); 
	
});

function create_order(quote_id)
{
	   
	jQuery.ajax({
		type: "POST",
		url: "<?php echo $site_url; ?>customuser/index/createorder", 
		data: "quote_id=" + quote_id,  
		success: function (result) 
		{
			alert(result);  
		}
	});

	
	
}	

</script>
		
