<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
 
$api_helpers = $objectManager->create('Customm\Apii\Helper\Data'); 

  $sql = "Select * FROM razorpay_report order by id desc";
$results = $connection->fetchAll($sql);        
    
 
echo '
<table border="1"  id="example">  
<thead> 
<tr> 
	<th style="display:none;">ID</th>
	<th>Buyer Id</th>
	<th>Buyer Name</th>
	<th>Billing Address</th>
	<th>City</th>
	<th>Shipping Address</th>
	<th>City</th>
	<th>Order No/Invoice No</th>
	<th>Order Date/Invoice Date</th>
	<th>Order Value - Basic Value</th> 
	<th>Order value- GST</th> 
	<th>Order value- Logistic</th> 
	<th>Total Order value</th> 
	<th>Payment ID</th> 
	<th>Razor pay charges terms</th> 
	<th>Razor pay charges</th> 
	<th>Razor pay-GST</th> 
	<th>Razor pay charges total</th> 
	<th>Amount transferred in Nodal</th> 
	<th>Date of transfer to nodal</th> 
	<th>Payment ID for trf to nodal</th> 
	<th>Remarks- special remarks</th> 
</tr>
</thead>
<tbody>
';
foreach($results as $row)
{
	
	$json=$row['details'];
	
	$array=json_decode($json);
	
	$buyer_id=$array->buyer_id;
	$buyer_name=$array->buyer_name;
	$billing_address=$array->billing_address;
	$billing_city=$array->billing_city;
	$shipping_address=$array->shipping_address;
	$shipping_city=$array->shipping_city;
	$base_amount=$array->base_amount;
	$gst_amount=$array->gst_amount;
	$shipping_amount=$array->logistic_amount;
	$total_order_value=$array->total_order_value;
	$payment_id=$array->payment_id;
	$razorpay_fee=$array->razorpay_charges_terms;
	$razorpay_gst=$array->razorpay_gst;
	$razorpay_total=$array->razorpay_total;
	$nodal_amount=$array->nodal_amount;
	$razorpay_charges=$array->razorpay_charges;
	
	
	$check_mobile=$api_helpers->check_order_from_mobile($row['order_id']);
	
	$base_amount=number_format($base_amount, 2, '.', '');
	$gst_amount=number_format($gst_amount, 2, '.', '');
	$shipping_amount=number_format($shipping_amount, 2, '.', '');
	$total_order_value=number_format($total_order_value, 2, '.', '');
	
	$razorpay_charges_term=($razorpay_charges/$total_order_value)*100; 
	$razorpay_charges_term=number_format($razorpay_charges_term, 2, '.', '');
	  
	  
		echo '
		<tr>
		<td style="display:none;">'.$row['id'].'</td>
		<td>'.$buyer_id.'</td>
		<td>'.$buyer_name.'</td>
		<td>'.$billing_address.'</td>
		<td>'.$billing_city.'</td> 
		<td>'.$shipping_address.'</td>
		<td>'.$shipping_city.'</td> 
		<td>'.$row['order_id'].'/'.$row['invoice_id'].'</td> 
		<td>'.$row['cr_date'].'</td>  
		<td>'.$base_amount.'</td> 
		<td>'.$gst_amount.'</td> 
		<td>'.$shipping_amount.'</td> 
		<td>'.$total_order_value.'</td> 
		<td>'.$payment_id.'</td> 
		<td>'.$razorpay_charges_term.'</td> 
		<td>'.$razorpay_charges.'</td> 
		<td>'.$razorpay_gst.'</td>  
		<td>'.$razorpay_total.'</td> 
		<td>'.$nodal_amount.'</td> 
		<td>'.$row['cr_date'].'</td>  
		<td>'.$payment_id.'</td>  
		<td>&nbsp;</td> 
		</tr> 
		 
		';	
	
}	


echo '
</tbody>
</table>

';

echo '

<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

'; 

echo '
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

'; 
 
echo '<script>
$(document).ready( function () {
	$("#example").DataTable( {
		dom: "Bfrtip",
		buttons: [
			{ extend: "excel", text: "Export In Excel" }
		],
		"pageLength": 100, 
		order:[[0,"desc"]]   
	} ); 
} );
</script>


';	
?>