<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- #region datatables files -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style>

table#company_example thead th, table#seller_example thead th, table#indi_example thead th {
	background-color: #514943;
	color: #fff;
	border-left-color: transparent;
}
ul.company_example a {
    background: #E94D27;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 3px;
    margin: 0px 5px 5px 0px;
	transition: .2s;
}
ul.company_example a:hover {
    text-decoration: none;
    background: #ce4423;
    transition: .2s;
}
/*ul.company_example .active a {
	background: #ce4423 !important;
}*/
#company_example_wrapper, #indi_example_wrapper, #seller_example_wrapper {
	padding: 10px 0 0 0;
}
#company_example_wrapper input, #indi_example_wrapper input, #seller_example_wrapper input {
	border: 1px solid #ccc;
}
table#company_example a, table#seller_example a, table#indi_example a {
    background: #E94D27;
    color: #fff;
    padding: 5px 15px 8px;
    display: inline-block;
    border-radius: 3px;
	transition: .2s;
}
table#company_example a:hover, table#seller_example a:hover, table#indi_example a:hover {
    text-decoration: none;
    background: #ce4423;
    transition: .2s;
}
button.btn-primary {
    background: #E94D27 !important;
    border: 0 !important;
}

</style>                     
  
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
?>
<script>
	$(document).ready( function () {
		$('#company_example').DataTable();
		$('#indi_example').DataTable();
		$('#seller_example').DataTable();
	});  
    
	function openaccount(user_id)
	{
		jQuery('#click_data').click();
		jQuery('#exampleModal').find('.modal-body').empty().append('Processing...');		
		jQuery.ajax({  		   
			type: "POST",		
			url: "<?php echo $this->getUrl().'customuser/index/getuseraccountdataedit'?>", 	
			data: "action=Getcustomer&user_id="+user_id,    
			success: function(result) {       
				jQuery('#exampleModal').find('.modal-body').empty().append(result);	
					
			},                	   	 
			error: function(e) 
			{	    
				console.log(e);	
			}	
		}); 	
	}

	function savechangeUserData(user_id)
	{
		var curr_status=jQuery('select[name=curr_status]').val();
		
		if(curr_status=='')
		{
			alert('Please select the option');
			return false;	   
		}	
		
		jQuery('.save_admin_account').html('Processing...');
		
		 
		jQuery.ajax({  		   
			type: "POST",		
			url: "<?php echo $this->getUrl().'customuser/index/saveuseraccountdataedit'?>", 	
			data: "action=Getcustomer&user_id="+user_id+"&status="+curr_status,    
			success: function(result) {       
				
				jQuery('.close').click();
				//alert(result);   
				//return false; 	       
				if(result==0) 
				{
					alert('Changes has been saved as Pending');		
					return false;
				}	
				else if(result==2)
				{
					alert('Changes has been saved as Rejected');		
					
					jQuery('.row_'+user_id).text(jQuery(this).remove()); 
					
					jQuery('.refresh-section').empty().append('<p>Processing...</p>');	
					jQuery.ajax({  		     
						type: "POST",		
						url: "<?php echo $this->getUrl().'testt.php'?>", 	
						data: "action=Getcustomer",    
						success: function(result) {       
							location.reload();			    
						},                	   	 
						error: function(e)   
						{	    
							console.log(e);	
						}	
					});  
				} 
				else  
				{		
					alert('Changes has been saved');
					jQuery('.row_'+user_id).text(jQuery(this).remove()); 
					
					jQuery('.refresh-section').empty().append('<p>Processing...</p>');	
					jQuery.ajax({  		     
						type: "POST",		
						url: "<?php echo $this->getUrl().'testt.php'?>", 	
						data: "action=Getcustomer",    
						success: function(result) {       
							location.reload();			    
						},                	   	 
						error: function(e)   
						{	    
							console.log(e);	
						}	
					}); 
					
					
					
					return false;
				}       
			},                	   	 
			error: function(e)   
			{	    
				console.log(e);	
			}	
		}); 		
	}	 
	
	function refresh_edit_acc()
	{
		jQuery('.refresh-section').empty().append('<p>Processing...</p>');	
		jQuery.ajax({  		     
			type: "POST",		
			url: "<?php echo $this->getUrl().'testt.php'?>", 	
			data: "action=Getcustomer",    
			success: function(result) {       
				location.reload();			    
			},                	   	 
			error: function(e)   
			{	    
				console.log(e);	
			}	
		}); 
	} 	
	
	
	  
</script>               
<p>To Get updated records Cick <a href="javascript:void(0);" class="hereeee" onclick="refresh_edit_acc();">here</a></p>	
<div style="padding:10px;" class="refresh-section">
 
  <!-- Nav tabs -->
  <ul class="company_example nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Company Buyer</a></li>
    <!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Individual Buyer</a></li>-->
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Sellers</a></li>
   
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
	<?php
	$sql_cmp = "Select * FROM custom_user_edit_account where group_id='4' and status='0'";
	$result_cmp = $connection->fetchAll($sql_cmp); 
	?>
	<table id="company_example" class="border table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Email</th>
                <th>View</th>
                
            </tr> 
        </thead>
        <tbody>
            <?php 
				
				foreach($result_cmp as $row_cmp)
				{ 
				$customer = $objectManager->create('Magento\Customer\Model\Customer')->load($row_cmp['user_id']);
				$customerData=$customer->getData();
				if(!empty($customerData)) {
					?>     
					<tr class="row_<?php echo $row_cmp['user_id']; ?>">
						<td><?php echo $customerData['firstname'].' '.$customerData['lastname']; ?></td>  
						<td><?php echo $customerData['email']; ?></td>        
						<td><a href="javascript:void(0);" onclick="openaccount('<?php echo $row_cmp['user_id']; ?>');">View</a></td>
					</tr>  
					<?php 
					} 
				}
				?> 
        </tbody>
       
    </table>
	
	</div>
    <div role="tabpanel" class="tab-pane" id="profile">
		<?php
		$sql = "Select * FROM custom_user_edit_account where group_id='1' and is_seller='0' and  status='0'";
		$result = $connection->fetchAll($sql); 
		?>
		<table id="indi_example" class="border table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Email</th>
					<th>View</th>
					
				</tr>
			</thead>
			<tbody> 
				<?php 
				foreach($result as $row)
				{ 
				$customer = $objectManager->create('Magento\Customer\Model\Customer')->load($row['user_id']);
				$customerData=$customer->getData();
				if(!empty($customerData)) {
					?>     
					<tr class="row_<?php echo $row['user_id']; ?>">
						<td><?php echo $customerData['firstname'].' '.$customerData['lastname']; ?></td>  
						<td><?php echo $customerData['email']; ?></td>        
						<td><a href="javascript:void(0);" onclick="openaccount('<?php echo $row['user_id']; ?>');">View</a></td>
					</tr> 
					<?php 
					} 
				}
				?> 
			     
			</tbody>
		   
		</table>
	
	
	</div>
    <div role="tabpanel" class="tab-pane" id="messages">
	
	<?php
		$sql = "Select * FROM custom_user_edit_account where group_id='1' and is_seller='1' and  status='0'";
		$result = $connection->fetchAll($sql); 
		?>
		<table id="seller_example" class="border table table-striped table-bordered" style="width:100%">
			<thead>   
				<tr>
					<th>Customer Name</th>
					<th>Email</th>
					<th>View</th>
					
				</tr>
			</thead>
			<tbody>
				<?php 
				foreach($result as $row)
				{ 
				$customer = $objectManager->create('Magento\Customer\Model\Customer')->load($row['user_id']);
				$customerData=$customer->getData();
				if(!empty($customerData)) {
					?>     
					<tr class="row_<?php echo $row['user_id']; ?>">
						<td><?php echo $customerData['firstname'].' '.$customerData['lastname']; ?></td>  
						<td><?php echo $customerData['email']; ?></td>        
						<td><a href="javascript:void(0);" onclick="openaccount('<?php echo $row['user_id']; ?>');">View</a></td>
					</tr> 
					<?php 
					} 
				} 
				?> 
			   
			</tbody>
		   
		</table>  
	
	 
	
	</div>
     
  </div>

</div>   

 <!-- Button trigger modal -->
<button id="click_data" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="display:none;">
  Launch demo modal
</button>     


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Account Changes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      
    </div>
  </div>   
</div>       


