<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
.custom_wrap {
	font-family: "Open Sans", sans-serif;
	width: 100%;
	overflow: auto;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #cacaca;
	border-radius: 4px;
}
.custom_wrap table {
	border: 0px !important;
	border-collapse: collapse !important;
}
.custom_wrap table th{
	border: 1px solid #7d7d7d !important;
	background:#8a8a8a;
	color:#fff;
	white-space:nowrap
}
.custom_wrap table td{
	border-bottom: 1px solid #ccc !important;
}
</style>
<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
$resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
$connection = $resource->getConnection();
$custom_helpers = $objectManager->create('Panasonic\CustomUser\Helper\Customfunction');
$helpers = $objectManager->create('Panasonic\CustomUser\Helper\Data');
$seller_id='269';


$sql = "Select * FROM marketplace_orders where seller_id='".$seller_id."' order by entity_id desc";
$result = $connection->fetchAll($sql);        


                  


if(!empty($result))
{
	foreach($result as $row)
	{
		$orderArray[]=$row['order_id'];		
	}	
}


if(!empty($orderArray))
{
	/* echo "<pre>";
	print_r($orderArray);
	echo "</pre>"; */
?>

<table border="1"  id="example"> 
<thead>
<tr>
	<th>Order ID</th>
	<th>Order Total</th>
	<th>Order Date</th>
	<th>Payment ID</th>
	<th>Admin Amount</th>
	<th>RazorPay</th>
	<th>Nodal</th>
	<th>GST</th>
	<th>Logistics</th>
	<th>Seller Amount</th>
	<th>Realization date</th>
	<th>Pay To Seller</th>
</tr>  
</thead>
<tbody>
<?php
$order_array=array();
foreach($orderArray as $row)
{
	$order_id=$row;
	$txn_id=$custom_helpers->get_order_txn_id($order_id);
	
	
	$order = $objectManager->create('Magento\Sales\Api\Data\OrderInterface')->load($order_id);  
	$order_inc_id=$order->getIncrementId();
	$order_array=array();
	
	$order_array=$order->getData();
	
	$order_total=$order->getGrandTotal();
	$created_at=$order->getCreatedAt(); 
	
	$razor_pay=$custom_helpers->razorpay_expense($order_inc_id);
	if($razor_pay!='COD') {	
	
	$admin_amount='';
	$paramssss='';
	$paramsss='';
	
	$paramssss=$helpers->admin_commission($order_inc_id);
	
	if($paramssss!='null')
	{	
		$exparrayy=json_decode($paramssss);
		/* echo "<pre>";
		print_r($exparrayy);
		echo "</pre>"; */
		
		$admin_amount=$exparrayy->Line[0]->Amount;
		
	}	 
	
	
	$paramssss=$helpers->noddle_amount($order_inc_id);
	$exparrayy=json_decode($paramssss); 
	$nodal_amount=$exparrayy->Line[0]->Amount;
	
	$seller_amount=$helpers->get_seller_amount($seller_id,$order_inc_id); 
	
	$paramssss=$helpers->gst_tax($order_inc_id);
	$exparrayy=json_decode($paramssss); 
	$gst_amount=$exparrayy->Line[0]->Amount;
	
	
	$paramssss=$helpers->shipping_chanrge($order_inc_id);
	$exparrayy=json_decode($paramssss); 
	$shipping_amount=$exparrayy->Line[0]->Amount;
	
	$return_date = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('rmasystem/parameter/days');	
	$today = date("Y-m-d",strtotime($created_at)); 
	$RealizationDays = date ("Y-m-d", strtotime ($today ."+".$return_date." days"));

	
	?>
	<tr>
		<td><?php echo $order_id; ?></td>
		<td><?php echo $created_at; ?></td>
		<td><?php echo $order_total; ?></td>
		
		<td><?php echo $txn_id; ?></td>
		<td><?php echo $admin_amount; ?></td>
		<td><?php echo $razor_pay; ?></td>
		<td><?php echo $nodal_amount; ?></td> 
		<td><?php echo $gst_amount; ?></td> 
		<td><?php echo $shipping_amount; ?></td> 
		<td><?php echo $seller_amount; ?></td> 
		<td><?php echo $RealizationDays; ?></td> 
		<td><a href=="javascript:void(0);">Pay Here</a></td>
	</tr> 
<?php
	}
}
?>
</tbody> 
</table>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>



<script>


$(document).ready( function () {
	$("#example").DataTable( {
		"pageLength": 6,
		order:[[0,"desc"]]  
	} ); 
	
	$("table").wrap("<div class=custom_wrap></div>"); 
	
});
</script>


<?php


}
?>