<?php

		
		$objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
        $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
        $connection = $resource->getConnection();
        $tax_helpers = $objectManager->create('Panasonic\CustomUser\Helper\taxationfunction');
        
        $sql = "Select * FROM taxation_report_mini order by id desc";
        $results = $connection->fetchAll($sql);        
		  
		echo '
		<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
		.custom_wrap {
			font-family: "Open Sans", sans-serif;
		    width: 100%;
		    overflow: auto;
		    padding: 10px;
		    box-sizing: border-box;
		    border: 1px solid #cacaca;
		    border-radius: 4px;
		}
		.custom_wrap table {
		    border: 0px !important;
		    border-collapse: collapse !important;
		}
		.custom_wrap table th{
			border: 1px solid #7d7d7d !important;
			background:#8a8a8a;
			color:#fff;
			white-space:nowrap
		}
		.custom_wrap table td{
		    border-bottom: 1px solid #ccc !important;
		}
		</style>
		 
		<table border="1"  id="example"> 
		<thead>
		<tr>
			<th>Order Num</th>
			<th>Invoice Num</th>
			<th>Invoice Date</th>
			<th>AWB#</th>
			<th>Seller ID</th>
			<th>Seller Name</th>
			<th>Pickup Address</th>
			<th>Buyer Name</th>
			<th>Buyer Shipping Address</th>
			<th>Seller IGST</th>
			<th>Seller CGST</th>
			<th>Seller SGST</th>
			<th>Seller UGST</th>
			<th>Logistics IGST</th>
			<th>Logistics CGST</th>
			<th>Logistics SGST</th>
			<th>Logistics UGST</th>
			<th>Total IGST</th>
			<th>Total CGST</th>
			<th>Total SGST</th>
			<th>Total UGST</th>
			
		</tr> 
		</thead>
		<tbody>
		';
		
		foreach($results as $row)
		{
		
		$report_details=json_decode($row['report_details']);
		$order = $objectManager->create('Magento\Sales\Api\Data\OrderInterface')->loadByIncrementId($row['order_id']);
			
		$orderArray=$order->getData();
		$order_id=$order->getId();
		$awb=$tax_helpers->tax_get_order_awbno($order_id); 
		$gstArray=$tax_helpers->get_order_gst_details($row['order_id']);
		
		/* echo "<pre>";
		print_r($gstArray);
		echo "</pre>"; */ 
		  
		$igst_amount=$gstArray['igst'];
		$cgst_amount=$gstArray['cgst'];
		$sgst_amount=$gstArray['sgst'];
		$utgst_amount=$gstArray['utgst'];
		$total_gst=$gstArray['total_gst'];
		
		
		$shipping_igst=$gstArray['shipping_igst'];
		$shipping_cgst=$gstArray['shipping_cgst'];
		$shipping_sgst=$gstArray['shipping_sgst'];
		$shipping_utgst=$gstArray['shipping_utgst'];
		$total_shipping_gst=$gstArray['total_shipping_gst'];
		
		$total_igst=$igst_amount+$shipping_igst;
		$total_cgst=$cgst_amount+$shipping_cgst;
		$total_sgst=$sgst_amount+$shipping_sgst;
		$total_utgst=$utgst_amount+$shipping_utgst;
		
		
		echo '
			<tr>
				<td>'.$row['order_id'].'</td> 
				<td>'.$row['invoice_id'].'</td>
				<td>'.$row['cr_date'].'</td>
				<td>'.$awb.'</td> 
				<td>'.$report_details->seller_id.'</td>
				<td>'.$report_details->seller_name.'</td>
				<td>'.$report_details->seller_address.'</td>
				<td>'.$report_details->buyer_name.'</td>
				<td>'.$report_details->buyer_address.'</td>
				<td>'.$report_details->seller_igst.'</td>
				<td>'.$report_details->seller_cgst.'</td>
				<td>'.$report_details->seller_sgst.'</td> 
				<td>'.$report_details->seller_ugst.'</td>
				<td>'.$report_details->ship_igst.'</td>
				<td>'.$report_details->ship_cgst.'</td>
				<td>'.$report_details->ship_sgst.'</td>
				<td>'.$report_details->ship_ugst.'</td>
				<td>'.$report_details->total_igst.'</td>
				<td>'.$report_details->total_cgst.'</td>
				<td>'.$report_details->total_sgst.'</td>
				<td>'.$report_details->total_ugst.'</td> 
				 
				   
				 
			</tr>';	 
							
		} 	
		echo '
		</body>
		</html> 
		';			
						
		/* echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

		
		
		<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 100
			} );
		} );
		</script>
		
		';				
 */
 
 
	echo '
		<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>';
		
		echo '
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
		
		'; 
		
		echo '<script>
		$(document).ready( function () {
			$("#example").DataTable( {
				dom: "Bfrtip",
				buttons: [ 
					{ extend: "excel", text: "Export In Excel" }
				],
				"pageLength": 6,
				order:[[0,"desc"]] 
			} );    
			
			$("table").wrap("<div class=custom_wrap></div>"); 
			
		} );
		</script>
		
		
		
		';	
?>