<!--@subject Ticket Status for id #{{var ticket_id}} updated @-->
<!--@vars {
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:14px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
 
{{template config_path="design/email/header_template"}} <!-- pathe of template header-->
 
<!-- here $myvar1 , $myvar2, $myvar3, $myvar4, $myvar5, $myvar6 are variables in which we
                                     asssign values when we use this template for send mail-->
<table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <!-- start -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hello {{var name}},</h1>
                            <p>Your Ticket with id {{var ticket_id}} is changed to {{var status}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                               You Can reopen the ticket by clicking on the link <a href="{{var base_url}}helpdesk/ticket/view/id/{{var ticket_id}}">Reopen Ticket</a>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p style="font-size:12px; line-height:16px; margin:0;">
                                {{trans "Looking forward for a positive response. For any query feel free to contact."}}
                            </p>
                        </td>
                    </tr>

                <!-- end -->
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA;text-align:center;">
                            <center>
                                <p style="font-size:12px;margin:0;">
                                    <strong>{{trans "Thank you"}}</strong>
                                </p>
                            </center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- you can Modify content of template according to your requirement-->

 
{{template config_path="design/email/footer_template"}}
