<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<style>
.account-nav-title
{
    position: relative;
    height: auto;
    margin: 0;
    width: 100%;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 0 4px 4px #eee;
    border-radius: 6px;
    font-size: 2.2rem;
}
</style>

<script>
	require(['jquery'],function($){
		
        $('iframe').load(function () {
            //alert($(this).contents().height());
            $(this).height($(this).contents().height());
        });
	});
</script>

<div class="block <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>">
    <div class="account-nav-title"
         data-mage-init='{"toggleAdvanced": {"toggleContainers": "#<?= $block->escapeHtmlAttr($block->getBlockCss()) ?>", "selectorsToggleClass": "active"}}'>
        <strong>
            <?= "My Account" ?>
        </strong>
    </div>
    <div class="content <?= $block->escapeHtmlAttr($block->getBlockCss()) ?>-content"
         id="<?= $block->escapeHtmlAttr($block->getBlockCss()) ?>">
        <?= $block->getChildHtml() ?>
    </div>
</div>
