<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magento\Theme\Block\Html\Breadcrumbs $block */
/** @var \Magento\Catalog\ViewModel\Product\Breadcrumbs $viewModel */
$viewModel = $block->getData('viewModel');
?>

<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
$catalogSession = $objectManager->get('\Magento\Catalog\Model\Session');
$currentCatName=$catalogSession->getCurrentCategoryName(); 
$currentCatUrl=$catalogSession->getCurrentCategoryUrl(); 

$parentCatName=$catalogSession->getParentCategoryName(); 
$parentCatUrl=$catalogSession->getParentCategoryUrl(); 
       
 
//$catalogSession->unsMyName();

?>  
<input type="hidden" id="curr_cat" value="<?php echo $currentCatName; ?>">       
<input type="hidden" id="curr_cat_url" value="<?php echo $currentCatUrl; ?>">       

<input type="hidden" id="parent_cat" value="<?php echo $parentCatName; ?>">       
<input type="hidden" id="parent_cat_url" value="<?php echo $parentCatUrl; ?>">       

    
 
 
   
<div class="breadcrumbs" data-mage-init='{
    "breadcrumbs": {
        "categoryUrlSuffix": "<?= $block->escapeHtml($viewModel->getCategoryUrlSuffix()); ?>",
        "useCategoryPathInUrl": <?= (int)$viewModel->isCategoryUsedInProductUrl(); ?>,
        "product": "<?= $block->escapeHtml($block->escapeJsQuote($viewModel->getProductName(), '"')); ?>"
    }
}'></div>



    